h1.page-title.green-title Quem somos
p.explanation.with-margin
  | HotelQuando.com é a primeira e única plataforma global de reservas online de hotéis, que permite ao usuário reservar um quarto por pacotes de 3, 6, 9 ou 12 horas e por um preço justo.
