h1.page-title.green-title Cadastre sua agência ou empresa
.col-md-12
  = simple_form_for User.new, url: public_user_registration_path, html: { class: "form form-horizontal box form-register-agency-company"} do |f|
    - if flash[:alert]
      p.alert.alert-danger
        = flash[:alert]
    .row
      .col-sm-8
        .col-xs-12
          label
            = t(:agency_or_company_name)
        .col-xs-12
          - focus = flash[:alert].present?
          = text_field_tag 'agency_company_detail_name', nil, class: 'string name form-control', autofocus: focus
      .col-sm-4
        .col-xs-12
          label
            = 'Tipo'
        .col-xs-12
          - options_for_types_select = []
          - User::ACCEPTED_TYPES.each do | type, code |
            - if code != User::ACCEPTED_TYPES[:consumer]
              - options_for_types_select << [t(type.to_s + '.one'), code]
          = select_tag 'user_type', options_for_select(options_for_types_select, "#{params[:user_type]  if params[:user_type]}"), name: 'user_type', id: "user_type", class: 'size-100-percent'
    .row
      .col-xs-12.col-lg-6
        .col-xs-12
          label
            = t(:responsible_for_registering)
        .col-xs-12
          input class="string name form-control" id="public_user_name" name="public_user[name]" type="name" value="#{params[:public_user][:name] if params[:public_user]}"

      .col-sm-6
        .col-xs-12
          label
            | E-mail
        .col-xs-12
          input class="string email js-email-with-suggestion form-control" id="public_user_email" name="public_user[email]" type="email" value="#{params[:public_user][:email] if params[:public_user]}"

    .row
      .col-sm-6
        .col-xs-12
          label
            | Telefone
        .col-xs-12
          input class="string phone_number js-mask-mobile-phone form-control" id="public_user_phone_number" name="public_user[phone_number]" type="phone_number" value="#{params[:public_user][:phone_number] if params[:public_user]}"

      .col-sm-6
        .col-xs-12
          label
            = t('users.locale')
        .col-xs-12
          .locale
            = select_tag 'public_user_locale', options_for_select(User::ACCEPTED_LOCALES.collect{ | locale | [locale[1],locale[0]]}, "#{params[:public_user][:locale]  if params[:public_user]}"), name: 'public_user[locale]', id: "public_user_locale", class: 'size-100-percent'

    .row
      .col-sm-6
        .col-xs-12
          label
            = t(:password)
        .col-xs-12
          input.password.form-control id="public_user_password" name="public_user[password]" type="password" value=""

      .col-sm-6
        .col-xs-12
          label
            = t(:password_confirmation)
        .col-xs-12
          input.password_confirmation.form-control id="public_user_password_confirmation" name="public_user[password_confirmation]" type="password" value=""

    .row
      .col-sm-5
        .col-xs-12
          label
            = 'Rua'
        .col-xs-12
          input class="string city form-control" id="public_user_street" name="agency_company_detail_street" type="street" value="#{params[:company_details][:street] if params[:public_user]}"

      .col-sm-2
        .col-xs-12
          label
            = 'Número'
        .col-xs-12
          input class="string city form-control" id="public_user_number" name="agency_company_detail_number" type="text" value="#{params[:company_details][:number] if params[:public_user]}"

      .col-sm-2
        .col-xs-12
          label
            = 'Código Postal'
        .col-xs-12
          input class="string city form-control" id="public_user_postal_code" name="agency_company_detail_postal_code" type="postal_code" value="#{params[:company_details][:postal_code] if params[:public_user]}"
      
      .col-sm-3
        .col-xs-12
          label
            = 'Complemento'
        .col-xs-12
          input class="string city form-control" id="public_user_complement" name="agency_company_detail_complement" type="text" value="#{params[:company_details][:complement] if params[:public_user]}"

      .col-sm-3
        .col-xs-12
          label
            = 'País'
        .col-xs-12
          = select_tag 'agency_company_detail_country', options_for_select(Country.all.collect{ | country | [country.send("name_#{I18n.locale}"), country.iso_initials]}, "#{params[:agency_company_details_country]  if params[:agency_company_details]}"), name: 'agency_company_detail_country', id: "agency_company_detail_country", class: 'size-100-percent', prompt: t("views.admin.users.select_country")

      .col-sm-2
        .col-xs-12
          label
            = 'Cidade'
        .col-xs-12
          input class="string city form-control" id="public_user_city" name="public_user[city]" type="city" value="#{params[:public_user][:city] if params[:public_user]}"

      .col-sm-2
        .col-xs-12
          label
            = 'Estado'
        .col-xs-12
          input class="string city form-control" id="public_user_state" name="agency_company_detail_state" type="state" value="#{params[:company_details][:state] if params[:public_user]}"


    .form-actions.text-center
      .col-xs-12
        button.btn.green.big.cpy-submit-button.pull-right name="commit" type="submit"
          = t(:register)

javascript:
  $("#public_user_phone_number").intlTelInput({
    preferredCountries: ["br","us","es"],
    autoPlaceholder: 'off'
  })

  $("form").submit(function() {
    phoneNumberInput = $("#public_user_phone_number");
    phoneNumberInput.val(phoneNumberInput.intlTelInput("getNumber"));
  })

  $("#public_user_phone_number").on("countrychange", function(e, countryData) {
    var countryData = $("#public_user_phone_number").intlTelInput("getSelectedCountryData");
    if (countryData.iso2 == "br"){
      $("#public_user_phone_number").mask('(99) 99999-9999');
    }
    else{
      $("#public_user_phone_number").unmask();
    }
  })
