.modal-dialog.modal-lg
  .modal-content
    .modal-header
      button type="button" class="close" data-dismiss="modal" aria-hidden="true" ×
      h1 
        | CONTRATO DE BANCO DE HORAS 
    .modal-body
      p Entre <b>RESERVAS POR HORA DO BRASIL LTDA.</b>, sociedade devidamente constituída e existente de acordo com a lei brasileira, CNPJ 19.901.516/0001-35, com sede na Rua Luís Coelho, nº 308, conj. 32, CEP 01.309-000, Cerqueira Cesar, cidade de São Paulo, Estado de São Paulo, Brasil, doravante denominada <b>HotelQuando.com</b>, e
      P <b>A EMPRESA CONTRATANTE DO BANCO DE HORAS</b>, cuja informações de registro como CNPJ e endereço sede, foram informadas no “Formulário de Contratação”, doravante denominada “<b>A CONTRATANTE</b>”.
      p CONSIDERANDO QUE:
      ol type="i"
        li
          | <b>HotelQuando.com</b> administra um sistema de reservas de acomodação por HORAS, doravante designado como <b>Sistema</b>, através do qual os estabelecimentos participantes (designados coletivamente como Hotéis e individualmente como Hotel) poderão tornar os quartos disponíveis para reserva e através do qual os visitantes poderão efetuar reservas em tais Hotéis (o “<b>Serviço</b>”);
        li
          | <b>HotelQuando.com</b> oferece a possibilidade de contratar um banco de horas, através do qual empresas podem contratar 360, 720 ou 1.080 horas para serem utilizadas em períodos únicos de 12h (o “<b>Banco de Horas</b>”);
        li
          | <b>A CONTRATANTE</b> deseja realizar a contratação de um desses bancos de horas.

      p As partes acima mencionadas acordam por meio do presente instrumento os seguintes termos e condições gerais de contratação do <b>Banco de Horas</b>:

      p
        b <u>ARTIGO I: OBJETIVO DO DOCUMENTO</u>
      p O  presente  documento tem  como  objetivo  estabelecer  os termos  e condições de contratação do <b>Banco de Horas</b>.

      p
        b <u>ARTIGO II: DAS CONDIÇÕES OPERACIONAIS</u>
      p <b>2.1 HotelQuando.com</b> irá disponibilizar sua plataforma (o “Serviço”) à <b>CONTRATANTE</b> através de um sistema exclusivo para gestão do <b>Banco de Horas</b>.
      p <b>2.2</b> Através desse sistema a <b>CONTRATANTE</b> poderá realizar reservas e acompanhar como está sendo a realizada a utilização do <b>Banco de Horas</b>.
      p <b>2.3</b> O <b>Banco de Horas</b> terá validade de 3 meses, a contar do mês subsequente a contratação. Validade é até quando a <b>CONTRATANTE</b> poderá realizar check-in nos hotéis.
      p <b>2.4</b> As horas não utilizadas até a validade poderão ser renovadas por mais 3 meses. A renovação está condicionada ao pagamento de reajuste de valor, caso necessário. 

      p
        b <u>ARTIGO III: FORMA DE PAGAMENTO</u>
      p <b>3.1 HotelQuando.com</b> cobrará a <b>CONTRATANTE</b> conforme a utilização do <b>Banco de Horas</b>. Reservas com check-in entre os dias 01 e 15 serão pagas todo dia 25 e reservas com check-in entre os dias 16 e o último dia do mês serão pagas todo dia 10 do mês subsequente. Ao término da validade do <b>Banco de Horas</b> é preciso quitar o saldo das horas não utilizadas, caso exista.

      p
        b <u>ARTIGO IV: OBRIGAÇÕES DA HOTELQUANDO.COM</u>
      p <b>4.1</b> Garantir disponibilidade de quartos no hotel contratado no <b>Banco de Horas</b> conforme validade de utilização;
      p <b>4.2</b> Nunca deixar a <b>CONTRATANTE</b> sem disponibilidade de quartos. Se por algum motivo não previsto, o hotel contratado no banco de horas não oferecer disponibilidade dentro do período de validade do <b>Banco de Horas</b>, é de obrigação da <b>HotelQuando.com</b> prover hospedagem à <b>CONTRATANTE</b> em outro hotel de similar categoria e arcar com todas despesas inerentes a esse remanejamento.
