h1.page-title.green-title Entre em contato conosco e receba mais informações:
.with-margin
  = form_tag public_post_business_trips_path, method: :post, class: 'form form-horizontal box', 'ng-controller' => 'PublicBusinessTripsController' do

    div ng-class="setErrorClassForField('CompanyName','input')"
      .row
        .col-xs-12
          label
            | Nome da empresa
      .row
        .col-xs-12
          input.form-control.size-100-percent name="company_name" ng-model='companyname' value="#{params[:company_name] || ''}"

    .row
      .col-sm-6
        div ng-class="setErrorClassForField('ContactName','input')"
          .row
            .col-xs-12
              label
                | Nome do contato
          .row
            .col-xs-12
              input.form-control.size-100-percent ng-model='contactname' name="contact_name" value="#{params[:contact_name] || ''}"

      .col-sm-6
        div ng-class="setErrorClassForField('ContactRole','input')"
          .row
            .col-xs-12
              label
                | Cargo
          .row
            .col-xs-12
              input.form-control.size-100-percent ng-model='contactrole' name="contact_role" value="#{params[:contact_role] || ''}"

    .row
      .col-sm-6
        div ng-class="setErrorClassForField('Email','input')"
          .row
            .col-xs-12
              label
                | E-mail
          .row
            .col-xs-12
              input.form-control.size-100-percent.js-email-with-suggestion ng-model='email' name="email_for_contact" value="#{params[:email_for_contact] || ''}"

      .col-sm-6
        div ng-class="setErrorClassForField('Phone','input')"
          .row
            .col-xs-12
              label
                | Telefone
          .row
            .col-xs-12
              input.form-control.size-100-percent.js-mask-fixed-phone ng-model='phone' name="phone" value="#{params[:phone] || ''}"

    div ng-class="setErrorClassForField('Message','textarea')"
      .row
        .col-xs-12
          label
            | Mensagem
      .row
        .col-xs-12
          textarea.form-control.size-100-percent name='message' rows='4' ng-model='message'
            = params[:message] || ''
    .row
      .col-sm-12
        | &nbsp;
    .row
      .col-sm-12
        div vc-recaptcha='' key="'6LchfiYTAAAAAAKPwGj2tTafXXG4jS6kxSYXOIcH'" on-success="isRecaptchaValid(response)"

    .row
      .col-sm-12
        .form-actions.pull-right
          .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="left" data-html='true' data-original-title="{{messageForDisabledSubmit()}}"

            button.btn.green.cpy-submit-button.pt-br ng-disabled='!isFormValid()' ng-class='submitButtonExtraClass()'
              | Enviar
          .clearfix
  javascript:
    yojs.set('companyName', "#{params[:company_name]}")
    yojs.set('phone', "#{params[:phone]}")
    yojs.set('emailForContact', "#{params[:email_for_contact]}")
    yojs.set('message', "#{j params[:message]}")
    yojs.set('contactName', "#{params[:contact_name]}")
    yojs.set('contactRole', "#{params[:contact_role]}")

          