.modal-dialog.modal-lg
  .modal-content
    .modal-header
      button type="button" class="close" data-dismiss="modal" aria-hidden="true" ×
      h1 
        | Perguntas frequentes
    .modal-body
      .row
        ol 
          li 
            a.accordion
              b Até quando posso utilizar o banco de horas contratado?
            .answer
              p Seu banco de horas terá validade de 3 meses, a contar do mês subsequente ao mês de contratação.
          li 
            a.accordion
              b Como é feito o pagamento do banco de horas?
            .answer
              p O pagamento é realizado conforme a utilização do banco de horas, realizaremos cobranças de 20 em 20 dias. Ao término da validade é preciso quitar o saldo das horas contratadas e que não foram utilizadas, caso exista.
          li 
            a.accordion
              b E se eu não utilizar todas as horas do banco no prazo de validade?
            .answer
              p Não tem problema, você nunca perderá suas horas. As horas não utilizadas poderão ser renovadas por mais 3 meses com um pequeno reajuste no valor (caso necessário).
          li 
            a.accordion
              b Vou receber as Notas Fiscais de hospedagem?
            .answer
              p Sim, enviaremos conforme utilização do banco de horas.
          li 
            a.accordion
              b Qual a ocupação máxima por quarto?
            .answer
              p Seu banco de horas só pode ser utilizado em reservas para 01 pessoa.

