h1.page-title.green-title Contrate um banco de horas para as reservas de uma noite de 12h
.with-margin
  .col-sm-7
    = label_tag :q, 'Escolha a cidade para ver as opções:', class: 'control-label no-left-padding'
    - cities_hash = {}
    - cities_array = BookingPack.pluck(:city_id).uniq
    - cities_with_state = []
    - City.where(id: cities_array).includes(:state, :hotels).each do |city|
      - hotels_array = BookingPack.by_hotel_id(city.hotels.pluck(:id)).pluck(:hotel_id)
      - hotels_exist_in_booking_pack = Hotel.where(id: hotels_array)
      - cities_hash[city.id] = hotels_exist_in_booking_pack
      - cities_with_state << ["#{city.name} - #{city.state.initials}", city.id]

    javascript:
      yojs.set("hq.admin.booking_packs.hashCityHotels", #{cities_hash.to_json.html_safe})

    = select_tag 'by_city_id', options_for_select(cities_with_state.sort), class: 'js-booking-pack-city'
  .col-sm-5
    = label_tag :q, 'Escolha o hotel:', class: 'control-label no-left-padding'
    = select_tag 'by_hotel_id', options_for_select([]), class: 'js-hotel-chosen-select'
.row
  .hire-table.col-xs-12
    .ajax-loader
      = image_tag 'ajax-loader.gif'
    .alert.alert-info
      | Selecione um hotel