h1.page-title.green-title Nossa solução foi pauta no programa Mundo S/A da GloboNews
.with-margin
  p.explanation.text-center
  	- if mobile_device?
  		<iframe width="100%" height="200" src="https://www.youtube.com/embed/MucecMlQ8tU" frameborder="0" allowfullscreen></iframe>
  	- else
  		<iframe width="560" height="315" src="https://www.youtube.com/embed/MucecMlQ8tU" frameborder="0" allowfullscreen></iframe>