h1.page-title.green-title Quando reservar apenas algumas HORAS de hotel?
.icons.text-center
  = image_tag('sleep-icon.png', style: '')
  = image_tag('pc-icon.png', style: 'margin-top: 0; top: 0')
  = image_tag('shower-icon.png', style: '')
  = image_tag('fly-icon.png', style: 'margin-top: 0; top: 0')
  = image_tag('travel-icon.png', style: '')
  
.when-booking-describe
  .col-sm-6
    h4.green-title Para uma noite:
    p.explanation
      | Por que pagar por uma DIÁRIA se 12h atende sua necessidade para passar uma noite?
  .col-sm-6
    h4.green-title Para o dia:
    p.explanation
      | Seja para esperar por um voo/compromisso, tomar um banho ou até mesmo para trabalhar num quarto com paz e internet.