h1.page-title.green-title Por que usar nossa ferramenta nas viagens corporativas?
.with-margin
  .row
    .col-sm-6
      h4 Redução de Despesas
      p.explanation
        | Reduzimos em média 25% das despesas de hospedagem de apenas uma noite 
    .col-sm-6
      h4 Maior oferta de hotéis
      p.explanation
        | Mais opções de hotéis que cabem em seu orçamento
  .row
    .col-sm-6
      h4 Preço justo e Flexibilidade
      p.explanation
        | Decida seus horários e pague somente o necessário
    .col-sm-6
      h4 Simplicidade, Gestão e Controle
      p.explanation
        | Você configura os usuários que poderão utilizar a ferramenta: eles reservam de maneira rápida e simples, e você tem total controle de como as horas estão sendo utilizadas
  .row
    .col-sm-6
      h4 Suporte
      p.explanation
        | Se você precisar de qualquer ajuda com suas horas de hotel, estaremos a disposição 24h por dia, 7 dias por semana!
    .col-sm-6
      h4 E mais...
      p.explanation
        | Podemos realizar treinamento quanto ao serviço para quem julgar necessário: viajantes, gestores e/ou agências de viagens corporativas
