= header_section
- if current_hotel_hotel.offers_creator_logs.where(type: @type).count == 0
  .alert.alert-info
    = t(:none) + ' ' + t(:offers_log).downcase + ' ' + t(:found) + '.'

- else
  - creation_logs = current_hotel_hotel.offers_creator_logs.where(type_of_log: "creation").page(params["page_creation_logs"]).per(40).where(type: @type)
  - removal_logs = current_hotel_hotel.offers_creator_logs.where("type_of_log IN (?) AND result IS NOT NULL", ["removal","removal_all"]).page(params["page_removal_logs"]).per(40).where(type: @type)
  - render_removal_logs_tab = !(removal_logs.count == 0)
  .tabbable
    ul.nav.nav-tabs.js-nav-tabs
      li id='js-creation-logs-tab'
        a data-toggle='tab' href='#creation-logs-tab'
          | #{t('views.hotel.offers_creator_logs.report_offer_creation')}
      - if render_removal_logs_tab
        li id='js-removal-logs-tab'
          a data-toggle='tab' href='#removal-logs-tab'
            | #{t('views.hotel.offers_creator_logs.report_offer_removal')}
    .tab-content
      = render partial: "/hotel/offers_creator_logs/index/creation_logs", locals: { creation_logs: creation_logs}
      - if render_removal_logs_tab
        = render partial: "/hotel/offers_creator_logs/index/removal_logs", locals: { removal_logs: removal_logs}

- if params[:current_tab_id]
  javascript:
    yojs.set("pagination_link_clicked", true);
    $("#js-#{params[:current_tab_id]} a").click();