.row
  .col-md-12
    h1.title Atención al cliente
.row
  .col-md-12
  	p.description Si tiene alguna pregunta sobre su reserva o necesita información sobre nosotros, tiene <b>3 maneras</b> de conseguir la información necesaria:
.row style="margin-bottom: 80px"
  .col-sm-4
    .icons
      i.fa.fa-question.fa-rotate-45
      i.fa.fa-question
    p.information-text <b>1.</b> Consultando nuestra página de <b>#{link_to 'preguntas frecuentes', public_faq_es_path}</b>
  .col-sm-4
    .icons
      i.fa.fa-comments
    p.information-text <b>2.</b> Contáctese con nuestro equipo de soporte vía teléfono <b>(11) 98068-1234</b>. Horario de atención: Lunes - Viernes de 9:00 a 18:00
  .col-sm-4
    .icons
      i.fa.fa-envelope
    p.information-text
     | <b>3.</b> Enviando un email a:
     |  <b class="center-block text-center">giovanni@hotelquando.com</b>
     |   (respondemos lo más rápido posible)
  / .col-sm-3
  /   .icons
  /     i.fa.fa-phone
  /   p.information-text <b>4.</b> Llamándonos
  /   p.information-text style="margin-bottom: 10px"
  /   | <b class="center-block text-center"> <img alt="Pt br locale" src="/assets/pt-br-locale.jpg"><br> +55 (11) 2639-2214</b>
  /   | <b class="center-block text-center"> <img alt="Es locale" src="/assets/es-locale.jpg"><br> +57-4-403-2768 </b>
  /   p.information-text Horas de función: lunes a viernes de 8:00 – 20:00.
