.row
  .col-md-12
    h1.title Atendimento Corporativo
.row
  .col-md-12
    p.description Se tem alguma dúvida quanto a sua reserva ou precisa de qualquer informação sobre nós, você pode resolver de <b>3 maneiras</b>:
.row style="margin-bottom: 80px"
  .col-sm-4
    .icons
      i.fa.fa-question.fa-rotate-45
      i.fa.fa-question
    p.information-text <b>1.</b> Consultando nossa página de <b>#{link_to 'Perguntas Frequentes', public_faq_path}</b>
  .col-sm-4
    .icons
      i.fa.fa-comments
    p.information-text <b>2.</b> Conversando com nossa equipe de suporte por telefone <b>(11) 98068-1234</b>. Atendimento de segunda à sexta, de 09:00 às 18:00h.
  .col-sm-4
    .icons
      i.fa.fa-envelope
    p.information-text
      | <b>3.</b> Nos mandando um email para
      |  <b class="center-block text-center">giovanni@hotelquando.com</b>
      |  (responderemos o mais rápido possível)
  / .col-sm-3
  /   .icons
  /     i.fa.fa-phone
  /   p.information-text <b>4.</b> Ligando para nós
  /   p.information-text style="margin-bottom: 10px"
  /   | <b class="center-block text-center"> <img alt="Pt br locale" src="/assets/pt-br-locale.jpg"><br> +55 (11) 2639-2214</b>
  /   | <b class="center-block text-center"> <img alt="Es locale" src="/assets/es-locale.jpg"><br> +57-4-403-2768 </b>
  /   p.information-text Atendimento de segunda à sexta, de 08:00 às 20:00h.
