.image-and-describe
	.desc-box.hidden-xs
		|R$30 de desconto <br> para você!
.container
	.row
		.col-sm-12.flash-message.js-flash-message
			 = display_flash_message
	.row
		.col-xs-12.border-box.with-padding
			.row
				| Gostaríamos de te dar as boas-vindas a HotelQuando! Aqui você consegue reservar hotéis por horas sempre que precisar e onde estiver. Para você conhecer esse novo conceito, vamos te presentear com R$30 de desconto em sua primeira reserva!* Escolha um dos hotéis participantes** abaixo e utilize o código <b>HQPRIMEIRAVEZ</b> ao reservar e receba o desconto!
			.row
				<br>*O uso do código promocional de primeira reserva só é válido para finais de semana.
				<br>** Hotéis Ibis não estão participanto da promoção
				
			.row
				.title
					|São Paulo
				- @sao_paulo.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Rio de Janeiro
				- @rio_de_janeiro.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Curitiba
				- @curitiba.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Florianópolis
				- @florianopolis.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Goiânia
				- @goiania.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Brasília
				- @brasilia.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Salvador
				- @salvador.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Belo Horizonte
				- @belo_horizonte.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Campinas
				- @campinas.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Porto Alegre
				- @porto_alegre.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
