= simple_form_for [:admin, booking_tax] do |f|
  = f.input :name, disabled: true
  - if booking_tax.name == 'financial_costs_percentage_to_public' || booking_tax.name == 'financial_costs_percentage_to_affiliate'
    = f.input :value, as: :string, input_html: { class: 'js-mask-float-percent', maxlength: 7, value: ("%.2f" % @booking_tax.value.to_f).to_s + ' %'}
  - else
    = f.input :value, as: :string, input_html: { class: 'js-mask-money-dollar', value: ("%.2f" % @booking_tax.value.to_f).to_s }

  = form_submit_section