= header_section title: t("views.admin.booking_taxes.list_title")

- if @booking_taxes.length == 0
  .alert.alert-info
    = t(:none_female) + ' ' + 'taxa' + ' ' + t(:registered_female) + '.'
- else

  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center.size-50-percent
          | #{t("views.admin.booking_taxes.name")}
        th.center.size-20-percent
          | #{t("views.admin.booking_taxes.value")}
        th.center.size-20-percent
          | #{t("views.admin.booking_taxes.country")}
        th.center.size-10-percent
          | #{t("views.admin.booking_taxes.actions")}
    tbody
      - @booking_taxes.each do |booking_tax|
        tr.center
          td
            = t(booking_tax.name)
          td
            - if booking_tax.name == 'financial_costs_percentage_to_public' || booking_tax.name == 'financial_costs_percentage_to_affiliate'
              = number_to_percentage booking_tax.value, precision: 0
            - else
              = "#{booking_tax.currency_symbol} #{number_to_currency(booking_tax.value, unit: "")}"
          td
            = t(booking_tax.country.iso_initials)

          td.action-list.center
            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_booking_tax_path(booking_tax.id), class: 'btn btn-xs btn-info cpy-edit-hotel-link'
