#footer
  .azul-copyright © 2016 Azul - Linhas Aéreas Brasileiras
  .menu-footer
    ul
      li
        a href="http://www.azulviagens.com.br/enderecolojas/default.html" shape="rect" target="_blank"  Lojas Azul Viagens
      li
        a href="http://www.voeazul.com.br/sobre-azul" shape="rect" target="_blank"  Sobre a Azul
      li
        a href="http://www.elancers.net/frames/voeazul/frame_geral.asp" shape="rect" target="_blank"  Trabalhe na Azul
      li
        a href="http://www.voeazul.com.br/politica-de-privacidade" shape="rect" target="_blank"  Politica de privacidade
      li
        a href="http://www.azulviagens.com.br/FaleConosco" id="" shape="rect" target="_blank" Contato
      li
        a href="http://www.tripadvisor.com.br" shape="rect" target="_blank" 
          img alt="" border="0" complete="complete" height="24" src="http://www.tripadvisor.com/img/cdsi/langs/pt/tripadvisor_logo_132x24-15046-0.gif" style=("display: block;") width="132" /
      li.linksFooter
        a href="http://www.facebook.com/azulviagens" shape="rect" target="_blank" 
          img alt="facebook" height="17" src="http://www.azulviagens.com.br/images/home/1/facebook_logo.png" title="facebook" width="17" /
        a href="http://www.twitter.com/azulviagens" shape="rect" target="_blank" 
          img alt="twitter" height="17" src="http://www.azulviagens.com.br/images/home/1/twitter_logo.png" title="twitter" width="17" /
        a href="http://www.youtube.com/voeazul" shape="rect" target="_blank" 
          img alt="youtube" height="17" src="http://www.azulviagens.com.br/images/home/1/youtube_logo.png" title="youtube" width="40" /
  p
    | A Azul Viagens e Azul Linhas Aéreas Brasileiras informam que não enviam e-mails para concessão de passagens aéreas através da apresentação de cupom numerado em um dos guichês da companhia, e adverte que se você receber um e-mail com tal conteúdo, delete imediatamente a mensagem. Mensagens falsas vêm sendo indevidamente enviadas pela Internet por pessoas não autorizadas.
    br/
    br/
    br/
    | A Azul Viagens está à disposição pelos telefones 4003-1181&nbsp;caso reste alguma dúvida.
    br/
    | Azul Linhas Aéreas Brasileiras S.A. - CNPJ 09.296.295/0037-70 -  Av. Marcos P. de U. Rodrigues, 939 Edif. C. Branco Office Park - Torre Jatobá -9° andar CEP: 06460-040 Alphaville Industrial – Barueri-SP
