nav.main-menu-mobile.js-float-menu.navbar.navbar-default.hidden-sm.hidden-md.hidden-lg
  .container-fluid
    .navbar-header
      = link_to image_tag('http://www.azulviagens.com.br/images/home/1/logo_azulviagens.png'), public_affiliate_root_path, id: "logo"
      .col-xs-2.pull-right
        button.navbar-toggle.collapsed.sidemenu-currency type="button" data-toggle="collapse" data-target="#navbar-collapse-currency"
          span.current = Currency.by_money_sign(cookies[:currency]).first.money_sign

    .collapse.navbar-collapse#navbar-collapse-currency
      ul.nav.navbar-nav.sidemenu-currency
        li.menu-item
          - Currency.group_by_name.each do |name, currency|
            = link_to params.merge(currency: currency[0].money_sign), class: 'menu-item-link' do
              span.symbol = currency[0].money_sign
.hidden-xs
  = link_to image_tag('http://www.azulviagens.com.br/images/home/1/logo_azulviagens.png'), public_affiliate_root_path, id: "logo"
  .menu-header
    div style=("display: inline-block;position: relative;margin-top: 26px")
      div style=("position: relative; float: left; width: 49%; margin-left: 2px;")
        a href="#" id="" style=("text-decoration: none;")
          = image_tag "left_img_top.jpg", style: "border: 0; height: 44px; width: 322px"
      div style=("position: relative; float: right; width: 50%;")
        a href="http://www.azulviagens.com.br/FaleConosco" id="" target="_blank" style=("text-decoration: none;")
          = image_tag "right_img_top.jpg", style: "border: 0; height: 44px; width: 321px"
    ul
      / li
      /   a href="http://www.azulviagens.com.br" target="_self" Home
      / span.divider
      / li
      /   a href="http://www.azulviagens.com.br/ofertas/" Ofertas
      / span.divider
      / li
      /   a href="http://www.azulviagens.com.br/internacional/" Internacional
      / span.divider
      / li
      /   a href="http://www.azulviagens.com.br/Disney/" Disney
      / span.divider
      / li
      /   a href="https://www.azultravel.com.br/adm/login.cfm" Agências
      / span.divider
      / li
      /   a href="http://www.azulviagens.com.br/enderecolojas/default.html" Lojas
      / span.divider
      / li
      /   a href="https://tudoazul.voeazul.com.br/web/azul/azulviagens" target="_blank" Tudo Azul
      / span.divider
      / li
      /   a href="http://www.azulviagens.com.br/grupos" Grupos
      li
        .menu-wrapper.js-menu-currency-current
          span.current = Currency.by_money_sign(cookies[:currency]).first.money_sign
          .user-dropdown-menu.current-currency-dropdown-menu.js-currency-current-dropdown-menu
            .arrow-up
            div.col-md-12.current-currencies
              - Currency.group_by_name.each do |name, currency|
                div.col-md-4.current-currency class=(its_currency_current?(currency[0]) ? 'activate' : '')
                  = link_to params.merge(currency: currency[0].money_sign), class: 'text-center' do
                    span.symbol
                      = currency[0].money_sign
