ruby:
  # we must keep in here because there are some controllers in the public area that doen'st inherit from public::base
  ng_init_for_search_form = if last_search_log
    # 0 - day
    # 1 - month
    # 2 - year
    date_parts = last_search_log.checkin_date.split("/")
    english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
    length_of_pack = last_search_log.room_category == 1 ? 12 : last_search_log.length_of_pack
    checkin_hour = (last_search_log.room_category == 1 && last_search_log.checkin_hour < 18) ? 18 : last_search_log.checkin_hour
    checkout_hour = checkin_hour + length_of_pack
    if checkout_hour >= 24
      checkout_hour -= 24
    end
      
    %Q{
      latitude = '#{last_search_log.latitude}';
      longitude = '#{last_search_log.longitude}';
      checkinDate = '#{I18n.locale == :en ? english_date_format : last_search_log.checkin_date}';
      parsedSelectedCheckinDate = '#{last_search_log.checkin_date}';
      checkinHour = #{checkin_hour};
      numberOfPeople = #{last_search_log.number_of_people};
      selectedPackSize = '#{last_search_log.length_of_pack}';
      cityName = '#{last_search_log.city_name}';
      stateName = '#{last_search_log.state_name}';
      address = '#{last_search_log.address}';
      selectedTabRoom = '#{last_search_log.room_category || 1}';
      checkoutHour = #{checkout_hour};
      setLatitudeAndLongitudeValidity();
    }.squish
  else
    ""
  end
  

.search-hotels-wrapper
  .slideOutTab
    .hidden 
      input type="checkbox" name="toggle" id="toggle"
    .how-it-works-content.text-center
      .row.no-margin
        .col-md-4
          .service-box
            h2 = t :you_decide_when_check_into_the_hotel
            .image = image_tag('calendar-and-clock-blue.png')
            p.description = t :you_decide_when_check_into_the_hotel_description
        .col-md-4
          .service-box
            h2 = t :you_decide_how_many_hours_you_need
            .image = image_tag('clock-blue.png')
            p.description = t :you_decide_how_many_hours_you_need_description
        .col-md-4
          .service-box
            h2 = t :pay_a_fair_price
            .image = image_tag('preco-justo-blue.png')
            p.description = t :pay_a_fair_price_description
      .row.no-margin
        .pull-right.powered
          | Powered by HotelQuando
    .how-it-works-btn
      .row
        .arrow-up-or-down.glyphicon.glyphicon-chevron-up
      .row
        span Como funciona?

  .row.describe-home.text-center.no-margin
    .col-md-12.hidden-xs
      span
        | Reserve hotéis por pacotes de 3, 6, 9 ou 12 horas
  .row.no-margin
    .col-md-12.no-padding
      .search-box.js-headline-search
        = form_tag public_affiliate_hotels_path, method: :get, class: '', "ng-controller" => "PublicAffiliateSearchCtrl", "ng-init" => "#{ng_init_for_search_form}" do

          .hidden
            input.cpy-city-name type='text' ng-model="cityName" name='city_name'
            input.cpy-state-name type='text' ng-model="stateName" name='state_name'
            input.cpy-latitude-field type="text" name="by_latitude" ng-model='latitude'
            input.cpy-longitude-field type="text" name="by_longitude" ng-model='longitude'
            input.cpy-pack-length type="text" name="by_pack_length" ng-model="selectedPackSize"
            input.cpy-room-category type="text" name="room_category" ng-model="selectedTabRoom"
            input.cpy-address type="text" name="by_address" ng-model="address"
            input.cpy-number-of-people type="text" name="by_number_of_people" ng-model="numberOfPeople"
            
          - if mobile_device?
            .col-xs-12.search-form-header.hidden-sm.hidden-md.hidden-lg
              h1.book-hotels
                = t(:book_hotels)
          .tabbable
            .tab-content-custom
              = render partial: "/layouts/public_affiliate/personalized_affiliate/#{layout_name}/search_form_content"