.row
  .col-xs-12.border-box.with-padding
    h1.page-title
      | Be a partner hotel
    .divider

    .partners-hotel 
      h2.text-left.partners-title
        | The best hotel chains are already with us

      .text-center
        .col-sm-2
          .logo-hotels
            = image_tag('bhg.png')
        .col-sm-2
          .logo-hotels
            = image_tag('gjp.png')
        .col-sm-2
          .logo-hotels
            = image_tag('nobile.png')
        .col-sm-2
          .logo-hotels
            = image_tag('bestwestern.png')
        .col-sm-2
          .logo-hotels
            = image_tag('hplus.png')
        .col-sm-2
          .logo-hotels
            = image_tag('vert.png')
      .clearfix

    h2.second-title
      | Smart hotels adapt to guests and sell more!

    .row
      .col-sm-6
        .slides
          h2
            | See our presentation
          p
            | (portuguese only)
          - unless Rails.env.test?
            iframe.en src="https://www.slideshare.net/slideshow/embed_code/32583640?rel=0" allowfullscreen="" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"

      .col-sm-6.contact
        h2.second-title
          | Contact us

        .explanation
          p
            | To know more about us and the advantages of being our partner, contact us through the form below.
        = form_tag public_affiliate_post_be_our_partner_path, method: :post, class: 'form form-horizontal box', 'ng-controller' => 'PublicAffiliateBeOurPartnerController' do

          div ng-class="setErrorClassForField('HotelName','input')"
            .row
              .col-xs-12
                label
                  | Hotel name
            .row
              .col-xs-12
                input.form-control.size-100-percent name="hotel_name" ng-model='hotelname' value="#{params[:hotel_name] || ''}"

          .row
            .col-sm-6
              div ng-class="setErrorClassForField('ContactName','input')"
                .row
                  .col-xs-12
                    label
                      | Contact name
                .row
                  .col-xs-12
                    input.form-control.size-100-percent ng-model='contactname' name="contact_name" value="#{params[:contact_name] || ''}"

            .col-sm-6
              div ng-class="setErrorClassForField('ContactRole','input')"
                .row
                  .col-xs-12
                    label
                      | Role
                .row
                  .col-xs-12
                    input.form-control.size-100-percent ng-model='contactrole' name="contact_role" value="#{params[:contact_role] || ''}"

          .row
            .col-sm-6
              div ng-class="setErrorClassForField('Email','input')"
                .row
                  .col-xs-12
                    label
                      | E-mail
                .row
                  .col-xs-12
                    input.form-control.size-100-percent.js-email-with-suggestion ng-model='email' name="email_for_contact" value="#{params[:email_for_contact] || ''}"

            .col-sm-6
              div ng-class="setErrorClassForField('Phone','input')"
                .row
                  .col-xs-12
                    label
                      | Phone number
                .row
                  .col-xs-12
                    input.form-control.size-100-percent ng-model='phone' name="phone" value="#{params[:phone] || ''}"

          div ng-class="setErrorClassForField('Message','textarea')"
            .row
              .col-xs-12
                label
                  | Message
            .row
              .col-xs-12
                textarea.form-control.size-100-percent name='message' rows='4' ng-model='message'
                  = params[:message] || ''

          .row
            .col-sm-12
              .form-actions.pull-right
                .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="left" data-html='true' data-original-title="{{messageForDisabledSubmit()}}"

                  button.btn.green.cpy-submit-button ng-disabled='!isFormValid()' ng-class='submitButtonExtraClass()'
                    | Send
                .clearfix
        .row
          .col-sm-12
            .divider
              span = t :or
        p
          | Contact us through our e-mail:
          br
          a href="mailto:parceiros@hotelquando.com" class="btn btn-large btn-primary"
            | parceiros@hotelquando.com
        .clearfix

    javascript:
      yojs.set('hotelName', "#{params[:hotel_name]}")
      yojs.set('phone', "#{params[:phone]}")
      yojs.set('emailForContact', "#{params[:email_for_contact]}")
      yojs.set('message', "#{j params[:message]}")
      yojs.set('contactName', "#{params[:contact_name]}")
      yojs.set('contactRole', "#{params[:contact_role]}")

