.row
  .col-xs-12.border-box.with-padding
    h1.page-title
      | Seja um hotel parceiro
    .divider

    .partners-hotel 
      h2.text-left.partners-title
        | As melhores redes hoteleiras já estão conosco

      .text-center
        .col-sm-2
          .logo-hotels
            = image_tag('bhg.png')
        .col-sm-2
          .logo-hotels
            = image_tag('gjp.png')
        .col-sm-2
          .logo-hotels
            = image_tag('nobile.png')
        .col-sm-2
          .logo-hotels
            = image_tag('bestwestern.png')
        .col-sm-2
          .logo-hotels
            = image_tag('hplus.png')
        .col-sm-2
          .logo-hotels
            = image_tag('vert.png')
      .clearfix

    h2.second-title
      | Hotéis inteligentes se adaptam e vendem mais!

    .row
      .col-sm-6
        .slides
          h2
            | Confira nossa apresentação
          - unless Rails.env.test?
            iframe src="https://www.slideshare.net/slideshow/embed_code/32583640?rel=0" allowfullscreen="" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" height="359px"
      .col-sm-6.contact
        h2.second-title
          | Entre em contato conosco

        .explanation
          p
            | Para saber mais e conhecer todas as vantagens de ser um parceiro da HotelQuando.com entre em contato conosco através do formulário abaixo
        = form_tag public_affiliate_post_be_our_partner_path, method: :post, class: 'form form-horizontal box', 'ng-controller' => 'PublicAffiliateBeOurPartnerController' do

          div ng-class="setErrorClassForField('HotelName','input')"
            .row
              .col-xs-12
                label
                  | Nome do hotel
            .row
              .col-xs-12
                input.form-control.size-100-percent name="hotel_name" ng-model='hotelname' value="#{params[:hotel_name] || ''}"

          .row
            .col-sm-6
              div ng-class="setErrorClassForField('ContactName','input')"
                .row
                  .col-xs-12
                    label
                      | Nome do contato
                .row
                  .col-xs-12
                    input.form-control.size-100-percent ng-model='contactname' name="contact_name" value="#{params[:contact_name] || ''}"

            .col-sm-6
              div ng-class="setErrorClassForField('ContactRole','input')"
                .row
                  .col-xs-12
                    label
                      | Cargo
                .row
                  .col-xs-12
                    input.form-control.size-100-percent ng-model='contactrole' name="contact_role" value="#{params[:contact_role] || ''}"

          .row
            .col-sm-6
              div ng-class="setErrorClassForField('Email','input')"
                .row
                  .col-xs-12
                    label
                      | E-mail
                .row
                  .col-xs-12
                    input.form-control.size-100-percent.js-email-with-suggestion ng-model='email' name="email_for_contact" value="#{params[:email_for_contact] || ''}"

            .col-sm-6
              div ng-class="setErrorClassForField('Phone','input')"
                .row
                  .col-xs-12
                    label
                      | Telefone
                .row
                  .col-xs-12
                    input.form-control.size-100-percent.js-mask-fixed-phone ng-model='phone' name="phone" value="#{params[:phone] || ''}"

          div ng-class="setErrorClassForField('Message','textarea')"
            .row
              .col-xs-12
                label
                  | Mensagem
            .row
              .col-xs-12
                textarea.form-control.size-100-percent name='message' rows='4' ng-model='message'
                  = params[:message] || ''
          .row
            .col-sm-12
              .form-actions.pull-right
                .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="left" data-html='true' data-original-title="{{messageForDisabledSubmit()}}"

                  button.btn.green.cpy-submit-button.pt-br ng-disabled='!isFormValid()' ng-class='submitButtonExtraClass()'
                    | Enviar
                .clearfix
        .row
          .col-sm-12
            .divider
              span = t :or
        p.text-center
          | Entre em contato através do nosso e-mail:
          br
          a href="mailto:parceiros@hotelquando.com" class="btn btn-large btn-primary"
            | parceiros@hotelquando.com
        .clearfix

    javascript:
      yojs.set('hotelName', "#{params[:hotel_name]}")
      yojs.set('phone', "#{params[:phone]}")
      yojs.set('emailForContact', "#{params[:email_for_contact]}")
      yojs.set('message', "#{j params[:message]}")
      yojs.set('contactName', "#{params[:contact_name]}")
      yojs.set('contactRole', "#{params[:contact_role]}")

