= panel_section(name: t("views.admin.bookings.filter"), class: 'filter widget-box') do
  = form_tag executive_responsible_bookings_path, method: :get, class: 'form-horizontal' do
    .row
      .col-sm-6
        = label_tag :q, t("views.admin.bookings.filter_by_id"), class: 'control-label no-left-padding'
        input.form-control.js-mask-integer name='by_id' value="#{params[:by_id] || ''}"

      .col-sm-6
        = label_tag :q, t("views.admin.bookings.filter_by_guest_name"), class: 'control-label no-left-padding'
        input.form-control name='by_guest_name' value="#{params[:by_guest_name] || ''}"

    .row
      .col-sm-6
        = label_tag :q, t("views.admin.bookings.filter_by_hotel"), class: 'control-label no-left-padding'
        - options_for_hotel_select = []
        - Hotel.all.order(:name).each { | hotel |  options_for_hotel_select << [hotel.name, hotel.id]}
        = select_tag 'by_hotel_id', options_for_select(options_for_hotel_select, params[:by_hotel_id]), class: 'size-100-percent', prompt: 'Todos'

      .col-sm-6
        = label_tag :q, '', class: 'control-label no-left-padding'
        / doing this to ensure that the checkbox will be aligned with the hotel select
        .checkbox.size-100-percent.pull-left.no-left-padding
          label
            = check_box_tag "by_agency_creation", true, params[:by_agency_creation].present?, class: "ace cpy-agency-creation-filter"
            span.lbl
              =< t("views.admin.bookings.show_only_offers_created_by_agencies")

        = label_tag :q, '', class: 'control-label no-left-padding'
        .checkbox.size-40-percent.pull-left.no-left-padding
          label
            = check_box_tag "by_room_offer", true, params[:by_room_offer].present?, class: "ace js-uniq"
            span.lbl
              =< t("views.admin.bookings.rooms")
        = label_tag :q, '', class: 'control-label no-left-padding'
        .checkbox.size-40-percent.pull-left.no-left-padding
          label
            = check_box_tag "by_meeting_room_offer", true, params[:by_meeting_room_offer].present?, class: "ace js-uniq"
            span.lbl
              =< t("views.admin.bookings.metting_room")
        /= label_tag :q, '', class: 'control-label no-left-padding'
        /.checkbox.size-30-percent.pull-left.no-left-padding
          label
            = check_box_tag "by_event_room_offer", true, params[:by_event_room_offer].present?, class: "ace js-uniq"
            span.lbl
              =< t("views.admin.bookings.event_hall")


    hr

    .row
      .col-sm-6
        = label_tag :q, t("views.admin.bookings.filter_by_late_checkout"), class: 'control-label no-left-padding'
        .row
          .col-sm-12
            = select_tag 'by_checkout_delay', options_for_select([[t("views.admin.bookings.reservations_with_delayed_checkout"), true], [t("views.admin.bookings.reservations_without_delayed_checkout"), false]], params[:by_checkout_delay]), class: 'size-100-percent', prompt: t("views.admin.bookings.all")

      .col-sm-6
        = label_tag :q, t("views.admin.bookings.filter_by_refund_error"), class: 'control-label no-left-padding'
        .row
          .col-sm-12
            = select_tag 'by_refund_error', options_for_select([[t("views.admin.bookings.reservations_with_refund_error"), true], [t("views.admin.bookings.reservations_without_refund_error"), false]], params[:by_refund_error]), class: 'size-100-percent', prompt: t("views.admin.bookings.all")

    hr

    .row
      .col-sm-4
        = label_tag :q, t("views.admin.bookings.filter_by_checkin_date"), class: 'control-label no-left-padding'
        .input-group
          span.input-group-addon.size-35-percent
            | #{t("views.admin.bookings.enter")}
          input.js-date-picker.form-control.text-right.js-mask-date.js-initial-date name='by_checkin_date[initial_date]' value="#{params[:by_checkin_date].try(:[],:initial_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .input-group
          span.input-group-addon.size-35-percent
            | #{t("views.admin.bookings.and")}
          input.js-date-picker.form-control.text-right.js-mask-date.js-final-date name='by_checkin_date[final_date]' value="#{params[:by_checkin_date].try(:[],:final_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .clearfix

      .col-sm-5
        = label_tag :q, t("views.admin.bookings.filter_by_package_size"), class: 'control-label no-left-padding'
        br
        - HotelQuando::Constants::ALL_PACKS.each do | length |
          - checked = (params[:by_pack_length]) && (params[:by_pack_length].include?(length.to_s))
          .checkbox.size-8-percent.pull-left.no-left-padding
            label
              = check_box_tag "by_pack_length[]", length, checked, class: "ace cpy-length-of-pack-#{length}h"
              span.lbl
                =< "#{length}h"
        .clearfix
      .col-sm-3
        = label_tag :q, t("views.admin.bookings.filter_by_reservation_status"), class: 'control-label no-left-padding'
        br
        - options_for_status_select = []
        - Booking::ACCEPTED_STATUSES.each do | status, code |
          - if code != Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] && code != Booking::ACCEPTED_STATUSES[:confirmed_without_card]
            - options_for_status_select << [t(status), code]
          - elsif code == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced]
            - options_for_status_select << [t(:confirmed_and_invoiced_admin), code]
          - elsif code == Booking::ACCEPTED_STATUSES[:confirmed_without_card]
            - options_for_status_select << [t(:confirmed_without_card_admin), code]

        = select_tag 'by_status', options_for_select(options_for_status_select, params[:by_status]), class: 'size-100-percent', prompt: 'Todos'
      .col-sm-4
        .checkbox.size-100-percent.pull-left.no-left-padding
          label
            = check_box_tag "by_multiplus_code", true, params[:by_multiplus_code].present?, class: "ace cpy-agency-creation-filter"
            span.lbl
              =< t("views.admin.bookings.filter_by_reservation_with_multiplus_number")
    hr


    = submit_tag t("views.admin.bookings.filter"), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button margin-left-10px'
    = link_to t("views.admin.bookings.remove_filter"), admin_bookings_path, class: 'btn btn-sm btn-danger pull-right size-20-percent remove-button cpy-remove-filter-button'
    = submit_tag t("views.admin.bookings.export_data"), class: 'btn btn-sm btn-default js-export-booking-data size-20-percent', style: 'margin-bottom: 20px;'

    .clearfix
