.public-affiliate-layout.public-affiliate-hotel-controller.index-action
  .hotels-box
    .individual-hotel
      border-top: 1px solid #eeeeee
      padding: 25px 0px
      
      .hotel-photo
        width: 100%
        max-height: 400px
        float: left

      .hotel-name
        font-size: 16px
        letter-spacing: 1px
        font-weight: 400

        a
          color: $gray

          &:hover
            color: lighten($gray, 15%)

      .business-room-name
        font-size: 21px
        letter-spacing: 1px
        font-weight: 500
        
        span
          color: $gray

        a
          text-decoration: none

        p.complement-business-room-name
          font-size: 12px
          letter-spacing: 1px
          font-weight: 500
          color: $gray

        span.complement-hotel-name
          font-size: 16px
          letter-spacing: 1px
          font-weight: 500
          color: #666

      .hotel-rating
        color: #1b4d73
        letter-spacing: 9px

        .glyphicon
          font-size: 13px

      .hotel-address
        margin-top: -3px
        font-size: 12px
        letter-spacing: 1px
        font-weight: 400

        a
          color: $gray

          &:hover
            color: lighten($gray, 15%)

        .map-marker
          font-size: 18px
          margin-right: 2px

        .distance
          font-weight: 700
          position: relative
          left: 18px

        .see-map
          font-weight: 700
          position: relative
          left: 50px

          a
            text-decoration: none

      .hotel-from-price
        font-size: 12px
        letter-spacing: 1px

        .bigger
          font-size: 23px
          color: $gray
          font-weight: 400

      .hotel-description, .hotel-payment-methods
        font-size: 12px
        letter-spacing: 0px
        margin-top: 5px
        margin-bottom: 8px
        text-align: justify

      .hotel-details
        letter-spacing: 1px
        font-size: 14px
        font-weight: 400

      .points-multiplus
        background: #d8d8d8
        border-radius: 4px
        padding: 5px 10px 1px 10px

        p.product-price-from
          font-size: 8px
          line-height: 1.5em
          margin: 0
          margin-bottom: 0.5em
          font-family: "gotham_boldregular",sans-serif !important

        p.product-price
          display: block
          font-size: 1.25em
          line-height: 1
          text-align: left
          font-family: "gotham_boldregular",sans-serif !important

          span.strong
            color: #117fca
            font-style: normal
            font-weight: normal

          em
            display: inline-block
            font-size: 0.4em
            font-style: normal
            line-height: 1
            margin-left: 8px
            text-transform: uppercase
            width: 5.9em