.uber ng-init='regulation = false'
  .description
    h1.uber-title Ganhe R$50 para uma primeira viagem com Uber

  .logos
    .uber-box = image_tag 'uber.png', class: 'uber-image'
    = icon_for(:plus)
    .hq-box = image_tag 'logo.png', class: 'hq-image'

  .regulation
    h2.regulation-subtitle Sobre o Uber:
    p.description O Uber é seu motorista particular! Um aplicativo que conecta passageiros a motoristas particulares em questão de minutos. Um jeito totalmente moderno e inovador de se locomover ao alcance de seus dedos.
    br
    br
    h2.regulation-subtitle Informações da promoção
    p.description <strong>1.</strong> Ao confirmar uma reserva em nosso site, você receberá automaticamente um email com o código promocional de R$50
    p.description <strong>2.</strong> O código é válido na primeira viagem de novos usuários
    p.description <strong>3.</strong> Válido apenas em São Paulo, Rio de Janeiro, Belo Horizonte, Brasília
    p.description <strong>4.</strong> Válido até 31/dez/2015
    p.description <strong>5.</strong> Em caso de tarifa total maior que R$50, o usuário deverá arcar com a diferença
