footer.src-components-footer-___footer__footer.hidden-lg.hidden-md data-reactid=".267z7a4rxts.6" 
  .src-components-footer-top-___footer-top__top data-reactid=".267z7a4rxts.6.0" 
    noscript data-reactid=".267z7a4rxts.6.0.0" 
    a.src-components-footer-top-___footer-top__center data-reactid=".267z7a4rxts.6.0.1" href="https://hotelurbano.onelink.me/Zwte?pid=rodapesitem" /
    .src-components-footer-top-___footer-top__left data-reactid=".267z7a4rxts.6.0.1.0" 
      img.src-components-footer-top-___footer-top__icon data-reactid=".267z7a4rxts.6.0.1.0.0" role="presentation" src="//s.hotelurbano.com.br/static/components/20171031075240602/assets/footer-icon.png" /
    .src-components-footer-top-___footer-top__right data-reactid=".267z7a4rxts.6.0.1.1" 
      h3.src-components-footer-top-___footer-top__title data-reactid=".267z7a4rxts.6.0.1.1.0"  =t('views.affiliates.hotelurbano.mobile_footer_download_app')
      p.src-components-footer-top-___footer-top__description data-reactid=".267z7a4rxts.6.0.1.1.1"  =t('views.affiliates.hotelurbano.enjoy_promotion')

  .src-components-footer-bottom-___footer-bottom__bottom data-reactid=".267z7a4rxts.6.1" 
    .src-components-footer-bottom-___footer-bottom__wrapper data-reactid=".267z7a4rxts.6.1.0" 
      nav.src-components-footer-bottom-___mobile-nav__navigation data-reactid=".267z7a4rxts.6.1.0.0" 
        a.src-components-footer-bottom-___mobile-nav__link data-reactid=".267z7a4rxts.6.1.0.0.$0" href="https://www.hotelurbano.com/politica-de-privacidade"  Política de Privacidade
        a.src-components-footer-bottom-___mobile-nav__link data-reactid=".267z7a4rxts.6.1.0.0.$1" href="https://www.hotelurbano.com/termos-de-uso"  =t('views.affiliates.hotelurbano.terms_conditions')
      p.src-components-footer-bottom-___footer-bottom__copyright data-reactid=".267z7a4rxts.6.1.0.1"  Hotel Urbano © Copyright 2016
    noscript data-reactid=".267z7a4rxts.6.1.1" 
  .src-components-footer-credits-___footer-credits__credits data-reactid=".267z7a4rxts.6.2" 
    noscript data-reactid=".267z7a4rxts.6.2.0" 

.src-components-footer-top-___footer-top__top.hidden-xs.hidden-sm data-reactid=".cycq0b21og.5.0" 
  .src-components-footer-top-___footer-top__wrapper data-reactid=".cycq0b21og.5.0.0" 
    .src-components-footer-top-___location-select__left data-reactid=".cycq0b21og.5.0.0.0" 
      span.src-components-footer-top-___location-select__icon.src-fonts-___hu-icons__iconfont.src-fonts-___hu-icons__icon-destaque data-reactid=".cycq0b21og.5.0.0.0.0" 
    .src-components-footer-top-___social-nav__right data-reactid=".cycq0b21og.5.0.0.1" itemscope="" itemtype="http://schema.org/Organization" 
      span.src-components-footer-top-___social-nav__text data-reactid=".cycq0b21og.5.0.0.1.0"  =t('views.affiliates.hotelurbano.HU_social_media')
      link data-reactid=".cycq0b21og.5.0.0.1.1" href="https://www.hotelurbano.com.br" itemprop="url" /
      nav.src-components-footer-top-___social-nav__navigation data-reactid=".cycq0b21og.5.0.0.1.2" 
        a.src-components-footer-top-___social-nav__blog-hu.src-components-footer-top-___social-nav__social.mapx-social-click-wordpress alt="blog-hu" data-reactid=".cycq0b21og.5.0.0.1.2.$0" href="https://www.hotelurbano.com/viajantehu" itemprop="sameAs" title=("Conheça nosso blog!") 
        a.src-components-footer-top-___social-nav__facebook.src-components-footer-top-___social-nav__social.mapx-social-click-facebook alt="facebook" data-reactid=".cycq0b21og.5.0.0.1.2.$1" href="https://pt-br.facebook.com/hotelurbanobr" itemprop="sameAs" 
        a.src-components-footer-top-___social-nav__twitter.src-components-footer-top-___social-nav__social.mapx-social-click-twitter alt="twitter" data-reactid=".cycq0b21og.5.0.0.1.2.$2" href="https://twitter.com/hotel_urbano" itemprop="sameAs" 
        a.src-components-footer-top-___social-nav__instagram.src-components-footer-top-___social-nav__social.mapx-social-click-instagram alt="instagram" data-reactid=".cycq0b21og.5.0.0.1.2.$3" href="http://instagram.com/hotelurbano" itemprop="sameAs" 
        a.src-components-footer-top-___social-nav__gplus.src-components-footer-top-___social-nav__social.mapx-social-click-google-plus alt="gplus" data-reactid=".cycq0b21og.5.0.0.1.2.$4" href="https://plus.google.com/104341846444947933334/" itemprop="sameAs" 
        a.src-components-footer-top-___social-nav__youtube.src-components-footer-top-___social-nav__social.mapx-social-click-youtube alt="youtube" data-reactid=".cycq0b21og.5.0.0.1.2.$5" href="http://www.youtube.com/user/hotelurbano" itemprop="sameAs" 
        a.src-components-footer-top-___social-nav__linkedin.src-components-footer-top-___social-nav__social.mapx-social-click-linkedin alt="linkedin" data-reactid=".cycq0b21og.5.0.0.1.2.$6" href="https://br.linkedin.com/company/hotel-urbano" itemprop="sameAs" 
  noscript data-reactid=".cycq0b21og.5.0.1" 

.src-components-footer-bottom-___footer-bottom__bottom.hidden-xs.hidden-sm data-reactid=".1go63eededc.5.1" 
  noscript data-reactid=".1go63eededc.5.1.0" 
  .src-components-footer-bottom-___footer-bottom__wrapper data-reactid=".1go63eededc.5.1.1" 
    .src-components-footer-bottom-___discover-nav__block data-reactid=".1go63eededc.5.1.1.0"
      span.src-components-footer-bottom-___discover-nav__label.title-font data-reactid=".1go63eededc.5.1.1.0.0"  =t('views.affiliates.hotelurbano.meet')
      nav.src-components-footer-bottom-___discover-nav__navigation.links-footer  data-reactid=".1go63eededc.5.1.1.0.1" 
        a.src-components-footer-common-___item__link.mapx-footer-click-quem_somos data-reactid=".1go63eededc.5.1.1.0.1.$0" href="https://www.hotelurbano.com/quem-somos"=t('views.affiliates.hotelurbano.who_we_are')
        a.src-components-footer-common-___item__link.mapx-footer-click-como_funciona data-reactid=".1go63eededc.5.1.1.0.1.$1" href="https://www.hotelurbano.com/como-funciona"  =t('views.affiliates.hotelurbano.how_it_works')
        a.src-components-footer-common-___item__link.mapx-footer-click-trabalhe_conosco data-reactid=".1go63eededc.5.1.1.0.1.$2" href="https://www.hotelurbano.com/viajantehu/faca-parte-da-familia-hu-2/"  =t('views.affiliates.hotelurbano.work_with_us')
        a.src-components-footer-common-___item__link.mapx-footer-click-seja_parceiro data-reactid=".1go63eededc.5.1.1.0.1.$3" href="https://www.hotelurbano.com/seja-parceiro"  =t('views.affiliates.hotelurbano.be_a_partner')
        a.src-components-footer-common-___item__link.mapx-footer-click-imprensa data-reactid=".1go63eededc.5.1.1.0.1.$4" href="https://www.hotelurbano.com/imprensa"  =t('views.affiliates.hotelurbano.press')
        a.src-components-footer-common-___item__link.mapx-footer-click-cartao-hu data-reactid=".1go63eededc.5.1.1.0.1.$5" href="https://www.hotelurbano.com/hotsite/cartao-hu"  =t('views.affiliates.hotelurbano.hu_credit_card')
    .src-components-footer-bottom-___travel-nav__block data-reactid=".1go63eededc.5.1.1.1" 
      span.src-components-footer-bottom-___travel-nav__label.title-font data-reactid=".1go63eededc.5.1.1.1.0"  =t('views.affiliates.hotelurbano.trip')
      nav.src-components-footer-bottom-___travel-nav__navigation.links-footer  data-reactid=".1go63eededc.5.1.1.1.1" 
        a.src-components-footer-common-___item__link.mapx-footer-click-hoteis data-reactid=".1go63eededc.5.1.1.1.1.$0" href="https://www.hotelurbano.com/hoteis"  =t('views.affiliates.hotelurbano.hotels_footer')
        a.src-components-footer-common-___item__link.mapx-footer-click-pacotes data-reactid=".1go63eededc.5.1.1.1.1.$1" href="https://www.hotelurbano.com/pacotes"  =t('views.affiliates.hotelurbano.travel_packages')
        a.src-components-footer-common-___item__link.mapx-footer-click-resorts data-reactid=".1go63eededc.5.1.1.1.1.$2" href="https://www.hotelurbano.com/resorts"  =t('views.affiliates.hotelurbano.resorts')
        a.src-components-footer-common-___item__link.mapx-footer-click-feriados data-reactid=".1go63eededc.5.1.1.1.1.$3" href="https://www.hotelurbano.com/feriados"  =t('views.affiliates.hotelurbano.holydays')
        a.src-components-footer-common-___item__link.mapx-footer-click-aereos data-reactid=".1go63eededc.5.1.1.1.1.$4" href="http://passagensaereas.hotelurbano.com/"  =t('views.affiliates.hotelurbano.airline_tickets')
        a.src-components-footer-common-___item__link.mapx-footer-click-promocoes data-reactid=".1go63eededc.5.1.1.1.1.$5" href="https://www.hotelurbano.com/promocoes"  =t('views.affiliates.hotelurbano.promotions_footer')
        a.src-components-footer-common-___item__link.mapx-footer-click-produtos_temporada data-reactid=".1go63eededc.5.1.1.1.1.$6" href="https://www.voltem.com/pt?utm_campaign=hotelurbano"  =t('views.affiliates.hotelurbano.for_rent_season')
    .src-components-footer-bottom-___help-nav__block data-reactid=".1go63eededc.5.1.1.2" 
      span.src-components-footer-bottom-___help-nav__label.title-font data-reactid=".1go63eededc.5.1.1.2.0"  =t('views.affiliates.hotelurbano.help')
      nav.src-components-footer-bottom-___help-nav__navigation.links-footer  data-reactid=".1go63eededc.5.1.1.2.1" 
        a.src-components-footer-common-___item__link.mapx-footer-click-tire_duvidas data-reactid=".1go63eededc.5.1.1.2.1.$0" href="https://www.hotelurbano.com/atendimento"  =t('views.affiliates.hotelurbano.purcase_your_questions')
        a.src-components-footer-common-___item__link.mapx-footer-click-politicas_privacidade data-reactid=".1go63eededc.5.1.1.2.1.$1" href="https://www.hotelurbano.com/politica-de-privacidade"  =t('views.affiliates.hotelurbano.privacy_policy')
        a.src-components-footer-common-___item__link.mapx-footer-click-termos_uso data-reactid=".1go63eededc.5.1.1.2.1.$2" href="https://www.hotelurbano.com/termos-de-uso"  =t('views.affiliates.hotelurbano.terms_of_use')
    .src-components-footer-bottom-___footer-bottom__divisor data-reactid=".1go63eededc.5.1.1.3" 
    .src-components-footer-bottom-___footer-bottom__block data-reactid=".1go63eededc.5.1.1.4" 
      .src-components-footer-bottom-___license-badges__block data-reactid=".1go63eededc.5.1.1.4.0" 
        span.src-components-footer-bottom-___license-badges__label data-reactid=".1go63eededc.5.1.1.4.0.0"  =t('views.affiliates.hotelurbano.certificate')
        nav.src-components-footer-bottom-___license-badges__navigation data-reactid=".1go63eededc.5.1.1.4.0.1" 
          a.src-components-footer-bottom-___license-badges__ebit data-reactid=".1go63eededc.5.1.1.4.0.1.$0" 
      div data-reactid=".1go63eededc.5.1.1.4.1" 
        span.src-components-footer-bottom-___payment-badges__label data-reactid=".1go63eededc.5.1.1.4.1.0"  =t('views.affiliates.hotelurbano.payments')
        ul.src-components-footer-bottom-___payment-badges__navigation data-reactid=".1go63eededc.5.1.1.4.1.1" 
          li.src-components-footer-bottom-___payment-badges__link data-reactid=".1go63eededc.5.1.1.4.1.1.$0" 
            span.src-components-footer-bottom-___payment-badges__visa.src-components-footer-bottom-___payment-badges__icon data-reactid=".1go63eededc.5.1.1.4.1.1.$0.0" 
          li.src-components-footer-bottom-___payment-badges__link data-reactid=".1go63eededc.5.1.1.4.1.1.$1" 
            span.src-components-footer-bottom-___payment-badges__dinners.src-components-footer-bottom-___payment-badges__icon data-reactid=".1go63eededc.5.1.1.4.1.1.$1.0" 
          li.src-components-footer-bottom-___payment-badges__link data-reactid=".1go63eededc.5.1.1.4.1.1.$2" 
            span.src-components-footer-bottom-___payment-badges__mastercard.src-components-footer-bottom-___payment-badges__icon data-reactid=".1go63eededc.5.1.1.4.1.1.$2.0" 
          li.src-components-footer-bottom-___payment-badges__link data-reactid=".1go63eededc.5.1.1.4.1.1.$3" 
            span.src-components-footer-bottom-___payment-badges__amex.src-components-footer-bottom-___payment-badges__icon data-reactid=".1go63eededc.5.1.1.4.1.1.$3.0" 
          li.src-components-footer-bottom-___payment-badges__link data-reactid=".1go63eededc.5.1.1.4.1.1.$4" 
            span.src-components-footer-bottom-___payment-badges__elo.src-components-footer-bottom-___payment-badges__icon data-reactid=".1go63eededc.5.1.1.4.1.1.$4.0" 
          li.src-components-footer-bottom-___payment-badges__link data-reactid=".1go63eededc.5.1.1.4.1.1.$5" 
            span.src-components-footer-bottom-___payment-badges__boleto.src-components-footer-bottom-___payment-badges__icon data-reactid=".1go63eededc.5.1.1.4.1.1.$5.0" 


.src-components-footer-credits-___footer-credits__credits.hidden-xs.hidden-sm data-reactid=".156cvct1lhc.5.2" 
  .src-components-footer-credits-___footer-credits__wrapper data-reactid=".156cvct1lhc.5.2.0" 
    span.src-components-footer-credits-___footer-credits__address.mapx-footer-click-endereco data-reactid=".156cvct1lhc.5.2.0.0" 
      span.text-footer data-reactid=".156cvct1lhc.5.2.0.0.0" 
          =t('views.affiliates.hotelurbano.credits1')
          =t('views.affiliates.hotelurbano.credits2')
      span.text-footer data-reactid=".156cvct1lhc.5.2.0.0.1" 
      span.text-footer data-reactid=".156cvct1lhc.5.2.0.0.2"
    span.src-components-footer-credits-___footer-credits__apps data-reactid=".156cvct1lhc.5.2.0.1" 
      span.text-footer data-reactid=".156cvct1lhc.5.2.0.1.0"   =t('views.affiliates.hotelurbano.download_app')
      a.mapx-footer-click-app_ios.app data-reactid=".156cvct1lhc.5.2.0.1.1" href="http://ad.apsalar.com/api/v1/ad?re=1&amp;a=HotelUrbano&amp;i=br.com.hotelurbano&amp;ca=Hotel+Urbano+Ongoing+iOS&amp;an=%C3%8Dcone+home&amp;p=iOS&amp;pl=Internos&amp;h=f26b7d3acb8a7fce38542d2eb4423a508faa2f25" rel="nofollow" target="_blank" 
        i.src-components-footer-credits-___footer-credits__apple.src-fonts-___hu-icons__icon-apple.src-components-footer-credits-___footer-credits__icon.src-components-footer-credits-___footer-credits__transition.src-fonts-___hu-icons__iconfont data-reactid=".156cvct1lhc.5.2.0.1.1.0" 
      a.mapx-footer-click-app_android.app data-reactid=".156cvct1lhc.5.2.0.1.2" href="http://ad.apsalar.com/api/v1/ad?re=1&amp;a=HotelUrbano&amp;i=br.com.hotelurbano&amp;ca=Hotel+Urbano+Ongoing+Android&amp;an=%C3%8Dcone+home&amp;p=Android&amp;pl=Internos&amp;h=f26b7d3acb8a7fce38542d2eb4423a508faa2f25" rel="nofollow" target="_blank" 
        i.src-components-footer-credits-___footer-credits__android.src-fonts-___hu-icons__icon-android.src-components-footer-credits-___footer-credits__icon.src-components-footer-credits-___footer-credits__transition.src-fonts-___hu-icons__iconfont data-reactid=".156cvct1lhc.5.2.0.1.2.0" 
