.hidden-lg.hidden-md
  .main-container data-reactid=".1ux1530izgg.1" 
    .main-content data-reactid=".1ux1530izgg.1.0" 
      div data-reactid=".1ux1530izgg.1.0.0" 
        .src-components-main-container-___main-content__container data-reactid=".1ux1530izgg.1.0.0.0" 
          a.src-components-main-container-___main-content__hamburger.button-toggle-side-menu data-reactid=".1ux1530izgg.1.0.0.0.0" href="#" 
            span.src-components-main-container-___main-content__icon data-reactid=".1ux1530izgg.1.0.0.0.0.0" 
          header.src-components-header-___header__header data-reactid=".1ux1530izgg.1.0.0.0.1" 
            .src-components-header-___header__wrapper data-reactid=".1ux1530izgg.1.0.0.0.1.0" 
              button.navbar-toggle.hamburguer data-target="#myNavbar" data-toggle="collapse"
              .src-components-header-___logo__logo data-reactid=".1ux1530izgg.1.0.0.0.1.0.0" 
                noscript data-reactid=".1ux1530izgg.1.0.0.0.1.0.0.0" 
                a.src-components-header-___logo__holder.mapx-header-click-logo_hu data-reactid=".1ux1530izgg.1.0.0.0.1.0.0.1" href="https://www.hotelurbano.com/" 
                  figure.src-components-header-___logo__figure data-reactid=".1ux1530izgg.1.0.0.0.1.0.0.1.0" 
                    img.src-components-header-___logo__image data-reactid=".1ux1530izgg.1.0.0.0.1.0.0.1.0.0" role="presentation" src="//s.hotelurbano.com.br/static/components/20171031075240602/assets/logo.old.svg" /
              noscript data-reactid=".1ux1530izgg.1.0.0.0.1.0.1" 
              .src-components-destinations-bar-___new-destination-bar__destinations data-reactid=".1ux1530izgg.1.0.0.0.1.0.2" 
                div data-reactid=".1ux1530izgg.1.0.0.0.1.0.2.0" 
                  div data-reactid=".1ux1530izgg.1.0.0.0.1.0.2.0.0" 
                    .destination-bar__region data-reactid=".1ux1530izgg.1.0.0.0.1.0.2.0.0.0" 
                      ul.src-components-destinations-bar-___new-destination-bar__most_searched data-reactid=".1ux1530izgg.1.0.0.0.1.0.2.0.0.0.0" /
                      .src-components-destinations-bar-___new-destination-bar__most_searched_title data-reactid=".1ux1530izgg.1.0.0.0.1.0.2.0.0.0.0.0"  Mais Buscados
        
              .language-and-customer-service-links.pull-left style="z-index: 1;"
                = link_to image_tag('pt-br-locale.jpg'), params.merge(locale: "pt_br", lang: "pt-br")
                = link_to image_tag('en-locale.jpg'), params.merge(locale: "en")
                = link_to image_tag('es-locale.jpg'), params.merge(locale: "es")

          .navbar-header
            .col-xs-2.pull-right
              button.navbar-toggle.collapsed.sidemenu-currency type="button" data-toggle="collapse" data-target="#navbar-collapse-currency"
                span.current_hu = Currency.by_money_sign(cookies[:currency]).first.money_sign

          .collapse.navbar-collapse#navbar-collapse-currency
            ul.nav.navbar-nav.sidemenu-currency
              li.menu-item
                - Currency.group_by_name.each do |name, currency|
                  = link_to params.merge(currency: currency[0].money_sign), class: 'menu-item-link' do
                    span.symbol = currency[0].money_sign
          /.menu-wrapper.js-menu-currency-current.pull-left
            span.current = Currency.by_money_sign(cookies[:currency]).first.money_sign
            .user-dropdown-menu.current-currency-dropdown-menu.js-currency-current-dropdown-menu
              .arrow-up
              div.col-md-12.current-currencies
                - Currency.group_by_name.each do |name, currency|
                  div.col-md-4.current-currency class=(its_currency_current?(currency[0]) ? 'activate' : '')
                    = link_to params.merge(currency: currency[0].money_sign), class: 'text-center' do
                      span.symbol
                        = currency[0].money_sign

        a.src-components-destinations-bar-___new-destination-bar__imagem_promocao.mapx-header-click-destinos-banner data-reactid=".1ux1530izgg.1.0.0.0.1.0.2.0.0.0.5" href="https://adserver.hotelurbano.com/delivery/ck.php?n=a45efb5c&amp;cb=0.3726067870950125" 
          img data-reactid=".1ux1530izgg.1.0.0.0.1.0.2.0.0.0.5.0" src="https://adserver.hotelurbano.com/delivery/avw.php?zoneid=35&amp;cb=0.3726067870950125&amp;n=a45efb5c" style=("display: none !important;") /
  a.src-components-main-container-___main-content__backdrop data-reactid=".rdiold0irk.1.0.0.2" href="#" style=("height: 100%; width: 100%; opacity: 1;")
  .src-components-main-container-___main-content__menu data-reactid=".1ux1530izgg.1.0.0.$menu" style=("transform: translateX(0%);")
    a.src-components-main-container-___main-content__close.src-fonts-___hu-icons__iconfont.src-fonts-___hu-icons__icon-xis data-reactid=".1c2zexdgxs0.1.0.0.$menu.0" href="#" style=("left: 282px; width: 0px; opacity: 1;")


    .src-components-menu-___menu__menu data-reactid=".1ux1530izgg.1.0.0.$menu.1" 
      header.src-components-menu-user-area-___user-area__header data-reactid=".1ux1530izgg.1.0.0.$menu.1.0" 
        .src-components-menu-user-area-___signed-out__header data-reactid=".1ux1530izgg.1.0.0.$menu.1.0.0" 
          .src-components-menu-user-area-___signed-out__logout.src-components-menu-user-area-___user-area__flexbox data-reactid=".1ux1530izgg.1.0.0.$menu.1.0.0.0" 
            figure.src-components-menu-user-area-___signed-out__figure data-reactid=".1ux1530izgg.1.0.0.$menu.1.0.0.0.0" 
              img.src-components-menu-user-area-___signed-out__icon data-reactid=".1ux1530izgg.1.0.0.$menu.1.0.0.0.0.0" role="presentation" src="//s.hotelurbano.com.br/static/components/20171031075240602/assets/user-outline.svg" /
            a.src-components-menu-user-area-___signed-out__login.src-components-menu-user-area-___user-area__link data-reactid=".1ux1530izgg.1.0.0.$menu.1.0.0.0.1" href="https://secure.hotelurbano.com/login"  =t('views.affiliates.hotelurbano.mobile_enter')
            span.src-components-menu-user-area-___signed-out__or data-reactid=".1ux1530izgg.1.0.0.$menu.1.0.0.0.2"  =t('views.affiliates.hotelurbano.mobile_or')
            a.src-components-menu-user-area-___signed-out__signin.src-components-menu-user-area-___user-area__link data-reactid=".1ux1530izgg.1.0.0.$menu.1.0.0.0.3" href="https://secure.hotelurbano.com/cadastro"  =t('views.affiliates.hotelurbano.mobile_create_account')
          noscript data-reactid=".1ux1530izgg.1.0.0.$menu.1.0.0.1" 
      nav.src-components-menu-navigation-___nav__nav data-reactid=".1ux1530izgg.1.0.0.$menu.1.1" 
        ul.src-components-menu-navigation-___default-nav__list.src-components-menu-___menu__list data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0" 
          li data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$0" 
            a.src-components-menu-navigation-___default-nav__highlights.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$0.0" href="https://www.hotelurbano.com" 
              span.src-components-menu-navigation-___default-nav__hu.src-fonts-___hu-icons__icon-destaque.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$0.0.0" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$0.0.1"  =t('views.affiliates.hotelurbano.mobile_index')
          li data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$1" 
            a.src-components-menu-navigation-___default-nav__hotels.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$1.0" href="https://www.hotelurbano.com/destinos" 
              span.src-components-menu-navigation-___default-nav__location.src-fonts-___hu-icons__icon-location.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$1.0.0" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$1.0.1"  Destinos
          li data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$2" 
            a.src-components-menu-navigation-___default-nav__hotels.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$2.0" href="https://www.hotelurbano.com/hoteis" 
              span.src-components-menu-navigation-___default-nav__bed.src-fonts-___hu-icons__icon-hotel.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$2.0.0" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$2.0.1"  Hotéis
          li data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$3" 
            a.src-components-menu-navigation-___default-nav__national.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$3.0" href="https://www.hotelurbano.com/pacotes" 
              span.src-components-menu-navigation-___default-nav__suitcase.src-fonts-___hu-icons__icon-suitcase.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$3.0.0" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$3.0.1"  Pacotes
          li data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$4" 
            a.src-components-menu-navigation-___default-nav__promotion.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$4.0" href="http://www.hotelurbano.com/promocoes" 
              span.src-components-menu-navigation-___default-nav__promocao.src-fonts-___hu-icons__icon-promocao.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$4.0.0" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$4.0.1"  Promoções
          li data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$5" 
            a.src-components-menu-navigation-___default-nav__promotion.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$5.0" href="http://www.hotelurbano.com/ingressos" 
              span.src-components-menu-navigation-___default-nav__ticket.src-fonts-___hu-icons__icon-ticket.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$5.0.0" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$5.0.1"  Ingressos
          li data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$6" 
            a.src-components-menu-navigation-___default-nav__flights.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$6.0" href="http://passagensaereas.hotelurbano.com" 
              span.src-components-menu-navigation-___default-nav__plane.src-fonts-___hu-icons__icon-aviao.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$6.0.0" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$6.0.1"  Aéreos
          li data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$7" 
            a.src-components-menu-navigation-___default-nav__config.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$7.0" href="https://www.hotelurbano.com/atendimento" 
              span.src-components-menu-navigation-___default-nav__help.src-fonts-___hu-icons__icon-help.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$7.0.0" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$7.0.1"  Ajuda
      
      ul.src-components-menu-navigation-___default-nav__list.src-components-menu-___menu__list data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0" 
        li.display data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$0" 
          a.src-components-menu-navigation-___default-nav__highlights.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$0.0" href="https://www.hotelurbano.com" 
            span.src-components-menu-navigation-___default-nav__hu.src-fonts-___hu-icons__icon-destaque.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$0.0.0" 
          a href="http://hotelurbano.com.br/" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$0.0.1"  =t('views.affiliates.hotelurbano.mobile_index')
        li.display data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$1" 
          a.src-components-menu-navigation-___default-nav__hotels.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$1.0" href="https://www.hotelurbano.com/destinos" 
            span.src-components-menu-navigation-___default-nav__location.src-fonts-___hu-icons__icon-location.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$1.0.0" 
          a href="http://hotelurbano.com.br/destinos" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$1.0.1"  =t('views.affiliates.hotelurbano.mobile_destinations')
        li.display data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$2" 
          a.src-components-menu-navigation-___default-nav__hotels.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$2.0" href="https://www.hotelurbano.com/hoteis" 
            span.src-components-menu-navigation-___default-nav__bed.src-fonts-___hu-icons__icon-hotel.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$2.0.0" 
          a href="http://hotelurbano.com.br/hoteis" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$2.0.1"  =t('views.affiliates.hotelurbano.mobile_hotels')
        li.display data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$2" 
          a.src-components-menu-navigation-___default-nav__hotels.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$2.0" href="https://www.hotelurbano.com/hoteis" 
            span.src-components-menu-navigation-___default-nav__bed.src-fonts-___hu-icons__icon-hotel.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont_hq data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$2.0.0" 
          a href="http://hotelquando.com" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$2.0.1"  =t('views.affiliates.hotelurbano.mobile_hotels_per_hour')

        li.display data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$3" 
          a.src-components-menu-navigation-___default-nav__national.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$3.0" href="https://www.hotelurbano.com/pacotes" 
            span.src-components-menu-navigation-___default-nav__suitcase.src-fonts-___hu-icons__icon-suitcase.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$3.0.0" 
          a href="http://hotelurbano.com.br/pacotes" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$3.0.1"  =t('views.affiliates.hotelurbano.mobile_packages')
        li.display data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$4" 
          a.src-components-menu-navigation-___default-nav__promotion.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$4.0" href="http://www.hotelurbano.com/promocoes" 
            span.src-components-menu-navigation-___default-nav__promocao.src-fonts-___hu-icons__icon-promocao.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$4.0.0" 
          a href="http://hotelurbano.com.br/promocoes" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$4.0.1"  =t('views.affiliates.hotelurbano.mobile_promotions')
        li.display data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$5" 
          a.src-components-menu-navigation-___default-nav__promotion.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$5.0" href="http://www.hotelurbano.com/ingressos" 
            span.src-components-menu-navigation-___default-nav__ticket.src-fonts-___hu-icons__icon-ticket.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$5.0.0" 
          a href="http://hotelurbano.com.br/ingressos" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$5.0.1"  =t('views.affiliates.hotelurbano.mobile_packages')
        li.display data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$6" 
          a.src-components-menu-navigation-___default-nav__flights.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$6.0" href="http://passagensaereas.hotelurbano.com" 
            span.src-components-menu-navigation-___default-nav__plane.src-fonts-___hu-icons__icon-aviao.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$6.0.0" 
          a href="http://passagensaereas.hotelurbano.com/pt-BR/flights" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$6.0.1"  =t('views.affiliates.hotelurbano.mobile_airline')
        li.display data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$7" 
          a.src-components-menu-navigation-___default-nav__config.src-components-menu-___menu__links data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$7.0" href="https://www.hotelurbano.com/atendimento" 
            span.src-components-menu-navigation-___default-nav__help.src-fonts-___hu-icons__icon-help.src-components-menu-___menu__icons.src-fonts-___hu-icons__iconfont data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$7.0.0" 
          a href="https://www.hotelurbano.com/atendimento" 
            p.src-components-menu-navigation-___default-nav__text.src-components-menu-___menu__text.font data-reactid=".1ux1530izgg.1.0.0.$menu.1.1.0.$7.0.1"  =t('views.affiliates.hotelurbano.mobile_help')


      footer.src-components-menu-___banner__footer data-reactid=".1ux1530izgg.1.0.0.$menu.1.2" 
        a.src-components-menu-___banner__attendance data-reactid=".1ux1530izgg.1.0.0.$menu.1.2.0" 
          figure.src-components-menu-___banner__attendanceImg data-reactid=".1ux1530izgg.1.0.0.$menu.1.2.0.0" 
            img.src-components-menu-___banner__image data-reactid=".1ux1530izgg.1.0.0.$menu.1.2.0.0.0" role="presentation" src="//s.hotelurbano.com.br/static/components/20171031075240602/assets/telemarketing.png" /
          small.src-components-menu-___banner__attendanceText data-reactid=".1ux1530izgg.1.0.0.$menu.1.2.0.1"  (21) 3030 7200
        a.src-components-menu-___banner__download data-reactid=".1ux1530izgg.1.0.0.$menu.1.2.1" href="https://hotelurbano.onelink.me/Zwte?pid=MenuLateralSiteM" 
          figure.src-components-menu-___banner__figure data-reactid=".1ux1530izgg.1.0.0.$menu.1.2.1.0" 
            img.src-components-menu-___banner__image data-reactid=".1ux1530izgg.1.0.0.$menu.1.2.1.0.0" role="presentation" src="//s.hotelurbano.com.br/static/components/20171031075240602/assets/icon-hu.png" /
          p.src-components-menu-___banner__text.footer-dropdown data-reactid=".1ux1530izgg.1.0.0.$menu.1.2.1.1"  =t('views.affiliates.hotelurbano.mobile_download_app')
      


.hidden-xs.hidden-sm
  .vn-header-novo.over-header.text-decoration
    .vn-content-novo.firstc.lastc
      a href="http://www.hotelurbano.com" target="_blank" title=("Hotel Urbano")
        .logo.firstc = image_tag("hotelurbano/logo.svg")
          span.logoimg itemprop="logo"
            i.icons-home &nbsp;
      nav.src-components-header-___nav__nav.left data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0" 
        a.src-components-header-___nav__item.src-components-header-___nav__transition.mapx-header-click-destinos.text-decoration data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.$100" href="https://www.hotelurbano.com/destinos" title=("Melhores Destinos") 
          i.src-components-header-___nav__location.src-fonts-___hu-icons__icon-location.src-components-header-___nav__icon.src-components-header-___nav__transition.src-fonts-___hu-icons__iconfont data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.$100.0" 
          span.src-components-header-___nav__text.src-components-header-___nav__transition data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.$100.1"  =t('views.affiliates.hotelurbano.destinations')
        a.src-components-header-___nav__item.src-components-header-___nav__transition.mapx-header-click-hoteis.text-decoration data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$0" href="https://www.hotelurbano.com/hoteis" title=("Reserva de Hotéis")
          i.src-components-header-___nav__bed.src-fonts-___hu-icons__icon-hotel.src-components-header-___nav__icon.src-components-header-___nav__transition.src-fonts-___hu-icons__iconfont data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$0.0" 
          span.src-components-header-___nav__text.button_hq.src-components-header-___nav__transition data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$0.1"  =t('views.affiliates.hotelurbano.hotels')
        a.src-components-header-___nav__item.button_hq.src-components-header-___nav__transition.mapx-header-click-promocoes.text-decoration data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$3" href="https://www.hotelquando.com" title="Hotéis por Hora" 
          i.src-components-header-___nav__ticket.src-fonts-___hu-icons__icon-ticket_hq.src-components-header-___nav__icon.src-components-header-___nav__transition.src-fonts-___hu-icons__iconfont data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$3.0" 
          span.src-components-header-___nav__text.src-components-header-___nav__transition data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$3.1"  =t('views.affiliates.hotelurbano.hotels_per_hour')
        a.src-components-header-___nav__item.src-components-header-___nav__transition.mapx-header-click-pacotes.text-decoration data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$1" href="https://www.hotelurbano.com/pacotes" title=("Pacotes de Viagem") 
          i.src-components-header-___nav__suitcase.src-fonts-___hu-icons__icon-suitcase.src-components-header-___nav__icon.src-components-header-___nav__transition.src-fonts-___hu-icons__iconfont data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$1.0" 
          span.src-components-header-___nav__text.src-components-header-___nav__transition data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$1.1"  =t('views.affiliates.hotelurbano.packages')
        a.src-components-header-___nav__item.button_offer.src-components-header-___nav__transition.mapx-header-click-promocoes.text-decoration data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$2" href="https://www.hotelurbano.com/promocoes" title=("Promoções de Viagens") 
          i.src-components-header-___nav__promocao.src-fonts-___hu-icons__icon-promocao.src-components-header-___nav__icon.src-components-header-___nav__transition.src-fonts-___hu-icons__iconfont data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$2.0" 
          span.src-components-header-___nav__text.src-components-header-___nav__transition data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$2.1"  =t('views.affiliates.hotelurbano.promotions')
        a.src-components-header-___nav__item.src-components-header-___nav__transition.mapx-header-click-promocoes.text-decoration data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$3" href="https://www.hotelurbano.com/ingressos" title="Ingressos" 
          i.src-components-header-___nav__ticket.src-fonts-___hu-icons__icon-ticket.src-components-header-___nav__icon.src-components-header-___nav__transition.src-fonts-___hu-icons__iconfont data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$3.0" 
          span.src-components-header-___nav__text.src-components-header-___nav__transition data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$3.1"  =t('views.affiliates.hotelurbano.tickets')
        a.src-components-header-___nav__item.src-components-header-___nav__transition.mapx-header-click-aereos.text-decoration data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$4" href="http://passagensaereas.hotelurbano.com/" title=("Passagens Aéreas") 
          i.src-components-header-___nav__plane.src-fonts-___hu-icons__icon-aviao.src-components-header-___nav__icon.src-components-header-___nav__transition.src-fonts-___hu-icons__iconfont data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$4.0" 
          span.src-components-header-___nav__text.src-components-header-___nav__transition data-reactid=".cycq0b21og.1.0.0.0.1.0.1.0.1:$4.1"  =t('views.affiliates.hotelurbano.airs')


      .menu-wrapper.js-menu-currency-current.pull-right
        span.current = Currency.by_money_sign(cookies[:currency]).first.money_sign
        .user-dropdown-menu.current-currency-dropdown-menu.js-currency-current-dropdown-menu
          .arrow-up
          div.col-md-12.current-currencies
            - Currency.group_by_name.each do |name, currency|
              div.col-md-4.current-currency class=(its_currency_current?(currency[0]) ? 'activate' : '')
                = link_to params.merge(currency: currency[0].money_sign), class: 'text-center' do
                  span.symbol
                    = currency[0].money_sign
      .language-and-customer-service-links.pull-right style="z-index: 1;"
        = link_to image_tag('pt-br-locale.jpg'), params.merge(locale: "pt_br", lang: "pt-br")
        = link_to image_tag('en-locale.jpg'), params.merge(locale: "en")
        = link_to image_tag('es-locale.jpg'), params.merge(locale: "es")