ruby:
  # we must keep in here because there are some controllers in the public area that doen'st inherit from public::base
  ng_init_for_search_form = if last_search_log
    # 0 - day
    # 1 - month
    # 2 - year
    date_parts = last_search_log.checkin_date.split("/")
    english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
    %Q{
      checkinDate = '#{I18n.locale == :en ? english_date_format : last_search_log.checkin_date}';
      parsedSelectedCheckinDate = '#{last_search_log.checkin_date}';
      checkinHour = #{last_search_log.checkin_hour};
      numberOfPeople = #{last_search_log.number_of_people};
      selectedPackSize = '#{last_search_log.length_of_pack}';
      selectedTabRoom = 1;
    }.squish
  else
    ""
  end
  tab = 1

= form_tag public_affiliate_hotels_path, method: :get, class: 'form-horizontal', "ng-controller" => "PublicMobileSearchCtrl", "ng-init" => "#{ng_init_for_search_form}" do

  .hidden
    input.cpy-mobile-pack-length type="text" name="by_pack_length" ng-model="selectedPackSize"
    input.cpy-mobile-room-category type="text" name="room_category" ng-model="selectedTabRoom"
    input.cpy-mobile-number-of-people type="text" name="by_number_of_people" ng-model="numberOfPeople"

  - if mobile_device?
    .col-md-12.search-form-header.hidden-sm.hidden-md.hidden-lg
      h1.book-hotels
        = t(:book_by_hours)
  .tabbable
    .tab-content.tab-content-custom-mobile
      .tab-pane.fade.in.active#rooms
        .row
          .col-sm-12
            .display-table.people-checkin-inputs
              .display-table-cell.size-78-percent
                .row
                  .col-xs-12
                    .secondary-title = t 'search_box.checkin'
                .row.checkin-mobile
                  .col-xs-6
                    = "#{t(:date_word)}:"
                    br
                    .input-group.date-picker-inputs

                      input.js-date-picker.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="checkinDate" ng-change='setSearchDateValidity()'

                      input.hidden.cpy-checkin-date ng-model="parsedSelectedCheckinDate" name='by_checkin_date'

                  .col-xs-6
                    = "#{t(:hour)}:"
                    br
                    - array_hours = []
                    - 24.times do | i |
                      - array_hours << i
                    = select_tag 'by_checkin_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time size-100-percent', 'ng-model' => 'checkinHour'

              .display-table-cell.number-of-people-input-size
                  .up.hidden-xs.hidden-sm = "#{t(:number_of_people)}"
                  .up.hidden-md.hidden-lg = "#{t('search_box.people')}"
                  = select_tag '', options_for_select(1..4), "ng-model" => "numberOfPeople"


        .row.pack-size-row
          .col-xs-12
            .display-table.pack-size-table
              .display-table-cell
                .up = "#{t(:pack_size)}"
                .btn-group.pack-size
                  span.clock
                    = image_tag 'clock-light-gray.png'
                  - Offer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
                    a.btn.rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSize == #{pack_size}}" ng-click="selectedPackSize = #{pack_size}" #{pack_size}h



        .row.pack-size-hint
          .col-xs-12
            p.hint = t :period_in_which_you_are_staying_at_hotel

        .row
          .col-xs-12.text-center
            .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmit()}}"
              button.submit-disabled.cpy-disabled-search-button.btn.green.search-button disabled='disabled' ng-hide='isFormValid()'
                = t(:perform_search)

            button.cpy-search-button.ng-hide.btn.green.search-button ng-disabled='!isFormValid()' ng-show='isFormValid()'
              = t(:perform_search)

  .services-wrapper#know-more
    .map-america data-400="opacity: 0; right: -80px" data-600="opacity: 1; right: 40px"
      = image_tag("home-map.png")
    .container
      .row
        .col-md-9
          h1.title =t('views.affiliates.hotelurbano.how_it_works')
          p.explanation = t :who_we_are_description
      .row.text-center
        .col-md-4
          .service-box
            h2 = t :you_decide_when_check_into_the_hotel
            .image = image_tag('calendar-and-clock-blue.png')
            p.description = t :you_decide_when_check_into_the_hotel_description
        .col-md-4
          .service-box
            h2 = t :you_decide_how_many_hours_you_need
            .image = image_tag('clock-blue.png')
            p.description = t :you_decide_how_many_hours_you_need_description
        .col-md-4
          .service-box
            h2 = t :pay_a_fair_price
            .image = image_tag('preco-justo-blue.png')
            p.description = t :pay_a_fair_price_description

  .airport_hotels.background_img#airports
   .container
     .row
       .col-md-12
         h1.airpot_title = t :are_you_going_to_travel
     .row.text-center#airport_scroller
       .scroller
         - @main_airports.each do |main_airport|
           .service-box
             = link_to public_airport_path(id: main_airport.id, place_name: main_airport.send("name_#{I18n.locale}").parameterize) do
               = main_airport.photos.present? ? image_tag(main_airport.photos.first.direct_image_url, class: 'image') : image_tag('airports/airport_default_image.jpeg', class: 'image')
               h2.image_title #{main_airport.send("name_#{I18n.locale}")}
       .row#other_airports
         - @airports.each_slice(2) do |airports|
           - airports.each do |airport|
             .col-md-4
               .airport_box #{link_to airport.send("name_#{I18n.locale}"), public_airport_path(id: airport.id, place_name: airport.send("name_#{I18n.locale}").parameterize)} >

     p.more_airport_hotels #{link_to t(:more_airport_hotels), public_airports_path}

  .home-blue-box
   .container
     .row
       .col-md-8
         p.font_color = t :think_of_us

  .airport_hotels.background_img#cities
   .container
     .row
       .col-md-12
         h1.city_title = t :book_hotels_in_the_main_cities
     .row.text-center#airport_scroller
       .scroller
         - @main_cities.each do |main_city|
           .service-box
             = link_to public_city_path(id: main_city.id, place_name: main_city.send("name_#{I18n.locale}").parameterize) do
               = main_city.photos.present? ? image_tag(main_city.photos.first.direct_image_url, class: 'image') : image_tag('cities/city_default_image.jpeg', class: 'image')
               h2.image_title #{main_city.send("name_#{I18n.locale}")}
       .row#other_airports
         - @cities.each_slice(2) do |cities|
           - cities.each do |city|
             .col-md-4
               .airport_box #{link_to city.send("name_#{I18n.locale}"), public_city_path(id: city.id, place_name: city.send("name_#{I18n.locale}").parameterize)} >

     p.more_airport_hotels #{link_to t(:more_cities), public_cities_path}
  .services-wrapper
    .container
      .row
        .col-xs-12
          h1.title = t :when_booking
          br

      .row.text-when-booking
        .col-sm-6
          .col-sm-12.text-center
            .glyphicon.glyphicon-plane.big-icon
          br
          br
          .col-sm-12
            b = t :traveling
            ul
              li = t :to_wait_for_a_flight_or_commitment
              li = t :to_spend_only_1_night
              li = t :to_come_earlier_or_leave_later
              li = t :to_take_a_shower


        .col-sm-6
          .col-sm-12.text-center
            .glyphicon.glyphicon-home.big-icon
          .col-sm-12
            b = t :in_your_own_city
            ul
              li = t :to_spend_the_night_away_from_home
              li = t :to_dinner_and_sleep_way_from_home
              li = t :to_take_a_shower_when_you_are_away_from_home
              li = t :to_enjoy_the_spa_pool_gym



javascript:
  yojs.set('tabNumber' , "#{tab}")
