.public-company-details-controller.show-action
  .table
    margin-top: 10px

    .glyphicon
      margin-right: 0px

    td
      vertical-align: middle

    td.action-list
      width: 100px
      .btn
        display: block
        width: 100%
        margin-bottom: 2px
  .form-actions
    .btn
      display: inline-block
      margin-right: 5px

  .attributes-wrapper
    clear: both
    
    &:after 
      content: ''
      display: block
      clear: both
    .attribute-title
      float: left
      width: 50%
      text-align: right
      font-size: 15px
      font-weight: 600
      margin: 0
      margin-top: 10px

    .content
      padding-left: 25px
      float: left
      width: 50%
      font-size: 14px
      line-height: 20px
      margin-top: 12px

    .content
      img
        max-width: 80%
