- user_payment_unit = Currency.by_code_or_money_sign(@booking.currency_code) if @booking.currency_code != Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol] && @booking.payments.authorized_or_captured.exists?
- authorized_or_captured_payment = @booking.payments.authorized_or_captured.order(created_at: :desc).first.authorized_at if user_payment_unit

= header_section

= panel_section do
  = show_for @booking do |u|
    .row
      .col-sm-6
        h3.center.header.lighter.green
          | #{t("views.admin.bookings.general_information")}
        .attributes-wrapper.booking_status
          .attribute-title
            | #{t("views.admin.bookings.status")}
          .content
            - if (/confirmed_and_invoiced/ === Booking::ACCEPTED_STATUS_REVERSED[@booking.status])
              = t(:confirmed_and_invoiced_admin)
            - elsif (/confirmed_without_card/ === Booking::ACCEPTED_STATUS_REVERSED[@booking.status])
              = t(:confirmed_without_card_admin)
            - else
              = t(Booking::ACCEPTED_STATUS_REVERSED[@booking.status])
        = u.attribute :guest_name
        
        - if @booking.executive_responsible_id.present?
          .attributes-wrapper.booking_room_type
            .attribute-title
              | #{t("type")}
            .content
              |#{t("views.admin.bookings.executive")} / #{@booking.executive_responsible.name}

        - elsif @booking.user.is_a_agency?
          .attributes-wrapper.booking_room_type
            .attribute-title
              | #{t("type")}
            .content
              | #{t("views.admin.bookings.agency")}

        - elsif @booking.user.is_a_company?
          .attributes-wrapper.booking_room_type
            .attribute-title
              | #{t("type")}
            .content
              | #{t("views.admin.bookings.company")}

        - else
          .attributes-wrapper.booking_room_type
            .attribute-title
              | #{t("type")}
            .content
              | #{t("views.admin.bookings.consumer")}

        - if @booking.traveler.try(:job_title)
          .attributes-wrapper.booking_room_type
            .attribute-title
              | #{t("job_title")}
            .content
              = @booking.traveler.job_title.name


        = u.attribute :phone_number
        = u.attribute :guest_email
        = u.attribute :number_of_people
        = u.attribute :is_app_mobile do
          = @booking.is_app_mobile ? "App" : "Web"
        hr
        .attributes-wrapper.booking_room_type
          .attribute-title
            | #{t("views.admin.bookings.hotel")}
          .content
            = @booking.hotel.name
        - if @booking.is_meeting_offer?
          .attributes-wrapper.booking_room_type
            .attribute-title
              | #{t("views.admin.bookings.meeting_room_name")}
            .content
              = @booking.business_room.name_pt_br
        - elsif @booking.is_event_offer?
          .attributes-wrapper.booking_room_type
            .attribute-title
              | #{t("views.admin.bookings.event_hall_name")}
            .content
              = @booking.business_room.name_pt_br
        - else
          .attributes-wrapper.booking_room_type
            .attribute-title
              | #{t("views.admin.bookings.room_type")}
            .content
              = @booking.room_type.name_pt_br
          .attributes-wrapper.booking_room_number
            .attribute-title
              | #{t("views.admin.bookings.room_number")}
            .content
              = @booking.room.number
        .attributes-wrapper.booking_pack_size
          .attribute-title
            | #{t("views.admin.bookings.package_size")}
          .content
            = "#{@booking.pack_in_hours}h"
        hr
        .attributes-wrapper.booking_checkin
          .attribute-title
            | #{t("views.admin.bookings.checkin")}
        .attributes-wrapper.booking_checkin_date
          .attribute-title
            | #{t("views.admin.bookings.date")}
          .content
            = "#{(@booking.date_interval.first + Offer::ROOM_CLEANING_TIME - 1.minute).strftime("%d/%m/%Y")}"
        .attributes-wrapper.booking_checkin_hour
          .attribute-title
            | #{t("views.admin.bookings.hour")}
          .content
            = "#{(@booking.date_interval.first + Offer::ROOM_CLEANING_TIME - 1.minute).strftime("%H:%M")}"
        hr
        .attributes-wrapper.booking_checkout
          .attribute-title
            | #{t("views.admin.bookings.checkout")}
        .attributes-wrapper.booking_checkout_date
          .attribute-title
            | #{t("views.admin.bookings.date")}
          .content
            = "#{(@booking.date_interval.last - Offer::ROOM_CLEANING_TIME + 1.minute).strftime("%d/%m/%Y")}"
        .attributes-wrapper.booking_checkout_hour
          .attribute-title
            | #{t("views.admin.bookings.hour")}
          .content
            = "#{(@booking.date_interval.last - Offer::ROOM_CLEANING_TIME + 1.minute).strftime("%H:%M")}"
        - if @booking.try(:multiplus_points).present?
          hr
          .attributes-wrapper.booking_multiplus_point
            .attribute-title
              | #{t("views.admin.bookings.multiplus_accumulated_points")}
            .content
              = "#{@booking.multiplus_points}"
      .col-sm-6
        - user = @booking.user
        h3.center.header.lighter.green
          | #{t("views.admin.bookings.user_info")}

        .attributes-wrapper.booking_user_name
          .attribute-title
            | #{t("views.admin.bookings.user_name")}
          .content
            = user.name
        .attributes-wrapper.booking_user_name
          .attribute-title
            | #{t("views.admin.bookings.user_email")}
          .content
            = user.email
        .attributes-wrapper.booking_user_name
          .attribute-title
            | #{t("views.admin.bookings.user_phone")}
          .content
            = user.phone_number
        .attributes-wrapper.booking_user_name
          .attribute-title
            | #{t("views.admin.bookings.reservation_datetime_creation")}
          .content
            = l @booking.created_at
        - if (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_without_card])
          .attributes-wrapper.booking_user_name
            .attribute-title
              | #{t("views.admin.bookings.reservation_datetime_effectuation")}
            .content
              = l @booking.updated_at

        - if @booking.recommendation_scale.present?
          .attributes-wrapper.booking_user_name
            .attribute-title
              | #{t("views.admin.bookings.nps")}
            .content
              = @booking.recommendation_scale

        h3.center.header.lighter.green
          | #{t("views.admin.bookings.values")}
        - if @booking.currency_code != Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol] && @booking.payments.authorized_or_captured.exists? && user_payment_unit.first
          .attributes-wrapper.booking_user_name.value-currency
            .attribute-title.space-hidden
            .content.title
              | #{t("views.admin.bookings.hotel_currency")}
            .content.title
              | #{t("views.admin.bookings.user_currency")}
        .attributes-wrapper.booking_user_name.value-currency
          .attribute-title
            | #{t("views.admin.bookings.reservation_initial_value")}
          .content
            = number_to_currency(@booking.initial_price, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol])
          - if @booking.currency_code != Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol] && @booking.payments.authorized_or_captured.exists? && user_payment_unit.first
              .content
                = number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.initial_price, @booking.currency_code, authorized_or_captured_payment), unit: user_payment_unit.first.money_sign)
        - if !@booking.is_meeting_offer? && !@booking.is_event_offer?
          .attributes-wrapper.booking_user_name.value-currency
            .attribute-title
              | #{t("views.admin.bookings.total_per_extra_person")}
            .content
              = number_to_currency(@booking.extra_people_price, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol])
            - if @booking.currency_code != Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol] && @booking.payments.authorized_or_captured.exists? && user_payment_unit.first
                .content
                  = number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.extra_people_price, @booking.currency_code, authorized_or_captured_payment), unit: user_payment_unit.first.money_sign)

        - unless @booking.booking_tax.zero?
          .attributes-wrapper.booking_user_name.value-currency
            .attribute-title
              | #{t("views.admin.bookings.reservation_tax")}
            .content
              = number_to_currency(@booking.booking_tax, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol])
            - if @booking.currency_code != Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol] && @booking.payments.authorized_or_captured.exists? && user_payment_unit.first
                .content
                  = number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.booking_tax, @booking.currency_code, authorized_or_captured_payment), unit: user_payment_unit.first.money_sign)

        - if @booking.promotional_code_log
          - promo_code = @booking.promotional_code_log.promotional_code
          .attributes-wrapper.booking_user_name.value-currency
            .attribute-title
              | #{t("views.admin.bookings.used_promotional_code")}
            .content
              = promo_code.code
          .attributes-wrapper.booking_user_name.value-currency
            .attribute-title
              | #{t("activerecord.attributes.promotional_code.discount_in")}
            .content
              = t(PromotionalCode::ACCEPTED_DISCOUNT_IN_REVERSED[promo_code.discount_in])

          .attributes-wrapper.booking_user_name.value-currency
            .attribute-title
              | #{t("views.admin.bookings.discount_value")}
            .content
              - if promo_code.discount_type == PromotionalCode::ACCEPTED_DISCOUNT_TYPE[:percentage]
                = number_to_percentage(promo_code.discount, precision: 2)
              - else
                = number_to_currency(promo_code.discount, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol])
            - if @booking.currency_code != Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol] && @booking.payments.authorized_or_captured.exists? && user_payment_unit.first
              .content
                - if promo_code.discount_type == PromotionalCode::ACCEPTED_DISCOUNT_TYPE[:percentage]
                  = number_to_percentage(promo_code.discount, precision: 2)
                - else
                  = number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, promo_code.discount, @booking.currency_code, authorized_or_captured_payment), unit: user_payment_unit.first.money_sign)
        - if @booking.using_balance
          .attributes-wrapper.booking_user_name
            .attribute-title
              | Crédito de indicação
            .content
              = number_to_currency(@booking.balance_value_used)
        

          .attributes-wrapper.booking_user_name.value-currency
            .attribute-title
              | #{t("views.admin.bookings.total_value_informed_to_hotel")}
            .content
              = number_to_currency(@booking.total_price_without_tax_and_without_discount, unit:Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol])
            - if @booking.currency_code != Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol] && @booking.payments.authorized_or_captured.exists? && user_payment_unit.first
                .content
                  = number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.total_price_without_tax_and_without_discount, @booking.currency_code, authorized_or_captured_payment), unit: user_payment_unit.first.money_sign)

        - if @booking.promotional_code_log && @booking.status == Booking::ACCEPTED_STATUSES[:confirmed]
          .attributes-wrapper.booking_user_name.value-currency
            .attribute-title
              | Preço que hospede paga no hotel
            .content
              = number_to_currency(@booking.total_price_without_tax, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol])
            - if @booking.currency_code != Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol] && @booking.payments.authorized_or_captured.exists? && user_payment_unit.first
                .content
                  = number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.total_price_without_tax, @booking.currency_code, authorized_or_captured_payment), unit: user_payment_unit.first.money_sign)

        .attributes-wrapper.booking_user_name.value-currency
          .attribute-title
            | #{t("views.admin.bookings.total_value")}
          .content
            = number_to_currency(@booking.total_price, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol])
          - if @booking.currency_code != Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol] && @booking.payments.authorized_or_captured.exists? && user_payment_unit.first
              .content
                = number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.total_price, @booking.currency_code, authorized_or_captured_payment), unit: user_payment_unit.first.money_sign)

        /- if @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced]
          .attributes-wrapper.booking_user_name
            .attribute-title
              | #{t("views.admin.bookings.total_value_informed_to_hotel")}
            .content
              = number_to_currency(@booking.total_price_for_hotels_if_booking_is_invoiced, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol])

        - if @booking.hotel.is_brazilian
          .attributes-wrapper.booking_user_name.value-currency
            .attribute-title
              | #{t("views.admin.bookings.no_show_value")}
            .content
              = number_to_currency(@booking.no_show_value)
            - if @booking.currency_code != Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol] && @booking.payments.authorized_or_captured.exists? && user_payment_unit.first
                .content
                  = number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.no_show_value, @booking.currency_code, authorized_or_captured_payment), unit: user_payment_unit.first.money_sign)
        /- if @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced]
          .attributes-wrapper.booking_user_name
            .attribute-title
              | #{t("views.admin.bookings.no_show_value_informed_to_hotel")}
            .content
              = number_to_currency(@booking.no_show_value_for_hotels_if_booking_is_invoiced)

        - if ((@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced])) && (@booking.no_show_refund_value > 0)
          .attributes-wrapper.booking_user_name
            .attribute-title
              | #{t("views.admin.bookings.refund_value_in_case_of_no_show")}
            .content
              = number_to_currency(@booking.no_show_refund_value)

        - if @booking.guest_delayed_checkout?
          hr
          .attributes-wrapper.text-center
            h4
              | #{t("views.admin.bookings.user_delayed_checkout")}

        - elsif @booking.refund_error
          hr
          .attributes-wrapper.text-center
            h4
              | #{t("views.admin.bookings.refund_error")}

        - if @booking.created_by_agency?
          hr
          .attributes-wrapper.text-center
            h4
              | #{t("views.admin.bookings.created_by_agency")}

        - if @booking.canceled_by_admin?
          hr
          .attributes-wrapper.text-center
            h4
              | #{t("views.admin.bookings.cancelled_by_admin")}



        h3.header.lighter.smaller.green
          | #{t("views.admin.bookings.more_details")}

        .more-booking-details-links
          .row
            .col-sm-12
              - if @booking.status == Booking::ACCEPTED_STATUSES[:requested_reservation] || (@booking.status == Booking::ACCEPTED_STATUSES[:requested_and_paid_reservation])
                = link_to 'Aceitar', hotel_accept_request_admin_booking_path(id: @booking.id), class: "btn btn-sm btn-green cpy-link-to-booking-payments", method: :put

                = link_to 'Recusar', hotel_deny_request_admin_booking_path(id: @booking.id), class: "btn btn-sm btn-warning cpy-accuse-delayed-checkout-button js-set-as-no-show-button", method: :put

              = link_to t("views.admin.bookings.see_payments"), admin_payments_path(by_booking_id: @booking.id), class: 'btn btn-sm btn-purple cpy-link-to-booking-payments'

              = link_to t("views.admin.bookings.see_user"), admin_user_path(@booking.user.id), class: 'btn btn-sm btn-info cpy-link-to-booking-user'

              = link_to t("views.admin.bookings.see_hotel"), admin_hotel_path(@booking.hotel.id), class: 'btn btn-sm btn-inverse cpy-link-to-booking-hotel'
              
          br
          = form_tag send_confirmation_notice_email_admin_booking_path, method: :post do
            .row
              .col-sm-12
                = submit_tag t("views.admin.bookings.send_confirmation_notice_mail_to_hotel"), class: 'no-margin btn btn-sm btn-success cpy-link-to-booking-hotel'
            br
            .row
              .col-sm-12
                = submit_tag t("views.admin.bookings.send_confirmation_notice_mail_to_user"), class: 'no-margin btn btn-sm btn-warning cpy-link-to-booking-hotel'

          - if @booking.user.try(:company).try(:agency)
            br
            .row
              .col-sm-12.text-center
                = link_to t("views.admin.bookings.see_user_agency"), admin_agency_path(@booking.user.company.agency.id), class: 'btn btn-sm btn-success link-to-booking-agency cpy-link-to-booking-agency'

  - if params[:return_to_user_index]
    = show_panel_buttons_section(path_to_return: 'admin_users')
  - else
    = show_panel_buttons_section
