.row
  .col-sm-12.border-box
    = simple_form_for([:public, cost_center], url: @url_form) do |f|

      = f.input :name

      .form-actions.wizard-actions.form-buttons.text-right
        = link_to("<i class='glyphicon glyphicon-arrow-left'></i> #{t(:return)}".html_safe, public_company_detail_path(@company_detail), {class: 'btn btn-prev '})
        = button_tag(type: 'submit', class: "btn btn-success btn-next cpy-submit-button") do
          => t(:save)
          i.glyphicon.glyphicon-arrow-right
