.row
  .col-sm-12.border-box
    .page-header
      h1.page-title
        => t(:listing) + ' ' + t(:cost_center).downcase
        = link_to "#{t(:new) + ' ' + t(:cost_center).downcase}", new_public_company_detail_cost_center_path(company_detail_id: params[:id]), class: 'btn btn-sm btn-success pull-right cpy-add-link'

- if @cost_centers.length == 0
  .row
    .col-sm-12.border-box.with-padding-bottom
      .alert.alert-info
        = t(:none) + ' ' + t(:cost_center).downcase + ' ' + t(:registered) + '.'
- else
  .row
    .col-sm-12.border-box.with-padding-bottom.hidden-xs.hidden-sm
      .row
        .col-sm-12
          table.table.table-striped.table-hover.mini
            thead
              tr
                th.center.size-8-percent
                  | Id
                th.center.size-74-percent
                  = t(:name)
                th.center.size-18-percent
                  = t(:actions)
            tbody
              - @cost_centers.each do | cost_center |
                tr.center
                  td
                    = cost_center.id
                  td
                    = cost_center.name
                  td.action-list
                    = link_to t(:details), public_cost_center_path(cost_center.id), class: 'btn mini btn-primary', style: 'margin-right: 5px'
                    = link_to t(:edit), edit_public_cost_center_path(cost_center.id), class: 'btn mini green cpy-confirm-booking-button'
                    //= link_to t(:disable), edit_public_cost_center_path(cost_center.id), class: 'btn red mini cpy-cancel-button'

    .col-sm-12.border-box.with-padding-bottom.hidden-md.hidden-lg
      = render partial: "/public/company_details/cost_centers/index/mobile_cost_centers"

