.row
  .col-sm-12.border-box
    .page-header
      h1.page-title
        = t(:viewing) + ' ' + t(:cost_center).downcase
.row
  .col-sm-12.border-box        
    = show_for @cost_center do |u|
      = u.attribute :name
    hr
    .wizard-actions.form-actions.text-right
      = link_to("<i class='glyphicon glyphicon-arrow-left'></i> #{t(:return)}".html_safe, public_company_detail_path(@cost_center.company_detail_id), {class: 'btn btn-prev '})
      = link_to "<i class='glyphicon glyphicon-edit'></i> #{t(:edit)}".html_safe, edit_public_cost_center_path(@cost_center.id), class: 'btn btn-info'

= render partial: 'public/company_details/cost_centers/travelers/index'
