.row.border-box ng-init="filterCollapsed = true"
  .col-sm-6 style="padding-top: 0px"
    h1.page-title = t :my_bookings
  .pull-right.user-links.hide-personalized-user-menu
    - if current_public_affiliate_user.present?
      .menu-wrapper.js-menu-wrapper style="padding-top: 32px"
        span.hello = "#{t(:hello)} #{current_public_affiliate_user.name} "
        a.user-icon.glyphicon.glyphicon-user
        a.caret
        .user-dropdown-menu.js-user-dropdown-menu
          .arrow-up
          ul
            li
              = link_to t(:my_bookings), public_affiliate_bookings_path
            li
              = link_to t(:my_profile), public_affiliate_user_profile_path
            li.hide
              = link_to t(:sign_out), destroy_public_affiliate_user_session_path, method: :delete, class: "cpy-log-out-link"

    = link_to t(:new_search) , public_affiliate_root_path, class: "btn mini btn-success custom-success", style: "margin-right: 10px; margin-bottom: 4px"

- if current_public_affiliate_user.bookings.empty?
  .row
    .col-sm-12.border-box.with-padding-bottom
      p.notice = t(:you_dont_have_any_bookings)
      = link_to t(:new_search) , public_affiliate_root_path, class: "get-started-button btn btn-success custom-success"
- elsif @bookings.count == 0
  .hidden-lg.hidden-md
    .panel.panel-default
      .panel-heading
        a href="#" ng-click="filterCollapsed = !filterCollapsed"
          h5.panel-title.text-center
            = t(:filter)
      .panel-collapse collapse="filterCollapsed"
        .panel-body
          = render partial: "/public_affiliate/bookings/index/filter"

  .hidden-xs.hidden-sm
    = render partial: "/public_affiliate/bookings/index/filter"
  .row
    .col-sm-12.border-box.with-padding-bottom
      p.notice = t(:message_for_search_without_results)
- else
  .hidden-lg.hidden-md
    .panel.panel-default
      .panel-heading
        a href="#" ng-click="filterCollapsed = !filterCollapsed"
          h5.panel-title.text-center
            = t(:filter)
      .panel-collapse collapse="filterCollapsed"
        .panel-body
          = render partial: "/public_affiliate/bookings/index/filter"

  .hidden-xs.hidden-sm
    = render partial: "/public_affiliate/bookings/index/filter"
  .row
    .col-sm-12.border-box.with-padding-bottom.hidden-xs.hidden-sm
      .row
        .col-sm-12
          table.table.table-striped.table-hover.mini
            thead
              tr
                th.center.size-8-percent
                  | Id
                th.center.size-20-percent
                  = t(:creation_date)
                th.center.size-20-percent
                  = t(:checkin_date)
                th.center.size-20-percent
                  = t("hotel.one").capitalize
                th.center.size-20-percent
                  = t(:type)
                th.center.size-20-percent
                  = t(:status)
                th.center.size-18-percent
                  = t(:actions)
            tbody
              - @bookings.each do | booking |
                tr.center
                  td
                    = booking.id
                  td
                    = l booking.created_at
                  td
                    = l booking.offer.checkin_timestamp

                  td
                    = booking.hotel
                  td
                    = t(booking.type_room_name)
                  td
                    = t("#{Booking::ACCEPTED_STATUS_REVERSED[booking.status]}")
                  td.action-list
                    = link_to t(:details), public_affiliate_booking_path(booking.id), class: 'btn mini btn-primary', style: 'margin-right: 5px'
                    - if can_show_payment_button?(booking)
                      = link_to t("bookings.make_payment"),new_public_affiliate_booking_payments_path(booking.id), class: 'btn mini green cpy-confirm-booking-button'
                    - if booking.cancelable?
                      = link_to t(:cancel), cancel_public_affiliate_booking_path(booking.id), class: 'btn red mini cpy-cancel-button', method: :put, data: { confirm: t(:are_you_sure_you_want_to_cancel_this_booking), title: t(:confirmation), allow: t(:confirm), cancel: t(:cancel)  }

    .col-sm-12.border-box.with-padding-bottom.hidden-md.hidden-lg
      = render partial: "/public_affiliate/bookings/index/mobile_bookings"
