= render partial: "/public_affiliate/shared/new_search"

.row
  .col-sm-12.border-box.with-padding-bottom
    = render partial: "/public_affiliate/shared/booking/booking_registration_header", locals: { step: :booking_creation }
    - if mobile_device?
      div.tabs role="tabpanel"
        ul.nav.nav-tabs.customized role="tablist"
          li role="presentation" class="active"
            a href="#guest_data" aria-controls="guest_data" role="tab" data-toggle="tab"
              = t(:guest_data)
          li role="presentation"
            a href="#booking_data" aria-controls="booking_data" role="tab" data-toggle="tab"
              = t(:booking_data)

      .tab-content
        div role="tabpanel" class="tab-pane fade in active" id="guest_data"
          .col-xs-12
            - if layout_name.present?
              = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/booking_details"
            - else
              = render partial: "/public_affiliate/bookings/new/booking_details"
        div role="tabpanel" class="tab-pane fade" id="booking_data"
          .col-xs-12
            = render partial: "/public_affiliate/shared/booking/booking_registration_hotel_description"
            = render partial: '/public_affiliate/bookings/new/booking_information_mobile'
            - if @offer.try(:room_type_id)
              = render partial: "/public_affiliate/shared/booking/booking_registration_room_type_description"
            - else
              = render partial: "/public_affiliate/shared/booking/booking_registration_business_room_description"

    - else
      .row
        .col-sm-5
          = render partial: "/public_affiliate/shared/booking/booking_registration_hotel_description"
          = render partial: '/public_affiliate/bookings/new/booking_information'
          - if @offer.try(:room_type_id)
            = render partial: "/public_affiliate/shared/booking/booking_registration_room_type_description"
          - else
            = render partial: "/public_affiliate/shared/booking/booking_registration_business_room_description"
        .col-sm-7
          - if layout_name.present?
            = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/booking_details"
          - else
            = render partial: "/public_affiliate/bookings/new/booking_details"
