- booking_editable = ((@booking.status == Booking::ACCEPTED_STATUSES[:waiting_for_payment]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_without_card])) && (@booking.offer.checkin_timestamp > Time.now.strftime("&Y/%m/%d %H:%M +0000").to_datetime)

.row
  .border-box
    .row
      - show_for @booking do | u |
        = u.attribute :guest_name
      .col-sm-12
        = render partial: "/public_affiliate/bookings/show/page_title"
      .col-sm-12
        .booking-information
          = render partial: "/public_affiliate/bookings/show/personal_information"
      .col-sm-12
        .booking-information
          = render partial: "/public_affiliate/bookings/show/booking_information"
      .col-sm-12
        .booking-information
          = render partial: "/public_affiliate/bookings/show/booking_schedule"
      .col-sm-12
        .booking-information
          = render partial: "/public_affiliate/bookings/show/booking_prices"
      .col-sm-12
        .booking-information
          = render partial: "/public_affiliate/bookings/show/booking_status"


        - if @booking.guest_delayed_checkout?
          .attributes-wrapper.text-center
            h4.booking-checkout-delay-label
              = t(:there_was_a_booking_checkout_delay) + '.'
          hr

    .wizard-actions
      .row
        .col-sm-3
          = link_to("<i class='glyphicon glyphicon-arrow-left'></i> #{t(:my_bookings)}".html_safe, public_affiliate_bookings_path, {class: 'btn btn-prev'})

        - if @booking.status == Booking::ACCEPTED_STATUSES[:waiting_for_payment] && can_current_public_affiliate_user_afford?(offer: @booking.offer, number_of_people: @booking.number_of_people)
          .col-sm-2
            = link_to "#{t(:confirm)}", new_public_affiliate_booking_payments_path(booking_id: @booking.id), { class: 'btn btn-success cpy-confirm-booking-button'}

        - if booking_editable
          .col-sm-2
            = link_to "#{t(:edit)}", edit_public_affiliate_booking_path(@booking.id), { class: "btn btn-success" }

        - if @booking.cancelable?
          .col-sm-3
            = link_to("<i class='glyphicon glyphicon-remove'></i> #{t(:cancel)} #{t(:booking)}".html_safe, cancel_public_affiliate_booking_path(@booking.id), {class: 'btn btn-success cpy-cancel-button', method: :put})
            
  - if !@booking.is_meeting_offer? && !@booking.is_event_offer?
    - options_for_number_of_people_select = []
    - @booking.offer.room_type_maximum_capacity.times do | i |
      - options_for_number_of_people_select << {value: (i + 1)}

javascript:
  yojs.set('booking',JSON.parse('#{@booking.to_json.html_safe}'));
  yojs.set('options_for_number_of_people_select',JSON.parse('#{options_for_number_of_people_select.to_json.html_safe}'));
