.footer
  footer#footer.region.region-footer
    #block-block-7.block.block-block.first.odd
      /! Bandeiras
      .bandeiras
        p.bandeiras_text
          | #{t('views.affiliates.atlantica.the')}
          strong  #{t('views.affiliates.atlantica.has')}
          br/
          | #{t('views.affiliates.atlantica.for_you')}
          br/ 
          span #{t('views.affiliates.atlantica.flags')}
        .bandeiras_logos
          div
            ul.semborda
              li.bandeira_footer_radisson.radisson_blu
                .div_radisson_blu
                  = link_to image_tag('atlantica/footer_bandeiras_radissonBlu.png'), "http://www.atlanticahotels.com.br/nossos-hoteis/bandeiras/radisson-blu", target: "_blank", title: "Radisson Blu", class: "radisson_blu_link"
                  
          div
            ul
              li.bandeira_footer_radisson
                .div_radisson
                  = link_to image_tag('atlantica/footer_bandeiras_radisson.png'), "http://www.atlanticahotels.com.br/nossos-hoteis/bandeiras/radisson", title: "Radisson", target: "_blank", class: "radisson_link"

              li.bandeira_footer_four
                .div_four
                  = link_to image_tag('atlantica/footer_bandeiras_fourpoints.png'), "http://www.atlanticahotels.com.br/nossos-hoteis/bandeiras/four-points", title: "Four Points by Sheraton", target: "_blank", class: "four_link"

              li.bandeira_footer_clarion
                .div_clarion
                  = link_to image_tag('atlantica/footer_bandeiras_clarion.png'), "http://www.atlanticahotels.com.br/nossos-hoteis/bandeiras/clarion", title: "Clarion", target: "_blank", class: "clarion_link"
          div
            p SUPERIOR
            ul
              li.bandeira_footer_radisson.radisson_red
                .div_radisson_red
                  = link_to image_tag('atlantica/footer_bandeiras_radissonRed.png'),"http://www.atlanticahotels.com.br/nossos-hoteis/bandeiras/radisson-red", title: "Radisson Red", target: "_blank", class: "radisson_red_link"
            ul
              li.bandeira_footer_hilton
                .div_hilton
                  = link_to image_tag('atlantica/footer_bandeiras_Hilton_Garden_Inn_hover.png'), "http://www.atlanticahotels.com.br/nossos-hoteis/bandeiras/hilton-garden-inn", title: "Hilton Gardenn inn", target: "_blank", class: "hilton_link"
            ul
              li.bandeira_footer_quality
                .div_quality
                  = link_to image_tag('atlantica/footer_bandeiras_quality.png'), "http://www.atlanticahotels.com.br/nossos-hoteis/bandeiras/quality", title: "Quality", target: "_blank", class: "quality_link"

              li.bandeira_footer_comfortsuits
                .div_comfortsuites
                  = link_to image_tag('atlantica/footer_bandeiras_comfortsuites.png'), "http://www.atlanticahotels.com.br/nossos-hoteis/bandeiras/comfort-suites", title: "Comfort SUITES", target: "_blank", class: "comfortsuites_link"
          div
            p MIDCLASS
            ul
              li.bandeira_footer_park
                .div_park
                  = link_to image_tag('atlantica/footer_bandeiras_parkinn.png'), "http://www.atlanticahotels.com.br/nossos-hoteis/bandeiras/park-inn", title: "park inn", target: "_blank", class: "park_link"

              li.bandeira_footer_comfort
                .div_comfort
                  = link_to image_tag('atlantica/footer_bandeiras_comfort.png'), "http://www.atlanticahotels.com.br/nossos-hoteis/bandeiras/comfort", title: "Comfort", target: "_blank", class: "comfort_link"
          div
            p ECONÔMICO
            ul
              li.sleep_inn
                .div_sleep_inn
                  = link_to image_tag('atlantica/footer_bandeiras_sleepinn.png'), "http://www.atlanticahotels.com.br/nossos-hoteis/bandeiras/sleep-inn", title: "Sleep Inn", target: "_blank", class: "sleep_inn_link"
          div
            p BUDGET
            ul
              li.go_inn
                .div_go_inn
                  = link_to image_tag('atlantica/footer_bandeiras_goinn.png'), "http://www.atlanticahotels.com.br/nossos-hoteis/bandeiras/go-inn", title: "Go inn", target: "_blank", class: "go_inn_link"
        .bandeiras_by_atlantica
          p
            | #{t('views.affiliates.atlantica.others')}
            = link_to image_tag('atlantica/footer_byatlantica.png'), "http://www.atlanticahotels.com.br/nossos-hoteis/bandeiras/atlantica-hotels", title: "by Atlantica", target: "_blank"
        /! /Bandeiras
        hr/
    #block-menu-menu-institucional.block.block-menu.even role="navigation" 
      h2.block__title.block-title #{t('views.affiliates.atlantica.institucional')}
      ul.menu
        li.menu__item.is-leaf.menu__item.is-leaf.first.leaf
          a.menu__link.menu__link href="/institucional/sobre-atlantica-hotels"  #{t('views.affiliates.atlantica.about_atlantica')}
        li.menu__item.is-leaf.menu__item.is-leaf.leaf
          a.menu__link.menu__link href="/institucional/historico" title="Histórico"  #{t('views.affiliates.atlantica.historic')}
        li.menu__item.is-leaf.menu__item.is-leaf.leaf
          a.menu__link.menu__link href="/institucional/missao" title="Missão"  #{t('views.affiliates.atlantica.mission')}
        li.menu__item.is-leaf.menu__item.is-leaf.leaf
          a.menu__link.menu__link href="/institucional/valores-compartilhados" title=("Valores Compartilhados")  #{t('views.affiliates.atlantica.shared_values')}
        li.menu__item.is-leaf.menu__item.is-leaf.leaf
          a.menu__link.menu__link href="/premios" title="Prêmios"  #{t('views.affiliates.atlantica.awards')}
        li.menu__item.is-leaf.menu__item.is-leaf.leaf
          a.menu__link.menu__link href="/responsabilidade-empresarial"  #{t('views.affiliates.atlantica.corporate')}
        li.menu__item.is-leaf.menu__item.is-leaf.last.leaf
          a.menu__link.menu__link href="/responsabilidade-empresarial/responsabilidade-social"  #{t('views.affiliates.atlantica.social')}
    #block-menu-block-1.block.block-menu-block.odd role="navigation" 
      h2.block__title.block-title #{t('views.affiliates.atlantica.investors')}
      .menu-block-wrapper.menu-block-1.menu-name-menu-investidores.parent-mlid-0.menu-level-1
        ul.menu
          li.menu__item.is-leaf.menu__item.is-leaf.first.leaf.menu-mlid-1185
            a.menu__link.menu__link href="/investidores/apresentacao" title="Apresentação"  #{t('views.affiliates.atlantica.presentation')}
          li.menu__item.is-leaf.menu__item.is-leaf.leaf.menu-mlid-2232
            a.menu__link.menu__link href="/reserva-online/passo1" title="Reservas"  #{t('views.affiliates.atlantica.reserva')}
          li.menu__item.is-leaf.menu__item.is-leaf.leaf.menu-mlid-1188
            a.menu__link.menu__link href="/entre-em-contato/fale-conosco" title=("Entre em contato")  #{t('views.affiliates.atlantica.contact')}
          li.menu__item.is-parent.is-leaf.menu__item.is-parent.is-leaf.leaf.has-children.menu-mlid-1187
            a.menu__link.menu__link href="/investidores/atlantica-clube/vantagens-e-tarifas" title=("Atlantica Club")  Atlantica Club
          li.menu__item.is-leaf.menu__item.is-leaf.leaf.menu-mlid-1189
            a.menu__link.menu__link href="/investidores/cadastro-investidor" title=("Seu cadastro")  #{t('views.affiliates.atlantica.register')}
          li.menu__item.is-leaf.menu__item.is-leaf.last.leaf.menu-mlid-1190
            a.menu__link.menu__link href="http://portaldoinvestidor.atlanticahotels.com.br/" title=("Portal do Investidor")  #{t('views.affiliates.atlantica.portal')}
    #block-menu-menu-imprensa.block.block-menu.even role="navigation" 
      h2.block__title.block-title #{t('views.affiliates.atlantica.press')}
      ul.menu
        li.menu__item.is-leaf.menu__item.is-leaf.first.leaf
          a.menu__link.menu__link href="/imprensa/noticias-releases" title=("Notícias e Releases")  Releases
        li.menu__item.is-leaf.menu__item.is-leaf.leaf
          a.menu__link.menu__link href="/imprensa/banco-de-video/hoteis/" title="Vídeos"  #{t('views.affiliates.atlantica.videos')}
        li.menu__item.is-leaf.menu__item.is-leaf.last.leaf
          a.menu__link.menu__link href="/contato-imprensa"  #{t('views.affiliates.atlantica.get_contact')}
    #block-block-29.block.block-block.odd
      ul
        li #{t('views.affiliates.atlantica.on_social')}
        li
          =link_to image_tag('atlantica/footer_bt_facebook.png'), "https://www.facebook.com/atlanticabrasil", target: "_blank",  title: "Facebook"

          = link_to image_tag('atlantica/footer_bt_twitter.png'),"https://twitter.com/atlanticabrasil", target: "_blank", title: "Twitter"

          = link_to image_tag('atlantica/footer_bt_youtube.png'), "https://www.youtube.com/user/AtlanticaBrasil", target: "_blank", title: "Youtube" 

          = link_to image_tag('atlantica/footer_bt_insta.png'), "https://instagram.com/atlanticabrasil/", target: "_blank", title: "Instagram", style: "width: 22px;height: 22px;"
        li
          address
            | Al Rio Negro, 585 - 13º #{t('views.affiliates.atlantica.piso')} - Ed. Padauiri
            br>/
            | Cep 06454-000 - Barueri - SP - Brasil
            br>/
            | #{t('views.affiliates.atlantica.fone')}: 55 11 3531 4800 | Fax: 55 11 3531 4850
            br>/
            | CNPJ: 02.223.966/0001-13
            br/
            a href="/politica-de-hospedagem"  #{t('views.affiliates.atlantica.hosting_policy')}
    #block-block-52.block.block-block.last.even
      script src="http://6262700.collect.igodigital.com/collect.js" type="text/javascript" 
      javascript:
        | _etmc.push(["setOrgId", "6262700"]);
        | _etmc.push(["trackPageView"]);
  /! Copyright
  .copyright
    #assinatura_amo
      = link_to image_tag('atlantica/logo-amo.png'), "http://www.amo.ag", target: "_blank", title: "Desing por Agência AMO" 
    p © 2012 Atlantica Hotels International. #{t('views.affiliates.atlantica.rights')}
    #assinatura_raro
      = link_to image_tag('atlantica/assinatura_branco.png'), "http://www.raro.com.br", target: "_blank", title: "Desenvolvido por Raro Interatividade"
