ruby:
  # we must keep in here because there are some controllers in the public area that doen'st inherit from public::base
  ng_init_for_search_form = if last_search_log
    # 0 - day
    # 1 - month
    # 2 - year
    date_parts = last_search_log.checkin_date.split("/")
    english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
    %Q{
      checkinDate = '#{I18n.locale == :en ? english_date_format : last_search_log.checkin_date}';
      parsedSelectedCheckinDate = '#{last_search_log.checkin_date}';
      checkinHour = #{last_search_log.checkin_hour};
      numberOfPeople = #{last_search_log.number_of_people};
      selectedPackSize = '#{last_search_log.length_of_pack}';
      selectedTabRoom = 1;
    }.squish
  else
    ""
  end

= form_tag public_affiliate_meeting_room_search_path, method: :get, class: 'form-horizontal', "ng-controller" => "PublicMobileSearchCtrl", "ng-init" => "#{ng_init_for_search_form}" do

  .hidden
    input.cpy-mobile-pack-length type="text" name="by_pack_length" ng-model="selectedPackSize"
    input.cpy-mobile-room-category type="text" name="room_category" ng-model="selectedTabRoom"
    input.cpy-mobile-number-of-people type="text" name="by_number_of_people" ng-model="numberOfPeople"
    input.cpy-hotel-selected type="text" name="atlantica[hotel_name]" ng-model="hotelSelected"
    
  - if mobile_device?
    .col-md-12.search-form-header.hidden-sm.hidden-md.hidden-lg
      h1.book-hotels
        = t(:book_by_hours)
  .tabbable
    = link_to '', style: 'color: transparent !important; display: none;' do
      ul.nav.nav-tabs.nav-justified.online_reservation_box
        li.search_tab_rooms ng-class="{active: selectedTabRoom == 3}"
          a.js-event-rooms-tab.white data-toggle='tab' href='#rooms' ng-click="changeTab(3)" = t 'rooms'
        li.search_tab_meeting_rooms ng-class="{active: selectedTabRoom == 2}"
          a.js-meeting-rooms-tab.white data-toggle='tab' href='#meeting-rooms' ng-click="changeTab(2)" = t 'meeting_rooms'
    .tab-content.tab-content-custom-mobile
      .tab-pane.fade.in.active#rooms ng-class="{active: selectedTabRoom == 3}"
        .row
          .col-xs-12.select-hotels
            label.title#select_hotel #{t('views.affiliates.transamerica.select_hotel')}
            .row.checkin-mobile.selectize_field style="text-align: left;"
              = select_tag 'transamerica-hotels-select-hq-bedroom', options_for_select(''), class: "form-control", 'ng-model' => "hotelSelected"
          .col-sm-12
            .display-table.people-checkin-inputs
              .display-table-cell.size-78-percent
                .row
                  .col-xs-12
                    .secondary-title = t 'search_box.checkin'
                .row.checkin-mobile
                  .col-xs-6
                    = "#{t(:date_word)}:"
                    br
                    .input-group.date-picker-inputs

                      input.js-date-picker.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="checkinDate" ng-change='setSearchDateValidity()'

                      input.hidden.cpy-checkin-date ng-model="parsedSelectedCheckinDate" name='by_checkin_date'

                  .col-xs-6
                    = "#{t(:hour)}:"
                    br
                    - array_hours = []
                    - 24.times do | i |
                      - array_hours << i
                    = select_tag 'by_checkin_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time size-100-percent', 'ng-model' => 'checkinHour'

              .display-table-cell.number-of-people-input-size
                  .up.hidden-xs.hidden-sm = "#{t(:number_of_people)}"
                  .up.hidden-md.hidden-lg = "#{t('search_box.people')}"
                  = select_tag '', options_for_select(1..99), "ng-model" => "numberOfPeople"
              

        .row.pack-size-row
          .col-xs-12
            .display-table.pack-size-table
              .display-table-cell
                .up = "#{t(:pack_size)}"
                .btn-group.pack-size
                  span.clock
                    = image_tag 'clock-light-gray.png'
                  - Offer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
                    a.btn.rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSize == #{pack_size}}" ng-click="selectedPackSize = #{pack_size}" #{pack_size}h


        .row.pack-size-hint
          .col-xs-12
            p.hint = t :period_in_which_you_are_staying_at_hotel

        .row
          .col-xs-12.text-center
            .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmit()}}"
              button.submit-disabled.cpy-disabled-search-button.btn.green.search-button disabled='disabled' ng-hide='isFormValid()'
                = t(:perform_search)

            button.cpy-search-button.ng-hide.btn.green.search-button ng-disabled='!isFormValid()' ng-show='isFormValid()'
              = t(:perform_search)
              

      .tab-pane.fade.in#meeting-rooms ng-class="{active: selectedTabRoom == 2}"
        .row
          .col-xs-12.select-hotels
            label.title#select_hotel #{t('views.affiliates.transamerica.select_hotel')}
            .row.checkin-mobile.selectize_field style="text-align: left;"
              = select_tag 'transamerica-hotels-select-hq', options_for_select(''), class: "form-control", 'ng-model' => "hotelSelected"
          .col-sm-12
            .display-table.people-checkin-inputs
              .display-table-cell.size-78-percent
                .row
                  .col-xs-12
                    .secondary-title = t 'search_box.checkin'
                .row.checkin-mobile
                  .col-xs-6
                    = "#{t(:date_word)}:"
                    br
                    .input-group.date-picker-inputs

                      input.js-date-picker.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="checkinDate" ng-change='setSearchDateValidity()'

                      input.hidden.cpy-checkin-date ng-model="parsedSelectedCheckinDate" name='by_checkin_date'

                  .col-xs-6
                    = "#{t(:hour)}:"
                    br
                    - array_hours = []
                    - 24.times do | i |
                      - array_hours << i
                    = select_tag 'by_checkin_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time size-100-percent', 'ng-model' => 'checkinHour'

              .display-table-cell.number-of-people-input-size
                  .up.hidden-xs.hidden-sm = "#{t(:number_of_people)}"
                  .up.hidden-md.hidden-lg = "#{t('search_box.people')}"
                  = select_tag '', options_for_select(1..99), "ng-model" => "numberOfPeople"
              

        .row.pack-size-row
          .col-xs-12
            .display-table.pack-size-table
              .display-table-cell
                .up = "#{t(:pack_size)}"
                .btn-group.pack-size
                  span.clock
                    = image_tag 'clock-light-gray.png'
                  - MeetingRoomOffer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
                    a.btn.rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSize == #{pack_size}}" ng-click="selectedPackSize = #{pack_size}" #{pack_size}h



        .row.pack-size-hint
          .col-xs-12
            p.hint = t :period_in_which_you_are_staying_at_hotel

        .row
          .col-xs-12.text-center
            .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmit()}}"
              button.submit-disabled.cpy-disabled-search-button.btn.green.search-button disabled='disabled' ng-hide='isFormValid()'
                = t(:perform_search)

            button.cpy-search-button.ng-hide.btn.green.search-button ng-disabled='!isFormValid()' ng-show='isFormValid()'
              = t(:perform_search)
  javascript:
    SelectMeetingRoom.init("#{@affiliate_hotels}", "#{I18n.locale}")   