- @travelers.each do | traveler |
  .row.booking-box
    .col-md-12
      .row
        h1.hotel-name = traveler.name
      .row
        .col-xs-6
          = link_to public_traveler_path(traveler), class: 'btn mini btn-primary'
            = icon_for(:plus)
            = t(:details)
        .col-xs-6
          = link_to t(:edit), edit_public_traveler_path(traveler), class: 'btn mini green cpy-confirm-booking-button'
