div ng-controller="EmktCtrl"
  = simple_form_for [:admin, emkt] do |f|

    = f.input :name_pt_br
    = f.input :emkt_type, collection: Emkt::EMKT_TYPES.collect{ | type | [t("views.admin.emkts.#{type[0]}"), type[1] ]}, prompt: false
    = f.input :activate, collection: Emkt::EMKT_ACTIVATE, prompt: false, required: true
    = f.input :country, collection: Country.order("name_#{I18n.locale}").pluck("name_#{I18n.locale}", :iso_initials)
    = f.input :city, collection: City.order(:name).pluck("name")
    = f.input :day_of_week_send, collection: Emkt::EMKT_DAY_OF_WEEK.collect{ | type | [t("views.admin.emkts.#{type[0]}"), type[1] ]}, prompt: false, required: true
    = f.input :hour_send, collection: [["04:00", 4], ["08:00", 8], ["12:00", 12], ["16:00", 16], ["20:00", 20], ["00:00", 0]], prompt: false, required: true
    = f.input :order_send, required: true

    div
      div.header
        = f.input :header, as: :file, input_html: { onchange: "angular.element(this).scope().imageUpload(event, 'header')" }
        = f.input :link_header
        = f.input :box_1, as: :file, input_html: { onchange: "angular.element(this).scope().imageUpload(event, 'box_1')" }
        = f.input :link_box_1
        = f.input :box_2, as: :file, input_html: { onchange: "angular.element(this).scope().imageUpload(event, 'box_2')" }
        = f.input :link_box_2
        = f.input :box_3_1, as: :file, input_html: { onchange: "angular.element(this).scope().imageUpload(event, 'box_3_1')" }
        = f.input :link_box_3_1
        = f.input :box_3_2, as: :file, input_html: { onchange: "angular.element(this).scope().imageUpload(event, 'box_3_2')" }
        = f.input :link_box_3_2
        = f.input :box_3_4, as: :file, input_html: { onchange: "angular.element(this).scope().imageUpload(event, 'box_3_4')" }
        = f.input :link_box_3_4
        = f.input :box_3_5, as: :file, input_html: { onchange: "angular.element(this).scope().imageUpload(event, 'box_3_5')" }
        = f.input :link_box_3_5
        = f.input :footer, as: :file, input_html: { onchange: "angular.element(this).scope().imageUpload(event, 'footer')" }
        = f.input :link_footer

    div.preview
      div.box
        img#preview_emkt_header
        img#preview_emkt_box_1
        img#preview_emkt_box_2
        img.box_3#preview_emkt_box_3_1
        img.box_3#preview_emkt_box_3_2
        img.box_3#preview_emkt_box_3_4
        img.box_3#preview_emkt_box_3_5
        img#preview_emkt_footer

    = form_submit_section
