.row
  .col-xs-12.border-box.with-padding
    h1.page-title When booking?
    .divider
    
    .row
      .col-sm-6
        .col-sm-12.text-center
          .glyphicon.glyphicon-plane.big-icon
        br
        br
        .col-sm-12
          b
            |Traveling
          ul
            li
              |To wait for a flight or appointment

            li
              |To spend only 1 night

            li
              |To come earlier or leave later

            li
              |To take a shower


      .col-sm-6
        .col-sm-12.text-center
          .glyphicon.glyphicon-home.big-icon
        .col-sm-12
          b
            |In your own city
          ul
            li
              |To spend the night away from home

            li
              |To dinner and sleep away from home

            li
              |To take a shower when you're away from home

            li
              |To enjoy the Spa, pool, gym
              
    .row
      .col-sm-12.text-center
        .box-foot
          span.colored
            span.gray> Hours of
            span.green> Hotel
            span.blue> When
            span.gray you want! 