.row
  .col-xs-12.border-box.with-padding
    h1.page-title ¿Cuando reservar?
    .divider

    .row
      .col-sm-6
        .col-sm-12.text-center
          .glyphicon.glyphicon-plane.big-icon
        br
        br
        .col-sm-12
          b
            |De Viaje
          ul
            li
              |Para esperar un vuelo, una escala o un compromiso

            li
              |Para pasar sólo 1 noche

            li
              |Para entrar más temprano o salir más tarde del hotel

            li
              |Para bañarse


      .col-sm-6
        .col-sm-12.text-center
          .glyphicon.glyphicon-home.big-icon
        .col-sm-12
          b
            |En su ciudad
          ul
            li
              |Para pasar la noche fuera de casa

            li
              |Cenar y dormir fuera de casa

            li
              |Para bañarse cuando este lejos de casa

            li
              |Aprovechar el SPA, la piscina y el gimnasio


    .row
      .col-sm-12.text-center
        .box-foot
          span.colored
            span.gray> !Horas de hotel
            span.gray ,cuando usted quiera!
