body.public-affiliate-layout

  .textwidget
    img
      width: 100%
      z-index: 100
      position: relative

  .footer_legal
    width: 100%

  .contenedor-mascara
    top: 175px !important

  .motor_reserva_config
    display: none !important

  html, * html body
    margin-top: 0px !important

  img, object, embed, video
    max-width: 100%

  .bx-caption
    display: none

  .select_hotel
    width: 220px
    height: 25px
    font-size: 17px

  h1, h2, h3, h4
    color: #00224E
    margin: 0px
    padding: 0px
    font-weight: normal
    padding-bottom: 5px

  h3
    font-weight: normal
    padding-bottom: 5px
    padding-top: 5px

  img
    border: 0

  .ie6 img
    width: 100%

  a
    color: #01244C
    
      color: #01244C
    &:hover
      color: #01244C
      font-weight: bold

  .Btn_calendario
    float: left
    margin-left: 2px
    cursor: pointer

  .Btn_reserve_ahora
    background-color: #607391
    color: #FFF
    height: 30px
    font-weight: 100
    font-size: 12px
    border: 0px
    &:hover
      background-color: #7C95BB
      color: #FFF
      height: 30px
      font-weight: 100
      font-size: 12px
      border: 0px

  ul
    color: #01244C
    padding-top: 0px
    padding-bottom: 0px
    font-size: 12px
    margin-top: 0px
    margin-bottom: 0px

  li
    color: #01244C
    font-weight: normal
    margin-bottom: 15px
    a
      color: #01244C
      font-weight: normal
      text-decoration: none

  .btn_news
    background-color: #607391
    color: #FFFFFF
    height: 30px
    font-weight: 100
    font-size: 12px
    border: 0px

  .texto_form
    color: #FFFFFF
    font-size: 12px
    line-height: 14px

  .imgtrans
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    filter: alpha(opacity = 100)
    -moz-opacity: 1
    -khtml-opacity: 1
    opacity: 1
    &:hover
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
      filter: alpha(opacity = 70)
      -moz-opacity: 0.7
      -khtml-opacity: 0.7
      opacity: 0.7

  .fondoTransparente
    position: absolute
    z-index: 9995
    top: 0px
    left: 0px
    width: 200%
    height: 200%
    background-color: #000
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"
    filter: alpha(opacity = 60)
    -moz-opacity: 0.6
    -khtml-opacity: 0.6
    opacity: 0.6

  .gridContainer
    margin-left: auto
    margin-right: auto
    width: 320px

  #header
    clear: both
    float: left
    margin-left: 0px
    margin-right: 0px
    width: 100%
    display: block

  .gridContainer2
    width: 320px
    margin: auto

  #cuerpo
    clear: both
    margin: auto
    width: 320px
    display: block
    background-color: #FFFFFF
    
  .diseno_mobile_header
    display: table
    visibility: visible

  .sub_linea_b
    background-color: #FFFFFF
    height: 1px

  .sub_linea
    background-color: #01244C
    height: 0px

  .wifi_free, .slider_html, .banderas_idioma
    visibility: hidden
    width: 0px
    display: none

  .motor_reserva
    position: absolute
    z-index: 9999
    margin-top: 0px
    margin-left: 100px !important

  #footer
    width: 320px
    margin: auto
    background-color: #00244C
    color: #FFFFFF
    padding-top: 12px
    font-size: 11px
    text-align: center
    padding-bottom: 12px

  .footer_texto_code_mobile
    width: 100%
    background-color: #00244C
    display: block

  .footer_texto_code
    width: 0
    display: none

  #widget_m1
    visibility: hidden
    width: 0px
    display: none

  #widget_m2
    width: 320px
    margin: auto
    margin-top: 0px
    padding: 0px
    color: #FFFFFF

  .contenedor_contenido
    width: 270px
    margin: auto
    padding-top: 10px
    padding-bottom: 10px

  .izquierda1
    float: left
    width: 240px
    height: 390px
    padding: 0px
    margin-top: 20px
    margin-bottom: 20px

  .izquierda1_wg_footer, .derecha_wg_footer
    margin-top: 10px

  .contenedor_wg_footer
    padding-bottom: 5px
    padding-top: 5px
    background-color: #00244C
    color: #FFFFFF
    ul li
      color: #FFFFFF
      font-weight: normal
      margin-bottom: 15px
    a
      color: #FFFFFF
      font-size: 11px

  .contenedor_ppal
    width: 320px
    margin: auto
    padding-top: 10px
    background-color: #FFFFFF

  .columna_izq
    float: left
    width: 320px
    color: #4D4D4D
    background-color: #FFFFFF
    text-align: center

  .columna_izq_hotelesdestinos_espacio
    margin-top: 15px

  .columna_izq_hotelesdestinos_izq, .columna_izq_hotelesdestinos_der
    width: 320px
    float: left
    margin: auto
    margin-top: 15px

  .columan_der
    float: left
    width: 300px
    color: #4D4D4D
    padding: 10px
    background-color: #FFFFFF

  @media only screen and (min-width: 500px)
    .gridContainer
      width: 100%
      padding: 0px
      margin: 0px
      margin: auto
    #header
      clear: both
      float: left
      margin-left: 0
      width: 100%
      display: block
      background-color: #FFFFFF
      padding-bottom: 0px
    .gridContainer2
      width: 100%
      padding: 0
      margin: 0
      background-color: #FFFFFF
    #cuerpo
      clear: both
      margin: 0px
      width: 100%
      display: block
      padding: 0px
    .diseno_header
      visibility: visible !important
      display: table !important
    .diseno_mobile_header
      visibility: hidden
      width: 0px
      display: none
    .buscardor
      float: left
      height: 19px
      font-size: 10px
      color: #A7B3C1
      font-style: italic
      width: 165px
    .content-area
      width: 100%
      padding: 0px
      padding-top: 0px
      margin: auto
    #footer
      width: 100%
      margin: auto
      background-color: #00244C
      color: #FFFFFF
      padding-top: 12px
      font-size: 11px
      text-align: center
      padding-bottom: 12px
    .footer_texto_code
      width: 100%
      background-color: #00244C
      display: block
    .footer_texto_code_mobile
      width: 0
      display: none
    #widget_m1
      width: 100%
      margin: auto
      background-color: #FFF
      margin-top: 0px
      padding: 0px
      padding-top: 10px
      color: #000
      visibility: visible
      display: block
    #widget_m2
      width: 100%
      margin: auto
      margin-top: 0px
      padding: 0px
      color: #FFFFFF
    .contenedor_contenido
      width: 1002px
      margin: 0px
      padding: 0px
      min-height: 385px
      margin: auto
      margin-top: 20px
      padding: 0px
      padding-bottom: 15px
    .titulo_home
      width: 1000px
      margin: auto
      margin-top: 12px
      margin-bottom: 15px
      img
        margin-left: 250px
    .izquierda1
      float: left
      width: 240px
      height: 385px
      padding: 0px
      margin: 0px
    .derecha
      float: left
      padding: 0px
      margin: 0px
      width: 240px
      margin-left: 12px
      max-height: 385px
    .derechaAval
      float: left
      padding: 0px
      margin: 0px
      width: 240px
      margin-left: 12px
      height: auto
    .verde
      color: #01244C
      &:hover
        color: #80981f
    .azul
      color: #01244C
      &:hover
        color: #2380a2 !important
    .rojo
      color: #01244C
      &:hover
        color: #a31633
    .internas
      padding: 0px
      margin: 0px
      width: 240px
      height: 180px
      margin-top: 0px
      padding-top: 0px
    .espacio_fila
      height: 25px
    .contenedor_wg_footer
      width: 100%
      padding-left: 42px
      padding-right: 42px
      border: 0px
      height: 80px
      /* margin: auto;
      color: #FFFFFF
      background-color: #00244C
    .izquierda1_wg_footer
      float: left
      width: 270px
      height: 80px
      padding: 0px
      color: #FFFFFF
    .derecha_wg_footer
      float: left
      width: 270px
      height: 80px
      margin-left: 35px
      padding: 0px
      color: #002549
    .sub_linea
      background-color: #01244C
      height: 1px
    .contenedor_ppal
      width: 1005px
      margin: auto
      padding-top: 50px
      padding-bottom: 30px
      background-color: #FFFFFF
      height: auto
    .columna_izq
      float: left
      width: 495px
      color: #4D4D4D
      padding-bottom: 20px
      background-color: #FFFFFF
    .columna_izq_hotelesdestinos_espacio
      margin-top: 15px !important
    .columna_izq_hotelesdestinos_izq
      width: 245px
      float: left
      margin-top: 0px
      padding-top: 0px
      img
        max-width: 240px
    .columna_izq_hotelesdestinos_der
      width: 245px
      float: left
      margin-left: 4px
      margin-top: 0px
      padding-top: 0px
      img
        max-width: 240px
    .columan_der
      float: left
      width: 495px
      margin-left: 15px
      color: #4D4D4D
      padding: 0px
      padding-bottom: 20px
    .wifi_free
      display: none
      visibility: visible
      position: absolute
      z-index: 99
      margin-top: -55px
      margin-left: 390px
      width: 130px
    .slider_html
      display: table
      visibility: visible
      position: absolute
      z-index: 1
      margin-top: -398px
      margin-left: 40px
      width: 1198px
      padding: 0px
    .banderas_idioma
      display: table
      visibility: visible
      position: absolute
      z-index: 10
      margin-top: -500px
      margin-left: 1022px
      width: 110px
      padding: 0px
    .motor_reserva
      position: absolute
      z-index: 9999
      margin-top: 0px
      margin-left: 100px !important
    .icono-sinmotor
      position: absolute
      z-index: 9999
      margin-top: -495px
      margin-left: 100px !important

  @media (min-width: 200px) and (max-width: 767px)
    .motor_reserva_config
      display: none
      visivility: hidden