.multiplus ng-init='regulation = false'
  .description
    h1.multiplus-title Participe en el programa de fidelización Multiplus en alianza con HotelQuando!

  .logos
    .multiplus-box = image_tag 'multip.png', class: 'multiplus-image'
    = icon_for(:plus)
    .hq-box = image_tag 'logo_esp.png', class: 'hq-image'

  .description
    p
      | Gane
      span.gray
        |  1 punto Multiplus
      |  para cada 
      span.gray
        |  R$ 1,00 gastado en nuestra plataforma

  .regulation
    h1.regulation-title Reglamento de la Asociación
    h2.regulation-subtitle Reglas para la acumulación de puntos
    p.description <strong>1.</strong> Su número Multiplus obligatoriamente debe ser insertado en el campo designado en el momento de la compra para realizar la puntuación
    p.description <strong>2.</strong> Se concederá 1 punto para cada R$ 1,00 gastado en nuestra plataforma
    p.description <strong>3.</strong> Los puntos se concederán en un máximo de 15 días hábiles después de la fecha de salida de su reserva
    p.description <strong>4.</strong> Es imprescindible que el usuario sea registrado en el programa Multiplus para que los puntos sean acumulados
    p.description <strong>5.</strong> No se concederá los puntos en los casos en que el registro realizado en el programa Multiplus haya sido hecho posteriormente a la solicitud realizada en nuestro sitio
    p.description <strong>6.</strong> Si tiene alguna duda, visite nuestra sección de atención al cliente y póngase en contacto con nosotros
