.footer.margin-horizontal
	.pull-left
		= link_to image_tag('palmleaf/logo-footer-palmleaf.png')
	.pull-left.credits
		| © 2018 Copyright by Bhaisa Group. All rights reserved.
	.pull-right.palmleaf-facebook
		a href="https://www.facebook.com/palmleafhotels" 
		
		= link_to image_tag('palmleaf/facebook-rounded.png'), "https://www.facebook.com/palmleafhotels", id: "logo", target: "blank"