@media (max-width: 768px)
  .public-affiliate-layout.public-affiliate-hotel-controller.index-action
    .panel-body
      padding: 0
      h3.filter-title
        display: none
      .filter-wrapper
        padding: 0 5px
        .form-group
          margin: 5px 0
          select, input, .distance-input, .money-input, .form-buttons
            height: 30px
          .btn, .clear-filters
            padding: 0
          button.btn.small.green
            width: 100%
            font-size: 12px
            height: inherit
        .form-group.stars
          select
            margin-top: 5px
