/! Begin MailChimp Signup Form
link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css" /
css:
  #mc_embed_signup background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  
  /!* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     | We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
#mc_embed_signup.hidden
  form#mc-embedded-subscribe-form.validate action="https://hotelquando.us17.list-manage.com/subscribe/post?u=5ae43fb23da02f1aa9e9ee842&amp;id=04c648c060" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank" data-remote="true"
    #mc_embed_signup_scroll
      .mc-field-group
        label for="mce-LNAME"  Name
        input#mce-LNAME name="LNAME" type="text" value="" /
      .mc-field-group
        label for="mce-EMAIL" 
          | Email
        input#mce-EMAIL.required.email name="EMAIL" type="email" value="" /
      .mc-field-group
        label for="mce-MMERGE8"  Cidade
        input#mce-MMERGE8 name="MMERGE8" type="text" value="" /
      .mc-field-group
        label for="mce-MMERGE1"  Idioma
        input#mce-MMERGE1 name="MMERGE1" type="text" value="#{locale.to_s}" /
      .mc-field-group
        label for="mce-MMERGE6"  Reserva
        input#mce-MMERGE6 name="MMERGE6" type="text" value="não" /
      #mce-responses.clear
        #mce-error-response.response style="display:none" 
        #mce-success-response.response style="display:none" 
      /! real people should not fill this in and expect good things - do not remove this or risk form bot signups
      div aria-hidden="true" style=("position: absolute; left: -5000px;") 
        input name="b_5ae43fb23da02f1aa9e9ee842_04c648c060" tabindex="-1" type="text" value="" /
      .clear
        input#mc-embedded-subscribe.button name="subscribe" type="submit" value="Subscribe" /
script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
/! End mc_embed_signup
