<%- if params[:paginate_bookings] %>
  $('.js-modal-bookings').html("<%= escape_javascript(render '/layouts/hotel/components/bookings_modal', bookings: @bookings )%>");
<% elsif params[:paginate_no_shows] %>
  $('.js-modal-no-shows').html("<%= escape_javascript(render '/layouts/hotel/components/no_shows_modal', no_shows: @no_shows )%>");
<% end %>