= header_section(right_links: '', title: t('views.hotel.reports.reports_title'))

- if @bookings.any? || @no_shows.any?
  = panel_section(name: t('views.hotel.reports.summary'), class: 'widget-box') do
    .row
      .col-sm-6

        = render partial: "/hotel/reports/index/bookings_info"

        - if @bookings.any?
          .row
            .col-sm-12.text-center
              a href="" data-toggle='modal' data-target='.js-modal-bookings' #{t('views.hotel.reports.view_confirmed_reservations')}

        = render partial: "/hotel/reports/index/no_shows_info"

        - if @no_shows.any?
          .row
            .col-sm-12.text-center
              a href="" data-toggle='modal' data-target='.js-modal-no-shows' #{t('views.hotel.reports.view_no_sows')}

      .col-sm-6.cpy-totalizing
        = render partial: "/hotel/reports/index/totals_info"

  = render partial: "/hotel/reports/index/stats", locals: { income_per_pack: @income_per_pack }

  .modal.large.fade.js-modal-bookings.cpy-bookings-list
    = render partial: "/layouts/hotel/components/bookings_modal", locals: { bookings: @bookings }

  .modal.large.fade.js-modal-no-shows.cpy-no-shows-list
    = render partial: "/layouts/hotel/components/no_shows_modal", locals: { no_shows: @no_shows }

- else
  .alert.alert-info
    | #{t('views.hotel.reports.hotel_has_no_reservations_or_no_shows_to_generate_report')}
