.row
  - if session[:last_path] && (((session[:last_path].split('/').include?('reservas')) && (/novo/ === session[:last_path])) || ((session[:last_path].split('/').include?('bookings')) && (/new/ === session[:last_path])))
    .col-sm-12
      = render partial: "/public_affiliate/sessions/new/booking_flux_login_page"
  - else
    .col-sm-12.with-padding-bottom
      = render partial: "/public_affiliate/sessions/new/login_page"
