@media (max-width: 768px)
  .public-affiliate-bookings-controller.show-action
    .border-box, .container.with-padding-top > .row:first-child > div:first-child
      padding: 0 10px
      h2.page-title
        font-size: 21px
        letter-spacing: 2px
        text-align: center
        margin: 10px 0
      .room-mini-description
        font-size: 15px
        margin: 10px
      .booking-information
        h3.description-title
          font-size: 16px
        .attribute-title
          font-size: 12px
          text-align: left
        .price-attribute-title
          margin-bottom: 8px
          width: 100%
        .display-table-cell
          display: block
        .display-table
          margin: 0
        .booking_tax
          width: 100%
        .price-content
          text-align: left
          clear: both
          margin: 0 0 10px 5px
          width: 100%
        .status-value
          width: 100%
      a.btn
        margin-bottom: 10px
