.row ng-controller="SignUpCtrl"
  .col-md-10.col-md-offset-1.col-xs-12
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      .form-group.name.public_user_name
        .row
          .col-xs-4
            .attribute-title.text-right
              => "#{t(:name)}:"
          .col-xs-8
            input class="string name  form-control" id="sign-up-public_user_name" name="public_user[name]" type="name" value="#{params[:user_input] ? params[:user_input][:name] : ''}"

      .form-group.email.public_user_email
        .row
          .col-xs-4
            .attribute-title.text-right
              => 'E-mail:'
          .col-xs-8
            input class="string email js-email-with-suggestion form-control" id="sign-up-public_user_email" name="public_user[email]" type="email" value="#{params[:user_input] ? params[:user_input][:email] : ''}"

      / .form-group.city.public_user_city
      /   .row
      /     .col-xs-4.text-right
      /       label.country.control-label.attribute-title for="public_user_address"
      /         => "#{t(:address)}"
      /     .col-xs-8
      /       input class="string city optional form-control" id="autocomplete" name="public_user[address]" placeholder=""

      .form-group.city.public_user_country
        .row
          .col-xs-4.text-right
            label.country.control-label.attribute-title for="public_user_country"
              => "#{t(:country)}"
          .col-xs-8
            = select_tag :country, options_from_collection_for_select(Country.all.order("name_#{I18n.locale}"), :iso_initials, "name_#{I18n.locale}"), class: "string city form-control", name: "public_user[country]",prompt: t(:enter_your_country)
      .form-group.city.public_user_city
        .row
          .col-xs-4.text-right
            label.city.control-label.attribute-title for="public_user_city"
              = t(:city)
          .col-xs-8
            input class="string city form-control" id="autocomplete" name="public_user[city]" type="city" value="#{params[:public_user] ? params[:public_user][:city] : ''}" placeholder=""
      .hide id="address_hide"

        .form-group.city.public_user_state
          .row
            .col-xs-4.text-right
              label.state.control-label.attribute-title for="public_user_state"
                => "#{t(:state)}"
            .col-xs-8
              input class="string state form-control" id="administrative_area_level_1" name="public_user[state]"


        .form-group.street.public_user_street
          .row
            .col-xs-4.text-right
              label.street.control-label.attribute-title for="public_user_street"
                = t(:street)
            .col-xs-5
              input class="string street form-control" id="route" name="public_user[street]" type="street" value="#{params[:public_user][:street] if params[:public_user]}"

            .col-xs-3
              input class="string number form-control" id="street_number" name="public_user[number]" type="number" value="#{params[:public_user][:number] if params[:public_user]}"

        .form-group.postal-code.public_user_postal_code
          .row
            .col-xs-4.text-right
              label.postal_code.control-label.attribute-title for="public_user_postal_code"
                = t(:postal_code)
            .col-xs-8
              input class="string postal-code form-control" id="postal_code" name="public_user[postal_code]" type="postal_code" value="#{params[:public_user][:postal_code] if params[:public_user]}"

      .form-group.password.public_user_password
        .row
          .col-xs-4
            .attribute-title.text-right
              => "#{t(:password)}:"
          .col-xs-8
            input.password.form-control id="sign-up-public_user_password" name="public_user[password]" type="password"

      .form-group.password_confirmation.public_user_password_confirmation
        .row
          .col-xs-4
            .attribute-title.text-right
              => "#{t(:password_confirmation)}:"
          .col-xs-8
            input.password_confirmation.form-control id="sign-up-public_user_password_confirmation" name="public_user[password_confirmation]" type="password"


      .form-group.password_confirmation.public_user_password_confirmation
        .row
          .col-xs-4
            .attribute-title.text-right
              => "#{t('users.locale')}:"
          .col-xs-8
            .locale
              = select_tag 'public_user_locale', options_for_select(User::ACCEPTED_LOCALES.collect{ | locale | [locale[1],locale[0]]}), name: 'public_user[locale]'

      .form-actions.text-center
        button.pill.green.big.booking-flux-submit-button.sign-up-button.cpy-submit-registration-button name="commit" type="submit"
          = t(:register)

    link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css" /
    css:
      #mc_embed_signup background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  
      /!* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         | We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    #mc_embed_signup.hidden
      form#mc-embedded-subscribe-form.validate action="https://hotelquando.us17.list-manage.com/subscribe/post?u=5ae43fb23da02f1aa9e9ee842&amp;id=04c648c060" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank" data-remote="true"
        #mc_embed_signup_scroll
          .mc-field-group
            label for="mce-LNAME"  Name
            input#mce-LNAME name="LNAME" type="text" value="" /
          .mc-field-group
            label for="mce-EMAIL" 
              | Email
            input#mce-EMAIL.required.email name="EMAIL" type="email" value="" /
          .mc-field-group
            label for="mce-MMERGE8"  Cidade
            input#mce-MMERGE8 name="MMERGE8" type="text" value="" /
          .mc-field-group
            label for="mce-MMERGE1"  Idioma
            input#mce-MMERGE1 name="MMERGE1" type="text" value="#{locale.to_s}" /
          #mce-responses.clear
            #mce-error-response.response style="display:none" 
            #mce-success-response.response style="display:none" 
          /! real people should not fill this in and expect good things - do not remove this or risk form bot signups
          div aria-hidden="true" style=("position: absolute; left: -5000px;") 
            input name="b_5ae43fb23da02f1aa9e9ee842_04c648c060" tabindex="-1" type="text" value="" /
          .clear
            input#mc-embedded-subscribe.button name="subscribe" type="submit" value="Subscribe" /
    script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"


javascript:

  (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';}(jQuery));var $mcj = jQuery.noConflict(true);

  $('form#new_public_user').on('submit', function(e) {
    var name = $('input[name="public_user[name]"]');
    var email = $('input[id="sign-up-public_user_email"]');
    var city = $('input[name="public_user[city]"]');
    $('input[name="LNAME"]').val(name.val());
    $('input[name="EMAIL"]').val(email.val());
    $('input[name="MMERGE8"]').val(city.val());
    $('form#mc-embedded-subscribe-form').submit()
  });
