.row
  .col-md-10.col-md-offset-1
    .login-site
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .form-group.email.public_user_email
          .col-xs-12
            span.input-icon.input-icon-right.col-sm-12
              input class="string email optional form-control" id="sign-in-public_user_email" name="public_user[email]" type="email" value=""  placeholder='Email'
        .form-group.password.public_user_password
          .col-xs-12
            span.input-icon.input-icon-right.col-sm-12
              input.password.optional.form-control id="sign-in-public_user_password" name="public_user[password]" type="password"  placeholder="#{t(:password)}" class='form-control string password'
        .row
          .col-xs-12
            .login-options
              label
                input id='public_user_remember_me' name="public_user[remember_me]" type="checkbox" value="1" class="pull-left lowercase"
                span.label
                  = t(:remember_me)
              = link_to t(:forgot_your_password), new_password_path(resource_name), class: "pull-right lowercase", id: "public_user_forgot_your_password"

        .form-actions.text-center
          button.pill.green.big.booking-flux-submit-button.cpy-submit-login-button name="commit" type="submit"
            span.sign-in
              = t(:sign_in)
