= render partial: "/public/shared/booking/booking_registration_header", locals: { step: :sessions }

.booking-flux
  - if flash[:alert]
    - if flash[:alert] == I18n.t('devise.failure.unauthenticated')
      p.alert.alert-info
        = flash[:alert]
    - else
      p.alert.alert-danger
        = flash[:alert]

  - if devise_error_messages!.present?
    .alert.alert-danger.errors_container
      b
        = t(:please_review_the_problems_below)
      br
      = devise_error_messages!
  .row
    - if mobile_device?
      div.tabs role="tabpanel"
        ul.nav.nav-tabs role="tablist"
          li role="presentation" class="#{'active' if params['tab'] != 'signup'}"
            a href="#login" aria-controls="login" role="tab" data-toggle="tab"
              = t(:already_registered)
          li role="presentation" class="#{'active' if params['tab'] == 'signup'}"
            a href="#register" aria-controls="register" role="tab" data-toggle="tab"
              = t(:arent_registered_yet)

      .tab-content
        div role="tabpanel" class="tab-pane fade #{'active in' if params['tab'] != 'signup'}" id="login"
          .col-xs-12
            = render partial: "/public/sessions/new/booking_flux_login_form"
        div role="tabpanel" class="tab-pane fade #{'active in' if params['tab'] == 'signup'}" id="register"
          .col-xs-12
            = render partial: "/public/sessions/new/booking_flux_sign_up_form"
    - else
      .col-sm-6
        h2.text-center
          = t(:already_have_an_account)
        p.explanation.text-center
          = t(:sign_in_to_proceed) + '.'
        = render partial: "/public/sessions/new/booking_flux_login_form"
      .col-sm-6
        h2.text-center
          = t(:dont_have_an_account)
        p.explanation.text-center
          = t(:sign_up_in_a_simple_way_to_create_your_booking) + '.'
        = render partial: "/public/sessions/new/booking_flux_sign_up_form"

