.row
  -if mobile_device?
    div.tabs role="tabpanel"
      ul.nav.nav-tabs role="tablist"
        li role="presentation" class="active"
          a href="#login" aria-controls="login" role="tab" data-toggle="tab"
            = t(:already_registered)
        li role="presentation"
          => link_to t(:arent_registered_yet), new_registration_path(resource_name)

  .tab-content
    div role="tabpanel" class="tab-pane fade in active" id="login"
      .login-site
        .col-md-6.col-md-offset-3.with-padding.login-form
          = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
            - if flash[:alert]
              - if flash[:alert] == I18n.t('devise.failure.unauthenticated')
                p.alert.alert-info
                  = flash[:alert]
              - else
                p.alert.alert-danger
                  = flash[:alert]
            - if devise_error_messages!.present?
              .alert.alert-danger.errors_container
                b
                  = t(:please_review_the_problems_below)
                br
                = devise_error_messages!

            .form-group.email.public_user_email
              .col-sm-12
                span.input-icon.input-icon-right.col-sm-12
                  input class="string email optional form-control" id="public_user_email" name="public_user[email]" type="email" value=""  placeholder='Email'
            .form-group.password.public_user_password
              .col-sm-12
                span.input-icon.input-icon-right.col-sm-12
                  input.password.optional.form-control id="public_user_password" name="public_user[password]" type="password"  placeholder="#{t(:password)}" class='form-control string password'
            .row
              .col-sm-12
                .login-options
                  label
                    input id='public_user_remember_me' name="public_user[remember_me]" type="checkbox" value="1" class="pull-left lowercase"
                    span.label
                      = t(:remember_me)
                  = link_to t(:forgot_your_password), new_password_path(resource_name), class: "pull-right lowercase", id: "public_user_forgot_your_password"


            button name="commit" type="submit" class="pill green big cpy-submit-button"
              span.sign-in
                = t(:sign_in)
            .row.hidden-xs.hidden-sm
              .col-sm-12
                .register-link.text-center
                  p = t(:arent_registered_yet)
                  p
                    => link_to t(:click_here), new_registration_path(resource_name)
                    span = t(:to_make_an_new_account).downcase + '.'

