@media (max-width: 768px)
  .public-affiliate-users-controller
    form
      .form-group
        margin-bottom: 0
        .big-input
          width: 100%
        .medium-input
          width: 50%
          display: inline-block

      .divider
        margin-bottom: 20px
