.row.paint-area.paint-area--text.colortextFooter.footer-total-hotel data-class="colortextFooter" 
  .col-md-4.col-sm-4
    h4.title 
      =t('views.affiliates.total_hotel.contact')
    p
      | Total Hotel
      br/
      | João Teodoro, 1200 -
      br/
      | São Paulo - SP
      br/
      | Cep: 03009-000
      br/
      b =t('views.affiliates.total_hotel.telephone')
      | (11) 4373-7000
      br/
      b WhatsApp:
      | (11) 994176275
      br/
      b =t('views.affiliates.total_hotel.opening_hours') 
      =t('views.affiliates.total_hotel.hour') 
      br/
      b E-Mail:
      a.paint-area.paint-area--text.colortextFooter data-class="colortextFooter" href="mailto:reservas5@totalhotel.com.br"  reservas5@totalhotel.com.br
  .col-md-4.col-sm-4
    h4.title Social
    ul.social-icons.clearfix.remove-bullet
      li.facebook
        a.paint-area.paint-area--text.colortextFooter data-class="colortextFooter" data-original-title="facebook" data-toggle="tooltip" href="https://www.facebook.com/TotalHotelOficial/" target="_blank" title="" 
          i.fa.fa-facebook.colortextFooter aria-hidden="true" 
          |     Facebook
      li.instagram
        a.paint-area.paint-area--text.colortextFooter.social data-class="colortextFooter" data-original-title="instagram" data-toggle="tooltip" href="https://www.instagram.com/totalhoteloficial/" target="_blank" title="" 
          i.fa.fa-instagram.colortextFooter aria-hidden="true" 
          |     Instagram
  .col-md-4.col-sm-4
    h3 © Total Hotel 2018
    p
      =t('views.affiliates.total_hotel.this_is_a_product')
      a.paint-area.paint-area--text.colortextFooter data-class="colortextFooter" href="http://seusite.tur.br/" target="_blank" 
        b Seusite.tur.br
      br/
      =t('views.affiliates.total_hotel.property')
      a.paint-area.paint-area--text.colortextFooter data-class="colortextFooter" href="https://www.yupptech.com.br/" target="_blank" 
        img alt="YuppTech" src="https://d58cwp4nx081j.cloudfront.net/imagens/logos/yupptech/iconyupptech.png" /
