.hotel-bookings-controller.index-action,
.hotel-bookings-controller.rooms-action,
.hotel-bookings-controller.meeting-rooms-action,
.hotel-bookings-controller.event-rooms-action
  .widget-box
    margin-bottom: 15px

  .filter
    margin-bottom: 30px

    .btn
      margin-top: 20px


    .room-type-checkbox
      margin-right: 5px
