.hotel-bookings-controller.show-action
  .attributes-wrapper
    *
      margin-top: 10px

    &.booking_guest_email
      .content
        word-wrap: break-word

  .booking-actions
    .btn
      margin-left: 15px

  .booking-action-result
    margin-top: 30px
