.filter-wrapper
  .row
    .col-sm-12
      .box
        h3.center.filter-title
          = t(:filter).upcase
        .form-group.max-distance
          .row
            .col-xs-12
              label
                = t(:max_distance)
            .col-xs-12
              .distance-input.text-center
                = text_field_tag 'by_max_distance', '', class: 'size-100-percent js-mask-float-without-unit js-maximum-distance form-control', maxlength: '5'
                .distance-sign
                  | KM

        .form-group.min-price
          .row
            .col-xs-12
              label
                = t(:min_price)
            .col-sm-12
              .money-input.text-center
                .monetary-sign = current_currency.money_sign
                input.form-control.min-price.js-mask-float-without-unit.js-minimum-price maxlength='12'

        .form-group.max-price
          .row
            .col-xs-12
              label
                = t(:max_price)
            .col-xs-12
              .money-input.text-center
                .monetary-sign = current_currency.money_sign
                input.form-control.max-price.js-mask-float-without-unit.js-maximum-price maxlength='12'
              / = text_field_tag 'by_min_price', '', class: 'size-100-percent js-mask-money js-minimum-price form-control', maxlength: '11'
        .form-group.stars
          .row
            .col-xs-12
              - select_options = (1..5).collect { | number_of_stars | ["#{number_of_stars} #{t(:stars)}", number_of_stars] }
              - select_options[0] = ["1 #{t(:star)}", 1]
              - select_options.unshift([t(:all_female), 'all'])
              = select_tag 'by_hotel_category', options_for_select(select_options, select_options.first), class: 'size-100-percent js-hotel-category form-control'

        .form-group.form-buttons
          .row
            .col-xs-5
              .clear-filters.text-center
                a.link.dark-red ng-click='removeFilters()'
                  = t(:clear)
            .col-xs-7
              button.btn.small.btn-success ng-click='filterSearchResults()'
                = t(:filter)

