.search-informations-wrapper
  .row
    .col-md-12
      .box
        h3.searched-title.center.hidden-xs.hidden-sm
          = t(:searched).upcase
        .row
          .address-searched.searched.col-xs-12
            h4 = t(:address)
            p  = params[:by_address]
          .check-in-searched.searched.col-md-12.hidden-xs.hidden-sm
            h4 = t(:checkin)
            p = l(params[:by_checkin_date].to_date) + ' ' + t(:at) + ' ' + params[:by_checkin_hour] + ':00'
        .pack-searched.searched
          .row
            .check-in-searched.searched.col-xs-4.hidden-md.hidden-lg
              h4 = t(:checkin)
              p = l(params[:by_checkin_date].to_date, format: :short_d) + ' ' + t(:at) + ' ' + params[:by_checkin_hour] + ':00'
            .col-xs-4.col-md-6
              h4 = t(:pack)
              p = params[:by_pack_length] + ' ' + (params[:by_pack_length].eql?("1") ? t(:hour).downcase : t(:hours))
            .col-xs-4.col-md-6
              h4 = t(:people)
              p = params[:by_number_of_people]

      = link_to t(:new_search) , public_affiliate_root_path, class: "text-center pill medium white hidden-xs hidden-sm"