css:
  .header{
    background-color: #{affiliate.header_color if affiliate.header_color} !important
  }
  .main-menu-mobile{
    background-color: #{affiliate.header_color if affiliate.header_color} !important;
    border-color: #{affiliate.header_color if affiliate.header_color} !important
  }
  .arrow-up:after{
    border-bottom-color: #{affiliate.search_box_button_color if affiliate.search_box_button_color} !important
  }
  .menu-wrapper span.current{
    color: #{affiliate.header_text_color if affiliate.header_text_color} !important
  }
  .btn-success, .custom-success, .sign-up-button, .submit-button, .distance-input, .money-input, .search-button, .how-it-works-btn, a.green, button.green{
    border-color: #{affiliate.search_box_button_color if affiliate.search_box_button_color} !important;
    background-color: #{affiliate.search_box_button_color if affiliate.search_box_button_color} !important;
    color: #{affiliate.search_box_button_text_color if affiliate.search_box_button_text_color} !important
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0px !important;
    color: #{affiliate.search_box_text_color if affiliate.search_box_text_color} !important;
    background-color: #{affiliate.search_box_color if affiliate.search_box_color}a6 !important;
  }
  .online_reservation_box a{
    border: 0px !important;
    background-color: #{affiliate.search_box_button_color if affiliate.search_box_button_color}a6 !important;
    color: #{affiliate.search_box_button_text_color if affiliate.search_box_button_text_color} !important
  }
  .public-affiliate-home-controller.index-action .tab-content.tab-content-custom.any-time{
    background-color: #{affiliate.search_box_color if affiliate.search_box_color}a6 !important;
    color: #{affiliate.search_box_text_color if affiliate.search_box_text_color} !important
  }
  .public-affiliate-home-controller.index-action .tab-content.tab-content-custom.any-time_meeting_room{
    background-color: #{affiliate.search_box_color if affiliate.search_box_color}a6 !important;
    color: #{affiliate.search_box_text_color if affiliate.search_box_text_color} !important
  }
  .people button, .checkin-hour button{
    color: #{affiliate.search_box_text_color if affiliate.search_box_text_color} !important
  }
  .search-form-hotel {
    background-color: #{affiliate.search_box_color if affiliate.search_box_color} !important;
    color: #{affiliate.search_box_text_color if affiliate.search_box_text_color} !important
  }
  .search-form-hotel label{
    color: #{affiliate.search_box_text_color if affiliate.search_box_text_color} !important
  }
  .meeting-room-hotel-chain-action .tab-pane {
    background-color: #{affiliate.search_box_color if affiliate.search_box_color}a6 !important;
    color: #{affiliate.search_box_text_color if affiliate.search_box_text_color} !important
  }
  .public-affiliate-hotel-controller.show-action .tab-pane {
    background-color: #{affiliate.search_box_color if affiliate.search_box_color} !important;
    color: #{affiliate.search_box_text_color if affiliate.search_box_text_color} !important
  }
  @media (max-width: 768px){
    .tab-pane{
      background-color: transparent !important;
      color: black !important
    }
    .arrow-right{
      background-color: white !important;
      color: #{affiliate.search_box_button_color if affiliate.search_box_button_color} !important;
    }

    .nav.nav-tabs.customized > li.active a{
      background-color: transparent!important;
      color: #555555 !important;
      background-color: white !important;
      border: 1px solid #dddddd !important ;
      border-bottom-color: transparent !important;
      cursor: default !important;
    }
	  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	    background-color: #{affiliate.search_box_color if affiliate.search_box_color} !important;
	  }
	  .online_reservation_box a{
	    background-color: #{affiliate.search_box_button_color if affiliate.search_box_button_color} !important;
	  }

  }
- if affiliate.photos.where(is_main: false, title_pt_br: "quartos").present? 
  css:
    .search-hotels-wrapper.any-time-rooms-background, .image-room-category.any-time-rooms-background {
      background-image: url("#{affiliate.background_bedroom_photo_url}") !important;
    }
- if affiliate.photos.where(is_main: false, title_pt_br: "salas").present? 
  css:
    .search-hotels-wrapper.any-time-meeting-rooms-background, .image-room-category.meeting-rooms-background {
      background-image: url("#{affiliate.background_meetingroom_photo_url}") !important;
    }