css:
  #footer{
    background-color: #{@affiliate.footer_color if @affiliate.footer_color} !important;
    color: #{@affiliate.footer_text_color if @affiliate.footer_text_color} !important
  }
.col-xs-12#footer
  .col-sm-6.text-center
    .row
      i.glyphicon.glyphicon-earphone
    .row
      .phonenum = @affiliate.phone_number
    .row
      .email
        a.track-email href="mailto:#{@affiliate.sign_email}" 
          | #{@affiliate.sign_email}
  .col-sm-6.text-center
    .row
      i.glyphicon.glyphicon-map-marker
    .row
      .address
        | #{@affiliate.hotel.street}, #{@affiliate.hotel.number}  #{@affiliate.hotel.complement}
    .row
      .city
        | #{@affiliate.hotel.city.name}, #{@affiliate.hotel.state}, #{@affiliate.hotel.cep}, #{@affiliate.hotel.country}
