ruby:
  # we must keep in here because there are some controllers in the public area that doen'st inherit from public::base
  
  if @affiliate.accepts_all_tab_room
    @room_category = 3
  elsif @affiliate.accepts_only_rooms
    @room_category = 3
  elsif @affiliate.accepts_only_meeting_rooms
    @room_category = 2
  else
    @room_category = params[:room_category]
  end

  ng_init_for_search_form = if last_search_log
    # 0 - day
    # 1 - month
    # 2 - year
    date_parts = last_search_log.checkin_date.split("/")
    english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
    length_of_pack = last_search_log.room_category == 1 ? 12 : last_search_log.length_of_pack
    checkin_hour = (last_search_log.room_category == 1 && last_search_log.checkin_hour < 18) ? 18 : last_search_log.checkin_hour
    checkout_hour = checkin_hour + length_of_pack
    checkout_date = ''
    if checkout_hour >= 24
      checkout_hour -= 24
    end

    %Q{
      checkinDate = '#{I18n.locale == :en ? english_date_format : params[:by_checkin_date]}';
      parsedSelectedCheckinDate = '#{params[:by_checkin_date]}';
      checkinHour = #{params[:by_checkin_hour] || 0};
      numberOfPeople = #{params[:by_number_of_people] || 1};
      selectedPackSize = '#{@room_category == 2 ? 1 : 3}';
      selectedTabRoom = #{@room_category};
    }.squish
  else
    ng_init_for_search_form =

      if params[:by_checkin_date].present?
        date_parts = params[:by_checkin_date].split("/")
        english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
      else
        english_date_format = ""
      end
      %Q{
        checkinDate = '#{I18n.locale == :en ? english_date_format : params[:by_checkin_date]}';
        parsedSelectedCheckinDate = '#{params[:by_checkin_date]}';
        checkinHour = #{params[:by_checkin_hour] || 0};
        numberOfPeople = #{params[:by_number_of_people] || 1};
        selectedPackSize = '#{@room_category == 2 ? 1 : 3}';
        selectedTabRoom = #{@room_category};
      }.squish
  end

.search-hotels-wrapper
  .col-md-12
    .slideOutTab
      .hidden 
        input type="checkbox" name="toggle" id="toggle"
      .how-it-works-content.text-center
        .col-md-4
          .service-box
            h2 = t :you_decide_when_check_into_the_hotel
            .image = image_tag('calendar-and-clock-blue.png')
            p.description = t :you_decide_when_check_into_the_hotel_description
        .col-md-4
          .service-box
            h2 = t :you_decide_how_many_hours_you_need
            .image = image_tag('clock-blue.png')
            p.description = t :you_decide_how_many_hours_you_need_description
        .col-md-4
          .service-box
            h2 = t :pay_a_fair_price
            .image = image_tag('preco-justo-blue.png')
            p.description = t :pay_a_fair_price_description
      .how-it-works-btn
        .row
          .arrow-up-or-down.glyphicon.glyphicon-chevron-up
        .row
          span Como funciona?
    .search-box.js-headline-search
      = form_tag public_affiliate_meeting_room_search_path, method: :get, class: 'form-horizontal', "ng-controller" => "PublicMobileSearchCtrl", "ng-init" => "#{ng_init_for_search_form}" do

        .hidden
          input.cpy-mobile-pack-length type="text" name="by_pack_length" ng-model="selectedPackSize"
          input.cpy-mobile-room-category type="text" name="room_category" ng-model="selectedTabRoom"
          input.cpy-mobile-number-of-people type="text" name="by_number_of_people" ng-model="numberOfPeople"
          input.cpy-hotel-id type="text" name="hotel_id" value="#{@affiliate.hotel_id}"
          input.cpy-hotel-selected type="text" name="default[hotel_name]" value="#{@affiliate.hotel.name}"

        - if mobile_device?
          .col-md-12.search-form-header.hidden-sm.hidden-md.hidden-lg
            h1.book-hotels
              = t(:book_by_hours)
        .tabbable
          = link_to '', style: 'color: transparent !important; display: none;' do
            ul.nav.nav-tabs.nav-justified.online_reservation_box
              - if @affiliate.accepts_all_tab_room
                li.search_tab_rooms ng-class="{active: selectedTabRoom == 3}"
                  a.js-event-rooms-tab.white data-toggle='tab' href='#rooms' ng-click="changeTab(3)" = t 'rooms'
                li.search_tab_meeting_rooms ng-class="{active: selectedTabRoom == 2}"
                  a.js-meeting-rooms-tab.white data-toggle='tab' href='#meeting-rooms' ng-click="changeTab(2)" = t 'meeting_rooms'

          .tab-content.tab-content-custom-mobile
            .tab-pane.fade.in#rooms ng-class="{active: selectedTabRoom == 3}"
              = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/mobile_search_form_content_rooms"
            .tab-pane.fade.in#meeting-rooms ng-class="{active: selectedTabRoom == 2}"
              = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/mobile_search_form_content_meeting_rooms"
