.row
  .col-sm-12
    .display-table.people-checkin-inputs
      .display-table-cell.size-78-percent
        .row
          .col-xs-12
            .secondary-title = t 'search_box.checkin'
        .row.checkin-mobile
          .col-xs-6
            = "#{t(:date_word)}:"
            br
            .input-group.date-picker-inputs

              input.js-date-picker.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="checkinDate" ng-change='setSearchDateValidity()'

              input.hidden.cpy-checkin-date ng-model="parsedSelectedCheckinDate" name='by_checkin_date'

          .col-xs-6
            = "#{t(:hour)}:"
            br
            - array_hours = []
            - 24.times do | i |
              - array_hours << i
            = select_tag 'by_checkin_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time size-100-percent', 'ng-model' => 'checkinHour'

      .display-table-cell.number-of-people-input-size
          .up.hidden-xs.hidden-sm = "#{t(:number_of_people)}"
          .up.hidden-md.hidden-lg = "#{t('search_box.people')}"
          = select_tag '', options_for_select(1..99), "ng-model" => "numberOfPeople"
      

.row.pack-size-row
  .col-xs-12
    .up = "#{t(:pack_size)}"
    .btn-group.btn-group-justified.pack-size
      span.clock
        = image_tag 'clock-light-gray.png'
      - Offer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
        a.btn.rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSize == #{pack_size}}" ng-click="selectedPackSize = #{pack_size}" #{pack_size}h


.row.pack-size-hint
  .col-xs-12
    p.hint = t :period_in_which_you_are_staying_at_hotel

.row
  .col-xs-12.text-center
    .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmit()}}"
      button.submit-disabled.cpy-disabled-search-button.btn.green.search-button disabled='disabled' ng-hide='isFormValid()'
        = t(:perform_search)

    button.cpy-search-button.ng-hide.btn.green.search-button ng-disabled='!isFormValid()' ng-show='isFormValid()'
      = t(:perform_search)