.tab-pane.fade.in#any_time.active
  .row.text-center
    .checkin.text-center
      label.title#date-field-es = "#{t('search_box.checkin')}"
    
      .checkin-date.text-center
        input.js-date-picker.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="checkinDate" ng-change='setSearchDateValidity()'

        input.hidden.cpy-checkin-date ng-model="parsedSelectedCheckinDate" name='by_checkin_date'

      
      .checkin-hour.text-center.col.xs-12
        label.at.text-white = "#{t('search_box.at')}"
        - array_hours = []
        - 24.times do | i |
          - array_hours << i
        .hour-and-buttons
          button.minus-checkin-hour ng-click='changeCheckinHour("minus")' type="button" 
            span.minus
              | -
          .hour
            - if I18n.locale == 'en' || I18n.locale == :en
              label.no-margin.ng-cloak.text-white ng-init="set_checkin_checkout_hour()"
                | {{checkinHourDate | date: 'ha'}}
            - else
              label.no-margin.text-white ng-bind="checkinHour"
                | 0
              label.no-margin.text-white
                | :00
          button.plus-checkin-hour ng-click='changeCheckinHour("plus")' type="button" style="margin-top: 8px;"
            span
              | +
        .hidden
          = select_tag 'by_checkin_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time size-50-percent', 'ng-model' => 'checkinHour'


    .col-xs-12.pack-size.text-center style="margin-left: -4px;"
      label.text-white = "#{t(:pack_size)}"
      .btn-group.btn-group-justified role="group" aria-label="..."
        - Offer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
          .btn-group role="group"
            a.btn.btn-default.rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSize == #{pack_size}}" ng-click="selectedPackSize = #{pack_size}; changePackSize()" #{pack_size}h

    .people.text-center.col-xs-12
      label.title-people.text-white = "#{t('search_box.people')}"
      button.minus-number-of-people ng-click='changeNumberOfPeople("minus")' type="button"
        span.minus
          | -
      .hour
        label.text-white ng-bind="numberOfPeople"
          | 1
      button.plus-number-of-people ng-click='changeNumberOfPeople("plus")' type="button"
        span
          | +
      .hidden
        = select_tag '', options_for_select(1..4), "ng-model" => "numberOfPeople"


    .col-xs-12.col-sm-3.text-center.pull-right.div-button-search
      .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmit()}}"
        - if I18n.locale == :es
          button.submit-disabled.cpy-disabled-search-button.btn.search-button.btn-success#search-button-es disabled='disabled' ng-hide='isFormValid()'
            = t(:modify_search_html)
        - else
          button.submit-disabled.cpy-disabled-search-button.btn.search-button.btn-success disabled='disabled' ng-hide='isFormValid()'
            = t(:modify_search_html)

      - if I18n.locale == :es
        button.cpy-search-button.ng-hide.btn.search-button.btn-success#search-button-es-enabled ng-disabled='!isFormValid()' ng-show='isFormValid()'
          = t(:modify_search_html)
      - else
        button.cpy-search-button.ng-hide.btn.search-button.btn-success ng-disabled='!isFormValid()' ng-show='isFormValid()'
          = t(:modify_search_html)
     