ruby:
  # we must keep in here because there are some controllers in the public area that doen'st inherit from public::base
  
  if @affiliate.accepts_all_tab_room
    @room_category = 3
  elsif @affiliate.accepts_only_rooms
    @room_category = 3
  elsif @affiliate.accepts_only_meeting_rooms
    @room_category = 2
  else
    @room_category = params[:room_category]
  end

  ng_init_for_search_form = if last_search_log
    # 0 - day
    # 1 - month
    # 2 - year
    date_parts = last_search_log.checkin_date.split("/")
    english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
    length_of_pack = last_search_log.room_category == 1 ? 12 : last_search_log.length_of_pack
    checkin_hour = (last_search_log.room_category == 1 && last_search_log.checkin_hour < 18) ? 18 : last_search_log.checkin_hour
    checkout_hour = checkin_hour + length_of_pack
    checkout_date = ''
    if checkout_hour >= 24
      checkout_hour -= 24
    end

    %Q{
      checkinDate = '#{I18n.locale == :en ? english_date_format : params[:by_checkin_date]}';
      parsedSelectedCheckinDate = '#{params[:by_checkin_date]}';
      checkinHour = #{params[:by_checkin_hour] || 0};
      numberOfPeople = #{params[:by_number_of_people] || 1};
      selectedPackSize = '#{@room_category == 2 ? 1 : 3}';
      selectedTabRoom = #{@room_category};
    }.squish
  else
    ng_init_for_search_form =

      if params[:by_checkin_date].present?
        date_parts = params[:by_checkin_date].split("/")
        english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
      else
        english_date_format = ""
      end
      %Q{
        checkinDate = '#{I18n.locale == :en ? english_date_format : params[:by_checkin_date]}';
        parsedSelectedCheckinDate = '#{params[:by_checkin_date]}';
        checkinHour = #{params[:by_checkin_hour] || 0};
        numberOfPeople = #{params[:by_number_of_people] || 1};
        selectedPackSize = '#{@room_category == 2 ? 1 : 3}';
        selectedTabRoom = #{@room_category};
      }.squish
  end

.gradient_overlay
.search-hotels-wrapper class="#{@affiliate.accepts_only_meeting_rooms ? 'any-time-meeting-rooms-background' : 'any-time-rooms-background'}"
  .row.describe-home.no-margin.describe-box-rooms class="#{@room_category == 3 ? '' : 'hide'}"
    .col-md-12.hidden-xs
      span.title.bedroom
        | #{t('views.affiliates.atlantica.bedroom_title')}
    span.subtitle.bedroom
      | #{t('views.affiliates.atlantica.bedroom_subtitle')}
  .row.describe-home.no-margin.describe-box-meeting-room class="#{@room_category == 2 ? '' : 'hide'}"
    .col-md-12.hidden-xs
      span.title.meeting-room
        | #{t('views.affiliates.atlantica.meeting_room_title')}
    span.subtitle.meeting-room
      | #{t('views.affiliates.atlantica.meeting_room_subtitle')}
  .row.no-margin
    .col-md-10.no-padding style="margin: 0px; width: 100%"
      .search-box.js-headline-search
        = form_tag public_affiliate_meeting_room_search_path, method: :get, class: '', "ng-controller" => "PublicAffiliateSearchCtrl", "ng-init" => "#{ng_init_for_search_form}" do

          .hidden
            input.cpy-pack-length type="text" name="by_pack_length" ng-model="selectedPackSize"
            input.cpy-number-of-people type="text" name="by_number_of_people" ng-model="numberOfPeople"
            input.hidden.cpy-search-by type="text" name="by_search"
            input.cpy-room-category type="text" name="room_category" ng-model="selectedTabRoom"
            input.cpy-hotel-selected type="text" name="default[hotel_name]" value="#{@affiliate.hotel.name}"
          .tabbable
            = link_to '', style: 'color: transparent !important; display: none;' do
              ul.nav.nav-tabs.nav-justified.online_reservation_box
                - if @affiliate.accepts_all_tab_room
                  li.search_tab_rooms ng-class="{active: selectedTabRoom == 3}"
                    a.js-event-rooms-tab.white.border-bottom data-toggle='tab' href='#rooms' ng-click="changeTab(3)" = t 'rooms'
                  li.search_tab_meeting_rooms ng-class="{active: selectedTabRoom == 2}" style="width: 157px;"
                    a.js-meeting-rooms-tab.white.border-bottom data-toggle='tab' href='#meeting-rooms' ng-click="changeTab(2)" = t 'meeting_rooms'
            .tab-content.tab-content-custom.any-time ng-show="selectedTabRoom == 3"
              = render partial: "/layouts/public_affiliate/personalized_affiliate/#{layout_name}/search_form_content"
            .tab-content.tab-content-custom.any-time_meeting_room ng-show="selectedTabRoom == 2"
              = render partial: "/layouts/public_affiliate/personalized_affiliate/#{layout_name}/meeting_room/search_form_content"
