.admin-hotels-controller
  .has-error
    p.help-block
      width: 41.6666%
      display: inline-block
      padding-left: 12px
  .check_boxes
    label.checkbox
      margin: 0
      margin-right: 10px
      display: inline-block
      width: 20px

      input
        margin-left: 0
