.admin-hotels-controller.new-action, .admin-hotels-controller.create-action
  .hint
    margin-top: -15px
    padding-left: 5px
    text-align: justify
    width: 32.3%
  .field-with-two-lines-label
    height: 33px
    .control-label
      margin-top: -9px

  .field-with-two-lines-error
    height: 33px
    .help-block.col-sm-5.inline
      margin-top: -3px
      margin-bottom: 0
  .hotel_currency_symbol
    label.radio-item
      margin-right: 20px
      span.text
        margin-left: 3px
  .checkbox
    padding-left: 0
    padding-top: 3px
  .amenities-check-box
    font-size: 13px
    padding-top: 6px
    padding-right: 2px
    text-align: left