<% bookings_totals_per_client = {} %>
<Row/>

<Row ss:Height="35">
  <Cell ss:StyleID="title" ss:MergeAcross="14">
    <Data ss:Type="String">
      Reservas
    </Data>
  </Cell>
</Row>

<Row/>

<Row ss:Height="20">
  <Cell ss:StyleID="table-header" ss:MergeAcross="2">
    <Data ss:Type="String">
      Código
    </Data>
  </Cell>
  <Cell ss:StyleID="table-header" ss:MergeAcross="2">
    <Data ss:Type="String">
      Cliente
    </Data>
  </Cell>
  <Cell ss:StyleID="table-header" ss:MergeAcross="2">
    <Data ss:Type="String">
      Checkin
    </Data>
  </Cell>
  <Cell ss:StyleID="table-header" ss:MergeAcross="2">
    <Data ss:Type="String">
      Pacote
    </Data>
  </Cell>
  <Cell ss:StyleID="table-header" ss:MergeAcross="2">
    <Data ss:Type="String">
      Status
    </Data>
  </Cell>
</Row>

<% bookings.each do | booking | %>
  <Row ss:Height="20">
    <% bookings_totals_per_client[booking.user] ||= {} %>
    <% bookings_totals_per_client[booking.user][:booking_count] = (bookings_totals_per_client[booking.user][:booking_count] || 0) + 1 %>
    <% bookings_totals_per_client[booking.user][:booking_total_value] = (bookings_totals_per_client[booking.user][:booking_total_value] || 0) + booking.total_price_without_tax %>
    <Cell ss:StyleID="default-cell" ss:MergeAcross="2">
      <Data ss:Type="String">
        <%= booking.id %>
      </Data>
    </Cell>
    <Cell ss:StyleID="default-cell" ss:MergeAcross="2">
      <Data ss:Type="String">
        <%= booking.user.name %>
      </Data>
    </Cell>
    <Cell ss:StyleID="default-cell" ss:MergeAcross="2">
      <Data ss:Type="String">
        <%= (booking.offer.checkin_timestamp).strftime("%d/%m/%Y %H:%M") %>
      </Data>
    </Cell>
    <Cell ss:StyleID="default-cell" ss:MergeAcross="2">
      <Data ss:Type="String">
        <%= "#{booking.pack_in_hours}h" %>
      </Data>
    </Cell>
    <Cell ss:StyleID="default-cell" ss:MergeAcross="2">
      <Data ss:Type="String">
        <%= t(Booking::ACCEPTED_STATUS_REVERSED[booking.status]) %>
      </Data>
    </Cell>
  </Row>
<% end %>


<Row/>


<Row ss:Height="35">
  <Cell ss:StyleID="title" ss:MergeAcross="11">
    <Data ss:Type="String">
      Totais por cliente
    </Data>
  </Cell>
</Row>


<Row/>


<Row ss:Height="20">
  <Cell ss:StyleID="table-header" ss:MergeAcross="2">
    <Data ss:Type="String">
      Código
    </Data>
  </Cell>
  <Cell ss:StyleID="table-header" ss:MergeAcross="2">
    <Data ss:Type="String">
      Nome
    </Data>
  </Cell>
  <Cell ss:StyleID="table-header" ss:MergeAcross="2">
    <Data ss:Type="String">
      Quantidade de reservas
    </Data>
  </Cell>
  <Cell ss:StyleID="table-header" ss:MergeAcross="2">
    <Data ss:Type="String">
      Valor total
    </Data>
  </Cell>

</Row>

<% bookings_totals_per_client.each do | client, totals | %>
  <Row ss:Height="20">
    <Cell ss:StyleID="default-cell" ss:MergeAcross="2">
      <Data ss:Type="String">
        <%= client.id %>
      </Data>
    </Cell>
    <Cell ss:StyleID="default-cell" ss:MergeAcross="2">
      <Data ss:Type="String">
        <%= client.name %>
      </Data>
    </Cell>
    <Cell ss:StyleID="default-cell" ss:MergeAcross="2">
      <Data ss:Type="String">
        <%= totals[:booking_count] %>
      </Data>
    </Cell>
    <Cell ss:StyleID="default-cell" ss:MergeAcross="2">
      <Data ss:Type="String">
        <%= number_to_currency totals[:booking_total_value] %>
      </Data>
    </Cell>
  </Row>
<% end %>
