<Row/>

<Row>
  <Cell ss:StyleID="report-totals-property" ss:MergeAcross="4">
    <Data ss:Type="String">
      Número total de reservas:
    </Data>
  </Cell>
  <Cell ss:StyleID="report-totals-value" ss:MergeAcross="3">
    <Data ss:Type="String">
      <%= report[:info][:totals][:number_of_bookings] %>
    </Data>
  </Cell>
</Row>

<Row>
  <Cell ss:StyleID="report-totals-property" ss:MergeAcross="4">
    <Data ss:Type="String">
      Valor total das reservas:
    </Data>
  </Cell>
  <Cell ss:StyleID="report-totals-value" ss:MergeAcross="3">
    <Data ss:Type="String">
      <%= number_to_currency report[:info][:totals][:value] %>
    </Data>
  </Cell>
</Row>

<Row>
  <Cell ss:StyleID="report-totals-property" ss:MergeAcross="4">
    <Data ss:Type="String">
      Total de comissão das reservas:
    </Data>
  </Cell>

  <Cell ss:StyleID="report-totals-value" ss:MergeAcross="3">
    <Data ss:Type="String">
      <%= number_to_currency report[:info][:totals][:agency_comission] %>
    </Data>
  </Cell>
</Row>
