<Table>
  <%= render partial: 'agency/bookings_report/_index_xls/report_totals', locals: { report: report } %>

  <%= render partial: 'agency/bookings_report/_index_xls/booking_listing_and_total_per_client', locals: { bookings: (report[:bookings_collection][:bookings_paid_at_the_hotel].try(:includes, :user).to_a + report[:bookings_collection][:no_shows].try(:includes, :user).to_a + report[:bookings_collection][:bookings_paid_online].try(:includes, :user).to_a) } %>


</Table>
