- content_for(:title) { "Sua senha" }
p Olá Manager, #{@manager.name}! Seja bem-vindo ao HotelQuando.com.
p Sua Conta foi cadastrada na nossa plataforma. Seus dados para acesso são:
p.small
  span.gray login:&nbsp;
  span = @manager.login

p.small
  span.gray senha:&nbsp;
  span = @manager.password

p Para acessar seu painel clique no link abaixo:
p = link_to admin_root_url, admin_root_url
