.public-affiliate-layout.public-affiliate-home-controller  
  .big-icon
    max-width: 100%
    max-height: 200px
    margin: 20px 0px
    font-size: 120px
    color: $dark-blue
  .box-foot
    margin-top: 20px
    span.colored
      font-size: 30px
      font-weight: bold
      .gray
        color: #888
      .blue
        color: #245071
      .green
        color: #A7C554

    .service-box
      position: relative

    img
      width: 214px
      height: auto

    a > .image_title
      color: #fff
      display: flex
      position: absolute
      font-weight: initial
      top: 40%
      left: 49%
      padding: 5px
      font-family: "Oxygen"
      font-size: 22px
      transform: translate(-50%, -50%)

    .airpot_title
      font-size: 24px
      margin-bottom: 40px
      font-family: "Oxygen"

    .city_title
      font-size: 24px
      margin-top: 40px
      text-align: center
      margin-bottom: 40px
      font-family: "Oxygen"

    .airport_box
      margin-left: 40px
      margin-top: 25px
      margin-bottom: 15px
      width: 222px
      height: 50px
      a
        font-size: 12px
        font-family: "Oxygen"
        margin-bottom: 10px
        color: #555555

    #last_airport
      margin-top: -45px

    .more_airport_hotels
      margin-bottom: 30px
      a
        color: #555555
        font-family: "Oxygen"
        font-size: 24px
        margin-left: 42%

    .slick-prev::before, .slick-next::before
      color: rgba(130, 175, 74, 0.65)

    .slick-next.slick-arrow
      margin-left: 0 !important

    .slick-slider
      margin-bottom: 50px !important
      margin-left: 70px !important
      display: table
      table-layout: fixed
      width: 100%

    .service-box.slick-slide
      width: 225px !important

    #airport_scroller
      margin-right: 86px
      margin-left: -63px

    #other_airports
      margin-left: 90px

  .investors
    margin-top: 15px
    p
      color: #999999
    a
      img
        width: 80px
        height: auto

    #accelerator
      margin-left: -28%
      a
        img
          margin-left: 5px
    #investors
      margin-left: 20%
      margin-top: -5%
      a
        img
          width: 110px
          height: auto
          margin-left: 10px

  .home-blue-box
    background: $dark-blue
    padding: 43px 0px

    img
      margin: 26px 0px

    p
      font-size: 15px
      color: #f4f4f4
      line-height: 30px
  span.big-phrase
    letter-spacing: 1px
    font-size: 22px
    color: #57b12f
    font-weight: 300
    margin-top: 0px
    line-height: 33px
    margin-bottom: 0px

  span.big-number
    color: #57b12f
    font-size: 45px
    font-weight: 500
    width: 51px
    text-align: center
    display: inline-block
    border-radius: 80px
    background: #eeeeee
    margin-right: 10px
    line-height: 51px
  p
    margin-top: 10px
    color: black
    font-size: 14px
    font-weight: 300
    line-height: 1.6
    padding: 0px 0
    font-family: gotham-light,sans-serif
  p.src-components-footer-top-___footer-top__description
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-family: gotham-light
    font-size: 12px
    font-weight: 700
    margin: 0
    padding: 0
    color: white
  p.src-components-footer-bottom-___footer-bottom__copyright
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: #fff
    font-family: gotham-bold
    font-size: 14px
    margin: 0 0 5px 69px
    padding: 0
  p.bigger
    font-size: 17px
    letter-spacing: 1px
    font-weight: 300
    line-height: 32px
    color: #9C9C9C

  p.hint
    font-size: 12px
    margin: 0px

  .border-box > ol
    & > li
      padding: 10px 0px
      font-size: 15px
      color: #428bca
      font-weight: 400
      b
        font-weight: 400
      .panel-collapse, & > p:first, ul.sublist
        margin: 0px
        color: #555555
        font-weight: 300
        line-height: 24px

    ol.letters
      list-style-type: upper-alpha

    ul.sublist
      list-style-type: disc
      padding-left: 18px

    ol.letters, ul.sublist
      & > li
        padding: 0px
        font-weight: 300
        color: #555555

  .img
    border: 1px solid #eeeeee
    box-shadow: 1px 1px 9px rgba(231, 231, 231, 0.55)
    max-width: 100%
    margin: 20px 0px

  .rounded-border
    border-radius: 10px

  .with-padding
    padding: 30px

  .last-row
    padding-top: 75px

    a.pill.big
      padding: 11px 60px
      margin: 35px 0px
      text-transform: initial

  .service-box
    width: 270px
    margin-left: auto
    margin-right: auto

    h2
      font-size: 24px
      font-weight: 300
      line-height: 31px

    p
      line-height: 20px
      letter-spacing: 0px
      text-align: justify
      margin-top: 15px

    .image
      min-height: 105px
      
.browserFirefox.public-affiliate-layout.public-affiliate-home-controller
  .img
    width: 100%
