.image-and-describe
.container
	.row
		.col-sm-12.flash-message.js-flash-message
			 = display_flash_message
	.row
		.col-xs-12.border-box.with-padding
			.row
				| On this Black Friday, instead of giving super discounts, HotelQuando decided to offer 3 hours totally FREE on the weekend!* <p>Select one of the hotels below** and make your reservation with the promo code to pay nothing!<p>
				<br><i>*Promotion valid only for the User's first booking on November 24th, 25th and 26th.</i><p>
				<i>**Subject to availability.</i>
				.code
					<br>Code: <b>BLACKFRIDAYHQ</b>
				
			.row
				.title
					|São Paulo
				- @sao_paulo.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Rio de Janeiro
				- @rio_de_janeiro.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Curitiba
				- @curitiba.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Florianópolis
				- @florianopolis.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Goiânia
				- @goiania.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Brasília
				- @brasilia.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Salvador
				- @salvador.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Belo Horizonte
				- @belo_horizonte.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Campinas
				- @campinas.each do |hotel|
					.col-lg-4.col-md-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Porto Alegre
				- @porto_alegre.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
