.image-and-describe
.container
	.row
		.col-sm-12.flash-message.js-flash-message
			 = display_flash_message
	.row
		.col-xs-12.border-box.with-padding
			.row
				| En este Black Friday HQ en lugar de dar súper descuentos, decidimos ofrecer 3h totalmente GRATIS en lo fin de semaña!* <p> Seleccione uno de los hoteles abajo** y haga su reserva con el código promocional para no pagar nada!<p>
				<br><i>*Promoción válida sólo para la primera reserva del usuario en los dias 24, 25 y 26 de noviembre.</i><p>
				<i>**Sujeto a disponibilidad.</i>
				.code
					<br>Código: <b>BLACKFRIDAYHQ</b>
				
			.row
				.title
					|São Paulo
				- @sao_paulo.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Rio de Janeiro
				- @rio_de_janeiro.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Curitiba
				- @curitiba.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Florianópolis
				- @florianopolis.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Goiânia
				- @goiania.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Brasília
				- @brasilia.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Salvador
				- @salvador.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Belo Horizonte
				- @belo_horizonte.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Campinas
				- @campinas.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Porto Alegre
				- @porto_alegre.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
