.public-affiliate-layout
  .datepicker
    padding: 0px 10px 8px 10px

    table th, td
      text-align: center

    .day
      padding: 2px 3px 0px 3px

      &.old, &.new
        color: #c2c2c2

      &.active.disabled
        background: #eeeeee

      &.active
        background: #f45c57
        color: white

        &:hover
          background: lighten(#117fca, 30%)

      &:hover
        background: #eeeeee
        cursor: pointer

      &.disabled
        color: #c2c2c2

        &:hover
          background: white

    .dow
      padding: 3px 6px

    thead tr:first-child
      border-bottom: 1px solid #dbdbdb

    .prev
      background: image-url('arrow-left-black.png') no-repeat center center

    .next
      background: image-url('arrow-right-black.png') no-repeat center center
