body.public-affiliate-layout
  .footer-total-hotel
    padding-top: 87px
    padding-bottom: 84px
    background: #222
    padding-right: 15px
    padding-left: 85px
    margin-right: auto
    margin-left: auto
    position: relative
    z-index: 100
    color: white
    p
      color: white
    b
      color: white
    a
      color: white
    
    .title:after
      display: block
      content: ''
      position: relative
      width: 70px
      height: 1px
      background: #333
      margin: 10px 0 20px
      opacity: 0.5
      background: white

    .remove-bullet
      list-style-type: none
      padding-left: 0 !important
    
  
  #footer 
    background-color: #f8f8f8
    border-top: 1px solid #e7e7e7
    padding: 18px
    z-index: 101

    i
      font-size: 20px
  #logo
    width: auto