.col-xs-12#footer
	.col-md-6.text-center
		.contact-footer.text-align.padding-left
			h2.central =t('views.affiliates.bourbon.reservation_central')
			p
				strong.bold-font 55 11 3337 9200
				small =t('views.affiliates.bourbon.metropolitan_region')
				p.line-height
					strong.bold-font 0800 701 8181
					small =t('views.affiliates.bourbon.other_locations')
					p
					small
							a.color-email href="mailto:central.reservas@bourbon.com.br"  central.reservas@bourbon.com.br

	.col-md-6.text-left
		ul.margin-left
			li.display
				.social-media.bourbon
					i.logo-footer
						.space
							img alt=("Bourbon Hotéis") src="https://www.bourbon.com.br/wp-content/themes/portalbourbon/images/logo-footer.png?d6107e&amp;d6107e" /
					a href="http://www.facebook.com/bourbonhoteis" rel="nofollow" target="_blank" title=("Link externo para Facebook") 
						i.fa.fa-facebook
					a href="http://www.instagram.com/bourbonhoteis" rel="nofollow" target="_blank" title=("Link externo para Instagram") 
						i.fa.fa-instagram
					a href="https://www.linkedin.com/company/350760?trk=tyah&amp;trkInfo=tarId%3A1411068143825%2Ctas%3ABourbon%20Hot%C3%A9is%20%26%20Resorts%2Cidx%3A2-1-3" rel="nofollow" target="_blank" title=("Link externo para Linkedin") 
						i.fa.fa-linkedin
					a href="http://www.youtube.com/user/bourbonhoteis" rel="nofollow" target="_blank" title=("Link externo para Youtube") 
						i.fa.fa-youtube


			li.display
				.social-media.be
					i.logo-footer
						a href="https://www.bourbon.com.br/hotel/experience-pt/be-pt/?lang=pt" target="_blank"
							img alt=("Bourbon Hotéis") src="https://www.bourbon.com.br/wp-content/themes/portalbourbon/images/logo-befooter.png?d6107e&d6107e" /
			li.display
				.social-media.rio
					i.logo-footer
						a.teste href="http://www.riohotelbybourbon.com.br/" target="_blank"
							img.bottom alt="Rio" src="https://www.bourbon.com.br/wp-content/themes/portalbourbon/images/logo-riofooter.png?d6107e&amp;d6107e" /
						a href="http://www.facebook.com/bourbonhoteis" rel="nofollow" target="_blank" title=("Link externo para Facebook") 
							i.fa.fa-facebook
						a href="http://www.instagram.com/bourbonhoteis" rel="nofollow" target="_blank" title=("Link externo para Instagram") 
							i.fa.fa-instagram
	.copy
		=t('views.affiliates.bourbon.developed')
		a.hiperlink href="http://ilegra.com" rel="nofollow" target="_blank" title=("Link externo para ilegra")  &nbsp;ilegra
