= simple_form_for [:admin, remuneration] do |f|

  = f.input :remuneration_by_new_company, as: :string, input_html: { class: 'js-mask-money', value: ("%.2f" % remuneration.remuneration_by_new_company.to_f).to_s }

  = f.input :remuneration_by_reservation, as: :string, input_html: { class: 'js-mask-money', value: ("%.2f" % remuneration.remuneration_by_reservation.to_f).to_s }

  = form_submit_section
