= header_section title: t("views.company_universe.remuneration.title")

- if @company_remunerations.length == 0
  .alert.alert-info
    = t(:no_record_found)
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | #{t("views.company_universe.remuneration.id")}
        th.center
          | #{t("views.company_universe.remuneration.new_company")}
        th.center
          | #{t("views.company_universe.remuneration.new_booking")}
        th.center
          | #{t("views.company_universe.remuneration.actions")}
    tbody
      - @company_remunerations.each do | remuneration |
        tr.center
          td
            = remuneration.id
          td
            = remuneration.remuneration_by_new_company
          td
            = remuneration.remuneration_by_reservation
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_company_remuneration_path(remuneration.id), class: 'btn btn-xs btn-success'

            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_company_remuneration_path(remuneration.id), class: 'btn btn-xs btn-info cpy-edit-agency-link'
            | &nbsp;&nbsp;