= header_section

= panel_section(name: t("views.company_universe.regions.region_information")) do
  = show_for @company_remuneration do |u|
    = u.attribute :remuneration_by_new_company
    = u.attribute :remuneration_by_reservation

  .wizard-actions
    = link_to t("views.admin.agencies.back").html_safe, admin_company_remuneration_path, class: 'btn btn-prev'
    = link_to t("views.admin.agencies.edit").html_safe, edit_admin_company_remuneration_path(@company_remuneration.id), class: 'btn btn-info'