= simple_form_for [:admin, booking_pack] do |f|

  = render :partial => "admin/booking_packs/form/address_field_city", locals: {f: f, booking_pack: booking_pack}

  = render :partial => "admin/booking_packs/form/hotel_field_chosen", locals: {f: f, booking_pack: booking_pack}

  = render :partial => "admin/booking_packs/form/room_type_chosen", locals: {f: f, booking_pack: booking_pack}

  = f.input :bank_of_hours

  = f.input :number_of_pack_12h

  .form-group.boolean.optional.booking_pack_breakfast_included
    label.boolean.optional.col-sm-3.control-label for="booking_pack_breakfast_included"
      | #{t("views.admin.booking_packs.includes_breakfast")}
    .col-sm-4
      input name="booking_pack[breakfast_included]" type="hidden" value="0"
      .checkbox
        label
          - if @booking_pack.breakfast_included
            input class="ace boolean optional col-sm-12 form-control" id="booking_pack_breakfast_included" name="booking_pack[breakfast_included]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="booking_pack_breakfast_included" name="booking_pack[breakfast_included]" type="checkbox" value="1"
          span.lbl


  = f.input :price, as: :string, input_html: { class: 'js-mask-money' }

  = form_submit_section
