= header_section title: t("views.admin.booking_packs.listing_hour_bank")

- if @booking_packs.length == 0
  .alert.alert-info
    = t(:none) + ' ' + t('booking_pack.one').downcase + ' ' + t(:registered) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | #{t("views.admin.booking_packs.id")}
        th.center
          | #{t("views.admin.booking_packs.city")}
        th.center
          | #{t("views.admin.booking_packs.hotel")}
        th.center
          | #{t("views.admin.booking_packs.room_type")}
        th.center
          | #{t("views.admin.booking_packs.hour_bank")}
        th.center
          | #{t("views.admin.booking_packs.number_of_12h_packs")}
        th.center
          | #{t("views.admin.booking_packs.includes_breakfast")}
        th.center
          | #{t("views.admin.booking_packs.price")}
        th.center
          | #{t("views.admin.booking_packs.actions")}
    tbody
      - @booking_packs.each do | booking_pack |
        tr.center
          td
            = booking_pack.id
          td
            = booking_pack.city.name
          td
            = booking_pack.hotel.name
          td
            = booking_pack.room_type.name_pt_br
          td
            = booking_pack.bank_of_hours
          td
            = booking_pack.number_of_pack_12h
          td
            = booking_pack.breakfast_included? ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
          td
            = number_to_currency(booking_pack.price)
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_booking_pack_path(booking_pack.id), class: 'btn btn-xs btn-success'

            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_booking_pack_path(booking_pack.id), class: 'btn btn-xs btn-info cpy-edit-booking=pack-link'
            | &nbsp;&nbsp;
