= header_section

= panel_section(name: t("views.admin.booking_packs.hour_bank_information")) do
  = show_for @booking_pack do |u|
    .attributes-wrapper.booking_pack_city
      .attribute-title
        | #{t("views.admin.booking_packs.city")}
      .content
        = "#{@booking_pack.city.name} - #{@booking_pack.city.state.initials}"
    = u.attribute :hotel
    .attributes-wrapper.booking_pack_room_type
      .attribute-title
        | #{t("views.admin.booking_packs.room_type")}
      .content
        = @booking_pack.room_type.name_pt_br
    = u.attribute :bank_of_hours
    = u.attribute :number_of_pack_12h
    = u.attribute :breakfast_included
    = u.attribute :price, value: number_to_currency(@booking_pack.price)

  hr

  .wizard-actions
    = link_to t("views.admin.booking_packs.back").html_safe, admin_booking_packs_path, class: 'btn btn-prev'
