- if authorized?
  = header_section title: t('views.hotel.pricing_policies.listing_rate_table')
- else
  = header_section(right_links: '', title: t('views.hotel.pricing_policies.listing_rate_table'))

- if @pricing_policies.length == 0
  .alert.alert-info
    = t(:none_female) + ' ' + t(:pricing_policy).downcase + ' ' + t(:registered_female) + '.'
- else
  p #{t('views.hotel.pricing_policies.listing_all_rate_table_text')}
  p #{t('views.hotel.pricing_policies.empty_value_text')}
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          = t(:name)
        th.center
          = t(:completed?)
        th.center.size-25-percent
          = t(:actions)
    tbody
      - @pricing_policies.each do | pricing_policy |
        tr
          td.center.size-40-percent
            = pricing_policy.name
          td.center
            = pricing_policy.completed? ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, hotel_pricing_policy_path(pricing_policy.id), class: 'btn btn-xs btn-success cpy-show-button'

            - if authorized?
              = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_hotel_pricing_policy_path(pricing_policy.id), class: 'btn btn-xs btn-info cpy-edit-button'

              = link_to "<i class='icon-trash bigger-100'></i>".html_safe, hotel_pricing_policy_path(pricing_policy.id), class: 'btn btn-xs btn-danger cpy-destroy-button', method: :delete, data: { confirm: t('views.hotel.pricing_policies.remove_table_confirmation') }
