= header_section title: t('views.hotel.pricing_policies.adding_rate_table')

p #{t('views.hotel.pricing_policies.adding_rate_table_explanation')}

= render partial: "/hotel/pricing_policies/form/form", locals: {pricing_policy: @pricing_policy}
