= header_section title: t('views.hotel.pricing_policies.viewing_rate_table')

= panel_section do
  = show_for @pricing_policy do |u|
    .row
      = u.attribute :name
    .row
      .col-sm-12
        table.table-bordered.table-hover.table
          = render partial: "/hotel/pricing_policies/components/pricing_policy_table_head"
          tbody
            - @pricing_policy.room_type_pricing_policies.includes(:room_type).each do | room_type_pricing_policy |
              tr.dark-row
                td
                  = room_type_pricing_policy.room_type.full_name_pt_br
                td.center = "#{@pricing_policy.percentage_for_3h.to_i} %"
                td.center = "#{@pricing_policy.percentage_for_6h.to_i} %"
                td.center = "#{@pricing_policy.percentage_for_9h.to_i} %"
                td.center = "#{@pricing_policy.percentage_for_12h.to_i} %"
              tr
                td
                  | #{t('views.hotel.pricing_policies.price_per_person')}
                - Offer::ACCEPTED_LENGTH_OF_PACKS.each do | length |
                  td.center
                    = room_type_pricing_policy.send('pack_price_' + length.to_s + 'h') == 0 ? '-' : number_to_currency(room_type_pricing_policy.send('pack_price_' + length.to_s + 'h'), unit: Hotel::CURRENCY_SYMBOL_REVERSED[current_hotel_hotel.currency_symbol])
              tr
                td
                  | #{t('views.hotel.pricing_policies.price_per_extra_person')}
                - Offer::ACCEPTED_LENGTH_OF_PACKS.each do | length |
                  td.center
                    = room_type_pricing_policy.send('extra_price_per_person_for_pack_price_' + length.to_s + 'h') == 0 ? '-' : number_to_currency(room_type_pricing_policy.send('extra_price_per_person_for_pack_price_' + length.to_s + 'h'), unit: Hotel::CURRENCY_SYMBOL_REVERSED[current_hotel_hotel.currency_symbol])

  - if authorized?
    = show_panel_buttons_section
  - else
    = show_panel_buttons_section(action_to_hide_button: :edit)
