= header_section(right_links: '', title: 'Mudar senha')
= panel_section do

  = simple_form_for [:agency, current_agency_agency], :url => { :action => "update_password" }, class: 'form-horizontal' do |f|
    = f.error_notification

    = f.input :current_password, label: 'Senha atual', :required => true
    = f.input :password, label: 'Senha', :required => true
    = f.input :password_confirmation, label: 'Confirmação de senha', :required => true

    .form-group
      .col-xs-7
        = f.button :submit, "Salvar", class: "btn-success btn pull-right cpy-submit-button"
        .clearfix
