= panel_section(name: 'Informações da agência') do
  = show_for current_agency_agency do |u|
    = u.attribute :name
    = u.attribute :cnpj
    = u.attribute :email
    = u.attribute :phone_number


    = show_panel_buttons_section(path_to_return: :back, edit_button_name: 'Alterar senha')
