= header_section(right_links: "", title: t('views.hotel.event_room_offers.dashboard'))

- if current_hotel_hotel.event_room_offers.count == 0
    .alert.alert-info
      = t(:none_female) + ' ' + t(:offer).downcase + ' ' + t(:registered_female) + '.'

- else
  // filter
  - selected_month = params[:by_month_of_a_year][:month].to_i
  - selected_year  = params[:by_month_of_a_year][:year].to_i

  .container.filter
    .col-xs-12
      = panel_section(name: t('views.hotel.event_room_offers.filter'), class: 'filter widget-box') do
        = label_tag :q, t('views.hotel.event_room_offers.period'), class: 'control-label no-left-padding'
        br
        = form_tag hotel_event_room_offers_path, method: :get, class: 'form-horizontal' do
          = select_month(Date.new(selected_year, selected_month), field_name: 'month', prefix: 'by_month_of_a_year')
          = select_year(Date.new(selected_year, selected_month), start_year: current_hotel_hotel.created_at.year, end_year: Time.now.year, field_name: 'year', prefix: 'by_month_of_a_year')
          = submit_tag t(:filter), class: 'btn btn-sm btn-success pull-right size-10-percent cpy-filter-button'
    .clearfix
  h3.ligther.smaller.green
    - month_name = I18n.t("date.month_names")[selected_month]
    = t('views.hotel.event_room_offers.list_all_offers', month: month_name, selected_year: selected_year)

  - number_of_days_in_the_month = Time.days_in_month(selected_month)

  .col-xs-12
    .row
      .col-xs-12
        - if @event_rooms.empty?
          p #{t('views.hotel.event_room_offers.you_have_no_offers')}
        - else
          table.table.table-bordered.table-hover.cpy-room-list
            thead
              tr
                th.center.size-10-percent
                  | #{t('views.hotel.event_room_offers.event_hall_day')}

                - (1..number_of_days_in_the_month).each do |day|
                  th.center class="size-#{number_of_days_in_the_month/9}-percent"
                    = day

            tbody
              - @event_rooms.each do |event_room_hash|
                tr
                  td.center.room_type_header_row colspan="#{number_of_days_in_the_month + 1}"
                    = event_room_hash[:name]
                tr
                  td.center.size-10-percent
                    | #{t('views.hotel.event_room_offers.event_hall_day_available_offers')}
                  - (1..number_of_days_in_the_month).each do |day|
                    td.center class="size-#{number_of_days_in_the_month/9}-percent"
                      = event_room_hash[:room_with_avaliable_offers_count_per_day][day]
                tr
                  td.center.size-10-percent
                    | #{t('views.hotel.event_room_offers.reserved_offers')}
                  - (1..number_of_days_in_the_month).each do |day|
                    td.center class="size-#{number_of_days_in_the_month/9}-percent"
                      = event_room_hash[:reserved_offers_per_day][day]
