@media (max-width: 768px)
  .public-layout.public-registrations-controller
    .container.with-padding-top > .row:first-child > div:first-child
      padding-top: 0
    h1.page-title
      font-size: 22px
      letter-spacing: 2px
      margin-top: 10px

    p.alert.alert-info
      margin-bottom: 0
    .tabs
      margin-top: 10px
    .form-actions
      padding: 0
    button.pill.green.big
      margin: 10px 0
      height: 30px
      font-size: 14px
      padding: 5px !important
    .nav.nav-tabs
      margin-top: 10px
      li.active
        a
          background-color: #f9f9f9

    .register-form
      background: none
      border: none
      box-shadow: none
      padding: 0
      margin: 10px 0 30px
      .form-horizontal.new_public_user
        .control-label
          padding-top: 0
        .form-group
          margin:
            right: 0
            bottom: 10px
          .attribute-title
            color: #888888
            font-size: 12px
            font-style: italic
            margin-top: 12px
          select
            width: inherit
          .birth-date.attribute-title, .password_confirmation.attribute-title, .locale.attribute-title
            margin-top: 3px
