.row
  .col-xs-12.border-box.with-padding
    h1.page-title Terms of use
    .divider

    p These Terms of Use show the "General Conditions " apply to your use of the services offered by RESERVAS POR HORA DO BRASIL LTDA , limited liability company, headquartered at Rua Luís Coelho , 308 , CJ . 32 , Cerqueira César , CEP 01309-000 , São Paulo / SP , Brazil , CNPJ under n .º 19.901.516/0001-35, hereinafter called " HotelQuando.com " within the web site http://www.hotelquando.com.

    p Any person nominated hereafter " User “, wishing to use the services of HotelQuando.com must accept these Terms of Use , and all other policies and principles that rules it . ACCEPTANCE OF TERMS OF USE IS ABSOLUTELY NECESSARY TO USE THE WEB SITE AND ITS SERVICES .

    p The Users must read , make sure they understand and accept all the conditions set out in the Terms of Use , as well as other documents incorporated by reference , before they use the website and its services .

    ol
      li
        b Modification of Terms of Use

        p HotelQuando.com may change the Terms of use notifying the users/customers well in advance in order to improve the services and products offered through HotelQuando.com . In any case, the Terms of Use contained herein are mandatory and binding character, anyone who does not accept these terms should refrain from using the site and / or services HotelQuando.com . These Terms of Use do not create any partnership , franchise , or employment relationship between HotelQuando - clients and users .

      li
        b Description of Services

        p HotelQuando.com is the first global platform for online hotel reservations that allows the user to reserve their room by packs of 3 , 6 , 9 , or 12 hours at a fair price . The costumer also decides what time they would like to check-in at the hotel . From that check-in time , they can enjoy the package of hour chosen . It is the user's obligation to respect the departure time of the room. If not, a fine will be charged on the value of the purchased hours package.

      li
        b Registration

        p It is mandatory to fill the form in all its fields to use the services offered on HotelQuando.com . Information or personal data in each field of the form must be accurate, precise and true . HotelQuando.com is not responsible for the accuracy of the information provided by customers users . All Users guarantee and respond , in any case , the truthfulness, accuracy , validity and authenticity of stored personal data. The information and personal data will be used exclusively by HotelQuando.com to identify and classify the user profile in order to provide better care .

      li
        b Shipping way of reservation confirmation

        p When confirmed the reservation, an e- mail will be send confirming the reservation , which contains the data of purchase / reservation . It is important to remember to print out and take it to the hotel .

      li
        b Cancellation of reservation

        p The cancellation can be done within the deadline set by the hotel chosen by user. The user have to be alert to the time required to make the cancellation .

      li
        b Forms of payment

        p The users can choose the best way to make the payment of their reservation: Payment at time of booking by credit card ( charge is made at time of booking ) or payment at destination (direct payment at the hotel , we collect the data from your card only as warranty ) .

      li
        b Obligations of Users

        p The confirmation of the purchase order indicates that you agree with the specifications and characteristics of the good , product or service offered . Likewise , it is bound by the conditions of sale included in the description of the merchandise , product or service , to the extent that they do not violate the law or the Terms of Use and other HotelQuando.com´s policies.

      li
        b Obligations of the Hotel

        p Providers of HotelQuando.com are the hotels that participate actively in the hotel HotelQuando.com network. Thus , they are offering services that manage HotelQuando.com through its platform. We have an obligation to comply with all contractual and privacy policy set forth in this reservation platform terms . Regarding the cancellation of reservations , the supplier is obliged to inform the HotelQuando.com of their cancellation policy , and the latter , to inform their customers .

        p Likewise , it is the user's responsibility to comply with the conditions of sale .

      li
        b Prohibitions

        p Users may not:

        p - Check a purchase without first accepting the Terms of Use.

        p - Confirm a reservation order without being sure that will really make this reservation. This action disrupts the proper functioning of the system and is harmful to other users .

        p - Disregarding the departure time of the room. If it does, a fine will be charged on the value of the purchased hours package.

      li
        b Privacy and Protection of Personal Data

        p We inform you that your personal data will be stored and processed in HotelQuando.com´s files, for the purpose of offering our services. Providing e- mail or other personal data necessary for hiring certain services , users consent to receive commercial communications , promotion and advertising of services and products offered by HotelQuando.com . These communications can occur simultaneously providing data .

      li
        b Industrial and Intellectual Property

        p The contents provided by HotelQuando.com are subject to intellectual and industrial property rights and is exclusive property of HotelQuando.com . By purchasing a product or service , HotelQuando.com does not grant the purchaser the right to change , exploitation , reproduction , distribution or public communication of the same , reserving the HotelQuando.com all these rights . The granting of these rights requires the prior written consent of its owner , so that the client can not provide to third parties such content .

        p The property extends beyond the content included in HotelQuando.com , your graphics, logos, designs , images and source codes used for programming . HotelQuando.com obtained the information and materials included in the site from sources considered reliable , although reasonable measures to ensure that the information is correct , HotelQuando.com can not guarantee that at all times and circumstances that the information is accurate, complete current and therefore should not be relied upon as if it were .

        p HotelQuando.com reserves the right to modify, suspend , cancel or restrict the content of the website links or information obtained through it , without notice . Also , in no case assumes any liability as a result of improper use of the site .

        p This site is owned by HotelQuando.com . The intellectual property rights and rights of use and reproduction of this website , its pages , screens , the information it contains , its appearance and design , as well as connections ( " links " ) to be established from it to other websites any subsidiary and / or controlling or controlled by HotelQuando.com , businesses are unique to this property, unless expressly indicated otherwise. Any name , design and / or logo , and any product or service offered and presented in this site are brands duly registered by HotelQuando.com , its affiliates and / or subsidiaries or controlling or controlled companies or third parties . The misuse of it by people who are not its rightful owner without the specific consent for this can be reported and pursued by all legal ways.

        p The intellectual property rights and brands of third parties are properly highlighted and must be respected by all who visit this web site , HotelQuando.com is not responsible for the use which the user can perform on it , is solely the responsibility of those who do it.

        p Only for personal and private use are allowed to download the contents , copy or print any page of this website. Reproduce, transmit, modify or delete the information , content or warnings from this web site without the prior written permission of HotelQuando.com is prohibited. In no event shall HotelQuando.com , its subsidiaries and / or work centers , directors and / or representatives , and employees in general , authorized personnel will be responsible for any injury , loss, claim or expense of any kind, whether derived directly or indirectly from the use and / or disclosure of the site or the information acquired or accessed through this , or their viruses , operational failures or disruptions in service or transmission or line failure in the use of the site , either by direct connection such as bond or other environment and that all legal purposes a warning to any user that these possibilities and events can occur .

      li
        b Links to other websites

        p The websites of HotelQuando.com may contain links ( links ) to other third party sites . So this can not assume responsibility for the content that may appear on these pages . The texts , images , sounds , animations , software and other content included on this site are exclusive property of HotelQuando.com or its licensors . Any transmission, distribution , transfer , reproduction , storage or public total or partial communication must have the express consent of HotelQuando.com .

      li
        b Responsibilities

        p HotelQuando.com only makes available to users a virtual space , making every effort to upgrade, maintenance, and operation of the same , can not guarantee the absence of glitches , infallibility of service, or the system or the portal is in operation at all times . HotelQuando.com is not the owner of the goods or services offered , have no ownership over them. HotelQuando.com is committed to the improvement of operations between users and providers , but is not directly responsible for the existence , quality, quantity , condition , integrity of goods, products and services . HotelQuando.com acts as an intermediary between buyers and providers , thus offering a way to book hotel accommodation as never before seen , dodging hotel reservation homes per day , bringing the possibility to book accommodation by hours .

        p HotelQuando.com within their policies for admission of its users and providers need integrity , honesty , social responsibility and moral ethics of each of these , as well as the quality of their products and services .

      li
        b Indemnity

        p The User shall indemnify HotelQuando.com , its affiliates , subsidiaries or controlling or controlled, officers, directors , employees, representatives and employees for any promoted by other users or third parties arising from your activities on the web site or your breach of the Terms of Use or the demand violation of any law or rights of third parties , including attorneys'fees .

      li
        b Nullity and inefficacy of the clauses

        p If a clause or part of this Terms of Use is deemed ambiguous , invalid , or unenforceable in any other way, the remainder of this Terms of Use shall remain fully valid and effective .

      li
        b Jurisdiction and Applicable Law

        p All items of this Terms of Use are governed by the laws in force in the Federal Republic of Brazil . For all matters relating to the interpretation and enforcement , the parties shall submit to the Central Court of the City of São Paulo , except for complaints submitted by users that fall within the legal concept of consumers, who may submit to the jurisdiction of domicile
