.row
  .col-xs-12.border-box.with-padding
    h1.page-title Termos de uso
    .divider

    p Estes Termos de uso apresentam as "Condições Gerais" aplicáveis ao uso dos serviços oferecidos por RESERVAS POR HORA DO BRASIL LTDA, sociedade limitada, com sede na Rua Luís Coelho, 308, CJ. 32, Cerqueira César, CEP 01309-000, São Paulo/SP, Brasil, inscrita no CNPJ sob n.º 19.901.516/0001-35, doravante denominada "HotelQuando.com" dentro do site http://www.hotelquando.com.

    p Qualquer pessoa, doravante nominada "Usuário", que pretenda utilizar os serviços da HotelQuando.com deverá aceitar estes Termos de uso, e todas as demais políticas e princípios que o regem. A ACEITAÇÃO DOS TERMOS DE USO É ABSOLUTAMENTE NECESSÁRIA À UTILIZAÇÃO DO WEBSITE E SEUS SERVIÇOS.

    p O Usuário deverá ler, certificar-se de haver entendido e aceitar todas as condições estabelecidas nos Termos de uso, assim como nos demais documentos incorporados por referência, antes da utilização do website e seus serviços.

    ol
      li
        b Modificação dos Termos de uso

        p HotelQuando.com poderá alterar os Termos de uso notificando aos usuários- clientes com antecedência suficiente, a fim de melhorar os serviços e produtos oferecidos através de HotelQuando.com. Em qualquer caso, os Termos de uso contidos neste documento são de caráter obrigatório e vinculativo, qualquer pessoa que não aceita estes termos devem abster-se de usar o site e/ou serviços da HotelQuando.com.

        p Estes Termos de uso não criam qualquer parceria, franquia, ou relação de emprego entre HotelQuando - clientes e usuários.

      li
        b Descrição dos Serviços

        p HotelQuando.com é a primeira e única plataforma global de reservas online de hotéis que permite ao usuário reservar seu quarto por pacotes de 3, 6, 9, ou 12 horas a um preço justo. O usuário também decide a que horas gostaria de entrar no hotel. A partir desse horário de entrada, o usuário pode desfrutar do pacote de horas escolhido. É obrigação do usuário respeitar o horário de saída do quarto. Caso isso não aconteça, será cobrada uma multa no valor do pacote de horas adquirido.

      li
        b Cadastro

        p É obrigatório preencher o formulário em todos os seus campos para utilizar os serviços oferecidos em HotelQuando.com. Informações ou dados pessoais em cada um dos campos do formulário devem ser exatas, precisas e verdadeiras. HotelQuando.com não se responsabiliza pela exatidão das informações fornecidas pelos clientes usuários. Todos os Usuários garantem e respondem, em qualquer caso, pela veracidade, precisão, vigência e autenticidade dos dados pessoais inseridos. As informações e dados pessoais serão usados ​​exclusivamente por HotelQuando.com para identificar o usuário e classificar seu perfil, a fim de proporcionar um melhor atendimento.

      li
        b Forma de envio da confirmação da reserva

        p Ao confirmar a reserva, enviaremos um e-mail com a confirmação da reserva, onde constam os dados da compra/reserva. É importante lembrar de imprimir e levar ao hotel.

      li
        b Cancelamento da Reserva

        p O cancelamento poderá ser realizado dentro do prazo estabelecido pelo hotel de escolha do usuário. É preciso se atentar a antecedência necessária para realizar o cancelamento.

      li
        b Formas de pagamento

        p O usuário poderá escolher qual a melhor forma de realizar o pagamento da sua reserva: Pagamento no momento da reserva por Cartão de Crédito (cobrança é realizada no momento da reserva) ou Pagamento no destino (pagamento direto no hotel, coletaremos os dados do seu cartão de crédito apenas como garantia).

      li
        b Obrigações dos usuários

        p A confirmação do pedido de compra indica que o usuário concorda com as especificações e características do bem, produto ou serviço oferecido. Da mesma forma, é obrigado pelas condições de venda incluídas na descrição da mercadoria, produto ou serviço, na medida em que eles não violam a lei ou os Termos de Uso e demais políticas HotelQuando.com.

      li
        b Obrigações do Hotel

        p Os provedores da HotelQuando.com são os hotéis que participam ativamente da rede de hotéis HotelQuando.com. Assim, são eles que oferecem os serviços que a HotelQuando.com gerencia por meio de sua plataforma. O hotel tem a obrigação de cumprir com todos os termos contratuais e política de privacidade estabelecidas nesta plataforma de reserva. Em relação ao cancelamento de reservas, o fornecedor é obrigado a informar à HotelQuando.com de sua política de cancelamento, e este último, de informar aos seus clientes.

        p Da mesma forma, é de responsabilidade do usuário cumprir com as condições de venda.

      li
        b Proibições

        p Os usuários não poderão:

        p - Confirmar uma compra sem antes aceitar os Termos de uso.

        p - Confirmar uma ordem de reserva sem ter a certeza de que vai realmente fazer a reserva. Esta ação interrompe o bom funcionamento do sistema e é prejudicial para aos outros usuários.

        p - Desrespeitar o horário de saída do quarto. Caso isso aconteça, será cobrada uma multa no valor do pacote de horas adquirido.

      li
        b Privacidade e Proteção dos Dados Pessoais

        p Informamos que os seus dados pessoais serão armazenados e processados ​​em arquivos da HotelQuando.com, com a finalidade de ofertar nossos serviços. Fornecendo o endereço de e -mail ou outros dados pessoais, necessários para a contratação de determinados serviços, os usuários consentem em receber comunicações comerciais , promoção e publicidade de serviços e produtos oferecidos por HotelQuando.com. Essas comunicações podem ocorrer ao mesmo tempo que fornecem os dados.

      li
        b Propriedade Industrial e Intelectual

        p Os conteúdos fornecidos por HotelQuando.com estão sujeitos aos direitos de propriedade intelectual e industrial e são de propriedade exclusiva da HotelQuando.com. Ao adquirir um produto ou serviço, HotelQuando.com não concede ao comprador o direito de alteração, exploração, reprodução, distribuição ou comunicação pública do mesmo, reservando à HotelQuando.com todos esses direitos. A concessão destes direitos requer o prévio consentimento por escrito de seu titular, de modo que o cliente não pode disponibilizar a terceiros tal conteúdo.

        p A propriedade intelectual se extende além dos conteúdos incluídos na HotelQuando.com, a seus gráficos, logotipos, desenhos, imagens e códigos fonte utilizados para a programação. HotelQuando.com obteve as informações e materiais incluídos no site a partir de fontes consideradas confiáveis​​, embora tomadas medidas razoáveis ​​para garantir que as informações estão corretas, HotelQuando.com não pode garantir que em todos os momentos e circunstâncias que as informações sejam precisas, completas, atuais e, portanto, não deve ser invocada como se fosse.

        p HotelQuando.com se reserva ao direito de modificar, suspender, cancelar ou restringir o conteúdo do site, links ou informação obtida através dele, sem aviso prévio. Também, em nenhum caso, assume a qualquer responsabilidade como consequência da incorreta utilização do site.

        p Este site é de propriedade da HotelQuando.com. Os direitos de propriedade intelectual e os direitos de utilização e reprodução deste site, suas páginas, as telas, as informações que nele contêm, sua aparência e design, assim como as ligações ("links") a serem estabelecidas a partir dele para outros sites de qualquer subsidiária e/ou empresas controladas ou controladoras por HotelQuando.com, são propriedade exclusiva desta, exceto se indicado expressamente outra coisa. Qualquer nome, design e/ou logotipo, e qualquer produto ou serviço oferecido e apresentado nesse site são marcas devidamente registradas por HotelQuando.com, suas subsidiárias e/ou empresas controladas ou controladoras ou por terceiros. O uso indevido do mesmo por pessoas que não são seu dono legítimo sem o consentimento específico por este pode ser relatado e perseguido por todos os meios legais.

        p Os direitos de propriedade intelectual e marcas de terceiros estão devidamente destacados e devem ser respeitados por todos os que visitam este site, HotelQuando.com não se responsabiliza pelo uso que o usuário pode executar sobre ele, é de exclusiva responsabilidade de quem o faz.

        p Somente para o uso pessoal e privado estão autorizados a fazer o download dos conteúdos, copiar ou imprimir qualquer página deste site. É proibido reproduzir, transmitir, modificar ou eliminar a informação, conteúdo ou advertências deste site sem a permissão prévia por escrito da HotelQuando.com. Em nenhum caso a HotelQuando.com, suas subsidiárias e/ou centros de trabalho, diretores e/ou representantes, funcionários e, em geral, o pessoal autorizado será responsável por qualquer prejuízo, perda, reclamação ou despesa de qualquer espécie, sejam eles derivados direta ou indiretamente da utilização e/ou divulgação do site ou as informações adquiridas ou acessadas através deste, ou seus vírus, falhas operacionais ou interrupções no serviço ou transmissão ou falha da linha no uso do site, tanto por conexão direta como por vínculo ou outro meio, constituindo a todos efeitos legais um aviso para qualquer usuário que essas possibilidades e eventos podem ocorrer.

      li
        b Links para outros sites da Internet

        p As páginas de Internet da HotelQuando.com podem conter ligações (links) à outros sites de terceiros. Portanto, esta não poderá assumir responsabilidades pelo conteúdo que pode aparecer nestas páginas. Os textos, imagens, sons, animações, software e outros conteúdos incluídos neste site são de propriedade exclusiva da HotelQuando.com ou seus licenciadores. Qualquer transmissão, distribuição, transferência, reprodução, armazenamento ou comunicação pública, total ou parcial deve ter o consentimento expresso da HotelQuando.com.

      li
        b Responsabilidades

        p HotelQuando.com somente coloca a disposição dos usuários um espaço virtual, efetuando os maiores esforços para a atualização, manutenção, e funcionamento do mesmo, não podendo garantir ausência de falhas técnicas, infalibilidade do serviço, nem que o sistema ou o portal se encontre em operação a todo momento. HotelQuando.com não é a proprietária dos produtos ou serviços oferecidos, não tem posse sobre os mesmos. HotelQuando.com está compromissada com o aperfeiçoamento das operações realizadas entre usuários e provedores, mas não é o responsável direto da existência, qualidade, quantidade, estado, integridade dos bens, produtos e serviços. HotelQuando.com atua como intermediário entre compradores e provedores, oferecendo assim uma maneira de reservar habitações de hotel nunca vista antes, desviando-se de reserva hoteleira de habitações por dias, trazendo a possibilidade de reservar habitações por horas.

        p HotelQuando.com dentro de suas políticas para admissão de seus usuários e provedores, precisa da integridade, honestidade, responsabilidade social e ética moral de cada um desses, como também da qualidade de seus produtos e serviços.

      li
        b Indenização

        p O Usuário indenizará a HotelQuando.com, suas filiais, empresas controladas ou controladoras, diretores, administradores, colaboradores, representantes e empregados por qualquer demanda promovida por outros usuários ou terceiros decorrentes de suas atividades no site ou por seu descumprimento dos Termos de uso ou pela violação de qualquer lei ou direitos de terceiros, incluindo honorários de advogados.

      li
        b Nulidade e Ineficácia das cláusulas

        p Caso uma cláusula, ou parte dela, do presente Termos de uso seja considerada ambígua, inválida, ou de qualquer outra forma inaplicável, o restante do presente Termos de uso deverá continuar plenamente válido e eficaz.

      li
        b Foro e Legislação Aplicável

        p Todos os itens deste Termo de uso estão regidos pelas leis vigentes na República Federativa do Brasil. Para todos os assuntos referentes à sua interpretação e cumprimento, as partes se submeterão ao Foro Central da Cidade de São Paulo, exceção feita a reclamações apresentadas por Usuários que se enquadrem no conceito legal de consumidores, que poderão submeter ao foro de seu domicílio.
