<% if @completed_request %>
  $(".js-alert").addClass("alert-success");
  $(".js-alert").text("<%= t :successfully_accused_delayed_checkout_message %>");
<% else %>
  $(".js-alert").addClass("alert-danger");
  $(".js-alert").text("#{t('views.hotel.bookings.error_while_setting_reservation_as_late_checkout')}");
<% end %>

$(".js-booking-actions").hide();
$(".js-alert").fadeIn('fast');
