= header_section title: t('views.hotel.bookings.list_reservation')
- if @bookings.length == 0

  - if current_hotel_hotel.bookings.first
    .row
      .col-sm-12
        = render partial: "/hotel/bookings/meeting_rooms/filter"
    .alert.alert-info
      | #{t('views.hotel.bookings.no_reservation_found')}
  - else
    .alert.alert-info
      | #{t('views.hotel.bookings.hotel_has_no_reservation')}
- else
  .row
    .col-sm-12
      = render partial: "/hotel/bookings/meeting_rooms/filter"
  .cpy-pagination-links
    = pagination_links_for @bookings
  .row
    .col-sm-12
      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th.center.size-10-percent
              | #{t('views.hotel.bookings.code')}
            th.center.size-15-percent
              | #{t('views.hotel.bookings.checkin')}
            th.center.size-6-percent
              | #{t('views.hotel.bookings.package')}
            th.center.size-25-percent
              | #{t('views.hotel.bookings.holder')}
            th.center.size-15-percent
              | #{t('views.hotel.bookings.status')}
            th.center.size-19-percent
              | #{t('views.hotel.bookings.details')}
            th.center.size-10-percent
              | #{t('views.hotel.bookings.billed')}
        tbody
          - @bookings.each do | booking |
            tr.center
              td
                = booking.id
              td
                = booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")
              td
                = "#{booking.pack_in_hours}h"
              td
                = booking.guest_name
              td
                = t(Booking::ACCEPTED_STATUS_REVERSED[booking.status])
              td
                - if (booking.status == Booking::ACCEPTED_STATUSES[:confirmed]) || (booking.status == Booking::ACCEPTED_STATUSES[:confirmed_without_card])
                  | No destino
                - elsif ((booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured]) || (booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced]) )
                  | Faturado
                - else
                  | -
              td
                = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, hotel_booking_path(booking.id), class: 'btn btn-xs btn-success'

  = pagination_links_for @bookings


