<% if @booking.status == Booking::ACCEPTED_STATUSES[:no_show_paid_with_success] %>
  $(".js-alert").addClass("alert-success");
  $(".js-alert").text("<%= t :no_show_paid_with_success_message %>");
<% elsif @booking.status == Booking::ACCEPTED_STATUSES[:no_show_with_payment_error] %>
  $(".js-alert").addClass("alert-danger");
  $(".js-alert").text("<%= t :no_show_with_payment_error_message %>");
<% elsif @booking.status == Booking::ACCEPTED_STATUSES[:no_show_with_payment_pending] %>
  $(".js-alert").addClass("alert-info");
  $(".js-alert").text("<%= t :no_show_with_payment_pending_message %>");
<% else %>
  $(".js-alert").addClass("alert-danger");
  $(".js-alert").text("#{error_while_setting_reservation_as_no_show}");
<% end %>
$(".js-booking-actions").hide();
$(".js-alert").fadeIn('fast');
$(".js-booking-status").text("<%= t(Booking::ACCEPTED_STATUS_REVERSED[@booking.status]) %>");
