= header_section

= panel_section do
  = show_for @booking do |u|
    - if @booking.is_meeting_offer?
      = render partial: "/hotel/bookings/show/meeting_room", locals: { u: u } 
    - elsif @booking.is_event_offer?
      = render partial: "/hotel/bookings/show/event_room", locals: { u: u } 
    - else
      = render partial: "/hotel/bookings/show/room", locals: { u: u } 

  = show_panel_buttons_section
  - unless @booking.booking_tax.zero?
    span
      | #{t('views.hotel.bookings.show_message')}
