@media (max-width: 768px)
  .public-affiliate-sessions-controller.new-action, .public-affiliate-sessions-controller.create-action
    .container.with-padding-top > .row:first-child > div:first-child
      padding-top: 0
    p.alert
      text-align: center
      margin: 0
      padding: 5px
    .login-site
      margin: 10px 0
      .with-padding:
        padding: 10px
    .login-form
      padding: 10px
    .tabs
      margin-top: 10px
    .form-actions
      padding: 0
    button.pill.green.big
      margin: 10px 0
      height: 30px
      font-size: 14px !important
      letter-spacing: 3px !important
      padding: 5px
    .nav.nav-tabs
      li.active
        a
          background-color: #f9f9f9
    .form-horizontal.new_public_user
      margin: 10px 0
      .form-group
        margin-right: 0


