= panel_section(name: 'Filtrar', class: 'filter widget-box') do
  = form_tag agency_bookings_path, method: :get, class: 'form-horizontal' do
    .row
      .col-sm-6
        = label_tag :q, 'Filtrar por Código', class: 'control-label no-left-padding'
        input.form-control.js-mask-integer.text-right name='by_id' value="#{params[:by_id] || ''}"
      .col-sm-6
        = label_tag :q, 'Filtrar por empresa', class: 'control-label no-left-padding'
        - options_for_client_select = []
        - current_agency_agency.clients.each do | client |
          - options_for_client_select << [client.name, client.id]
        = select_tag 'by_company_id', options_for_select(options_for_client_select, params[:by_company_id]), class: 'form-control', prompt: 'Todos'

    hr

    .row
      .col-sm-3
        = label_tag :q, 'Filtrar por data do checkin', class: 'control-label no-left-padding'
        .input-group
          span.input-group-addon.size-35-percent
            | Entre
          input.js-date-picker.form-control.text-right.js-mask-date.js-initial-date name='by_checkin_date[initial_date]' value="#{params[:by_checkin_date].try(:[],:initial_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .input-group
          span.input-group-addon.size-35-percent
            | E
          input.js-date-picker.form-control.text-right.js-mask-date.js-final-date name='by_checkin_date[final_date]' value="#{params[:by_checkin_date].try(:[],:final_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .clearfix

      .col-sm-3
        = label_tag :q, 'Filtrar por data do checkout', class: 'control-label no-left-padding'
        .input-group
          span.input-group-addon.size-35-percent
            | Entre
          input.js-date-picker.form-control.text-right.js-mask-date.js-initial-date name='by_checkout_date[initial_date]' value="#{params[:by_checkout_date].try(:[],:initial_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .input-group
          span.input-group-addon.size-35-percent
            | E
          input.js-date-picker.form-control.text-right.js-mask-date.js-final-date name='by_checkout_date[final_date]' value="#{params[:by_checkout_date].try(:[],:final_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .clearfix

      .col-sm-6
        = label_tag :q, 'Filtrar por status da reserva', class: 'control-label no-left-padding'
        br
        - options_for_status_select = []
        - Booking::ACCEPTED_STATUSES.each do | status_name, status_code |
          - if status_code != Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] && status_code != Booking::ACCEPTED_STATUSES[:confirmed_without_card]
            - options_for_status_select << [t(status_name), status_code]
          - elsif status_code == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced]
            - options_for_status_select << [t(:confirmed_and_invoiced_admin), status_code]
          - elsif status_code == Booking::ACCEPTED_STATUSES[:confirmed_without_card]
            - options_for_status_select << [t(:confirmed_without_card_admin), status_code]
        = select_tag 'by_status', options_for_select(options_for_status_select, params[:by_status]), class: 'form-control', prompt: 'Todos'
    .row
      .col-sm-12
        = submit_tag t(:filter), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button'
        = link_to 'Remover filtros', agency_bookings_path, class: 'btn btn-sm btn-danger pull-right size-20-percent remove-button cpy-remove-filter-button'

    / .clearfix

