@media (max-width: 400px) and (min-width: 300px)
  .public-layout.public-hotel-controller.index-action
    .hotel-list-page-wrapper
      margin-top: -15px
      .all-matches-hotels
        border-radius: 0
        box-shadow: none
        padding: 0
        background-color: transparent
        min-height: 0
        .exact-matches-hotels
          h3
            text-align: center
          .tudo-azul
            .description
              text-align: center
        .search-not-found
          margin-top: 20px
        .subscribe-form-wrapper.well
          padding: 10px
          width: auto
          .label-email
            margin-right: 0
          .input-email
            width: 100%
            padding: 0
            font-size: inherit
            text-align: center
          .subscribe-button
            margin: 10px 0 0 0
            padding: 5px
            font-size: 12px
        .similar-matches-hotels
          text-align: justify
          h1.text-center.similar-offers-title
            font-size: 22px
            margin: 10px 0
            letter-spacing: 2px
            color: #57b12f
            font-weight: 300
          .title
            text-align: center
          .subtitle
            font-size: 10px
            letter-spacing: 1px

      .panel.panel-default
        margin-top: 355px !important

    .image-room-category.any-time-rooms-background
      background-image: none

    .js-float-search-form
      z-index: 15
      top: 0
      height: 345px !important
      background-color: rgba(130, 175, 74, 0.65)

    .checkin-hour
      margin-left: 28%
      width: 168px !important

    .public-layout.public-hotel-controller.checkin.checkin-date
      margin-left: 38%

    .people
      margin: 6px 4px 0px 10%

    .checkin-date
      margin-left: 33%

    .glyphicon.glyphicon-search
      margin-top: 40vh !important

    .js-float-search-form.any-time-mobile
      height: 500px !important

@media (max-width: 768px) and (min-width: 401px)
  .public-layout.public-hotel-controller.index-action
    .hotel-list-page-wrapper
      margin-top: -15px
      .all-matches-hotels
        border-radius: 0
        box-shadow: none
        padding: 0
        background-color: transparent
        min-height: 0
        .exact-matches-hotels
          h3
            text-align: center
          .tudo-azul
            .description
              text-align: center
        .search-not-found
          margin-top: 20px
        .subscribe-form-wrapper.well
          padding: 10px
          width: auto
          .label-email
            margin-right: 0
          .input-email
            width: 100%
            padding: 0
            font-size: inherit
            text-align: center
          .subscribe-button
            margin: 10px 0 0 0
            padding: 5px
            font-size: 12px
        .similar-matches-hotels
          text-align: justify
          h1.text-center.similar-offers-title
            font-size: 22px
            margin: 10px 0
            letter-spacing: 2px
            color: #57b12f
            font-weight: 300
          .title
            text-align: center
          .subtitle
            font-size: 10px
            letter-spacing: 1px

    .image-room-category.any-time-rooms-background
      background-image: none

    .checkin-hour
      width: 170px !important

    .js-float-search-form
      z-index: 15
      top: 0
      height: 345px !important
      background-color: rgba(130, 175, 74, 0.65)

    .glyphicon.glyphicon-search
      margin-top: 40vh !important

    .js-float-search-form.any-time-mobile
      height: 500px !important
      padding-top: 100px
    
    .top-filter-informations-mobile
      margin-top: 95%

    #date-picker-mobile
      margin: 12px 0 0 0 !important
    
    #hour-input-mobile
      margin: -60px 0 0 47% !important

    .tab-content-metting-room-mobile .col-xs-12.pack-size.text-center.checkin
      margin: 5% 20% !important
    
    .tab-content-metting-room-mobile .number-of-people-input-size
      margin: 0 auto

@media (max-width: 1079px) and (min-width: 769px)
  .public-layout.public-hotel-controller.index-action
    .hotel-list-page-wrapper
      margin-top: -15px
      .all-matches-hotels
        border-radius: 0
        box-shadow: none
        padding: 0
        background-color: transparent
        min-height: 0
        .exact-matches-hotels
          h3
            text-align: center
          .tudo-azul
            .description
              text-align: center
        .search-not-found
          margin-top: 20px
        .subscribe-form-wrapper.well
          padding: 10px
          width: auto
          .label-email
            margin-right: 0
          .input-email
            width: 100%
            padding: 0
            font-size: inherit
            text-align: center
          .subscribe-button
            margin: 10px 0 0 0
            padding: 5px
            font-size: 12px
        .similar-matches-hotels
          text-align: justify
          h1.text-center.similar-offers-title
            font-size: 22px
            margin: 10px 0
            letter-spacing: 2px
            color: #57b12f
            font-weight: 300
          .title
            text-align: center
          .subtitle
            font-size: 10px
            letter-spacing: 1px

    .image-room-category.any-time-rooms-background
      background-image: none

    .checkin-hour
      width: 170px !important

    .js-float-search-form
      z-index: 15
      top: 0
      height: 345px

    .glyphicon.glyphicon-search
      margin-top: 40vh !important

@media (min-width: 1080px)
  .tab-content-custom-mobile
    display: none
