@media (max-width: 768px)
  .public-layout.public-hotel-controller.show-action
    .hotel-photos
      .photo-exhibition-toggle-button-wrapper
        text-align: center
        padding-top: 10px
        .glyphicon-plus
          margin-right: 5px
      .img
        margin: 0
    p.beware
      margin-bottom: 20px
      margin-top: 0px
      font-style: italic
    table.table
      .big
        font-size: 25px
        margin: 0
    .arrow-right
      font-size: 25px
      padding: 0
      background: transparent
      &.green
        color: $green
      &:link, &:visited, &:hover, &:active
        background: transparent
    
