= form_tag public_affiliate_bookings_path, method: :get, class: 'form-horizontal' do
  .row.hidden-xs.hidden-sm
    .col-sm-12.border-box.gray.filter
      .display-table.size-100-percent
        .display-table-cell.align-middle
          .form-group
            = label_tag :q, t(:filter_by_status), class: 'text optional'
            - options_for_status_select = []
            - Booking::ACCEPTED_STATUSES.each do | status_name, status_code |
              - if status_code == Booking::ACCEPTED_STATUSES[:confirmed_and_captured]
                - options_for_status_select << [t(status_name), [ status_code, Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] ] ]
              - elsif status_code == Booking::ACCEPTED_STATUSES[:confirmed]
                - options_for_status_select << [t(status_name), [ status_code, Booking::ACCEPTED_STATUSES[:confirmed_without_card] ] ]
              - elsif status_code != Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] && status_code != Booking::ACCEPTED_STATUSES[:confirmed_without_card]
                - options_for_status_select << [t(status_name), status_code]


            = select_tag 'by_status', options_for_select(options_for_status_select, params[:by_status]), class: 'form-control size-70-percent', prompt: t(:all)
        .display-table-cell.size-15-percent.align-middle.text-center
          = link_to t(:remove_filter), public_affiliate_bookings_path, class: 'link size-100-percent dark-red cpy-remove-filter-button'
        .display-table-cell.size-15-percent.align-middle
          = submit_tag t(:filter), class: 'btn size-100-percent small btn-success cpy-filter-button'

  .row.hidden-lg.hidden-md
    .col-xs-8
      .row
        - options_for_status_select = []
        - Booking::ACCEPTED_STATUSES.each do | status_name, status_code |
          - if status_code == Booking::ACCEPTED_STATUSES[:confirmed_and_captured]
            - options_for_status_select << [t(status_name), [ status_code, Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] ] ]
          - elsif status_code == Booking::ACCEPTED_STATUSES[:confirmed]
            - options_for_status_select << [t(status_name), [ status_code, Booking::ACCEPTED_STATUSES[:confirmed_without_card] ] ]
          - elsif status_code != Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] && status_code != Booking::ACCEPTED_STATUSES[:confirmed_without_card]
            - options_for_status_select << [t(status_name), status_code]
              
        .col-md-12
          = label_tag :q, t(:filter_by_status), class: 'text optional'
        .col-md-12
          = select_tag 'by_status', options_for_select(options_for_status_select, params[:by_status]), class: 'form-control size-70-percent', prompt: t(:all)
    .col-xs-4 style="text-align: center; margin-top: 10px;"
      .row
        .col-xs-12
          = link_to t(:remove_filter), public_affiliate_bookings_path, class: 'link size-100-percent dark-red cpy-remove-filter-button'
    .col-xs-12
      = submit_tag t(:filter), class: 'btn size-100-percent small btn-success cpy-filter-button', style: 'margin-top: 15px;'
