.main_airport_image
.container.airport_image_container
  .row
    .col-md-12
      .h1.main_airport_title = t(:airport_show_title, airport: @airport.send("name_#{I18n.locale}"))

.airport_hotels_index
  .container.main_hotel_container
    .row
      .col-md-12
        h1.main_hotel_description = t(:airport_show_description, airport: @airport.send("name_#{I18n.locale}"))
    .row.text-center
      - unless @hotels.count == 0
        - @hotel_list.each_slice(3) do |hotels|
          - hotels.each do |hotel|
            .col-md-4.airport
              .service-box
                .hotel_overlay
                = link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
                  .hotel_image = hotel.photos.first.present? ? image_tag(hotel.photos.first.direct_image_url) : image_tag('room-night-background.jpg')
                  h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
      - else
        = form_tag(public_airport_path(params[:id], params[:place_name]), method: :get, class: 'airport_form_filter') do
          p.airport_filter_by #{t(:airport_filter_by_distance)}
          = number_field_tag 'distance', '', placeholder: t(:airport_distance_placeholder), class: "form-control airport_filter"
          #airport_submit = submit_tag t(:airport_filter), class: 'airport_filter_btn'
    .row.main_airport_box
      .col-md-12
        h4 #{t(:main_airport_title)}
        - @main_airports.each do |main_airport|
          p &#x2015; #{link_to main_airport.send("name_#{I18n.locale}"), public_airport_path(id: main_airport.id, place_name: main_airport.send("name_#{I18n.locale}").parameterize), target: :blank}

- if @hotel_list.count <= 9
  .places_hotels_pagination = pagination_links_for @hotel_list
- else
  .airport_pagination = pagination_links_for @hotel_list
