.main_city_image
.container.airport_image_container
  .row
    .col-md-12
      .h1.main_airport_title = t(:city_show_title, city: @place.send("name_#{I18n.locale}"))

.row.main_city_box
  .col-md-12
    h4 #{t(:main_region_title)}
    - @main_regions.each do |main_region|
      p &#x2015; #{link_to main_region.send("name_#{I18n.locale}"), public_region_path(id: main_region.id, place_name: main_region.send("name_#{I18n.locale}").parameterize), target: :blank}

.city_hotels_index
  .container.main_hotel_container
    .row
      .col-md-12
        h1.main_hotel_description = t(:city_show_description, city: @place.send("name_#{I18n.locale}"))
    .row.text-center
      - unless @hotel_list.count == 0
        - @hotel_list.each do |hotel|
          .col-md-4.airport
            .service-box
              .hotel_overlay
              = link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
                .hotel_image = hotel.photos.first.present? ? image_tag(hotel.photos.first.direct_image_url) : image_tag('room-night-background.jpg')
                h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}

- if @hotel_list.count <= 9
  .places_hotels_pagination = pagination_links_for @hotel_list
- else
  .airport_pagination = pagination_links_for @hotel_list
