- if I18n.locale == :en || I18n.locale == 'en'
  - aria_text = "Book the best hotels by the hour around the world"
- else
  - aria_text = "Reserve os melhores hotéis por horas ao redor do mundo"

.main_city_image alt="#{aria_text}"
.container.airport_image_container
  .row
    .col-md-12
      .h1.main_airport_title = t :cities_title

.airport_hotels_index
  .container.main_airport_container
    .row
      .col-md-12
        h1.main_airport_description = t :cities_description
        p.airport_filter_by #{t(:airport_filter_by_country)}
        p.airport_filter_by #{t(:city_filter_by_states)}
        = form_tag(public_cities_path, method: :get, class: 'airport_form_filter') do
          = select_tag 'cities_country_filter', options_for_select(@countries), placeholder: t(:city_filter_placeholder_country), class: "form-control airport_filter", name: 'filter_by_country'
          = select_tag 'cities_states_filter', options_for_select(''), placeholder: t(:city_filter_placeholder_states), class: "form-control airport_filter", name: 'filter_by_state'
          #airport_submit = submit_tag t(:airport_filter), class: 'airport_filter_btn'
    .row.text-center
      - @cities.each do |city|
        .col-md-4
          .service-box
            .image = city.photos.present? ? image_tag(city.photos.first.direct_image_url, class: 'image') : image_tag('cities/city_default_image.jpeg', class: 'image')
            h2.main_airport_name #{link_to city.send("name_#{I18n.locale}"), public_city_path(id: city.id, place_name: city.send("name_#{I18n.locale}").parameterize)}

    .airport_pagination = pagination_links_for @cities

javascript:
  var xhr;
  var select_country, $select_country;
  var select_state, $select_state;
  var arr_opt = []
  var country_value;
  var state_value;

  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  country_value = getParameterByName('filter_by_country', window.location)
  state_value = getParameterByName('filter_by_state', window.location)

  $select_country = $('#cities_country_filter').selectize({
      onItemAdd: function(value) {
        if (!value.length) return;
        select_state.disable();
        xhr && xhr.abort();
        xhr = $.ajax({
          url: '/states?country=' +  $select_country[0].selectize.items[0],
          success: function(results) {
            if(state_value != null){
              select_state.addOption({value: state_value, text: state_value})
            }else{
              select_state.clearOptions()
            }
            select_state.enable();
            select_state.clearOptions()
            for(i = 0; i < results.length; i++){
              arr_opt.push(results[i]['name']);
              select_state.addOption({value: results[i]['name'], text: results[i]['name']})
            }
          },
          error: function() {
              callback();
          }
        })
      }
  });

  $select_state = $('#cities_states_filter').selectize({
    create: false
  });

  select_state  = $select_state[0].selectize;
  select_country = $select_country[0].selectize;
  select_state.disable();

  $(function(){
    select_country.addOption({value: country_value, text: country_value})
    select_country.addItem(country_value)
    select_state.addOption({value: state_value, text: state_value})
    select_state.addItem(state_value)
  });
