.main_airport_image
.container.airport_image_container
  .row
    .col-md-12
      .h1.main_airport_title = t :airports_title

.airport_hotels_index
  .container.main_airport_container
    .row
      .col-md-12
        h1.main_airport_description = t :airports_description
        p.airport_filter_by #{t(:airport_filter_by_country)}
        p.airport_filter_by #{t(:airport_filter_by_city)}
        = form_tag(public_airports_path, method: :get, class: 'airport_form_filter') do
          = select_tag 'airport_country_filter', options_for_select(@countries), placeholder: t(:airport_filter_placeholder_country), class: "form-control airport_filter", name: 'filter_by_country'
          = select_tag 'airport_city_filter', options_for_select(''), placeholder: t(:airport_filter_placeholder_cities), class: "form-control airport_filter", name: 'filter_by_city'
          #airport_submit = submit_tag t(:airport_filter), class: 'airport_filter_btn'
    .row.text-center
      - @airports.each do |airport|
        .col-md-4
          .service-box
            .image = airport.photos.present? ? image_tag(airport.photos.first.direct_image_url, class: 'image') : image_tag('airports/airport_default_image.jpeg', class: 'image')
            h2.main_airport_name #{link_to airport.send("name_#{I18n.locale}"), public_airport_path(id: airport.id, place_name: airport.send("name_#{I18n.locale}").parameterize)}

    .airport_pagination = pagination_links_for @airports

javascript:
  var xhr;
  var select_country, $select_country;
  var select_city, $select_city;
  var country_value;
  var city_value;

  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  country_value = getParameterByName('filter_by_country', window.location)
  city_value = getParameterByName('filter_by_city', window.location)

  $select_country = $('#airport_country_filter').selectize({
      onItemAdd: function(value) {
        if (!value.length) return;
        select_city.disable();
        xhr && xhr.abort();
        xhr = $.ajax({
          url: '/cities?country=' +  $select_country[0].selectize.items[0],
          success: function(results) {
            if(city_value != null){
              select_city.addOption({value: city_value, text: city_value})
            }else{
              select_city.clearOptions()
            }
            select_city.enable();
            for(i = 0; i < results['name'].length; i++){
              select_city.addOption({value: results['name'][i][0], text: results['name'][i][0]})
            }
          },
          error: function() {
              callback();
          }
        })
      }
  });

  $select_city = $('#airport_city_filter').selectize({
    create: false
  });
  select_country = $select_country[0].selectize;
  select_city  = $select_city[0].selectize;
  select_city.disable();

  $(function(){
    select_country.addOption({value: country_value, text: country_value})
    select_country.addItem(country_value)
    select_city.enable();
    select_city.addOption({value: city_value, text: city_value})
    select_city.addItem(city_value)
  });
