.main_city_image
.container.airport_image_container
  .row
    .col-md-12
      .h1.main_airport_title = t(:city_show_title, city: @place.send("name_#{I18n.locale}"))

.airport_hotels_index
  .container.main_hotel_container
    .row
      .col-md-12
        h1.main_hotel_description = t(:city_show_description, city: @place.send("name_#{I18n.locale}"))
    .row.text-center
      - unless @hotels.length == 0
        - @hotels.each_slice(3) do |hotels|
          - hotels.each do |hotel|
            .col-md-4.airport
              .service-box
                .hotel_overlay
                = link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
                  .hotel_image = hotel.photos.first.present? ? image_tag(hotel.photos.first.direct_image_url) : image_tag('room-night-background.jpg')
                  h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}

.airport_pagination = pagination_links_for @hotels
