- @cost_centers.each do | cost_center |
  .row.booking-box
    .col-md-12
      .row
        h1.hotel-name = cost_center.name
      .row
        .col-xs-6
          = link_to public_cost_center_path(cost_center.id), class: 'btn mini btn-primary'
            = icon_for(:plus)
            = t(:details)
        .col-xs-6
          = link_to t(:edit), edit_public_cost_center_path(cost_center.id), class: 'btn mini green cpy-confirm-booking-button'
