ruby:
 @executive_responsibles_list = ActiveRecord::Base.connection.execute("
 SELECT executive_responsibles.id, executive_responsibles.name , executive_responsibles.email FROM executive_responsibles where executive_responsibles.is_active = true ORDER BY executive_responsibles.email ").collect{|c| "#{c['id']}, #{c['email']}" }

- unless @executive_responsibles_list.blank?
  javascript:
    $( function() {
      var availableTags = #{@executive_responsibles_list.to_json.html_safe};
      $( "#executiveHash" ).autocomplete({
        minLength: 3,
        source: availableTags
      });
    } );

= simple_form_for [:admin, company_detail] do |f|

  .form-group.input.required.company_regions
    label.select.required.col-sm-3.control-label for="executive_responsibles"
      abbr title="obrigatório"
      |#{t("views.company_universe.companies.executive")}
    .col-sm-4
      = text_field_tag "executiveHash", company_detail.executive_responsible_id.blank? ? '' : @executive_responsibles_list.find {|e| /#{company_detail.executive_responsible_id}/ =~ e}, id: "executiveHash", class: "string optional col-sm-12 form-control", placeholder: "Procure pelo e-mail do executivo"

  .hidden
    = f.input :executive_responsible_id, :as => :hidden

  = form_submit_section
