- if @company_details.length == 0
  .alert.alert-info
    = t(:no_record_found)
- else
  .cpy-pagination-links
    = pagination_links_for @company_details
  .row
    .col-sm-12
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th.center
            | #{t("views.company_universe.company.name")}
          th.center
            | #{t("views.company_universe.company.data_de_cadastro")}
          th.center
            | #{t("views.company_universe.company.current_month")}
          th.center
            | #{t("views.company_universe.company.last_month")}
          th.center
            | #{t("views.company_universe.company.delayed_month")}
          th.center
            | #{t("views.company_universe.company.total")}
          th.center
            | #{t("views.company_universe.company.actions")}
      tbody
        - @companiesOrdened.each do | company |
          tr.center
            td
              = company[:company][:name]
            td
              = " #{(company[:company][:created_at]).strftime("%d/%m/%Y")}"
            td
              -if company[:actualMonth] > 0
                = link_to "#{company[:actualMonth]}" ' Reserva(s)', admin_bookings_path(:by_user_id => company[:company][:user_id], :by_actual_month => "")
              -else
                = 'Nenhuma reserva'
            td
              -if company[:lastMonth] > 0
                = link_to "#{company[:lastMonth]}" ' Reserva(s)', admin_bookings_path(:by_user_id => company[:company][:user_id], :by_last_month => "")
              -else
                = 'Nenhuma reserva'
            td
              -if company[:delayedMonth] > 0
                = link_to "#{company[:delayedMonth]}" ' Reserva(s)', admin_bookings_path(:by_user_id => company[:company][:user_id], :by_delayed_month => "")
              -else
                = 'Nenhuma reserva'
            td
              - total = company[:subtract]
              -if total == 0
                = 'Nenhuma reserva'
              -else
                = "#{total} reserva(s)"

            td.action-list.center
              = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_company_detail_path(company[:company][:id]), class: 'btn btn-xs btn-success'

              = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_company_detail_path(company[:company][:id]), class: 'btn btn-xs btn-info cpy-edit-agency-link'
              | &nbsp;&nbsp;

    = pagination_links_for @company_details              