= header_section

= panel_section do
  = show_for @company_detail do |u|
    .row
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.company_universe.executives.name")}
          .content
            = @company_detail.name
        .attributes-wrapper
          .attribute-title
            | #{t("views.company_universe.executives.cnpj")}
          .content
            = @company_detail.cnpj
        .attributes-wrapper
          .attribute-title
            | #{t("views.company_universe.executives.financial_contact")}
          .content
            = @company_detail.financial_contact

        .attributes-wrapper
          .attribute-title
            | #{t("views.company_universe.executives.phone_financial_contact")}
          .content
            = @company_detail.phone_financial_contact

        .attributes-wrapper
          .attribute-title
            | #{t("views.company_universe.executives.user_name")}
          .content
            - if @company_detail.user != nil
                 = @company_detail.user.name
            - else
                = '-'
        .attributes-wrapper
          .attribute-title
            | #{t("views.company_universe.executives.user_phone_number")}
          .content
            - if @company_detail.user != nil
                 = @company_detail.user.phone_number
            - else
                = '-'
        .attributes-wrapper
          .attribute-title
            | #{t("views.company_universe.executives.executive_responsible")}
          .content
            - executive = @company_detail.company_universe.try(:executive_responsible) || @company_detail.try(:executive_responsible)
            - if (@company_detail.company_universe.try(:executive_responsible) && @company_detail.try(:executive_responsible))
              - if @company_detail.company_universe.executive_responsible != @company_detail.executive_responsible
                = "#{@company_detail.company_universe.executive_responsible.name} - #{@company_detail.company_universe.executive_responsible.email} (#{@company_detail.executive_responsible.name} - #{@company_detail.executive_responsible.email} - Universo)"
              - else
                = "#{executive.try(:name)} #{executive.try(:email)}"
            - else
                = "#{executive.try(:name)} #{executive.try(:email)}"

        .attributes-wrapper
          .attribute-title
            | Executivo de Atendimento
          .content
            - if (@company_detail.company_universe.try(:executive_service) && @company_detail.executive_service.present?)
              - if @company_detail.company_universe.executive_service != @company_detail.executive_service
                = "#{@company_detail.company_universe.executive_service} (#{@company_detail.executive_service} -  Universo)"
              - else
                = "#{@company_detail.company_universe.try(:executive_service) || @company_detail.executive_service}"
            - else
              = "#{@company_detail.company_universe.try(:executive_service) || @company_detail.executive_service}"

        .attributes-wrapper
          .attribute-title
            | Número de Funcionários
          .content
            = @company_detail.company_universe.try(:qtd_employees)

        .attributes-wrapper
          .attribute-title
            | Destino Principal
          .content
            = @company_detail.company_universe.try(:destiny_first)

        .attributes-wrapper
          .attribute-title
            | Destino Secundário
          .content
            = @company_detail.company_universe.try(:destiny_second)

        .attributes-wrapper
          .attribute-title
            | Destino Adicional
          .content
            = @company_detail.company_universe.try(:destiny_other)

        .attributes-wrapper
          .attribute-title
            | #{t("views.admin.users.accepts_billed_payment")}
          .content
            i.bigger-100 class="icon-#{@company_detail.user.accept_confirmed_and_invoiced ? 'ok' : 'remove'}"

        .attributes-wrapper
          .attribute-title
            | Já recebemos ficha cadastral?
          .content
            i.bigger-100 class="icon-#{@company_detail.already_received_registration_form ? 'ok' : 'remove'}"

        .attributes-wrapper
          .attribute-title
            | Já recebemos contrato assinado?
          .content
            i.bigger-100 class="icon-#{@company_detail.already_received_signed_contract ? 'ok' : 'remove'}"

        .attributes-wrapper
          .attribute-title
            | Já alinhamos nossas campanhas?
          .content
            i.bigger-100 class="icon-#{@company_detail.already_aligned_campaigns ? 'ok' : 'remove'}"

        .attributes-wrapper
          .attribute-title
            | Já alinhamos nossas campanhas?
          .content
            i.bigger-100 class="icon-#{@company_detail.already_aligned_campaigns ? 'ok' : 'remove'}"

      .col-sm-6
        .attributes-wrapper
            .attribute-title
              | Empresa possui uma agência?
            .content
              i.bigger-100 class="icon-#{@company_detail.company_universe.try(:has_an_agency) ? 'ok' : 'remove'}"

        .attributes-wrapper
            .attribute-title
              | Como a empresa remunera esta agência?
            .content
              = @company_detail.company_universe.try(:how_your_company_pays_this_agency)
        .attributes-wrapper
            .attribute-title
              | A Empresa possui um contrato com essa agência?
            .content
              i.bigger-100 class="icon-#{@company_detail.company_universe.try(:company_has_contract_with_that_agency) ? 'ok' : 'remove'}"
        .attributes-wrapper
            .attribute-title
              | A empresa pode cancelar esse contrato?
            .content
              i.bigger-100 class="icon-#{@company_detail.company_universe.try(:company_can_cancel_this_agreement) ? 'ok' : 'remove'}"
        .attributes-wrapper
            .attribute-title
              | Quanto a empresa pagaria pra cancelar esse contrato?
            .content
               = @company_detail.company_universe.try(:how_much_the_company_pays_to_cancel_this_agreement)
        .attributes-wrapper
            .attribute-title
              | Quando vence o contrato com essa agência?
            .content
               = @company_detail.company_universe.try(:date_of_expiry_of_the_agency_contract)

  .wizard-actions
    = link_to t("views.admin.agencies.back").html_safe, admin_company_detail_path, class: 'btn btn-prev'
    = link_to t("views.admin.agencies.edit").html_safe, edit_admin_company_detail_path(@company_detail.id), class: 'btn btn-info'
