css:
  #btn-scroll-up{
    position: fixed !important;
    bottom: 0 !important;
  }
  th {
    text-align: left !important;
    background-color: #F2F2F2;
  }
  td {
    text-align: left !important;
  }
= panel_section(name: 'Documentação API Webservice V1') do
  = show_for current_affiliate_affiliate do |u|

    .attributes-wrapper
      .attribute-title
        | Rotas da API (Json)

      .content
        - if current_affiliate_affiliate.api_webservice_on && !current_affiliate_affiliate.api_webservice_test_token.blank?
          table.table.table-striped.table-bordered.table-hover
            thead
              tr
                th.center
                  | #
                th.center
                  | Nome da rota
                th.center
                  | Tipo de requisição
            tbody
              tr
                td.center
                  | 1
                td.center
                  a href="#offers_per_price"
                    | Buscar ofertas disponíveis de acordo com o valor
                td.center
                  | GET
              tr
                td.center
                  | 2
                td.center
                  a href="#offers_per_city"
                    | Buscar ofertas disponíveis de acordo com a cidade
                td.center
                  | GET
              tr
                td.center
                  | 3
                td.center
                  a href="#hotel_list"
                    | Buscar hotéis disponíveis
                td.center
                  | GET
              tr
                td.center
                  | 4
                td.center
                  a href="#hotel_list_by_city"
                    | Buscar hotéis disponíveis por cidade
                td.center
                  | GET
              tr
                td.center
                  | 5
                td.center
                  a href="#countries"
                    | Buscar países, estados e cidades disponíveis
                td.center
                  | GET
                tr
                  td.center
                    | 6
                  td.center
                    a href="#hotel_offers"
                      | Buscar ofertas disponíveis do hotel de acordo com o período especificado
                  td.center
                    | GET
                tr
                  td.center
                    | 7
                  td.center
                    a href="#currency"
                      | Buscar moedas disponíveis
                  td.center
                    | GET
                tr
                  td.center
                    | 8
                  td.center
                    a href="#hotel_search"
                      | Buscar hotéis
                  td.center
                    | GET
                tr
                  td.center
                    | 9
                  td.center
                    a href="#hotel_detail"
                      | Detalhes do hotel e ofertas
                  td.center
                    | GET
                tr
                  td.center
                    | 10
                  td.center
                    a href="#select_offer"
                      | Selecionar oferta
                  td.center
                    | GET
                tr
                  td.center
                    | 11
                  td.center
                    a href="#booking_post"
                      | Reservar
                  td.center
                    | POST
                  tr
                    td.center
                      | 12
                    td.center
                      a href="#booking_show"
                        | Exibir Reserva
                    td.center
                      | GET
                  tr
                    td.center
                      | 13
                    td.center
                      a href="#booking_cancel"
                        | Cancelar Reserva
                    td.center
                      | PUT
                  tr
                    td.center
                      | 14
                    td.center
                      a href="#payment_paypal"
                        | Pagamento de reserva usando Paypal
                    td.center
                      | POST
                  tr
                    td.center
                      | 15
                    td.center
                      a href="#hotel_chains"
                        | Busca de Redes Hoteleiras
                    td.center
                      | GET
                  tr
                    td.center
                      | 16
                    td.center
                      a href="#hotel_chains_by_hotel_group"
                        | Busca de hotéis por Rede Hoteleira
                    td.center
                      | GET
                  tr
                    td.center
                      | 17
                    td.center
                      a href="#get_lat_lng"
                        | Busca de Latidude e Longitude
                    td.center
                      | GET
                  tr
                    td.center
                      | 18
                    td.center
                      a href="#create_payment_billed"
                        | Pagamento faturado de reserva
                    td.center
                      | POST
                  tr
                    td.center
                      | 19
                    td.center
                      a href="#payment_cc"
                        | Pagamento de reserva usando Cartão de Crédito
                    td.center
                      | POST
                /!
                  tr
                    td.center
                      | 13
                    td.center
                      a href="#"
                        | Reservas
                    td.center
                      | GET

        - else
          | Ative a opção API Webservice em seu cadastro e aguarde aprovação.
          br
          = link_to "clique aqui", affiliate_update_info_path

    - a         = current_affiliate_affiliate
    - token     = a.webservice_token.blank? ? a.api_webservice_test_token : a.webservice_token
    - timestamp = Time.new.tomorrow
    - date      = timestamp.day.to_s+"/"+timestamp.month.to_s+"/"+timestamp.year.to_s # date now +1 day to validate in search
    - time      = timestamp.hour.to_s+"/"+timestamp.min.to_s+"/"+timestamp.sec.to_s
    - hour      = timestamp.hour.to_s
    - min       = timestamp.min.to_s
    - currency       = "R$"
    - if request.port == 80 then p = nil else p = request.port end
    / - #url      = "#{request.host}:#{p}/affiliate/api/v1/"
    - url      = "http://staging.hotelquando.com/affiliate/api/v1/"

    .attribute-title style="margin-top: 50px"
      hr
      h4#offers_per_price
        | Buscar ofertas disponíveis do hotel de acordo com o preço (GET)
      p
        | URL:
        - url_block = "offers"
        - search_params = "?token=#{token}&id=641&min_value=90&max_value=100&date=#{Date.current}"
        = link_to url+url_block, url+url_block+search_params, target: "_blank"

      p
        | É possível pesquisar as ofertas usando o :id ou o nome hotel

      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | id
              td
                | Id do hotel que deseja exibir as ofertas ( ../hotels/:id )
              td
                | 641
              td.center
                | *
            tr
              td
                | name
              td
                | Nome do hotel que deseja exibir as ofertas
              td
                | Uniclass Hotel São Paulo
              td.center
                |
            tr
              td
                | min_value
              td
                | Preço mínimo da oferta
              td
                | 90
              td.center
                | *
            tr
              td
                | max_value
              td
                | Preço máximo da oferta
              td
                | 100
              td.center
                | *
            tr
              td
                | date
              td
                | Data da oferta, caso não seja passado uma data, será considerado a data atual
              td
                | 15/04/2017
              td.center
                |
            tr
              td
                | currency
              td
                | Moeda em que deseja ver os valores(Default: US$)
              td
                = currency
              td.center
                |

    .attribute-title style="margin-top: 50px"
      hr
      h4#offers_per_city
        | Buscar ofertas disponíveis por cidade (GET)
      p
        | URL:
        - url_block = "city_offers"
        - search_params = "?token=#{token}&city=são%20paulo&date=#{Date.current}&currency=US$"
        = link_to url+url_block, url+url_block+search_params, target: "_blank"

      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | city
              td
                | Nome da cidade
              td
                | são paulo
              td.center
                | *
            tr
              td
                | date
              td
                | Data da oferta, caso não seja passado uma data, será considerado a data atual
              td
                | 15/04/2017
              td.center
                |
            tr
              td
                | currency
              td
                | Moeda em que deseja ver os valores(Default: US$)
              td
                = currency
              td.center
                |
            tr
              td
                | page
              td
                | Por default são retornados 20 ofertas por página, o paramêtro page é para informar qual página deseja buscar, por default é a página 0
              td
                | 0
              td.center
                | *

    .attribute-title style="margin-top: 50px"
      hr
      h4#hotel_list
        | Buscar hotéis disponíveis (GET)
      p
        | URL:
        - url_block = "hotel_list"
        - search_params = "?token=#{token}"
        = link_to url+url_block, url+url_block+search_params, target: "_blank"

      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *


    .attribute-title style="margin-top: 50px"
      hr
      h4#hotel_list_by_city
        | Buscar hotéis disponíveis por cidade (GET)
      p
        | URL usando nome da cidade:
        - url_block = "city_hotel"
        - search_params = "/sao-paulo?token=#{token}"
        = link_to url+url_block, url+url_block+search_params, target: "_blank"
      p
        | URL usando id da cidade:
        - url_block = "city_hotel"
        - search_params = "/5389?token=#{token}"
        = link_to url+url_block, url+url_block+search_params, target: "_blank"
      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | city
              td
                | Nome da cidade
              td
                | sao-paulo
              td.center
                | *
            tr
              td
                | id
              td
                | Id da cidade
              td
                | 5389
              td.center
                |




    .attribute-title style="margin-top: 50px"
      hr
      h4#countries
        | Buscar países, estados e cidades disponíveis (GET)
      p
        | URL:
        - url_block = "countries"
        - search_params = "?token=#{token}"
        = link_to url+url_block, url+url_block+search_params, target: "_blank"
      p
        | Se não passar nenhum parâmetro será retornado todos os paises, se passar somente country será retornado todos os estados, se passar state e country será retornado todas cidades

      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | country
              td
                | Nome do país
              td
                | BR
              td.center
                |*(se for pesquisar por cidades é obrigatório passar o país)
            tr
              td
                | state
              td
                | Nome do estado
              td
                | SP
              td.center
                |*(se for pesquisar por cidades é obrigatório passar o estado)
            tr
              td
                | city
              td
                | Nome da cidade
              td
                | SP
              td.center
                |

    .attribute-title style="margin-top: 50px"
      hr
      h4#hotel_offers
        | Buscar ofertas disponíveis do hotel de acordo com o período especificado (GET)
      p
        | URL:
        - url_block = "hotel_offers"
        - search_params = "?token=#{token}&id=641&by_pack_length=12&by_checkin_date=15/04/2017&name=Uniclass Hotel São Paulo"
        = link_to url+url_block, url+url_block+search_params, target: "_blank"

      p
        | É possível pesquisar as ofertas usando o :id ou o nome hotel

      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | id
              td
                | Id do hotel que deseja exibir as ofertas ( ../hotels/:id )
              td
                | 641
              td.center
                | * ou name
            tr
              td
                | name
              td
                | Nome do hotel que deseja exibir as ofertas
              td
                | Uniclass Hotel São Paulo
              td.center
                | * ou id
            tr
              td
                | by_pack_length
              td
                | Quantidade de horas para busca de ofertas
              td
                | 12
              td.center
                | *
            tr
              td
                | by_checkin_date
              td
                | Data de checkin no hotel
              td
                | 15/04/2017
              td.center
                | *
            tr
              td
                | currency
              td
                | Moeda em que deseja ver os valores(Default: US$)
              td
                = currency
              td.center
                |
            tr
              td
                | page
              td
                | Por default são retornados 20 ofertas por página, o paramêtro page é para informar qual página deseja buscar, por default é a página 0
              td
                | 0
              td.center
                | *

    .attribute-title style="margin-top: 50px"
      hr
      h4#currency
        | Buscar moedas disponíveis (GET)
      p
        | URL:
        - url_block = "currencies"
        - search_params = "?token=#{token}"
        = link_to url+url_block, url+url_block+search_params, target: "_blank"

      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *

    .attribute-title style="margin-top: 50px"
      hr
      h4#hotel_search
        | Buscar hotéis (GET)
      p
        | URL:
        - url_block = "hotels"
        - search_params = "?token=#{token}&by_latitude=-23.5505199&by_longitude=-46.6333094&by_pack_length=12&room_category=1&by_number_of_people=1&by_checkin_date=#{date}&by_checkin_hour=#{hour}&currency=#{currency}"
        = link_to url+url_block, url+url_block+search_params, target: "_blank"
        br
        i
          | Você pode verificar em quais moedas disponibilizamos os valores:
        = link_to "Buscar moedas disponíveis", "#currency"

      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | by_latitude
              td
                | Latitude para busca do hotel
              td
                | -23.5505199
              td.center
                | *
            tr
              td
                | by_longitude
              td
                | Longitude para busca do hotel
              td
                | -46.6333094
              td.center
                | *
            tr
              td
                | by_pack_length
              td
                | Quantidade de horas para busca de ofertas
              td
                | 12
              td.center
                | *
            tr
              td
                | room_category
              td
                | Tipo de busca [ 1: quartos | 2: salas ]
              td
                | 1
              td.center
                | *
            tr
              td
                | by_number_of_people
              td
                | Quantidade de pessoas para o quarto
              td
                | 1
              td.center
                | *
            tr
              td
                | by_checkin_date
              td
                | Data de checkin no hotel
              td
                | date
              td.center
                | *
            tr
              td
                | by_checkin_hour
              td
                | Hora de checkin no hotel - hora não fracionada
              td
                = hour
              td.center
                | *
            tr
              td
                | currency
              td
                | Moeda em que deseja ver os valores(Default: US$)
              td
                = currency
              td.center
                |


    .attribute-title style="margin-top: 50px"
      hr
      h4#hotel_detail
        | Detalhes do hotel e ofertas (GET)
      p
        | URL:
        - url_block = "hotels/19"
        - show_hotel_params = "?token=#{token}&by_latitude=-23.5505199&by_longitude=-46.6333094&by_pack_length=12&by_number_of_people=1&by_checkin_date=#{date}&by_checkin_hour=#{hour}&currency=#{currency}"
        = link_to url+url_block, url+url_block+show_hotel_params, target: "_blank"
        br
        i
          | Caso este link não retorne resultados, substitua o :id do hotel, neste caso 19, por um id encontrado ao clicar no link:
        = link_to "Buscar Hotéis", "#hotel_search"
        br
        i
          | Você pode verificar em quais moedas disponibilizamos os valores:
        = link_to "Buscar moedas disponíveis", "#currency"
      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | id
              td
                | Id do hotel que deseja exibir os  detalhes ( ../hotels/:id )
              td
                | 19
              td.center
                | *
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | by_latitude
              td
                | Latitude para busca do hotel
              td
                | -23.5505199
              td.center
                | *
            tr
              td
                | by_longitude
              td
                | Longitude para busca do hotel
              td
                | -46.6333094
              td.center
                | *
            tr
              td
                | by_pack_length
              td
                | Quantidade de horas para busca de ofertas
              td
                | 12
              td.center
                | *
            tr
              td
                | by_number_of_people
              td
                | Quantidade de pessoas para o quarto
              td
                | 1
              td.center
                | *
            tr
              td
                | by_checkin_date
              td
                | Data de checkin no hotel
              td
                = date
              td.center
                | *
            tr
              td
                | by_checkin_hour
              td
                | Hora de checkin no hotel - hora não fracionada
              td
                = hour
              td.center
                | *
            tr
              td
                | currency
              td
                | Moeda em que deseja ver os valores(Default: US$)
              td
                = currency
              td.center
                |


    .attribute-title  style="margin-top: 50px"
      hr
      h4#select_offer
        | Selecionar oferta (GET)
      p
        | URL:
        - url_block = "bookings/new"
        - t = timestamp
        - ts = "#{t.year}-#{(t.month < 10) ? '0'+t.month.to_s : t.month}-#{(t.day < 10) ? '0'+t.day.to_s : t.day} #{hour}:00:00 0000"
        - book_new_params = "?token=#{token}&pack_in_hours=12&number_of_people=1&checkin_timestamp=#{ts}&price=80.0&room_type_id=59&currency=#{currency}"
        = link_to url+url_block, url+url_block+book_new_params, target: "_blank"
        br
        i
          | Caso este link não retorne resultados, substitua os parâmetros price (80.0) e o room_type_id (59), por valores encontrados no link:
        = link_to "Detalhes do hotel e ofertas", "#hotel_detail"
        br
        i
          | Você pode verificar em quais moedas disponibilizamos os valores:
        = link_to "Buscar moedas disponíveis", "#currency"
      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | checkin_timestamp
              td
                | Timestamp do checkin: horário sempre inteiro e fuso horário igual a 0000
              td
                = ts
              td.center
                | *
            tr
              td
                | pack_in_hours
              td
                | Quantidade de horas para busca de ofertas
              td
                | 12
              td.center
                | *
            tr
              td
                | price
              td
                | Preço do quarto selecionado
              td
                | 80.0
              td.center
                | *
            tr
              td
                | number_of_people
              td
                | Quantidade de pessoas para o quarto
              td
                | 1
              td.center
                | *
            tr
              td
                | room_type_id
              td
                | Id do tipo de quarto, somente informar caso escolhido buscar por quartos
              td
                | 59
              td.center
                | *OR
            tr
              td
                | business_room_id
              td
                | Id do tipo de sala, somente informar caso escolhido buscar por salas
              td
                | 19
              td.center
                | *OR
            tr
              td
                | currency
              td
                | Moeda em que deseja ver os valores(Default: US$)
              td
                = currency
              td.center
                |

    .attributes-wrapper  style="margin-top: 50px"
      hr
      h4#booking_post
        | Reservar  (POST)
      p
        | URL:
        - url_block = "bookings"
        - book_post_params = "?token=#{token}&offer_id=2612410&guest_name=#{a.name}&number_of_people=1&note=Incluir toalha adicional&guest_email=#{a.email}&phone_number=#{a.phone_number}&currency=#{currency}"
        = link_to url+url_block, url+url_block+book_post_params, target: "_blank", method: "POST"
        br
        i
          | Após reservar, é necessário fazer o <a href="#payment_paypal">pagamento</a>, somente serão validadas reservas pagas
        br
        i
          | Substitua o parâmetro offer_id (2612410), por um Id de oferta encontrado no link:
        = link_to "Selecionar Oferta", "#select_offer"
        br
        i
          | Você pode verificar em quais moedas disponibilizamos os valores:
        = link_to "Buscar moedas disponíveis", "#currency"
      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | offer_id
              td
                | Id da oferta selecionada
              td
                = "2612410"
              td.center
                | *
            tr
              td
                | guest_name
              td
                | Nome do hóspede - mesmo que a quantidade de hóspede seja maior que 1, informar apenas o nome do hóspede principal
              td
                = a.name
              td.center
                | *
            tr
              td
                | number_of_people
              td
                | Quantidade de pessoas para o quarto
              td
                | 1
              td.center
                | *
            tr
              td
                | phone_number
              td
                | Telefone do hóspede
              td
                = a.phone_number
              td.center
                | *
            tr
              td
                | guest_email
              td
                | Email do hóspede
              td
                = a.email
              td.center
                |
            tr
              td
                | note
              td
                | Observações para sua reserva
              td
                | Incluir toalha adicional
              td.center
                |
            tr
              td
                | currency
              td
                | Moeda em que deseja ver os valores(Default: US$)
              td
                = currency
              td.center
                |
            tr
              td
                | currency_code
              td
                | Moeda em que deseja efetivar a reservas
              td
                = "USD"
              td.center
                | *

    .attributes-wrapper  style="margin-top: 50px"
      hr
      h4#booking_show
        | Exibir Reserva  (GET)
      p
        | URL:
        - url_block = "bookings/"
        - book_show_params = ":id?token=#{token}&currency=#{currency}"
        = link_to url+url_block+":id", url+url_block+book_show_params, target: "_blank", method: "GET"
        br
        i
          | Substitua o parâmetro :id, por um Id de reserva após criar uma, você pode usar o backoffice para visualizar as suas reservas ou usar o link abaixo que retornará os detalhes após realizar sua reserva:
        = link_to "Reservar", "#booking_post"
        br
        i
          | Você pode verificar em quais moedas disponibilizamos os valores
        = link_to "Buscar moedas disponíveis", "#currency"
      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | id
              td
                | Id da reserva selecionada ( ../bookings/:id )
              td
                = "3540"
              td.center
                | *
            tr
              td
                | currency
              td
                | Moeda em que deseja ver os valores(Default: US$)
              td
                = currency
              td.center
                |




    .attributes-wrapper  style="margin-top: 50px"
      hr
      h4#booking_cancel
        | Cancelar Reserva (PUT)
      p
        | URL:
        - url_block = "bookings/"
        - book_cancel_params = ":id/cancel?token=#{token}"
        = link_to url+url_block+":id/cancel", url+url_block+book_cancel_params, target: "_blank", method: "PUT"
        br
        i
          | Substitua o parâmetro :id, por um Id de reserva ativa após criar uma, você pode usar o backoffice para visualizar as suas reservas ou usar o link abaixo que retornará os detalhes após realizar sua reserva:
        = link_to "Reservar", "#booking_post"

      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | id
              td
                | Id da reserva selecionada ( ../bookings/:id )
              td
                = "3540"
              td.center
                | *




    .attributes-wrapper  style="margin-top: 50px"
      hr
      h4#payment_paypal
        | Pagamento de reserva usando Paypal (POST)
      p
        /affiliate/api/v1/bookings/:booking_id/payments/create_payment_paypal
        | URL:
        - url_block = "bookings/"
        - book_cancel_params = ":booking_id/payments/create_payment_paypal?token=#{token}&credit_card_type=Visa&card_number=0000000000000000&card_expire_month=06&card_expire_year=2017&card_cvc=123&card_first_name=Hotel&card_last_name=Quanto&card_address=R:Teste Legal&card_city=SP&card_state=SP&card_posta_code=33333-333&card_country_code=BR&currency=US$"
        = link_to url+url_block+":booking_id/payments/create_payment_paypal", url+url_block+book_cancel_params, target: "_blank", method: "POST"
        br
        i
          | Substitua o parâmetro :id, por um Id de reserva ativa após criar uma, você pode usar o backoffice para visualizar as suas reservas ou usar o link abaixo que retornará os detalhes após realizar sua reserva:
        = link_to "Reservar", "#booking_post"
        br
        i
          | Para usuários brasileiros a cobrança será feita em Real, para usuários de ourtos paises a cobrança será feita em dólar.
      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | booking_id
              td
                | Id da reserva selecionada
              td
                = "3540"
              td.center
                | *
            tr
              td
                | credit_card_type
              td
                | Bandeira do Cartão
              td
                = "Visa"
              td.center
                | *
            tr
              td
                | card_number
              td
                | Número do cartao de crédito
              td
                = "0000000000000000"
              td.center
                | *
            tr
              td
                | card_expire_month
              td
                | Mês de expiração do cartão
              td
                = "06"
              td.center
                | *
            tr
              td
                | card_expire_year
              td
                | Ano de expiração do cartão
              td
                = "2017"
              td.center
                | *
            tr
              td
                | card_cvc
              td
                | CVC do cartão
              td
                = "123"
              td.center
                | *
            tr
              td
                | card_first_name
              td
                | Primeiro nome igual está no cartão
              td
                = "Hotel"
              td.center
                | *
            tr
              td
                | card_last_name
              td
                | Último nome igual está no cartão
              td
                = "Quando"
              td.center
                | *
            tr
              td
                | card_address
              td
                | Endereço de cobrança do cartão
              td
                = "Rua: teste, Bairro: teste"
              td.center
                | *
            tr
              td
                | card_city
              td
                | Cidade de cobrança do cartão
              td
                = "São Paulo"
              td.center
                | *
            tr
              td
                | card_state
              td
                | Estado de cobrança do cartão
              td
                = "São Paulo"
              td.center
                | *
            tr
              td
                | card_posta_code
              td
                | Código postal do cartão
              td
                = "33333333"
              td.center
                | *
            tr
              td
                | card_country_code
              td
                | Código do Pais do cartão
              td
                = "US$"
              td.center
                | *
            tr
              td
                | user_country
              td
                | Código do Pais do usuário(por default é considerado BR)
              td
                = "BR"
              td.center
                | *

    .attribute-title style="margin-top: 50px"
      hr
      h4#hotel_chains
        | Busca de Redes Hoteleiras  (GET)
      p
        | URL:
        - url_block = "hotel_groups"
        - search_params = "?token=#{token}"
        = link_to url+url_block, url+url_block+search_params, target: "_blank"

      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | nome
              td
                | Nome ou parte do nome da rede hoteleira(Deixar em branco para buscar todas redes hoteleiras)
              td
                = ""
              td.center
                |

    .attribute-title style="margin-top: 50px"
      hr
      h4#hotel_chains_by_hotel_group
        | Busca de hotéis por Rede Hoteleira (GET)
      p
        | URL:
        - url_block = "hotel_groups/:id"
        - search_params = "?token=#{token}"
        = link_to url+url_block, url+url_block+search_params, target: "_blank"
        br
        i
          | Substitua o parâmetro :id, por um Id de uma Rede Hoteleira, você pode usar o link abaixo que retornará os detalhes após realizar sua reserva:
        = link_to "Busca de Redes Hoteleiras", "#hotel_chains"
      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | id
              td
                | Id da Rede Hoteleira
              td
                = "1"
              td.center
                |

    .attribute-title style="margin-top: 50px"
      hr
      h4#get_lat_lng
        | Busca de Latidude e Longitude através de endereço (GET)
      p
        | URL:
        - url_block = "lat_lng"
        - search_params = "?token=#{token}&address=Sao Paulo"
        = link_to url+url_block, url+url_block+search_params, target: "_blank"
      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | Address
              td
                | Um endereço(Pode ser estado, cidade, pais ou endereço completo)
              td
                = "Sao Paulo"
              td.center
                | *

    .attribute-title style="margin-top: 50px"
      hr
      h4#create_payment_billed
        | Pagamento faturado de reserva (POST)
      p
        | URL:
        - url_block = "bookings/1/payments/create_payment_billed?token=#{token}"
        - search_params = "bookings"
        = link_to url+url_block, url+url_block, target: "_blank"
      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | booking_id
              td
                | Id da reserva
              td
                = 1
              td.center
                | *
              td.center
                | *

    .attributes-wrapper  style="margin-top: 50px"
      hr
      h4#payment_cc
        | Pagamento de reserva usando Cartão de Crédito (POST)
      p
        /affiliate/api/v1/bookings/:booking_id/payments/create_payment_maxipago
        | URL:
        - url_block = "bookings/"
        - book_cancel_params = ":booking_id/payments/create_payment_maxipago?token=#{token}&number=4111111111111111&expMonth=06&expYear=2017&cvv=123"
        = link_to url+url_block+":booking_id/payments/create_payment_maxipago", url+url_block+book_cancel_params, target: "_blank", method: "POST"
      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | number
              td
                | Número do Cartão de Crédito
              td
                = 4111111111111111
              td.center
                | *
            tr
              td
                | expMonth
              td
                | Mês de expiraçao do Cartão de Crédito
              td
                = 06
              td.center
                | *
            tr
              td
                | expYear
              td
                | Número do Cartão de Crédito
              td
                = 2017
              td.center
                | *
            tr
              td
                | cvv
              td
                | CVV do Cartão de Crédito
              td
                = 123
              td.center
                | *


    /!
      .attributes-wrapper
        .content
          Reservas  (GET)

    = show_panel_buttons_section(path_to_return: :back)

javascript:

  // Scrolls to the selected menu item on the page
  $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              if (target.length) {
                  $('html,body').animate({
                      scrollTop: target.offset().top
                  }, 1000);
                  return false;
              }
          }
      });
  });
