- unit_to_currency = Currency.by_code_or_money_sign(@booking.currency_code).first unless @booking.currency_code.nil?

h3.description-title
  = t(:prices)

.row
  .col-sm-12
    .display-table.text-center
      - if @booking.hotel.is_brazilian
        .display-table-cell
          .attributes-wrapper.booking_initial_value
            .attribute-title.price-attribute-title
              = t(:booking_initial_value)
            .content.price-content
              - if @booking.currency_code.nil?
                = number_to_currency(@booking.initial_price, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol])
              - else
                = number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.initial_price, @booking.currency_code, @booking.payments.last.try(:authorized_at) ? @booking.payments.last.authorized_at : @booking.created_at), unit: unit_to_currency.money_sign)

        - if !@booking.is_meeting_offer? && !@booking.is_event_offer?
          .display-table-cell
            .attributes-wrapper.booking_value_for_extra_people
              .attribute-title.price-attribute-title
                = t(:value_for_extra_people)
              .content.price-content
                - if @booking.currency_code.nil?
                  = number_to_currency(calculate_currency(@booking.extra_people_price, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol])
                - else
                  = number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.extra_people_price, @booking.currency_code, @booking.payments.last.try(:authorized_at) ? @booking.payments.last.authorized_at : @booking.created_at), unit: unit_to_currency.money_sign)

        .display-table-cell
          .attributes-wrapper.booking_tax
            .attribute-title.price-attribute-title
              = t(:booking_tax)
            .content.price-content
              - if @booking.currency_code.nil?
                = number_to_currency(@booking.booking_tax, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol])
              - else
                = number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.booking_tax, @booking.currency_code, @booking.payments.last.try(:authorized_at) ? @booking.payments.last.authorized_at : @booking.created_at), unit: unit_to_currency.money_sign)

      .display-table-cell
        .attributes-wrapper.booking_total_value
          .attribute-title.price-attribute-title
            = t(:total_value)
          .content.price-content
            - if @booking.currency_code.nil?
              = number_to_currency(@booking.total_price, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol])
            - else
              = number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.total_price, @booking.currency_code, @booking.payments.last.try(:authorized_at) ? @booking.payments.last.authorized_at : @booking.created_at), unit: unit_to_currency.money_sign)
