- offer_class = @booking.offer.class.name.constantize
h3.description-title
  = t(:schedule)
.row
  .col-sm-6
    .col-sm-3
      .attributes-wrapper.booking_checkin
        .attribute-title.checkin-title
          = t(:checkin) + ':'
    .col-sm-8
      .booking-date-hour.checkin
        .attributes-wrapper.booking_checkin_date
          .attribute-title
            = t(:date_word) + ':'
          .content
            - if @booking.is_omnibees_or_hoteisnet?
              = "#{l((@booking.date_interval.first + Offer::ROOM_CLEANING_TIME - 1.minute).to_date)}"
            - else
              = "#{l((@booking.date_interval.first + offer_class::ROOM_CLEANING_TIME - 1.minute).to_date)}"
        .attributes-wrapper.booking_checkin_hour
          .attribute-title
            = t(:hour) + ':'
          .content
            - if @booking.is_omnibees_or_hoteisnet?
             = "#{(@booking.date_interval.first + Offer::ROOM_CLEANING_TIME - 1.minute).strftime("%H:%M")}"
            - else
             = "#{(@booking.date_interval.first + offer_class::ROOM_CLEANING_TIME - 1.minute).strftime("%H:%M")}"

  .col-sm-6
    .col-sm-3
      .attributes-wrapper.booking_checkout
        .attribute-title.checkout-title
          = t(:checkout) + ':'

    .col-sm-8
      .booking-date-hour.checkout
        .attributes-wrapper.booking_checkout_date
          .attribute-title
            = t(:date_word) + ':'
          .content
            - if @booking.is_omnibees_or_hoteisnet?
              = "#{l((@booking.date_interval.last - Offer::ROOM_CLEANING_TIME + 1.minute).to_date)}"
            - else
              = "#{l((@booking.date_interval.last - offer_class::ROOM_CLEANING_TIME + 1.minute).to_date)}"
        .attributes-wrapper.booking_checkout_hour
          .attribute-title
            = t(:hour) + ':'
          .content
            - if @booking.is_omnibees_or_hoteisnet?
              = "#{(@booking.date_interval.last - Offer::ROOM_CLEANING_TIME + 1.minute).strftime("%H:%M")}"
            - else
              = "#{(@booking.date_interval.last - offer_class::ROOM_CLEANING_TIME + 1.minute).strftime("%H:%M")}"
