h3.description-title
  = t(:status)
.row
  .col-sm-12
    .attributes-wrapper.booking_creation_date_and_hour
      .attribute-title
        = t(:booking_creation_date_and_hour) + ':'
      .content
        = l @booking.created_at
    - if (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_without_card]) || (@booking.status == Booking::ACCEPTED_STATUSES[:invoiced_by_agency])
      .attributes-wrapper.booking_confirmation_date_and_hour
        .attribute-title
          = t(:booking_confirmation_date_and_hour)
        .content
          = l @booking.updated_at

  .col-sm-12
    .attributes-wrapper.booking_status
      .attribute-title
        = t(:confirmation) + ':'
      .content.status-value
        = t("bookings.#{Booking::ACCEPTED_STATUS_REVERSED[@booking.status]}")