h2.page-title
  => @booking.hotel.name
  .room-mini-description
    - if @booking.is_meeting_offer?
      => t(:meeting_room_for)
      =< @booking.offer.meeting_room_maximum_capacity
      =< t(:people).downcase
    - elsif @booking.is_event_offer?
      => t(:event_room_for)
      =< @booking.offer.event_room_maximum_capacity
      =< t(:people).downcase
    - else
      => t(:room_for)
      =< @booking.number_of_people
.divider