= header_section

h2 = @meeting_room.hotel
h3 = t("views.admin.hotels.meeting_room_name_pt_br", meeting_room: @meeting_room.name_pt_br)

= render partial: "admin/hotels/meeting_rooms/edit/form", locals: {meeting_room: @meeting_room}
