= header_section

= panel_section do
  = show_for @meeting_room do |u|
    = u.attribute :hotel
    = multilanguage_attribute_show_for(:name, u)
    = multilanguage_attribute_show_for(:description, u)
    = u.attribute :maximum_capacity

  = shared_component("photo_list_show", {photos: @meeting_room.photos})
  = show_panel_buttons_section
