.public-bookings-payments-controller.create-action,
.public-bookings-payments-controller.payment-success-action

  .booking-step-title
    img
      display: block
      margin: 0 auto
    .recommendation-size
      float: none
      margin-left: auto
      margin-right: auto

      a
        padding: 5px 10px 5px 10px

        &.selected
          background: $green
          color: white
    .recommendation-texts-and-button
      margin-top: 8px
      margin-left: auto
      margin-right: auto
      float: none

      span
        font-size: 12px
        width: 125px
        &.negative-recommendation
          float: left
        &.positive-recommendation
          float: right
  .booking-total-value

    .value
      font-size: 16px
      letter-spacing: 2px

    .money-unit
      font-size: 12px
      letter-spacing: 0
      margin-right: 4px

  .link-to-bookings-index
    margin-bottom: 42px
    line-height: 50px

  .link-to-bookings-index:hover
    background: darken($green, 10%) !important

  .booking-status
    padding-top: 6px

  .billing-explanation-row
    margin-top: 18px

  p.success
    color: $green
    font-size: 16px
    font-weight: lighter

.browserFirefox.public-bookings-payments-controller.create-action
  form .form-group select
    padding: 9px 11px 0px 4px
