= header_section title: t("views.company_universe.attendants.title")

- if @company_attendants.length == 0
  .alert.alert-info
    = t(:none) + ' ' + t('views.company_universe.attendants.one').downcase + ' ' + t(:registered) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | #{t("views.company_universe.attendants.id")}
        th.center
          | #{t("views.company_universe.attendants.name")}
        th.center
          | #{t("views.company_universe.attendants.email")}
        th.center
          | #{t("views.company_universe.attendants.login")}
        th.center
          | #{t("views.company_universe.attendants.active")}
        th.center
          | #{t("views.company_universe.attendants.actions")}
    tbody
      - @company_attendants.each do | attendant |
        tr.center
          td
            = attendant.id
          td
            = attendant.name
          td
            = attendant.email
          td
            = attendant.login
          td
            = attendant.is_active ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_company_attendant_path(attendant.id), class: 'btn btn-xs btn-success'

            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_company_attendant_path(attendant.id), class: 'btn btn-xs btn-info cpy-edit-agency-link'
            | &nbsp;&nbsp;

            - if attendant.is_active?
              = link_to "<i class='icon-remove bigger-100'></i>".html_safe, deactivate_admin_company_attendant_path(attendant.id), class: 'btn btn-xs btn-danger cpy-deactivate-agency-button', data: { confirm: t("views.company_universe.executives.deactivate_executive") }, method: :post
            - else
              = link_to "<i class='icon-check bigger-100'></i>".html_safe, activate_admin_company_attendant_path(attendant.id), class: 'btn btn-xs btn-warning cpy-activate-agency-button', data: { confirm: t("views.company_universe.executives.activate_executive")}, method: :post
