= header_section

= panel_section(name: t("views.company_universe.attendants.attendant_information")) do
  = show_for @company_attendant do |u|
    = u.attribute :name
    = u.attribute :email
    = u.attribute :login
    = u.attribute :is_active do
      = @company_attendant.is_active ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe

  .wizard-actions
    = link_to t("views.admin.agencies.back").html_safe, admin_company_attendant_path, class: 'btn btn-prev'
    = link_to t("views.admin.agencies.edit").html_safe, edit_admin_company_attendant_path(@company_attendant.id), class: 'btn btn-info'

    - if @company_attendant.is_active?
      = link_to t("views.admin.agencies.deactivate").html_safe, deactivate_admin_company_attendant_path(@company_attendant.id), class: 'btn btn-danger cpy-deactivate-agency-button', method: :post
    - else
      = link_to t("views.admin.agencies.activate").html_safe, activate_admin_company_attendant_path(@company_attendant.id), class: 'btn btn-warning cpy-activate-agency-button', method: :post
