@media (max-width: 768px)
  .public-affiliate-bookings-payments-controller
    .form-actions
      .col-sm-12
        .tudo-azul
          margin: 10px -10px
          .pull-left.image
            margin: 0 0 10px
            float: none !important
