@for $i from 1 through 100
  .size-#{$i}-percent
    width: 1% * $i

html
  height: 100%

.modal-loading
  display: none
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  height: 100%
  width: 100%
  background: rgba(255, 255, 255, 0.8) image-url("ajax-loader-2.gif") 50% 50% no-repeat

body.loading
  overflow: hidden

body.loading .modal-loading
  display: block


body.public-layout
  background: #fcfcfc
  font-family: "Oxygen"
  font-weight: 300
  height: 100%
  color: #555555

  .margin-top-100
    margin-top: 100px

  .no-padding-left
    padding-left: 0 !important

  .no-padding-right
    padding-right: 0 !important

  .cursor-pointer
    cursor: pointer

  label.radio-button
    cursor: pointer
    font-weight: 100
    font-size: 15px
  .pac-container
    font-size: 12px
  .pac-item-query
    font-size: 12px
  .pac-item
    font-size: 12px
  .pac-item-container
    font-size: 12px
  .pac-item-matched
    font-size: 12px

  input[type="radio"]
    -webkit-appearance: none
    -moz-appearance: none
    -o-appearance: none
    height: 1em
    width: 1em
    cursor: pointer
    position: relative
    -webkit-transition: 0.15s
    border-radius: 1em
    border: 0px
    padding: 9px
    margin: -4px 8px
    background-color: $light-gray

    &:checked
      background-color: $green

  .js-pointer-events-none
    pointer-events: none

  h1, h2, h3, h4, h5
    &.gray
      color: #999999

  h1.page-title
    font-size: 31px
    font-weight: 300
    letter-spacing: 3px

  h2.second-title
    font-weight: 300
    letter-spacing: 1px
    font-size: 22px
    margin-top: 45px
    color: $aqua-blue

  .introduction
    font-size: 16px

  .flash-message
    min-height: 0px
    position: relative
    z-index: 99
    top: 0px
    right: 0
    background: transparent
    .alert
      margin-top: 20px

  p.notice
    color: #999999
    letter-spacing: 1px
    font-size: 15px
    line-height: 30px
    margin-top: 20px
    margin-bottom: 15px

  .divider
    border-bottom: 1px solid #dbdbdb
    margin: 10px 0px 20px
    text-align: center
    line-height: 0px

    span
      margin-top: -20px
      background-color: #fcfcfc
      padding: 0 10px
      color: #888888
      font-style: italic
      letter-spacing: 1px
      font-size: 12px

  .gradient_overlay
    background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 4%, rgba(0,0,0,0.84) 5%, rgba(0,0,0,0) 100%)
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 4%,rgba(0,0,0,0.84) 5%,rgba(0,0,0,0) 100%)
    background: linear-gradient(to bottom, rgba(0,0,0,0.85) 4%,rgba(0,0,0,0.84) 5%,rgba(0,0,0,0) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 )
    width: 100%
    height: 16%
    position: absolute

  .transp
    z-index: 100
    position: absolute

  .content-wrapper
    min-height: 100%
    overflow: hidden

  ul.pagination
    margin: 0px 0px
    li
      a
        background: #f8f8f8
        color: $green
        padding: 5px 12px 3px

      &.active a
        background: $green
        border-color: $green
        color: white

  .bootbox
    z-index: 99999

    .modal-footer

      .btn
        margin-right: 10px
        display: inline-block

      .btn:last-child
        margin-right: -19px

  .modal
    .modal-content
      padding: 0px 27px
      border-radius: 20px

    .modal-header
      border-bottom: 1px solid rgb(180, 180, 180)
      padding: 0px

      h1
        font-size: 25px
        letter-spacing: 2px
        margin-top: 22px
        margin-bottom: 8px

      button.close
        // margin-top: -2px
        // margin-right: -19px
        margin-top: -19px
        margin-right: -14px
        font-size: 41px

  .tooltip
    min-width: 300px
    ul
      padding-left: 20px
      margin-bottom: 0px

    .tooltip-inner
      padding: 8px 13px
      border-radius: 3px
      background: #333333
      text-align: left
      min-width: 100%

    .tooltip-arrow
      border-left-color: #333333
      border-right-color: #333333

  .tooltip.top
    .tooltip-arrow
      border-left-color: transparent
      border-right-color: transparent
      border-top-color: #333333
      border-bottom-color: #333333

  .inline-block
    display: inline-block

  .display-table
    display: inline
    margin-left: auto
    margin-right: auto

    .display-table-cell
      display: table-cell

    .align-middle
      vertical-align: middle

  .user-budget-box
    font-size: 11px
    position: fixed
    width: 215px
    height: 80px
    bottom: 10px
    left: 10px
    background-color: white
    border: 1px solid #ddd
    border-radius: 5px

    table
      tr
        border-bottom: 1px solid #ddd
      td, th
        padding: 2px
      tbody
        td
          padding-left: 9px
        tr:last-child
          border-bottom: 0


.pac-container
  z-index: 10050

.pac-item:hover
  background-color: #EEEEEE

  .pac-icon-marker
    background-position: -18px -161px !important

.js-email-suggestion-wrapper
  line-height: 16px !important

.night-btn
  color: white
  background-color: $night-room !important
  border-color: $night-room !important
  &:hover
    color: white
    background: darken($night-room, 10%) !important
.day-btn
  color: white
  background-color: $day-room !important
  border-color: $day-room !important
  &:hover
    color: white
    background: darken($day-room, 10%) !important
.any-time-btn
  color: white
  background-color: $any-time-room !important
  border-color: $any-time-room !important
  &:hover
    color: white
    background: darken($any-time-room, 10%) !important


.intl-tel-input.allow-dropdown
  width: 100%
#new_payment
  input.form-control, select.form-control
    height: 34px
  div.month
    padding-left: 0px
  .payment_with
    margin-right: 30px
  div.intl-tel-input
    width: 100%
