.public-sessions-controller.new-action, .public-sessions-controller.create-action

  .booking-flux

    .login-site
      margin-top: 0

    .booking-flux-submit-button
      border-radius: 29px 29px 29px 29px !important
      margin-bottom: 42px
      font-size: 17px !important
      letter-spacing: 5px !important
      width: 300px
      background: $green !important
      padding-top: 4px !important

    .booking-flux-submit-button.sign-up-button
      padding-top: 7px !important

    .booking-flux-submit-button:hover
      background: darken($green, 10%) !important

    .attribute-title
      color: $label-light-gray
      font-size: 12px
      font-style: italic
      margin-top: 12px

    .js-email-suggestion-wrapper
      color: $label-light-gray
      font-size: 12px
      margin-top: 6px
      margin-bottom: -3px

    p.explanation
      font-weight: lighter
      margin-bottom: 25px
      color: #666666
