.public-layout.public-sessions-controller
  background: #f8f8f9

  .flash-message
    position: relative
    z-index: 99
    top: 0
    right: 0

  .login-facebook
    padding: 10px

  .login-site
    margin: 40px 30px

    .form-group
      &.password
        height: 50px
        margin-bottom: 0px

      &.email
        padding-bottom: 10px

      .input-icon
        padding: 0px
      input.string
        height: 50px

    button.pill.big
      width: 100%
      padding: 0px 0px
      margin: 23px 0px 36px 0px

    .login-options
      font-weight: 0px
      font-style: italic
      text-transform: lowercase
      font-weight: 300
      font-size: 9pt
      letter-spacing: 1px
      padding-top: 6px

      .label
        color: #888888
        font-weight: 300
        padding-left: 8px
        font-size: 100%

      a#public_user_forgot_your_password
        color: #85b33d

    .register-link
      letter-spacing: 1px
      color: #888888
      font-style: sharp
      font-weight: 300

      a
        color: #85b33d

      p
        margin-bottom: 3px

  &.browserIE9
    .form-control
      line-height: 38px
