h1.page-title.green-title Grandes redes hoteleiras já estão conosco
.partners-hotel
  .text-center
    .col-sm-2.accor
      .logo-hotels
        = image_tag('accor-hotels.png')
    .col-sm-2.thg
      .logo-hotels
        = image_tag('transamerica-hospitality-group.png')
    .col-sm-2
      .logo-hotels.atlantica
        = image_tag('atlantica-hotels.png')
    .col-sm-2
      .logo-hotels.intercity
        = image_tag('Intercity-hotels.png')
    .col-sm-2.hplus
      .logo-hotels
        = image_tag('hplus.png')
    .col-sm-2.vert
      .logo-hotels
        = image_tag('vert.png')
  .clearfix
