h1.page-title.green-title Quanto vai custar cada pacote de HORAS do meu hotel?
.with-margin.how-much
  .row
    .col-sm-7
      p.explanation
        | Qual a diária média do seu hotel:
    .col-sm-3
      input.form-control.value.dailyValue
    .col-sm-2
      button.btn.btn-default.green ng-click='simulePrice()'
        | Simular

  .row.hour
    .col-xs-6.col-sm-3.text-center
      | 3h
      br
      span
        | {{dailyAverage.thirtyEight}}
    .col-xs-6.col-sm-3.text-center
      | 6h
      br
      span
      | {{dailyAverage.fortyThree}}
    .col-xs-6.col-sm-3.text-center
      | 9h
      br
      span
      | {{dailyAverage.sixty}}
    .col-xs-6.col-sm-3.text-center
      | 12h
      br
      span
      | {{dailyAverage.sixtyFive}}

javascript:
  $(".dailyValue").maskMoney({prefix: '', allowNegative: false, allowZero: false, defaultZero: true, thousands: '.', decimal: ',' , affixesStay : true});
