.modal.fade.large#js-modal-terms-of-use
  .modal-dialog
    .modal-content
      .modal-header
        h4 TERMOS DE USO PARA HOTÉIS – HOTELQUANDO 2017
        .triangle
          button type="button" class="close" data-dismiss="modal" aria-hidden="true" &times;

      .modal-body
        .row
          .col-xs-12
            | Estes Termos de uso apresentam as "Condições Gerais" aplicáveis ao uso dos serviços oferecidos por RESERVAS POR HORA DO BRASIL LTDA,
            |  sociedade limitada, com sede na Rua Luís Coelho, 308, CJ. 32, Cerqueira César, CEP 01309-000, São Paulo/SP, Brasil, inscrita no CNPJ sob n.º 19.901.516/0001-35,
            |  doravante denominada "HotelQuando.com" dentro do site http://www.hotelquando.com.
            |  Qualquer hotel, doravante nominado "Hotel Usuário", que pretenda utilizar os serviços da HotelQuando.com deverá aceitar estes Termos de uso,
            |  e todas as demais políticas e princípios que o regem. A ACEITAÇÃO DOS TERMOS DE USO É ABSOLUTAMENTE NECESSÁRIA À UTILIZAÇÃO DO WEBSITE E SEUS SERVIÇOS.
            |  O Usuário deverá ler, certificar-se de haver entendido e aceitar todas as condições estabelecidas nos Termos de uso, assim como nos demais documentos
            |  incorporados por referência, antes da utilização do website e seus serviços.
          .col-xs-12
            h4.title 1. Modificação dos Termos de uso
            p.explanation
              | HotelQuando.com poderá alterar os Termos de uso notificando aos Hotéis Usuários com antecedência suficiente, a fim de melhorar os serviços
              |  e produtos oferecidos através de HotelQuando.com. Em qualquer caso, os Termos de uso contidos neste documento são de caráter obrigatório
              |  e vinculativo, qualquer pessoa que não aceita estes termos devem abster-se de usar o site e/ou serviços da HotelQuando.com.
              |  Estes Termos de uso não criam qualquer parceria, franquia, ou relação de emprego entre HotelQuando - Hotéis Usuários.
          .col-xs-12
            h4.title 2. Descrição dos Serviços
            p.explanation
              | HotelQuando.com é a primeira e única plataforma global de reservas online de hotéis, que permite ao
              |  hóspede usuário reservar seu quarto por pacotes de 3, 6, 9, ou 12 horas a um preço justo. O hóspede usuário
              |  também decide a que horas gostaria de entrar no hotel. A partir desse horário de entrada, o usuário pode
              |  desfrutar do pacote de horas escolhido. É obrigação do hóspede usuário respeitar o horário de saída do quarto.
              |  Caso isso não aconteça, será cobrada uma multa no valor do pacote de horas que contemple as horas em atraso.
          .col-xs-12
            h4.title 3. Condições Operacionais
            p.explanation
              | O Hotel Usuário deverá permitir, que o hóspede usuário utilize todas as horas adquiridas através da plataforma de reservas online HotelQuando.com.
              |  A contagem das horas se inicia a partir do horário de check-in estabelecido pelo Hotel Usuário e escolhido pelo hóspede usuário para cada pacote de horas.
              |  O tarifário para quartos a ser apresentado na plataforma de reservas online HotelQuando.com deverá ser acrescido dos devidos impostos e deverá respeitar
              |  as seguintes condições para cada pacote:
              br
              | Pacote de 3 Horas => Até 38% do valor de alguma diária pública online*
              br
              | Pacote de 6 Horas => Até 43% do valor de alguma diária pública online *
              br
              | Pacote de 9 Horas => Até 60% do valor de alguma diária pública online*
              br
              | Pacote de 12 Horas => Até 65% do valor de alguma diária pública online*
              br
              | * Nossa maior referência: www.booking.com
              br
              | Fica a critério do Hotel Usuário promover alterações na quantidade e categoria dos apartamentos disponibilizados. Inicialmente serão cadastrados 4 (quatro)
              |  quartos, 2 (dois) quartos de categoria Single e 2 (dois) quartos de categoria Casal. Ao receber um pedido de reserva, a HotelQuando.com informará prontamente
              |  ao Hotel Usuário, fornecendo-lhe os dados de identificação do hóspede usuário e informações da reserva. Cumpridos esses requisitos, considera-se a reserva
              |  como tendo sido efetuada e o Hotel Usuário, consequentemente, deverá respeitá-la. O Hotel Usuário deverá aceitar cada uma das reservas efetuadas pela
              |  HotelQuando.com mediante a apresentação de uma confirmação por escrito, a qual será encaminhada ao hóspede usuário. Se o hóspede não portar tal confirmação
              |  no momento de sua chegada ao hotel, o Hotel Usuário deverá aceitá-lo confirmando seu nome e o número de reserva da HotelQuando.com. Em qualquer caso,
              |  antes de rejeitar o hóspede, o Hotel Usuário deverá entrar em contato com a HotelQuando.com pelos telefones de contato fornecidos por esta última.
              |  Na hipótese do hóspede não se apresentar ao Hotel Usuário na data e horário de check-in estipulado na reserva (“no show”), o Hotel Usuário deverá confirmar
              |  no sistema, mensalmente, até o dia 5 do mês subsequente, o não comparecimento do hóspede. À HotelQuando.com, por sua vez, caberá o custo referente a
              |  tarifa do pacote de horas comprado. O valor referente à tarifa do pacote, respeitando as condições acima, será repassado ao Hotel Usuário através de cartão de crédito.
              |  Caso o Hotel Usuário identifique que não poderá honrar a reserva efetuada pelo hóspede através da HotelQuando.com devido a uma situação de “overbooking”,
              |  assim entendida como a venda pelo Hotel Usuário além da capacidade, o Hotel Usuário deverá notificar imediatamente a HotelQuando.com e realocar os hóspedes
              |  em um estabelecimento de igual ou superior categoria, localizado na mesma área, prover o translado necessário para o deslocamento e encaminhar uma carta
              |  de retratação aos hóspedes em referência, incluindo uma explicação formal, devendo, ainda, isentar a HotelQuando.com de qualquer dano, perda ou reclamação
              | decorrente do referido acontecimento.
          .col-xs-12
            h4 4. Comissão de Vendas
            p.explanation
              | A HotelQuando.com não cobrará qualquer valor do Hotel Usuário, uma vez que a mesma é remunerada por usuários hóspedes que utilizam a plataforma.
          .col-xs-12
            h4 5. Outras obrigações do Hotel Usuário
            p.explanation
              | O Hotel Usuário compromete a notificar a HotelQuando.com por escrito imediatamente:
              br
              | Possíveis dados incorretos, falhas ou indisponibilidades do sistema HotelQuando.com, bem como, enquanto perdurar a indisponibilidade ou falha, tomar as
              |  ações necessárias para incluir, alterar, excluir ou modificar tarifas, taxas, disponibilidade, descrições ou quaisquer outras informações que sejam apresentadas
              |  na plataforma de reservas online HotelQuando.com e que se fizerem necessárias.
          .col-xs-12
            h4 6. Disposições Gerais
            p.explanation
              | O Hotel Usuário confere à HotelQuando.com, o direito de, para os fins de merchandising, fomentação de demanda e obtenção de reservas para o Hotel Usuário,
              |  utilizar o nome, logotipo, as marcas registradas e imagens de websites (incluindo fotografias), relativas ao Hotel Usuário, os quais serão utilizados para identificá-los
              |  ou promovê-los, desde que tenham sido fornecidos ou previamente validados pelo Hotel Usuário.
              |  O Hotel Usuário declara que cumpre fielmente todas as leis, regimentos e códigos de práticas que lhes são aplicáveis, em decorrência da atividade por ele desenvolvida
              |  ou outro, incluindo, exemplificativamente, aquelas leis, regimentos e códigos de práticas relacionadas com a higiene, a segurança anti-incêndio e a segurança em geral,
              |  a integridade pessoal, declarando, ainda, dispor de todas permissões e licenças aplicáveis.
              |  Tanto a HotelQuando quanto o Hotel Usuário deve cumprir com todas as disposições legais aplicáveis aos seus negócios e operações. Em particular, o Hotel Usuário deve
              |  abster-se de se engajar em práticas comerciais desleais e enganosas e praticar ou reajustar preços muito acima do considerado razoável ou justo.
              |  Tanto a HotelQuando quanto o Hotel Usuário obrigando-se por si, seus sucessores e cessionários a qualquer título, acordam que todos os termos, condições e
              |  compromissos assumidos neste Acordo são constituídos em caráter irrevogável e irretratável.
              |  Qualquer alteração a este Acordo somente será considerada válida se formalizada por escrito em instrumento próprio assinado pelas Partes (HotelQuando e Hotel Usuário).
              |  Nenhuma das Partes pode ceder os seus direitos ou obrigações decorrentes do presente Acordo sem o prévio consentimento por escrito da outra Parte, no entanto,
              |  nada aqui previsto pode proibir a HotelQuando.com de atribuir qualquer de seus direitos ou obrigações previstos para um afiliado.
              |  O presente documento constitui o Acordo final entre as Partes sobre as matérias que lhe são objeto, decorrente do entendimento livre e espontâneo das Partes, razão
              |  pela qual supera e cancela todos os acordos, entendimentos, propostas ou cartas anteriores.
              |  Qualquer menção a este Acordo compreenderá também seus eventuais aditivos e quaisquer outros instrumentos celebrados entre as Partes com relação a este Acordo.
              |  A invalidação ou nulidade, no todo ou em parte, de qualquer cláusula, subcláusula ou item deste Acordo não afetará os demais, que permanecerão sempre válidos e
              |  eficazes até o cumprimento, pelas Partes, de todas as suas obrigações aqui previstas. Ocorrendo a declaração de invalidade ou nulidade de cláusula, subcláusula
              |  ou item deste Acordo, as Partes se comprometem, desde já, a negociar, no menor prazo possível, em substituição à cláusula, subcláusula ou item declarado inválido
              |  ou nulo, a inclusão, neste Acordo, de termos e condições válidos que reflitam os termos e condições da cláusula, da subcláusula ou do item invalidado ou nulo,
              |  observados a intenção e objetivo das Partes quando da negociação da cláusula, subcláusula ou item invalidado ou nulo e o contexto em que se insere.
              |  A renúncia de qualquer das Partes ao exercício de qualquer dos direitos atribuídos neste Acordo terá efeito somente se manifestada por escrito. Nenhuma
              |  tolerância, atraso ou indulgência de qualquer das Partes em fazer cumprir qualquer dispositivo deste Acordo prejudicará ou restringirá os direitos de tal Parte,
              |  tampouco impedirá tal Parte de exercer tais direitos ou quaisquer outros no momento que julgar oportuno.
              |  A incapacidade de uma das Partes em desenvolver as atividades conforme o previsto neste Acordo será perdoado se a mesma resultar de um fato necessário,
              |  cujos efeitos não eram possível evitar ou impedir, incluindo, exemplificativamente, guerras, paralisações, incêndios, fenômenos meteorológicos e/ou naturais,
              |  interrupções nos serviços de companhias aéreas ou atos governamentais. Uma Parte cujo desempenho é prejudicado devido a uma destas causas imprevisíveis notificará
              |  imediatamente a outra Parte da ocorrência de tal fato.
              |  As Partes reconhecem e concordam que a(s) Empresas pode(m) arquivar uma cópia integral do Acordo firmado, e ainda concordam que qualquer
              |  solicitação de cópia realizada a uma Empresa do presente Acordo pode ser atendida em formato eletrônico.
              |  Caso ocorra algum desentendimento entre as Partes no âmbito do presente Acordo, as mesmas tentarão alcançar uma solução amigável.

      .modal-footer
        button.btn.btn-default data-dismiss="modal"
          = t :close
        button.btn.green.cpy-submit-button.pt-br ng-click="acceptTermsOfUse()"
          | ACEITO OS TERMOS DE USO

