h1.page-title.green-title Por que vender HORAS de hotel?
.with-margin.why-sale
  .row
    .col-sm-6
      h4 Receita Incremental
      p.explanation
        | Explore novos mercados e gere mais receita
    .col-sm-6
      h4 Maior rentabilidade
      p.explanation
        | Venda o mesmo quarto mais de 1x ao dia
  .row
    .col-sm-6
      h4 Atraia novos clientes!
      p.explanation
        | Milhares de pessoas gostariam de um quarto de hotel por apenas algumas horas
    .col-sm-6
      h4 Diferencial competitivo
      p.explanation
        | As pessoas buscam cada vez mais por novas experiências e produtos sob medida. Seu hotel vai ficar fora dessa novidade?
  .row
    .col-sm-6
      h4 100% gratuito, não cobramos comissão!
      p.explanation
        | Nossa plataforma foi pensada para gerar mais receita ao seu hotel, não lhe cobramos qualquer valor!
    .col-sm-6
      h4 Plataforma FREE SALE
      p.explanation
        | Não amarramos seu hotel com contrato! Venda conosco quando e quantos quartos quiser!
