.public-affiliate-layout
  .menu-wrapper
    position: relative
    display: inline-block
    padding: 18px 13px
    z-index: 9999
    color: $dark-blue
    cursor: pointer

    &:hover
      color: #0FA8D8

      .glyphicon
        color: #0FA8D8

      .caret
        color: #E1E1E1

    .user-icon
      margin-right: 5px

    .arrow-up
      position: absolute
      right: 47px
      top: 15px

      &:before, &:after
        content: ""
        position: absolute
        width: 0
        height: 0
        border-style: solid
        border-color: transparent
        border-top: 0

      &:before
        bottom: 0px
        border-bottom-color: transparent
        border-width: 11px

      &:after
        bottom: -1px
        border-bottom-color: #1b4d73
        border-width: 11px

    .user-dropdown-menu
      position: absolute
      display: none
      right: 0px
      top: 30px

      ul
        list-style-type: none
        padding-left: 0px
        margin-bottom: 0px
        border-top: 3px solid #C9C9C9
        border-bottom: 3px solid #C9C9C9
        padding: 0px 0px
        margin-top: 15px
        background: white
        min-width: 150px
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)

        a
          padding: 10px 20px 10px 26px
          position: relative
          display: block
          color: $dark-blue
          font-weight: 300
          font-size: 12px
          text-align: left
          letter-spacing: 1px

          &:hover
            background: #F1F1F1
            color: #0FA8D8

            &:before
              content: "\27a4"
              position: absolute
              top: 19px
              left: 4px
              color: #DDDDDD
              font-size: 16px
              line-height: 0px
    .current
      font-weight: bold
      color: #fff
      letter-spacing: 1px
      font-size: 15px

  .current-currencies
    width: 460px
    list-style-type: none
    padding-left: 0px
    margin-bottom: 0px
    border-top: 3px solid #1b4d73
    border-bottom: 3px solid #1b4d73
    padding: 0px 0px
    margin-top: 15px
    background: white
    min-width: 220px
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
    text-align: left

    .current-currency
      color: black
      font-size: 10px
      line-height: 65px

      &:hover,
        background-color: #dddddd

      a
        width: 100%
        display: block

    .activate
      background-color: #dddddd

    .symbol
      color: #000
      font-size: 11px
      font-weight: bold
      direction: ltr
      margin-right: 10px

.browserFirefox.public-layout
  .menu-wrapper .user-dropdown-menu ul a:hover:before
    top: 18px
    font-size: 19pt
