.col-xs-12#footer_nobile
  .index_container
    .col-sm-3
      .row
        p = t('views.affiliates.nobile.nobile_hotels')
        .nobile_footer_line
      .row
        p.description = t('views.affiliates.nobile.nobile_description')

    .col-sm-3
      .row
        p = t('views.affiliates.nobile.institutional')
        .nobile_footer_line
      .row
        = link_to t('views.affiliates.nobile.future_ventures'), 'http://prov.nobilehoteis.com.br/futuros-empreendimentos/'
      .row
        = link_to 'http://investidor.nobilehoteis.com.br/acesso-investidores/' do
          p.description = t('views.affiliates.nobile.investers')
          = image_tag('nobile-padlock.png')

    .col-sm-3
      .row
        p = t('views.affiliates.nobile.contact_us')
        .nobile_footer_line
      .row
        = link_to t('views.affiliates.nobile.work_with_us'), 'http://prov.nobilehoteis.com.br/trabalhe-conosco/'
      .row
        = link_to t('views.affiliates.nobile.contact'), 'http://prov.nobilehoteis.com.br/contato/'

    .col-sm-3
      .row
        p = t('views.affiliates.nobile.see_also')
        .nobile_footer_line
      .row
        = link_to t('views.affiliates.nobile.press'), 'http://prov.nobilehoteis.com.br/imprensa/'
      .row
        = link_to t('views.affiliates.nobile.events'), 'http://prov.nobilehoteis.com.br/eventos/'
      .row
        = link_to t('views.affiliates.nobile.promotions'), 'http://prov.nobilehoteis.com.br/promocoes/'
      .row
        = link_to t('views.affiliates.nobile.social_networks'), 'http://prov.nobilehoteis.com.br/redes-sociais'

.col-xs-12#powered_by_hq
  .col-sm-3.col-sm-offset-9-pull-left
    p Powered by HotelQuando.com
