ruby:
  # we must keep in here because there are some controllers in the public area that doen'st inherit from public::base
  ng_init_for_search_form = if last_search_log
    # 0 - day
    # 1 - month
    # 2 - year
    date_parts = last_search_log.checkin_date.split("/")
    english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
    %Q{
      checkinDate = '#{I18n.locale == :en ? english_date_format : last_search_log.checkin_date}';
      parsedSelectedCheckinDate = '#{last_search_log.checkin_date}';
      checkinHour = #{last_search_log.checkin_hour};
      numberOfPeople = #{last_search_log.number_of_people};
      selectedPackSize = '#{last_search_log.length_of_pack}';
      selectedTabRoom = 1;
    }.squish
  else
    ""
  end
  tab = 1

//title_container.index_container
  h3
    span.main_title = t('views.affiliates.nobile.book_now')
    .line

//= form_tag public_affiliate_hotels_path, method: :get, class: 'form-horizontal', "ng-controller" => "PublicMobileSearchCtrl", "ng-init" => "#{ng_init_for_search_form}" do

  .hidden
    input.cpy-mobile-pack-length type="text" name="by_pack_length" ng-model="selectedPackSize"
    input.cpy-mobile-room-category type="text" name="room_category" ng-model="selectedTabRoom"
    input.cpy-mobile-number-of-people type="text" name="by_number_of_people" ng-model="numberOfPeople"

  - if mobile_device?
    .col-md-12.search-form-header.hidden-sm.hidden-md.hidden-lg
      h1.book-hotels
        = t(:book_by_hours)
  .tabbable
    .tab-content.tab-content-custom-mobile
      .tab-pane.fade.in.active#rooms
        .row
          .col-sm-12
            .display-table.people-checkin-inputs
              .display-table-cell.size-78-percent
                .checkin.text-center style="margin: 18px -11px; text-align: left;"
                  .row.checkin-mobile.selectize_field style="text-align: left;"
                    .col-xs-12
                      = select_tag 'nobile-hotels-select-mr-mobile', options_for_select(''), class: "form-control", name: 'nobile[hotel_name]', style: "height: 35px; font-size: 1em; margin-bottom: 12px;"

                .row
                  .col-xs-12
                    .secondary-title = t 'search_box.checkin'

                .row.checkin-mobile
                  .col-xs-6
                    = "#{t(:date_word)}:"
                    br
                    .input-group.date-picker-inputs

                      input.js-date-picker.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="checkinDate" ng-change='setSearchDateValidity()'

                      input.hidden.cpy-checkin-date ng-model="parsedSelectedCheckinDate" name='by_checkin_date'

                  .col-xs-6
                    = "#{t(:hour)}:"
                    br
                    - array_hours = []
                    - 24.times do | i |
                      - array_hours << i
                    = select_tag 'by_checkin_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time size-100-percent', 'ng-model' => 'checkinHour'

              .display-table-cell.number-of-people-input-size
                  .up.hidden-xs.hidden-sm = "#{t(:number_of_people)}"
                  .up.hidden-md.hidden-lg = "#{t('search_box.people')}"
                  = select_tag '', options_for_select(1..4), "ng-model" => "numberOfPeople"


        .row.pack-size-row
          .col-xs-12
            .display-table.pack-size-table
              .display-table-cell
                .up = "#{t(:pack_size)}"
                .btn-group.pack-size
                  span.clock
                    = image_tag 'clock-light-gray.png'
                  - Offer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
                    a.btn.rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSize == #{pack_size}}" ng-click="selectedPackSize = #{pack_size}" #{pack_size}h



        .row.pack-size-hint
          .col-xs-12
            p.hint = t :period_in_which_you_are_staying_at_hotel

        .row
          .col-xs-12.text-center
            .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmit()}}"
              button.submit-disabled.cpy-disabled-search-button.btn.green.search-button disabled='disabled' ng-hide='isFormValid()'
                = t(:perform_search)

            button.cpy-search-button.ng-hide.btn.green.search-button ng-disabled='!isFormValid()' ng-show='isFormValid()'
              = t(:perform_search)

javascript:
  yojs.set('tabNumber' , "#{tab}")
  var affiliate_hotels = JSON.parse("#{@affiliate_hotels}".replace(/&quot;/g, "\"").replace(/=&gt;/g, ":"))
  var page_locale = "#{I18n.locale.to_s}".replace(/&quot;/g, "\"")
  var opt_options = []
  var selectize_options = []

  $mr_selectize_mobile = $('#nobile-hotels-select-mr-mobile').selectize({
    create: false,
    optgroupField: 'class',
    optgroups: [],
    options: [],
    render: {
      optgroup_header: function(item, escape) {
        return '<div class="optgroup-header">' + escape(item.title) + '</div>';
      },
    }
  })
  hq_selectize = $hq_selectize[0].selectize
  var opt_group;
  if(page_locale == 'pt_br' || page_locale == 'pt-BR'){
    opt_group = {
      class: 'TODOS OS HOTEIS',
      title: 'TODOS OS HOTEIS'
    }
  }else if(page_locale == 'es'){
    opt_group = {
      class: 'TODOS LOS HOTELES',
      title: 'TODOS LOS HOTELES'
    }
  }else{
    opt_group = {
      class: 'ALL HOTELS',
      title: 'ALL HOTELS'
    }
  }
  mr_selectize_mobile.addOptionGroup(opt_group.class, opt_group)
  mr_selectize_mobile.addOption({class: opt_group.class, value: opt_group.title, text: opt_group.title})

  for(i = 0; i <= Object.keys(affiliate_hotels).length; i++){
    var opt_group = {
      class: affiliate_hotels["cidade_" + i],
      title: affiliate_hotels["cidade_" + i]
    }
    mr_selectize_mobile.addOptionGroup(opt_group.class, opt_group)
    mr_selectize_mobile.addOption({class: affiliate_hotels["cidade_" + i], value: affiliate_hotels["hotel_name_" + i], text: affiliate_hotels["hotel_name_" + i]})
    mr_selectize_mobile.addOption({class: affiliate_hotels["cidade_" + i], value: affiliate_hotels["cidade_" + i], text: affiliate_hotels["cidade_" + i]})
  }

  $('#datepicker-homepage-checkin').datepicker({
    language: 'pt-BR',
    autoclose: true
  })

  $(function(){
    if(page_locale == 'pt_br'){
      mr_selectize.setValue('TODOS OS HOTEIS')
    }else if(page_locale == 'es'){
      mr_selectize.setValue('TODOS LOS HOTELES')
    }else{
      mr_selectize.setValue('ALL HOTELS')
    }
  })
