ruby:
  # we must keep in here because there are some controllers in the public area that doen'st inherit from public::base
  ng_init_for_search_form = if last_search_log
    # 0 - day
    # 1 - month
    # 2 - year
    date_parts = last_search_log.checkin_date.split("/")
    english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
    checkout_hour = last_search_log.checkin_hour + last_search_log.length_of_pack
    if checkout_hour >= 24
      checkout_hour -= 24
    end
    %Q{
      latitude = '#{last_search_log.latitude}';
      longitude = '#{last_search_log.longitude}';
      checkinDate = '#{I18n.locale == :en ? english_date_format : last_search_log.checkin_date}';
      parsedSelectedCheckinDate = '#{last_search_log.checkin_date}';
      checkinHour = #{last_search_log.checkin_hour};
      numberOfPeople = #{last_search_log.number_of_people};
      selectedPackSize = '#{last_search_log.length_of_pack}';
      cityName = '#{last_search_log.city_name}';
      stateName = '#{last_search_log.state_name}';
      address = '#{last_search_log.address}';
      selectedTabRoom = '#{last_search_log.room_category || 1}';
      checkoutHour = #{checkout_hour};
      setLatitudeAndLongitudeValidity();
    }.squish
  else
    ""
  end


= form_tag public_affiliate_meeting_room_search_path, method: :get, class: '', "ng-controller" => "PublicAffiliateSearchCtrl", "ng-init" => "#{ng_init_for_search_form}" do

  .hidden
    input.cpy-city-name type='text' ng-model="cityName" name='city_name'
    input.cpy-state-name type='text' ng-model="stateName" name='state_name'
    input.cpy-latitude-field type="text" name="by_latitude" ng-model='latitude'
    input.cpy-longitude-field type="text" name="by_longitude" ng-model='longitude'
    input.cpy-pack-length type="text" name="by_pack_length" ng-model="selectedPackSize"
    input.cpy-room-category type="text" name="room_category" ng-model="selectedTabRoom"
    input.cpy-address type="text" name="by_address" ng-model="address"
    input.cpy-number-of-people type="text" name="by_number_of_people" ng-model="numberOfPeople"

  .col-xs-12.hidden-xs style="position: relative; padding: 0px"
    .image-room-category
      .js-float-search-form
        = render partial: "/layouts/public_affiliate/personalized_affiliate/#{layout_name}/meeting_room/search_form_content", affiliate_hotels: @affiliate_hotels
