ruby:
  # we must keep in here because there are some controllers in the public area that doen'st inherit from public::base
  ng_init_for_search_form = if last_search_log
    # 0 - day
    # 1 - month
    # 2 - year
    date_parts = last_search_log.checkin_date.split("/")
    english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
    length_of_pack = last_search_log.room_category == 1 ? 12 : last_search_log.length_of_pack
    checkin_hour = (last_search_log.room_category == 1 && last_search_log.checkin_hour < 18) ? 18 : last_search_log.checkin_hour
    checkout_hour = checkin_hour + length_of_pack
    if checkout_hour >= 24
      checkout_hour -= 24
    end

    %Q{
      latitude = '#{last_search_log.latitude}';
      longitude = '#{last_search_log.longitude}';
      checkinDate = '#{I18n.locale == :en ? english_date_format : last_search_log.checkin_date}';
      parsedSelectedCheckinDate = '#{last_search_log.checkin_date}';
      checkinHour = #{checkin_hour};
      numberOfPeople = #{last_search_log.number_of_people};
      selectedPackSize = '#{last_search_log.length_of_pack}';
      cityName = '#{last_search_log.city_name}';
      stateName = '#{last_search_log.state_name}';
      address = '#{last_search_log.address}';
      selectedTabRoom = '#{last_search_log.room_category || 1}';
      checkoutHour = #{checkout_hour};
      setLatitudeAndLongitudeValidity();
    }.squish
  else
    ""
  end

.public-affiliate-home-controller.meeting-room-action
  .index_container
    .search-hotels-wrapper
      .title_container.index_container
        h3
          span.main_title = t('views.affiliates.nobile.book_now')
          .line
      .row.describe-home.text-center.no-margin
        .col-md-12.hidden-xs
        .col-md-6.hq_search.pull-left
          .search_box_hq
            = form_tag public_affiliate_meeting_room_search_path, method: :get, class: '', "ng-controller" => "PublicAffiliateSearchCtrl", "ng-init" => "#{ng_init_for_search_form}" do

              .hidden
                input.cpy-pack-length type="text" name="by_pack_length" ng-model="selectedPackSize"
                input.cpy-address type="text" name="by_address" ng-model="address"
                input.cpy-number-of-people type="text" name="by_number_of_people" ng-model="numberOfPeople"

              - if mobile_device?
                .col-xs-12.search-form-header.hidden-sm.hidden-md.hidden-lg
                  h1.book-hotels
                    = t(:book_hotels)
              .tabbable
                .tab-content.tab-content-custom.any-time
                    = render partial: "layouts/public_affiliate/personalized_affiliate/nobile/meeting_room/search_form_content_any_time_room", affiliate_hotels: @affiliate_hotels

        .col-md-6.nobile_search.pull-right
          .row
            = link_to public_affiliate_root_path do
              = image_tag("nobile_banner_quarto.png", style: 'height: 279px !important;')

      .title_container.index_container
        h3.highlights_title
          .line
          span.highlights.text_spacement = t('views.affiliates.nobile.highlights')
          .line

    .nobile_image_container
      .nobile_inner_container
        .row.describe-home.text-center.no-margin
          .col-md-12.hidden-xs
          .col-md-6.nobile_search
            = link_to 'https://www.fidcards.com.br/nobileplus/associe-se' do
              .search_box_nobile
          .col-md-6.hq_search
            .search_box_hq
              .row.describe-home.text-center.no-margin.nupcias
                  .col-md-12.nupcias_image
                    = link_to 'https://nobilechain.book-onlinenow.net/index.aspx?Page=22&Area=&City=&Villa=&portal=83&src=51&adults=2&kids=0&orderby=totalprice%20desc&onlyavail=no' do
                      = image_tag('nobile-pacote-de-nupcias.png')
              .row.describe-home.text-center.no-margin.fds
                .col-md-12
                  .col-md-6.fds_image
                  .col-md-6
                    = link_to 'https://nobilechain.book-onlinenow.net/index.aspx?Page=22&Area=&City=&Villa=&portal=83&src=50&adults=2&kids=0&orderby=totalprice%20desc&onlyavail=no' do
                      .romantic_image
