$.gritter.add({
  text: "<i class='icon-check'></i> #{t('views.hotel.rooms.room_activated')}",
});
$(".js-activate-room-<%= @room.id %>").hide();
$(".js-deactivate-room-<%= @room.id %>").fadeIn();
$(".js-room-<%= @room.id %>-status").text("#{t('views.hotel.rooms.active')}").addClass('cpy-room-changed');
