$.gritter.add({
  text: "<i class='icon-check'></i>#{t('views.hotel.rooms.room_deactivated')}"
});
$(".js-deactivate-room-<%= @room.id %>").hide();
$(".js-activate-room-<%= @room.id %>").fadeIn();
$(".js-room-<%= @room.id %>-status").text("#{t('views.hotel.rooms.inactive')}").addClass('cpy-room-changed');
