.admin-hotels-pricing-policies-controller.show-action,
.admin-hotels-pricing-policies-controller.meeting-show-action,
.admin-hotels-pricing-policies-controller.event-show-action
  table
    font-size: 14px
    margin-top: 20px

    input
      width: 100%
      height: 100%
      text-align: center
      border: 0

    .dark-row
      td
        background-color: #e9e9e9

    tr
      td:first-child
        padding-left: 10px
