.image-and-describe
	.desc-box.hidden-xs
		|A night <br> at the hotel
.container
	.row
		.col-sm-12.flash-message.js-flash-message
			 = display_flash_message
	.row
		.col-xs-12.border-box.with-padding
			.row
				| We would like to welcome you to HotelQuando! Here you can book hotels for hours whenever you need and wherever you are. For you to know this new concept, we will give you R$50 for your first reservation in the 12h package!* Choose one of the participating hotels ** below and use the code <b>HQFIRSTTIME12H</b> when you book, and receive the discount!*** <p>
				<br>* valid code only for the 12h package
				<br>** Ibis hotels are not participating in the promotion
				<br>***Use of the first-time promotional code is only valid for weekends.
				
			.row.text-center
				.search-button
					= link_to "Search<br>hotels".html_safe, public_root_path, class: "button btn btn-info"