.image-and-describe
	.desc-box.hidden-xs
		|Una noche <br> en el hotel
.container
	.row
		.col-sm-12.flash-message.js-flash-message
			 = display_flash_message
	.row
		.col-xs-12.border-box.with-padding
			.row
				| Nos gustaría darle la bienvenida a HotelQuando! Aquí puede reservar hoteles por horas siempre que lo necesite y esté donde esté. Para que conozca este nuevo concepto, le daremos R$50 por su primera reserva en el paquete de 12 horas¡*Elija uno de los hoteles participantes ** abajo y utilice el código <b>HQPRIMERAVEZ12H</b> cuando reserve y reciba el descuento!*** <p>
				<br>* código válido solo para el paquete de 12h
				<br>** Los hoteles Ibis no están participando en la promoción
				<br>***El uso del código promocional de primera reserva sólo es válido para fines de semana.
			.row.text-center
				.search-button
					= link_to "Buscar<br>hoteles".html_safe, public_root_path, class: "button btn btn-info"