.image-and-describe
	.desc-box.hidden-xs
		|Uma noite <br> no hotel
.container
	.row
		.col-sm-12.flash-message.js-flash-message
			 = display_flash_message
	.row
		.col-xs-12.border-box.with-padding
			.row
				| Gostaríamos de te dar as boas-vindas a HotelQuando! Aqui você consegue reservar hotéis por horas sempre que precisar e onde estiver. Para você conhecer esse novo conceito, vamos te presentear com R$50 para sua primeira reserva no pacote de 12h!* Escolha um dos hotéis participantes** abaixo e utilize o código <b>HQPRIMEIRAVEZ12H</b> ao reservar e receba o desconto!*** <p>
				<br>* código válido apenas para o pacote de 12h
				<br>** Hotéis Ibis não estão participanto da promoção
				<br>***O uso do código promocional de primeira reserva só é válido para finais de semana.
			.row.text-center
				.search-button
					= link_to "Procurar<br>hotéis".html_safe, public_root_path, class: "button btn btn-info"
