= panel_section(name: 'Informações da empresa') do
  = show_for current_affiliate_affiliate do |u|
    = u.attribute :name
    = u.attribute :login
    = u.attribute :responsible_name
    = u.attribute :cnpj
    = u.attribute :email
    = u.attribute :phone_number

    = u.attribute :country
    = u.attribute :state
    = u.attribute :city

    .attributes-wrapper.client_address
      .attribute-title
        | Endereço

      .content
        - if current_affiliate_affiliate.street.blank?
          | -
        - else
          - if (current_affiliate_affiliate.complement) && (current_affiliate_affiliate.complement != '')
            = "#{current_affiliate_affiliate.street}, #{current_affiliate_affiliate.number}, #{current_affiliate_affiliate.complement}".gsub(', ,', ',')
          - else
            = "#{current_affiliate_affiliate.street}, #{current_affiliate_affiliate.number}".gsub(/,\s\z/, '')

    .attributes-wrapper.client_comission
      .attribute-title
        | Comissão acordada
      .content
        = number_to_currency( current_affiliate_affiliate.comission_value).to_s

    = u.attribute :api_iframe_on
    = u.attribute :token
    = u.attribute :api_webservice_on
    = u.attribute :api_webservice_test_token

    = show_panel_buttons_section(path_to_return: :back, edit_button_name: 'Atualizar informações')
