.hotel-reports-controller
  .modal.large .modal-dialog
    width: 80%

  .tooltip
    position: absolute
    background: rgba(255, 255, 255, 0.75)
    border: 1px solid #DDD
    display: none
    opacity: 1
    padding: 5px
    font-size: 11px

    b
      color: #428bca
      letter-spacing: 0px

  .axis-label
    color: #999

  .widget-box
    margin-bottom: 15px

  .bookings-per-pack-and-room-type-legend-container
    tr
      border: 1px solid #cccccc

      td.legendColorBox
        padding-left: 5px
        padding-right: 5px
