.public-affiliate-home-controller.customer-service-action
  .title
    font-size: 40px
    margin-top: 35px
  .description
    margin: 40px auto
    width: 500px
    text-align: center
  .fa-rotate-45
    -webkit-transform: rotate(180deg)
    -moz-transform: rotate(180deg)
    -ms-transform: rotate(180deg)
    -o-transform: rotate(180deg)
    transform: rotate(180deg)
  .icons
    text-align: center
    font-size: 80px
  .information-text
    text-align: center
    margin: 0
