- if params[:action] == 'edit'
  .alert.alert-warning
    button type="button" class="close" data-dismiss="alert"
      i.icon-remove
    | #{t('views.hotel.business_room_pricing_policies.alert_message')}
