table.table-bordered.table-hover.table.no-margin-top ng-repeat="b_room_price in businessRoomPrices"
  tbody
    tr.dark-row
      td.size-28-percent
        input name="#{@type.underscore}[business_room_prices_attributes][{{$index}}][business_room_id]" type="hidden" value="{{b_room_price.business_room_id}}"
        input name="#{@type.underscore}[business_room_prices_attributes][{{$index}}][id]" type="hidden" value="{{b_room_price.id}}" ng-if="b_room_price.id"
        input.hidden name="#{@type.underscore}[business_room_prices_attributes][{{$index}}][pack_price_24h]" ng-model="b_room_price.pack_price_24h" readonly="readonly" type="text"

        | {{b_room_price.business_room.name_pt_br}}
      - @length_of_packs.each do | pack |
        td.center.size-9-percent
          | {{selectedPercentages#{[pack]}}} %
    tr
      td
        | #{t('views.hotel.business_room_pricing_policies.price')}
      - @length_of_packs.each do | length |
        td.center
          | R$ {{b_room_price.pack_price_#{length}h | numberBr}}
          / input hidden has a bug with angular and ng-model
          input.hidden name="#{@type.underscore}[business_room_prices_attributes][{{$index}}][pack_price_#{length}h]" ng-model="b_room_price.pack_price_#{length}h" readonly="readonly" type="text"
