- if @type_room.constantize.by_hotel_id(current_hotel_hotel.id).count == 0

  .alert.alert-danger
    - if @type_room.eql?("MeetingRoom")
      = t(:none_female) + ' ' + t(:meeting_room).downcase + ' ' + t(:registered_female) + ', ' + t(:register_one_meeting_room_first_to_be_able_to_create_pricing_policies)
    - else
      = t(:none) + ' ' + t(:event_room).downcase + ' ' + t(:registered) + ', ' + t(:register_one_event_room_first_to_be_able_to_create_pricing_policies)

- else
  p #{t('views.hotel.business_room_pricing_policies.fees_alert')}
  = render partial: "/hotel/business_room_pricing_policies/form/alerts"
  .div ng-controller="HotelBusinessRoomPricingPoliciesFormCtrl" ng-init="init(#{@pricing_policy.business_room_prices.to_json(:include => :business_room).gsub("'"){"\\'"}.gsub('"', "'").html_safe}, #{@pricing_policy.to_json.gsub("'"){"\\'"}.gsub('"', "'").html_safe})"
    = simple_form_for [:hotel, pricing_policy] do |f|

      h3.header-label #{t('views.hotel.business_room_pricing_policies.rate_table_name')}
      .form-group
        .col-sm-4.col-sm-offset-4 = f.input :name, label: false, wrapper: :basic
      h3.header-label #{t('views.hotel.business_room_pricing_policies.daily_fee')}
      p.text-center
        | #{t('views.hotel.business_room_pricing_policies.daily_fee_message')}
      .base-price-list

        .base-price-item ng-repeat="b_room_price in businessRoomPrices"
          .row
            .col-xs-4.col-md-offset-2.text-center #{t('views.hotel.business_room_pricing_policies.room_name')}
            .col-xs-4.text-center #{t('views.hotel.business_room_pricing_policies.room_fee')}
          .row
            .col-xs-4.col-md-offset-2.text-center
              big
                | {{b_room_price.business_room.name_pt_br}}
            .col-xs-4.text-center

              input.string.money-input ui-money-mask='' ng-model="b_room_price.base_price" ng-blur="updateTablePrice($index)" type='text'


      h3.header-label #{t('views.hotel.business_room_pricing_policies.fee_profile_title')}
      p.text-center #{t('views.hotel.business_room_pricing_policies.fee_profile_explanation')}

      table.table.table-striped.table-profiles
        thead
          th #{t('views.hotel.business_room_pricing_policies.profiles_packages')}
          - @length_of_packs.each do | pack |
            th #{pack}h

        tbody
          tr ng-class="{active: selectedProfile == 'normal'}"
            td #{t('views.hotel.business_room_pricing_policies.market_average')}
            - @length_of_packs.each do | pack |
              td
                = HotelQuando::Constants::BUSINESS_ROOM_DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK["#{pack}_hours"].to_s + '%'

      p.text-center #{t('views.hotel.business_room_pricing_policies.choose_profile')}
      p.text-center.profiles-list
        span.profile ng-click="chooseProfile('normal')" ng-class="{active: selectedProfile == 'normal'}" #{t('views.hotel.business_room_pricing_policies.normal')}
        span.profile ng-click="chooseProfile('custom')" ng-class="{active: selectedProfile == 'custom'}" #{t('views.hotel.business_room_pricing_policies.custom')}
        .hidden
          = f.input :percentage_profile_name, input_html: { 'ng-model' => 'selectedProfile'}

      .percentage-form ng-show="selectedProfile == 'custom'"
        p.text-center #{t('views.hotel.business_room_pricing_policies.fill_below_percentage_value')}
        = render(partial: "/hotel/business_room_pricing_policies/form/percentage_edit_form", locals: { form_builder: f} )
      h3.header-label.table-label #{t('views.hotel.business_room_pricing_policies.final_rate_table_setting')}
      | {{b_room_price}}
      table.table-bordered.table-hover.table
        = render partial: "/hotel/business_room_pricing_policies/components/pricing_policy_table_head"

      = render partial: "/hotel/business_room_pricing_policies/form/business_room_price_list"

      = form_submit_section

javascript:
  yojs.set('default1HourPackPercentage' , "#{HotelQuando::Constants::BUSINESS_ROOM_DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['1_hours']}")
  yojs.set('default2HoursPackPercentage' , "#{HotelQuando::Constants::BUSINESS_ROOM_DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['2_hours']}")
  yojs.set('default3HoursPackPercentage' , "#{HotelQuando::Constants::BUSINESS_ROOM_DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['3_hours']}")
  yojs.set('default4HoursPackPercentage' , "#{HotelQuando::Constants::BUSINESS_ROOM_DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['4_hours']}")
  yojs.set('default5HoursPackPercentage' , "#{HotelQuando::Constants::BUSINESS_ROOM_DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['5_hours']}")
  yojs.set('default6HoursPackPercentage' , "#{HotelQuando::Constants::BUSINESS_ROOM_DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['6_hours']}")
  yojs.set('default7HoursPackPercentage' , "#{HotelQuando::Constants::BUSINESS_ROOM_DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['7_hours']}")
  yojs.set('default8HoursPackPercentage' , "#{HotelQuando::Constants::BUSINESS_ROOM_DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['8_hours']}")
