.row
  .col-md-8.col-md-offset-2
    table.table-bordered.table.no-margin-top style="margin: 0 auto;"
      thead
        tr
          - @length_of_packs.each do | pack |
            th.center style="witdh: 8%"
              | #{pack}h
      tbody
        tr
          - @length_of_packs.each do | length |
            - reference_class = (length == 24) ? 'reference' : ''
            td.center class="#{reference_class}"
              = form_builder.input "percentage_for_#{length}h", input_html: { 'ng-model' => "selectedPercentages[#{length}]", class: 'input-in-table js-mask-float-percent-1-decimal-point-no-symbol', 'ng-readonly' => "selectedProfile != 'custom'", "ng-change" => "updateTablePrice()" }, wrapper: :basic, label: false
