- if params[:action] == 'remove' || params[:action] == 'remove_all_offers'
  .alert.alert-danger
    | #{t('views.hotel.offers.alert_message')}

- else
  - if Room.by_hotel_id(current_hotel_hotel.id).count == 0
    .alert.alert-danger
      | #{t('views.hotel.offers.no_room_registered')} #{link_to t('views.hotel.offers.click_here_to_register_room'), hotel_rooms_path}
  - if PricingPolicy.by_hotel_id(current_hotel_hotel.id).count == 0
    .alert.alert-danger
      | #{t('views.hotel.offers.no_rate_table_registered')} #{link_to t('views.hotel.offers.click_here_to_register_rate_table'), new_hotel_pricing_policy_path}
