- cant_render_new_offers_form = ((Room.by_hotel_id(current_hotel_hotel.id).count == 0 || PricingPolicy.by_hotel_id(current_hotel_hotel.id).count == 0) && !(params[:action] == 'remove'))

- cant_render_remove_offers_form = (Offer.by_hotel_id(current_hotel_hotel.id).count == 0 && (params[:action] == 'remove'))

- if cant_render_new_offers_form || cant_render_remove_offers_form
  = render partial: "/hotel/offers/form/alerts"
- else
  = header_section(right_links: "")

  - if params[:action] == 'remove'
    - submit_path = remove_hotel_offers_path
    - navigation_buttons_class = 'btn-danger'
    - form_confirmation_message = t('views.hotel.offers.offers_will_be_unavailable')
    - submit_button_type = 'danger'
    - submit_button_text = "#{t('views.hotel.offers.remove')}"
  - else
    - submit_path = hotel_offers_path
    - navigation_buttons_class = 'btn-success'
    - form_confirmation_message = t('views.hotel.offers.offers_will_be_created')
    - submit_button_type = 'success'
    - submit_button_text = "#{t('views.hotel.offers.save')}"

  = form_tag submit_path, method: :post, 'ng-controller'=>"HotelOffersFormCtrl", name: 'offersForm' do
    javascript:
      yojs.set('priceTablesByIdJson', JSON.parse('#{pricing_policies_with_room_types_id_json.html_safe}'));
      yojs.set('roomTypesByIdJson', JSON.parse('#{room_types_with_active_rooms_json.html_safe}'));
    .tabbable
      = render partial: "/hotel/offers/form/menu_tabs"

      .tab-content
        = render partial: "/hotel/offers/form/price_table_and_period_tab", locals: { nav_button_class: navigation_buttons_class }
        - if params[:action] == 'remove'
          = render partial: "/hotel/offers/form/rooms_related_tab_for_removal", locals: { nav_button_class: navigation_buttons_class }
        - else
          = render partial: "/hotel/offers/form/rooms_related_tab", locals: { nav_button_class: navigation_buttons_class }

        = render partial: "/hotel/offers/form/pack_selection_tab", locals: { nav_button_class: navigation_buttons_class, button_type: submit_button_type, button_text: submit_button_text, form_confirmation_message: form_confirmation_message }
