.tab-pane.in.active#price-table-and-period
  - unless params[:action] == 'remove'
    .row
      .col-sm-12
        h3.header.lighter.smaller.green #{t('views.hotel.offers.fee_table')}
        select.size-100-percent ng-model="selectedPriceTable" ng-options="priceTable.name for (priceTableId, priceTable) in priceTablesById" name='pricing_policy_id'

  .row
    - if params[:action] == 'remove'
      - section_class = ''
    - else
      - section_class = 'form-section-config'
    .col-sm-7 class="section_class"
      h3.header.lighter.smaller.green #{t('views.hotel.offers.period')}

      .input-group
        span.input-group-addon.size-18-percent
          | #{t('views.hotel.offers.initial_date')}
        input.js-date-picker.form-control.text-right.js-mask-date.js-initial-date name='initial_date' value="#{flash[:initial_date] || ''}" ng-model='intialDate' ng-change='dateInputChanged()'
        span.input-group-addon
          i.icon-calendar.bigger-110
      br
      .input-group
        span.input-group-addon.size-18-percent
          | #{t('views.hotel.offers.final_date')}
        input.js-date-picker.form-control.text-right.js-mask-date.js-final-date name='final_date' value="#{flash[:final_date] || ''}" ng-model='finalDate' ng-change='dateInputChanged()'
        span.input-group-addon
          i.icon-calendar.bigger-110
      .clearfix
    .col-sm-5 class="section_class"
      h3.header.lighter.smaller.green #{t('views.hotel.offers.days_of_week')}
      - days_of_week = {1 => 'monday', 2 => 'tuesday', 3 => 'wednesday', 4 => 'thursday', 5 => 'friday', 6 => 'saturday', 7 => 'sunday'}
      - days_of_week.each do | day_code, day |
        .checkbox.pull-left.no-left-padding.size-25-percent
          label
            input.ace.js-days-of-week class="cpy-#{day}" type="checkbox" value="#{day}" name="selected_days_hash[#{day_code}]" ng-click="formChanged()" checked="checked"
            span.lbl
              = t(day)
      .clearfix
  .row
    .col-sm-12
      = content_tag(:div, class: 'wizard-actions form-buttons') do
        - next_link = "<a class='btn #{nav_button_class} button-to-rooms-tab'>Próxima Etapa <i class='icon-arrow-right icon-on-right'></i></a>".html_safe
        - next_link
