.tab-pane#rooms-related
  .row
    .col-sm-12
      h3.header.lighter.smaller.green #{t('views.hotel.offers.room_types')}
      / | <i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>
      / p.alert.alert-info ng-show="isFormDatesValids()" ng-if="!offersCountPerRoom"
      /   | #{t('views.hotel.offers.please_wait_while_we_count_offers')}

      .checkbox.size-50-percent.pull-left.no-left-padding ng-repeat="(roomTypeId, roomType) in roomTypesById"
        p
          label
            input.ace.cpy-room-type value='{{roomType.id}}' name='room_types_ids[]' type="checkbox" ng-model="roomType.checked"
            span.lbl
              | {{roomType.name_pt_br}}&nbsp;
            / span ng-show="zeroOffersForRoomType(roomType)"
            /   | #{t('views.hotel.offers.no_room_with_offers')}

            / span ng-if="roomsWithOffersNumberPerRoomType(roomType).length > 0"
            /   | - <span class='label label-info'>{{roomsWithOffersNumberPerRoomType(roomType).length}}</span>  #{t('views.hotel.offers.room_with_offers')}
      .clearfix

      .clearfix
  / .row ng-show="isAnyRoomTypeSelectedForOfferRemoval()"
  /   .col-sm-12.form-section-config
  /     h3.header.lighter.smaller.green #{t('views.hotel.offers.rooms')}
  /     p #{t('views.hotel.offers.select_only_rooms_with_offers')}
  /     div ng-repeat="(roomTypeId, roomType) in roomTypesById" ng-show="roomType.checked"
  /       h5.lighter.smaller.blue
  /         | {{roomType.name_pt_br}}

  /       .checkbox.pull-left.size-10-percent ng-repeat="room in roomType.active_rooms"
  /         label
  /           input.ace.cpy-room value='{{room.id}}' name='rooms_ids[]' type="checkbox" ng-checked='roomType.checked && room.checked' ng-model="room.checked" ng-disabled="!offersCountPerRoom[room.id]"
  /           span.lbl
  /             | {{room.number}}
  /             span.hidden ng-if="offersCountPerRoom[room.id]"
  /               | &nbsp;({{offersCountPerRoom[room.id]}})
  /       .clearfix
  .row
    .col-sm-12
      = content_tag(:div, class: 'wizard-actions form-buttons') do
        - back_link = '<a class="btn btn-prev button-to-price-table-tab"><i class="icon-arrow-left icon-on-left"></i>Etapa Anterior</a>'.html_safe
        - next_link = "<a class='btn #{nav_button_class} button-to-pack-selection-tab'>Próxima Etapa <i class='icon-arrow-right icon-on-right'></i></a>".html_safe
        - back_link + next_link
