javascript:
  yojs.set('offerCreation', true)
.tab-pane#rooms-related
  .row
    .col-sm-12
      h3.header.lighter.smaller.green #{t('views.hotel.offers.room_types')}
      .checkbox.pull-left.no-left-padding.size-30-percent ng-repeat="(roomTypeId, roomType) in roomTypesById"
        label
          input.ace.cpy-room-type value='{{roomType.id}}' name='room_types_ids[]' type="checkbox" ng-model="roomType.checked" ng-disabled="selectedTablePriceDoesNotContainsRoomType({{roomType.id}})" ng-checked='roomType.checked && !selectedTablePriceDoesNotContainsRoomType({{roomType.id}})'
          span.lbl
            | {{roomType.name_pt_br}}
      .clearfix

      .alert-price-table-without-room-type ng-show="selectedTablePriceIsNotComplete()"
        .alert.alert-warning
          | #{t('views.hotel.offers.warning_one_or_more_rooms_disabled')}
          a ng-href="#{hotel_pricing_policies_path}/{{selectedPriceTable.id}}/editar"
            =< t('views.hotel.offers.click_here_to_fill_info')

  .row ng-show="isAnyRoomTypeSelected()"
    .col-sm-12.form-section-config
      h3.header.lighter.smaller.green #{t('views.hotel.offers.rooms')}
      div ng-repeat="(roomTypeId, roomType) in roomTypesById" ng-show="roomType.checked && !selectedTablePriceDoesNotContainsRoomType(roomType.id)"
        h5.lighter.smaller.blue
          | {{roomType.name_pt_br}}
        .checkbox.pull-left.size-10-percent ng-repeat="room in roomType.active_rooms"
          label
            input.ace.cpy-room value='{{room.id}}' name='rooms_ids[]' type="checkbox" ng-checked='roomType.checked && !selectedTablePriceDoesNotContainsRoomType(roomType.id) && room.checked' ng-model="room.checked"
            span.lbl
              | {{room.number}}
        .clearfix

  .row
    .col-sm-12
      = content_tag(:div, class: 'wizard-actions form-buttons') do
        - back_link = '<a class="btn btn-prev button-to-price-table-tab"><i class="icon-arrow-left icon-on-left"></i>Etapa Anterior</a>'.html_safe
        - next_link = "<a class='btn #{nav_button_class} button-to-pack-selection-tab'>Próxima Etapa <i class='icon-arrow-right icon-on-right'></i></a>".html_safe
        - back_link + next_link
