.row
  .col-xs-12.border-box.with-padding
    h1.page-title Frequently Asked Questions
    .divider

    ol
      li
        a.accordion
          b How do I make a reservation?
        .answer
          ol.letters
            li Type the destination
            li Choose the number of guests
            li Choose the date and the time of the check-in
            li Choose the pack of hours that you need

      li
        a.accordion
          b Is there any problem if I arrive a little later than the check-in time I chose?
        .answer
          p Not at all. The important thing is to respect the check-out time. But we recommend that you arrive at the right time and make the most of your booking.

      li 
        a.accordion
          b And if I do not leave the room at the scheduled time?
        .answer
          p If you do not respect the check out time, we will charge a fine in the same amount of your reservation. Also, we will block your account with us and you can no longer use our platform.

      li
        a.accordion
          b Is it safe to buy at HotelQuando.com?
        .answer
          p We hold the privacy of your data so third parties won´t have access. Additionally, you can learn more by visiting our Privacy Policy.

      li
        a.accordion
          b Can I cancel a booking at HotelQuando.com?
        .answer
          p You can cancel it within the deadline set by the hotel of your choice. Pay attention to the notice required to cancel.

      li
        a.accordion
          b How can I cancel my booking?
        .answer
          p To cancel a booking, you must first make sure it is within the period allowed for cancellation. If yes, just visit "My bookings" and perform the cancellation.

      li
        a.accordion
          b Will HotelQuando.com charge me a fee if I cancel my booking?
        .answer
          p We never charge any fee if the cancellation policies of the hotels are respected. Please note that you must cancel by the deadline set by the hotel.

      li
        a.accordion
          b If I cancel my booking, how long does it take to have the amount back in my account?
        .answer
          p Within 48h after the cancellation

      li
        a.accordion
          b Rates shown in HotelQuando.com are per room or per person?
        .answer
          p The prices shown on our website are always per person. Regardless of the type of room or bedding configuration of the room.

      li
        a.accordion
          b Rates shown in HotelQuando.com include all taxes?
        .answer
          p All prices displayed on our site already include taxes. You can get more information by accessing Terms of Use.

      li
        a.accordion
          b How do I pay for my booking?
        .answer
          p You can make the payment of your booking in two ways: payment at time of booking by credit card or payment at destination (all forms of payment that the hotel offers are informed on our web site). If you choose to pay at destination, we will pre-authorize your credit card to guarantee the booking.

      li
        a.accordion
          b How do I know my booking is confirmed?
        .answer
          p Once the pre-authorization of your credit card or payment is confirmed you will receive an email with the confirmation of booking, and you can also view the status of your booking via user panel by clicking on 'My bookings'

      li
        a.accordion
          b How do I get a receipt for my booking?
        .answer
          p When you confirm your booking, you will receive an email with the HotelQuando.com booking data. In addition, you may request a receipt at the hotel.

      li
        a.accordion
          b What should I do if I want to make a question about a booking?
        .answer
          p Refer to customer service section and see all forms of contact us.
