.row
  .col-xs-12.border-box.with-padding
    h1.page-title Perguntas Frequentes
    .divider

    ol 
      li 
        a.accordion
          b
            |Como faço para realizar uma reserva?
        .answer
        
          ol.letters
            li Digite seu destino (pode ser um lugar, um endereço, uma cidade)
            li Defina para quantas pessoas é a reserva
            li Defina a data e o horário que gostaria de entrar no hotel (Check-in)
            li Escolha um pacote de horas que atenda a sua necessidade

      li
        a.accordion
          b Tem algum problema se eu chegar um pouco mais tarde do horário de check-in escolhido?
        .answer
          p Não tem problema algum. O importante é sempre respeitar o horário de saída do quarto (check-out). Mas recomendamos que chegue no horário certo e desfrute ao máximo da sua reserva.

      li 
        a.accordion
          b E se eu não sair do quarto no horário estabelecido?
        .answer
          p Se você não respeitar o horário de check-out (saída do quarto), será cobrada uma multa no valor do pacote de horas adquirido. Além disso, vamos bloquear sua conta conosco e você não poderá mais usar nossa plataforma.

      li 
        a.accordion
          b É seguro comprar na HotelQuando.com?
        .answer
          p Mantemos a privacidade dos seus dados para que terceiros não tenham acesso. Além disso, você pode saber mais acessando nossa Política de Privacidade.

      li 
        a.accordion
          b Posso cancelar uma reserva na HotelQuando.com?
        .answer
          p Poderá cancela-la dentro do prazo estabelecido pelo hotel de sua escolha. Se atente na antecedência necessária para realizar o cancelamento.

      li 
        a.accordion
          b Como faço para cancelar uma reserva?
        .answer
          p Para cancelar uma reserva, primeiro você deve se certificar se está dentro do prazo permitido para o cancelamento. Se sim, basta acessar “Minhas reservas” e realizar o  cancelamento.

      li 
        a.accordion
          b Vão me cobrar alguma taxa se cancelar minha reserva?
        .answer
          p Nunca lhe cobraremos qualquer taxa se respeitadas as políticas de cancelamento dos hotéis. Por favor, note que você deve sempre cancelar no prazo estabelecido pelo hotel.

      li 
        a.accordion
          b Se cancelo uma reserva, em quanto tempo terei o valor de volta à minha conta?
        .answer
          p Em até 48 horas após a realização do cancelamento.



      li 
        a.accordion
          b Os preços que aparecem na HotelQuando.com são por quarto ou por pessoa?
        .answer
          p Os preços apresentados em nosso site sempre são por pessoa. Independente do tipo de quarto ou da configuração de camas do quarto.

      li 
        a.accordion
          b Os preços que aparecem na HotelQuando.com têm todos os impostos incluídos?
        .answer
          p Todos os preços apresentados em nosso site possuem os impostos incluídos. Poderá obter mais informações acessando Termos de uso.

      li 
        a.accordion
          b Como faço para realizar o pagamento da minha reserva?
        .answer
          p Você pode realizar o pagamento da sua reserva de duas formas: pagamento no momento da reserva por cartão de crédito ou pagamento no destino (todas as formas de pagamento que o hotel disponibiliza estão informadas em nosso site). Caso escolha pagamento no destino, faremos uma pré-autorização no seu cartão de crédito como garantia da reserva.
      li 
        a.accordion
          b Como sei se minha reserva está confirmada?
        .answer
          p Assim que a pré-autorização do seu cartão de crédito ou o pagamento for confirmado você receberá um e-mail informando a confirmação da reserva, e também poderá consultar o status de suas reservas através do painel de usuário clicando em 'Minhas Reservas'

      li 
        a.accordion
          b Como consigo um recibo da minha reserva?
        .answer
          p Quando confirmar sua reserva, receberá um e-mail da HotelQuando.com com os dados da reserva. Além disso, você pode solicitar um recibo no próprio hotel.

      li 
        a.accordion
          b O que devo fazer se desejo realizar uma pergunta sobre uma reserva?
        .answer
          p Consulte a seção de atendimento ao cliente e veja todas formas de entrar em contato conosco.
       

       
