ruby:
  mbm_config = MemberGetMemberConfig.last
.image-and-describe.text-center
  .share-happy
    = t(:shared_happiness_is_double_happiness)



.container
  .row
    .col-sm-12.flash-message.js-flash-message
       = display_flash_message

  .row
    .col-xs-12.border-box.with-padding.member-get-member-box
      .row
        .description-box
          = t(:member_get_member_description_box, indicators_credit: number_to_currency(mbm_config.indicators_credit_value(PromotionalCode.by_code(current_public_user.refer_code).last), precision: 0, unit: ''), discount_to_referred: number_to_currency(mbm_config.discount_to_referred_value(PromotionalCode.by_code(current_public_user.refer_code).last), precision: 0, unit: ''))
      - if PromotionalCode.by_code(current_public_user.refer_code).exists?
        .row
          .share-code-box
            = t(:share_the_code_description)
        .row.text-center
          .promotional-code-box
            span = current_public_user.refer_code
      .row
        .text-center.is-simple
          = t(:its_quite_simple)
      .row
        .col-md-4.col-sm-12.text-center.circles
          span.fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-share-alt.fa-stack-1x.fa-inverse.icon
          .text-center.describe-circle
            span = t(:share_with_friends)
        .col-md-4.col-sm-12.text-center.circles
          span.fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-check.fa-stack-1x.fa-inverse.icon
          .text-center.describe-circle
            span = t(:friends_confirm_booking)
        .col-md-4.col-sm-12.text-center.circles
          span.fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-envelope.fa-stack-1x.fa-inverse.icon
          .text-center.describe-circle
            span = t(:receive_credits_in_email)
      .row
        .description-box.refer-friends
          = t(:refer_here_your_friends)
          br
          i.fa.fa-arrow-circle-down
      .row.inputs-refer-friends
        = form_tag send_code_public_referred_friend_logs_path, method: :post, id:'form_friend', class: 'send-refer-code-form' do
          .hidden
            input type="text" id="count" name="count"
          .form-questions
            .row.fields-to-add
              .col-md-6
                .input-group.input-group-lg.group-refer
                  span.input-group-addon.fa.fa-child id="sizing-addon1"
                  input.form-control type="text" placeholder="#{t(:friend_name)}" aria-describedby="sizing-addon1" name="referred_friend_log[friend_name]"
              .col-md-6
                .input-group.input-group-lg.group-refer
                  span.input-group-addon id="sizing-addon1" @
                  input.form-control type="text" placeholder="#{t(:friend_email)}" aria-describedby="sizing-addon1" name="referred_friend_log[friend_email]"

          .row
            .col-md-6
              .btn.add-friend
                = t(:add_more_friends)

          .row.inputs-refer-friends
            .col-md-4.col-md-offset-4
              input.form-control.btn.green.btn-success.btn-lg.btn-block.submit-button type="submit" value="Enviar"


      .row style="text-align: center;"
        .share-facebook-and-whatsapp-buttons
          .fb-share-button data-href="http://hotelquando.com/indique-e-ganhe/#{current_public_user.id}" data-layout="button" data-mobile-iframe="true" data-size="small"   
            a.fb-xfbml-parse-ignore href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.hotelquando.com%2F&amp;src=sdkpreparse" target="_blank"  Compartilhar

          .btn_whats_share.hidden-md.hidden-lg
            i.fa.fa-whatsapp aria-hidden="true" 
            a href="whatsapp://send?text= Olá! estou compartilhando R$50 para sua primeira reserva na HotelQuando!! http://hotelquando.com/indique-e-ganhe/#{current_public_user.id}"         Compartilhar



      .row.credits-box
        .text-center.your-credits
          = t(:your_credits)
        .col-md-4.with-margin
          .description-box.credits.first.credit-header
            = t(:referred_friend)
          .description-box.credits.with-bord.first.credit-footer
            = current_public_user.referred_friend_logs.count
        .col-md-4.with-margin
          .description-box.credits.credit-header
            = t(:friends_who_booked)
          .description-box.credits.with-bord.credit-footer
            - if PromotionalCode.by_code(current_public_user.refer_code).exists?
              = PromotionalCode.by_code(current_public_user.refer_code).last.bookings.paid.count
            - else
              | 0
        .col-md-4.with-margin
          .description-box.credits.last.credit-header
            = t(:balance) 
          .description-box.credits.with-bord.last.credit-footer
            = number_to_currency(calculate_currency(current_public_user.balance, current_currency.money_sign), unit: "R$")
      .row.with-padding
        - number_of_first_bookings = mbm_config.number_of_first_bookings
        - discount_to_referred_first_bookings = number_to_currency(mbm_config.discount_to_referred_first_bookings, unit: '', precision: 0)
        - indicators_credit_first_bookings = number_to_currency(mbm_config.indicators_credit_first_bookings, unit: '', precision: 0)
        - discount_to_referred = number_to_currency(mbm_config.discount_to_referred, unit: '', precision: 0)
        - indicators_credit = number_to_currency(mbm_config.indicators_credit, unit: '', precision: 0)
        span 
          | *#{t(:member_get_member_observations, number_of_first_bookings: mbm_config.number_of_first_bookings, discount_to_referred_first_bookings: discount_to_referred_first_bookings, indicators_credit_first_bookings: indicators_credit_first_bookings, discount_to_referred: discount_to_referred, indicators_credit: indicators_credit)}
        br
        span
          - wday_names = []
          - wday_array_number = mbm_config.avaiable_for_days_of_the_week.split(",")
          - monday = "0"
          - if wday_array_number.include?(monday)
            - wday_array_number.delete_at(0)
            - wday_array_number << monday
          - wday_array_number.each do |day|
            - if (1..5).include?(day.to_i)
              - if wday_array_number.count > 1 && day.eql?(wday_array_number.last)
                - wday_names << "#{t(:and)} #{t(Date::DAYNAMES[day.to_i].downcase)}-feira"
              - elsif wday_array_number.count > 2 && day != wday_array_number.last && day != wday_array_number.first
                - wday_names << ", #{t(Date::DAYNAMES[day.to_i].downcase)}-feira"
              - else
                - wday_names << "#{t(Date::DAYNAMES[day.to_i].downcase)}-feira"
            - else
              - if wday_array_number.count > 1 && day.eql?(wday_array_number.last)
                - wday_names << "#{t(:and)} #{t(Date::DAYNAMES[day.to_i].downcase)}"
              - elsif wday_array_number.count > 2 && day != wday_array_number.last && day != wday_array_number.first
                - wday_names << ", #{t(Date::DAYNAMES[day.to_i].downcase)}"
              - else
                - wday_names << "#{t(Date::DAYNAMES[day.to_i].downcase)}"
          | *#{t(:promotional_code_available_for_days_of_the_week, weekday: wday_names.join(" ").downcase)}


javascript:
  
  yojs.set('traduc_name' , "#{t(:friend_name)}");
  yojs.set('traduc_email' , "#{t(:friend_email)}");

