- user = @traveler.present? ? @traveler : @booking.user
- if @user.locale == 'en'
  - content_for(:title) { "Your booking request was denied" }
  p Hello, #{user.name}.
  p
    | Your booking request for #{@booking.checkin_date.strftime('%m/%d/%Y')}, in the hotel #{@booking.hotel.name} was denied by the hotel.

  p To view your bookings visit:
    - if @affiliate_mark
      - link_affiliate = "www."+@affiliate_domain
      p = link_to link_affiliate, link_affiliate
    - else
      p = link_to public_bookings_url, public_bookings_url

  p To make new bookings visit:
    - if @affiliate_mark
      - link_affiliate = "www."+@affiliate_domain
      p = link_to link_affiliate, link_affiliate
    - else
      p = link_to public_root_url, public_root_url

- else
	- content_for(:title) { "Sua solicitação de reserva foi recusada" }
	p Olá, #{user.name}.
	p Sua solicitação de reserva para #{@booking.checkin_date.strftime('%d/%m/%Y')}, no hotel #{@booking.hotel.name} foi recusada pelo hotel.

	p Para visualizar suas reservas acesse:
    - if @affiliate_mark
      - link_affiliate = "www."+@affiliate_domain
      p = link_to link_affiliate, link_affiliate
    - else
      p = link_to public_bookings_url, public_bookings_url

	p Para fazer novas reservas acesse:
    - if @affiliate_mark
      - link_affiliate = "www."+@affiliate_domain
      p = link_to link_affiliate, link_affiliate
    - else
      p = link_to public_root_url, public_root_url
