- user = @traveler.present? ? @traveler : @booking.user
- user_payment_unit = Currency.by_code_or_money_sign(@booking.currency_code)

- if @user.locale == 'en'
  - content_for(:title) { "Error charging your booking's no-show" }
  p Hello, #{user.name}.
  p Because of the no-show in #{@booking.checkin_date.strftime('%m/%d/%Y')} at the hotel #{@booking.hotel.name}, we tried to charge #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.no_show_value, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)} in your credit card, but unsuccessfully.

  p
    span Booking informations:
    br
    span.gray
      ' Booking ID:
    span = @booking.id
    br
    span.gray
      ' Checkin date and time:
    span = @booking.offer.checkin_timestamp.strftime('%m/%d/%Y - %H:%M')
    br
    span.gray
      ' Checkout date and time
    span = @booking.offer.checkout_timestamp.strftime('%m/%d/%Y - %H:%M')
    br
    span.gray
      ' Pack size:
    span = "#{@booking.pack_in_hours} #{@booking.pack_in_hours.eql?(1) ? 'hour' : 'hours'}"

  p style="color: #D50000"
    b
      | Please verify as soon as possible your payment situation.

  p To view your bookings visit:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p To make new bookings visit:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url

- elsif @user.locale == 'es'
  - content_for(:title) { "Hubo un error de pago cuando cobramos la tarifa por no aparecer a la reserva" }
  p Hola, #{user.name}.
  p Por no aparecer a su reserva en la fecha #{@booking.checkin_date.strftime('%d/%m/%Y')} en el hotel #{@booking.hotel.name}, intentamos cargar #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.no_show_value, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)} en su tarjeta de crédito, pero la transacción no tuvo éxito.

  p
    span Datos de reserva:
    br
    span.gray
      ' Código da reserva:
    span = @booking.id
    br
    span.gray
      ' Fecha y hora de checkin:
    span = @booking.offer.checkin_timestamp.strftime('%d/%m/%Y - %H:%M')
    br
    span.gray
      ' Fecha y hora de checkout:
    span = @booking.offer.checkout_timestamp.strftime('%d/%m/%Y - %H:%M')
    br
    span.gray
      ' Tamaño del paquete:
    span = "#{@booking.pack_in_hours} #{@booking.pack_in_hours.eql?(1) ? 'hora' : 'horas'}"

  p style="color: #D50000"
    b
      | Por favor verificar su situación de pago lo antes posible.

  p Para ver sus reservas, visite:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p Para hacer nuevas reservas, visite:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url

- else
  - content_for(:title) { "No-Show com erro de pagamento" }
  p Olá, #{user.name}.
  p Devido ao não comparecimento em #{@booking.checkin_date.strftime('%d/%m/%Y')} no hotel #{@booking.hotel.name} de sua reserva, foi feita uma tentativa de debitar o no-show no valor #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.no_show_value, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)} em seu cartão de crédito, porém a transação não foi bem-sucedida.

  p
    span Dados da reserva:
    br
    span.gray
      ' Código da reserva:
    span = @booking.id
    br
    span.gray
      ' Data e hora do checkin:
    span = @booking.offer.checkin_timestamp.strftime('%d/%m/%Y - %H:%M')
    br
    span.gray
      ' Data e hora do checkout:
    span = @booking.offer.checkout_timestamp.strftime('%d/%m/%Y - %H:%M')
    br
    span.gray
      ' Tamanho do pacote:
    span = "#{@booking.pack_in_hours} #{@booking.pack_in_hours.eql?(1) ? 'hora' : 'horas'}"

  p style="color: #D50000"
    b
      | Por favor verificar o quanto antes sua situação em relação ao pagamento.

  p Para visualizar suas reservas acesse:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p Para fazer novas reservas acesse:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url

