- user = @traveler.present? ? @traveler : @booking.user
- user_payment_unit = Currency.by_code_or_money_sign(@booking.currency_code)

- if @user.locale == 'en'
  - content_for(:title) { "No-Show successfully paid" }
  p Hello, #{user.name}.
  p
    ' Because of the no-show in #{@booking.checkin_date.strftime('%m/%d/%Y')} at the hotel #{@booking.hotel.name}, because you opted to pay online you will not be charged again
    - if @booking.no_show_refund_value <= 0
      | , but you will not have a refund.
    - else
      | and will have a #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.no_show_refund_value, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)} refund.

  p
    span Booking informations:
    br
    span.gray
      ' Booking ID:
    span = @booking.id
    br
    span.gray
      ' Checkin date and time:
    span = @booking.offer.checkin_timestamp.strftime('%m/%d/%Y - %H:%M')
    br
    span.gray
      ' Checkout date and time
    span = @booking.offer.checkout_timestamp.strftime('%m/%d/%Y - %H:%M')
    br
    span.gray
      ' Pack size:
    span = "#{@booking.pack_in_hours} #{@booking.pack_in_hours.eql?(1) ? 'hour' : 'hours'}"

  p To view your bookings visit:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p To make new bookings visit:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url

- elsif @user.locale == 'es'
  - content_for(:title) { "Pago por no presentarse fue aceptado" }
  p Hola, #{user.name}.
  p
    ' Por no aparecer a su reserva en la fecha #{@booking.checkin_date.strftime('%d/%m/%Y')} en el hotel #{@booking.hotel.name} , el hotel le cobrará el valor de la reserva. Por haber hecho la reserva online, no van a cobrar la reserva en su tarjeta de crédito una segunda vez
    - if @booking.no_show_refund_value <= 0
      | , sin embargo, usted no será reembolsado.
    - else
      | y usted tendrá un reembolso de #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.total_price, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}.

  p
    span Datos de reserva:
    br
    span.gray
      ' Código da reserva:
    span = @booking.id
    br
    span.gray
      ' Fecha y hora de Check-in:
    span = @booking.offer.checkin_timestamp.strftime('%d/%m/%Y - %H:%M')
    br
    span.gray
      ' Fecha y hora de Check-out:
    span = @booking.offer.checkout_timestamp.strftime('%d/%m/%Y - %H:%M')
    br
    span.gray
      ' Tamaño del paquete:
    span = "#{@booking.pack_in_hours} #{@booking.pack_in_hours.eql?(1) ? 'hora' : 'horas'}"

  p Para ver sus reservas, visite:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p Para hacer nuevas reservas, visite:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url

- else
  - content_for(:title) { "No-Show pago com sucesso" }
  p Olá, #{user.name}.
  p
    ' Devido ao não comparecimento em #{@booking.checkin_date.strftime('%d/%m/%Y')} no hotel #{@booking.hotel.name} de sua reserva, o hotel acusou o no-show. Por ter optado por pagar a reserva online, o valor da reserva não será debitado novamente em seu cartão de crédito
    - if @booking.no_show_refund_value <= 0
      | , porém você não será reembolsado.
    - else
      | e você terá um reembolso de #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.no_show_refund_value, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}.

  p
    span Dados da reserva:
    br
    span.gray
      ' Código da reserva:
    span = @booking.id
    br
    span.gray
      ' Data e hora do checkin:
    span = @booking.offer.checkin_timestamp.strftime('%d/%m/%Y - %H:%M')
    br
    span.gray
      ' Data e hora do checkout:
    span = @booking.offer.checkout_timestamp.strftime('%d/%m/%Y - %H:%M')
    br
    span.gray
      ' Tamanho do pacote:
    span = "#{@booking.pack_in_hours} #{@booking.pack_in_hours.eql?(1) ? 'hora' : 'horas'}"

  p Para visualizar suas reservas acesse:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p Para fazer novas reservas acesse:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url

