- user = @traveler.present? ? @traveler : @booking.user
- if @user.locale == 'en'
	- content_for(:title) { "Your booking expired" }
	p Hello, #{user.name}.
	p Your booking for #{@booking.checkin_date.strftime('%m/%d/%Y')}, in the hotel #{@booking.hotel.name} was not confirmed in the time limit and was expired.

  p To view your bookings visit:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p To make new bookings visit:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url

- elsif @user.locale == 'es'
	- content_for(:title) { "Su reserva ha expirado" }
  p Hola, #{user.name}.
  p Su reserva #{@booking.checkin_date.strftime('%d/%m/%Y')}, en el hotel #{@booking.hotel.name} no fue confirmada dentro del límite de tiempo y por eso se canceló

  p Para ver sus reservas, visite:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p Para hacer nuevas reservas, visite:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url

- else
	- content_for(:title) { "Sua reserva expirou" }
	p Olá, #{user.name}.
	p Sua reserva para #{@booking.checkin_date.strftime('%d/%m/%Y')}, no hotel #{@booking.hotel.name} não foi confirmada dentro do limite de tempo e por isso foi expirada.

	p Para visualizar suas reservas acesse:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
		p = link_to public_bookings_url, public_bookings_url

	p Para fazer novas reservas acesse:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
		p = link_to public_root_url, public_root_url
