- user = @traveler.present? ? @traveler : @booking.user
- user_payment_unit = Currency.by_code_or_money_sign(@booking.currency_code)

- if @user.locale == 'en'
  - content_for(:title) { "Error refunding your booking's no-show" }
  p Hello, #{user.name}.
  p Because of the no-show in #{@booking.checkin_date.strftime('%m/%d/%Y')} at the hotel #{@booking.hotel.name} and because you opted to pay your booking online, we tried to refund the difference between the booking total value and the no-show value to you, but unsuccessfully. Refund value: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.no_show_refund_value, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}

  p
    span Booking informations:
    br
    span.gray
      ' Booking ID:
    span = @booking.id
    br
    span.gray
      ' Checkin date and time:
    span = @booking.offer.checkin_timestamp.strftime('%m/%d/%Y - %H:%M')

  p style="color: #D50000"
    b
      | Please verify as soon as possible your refund situation.

  p To view your bookings visit:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p To make new bookings visit:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url

- elsif @user.locale == 'es'
  - content_for(:title) { "No-Show con error de reembolso" }
  p Hola, #{user.name}.
  p Por no aparecer en #{@booking.checkin_date.strftime('%d/%m/%Y')} en el hotel #{@booking.hotel.name} y porque usted pagó por la reserva online , intentamos hacer el reembolso de la diferencia entre el valor por no aparecer y el valor total de la reserva. Sin embargo, la transacción tuvo algún error. Valor de reembolso: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.no_show_refund_value, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}.

  p
    span Datos de reserva:
    br
    span.gray
      ' Código da reserva:
    span = @booking.id
    br
    span.gray
      ' Fecha y hora de checkin:
    span = @booking.offer.checkin_timestamp.strftime('%d/%m/%Y - %H:%M')

  p style="color: #D50000"
    b
      | Por favor verificar su situación de reembolso lo antes posible.

  p Para ver sus reservas, visite:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p Para hacer nuevas reservas, visite:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url

- else
  - content_for(:title) { "No-Show com erro de reembolso" }
  p Olá, #{user.name}.
  p Devido ao não comparecimento em #{@booking.checkin_date.strftime('%d/%m/%Y')} no hotel #{@booking.hotel.name} de sua reserva e porque você optou por pagar a reserva online, foi feita uma tentativa de reembolsar a diferença entre o valor do no-show e o valor total da reserva, porém a transação não foi bem-sucedida. Valor do reembolso: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.no_show_refund_value, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}.

  p
    span Dados da reserva:
    br
    span.gray
      ' Código da reserva:
    span = @booking.id
    br
    span.gray
      ' Data e hora do checkin:
    span = @booking.offer.checkin_timestamp.strftime('%d/%m/%Y - %H:%M')

  p style="color: #D50000"
    b
      | Por favor verificar o quanto antes sua situação em relação ao reembolso.

  p Para visualizar suas reservas acesse:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p Para fazer novas reservas acesse:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url
