- user = @traveler.present? ? @traveler : @booking.user
- if @user.locale == 'en'
  - content_for(:title) { "Delay in booking checkout" }
  p Hello, #{user.name}.
  p Because of the delay in the booking's checkout #{@booking.checkin_date.strftime('%m/%d/%Y')}, in the hotel #{@booking.hotel.name} the hotel marked your booking with checkout delay.

  p
    span Booking informations:
    br
    span.gray
      ' Booking ID:
    span = @booking.id
    br
    span.gray
      ' Checkin date and time:
    span = @booking.offer.checkin_timestamp.strftime('%m/%d/%Y - %H:%M')
    br
    span.gray
      ' Checkout date and time
    span = @booking.offer.checkout_timestamp.strftime('%m/%d/%Y - %H:%M')
    br
    span.gray
      ' Pack size:
    span = "#{@booking.pack_in_hours} #{@booking.pack_in_hours.eql?(1) ? 'hour' : 'hours'}"

  p To view your bookings visit:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p To make new bookings visit:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url

- elsif @user.locale == 'es'
  - content_for(:title) { "Atraso en el checkout de la reserva" }
  p Hola, #{user.name}.
  p Debido al atraso en el checkout de la reserva #{@booking.checkin_date.strftime('%d/%m/%Y')}, en el hotel #{@booking.hotel.name} el hotel marcó su reserva con atraso en el checkout.

  p
    span Datos de reserva:
    br
    span.gray
      ' Código da reserva:
    span = @booking.id
    br
    span.gray
      ' Fecha y hora de checkin:
    span = @booking.offer.checkin_timestamp.strftime('%d/%m/%Y - %H:%M')
    br
    span.gray
      ' Fecha y hora de checkout:
    span = @booking.offer.checkout_timestamp.strftime('%d/%m/%Y - %H:%M')
    br
    span.gray
      ' Tamaño del paquete:
    span = "#{@booking.pack_in_hours} #{@booking.pack_in_hours.eql?(1) ? 'hora' : 'horas'}"

  p Para ver sus reservas, visite:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p Para hacer nuevas reservas, visite:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url

- else
  - content_for(:title) { "Atraso no checkout da reserva" }
  p Olá, #{user.name}.
  p Devido ao atraso no checkout de sua reserva em #{@booking.checkin_date.strftime('%d/%m/%Y')}, no hotel #{@booking.hotel.name} o hotel marcou sua reserva com atraso no checkout.

  p
    span Dados da reserva:
    br
    span.gray
      ' Código da reserva:
    span = @booking.id
    br
    span.gray
      ' Data e hora do checkin:
    span = @booking.offer.checkin_timestamp.strftime('%d/%m/%Y - %H:%M')
    br
    span.gray
      ' Data e hora do checkout:
    span = @booking.offer.checkout_timestamp.strftime('%d/%m/%Y - %H:%M')
    br
    span.gray
      ' Tamanho do pacote:
    span = "#{@booking.pack_in_hours} #{@booking.pack_in_hours.eql?(1) ? 'hora' : 'horas'}"

  p Para visualizar suas reservas acesse:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p Para fazer novas reservas acesse:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url
