- if @user.locale == 'en'
  - content_for(:title) { "Your password" }
  p Hello, #{@user.name}! Welcome to HotelQuando.com.

  p Your company registered you in our platform. Your credentials to access the system are:

  p.small
    span.gray Login:&nbsp;
    span = @user.email

  p.small
    span.gray Password:&nbsp;
    span = @user.password

  p To search for offers access:
  p = link_to public_root_url, public_root_url


- else
  - content_for(:title) { "Sua senha" }
  p Olá, #{@user.name}! Seja bem-vindo ao HotelQuando.com.

  p Sua empresa realizou seu cadastrado na nossa plataforma. Seus dados para acesso são:

  p.small
    span.gray Login:&nbsp;
    span = @user.email

  p.small
    span.gray Senha:&nbsp;
    span = @user.password

  p Agora você pode reservar os melhores hoteis do Brasil por pacotes de HORAS
  p = link_to 'Entenda como funciona', public_how_it_works_url
  p = link_to 'Por que usar em suas viagens de negócio?', public_get_business_trips_url

  p Para visualizar nossas ofertas acesse:
  p = link_to public_root_url, public_root_url

