/ This email was removed, keeping this file for history purposes
- if @user.locale == 'en'
  - content_for(:title) { "New Booking" }
  p Hello, #{@user.name}.
  p You are one step away from confirming your booking!
  p Your booking for #{@booking.pack_in_hours} hours at hotel #{@booking.offer.hotel.name} with checkin at #{@booking.checkin_date.strftime('%m/%d/%Y')} was successfully initiated.
  p We would like to remind you that you have 15 minutes to insert your payment info and confirm it. Otherwise your booking will expire and the offer will return to available on our platform.

  p To view your booking and confirm it visit:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_booking_url(@booking.id), public_booking_url(@booking.id)

- else
  - content_for(:title) { "Nova Reserva" }
  p Olá, #{@user.name}.

  p Falta pouco para completar sua reserva!
  p Sua reserva para um pacote de #{@booking.pack_in_hours} horas com checkin em #{@booking.checkin_date.strftime('%d/%m/%Y')} no hotel #{@booking.offer.hotel.name} foi iniciada com sucesso.
  p Lembramos que você tem 15 minutos para informar seus dados de pagamento e confirmar a reserva, caso contrário ela será expirada e voltará a ficar disponível em nossa plataforma.

  p Para completar sua reserva acesse:
  - if @affiliate_mark
    /- #link_affiliate = "www."+@affiliate_domain
    /p = #link_to link_affiliate, link_affiliate
  - else
    p = link_to public_booking_url(@booking.id), public_booking_url(@booking.id)
