- user = @traveler.present? ? @traveler : @booking.user
- if @user.locale == 'en'
  - content_for(:title) { "Your payment was declined" }
  p Hello, #{user.name}.
  p Your booking for #{@booking.checkin_date.strftime('%m/%d/%Y')}, in the hotel #{@booking.hotel.name} will be canceled because your credit card was declined

  - if @affiliate_mark
    p To view your bookings and make a new payment visit:
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p To view your bookings and make a new payment visit:
    p = link_to public_bookings_url, public_bookings_url

- if @user.locale == 'es'
  - content_for(:title) { "Su pago fue rechazado" }
  p Hola, #{user.name}.
  p Su reserva #{@booking.checkin_date.strftime('%d/%m/%Y')} en el hotel #{@booking.hotel.name} se cancelará porque su tarjeta de crédito fue rechazada

  - if @affiliate_mark
    p Para hacer nuevas reservas, visite:
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p Para hacer nuevas reservas, visite:
    p = link_to public_bookings_url, public_bookings_url

- else
  - content_for(:title) { "Seu pagamento foi recusado" }
  p Olá, #{user.name}.
  p Sua reserva para #{@booking.checkin_date.strftime('%d/%m/%Y')} no hotel #{@booking.hotel.name} sera cancelada pois seu cartão de crédito foi recusado.

  - if @affiliate_mark
    p Para visualizar suas reservas e realizar um novo pagamento acesse:
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p Para visualizar suas reservas e realizar um novo pagamento acesse:
    p = link_to public_bookings_url, public_bookings_url
