- user = @traveler.present? ? @traveler : @booking.user
- if @user.locale == 'en'
  - content_for(:title) { "Your booking was canceled" }
  p Hello, #{user.name}.
  p
    | Your booking for #{@booking.checkin_date.strftime('%m/%d/%Y')}, in the hotel #{@booking.hotel.name} was #{@booking.created_by_agency? ? 'canceled by your travel agency' : 'successfully canceled'}.

  p To view your bookings visit:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p To make new bookings visit:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url

- if @user.locale == 'es'
  - content_for(:title) { "Su reserva fue cancelada" }
  p Hola, #{user.name}.
  p Su reserva #{@booking.checkin_date.strftime('%d/%m/%Y')}, en el hotel #{@booking.hotel.name} fue cancelada #{@booking.canceled_by_agency ? 'por su agencia de viajes.' : 'con éxito'}.

  p Para ver sus reservas, visite:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_bookings_url, public_bookings_url

  p Para hacer nuevas reservas, visite:
  - if @affiliate_mark
    - link_affiliate = "www."+@affiliate_domain
    p = link_to link_affiliate, link_affiliate
  - else
    p = link_to public_root_url, public_root_url

- else
	- content_for(:title) { "Sua reserva foi cancelada" }
	p Olá, #{user.name}.
	p Sua reserva para #{@booking.checkin_date.strftime('%d/%m/%Y')}, no hotel #{@booking.hotel.name} foi cancelada #{@booking.created_by_agency? ? 'pela sua agência de viagens' : 'com sucesso'}.

	p Para visualizar suas reservas acesse:
    - if @affiliate_mark
      - link_affiliate = "www."+@affiliate_domain
      p = link_to link_affiliate, link_affiliate
    - else
      p = link_to public_bookings_url, public_bookings_url

	p Para fazer novas reservas acesse:
    - if @affiliate_mark
      - link_affiliate = "www."+@affiliate_domain
      p = link_to link_affiliate, link_affiliate
    - else
      p = link_to public_root_url, public_root_url
