- user_payment_unit = Currency.by_code_or_money_sign(@booking.currency_code)
- if @user.locale == 'en'
  - content_for(:title) { "Booking confirmed - ##{@booking.id}" }

  - if @traveler.present?
    p Hi, #{@booking.guest_name}.
    p Your booking ##{@booking.id} was successfully confirmed.
  - else
    p Hi, #{@user.name}.
    p Your booking ##{@booking.id} was successfully confirmed.
  h2 Booking Details
  p
    | Booking Id: #{@booking.id}
    br/
    | Hotel: #{@booking.hotel.name}
    br/
    - if @booking.is_meeting_offer?
      | Meeting Room Name: #{@booking.offer.meeting_room.name_en}
    - elsif @booking.is_event_offer?
      | Event Room Name: #{@booking.offer.event_room.name_en}
    - else
      | Room Type: #{@booking.offer.room_type.full_name_en}
    br/
    | Checkin: #{@booking.offer.checkin_timestamp.strftime("%m/%d/%Y %H:%M")}
    br/
    | Pack: #{@booking.offer.pack_in_hours} #{@booking.offer.pack_in_hours.eql?(1) ? 'hour' : 'hours'}
    br/
    | Checkout: #{@booking.offer.checkout_timestamp.strftime("%m/%d/%Y %H:%M")}
    br/
    | Breakfast Included: #{hotel_includes_breakfast?(@booking.offer.hotel, @booking.offer.pack_in_hours) ? t("show_for.yes") : t("show_for.no")}
    br/
    | Guests: #{@booking.number_of_people}
    br/
    | Guest Name: #{@booking.guest_name}
    br/
    - unless @traveler.present?
      - if Booking::ACCEPTED_STATUS_REVERSED[@booking.status] == :confirmed
        | Room Price: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.total_price_without_tax, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}
        br/
        | Convenience Fee: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.booking_tax, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}
        br/
      | Total Price: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol,  (@booking.total_price), @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}
      br/
      - if Booking::ACCEPTED_STATUS_REVERSED[@booking.status] == :confirmed
        | HotelQuando.com's convinience fee is paid directly on our platform and not to be paid at the hotel.
        br/
    br/
    | Notes: #{@booking.note.empty? ? '-' : @booking.note}

  h2 Payment Info

  - if @traveler.present?
    p
      b
        - if @booking.hotel.accepts_booking_cancellation?
          | You can cancel this booking until #{@booking.hotel.minimum_hours_of_notice} hours before the checkin.
        - else
          | Your booking can't be canceled. Your credit card will be billed in case of no-show.
    p For more informations, contact your travel agency.
  - else
    p
      - if @booking.confirmed_by_maxipago?
        - if (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed])
          | You chose to pay your booking at the hotel.
          p Payment methods accepted by the hotel: #{@booking.hotel.payment_method_pt_br}.
        - elsif (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured])
          | The payment for your booking was successfully processed online.
      - elsif (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_without_card])
        | You chose to pay your booking at the hotel.
      - elsif (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced])
        | The payment for your booking was successfully processed online.
      - else
        | You must pay directly to the hotel during your stay.
        p Payment methods accepted by the hotel: #{@booking.hotel.payment_method_en}.

    p
      - if @booking.hotel.accepts_booking_cancellation?
        | You can cancel your booking for free until #{@booking.hotel.minimum_hours_of_notice} hours before the checkin.
      - else
        | Your booking can't be canceled. Your credit card will be billed in case of no-show.

  h2 Hotel Details
  p
    b #{@booking.hotel.name}
    br/
    | #{@booking.hotel.address}

  hr

  - if @traveler.present? && @booking.created_by_agency?
    - agency = @booking.traveler.cost_center.company_detail.agency_detail
    h1.agency-name
      = agency.name
    p.agency-phone
      | Phone number: #{agency.sign_phone.present? ? agency.sign_phone : agency.user.phone_number}
      br
      | E-mail: #{agency.sign_email.present? ? agency.sign_email : agency.user.email}

  - if @booking.created_by_affiliate?
    h1.agency-name
      = @affiliate.name
    p.agency-phone
      | Phone number: #{@affiliate.phone_number}
      br
      | E-mail: #{@affiliate.sign_email.present? ? @affiliate.sign_email : @affiliate.email}

  - else
    p To view your bookings visit:
    p = link_to public_bookings_url, public_bookings_url

    p To make new bookings visit:
    p = link_to public_root_url, public_root_url

- elsif @user.locale == 'es'

  - content_for(:title) { "Reserva confirmada - ##{@booking.id}" }
  - if @traveler.present?
    p Hola, #{@booking.guest_name}.
    p Su reserva #{@booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")}, en el hotel #{@booking.hotel.name} fue confirmada con éxito.

  - else
    p Hola, #{@user.name}.
    p Su reserva #{@booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")}, en el hotel #{@booking.hotel.name} fue confirmada con éxito.

  h2 Información de la reserva
  p
    | Código da Reserva: #{@booking.id}
    br/
    | Hotel: #{@booking.hotel.name}
    br/
    - if @booking.is_meeting_offer?
      | Nombre de la sala de reunión: #{@booking.offer.meeting_room.name_pt_br}
    - elsif @booking.is_event_offer?
      | Nombre del salón de eventos: #{@booking.offer.event_room.name_pt_br}
    - else
      | Tipo de cuarto: #{@booking.offer.room_type.full_name_pt_br}
    br/
    | Checkin: #{@booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")}
    br/
    | Paquete: #{@booking.offer.pack_in_hours} #{@booking.offer.pack_in_hours.eql?(1) ? 'hora' : 'horas'}
    br/
    | Checkout: #{@booking.offer.checkout_timestamp.strftime("%d/%m/%Y %H:%M")}
    br/
    | Desayuno incluído: #{hotel_includes_breakfast?(@booking.offer.hotel, @booking.offer.pack_in_hours) ? t("show_for.yes") : t("show_for.no")}
    br/
    | Número de personas: #{@booking.number_of_people}
    br/
    | Nombre del titular: #{@booking.guest_name}
    br/
    - unless @traveler.present?
      - if Booking::ACCEPTED_STATUS_REVERSED[@booking.status] == :confirmed
        | Precio total de alojamento: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.total_price_without_tax, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}
        br/
        | Tarifa de la conveniencia: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.booking_tax, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}
        br/
      | Valor Total: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, (@booking.total_price), @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}
      br/
      - if Booking::ACCEPTED_STATUS_REVERSED[@booking.status] == :confirmed
        | Tasa de conveniencia de HotelQuando.com pago directamente en nuestra plataforma, no siendo necesario el pago en el balcon del hotel.
        br/
    br/
    | Observaciones al hotel: #{@booking.note.empty? ? '-' : @booking.note}

  - if @booking.traveler.present?
    p
      b
        - if @booking.hotel.accepts_booking_cancellation?
          | Esta reserva se puede cancelar hasta #{@booking.hotel.minimum_hours_of_notice} horas antes del horario de Check-In.
        - else
          | Su reserva no se puede cancelar. Si usted no aparce a la reserva, le vamos a cobrar una multa a la tarjeta de crédito que aparece en el sistema.
  - else
    h2 Información de pago
    p
      - if @booking.confirmed_by_maxipago?
        - if (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed])
          | Usted escogió la opción de pagar por la reserva en el hotel.
          p Métodos de pago que acepta el hotel: #{@booking.hotel.payment_method_es}.
        - elsif (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured])
          | El pago de su reserva fue procesado con éxito a través de nuestra plataforma.
      - elsif (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced])
          | El pago de su reserva fue procesado con éxito a través de nuestra plataforma.
      - else
        | El pago de la reserva se tiene que hacer directamente en el hotel durante su estadía.
        p Métodos de pago que acepta el hotel: #{@booking.hotel.payment_method_es}.

    p
      - if @booking.hotel.accepts_booking_cancellation?
        | Usted puede cancelar su reserva sin costos adicionales hasta #{@booking.hotel.minimum_hours_of_notice} horas antes del horario de Check-in.
      - else
        | Su reserva no se puede cancelar. Si usted no aparce a la reserva, le vamos a cobrar una multa a la tarjeta de crédito que aparece en el sistema.

  h2 Detalles del hotel
  p
    b #{@booking.hotel.name}
    br/
    | #{@booking.hotel.address}

  hr

  - if @traveler.present? && @booking.created_by_agency?
    - agency = @booking.traveler.cost_center.company_detail.agency_detail
    h1.agency-name
      = agency.name
    p.agency-phone
      | Teléfono: #{agency.sign_phone.present? ? agency.sign_phone : agency.user.phone_number}
      br
      | E-mail: #{agency.sign_email.present? ? agency.sign_email : agency.user.email}

  - if @booking.created_by_affiliate?
    h1.agency-name
      = @affiliate.name
    p.agency-phone
      | Teléfono: #{@affiliate.phone_number}
      br
      | E-mail: #{@affiliate.sign_email.present? ? @affiliate.sign_email : @affiliate.email}

  - else
    p Para ver sus reservas, visite:
    p = link_to public_bookings_url, public_bookings_url

    p Para hacer nuevas reservas, visite:
    p = link_to public_root_url, public_root_url

- else
  - content_for(:title) { "Reserva confirmada - ##{@booking.id}" }
  - if @traveler.present?
    p Olá, #{@booking.guest_name}.
    p Sua reserva para #{@booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")}, no hotel #{@booking.hotel.name} foi confirmada com sucesso.

  - else
    p Olá, #{@user.name}.
    p Sua reserva para #{@booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")}, no hotel #{@booking.hotel.name} foi confirmada com sucesso.
  h2 Informações da Reserva
  p
    | Código da Reserva: #{@booking.id}
    br/
    | Hotel: #{@booking.hotel.name}
    br/
    - if @booking.is_meeting_offer?
      | Nome da sala de reunião: #{@booking.offer.meeting_room.name_pt_br}
    - elsif @booking.is_event_offer?
      | Nome do salão de evento: #{@booking.offer.event_room.name_pt_br}
    - else
      | Tipo de Quarto: #{@booking.offer.room_type.full_name_pt_br}
    br/
    | Checkin: #{@booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")}
    br/
    | Pacote: #{@booking.offer.pack_in_hours} #{@booking.offer.pack_in_hours.eql?(1) ? 'hora' : 'horas'}
    br/
    | Checkout: #{@booking.offer.checkout_timestamp.strftime("%d/%m/%Y %H:%M")}
    br/
    | Café da manhã incluído: #{hotel_includes_breakfast?(@booking.offer.hotel, @booking.offer.pack_in_hours) ? t("show_for.yes") : t("show_for.no")}
    br/
    | Número de pessoas: #{@booking.number_of_people}
    br/
    | Nome do titular: #{@booking.guest_name}
    br/
    - unless @traveler.present?
      - if Booking::ACCEPTED_STATUS_REVERSED[@booking.status] == :confirmed
        | Valor do quarto: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.total_price_without_tax, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}
        br/
        | Taxa de conveniência: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.booking_tax, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}
        br/
      | Valor Total: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol,  (@booking.total_price), @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}
      br/
      - if Booking::ACCEPTED_STATUS_REVERSED[@booking.status] == :confirmed
        | Taxa de conveniência da HotelQuando.com pago diretamente em nossa plataforma não sendo necessário o pagamento no balcão do hotel.
        br/
    br/
    | Observações ao hotel: #{@booking.note.empty? ? '-' : @booking.note}

  - if @traveler.present?
    p
      b
        - if @booking.hotel.accepts_booking_cancellation?
          | Esta reserva pode ser cancelada até #{@booking.hotel.minimum_hours_of_notice} horas antes do horário de Check-in.
        - else
          | Sua reserva não pode ser cancelada. Em caso de não comparecimento (no-show) será realizada uma cobrança no cartão de crédito cadastrado no pedido.
  - else
    h2 Informações de Pagamento
    p
      - if @booking.confirmed_by_maxipago?
        - if (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed])
          | Você optou por pagar sua reserva no hotel.
          p Métodos de pagamento aceitos pelo hotel: #{@booking.hotel.payment_method_pt_br}.
        - elsif (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured])
          | O pagamento da sua reserva foi efetuado com sucesso através da nossa plataforma.
      - elsif (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced])
          | O pagamento da sua reserva foi efetuado com sucesso através da nossa plataforma.
      - else
        | O pagamento da sua reserva deverá ser feito diretamente ao hotel durante sua estadia.
        p Métodos de pagamento aceitos pelo hotel: #{@booking.hotel.payment_method_pt_br}.

    p
      - if @booking.hotel.accepts_booking_cancellation?
        | Você pode cancelar sua reserva sem custos até #{@booking.hotel.minimum_hours_of_notice} horas antes do horário de checkin.
      - else
        | Sua reserva não pode ser cancelada. Em caso de não comparecimento (no-show) será realizada uma cobrança no cartão de crédito cadastrado no pedido.


  h2 Detalhes do Hotel
  p
    b #{@booking.hotel.name}
    br/
    | #{@booking.hotel.address}

  hr

  - if @traveler.present? && @booking.created_by_agency?
    - agency = @booking.traveler.cost_center.company_detail.agency_detail
    h1.agency-name
      = agency.name
    p.agency-phone
      | Telefone: #{agency.sign_phone.present? ? agency.sign_phone : agency.user.phone_number}
      br
      | E-mail: #{agency.sign_email.present? ? agency.sign_email : agency.user.email}

  - if @booking.created_by_affiliate?
    h1.agency-name
      = @affiliate.name
    p.agency-phone
      | Telefone: #{@affiliate.phone_number}
      br
      | E-mail: #{@affiliate.sign_email.present? ? @affiliate.sign_email : @affiliate.email}

  - else
    p Para visualizar suas reservas acesse:
    p = link_to public_bookings_url, public_bookings_url

    p Para fazer novas reservas acesse:
    p = link_to public_root_url, public_root_url
