css:
	
	@import url("https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet");

	.account-color{
		color: #4675ad;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    font-weight: 600;
	}

	.blue-box{
		display: none;
	}

	p{
		font-family: 'Oxygen', sans-serif;
	}

	span{
		font-family: 'Oxygen', sans-serif;
	}

	.green{
		background: #79b526;
		color: white;
		font-size: 20px;
		padding: 15px;
		text-align: center;
		font-weight: 600;
	}

	.green-title{
		background: #79b526;
		margin-bottom: 20px;
	}

	.blue-title{
		background: #3673a4;
		color: white;
		font-size: 25px;
		padding: 15px;
		text-align: center;
		font-weight: 600;
		-webkit-clip-path: polygon(5% 0, 95% 0, 90% 100%, 10% 100%);
		clip-path: polygon(5% 0, 95% 0, 90% 100%, 10% 100%);
	}

	.half-green{
		background: #79b526;
		width: 39%;
	}

	.half-blue{
    color: white;
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    background: #3673a4;
    padding: 15px;
    margin-left: 20px;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
	}

	.half-blue a{
		color: white;
		text-decoration: none;
    font-family: 'Oxygen', sans-serif;
	}

	.title-box{
		color: white;
	}

	.center{
		text-align: center;
	}

	.center img{
		height: 80px;
		width: auto;
	}

	.gray{
		color: #656565;
	}

- I18n.with_locale(@user.locale) do
  .green-title
  	.blue-title
  		span #{t("views.user_mailer.send_login_and_password.title")}
  
  span.gray #{t("views.user_mailer.send_login_and_password.greeting")} &nbsp;
  span.account-color = @user.name
  
  p.gray == t("views.user_mailer.send_login_and_password.we_created")
  p.small.account-color
  	span #{t('views.user_mailer.send_login_and_password.account_data')} &nbsp;
  p.small.gray
    span Email:&nbsp;
    span = @user.email
  	br
    span #{t('password')}: &nbsp;
    span = @user.password

  p.gray #{t("views.user_mailer.send_login_and_password.you_are_able_to_change")}

  .half-green
  	.half-blue
  		= link_to t('views.user_mailer.send_login_and_password.click_to_login'), public_user_session_path;

  p
  	.green
  		span #{t("views.user_mailer.send_login_and_password.if_need_help")}

  p.center
  	= image_tag("https://s3-sa-east-1.amazonaws.com/hotelquando-production/logo_fb.png")
  	br
  	span.account-color
  		|contato@hotelquando.com
  	br
  	span.account-color #{t('views.user_mailer.send_login_and_password.contact')}
