- user_payment_unit = Currency.by_code_or_money_sign(@booking.currency_code)
- if @user.locale == 'en'
  - content_for(:title) { "Booking request confirmed - ##{@booking.id}" }

  - if @traveler.present?
    p Hi, #{@booking.guest_name}.
    p Your booking request ##{@booking.id} was successfully confirmed.
    p Remember that the hotel #{@booking.hotel.name} can confirm or deny your request.
    p Don't worry, we'll inform you the request status just in time of your chosen date.
  - else
    p Hi, #{@user.name}.
    p Your booking request ##{@booking.id} was successfully confirmed.
    p Remember that the hotel #{@booking.hotel.name} can confirm or deny your request.
    p Don't worry, we'll inform you the request status just in time of your chosen date.

  h2 Booking Request Details
  p
    | Booking Id: #{@booking.id}
    br/
    | Hotel: #{@booking.hotel.name}
    br/
    - if @booking.is_meeting_offer?
      | Meeting Room Name: #{@booking.offer.meeting_room.name_en}
    - elsif @booking.is_event_offer?
      | Event Room Name: #{@booking.offer.event_room.name_en}
    - else
      | Room Type: #{@booking.offer.room_type.full_name_en}
    br/
    | Checkin: #{@booking.offer.checkin_timestamp.strftime("%m/%d/%Y %H:%M")}
    br/
    | Pack: #{@booking.offer.pack_in_hours} #{@booking.offer.pack_in_hours.eql?(1) ? 'hour' : 'hours'}
    br/
    | Checkout: #{@booking.offer.checkout_timestamp.strftime("%m/%d/%Y %H:%M")}
    br/
    | Breakfast Included: #{hotel_includes_breakfast?(@booking.offer.hotel, @booking.offer.pack_in_hours) ? t("show_for.yes") : t("show_for.no")}
    br/
    | Guests: #{@booking.number_of_people}
    br/
    | Guest Name: #{@booking.guest_name}
    br/
    - unless @traveler.present?
      - if Booking::ACCEPTED_STATUS_REVERSED[@booking.status] == :requested_reservation
        | Room Price: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.total_price_without_tax, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}
        br/
        | Convenience Fee: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.booking_tax, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}
        br/
      | Total Price: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol,  (@booking.total_price), @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}
      br/
      - if Booking::ACCEPTED_STATUS_REVERSED[@booking.status] == :requested_reservation
        | HotelQuando.com's convinience fee is paid directly on our platform and not to be paid at the hotel.
        br/
    br/
    | Notes: #{@booking.note.empty? ? '-' : @booking.note}

  h2 Payment Info

  - if @traveler.present?
    p
      b
        - if @booking.hotel.accepts_booking_cancellation?
          | You can cancel this booking until #{@booking.hotel.minimum_hours_of_notice} hours before the checkin.
        - else
          | Your booking can't be canceled. Your credit card will be billed in case of no-show.
    p For more informations, contact your travel agency.
  - else
    p
      - if @booking.confirmed_by_maxipago?
        - if (@booking.status == Booking::ACCEPTED_STATUSES[:requested_reservation])
          | You chose to pay your booking at the hotel.
          p Payment methods accepted by the hotel: #{@booking.hotel.payment_method_pt_br}.
        - elsif (@booking.status == Booking::ACCEPTED_STATUSES[:requested_and_paid_reservation])
          | The payment for your booking was successfully processed online.
      - elsif (@booking.status == Booking::ACCEPTED_STATUSES[:requested_and_paid_reservation])
        | You chose to pay your booking at the hotel.
      - else
        | You must pay directly to the hotel during your stay.
        p Payment methods accepted by the hotel: #{@booking.hotel.payment_method_en}.

    p
      - if @booking.hotel.accepts_booking_cancellation?
        | You can cancel your booking for free until #{@booking.hotel.minimum_hours_of_notice} hours before the checkin.
      - else
        | Your booking can't be canceled. Your credit card will be billed in case of no-show.

  h2 Hotel Details
  p
    b #{@booking.hotel.name}
    br/
    | #{@booking.hotel.address}

  hr

  - if @traveler.present? && @booking.created_by_agency?
    - agency = @booking.traveler.cost_center.company_detail.agency_detail
    h1.agency-name
      = agency.name
    p.agency-phone
      | Phone number: #{agency.sign_phone.present? ? agency.sign_phone : agency.user.phone_number}
      br
      | E-mail: #{agency.sign_email.present? ? agency.sign_email : agency.user.email}

  - if @booking.created_by_affiliate?
    h1.agency-name
      = @affiliate.name
    p.agency-phone
      | Phone number: #{@affiliate.phone_number}
      br
      | E-mail: #{@affiliate.sign_email.present? ? @affiliate.sign_email : @affiliate.email}

  - else
    p To view your bookings visit:
    p = link_to public_bookings_url, public_bookings_url

    p To make new bookings visit:
    p = link_to public_root_url, public_root_url

- else
  - content_for(:title) { "Solicitação de Reserva confirmada - ##{@booking.id}" }
  - if @traveler.present?
    p Olá, #{@booking.guest_name}.
    p Sua solicitação de reserva para #{@booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")}, no hotel #{@booking.hotel.name} foi confirmada com sucesso.
    p Lembrando que o hotel pode aceitar ou recusar sua reserva. Vamos lhe informar em tempo por e-mail.

  - else
    p Olá, #{@user.name}.
    p Sua solcitação de reserva para #{@booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")}, no hotel #{@booking.hotel.name} foi confirmada com sucesso.
    p Lembrando que o hotel pode aceitar ou recusar sua reserva. Vamos lhe informar em tempo por e-mail.
  h2 Informações da Solicitação da Reserva
  p
    | Código da Reserva: #{@booking.id}
    br/
    | Hotel: #{@booking.hotel.name}
    br/
    - if @booking.is_meeting_offer?
      | Nome da sala de reunião: #{@booking.offer.meeting_room.name_pt_br}
    - elsif @booking.is_event_offer?
      | Nome do salão de evento: #{@booking.offer.event_room.name_pt_br}
    - else
      | Tipo de Quarto: #{@booking.offer.room_type.full_name_pt_br}
    br/
    | Checkin: #{@booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")}
    br/
    | Pacote: #{@booking.offer.pack_in_hours} #{@booking.offer.pack_in_hours.eql?(1) ? 'hora' : 'horas'}
    br/
    | Checkout: #{@booking.offer.checkout_timestamp.strftime("%d/%m/%Y %H:%M")}
    br/
    | Café da manhã incluído: #{hotel_includes_breakfast?(@booking.offer.hotel, @booking.offer.pack_in_hours) ? t("show_for.yes") : t("show_for.no")}
    br/
    | Número de pessoas: #{@booking.number_of_people}
    br/
    | Nome do titular: #{@booking.guest_name}
    br/
    - unless @traveler.present?
      - if Booking::ACCEPTED_STATUS_REVERSED[@booking.status] == :requested_reservation
        | Valor do quarto: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.total_price_without_tax, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}
        br/
        | Taxa de conveniência: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol, @booking.booking_tax, @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}
        br/
      | Valor Total: #{number_to_currency(calculate_to_currency_booking(@booking.hotel.currency_symbol,  (@booking.total_price), @booking.currency_code, (@booking.updated_at || DateTime.now)), unit: user_payment_unit.first.money_sign)}
      br/
      - if Booking::ACCEPTED_STATUS_REVERSED[@booking.status] == :requested_reservation
        | Taxa de conveniência da HotelQuando.com pago diretamente em nossa plataforma não sendo necessário o pagamento no balcão do hotel.
        | Devolveremos o valor da Taxa de Conveniência à você caso o hotel recuse sua reserva.
        br/
    br/
    | Observações ao hotel: #{@booking.note.empty? ? '-' : @booking.note}

  - if @traveler.present?
    p
      b
        - if @booking.hotel.accepts_booking_cancellation?
          | Esta reserva pode ser cancelada até #{@booking.hotel.minimum_hours_of_notice} horas antes do horário de Check-in.
        - else
          | Sua solicitação de reserva não pode ser cancelada. Em caso de não comparecimento (no-show) será realizada uma cobrança no cartão de crédito cadastrado no pedido.
  - else
    h2 Informações de Pagamento
    p
      - if @booking.confirmed_by_maxipago?
        - if (@booking.status == Booking::ACCEPTED_STATUSES[:requested_reservation])
          | Você optou por pagar sua reserva no hotel.
          p Métodos de pagamento aceitos pelo hotel: #{@booking.hotel.payment_method_pt_br}.
        - elsif (@booking.status == Booking::ACCEPTED_STATUSES[:requested_and_paid_reservation])
          | O pagamento da sua reserva foi efetuado com sucesso através da nossa plataforma.
      - elsif (@booking.status == Booking::ACCEPTED_STATUSES[:requested_and_paid_reservation])
          | O pagamento da sua reserva foi efetuado com sucesso através da nossa plataforma.
      - else
        | O pagamento da sua reserva deverá ser feito diretamente ao hotel durante sua estadia.
        p Métodos de pagamento aceitos pelo hotel: #{@booking.hotel.payment_method_pt_br}.

    p
      - if @booking.hotel.accepts_booking_cancellation?
        | Você pode cancelar sua reserva sem custos até #{@booking.hotel.minimum_hours_of_notice} horas antes do horário de checkin.
      - else
        | Sua reserva solicitação de não pode ser cancelada. Em caso de não comparecimento (no-show) será realizada uma cobrança no cartão de crédito cadastrado no pedido.


  h2 Detalhes do Hotel
  p
    b #{@booking.hotel.name}
    br/
    | #{@booking.hotel.address}

  hr

  - if @traveler.present? && @booking.created_by_agency?
    - agency = @booking.traveler.cost_center.company_detail.agency_detail
    h1.agency-name
      = agency.name
    p.agency-phone
      | Telefone: #{agency.sign_phone.present? ? agency.sign_phone : agency.user.phone_number}
      br
      | E-mail: #{agency.sign_email.present? ? agency.sign_email : agency.user.email}

  - if @booking.created_by_affiliate?
    h1.agency-name
      = @affiliate.name
    p.agency-phone
      | Telefone: #{@affiliate.phone_number}
      br
      | E-mail: #{@affiliate.sign_email.present? ? @affiliate.sign_email : @affiliate.email}

  - else
    p Para visualizar suas reservas acesse:
    p = link_to public_bookings_url, public_bookings_url

    p Para fazer novas reservas acesse:
    p = link_to public_root_url, public_root_url
