= header_section

- if @hq_consultants.length == 0
  .alert.alert-info
    = t(:no_record_found)
- else
  .cpy-pagination-links
    = pagination_links_for @hq_consultants
  .row
    .col-sm-12
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th.center
            | #{t("views.company_universe.executives.id")}
          th.center
            | #{t("views.company_universe.executives.name")}
          th.center
            | #{t("views.company_universe.executives.email")}
          th.center
            | #{t("views.company_universe.executives.login")}
          th.center
            | #{t("views.company_universe.executives.active")}
          th.center
            | #{t("views.company_universe.executives.actions")}
      tbody
        - @hq_consultants.each do | consultant |
          tr.center
            td
              = consultant.id
            td
              = consultant.name
            td
              = consultant.email
            td
              = consultant.login
            td
              = consultant.is_active ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
            td.action-list.center
              = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_hq_consultant_path(consultant.id), class: 'btn btn-xs btn-success'

              = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_hq_consultant_path(consultant.id), class: 'btn btn-xs btn-info cpy-edit-agency-link'
              | &nbsp;&nbsp;

  = pagination_links_for @hq_consultants