= header_section

= panel_section do
  = show_for @hq_consultant do |u|
    = u.attribute :name
    = u.attribute :email
    = u.attribute :login
    = u.attribute :is_active do
      = @hq_consultant.is_active ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe

  .wizard-actions
    = link_to t("views.admin.agencies.back").html_safe, admin_hq_consultant_path, class: 'btn btn-prev'
    = link_to t("views.admin.agencies.edit").html_safe, edit_admin_hq_consultant_path(@hq_consultant.id), class: 'btn btn-info'