.blueimp-gallery id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls"
  div class="slides"
  h3 class="title"
  p class="description"
  a class="prev" ‹
  a class="next" ›
  a class="close" ×
  a class="play-pause"
  ol class="indicator"

.blueimp-gallery id="blueimp-gallery-secondary" class="blueimp-gallery blueimp-gallery-controls"
  div class="slides"
  h3 class="title"
  p class="description"
  a class="prev" ‹
  a class="next" ›
  a class="close" ×
  a class="play-pause"
  ol class="indicator"
