ul
  li
    = link_to t(:how_it_works), public_how_it_works_path
  li
    = link_to t(:be_a_partner_hotel), public_get_be_our_partner_path
  li
    = link_to t(:business_trips), public_get_business_trips_path
  li
    = link_to t(:about_us), public_about_us_path
  li
    = link_to t(:faq), public_faq_path

  - if terms_of_use && customer_service && privacy_policy
    li
      = link_to t(:terms_of_use), public_terms_of_use_path
    li
      = link_to public_customer_service_path do
        i.fa.fa-phone style="margin-right: 5px"
        = t(:customer_service)
    li
      = link_to t(:privacy_policy), public_privacy_policy_path
