.tab-pane.fade.in#event-rooms ng-class="{active: selectedTabRoom == 3}" class="#{class_active}"
  .row
    .col-xs-12
      = "#{t(:where_are_you_going)}"
  .row
    .col-xs-12.adress-input
      input.form-control.js-autocomplete.size-100-percent.cpy-address id="js-autocomplete-3" placeholder="#{t :destiny_placeholder}" type="text" ng-model='address'
      p.hint = t :we_will_search_the_nearest_hotels

  .row
    .col-sm-12
      .display-table.people-checkin-inputs
        .display-table-cell.size-78-percent
          .row
            .col-xs-12
              .secondary-title = t 'search_box.checkin'
          .row.checkin
            .col-xs-6
              = "#{t(:date_word)}:"
              br
              .input-group.date-picker-inputs

                input.js-date-picker.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="checkinDate" ng-change='setSearchDateValidity()'

                input.hidden.cpy-checkin-date ng-model="parsedSelectedCheckinDate" name='by_checkin_date'

            .col-xs-6
              = "#{t(:hour)}:"
              br
              - array_hours = []
              - 24.times do | i |
                - array_hours << i
              = select_tag 'by_checkin_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time size-100-percent', 'ng-model' => 'checkinHour'

        .display-table-cell.number-of-people-input-size
            .up.hidden-xs.hidden-sm = "#{t(:number_of_people)}"
            .up.hidden-md.hidden-lg = "#{t('search_box.people')}"
            - array_number_of_people = [20,50,100]
            - options_for_number_of_people_select = []
            - array_number_of_people.each do |i|
                - options_for_number_of_people_select << ["#{i}+",i]
            = select_tag '', options_for_select(options_for_number_of_people_select), "ng-model" => "numberOfPeople"


  .row.pack-size-row
    .col-xs-12
      .display-table.pack-size-table
        .display-table-cell
          .up = "#{t(:pack_size)}"
          .btn-group.pack-size
            span.clock
              = image_tag 'clock-light-gray.png'
            - EventRoomOffer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
              a.btn.event-rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSize == #{pack_size}}" ng-click="selectedPackSize = #{pack_size}" #{pack_size}h



  .row.pack-size-hint
    .col-xs-12
      p.hint = t :period_in_which_you_are_staying_at_hotel

  .row
    .col-xs-12.text-center
      .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmit()}}"
        button.submit-disabled.cpy-disabled-search-button.btn.green.search-button disabled='disabled' ng-hide='isFormValid()'
          = t(:perform_search)

      button.cpy-search-button.ng-hide.btn.green.search-button ng-disabled='!isFormValid()' ng-show='isFormValid()'
        = t(:perform_search)
