ruby:
  # we must keep in here because there are some controllers in the public area that doen'st inherit from public::base

  more_hours = false
  ng_init_for_search_form = if last_search_log
    # 0 - day
    # 1 - month
    # 2 - year
    date_parts = last_search_log.checkin_date.split("/")
    english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
    length_of_pack = last_search_log.length_of_pack
    checkin_hour = (last_search_log.room_category == 1 && last_search_log.checkin_hour < 18) ? 18 : last_search_log.checkin_hour
    checkout_hour = checkin_hour + length_of_pack
    checkout_date = ''
    if checkout_hour >= 24
      checkout_hour -= 24
    end
    if last_search_log.length_of_pack > 12
      if I18n.locale == :pt_br
        checkin_with_hours = I18n.locale == :en ? (english_date_format.to_datetime + checkin_hour.hour) : (last_search_log.checkin_date.to_datetime + checkin_hour.hour)
        checkout_with_hours = checkin_with_hours + length_of_pack.hour
        checkout_date = I18n.locale == :en ? checkout_with_hours.strftime('%m/%d/%Y') : checkout_with_hours.strftime('%d/%m/%Y')
        checkout_hour = checkout_with_hours.strftime('%H')
        more_hours = true
      else
        length_of_pack = 3
        checkout_hour = checkin_hour + length_of_pack
        checkout_date = ''
        if checkout_hour >= 24
          checkout_hour -= 24
        end
      end
    end
    %Q{
      latitude = '#{last_search_log.latitude}';
      longitude = '#{last_search_log.longitude}';
      checkinDate = '#{I18n.locale == :en ? english_date_format : last_search_log.checkin_date}';
      checkinDateMTR = '#{I18n.locale == :en ? english_date_format : last_search_log.checkin_date}';
      parsedSelectedCheckinDate = '#{last_search_log.checkin_date}';
      checkinHour = #{checkin_hour};
      numberOfPeople = #{last_search_log.number_of_people};
      cityName = '#{last_search_log.city_name}';
      stateName = '#{last_search_log.state_name}';
      address = '#{last_search_log.address}';
      moreHours = '#{more_hours}';
      setSearchDate();
      selectedPackSize = #{length_of_pack};
      checkoutHour = #{checkout_hour};
      checkoutDate = '#{checkout_date}';
      setLatitudeAndLongitudeValidity();
      disableCheckinOptions();
      disableCheckoutOptions();
    }.squish
  else
    ""
  end

- if mobile_device?
  .col-md-12.search-form-header.hidden-sm.hidden-md.hidden-lg
    h1.book-hotels
      = t(:book_hotels)

= link_to '' do
  .btn-group style="width: 100%"
    .col-xs-6.search_tab_rooms_mobile.button.btn.btn-primary type="button" #{t(:rooms)}

    .col-xs-6.search_tab_meeting_rooms_mobile.button.btn.btn-primary type="button" #{t(:meeting_rooms)}


= form_tag public_hotels_path, method: :get, class: 'form-horizontal', "ng-controller" => "PublicMobileSearchCtrl", "ng-init" => "#{ng_init_for_search_form}" do

  .hidden
    input.cpy-mobile-city-name type='text' ng-model="cityName" name='city_name'
    input.cpy-mobile-state-name type='text' ng-model="stateName" name='state_name'
    input.cpy-mobile-latitude-field type="text" name="by_latitude" ng-model='latitude'
    input.cpy-mobile-longitude-field type="text" name="by_longitude" ng-model='longitude'
    input.cpy-mobile-pack-length type="text" name="by_pack_length" ng-model="selectedPackSize"
    input.cpy-mobile-pack-length type="text" name="by_pack_lengthMTR" ng-model="selectedPackSizeMTR"
    input.cpy-mobile-room-category type="text" name="room_category" ng-model="selectedTabRoom"
    input.cpy-mobile-address type="text" name="by_address" ng-model="address"
    input.cpy-mobile-number-of-people type="text" name="by_number_of_people" ng-model="numberOfPeople"
    input.cpy-mobile-number-of-people type="text" name="by_number_of_people" ng-model="numberOfPeopleMeetingRoom"
    input.cpy-timezone type="text" name='by_timezone' ng-model="timezoneSearched"
    input.hidden.cpy-search-by type="text" name="by_search"

  .tab-content-custom-mobile.teste-mobile
    = render partial: "/layouts/public/old_components/search_form_content_rooms"
  .tab-content-metting-room-mobile style="display: none"
    = render partial: "/layouts/public/old_components/search_form_content_meeting_rooms"
