#rooms
  .row
    .col-xs-12
      = "#{t(:where_are_you_going)}"
  .row
    .col-xs-12.adress-input
      input.form-control.js-autocomplete.size-100-percent.cpy-mobile-address id="js-autocomplete" placeholder="#{t :destiny_placeholder}" type="text" ng-model='address' ng-change='setSearchDate()'
      p.hint = t :we_will_search_the_nearest_hotels

  .row
    .col-sm-12
      .display-table.people-checkin-inputs
        .display-table-cell.size-78-percent
          .row
            .col-xs-12
              .secondary-title#title-homepage = t 'search_box.checkin'
          .row.checkin-mobile
            .col-xs-6
              = "#{t(:date_word)}:"
              br
              .input-group.date-picker-inputs#datepicker-homepage

                input.js-date-picker.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="checkinDate" ng-change='setSearchDate()'

                input.hidden.cpy-checkin-date ng-model="parsedSelectedCheckinDate" name='by_checkin_date'
                input.hidden.cpy-timezone ng-model="timezoneSearched" name='by_timezone'

            .col-xs-6
              = "#{t(:hour)}:"
              br
              - array_hours_am_pm = {"12 AM" => 0}.merge!(1.upto(11).collect { |n| {"#{n} AM" => n} }.reduce(Hash.new, :merge)).merge!({"12 PM" => 12}).merge!(1.upto(11).collect { |n| {"#{n} PM" => n + 12} }.reduce(Hash.new, :merge))
              - array_hours = []
              - 24.times do | i |
                - array_hours << i
              - if I18n.locale != :pt_br
                = select_tag 'by_checkin_hour', options_for_select(array_hours_am_pm.collect { | hour, value | ["#{hour}", value]}), class: 'js-checkin-time js-checkin-hour size-100-percent', 'ng-model' => 'checkinHour'
              - else
                = select_tag 'by_checkin_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time js-checkin-hour size-100-percent', 'ng-model' => 'checkinHour', 'ng-change' => 'changeCheckinHour()'

        .display-table-cell.number-of-people-input-size
            .up.hidden-xs.hidden-sm = "#{t(:number_of_people)}"
            .up.hidden-md.hidden-lg = "#{t('search_box.people')}"
            = select_tag '', options_for_select(1..4), "ng-model" => "numberOfPeople"


  .row.checkout ng-show='moreHours'
    .col-sm-12
      .display-table.people-checkin-inputs
        .display-table-cell.size-78-percent
          .row
            .col-xs-12
              .secondary-title#title-homepage = t 'search_box.checkout'
          .row.checkin-mobile
            .col-xs-6
              = "#{t(:date_word)}:"
              br
              .input-group.date-picker-inputs#datepicker-homepage
                input.cpy-checkout-date-calendar-input.js-search-date-picker.form-control.js-mask-date#datepicker-checkout ng-model="checkoutDate" ng-change='setSearchEndDate()'

                input.hidden.cpy-checkout-date ng-model="parsedSelectedCheckoutDate" name='by_checkout_date'
                input.hidden.cpy-checkout-date ng-model="timezoneSearched" name='by_timezone'

            .col-xs-6
              = "#{t(:hour)}:"
              br
              - array_hours = []
              - (7..12).each do | i |
                - array_hours << i
              = select_tag 'by_checkout_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time js-checkout-hour size-100-percent', 'ng-model' => 'checkoutHour', 'ng-change' => 'changeCheckoutHour()'


  .row.pack-size-row ng-hide='moreHours'
    .col-xs-12.text-center
      .display-table.pack-size-table
        .display-table-cell
          .up = "#{t(:pack_size)}"
          .btn-group.pack-size
            span.clock
              = image_tag 'clock-light-gray.png'
            - Offer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
              a.btn.rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSize == #{pack_size}}" ng-click="selectedPackSize = #{pack_size}" #{pack_size}h



  .row.pack-size-hint#teste ng-hide='moreHours'
    .col-xs-12
      p.hint = t :period_in_which_you_are_staying_at_hotel

  - if I18n.locale == :pt_br
    .row.more-hours-button.text-center
      .col-xs-12
        button.btn.mini.more-hours type="button" ng-click="changeMoreHours('plus')" ng-hide='moreHours'
          | Reservar mais de 12h
        button.btn.mini.more-hours type="button" ng-click="changeMoreHours('minus')" ng-show='moreHours'
          | Reservar até 12h

  .row
    .col-xs-12.text-center
      /.js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmit()}}"
      .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title=""
        button.cpy-search-button.ng-hide.btn.green.search-button.aaaaaaaaaaaaaaa ng-show='true'
          = t(:perform_search)
