ul.nav.nav-tabs.nav-justified
  li ng-class="{active: selectedTabRoom == 1}"
    a.js-rooms-tab data-toggle='tab' href='#rooms' ng-click="changeTab(1)" = t 'search_box.bedrooms'
  li ng-class="{active: selectedTabRoom == 2}"
    a.js-meeting-rooms-tab data-toggle='tab' href='#meeting-rooms' ng-click="changeTab(2)" = t 'search_box.meeting_rooms'
  /li ng-class="{active: selectedTabRoom == 3}"
    a.js-event-rooms-tab data-toggle='tab' href='#event-rooms' ng-click="changeTab(3)" = t 'search_box.event_rooms'