ul.nav.navbar-nav.sidemenu
  li.menu-item
    = link_to public_root_path, class: 'menu-item-link' do
      = icon_for(:search)
      span = t(:search_hotels)
  - if current_public_user
    li.menu-item
      = link_to public_user_profile_path, class: 'menu-item-link' do
        = icon_for(:user)
        span = t(:my_profile)
  - else
    li.menu-item
      = link_to new_public_user_session_path, class: 'menu-item-link' do
        = icon_for(:sign_in)
        span = t(:sign_in)
  li.menu-item
    = link_to public_bookings_path, class: 'menu-item-link' do
      = icon_for(:bookmark)
      span = t(:my_bookings)
  li.menu-item
    = link_to public_how_it_works_path, class: 'menu-item-link' do
      = icon_for(:question_mark)
      span = t(:how_it_works)
  li.menu-item
    = link_to public_get_be_our_partner_path, class: 'menu-item-link' do
      = icon_for(:partner)
      span = t(:be_a_partner_hotel)
  li.menu-item
    = link_to public_get_business_trips_path, class: 'menu-item-link' do
      = icon_for(:business_travel)
      span = t(:business_trips)
  li.menu-item
    = link_to public_about_us_path, class: 'menu-item-link' do
      = image_tag 'clock-light-gray.png', style: 'width: 16px; vertical-align: inherit'
      span = t(:about_us)
  li.menu-item
    = link_to public_faq_path, class: 'menu-item-link' do
      = icon_for(:faq)
      span = t(:faq)
  li.menu-item
    = link_to public_terms_of_use_path, class: 'menu-item-link' do
      = icon_for(:terms_of_use)
      span = t(:terms_of_use)
  li.menu-item
    = link_to public_customer_service_path, class: 'menu-item-link' do
      = icon_for(:customer_service)
      span = t(:customer_service)
  li.menu-item
    = link_to public_privacy_policy_path, class: 'menu-item-link' do
      = icon_for(:privacy)
      span = t(:privacy_policy)
  - if current_public_user
    li.menu-item
      = link_to destroy_public_user_session_path, method: :delete, class: 'menu-item-link' do
        = icon_for(:sign_out)
        span = t(:sign_out)