.user-budget-box
  table.size-100-percent
    thead
      tr
        th.text-center colspan='2'
          = t(:budget)
    tbody.cursor-pointer data-toggle="modal" data-target="#user-budget-explanation-modal"
      tr
        td.text-center
          = t(:click_here_to_see_your_budget)

= render partial: 'layouts/public/components/user_budget_explanation_modal', locals: {user: user}
