h3.header.lighter.smaller.green  = t("views.admin.hotel_reports.reservations_paid_online")
table.table.table-striped.table-bordered.table-hover.cpy-bookings-paid-online-info
  tr
    td.text-right
      | #{t("views.admin.hotel_reports.reservations_total")}
    td.cpy-total
      = invoice[:info][:bookings_paid_online][:total]

  tr
    td.text-right
      | #{t("views.admin.hotel_reports.reservation_total_value")}
    td.cpy-total-value
      = number_to_currency invoice[:info][:bookings_paid_online][:total_value]

  tr
    td.text-right
      | #{t("views.admin.hotel_reports.total_discounting_iss")}
    td.cpy-total-value-without-iss
      = number_to_currency invoice[:info][:bookings_paid_online][:total_value_without_iss]

  tr
    td.text-right
      | #{t("views.admin.hotel_reports.credit_card_tax")}
    td.cpy-credit-card-tax
      = number_to_currency invoice[:info][:bookings_paid_online][:credit_card_operation_tax]

  tr
    td.text-right
      | #{t("views.admin.hotel_reports.hotelquando_comission")}
    td.cpy-comission
      = number_to_currency invoice[:info][:bookings_paid_online][:comission]

  tr
    td.text-right
      | #{t("views.admin.hotel_reports.hotequando_tax")}
    td.cpy-booking-tax
      = number_to_currency invoice[:info][:bookings_paid_online][:booking_tax]

  tr
    td.text-right
      | #{t("views.admin.hotel_reports.total_to_be_transfered_to_hotel")}
    td.cpy-total-value-to-be-transferred-to-the-hotel
      = number_to_currency invoice[:info][:bookings_paid_online][:total_value_to_be_transferred_to_the_hotel]
