h3.header.lighter.smaller.green = t("views.admin.hotel_reports.no_shows")
table.table.table-striped.table-bordered.table-hover.cpy-no-shows-info
  tr
    td.text-right
      | #{t("views.admin.hotel_reports.no_shows_total")}
    td.cpy-total
      = invoice[:info][:no_shows][:total]
  tr
    td.text-right
      | #{t("views.admin.hotel_reports.no_shows_total_value")}
    td.cpy-total-value
      = number_to_currency(invoice[:info][:no_shows][:total_value])
  tr
    td.text-right
      | #{t("views.admin.hotel_reports.total_discounting_iss")}
    td.cpy-total-value-without-iss
      = number_to_currency(invoice[:info][:no_shows][:total_value_without_iss])
  tr
    td.text-right
      | #{t("views.admin.hotel_reports.credit_card_tax")}
    td.cpy-credit-card-tax
      = number_to_currency invoice[:info][:no_shows][:credit_card_operation_tax]
  tr
    td.text-right
      | #{t("views.admin.hotel_reports.hotelquando_comission")}
    td.cpy-comission
      = number_to_currency invoice[:info][:no_shows][:comission]

  tr
    td.text-right
      | #{t("views.admin.hotel_reports.hotequando_tax")}
    td.cpy-booking-tax
      = number_to_currency invoice[:info][:no_shows][:booking_tax]

  tr
    td.text-right
      | #{t("views.admin.hotel_reports.")}
    td.cpy-total-to-transfer-to-the-hotel
      = number_to_currency(invoice[:info][:no_shows][:total_value_to_be_transferred_to_the_hotel])
