div ng-controller="PhotosCtrl" ng-init="photos = #{room_type.photos.to_json}"
  = shared_component("new_nested_photo_modal")
  = simple_form_for [:hotel, room_type] do |f|
    = multilanguage_attribute_field_for(:booking_name, f)
    = multilanguage_attribute_field_for(:name, f)
    = f.hint t('room_type_fields.name_hint'), class: 'col-sm-offset-3'


    .form-group.string.optional.room_type_name
      = label_tag :q, t('activerecord.attributes.room_type.bed_configuration'), class: "text optional col-sm-3 control-label"
      .controls.col-sm-4
    = f.input :double_bed_quantity, collection: (0..5), prompt: false, required: false
    = f.input :single_bed_quantity, collection: (0..5), prompt: false, required: false

    = f.hint t('room_type_fields.bed_configuration_hint'), class: 'col-sm-offset-3'

    = multilanguage_attribute_field_for(:description, f)
    = f.hint t('room_type_fields.description_hint'), class: 'col-sm-offset-3'

    = f.input :maximum_capacity, collection: (1..15), prompt: false
    = f.hint t('room_type_fields.maximum_capacity_hint'), class: 'col-sm-offset-3'

    - if params[:action] == 'create' || params[:action] == 'new'
      .form-group.text.optional.room_numbers ng-controller='HotelRoomTypesFormCtrl'
        = label_tag :q, '{{roomsLabel()}}', class: "text optional col-sm-3 control-label", for: "room_numbers"
        - if params[:action] == 'edit' || params[:action] == 'update'
          javascript:
            yojs.set('roomRegistrationDropdown', false)
          .controls.col-sm-4
            - if params[:room_numbers]
              = text_area_tag :room_numbers, params[:room_numbers], class: "text optional col-sm-12", rows: 10
            - else
              = text_area_tag :room_numbers, "" , class: "text optional col-sm-12", rows: 10
            .help-block
              = t(:help_text_insert_numbers_comma_separated)

        - else
          javascript:
            yojs.set('roomRegistrationDropdown', true)
          .controls.col-sm-4 ng-show='roomRegistrationDropdown'
            = select_tag "room_quantity", options_for_select(0..50), class: "select optional col-sm-12", input_html: { 'ng-enabled' => 'roomRegistrationDropdown' }
            .help-block
              = t(:help_text_select_room_quantity)
            .help-block
              a.cpy-change-room-registration-method ng-click='changeRoomsRegistrationType()' href=''
                | #{t('views.hotel.room_types.click_here_to_type_the_numbers')}
          .controls.col-sm-4 ng-hide='roomRegistrationDropdown' ng-disabled='roomRegistrationDropdown'
            - if params[:room_registration_method] == 'Text'
              javascript:
                yojs.set('roomRegistrationDropdown', false)
            - if params[:room_numbers]
              = text_area_tag :room_numbers, params[:room_numbers], class: "text optional col-sm-12", rows: 10, input_html: { 'ng-disabled' => 'roomRegistrationDropdown' }
            - else
              = text_area_tag :room_numbers, "" , class: "text optional col-sm-12", rows: 10, input_html: { 'ng-disabled' => 'roomRegistrationDropdown' }
            .help-block
              = t(:help_text_insert_numbers_comma_separated)
            .help-block
              a.cpy-change-room-registration-method ng-click='changeRoomsRegistrationType()' href=''
                | #{t('views.hotel.room_types.click_here_to_select_amount_of_rooms')}
          input type='hidden' name="room_registration_method" value='{{roomRegistrationMethod()}}'

    = shared_component("nested_photo_form", {f: f})

    = form_submit_section
