= header_section title: t('views.hotel.room_types.listing_room_types')

- if @room_types.length == 0
  .alert.alert-info
    = t(:none) + ' ' + t(:room_type).downcase + ' ' + t(:registered) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          = t(:name)

        th.center
          = t(:number_of_rooms)
        th.center
          = t(:actions)
    tbody
      - @room_types.each do |room_type|
        tr
          td.center.size-60-percent
            = room_type.full_name_pt_br
          td.center
            = Room.by_room_type_id(room_type.id).count()
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, hotel_room_type_path(room_type.id), class: 'btn btn-xs btn-success'

            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_hotel_room_type_path(room_type.id), class: 'btn btn-xs btn-info cpy-edit-button'
