= header_section title: t('views.hotel.room_types.viewing_room_type')

= panel_section do
  = show_for @room_type do |u|
    = multilanguage_attribute_show_for(:booking_name, u)
    = multilanguage_attribute_show_for(:name, u)
    = multilanguage_attribute_show_for(:description, u)
    = u.attribute :single_bed_quantity
    = u.attribute :double_bed_quantity
    = u.attribute :maximum_capacity

  = shared_component("photo_list_show", {photos: @room_type.photos})
  = show_panel_buttons_section
