div.preview style="max-width: 850px; margin: auto"
  div.box
    - if @emkt.link_header
      a href=@emkt.link_header
        img src=@emkt.header style="max-width: 100%; float: left"
    - else
      img src=@emkt.header style="max-width: 100%; float: left"

    - if @emkt.link_box_1
      a href=@emkt.link_box_1
        img src=@emkt.box_1 style="max-width: 100%; float: left"
    - else
       img src=@emkt.box_1 style="max-width: 100%; float: left"

    - if @emkt.link_box_2
      a href=@emkt.link_box_2
        img src=@emkt.box_2 style="max-width: 100%; float: left"
    - else
      img src=@emkt.box_2 style="max-width: 100%; float: left"

    - if @emkt.link_box_3_1
      a href=@emkt.link_box_3_1
        img src=@emkt.box_3_1 style="max-width: 100%; float: left"
    - else
      img src=@emkt.box_3_1 style="max-width: 100%; float: left"

    - if @emkt.link_box_3_2
      a href=@emkt.link_box_3_2
        img src=@emkt.box_3_2 style="max-width: 100%; float: left"
    - else
      img src=@emkt.box_3_2 style="max-width: 100%; float: left"

    - if @emkt.link_box_3_4
      a href=@emkt.link_box_3_4
        img src=@emkt.box_3_4 style="max-width: 100%; float: left"
    - else
      img src=@emkt.box_3_4 style="max-width: 100%; float: left"

    - if @emkt.link_box_3_5
      a href=@emkt.link_box_3_5
        img src=@emkt.box_3_5 style="max-width: 100%; float: left"
    - else
      img src=@emkt.box_3_5 style="max-width: 100%; float: left"

    - if @emkt.link_footer
      a href=@emkt.link_footer
        img src=@emkt.footer style="max-width: 100%; float: left"
    - else
      img src=@emkt.footer style="max-width: 100%; float: left"
