ruby:
  # we must keep in here because there are some controllers in the public area that doen'st inherit from public::base
  ng_init_for_search_form = if last_search_log
    # 0 - day
    # 1 - month
    # 2 - year
    date_parts = last_search_log.checkin_date.split("/")
    english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
    %Q{
      latitude = '#{last_search_log.latitude}';
      longitude = '#{last_search_log.longitude}';
      checkinDate = '#{I18n.locale == :en ? english_date_format : last_search_log.checkin_date}';
      parsedSelectedCheckinDate = '#{last_search_log.checkin_date}';
      checkinHour = #{last_search_log.checkin_hour};
      numberOfPeople = #{last_search_log.number_of_people};
      selectedPackSize = '#{last_search_log.length_of_pack}';
      cityName = '#{last_search_log.city_name}';
      stateName = '#{last_search_log.state_name}';
      address = '#{last_search_log.address}';
      setLatitudeAndLongitudeValidity();
    }.squish
  else
    ""
  end

= form_tag public_affiliate_hotels_path, method: :get, class: 'form-horizontal', "ng-controller" => "PublicMobileSearchCtrl", "ng-init" => "#{ng_init_for_search_form}" do

  .hidden
    input.cpy-mobile-city-name type='text' ng-model="cityName" name='city_name'
    input.cpy-mobile-state-name type='text' ng-model="stateName" name='state_name'
    input.cpy-mobile-latitude-field type="text" name="by_latitude" ng-model='latitude'
    input.cpy-mobile-longitude-field type="text" name="by_longitude" ng-model='longitude'
    input.cpy-mobile-pack-length type="text" name="by_pack_length" ng-model="selectedPackSize"
    input.cpy-mobile-address type="text" name="by_address" ng-model="address"
    input.cpy-mobile-number-of-people type="text" name="by_number_of_people" ng-model="numberOfPeople"

  - if mobile_device?
    .col-md-12.search-form-header.hidden-sm.hidden-md.hidden-lg
      h1.book-hotels
        = t(:book_hotels)
  .tabbable
    /= render partial: "/layouts/public/old_components/search_form_tabs"

    .tab-content.tab-content-custom-mobile
        = render partial: "/layouts/public/old_components/search_form_content_rooms", locals: { class_active: active_tab_room  }

        /= render partial: "/layouts/public/old_components/search_form_content_meeting_rooms", locals: { class_active: active_tab_meeting  }

        //= render partial: "/layouts/public/old_components/search_form_content_event_rooms", locals: { class_active: active_tab_event  }
javascript:
