span.radio-button-describe
	= "#{t(:what_you_would_like_to_book)}:"
label class="radio-inline" 
  input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" ng-model="selectedTabRoom" ng-click="changeTab(1)"
  	span = t 'search_box.bedrooms'

/label class="radio-inline" 
  input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2" ng-model="selectedTabRoom" ng-click="changeTab(2)"
    span = t 'search_box.meeting_rooms'

/ul.nav.nav-tabs.nav-justified
  li ng-class="{active: selectedTabRoom == 1}"
    a.js-rooms-tab data-toggle='tab' href='#rooms' ng-click="changeTab(1)" = t 'search_box.bedrooms'
  li ng-class="{active: selectedTabRoom == 2}"
    a.js-meeting-rooms-tab data-toggle='tab' href='#meeting-rooms' ng-click="changeTab(2)" = t 'search_box.meeting_rooms'


