.tab-pane.fade.in#meeting-rooms ng-class="{active: selectedTabRoom == 2}" class="#{class_active}"
  .row
    .col-md-6.align-center
      .people-checkin-inputs
        .row.checkin
          .col-xs-6.align-center
            label.title
              = "#{t(:date_word)}:"
            br
            .input-group.date-picker-inputs.size-100-percent

              input.js-date-picker.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="checkinDate" ng-change='setSearchDateValidity()'

              input.hidden.cpy-checkin-date ng-model="parsedSelectedCheckinDate" name='by_checkin_date'

          .col-xs-6.align-center
            label.title
              = "#{t(:hour)}:"
            br
            - array_hours = []
            - 24.times do | i |
              - array_hours << i
            = select_tag 'by_checkin_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time size-100-percent', 'ng-model' => 'checkinHour'



    .col-md-6.align-center.hidden-xs.hidden-sm
      label.title
        = "#{t(:pack_size)}"
      br
      .pack-size-row
        .display-table.pack-size-table
          .display-table-cell
            .btn-group.pack-size
              span.clock
                = image_tag 'clock-light-gray.png'
              ul.nav.nav-justified
                - MeetingRoomOffer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
                  li
                    a.btn.meeting-rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSize == #{pack_size}}" ng-click="selectedPackSize = #{pack_size}" #{pack_size}h
        p.hint = t :period_in_which_you_are_staying_at_hotel

  .row
    .col-md-6.align-center
      label.title
        = "#{t(:destination)}"
      br
      .adress-input
        input.form-control.js-autocomplete.size-100-percent.cpy-address id="js-autocomplete-2" placeholder="#{t :destiny_placeholder}" type="text" ng-model='address'
        p.hint = t :we_will_search_the_nearest_hotels

    .col-md-2.people-box.align-left
      .hidden-xs.hidden-sm
        label.title
          = "#{t(:number_of_people)}"
      .hidden-md.hidden-lg 
        label.title
          = "#{t('search_box.people')}"
      - array_number_of_people = [1,2,3,4,5,6,7,8,9,10,20,50,100]
      - options_for_number_of_people_select = []
      - array_number_of_people.each do |i|
        - if i <= 9
          - options_for_number_of_people_select << [i,i]
        - else
          - options_for_number_of_people_select << ["#{i}+",i]
      = select_tag '', options_for_select(options_for_number_of_people_select), "ng-model" => "numberOfPeople"

  .row.hidden-md.hidden-lg
    .col-sm-12.align-center
      label.title
        = "#{t(:pack_size)}"
      br
      .pack-size-row
        .display-table.pack-size-table
          .display-table-cell
            .btn-group.pack-size
              span.clock
                = image_tag 'clock-light-gray.png'
              ul.nav.nav-justified
                - MeetingRoomOffer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
                  li
                    a.btn.meeting-rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSize == #{pack_size}}" ng-click="selectedPackSize = #{pack_size}" #{pack_size}h
        p.hint = t :period_in_which_you_are_staying_at_hotel

  .row
    .col-xs-12.text-right
      .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmit()}}"
        button.submit-disabled.cpy-disabled-search-button.btn.green.search-button disabled='disabled' ng-hide='isFormValid()'
          = t(:search)

      button.cpy-search-button.ng-hide.btn.green.search-button ng-disabled='!isFormValid()' ng-show='isFormValid()'
        = t(:search)
