.modal#search-box-modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button type="button" class="close" data-dismiss="modal" aria-hidden="true" &times;
        h1
          = t(:search_hotels)

      .modal-body.search-box-modal
