.modal#user-budget-explanation-modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button type="button" class="close" data-dismiss="modal" aria-hidden="true" &times;
        h1
          = t(:the_24_hours_budget)

      .modal-body.user-budget-explanation-modal
        p
          = t(:explanation_for_budget_of_24_hours_pack)
        div ng-controller='PublicAffiliateBudgetCtrl'
          = simple_form_for current_public_user, url: public_affiliate_user_path, class: 'form-horizontal' do |f|
            div
              = f.input :budget_for_24_hours_pack, label_html: { class: 'col-sm-4' }, input_html: { class: 'js-mask-money js-employee-budget', 'ng-keyup' => 'getParsedEmployeeBudget()', 'ng-init' => 'getParsedEmployeeBudget()', 'ng-model' => 'budget_for_24_hours_pack'}
            
            table.table.table-bordered
              thead
                - HotelQuando::Constants::LENGTH_OF_PACKS.each do | length_of_pack |
                  th.text-center.size-14-percent
                    = "#{length_of_pack.to_s} #{t(:hours)}"
                th.text-center
                  = t(:daily_budget)
              tr.text-center
                - HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK.each do | pack_in_hours, percentage |
                  td.js-mask-money
                    | R$ {{employeeBudget * #{percentage.to_f / 100} | numberBr}}


            = f.button :submit, "#{t(:save)}", class: "center-block btn green cpy-submit-button"
