h1.page-title.green-title ¿Quiénes Somos?
p.explanation.with-margin
  | HotelQuando.com es la primera y única plataforma global de reservas de hoteles on-line que permite a los usuarios reservar habitaciones por paquetes de 3, 6, 9 ó 12 horas y por un precio justo.
