h1.page-title.green-title ¡Registrar mi hotel ahora!
/ p.explanation.with-margin
/   | En menos de 48 horas activaremos su hotel en nuestra plataforma. Solo registraremos 4 habitaciones por día para comenzar:
/   |  2 sencillas y 2 Dobles.
/   br
/   span.obs
/     | Usted puede remover las 4 habitaciones disponible en cualquier momento.

.col-sm-12.cadaster
  = form_tag public_post_be_our_partner_path, method: :post, class: 'form form-horizontal box' do

    div ng-class="setErrorClassForField('HotelName','input')"
      .row
        .col-xs-12
          label
            | Nombre del hotel
      .row
        .col-xs-12
          input.form-control.size-100-percent name="hotel_name" ng-model='hotelname' value="#{params[:hotel_name] || ''}"

    div ng-class="setErrorClassForField('ContactName','input')"
      .row
        .col-xs-12
          label
            | Nombre del contacto responsable de la activación
      .row
        .col-xs-12
          input.form-control.size-100-percent ng-model='contactname' name="contact_name" value="#{params[:contact_name] || ''}"

    .row
      .col-sm-6
        div ng-class="setErrorClassForField('Country','input')"
          .row
            .col-xs-12
              label
                | País
          .row
            .col-xs-12
              input.form-control.size-100-percent ng-model='country' name="country" value="#{params[:country] || ''}"

      .col-sm-6
        div ng-class="setErrorClassForField('City','input')"
          .row
            .col-xs-12
              label
                | Ciudad
          .row
            .col-xs-12
              input.form-control.size-100-percent ng-model='city' name="city" value="#{params[:city] || ''}"

    .row
      .col-sm-6
        div ng-class="setErrorClassForField('IdSkype','input')"
          .row
            .col-xs-12
              label
                | Id Skype
          .row
            .col-xs-12
              input.form-control.size-100-percent ng-model='idskype' name="id_skype" value="#{params[:id_skype] || ''}"

      .col-sm-6
        div ng-class="setErrorClassForField('ContactRole','input')"
          .row
            .col-xs-12
              label
                | Posicion
          .row
            .col-xs-12
              input.form-control.size-100-percent ng-model='contactrole' name="contact_role" value="#{params[:contact_role] || ''}"

    .row
      .col-sm-6
        div ng-class="setErrorClassForField('Email','input')"
          .row
            .col-xs-12
              label
                | E-mail
          .row
            .col-xs-12
              input.form-control.size-100-percent.js-email-with-suggestion ng-model='email' name="email_for_contact" value="#{params[:email_for_contact] || ''}"
            .col-xs-12
              p.help-block
                | A través de este e-mail le confirmaremos su solicitud de registro.
                |  Solo recibirá respuestas si es un e-mail de un hotel o generado por un dominio de un hotel.

      .col-sm-6
        div ng-class="setErrorClassForField('Phone','input')"
          .row
            .col-xs-12
              label
                | Teléfono
          .row
            .col-xs-12
              input.form-control.size-100-percent.js-mask-mobile-phone-with-country ng-model='phone' id="phone" name="phone" value="#{params[:phone] || ''}"


    .row
      .col-sm-12
        | &nbsp;
    .row
      .col-sm-12
        div vc-recaptcha='' key="'6LchfiYTAAAAAAKPwGj2tTafXXG4jS6kxSYXOIcH'" on-success="isRecaptchaValid(response)"

    .row
      / .col-sm-6.terms-of-use
      /   .checkbox
      /     label
      /       input type="checkbox" ng-model="termsofuse" name="terms_of_use" value="#{params[:terms_of_use] || ''}"
      /         | He leído y acepto los <a href="" data-toggle="modal" data-target="#js-modal-terms-of-use">condiciones de uso</a> como hotel socio
      .col-sm-12
        .form-actions.pull-right
          .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="left" data-html='true' data-original-title="{{messageForDisabledSubmit()}}"

            button.btn.green.cpy-submit-button.pt-br ng-disabled='!isFormValid()' ng-class='submitButtonExtraClass()'
              | ¡Registrarme!
          .clearfix

  .clearfix

javascript:
  $("#phone").intlTelInput({
    preferredCountries: ["br","us","es"],
    autoPlaceholder: 'off'
  })

  $("form").submit(function() {
    phoneNumberInput = $("#phone");
    phoneNumberInput.val(phoneNumberInput.intlTelInput("getNumber"));
  })

  $("#phone").on("countrychange", function(e, countryData) {
    var countryData = $("#phone").intlTelInput("getSelectedCountryData");
    if (countryData.iso2 == "br"){
      $("#phone").mask('(99) 99999-9999');
    }
    else{
      $("#phone").unmask();
    }
  })
