.modal.fade.large#js-modal-terms-of-use
  .modal-dialog
    .modal-content
      .modal-header
        h4 CONDICIONES DE USO PARA HOTELES - HOTELQUANDO 2017
        .triangle
          button type="button" class="close" data-dismiss="modal" aria-hidden="true" &times;

      .modal-body
        .row
          .col-xs-12
            | Estas Condiciones de Uso contienen las "Condiciones Generales" aplicables al uso de los servicios ofrecidos por RESERVAS POR HORA DO BRASIL LTDA, una compañía
            |  de responsabilidad limitada, con sede en la Rua Luis Coelho, 308, CJ. 32, Cerqueira César, CEP 01309-000, Sao Paulo / SP, Brasil, inscrito en el CNPJ bajo numero
            |  19.901.516 / 0001-35, de ahora en adelante referido como "HotelQuando.com" dentro de la página web http: //www.hotelquando.com. Cualquier hotel, de ahora
            |  em adelante nombrado "hotel  usuario", que tiene la intención de utilizar los servicios de HotelQuando.com debe aceptar estos Términos de Uso, y todas las demás
            |  políticas y principios que lo rigen. ACEPTACIÓN DE LAS CONDICIONES DE USO es absolutamente necesario para EL USO DEL SITIO WEB Y SUS SERVICIOS. El Usuario debe
            |  leer, estar seguro que entiende y acepta todas las condiciones establecidas en las condiciones de uso, así como en los demás documentos incorporados por referencia,
            |  antes de utilizar el sitio web y sus servicios.
          .col-xs-12
            h4.title 1. Modificación de las Condiciones de Uso
            p.explanation
              | HotelQuando.com puede cambiar las condiciones de uso notificando a los Hoteles  usuarios,  por adelantado, con el fin de mejorar los servicios y productos
              |  ofrecidos a través de HotelQuando.com. En cualquier caso, son necesarias y vinculante las condiciones de uso contenidas en el presente documento.
              |  Cualquier persona que no acepte estos términos deberá abstenerse de utilizar el sitio y / o servicios de HotelQuando.com.
              |  Estas Condiciones de Uso no crean ninguna asociación, franquicia o relación de empleo entre HotelQuando - Hoteles Usuarios.
          .col-xs-12
            h4.title 2. Descripción de los servicios
            p.explanation
              | HotelQuando.com es la primera y única plataforma global de reservas en linea de hotel, que permite a los huéspedes reservar su habitación para paquetes de
              |  3, 6, 9, o de 12 horas a un precio justo. El huéspede usuario también puede decidir a qué hora le gustaría entrar en el hotel. A partir de este momento de la
              |  entrada, el usuario puede disfrutar el paquete de horas elegidas. Es obligación del huéspede usuario a respetar el momento de salir de la habitación. Si esto
              |  no sucede, la multa será aplicada para el paquete de horas que incluya las horas extras.
          .col-xs-12
            h4.title 3. Requisitos Operacionales
            p.explanation
              | El Hotel Usuario debe permitir que el huéspede  utilize todas las horas adquiridas a través de la plataforma de reservas en línea HotelQuando.com. El conteo
              |  comienza a partir de la hora de entrada establecida por el Hotel Usuario y elegido por el huéspede usuario para cada paquete de horas. La tabla de precios
              |  para las habitaciones que se presentará en la plataforma de reservas online HotelQuando.com debe incrementarse por los impuestos debidos y debe respetar
              |  las condiciones siguientes para cada paquete:
              br
              | Paquete de 3 horas  => Hasta el 38% del valor de una tarifa de hotel pública en línea *
              br
              | Paquete de 6 horas  => Hasta 43% del valor de uma tarifa de hotel pública en línea  *
              br
              | Paquete de 9 horas  => Hasta el 60% del valor de la tarifa de hotel pública en línea *
              br
              | Paquete de 12 horas => Hasta el 65% del valor de la tarifa de hotel pública en línea *
              br
              | * Nuestra más grande referencia: www.booking.com
              br
              | Corresponde al Hotel Usuario promover cambios en la cantidad y categoría de los apartamentos disponibles. Inicialmente 4 (cuatro) habitaciones serán objeto de inscripción:
              |  2 (dos) habitaciones individuales y 2 (dos) habitaciones dobles. Una vez recibida la solicitud de reserva, HotelQuando.com informará con prontitud al Hotel Usuario,
              |  proporcionando la identificación del huéspede usuário y toda la información de reserva. Una vez que se cumplen estos requisitos, se considera que la reserva ha sido
              |  hecha  y el Hotel Usuario, por lo tanto, debe respetar tal derecho. El Hotel Usuario debe aceptar todas las reservas hoteleras realizadas por HotelQuando.com,
              |  presentando uma confirmación por escrito, que se remitirá al huéspede usuario. Si el huéspede no presenta la confirmación a su llegada al hotel, el hotel usuario debe aceptar
              |  el huéspede mediante la confirmación de su nombre y el número de reserva de  HotelQuando.com. En cualquier caso, antes de rechazar los huéspedes, el hotel usuario  debe
              |  ponerse en contacto con HotelQuando.com por los números de contacto proporcionados por esta última. En el caso de que el huéspede no se presenta al hotel usuario en la
              |  fecha y hora de llegada estipulada en la reserva ( "en el show"), el Hotel usuario debe confirmar en el sistema, mensual, hasta el día 5 del siguiente mes, la no asistencia de los huéspedes.
              |  HotelQuando.com, a su vez, será responsable por el costo del paquete de horas comprados. El valor relativo a la tarifa del paquete, respetando las condiciones anteriores,
              |  se transmitirá al Hotel  usuario con tarjeta de crédito. En el caso del Hotel Usuario identificar que no será capaz de cumplir con la reserva hecha por el huéspede
              |  a través de HotelQuando.com debido a una situación de exceso de reservas, así entendida la venta por el Hotel Usuario más allá de la capacidad, el Hotel Usuario notificará
              |  inmediatamente HotelQuando .com y se responsabiliza en reubicar a los huéspedes a un establecimiento de categoría igual o superior, que se encuentra en la misma zona,
              |  además de proporcionar la necesaria transferencia y enviar la carta de retracción para el huésped en cuestión, incluyendo la explicación formal. También eximirá al HotelQuando.com
              |  com respeto a cualquier daño, pérdida o reclamo que surja de tal evento.
          .col-xs-12
            h4 4. Comission de Ventas
            p.explanation
              | HotelQuando.com no cobrará ningún valor del Hotel Usuario, ya que es remunerado por los clientes que utilizan la plataforma.
          .col-xs-12
            h4 5. Otras obligaciones del Hotel Usuario
            p.explanation
              | El Hotel  Usuario se compromete a notificar hotel HotelQuando.com, por escrito, de inmediato:
              br
              | Posibles datos incorrectos, fallas o falta de disponibilidad del sistema de HotelQuando.com, así como, mientras siga la falta de disponibilidad o fallas, tomar las acciones necesarias
              |  para incluir, cambiar, excluir o modificar las tarifas, precios, disponibilidad, descripciones o cualquieras otras informaciones que se presentan en la plataforma de reservas online
              |  HotelQuando.com cuando sea necesario.
          .col-xs-12
            h4 6. Disposiciones generales
            p.explanation
              | El Hotel Usuario concede a HotelQuando.com el derecho a utilizar el nombre, logotipo, marcas comerciales e imágenes de sitios web (incluidas fotografías), con el propósito de
              |  comercialización, promoción de la demanda y obtención de reservas para el Hotel Usuario, que serán utilizados para identificar o promocionar al Hotel, desde que hayan sido
              |  suministrados o  previamente validados por el Hotel Usuario. El  Hotel Usuario declara que cumple fielmente con todas las leyes, reglamentos y códigos de práctica aplicables
              |  a ellos, como resultado de la actividad desarrollada del Hotel u otro proveedor de servicios, incluyendo, pero no limitado a, las leyes, reglamentos y códigos de prácticas
              |  relacionados con la higiene , seguridad contra incendios y seguridad en general, integridad personal, aún declarando, con todos los permisos y licencias aplicables.
              |  Tanto HotelQuando como el Hotel Usuario deben cumplir con todas las disposiciones legales aplicables a sus negocios y operaciones. En particular, el  Hotel Usuario debe
              |  abstenerse de participar en prácticas comerciales injustas y engañosas y utilizar o reajustar precios muy por encima de lo que se considera razonable o justo. Tanto
              |  HotelQuando como el Hotel Usuario se obligan a sí mismos, sus sucesores y cesionarios bajo cualquier título, acordando que todos los términos, condiciones y compromisos
              |  asumidos en este Contrato se constituyen de forma irrevocable e irreversible. Cualquier enmienda a este Acuerdo sólo se considerará válida si se formaliza por escrito en
              |  un instrumento propio firmado por las Partes (HotelQuando y Hotel Usuario). Ninguna de las Partes podrá ceder sus derechos u obligaciones en virtud del presente Acuerdo
              |  sin el consentimiento previo por escrito de la otra Parte. Sin embargo, nada de lo aquí dispuesto puede prohibir que HotelQuando.com asigne cualquiera de sus derechos u obligaciones
              |  a un miembro. Este documento constituye el acuerdo definitivo entre las Partes sobre las materias que se le imputan, derivado de la comprensión libre y espontánea de las
              |  Partes, por lo que supera y anula todos los acuerdos, entendimientos, propuestas o cartas anteriores. Toda referencia al presente Acuerdo incluirá también cualquier adición
              |  y cualquier otro instrumento celebrado entre las Partes con respecto al presente Acuerdo. La invalidación o nulidad total o parcial de cualquier cláusula, subcláusula o artículo
              |  del presente Acuerdo no afectará a los demás, los cuales seguirán siendo válidos y efectivos hasta el cumplimiento por parte de las Partes de todas sus obligaciones en virtud
              |  del presente Contrato. En caso de invalidación o nulidad de una cláusula, subcláusula o partida del presente Acuerdo, las Partes se comprometen, desde ahora, a negociar lo
              |  antes posible, en sustitución de la cláusula, subcláusula o artículo declarado inválido o nulo, términos y condiciones válidos que reflejen los términos y condiciones de la cláusula,
              |  subcláusula o artículo inválido o nulo, sujeto a la intención y propósito de las Partes al negociar la cláusula, subcláusula o artículo inválido o nulo y el contexto en el cual es Insertado.
              |  La renuncia de cualquiera de las Partes a ejercer cualquiera de los derechos otorgados en el presente Acuerdo sólo surtirá efecto por escrito. Ninguna tolerancia, retraso o indulgencia
              |  de ninguna de las Partes en la aplicación de cualquier disposición de este Acuerdo perjudicará o restringirá los derechos de esa Parte, ni impedirá que dicha Parte ejerza tales derechos
              |  o cualquier otro derecho en el tiempo que considere apropiado. La incapacidad de una Parte para llevar a cabo las actividades previstas en el presente Acuerdo será perdonada si resulta
              |  de un hecho necesario cuyos efectos no podrían evitarse o impedirse, entre otros, las guerras, paradas, incendios, Fenómenos meteorológicos y / o Interrupciones en servicios aéreos o
              |  actos gubernamentales. La Parte cuya actuación se vea afectada por una de estas causas imprevisibles notificará inmediatamente a la otra Parte de la ocurrencia de dicho hecho.
              |  Las Partes reconocen y acuerdan que la Compañía puede mantener em los archivos una copia completa del Contrato celebrado y además convenir que cualquier solicitud de una copia
              |  hecha a una Compañía bajo este Acuerdo puede ser notificada en forma electrónica. En caso de desacuerdo entre las Partes en virtud del presente Acuerdo, procurarán llegar a una solución amistosa.

      .modal-footer
        button.btn.btn-default data-dismiss="modal"
          = t :close
        button.btn.green.cpy-submit-button.pt-br ng-click="acceptTermsOfUse()"
          | ACEITO LAS CONDICIONES DE USO

