h1.page-title.green-title ¿Por qué vender habitaciones por paquetes de horas?
.with-margin.why-sale
  .row
    .col-sm-6
      h4 Ingreso incremental
      p.explanation
        | Explore nuevos mercados y obtenga más ingresos
    .col-sm-6
      h4 Mayor rentabilidad
      p.explanation
        | Venda la misma habitación mas de una vez al día
  .row
    .col-sm-6
      h4 Atrae nuevos clientes
      p.explanation
        | Miles de personas gustarían de reservar una habitación de hotel por solo unas horas
    .col-sm-6
      h4 Ventaja competitiva
      p.explanation
        | Las personas están buscando más y más nuevas experiencias y productos ajustados a sus necesidades. ¿Su hotel va a estar fuera de esta tendencia?
  .row
    .col-sm-6
      h4 100% gratis, no cobramos nada al hotel
      p.explanation
        | Nuestra plataforma fue desarrollada para generar ingresos adicionales para su hotel, no cobramos nada
    .col-sm-6
      h4 Plataforma de venta FREE SALE
      p.explanation
        | ¡No atamos su hotel con un contrato! Con nosotros vendes cuándo y cuántas habitaciones quieres. 
