body.public-affiliate-layout

	#footer
		width: 100%
		color: white
		padding-top: 22px
		padding-bottom: 0px
		background-color: #1d2d43
		z-index: 101
		margin: 0
		padding-bottom: 22px
		i
			font-size: 20px
			float: left
			margin-top: 32px
			margin-right: 18px
			color: white
	.footer-list
		font-family: "Ubuntu", Sans-Serif
		margin-top: 10px
		margin-left: 22px
		li
			list-style-type: none
			color: white !important
			font-size: 1.5rem
		li:hover
			text-decoration: underline
		a
			color: white !important
			text-decoration: none
			font-weight: initial
	.contact
		width: 350px
		color: #d8dfe5
		margin-top: 22px
		margin-left: 22px
		p
			line-height: 1.65
			font-weight: initial
			margin: 0 0 4px
		.title
			font-family: "Raleway", Sans-Serif
			color: #d8dfe5
			border-bottom: 1px solid white
			margin-bottom: 10px
			padding: 0 0 7px 0
			border-bottom: 1px solid #6d767e
			font-size: 138%

	.credits
		clear: both
		text-align: right
		position: relative
		background: red
		color: #fff
		margin: 0 !important
		width: 100%
		padding: 10px 92px
		font-size: 70%

	.druds-online
		padding: 0 0 7px 0
		width: 350px
		margin-top: 22px
		.title
			font-family: "Raleway", Sans-Serif
			width: 350px
			color: #d8dfe5
			border-bottom: 1px solid white
			margin-bottom: 10px
			padding: 0 0 7px 0
			border-bottom: 1px solid #6d767e
			margin-bottom: 10px
			font-size: 138%
		li
			list-style-type: none
		.social
			padding: 0

	.copyright
		font-weight: normal
		font-size: 10px