= f.simple_fields_for :air_taxe, @travel_request.air_taxe, f.object.airs.order('id ASC') do |air_taxe|
	.form-group.boolean.optional.date_of_expiry_of_the_agency_contract
	    label.col-sm-3.control-label
	      | Tarífa
	    .col-sm-1.size-33-percent
	      = air_taxe.text_field :fare, class: 'string required col-sm-12 form-control input form-control js-mask-money'

	.form-group.boolean.optional.date_of_expiry_of_the_agency_contract
	    label.col-sm-3.control-label
	      | Taxa de Embarque
	    .col-sm-1.size-33-percent
	      = air_taxe.text_field :boarding_taxes, class: 'string required col-sm-12 form-control input form-control js-mask-money'

	.form-group.boolean.optional.date_of_expiry_of_the_agency_contract
	    label.col-sm-3.control-label
	      | Taxa de conveniência
	    .col-sm-1.size-33-percent
	      = air_taxe.text_field :taxe_hq, class: 'string required col-sm-12 form-control input form-control js-mask-money'

	.form-group.boolean.optional.date_of_expiry_of_the_agency_contract
	    label.col-sm-3.control-label
	      | Taxa de Alteração
	    .col-sm-1.size-33-percent
	      = air_taxe.text_field :taxe_change, class: 'string required col-sm-12 form-control input form-control js-mask-money'

	.form-group.boolean.optional.date_of_expiry_of_the_agency_contract
	    label.col-sm-3.control-label
	      | Taxa de noshow
	    .col-sm-1.size-33-percent
	      = air_taxe.text_field :taxe_noshow, class: 'string required col-sm-12 form-control input form-control js-mask-money'

	.form-group.boolean.optional.date_of_expiry_of_the_agency_contract
	    label.col-sm-3.control-label
	      | Taxa de cancelamento
	    .col-sm-1.size-33-percent
	      = air_taxe.text_field :taxe_cancellation, class: 'string required col-sm-12 form-control input form-control js-mask-money'