div ng-controller="TravelRequestsFormCtrl"

	= f.simple_fields_for :airs, f.object.airs.order('id ASC') do |air_form|
		 - count = air_form.index + 1;
		 h3.header.smaller.lighter.green 
		 	= "Trecho #{count}  "
		 	= link_to "<i class='fa fa-trash'></i>".html_safe, remove_air_hq_consultant_travel_request_path(air_form.object.id), class: 'btn btn-xs btn-warning ', data: { confirm: "Deseja deletar este trecho?" }, method: :delete
		 | 

	      <div class="form-group">
	          <label class="control-label col-sm-1">#{air_form.label :origin}</label>
	          <div class="col-md-6">
	           #{air_form.text_field :origin, class: 'form-control'}
	          </div>

	          <label class="control-label col-sm-1">Saída</label>
	          <div class="col-md-2">
	           #{air_form.text_field :departure_date, class: 'js-date-picker form-control'}
	          </div>
	          <label class="control-label col-sm-1">Horário</label>
	          <div class="col-md-1">
	           #{air_form.text_field :departure_time, class: 'js-mask-time form-control'}
	          </div>

	      </div>

	      <div class="form-group">
	          <label class="control-label col-sm-1">#{air_form.label :destiny}</label>
	          <div class="col-md-6">
	           #{air_form.text_field :destiny, class: 'form-control'}
	          </div>

	          <label class="control-label col-sm-1">Chegada</label>
	          <div class="col-md-2">
	           #{air_form.text_field :arrival_date, class: 'js-date-picker form-control'}
	          </div>
	          <label class="control-label col-sm-1">Horário</label>
	          <div class="col-md-1">
	           #{air_form.text_field :arrival_time, class: 'js-mask-time form-control'}
	          </div>

	      </div>
	      <div class="form-group">
	          <label class="control-label col-sm-1">Bilhete</label>
	          <div class="col-md-1">
	           #{air_form.text_field :ticket, class: 'form-control'}
	          </div>
	          <label class="control-label col-sm-1">Localizador</label>
	          <div class="col-md-1">
	           #{air_form.text_field :cia_locator, class: 'form-control'}
	          </div>
	          <div class="col-md-4">
	           #{air_form.input :flight_class , collection: Air::ACCEPTED_CLASSES, prompt: false}
	         </div>
	          <label class="control-label col-sm-1" style="margin-left: -100px;"><span>Vencimento</span></label>
	          <div class="col-md-2">
	           #{air_form.text_field :due_date, class: 'string required col-sm-12 form-control input form-control  js-mask-date-time'}
	          </div>
	          <label class="control-label col-sm-1"><span>Voo</span></label>
	          <div class="col-md-1">
	           #{air_form.text_field :flight_number, class: 'form-control js-mask-integer'}
	          </div>
	      </div>
	      <div class="form-group">
	      	  <label class="control-label col-sm-1">Duração</label>
	          <div class="col-md-1">
	            #{air_form.text_field :flight_duration, class: 'js-mask-time form-control'}
	          </div>
	          <label class="control-label col-sm-1">Cia Op.</label>
	          <div class="col-md-1">
	           #{air_form.text_field :operation_airline, class: 'form-control'}
	          </div>
	          <label class="control-label col-sm-1"><span>Conexões</span></label>
	          <div class="col-md-1">
	           #{air_form.text_field :number_connections, class: 'form-control js-mask-integer'}
	          </div>
	          <label class="control-label col-sm-1"><span>Escalas</span></label>
	          <div class="col-md-1">
	           #{air_form.text_field :number_scales, class: 'form-control js-mask-integer'}
	          </div>
	          <label class="control-label col-sm-1">Assento</label>
	          <div class="col-md-1">
	           #{air_form.text_field :seat, class: 'form-control'}
	          </div>
	          <label class="control-label col-sm-1">Cia</label>
	          <div class="col-md-1">
	           #{air_form.text_field :airline, class: 'form-control'}
	          </div>

	      </div>

	     = air_form.simple_fields_for :air_taxe do |air_taxe|
			.form-group.boolean.optional.date_of_expiry_of_the_agency_contract
			    label.col-sm-3.control-label
			      | Tarífa
			    .col-sm-1.size-33-percent
			      = air_taxe.text_field :fare, class: 'string required col-sm-12 form-control input form-control js-mask-money'

			.form-group.boolean.optional.date_of_expiry_of_the_agency_contract
			    label.col-sm-3.control-label
			      | Taxa de Embarque
			    .col-sm-1.size-33-percent
			      = air_taxe.text_field :boarding_taxes, class: 'string required col-sm-12 form-control input form-control js-mask-money'

			.form-group.boolean.optional.date_of_expiry_of_the_agency_contract
			    label.col-sm-3.control-label
			      | Taxa de conveniência
			    .col-sm-1.size-33-percent
			      = air_taxe.text_field :taxe_hq, class: 'string required col-sm-12 form-control input form-control js-mask-money'

			.form-group.boolean.optional.date_of_expiry_of_the_agency_contract
			    label.col-sm-3.control-label
			      | Taxa de Alteração
			    .col-sm-1.size-33-percent
			      = air_taxe.text_field :taxe_change, class: 'string required col-sm-12 form-control input form-control js-mask-money'

			.form-group.boolean.optional.date_of_expiry_of_the_agency_contract
			    label.col-sm-3.control-label
			      | Taxa de noshow
			    .col-sm-1.size-33-percent
			      = air_taxe.text_field :taxe_noshow, class: 'string required col-sm-12 form-control input form-control js-mask-money'

			.form-group.boolean.optional.date_of_expiry_of_the_agency_contract
			    label.col-sm-3.control-label
			      | Taxa de cancelamento
			    .col-sm-1.size-33-percent
			      = air_taxe.text_field :taxe_cancellation, class: 'string required col-sm-12 form-control input form-control js-mask-money'
			|
			 <div class="form-group">
		      	#{air_form.input :is_included_hand_baggage, input_html: { class: 'big-input col-xs-12'}}
		      	#{air_form.input :is_included_baggage_dispatch, input_html: { class: 'big-input col-xs-12'}}
	      	 </div>