= render partial: 'hq_consultant/travel_requests/util'

= panel_section(name: t("views.admin.bookings.filter"), class: 'filter widget-box') do
  = form_tag hq_consultant_travel_requests_path, method: :get, class: 'form-horizontal' do
    .row
      .col-sm-2
        = label_tag :q, "ID", class: 'control-label no-left-padding'
        input.form-control name='by_id' value="#{params[:by_id] || ''}"
      .col-sm-3
        = label_tag :q, "Data solicitação", class: 'control-label no-left-padding'
        input.form-control name='by_date_request' value="#{params[:by_date_request] || ''}"
      .col-sm-3
        = label_tag :q, "Data de conclusão", class: 'control-label no-left-padding'
        input.form-control name='by_date_conclusion' value="#{params[:by_date_conclusion] || ''}"

    hr

    = submit_tag t("views.admin.bookings.filter"), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button margin-left-10px'
    = link_to t("views.admin.bookings.remove_filter"), hq_consultant_travel_requests_path, class: 'btn btn-sm btn-danger pull-right size-20-percent remove-button cpy-remove-filter-button'

    .clearfix
