= simple_form_for [:hq_consultant, travel_request] do |f|
  
  = render :partial => "hq_consultant/travel_requests/airs_fields", locals: {f: f, travel_request: travel_request}

  br
  br
  br
  .center
	= link_to "<i class='fa fa-plus-square-o'></i>  Adicionar outro trecho ?".html_safe, add_air_hq_consultant_travel_request_path(travel_request.id), class: 'btn btn-success ', data: { confirm: "Deseja adicionar outro trecho?" },  method: :post

  = render :partial => "hq_consultant/travel_requests/total_travel_request_fields", locals: {f: f, travel_request: travel_request}

  = form_submit_section