h3.header.smaller.lighter.green = 'Total'
	
.form-group.boolean.optional.date_of_expiry_of_the_agency_contract
    label.col-sm-3.control-label
      | Total Pago
    .col-sm-1.size-33-percent
      = f.text_field :total, class: 'string required col-sm-12 form-control input form-control js-mask-money'

.form-group.boolean.optional.date_of_expiry_of_the_agency_contract
    label.col-sm-3.control-label
      | Total Pago HotelQuando
    .col-sm-1.size-33-percent
      = f.text_field :total_paid_hq, class: 'string required col-sm-12 form-control input form-control js-mask-money'

h3.header.smaller.lighter.green = 'Informações de Emissão'
	
.form-group.boolean.optional.date_of_expiry_of_the_agency_contract
    label.col-sm-4.control-label
    .col-sm-1.size-33-percent
      = f.input :reservation_status , collection: TravelRequest::ACCEPTED_RESERVATION_STATUS, prompt: false
