.row
    .col-sm-12
      = render partial: "/hq_consultant/travel_requests/filter"
- if @travel_requests.length == 0
  .alert.alert-info
    = 'Nenhuma solicitação de aéreo encontrada.'
- else
  .cpy-pagination-links
    = pagination_links_for @travel_requests
  .row
    .col-sm-12
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th.center
            | #{t("views.travel_request.id")}
          th.center
            | #{t("views.travel_request.date_request")}
          th.center
            | #{t("views.travel_request.request_status.title")}
          th.center
            | #{t("views.travel_request.payment_status.title")}
          th.center
            | #{t("views.travel_request.actions")}
      tbody
        - @travel_requests.each do | travel |
          tr.center
            td
              = travel.id
            td
              = travel.date_request != nil ? travel.date_request.strftime("%d/%m/%Y %H:%M") : ''

            td
              - TravelRequest::ACCEPTED_REQUEST_STATUS.each do | k, v |
                - if travel.request_status == v
                  = t("views.travel_request.request_status." << k.to_s )

            td
              - TravelRequest::ACCEPTED_PAYMENT_STATUS.each do | k, v |
                - if travel.payment_status == v
                  = t("views.travel_request.payment_status." << k.to_s )

            td.action-list.center
              = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, hq_consultant_travel_request_path(travel.id), class: 'btn btn-xs btn-success'

              = link_to "<i class='icon-location-arrow bigger-100'></i>".html_safe, send_email_to_traveler_hq_consultant_travel_request_path(travel.id), class: 'btn btn-xs btn-primary cpy-deactivate-agency-button', data: { confirm: t("views.travel_request.send_email_to_traveler") }, method: :post

              = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_hq_consultant_travel_request_path(travel.id), class: 'btn btn-xs btn-info cpy-edit-agency-link'

              = link_to "<i class='icon-remove bigger-100'></i>".html_safe, cancel_hq_consultant_travel_request_path(travel.id), class: 'btn btn-xs btn-danger cpy-deactivate-agency-button', data: { confirm: t("views.travel_request.cancel") }, method: :put

= pagination_links_for @travel_requests