= panel_section do
  = show_for @travel_request do |u|

    .row
      .col-sm-6
        h3.header.lighter.green
          | Informações da Solicitação
        .attributes-wrapper
          .attribute-title
            | Data Criação
          .content
            = @travel_request.date_request.strftime("%d/%m/%Y %H:%M")
        .attributes-wrapper
          .attribute-title
            | Status Solicitação
          .content
            - TravelRequest::ACCEPTED_REQUEST_STATUS.each do | k, v |
                - if @travel_request.request_status == v
                  = t("views.travel_request.request_status." << k.to_s )

        .attributes-wrapper
          .attribute-title
            | Status Pagamento
          .content
            - TravelRequest::ACCEPTED_PAYMENT_STATUS.each do | k, v |
                - if @travel_request.payment_status == v
                  = t("views.travel_request.payment_status." << k.to_s )

      .col-sm-6
        h3.header.lighter.green
          | Dados do Solicitante
        .attributes-wrapper
          .attribute-title
            | Nome Solicitante
          .content
            = @travel_request.user.name
        .attributes-wrapper
          .attribute-title
            | Email Solicitante
          .content
            = @travel_request.user.email
        .attributes-wrapper
          .attribute-title
            | Telefone
          .content
            = @travel_request.contact_traveler
        .attributes-wrapper
          .attribute-title
            | Nome da Empresa
          .content
            = @travel_request.user.company_detail.name
      .col-sm-6
        h3.header.lighter.green
          | Dados do Passageiro para reserva
        .attributes-wrapper
          .attribute-title
            | Nome
          .content
            = @travel_request.first_name
        .attributes-wrapper
          .attribute-title
            | Sobrenome
          .content
            = @travel_request.last_name
        .attributes-wrapper
          .attribute-title
            | CPF
          .content
            = @travel_request.cpf

        .attributes-wrapper
          .attribute-title
            | Passaporte
          .content
            = @travel_request.passaporte

        .attributes-wrapper
          .attribute-title
            | Telefone
          .content
            = @travel_request.telephone

        .attributes-wrapper
          .attribute-title
            | E-mail
          .content
            = @travel_request.email
    .row
      .col-sm-12
        h3.header.lighter.green
          | Aéreos

        .div id="accordion"
          -@travel_request.airs.order('id ASC').each do |air|
            h4 = air.origin + "  /  " + air.destiny 
            .div
              .row
                .col-sm-12
                  h3.center.header.lighter.black
                    | Informações
                  .attributes-wrapper
                    .attribute-title
                      | Origem
                    .content
                      = air.origin
                    .attributes-wrapper
                      .attribute-title
                        | Destino
                      .content
                        = air.destiny
                    .attributes-wrapper
                      .attribute-title
                        | Data de Saída
                      .content
                        - if air.departure_date != nil
                          = air.departure_date.strftime("%d/%m/%Y")
                    .attributes-wrapper
                      .attribute-title
                        | Horário de Saída
                      .content
                        = air.departure_time
                    - if air.arrival_date != nil
                      .attributes-wrapper
                        .attribute-title
                          | Data de Chegada
                        .content
                          = air.arrival_date.strftime("%d/%m/%Y")

                      .attributes-wrapper
                        .attribute-title
                          | Horário de Chegada
                        .content
                          = air.arrival_time

                    .attributes-wrapper
                      .attribute-title
                        | Classe
                      .content
                        - Air::ACCEPTED_CLASSES.each do | k, v |
                          - if air.flight_class == v
                            = t("views.travel_request.flight_class." << k.to_s )
                    .attributes-wrapper
                      .attribute-title
                        | Aéreo Online
                      .content
                        = air.is_online ? "Sim" : "Não"
                    .attributes-wrapper
                      .attribute-title
                        | Cia aérea
                      .content
                        = air.airline
                    .attributes-wrapper
                      .attribute-title
                        | Cia de operação
                      .content
                        = air.operation_airline
                    .attributes-wrapper
                      .attribute-title
                        | Número do voo
                      .content
                        = air.flight_number
                    .attributes-wrapper
                      .attribute-title
                        | Número de conexões
                      .content
                        = air.number_connections
                    .attributes-wrapper
                      .attribute-title
                        | Número de escalas
                      .content
                        = air.number_scales
                    .attributes-wrapper
                      .attribute-title
                        | Bilhete
                      .content
                        = air.ticket
                    .attributes-wrapper
                      .attribute-title
                        | Localizador da Reserva
                      .content
                        = air.cia_locator
                    .attributes-wrapper
                      .attribute-title
                        | Incluso bagagem de mão
                      .content
                        = air.is_included_hand_baggage
                    .attributes-wrapper
                      .attribute-title
                        | Incluso bagagem para despachar
                      .content
                        = air.is_included_baggage_dispatch
                    .attributes-wrapper
                      .attribute-title
                        | Quantidade de bagagem para despachar
                      .content
                        = air.number_baggage_dispatch
                    .attributes-wrapper
                      .attribute-title
                        | Aéreo aprovado
                      .content
                        = air.is_approved
                    .attributes-wrapper
                      .attribute-title
                        | Justificativa por ter reprovado
                      .content
                        = air.justification_of_disapproval

                  h3.header.lighter.green
                    | Taxas e Encargos
                  - if air.air_taxe == nil
                    .attributes-wrapper
                      .attribute-title
                      .content
                       | Taxas não disponiveis no momento
                  -else
                    .attributes-wrapper
                      .attribute-title
                        | Tarifa
                      .content
                        = air.air_taxe.fare
                    .attributes-wrapper
                      .attribute-title
                        | Taxa de Embarque
                      .content
                        = air.air_taxe.boarding_taxes
                    .attributes-wrapper
                      .attribute-title
                        | Taxa de conveniência
                      .content
                        = air.air_taxe.taxe_hq

                    .attributes-wrapper
                      .attribute-title
                        | Taxa de Alteração
                      .content
                        = air.air_taxe.taxe_change

                    .attributes-wrapper
                      .attribute-title
                        | Taxa de noshow
                      .content
                        = air.air_taxe.taxe_noshow

                    .attributes-wrapper
                      .attribute-title
                        | Taxa de cancelamento
                      .content
                        = air.air_taxe.taxe_cancellation    
    br
    .wizard-actions
      = link_to t("views.admin.agencies.back").html_safe, hq_consultant_travel_request_path, class: 'btn btn-prev'
      = link_to t("views.admin.agencies.edit").html_safe, edit_hq_consultant_travel_request_path(@travel_request.id), class: 'btn btn-info'