@media (max-width: 768px)
  .public-affiliate-layout
    .datepicker
      font-size: 20px
      position: fixed
      top: 100px !important
      left: 50% !important
      -webkit-transform: translate(-50%, 0)
      -ms-transform: translate(-50%, 0)
      -moz-transform: translate(-50%, 0)
      -o-transform: translate(-50%, 0)
      transform: translate(-50%, 0)
