h1.page-title.green-title Who we are
p.explanation.with-margin
  | HotelQuando.com  is the first and only on-line global hotel booking platform that allows the user to book a hotel room by packages of  3, 6, 9 or 12 hours and at a fair price
