h1.page-title.green-title Register my hotel now!
/ p.explanation.with-margin
/   | In less than 48h we’ll activate your hotel in our platform. We’ll only register 4 rooms a day to begin with: 2 singles rooms and 2 double rooms.
/   br
/   span.obs
/     | You can remove the 4 rooms availability at anytime.

.col-sm-12.cadaster
  = form_tag public_post_be_our_partner_path, method: :post, class: 'form form-horizontal box' do

    div ng-class="setErrorClassForField('HotelName','input')"
      .row
        .col-xs-12
          label
            | Hotel name
      .row
        .col-xs-12
          input.form-control.size-100-percent name="hotel_name" ng-model='hotelname' value="#{params[:hotel_name] || ''}"

    div ng-class="setErrorClassForField('ContactName','input')"
      .row
        .col-xs-12
          label
            | Contact name responsible for activation
      .row
        .col-xs-12
          input.form-control.size-100-percent ng-model='contactname' name="contact_name" value="#{params[:contact_name] || ''}"

    .row
      .col-sm-6
        div ng-class="setErrorClassForField('Country','input')"
          .row
            .col-xs-12
              label
                | Country
          .row
            .col-xs-12
              input.form-control.size-100-percent ng-model='country' name="country" value="#{params[:country] || ''}"

      .col-sm-6
        div ng-class="setErrorClassForField('City','input')"
          .row
            .col-xs-12
              label
                | City
          .row
            .col-xs-12
              input.form-control.size-100-percent ng-model='city' name="city" value="#{params[:city] || ''}"

    .row
      .col-sm-6
        div ng-class="setErrorClassForField('IdSkype','input')"
          .row
            .col-xs-12
              label
                | Id Skype
          .row
            .col-xs-12
              input.form-control.size-100-percent ng-model='idskype' name="id_skype" value="#{params[:id_skype] || ''}"

      .col-sm-6
        div ng-class="setErrorClassForField('ContactRole','input')"
          .row
            .col-xs-12
              label
                | Office
          .row
            .col-xs-12
              input.form-control.size-100-percent ng-model='contactrole' name="contact_role" value="#{params[:contact_role] || ''}"

    .row
      .col-sm-6
        div ng-class="setErrorClassForField('Email','input')"
          .row
            .col-xs-12
              label
                | E-mail
          .row
            .col-xs-12
              input.form-control.size-100-percent.js-email-with-suggestion ng-model='email' name="email_for_contact" value="#{params[:email_for_contact] || ''}"
            .col-xs-12
              p.help-block
                | Through this e-mail we will confirm the register request. We will only reply if it is an e-mail with a hotel or hotel chain domain

      .col-sm-6
        div ng-class="setErrorClassForField('Phone','input')"
          .row
            .col-xs-12
              label
                | Telephone
          .row
            .col-xs-12
              input.form-control.size-100-percent.js-mask-mobile-phone ng-model='phone' id="phone" name="phone" value="#{params[:phone] || ''}"


    .row
      .col-sm-12
        | &nbsp;
    .row
      .col-sm-12
        div vc-recaptcha='' key="'6LchfiYTAAAAAAKPwGj2tTafXXG4jS6kxSYXOIcH'" on-success="isRecaptchaValid(response)"

    .row
      / .col-sm-6.terms-of-use
      /   .checkbox
      /     label
      /       input type="checkbox" ng-model="termsofuse" name="terms_of_use" value="#{params[:terms_of_use] || ''}"
      /         | I read and agree with the <a href="" data-toggle="modal" data-target="#js-modal-terms-of-use">terms of use</a> as a partner hotel
      .col-sm-12
        .form-actions.pull-right
          .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="left" data-html='true' data-original-title="{{messageForDisabledSubmit()}}"

            button.btn.green.cpy-submit-button.pt-br ng-disabled='!isFormValid()' ng-class='submitButtonExtraClass()'
              | REGISTER MY HOTEL
          .clearfix

  .clearfix

javascript:
  $("#phone").intlTelInput({
    preferredCountries: ["br","us","es"],
    autoPlaceholder: 'off'
  })

  $("form").submit(function() {
    phoneNumberInput = $("#phone");
    phoneNumberInput.val(phoneNumberInput.intlTelInput("getNumber"));
  })

  $("#phone").on("countrychange", function(e, countryData) {
    var countryData = $("#phone").intlTelInput("getSelectedCountryData");
    if (countryData.iso2 == "br"){
      $("#phone").mask('(99) 99999-9999');
    }
    else{
      $("#phone").unmask();
    }
  })
