.modal.fade.large#js-modal-terms-of-use
  .modal-dialog
    .modal-content
      .modal-header
        h4 TERMS OF USE FOR HOTELS - HOTELQUANDO 2017
        .triangle
          button type="button" class="close" data-dismiss="modal" aria-hidden="true" &times;

      .modal-body
        .row
          .col-xs-12
            | These Terms of Use contain the "General Conditions" applicable to the use of the services offered by RESERVAS POR HORA DO BRASIL LTDA, a Limited Liability Company
            |  (LLC), headquartered at Rua Luís Coelho, 308, CJ. 32, Cerqueira César, CEP 01309-000, São Paulo / SP, Brazil, enrolled with CNPJ under no. 19.901.516 / 0001-35,
            |  from now on referred to as "HotelQuando.com" within the website http: //www.hotelquando.com. Any hotel, hence referred to as "Hotel User", who intends to use
            |  the services of HotelQuando.com must accept these Terms of Use, and all other policies and principles that govern it. ACCEPTANCE OF THE TERMS OF USE IS
            |  ABSOLUTELY NECESSARY TO THE USE OF THE WEBSITE AND ITS SERVICES. The User must read, make sure that he / she understands and accepts all the conditions
            |  established in the Terms of Use, as well as in the other documents incorporated by reference, before using the website and its services.
          .col-xs-12
            h4.title 1. Modification of Terms of Use
            p.explanation
              | HotelQuando.com may change the Terms of Use by notifying User Hotels well in advance in order to improve the services and products offered through HotelQuando.com.
              |  In any case, the Terms of use contained in this document are required and binding. Anyone who does not accept these terms must refrain from using the site and / or
              |  services of HotelQuando.com. These Terms of Use do not create any partnership, franchise, or employment relationship between HotelQuando - Hotels Users.
          .col-xs-12
            h4.title 2. Description of Services
            p.explanation
              | HotelQuando.com is the first and only global online hotel booking platform that allows a guest to book their room for 3, 6, 9, or 12-hour packages at a fair price.
              |  The guest user also decides at what time he would like to enter the hotel. From this time of entry, the user can enjoy the package of hours chosen. It is the
              |  obligation of the guest user to respect the time of leaving the room. If this does not happen, a fine will be charged for the time package that includes the overdue hours.
          .col-xs-12
            h4.title 3. Operational Requirements
            p.explanation
              | The Hotel User must allow the guest to use all the hours acquired through the online reservation platform HotelQuando.com. The time counting starts from the check-in
              |  time established by the Hotel User and chosen by the guest user for each package of hours. The price table for rooms to be presented in the platform of online booking
              |  HotelQuando.com must be increased by the due taxes and must respect the following conditions for each package:
              br
              | 3-Hour Package => Up to 38% of the value of an online public hotel rate *
              br
              | 6 Hours Package => Up to 43% of the value of an public online daily *
              br
              | 9 Hours Package => Up to 60% of the value of na online public hotel rate *
              br
              | 12 Hours Package => Up to 65% of the value of an online public hotel rate *
              br
              | * Our greatest reference: www.booking.com
              br
              | It is up to the User Hotel to promote changes in the quantity and category of the apartments available. Initially 4 (four) rooms will be registered: 2 (two) Single rooms and 2 (two)
              |  Double rooms. Upon receiving a reservation request, HotelQuando.com will promptly inform the User Hotel, providing the guest identification and all reservation information.
              |  Once these requirements are fulfilled, the reservation is considered as having been made and the User Hotel, therefore, must respect it. The User Hotel must accept all reservations
              |  made by HotelQuando.com upon presentation of a written confirmation, which will be forwarded to the guest user. If the guest does not carry such confirmation upon arrival at the
              |  hotel, the User Hotel must accept the guest by confirming his name and the reservation number of HotelQuando.com. In any case, before rejecting the guest, the User Hotel should
              |  contact HotelQuando.com by the contact numbers provided by the latter. In the event that the guest does not present himself to the User Hotel at the date and time of check in
              |  stipulated in the reservation ("no show"), the User Hotel must confirm in the system, monthly, until the 5th of the following month, the non-attendance of the guest. HotelQuando.com,
              |  in turn, will be responsible for the cost of the package of hours purchased. The amount referring to the package rate, respecting the above conditions, will be passed on to the User Hotel
              |  by credit card. In the event that the User Hotel identifies that will not be able to honor the reservation made by the guest through HotelQuando.com due to an overbooking situation,
              |  understood as the sale by the User Hotel above the capacity, the User Hotel shall immediately notify HotelQuando.com and relocate the guests to an establishment of equal or
              |  superior category, located in the same area, provide the necessary transfer  and forward a letter of retraction to the guest in question, including a formal explanation, and shall also
              |  exempt HotelQuando.com of any damage, loss or claim arising from such event.
          .col-xs-12
            h4 4. Sales Commission
            p.explanation
              | HotelQuando.com will not charge any value of the User Hotel, since it is remunerated by guests who use the platform.
          .col-xs-12
            h4 5.Other User Hotel obligations
            p.explanation
              | The User Hotel  agrees to notify HotelQuando.com, in writing, immediately:
              br
              | ossible incorrect data, failures or unavailability of the HotelQuando.com system, as well as, for as long as the unavailability or failure lasts; take the necessary actions to include,
              |  change, exclude or modify fees, rates, availability, descriptions or any other information that is presented in the Platform of online booking HotelQuando.com when necessary.
          .col-xs-12
            h4 6. General Provisions
            p.explanation
              | The User Hotel grants to HotelQuando.com the right to use the name, logo, trademarks and images of websites (including photographs), for the purpose of merchandising, promotion
              |  of demand and obtaining reservations for the User Hotel, which will be used to identify or promote them, since provided or previously validated by the User Hotel. The User Hotel
              |  declares that faithfully complies with all laws, regulations and codes of practice applicable to them, as a result of the Hotel's activity developed, or other service provider, including,
              |  but not limited to laws, regulations and codes of practice relating to hygiene, Fire safety and security in general, personal integrity, still declaring, having all applicable permissions
              |  and licenses. Both HotelQuando and User Hotel must comply with all legal provisions applicable to its business and operations. In particular, the User Hotel must refrain from engaging
              |  in unfair and deceptive business practices and use or readjust prices far above what is considered reasonable or fair. Both HotelQuando and the User Hotel obligate themselves, their
              |  successors and assigns under any title, agreeing that all terms, conditions and commitments assumed in this Agreement are constituted irrevocably and irreversibly. Any amendment
              |  to this Agreement will only be considered valid if it is formalized in writing in an own instrument signed by the Parties (HotelQuando and User Hotel). Neither Party may assign its rights
              |  or obligations under this Agreement without the prior written consent of the other Party. However, nothing herein may prohibit HotelQuando.com from assigning any of its rights or
              |  obligations to a member. This document constitutes the final agreement between the Parties on the matters subject to it, arising from the free and spontaneous understanding of the
              |  Parties, which is why it surpass and cancels all previous agreements, understandings, proposals or letters. Any reference to this Agreement shall also include any additions and any
              |  other instruments entered into between the Parties with respect to this Agreement. The invalidation or nullity, in whole or in part, of any clause, subclause or item of this Agreement
              |  shall not affect the others, which shall remain valid and effective until the fulfillment by the Parties of all their obligations hereunder.  In the event of a declaration of nullity or invalidity
              |  of a clause, subclause or item of this Agreement, the Parties commit themselves, since now, to negotiate, as soon as possible, in replacement of the clause, subclause or item declared invalid or void,
              |  Valid terms and conditions that reflect the terms and conditions of the clause, subclause or invalid or void item, subject to the intent and purpose of the Parties when negotiating the clause,
              |  subclause or invalid or void item and the context in which it is inserted . The waiver of either Party's exercise of any of the rights granted in this Agreement shall take effect only in writing.
              |  No tolerance, delay or indulgence of any Party in enforcing any provision of this Agreement shall prejudice or restrict the rights of such Party, nor shall it prevent such Party from exercising
              |  such rights or any other right at such time as it deems appropriate.  The inability of a Party to carry out activities as provided for in this Agreement shall be forgiven if it results from a necessary
              |  fact, the effects of which could not be avoided or prevented, including, but not limited to, wars, shutdowns, fires, meteorological phenomena and / or Interruptions in airline services or
              |  governmental acts. A Party whose performance is impaired by one of these unforeseeable causes shall immediately notify the other Party of the occurrence of such event.
              |  The Parties acknowledge and agree that the Company (s) may file a complete copy of the Agreement entered into, and further agree that any request for a copy made to a Company under
              |  this Agreement may be served in electronic form. In the event of any disagreement between the Parties under this Agreement, they shall endeavor to reach a friendly settlement.

      .modal-footer
        button.btn.btn-default data-dismiss="modal"
          = t :close
        button.btn.green.cpy-submit-button.pt-br ng-click="acceptTermsOfUse()"
          | ACCEPT TERMS OF USE

