h1.page-title.green-title Why sell rooms per hours?
.with-margin.why-sale
  .row
    .col-sm-6
      h4 Incremental revenue
      p.explanation
        | Explore new markets and generate more revenue
    .col-sm-6
      h4 Greater profitability
      p.explanation
        | Sell the same room more than once in the same day
  .row
    .col-sm-6
      h4 Attract new clients
      p.explanation
        | Thousands of people would like to book a hotel room for only a few hours.
    .col-sm-6
      h4 Competitive advantage
      p.explanation
        | People are seeking more and more for new experiences and products tailored to their needs. Is your hotel going to miss on this trend?
  .row
    .col-sm-6
      h4 100% free, we don’t charge any fees
      p.explanation
        | Our platform was developed to generate extra revenue to your hotel, we won’t charge you anything
    .col-sm-6
      h4 FREE SALE platform
      p.explanation
        | We won’t tie you with contracts. Sell when you want and as many rooms as you want.
