- if @voucher.booking.user.locale == 'en'
  p Hello, you've saved on your hotel booking!
  p You do not have to pay for a daily if you will stay only a few hours at the hotel. <br> But we also want you to save money on taxi! Thinking about it, we closed a partnership with Easy Taxi: <br> Every confirmed booking on our website, you receive R$10,00 to use with Easy Taxi!

  p To use your credit just follow the steps below:
  p 1. Download the Easy Taxi app;
  p 2. Register your credit card in the app;
  p 3. Ask a taxi via "credit card in the app" option;
  p 4. At the time of the payment, click in the "promotional code" field, enter the discount code that is below and click confirm.

  h2 CODE: #{@voucher.code}
  p Important: You can use your promotional code until #{l(@voucher.expiration_date)} at any time

- else
  p Olá, você já economizou em sua reserva de hotel!
  p Não teria por que pagar por uma diária sendo que você vai ficar apenas algumas horas no hotel. <br> Mas queremos que economize também no táxi! Pensando nisso, buscamos uma parceria com a Easy Taxi: <br> A cada reserva confirmada em nosso site, você recebe R$10,00 para usar na Easy Taxi!

  p Para usar seu crédito basta seguir os passos abaixo:
  p 1. Baixe o aplicativo da Easy Taxi;
  p 2. Cadastre seu cartão de crédito no aplicativo;
  p 3. Peça um taxi pela opção "cartão de crédito no app";
  p 4. No momento da cobrança, clique no campo "código promocional", digite o código de desconto que está abaixo e clique em confirmar.

  h2 CÓDIGO: #{@voucher.code}
  p Importante: Você poderá usar seu código promocional até #{l(@voucher.expiration_date)} em qualquer horário
