- if @voucher.booking.user.locale == 'en'
  p Hello, how are you?
  p We are always seeking advantages for our customers. <br> One of them is that you earn R$50 for a first trip with Uber.

  p Don't know Uber yet?

  p The Uber is your chauffeur! An application that connects passengers to private motorists in minutes. <br> A totally modern and innovative way to get around at your fingertips.

  h2 Your promo code: #{@voucher.code}

  p Promotion information:
  p 1. The code is valid on the first trip of new users
  p 2. Valid until 31/Dec/2015
  p 3. If the total fare higher than R$50, you must pay the difference.

- else
  p Olá, tudo bem?
  p Estamos sempre buscando vantagens para nossos clientes. <br> Umas delas é que você ganha R$50 para uma primeira viagem com Uber.

  p Ainda não conhece o Uber?

  p O Uber é seu motorista particular! Um aplicativo que conecta passageiros a motoristas particulares em questão de minutos. <br> Um jeito totalmente moderno e inovador de se locomover ao alcance de seus dedos.

  h2 Seu código promocional: #{@voucher.code}

  p Informações da promoção:
  p 1. O código é válido na primeira viagem de novos usuários;
  p 2. Válido até 31/dez/2015;
  p 3. Em caso de tarifa total maior que R$50, o usuário deverá arcar com a diferença.