@media (max-width: 395px)
  .public-places-controller.index-city-action
    .row.main_airport_box
      margin-left: 10% !important
    .row.main_city_box
      margin-left: 10% !important
    .main_hotel_description
      margin-top: 200px !important

@media (max-width: 422px)
  .public-places-controller.index-city-action
    .main_hotel_description
      margin-top: 80px

@media (max-width: 550px)
  .public-places-controller.index-city-action
    margin-top: 0px !important
    .main_airport_description
      margin-bottom: 12%
    .airport_form_filter
      display: block

    .airport_filter_by, input.airport_filter, #airport_submit
      margin-left: 2px
      margin-top: 10px
    .airport_filter
      margin-bottom: 10px
    .main_hotel_description
      margin-top: 80px

@media (max-width 551px)
  .public-places-controller.index-city-action
    .main_airport_description
      margin-top: 140px
    .airport_filter_by
      width: 200px
    .main_hotel_description
      margin-top: 80px
    .row.main_airport_box
      margin-left: 20% !important

@media (min-width: 552px) and (max-width: 630px)
  .public-places-controller.index-city-action
    .row.main_airport_box,
    .row.main_city_box
      margin-left: 28% !important

@media (min-width: 552px) and (max-width: 705px)
  .public-places-controller.index-city-action
    .row.main_airport_box
      position: relative
      margin-left: 30% !important

@media (min-width: 706px) and (max-width: 769px)
  .public-places-controller.index-city-action
    .row.main_airport_box
      position: relative
      margin-left: 30% !important

@media (min-width: 552px) and (max-width: 745px)
  .public-places-controller.index-city-action
    .airport_filter_by
      width: 42%

@media (max-width: 769px)
  .public-places-controller.index-city-action
    
    .main_airport_title
      font-size: 34px
      margin-top: 40%
      margin-bottom: 20%

    .airport_hotels_index
      overflow-x: hidden !important

    .main_airport_description
      margin-top: 125px

    .main_hotel_description
      margin-top: 180px

    .row.main_airport_box
      position: relative
      margin-left: 20%

      .col-md-12
        height: 250px
        overflow-x: scroll

    .row.main_city_box
      width: 202px
      position: relative
      margin-top: 275px
      margin-left: 35%

      .col-md-12
        height: 250px
        overflow-y: scroll

@media (min-width: 770px) and (max-width: 955px)
  .public-places-controller.index-city-action
    .container.main_hotel_container,
    .container.airport_image_container
      position: sticky

@media (min-width: 770px)
  .public-places-controller.index-city-action
    .container.main_hotel_container
      margin-right: 4px
    .row.main_airport_box
      width: 202px
      top: 0
      margin-left: -28%
    .row.main_city_box
      width: 202px
      left: 2%
      margin-left: 0
    .city_hotels_index
      overflow-x: visible !important
