- I18n.with_locale(@booking.user.locale) do
  - content_for(:title) { t("views.agency_mailer.send_booking_creation_notice.title", client: @client.name) }
  p == t("views.agency_mailer.send_booking_creation_notice.greeting", agency_name: @agency.name)

  p == t("views.agency_mailer.send_booking_creation_notice.the_booking_initiated_successfully", client_name: @client.name, pack_in_hours: @booking.pack_in_hours, checkin_date: @booking.checkin_date.strftime('%d/%m/%Y'), hotel_name: @booking.offer.hotel.name)

  p == t("views.agency_mailer.send_booking_creation_notice.15_minutes_notice")

  p == t("views.agency_mailer.send_booking_creation_notice.view_reservation")
  p = link_to public_root_url, public_root_url
