- I18n.with_locale(@booking.user.locale) do
  - content_for(:title) { t("views.agency_mailer.send_booking_confirmation_notice.title", client_name: @client.name, booking_id: @booking.id) }
  p == t("views.agency_mailer.send_booking_confirmation_notice.greeting", agency_name: @agency.name)
  p == t("views.agency_mailer.send_booking_confirmation_notice.the_booking_confirmation_successfully", client_name: @client.name, checkin_date: @booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M"), hotel_name: @booking.hotel.name )

  h2 == t("views.agency_mailer.send_booking_confirmation_notice.reservation_info")
  p
    = t("views.agency_mailer.send_booking_confirmation_notice.booking_id", booking_id: @booking.id)
    br/
    | Hotel: #{@booking.hotel.name}
    br/
    - if @booking.is_meeting_offer?
      = t("views.agency_mailer.send_booking_confirmation_notice.meeting_room_name", meeting_room: @booking.offer.meeting_room.send("name_#{I18n.locale}"))
    - elsif @booking.is_event_offer?
      = t("views.agency_mailer.send_booking_confirmation_notice.ballroom_name", event_hall_name: @booking.offer.event_room.send("name_#{I18n.locale}"))
    - else
      = t("views.agency_mailer.send_booking_confirmation_notice.room_type", room_type: @booking.offer.room_type.send("full_name_#{I18n.locale}"))
    br/
    = t("views.agency_mailer.send_booking_confirmation_notice.checkin", checkin_timestamp: @booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M"))
    br/
    - text_hour = @booking.offer.pack_in_hours.eql?(1) ? t('hour') : t('hours')
    = "#{t("views.agency_mailer.send_booking_confirmation_notice.package", pack_in_hours: @booking.offer.pack_in_hours)} #{text_hour}"
    br/
    = t("views.agency_mailer.send_booking_confirmation_notice.checkout", checkout_timestamp: @booking.offer.checkout_timestamp.strftime("%d/%m/%Y %H:%M"))
    br/
    = t("views.agency_mailer.send_booking_confirmation_notice.number_of_people", number_of_people: @booking.number_of_people)
    br/
    = t("views.agency_mailer.send_booking_confirmation_notice.guest_name", guest_name: @booking.guest_name)
    br/
    = t("views.agency_mailer.send_booking_confirmation_notice.total_value", total_price: number_to_currency(@booking.total_price, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol])) 


  h2 == t("views.agency_mailer.send_booking_confirmation_notice.payment_information")
  p
    - if (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured] || @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced])
      = t("views.agency_mailer.send_booking_confirmation_notice.payment_online")
    - elsif @booking.status == Booking::ACCEPTED_STATUSES[:invoiced_by_agency]
      = t(:this_booking_paid_by_agency)
    - else
      = t("views.agency_mailer.send_booking_confirmation_notice.payment_at_destination")
      p = t("views.agency_mailer.send_booking_confirmation_notice.accepts_methods_payment", payment_methods: @booking.hotel.send("payment_method_#{I18n.locale}"))

  p
    - if @booking.hotel.accepts_booking_cancellation?
      p = t("views.agency_mailer.send_booking_confirmation_notice.accept_cancelation", minimum_hours_of_notice: @booking.hotel.minimum_hours_of_notice)
    - else
      p = t("views.agency_mailer.send_booking_confirmation_notice.not_accept_cancelation")

  h2 == t("views.agency_mailer.send_booking_confirmation_notice.hotel_details")
  p
    b #{@booking.hotel.name}
    br/
    | #{@booking.hotel.address}


  | -------------------------

  p = t("views.agency_mailer.send_booking_confirmation_notice.view_your_bookings_visit")
  p = link_to public_root_url, public_root_url
