- content_for(:title) { "A reserva de #{@client.name} não foi confirmada com sucesso" }
p Olá, #{@agency.name}.
p A reserva de #{@client.name} para #{@booking.checkin_date.strftime('%d/%m/%Y')} no hotel #{@booking.hotel.name} não foi confirmada pois houve um problema ao processar o cartão de crédito fornecido.

p Para visualizar os dados de #{@client.name} e acessar sua conta novamente, acesse:
p = link_to agency_client_url(@client), agency_client_url(@client)

p Para acessar seu painel clique no link abaixo:
p = link_to agency_root_url, agency_root_url
