- content_for(:title) { "Sua senha" }
p Olá, #{@agency.name}! Seja bem-vindo ao HotelQuando.com.
p Sua agência foi cadastrada na nossa plataforma. Seus dados para acesso são:
p.small
  span.gray login:&nbsp;
  span = @agency.login

p.small
  span.gray senha:&nbsp;
  span = @agency.password

p Para acessar seu painel clique no link abaixo:
p = link_to agency_root_url, agency_root_url
