
.container
  .row
    .col-md-12.logo
        = image_tag 'logo-green-white.png', class: 'hq-logo'
    .col-md-6.col-md-offset-3
      .page_wrapper
        .back-page
        .visible.login-box
          h1 = t('views.hotel.sessions.supplier_area')

          = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
            = f.error_notification
            - if flash[:alert]
              p.alert.alert-danger
                = flash[:alert]
            .form-group.login.optional.hotel_hotel_login
              label.login.optional.col-md-3.control-label for="hotel_hotel_login"
                | #{t('views.hotel.sessions.login')}
              .col-md-9
                span.input-icon.input-icon-right
                  input autofocus="autofocus" class="string login optional col-md-12 form-control" id="hotel_hotel_login" name="hotel_hotel[login]" type="text" value=""
                  i.icon-user

            .form-group.password.optional.hotel_hotel_password
              label.password.optional.col-md-3.control-label for="hotel_hotel_password"
                | #{t('views.hotel.sessions.password')}
              .col-md-9
                span.input-icon.input-icon-right
                  input.password.optional.col-md-12.form-control id="hotel_hotel_password" name="hotel_hotel[password]" type="password"
                  i.icon-lock

            .form-group
              .col-md-3
              .col-md-9
                .checkbox.no-padding
                  label
                    input#hotel_hotel_remember_me.ace name="hotel_hotel[remember_me]" type="checkbox" value="1"
                    span.lbl
                      =< t('views.hotel.sessions.stay_logged_in')

            div.login-actions
              button.btn.pull-right.btn-primary.cpy-submit-button name="commit" type="submit"
                span
                  | #{t('views.hotel.sessions.enter')}
                i.icon-arrow-right.icon-on-right
              = render partial: "hotel/shared/links", class: 'pull-left'
              .clearfix
