$('.js-error').hide();
<% if @search_log_user.errors.any? %>

  $('.js-form-wrapper').show();
  $('.js-error').html("<%=@search_log_user.errors.full_messages.first %>");
  $('.js-error').fadeIn();
<% else %>
  $('.js-form-wrapper').hide();
  $('.js-success').fadeIn();
<% end %>
$('body').append("<div class='cpy_ajax_end'></div>");
