.row
  .col-xs-12.border-box.with-padding
    h1.page-title Como funciona?
    .divider

    .row.text-center
      .col-md-4
        .service-box
          h2 = t :you_decide_when_check_into_the_hotel
          .image = image_tag('calendar-and-clock-blue.png')
          p = t :you_decide_when_check_into_the_hotel_description
      .col-md-4
        .service-box
          h2 = t :you_decide_how_many_hours_you_need
          .image = image_tag('clock-blue.png', class: 'clock-image')
          p = t :you_decide_how_many_hours_you_need_description
      .col-md-4
        .service-box style="border-bottom: none"
          h2 = t :pay_a_fair_price
          .image = image_tag('preco-justo-blue.png', class: 'price-image')
          p = t :pay_a_fair_price_description

= render partial: "/public_affiliate/home/when_booking/pt_br"

    / h2 Siga estes passos para fazer sua reserva:

    / .row
    /   .col-xs-12
    /     .display-table
    /       .display-table-cell.size-50-percent.with-padding.text-center
    /         span.big-number 1
    /         span.big-phrase Busque o seu hotel, colocando as informações de destino, check-in e pacote
    /       .display-table-cell
    /         = image_tag "home/#{I18n.locale}/search_box.jpg", class: "img rounded-border"
    / .row
    /   .col-xs-12
    /     .display-table
    /       .display-table-cell
    /         = image_tag "home/#{I18n.locale}/hotels_index.jpg", class: "img rounded-border"
    /       .display-table-cell.size-50-percent.with-padding.text-center
    /         span.big-number 2
    /         span.big-phrase Escolha o hotel, clique em "Ver detalhes"
    / .row
    /   .col-xs-12
    /     .display-table
    /       .display-table-cell.size-50-percent.with-padding.text-center
    /         span.big-number 3
    /         span.big-phrase Escolha o tipo de quarto, clique em "Reservar"
    /       .display-table-cell
    /         = image_tag "home/#{I18n.locale}/reserve.jpg", class: "img rounded-border"

    / .row
    /   .col-xs-12
    /     .display-table
    /       .display-table-cell
    /         = image_tag "home/#{I18n.locale}/registration_login.jpg", class: "img rounded-border"
    /       .display-table-cell.size-50-percent.with-padding.text-center
    /         span.big-number 4
    /         span.big-phrase Entre com suas informações

    / .row
    /   .col-xs-10.col-xs-offset-1
    /     .display-table
    /       .display-table-cell.text-center.with-padding.last-row
    /         span.big-number 5
    /         span.big-phrase Preencha os dados necessários de reserva e pagamento e pronto! Você já terá uma reserva!
    /         br
    /         a data-target="#search-box-modal" data-toggle="modal" href="#" class="pill big blue" =t(:search_a_hotel_now)
