.public-layout.public-hotel-controller.index-action
  .mult-desc
    border-top: 1px solid #eeeeee
    font-size: 12px
    line-height: 1.4
    margin-top: 30px 
    padding-top: 25px
    .know
      position: relative
      bottom: 10px
      text-align: center
    .small
      font-size: 12px
      font-style: italic
      color: #aaaaaa
      letter-spacing: 0.5px
      margin: 5px 0
    .gray
      font-weight: bold 
  .multiplus-image-index
    margin-right: 20px
    height: 39px
    float: left
  .js-float-search-form
    margin: 0px
    display: inline-block
    width: 100%
    position: absolute
    bottom: 0px
    left: 0
    padding: 12px 20px
    color: white
    &.night
      background: $night-room-transparent
    &.day
      background: $day-room-transparent
    &.any-time
      background: $any-time-room-transparent
    &.floating
      position: fixed !important
      top: 0px
      bottom: auto !important
  .image-room-category
    height: 280px
    background-repeat: no-repeat
    background-size: 100% auto
    background-position: center

    &.night-rooms-background
      background-image: url('/assets/room-night-background.jpg')
    &.morning-rooms-background
      background-image: url('/assets/morning-room-background.jpg')
    &.any-time-rooms-background
      background-image: image-url('any-time-room-search2.jpg')
    &.meeting-rooms-background
      background-image: image-url('meeting_room_cover.jpg')
      background-size: cover
    &.any-time-airs-background
      background-image: image-url('any-time-airs.jpg')
      background-size: cover


  .describe-box,
  .describe-box-meeting-room,
  .describe-box-rooms
    padding: 80px 0px 0px 0px
    color: white
    p
      display: inline-block
      border: 1px solid white
      margin: 0px 20px
      padding: 5px

      span
        font-size: 20px
        color: white
        font-family: "Quicksand"
        font-weight: 500
    .describe-night
      display: none
    .describe-day
      display: none
    .describe-any-time
      display: none

  .search-not-found
    letter-spacing: 1px
    margin-top: 60px
    margin-bottom: 60px

    .no-matches
      margin-top: 20px
      margin-bottom: 50px

    .glyphicon
      font-size: 100px
      color: #555555
    .subscribe-form-wrapper
      width: 800px
      margin: 0 auto
      margin-top: 10px

      h5
        margin-bottom: 20px

      p.success
        color: #3c763d

    .label-email
      display: inline-block
      margin-right: 10px

    .input-email
      display: inline-block !important
      width: 300px
      padding: 22px 5px
      font-size: 16px

    .subscribe-button
      margin-left: 10px
      display: inline-block
      position: relative
      top: -2px

    .error
      margin-top: 10px
      color: red

  .hotel-list-page-wrapper
    margin-bottom: 20px

    .btn
      display: inline-block

    .all-matches-hotels
      border-radius: 5px
      box-shadow: 0 0 10px lightgray
      padding: 20px 30px
      background: white
      min-height: 682px

      .title
        margin-bottom: 8px

      .order-button
        font-size: 13px
        padding: 5px
        height: 30px
        float: right
        background-color: #dddddd

      .exact-matches-hotels,.similar-matches-hotels
        .tudo-azul
          display: block
          margin-bottom: 20px
          border-radius: 5px

          .image
            text-align: center
            img
              width: 100px
              &.uber-img
                margin-right: 15px
                margin-top: 11px
              &.tudo-azul-img
                margin-right: 20px
              &.tudo-azul-img-no-uber
                margin-right: 35px
              &.multiplus-img
                margin-left: 0px
          .description-click-icon
            margin-top: 10px
          .description
            text-align: right
            margin-top: 33px
            font-size: 12px
            &.no-uber
              margin-top: 20px
            p
              margin: 0
              line-height: 18px
              color: #444
          .blue
            color: #16BBEA

        img
          border-radius: 5px


        .title
          font-size: 17px
          color: #444444
          letter-spacing: 1px

          .similar-matches-length,.exact-matches-length
            color: #57b12f

      .similar-matches-hotels
        .subtitle
          font-size: 13px
          color: #777777
          font-weight: 400

  .side-filter-informations
    background: whitesmoke
    position: relative
    right: -20px

    h3
      font-size: 14px
      font-weight: 800
      letter-spacing: 1px
      margin-bottom: 5px
      margin-top: 20px
      padding-bottom: 8px
      padding-top: 10px

  &.browserIE
    .hotel-list-page-wrapper
      .all-matches-hotels
        min-height: 687px
