div.col-xs-12.text-right
	- if current_public_affiliate_user.blank?
		= link_to t(:sign_in), public_affiliate_user_session_pt_br_path, class: "cpy-search-button btn search-button", style: "margin-right: 10px; margin-bottom: 4px; margin-top: 10px"
	- else
		= link_to t(:go_to_my_bookings), public_affiliate_bookings_path, class: "cpy-search-button btn search-button", style: "margin-right: 10px; margin-bottom: 4px; margin-top: 10px"