.row.border-box.hide-personalized
  .pull-right.user-links
    = link_to t(:new_search) , public_affiliate_root_path, class: "btn mini btn-success custom-success", style: "margin-right: 10px; margin-bottom: 4px; margin-top: 10px"

