= panel_section(name: 'API IFrame') do
  = show_for current_affiliate_affiliate do |u|

    .attributes-wrapper.client_address
      .attribute-title
        | Status do Afiliado 

      .content
        - if current_affiliate_affiliate.api_iframe_on
          - if current_affiliate_affiliate.token.blank?
            | Aguardando aprovação de cadastro.
          - else
            | Cadastro de afiliado aprovado com sucesso! 
            p
            | Segue código para copiar e colar no ambiente onde será exibido o IFrame:
            p style="font-weight: bold;"
              - link = "#{public_root_url}affiliate?token=" + current_affiliate_affiliate.token
              = "<IFRAME src='#{link}' style='width: 100%; height: 500px;'></IFRAME>"
            p
              | Para abrir o link no browser 
              = link_to "clique aqui", link
        - else
          | Ative a opção API IFrame em seu cadastro.
          br
          = link_to "clique aqui", affiliate_update_info_path

    = show_panel_buttons_section(path_to_return: :back)
