css:
  #btn-scroll-up{
    position: fixed !important;
    bottom: 0 !important;
  }
  th {
    text-align: left !important;
    background-color: #F2F2F2;
  }
  td {
    text-align: left !important;
  }
= panel_section(name: 'Documentação API Webservice') do
  = show_for current_affiliate_affiliate do |u|

    .attributes-wrapper
      .attribute-title
        | Rotas da API (Json)

      .content
        - if current_affiliate_affiliate.api_webservice_on && !current_affiliate_affiliate.api_webservice_test_token.blank?
          table.table.table-striped.table-bordered.table-hover
            thead
              tr
                th.center
                  | #
                th.center
                  | Nome da rota
                th.center
                  | Tipo de requisição
            tbody
                tr
                  td.center
                    | 1
                  td.center
                    a href="#hotel_search"
                      | Buscar hotéis
                  td.center
                    | GET
                tr
                  td.center
                    | 2
                  td.center
                    a href="#hotel_detail"
                      | Detalhes do hotel e ofertas
                  td.center
                    | GET
                tr
                  td.center
                    | 3
                  td.center
                    a href="#select_offer"
                      | Selecionar oferta
                  td.center
                    | GET
                tr
                  td.center
                    | 4
                  td.center
                    a href="#booking_post"
                      | Reservar
                  td.center
                    | POST
                  tr
                    td.center
                      | 5
                    td.center
                      a href="#booking_show"
                        | Exibir Reserva
                    td.center
                      | GET
                  tr
                    td.center
                      | 6
                    td.center
                      a href="#booking_cancel"
                        | Cancelar Reserva
                    td.center
                      | PUT
                /!
                  tr
                    td.center
                      | 7
                    td.center
                      a href="#"
                        | Reservas
                    td.center
                      | GET

        - else
          | Ative a opção API Webservice em seu cadastro e aguarde aprovação.
          br
          = link_to "clique aqui", affiliate_update_info_path

    - a         = current_affiliate_affiliate
    - token     = a.webservice_token.blank? ? a.api_webservice_test_token : a.webservice_token
    - timestamp = Time.new.tomorrow
    - date      = timestamp.day.to_s+"/"+timestamp.month.to_s+"/"+timestamp.year.to_s # date now +1 day to validate in search
    - time      = timestamp.hour.to_s+"/"+timestamp.min.to_s+"/"+timestamp.sec.to_s
    - hour      = timestamp.hour.to_s
    - min       = timestamp.min.to_s
    - if request.port == 80 then p = nil else p = request.port end
    / - #url      = "#{request.host}:#{p}/affiliate/api/v1/"
    - url      = "http://staging.hotelquando.com/affiliate/api/v1/"

    .attribute-title style="margin-top: 50px"
      hr
      h4#hotel_search
        | Buscar hotéis (GET)
      p
        | URL:
        - url_block = "hotels"
        - search_params = "?token=#{token}&by_latitude=-23.5505199&by_longitude=-46.6333094&by_pack_length=12&room_category=1&by_number_of_people=1&by_checkin_date=#{date}&by_checkin_hour=#{hour}"
        = link_to url+url_block, url+url_block+search_params, target: "_blank"

      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | by_latitude
              td
                | Latitude para busca do hotel
              td
                | -23.5505199
              td.center
                | *
            tr
              td
                | by_longitude
              td
                | Longitude para busca do hotel
              td
                | -46.6333094
              td.center
                | *
            tr
              td
                | by_pack_length
              td
                | Quantidade de horas para busca de ofertas
              td
                | 12
              td.center
                | *
            tr
              td
                | room_category
              td
                | Tipo de busca [ 1: quartos | 2: salas ]
              td
                | 1
              td.center
                | *
            tr
              td
                | by_number_of_people
              td
                | Quantidade de pessoas para o quarto
              td
                | 1
              td.center
                | *
            tr
              td
                | by_checkin_date
              td
                | Data de checkin no hotel
              td
                | date
              td.center
                | *
            tr
              td
                | by_checkin_hour
              td
                | Hora de checkin no hotel - hora não fracionada
              td
                = hour
              td.center
                | *


    .attribute-title style="margin-top: 50px"
      hr
      h4#hotel_detail
        | Detalhes do hotel e ofertas (GET)
      p
        | URL:
        - url_block = "hotels/19"
        - show_hotel_params = "?token=#{token}&by_latitude=-23.5505199&by_longitude=-46.6333094&by_pack_length=12&by_number_of_people=1&by_checkin_date=#{date}&by_checkin_hour=#{hour}"
        = link_to url+url_block, url+url_block+show_hotel_params, target: "_blank"
        br
        i
          | Caso este link não retorne resultados, substitua o :id do hotel, neste caso 19, por um id encontrado ao clicar no link:
        = link_to "Buscar Hotéis", "#hotel_search"
      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | :id
              td
                | Id do hotel que deseja exibir os  detalhes ( ../hotels/:id )
              td
                | 19
              td.center
                | *
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | by_latitude
              td
                | Latitude para busca do hotel
              td
                | -23.5505199
              td.center
                | *
            tr
              td
                | by_longitude
              td
                | Longitude para busca do hotel
              td
                | -46.6333094
              td.center
                | *
            tr
              td
                | by_pack_length
              td
                | Quantidade de horas para busca de ofertas
              td
                | 12
              td.center
                | *
            tr
              td
                | by_number_of_people
              td
                | Quantidade de pessoas para o quarto
              td
                | 1
              td.center
                | *
            tr
              td
                | by_checkin_date
              td
                | Data de checkin no hotel
              td
                = date
              td.center
                | *
            tr
              td
                | by_checkin_hour
              td
                | Hora de checkin no hotel - hora não fracionada
              td
                = hour
              td.center
                | *


    .attribute-title  style="margin-top: 50px"
      hr
      h4#select_offer
        | Selecionar oferta (GET)
      p
        | URL:
        - url_block = "bookings/new"
        - t = timestamp
        - ts = "#{t.year}-#{(t.month < 10) ? '0'+t.month.to_s : t.month}-#{(t.day < 10) ? '0'+t.day.to_s : t.day} #{hour}:00:00 0000"
        - book_new_params = "?token=#{token}&pack_in_hours=12&number_of_people=1&checkin_timestamp=#{ts}&price=80.0&room_type_id=59"
        = link_to url+url_block, url+url_block+book_new_params, target: "_blank"
        br
        i
          | Caso este link não retorne resultados, substitua os parâmetros price (80.0) e o room_type_id (59), por valores encontrados no link:
        = link_to "Detalhes do hotel e ofertas", "#hotel_detail"

      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | checkin_timestamp
              td
                | Timestamp do checkin: horário sempre inteiro e fuso horário igual a 0000
              td
                = ts
              td.center
                | *
            tr
              td
                | pack_in_hours
              td
                | Quantidade de horas para busca de ofertas
              td
                | 12
              td.center
                | *
            tr
              td
                | price
              td
                | Preço do quarto selecionado
              td
                | 80.0
              td.center
                | *
            tr
              td
                | number_of_people
              td
                | Quantidade de pessoas para o quarto
              td
                | 1
              td.center
                | *
            tr
              td
                | room_type_id
              td
                | Id do tipo de quarto, somente informar caso escolhido buscar por quartos
              td
                | 59
              td.center
                | *OR
            tr
              td
                | business_room_id
              td
                | Id do tipo de sala, somente informar caso escolhido buscar por salas
              td
                | 19
              td.center
                | *OR


    .attributes-wrapper  style="margin-top: 50px"
      hr
      h4#booking_post
        | Reservar  (POST)
      p
        | URL:
        - url_block = "bookings"
        - book_post_params = "?token=#{token}&offer_id=2612410&guest_name=#{a.name}&number_of_people=1&note=Incluir toalha adicional&guest_email=#{a.email}&phone_number=#{a.phone_number}"
        = link_to url+url_block, url+url_block+book_post_params, target: "_blank", method: "POST"
        br
        i
          | Substitua o parâmetro offer_id (2612410), por um Id de oferta encontrado no link:
        = link_to "Selecionar Oferta", "#select_offer"

      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | offer_id
              td
                | Id da oferta selecionada
              td
                = "2612410"
              td.center
                | *
            tr
              td
                | guest_name
              td
                | Nome do hóspede - mesmo que a quantidade de hóspede seja maior que 1, informar apenas o nome do hóspede principal
              td
                = a.name
              td.center
                | *
            tr
              td
                | number_of_people
              td
                | Quantidade de pessoas para o quarto
              td
                | 1
              td.center
                | *
            tr
              td
                | phone_number
              td
                | Telefone do hóspede
              td
                = a.phone_number
              td.center
                | *
            tr
              td
                | guest_email
              td
                | Email do hóspede
              td
                = a.email
              td.center
                |
            tr
              td
                | note
              td
                | Observações para sua reserva
              td
                | Incluir toalha adicional
              td.center
                |


    .attributes-wrapper  style="margin-top: 50px"
      hr
      h4#booking_show
        | Exibir Reserva  (GET)
      p
        | URL:
        - url_block = "bookings/"
        - book_show_params = ":id?token=#{token}"
        = link_to url+url_block+":id", url+url_block+book_show_params, target: "_blank", method: "GET"
        br
        i
          | Substitua o parâmetro :id, por um Id de reserva após criar uma, você pode usar o backoffice para visualizar as suas reservas ou usar o link abaixo que retornará os detalhes após realizar sua reserva:
        = link_to "Reservar", "#booking_post"

      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | :id
              td
                | Id da reserva selecionada ( ../bookings/:id )
              td
                = "3540"
              td.center
                | *




    .attributes-wrapper  style="margin-top: 50px"
      hr
      h4#booking_cancel
        | Cancelar Reserva (PUT)
      p
        | URL:
        - url_block = "bookings/"
        - book_cancel_params = ":id/cancel?token=#{token}"
        = link_to url+url_block+":id/cancel", url+url_block+book_cancel_params, target: "_blank", method: "PUT"
        br
        i
          | Substitua o parâmetro :id, por um Id de reserva ativa após criar uma, você pode usar o backoffice para visualizar as suas reservas ou usar o link abaixo que retornará os detalhes após realizar sua reserva:
        = link_to "Reservar", "#booking_post"

      p
        | Parâmetros:

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th
              | Parâmetro
            th
              | Descrição
            th
              | Exemplo
            th.center
              | Req.
        tbody
            tr
              td
                | token
              td
                | Validação do afiliado no sistema
              td
                = token
              td.center
                | *
            tr
              td
                | :id
              td
                | Id da reserva selecionada ( ../bookings/:id )
              td
                = "3540"
              td.center
                | *


    /!
      .attributes-wrapper
        .content
          Reservas  (GET)

    = show_panel_buttons_section(path_to_return: :back)

javascript:

  // Scrolls to the selected menu item on the page
  $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              if (target.length) {
                  $('html,body').animate({
                      scrollTop: target.offset().top
                  }, 1000);
                  return false;
              }
          }
      });
  });
