= panel_section(name: 'API Webservice') do
  = show_for current_affiliate_affiliate do |u|

    .attributes-wrapper.client_address
      .attribute-title
        | Status do Afiliado

      .content
        - if current_affiliate_affiliate.api_webservice_on
          - if current_affiliate_affiliate.api_webservice_test_token.blank?
            | Aguardando aprovação de cadastro.
          - else
            - if current_affiliate_affiliate.webservice_token.blank?
              | Cadastro de afiliado aprovado com sucesso!
              p
              | Por favor consulte a documentação para concluir a integração:
              br
              = link_to "clicando aqui", get_webservice_affiliate_doc_index_path("v1")
              p
              | Segue token para ambiente de teste que será exigido para validar as requisições:
              b
                = current_affiliate_affiliate.api_webservice_test_token
              p
              | Para poder validar suas reservas será necessário concluir uma reserva e o cancelamento da mesma reserva neste ambiente:
              b
                | http://staging.hotelquando.com.br/affiliate/api/v1/hotels?token=
                = current_affiliate_affiliate.api_webservice_test_token
            - else
              | Habilitação de API webservice aprovada com sucesso!
              p
              | Agora você já pode executar suas reservas em nosso ambiente de produção, caso tenha mais alguma dúvida, por favor consulte novamente nossa documentação:
              br
              = link_to "clicando aqui(V1)", get_webservice_affiliate_doc_index_path("v1")
              p
              | Segue token para ambiente de produção que será exigido para validar suas requisições:
              p style="font-weight: bold;"
                = current_affiliate_affiliate.webservice_token
              p
                | Seu ambiente de produção é:
                b
                  | https://www.hotelquando.com.br/affiliate/api/v1/hotels?token=
                  = current_affiliate_affiliate.webservice_token

        - else
          | Ative a opção API Webservice em seu cadastro.
          br
          = link_to "clique aqui", affiliate_update_info_path

    = show_panel_buttons_section(path_to_return: :back)
