- distance = search_row[:distance]
- hotel = search_row[:hotel]
- offer = search_row[:min_offer]
- if similar_hotel
  - row_extra_class = 'js-similar-hotel-row'
.box.js-hotel-row.js-individual-hotel.individual-hotel ng-show="hotelPriceAndCategoryAndDistanceMatchFilter(#{total_price_for_number_of_people(params[:by_number_of_people], offer)},#{hotel.category[0]}, #{hotel.distance_to(@searched_address_coordinates).round(2)})" class="#{row_extra_class}"
  .row.desktop-individual-hotel-row.hidden-xs.hidden-sm
    .hotel-photo-col.col-md-4
      .row
        .col-md-12
          - unless Rails.env.test?
            - hotel_main_photo_url = hotel.main_photo_url
            - if hotel_main_photo_url
              = link_to(public_affiliate_hotel_path(id: hotel.id, name: hotel.name.parameterize, length_of_pack: params[:by_pack_length], checkin_date: params[:by_checkin_date], checkin_hour: params[:by_checkin_hour], number_of_people: params[:by_number_of_people]), class: 'cpy-hotel-details-link') do
                = image_tag hotel_main_photo_url, class: 'hotel-photo', alt: ''
    .hotel-info-col.col-md-8
      .row
        .col-md-12
          .row
            .col-md-7
              .hotel-name
                = link_to(hotel.name, public_affiliate_hotel_path(id: hotel.id, name: hotel.name.parameterize, length_of_pack: params[:by_pack_length], checkin_date: params[:by_checkin_date], checkin_hour: params[:by_checkin_hour], number_of_people: params[:by_number_of_people]))
              .hotel-rating
                = render_stars_from_hotel(hotel)
            .col-md-5
              .hotel-from-price.pull-right.text-right
                = t(:from).downcase
                br
                span = current_currency.money_sign
                span.bigger = number_to_currency(calculate_currency(total_price_for_number_of_people(params[:by_number_of_people], offer), Hotel::CURRENCY_SYMBOL_REVERSED[hotel.currency_symbol]).round, unit: "", precision: 0)
          .row
            .col-md-12
              .hotel-address
                span.map-marker
                  i.glyphicon.glyphicon-map-marker
                span.address
                  = "#{hotel.address}: "
                br
                span.distance
                  = "#{t :distance}: "
                  span.number-distance
                    = "#{distance.to_s.gsub('.',',')} KM"
                span.see-map
                  = link_to public_affiliate_hotel_map_show_path(id: hotel.id, hotel: {latitude: hotel.latitude, longitude: hotel.longitude, name: hotel.name}), "data-toggle" => "modal", "data-target" => ".js-room-type-modal", remote: true do
                    i.glyphicon.glyphicon-globe>
                    = t(:see_map)
          /.row
            .col-md-12
              .hotel-description
                = hotel.send("description_#{I18n.locale}").truncate(200)
          /.row
            .col-md-12
              .hotel-payment-methods
                - payment_methods =  "#{t :payment_methods_accepted_by_the_hotel}: #{hotel.send("payment_method_#{I18n.locale}").downcase.capitalize}"
                - payment_methods += '.' unless payment_methods[-1] == '.'

                => payment_methods
                - if hotel.accept_online_payment?
                  b
                    = t(:this_hotel_accepts_online_payment) + '.'
  - if can_current_public_affiliate_user_afford?(price_without_tax: offer.price, pack_in_hours: params[:by_pack_length])
    .row.hidden-xs.hidden-sm style="margin-top: 4px"
      .col-md-4
        .points-multiplus
          p.product-price-from = t(:accrue)
          p.product-price
            span.strong = multiplus_point(total_price_for_number_of_people(params[:by_number_of_people], offer))
            em = t(:multiplus_points)
      .col-md-6
      .col-md-2
        .pull-right.hotel-details
          = link_to(public_affiliate_hotel_path(id: hotel.id, name: hotel.name.parameterize, length_of_pack: params[:by_pack_length], checkin_date: params[:by_checkin_date], checkin_hour: params[:by_checkin_hour], number_of_people: params[:by_number_of_people]), class: 'btn btn-success cpy-hotel-details-link') do
            = t(:reserve)
  - else
    .row.hidden-xs.hidden-sm
      .col-md-10
      .col-md-2
        .pull-right.hotel-details
          .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:booking_not_allowed_button_title)}"
            = button_tag t(:booking_not_allowed), class: 'btn btn-danger'


  .row.mobile-individual-hotel-row.hidden-md.hidden-lg onclick="location.href='#{public_affiliate_hotel_path(id: hotel.id, name: hotel.name.parameterize, length_of_pack: params[:by_pack_length], checkin_date: params[:by_checkin_date], checkin_hour: params[:by_checkin_hour], number_of_people: params[:by_number_of_people])}';"
    .hotel-photo-col.col-xs-4
      .row
        .col-xs-12
          - unless Rails.env.test?
            - hotel_main_photo_url = hotel.main_photo_url
            - if hotel_main_photo_url
              = image_tag hotel_main_photo_url, class: 'hotel-photo', alt: ''
    .hotel-info-col-mobile.col-xs-8
      .row
        .col-xs-12.hotel-name
          = truncate(hotel.name, length: 30)
      .row.hotel-details
        .col-xs-6.hotel-address
          span.map-marker
            i.glyphicon.glyphicon-map-marker
          span.address
            = "#{truncate(hotel.address, length: 50)}"
          br
          span.distance
            = "#{t :about} #{hotel.distance_to(@searched_address_coordinates).round(1).to_s.gsub('.',',')} KM"
        .col-xs-5.hotel-rating-price
          .row.hotel-rating.text-right
            = render_stars_from_hotel_mobile(hotel)
          .row.hotel-from-price.text-right
            = t(:from).downcase
            br
            span = current_currency.money_sign
            span.bigger = number_to_currency(calculate_currency(total_price_for_number_of_people(params[:by_number_of_people], offer), Hotel::CURRENCY_SYMBOL_REVERSED[hotel.currency_symbol]).round, unit: "", precision: 0)
        .col-xs-1.continue-icon
          i.fa.fa-angle-right

  - if @any_available_voucher && mobile_device?
    p style="display: inline; font-size: 10px"
      | Confirme sua reserva e
      strong  ganhe R$10
      |  para usar com:
    = image_tag 'easy-taxi-logo.png', style: 'display: inline; width: 60px'
