.row
  .col-sm-12.border-box
    = simple_form_for [:public, company_detail] do |f|

      = f.input :name
      = f.input :cnpj, label: t("activerecord.attributes.company_detail.cnpj")
      = f.input :financial_contact, label: t("activerecord.attributes.company_detail.financial_contact")
      = f.input :phone_financial_contact, label: t("activerecord.attributes.company_detail.phone_financial_contact"), input_html: { class: "#{I18n.locale == :pt_br ? 'js-mask-mobile-phone-with-country' : ''}" }
      = f.input :street, label: t(:street), input_html: { class: 'big-input col-xs-12'}
      = f.input :city, label: t(:city), input_html: { class: 'big-input col-xs-12'}
      = f.input :state, label: t(:state), input_html: { class: 'big-input col-xs-12'}
      .form-group.string.optional.company_detail_country
        label.string.optional.col-sm-3.control-label for="company_detail_country" = t('country')
        .col-sm-4
          input#company_detail_country.string.optional.col-sm-12.form-control name="company_detail[country]" type="text" value="#{@company_detail.country}" /
      = f.input :postal_code, label: t(:postal_code), input_html: { class: 'big-input col-xs-12'}
      = f.input :number, label: t('users.number'), input_html: { class: 'big-input col-xs-12'}
      = f.input :complement, label: t(:complement), input_html: { class: 'big-input col-xs-12'}

      .form-actions.wizard-actions.form-buttons.text-right
        = link_to("<i class='glyphicon glyphicon-arrow-left'></i> #{t(:return)}".html_safe, {action: 'index'}, {class: 'btn btn-prev '})
        = button_tag(type: 'submit', class: "btn btn-success btn-next cpy-submit-button") do
          => t(:save)
          i.glyphicon.glyphicon-arrow-right
