.row
  .col-sm-12.border-box
    .page-header
      h1.page-title
        => t(:listing) + ' ' + t(:client).downcase
        = link_to t(:new_client), new_public_company_detail_path, class: 'btn btn-sm btn-success pull-right cpy-add-link'

- if @company_details.length == 0
  .row
    .col-sm-12.border-box.with-padding-bottom
      .alert.alert-info
        = t(:none) + ' ' + t(:client).downcase + ' ' + t(:registered) + '.'
- else
  .row
    .col-sm-12.border-box.with-padding-bottom.hidden-xs.hidden-sm
      .row
        .col-sm-12
          table.table.table-striped.table-hover.mini
            thead
              tr
                th.center.size-8-percent
                  | Id
                th.center.size-74-percent
                  = t(:name)
                th.center.size-18-percent
                  = t(:actions)
            tbody
              - @company_details.each do | company |
                tr.center
                  td
                    = company.id
                  td
                    = company.name
                  td.action-list
                    = link_to t(:details), public_company_detail_path(company.id), class: 'btn mini btn-primary', style: 'margin-right: 5px'
                    = link_to t(:edit), edit_public_company_detail_path(company.id), class: 'btn mini green cpy-confirm-booking-button'
                    //= link_to t(:disable), edit_public_company_detail_path(company.id), class: 'btn red mini cpy-cancel-button'

    .col-sm-12.border-box.with-padding-bottom.hidden-md.hidden-lg
      = render partial: "/public/company_details/index/mobile_company_details"

