.row
  .col-sm-12.border-box
    .page-header
      h1.page-title
        = t(:viewing) + ' ' + t(:client).downcase
.row
  .col-sm-12.border-box        
    = show_for @company_detail do |u|
      = u.attribute :name
      = u.attribute :cnpj
      = u.attribute :financial_contact
      = u.attribute :phone_financial_contact
      = u.attribute :street
      = u.attribute :city
      = u.attribute :state
      = u.attribute :country
      = u.attribute :postal_code
      = u.attribute :number
      = u.attribute :complement
    hr
    .wizard-actions.form-actions.text-right
      = link_to("<i class='glyphicon glyphicon-arrow-left'></i> #{t(:return)}".html_safe, public_company_details_path, {class: 'btn btn-prev '})
      = link_to "<i class='glyphicon glyphicon-edit'></i> #{t(:edit)}".html_safe, edit_public_company_detail_path(@company_detail.id), class: 'btn btn-info'

    hr
= render partial: 'public/company_details/cost_centers/index'
= render partial: 'public/company_details/job_titles/index'
