/ = form_tag public_bookings_path, method: :get, class: 'form-horizontal' do
/   .row
/     .col-sm-12.border-box.gray.filter
/       - if current_public_user.is_a_agency? || current_public_user.is_a_company?
/         .row
/           .col-sm-6
/             .form-group
/               = label_tag :q, t(:filter_by_checkin_interval), class: 'control-label no-left-padding filter-by-checkin'
/               .input-group
/                 span.input-group-addon.size-35-percent style="border-bottom-left-radius: 0px"
/                   = t(:between)
/                 input.js-date-picker.form-control.text-right.js-mask-date.js-initial-date name='by_checkin_date[initial_date]' value="#{params[:by_checkin_date].try(:[],:initial_date) || ''}"
/                 span.input-group-addon style="border-bottom-right-radius: 0px"
/                   i.glyphicon.glyphicon-calendar
/               .input-group
/                 span.input-group-addon.size-35-percent style="border-top-left-radius: 0px"
/                   = t(:and)
/                 input.js-date-picker.form-control.text-right.js-mask-date.js-final-date name='by_checkin_date[final_date]' value="#{params[:by_checkin_date].try(:[],:final_date) || ''}"
/                 span.input-group-addon style="border-top-right-radius: 0px"
/                   i.glyphicon.glyphicon-calendar
/           .col-sm-6
/             .form-group.text-center
/               .row
/                 = label_tag :q, t(:filter_by_pack_of_hours), class: 'text optional'
/               .row
/                 - HotelQuando::Constants::LENGTH_OF_PACKS.each do | length |
/                   - checked = (params[:by_pack_length]) && (params[:by_pack_length].include?(length.to_s))
/                   .checkbox.size-8-percent
/                     label
/                       = check_box_tag "by_pack_length[]", length, checked, class: "ace cpy-length-of-pack-#{length}h"
/                       span.lbl
/                         =< "#{length}h"

/         - if current_public_user.is_a_agency?
/           .row.padding-top
/             .col-sm-6
/               .form-group
/                 = label_tag :q, t(:filter_by_consultant), class: 'text optional'
/                 - options_for_consultant_select = current_public_user.agency_detail.consultants.pluck(:name, :id)
/                 = select_tag 'by_consultant_id', options_for_select(options_for_consultant_select, params[:by_consultant_id]), class: 'form-control size-100-percent', prompt: t(:all)
/             .col-sm-6
/               .form-group
/                 = label_tag :q, t(:filter_by_client), class: 'text optional'
/                 - options_for_client_select = current_public_user.agency_detail.company_details.pluck(:name, :id)
/                 = select_tag 'by_client_id', options_for_select(options_for_client_select, params[:by_client_id]), class: 'form-control size-100-percent', prompt: t(:all)


/         .row.padding-top
/           .col-sm-6
/             .form-group
/               = label_tag :q, t(:filter_by_cost_center), class: 'text optional'
/               - if current_public_user.is_a_agency?
/                 - options_for_cost_center_select = CostCenter.where(company_detail_id: CompanyDetail.where(agency_detail_id: current_public_user.agency_detail.id)).pluck(:name, :id)
/               - else
/                 - options_for_cost_center_select = CostCenter.where(company_detail_id: current_public_user.company_detail.id).pluck(:name, :id)
/               = select_tag 'by_cost_center_id', options_for_select(options_for_cost_center_select, params[:by_cost_center_id]), class: 'form-control size-100-percent', prompt: t(:all)
/           .col-sm-6
/             .form-group
/               = label_tag :q, t(:filter_by_traveler), class: 'text optional'
/               - if current_public_user.is_a_agency?
/                 - options_for_traveler_select = Traveler.where(cost_center_id: CostCenter.where(company_detail_id: CompanyDetail.where(agency_detail_id: current_public_user.agency_detail.id))).pluck(:name, :id)
/               - else
/                 - options_for_traveler_select = Traveler.where(cost_center_id: CostCenter.where(company_detail_id: current_public_user.company_detail.id)).pluck(:name, :id)
/               = select_tag 'by_traveler_id', options_for_select(options_for_traveler_select, params[:by_traveler_id]), class: 'form-control size-100-percent', prompt: t(:all)
/       .row.padding-top
/         .col-sm-6
/           .form-group
/             = label_tag :q, t(:filter_by_status), class: 'text optional'
/             - options_for_status_select = []
/             - Booking::ACCEPTED_STATUSES.each do | status_name, status_code |
/               - if status_code == Booking::ACCEPTED_STATUSES[:confirmed_and_captured]
/                 - options_for_status_select << [t(status_name), [ status_code, Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] ] ]
/               - elsif status_code == Booking::ACCEPTED_STATUSES[:confirmed]
/                 - options_for_status_select << [t(status_name), [ status_code, Booking::ACCEPTED_STATUSES[:confirmed_without_card] ] ]
/               - elsif status_code != Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] && status_code != Booking::ACCEPTED_STATUSES[:confirmed_without_card]
/                 - options_for_status_select << [t(status_name), status_code]


/             = select_tag 'by_status', options_for_select(options_for_status_select, params[:by_status]), class: 'form-control size-100-percent', prompt: t(:all)

/         .col-sm-6.filter-buttons
/           .col-sm-4.remove-filter.text-center
/             = link_to t(:remove_filter), public_bookings_path, class: 'link size-100-percent dark-red cpy-remove-filter-button'
/           - if current_public_user.is_a_agency? || current_public_user.is_a_company?
/             .col-sm-4.padding-top.export-data
/               = submit_tag t(:export_data), class: 'btn size-100-percent small green cpy-filter-button', style: 'margin: 0px;'
/             .col-sm-4.padding-top.filter-button
/               = submit_tag t(:filter), class: 'btn size-100-percent small green cpy-filter-button'
/           - else
/             .col-sm-8.padding-top.filter-button
/               = submit_tag t(:filter), class: 'btn size-100-percent small green cpy-filter-button'
