.row
  .col-sm-6.col-sm-offset-3
    .border-box.with-padding
      .row
        .col-sm-12
        = render partial: 'public/travel_requests/edit/passenger_info', locals: {trvel_request: @travel_request}