.row ng-init="filterCollapsed = true"
  .col-sm-12.border-box style="padding-top: 0px"
    h1.page-title = t(:my_travel_requests)
- if current_public_user.is_a_company? && current_public_user.travel_requests.empty?
  .row
    .col-sm-12.border-box.with-padding-bottom
      p.notice = t(:request_quote_now)
      = link_to t('search_airline_tickets') , public_root_path, class: "get-started-button btn green" , style: "width: 27%;"
- elsif @travel_requests.count == 0
  .hidden-lg.hidden-md
    .panel.panel-default
      .panel-heading
        a href="#" ng-click="filterCollapsed = !filterCollapsed"
          h5.panel-title.text-center
            = t(:filter)
      .panel-collapse collapse="filterCollapsed"
        .panel-body
          = render partial: "/public/travel_requests/filter"

  .hidden-xs.hidden-sm
    = render partial: "/public/travel_requests/filter"
  .row
    .col-sm-12.border-box.with-padding-bottom
      p.notice = t(:message_for_search_without_results)
- else
  .hidden-lg.hidden-md
    .panel.panel-default
      .panel-heading
        a href="#" ng-click="filterCollapsed = !filterCollapsed"
          h5.panel-title.text-center
            = t(:filter)
      .panel-collapse collapse="filterCollapsed"
        .panel-body
          = render partial: "/public/travel_requests/filter"

  .hidden-xs.hidden-sm
    = render partial:"/public/travel_requests/filter"
  .row
    .col-sm-12.border-box.with-padding-bottom.hidden-xs.hidden-sm
      = pagination_links_for @travel_requests
      .row
        .col-sm-12
          table.table.table-striped.table-hover.mini
            thead
              tr
                th.center.size-8-percent
                  | Id
                th.center.size-20-percent
                  = 'Data de Solicitação'
                th.center.size-20-percent
                  = 'Status da Solicitação'
                th.center.size-20-percent
                  = 'Status do pagamento'
                th.center.size-18-percent
                  = t(:actions)
            tbody
              - @travel_requests.each do | travel |
                tr.center
                  td
                    = travel.id
                  td
                    = l travel.date_request
                  td
                    - TravelRequest::ACCEPTED_REQUEST_STATUS.each do | k, v |
                      - if travel.request_status == v
                        = t("views.travel_request.request_status." << k.to_s )
                  td
                    - TravelRequest::ACCEPTED_PAYMENT_STATUS.each do | k, v |
                      - if travel.payment_status == v
                        = t("views.travel_request.payment_status." << k.to_s )
                  
                  td.action-list
                    = link_to t(:details), public_travel_request_path(travel.id), class: 'btn mini btn-primary', style: 'margin-right: 5px'

      = pagination_links_for @travel_requests