.row
  .border-box
    .row
      - show_for @travel_request do | u |
        = u.attribute :total
      .col-sm-12
        = render partial: "/public/travel_requests/show/page_title"
      .col-sm-12
        .booking-information
          = render partial: "/public/travel_requests/show/personal_information"
      .col-sm-12
        .booking-information
          = render partial: "/public/travel_requests/show/travel_information"
      .col-sm-12
        .booking-information
          = render partial: "/public/travel_requests/show/travel_prices"
      .col-sm-12
        .booking-information
          = render partial: "/public/travel_requests/show/travel_status"


    .wizard-actions
      .row
        .col-sm-3
          = link_to("<i class='glyphicon glyphicon-arrow-left'></i> #{t(:my_bookings)}".html_safe, public_travel_requests_path, {class: 'btn btn-prev'})

        - if @travel_request.request_status != TravelRequest::ACCEPTED_REQUEST_STATUS[:canceled]
          .col-sm-2
            = link_to "#{t('airline.disapprove')}", disapprove_public_travel_request_path(travel_request_id: @travel_request.id), { class: 'btn btn-warning cpy-confirm-booking-button', method: :post}

          - if @travel_request.request_status == TravelRequest::ACCEPTED_REQUEST_STATUS[:pending_request]
            .col-sm-3
              = link_to "Confirmar Reserva", edit_public_travel_request_path(@travel_request.id), { class: "btn btn-success" }

          .col-sm-3
            = link_to("<i class='glyphicon glyphicon-remove'></i>Cancelar Orçamento".html_safe, cancel_public_travel_request_path(@travel_request.id), {class: 'btn btn-danger cpy-cancel-button', method: :put})
            
javascript:
