/*!
 * LEGEND - Free Responsive One Page Template
 *
 * Copyright 2013
 * Created by: Inbetwin Network
 * URL: http://inbetw.in
 * Designed and built based on Twitter Bootstrap. */

/*
===========================
CONTENTS:

01 Sensible defaults
02 Typography
03 Non-semantic
04 Navbar
05 Single-Page Sections
06 Footer
07 Bootstrap Carousel
08 Buttons
09 Media queries
===========================
*/

/* ----------------------------------------------------------------------------------------------------------
01 Sensible defaults ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

div, article, section, header, footer, nav, li {
	position:relative;
}
.group:after {
	display:block;
	height:0;
	clear:both;
	content:".";
	visibility:hidden; /* For clearing */
}
body {
	background:#f0f0f0;
	color: #312A1E;
	font-size: 100%;
	font-family: 'Quattrocento', serif;
}
::-moz-selection {
background:#2166cf;
color:#333;
}
::selection {
background:#2166cf;
color:#333;
}
/*---------- FORMS ----------*/

input[type=text], input[type=submit], textarea {
	width: 100%;
	padding: 0.5em;
	font-size: 1em;
	margin-bottom: 1.5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
input, button, select, textarea {
	font-family: 'Quattrocento', serif;
}
/* ----------------------------------------------------------------------------------------------------------
02 Typography -----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/*

14 / 16	= 		0.875em 		(14px equivalent)
16 / 16	= 		1em 			(16px equivalent)
18 / 16 = 		1.125em 		(18px equivalent)
21 / 16 = 		1.3125em 		(21px equivalent)
24 / 16 = 		1.5em 			(24px equivalent)
30 / 16 = 		1.875em 		(30px equivalent)

*/



p {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin: 0 0 1.5em 0;
}
ul, ol {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin: 0 0 1.5em 0;
}
body, input, textarea {
}
a:link, a:visited {
	color: #F1505A;
}
a:hover, a:active {
	color: #F1505A;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal; /* reset default browser weight for our webfonts */
	font-family: 'Patua One', 'Helvetica';
}
h1 {
	font-size: 1.5em; /* 24px */
	line-height: 1; /* 24px */
	margin-top: 1.42em;
	margin-bottom: 0em;
}
h2 {
	font-size: 1.3125em; /* 21px */
	line-height: 1.1429; /* 24px */
	margin-top: 1.1429em;
	margin-bottom: 0em;
}
h3 {
	font-size: 1.125em; /* 18px */
	line-height: 1.3333; /* 24px */
	margin-top: 1.3333em;
	margin-bottom: 0em;
}
h4 {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin-top: 1.5em;
	margin-bottom: 0em;
}
h5 {
	font-size: 0.875em; /* 14px */
	line-height: 1.7143; /* 24px */
	margin-top: 1.7143em;
	margin-bottom: 0em;
}
strong {
	font-weight:normal;
	font-family: 'Open Sans', sans-serif;
}
small {
	font-size: 0.75em; /* 12px */
	line-height: 2; /* 24px */
	margin-top: 2em;
	margin-bottom: 0em;
}
em {
	font-style: normal;
	font-family: 'Open Sans';
}
.muted {
	color: #A5A5A2;
	font-family: 'Quattrocento', serif;
}
.impressed {
	text-shadow:
 -1px -1px 0 rgba(0, 0, 0, 0.5), /* shadow */  1px 1px 0 rgba(255, 255, 255, 0.9); /* highlight */
}
.more-link {
	font-size: .875em; /* 14px */
	margin-top: 1.5em;
	font-family: 'Patua One', 'Helvetica';
}
.more-link:link, .more-link:visited {
	color: #2166cf;
	text-transform: uppercase;
}
/* ----------------------------------------------------------------------------------------------------------
03 Non-semantic ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/* New Image Replacement Hack */

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	font-size: 1em;
}
.alignright {
	text-align: right;
}
.alignleft {
	text-align: left;
}
.aligncenter {
	text-align: center;
}
.medium {
	font-weight: normal;
	font-family: 'Quattrocento', serif;
}
/* ----------------------------------------------------------------------------------------------------------
04 Navbar ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

.navbar-fixed-top .container {
/* Uncomment to make nav expand full width */
 /*	width: auto; */
}
.navbar .brand {
	margin-left:0;
	padding: 0;
	margin-top: 1.05em;
}
.navbar .brand a {
	padding: 0;
	color: #fff;
	font-size: 1.75em;
	margin-left: 0;
	font-weight: normal;
	font-family: 'Patua One', 'Helvetica';
}
.navbar .brand a:hover {
	text-decoration: none;
	color:#2166cf;
 transition: color .15s linear;
 -webkit-transition: color .15s linear;
 -moz-transition: color .15s linear;
}
.navbar .brand a:focus {
	outline: none;
}
.navbar-inner {
	min-height: 4.75em;
}
.navbar-inverse .navbar-inner {
	background-repeat: repeat;
	background-color: #0b333f;
	border-color: #2166cf;
}
.navbar-wrapper {
	overflow:hidden;/* No fixed height, will break collapsible nav */
}
#menu-main {
	margin-top: 1.125em;
}
ul#menu-main > li > a {
	font-family: 'Patua One', 'Helvetica';
	font-weight: normal;
	font-size: 1em;
	color: #fff;
}
ul#menu-main > li > a:hover {
	background: #2166cf;
	padding: 9px 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	text-shadow: none;
}
/* ----------------------------------------------------------------------------------------------------------
05 Single-Page Sections ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
#headerwrap {
	width: 100%;
	background: url(../img/top-bg.jpg) #0b333f no-repeat center -300px fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	;
	min-height: 450px;
	margin-top: -60px;
	text-align:center;
}
#headerwrap .slides {
	float: right;
	overflow: hidden;
	width: 100%;
	background: white;
	height: 357px;
	margin: 40px 40px 0 0;
	border: 3px solid rgba(0,0,0,0.4);
}

.slides h2 {
	text-align: center;
	margin-bottom: 15px;
}

.subheader {
	text-align: left;
	font-size: 1.4em;
	color: #fff;
	width: 700px;
	text-shadow: 1px 1px black;
	margin-left: 2%;
	background: rgba(0,0,0,0.6)
}

#headerwrap h1 {
	color: #FFFFFF;
	font-family: 'Patua One', 'Helvetica';
	font-size: 3em;
	font-weight: 400;
	margin: 0.6em 0 0.2em;
	text-shadow: 1px 1px 1px #333;
	clear: left;
	text-align: left;
	line-height: 1.3em;
	margin-left: 2%;
	background: rgba(0,0,0,0.6)
}
#headerwrap h2 {
	color: #FFFFFF;
	font-family: 'Open Sans', sans serif;
	font-size: 2em;
	font-weight: normal;
	margin: 0.5em 0;
	text-shadow: 1px 1px 1px #333333;
}
#headerwrap h1 span {
	color:#2166cf;
}

.logo-wrapper {
	text-align: left;
	float: left;
	margin-left: 5%;
	margin: 0 auto;
}

.logo-wrapper img {
	width: 400px;
}
#headerwrap input[type=text] {
	background: rgba(227, 231, 228, 1);
	font-family: 'Open Sans', sans serif;
	font-size: 1.3125em;
	border: 0;
	text-align: center;
	vertical-align: middle;
	margin-bottom:0 !important;
}
#headerwrap input[type=text]:focus {
	background: #43413e;
	color: #eff1ef;
	transition: background 0.25 ease-in;
	-moz-transition: background 0.25 ease-in;
	-webkit-transition: background 0.25 ease-in;
}
#headerwrap input[type=text] {
	height: 2.9em;
	width:50%;
}
#headerwrap input[type=submit] {
	font-family: 'Patua One', 'Helvetica';
	color: #fff;
	width: 185px;
	height: 2.9em;
	font-size: 1.3125em; /* 21px */
	padding:0.5em;
	letter-spacing: 0.05em;
	margin: 0;
	border: 0;
	text-transform: none;
	background: #2166cf !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#headerwrap input[type=submit]:hover, #headerwrap input[type=submit]:active {
	background: #43413e !important;
}
/*========== Social Icons ==========*/
ul.icon {
	font-size:54px;
	margin:1em 0 0.5em 0;
}
ul.icon li {
	display:inline-block;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
ul.icon li:hover {
	opacity:0.7;
}
section.single-page {
	padding: 4.75em 0; /* 76px */
}
section.single-page h1 {
	text-align: center;
	font-family:  'Patua One', 'Helvetica';
	margin-bottom: 2em; /* 72px */
	font-size: 2.25em; /* 36px */
}
#feature {
	background: transparent url("../img/patterns/very-light-grey-noise.jpg") repeat;
	height: 490px;
	z-index: 500;
	box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.3);
	padding-top: 3em;
}
#feature article {
	text-align: center;
	margin-top: 120px;
	max-width: 1170px;
}
#feature-headline {
	font-family: 'Patua One', 'Helvetica';
	text-transform: uppercase;
	color: rgba(228, 229, 229, 1);
	margin-bottom: 3%; /* 39px */
	margin-top: -.25em;
	height: 109px;
	background-size: 100% auto;
}
#feature-headline span {
	font-family: 'Patua One', 'Helvetica';
	text-transform: lowercase;
}
#feature article p {
	font-family: 'Patua One', 'Helvetica';
	font-size: 40px;
	margin-bottom: 0;
	line-height: 1.35;
	color: #fff;
}
/* Portfolio */

section#portfolio {
	padding-bottom: 0;
}
section#portfolio h1 {
	font-size: 3em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}
section#portfolio hgroup h2 {
	margin-top: 1em;
	text-transform: capitalize;
}
section#portfolio hgroup h3 {
	margin-top:  .35em;
	font-family: 'Patua One', 'Helvetica';
}
section#portfolio .entry-content {
	margin: 1em 0 2.5em;
}
section#portfolio .align {
	text-align:center;
	margin-top:10px;
	font-size:6em;
}
/* Portfolio Image Hover */
.mask2 img {
	margin: 0 auto;
	max-width: 100%;
	display: block;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.mask2 img:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	opacity: 1;
}
/* Services */

section#services {
	padding-bottom: 9.5em;
}
#services h1 {
	font-size: 3em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}
section#services h2 {
	font-size: 22px;
	margin-bottom: 15px;
	margin-top: 10px;
	text-align:center;
}
section#services p {
	margin:10px;
}
section#services .align {
	text-align:center;
	margin-top:10px;
	font-size: 6em;
}
section#services .align .sev_icon {
	text-align:center;
	margin:10px 0 20px 0;
	font-size: 0.6em;
	color:#2166cf;
}
section#services .span3 {
	background:#e9e9e9;
	padding: 20px 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
section#services .span3:hover {
	background:#e3e3e3;
	box-shadow: 1px 1px 6px #C1BAC1;
}
/* Testimonials */

section#testimonials {
	height:  647px;
	background: url("../img/yellow_testimonial.png") repeat-x 0 0;
	padding: 0;
	color: #e4e5e2;
	z-index: 500;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
section#testimonials .blockquote-wrapper {
	display: table-cell;
	vertical-align: middle;
	height:  647px;
}
blockquote.mega {
}
blockquote.mega p {
	font-size: 45px;
	line-height: 50px;
	text-align: left;
	font-family: 'Patua One', 'Helvetica';
	font-weight:bold;
	color:#312A1E;
}
blockquote.mega .cite {
	font-size: 22px;
	text-align: left;
	font-weight:300;
}
/* News */
section#news {
	background: url("../img/grey-cardboard-bg.png") repeat 0 0;
}
section#news .align {
	font-size: 6em;
	text-align: center;
}
article.post {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
article .inside {
	margin: 18px 24px 24px;
	padding-top: 1em;
	background: url("../img/dot-row-2.png") repeat-x scroll 0 0 transparent !important;
}
.post-date {
	color: #A5A5A2;
	float: right;
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	line-height: 2;
	margin-right: 5px;
}
#news h1 {
	font-size: 3em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}
#news h2 {
	font-size: 21px;
	margin-top: 24px;
	margin-bottom: 16px;
	color: #312A1E;
	clear: right;
}
/* Team and Contact */
.title-wrapper h1,
.title-wrapper i {
	display: inline-block;
}

.title-wrapper h1 {
	font-size: 0.3em;
	line-height: 0.3em;
	position: relative;
	top: -0.3em;
	margin-bottom: 10px;
}

.explanation {
	font-size: 1em;
	text-align: center;
	width: 85%;
	margin: 0 auto;
}
section#team, #contact {
	color: #333;
}
section#team .align, #contact .align {
	font-size: 6em;
	text-align: center;
}
#team h1 {
	font-size: 3em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}
#team {
	padding-bottom: 0;
}
#contact {
	padding-bottom: 0;
	margin-top: 60px;
}
/* team */

#team h3 {
	font-size: 26px;
	margin-top: 24px;
	margin-bottom: 0px;
}
#team h3, .job-position {
	text-align: center;
}
#team .featurette {
	text-align: center;
	font-size: 21px;
}
#team h2.featurette-heading {
	margin-bottom: 24px;
}
.teamalign {
	text-align:center
}
.team-thumb {
	margin-top: 26px;
	text-align:center;
}
.job-position {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: .46155em;
}
/* Contact Form */

#theme-form {
	position: relative;
	z-index: 999;
}
#theme-form input[type=text], .cform-form textarea {
	background: rgba(227, 231, 228, 1);
	font-family: 'Open Sans', sans serif;
	border: 0;
	text-align: left;
	vertical-align: middle;
}
#theme-form input[type=text]:focus, .cform-form textarea:focus {
	background: rgba(101, 106, 100, 1);
	color: #eff1ef;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	transition: background 0.25 ease-in;
	-moz-transition: background 0.25 ease-in;
	-webkit-transition: background 0.25 ease-in;
}
#theme-form input[type=text] {
	height: 3.25em;
}
#theme-form input[type=submit] {
	font-family: 'Patua One', 'Helvetica';
	color: #fff;
	width: 185px;
	height: 60px;
	text-shadow: none;
	font-size: 1.3125em; /* 21px */
	padding:0.5em;
	letter-spacing: 0.05em;
	margin: 0 0 20px 0;
	display: block;
	border: 0;
	text-transform: none;
	background: #2166cf !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#theme-form input[type=submit]:hover, #theme-form input[type=submit]:active {
	background: #43413e !important;
}
#theme-form textarea {
	padding-top: 1em;
}
div.cform-response-output {
	max-width: 60%;
	text-align: center;
	margin-left: 40% !important;
	margin-top: 0.5em !important;
	padding: 0.5em !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.cform-not-valid-tip {
	color: #888;
	border: 1px dotted #ad3729 !important;
	width: 100% !important;
	left: 0 !important;
	padding: 0.5em !important;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
/* Featurettes */



hr.featurette-divider {
	margin: 3em 0;
	border-width: 0;
	height: 9px;
	background: url("../img/dot-row-3-lt.png") repeat-x;
}
/* ----------------------------------------------------------------------------------------------------------
06 Footer ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
.footer-wrapper {
	background: #ddd;
}
#map-wrapper {
	margin-top: 20px;
}
footer {
	text-align: center;
	color: #1a1a1a;
	font-weight: bold;
}
footer p {
	margin-top: -130px;
}
/* ----------------------------------------------------------------------------------------------------------
07 Bootstrap Carousel ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

    .carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 550px;
	padding: 0 20px;
	margin-top: 200px;
	position:absolute;
}
.carousel-caption h1,  .carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.carousel-caption .btn {
	margin-top: 10px;
}
.carousel-control {
	height: 50px;
	top: 46%;
	margin-top: 0;
	font-size: 6.5em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	background-color: transparent;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	opacity: 0.4;
	border-radius: 0;
}
.carousel-control:link, .carousel-control:visited {
	color: #262626;
}
/* Banner Carousel  */
    #banner.carousel {
	margin-top: 4.75em;
	margin-bottom: 0;
	margin-top: 0;
	max-height: 642px;
}
.banner-caption {
	/*	width: 18%; */
    	position: absolute;
	left: 20%;
	top: 10%;
	color: #007ac3;
}
#intro-caption {
	margin-top:150px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 80px;
	line-height: 90px;
	color:#fff;
	font-weight:bold;
	text-shadow: 2px 2px 2px #000;
}
#intro-caption span {
	font-family:'Open Sans', sans-serif;
	font-size: 0.65em;
}
#banner.carousel .item {
}
#banner.carousel img {
}
#banner.carousel .carousel-control {
}
/* ----------------------------------------------------------------------------------------------------------
08 Buttons ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
.btn {
	font-family: 'Patua One', 'Helvetica';
	color: #fff;
	width: 300px;
	height: 20px;
	text-shadow: none;
	font-size: 1.3125em; /* 21px */
	padding: 1em 0.5em;
	letter-spacing: 0.05em;
	margin: 0 auto;
	display: block;
	border: 0;
	text-transform: none;
	background: #2166cf !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.btn:link, .btn:visited {
	color: #fff;
}
.btn:hover {
	background: #003f9e !important;
}
.navbar-inverse .btn-navbar {
	width: auto;
	height: auto;
}

/* ----------------------------------------------------------------------------------------------------------
09 Media queries --------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

