- @company_details.each do | company |
  .row.booking-box
    .col-md-12
      .row
        h1.hotel-name = company.name
      .row
        .col-xs-6
          = link_to public_company_detail_path(company.id), class: 'btn mini btn-primary'
            = icon_for(:plus)
            = t(:details)
        .col-xs-6
          = link_to t(:edit), edit_public_company_detail_path(company.id), class: 'btn mini green cpy-confirm-booking-button'
