h3.header.smaller.lighter.green = t("views.admin.hotels.address")

.form-group.string.required.address-fields
  .form-group.input.required.hotel_cities
    label.select.required.col-sm-3.control-label for="hotel_cities"
      abbr title="obrigatório"
      | *
      => "#{t(:city)}"
    .col-sm-4
      = text_field_tag "citiesHash", hotel.city_id.blank? ? '' : @cities_list.find {|e| /#{hotel.city_id}/ =~ e}, id: "citiesHash", class: "string optional col-sm-12 form-control", placeholder: t("views.admin.hotels.search_city_name")
    .hidden
      = f.input :city_id, :as => :hidden
      = f.input :state, :as => :hidden
      = f.input :country, :as => :hidden

- if current_admin_manager.country == "BR"
	= f.input :cep, input_html: { class: 'js-mask-cep' }
- else
  = f.input :cep

= f.input :street
= f.input :number
= f.input :complement
= f.input :latitude
= f.input :longitude
= f.input :timezone

.row
  .help-block.col-sm-offset-3.col-sm-4
    = link_to t("views.admin.hotels.search_coordinates"), 'http://www.gpsvisualizer.com/geocode', target: '_blank'
