- chosen_class = 'js-chosen-select js-hotel-city'
- params[:hotel] ||= {}
- unless params[:hotel].nil?
  - hotel_city_blank = params[:hotel][:city_id] == '' || params[:hotel][:city_id].nil?
- if (params[:action] == 'edit')
  = f.input :city_id, collection: hotel.city.state.cities.order(:name), prompt: false, input_html: { class: chosen_class }

  - hotel_city_blank = false

- else

  - if !hotel_city_blank
    = f.input :city_id, collection: City.find(params[:hotel][:city_id]).state.cities.order(:name), prompt: false, input_html: { class: chosen_class }

  - else
    - if flash[:city_blank_error] && params[:action] != 'new'
      = f.input :city_id, as: :select, prompt: false, hint: t(:city_blank), wrapper_html: { class: 'has-error'}, input_html: { class: chosen_class }
    - else
      = f.input :city_id, as: :select, prompt: false, input_html: { class: chosen_class }

- if !hotel_city_blank
  javascript:
    yojs.set('hq.admin.hotels.citySet', true)
