- states_hash = {}
- states_initials_array = []
- State.where(active: true).includes(:cities).each do |state|
  - states_hash[state.initials.to_sym] = state.cities.order(:name)
  - states_initials_array << state.initials

javascript:
  yojs.set("hq.admin.hotels.hashStateCities", #{states_hash.to_json.html_safe})


= f.input :state, collection: states_initials_array, prompt: false, input_html: { class: 'js-hotel-state' }
