div ng-controller="PhotosCtrl" ng-init="photos = #{hotel.photos.to_json}"
  = shared_component("new_nested_photo_modal")

  = simple_form_for [:admin, hotel] do |f|

    = render :partial => "admin/hotels/form/general_data_fields", locals: {f: f, hotel: hotel}

    = render :partial => "admin/hotels/form/omnibees_fields", locals: {f: f, hotel: hotel}

    = render :partial => "admin/hotels/form/address_fields", locals: {f: f, hotel: hotel}

    = render :partial => "admin/hotels/form/hotel_amenities_fields", locals: {f: f, hotel: hotel}

    = shared_component("nested_photo_form", {f: f})

    = form_submit_section
