= f.input :name
= f.input :category, collection: Hotel::ACCEPTED_CATEGORIES, prompt: false
= f.input :login
= f.input :email
= f.input :notice_emails
= f.hint  t(:hotel_notice_emails_hint), class: 'col-sm-offset-3 hint'
= f.input :notice_emails_meeting_room
= f.input :iss_in_percentage, as: :string, label: t("views.admin.hotels.iss"), input_html: { class: 'js-mask-float-percent-1-decimal-point', maxlength: 6, value: ("%.1f" % @hotel.iss_in_percentage.to_f).to_s + ' %'}
= f.input :comission_value, as: :string, label: t("views.admin.hotels.comission"), input_html: { class: 'js-mask-money', value: ("%.2f" % @hotel.comission_value.to_f).to_s }
//= f.input :fee_on_charge, as: :string, label: t("views.admin.hotels.hotel_tax"), input_html: { class: 'js-mask-money', value: ("%.2f" % @hotel.fee_on_charge.to_f).to_s }
//= f.input :financial_costs, as: :string, label: "Custo financeiro (%)", input_html: { class: 'js-mask-float-percent',maxlength: 7, value: ("%.2f" % @hotel.financial_costs.to_f).to_s + ' %'}

= f.input :cnpj
= f.input :contact_name
= f.input :contact_phone


= f.input :minimum_hours_of_notice, as: :select, collection: [[t("views.admin.hotels.hotel_no_cancellation_allowed"), -1], [ 12, 12 ], [ 24, 24 ], [ 48, 48 ], [ 72, 72 ], [ 96, 96 ], [ 120, 120 ]], selected: @hotel.minimum_hours_of_notice, include_blank: t('simple_form.labels.defaults.select_blank')
= f.hint t(:minimum_hours_of_notice_hint), class: 'col-sm-offset-3 hint'

= f.input :hotel_chain_id, as: :select, collection: HotelChain.all.order(:name), selected: @hotel.hotel_chain_id, include_blank: t('simple_form.labels.defaults.select_blank')

= multilanguage_attribute_field_for(:description, f)

= multilanguage_attribute_field_for(:payment_method, f)
= f.input :locale, as: :select, label: t('users.locale'), collection: User::ACCEPTED_LOCALES.collect{ | locale | [locale[1],locale[0]]}, selected: @hotel.locale, name: 'hotel[locale]', id: "hotel_locale"

.form-group.boolean.optional.hotel_accept_online_payment
  label.boolean.optional.col-sm-3.control-label for="hotel_accept_online_payment"
    | #{t("views.admin.hotels.accepts_online_payment")}
  .col-sm-4
    input name="hotel[accept_online_payment]" type="hidden" value="0"
    .checkbox
      label
        - if @hotel.accept_online_payment
          input class="ace boolean optional col-sm-12 form-control" id="hotel_accept_online_payment" name="hotel[accept_online_payment]" type="checkbox" value="1" checked='checked'
        - else
          input class="ace boolean optional col-sm-12 form-control" id="hotel_accept_online_payment" name="hotel[accept_online_payment]" type="checkbox" value="1"
        span.lbl

.form-group.boolean.optional.hotel_accept_invoiced_payment ng-init="acceptInvoicedPayment = #{@hotel.accept_invoiced_payment}"
  label.boolean.optional.col-sm-3.control-label for="hotel_accept_invoiced_payment"
    | #{t("views.admin.hotels.accepts_invoiced_payment")}
  .col-sm-4
    input name="hotel[accept_invoiced_payment]" type="hidden" value="0"
    .checkbox
      label
        input class="ace boolean optional col-sm-12 form-control" id="hotel_accept_invoiced_payment" name="hotel[accept_invoiced_payment]" type="checkbox" value="1" ng-model="acceptInvoicedPayment"
        span.lbl

.form-group.boolean.optional.hotel_accept_invoiced_by_agency ng-show="acceptInvoicedPayment"
  label.boolean.optional.col-sm-3.control-label for="hotel_accept_invoiced_by_agency"
    | #{t("views.admin.hotels.accept_invoiced_by_agency")}
  .col-sm-4
    input name="hotel[accept_invoiced_by_agency]" type="hidden" value="0"
    .checkbox
      label
        - if @hotel.accept_invoiced_by_agency
          input class="ace boolean optional col-sm-12 form-control" id="hotel_accept_invoiced_by_agency" name="hotel[accept_invoiced_by_agency]" type="checkbox" value="1" checked='checked'
        - else
          input class="ace boolean optional col-sm-12 form-control" id="hotel_accept_invoiced_by_agency" name="hotel[accept_invoiced_by_agency]" type="checkbox" value="1"
        span.lbl

.form-group.radio_buttons.required.hotel_currency_symbol
  label.radio_buttons.required.col-sm-3.control-label
    abbr title="obrigatório" *
    | #{t("views.admin.hotels.currency")}
  .col-sm-4
    - Hotel::CURRENCY_SYMBOL.each do | symbol, id |
      label.radio-item
        = f.radio_button :currency_symbol, id, class: 'input ace radio_buttons required col-sm-12 form-control'
        span.lbl
          span.text
            =< symbol

.form-group.boolean.optional.hotel_accept_online_payment
  label.boolean.optional.col-sm-3.control-label for="hotel_booking_on_request"
    | Reserva sob demanda
  .col-sm-4
    input name="hotel[booking_on_request]" type="hidden" value="0"
    .checkbox
      label
        - if @hotel.booking_on_request
          input class="ace boolean optional col-sm-12 form-control" id="hotel_booking_on_request" name="hotel[booking_on_request]" type="checkbox" value="1" checked='checked'
        - else
          input class="ace boolean optional col-sm-12 form-control" id="hotel_booking_on_request" name="hotel[booking_on_request]" type="checkbox" value="1"
        span.lbl
