h3.header.smaller.lighter.green = t("views.admin.hotels.amenities")

= f.simple_fields_for :hotel_amenity, (f.object.hotel_amenity || hotel.hotel_amenity = HotelAmenity.new), child_index: '{{$index}}' do |hotel_a_form|

  .form-group.boolean.optional.hotel_hotel_amenity_breakfast_included
    label.col-sm-3.control-label
      | #{t("views.admin.hotels.includes_breakfast")}
    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][breakfast_included_for_pack_3h]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.breakfast_included_for_pack_3h
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_breakfast_included_for_pack_3h" name="hotel[hotel_amenity_attributes][breakfast_included_for_pack_3h]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_breakfast_included_for_pack_3h" name="hotel[hotel_amenity_attributes][breakfast_included_for_pack_3h]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_breakfast_included_for_pack_3h"
      | 3 #{t("views.admin.hotels.hours")}

    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][breakfast_included_for_pack_6h]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.breakfast_included_for_pack_6h
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_breakfast_included_for_pack_6h" name="hotel[hotel_amenity_attributes][breakfast_included_for_pack_6h]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_breakfast_included_for_pack_6h" name="hotel[hotel_amenity_attributes][breakfast_included_for_pack_6h]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_breakfast_included_for_pack_6h"
      | 6 #{t("views.admin.hotels.hours")}
  .form-group.boolean.optional.hotel_hotel_amenity_breakfast_included
    label.col-sm-3
    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][breakfast_included_for_pack_9h]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.breakfast_included_for_pack_9h
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_breakfast_included_for_pack_9h" name="hotel[hotel_amenity_attributes][breakfast_included_for_pack_9h]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_breakfast_included_for_pack_9h" name="hotel[hotel_amenity_attributes][breakfast_included_for_pack_9h]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_breakfast_included_for_pack_9h"
      | 9 #{t("views.admin.hotels.hours")}
    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][breakfast_included_for_pack_12h]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.breakfast_included_for_pack_12h
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_breakfast_included_for_pack_12h" name="hotel[hotel_amenity_attributes][breakfast_included_for_pack_12h]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_breakfast_included_for_pack_12h" name="hotel[hotel_amenity_attributes][breakfast_included_for_pack_12h]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_breakfast_included_for_pack_12h"
      | 12 #{t("views.admin.hotels.hours")}

  .form-group.boolean.optional.hotel_hotel_amenity_free_internet
    label.boolean.optional.col-sm-3.control-label for="hotel_hotel_amenity_attributes_free_internet"
      = t 'hotel_amenities.free_internet'
    .col-sm-4
      input name="hotel[hotel_amenity_attributes][free_internet]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.free_internet
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_free_internet" name="hotel[hotel_amenity_attributes][free_internet]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_free_internet" name="hotel[hotel_amenity_attributes][free_internet]" type="checkbox" value="1"
          span.lbl
  = multilanguage_attribute_field_for(:internet, hotel_a_form)
  = multilanguage_attribute_field_for(:park, hotel_a_form)

  .form-group.boolean.optional.hotel_hotel_amenity_pool
    label.col-sm-3.control-label
      | #{t("views.admin.hotels.outdoor_areas")}
    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][pool]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.pool
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_pool" name="hotel[hotel_amenity_attributes][pool]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_pool" name="hotel[hotel_amenity_attributes][pool]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_pool"
      = t 'hotel_amenities.pool'

    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][rooftop]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.rooftop
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_rooftop" name="hotel[hotel_amenity_attributes][rooftop]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_rooftop" name="hotel[hotel_amenity_attributes][rooftop]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_rooftop"
      = t 'hotel_amenities.rooftop'
  .form-group.boolean.optional.hotel_hotel_amenity_garden
    label.col-sm-3
    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][garden]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.garden
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_garden" name="hotel[hotel_amenity_attributes][garden]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_garden" name="hotel[hotel_amenity_attributes][garden]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_garden"
      = t 'hotel_amenities.garden'
    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][terrace]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.terrace
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_terrace" name="hotel[hotel_amenity_attributes][terrace]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_terrace" name="hotel[hotel_amenity_attributes][terrace]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_terrace"
      = t 'hotel_amenities.terrace'

  .form-group.boolean.optional.hotel_hotel_amenity_sauna
    label.col-sm-3.control-label
      | #{t("views.admin.hotels.activities")}
    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][sauna]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.sauna
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_sauna" name="hotel[hotel_amenity_attributes][sauna]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_sauna" name="hotel[hotel_amenity_attributes][sauna]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_sauna"
      = t 'hotel_amenities.sauna'

    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][gym]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.gym
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_gym" name="hotel[hotel_amenity_attributes][gym]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_gym" name="hotel[hotel_amenity_attributes][gym]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_gym"
      = t 'hotel_amenities.gym'

  .form-group.boolean.optional.hotel_hotel_amenity_restaurant
    label.col-sm-3.control-label
      | #{t("views.admin.hotels.food_beverage")}
    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][restaurant]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.restaurant
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_restaurant" name="hotel[hotel_amenity_attributes][restaurant]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_restaurant" name="hotel[hotel_amenity_attributes][restaurant]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_restaurant"
      = t 'hotel_amenities.restaurant'
    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][bar]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.bar
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_bar" name="hotel[hotel_amenity_attributes][bar]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_bar" name="hotel[hotel_amenity_attributes][bar]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_bar"
      = t 'hotel_amenities.bar'

  .form-group.boolean.optional.hotel_hotel_amenity_reception_24_hour
    label.col-sm-3.control-label
      | #{t("views.admin.hotels.services")}
    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][reception_24_hour]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.reception_24_hour
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_reception_24_hour" name="hotel[hotel_amenity_attributes][reception_24_hour]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_reception_24_hour" name="hotel[hotel_amenity_attributes][reception_24_hour]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_reception_24_hour"
      = t 'hotel_amenities.reception_24_hour'
    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][luggage_room]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.luggage_room
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_luggage_room" name="hotel[hotel_amenity_attributes][luggage_room]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_luggage_room" name="hotel[hotel_amenity_attributes][luggage_room]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_luggage_room"
      = t 'hotel_amenities.luggage_room'
  .form-group.boolean.optional.hotel_hotel_amenity_laundry
    label.col-sm-3
    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][laundry]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.laundry
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_laundry" name="hotel[hotel_amenity_attributes][laundry]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_laundry" name="hotel[hotel_amenity_attributes][laundry]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_laundry"
      = t 'hotel_amenities.laundry'
    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][room_service]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.room_service
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_room_service" name="hotel[hotel_amenity_attributes][room_service]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_room_service" name="hotel[hotel_amenity_attributes][room_service]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_room_service"
      = t 'hotel_amenities.room_service'
  .form-group.boolean.optional.hotel_hotel_amenity_wake_up_service
    label.col-sm-3
    .col-sm-1.size-2-percent
      input name="hotel[hotel_amenity_attributes][wake_up_service]" type="hidden" value="0"
      .checkbox
        label
          - if hotel.hotel_amenity.wake_up_service
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_wake_up_service" name="hotel[hotel_amenity_attributes][wake_up_service]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="hotel_hotel_amenity_attributes_wake_up_service" name="hotel[hotel_amenity_attributes][wake_up_service]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.amenities-check-box.control-label for="hotel_hotel_amenity_attributes_wake_up_service"
      = t 'hotel_amenities.wake_up_service'
  = multilanguage_attribute_field_for(:gratuity_for_children, hotel_a_form)
  = multilanguage_attribute_field_for(:transfer_offered_by_the_hotel, hotel_a_form)
