h3.header.smaller.lighter.green Omnibees

= f.input :omnibees_code
.form-group
  label.col-sm-3.control-label
    | #{t("views.admin.hotels.activate_setting")}
  .col-sm-9
    span.btn.btn-md.js-activate-full-pack-config.btn-warning
      | #{t("views.admin.hotels.full_setting")}
    | &nbsp;&nbsp;&nbsp;
    span.btn.btn-md.js-activate-restrict-pack-config.btn-warning
      | #{t("views.admin.hotels.restrict_setting")}
= f.simple_fields_for @hotel.omnibees_config do |f_omnb|
  - [3,6,9,12].each do |pack|
    div class="js-pack-config-#{pack}h"
      = f_omnb.input :"accepts_#{pack}h_pack", selected: hotel.omnibees_config.accepts_pack?(pack), as: :select, prompt: false, label: t("views.admin.hotels.accepts_package", pack: pack)
      .form-group
        label.col-sm-3.control-label
          | #{t("views.admin.hotels.schedule_for_package", pack: pack)}
        .col-sm-9.check_boxes
          = hidden_field_tag "hotel[omnibees_config][accepted_hours_for_#{pack}h_pack][]", nil
          - (0..23).to_a.each do |hour|
            label.checkbox
              = check_box_tag "hotel[omnibees_config][accepted_hours_for_#{pack}h_pack][]", hour, hotel.omnibees_config.accepted_hours_for(pack).include?(hour)
              br/
              | #{hour}
