.booking-info-title
  .image.hidden-xs.hidden-sm
    = image_tag 'booking-info.jpg'
  h4
    = 'Dados do Passageiro'
  br

= simple_form_for [:public, @travel_request], html: { class: 'form-horizontal' }, wrapper: :basic do |f|
  .row.form-group
    .col-sm-12
      label
        = "Nome"
      = f.input :first_name

  .row.form-group
    .col-sm-12
      label
        = "Sobrenome"
      = f.input :last_name
  .row.form-group
    .col-sm-12
      label
        = "E-mail"
      = f.input :email
  .row.form-group
    .col-sm-12
      label
        = "Telefone"
      = f.input :telephone, input_html: { class: 'js-mask-mobile-phone' }
    .col-sm-12
      label
        = "CPF"
      = f.input :cpf, input_html: { class: 'js-mask-cpf' }

  .row.form-group
    .col-sm-12
      label
        = "Passaporte"
      = f.input :passaporte

  br
  .row.form-actions
    .col-sm-10.col-sm-offset-2
      = submit_tag "Confirmar".upcase, class: 'size-100-percent cpy-submit-button btn btn-success pull-right submit-button'

