
.container
  .row
    .col-md-12.logo
        = image_tag 'logo-green-white.png', class: 'hq-logo'
    .col-md-6.col-md-offset-3
      .page_wrapper
        .back-page
        .visible.login-box
          h1
            | Atendimento de Empresas

          = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
            = f.error_notification
            - if flash['alert']
              p.alert.alert-danger.text-justify
                = flash['alert']
            .form-group.login.optional.company_attendant_company_attendant_login
              label.login.optional.col-md-3.control-label for="company_attendant_company_attendant_login"
                | Login
              .col-md-9
                span.input-icon.input-icon-right
                  input autofocus="autofocus" class="string login optional col-md-12 form-control" id="company_attendant_company_attendant_login" name="company_attendant_company_attendant[login]" type="text" value=""
                  i.icon-user

            .form-group.password.optional.company_attendant_company_attendant_password
              label.password.optional.col-md-3.control-label for="company_attendant_company_attendant_password"
                | Senha
              .col-md-9
                span.input-icon.input-icon-right
                  input.password.optional.col-md-12.form-control id="company_attendant_company_attendant_password" name="company_attendant_company_attendant[password]" type="password"
                  i.icon-lock

            .form-group
              .col-md-3
              .col-md-9
                .checkbox.no-padding
                  label
                    input#company_attendant_company_attendant_remember_me.ace name="company_attendant_company_attendant[remember_me]" type="checkbox" value="1"
                    span.lbl
                      =< 'Permanecer logado'

            div.login-actions
              button.btn.pull-right.btn-primary.cpy-submit-button name="commit" type="submit"
                span
                  | Entrar
                i.icon-arrow-right.icon-on-right
              = render partial: "company_attendant/_login/links", class: 'pull-left'
              .clearfix