@for $i from 1 through 100
  .size-#{$i}-percent
    width: 1% * $i

html
  height: 100%

body.public-affiliate-layout
  background: #fcfcfc
  font-family: "Oxygen"
  font-weight: 300
  height: 100%
  color: #555555

  .custom-success
    color: white
    background-color: #117fca !important
    border-color: #117fca !important

  .custom-success:hover, .custom-success:focus, .custom-success:active, .custom-success.active
    color: white
    background: darken(#117fca, 10%) !important
    border-color: darken(#117fca, 10%) !important

  .btn-success
    color: white
    background-color: $success-button
    border-color: $success-button

  .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active
    color: white
    background: darken($success-button, 10%)
    border-color: darken($success-button, 10%)

  .cursor-pointer
    cursor: pointer

  .btn-gray
    color: white !important
    background-color: $gray !important
    border-color: $gray !important

    &:hover
      color: white !important
      background: darken($gray, 10%) !important
      border-color: darken($gray, 10%) !important

  label.radio-button
    cursor: pointer
    font-weight: 100
    font-size: 15px

  input[type="radio"]
    -webkit-appearance: none
    -moz-appearance: none
    -o-appearance: none
    height: 1em
    width: 1em
    cursor: pointer
    position: relative
    -webkit-transition: 0.15s
    border-radius: 1em
    border: 0px
    padding: 9px
    margin: -4px 8px
    background-color: $light-gray

  input[type="radio"]:checked
    background-color: $gray

  input[type="radio"]:focus
    outline: none

  .js-pointer-events-none
    pointer-events: none

  h1, h2, h3, h4, h5
    &.gray
      color: #999999

  h1.page-title
    font-size: 31px
    font-weight: 300
    letter-spacing: 3px

  h2.second-title
    font-weight: 300
    letter-spacing: 1px
    font-size: 22px
    margin-top: 45px
    color: $aqua-blue

  .introduction
    font-size: 16px

  .flash-message
    min-height: 0px
    .alert
      margin-top: 20px

  p.notice
    color: #999999
    letter-spacing: 1px
    font-size: 15px
    line-height: 30px
    margin-top: 20px
    margin-bottom: 15px

  .divider
    border-bottom: 1px solid #dbdbdb
    margin: 10px 0px 20px
    text-align: center
    line-height: 0px

    span
      margin-top: -20px
      background-color: #fcfcfc
      padding: 0 10px
      color: #888888
      font-style: italic
      letter-spacing: 1px
      font-size: 12px

  .content-wrapper
    min-height: 100%
    overflow-y: hidden
    background-color: #FFF


  ul.pagination
    margin: 0px 0px
    li
      a
        background: #f8f8f8
        color: $green
        padding: 5px 12px 3px

      &.active a
        background: $green
        border-color: $green
        color: white

  .bootbox
    z-index: 99999

    .modal-footer

      .btn
        margin-right: 10px
        display: inline-block

      .btn:last-child
        margin-right: -19px

  .modal
    .modal-content
      padding: 0px 27px
      border-radius: 20px

    .modal-header
      border-bottom: 1px solid rgb(180, 180, 180)
      padding: 0px

      h1
        font-size: 25px
        letter-spacing: 2px
        margin-top: 22px
        margin-bottom: 8px

      button.close
        // margin-top: -2px
        // margin-right: -19px
        margin-top: -19px
        margin-right: -14px
        font-size: 41px

  .tooltip
    min-width: 300px
    ul
      padding-left: 20px
      margin-bottom: 0px

    .tooltip-inner
      padding: 8px 13px
      border-radius: 3px
      background: #333333
      text-align: left
      min-width: 100%

    .tooltip-arrow
      border-left-color: #333333
      border-right-color: #333333

  .tooltip.top
    .tooltip-arrow
      border-left-color: transparent
      border-right-color: transparent
      border-top-color: #333333
      border-bottom-color: #333333

  .inline-block
    display: inline-block

  .display-table
    display: table

    .display-table-cell
      display: table-cell

    .align-middle
      vertical-align: middle

  .user-budget-box
    font-size: 11px
    position: fixed
    width: 215px
    height: 80px
    bottom: 10px
    left: 10px
    background-color: white
    border: 1px solid #ddd
    border-radius: 5px

    table
      tr
        border-bottom: 1px solid #ddd
      td, th
        padding: 2px
      tbody
        td
          padding-left: 9px
        tr:last-child
          border-bottom: 0


.pac-container
  z-index: 10050

.pac-item:hover
  background-color: #EEEEEE

  .pac-icon-marker
    background-position: -18px -161px !important

.js-email-suggestion-wrapper
  line-height: 16px !important

#new_payment
  input.form-control, select.form-control
    height: 34px
  div.month
    padding-left: 0px
  .payment_with
    margin-right: 30px
  div.intl-tel-input
    width: 100%

.have-promo-code-input
  span
    font-weight: 700
    color: #555555

.promotional_code_button
  font-size: 14px !important
  border-radius: 30px !important
  height: 39px !important
  letter-spacing: 0px !important
  text-transform: uppercase !important
  font-weight: 300 !important
  padding: 0px 20px 0px 20px !important
  margin-bottom: 10px !important
