@media (max-width: 768px)
  body.public-affiliate-layout
    overflow-x: visible
    h1.page-title
      font-size: 23px
    .container
      width: auto
    .footer
      min-width: 0
  .margin-top-personalized
    margin-top: 45px !important
  .with-padding-top
    padding-top: 70px !important

@media (min-width: 1020px)
  body.public-affiliate-layout
    .pac-container
      width: 400px !important

@media (min-width: 910px) and (max-width: 1020px)
  body.public-affiliate-layout
    .pac-container
      width: 300px !important

@media (min-width: 768px) and (max-width: 910px)
  body.public-affiliate-layout
    .pac-container
      width: 200px !important

.sidemenu-currency
  background-color: #dddddd
  .menu-item-link
    border-bottom: 1px solid #e7e7e7

  .current
    font-weight: bold
    letter-spacing: 1px
    font-size: 15px

  .symbol
    font-size: 11px
    font-weight: bold
    direction: ltr
    margin-right: 10px

  .current-currency:hover, .current-currency.activate
    background-color: #dddddd

.have-promo-code-input
  span
    font-weight: 700
    color: #555555

.promotional_code_button
  font-size: 14px !important
  border-radius: 30px !important
  height: 39px !important
  letter-spacing: 0px !important
  text-transform: uppercase !important
  font-weight: 300 !important
  padding: 0px 20px 0px 20px !important
  margin-bottom: 10px !important
