.public-affiliate-bookings-payments-controller.new-action,
.public-affiliate-bookings-payments-controller.create-action
  
  .invoice
    margin-top: 15px
    
  .promotional_code_button
    font-size: 14px !important
    border-radius: 30px !important
    height: 40px !important
    letter-spacing: 0px !important
    text-transform: uppercase !important
    font-weight: 300 !important
    padding: 0px 20px 0px 20px !important

  .booking-info
    height: 160px
  .booking-total-value
    margin: 0 0 -15px 0
    .attribute-title
      font-size: 14px
    .value
      color: black
      font-size: 20px

  .info-title
    .booking-total-value
      .text
        color: $label-light-gray
        letter-spacing: 1px

      .value
        color: black
        font-size: 16px
        letter-spacing: 2px

      .money-unit
        font-size: 12px
        letter-spacing: 0
        margin-right: 4px

    h4.pull-left
      top: 0px
      margin-left: 10px

  .form-group
    margin-left: initial
    margin-right: initial
    .help-block
      width: 100% !important

    select
      padding-right: 24px
      font-size: 12px

    #credit_card_expiration_month
      width: 100%

  .form-label
    line-height: 20px
    font-size: 13px

  .user-cpf-input
    .participant-cpf-input
      letter-spacing: 1px
      width: 100%
      float: right
      padding: 6px 12px
      height: 40px
      font-size: 13px
      border: 1px solid #c2c2c2

.browserIE.public-bookings-payments-controller.new-action,
.browserIE.public-bookings-payments-controller.create-action
  .new_credit_card .form-group
    margin-left: 0px
    margin-right: 0px

