.company-bookings-controller.index-action
  .widget-box
    margin-bottom: 15px

  .filter
    margin-bottom: 30px
    .btn
      margin-right: 10px
      margin-top: 10px

    .btn:first-child
      margin-right: 0
