.company-bookings-controller.show-action
  .attributes-wrapper
    *
      margin-top: 10px

    &.booking_guest_email
      .content
        word-wrap: break-word

  .actions-links
    .btn:first-child
      margin-left: 0px
    .btn
      margin-left: 8.39%

