@media (max-width: 768px)
  .public-affiliate-home-controller.index-action
    .header
      margin-bottom: -10px
    .slideOutTab
      top: 2px
      height: 100%
    .how-it-works-btn
      width: 122px
      height: 33px
      position: absolute
      top: 66px
      margin-left: 16px
      left: 75%

      span
        position: relative
        top: -7px
    .how-it-works-content
      overflow: auto
      height: auto
      .service-box
        width: 210px
    .search-hotels-wrapper
      background-image: none !important
      margin: 40px auto
      h1
        font-size: 22px
        text-align: center
      .people-checkin-inputs
        width: 100%
        .display-table-cell.size-60-percent
          width: 100%
        .date-picker-inputs
          display: block

    p.explanation
      font-size: 15px
      text-align: justify
      margin-bottom: 20px

    p.description
      font-size: 15px
      text-align: center

    .services-wrapper
      padding: 5px 0
      h1.title
        font-size: 22px
        margin: 10px 0
        letter-spacing: 2px
        text-align: center
      .service-box
        margin: 30px auto
        h2
          font-size: 18px
        .image
          min-height: 0
        img
          max-height: 60px
          margin: 0

    .home-blue-box
      padding: 5px 0

    .pack-size-hint
      p.hint
        margin-left: 25px

@media (min-width: 769px) and (max-width: 820px)
  .public-affiliate-home-controller.index-action
    .header
      margin-bottom: -10px

    .content-body
      background-color: #1f1f1f
      padding: 0 0 15px 0
      margin: 0 auto
      min-height: 100%
      width: 100%

    .search-hotels-wrapper
      width: 95%
      .menu
        ul
          li
            a
              font-size: 18px
      #menu
        margin-left: -70px
    .slideOutTab
      top: 2px
      height: 100%
    .how-it-works-btn
      width: 122px
      height: 33px
      position: absolute
      top: 66px
      margin-left: 16px
      left: 75%

      span
        position: relative
        top: -7px
    .how-it-works-content
      overflow: auto
      height: auto
      .service-box
        width: 210px
    .search-hotels-wrapper
      background-image: none !important
      h1
        font-size: 22px
        text-align: center
      .people-checkin-inputs
        width: 100%
        .display-table-cell.size-60-percent
          width: 100%
        .date-picker-inputs
          display: block

    p.explanation
      font-size: 15px
      text-align: justify
      margin-bottom: 20px

    p.description
      font-size: 15px
      text-align: center

    .services-wrapper
      padding: 5px 0
      h1.title
        font-size: 22px
        margin: 10px 0
        letter-spacing: 2px
        text-align: center
      .service-box
        margin: 30px auto
        h2
          font-size: 18px
        .image
          min-height: 0
        img
          max-height: 60px
          margin: 0

    .home-blue-box
      padding: 5px 0

    .pack-size-hint
      p.hint
        margin-left: 25px

@media (min-width:821px) and (max-width: 930px)
  .public-affiliate-home-controller.index-action
    .header
      margin-bottom: -10px

    .content-body
      background-color: #1f1f1f
      padding: 0 0 15px 0
      margin: 0 auto
      min-height: 100%
      width: 100%

    .search-hotels-wrapper
      width: 96%
      .menu
        ul
          li
            a
              font-size: 18px
      #menu
        margin-left: -90px
    .slideOutTab
      top: 2px
      height: 100%
    .how-it-works-btn
      width: 122px
      height: 33px
      position: absolute
      top: 66px
      margin-left: 16px
      left: 75%

      span
        position: relative
        top: -7px
    .how-it-works-content
      overflow: auto
      height: auto
      .service-box
        width: 210px
    .search-hotels-wrapper
      background-image: none !important
      h1
        font-size: 22px
        text-align: center
      .people-checkin-inputs
        width: 100%
        .display-table-cell.size-60-percent
          width: 100%
        .date-picker-inputs
          display: block

    p.explanation
      font-size: 15px
      text-align: justify
      margin-bottom: 20px

    p.description
      font-size: 15px
      text-align: center

    .services-wrapper
      padding: 5px 0
      h1.title
        font-size: 22px
        margin: 10px 0
        letter-spacing: 2px
        text-align: center
      .service-box
        margin: 30px auto
        h2
          font-size: 18px
        .image
          min-height: 0
        img
          max-height: 60px
          margin: 0

    .home-blue-box
      padding: 5px 0

    .pack-size-hint
      p.hint
        margin-left: 25px

@media (min-width:931px) and (max-width: 989px)
  .public-affiliate-home-controller.index-action
    .header
      margin-bottom: -10px

    .content-body
      background-color: #1f1f1f
      padding: 0 0 15px 0
      margin: 0 auto
      min-height: 100%
      width: 100%

    .search-hotels-wrapper
      width: 96%
      .menu
        ul
          li
            a
              font-size: 18px
      #menu
        margin-left: -145px
    .slideOutTab
      top: 2px
      height: 100%
    .how-it-works-btn
      width: 122px
      height: 33px
      position: absolute
      top: 66px
      margin-left: 16px
      left: 75%

      span
        position: relative
        top: -7px
    .how-it-works-content
      overflow: auto
      height: auto
      .service-box
        width: 210px
    .search-hotels-wrapper
      background-image: none !important
      h1
        font-size: 22px
        text-align: center
      .people-checkin-inputs
        width: 100%
        .display-table-cell.size-60-percent
          width: 100%
        .date-picker-inputs
          display: block

    p.explanation
      font-size: 15px
      text-align: justify
      margin-bottom: 20px

    p.description
      font-size: 15px
      text-align: center

    .services-wrapper
      padding: 5px 0
      h1.title
        font-size: 22px
        margin: 10px 0
        letter-spacing: 2px
        text-align: center
      .service-box
        margin: 30px auto
        h2
          font-size: 18px
        .image
          min-height: 0
        img
          max-height: 60px
          margin: 0

    .home-blue-box
      padding: 5px 0

    .pack-size-hint
      p.hint
        margin-left: 25px

@media (min-width:990px)
  .public-affiliate-home-controller.index-action
    .header
      margin-bottom: -10px

    .search-hotels-wrapper
      width: 96%
      .menu
        ul
          li
            a
              font-size: 21px
      #menu
        margin-left: -70px
    .slideOutTab
      top: 2px
      height: 100%
    .how-it-works-btn
      width: 122px
      height: 33px
      position: absolute
      top: 66px
      margin-left: 16px
      left: 75%

      span
        position: relative
        top: -7px
    .how-it-works-content
      overflow: auto
      height: auto
      .service-box
        .calendar
          margin-top: 30px !important
        .clock
          margin-top: 30px !important
        .money
          margin-top: -11px !important
        width: 210px
      h1
        font-size: 22px
        text-align: center
      .people-checkin-inputs
        width: 100%
        .display-table-cell.size-60-percent
          width: 100%
        .date-picker-inputs
          display: block

    p.explanation
      font-size: 15px
      text-align: justify
      margin-bottom: 20px

    p.description
      font-size: 15px
      text-align: center

    .services-wrapper
      padding: 5px 0
      h1.title
        font-size: 22px
        margin: 10px 0
        letter-spacing: 2px
        text-align: center
      .service-box
        margin: 30px auto
        h2
          font-size: 18px
        .image
          min-height: 0
        img
          max-height: 60px
          margin: 0

    .home-blue-box
      padding: 5px 0

    .pack-size-hint
      p.hint
        margin-left: 25px
