/* line 1, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout_ie.css.sass */
body.browserIE.login-layout {
  padding: 0;
  background: #03538c url("login/noise_light.png");
  padding-bottom: 50px;
}
/* line 5, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout_ie.css.sass */
body.browserIE.login-layout .logo {
  text-align: center;
  margin-top: 50px;
}
/* line 8, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout_ie.css.sass */
body.browserIE.login-layout .logo img {
  max-width: 500px;
}
/* line 11, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout_ie.css.sass */
body.browserIE.login-layout h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #003860;
}
/* line 15, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout_ie.css.sass */
body.browserIE.login-layout .page_wrapper {
  position: relative;
}
/* line 18, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout_ie.css.sass */
body.browserIE.login-layout .login-actions {
  margin-top: 10px;
}
/* line 21, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout_ie.css.sass */
body.browserIE.login-layout .login-box {
  margin-top: 50px;
  min-height: 180px;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(62, 64, 68, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(62, 64, 68, 0.3);
  box-shadow: 0 1px 4px rgba(62, 64, 68, 0.3);
  padding: 30px;
  background: #fafafa;
}
/* line 31, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout_ie.css.sass */
body.browserIE.login-layout .input-icon > [class*="icon-"] {
  top: 3px;
}
/* line 34, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout_ie.css.sass */
body.browserIE.login-layout .back-page {
  background: #f3f5f9;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-box-shadow: 0 1px 4px rgba(62, 64, 68, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(62, 64, 68, 0.5);
  box-shadow: 0 1px 4px rgba(62, 64, 68, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 1, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout.css.sass */
.login-layout {
  padding: 0;
  background: #03538c url("login/noise_light.png");
  padding-bottom: 50px;
}
/* line 5, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout.css.sass */
.login-layout .logo {
  text-align: center;
  margin-top: 50px;
}
/* line 8, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout.css.sass */
.login-layout .logo img {
  max-width: 500px;
}
/* line 11, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout.css.sass */
.login-layout h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #003860;
}
/* line 15, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout.css.sass */
.login-layout .page_wrapper {
  position: relative;
}
/* line 18, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout.css.sass */
.login-layout .login-actions {
  margin-top: 10px;
}
/* line 21, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout.css.sass */
.login-layout .login-box {
  margin-top: 50px;
  min-height: 180px;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(62, 64, 68, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(62, 64, 68, 0.3);
  box-shadow: 0 1px 4px rgba(62, 64, 68, 0.3);
  padding: 30px;
  background: #fafafa;
}
/* line 32, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout.css.sass */
.login-layout .login-box input {
  padding-right: 25px;
}
/* line 34, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout.css.sass */
.login-layout .login-box .input-icon {
  display: inline-block;
}
/* line 37, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout.css.sass */
.login-layout .login-box .input-icon > [class*="icon-"] {
  position: absolute;
  right: 10px;
  top: 4px;
}
/* line 42, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout.css.sass */
.login-layout .back-page {
  background: #f3f5f9;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-box-shadow: 0 1px 4px rgba(62, 64, 68, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(62, 64, 68, 0.5);
  box-shadow: 0 1px 4px rgba(62, 64, 68, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 58, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout.css.sass */
.login-layout .input-icon-right {
  position: relative;
}
/* line 65, /home/adminhq/hotel-quando/app/assets/stylesheets/hotel/login_layout.css.sass */
.login-layout.browserIE .login-box .input-icon > [class*='icon-'] {
  top: 11px;
  right: 10px;
}
