@media (max-width: 768px)
  .public-affiliate-bookings-payments-controller.new-action,
  .public-affiliate-bookings-payments-controller.create-action
    .invoice-description
      margin-bottom: 10px
    .center
      text-align: center
    .promotional_code_button
      float: none !important
      margin-top: 5px
      font-size: 13px !important
      border-radius: 30px !important
      height: 30px !important
      letter-spacing: 0px !important
      text-transform: uppercase !important
      font-weight: 300 !important
      padding: 0px 20px 0px 20px !important
    .container.with-padding-top
      .row:first-child
        div:first-child
          padding-top: 0
    .flash-message
      .alert
        margin: 10px 0
        padding: 5px
        text-align: center
    .with-padding-bottom
      .row:last-child:after
        height: 10px
      .tabs
        margin-top: 35px
      .tab-content
        padding-top: 10px
        .form-actions
          padding-bottom: 0
          text-align: center
        .booking-hotel-and-room-type-description,
        .booking-hotel-and-business-room-description
          h2
            font-size: 18px
        .description-title.room-type-description-title,
        .description-title.business-room-description-title
          height: auto
        .room-type-description-title, .bed-configuration-title,
        .business-room-description-title
          h5
            display: inherit
            position: inherit
            top: 0
            margin: 0
              top: 10px
            width: 100%
        .description-title
          margin: 0
        .room-type-description,
        .business-room-description
          position: inherit
          left: 0
          width: 100%
          margin:
            top: 5px
            bottom: 10px
        .bed-configuration
          margin: 0
            top: 5px
          padding-left: 25px
        .booking-info-mobile
          margin-bottom: 5px
        .info-header
          margin: 0
          display: inherit
          width: inherit
          table-layout: inherit
        .booking-total-value
          text-align: center !important
        .info-price
          display: inherit
          .text
            line-height: 2
          .value
            line-height: 1.2
            text-align: left
          .value-info-icon
            line-height: 1.5
        .equal-sign
          margin-bottom: -11px
        input.pill.green.big.submit-button
          margin-bottom: 10px
          height: 30px
          font-size: 14px
        hr
          margin: 0 0 10px 0
        .booking-hotel-and-room-type-description,
        .booking-hotel-and-business-room-description
          margin-bottom: 10px
        .form-group
          margin:
            bottom: 10px
          select
            padding: 5px
            height: 29px
            width: 100%
          input
            font-size: 12px
            padding: 5px
            height: auto
        .col-xs-7.form-group, .col-xs-8.form-group, .col-xs-6.form-group
          padding-right: 0
        #year-input
          padding-left: 0

