= panel_section(name: 'Filtrar', class: 'filter widget-box') do
  = form_tag company_bookings_path, method: :get, class: 'form-horizontal' do
    .row
      .col-sm-6
        = label_tag :q, 'Filtrar por hotel', class: 'control-label no-left-padding'
        - options_for_hotel_select = []
        - Hotel.all.order(:name).each { | hotel |  options_for_hotel_select << [hotel.name, hotel.id]}
        = select_tag 'by_hotel_id', options_for_select(options_for_hotel_select, params[:by_hotel_id]), class: 'form-control', prompt: 'Todos'

      .col-sm-6
        = label_tag :q, 'Filtrar por funcionário', class: 'control-label no-left-padding'
        - options_for_employee_select = []
        - current_company_company.employees.order(:name).each do | employee |
          - options_for_employee_select << [employee.name, employee.id]
        = select_tag 'by_user_id', options_for_select(options_for_employee_select, params[:by_user_id]), class: 'form-control', prompt: 'Todos'

    hr

    .row
      .col-sm-6
        = label_tag :q, 'Filtrar por data do checkin', class: 'control-label no-left-padding'
        .input-group
          span.input-group-addon.size-14-percent
            | Entre
          input.js-date-picker.form-control.text-right.js-mask-date.js-initial-date name='by_checkin_date[initial_date]' value="#{params[:by_checkin_date].try(:[],:initial_date) || params[:by_checkin_date].try(:[],:final_date)}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .input-group
          span.input-group-addon.size-14-percent
            | E
          input.js-date-picker.form-control.text-right.js-mask-date.js-final-date name='by_checkin_date[final_date]' value="#{params[:by_checkin_date].try(:[],:final_date) || params[:by_checkin_date].try(:[],:initial_date)}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .clearfix

      .col-sm-6
        = label_tag :q, 'Filtrar por tamanho do pacote', class: 'control-label no-left-padding'
        br
        - Offer::ACCEPTED_LENGTH_OF_PACKS.each do | length |
          - checked = (params[:by_pack_length]) && (params[:by_pack_length].include?(length.to_s))
          .checkbox.size-14-percent.pull-left.no-left-padding
            label
              = check_box_tag "by_pack_length[]", length, checked, class: "ace cpy-length-of-pack-#{length}h"
              span.lbl
                =< "#{length}h"
        .clearfix
    hr


    = submit_tag 'Filtrar', class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button margin-left-10px'
    = link_to 'Remover filtros', company_bookings_path, class: 'btn btn-sm btn-danger pull-right size-20-percent remove-button cpy-remove-filter-button'

    .clearfix

