.row
  .col-xs-12.border-box.with-padding
    h1.page-title ¿Quiénes Somos?
    .divider

      .col-sm-12
        p.explanation
          | HotelQuando.com es la primera e única plataforma global de reservas online de hoteles que permite que el usuario reserve su habitación por 3,6,9 ó 12 horas y por un precio justo. El usuario también tiene el derecho a decidir a que horas le gustaría entrar al hotel.
    br

    .row
      .col-sm-4.benefits
        .col-sm-12.text-center
          .glyphicon.glyphicon-home
        .col-sm-12
          p.benefits-title
            | <strong>Para los que viajan</strong>
          ul.benefits-description
            li
              |Decida sus horarios

            li
              |Pague apenas lo necesario

      .col-sm-4.benefits
        .col-sm-12.text-center
          .glyphicon.glyphicon-briefcase
        .col-sm-12
          p.benefits-title
            | <strong>Para las empresas</strong>

          ul.benefits-description
            li
              |Reduzca los gastos de alojamiento por un 20 a 30%

      .col-sm-4.benefits
        .col-sm-12.text-center
          .glyphicon.glyphicon-book
        .col-sm-12
          p.benefits-title
            | <strong>Para los hoteles</strong>

          ul.benefits-description
            li
              | Rentabilice cada habitación al máximo




    br
    .row
      .col-sm-12.hidden-xs.hidden-sm
        .display-table.actions
          .display-table-cell
            = link_to "Contáctenos sobre su hotel",  public_get_be_our_partner_path, :class => 'btn green'
          .display-table-cell
            .or = t(:or)
          .display-table-cell
            = link_to "Inscríbase", new_public_user_registration_path, :class => 'btn green'

      .col-sm-12.hidden-md.hidden-lg
        .actions
          .col-md-4.signup-or-contact
            = link_to "Contáctenos sobre su hotel",  public_get_be_our_partner_path, :class => 'btn green'
          .col-md-4.signup-or-contact
            .or = t(:or)
          .col-md-4.signup-or-contact
            = link_to "Inscríbase", new_public_user_registration_path, :class => 'btn green'



= render partial: "/public/home/when_booking/es"
