= panel_section(name: t("views.admin.users.filter"), class: 'filter widget-box') do
  = form_tag admin_users_path, method: :get, class: 'form-horizontal' do
    .row
      .col-sm-4
        .text.optional.pull-left.size-100-percent
          = label_tag :q, t("views.admin.users.filter_by_name"), class: 'text optional no-left-padding size-40-percent'
          = text_field_tag :by_name, params[:by_name] || '', class: "string optional"
        .text.optional.pull-left.size-100-percent
          = label_tag :q, t("views.admin.users.filter_by_agency_name"), class: 'text optional no-left-padding size-40-percent'
          = text_field_tag :by_agency_name, params[:by_agency_name] || '', class: "string optional"
        .text.optional.pull-left.size-100-percent
          = label_tag :q, t("views.admin.users.filter_by_company_name"), class: 'text optional no-left-padding size-40-percent'
          = text_field_tag :by_company_name, params[:by_company_name] || '', class: "string optional"
        .text.optional.pull-left.size-100-percent
          = label_tag :q, t("views.admin.users.filter_by_email"), class: 'text optional no-left-padding size-40-percent'
          = text_field_tag :by_email, params[:by_email] || '', class: "string optional"
        .text.optional.pull-left.size-100-percent
          = label_tag :q, t("views.admin.users.filter_by_cpf"), class: 'text optional no-left-padding size-40-percent'
          = text_field_tag :by_cpf, params[:by_cpf] || '', class: "string optional js-mask-cpf"

        .text.optional.pull-left.size-100-percent
          = label_tag :q, t("views.admin.users.filter_by_passport"), class: 'text optional no-left-padding size-40-percent no-bottom-margin'
          = text_field_tag :by_passport, params[:by_passport] || '', class: "string optional"

      .col-sm-4
        .text.optional.pull-left.size-100-percent
          = label_tag :q, t("views.admin.users.filter_by_country"), class: 'text optional no-left-padding size-40-percent'
          = select_tag :by_country, options_from_collection_for_select(Country.all, :iso_initials, :name_pt_br), prompt: t("views.admin.users.select_country"), class: 'select optional size-60-percent'
        .text.optional.pull-left.size-100-percent
          = label_tag :q, t("views.admin.users.filter_by_state"), class: 'text optional no-left-padding size-40-percent'
          = text_field_tag :by_state, params[:by_state] || '', class: "string optional size-60-percent"
        .text.optional.pull-left.size-100-percent
          = label_tag :q, t("views.admin.users.filter_by_city"), class: 'text optional no-left-padding size-40-percent'
          = text_field_tag :by_city, params[:by_city] || '', class: "string optional size-60-percent"

      .col-sm-4
        .row
          .col-sm-12
            .text.optional.pull-left.size-100-percent
              = label_tag :q, t("views.admin.users.filter_by_gender"), class: 'select optional no-left-padding size-40-percent'
              = select_tag :by_gender, options_for_select(gender_select_options, params[:by_gender]), class: "select size-60-percent optional", prompt: t("views.admin.users.select_gender")
            .text.optional.pull-left.size-100-percent
              = label_tag :q, t("views.admin.users.filter_by_birth_date"), class: 'text optional no-left-padding size-100-percent'
        .row
          .col-sm-12
            .input-group.pull-left.size-50-percent
              span.input-group-addon.size-20-percent
                | #{t("views.admin.users.enter")}

              = text_field_tag 'by_min_birth_date', params[:by_min_birth_date] || '', class: "string optional js-mask-date text-right size-100-percent"

            .input-group.pull-left.size-50-percent
              span.input-group-addon.size-20-percent
                | #{t("views.admin.users.and")}

              = text_field_tag 'by_max_birth_date', params[:by_max_birth_date] || '', class: "string optional js-mask-date text-right size-100-percent"


    .row
      .col-sm-12

        = submit_tag t("views.admin.users.filter"), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button'
        = link_to t("views.admin.users.remove_filter"), admin_users_path, class: 'btn btn-sm btn-danger pull-right size-20-percent cpy-remove-filter-button'
        = submit_tag t("views.admin.users.export_data"), class: 'btn btn-sm btn-default js-export-users-data size-20-percent', style: 'margin-bottom: 20px;'
