table.table.table-striped.table-bordered.table-hover.cpy-room-list
  thead
    tr
      th.center.size-5-percent
        | #{t("views.admin.users.id")}
      th.center.size-24-percent
        | #{t("views.admin.users.name")}
      th.center.size-8-percent
        | #{t("views.admin.users.type")}
      th.center.size-9-percent
        | #{t("views.admin.users.cpf")}
      th.center.size-10-percent
        | #{t("views.admin.users.passport")}
      th.center.size-5-percent
        | #{t("views.admin.users.birth_date")}
      th.center.size-13-percent
        | #{t("views.admin.users.country")}
      th.center.size-10-percent
        | #{t("views.admin.users.state")}
      th.center.size-10-percent
        | #{t("views.admin.users.city")}
      th.center.size-5-percent
        | #{t("views.admin.users.details")}
  tbody
    - users.each do | user |
      tr.center
        td
          = user.id
        td
          = user.name
        td
          - if user.agency_detail.present?
            | #{t("views.admin.users.agency")}
          - elsif user.company_detail.present?
            | #{t("views.admin.users.company")}
          - else
            | #{t("views.admin.users.consumer")}
        td
          = user.cpf.to_s.blank? ? '-' : user.cpf
        td
          = user.passport.to_s.blank? ? '-' : user.passport
        td
          = user.birth_date.to_s.blank? ? '-' : l(user.birth_date)
        td
          = user.country.to_s.blank? ? '-' : user.country
        td
          = user.state.to_s.blank? ? '-' : user.state
        td
          = user.city.to_s.blank? ? '-' : user.city
        td
          = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_user_path(user.id), class: 'btn btn-xs btn-success'
