.public-affiliate-hotel-controller
  .container.with-padding-top
    .glyphicon
      color: $gray !important
    .details-pages-header
      h1.page-title
        margin-top: 5px
        margin-bottom: 1px
        .business-room-name
          color: #444444
        .hotel-of-business-room
          font-size: 25px

      .glyphicon
        margin-right: 10px
        font-size: 13px
        color: $gray

      p
        color: $dark-blue
        margin-bottom: 0px

        &.address
          letter-spacing: 1px
          font-size: 12px
          margin-bottom: 13px
          margin-top: 1px
          font-weight: 400
          display: inline-block
          a
            color: $gray !important

          .glyphicon
            margin-right: 6px
            top: 2px
            font-size: 17px

          &:hover
            a
              color: darken($gray, 10%)
            .glyphicon
              color: darken($gray, 10%)


    a.link.dark-red
      margin-top: 40px
      display: block
      font-size: 14px
      font-weight: 400

    .hotel-photos
      padding-top: 10px
      padding-bottom: 10px
      .img
        margin-top: 10px
        margin-bottom: 10px
        height: 112px
        line-height: 112px
        a
          display: block
          max-width: 100%
          text-align: center
          img
            max-width: inherit
            max-height: 112px

    a.read-more
      color: black
      font-style: italic
      font-weight: 300
      font-size: 18px
      letter-spacing: 1px
      cursor: pointer
      i
        color: #57b12f

    .hotel-description
      p.description-text
        word-break: break-all
        text-align: justify
        line-height: 18px
        font-size: 13px
        margin-top: 20px
        margin-bottom: 15px
        margin-right: 10px
      span.max-capacity-number
        font-weight: 100

    .see-map
      font-size: 13px
      letter-spacing: 1px

    h4
      font-weight: 300
      margin-top: 0px

    p.beware
      font-size: 13px
      font-weight: 300
      margin-top: 20px
      margin-bottom: 0px

    p.pack-size
      font-size: 16px
      text-align: center
      letter-spacing: 1px
      margin-top: 17px
      margin-bottom: 8px
      width: 100% !important

      .big
        font-size: 21px

    .table
      margin-bottom: 10px


    .hint
      color: #888888
      font-size: 11px
      letter-spacing: 1px

    .glyphicon
      color: $dark-blue
      font-size: 15px

    a.glyphicon:hover
      color: #0FA8D8

    hr
      margin-top: 30px

    h3
      margin-top: 2px
      font-weight: 300
      font-size: 25px
      letter-spacing: 2px

    .room-type-photos
      margin: 20px -5px
      text-align: center

      img
        max-width: 140px
        max-height: 110px
        margin: 5px
        border-radius: 3px

  .room-type-modal
    .photo-list img
      max-width: 100%
      max-height: 100px
      margin-right: 20px
      margin-bottom: 20px

    .modal-dialog
      width: 85%

    h4
      font-weight: 300
      font-size: 20px
      margin-bottom: 10px
      margin-top: 5px
      color: rgb(136, 136, 136)

    p
      font-size: 13px
      line-height: 20px
      letter-spacing: 0px
      margin-bottom: 15px

    h5
      font-size: 14px
      letter-spacing: 1px
      font-weight: 300
      line-height: 23px
      margin-top: 30px

    table
      width: 100%
      margin-bottom: 20px
      td
        vertical-align: middle
      h3, a
        margin-top: 0
        margin-bottom: 0


    .btn
      display: inline-block
      padding-left: 40px
      padding-right: 40px

    .modal-footer
      margin-top: 0px


