.public-affiliate-layout.public-affiliate-hotel-controller.show-action
  .search-form-box
    padding: 0px
  .detail-box
    padding-bottom: 50px
  .scroll-button
    margin-top: 10px
    margin-bottom: 10px
    .glyphicon
      color: white
  .photo-exhibition-toggle-button-wrapper
    padding-top: 20px
  .photo-exhibition-toggle-button
    font-weight: bold
    font-size: 14px
    &:hover, &:active, &:visited, &:link
      text-decoration: none
    .glyphicon
      font-size: 14px
      color: #428bca
  .photo-exhibition-toggle-button:hover
    .glyphicon
      color: #2a6496
  .hotel-amenities
    p.title
      font-size: 15px
      font-weight: bold
      &.amenities
        margin-top: 20px
    p.content
      font-size: 13px
      .glyphicon
        font-size: 13px
        margin-right: 3px
    .amenity-group
      width: 50%
      margin-left: -1px
      transform: translate(1px)
      padding: 5px 10px 5px 5px 
  .hotel-description
    text-align: justify

    p.title
      font-size: 15px
      font-weight: bold
  .show-without-exact-match-offers
    .similar-offers-title
      margin-top: 17px
  .table > tbody > tr:first-child
    border: 3px solid rgb(232, 232, 232)

  @media (min-width: 767px)
    .js-float-right-box
      &.floating
        background: white
        position: fixed
        width: 449px
        z-index: 100
        top: 0px
  @media (min-width: 767px) and (max-width: 991px)
    .js-float-right-box
      &.floating
        background: white
        position: fixed
        width: 449px
        z-index: 100
        top: 100px
