.public-places-controller.index-city-action
  .main_airport_container
    width: 735px
    min-height: 400px
    img
      width: 225px
      height: 225px

  .airport_image_container
    margin-bottom: 20%
    margin-top: 180px


  .main_airport_image
    background-image: url(/assets/airports/airport_main_image.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    width: 100vw
    height: 400px
    left: 0
    position: absolute

  .main_city_image
    background-image: url(/assets/cities/cover_image.png)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    width: 100vw
    height: 400px
    left: 0
    position: absolute

  .main_airport_title
    font-size: 42px
    font-family: "Oxygen"
    color: #fff
    font-weight: bold
    text-align: center

  .main_airport_name
    a
      color: #fff
      display: flex
      position: absolute
      font-weight: initial
      top: 40%
      left: 50%
      padding: 5px
      font-family: "Oxygen"
      font-size: 24px
      transform: translate(-50%, -50%)

  .main_airport_description
    font-size: 24px
    text-align: left
    margin-bottom: 6% !important


  .airport_form_filter
    margin-bottom: 15px
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center

  .airport_filter
    margin-right: 10px

  .airport_filter_by,
  input.airport_filter,
  #airport_submit
    display: inline-block
    margin-bottom: 5px
    margin-left: 15px

  .airport_filter_by
    font-size: 18px
    font-weight: initial
    font-family: "Oxygen"
    margin: 0 4px
    width: 298px


  input.airport_filter
    margin-right: 10px
    width: 240px

  .airport_filter_btn
    background: #5cb85c !important
    box-shadow: none !important
    height: 35px
    border-radius: 5px
    color: #fff
    font-size: 20px
    outline: none
    border: none
    padding: 0 15px


  .row.main_airport_box
    left: 20px
    margin-top: 42% !important
    position: absolute
    width: 232px
    top: 0 !important
    margin-left: 0 !important

    a
      color: #555555

    h4
      border-bottom: solid 1px
      border-bottom-width: thin
    p
      margin-left: 10px

  .row.main_city_box
    margin-left: 20px
    margin-top: 15px
    position: absolute
    width: auto

    a
      color: #555555

    h4
      border-bottom: solid 1px
      border-bottom-width: thin
    p
      margin-left: 10px
