.public-places-controller.cities-action
  .main_hotel_container
    width: 735px

  .hotel_image
    img
      width: 215px
      height: 175px
      font-family: "Oxygen"

  .main_hotel_image
    background-image: url(/assets/airports/airport_main_image.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    width: 100vw
    height: 400px
    left: 0
    position: absolute

  .main_hotel_title
    font-size: 48px
    font-family: "Oxygen"

  .hotel_overlay
    background-color: rgba(0, 0, 0, 0.7)
    position: absolute
    height: 175px
    width: 215px
    margin-left: 5px
    z-index: 10


  .main_hotel_name
    a
      color: #fff
      display: flex
      position: absolute
      font-weight: initial
      top: 45%
      left: 50%
      padding: 5px
      font-family: "Oxygen"
      font-size: 21px
      transform: translate(-50%, -50%)
      z-index: 15

  .main_hotel_description
    font-size: 24px
    text-align: left
    margin-bottom: 6% !important

  .airport_pagination
    margin-left: 40%
    margin-top: 5%

    ul.pull-right
      float: none !important

  .places_hotels_pagination
    margin-left: 40%
    margin-bottom: 82%

    ul.pull-right
      float: none !important
