div
  .divider.basic-informations
    span
      = t(:basic_informations)
  = f.input :name, label: t(:responsible_for_registering), input_html: { class: 'big-input col-xs-12'}
  .row
    .col-md-12.col-xs-6
      = f.input :phone_number, input_html: { class: "#{I18n.locale == :pt_br ? 'js-mask-mobile-phone-with-country' : ''}"}

  .col-md-12.col-xs-6.hidden
    = f.input :city, input_html: { class: 'big-input'}

  .divider.agency
    span
      = t('agency.one')
  = f.simple_fields_for :agency_detail do |agency_form|
    = agency_form.input :name, label: t("activerecord.attributes.agency_detail.name"), input_html: { class: 'big-input col-xs-12'}
    = agency_form.input :cnpj, label: t("activerecord.attributes.agency_detail.cnpj"),input_html: { class: 'big-input col-xs-12'}
    = agency_form.input :financial_contact, label: t("activerecord.attributes.agency_detail.financial_contact"),input_html: { class: 'big-input col-xs-12'}
    = agency_form.input :phone_financial_contact, label: t("activerecord.attributes.agency_detail.phone_financial_contact"),input_html: { class: "#{I18n.locale == :pt_br ? 'js-mask-mobile-phone' : ''}"}
    = agency_form.input :street, label: t(:street), input_html: { class: 'big-input col-xs-12'}
    = agency_form.input :city, label: t(:city), input_html: { class: 'big-input col-xs-12'}
    = agency_form.input :state, label: t(:state), input_html: { class: 'big-input col-xs-12'}
    .form-group.string.optional.user_agency_detail_country
      label.string.optional.col-sm-3.control-label for="user_agency_detail_attributes_country" = t('country')
      .col-sm-4
        = select_tag 'user_agency_detail_attributes_country', options_for_select(Country.all.collect{ | country | [country.send("name_#{I18n.locale}"), country.iso_initials]}, @user.agency_detail.country), name: 'user[agency_detail_attributes][country]', id: "user_agency_detail_attributes_country", class: 'size-100-percent', prompt: t("views.admin.users.select_country")

    = agency_form.input :postal_code, label: t(:postal_code), input_html: { class: 'big-input col-xs-12'}
    = agency_form.input :number, label: t('users.number'), input_html: { class: 'big-input col-xs-12'}
    = agency_form.input :complement, label: t(:complement), input_html: { class: 'big-input col-xs-12'}

    .divider.agency
      span
        = t(:confirmation_email)
    span
      = t(:customize_your_confirmation_email)
    .divider
    = agency_form.input :sign_email, label: t("activerecord.attributes.agency_detail.sign_email"), input_html: { class: 'big-input col-xs-12'}
    = agency_form.input :sign_phone, label: t("activerecord.attributes.agency_detail.sign_phone"), input_html: { class: "#{I18n.locale == :pt_br ? 'js-mask-mobile-phone' : ''}"}

    / = shared_component("nested_photo_form", {f: agency_form})


  .js-change-password-fields id="change-password" name="change-password" style="display: #{show_password_fields ? 'block' : 'none'}"
    .divider.address
      span
        = t(:password)
    = f.input :current_password
    = f.input :password, :label => "#{t(:new_password)}"
    = f.input :password_confirmation

  .form-actions.display-table
    .display-table-cell.align-middle
      = link_to t(:change_password), "", class: 'link dark-red js-change-password-show-button cpy-change-password-link'
    .display-table-cell
      = f.button :submit, "#{t(:save)}", class: "btn green pull-right cpy-submit-button"
  .clearfix
