.divider.basic-informations
  span
    = t(:basic_informations)
= f.input :name, label: t(:responsible_for_registering), input_html: { class: 'big-input col-xs-12'}
.row
  .col-md-12.col-xs-6
    = f.input :phone_number, input_html: { class: "#{I18n.locale == :pt_br ? 'js-mask-mobile-phone-with-country' : ''}"}

  .col-md-12.col-xs-6.hidden
    = f.input :city, input_html: { class: 'big-input'}

.divider.agency
  span
    = t('company.one')
= f.simple_fields_for :company_detail do |company_form|
  = company_form.input :name, label: t("activerecord.attributes.company_detail.name"), input_html: { class: 'big-input col-xs-12'}
  = company_form.input :cnpj, label: t("activerecord.attributes.company_detail.cnpj"), input_html: { class: 'big-input col-xs-12'}
  = company_form.input :financial_contact,label: t("activerecord.attributes.company_detail.financial_contact"), input_html: { class: 'big-input col-xs-12'}
  = company_form.input :phone_financial_contact,label: t("activerecord.attributes.company_detail.phone_financial_contact"), input_html: { class: "#{I18n.locale == :pt_br ? 'js-mask-mobile-phone' : ''}"}
  = company_form.input :street, label: t(:street), input_html: { class: 'big-input col-xs-12'}
  = company_form.input :city, label: t(:city), input_html: { class: 'big-input col-xs-12'}
  = company_form.input :state, label: t(:state), input_html: { class: 'big-input col-xs-12'}
  .form-group.string.optional.user_company_detail_country
    label.string.optional.col-sm-3.control-label for="user_company_detail_attributes_country" = t('country')
    .col-sm-4
      = select_tag 'user_company_detail_attributes_country', options_for_select(Country.all.collect{ | country | [country.send("name_#{I18n.locale}"), country.iso_initials]}, @user.company_detail.country), name: 'user[company_detail_attributes][country]', id: "user_company_detail_attributes_country", class: 'size-100-percent', prompt: t("views.admin.users.select_country")
  = company_form.input :postal_code, label: t(:postal_code), input_html: { class: 'big-input col-xs-12'}
  = company_form.input :number, label: t('users.number'), input_html: { class: 'big-input col-xs-12'}
  = company_form.input :complement, label: t(:complement), input_html: { class: 'big-input col-xs-12'}

.js-change-password-fields id="change-password" name="change-password" style="display: #{show_password_fields ? 'block' : 'none'}"
  .divider.address
    span
      = t(:password)
  = f.input :current_password
  = f.input :password, :label => "#{t(:new_password)}"
  = f.input :password_confirmation

.form-actions.display-table
  .display-table-cell.align-middle
    = link_to t(:change_password), "", class: 'link dark-red js-change-password-show-button cpy-change-password-link'
  .display-table-cell
    = f.button :submit, "#{t(:save)}", class: "btn green pull-right cpy-submit-button"
.clearfix
