.divider.basic-informations
  span
    = t(:basic_informations)
= f.input :name, input_html: { class: 'big-input col-xs-12'}
= f.input :gender, collection: gender_select_options, input_html: {class: 'big-input'}, include_blank: false
.row
  .col-md-12.col-xs-6
    = f.input :birth_date, input_html: { class: 'js-mask-date', value: (@user.birth_date.blank? ? '' : (l @user.birth_date)) }, as: :string
  .col-md-12.col-xs-6
    = f.input :phone_number, input_html: { class: "#{I18n.locale == :pt_br ? 'js-mask-mobile-phone-with-country' : ''}"}
.divider.identification
  span
    = t(:identifications)
= f.input :cpf, input_html: { class: 'js-mask-cpf'}
= f.input :passport
.divider.address
  span
    = t(:address)

.address-fields ng-controller="PublicUsersEditCtrl" 

  .form-group.string.optional.user_address
    label.string.optional.col-sm-3.control-label for="address"
      => "#{t(:address)}"
    .col-sm-4
      input.string.optional.col-sm-12.form-control.big-input.autocomplete id="autocomplete" name="address" type="text"

  .form-group.string.optional.user_country
    label.string.optional.col-sm-3.control-label for="country"
      => "#{t(:country)}"
    .col-sm-4
      input.string.optional.col-sm-12.form-control.big-input disabled="disabled" id="country" name="user[country]" type="text" value="#{@user.country}"
  

  = f.input :state, input_html: { class: 'big-input', disabled: "disabled", id: 'administrative_area_level_1'}
  = f.input :city, input_html: { class: 'big-input', disabled: "disabled", id: 'locality'}
  = f.input :street, input_html: { class: 'big-input', disabled: "disabled", id: 'route'}
  = f.input :number, input_html: { class: 'big-input', disabled: "disabled", id: 'street_number'}
  = f.input :complement, input_html: { class: 'big-input'}
  = f.input :postal_code, input_html: { class: 'big-input', id: 'postal_code'}

.js-change-password-fields id="change-password" name="change-password" style="display: #{show_password_fields ? 'block' : 'none'}"
  .divider.address
    span
      = t(:password)
  = f.input :current_password
  = f.input :password, :label => "#{t(:new_password)}"
  = f.input :password_confirmation

.form-actions.display-table
  .display-table-cell.align-middle
    = link_to t(:change_password), "", class: 'link dark-red js-change-password-show-button cpy-change-password-link'
  .display-table-cell
    = f.button :submit, "#{t(:save)}", class: "btn green pull-right cpy-submit-button"
.clearfix

javascript:

  $('form').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) { 
      e.preventDefault();
      return false;
    }
  });
