.row
  .col-xs-12.border-box.with-padding
    h1.page-title Preguntas Frecuentes
    .divider

    ol 
      li 
        a.accordion
          b
            | ¿Cómo puedo hacer una reserva?
        .answer
        
          ol.letters
            li Escoja su destino (puede ser un lugar, una dirección, una ciudad)
            li Defina para cuantas personas es la reserva
            li Defina la fecha y el horario que desea (Check-In)
            li Escoja un paquete de horas que se acomode a su necesidad

      li
        a.accordion
          b ¿Está bien si llego un poco más tarde de la hora de entrada elegida?
        .answer
          p No hay ningún problema. Lo importante es siempre respetar el horario de salida (check-out). Sin embargo, recomendamos que llegue a tiempo para disfrutar su reserva al máximo.

      li 
        a.accordion
          b ¿Qué pasa si no salgo de la habitación a la hora programada?
        .answer
          p Si usted no respeta el horario de salida (check-out), le vamos a cobrar una multa en el valor del paquete de horas adquirido. Además, le vamos a bloquear su cuenta con nosotros y no va a poder volver a usar la plataforma.

      li 
        a.accordion
          b ¿Es seguro comprar en HotelQuando.com?
        .answer
          p Mantenemos la privacidad de sus datos para que terceros no tengan acceso. Adicionalmente, usted puede conocer nuestra Política de privacidad cuando desee.

      li 
        a.accordion
          b ¿Puedo cancelar una reserva en HotelQuando.com?
        .answer
          p Puedo cancelar la reserva dentro del plazo establecido por el hotel escogido.

      li 
        a.accordion
          b ¿Cómo se cancela una reserva?
        .answer
          p Para cancelar un reserva, primero tiene que asegurarse que está dentro del plazo permitido para cancelación. Si está dentro del plazo, entre a “Mis Reservas” y cancele.

      li 
        a.accordion
          b ¿Me van a cobrar una multa si cancelo mi reserva?
        .answer
          p Si respeta el plazo de cancelación del hotel, no le vamos a cobrar ninguna multa. Por favor, note que SIEMPRE tiene que cancelar dentro del plazo establecido por el hotel.

      li 
        a.accordion
          b ¿Si cancelo una reserva, cuánto tiempo se demora el reembolso?
        .answer
          p En el momento de la cancelación, enviaremos un requerimiento a la compañía de su tarjeta de crédito y el tiempo de espera del reembolso es definido por esta. Para más información por favor contacte con su banco.



      li 
        a.accordion
          b ¿Los precios que aparecen en HotelQuando.com son por habitación o por persona?
        .answer
          p Los precios en nuestra página siempre son por persona. Independiente del tipo de habitación o de configuración de camas dentro de la habitación.

      li 
        a.accordion
          b ¿Los precios que aparecen en HotelQuando.com tienen todos los impuestos incluidos?
        .answer
          p Todos los precios en nuestra página incluyen impuestos. Puede ver más información entrando a las condiciones de uso.

      li 
        a.accordion
          b ¿Cómo puedo hacer el pago de la reserva?
        .answer
        p Usted puede pagar de dos formas: Pago en el momento de la reserva con tarjeta de crédito y pago en destino. Todas las formas de pago que ofrece el hotel aparecerán en nuestra página. Si se elige el pago en destino, vamos a hacer una pre-autorización en su tarjeta de crédito como garantía.
        a.accordion
      li
        a.accordion
          b ¿Cómo se si mi reserva está confirmada?
        .answer
          p Usted va a recibir un e-mail informándole de la confirmación de su reserva y también puede ver el estatus de su reserva a través de su cuenta en “Mis Reservas.”

      li 
        a.accordion
          b ¿Cómo consigo el recibo de mi reserva?
        .answer
          p Al confirmar su reserva, va a recibir un email de HotelQuando.com con los datos de la reserva. Además, puede pedir un recibo en el hotel.

      li 
        a.accordion
          b ¿Qué hago si tengo alguna pregunta de mi reserva?
        .answer
          p Consulte la sección de atención al cliente y vea todas las maneras de ponerse en contacto con nosotros.
       

       
