- I18n.with_locale(@hotel.locale) do
  - content_for(:title) { t("views.hotel_mailer.noshow_successfull_charged_notice.title") }
  p == t("views.hotel_mailer.noshow_successfull_charged_notice.greeting", hotel_name: @hotel.name, guest_name: @booking.guest_name)

  p
    span.gray
      = t("views.hotel_mailer.noshow_successfull_charged_notice.owner")
    span = @booking.guest_name
    br
    span.gray
      = t("views.hotel_mailer.noshow_successfull_charged_notice.date_and_time")
    span = @booking.offer.checkin_timestamp.strftime('%d/%m/%Y - %H:%M')
    br
    span.gray
      = t("views.hotel_mailer.noshow_successfull_charged_notice.package")
    span = "#{@booking.pack_in_hours} #{@booking.pack_in_hours.eql?(1) ? t('views.hotel_mailer.noshow_successfull_charged_notice.hour') : t('views.hotel_mailer.noshow_successfull_charged_notice.hours') }"
    br
    span.gray
      = t("views.hotel_mailer.noshow_successfull_charged_notice.user")
    - if @booking.created_by_agency?
      span = @booking.traveler.cost_center.company_detail.agency_detail.name
    - elsif @booking.traveler_id.present?
      span = @booking.traveler.cost_center.company_detail.name
    - else
      span = @booking.user.name
    br
    span.gray
      = t("views.hotel_mailer.noshow_successfull_charged_notice.reservation_value")
    /- if @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced]
      span = number_to_currency @booking.total_price_for_hotels_if_booking_is_invoiced
    /- else
    span = number_to_currency @booking.total_price_without_tax
    br
    span.gray
      = t("views.hotel_mailer.noshow_successfull_charged_notice.no_show_value")
    /- if @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced]
      span = number_to_currency @booking.no_show_value_for_hotels_if_booking_is_invoiced
    /- else
    span = number_to_currency @booking.no_show_value_without_tax
    br
    span.gray
      = t("views.hotel_mailer.noshow_successfull_charged_notice.no_show_situation")
    span = t("views.hotel_mailer.noshow_successfull_charged_notice.success")


  p = t("views.hotel_mailer.noshow_successfull_charged_notice.view_reservation")
  p = link_to hotel_bookings_url, hotel_bookings_url
