css:
  .red-box{
    border: solid 2px red;
    border-radius: 5px;
    margin: 20px 20%;
    text-align: center;
    padding: 20px;
  }

- I18n.with_locale(@hotel.locale) do
  - content_for(:title) { t("views.hotel_mailer.send_booking_confirmation_notice.title") }

  - if @booking.have_discount_in_offer_price?
    - promo_code = @booking.promotional_code_log.promotional_code
    .red-box
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.attention_booking_with_discount")}
      br

    p == t("views.hotel_mailer.send_booking_confirmation_notice.greeting", hotel_name: @hotel.name)
    
    br
    - if promo_code.discount_type == PromotionalCode::ACCEPTED_DISCOUNT_TYPE[:percentage]
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.your_booking_have_discount", value: number_to_percentage(promo_code.discount, precision: 2))}
      br/
    - else
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.your_booking_have_discount", value: number_to_currency(promo_code.discount, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]))}
      br/
    b #{t("views.hotel_mailer.send_booking_confirmation_notice.the_value_will_be_pre_paid")}
    br
    | #{t("views.hotel_mailer.send_booking_confirmation_notice.we_will_contact_you_before_checkin")}
    br
    | #{t("views.hotel_mailer.send_booking_confirmation_notice.please_charge_only_the_mount", value: number_to_currency(@booking.total_price_without_tax, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]))}
    br
    | #{t("views.hotel_mailer.send_booking_confirmation_notice.in_case_have_doubts")}
    br
    | #{t("views.hotel_mailer.send_booking_confirmation_notice.att_hq")}
    br

  - else
    p == t("views.hotel_mailer.send_booking_confirmation_notice.greeting", hotel_name: @hotel.name)

  h2 = t("views.hotel_mailer.send_booking_confirmation_notice.reservation_info")

  p
    - if (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured] || @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced])
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.billed_payment")}
    - elsif @booking.status == Booking::ACCEPTED_STATUSES[:invoiced_by_agency]
      | #{t("views.hotel.bookings.payment")}: #{t(:invoiced_by_agency)}
    - else
      - if @booking.promotional_code_log.present?
        | #{t("views.hotel_mailer.send_booking_confirmation_notice.billed_payment")}
      - else
        | #{t("views.hotel_mailer.send_booking_confirmation_notice.payment_at_destination")}
    br/
    | #{t("views.hotel_mailer.send_booking_confirmation_notice.guest_name", guest_name: @booking.guest_name)}
    br/
    | #{t("views.hotel_mailer.send_booking_confirmation_notice.number_of_people", number_of_people: @booking.number_of_people)}
    br/
    - if @booking.is_meeting_offer?
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.meeting_room_name", meeting_room: @booking.offer.meeting_room.name_pt_br)}
    - elsif @booking.is_event_offer?
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.ballroom_name", ballroom_name: @booking.offer.event_room.name_pt_br)}
    - else
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.room_type", room_type: @booking.offer.room_type.full_name_pt_br)}
    br/
    | #{t("views.hotel_mailer.send_booking_confirmation_notice.checkin", checkin_timestamp: @booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M"))}
    br/
    | #{t("views.hotel_mailer.send_booking_confirmation_notice.package", pack_in_hours: @booking.offer.pack_in_hours)} #{@booking.offer.pack_in_hours.eql?(1) ? t("views.hotel_mailer.send_booking_confirmation_notice.hour") : t("views.hotel_mailer.send_booking_confirmation_notice.hours")}
    br/
    | #{t("views.hotel_mailer.send_booking_confirmation_notice.checkout", checkout_timestamp: @booking.offer.checkout_timestamp.strftime("%d/%m/%Y %H:%M"))}
    br/


    - if @booking.have_discount_in_offer_price?
      b #{t("views.hotel_mailer.send_booking_confirmation_notice.room_value", room_value: number_to_currency(@booking.total_price_without_tax_and_without_discount, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]))}
      br/

      - if promo_code.discount_type == PromotionalCode::ACCEPTED_DISCOUNT_TYPE[:percentage]
        b #{t("views.hotel_mailer.send_booking_confirmation_notice.discount_value", discount_value: number_to_percentage(promo_code.discount, precision: 2))}
        br/
      - else
        b #{t("views.hotel_mailer.send_booking_confirmation_notice.discount_value", discount_value: number_to_currency(promo_code.discount, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]))}
        br/

      b #{t("views.hotel_mailer.send_booking_confirmation_notice.total_value", total_price: number_to_currency(@booking.total_price_without_tax, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]))}
      br/
    - elsif @booking.promotional_code_log.present? && @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured]
      b #{t("views.hotel_mailer.send_booking_confirmation_notice.room_value", room_value: number_to_currency(@booking.total_price_without_tax_and_without_discount, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]))}
      br/
    - else
      b #{t("views.hotel_mailer.send_booking_confirmation_notice.room_value", room_value: number_to_currency(@booking.total_price_without_tax, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]))}
      br/

  - if @booking.invoice || @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured]
    - invoice = @booking.invoice
    h2 #{t("views.hotel_mailer.send_booking_confirmation_notice.invoice_info")}
    p
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.cnpj")} #{invoice.present? ? invoice.cnpj : '19.901.516/0001-35'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.name")} #{invoice.present? ? invoice.company_name : 'Reservas por Hora do Brasil Ltda'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.street")} #{invoice.present? ? invoice.street : 'Rua Comendador Miguel Calfat'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.number")} #{invoice.present? ? invoice.number : '128'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.complement")} #{invoice.present? ? invoice.complement : '- Conjunto 419'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.neighborhood")} #{invoice.present? ? invoice.district : 'Vila Nova Conceição'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.city")} #{invoice.present? ? invoice.city : 'São Paulo'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.state")} #{invoice.present? ? invoice.state : 'São Paulo'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.cep")} #{invoice.present? ? invoice.cep : '04537-080'}
      br/

    h2 #{t("views.hotel_mailer.send_booking_confirmation_notice.mailing_info")}
    p
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.email_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.recipient_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.care_of_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.street_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.number_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.complement_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.neighborhood_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.city_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.state_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.zipcode_mail")}
      br/


  p #{t("views.hotel_mailer.send_booking_confirmation_notice.view_reservation")}
  p = link_to hotel_bookings_url, hotel_bookings_url
