- I18n.with_locale(@hotel.locale) do
  - content_for(:title) { t("views.hotel_mailer.send_booking_confirmation_notice.title") }
  p == t("views.hotel_mailer.send_booking_confirmation_notice.greeting", hotel_name: @hotel.name)

  h2 Informações da Solicitação de Reserva:
  p
    - if @booking.promotional_code_log.present?
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.billed_payment")}
    - else
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.payment_at_destination")}
    br/
    | #{t("views.hotel_mailer.send_booking_confirmation_notice.guest_name", guest_name: @booking.guest_name)}
    br/
    | #{t("views.hotel_mailer.send_booking_confirmation_notice.number_of_people", number_of_people: @booking.number_of_people)}
    br/
    - if @booking.is_meeting_offer?
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.meeting_room_name", meeting_room: @booking.offer.meeting_room.name_pt_br)}
    - elsif @booking.is_event_offer?
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.ballroom_name", ballroom_name: @booking.offer.event_room.name_pt_br)}
    - else
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.room_type", room_type: @booking.offer.room_type.full_name_pt_br)}
    br/
    | #{t("views.hotel_mailer.send_booking_confirmation_notice.checkin", checkin_timestamp: @booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M"))}
    br/
    | #{t("views.hotel_mailer.send_booking_confirmation_notice.package", pack_in_hours: @booking.offer.pack_in_hours)} #{@booking.offer.pack_in_hours.eql?(1) ? t("views.hotel_mailer.send_booking_confirmation_notice.hour") : t("views.hotel_mailer.send_booking_confirmation_notice.hours")}
    br/
    | #{t("views.hotel_mailer.send_booking_confirmation_notice.checkout", checkout_timestamp: @booking.offer.checkout_timestamp.strftime("%d/%m/%Y %H:%M"))}
    br/


    - if @booking.promotional_code_log.present? || @booking.using_balance
      b #{t("views.hotel_mailer.send_booking_confirmation_notice.room_value", room_value: number_to_currency(@booking.total_price_without_tax_and_without_discount, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]))}
      br/
    - else
      b #{t("views.hotel_mailer.send_booking_confirmation_notice.room_value", room_value: number_to_currency(@booking.total_price_without_tax, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]))}
      br/

  - if @booking.invoice || @booking.status == Booking::ACCEPTED_STATUSES[:requested_and_paid_reservation]
    - invoice = @booking.invoice
    h2 #{t("views.hotel_mailer.send_booking_confirmation_notice.invoice_info")}
    p
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.cnpj")} #{invoice.present? ? invoice.cnpj : '19.901.516/0001-35'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.name")} #{invoice.present? ? invoice.company_name : 'Reservas por Hora do Brasil Ltda'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.street")} #{invoice.present? ? invoice.street : 'Rua Comendador Miguel Calfat'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.number")} #{invoice.present? ? invoice.number : '128'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.complement")} #{invoice.present? ? invoice.complement : '- Conjunto 419'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.neighborhood")} #{invoice.present? ? invoice.district : 'Vila Nova Conceição'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.city")} #{invoice.present? ? invoice.city : 'São Paulo'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.state")} #{invoice.present? ? invoice.state : 'São Paulo'}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.cep")} #{invoice.present? ? invoice.cep : '04537-080'}
      br/

    h2 #{t("views.hotel_mailer.send_booking_confirmation_notice.mailing_info")}
    p
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.email_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.recipient_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.care_of_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.street_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.number_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.complement_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.neighborhood_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.city_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.state_mail")}
      br/
      | #{t("views.hotel_mailer.send_booking_confirmation_notice.zipcode_mail")}
      br/


  p #{t("views.hotel_mailer.send_booking_confirmation_notice.view_reservation")}
  p = link_to hotel_bookings_url, hotel_bookings_url
