- content_for(:title) { "Para Todos Nossos Clientes e Parceiros: Muito Obrigado! Muchas Gracias! Thank you!" }
p Prezados Parceiros,

p A HotelQuando surgiu com o intuito de revolucionar a forma com a qual o mercado da hotelaria estava habituado a vender seus quartos, apenas diárias. Trouxemos a opção da venda fracionada para o público final e mais que isso, conseguimos ajudar os hotéis que acreditaram na nossa ideia a criar uma receita complementar, trazendo assim um novo público e um novo conceito.

p Nos últimos 3 meses, temos passado por diversas mudanças dentro da HotelQuando, desde a estrutura administrativa, como na nossa tecnologia e o mais importante, a atenção aos nosso parceiros e clientes, que são a razão por estarmos seguindo em frente.

p Reconhecemos que tivemos falhas nesses processos de reestruturação, mas gostaríamos de deixar claro o nosso compromisso com vocês e agradecer pela paciência e parceria, estamos trabalhando duro, para melhorarmos toda a gestão e procedimentos internos para podermos seguir na onda de crescimento e apresentar as novidades que virão.

p Aproveitamos para informar os nossos novos contatos: 
  | Financeiro -
  a.track-email href="mailto:financeiro@hotelquando.com.br"
    | financeiro@hotelquando.com.br


p
  | Atendimento Hotéis/ Clientes -
  a.track-email href="mailto:atendimento@hotelquando.com.br"
    | atendimento@hotelquando.com.br

p Cel.: (11) 9.6171-5481

p Nossos mais sinceros Agradecimentos a todos, que contribuem para nossa evolução.

p Let’s do Epic !!!

p Atenciosamente Equipe HotelQuando.
