- I18n.with_locale(@hotel.locale) do
  - content_for(:title) { t("views.hotel_mailer.send_login_and_password.title") }
  p == t("views.hotel_mailer.send_login_and_password.greeting", hotel_name: @hotel.name)
  p.small
    span.gray login:&nbsp;
    span = @hotel.login

  p.small
    span.gray #{t('password')} &nbsp;
    span = @hotel.password

  p #{t("views.hotel_mailer.send_login_and_password.configure_rooms_and_offers")}
  p = link_to hotel_root_url, hotel_root_url
