- I18n.with_locale(@hotel.locale) do
  - content_for(:title) { t("views.hotel_mailer.send_booking_cancellation_notice.title", hotel_name: @booking.hotel.name) }
  p == t("views.hotel_mailer.send_booking_cancellation_notice.greeting", hotel_name: @booking.hotel.name)
  h2 = t("views.hotel_mailer.send_booking_cancellation_notice.reservation_info")
  p
    | #{t("views.hotel_mailer.send_booking_cancellation_notice.guest_name", guest_name: @booking.guest_name)}
    br/
    | #{t("views.hotel_mailer.send_booking_cancellation_notice.number_of_people", number_of_people: @booking.number_of_people)}
    br/
    - if @booking.is_meeting_offer?
      | #{t("views.hotel_mailer.send_booking_cancellation_notice.meeting_room_name", meeting_room: @booking.offer.meeting_room.name_pt_br)}
    - elsif @booking.is_event_offer?
      | #{t("views.hotel_mailer.send_booking_cancellation_notice.ballroom_name", event_hall_name: @booking.offer.event_room.name_pt_br)}
    - else
      | #{t("views.hotel_mailer.send_booking_cancellation_notice.room_type", room_type: @booking.offer.room_type.full_name_pt_br)}
    br/
    | #{t("views.hotel_mailer.send_booking_cancellation_notice.checkin", checkin_timestamp: @booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M"))}
    br/
    | #{t("views.hotel_mailer.send_booking_cancellation_notice.package", pack_in_hours: @booking.offer.pack_in_hours)} #{@booking.offer.pack_in_hours.eql?(1) ? t("views.hotel_mailer.send_booking_cancellation_notice.hour") : t("views.hotel_mailer.send_booking_cancellation_notice.hours")}
    br/
    | #{t("views.hotel_mailer.send_booking_cancellation_notice.checkout", checkout_timestamp: @booking.offer.checkout_timestamp.strftime("%d/%m/%Y %H:%M"))}
    br/
    - if @booking.promotional_code_log.present? || @booking.using_balance
      b #{t("views.hotel_mailer.send_booking_cancellation_notice.total_value", total_price: number_to_currency(@booking.total_price_without_tax_and_without_discount, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]))}
    - else
      b #{t("views.hotel_mailer.send_booking_cancellation_notice.total_value", total_price: number_to_currency(@booking.total_price_without_tax, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]))}

  p = t("views.hotel_mailer.send_booking_cancellation_notice.unviable_reservation")

  p = t("views.hotel_mailer.send_booking_cancellation_notice.view_reservation")
  p = link_to hotel_bookings_url, hotel_bookings_url
