ruby:
  hotel_not_accept_invoiced_payment = false
  countries_accepted_by_paypal_iframe = ["BR","US","MX"]
  currencies_accepted_by_paypal_iframe = ["BRL","USD","MXN"]
  can_show_iframe = currencies_accepted_by_paypal_iframe.include?(current_currency.code) && countries_accepted_by_paypal_iframe.include?(@booking.guest.country)
  if @booking.guest.country == "BR" && current_currency.code != "BRL"
    can_show_iframe = false
  end
  if current_public_user.accept_confirmed_and_invoiced && !@booking.hotel.accept_invoiced_payment
    can_show_iframe = false
    hotel_not_accept_invoiced_payment = true
  end
  
  case I18n.locale.to_s
    when 'pt_br' 
      language_to_paypal = 'pt_BR'
    when 'en'
      language_to_paypal = 'en_US'
    when 'es'
      language_to_paypal = 'es_MX'
    else
      language_to_paypal = 'en_US'
  end

  if @booking.guest.country == "BR"
    tax_id = @booking.guest.cpf.gsub(/\D/, '')
    tax_id_type = "BR_CPF"
  else
    tax_id = ''
    tax_id_type = ''
  end

javascript:
  var ppp = PAYPAL.apps.PPP({ 
    "approvalUrl": "#{raw @redirect_url}",
    "payerFirstName": "#{@booking.guest.first_name}",
    "payerLastName": "#{@booking.guest.last_name}",
    "payerEmail": "#{@booking.guest.email}",
    "payerTaxId": "#{tax_id}",
    "payerPhone": "#{@booking.phone_number.gsub(/\D/, '')}",
    "payerTaxIdType": "#{tax_id_type}",
    "placeholder": "ppplus",
    "language": "#{language_to_paypal}",
    "country": "#{@booking.guest.country}",
    "mode": "live",
    "buttonLocation": "outside",
    "disableContinue": "continueButton",
    "disallowRememberedCards": true,
    "onContinue": function () {
      $("#new_payment").submit();
    },
    "onError": function () {
      $("button.submit-button").attr("disabled", false);
    },
    });

- radio_class = button_class + "-radio"
- promotional_100_percent = @booking.promotional_code_log && @booking.promotional_code_log.promotional_code.discount_type == PromotionalCode::ACCEPTED_DISCOUNT_TYPE[:percentage] && @booking.promotional_code_log.promotional_code.discount.eql?(100)
= simple_form_for(@payment, url:  public_booking_payments_path(booking_id: params[:booking_id]), method: :post, wrapper: :basic) do |f|
  .col-sm-7
    = render partial: "/public/bookings/payments/_new/radio_buttons_form"
    
    .row.info-header ng-init="participantCpf = false; multiplusParticipant = false"
      .info-price.col-xs-12.col-md-2.text-right.hidden-md.hidden-lg
        - if promotional_100_percent
          .row
            = t(:promotional_100_percent_describe)


    .hidden-xs.hidden-sm
      .booking-step-title
        - if promotional_100_percent
          = t(:promotional_100_percent_describe)

    

    - if !promotional_100_percent
      - if @booking.traveler_id.present? && !current_public_user.accept_confirmed_and_invoiced
        - options_for_select = []
        - credit_cards = @booking.traveler.credit_cards
        - credit_cards.each do | credit_card |
          - options_for_select << ["#{t("payments.#{credit_card.flag_name}")} - #{t(:last_digits)}: #{credit_card.last_four_digits}", credit_card.id]
        .form-group.select-credit-cards ng-controller='TravelerCreditCardCtrl' ng-init="creditCardsTraveler = #{credit_cards.to_json}"
          = select_tag 'credit_card[id]', options_for_select(options_for_select), class: 'select form-control size-100-percent', prompt: t(:select_the_credit_card), 'ng-model' => 'selectedCreditCardId', 'ng-change' => 'changeCreditCard()'
          .show-credit-card.collapse
            .row
              .col-sm-8
                => CreditCard.human_attribute_name("card_number") + ":"
                span.card-number-value
              .col-sm-4
                => CreditCard.human_attribute_name("cvv") + ":"
                span.cvv-value
            .row
              .col-sm-6
                => CreditCard.human_attribute_name("expiration_month") + ":"
                span.expiration-month-value
              .col-sm-6
                => CreditCard.human_attribute_name("expiration_year") + ":"
                span.expiration-year-value


    .row ng-init="paypalCreditCard = #{can_show_iframe}"
      - if current_public_user.accept_confirmed_and_invoiced
          .col-sm-12
            label.radio-button for='paypal_credit_card_true' 
              = radio_button_tag 'paypal_credit_card', true, true, class: "cpy-credit-card-true-radio-button"
              =< t(:invoiced)

      - else
        - if can_show_iframe
          .col-sm-6
            label.radio-button for='paypal_credit_card_true' ng-click='paypalCreditCard = true'
              = radio_button_tag 'paypal_credit_card', true, (params[:paypal_credit_card] == 'true') || (params[:paypal_credit_card].nil?), class: "cpy-credit-card-true-radio-button", "ng-checked" => "paypalCreditCard"
              =< t(:credit_card)

        .col-sm-6
          label.radio-button for='paypal_credit_card_false' ng-click='paypalCreditCard = false'
            = radio_button_tag 'paypal_credit_card', false, (params[:paypal_credit_card] == 'false'), class: "cpy-credit-card-false-radio-button", "ng-checked" => "!paypalCreditCard"
            =< image_tag("https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png")


      - if !current_public_user.accept_confirmed_and_invoiced && can_show_iframe
        #ppplus
        
  .col-sm-5
    = f.input :paypal_payment_id, :as => :hidden
    .form-actions
      .col-sm-12
        - if @booking.guest.country == "BR"
          - if !promotional_100_percent
            .advantages-box
              / .tudo-azul
              /   .pull-left.image = image_tag 'tudo_azul2.png'
              /   .description
              /     p
              /       = t(:tudo_azul_description)
              /     p
              /       = t(:get)
              /       span.blue
              /         = t(:one_point)
              /       = t(:for_each)
              /       span.blue
              /         = t(:one_real_spent)
              /   .clearfix
              /   .comments
              /     p.small
              /       = t(:you_must_provide_a_valid_cpf)
              /   = link_to t(:learn_more), public_tudo_azul_path, class: 'pull-left', target: "_blank"
              /   .checkbox.pull-right
              /     label ng-click='participantCpf = !participantCpf; multiplusParticipant = false'
              /       = check_box_tag "tudo_azul_participant", true, false, "ng-checked" => "participantCpf"
              /       span.lbl ng-click='participantCpf = !participantCpf; multiplusParticipant = false'
              /         =< t(:i_want_to_participate)
              /   .clearfix
              /   .user-cpf-input ng-show='participantCpf'
              /     = text_field_tag 'participant_cpf', current_public_user.cpf, placeholder: 'CPF do participante', class: 'participant-cpf-input js-mask-cpf animated fadeIn'
              .clearfix
              /.multiplus
                .pull-left.image = image_tag 'multiplus.png'
                .description
                  p
                    = t(:multiplus_description)
                  p
                    = t(:get)
                    span.gray
                      = t(:one_point_multiplus)
                    = t(:for_each)
                    span.gray
                      = t(:one_real_spent)
                .clearfix
                .comments
                  p.small
                    = t(:you_must_provide_a_multiplus_number)
                = link_to t(:learn_more), public_multiplus_path, class: 'pull-left', target: "_blank"
                .checkbox.pull-right
                  label ng-click='multiplusParticipant = !multiplusParticipant; participantCpf = false'
                    = check_box_tag "multiplus_participant", true, false, "ng-checked" => "multiplusParticipant"
                    span.lbl ng-click='multiplusParticipant = !multiplusParticipant; participantCpf = false'
                      =< t(:i_want_to_participate)
                .clearfix
                .user-cpf-input ng-show='multiplusParticipant'
                  = text_field_tag 'multiplus_code', nil, placeholder: 'Número Multiplus', class: 'participant-cpf-input animated fadeIn'
        .clearfix
        .checkbox ng-init="checkedTermsofuse = true"
          label
            = check_box_tag "read_and_accept", nil, false, "ng-model" => "checkedTermsofuse"
            span.lbl
              =< t(:i_have_read_and_accepted)

        - if can_show_iframe
          div ng-show='paypalCreditCard'
            .js-tooltip-toggler.tooltip-toggler.pull-right data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:check_terms_of_use_title)}"

              button type="submit" class="submit-disabled cpy-disabled-submit-button #{button_class} submit-button pill big pull-right btn" disabled="disabled" ng-hide="checkedTermsofuse"
                = t(:finish_reservation)

            button type="submit" id="continueButton" onclick="ppp.doContinue(); return false;" class="cpy-submit-button ng-hide #{button_class} submit-button pill big pull-right btn" ng-disabled="!checkedTermsofuse" ng-show="checkedTermsofuse"
              = t(:finish_reservation)
        
        - if hotel_not_accept_invoiced_payment
          div
            .js-tooltip-toggler.tooltip-toggler.pull-right data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:this_hotel_not_accept_invoiced_payment)}"

              button type="submit" class="submit-disabled cpy-disabled-submit-button #{button_class} submit-button pill big pull-right btn" disabled="disabled"
                = t(:finish_reservation)         


      - if !current_public_user.accept_confirmed_and_invoiced
        .clearfix
        #paypal-button ng-show='!paypalCreditCard'


= javascript_include_tag("https://www.paypalobjects.com/api/checkout.js")

javascript:
  paypal.Button.render({
    env: 'production', // Specify 'sandbox' for the test environment
    style: {
      size: 'responsive',
      color: 'blue',
      shape: 'pill',
      label: 'checkout'
    },
    locale: "#{language_to_paypal}",
    payment: function(resolve, reject) {
       
      var CREATE_PAYMENT_URL = "#{create_express_checkout_payment_public_booking_payments_path(@booking.id, :authenticity_token => form_authenticity_token)}";
          
      paypal.request.post(CREATE_PAYMENT_URL)
        .then(function(data) { resolve(data.id); })
        .catch(function(err) { reject(err); });
    },
    commit: true, // Optional: show a 'Pay Now' button in the checkout flow
    onAuthorize: function(data) {
    
      // Note: you can display a confirmation page before executing
      
      var EXECUTE_PAYMENT_URL = "#{public_booking_payments_path(@booking.id)}?" + $('#new_payment').serialize();

      paypal.request.post(EXECUTE_PAYMENT_URL,
            { paymentID: data.paymentID, payerID: data.payerID })
            
        .then(function(data) { 
          if (data.table.success == true){
            window.location.replace("#{payment_success_public_booking_payments_path(@booking.id)}"); 
          }else{
            window.location.replace("#{new_public_booking_payments_path(@booking.id)}");
          }
        })

        .catch(function(err) { window.location.replace("#{public_booking_payments_path(@booking.id)}"); });
    }

  }, '#paypal-button');

