- radio_class = button_class + "-radio"
- promotional_100_percent = @booking.promotional_code_log && @booking.promotional_code_log.promotional_code.discount_type == PromotionalCode::ACCEPTED_DISCOUNT_TYPE[:percentage] && @booking.promotional_code_log.promotional_code.discount.eql?(100)

- render_new_credit_card_form = !current_public_user.is_a_company_employee?
- if (Public::Bookings::PaymentsController::SENDING_CREDIT_CARD_TO_MANUAL_PAYMENT == false) && (current_public_user.credit_cards.first || current_public_user.is_a_company? || current_public_user.is_a_agency?)
  - render_existing_credit_card_select = true
  - if params[:use_existing_credit_card].nil? || params[:use_existing_credit_card] == 'true'
    - credit_card_form_visible = false
  - else
    - credit_card_form_visible = true
- else
  - render_existing_credit_card_select = false
  - credit_card_form_visible = true
- if (@credit_card.billing_state != 'ZZ')
  - state_select_visible = true
- else
  - state_select_visible = false

.js-credit-card.col-sm-12 ng-controller='PublicNewPaymentCtrl' ng-init="creditCardFormVisible = #{credit_card_form_visible}; stateVisible = #{state_select_visible}"

  = simple_form_for(@credit_card, url:  public_booking_payments_path(booking_id: params[:booking_id]), method: :post, wrapper: :basic) do |f|

    .col-sm-7
      .row.info-header ng-init="showValueInfo = false; participantCpf = false; multiplusParticipant = false"
        .info-price.col-xs-12.col-md-2.text-right.hidden-md.hidden-lg
          - if @booking.hotel.is_brazilian
            .row
              .booking-total-value.row
                .text.col-md-12.col-xs-6.text-right
                  = t(:total_price_of_accommodation)
                .value.col-md-12.col-xs-4
                  span.money-unit
                    => "#{Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]}"
                  = number_to_currency(@booking.total_price_without_tax, unit: '')
            hr
            .row
              .booking-total-value.row
                .text.col-md-12.col-xs-6.text-right.strong
                  = t(:booking_tax)
                .value.col-md-12.col-xs-4
                  span.money-unit
                    => "#{Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]}"
                  = number_to_currency(@booking.booking_tax, unit: '')   
            hr
          .row
            .booking-total-value.row
              .text.col-md-12.col-xs-6.text-right
                = t(:total_price)
              .value.col-md-12.col-xs-4
                span.money-unit
                  => "#{Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]}"
                = number_to_currency(@booking.total_price, unit: '')


      .hidden-xs.hidden-sm
        .booking-step-title
          - if (Public::Bookings::PaymentsController::SENDING_CREDIT_CARD_TO_MANUAL_PAYMENT == false)
            = render partial: '/public/bookings/payments/_new/radio_buttons_form', locals: {radio_class: radio_class}
          - if promotional_100_percent
            = t(:promotional_100_percent_describe)

        .info-title
          .pull-left = image_tag 'booking-credit-card.jpg'
          h4.pull-left
            = t(:billing_data).mb_chars.upcase

        .row style="margin: 25px -10px 0"
          - if @booking.hotel.is_brazilian
            .col-xs-4.text-center
              span.booking-total-value
                span.attribute-title.text-center = t(:total_price_of_accommodation)
                br/
                span.value
                  span.money-unit
                    => "#{Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]}"
                  = number_to_currency(@booking.total_price_without_tax, unit: '')
            .col-xs-4.text-center
              span.booking-total-value
                span.attribute-title.text-center = t(:booking_tax)
                br/
                span.value
                  span.money-unit
                    => "#{Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]}"
                  = number_to_currency(@booking.booking_tax, unit: '')          
          .col-xs-4.text-center
            span.booking-total-value
              span.attribute-title.text-center = t(:total_price)
              br/
              span.value
                span.money-unit
                  => "#{Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]}"
                = number_to_currency(@booking.total_price, unit: '')
                
      .row
        - if !promotional_100_percent
          - if !current_public_user.accept_confirmed_and_invoiced
            - if render_existing_credit_card_select
              .existing-credit-card-select ng-show='!creditCardFormVisible'
                = render partial: '/public/bookings/payments/_new/existing_credit_card_select', locals: {booking: @booking}
                = hidden_field_tag 'use_existing_credit_card', params[:use_existing_credit_card] || true, { class: 'js-use-existing-credit-card' }

            - if render_new_credit_card_form
              .credit-card-form ng-show='creditCardFormVisible'
                = render partial: '/public/bookings/payments/_new/credit_card_form', locals: { f: f }

        - if current_public_user.is_a_company_employee?
          - if current_public_user.company.invoices.first
            .row.invoice
              - options_for_invoice_select = []
              - current_public_user.company.invoices.each { | invoice |  options_for_invoice_select << [invoice.company_name, invoice.id]}
              - if mobile_device?
                .col-xs-12.invoice-description
                  | #{t(:issue_invoice_hosting_for)}:
                .col-xs-12
                  = select_tag 'invoice_id', options_for_select(options_for_invoice_select, params[:invoice_id]), class: 'size-100-percent'
              - else
                .col-md-6
                  | #{t(:issue_invoice_hosting_for)}:
                .col-md-6
                  = select_tag 'invoice_id', options_for_select(options_for_invoice_select, params[:invoice_id]), class: 'size-100-percent'


    .col-sm-5
      - if !current_public_user.is_a_company_employee? || can_current_public_user_afford?(offer: @booking.offer, number_of_people: @booking.number_of_people)
        .form-actions
          .col-sm-12
            - if !current_public_user.is_a_company_employee? && @booking.hotel.is_brazilian
              - if !promotional_100_percent
                .advantages-box
                  .tudo-azul
                    .pull-left.image = image_tag 'tudo_azul2.png'
                    .description
                      p
                        = t(:tudo_azul_description)
                      p
                        = t(:get)
                        span.blue
                          = t(:one_point)
                        = t(:for_each)
                        span.blue
                          = t(:one_real_spent)
                    .clearfix
                    .comments
                      p.small
                        = t(:you_must_provide_a_valid_cpf)
                    = link_to t(:learn_more), public_tudo_azul_path, class: 'pull-left', target: "_blank"
                    .checkbox.pull-right
                      label ng-click='participantCpf = !participantCpf; multiplusParticipant = false'
                        = check_box_tag "tudo_azul_participant", true, false, "ng-checked" => "participantCpf"
                        span.lbl ng-click='participantCpf = !participantCpf; multiplusParticipant = false'
                          =< t(:i_want_to_participate)
                    .clearfix
                    .user-cpf-input ng-show='participantCpf'
                      = text_field_tag 'participant_cpf', current_public_user.cpf, placeholder: 'CPF do participante', class: 'participant-cpf-input js-mask-cpf animated fadeIn'
                  .clearfix
                  .multiplus
                    .pull-left.image = image_tag 'multiplus.png'
                    .description
                      p
                        = t(:multiplus_description)
                      p
                        = t(:get)
                        span.gray
                          = t(:one_point_multiplus)
                        = t(:for_each)
                        span.gray
                          = t(:one_real_spent)
                    .clearfix
                    .comments
                      p.small
                        = t(:you_must_provide_a_multiplus_number)
                    = link_to t(:learn_more), public_multiplus_path, class: 'pull-left', target: "_blank"
                    .checkbox.pull-right
                      label ng-click='multiplusParticipant = !multiplusParticipant; participantCpf = false'
                        = check_box_tag "multiplus_participant", true, false, "ng-checked" => "multiplusParticipant"
                        span.lbl ng-click='multiplusParticipant = !multiplusParticipant; participantCpf = false'
                          =< t(:i_want_to_participate)
                    .clearfix
                    .user-cpf-input ng-show='multiplusParticipant'
                      = text_field_tag 'multiplus_code', nil, placeholder: 'Número Multiplus', class: 'participant-cpf-input animated fadeIn'
            .clearfix
            .checkbox
              label
                = check_box_tag "read_and_accept", nil, false, "ng-model" => "checkedTermsofuse"
                span.lbl
                  =< t(:i_have_read_and_accepted)
            .clearfix
            - if @booking.traveler_id.nil? || (@booking.traveler_id.present? && ( current_public_user.accept_confirmed_and_invoiced || @booking.traveler.credit_cards.any? ))
              .js-tooltip-toggler.tooltip-toggler.pull-right data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:check_terms_of_use_title)}"

                = f.submit t(:finish_reservation).upcase, class: "submit-disabled cpy-disabled-submit-button #{button_class} submit-button pill big pull-right btn", "disabled" => "disabled", "ng-hide" => "checkedTermsofuse"

              = f.submit t(:finish_reservation).upcase, class: "cpy-submit-button ng-hide #{button_class} submit-button pill big pull-right btn", "ng-disabled" => "!checkedTermsofuse", "ng-show" => "checkedTermsofuse"


