.radio-buttons
  .row
    - if @booking.offer.hotel.accept_invoiced_by_agency && current_public_user.accept_confirmed_and_invoiced
      .col-sm-12
        .info-title style="margin-left:30px;margin-top:30px"
          h4.row
            .image> = image_tag('clock-gray.png')
            span.attribute-title.font-18 =< t(:this_booking_paid_by_agency)
      .col-sm-12
        .info-title style="margin-left:30px;margin-top:30px"
          h4.row
            i.fa.fa-building>
            span.attribute-title.font-18 =< t(:total_room_price)
          .row.booking-total-value
            .col-sm-12
              span.value
                span.money-unit
                  => "#{current_currency.money_sign}"
                = number_to_currency(calculate_currency(@booking.total_price_without_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")
          / .row.booking-total-value
          /   .col-sm-6
          /     span.value
          /       span.money-unit
          /         => "#{current_currency.money_sign}"
          /       = number_to_currency(calculate_currency(@booking.booking_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")
    - else
      - if @booking.will_be_paid_online?
        - if @booking.promotional_code_log
          .col-sm-12
            .info-title style="margin-left:30px;margin-top:30px"
              h4.row
                i.fa.fa-building>
                span.attribute-title.font-18 =< t(:total_room_price)
              .row.booking-total-value
                .col-sm-12
                  span.value
                    span.money-unit
                      => "#{current_currency.money_sign}"
                    = number_to_currency(calculate_currency(@booking.total_price_without_tax_and_without_discount, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")
          .col-sm-12
            .info-title style="margin-left:30px;margin-top:30px"
              h4.row
                i.fa.fa-building>
                span.attribute-title.font-18 =< PromotionalCode.human_attribute_name("discount")
              .row.booking-total-value
                .col-sm-12
                  span.value
                    - if @booking.promotional_code_log.promotional_code.discount_type == PromotionalCode::ACCEPTED_DISCOUNT_TYPE[:percentage]
                      = number_to_percentage(@booking.promotional_code_log.promotional_code.discount, precision: 0)
                    - else
                      span.money-unit
                        => "#{current_currency.money_sign}"
                      = number_to_currency(calculate_currency(@booking.promotional_code_log.promotional_code.discount, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")

        - elsif @booking.can_use_credit_balance?
          .col-sm-12
            .info-title style="margin-left:30px;margin-top:30px"
              h4.row
                i.fa.fa-building>
                span.attribute-title.font-18 =< t(:total_room_price)
              .row.booking-total-value
                .col-sm-12
                  span.value
                    span.money-unit
                      => "#{current_currency.money_sign}"
                    = number_to_currency(calculate_currency(@booking.total_price_without_tax_and_discount_balance, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")
          .col-sm-12
            .info-title style="margin-left:30px;margin-top:30px"
              h4.row
                i.fa.fa-building>
                span.attribute-title.font-18 =< PromotionalCode.human_attribute_name("discount")
              .row.booking-total-value
                .col-sm-12
                  span.value
                    span.money-unit
                      => "#{current_currency.money_sign}"
                    = number_to_currency(@booking.balance_value_used, unit: "")

        - else
          .col-sm-12
            .info-title style="margin-left:30px;margin-top:30px"
              h4.row
                i.fa.fa-building>
                span.attribute-title.font-18 =< t(:total_room_price)
              .row.booking-total-value
                .col-sm-12
                  span.value
                    span.money-unit
                      => "#{current_currency.money_sign}"
                    = number_to_currency(calculate_currency(@booking.total_price_without_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")

        .col-sm-12
          .info-title style="margin-left:30px;margin-top:30px"
            h4.row
              .image> = image_tag('clock-gray.png')
              span.attribute-title.font-18 =< t(:booking_tax)
            .row.booking-total-value
              .col-sm-6
                span.value
                  span.money-unit
                    => "#{current_currency.money_sign}"
                  = number_to_currency(calculate_currency(@booking.booking_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")
              .col-sm-6.text-center
              - if @booking.hotel.booking_on_request
              .col-sm-6.text-center
                span
                  = t(:to_confirm_your_booking_request)
              - else
                span
                  = t(:to_confirm_your_reservation_we_charge)

        .col-sm-12
          .info-title style="margin-left:30px;margin-top:30px"
            h4.row
              span.attribute-title.font-18 =< "#{t(:total_booking_price)} #{current_currency.money_sign} #{number_to_currency(calculate_currency(@booking.total_price, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")}"


      - else
        .col-sm-12
          .info-title style="margin-left:30px;margin-top:30px"
            h4.row
              i.fa.fa-building>
              span.attribute-title.font-18 =< t(:the_payment_of_your_booking_will_be_at_the_hotel)
            .row.booking-total-value
              .col-sm-12
                span.attribute-title.text-center = t(:total_room_price)
                br/
                span.value
                  span.money-unit
                    => "#{current_currency.money_sign}"
                  = number_to_currency(calculate_currency(@booking.total_price_without_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")

        .col-sm-12
          .info-title style="margin-left:30px;margin-top:30px"
            h4.row
              .image> = image_tag('clock-gray.png')
              span.attribute-title.font-18 =< "#{t(:now_you_pay)} #{current_currency.money_sign} #{number_to_currency(calculate_currency(@booking.booking_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")}"
            .row.booking-total-value
              .col-sm-6
                span.attribute-title.text-center = t(:booking_tax)
                br/
                span.value
                  span.money-unit
                    => "#{current_currency.money_sign}"
                  = number_to_currency(calculate_currency(@booking.booking_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")
              .col-sm-6.text-center
                - if @booking.hotel.booking_on_request
                  span
                    = t(:to_confirm_your_booking_request)
                - else
                  span
                    = t(:to_confirm_your_reservation_we_charge)

        .col-sm-12
          .info-title style="margin-left:30px;margin-top:30px"
            h4.row
              - if @booking.hotel.booking_on_request
                span.attribute-title.font-18 =< t(:how_do_you_want_to_pay_booking_request, money_sign: current_currency.money_sign, price: number_to_currency(calculate_currency(@booking.booking_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: ""))
              - else
                span.attribute-title.font-18 =< t(:how_do_you_want_to_pay, money_sign: current_currency.money_sign, price: number_to_currency(calculate_currency(@booking.booking_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: ""))
