ruby:
  countries_accepted_by_paypal_iframe = ["BR","US","MX"]
  currencies_accepted_by_paypal_iframe = ["BRL","USD","MXN"]
  can_show_iframe = currencies_accepted_by_paypal_iframe.include?(current_currency.code) && countries_accepted_by_paypal_iframe.include?(@booking.guest.country)
  if @booking.guest.country == "BR" && current_currency.code != "BRL"
    can_show_iframe = false
  end
  
  case I18n.locale.to_s
    when 'pt_br' 
      language_to_paypal = 'pt_BR'
    when 'en'
      language_to_paypal = 'en_US'
    when 'es'
      language_to_paypal = 'es_MX'
    else
      language_to_paypal = 'en_US'
  end

  if @booking.guest.country == "BR"
    tax_id = @booking.guest.cpf.gsub(/\D/, '')
    tax_id_type = "BR_CPF"
  else
    tax_id = ''
    tax_id_type = ''
  end

javascript:
  var ppp = PAYPAL.apps.PPP({ 
    "approvalUrl": "#{raw @redirect_url}",
    "payerFirstName": "#{@booking.guest.first_name}",
    "payerLastName": "#{@booking.guest.last_name}",
    "payerEmail": "#{@booking.guest.email}",
    "payerTaxId": "#{tax_id}",
    "payerPhone": "#{@booking.phone_number.gsub(/\D/, '')}",
    "payerTaxIdType": "#{tax_id_type}",
    "placeholder": "ppplus",
    "language": "#{language_to_paypal}",
    "country": "#{@booking.guest.country}",
    "mode": "live",
    "buttonLocation": "outside",
    "disableContinue": "continueButton",
    "disallowRememberedCards": true,
    "onContinue": function () {
      $("#new_payment").submit();
    },
    "onError": function () {
      $("button.submit-button").attr("disabled", false);
    },
    });

- radio_class = button_class + "-radio"
- promotional_100_percent = @booking.promotional_code_log && @booking.promotional_code_log.promotional_code.discount_type == PromotionalCode::ACCEPTED_DISCOUNT_TYPE[:percentage] && @booking.promotional_code_log.promotional_code.discount.eql?(100)
= simple_form_for(@payment, url:  public_booking_payments_path(booking_id: params[:booking_id]), method: :post, wrapper: :basic) do |f|
  .col-sm-7
    = render partial: "/public/bookings/payments/_new/radio_buttons_form"
    
    .row.info-header ng-init="participantCpf = false; multiplusParticipant = false"
      .info-price.col-xs-12.col-md-2.text-right.hidden-md.hidden-lg
        - if promotional_100_percent
          .row
            = t(:promotional_100_percent_describe)
        .row
          .booking-total-value.row
            .text.col-md-12.col-xs-6.text-right
              = t(:total_price_of_accommodation)
            .value.col-md-12.col-xs-4
              span.money-unit
                => "#{current_currency.money_sign}"
              = number_to_currency(calculate_currency(@booking.total_price_without_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")
        hr
        .row
          .booking-total-value.row
            .text.col-md-12.col-xs-6.text-right.strong
              = t(:booking_tax)
            .value.col-md-12.col-xs-4
              span.money-unit
                => "#{current_currency.money_sign}"
              = number_to_currency(calculate_currency(@booking.booking_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "") 
        hr
        .row
          .booking-total-value.row
            .text.col-md-12.col-xs-6.text-right
              = t(:total_price)
            .value.col-md-12.col-xs-4
              span.money-unit
                => "#{current_currency.money_sign}"
              = number_to_currency(calculate_currency(@booking.total_price, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")


    .hidden-xs.hidden-sm
      .booking-step-title
        - if promotional_100_percent
          = t(:promotional_100_percent_describe)

      .info-title
        .pull-left = image_tag 'booking-credit-card.jpg'
        h4.pull-left
          = t(:billing_data).mb_chars.upcase

      .row style="margin: 25px -10px 0"
        - if @booking.hotel.is_brazilian
          .col-xs-4.text-center
            span.booking-total-value
              span.attribute-title.text-center = t(:total_price_of_accommodation)
              br/
              span.value
                span.money-unit
                  => "#{current_currency.money_sign}"
                = number_to_currency(calculate_currency(@booking.total_price_without_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")
          .col-xs-4.text-center
            span.booking-total-value
              span.attribute-title.text-center = t(:booking_tax)
              br/
              span.value
                span.money-unit
                  => "#{current_currency.money_sign}"
                = number_to_currency(calculate_currency(@booking.booking_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")          
        .col-xs-4.text-center
          span.booking-total-value
            span.attribute-title.text-center = t(:total_price)
            br/
            span.value
              span.money-unit
                => "#{current_currency.money_sign}"
              = number_to_currency(calculate_currency(@booking.total_price, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")

    

    - if !promotional_100_percent
      - if @booking.traveler_id.present? && !current_public_user.accept_confirmed_and_invoiced
        - options_for_select = []
        - credit_cards = @booking.traveler.credit_cards
        - credit_cards.each do | credit_card |
          - options_for_select << ["#{t("payments.#{credit_card.flag_name}")} - #{t(:last_digits)}: #{credit_card.last_four_digits}", credit_card.id]
        .form-group.select-credit-cards ng-controller='TravelerCreditCardCtrl' ng-init="creditCardsTraveler = #{credit_cards.to_json}"
          = select_tag 'credit_card[id]', options_for_select(options_for_select), class: 'select form-control size-100-percent', prompt: t(:select_the_credit_card), 'ng-model' => 'selectedCreditCardId', 'ng-change' => 'changeCreditCard()'
          .show-credit-card.collapse
            .row
              .col-sm-8
                => CreditCard.human_attribute_name("card_number") + ":"
                span.card-number-value
              .col-sm-4
                => CreditCard.human_attribute_name("cvv") + ":"
                span.cvv-value
            .row
              .col-sm-6
                => CreditCard.human_attribute_name("expiration_month") + ":"
                span.expiration-month-value
              .col-sm-6
                => CreditCard.human_attribute_name("expiration_year") + ":"
                span.expiration-year-value

      - if !current_public_user.accept_confirmed_and_invoiced && can_show_iframe && @booking.traveler_id.blank?
        #ppplus

  .col-sm-5
    = f.input :paypal_payment_id, :as => :hidden
    .form-actions
      .col-sm-12
        - if @booking.guest.country == "BR"
          - if !promotional_100_percent
            .advantages-box
              .tudo-azul
                .pull-left.image = image_tag 'tudo_azul2.png'
                .description
                  p
                    = t(:tudo_azul_description)
                  p
                    = t(:get)
                    span.blue
                      = t(:one_point)
                    = t(:for_each)
                    span.blue
                      = t(:one_real_spent)
                .clearfix
                .comments
                  p.small
                    = t(:you_must_provide_a_valid_cpf)
                = link_to t(:learn_more), public_tudo_azul_path, class: 'pull-left', target: "_blank"
                .checkbox.pull-right
                  label ng-click='participantCpf = !participantCpf; multiplusParticipant = false'
                    = check_box_tag "tudo_azul_participant", true, false, "ng-checked" => "participantCpf"
                    span.lbl ng-click='participantCpf = !participantCpf; multiplusParticipant = false'
                      =< t(:i_want_to_participate)
                .clearfix
                .user-cpf-input ng-show='participantCpf'
                  = text_field_tag 'participant_cpf', current_public_user.cpf, placeholder: 'CPF do participante', class: 'participant-cpf-input js-mask-cpf animated fadeIn'
              .clearfix
              .multiplus
                .pull-left.image = image_tag 'multiplus.png'
                .description
                  p
                    = t(:multiplus_description)
                  p
                    = t(:get)
                    span.gray
                      = t(:one_point_multiplus)
                    = t(:for_each)
                    span.gray
                      = t(:one_real_spent)
                .clearfix
                .comments
                  p.small
                    = t(:you_must_provide_a_multiplus_number)
                = link_to t(:learn_more), public_multiplus_path, class: 'pull-left', target: "_blank"
                .checkbox.pull-right
                  label ng-click='multiplusParticipant = !multiplusParticipant; participantCpf = false'
                    = check_box_tag "multiplus_participant", true, false, "ng-checked" => "multiplusParticipant"
                    span.lbl ng-click='multiplusParticipant = !multiplusParticipant; participantCpf = false'
                      =< t(:i_want_to_participate)
                .clearfix
                .user-cpf-input ng-show='multiplusParticipant'
                  = text_field_tag 'multiplus_code', nil, placeholder: 'Número Multiplus', class: 'participant-cpf-input animated fadeIn'
        .clearfix
        .checkbox ng-init="checkedTermsofuse = true"
          label
            = check_box_tag "read_and_accept", nil, false, "ng-model" => "checkedTermsofuse"
            span.lbl
              =< t(:i_have_read_and_accepted)

        - if can_show_iframe
          .js-tooltip-toggler.tooltip-toggler.pull-right data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:check_terms_of_use_title)}"

            button type="submit" class="submit-disabled cpy-disabled-submit-button #{button_class} submit-button pill big pull-right btn" disabled="disabled" ng-hide="checkedTermsofuse"
              = t(:finish_reservation)

          button type="submit" id="continueButton" onclick="ppp.doContinue(); return false;" class="cpy-submit-button ng-hide #{button_class} submit-button pill big pull-right btn" ng-disabled="!checkedTermsofuse" ng-show="checkedTermsofuse"
            = t(:finish_reservation)

          .clearfix
          .or.text-center
            span = t(:or)

      - if !current_public_user.accept_confirmed_and_invoiced
        .clearfix
        #paypal-button


= javascript_include_tag("https://www.paypalobjects.com/api/checkout.js")

javascript:
  paypal.Button.render({
    env: 'production', // Specify 'sandbox' for the test environment
    style: {
      size: 'responsive',
      color: 'blue',
      shape: 'pill',
      label: 'checkout'
    },
    locale: "#{language_to_paypal}",
    payment: function(resolve, reject) {
       
      var CREATE_PAYMENT_URL = "#{create_express_checkout_payment_public_booking_payments_path(@booking.id, :authenticity_token => form_authenticity_token)}";
          
      paypal.request.post(CREATE_PAYMENT_URL)
        .then(function(data) { resolve(data.id); })
        .catch(function(err) { reject(err); });
    },
    commit: true, // Optional: show a 'Pay Now' button in the checkout flow
    onAuthorize: function(data) {
    
      // Note: you can display a confirmation page before executing
      
      var EXECUTE_PAYMENT_URL = "#{public_booking_payments_path(@booking.id)}?" + $('#new_payment').serialize();

      paypal.request.post(EXECUTE_PAYMENT_URL,
            { paymentID: data.paymentID, payerID: data.payerID })
            
        .then(function(data) { 
          if (data.table.success == true){
            window.location.replace("#{payment_success_public_booking_payments_path(@booking.id)}"); 
          }else{
            window.location.replace("#{new_public_booking_payments_path(@booking.id)}");
          }
        })

        .catch(function(err) { window.location.replace("#{public_booking_payments_path(@booking.id)}"); });
    }

  }, '#paypal-button');

