.public-affiliate-layout.public-affiliate-registrations-controller
  background: #f8f8f9

  .locale select
    width: 70%

  .pill
    width: 100%

  .big
    font-size: 17px
    letter-spacing: 1px
    font-weight: 300
    color: $green
    text-align: center
    margin-bottom: 10px

  .slim-box
    &:before
      content: "\2713"
      color: $green
      font-size: 20px

  .then
    margin: 15px 5px
    text-align: center
    font-size: 14px
    letter-spacing: 1px
    font-weight: 300
    color: #AAAAAA

  .arrow
    color: white
    text-align: center
    background: #23a0bc
    padding: 10px
    margin: 25px 36px
    font-size: 15px
    letter-spacing: 1px
    position: relative

    &:after
      top: -30px
      right: -21px
      font-size: 67px
      color: #23a0bc
      content: "\27A7"
      position: absolute

  .js-email-suggestion-wrapper
    color: $label-light-gray
    font-size: 13px
    margin-top: 6px
    margin-bottom: -3px

  p.already-registered
    text-align: center
    color: #999999
    letter-spacing: 1px
    margin-top: 40px

  .register-form
    border: 1px solid #eeeeee
    box-shadow: 1px 1px 9px rgba(231, 231, 231, 0.55)
    padding: 18px 40px
    background: #FFFFFF
    margin-bottom: 40px

  .form-actions
    padding: 14px 0px 10px 0px

  .alert-danger
    background: whitesmoke
    border: 0px

  .alert
    padding: 15px 15px 5px 15px

  &.browserFirefox
    .arrow:after
      top: -31px
      right: -20px
      font-size: 50pt

  &.browserIE
    .arrow:after
      top: -28px
      right: -38px
      font-size: 68px

  &.browserIE9
    .register-form
      .form-control
        line-height: 25px
