= simple_form_for [:admin, manager] do |f|

  = f.input :name

  = f.input :email

  = f.input :login

  = f.input :role, collection: Manager.roles.keys, prompt: t('views.admin.managers.select_the_role')

  = f.input :country, collection: Country.all.order("name_#{I18n.locale}").pluck("name_#{I18n.locale}", :iso_initials), prompt: t(:select_the_country)

  = f.input :locale, as: :select, label: t('users.locale'), collection: User::ACCEPTED_LOCALES.collect{ | locale | [locale[1],locale[0]]}, selected: @manager.locale, name: 'manager[locale]', id: "manager_locale"

  

  = form_submit_section

- areas = ["#{t('views.admin.menu.hotels')}","#{t('views.admin.menu.devices')}","#{t('views.admin.menu.affiliates')}","#{t('views.admin.menu.agencies')}","#{t('views.admin.menu.consultants')}","#{t('views.admin.menu.member_get_member')}","#{t('views.admin.menu.companies')}","#{t('views.admin.menu.users')}","#{t('views.admin.menu.reservations')}","#{t('views.admin.menu.payments')}","#{t('views.admin.menu.messages')}","#{t('views.admin.menu.offers')}","#{t('views.admin.menu.promotional_codes')}","#{t('views.admin.menu.places')}","#{t('views.admin.menu.leeds')}","#{t('views.admin.menu.offers')}","#{t('views.admin.menu.fees')}","#{t('views.admin.menu.currencies')}","#{t('views.admin.menu.emkts')}"]

table.table.table-striped.table-bordered.table-hover
  thead
    tr
      th.center.size-30-percent
        | Acesso
      th.center.size-14-percent
        | Master
      th.center.size-14-percent
        | Hotel manager
      th.center.size-14-percent
        | B2B Commercial
      th.center.size-14-percent
        | B2B Management
      th.center.size-14-percent
        | Attendant
  tbody
    - areas.each do | a |
      tr.center
        td
          = a
        td
          i.icon-ok.bigger-100.green
        td
         	- if a.eql?("#{t('views.admin.menu.hotels')}") || a.eql?("#{t('views.admin.menu.affiliates')}") || a.eql?("#{t('views.admin.menu.users')}") || a.eql?("#{t('views.admin.menu.reservations')}") || a.eql?("#{t('views.admin.menu.payments')}") || a.eql?("#{t('views.admin.menu.messages')}")
         		i.icon-ok.bigger-100.green
         	- else
         		i.icon-remove.bigger-100.red
        td
         	- if a.eql?("#{t('views.admin.menu.hotels')}") || a.eql?("#{t('views.admin.menu.affiliates')}") || a.eql?("#{t('views.admin.menu.consultants')}") || a.eql?("#{t('views.admin.menu.users')}") || a.eql?("#{t('views.admin.menu.reservations')}") || a.eql?("#{t('views.admin.menu.places')}") || a.eql?("#{t('views.admin.menu.leeds')}") || a.eql?("#{t('views.admin.menu.payments')}") || a.eql?("#{t('views.admin.menu.companies')}")
         		i.icon-ok.bigger-100.green
         	- else
         		i.icon-remove.bigger-100.red
        td
         	- if a.eql?("#{t('views.admin.menu.hotels')}") || a.eql?("#{t('views.admin.menu.affiliates')}") || a.eql?("#{t('views.admin.menu.users')}") || a.eql?("#{t('views.admin.menu.reservations')}") || a.eql?("#{t('views.admin.menu.payments')}") || a.eql?("#{t('views.admin.menu.companies')}")
         		i.icon-ok.bigger-100.green
         	- else
         		i.icon-remove.bigger-100.red
        td
         	- if a.eql?("#{t('views.admin.menu.hotels')}") || a.eql?("#{t('views.admin.menu.affiliates')}") || a.eql?("#{t('views.admin.menu.users')}") || a.eql?("#{t('views.admin.menu.reservations')}") || a.eql?("#{t('views.admin.menu.payments')}") || a.eql?("#{t('views.admin.menu.messages')}") || a.eql?("#{t('views.admin.menu.leeds')}")
         		i.icon-ok.bigger-100.green
         	- else
         		i.icon-remove.bigger-100.red