= header_section title: t("views.admin.managers.title")

- if @managers.length == 0
  .alert.alert-info
    = t(:none) + ' ' + t('views.admin.managers.one').downcase + ' ' + t(:registered) + '.'
- else
  .cpy-pagination-links
    = pagination_links_for @managers
  .row
    .col-sm-12
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th.center
            | #{t("views.admin.managers.id")}
          th.center
            | #{t("views.admin.managers.name")}
          th.center
            | #{t("views.admin.managers.email")}
          th.center
            | #{t("views.admin.managers.login")}
          th.center
            | #{t("views.admin.managers.role")}
          th.center
            | #{t("country")}
          th.center
            | #{t("views.admin.managers.active")}
          th.center
            | #{t("views.admin.managers.actions")}
      tbody
        - @managers.each do | admin |
          tr.center
            td
              = admin.id
            td
              = admin.name
            td
              = admin.email
            td
              = admin.login
            td
              = admin.role
            td
              = admin.country
            td
              = admin.is_active ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
            td.action-list.center
              = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_manager_path(admin.id), class: 'btn btn-xs btn-success'

              = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_manager_path(admin.id), class: 'btn btn-xs btn-info cpy-edit-agency-link'
              | &nbsp;&nbsp;

              - if admin.is_active?
                = link_to "<i class='icon-remove bigger-100'></i>".html_safe, deactivate_admin_manager_path(admin.id), class: 'btn btn-xs btn-danger cpy-deactivate-agency-button', data: { confirm: t("views.admin.managers.deactivate_manager") }, method: :post
              - else
                = link_to "<i class='icon-check bigger-100'></i>".html_safe, activate_admin_manager_path(admin.id), class: 'btn btn-xs btn-warning cpy-activate-agency-button', data: { confirm: t("views.admin.managers.activate_manager")}, method: :post

  = pagination_links_for @managers