= header_section
= panel_section(name: t("views.admin.manager_information")) do
  = show_for @manager do |u|
    = u.attribute :name
    = u.attribute :email
    = u.attribute :login
    - if @manager.locale.present?
      = u.attribute t('users.locale'), value: hotel_locale(@manager)
    = u.attribute :role
    = u.attribute :country
    = u.attribute :sign_in_count
    = u.attribute :current_sign_in_at
    = u.attribute :last_sign_in_at
    = u.attribute :current_sign_in_ip
    = u.attribute :last_sign_in_ip
    = u.attribute :created_at
    = u.attribute :is_active do
      = @manager.is_active ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe

  .wizard-actions
    = link_to t("views.admin.agencies.back").html_safe, admin_manager_path, class: 'btn btn-prev'
    = link_to t("views.admin.agencies.edit").html_safe, edit_admin_manager_path(@manager.id), class: 'btn btn-info'

    - if @manager.is_active?
      = link_to t("views.admin.agencies.deactivate").html_safe, deactivate_admin_manager_path(@manager.id), class: 'btn btn-danger cpy-deactivate-agency-button', method: :post
    - else
      = link_to t("views.admin.agencies.activate").html_safe, activate_admin_manager_path(@manager.id), class: 'btn btn-warning cpy-activate-agency-button', method: :post
