= panel_section(name: 'Filtrar', class: 'filter widget-box') do
  = form_tag affiliate_bookings_path, method: :get, class: 'form-horizontal' do
    .row

      .col-sm-6
        = label_tag :q, 'Filtrar por hotel', class: 'control-label no-left-padding'
        - options_for_hotel_select = []
        - Hotel.all.order(:name).each { | hotel |  options_for_hotel_select << [hotel.name, hotel.id]}
        = select_tag 'by_hotel_id', options_for_select(options_for_hotel_select, params[:by_hotel_id]), class: 'form-control', prompt: 'Todos'

      .col-sm-6
        = label_tag :q, 'Filtrar por status da reserva', class: 'control-label no-left-padding'
        br
        - options_for_status_select = []
        - Booking::ACCEPTED_STATUSES.each do | status_name, status_code |
          - if status_code != Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] && status_code != Booking::ACCEPTED_STATUSES[:confirmed_without_card]
            - options_for_status_select << [t(status_name), status_code]
          - elsif status_code == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced]
            - options_for_status_select << [t(:confirmed_and_invoiced_admin), status_code]
          - elsif status_code == Booking::ACCEPTED_STATUSES[:confirmed_without_card]
            - options_for_status_select << [t(:confirmed_without_card_admin), status_code]
        = select_tag 'by_status', options_for_select(options_for_status_select, params[:by_status]), class: 'form-control', prompt: 'Todos'
    hr

    .row
      .col-sm-6
        = label_tag :q, 'Filtrar por data do checkin', class: 'control-label no-left-padding'
        .input-group
          span.input-group-addon.size-14-percent
            | Entre
          input.js-date-picker.form-control.text-right.js-mask-date.js-initial-date name='by_checkin_date[initial_date]' value="#{params[:by_checkin_date].try(:[],:initial_date) || params[:by_checkin_date].try(:[],:final_date)}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .input-group
          span.input-group-addon.size-14-percent
            | E
          input.js-date-picker.form-control.text-right.js-mask-date.js-final-date name='by_checkin_date[final_date]' value="#{params[:by_checkin_date].try(:[],:final_date) || params[:by_checkin_date].try(:[],:initial_date)}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .clearfix

      .col-sm-6
        = label_tag :q, 'Filtrar por tamanho do pacote', class: 'control-label no-left-padding'
        br
        - Offer::ACCEPTED_LENGTH_OF_PACKS.each do | length |
          - checked = (params[:by_pack_length]) && (params[:by_pack_length].include?(length.to_s))
          .checkbox.size-14-percent.pull-left.no-left-padding
            label
              = check_box_tag "by_pack_length[]", length, checked, class: "ace cpy-length-of-pack-#{length}h"
              span.lbl
                =< "#{length}h"
        .clearfix
    hr


    = submit_tag 'Filtrar', class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button margin-left-10px'
    = link_to 'Remover filtros', affiliate_bookings_path, class: 'btn btn-sm btn-danger pull-right size-20-percent remove-button cpy-remove-filter-button'

    .clearfix

