table.table.table-striped.table-bordered.table-hover.cpy-bookings-list
  thead
    tr
      / it can be nil now
      th.center
        | Hóspede
      th.center
        | Data de Checkin
      th.center
        | Data de Checkout
      th.center
        | Hotel
      th.center
        | Status
      th.center
        | Ações
  tbody
    - bookings.each do | booking |
      tr.center
        td
          = booking.user.name
        td
          = l booking.offer.checkin_timestamp
        td
          = l booking.offer.checkout_timestamp
        td
          = booking.hotel.name
        td
          = t(Booking::ACCEPTED_STATUS_REVERSED[booking.status])
        td.action-list.center
          = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, affiliate_booking_path(id: booking.id), class: 'btn btn-xs btn-success'

          /- if booking.cancelable?
            = link_to "<i class='icon-remove bigger-100'></i>".html_safe, cancel_affiliate_booking_path(booking.id), class: 'btn btn-danger btn-xs cpy-cancel-button', method: :put, data: { confirm: t(:are_you_sure_you_want_to_cancel_this_booking), title: t(:confirmation), allow: t(:confirm), cancel: t(:cancel)  }
