= header_section(right_links: '', title: t('views.hotel.info.change_password'))
= panel_section do

  = simple_form_for [:hotel, current_hotel_hotel], :url => { :action => "update_password" }, class: 'form-horizontal' do |f|
    = f.error_notification

    = f.input :current_password, label: t('views.hotel.info.current_password'), :required => true
    = f.input :password, label: t('views.hotel.info.password'), :required => true
    = f.input :password_confirmation, label: t('views.hotel.info.confirm_password'), :required => true

    .form-group
      .col-xs-7
        = f.button :submit, t('views.hotel.info.save'), class: "btn-success btn pull-right cpy-submit-button"
        .clearfix
