= panel_section(name: t('views.hotel.info.hotel_info')) do
  = show_for current_hotel_hotel do |u|
    .pull-left.size-50-percent
      = u.attribute :name
      = multilanguage_attribute_show_for(:description, u)
      - if current_hotel_hotel.accepts_booking_cancellation?
        = u.attribute :minimum_hours_of_notice, value: current_hotel_hotel.minimum_hours_of_notice.to_s + t('views.hotel.info.hours')
      - else
        = u.attribute :minimum_hours_of_notice, value: t('views.hotel.info.hotel_no_cancellation_allowed')
      = u.attribute :iss_in_percentage, value: number_to_percentage(current_hotel_hotel.iss_in_percentage, precision: 1)
      = u.attribute :comission_value, value: number_to_currency( current_hotel_hotel.comission_value, unit: Hotel::CURRENCY_SYMBOL_REVERSED[current_hotel_hotel.currency_symbol])
      = u.attribute :email
      = u.attribute :notice_emails
      = u.attribute :notice_emails_meeting_room

      .attributes-wrapper.hotel_accept_online_payment
        .attribute-title
          | #{t('views.hotel.info.accept_online_payment')}
        .content
          i.bigger-100 class="icon-#{current_hotel_hotel.accept_online_payment ? 'ok' : 'remove'}"

    .pull-left.size-50-percent
      p
        b #{t('views.hotel.info.address')}
        - unless current_hotel_hotel.complement == ''
          p = current_hotel_hotel.street.to_s + ", " + current_hotel_hotel.number.to_s + ", " + current_hotel_hotel.complement.to_s
        - else
          p = current_hotel_hotel.street.to_s + ", " + current_hotel_hotel.number.to_s
      p = current_hotel_hotel.city.name + " - " + current_hotel_hotel.state.to_s
      - unless Rails.env.test?
        = image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{current_hotel_hotel.latitude},#{current_hotel_hotel.longitude}&zoom=13&size=400x300&maptype=roadmap&markers=color:red%7Clabel:#{current_hotel_hotel.name}%7C#{current_hotel_hotel.latitude},#{current_hotel_hotel.longitude}&sensor=false", class: "responsive-image")
    .clearfix
