div ng-init="newConsultant = #{params[:new_consultant].eql?("true")}; newCompany = #{params[:new_company].eql?("true")}; newTraveler = #{params[:new_traveler].eql?("true")}; newTravelerAndCompany = #{params[:new_traveler_and_company].eql?("true")}"
  .row.form-group
    .col-md-6.col-xs-12
      label.no-padding-left
        = t(:consultant)
        span style=("margin-left: 3px")  *
      = f.association :consultant, class: 'form-control', collection: current_public_user.agency_detail.consultants.order(:name), prompt: "#{t(:select_consultant)}", input_html: { "ng-show" => "!newConsultant" }
      input id="consultant_name" name="consultant_name" type="text" class="string name required col-sm-12 form-control" value="#{params[:consultant_name]}" placeholder="#{t(:new_consultant_name)}" ng-show="newConsultant"
      = button_tag("#{t(:select_consultant)}", type: 'button', class: "margin-top-5 pill small size-100-percent", "ng-click" => "newConsultant = false", "ng-show" => "newConsultant")
      = button_tag("#{t(:new)} #{t(:consultant).downcase}", type: 'button', class: "margin-top-5 pill green small size-100-percent", "ng-click" => "newConsultant = true", "ng-show" => "!newConsultant")
    .col-md-6.col-xs-12
      label.no-padding-left
        = t('company.one')
        span style=("margin-left: 3px")  *
      select class="select required col-sm-6 form-control ng-pristine ng-valid" id="booking_company_selected" ng-model="company" ng-options='company as company.name for company in companiesList' ng-show="!newCompany"
        option value="" = t(:select_company)
      input id="company_name" name="company_name" type="text" class="string name required col-sm-12 form-control" value="#{params[:company_name]}" placeholder="#{t(:new_company_name)}" ng-show="newCompany"
      = button_tag(t(:select_company), type: 'button', class: "margin-top-5 pill small size-100-percent", "ng-click" => "newCompany = false; newTravelerAndCompany = false; newTraveler = false; clearGuestFieldsCompany()", "ng-show" => "newCompany")
      = button_tag(t(:new_company), type: 'button', class: "margin-top-5 pill small green size-100-percent", "ng-click" => "newCompany = true; newTravelerAndCompany = true; newTraveler = false; clearGuestFieldsCompany()", "ng-show" => "!newCompany")

  div ng-show="newTravelerAndCompany || newTraveler"
    .row.form-group
      .col-md-4.col-xs-12
        label.no-padding-left
          = t(:cost_center)
          span style=("margin-left: 3px")  *
        input id="cost_center_name" name="cost_center_name" type="text" class="string name required col-sm-12 form-control" value="#{params[:cost_center_name]}"
      .col-md-4.col-xs-12
        label.no-padding-left
          = t(:traveler_name)
          span style=("margin-left: 3px") *
        input id="traveler_name" name="traveler_name" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_name]}"
        = button_tag("#{t(:select_traveler)}", type: 'button', class: "margin-top-5 pill small size-100-percent", "ng-click" => "newTraveler = false; clearGuestFieldsTraveler()", "ng-show" => "newTraveler && company != null")
      .col-md-4.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:traveler_phone)
          span style=("margin-left: 0px") *
        input id="traveler_phone" name="traveler_phone" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_phone]}"
      .col-xs-12 class="#{current_public_user.agency_detail.country != "CO" ? 'col-md-4' : 'col-md-12'}"
        label.no-padding-left
          = t(:traveler_email)
          span style=("margin-left: 3px") *
        input id="traveler_email" name="traveler_email" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_email]}"

      - if current_public_user.agency_detail.country != "CO"
        .col-md-4.col-xs-12
          label.col-xs-12.no-padding-left
            | CPF
            span style=("margin-left: 3px") *
          input id="traveler_cpf" name="traveler_cpf" type="text" class="string name required col-sm-12 form-control js-mask-cpf" value="#{params[:traveler_cpf]}"
        .col-md-4.col-xs-12
          label.col-xs-12.no-padding-left
            = t(:passport)
            span style=("margin-left: 3px") *  
          input id="traveler_passport" name="traveler_passport" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_passport]}"
        .col-md-4.col-xs-12
          label.col-xs-12.no-padding-left
            = t(:address)
            span style=("margin-left: 3px")  *
          input.string.required.col-sm-12.form-control.big-input.autocomplete id="autocomplete" name="address" type="text"
        .col-md-4.col-xs-12
          label.col-xs-12.no-padding-left
            = t(:country)
            span style=("margin-left: 3px")  *
          input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="country" name="traveler_country" type="text" value="#{params[:traveler_country]}"
        .col-md-4.col-xs-12
          label.no-padding-left
            = t(:state)
            span style=("margin-left: 3px")  *
          input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="administrative_area_level_1" name="traveler_state" type="text" value="#{params[:traveler_state]}"

        .col-md-4.col-xs-12
          label.col-xs-12.no-padding-left
            = t(:city)
            span style=("margin-left: 3px")  *  
          input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="locality" name="traveler_city" type="text" value="#{params[:traveler_city]}"
        .col-md-4.col-xs-12
          label.col-xs-12.no-padding-left
            = t(:street)
            span style=("margin-left: 3px")  *

          input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="route" name="traveler_street" type="text" value="#{params[:traveler_street]}"
        .col-md-4.col-xs-12
          label.col-xs-12.no-padding-left
            | CEP
            span style=("margin-left: 3px")  *
          input.string.required.col-sm-12.form-control.big-input id="postal_code" name="traveler_postal_code" type="text" value="#{params[:traveler_postal_code]}"

    .row.form-group
      .col-md-9.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:credit_card_number)
          span style=("margin-left: 3px")  *

        input.string.required.col-sm-12.form-control.big-input.js-mask-credit-card-number id="card_number" name="card_number" type="text" value="#{params[:card_number]}" placeholder="**** **** **** ****"
      .col-md-3.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:security_number) 
          span style=("margin-left: 3px")  *
        input.string.required.col-sm-12.form-control.big-input id="cvv" name="cvv" type="text" value="#{params[:cvv]}" placeholder="***"
    .row.form-group
      .col-md-6.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:month)
        = select_month(nil, {field_name: 'expiration_month', prefix: '', prompt: t(:month)}, {class: 'select form-control col-sm-12'})
      .col-md-6.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:year)
        = select_year(nil, {field_name: 'expiration_year', prefix: '', start_year: Date.today.year, end_year: (Date.today.year + 10), prompt: t(:year)}, {class: 'select form-control col-sm-12'})
  .row.form-group ng-hide="newTravelerAndCompany || newTraveler"
    .col-md-6.col-xs-12
      label.no-padding-left
        = t(:guest_name_holder_booking)
        span style=("margin-left: 3px")  *
      select class="select required col-sm-6 form-control ng-pristine ng-valid" id="booking_guest_name_selected" ng-model="traveler" ng-options='traveler as traveler.name_with_job_title for traveler in company.travelers' ng-change="changePhone(traveler.phone_number)"
        option value="" = t(:select_traveler)
      = button_tag("#{t(:new)} #{t(:traveler).downcase}", type: 'button', class: "margin-top-5 pill small green size-100-percent", "ng-click" => "newTraveler = true; clearGuestFieldsTraveler()", "ng-show" => "!newTraveler && company != null")

    .col-md-6.col-xs-12
      label.col-xs-12.no-padding-left
        = t(:phone_number_holder_booking)
        span style="margin-left: 3px" *
      = f.input :phone_number
    .hidden
      input id="new_consultant" name="new_consultant" type="text" ng-model="newConsultant"
      input id="new_company" name="new_company" type="text" ng-model="newCompany"
      input id="new_traveler_and_company" name="new_traveler_and_company" type="text" ng-model="newTravelerAndCompany"
      input id="new_traveler" name="new_traveler" type="text" ng-model="newTraveler"
      input id="booking_guest_name" name="booking[guest_name]" type="text" ng-model="traveler.name"
      input id="booking_traveler_id" name="booking[traveler_id]" type="text" ng-model="traveler.id"
      input id="company_id" name="company_id" type="text" ng-model="company.id"