div ng-init="newTraveler = #{params[:new_traveler].eql?("true")}" ng-show="newTraveler"
  .row.form-group
    .col-md-4.col-xs-12
      label.no-padding-left
        = t(:cost_center)
      input id="cost_center_name" name="cost_center_name" type="text" class="string name required col-sm-12 form-control" value="#{params[:cost_center_name]}"
      = button_tag("<i class='fa fa-arrow-up'></i> #{t(:select_traveler)}".html_safe, type: 'button', class: "width-300 margin-top-5 pill small size-100-percent", "ng-click" => "newTraveler = false; clearGuestFieldsTraveler()", "ng-show" => "newTraveler")
    .col-md-4.col-xs-12
      label.no-padding-left
        = t(:traveler_name)
      input id="traveler_name" name="traveler_name" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_name]}"
    .col-md-4.col-xs-12
      label.col-xs-12.no-padding-left
        = t(:traveler_phone)
      input id="traveler_phone" name="traveler_phone" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_phone]}"

  .row.form-group
    .col-xs-12 class="#{current_public_user.company_detail.country != "CO" ? 'col-md-4' : 'col-md-12'}"
      label.no-padding-left
        = t(:traveler_email)
      input id="traveler_email" name="traveler_email" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_email]}"

    - if current_public_user.company_detail.country != "CO"
      .col-md-4.col-xs-12
        label.col-xs-12.no-padding-left
          | CPF
        input id="traveler_cpf" name="traveler_cpf" type="text" class="string name required col-sm-12 form-control js-mask-cpf" value="#{params[:traveler_cpf]}"
      .col-md-4.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:passport)
        input id="traveler_passport" name="traveler_passport" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_passport]}"
      .col-md-4.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:address)
        input.string.required.col-sm-12.form-control.big-input.autocomplete id="autocomplete" name="address" type="text"
      .col-md-4.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:country)
        input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="country" name="traveler_country" type="text" value="#{params[:traveler_country]}"
      .col-md-4.col-xs-12
        label.no-padding-left
          = t(:state)
        input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="administrative_area_level_1" name="traveler_state" type="text" value="#{params[:traveler_state]}"
      .col-md-4.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:city)
        input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="locality" name="traveler_city" type="text" value="#{params[:traveler_city]}"
      .col-md-4.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:street)
        input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="route" name="traveler_street" type="text" value="#{params[:traveler_street]}"
      .col-md-4.col-xs-12
        label.col-xs-12.no-padding-left
          | CEP
        input.string.required.col-sm-12.form-control.big-input id="postal_code" name="traveler_postal_code" type="text" value="#{params[:traveler_postal_code]}"
  -if !current_public_user.accept_confirmed_and_invoiced
    .row.form-group
      .col-md-9.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:credit_card_number)
        input.string.required.col-sm-12.form-control.big-input.js-mask-credit-card-number id="card_number" name="card_number" type="text" value="#{params[:card_number]}" placeholder="**** **** **** ****"
      .col-md-3.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:security_number)
        input.string.required.col-sm-12.form-control.big-input id="cvv" name="cvv" type="text" value="#{params[:cvv]}" placeholder="***"
    .row.form-group
      .col-md-6.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:month)
        = select_month(nil, {field_name: 'expiration_month', prefix: '', prompt: t(:month)}, {class: 'select form-control col-sm-12'})
      .col-md-6.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:year)
        = select_year(nil, {field_name: 'expiration_year', prefix: '', start_year: Date.today.year, end_year: (Date.today.year + 10), prompt: t(:year)}, {class: 'select form-control col-sm-12'})
.row.form-group ng-hide="newTraveler"
  .col-md-6.col-xs-12
    label.no-padding-left
      = t(:guest_name_holder_booking)
    select class="select required col-sm-12 form-control ng-pristine ng-valid" id="booking_guest_name_selected" ng-model="traveler" ng-options='traveler as traveler.name_with_job_title for traveler in companiesList.travelers' ng-change="changePhone(traveler.phone_number)"
      option value="" = t(:select_traveler)
    = button_tag("<i class='fa fa-arrow-down'></i> #{t(:add)} #{t(:new).downcase} #{t(:traveler).downcase}".html_safe, type: 'button', class: "width-300 margin-top-5 pill small green size-100-percent", "ng-click" => "newTraveler = true; clearGuestFieldsTraveler()", "ng-show" => "!newTraveler")

  .col-md-6.col-xs-12
    label.col-xs-12.no-padding-left
      = t(:phone_number_holder_booking)
    = f.input :phone_number
  .hidden
    input id="booking_guest_name" name="booking[guest_name]" type="text" ng-model="traveler.name"
    input id="booking_traveler_id" name="booking[traveler_id]" type="text" ng-model="traveler.id"
    input id="new_traveler" name="new_traveler" type="text" ng-model="newTraveler"
