- if current_public_user.balance > 0 && current_currency.code == "BRL" && !@booking.have_promotional_code
  .row.form-group.have-promo-code-input.use-my-credit ng-show='showBalance'
    .col-md-12.col-xs-12
      .checkbox
        label ng-click='usingBalance = !usingBalance; usingPromotionalCode = false; showPromotionalPartial = !usingBalance; promotionalCodeValidated = false'
          = check_box_tag "booking[using_balance]", true, false, "ng-checked" => "usingBalance"
          span.lbl ng-click='usingBalance = !usingBalance; usingPromotionalCode = false; showPromotionalPartial = !usingBalance; promotionalCodeValidated = false'
            = t(:use_my_credit)

- if current_public_user.need_to_complete_address?
  = render partial: "/public/bookings/new/address_fields"
- if (current_public_user.country == "BR" || current_public_user.country.blank?) && current_public_user.cpf.blank?
  .row.form-group
    .col-md-12.col-xs-12
      label.col-xs-12.no-padding-left
        = t(:cpf)
      input class="string cpf form-control js-mask-cpf" id="public_user_cpf" name="public_user[cpf]" type="cpf" value="#{params[:public_user][:cpf] if params[:public_user]}"
      - if params[:action] == 'create' && current_public_user.cpf.blank?
        span.help-block.error
          = t('errors.messages.blank')
.row.form-group
  .col-md-6.col-xs-12
    label.col-xs-12.no-padding-left
      = t(:guest_name_holder_booking)
    - @booking.guest_name ||= current_public_user.name
    = f.input :guest_name
  .col-md-6.col-xs-12
    label.col-xs-12.no-padding-left
      = t(:phone_number_holder_booking)
    = f.input :phone_number, input_html: { class: 'js-mask-mobile-phone' }