= header_section

- if @companies.length == 0
  .alert.alert-info
    = t(:no_record_found)
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | #{t("views.admin.companies.id")}
        th.center
          | #{t("views.admin.companies.name")}
        th.center
          | #{t("views.admin.companies.email")}
        th.center
          | #{t("views.admin.companies.number_of_registered_staff")}
        th.center
          | #{t("views.admin.companies.active")}
        th.center
          | #{t("views.admin.companies.actions")}
    tbody
      - @companies.each do |company|
        tr.center
          td
            = company.id
          td
            = company.name
          td
            = company.email
          td
            = company.employees.count
          td
            = company.is_active ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_company_path(company.id), class: 'btn btn-xs btn-success'
            - if company.is_active?
              = link_to "<i class='icon-remove bigger-100'></i>".html_safe, deactivate_admin_company_path(company.id), class: 'btn btn-xs btn-danger cpy-deactivate-company-button', data: { confirm: t("views.admin.companies.deactivate_company")}, method: :post
            - else
              = link_to "<i class='icon-check bigger-100'></i>".html_safe, activate_admin_company_path(company.id), class: 'btn btn-xs btn-warning cpy-activate-company-button', data: { confirm: t("views.admin.companies.activate_company")}, method: :post
