= header_section

= panel_section(name: t("views.admin.companies.company_info")) do
  = show_for @company do |u|
    = u.attribute :id
    = u.attribute :name
    = u.attribute :login
    = u.attribute :responsible_name
    = u.attribute :email
    = u.attribute :phone_number
    = u.attribute :cnpj

    .attributes-wrapper.company_address
      .attribute-title
        | #{t("views.admin.companies.address")}
      .content
        - if @company.street.blank? && @company.city.blank? && @company.state.blank? && @company.country.blank?
          | -
        - else
          - unless @company.street.blank?
            - if (@company.complement) && (@company.complement != '')
              = "#{@company.street}, #{@company.number}, #{@company.complement}".gsub(', ,', ',')
            - else
              = "#{@company.street}, #{@company.number}"
            br
          - unless @company.city.blank? && @company.state.blank? && @company.country.blank?
            = "#{@company.city} - #{@company.state} - #{@company.country}".gsub('- -', '-')

    = u.attribute :agency do
      => @company.agency.name
      = link_to t("views.admin.companies.visualize_agency"), admin_agency_path(@company.agency), class: 'btn btn-minier btn-primary'

    h3.header.lighter.smaller.green
      | #{t("views.admin.companies.company_staff")}
    - if @company.employees.any?
      = render partial: 'admin/users/index/list', locals: { users: @company.employees }
    - else
      .alert.alert-info
        | #{t("views.admin.companies.no_staff_registered_error")}

  = show_panel_buttons_section
