.public-affiliate-layout.public-affiliate-hotel-controller.index-action

  .search-not-found
    letter-spacing: 1px
    margin-top: 60px
    margin-bottom: 60px

    .no-matches
      margin-top: 20px
      margin-bottom: 50px

    .glyphicon
      font-size: 100px
      color: #555555
    .subscribe-form-wrapper
      width: 800px
      margin: 0 auto
      margin-top: 10px

      h5
        margin-bottom: 20px

      p.success
        color: #3c763d

    .label-email
      display: inline-block
      margin-right: 10px

    .input-email
      display: inline-block !important
      width: 300px
      padding: 22px 5px
      font-size: 16px

    .subscribe-button
      margin-left: 10px
      display: inline-block
      position: relative
      padding-top: 13px
      top: -2px

    .error
      margin-top: 10px
      color: red

  .hotel-list-page-wrapper
    margin-bottom: 20px

    .btn
      display: inline-block

    .all-matches-hotels
      border-radius: 5px
      box-shadow: 0 0 10px lightgray
      padding: 20px 30px
      background: white
      min-height: 682px

      .exact-matches-hotels,.similar-matches-hotels
        .tudo-azul
          display: block
          margin-bottom: 20px
          border-radius: 5px

          .image
            text-align: center
            img
              width: 100px
              &.uber-img
                margin-right: 15px
                margin-top: 11px
              &.tudo-azul-img
                margin-right: 20px
              &.tudo-azul-img-no-uber
                margin-right: 35px
              &.multiplus-img
                margin-left: 0px
          .description-click-icon
            margin-top: 10px
          .description
            text-align: right
            margin-top: 33px
            font-size: 12px
            &.no-uber
              margin-top: 20px
            p
              margin: 0
              line-height: 18px
              color: #444
          .blue
            color: #16BBEA

        img
          border-radius: 5px

        .title
          font-size: 17px
          color: #444444
          letter-spacing: 1px

          .similar-matches-length,.exact-matches-length
            color: black

      .similar-matches-hotels
        .subtitle
          font-size: 13px
          color: #777777
          font-weight: 400

  .side-filter-informations
    background: whitesmoke
    position: relative
    right: -20px

    h3
      font-size: 14px
      font-weight: 800
      letter-spacing: 1px
      margin-bottom: 5px
      margin-top: 20px
      padding-bottom: 8px
      padding-top: 10px

  &.browserIE
    .hotel-list-page-wrapper
      .all-matches-hotels
        min-height: 687px
