.col-sm-3 ng-controller='HotelRoomsFormCtrl'
  = panel_section(name: t('views.hotel.rooms.add_rooms'), class: 'add-rooms widget-box') do
    - if RoomType.by_hotel_id(current_hotel_hotel.id).count == 0
      .alert.alert-danger
        = t(:none) + ' ' + t(:room_type).downcase + ' ' + t(:registered) + ', ' + t(:register_one_room_type_first_to_be_able_to_create_rooms)
    - else
      = form_tag hotel_rooms_path, method: :post, class: 'form' do
        .lbl
          b
            = t(:type)
        = select_tag "room_type", options_from_collection_for_select(RoomType.by_hotel_id(current_hotel_hotel.id), "id", "full_name_pt_br"), class: "select optional size-100-percent"
        hr
        javascript:
          yojs.set('roomRegistrationDropdown', true)
        div ng-show='roomRegistrationDropdown'
          .lbl
            b
              | #{t('views.hotel.rooms.amount_of_rooms')}
          .help-block
            | #{t('views.hotel.rooms.select_amount_of_roomsto_be_registered')}
          = select_tag "room_quantity", options_for_select(1..50), class: "select optional col-sm-12", input_html: { 'ng-enabled' => 'roomRegistrationDropdown' }
          .help-block
            a.cpy-change-room-registration-method ng-click='changeRoomsRegistrationType()' href=''
              | #{t('views.hotel.rooms.type_rooms_numbers')}
        div ng-hide='roomRegistrationDropdown' ng-disabled='roomRegistrationDropdown'
          .lbl
            b
              = t(:numbers)
          .help-block
            | #{t('views.hotel.rooms.type_rooms_numbers_to_be_registered')}
          - if params[:room_registration_method] == 'Text'
            javascript:
              yojs.set('roomRegistrationDropdown', false)
          - else
            = text_area_tag "room_numbers", "", placeholder: 'Ex.: 100, 101, 102, 103', class: "text optional size-100-percent"
          .help-block
            a.cpy-change-room-registration-method ng-click='changeRoomsRegistrationType()' href=''
              | #{t('views.hotel.rooms.select_amount_of_rooms')}
        input type='hidden' name="room_registration_method" value='{{roomRegistrationMethod()}}'
        hr
        = submit_tag t(:add_rooms), class: "btn btn-success btn-sm size-100-percent cpy-submit-button"
