.col-sm-9
  = panel_section(name: t('views.hotel.rooms.filter'), class: 'filter widget-box') do
    = label_tag :q, t('views.hotel.rooms.filter_by_room_type'), class: 'optional control-label no-left-padding'
    br
    = form_tag hotel_rooms_path, method: :get, class: 'form-horizontal' do

      - RoomType.by_hotel_id(current_hotel_hotel.id).each do |room_type|
        - checked = (params[:by_room_type_id]) && (params[:by_room_type_id].include?(room_type.id.to_s))

        .checkbox.size-33-percent.pull-left.no-left-padding
          label
            = check_box_tag "by_room_type_id[]", room_type.id, checked, class: "ace cpy-room-type-#{room_type.id}"
            span.lbl
              = room_type.full_name_pt_br
      .clearfix
      hr
      .text.optional.room-numbers.pull-left.size-46-percent
        = label_tag :q, t('views.hotel.rooms.filter_by_number'), class: 'text optional no-left-padding'
        = " "
        - if params[:by_number] == ''
          = text_field_tag :by_number, '', class: "string optional"
        - else
          = text_field_tag :by_number, params[:by_number], class: "string optional"

      - if (Room.by_hotel_id(current_hotel_hotel.id).count == 0)
        = submit_tag t(:filter), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button margin-left-10px', disabled: true
        = link_to t('views.hotel.rooms.remove_filters'), hotel_rooms_path, class: 'btn btn-sm btn-danger pull-right size-20-percent remove-button cpy-remove-filter-button', disabled: true


      - else
        = submit_tag t(:filter), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button margin-left-10px'
        = link_to t('views.hotel.rooms.remove_filters'), hotel_rooms_path, class: 'btn btn-sm btn-danger pull-right size-20-percent remove-button cpy-remove-filter-button'

      .clearfix
