- if @rooms.length == 0
  .alert.alert-info
    - if !(params[:by_number]) && !(params[:by_room_type_id])
      = t(:none) + ' ' + t(:room).downcase + ' ' + t(:registered) + '.'
    - else
      = t(:none) + ' ' + t(:room).downcase + ' ' + t(:found) + '.'
- else
  .cpy-pagination-links
    = pagination_links_for @rooms
  .row
    .col-sm-12
      table.table.table-striped.table-bordered.table-hover.cpy-room-list
        thead
          tr
            th.center.size-50-percent
              | #{t('views.hotel.rooms.number')}
            th.center.size-50-percent
              | #{t('views.hotel.rooms.type')}
        tbody
          - @rooms.order('number asc').each do |room|
            tr class="cpy-room-#{room.id} center"
              td
                = room.number
              td
                = room.room_type.full_name_pt_br

  = pagination_links_for @rooms
