@media (max-width: 768px)
  body.public-affiliate-layout
    .header
      margin-bottom: 0px
      #logo
        width: 170px
        height: 40px
        margin-top: 0px
        margin-left: 2px

        img
          width: 170px
          height: 40px
      .menu-header
        display: none

    .hamburguer
      z-index: 991216
      float: left
      color: black
      z-index: 991217
      top: 7px
      left: 5px
      .main-menu-mobile.navbar.navbar-default
        position: relative
        margin-bottom: 0
        padding: 0
      .main-menu-mobile.navbar.navbar-default.floating
        position: fixed
        width: 100%
        z-index: 1000
        top: 0px
      .navbar-header
        padding: 10px 0
      .logo-wrapper
        margin-top: 5px
        img
          width: 180px
      .language-mobile
        margin: 0
          top: 5px
      .navbar-toggle
        margin: 0
        padding: 5px
        border: none
      .navbar-toggle:hover
        background-color: transparent
      .icon-bar.green
        background-color: #57b12f
        height: 3px
      .nav.navbar-nav.sidemenu
        margin: 0 -10px
        span
          margin-left: 10px
          font-size: 17px
        i
          font-size: 17px
        .menu-item
          margin: 0 0 1px
          &:last-child
            margin: 0
        .menu-item-link
          background-color: #f8f8f8
          &:hover
            background-color: #383838
            color: white
          &:active
            background-color: #eee
            color: black