.info-title
  = image_tag 'booking-credit-card.jpg'
  h4
    = t(:payment_data).mb_chars.upcase

- if @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] || @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_without_card] || Booking::ACCEPTED_STATUSES[:invoiced_by_agency] || @payment.status == Payment::ACCEPTED_STATUSES[:captured]
  .row
    .col-xs-4.attribute-title
      = t(:total_price)
    .col-xs-8.attribute-title
      = t(:status)
  .row
    .col-xs-4.booking-total-value
      span.money-unit
        => "#{current_currency.money_sign}"
      span.value
        = number_to_currency(calculate_currency(@booking.total_price, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")

    .col-xs-8.booking-status
      - if @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] || @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_without_card] || Booking::ACCEPTED_STATUSES[:invoiced_by_agency]
        = t(Booking::ACCEPTED_STATUS_REVERSED[@booking.status])
      - else
        = t("payments.#{Payment::ACCEPTED_STATUS_REVERSED[@payment.status]}")

.row.billing-explanation-row
  - if @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] || @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_without_card] || Booking::ACCEPTED_STATUSES[:invoiced_by_agency] || @payment.status == Payment::ACCEPTED_STATUSES[:captured]
    .col-sm-12
      - if @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced]
        - if @booking.booking_with_100_percent_discount
          => t(:pre_reservation_discount_100_percent)
        - else
          => t(:pre_reservation_invoiced_explanation)
      - elsif @booking.status == Booking::ACCEPTED_STATUSES[:invoiced_by_agency]
        => t(:this_booking_paid_by_agency)
      - elsif @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_without_card]
        => t(:pre_reservation_without_card_explanation)
      - else
        => t(:message_credit_card_billed_value)
        span.booking-total-value
          span.money-unit
            => "#{current_currency.money_sign}"
          span.value
            = number_to_currency(calculate_currency(@booking.total_price, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")
        =< "#{t(:payment_explanation)}."

  - else
    .col-sm-12
      / - if Public::Bookings::PaymentsController::SENDING_CREDIT_CARD_TO_MANUAL_PAYMENT == true
      /   => t(:pre_reservation_explanation_without_maxipago)
      / - else
      - if @booking.hotel.is_brazilian
        => t(:pre_reservation_explanation, value: number_to_currency(calculate_currency(@booking.booking_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: current_currency.money_sign))
      - else
        => t(:pre_reservation_explanation_without_no_show, value: number_to_currency(calculate_currency(@booking.booking_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: current_currency.money_sign))

.form-actions
  .col-sm-12
    = link_to t(:go_to_my_bookings).upcase, public_bookings_path, class: 'link-to-bookings-index pull-right pill green big submit-button', method: 'get'
