.row
  .col-xs-12.price-description
    /.row
      .col-xs-6.attribute-title.text-right
        = t(:initial_price).capitalize
      .col-xs-3.text-center
        = number_to_currency @booking.initial_price_without_iss
      .col-xs-1.plus-sign
        | +
    /- if !@booking.is_meeting_offer? && !@booking.is_event_offer?
      .row
        .col-xs-6.attribute-title.text-right
          = t(:extra_person_price).capitalize
        .col-xs-3.text-center
          = extra_person_price_text(@booking)
        .col-xs-1.plus-sign
          | +
    /.row
      .col-xs-6.attribute-title.text-right
        = t(:iss).upcase
      .col-xs-3.text-center
        - if I18n.locale == :en
          = "#{@booking.hotel.iss_in_percentage} %"
        - else
          = "#{@booking.hotel.iss_in_percentage.to_s.gsub('.',',')} %"
      - unless @booking.booking_tax.zero?
        .col-xs-1.plus-sign
          | +
        .col-xs-6.attribute-title.text-right
          = t(:booking_tax).capitalize
        .col-xs-3.text-center
          = number_to_currency @booking.booking_tax
    /.row
      .col-xs-offset-1.col-xs-10.equal-sign
        hr
    .row
      .col-xs-6.attribute-title.text-right
        = t(:total_price).capitalize
      .col-xs-3.text-center
        = number_to_currency(calculate_currency(@booking.total_price, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: current_currency.money_sign)

hr.row
.payment-information
  - if @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] || @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_without_card] || @booking.status == Booking::ACCEPTED_STATUSES[:invoiced_by_agency] || @payment.status == Payment::ACCEPTED_STATUSES[:captured]
    .row
      .col-xs-12.text-center.attribute-title
        = t(:status)
    .row
      .col-xs-12.text-center.booking-status
        - if @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] || @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_without_card] || @booking.status == Booking::ACCEPTED_STATUSES[:invoiced_by_agency]
          = t(Booking::ACCEPTED_STATUS_REVERSED[@booking.status])
        - else
          = t("payments.#{Payment::ACCEPTED_STATUS_REVERSED[@payment.status]}")

  .row.billing-explanation-row.text-justify
    - if @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] || @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_without_card] || @booking.status == Booking::ACCEPTED_STATUSES[:invoiced_by_agency] || @payment.status == Payment::ACCEPTED_STATUSES[:captured]
      - if @booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced]
        - if @booking.booking_with_100_percent_discount
          => t(:pre_reservation_discount_100_percent)
        - else
          => t(:pre_reservation_invoiced_explanation)
      - elsif @booking.status == Booking::ACCEPTED_STATUSES[:invoiced_by_agency]
        => t(:this_booking_paid_by_agency)
      .col-xs-12
        => t(:message_credit_card_billed_value)
        span.booking-total-value
          span.money-unit
            => "#{current_currency.money_sign}"
          span.value
            = number_to_currency(calculate_currency(@booking.total_price, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")
          => '.'
      .col-xs-12
        = "#{t(:payment_explanation)}."

    - else
      .col-xs-12
        / - if Public::Bookings::PaymentsController::SENDING_CREDIT_CARD_TO_MANUAL_PAYMENT == true
        /   => t(:pre_reservation_explanation_without_maxipago)
        / - else
        - if @booking.hotel.is_brazilian
          => t(:pre_reservation_explanation, value: number_to_currency(calculate_currency(@booking.booking_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: current_currency.money_sign))
        - else
          => t(:pre_reservation_explanation_without_no_show, value: number_to_currency(calculate_currency(@booking.booking_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: current_currency.money_sign))

.form-actions.text-center
  .col-xs-12
    = link_to t(:go_to_my_bookings).upcase, public_bookings_path, class: 'link-to-bookings-index strong', method: 'get'
