.brahma ng-init='regulation = false'

  .banner.hidden-xs.hidden-sm = image_tag 'background_brahma.png'

  .container.with-padding-top
    .brahma-description.hidden-md.hidden-lg
      p O ano tem 365 dias e cada um deles pode ser um novo começo. Por isso, a Brahma e a HotelQuando te dão 10% off para você começar algo novo agora.
      p Utilize o código BRAHMA no momento da reserva.
    .regulation
      br
      h1.regulation-subtitle Conheça a HotelQuando.com!
      p.description HotelQuando.com é a primeira e única plataforma global de reservas online de hotéis que permite ao usuário reservar seu quarto por 3, 6, 9 ou 12 horas e por um preço justo. O usuário também decide a que horas gostaria de entrar no hotel.
      br
      br
      br
      h1.page-title Como funciona?
      .divider

      .row.text-center
        .col-md-4
          .service-box
            h2 = t :you_decide_when_check_into_the_hotel
            .image = image_tag('calendar-and-clock-blue.png')
            p = t :you_decide_when_check_into_the_hotel_description
        .col-md-4
          .service-box
            h2 = t :you_decide_how_many_hours_you_need
            .image = image_tag('clock-blue.png', class: 'clock-image')
            p = t :you_decide_how_many_hours_you_need_description
        .col-md-4
          .service-box style="border-bottom: none"
            h2 = t :pay_a_fair_price
            .image = image_tag('preco-justo-blue.png', class: 'price-image')
            p = t :pay_a_fair_price_description

      h1.page-title Quando reservar?
      .divider

      .row
        .col-sm-6
          .col-sm-12.text-center
            .glyphicon.glyphicon-plane.big-icon
          br
          br
          .col-sm-12
            b
              |Em viagem
            ul
              li
                |Para esperar por um voo ou compromisso

              li
                |Para passar apenas 1 noite

              li
                |Para entrar mais cedo ou sair mais tarde do hotel

              li
                |Para tomar um banho


        .col-sm-6
          .col-sm-12.text-center
            .glyphicon.glyphicon-home.big-icon
          .col-sm-12
            b
              |Na própria cidade
            ul
              li
                |Para passar a noite fora de casa

              li
                |Jantar fora + Dormir fora

              li
                |Para tomar um banho quando estiver longe de casa

              li
                |Aproveitar o SPA, piscina, academia


      .row
        .col-sm-12.text-center
          .box-foot
            span.colored
              span.gray> Horas de
              span.green> Hotel
              span.blue> Quando
              span.gray você quiser!
