.col-xs-12#footer
  .col-sm-6.text-center
    .row
      i.glyphicon.glyphicon-earphone
    .row
      .phonenum +55 (81) 2123-4567
  .col-sm-6.text-center
    .row
      i.glyphicon.glyphicon-map-marker
    .row
      .address Avenida Bernardo Vieira de Melo, 1701, Piedade
    .row
      .city Refice, Pernambuco, Brasil
