- render_new_credit_card_form = !current_public_affiliate_user.is_a_company_employee?
- if (PublicAffiliate::Bookings::PaymentsController::SENDING_CREDIT_CARD_TO_MANUAL_PAYMENT == false) && (current_public_affiliate_user.credit_cards.first || current_public_affiliate_user.is_a_company_employee?)
  - render_existing_credit_card_select = true
  - if params[:use_existing_credit_card].nil? || params[:use_existing_credit_card] == 'true'
    - credit_card_form_visible = false
  - else
    - credit_card_form_visible = true
- else
  - render_existing_credit_card_select = false
  - credit_card_form_visible = true
- if (@credit_card.billing_state != 'ZZ')
  - state_select_visible = true
- else
  - state_select_visible = false

.js-credit-card.col-sm-12 ng-controller='PublicAffiliateNewPaymentCtrl' ng-init="creditCardFormVisible = #{credit_card_form_visible}; stateVisible = #{state_select_visible}"
  = simple_form_for(@credit_card, url:  public_affiliate_booking_payments_path(booking_id: params[:booking_id]), method: :post, wrapper: :basic) do |f|

    .col-sm-12
      .row.info-header ng-init="showValueInfo = false; participantCpf = false; multiplusParticipant = false"
        .info-price.col-xs-12.col-md-2.text-right.hidden-md.hidden-lg
          - if @booking.hotel.is_brazilian
            .row
              .booking-total-value.row
                .text.col-md-12.col-xs-6.text-right
                  = t(:total_price_of_accommodation)
                .value.col-md-12.col-xs-4
                  span.money-unit
                    => "#{current_currency.money_sign}"
                  = number_to_currency(calculate_currency(@booking.total_price_without_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")
            hr
            .row
              .booking-total-value.row
                .text.col-md-12.col-xs-6.text-right
                  = t(:booking_tax)
                .value.col-md-12.col-xs-4
                  span.money-unit
                    => "#{current_currency.money_sign}"
                  = number_to_currency(calculate_currency(@booking.booking_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")
            hr
          .row
            .booking-total-value.row
              .text.col-md-12.col-xs-6.text-right
                = t(:total_price)
              .value.col-md-12.col-xs-4
                span.money-unit
                  => "#{current_currency.money_sign}"
                = number_to_currency(calculate_currency(@booking.total_price, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")

      .hidden-xs.hidden-sm
        .booking-step-title
          - if (Public::Bookings::PaymentsController::SENDING_CREDIT_CARD_TO_MANUAL_PAYMENT == false)
            = render partial: '/public_affiliate/bookings/payments/_new/radio_buttons_form'

        .row.info-title
          .pull-left = image_tag 'booking-credit-card.jpg'
          h4.pull-left
            = t(:billing_data).mb_chars.upcase

        .row style="margin: 25px -10px 0"
          - if @booking.hotel.is_brazilian
            .col-xs-4.text-center
              span.booking-total-value
                span.attribute-title.text-center = t(:total_price_of_accommodation)
                br/
                span.value
                  span.money-unit
                    => "#{current_currency.money_sign}"
                  = number_to_currency(calculate_currency(@booking.total_price_without_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")
            .col-xs-4.text-center
              span.booking-total-value
                span.attribute-title.text-center = t(:booking_tax)
                br/
                span.value
                  span.money-unit
                    => "#{current_currency.money_sign}"
                  = number_to_currency(calculate_currency(@booking.booking_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")
          .col-xs-4.text-center
            span.booking-total-value
              span.attribute-title.text-center = t(:total_price)
              br/
              span.value
                span.money-unit
                  => "#{current_currency.money_sign}"
                = number_to_currency(calculate_currency(@booking.total_price, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: "")

      .row
        - if !current_public_affiliate_user.is_a_company_employee?
          - if render_existing_credit_card_select
            .existing-credit-card-select ng-show='!creditCardFormVisible'
              = render partial: '/public_affiliate/bookings/payments/_new/existing_credit_card_select'
              = hidden_field_tag 'use_existing_credit_card', params[:use_existing_credit_card] || true, { class: 'js-use-existing-credit-card' }

          - if render_new_credit_card_form
            .credit-card-form ng-show='creditCardFormVisible'
              = render partial: '/public_affiliate/bookings/payments/_new/credit_card_form', locals: { f: f }

          - if !current_public_affiliate_user.is_a_company_employee? || can_current_public_affiliate_user_afford?(offer: @booking.offer, number_of_people: @booking.number_of_people)
            .form-actions
              .col-sm-12
                .checkbox
                  label
                    = check_box_tag "read_and_accept", nil, false, "ng-model" => "checkedTermsofuse"
                    span.lbl
                      =< t(:i_have_read_and_accepted)

                .js-tooltip-toggler.tooltip-toggler.pull-right data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:check_terms_of_use_title)}"

                  = f.submit t(:finish_reservation).upcase, class: "submit-disabled cpy-disabled-submit-button btn-success submit-button pill big pull-right btn", "disabled" => "disabled", "ng-hide" => "checkedTermsofuse"

                = f.submit t(:finish_reservation).upcase, class: "cpy-submit-button ng-hide btn-success submit-button pill big pull-right btn", "ng-disabled" => "!checkedTermsofuse", "ng-show" => "checkedTermsofuse"
.booking-step-title.hidden-xs.hidden-sm
  h2
    = t('bookings.complete_reservation')
  = t(:please_input_your_data)

= simple_form_for [:public_affiliate, @booking], html: { class: 'form-horizontal' }, wrapper: :basic do |f|
  .row.form-group
    .col-md-6.col-xs-12
      label
        = t(:guest_name_holder_booking)
      - @booking.guest_name ||= current_public_affiliate_user.name
      = f.input :guest_name
    .col-md-6.col-xs-12
      label
        = t(:phone_number_holder_booking)
      = f.input :phone_number, input_html: { class: 'js-mask-mobile-phone' }
  .row.form-group
    - @booking.guest_email ||= current_public_affiliate_user.email
    - if @offer.try(:room_type_id)
      .col-md-6.col-xs-12
        label
          = Booking.human_attribute_name(:number_of_people)
        - options_for_number_of_people_select = []
        - (@offer.room_type_initial_capacity..@offer.room_type_maximum_capacity).to_a.each do | i |
          - next if @booking.is_omnibees_or_hoteisnet? and i != @booking.number_of_people
          - next unless can_current_public_affiliate_user_afford?(offer: @offer, number_of_people: i)
          - options_for_number_of_people_select << ((i == 1) ? ["1 #{t(:person).downcase} - #{number_to_currency(calculate_currency(total_price_for_number_of_people_dropdpwn(i).round, Hotel::CURRENCY_SYMBOL_REVERSED[@offer.hotel.currency_symbol]).round, unit: "#{current_currency.money_sign}", precision: 0)}", 1] : ["#{i} #{t(:people).downcase} - #{number_to_currency(calculate_currency(total_price_for_number_of_people_dropdpwn(i).round, Hotel::CURRENCY_SYMBOL_REVERSED[@offer.hotel.currency_symbol]).round, unit: "#{current_currency.money_sign}", precision: 0)}", (i)])

        = f.input :number_of_people, class: 'form-control', collection: options_for_number_of_people_select, selected: @booking.number_of_people || params[:number_of_people], prompt: false

      .col-md-6.col-xs-12
        label
          = Booking.human_attribute_name(:guest_email)
          span style="margin-left: 3px" *
        = f.input :guest_email, class: 'form-control'
    - else
      .hidden
        = f.input :number_of_people, class: 'hidden', value: @booking.number_of_people || params[:number_of_people]
      .col-md-12.col-xs-12
        label
          = Booking.human_attribute_name(:guest_email)
          span style="margin-left: 3px" *
        = f.input :guest_email, class: 'form-control'
  .row
    .col-md-12.col-xs-12
      p.small
        span#total-with-comission
    .col-md-12.col-xs-12
      p.small
        span style="margin-right: 3px" *
        = t(:new_booking_guest_email_field_explanation)

  span ng-hide="showObservationInput"
    a ng-click="showObservationInput = true"
      = t(:add_note)
  .row.form-group.notes-input.fadeIn.animated ng-show="showObservationInput"
    .col-md-12.col-xs-12
      label
        = Booking.human_attribute_name(:note)
      = f.input :note, class: 'form-control', as: :text, input_html: { rows: 5 }
  .row.form-actions
    .col-md-10.col-md-offset-2.col-xs-12
      = submit_tag t(:continue).upcase, class: 'cpy-submit-button pill btn-success big pull-right submit-button'

- distance = search_row[:distance]
- hotel = search_row[:hotel]
- offer = search_row[:min_offer]
- if similar_hotel
  - row_extra_class = 'js-similar-hotel-row'
.box.js-hotel-row.js-individual-hotel.individual-hotel ng-show="hotelPriceAndCategoryAndDistanceMatchFilter(#{total_price_for_number_of_people(params[:by_number_of_people], offer)},#{hotel.category[0]}, #{hotel.distance_to(@searched_address_coordinates).round(2)})" class="#{row_extra_class}"
  .row.desktop-individual-hotel-row.hidden-xs.hidden-sm
    .hotel-photo-col.col-md-4
      .row
        .col-md-12
          - unless Rails.env.test?
            - hotel_main_photo_url = hotel.main_photo_url
            - if hotel_main_photo_url
              = link_to(public_affiliate_hotel_path(id: hotel.id, name: hotel.name.parameterize, length_of_pack: params[:by_pack_length], checkin_date: params[:by_checkin_date], checkin_hour: params[:by_checkin_hour], number_of_people: params[:by_number_of_people]), class: 'cpy-hotel-details-link') do
                = image_tag hotel_main_photo_url, class: 'hotel-photo', alt: ''
    .hotel-info-col.col-md-8
      .row
        .col-md-12
          .row
            .col-md-7
              .hotel-name
                = link_to(hotel.name, public_affiliate_hotel_path(id: hotel.id, name: hotel.name.parameterize, length_of_pack: params[:by_pack_length], checkin_date: params[:by_checkin_date], checkin_hour: params[:by_checkin_hour], number_of_people: params[:by_number_of_people]))
              .hotel-rating
                = render_stars_from_hotel(hotel)
            .col-md-5
              .hotel-from-price.pull-right.text-right
                = t(:from).downcase
                br
                span = current_currency.money_sign
                span.bigger = number_to_currency(calculate_currency(total_price_for_number_of_people(params[:by_number_of_people], offer), Hotel::CURRENCY_SYMBOL_REVERSED[hotel.currency_symbol]).round, unit: "", precision: 0)
          .row
            .col-md-12
              .hotel-address
                span.map-marker
                  i.glyphicon.glyphicon-map-marker
                span.address
                  = "#{hotel.address}: "
                br
                span.distance
                  = "#{t :distance}: "
                  span.number-distance
                    = "#{distance.to_s.gsub('.',',')} KM"
                span.see-map
                  = link_to public_affiliate_hotel_map_show_path(id: hotel.id, hotel: {latitude: hotel.latitude, longitude: hotel.longitude, name: hotel.name}), "data-toggle" => "modal", "data-target" => ".js-room-type-modal", remote: true do
                    i.glyphicon.glyphicon-globe>
                    = t(:see_map)
          /.row
            .col-md-12
              .hotel-description
                = hotel.send("description_#{I18n.locale}").truncate(200)
          /.row
            .col-md-12
              .hotel-payment-methods
                - payment_methods =  "#{t :payment_methods_accepted_by_the_hotel}: #{hotel.send("payment_method_#{I18n.locale}").downcase.capitalize}"
                - payment_methods += '.' unless payment_methods[-1] == '.'

                => payment_methods
                - if hotel.accept_online_payment?
                  b
                    = t(:this_hotel_accepts_online_payment) + '.'
  - if can_current_public_affiliate_user_afford?(price_without_tax: offer.price, pack_in_hours: params[:by_pack_length])
    .row.hidden-xs.hidden-sm
      .col-md-4.cancellation-and-breakfast
        - if hotel.accepts_booking_cancellation?
          span.cancellation-icon
            i.glyphicon.glyphicon-remove>
          span.cancellation-message
            = t :free_cancellation
        - else
          span.cancellation-icon
            i.glyphicon.glyphicon-remove.red>
          span.cancellation-message
            = t :not_accept_cancellation
      .col-md-4.cancellation-and-breakfast
        - if allow_breakfast_in_this_time_interval?(hotel.hotel_amenity, params[:by_checkin_hour], params[:by_pack_length])
          span.breakfast-icon
            i.fa.fa-coffee>
          span.breakfast-message
            = t :breakfast_included
        - else
          span.breakfast-icon
            i.fa.fa-coffee.red>
          span.breakfast-message
            = t :no_breakfast_included

      .col-md-2
      .col-md-2
        .pull-right.hotel-details
          = link_to(public_affiliate_hotel_path(id: hotel.id, name: hotel.name.parameterize, length_of_pack: params[:by_pack_length], checkin_date: params[:by_checkin_date], checkin_hour: params[:by_checkin_hour], number_of_people: params[:by_number_of_people]), class: 'btn btn-success cpy-hotel-details-link') do
            = t(:reserve)
  - else
    .row.hidden-xs.hidden-sm
      .col-md-10
      .col-md-2
        .pull-right.hotel-details
          .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:booking_not_allowed_button_title)}"
            = button_tag t(:booking_not_allowed), class: 'btn btn-danger'


  .row.mobile-individual-hotel-row.hidden-md.hidden-lg onclick="location.href='#{public_affiliate_hotel_path(id: hotel.id, name: hotel.name.parameterize, length_of_pack: params[:by_pack_length], checkin_date: params[:by_checkin_date], checkin_hour: params[:by_checkin_hour], number_of_people: params[:by_number_of_people])}';"
    .hotel-photo-col.col-xs-4
      .row
        .col-xs-12
          - unless Rails.env.test?
            - hotel_main_photo_url = hotel.main_photo_url
            - if hotel_main_photo_url
              = image_tag hotel_main_photo_url, class: 'hotel-photo', alt: ''
    .hotel-info-col-mobile.col-xs-8
      .row
        .col-xs-12.hotel-name
          = truncate(hotel.name, length: 30)
      .row.hotel-details
        .col-xs-6.hotel-address
          span.map-marker
            i.glyphicon.glyphicon-map-marker
          span.address
            = "#{truncate(hotel.address, length: 50)}"
          br
          span.distance
            = "#{t :about} #{hotel.distance_to(@searched_address_coordinates).round(1).to_s.gsub('.',',')} KM"
        .col-xs-5.hotel-rating-price
          .row.hotel-rating.text-right
            = render_stars_from_hotel_mobile(hotel)
          .row.hotel-from-price.text-right
            = t(:from).downcase
            br
            span = current_currency.money_sign
            span.bigger = number_to_currency(calculate_currency(total_price_for_number_of_people(params[:by_number_of_people], offer), Hotel::CURRENCY_SYMBOL_REVERSED[hotel.currency_symbol]).round, unit: "", precision: 0)
        .col-xs-1.continue-icon
          i.fa.fa-angle-right

  - if @any_available_voucher && mobile_device?
    p style="display: inline; font-size: 10px"
      | Confirme sua reserva e
      strong  ganhe R$10
      |  para usar com:
    = image_tag 'easy-taxi-logo.png', style: 'display: inline; width: 60px'
- similar_offers = @search_similar_match.map { |s| s[:min_offer] }

.clearfix

table.table.table-striped.table-hover
  tbody
    - similar_offers.each do | offer |
      tr
        td.size-70-percent
          p
            = link_to "", public_affiliate_hotel_room_type_show_path(hotel_id: @hotel.id, hotel_name: @hotel.name.parameterize, id: offer.room_type.id, length_of_pack: params[:length_of_pack], checkin_date: params[:checkin_date], checkin_hour: params[:checkin_hour], number_of_people: params[:number_of_people], offer_price: total_price_for_number_of_people(params[:number_of_people], offer)), class: "glyphicon glyphicon-question-sign", "data-toggle" => "modal", "data-target" => ".js-room-type-modal", remote: true
            = offer.room_type.send("full_name_#{I18n.locale}")

          p
            b
              => t(:pack)
            = "#{offer.pack_in_hours} #{t(:hours)}"
          p
            b
              => t(:checkin_hotel_show)
            = l(offer.checkin_timestamp.to_datetime)
          p
            b
              => t(:checkout_hotel_show)
            = l(offer.checkout_timestamp.to_datetime)
          p.hidden-lg.hidden-md
            b
              => t(:price)
            = number_to_currency(calculate_currency(total_price_for_number_of_people(params[:number_of_people], offer), Hotel::CURRENCY_SYMBOL_REVERSED[@hotel.currency_symbol]).round, unit: current_currency.money_sign, precision: 0)


        td.size-30-percent.text-center.js-similar-offer
          p.bigger
            big.hidden-xs.hidden-sm = number_to_currency(calculate_currency(total_price_for_number_of_people(params[:number_of_people], offer), Hotel::CURRENCY_SYMBOL_REVERSED[@hotel.currency_symbol]).round, unit: "#{current_currency.money_sign}", precision: 0)
          - if can_current_public_affiliate_user_afford?(offer: offer)
            = link_to t(:reserve), new_public_affiliate_booking_path(price: offer.price, checkin_timestamp: offer.checkin_timestamp, pack_in_hours: offer.pack_in_hours, room_type_id: offer.room_type.id, number_of_people: params[:number_of_people]), class: "pill btn-success small hidden-xs hidden-sm"
            = link_to "<i class='fa fa-angle-right'></i>".html_safe, new_public_affiliate_booking_path(price: offer.price, checkin_timestamp: offer.checkin_timestamp, pack_in_hours: offer.pack_in_hours, room_type_id: offer.room_type.id, number_of_people: params[:number_of_people]), class: "pill btn-success small arrow-right js-link-to-new-booking hidden-md hidden-lg", style: 'font-size: 35px; background: transparent; color: #57b12f'
