.public-affiliate-home-controller.business-trips-action
  .form
    .btn-success
      margin-top: 10px

    .btn-success.pt-br
      padding-left: 17px

    label
      line-height: 20px
      color: $label-light-gray
      font-style: italic
      font-size: 14px
      font-weight: lighter
      margin-top: 5px
      margin-bottom: 0

  .slides
    iframe
      width: 100%
      height: 359px
      border: 1px solid #CCC
      border-width: 1px 1px 0
      margin-bottom: 5px

    iframe.en
      height: 413px

  .field-with-error
    span
      color: #E60000
    input, textarea
      border: 1px solid #E60000

  .divider
    margin-top: 10px

  button.submit-disabled:hover
    cursor: help !important
