- user_payments = user.payments.page(params["page_user_payment"]).per(10)

= pagination_links_for user_payments, "page_user_payment"

table.table.table-striped.table-bordered.table-hover.cpy-room-list
  thead
    tr
      th.center.size-6-percent
        | #{t("views.admin.users.id")}
      th.center.size-8-percent
        | #{t("views.admin.users.reservation_id")}
      th.center.size-8-percent
        | #{t("views.admin.users.credit_card_id")}
      th.center.size-30-percent
        | #{t("views.admin.users.user_name")}
      th.center.size-21-percent
        | #{t("views.admin.users.creation_date")}
      th.center.size-17-percent
        | #{t("views.admin.users.status")}
      th.center.size-10-percent
        | #{t("views.admin.users.details")}
  tbody
    - user_payments.each do | payment |
      tr.center
        td
          = payment.id
        td
          = payment.booking_id
        td
          = payment.credit_card_id
        td
          = payment.user.name
        td
          = l payment.created_at
        td
          = t(Payment::ACCEPTED_STATUS_REVERSED[payment.status])
        td
          = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_payment_path(payment.id), class: 'btn btn-xs btn-success'

= pagination_links_for user_payments, "page_user_payment"
