- user_bookings = user.bookings.page(params["page_user_bookings"]).per(10)
= pagination_links_for user_bookings, "page_user_bookings"

table.table.table-striped.table-bordered.table-hover
  thead
    tr
      th.center
        | #{t("views.admin.users.code")}
      th.center
        | #{t("views.admin.users.creation_date")}
      th.center
        | #{t("views.admin.users.chekin")}
      th.center
        | #{t("views.admin.users.hotel")}
      th.center
        | #{t("views.admin.users.status")}
      th.center
        | #{t("views.admin.users.details")}
  tbody
    - user_bookings.each do | booking |
      tr.center
        td
          = booking.id
        td
          = l booking.created_at
        td
          = l booking.checkin_date
        td
          = booking.hotel.name
        td
          = t(Booking::ACCEPTED_STATUS_REVERSED[booking.status])
        td
          = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_booking_path({id: booking.id, return_to_user_index: true}), class: 'btn btn-xs btn-success'
