= form_tag remove_hotel_meeting_room_offers_path, method: :post do
  = hidden_field_tag 'log_id', params[:log_id]
  = hidden_field_tag 'remove_confirmation', true
  = hidden_field_tag 'number_of_offers_that_cant_be_removed', number_of_offers_that_cant_be_removed
  = hidden_field_tag 'number_of_offers_that_will_be_removed', number_of_offers_that_will_be_removed
  button.btn.btn-danger.btn-next.cpy-submit-button.pull-right data-confirm='#{form_confirmation_message}'
    | #{t('views.hotel.meeting_room_offers.continue')}
    i.icon-arrow-right.icon-on-right
