h4.lighter.smaller.green
  | #{t('views.hotel.meeting_room_offers.confirm_offer_removal')}
ul
  li
    big.js-number-of-offers-that-will-be-removed
    span.js-removing-multiple-offers
      =< t('views.hotel.meeting_room_offers.offers_will_be_removed')
    span.js-removing-single-offer
      =< t('views.hotel.meeting_room_offers.offer_will_be_removed')
  li
    big.js-number-of-offers-that-cant-be-removed
    span.js-cant-remove-multiple-offers
      =< t('views.hotel.meeting_room_offers.offers_cant_be_removed')
    span.js-cant-remove-single-offer
      =< t('views.hotel.meeting_room_offers.offer_cant_be_removed')
