= header_section
= panel_section(name: 'Informações da empresa') do
  = show_for @invoice do |u|

    = u.attribute :affiliate_name
    = u.attribute :cnpj
    = u.attribute :cep
    = u.attribute :country, as: :string
    = u.attribute :state
    = u.attribute :city
    = u.attribute :district
    = u.attribute :street
    = u.attribute :number, as: :string
    = u.attribute :complement

    = show_panel_buttons_section
