@media (max-width: 768px)
  .booking-registration-header
    margin-bottom: 30px

    .booking-steps
      font-size: 12px
      margin-bottom: 20px

    .booking-step
      margin-left: 38px

      .line
        top: -26px
        left: 43px
        width: 35px
        border-width: 1px

      .base-circle
        width: 40px
        height: 40px

      .complete-circle, .top-right-quarter-circle, .half-circle-left, .circle-without-top-left-quarter
        top: 3px
        left: 3px
        border-right-width: 14px
        border-top-width: 14px
        border-left-width: 14px
        border-bottom-width: 14px
        border-radius: 14px
        -moz-border-radius: 14px
        -webkit-border-radius: 14px

    .booking-step:first-child
      margin-left: 0

    .booking-step.green, .booking-step.gray
      .complete-circle, .half-circle-left, .circle-without-top-left-quarter, .top-right-quarter-circle
        border-width: 14px

    .step-description
      top: 45px
      font-size: 12px

    .registration.pt-br
      left: -3px
      font-size: 12px

    .complete-booking.pt-br
      width: auto
      left: -9px
      font-size: 12px

    .payment.pt-br
      left: -10px
      font-size: 12px

    .confirmation.pt-br
      left: -13px
      font-size: 12px

    .registration.en
      left: -10px
      font-size: 12px

    .complete-booking.en
      width: auto
      left: -6px
      font-size: 12px

    .payment.en
      left: -3px
      font-size: 12px

    .confirmation.en
      left: -13px
      font-size: 12px
