@media (max-width: 768px)
	body.public-affiliate-layout

		#footer 
			text-align: center

		.personalized-aff
			display: block !important

		.under
			height: 90px

			i
				color: grey

		.left
			margin: 0px

		.right
			right: 100px
			font-size: 40px

		.conj
			padding: 50px 40px

