sass:
  .border-box
    background: #FCFCFC !important
    border: 0px !important

- room_category = params[:room_category].to_i

- if @search_exact_match.length > 0 || @search_similar_match.length > 0
  .row
    .col-sm-12
      .hotel-list-page-wrapper
        .row ng-controller="PublicAffiliateHotelsCtrl"
          .col-md-3
            - if mobile_device?
              .top-filter-informations-mobile
                = render partial: "/public_affiliate/hotel/index/searched_informations"
                .panel.panel-default
                  .panel-heading
                    a href="#" ng-click="filterCollapsed = !filterCollapsed"
                      h5.panel-title.text-center
                        = t(:filter)
                  .panel-collapse collapse="filterCollapsed"
                    .panel-body
                      = render partial: "/public_affiliate/hotel/index/filter_mobile"
            - else
              .side-filter-informations.hidden-xs.hidden-sm
                = render partial: "/public_affiliate/hotel/index/searched_informations"
                = render partial: "/public_affiliate/hotel/index/filter"

          .col-md-9
            .all-matches-hotels
              p.notice.text-center ng-hide='anyHotelMatchFilter()'
                = t(:no_hotels_match_filter)
              .exact-matches-hotels.cpy-exact-matches-list
                .row.title ng-show='anyExactHotelMatchFilter()'
                  .col-sm-8
                    h3.title
                      = "#{t(:we_found)} "
                      span.exact-matches-length
                        | {{ hotelExactMatchLength() }}
                      | {{ hotelPluralize(hotelExactMatchLength()) }}
                      /- if room_category == Hotel::ROOM_CATEGORY[:offer]
                        | {{ hotelPluralize(hotelExactMatchLength()) }}
                      /- elsif room_category == Hotel::ROOM_CATEGORY[:meeting_room_offer]
                        | {{ meetingRoomPluralize(hotelExactMatchLength()) }}
                      /- elsif room_category == Hotel::ROOM_CATEGORY[:event_room_offer]
                        | {{ eventRoomPluralize(hotelExactMatchLength()) }}
                      =< t(:for_you)
                  .col-sm-4.pull-right
                    = render partial: 'public_affiliate/hotel/index/sort_by_price_button'
                .clearfix

                .hotels-box
                  - @search_exact_match.each do | search_row |
                    - if search_row[:business_room]
                      = render partial: '/public_affiliate/hotel/index/business_room_row', locals: { search_row: search_row, similar_hotel: false, room_category: room_category }
                    - else
                      - if layout_name.present?
                        = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/hotel_row", locals: { search_row: search_row, similar_hotel: false }
                      - else
                        = render partial: '/public_affiliate/hotel/index/hotel_row', locals: { search_row: search_row, similar_hotel: false }

              - unless @search_similar_match.length == 0
                .similar-matches-hotels.cpy-similar-matches-list ng-show='anySimilarHotelMatchFilter()'
                  hr.hidden-md.hidden-lg
                  h1.text-center.similar-offers-title.hidden-md.hidden-lg
                    = "#{t(:similar_offers)}"
                  h3.title
                    = "#{t(:check_below)} "
                    span.similar-matches-length
                      | {{ hotelSimilarMatchLength() }}
                    - if room_category == Hotel::ROOM_CATEGORY[:offer]
                      | {{ hotelPluralize(hotelSimilarMatchLength()) }}
                    - if room_category == Hotel::ROOM_CATEGORY[:meeting_room_offer]
                      | {{ meetingRoomPluralize(hotelSimilarMatchLength()) }}
                    - if room_category == Hotel::ROOM_CATEGORY[:event_room_offer]
                      | {{ eventRoomPluralize(hotelSimilarMatchLength()) }}
                    =< t(:with_similar_offers)
                  span.subtitle
                    = t(:similar_offers_that_still_suits_your_needs) + '.'

                  .hotels-box

                    - @search_similar_match.each do | search_row |
                      - if search_row[:business_room]
                        = render partial: '/public_affiliate/hotel/index/business_room_row', locals: { search_row: search_row, similar_hotel: true, room_category: room_category }
                      - else
                        - if layout_name.present?
                          = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/hotel_row", locals: { search_row: search_row, similar_hotel: false }
                        - else
                          = render partial: '/public_affiliate/hotel/index/hotel_row', locals: { search_row: search_row, similar_hotel: true }

- else
  .row
    .col-sm-12
      .hotel-list-page-wrapper
        .all-matches-hotels
          .search-not-found.text-center
            .glyphicon.glyphicon-search
            p.no-matches
              = t(:there_are_no_hotels_that_fulfill_your_expectations)

            //h4 = t(:the_hotel_quantity_grows)

            /.subscribe-form-wrapper.well

              h5 = t(:subscribe_to_be_notified)
              .js-form-wrapper
                = simple_form_for(:subscribe_search, url: set_email_for_last_log_public_affiliate_hotel_search_logs_path, remote: true) do |f|

                  label.label-email Seu email
                  input.input-email.form-control.cpy-email name="subscribe_search[email]"
                  = f.submit t(:form_subscribe_button), class: 'btn green subscribe-button cpy-subscribe-button'
              p.js-error.error
              p.js-success.success style="display: none;" = t(:successfull_subscribe_for_search)
            / = t(:please_click_the_button_below)
            / a.btn.green data-toggle='modal' data-target='#search-box-modal'
            /   = t(:new_search)

.modal.fade.js-room-type-modal.room-type-modal aria-labelledby="myModalLabel" tabindex="-1" role="dialog" aria-hidden="true"
  .modal-dialog
    .modal-content
      .js-see-map
