- is_business_room = params[:business_room]
div ng-controller='PublicAffiliateHotelCtrl'
  = render partial: "/public_affiliate/shared/new_search"
  .row
    .col-sm-12.border-box
      .row
        .col-sm-11
          = render partial: "/public_affiliate/hotel/show/details_pages_header", locals: { hotel: @hotel , is_business_room: is_business_room}
        .col-sm-1.hidden-xs.hidden-sm
          = link_to t(:return), :back, class: "link dark-red"
  - if layout_name.present?
    .row
      .col-sm-12.border-box.search-form-box
        - if is_business_room
          = render partial: "/layouts/public_affiliate/personalized_affiliate/#{layout_name}/meeting_room/search_form_hotel_header"
        - else
          = render partial: "/layouts/public_affiliate/personalized_affiliate/#{layout_name}/search_form_hotel_header"

  .row
    .col-sm-12.border-box.detail-box
      - if is_business_room
        = render partial: "/public_affiliate/hotel/show/business_room_details"
      - else
        = render partial: "/public_affiliate/hotel/show/hotel_details"

.modal.fade.js-room-type-modal.room-type-modal aria-labelledby="myModalLabel" tabindex="-1" role="dialog" aria-hidden="true"
  .modal-dialog
    .modal-content
      .js-room-type-details

javascript:
  yojs.set('hotelLatitude', "#{@hotel.latitude}")
  yojs.set('hotelLongitude', "#{@hotel.longitude}")
  yojs.set('hotelName', "#{@hotel.name}")
