.row
  .col-xs-12.border-box.with-padding
    h1.page-title Terms of use
    .divider

    p These Terms of Use present the "General Conditions" applicable to the use of the services offered by RESERVAS POR HORA DO BRASIL LTDA, a limited company, headquartered at Rua Luís Coelho, 308, CJ. 32, Cerqueira César, CEP 01309-000, São Paulo/SP, Brazil, enrolled with CNPJ under no. 19.901.516/0001-35, hereinafter referred to as "HotelQuando.com" within the website http://www.hotelquando.com.

    p Any person, hereinafter referred to as "User", who intends to use the services of HotelQuando.com shall accept these Terms of Use, and all other policies and principles governing it. ACCEPTANCE OF THE TERMS OF USE IS ABSOLUTELY NECESSARY FOR THE USE OF THE WEBSITE AND ITS SERVICES.

    p The User must read, make sure that he/she understands and accepts all the conditions established in the Terms of Use, as well as in any other documents incorporated by reference, before using the website and its services.

    ol
      li
        b Modification of Terms of Use

        p HotelQuando.com may change the Terms of Use by notifying customers-users in advance in order to improve the services and products offered through HotelQuando.com. In any case, the Terms of use contained in this document are mandatory and binding, anyone who does not accept these terms must refrain from using the site and/or services of HotelQuando.com.

        p These Terms of Use do not create any partnership, franchise, or employment relationship between HotelQuando - customers and users.

      li
        b Description of services

        p HotelQuando.com is the first Brazilian online hotel reservation platform that allows the user to book their room for 3, 6, 9, or 12-hour packages at a fair price. The user also decides what time he would like to enter the hotel. From that time of entry, the user can enjoy the package of hours chosen. It is the user's obligation to respect the time of leaving the room. If this does not happen, a fine will be charged in the amount of the time package that contemplates the time exceeded by the user. This fine will be charged to the same credit card used to confirm the reservation.

      li
        b Register

        p It is mandatory to fill in the form in all its fields to use the services offered at HotelQuando.com. Information or personal data in each of the form fields must be accurate, precise and true. HotelQuando.com is not responsible for the accuracy of the information provided by its users. All Users guarantee and respond, in any case, for the truthfulness, accuracy, validity and authenticity of the personal data entered. The information and personal data will be used exclusively by HotelQuando.com to identify the user and classify his profile in order to provide a better service.

      li
        b How to send the reservation confirmation

        p When confirming the reservation, we will send an e-mail with the confirmation of the reservation, which includes the data of the purchase/reservation. It is important to remember to print and take it to the hotel.

      li
        b Cancellation of reservation

        p Cancellation can be made within the time frame established by the hotel of your choice. It is necessary to pay attention to the advance necessary to carry out the cancellation.

      li
        b Payment methods

        p Reservations can be paid in two ways: Full payment at the time of reservation by Credit Card (charge is made at time of reservation) or Payment at the destination (direct payment at the hotel, we will only charge our convenience fee on the user's credit card ).

      li
        b User Obligations

        p The confirmation of the purchase order indicates that the user agrees with the specifications and characteristics of the good, product or service offered. Likewise, it is bound by the conditions of sale included in the description of the merchandise, product or service, in so far as they do not violate the law or the Terms of Use and other policies of HotelQuando.com.

      li
        b Hotel Obligations

        p The providers of HotelQuando.com are the hotels that actively participate in the hotel chain HotelQuando.com. Thus, they offer the services that Hotel Quando.com manages through its platform. The hotel is required to comply with all contractual terms and privacy policy set forth on this booking platform. In relation to the cancellation of reservations, the supplier is obliged to inform HotelQuando.com of its cancellation policy, and the latter, to inform its customers.

        p Likewise, it is the responsibility of the user to comply with the conditions of sale.

      li
        b Prohibitions

        p Users will not be able to:

        p - Confirm a purchase without first accepting the Terms of Use.

        p -  Confirm a booking order without being sure he/she will actually make the reservation. This action stops the system from working properly and is harmful to other users.

        p - Disrespect the time of leaving the room. If this happens, he/she will be charged a fine in the amount of time that includes the time exceeded.

      li
        b Privacy and Protection of Personal Data

        p We inform you that your personal data will be stored and processed in files of HotelQuando.com, in order to offer our services. By providing the e-mail address or other personal data required for the contracting of certain services, users consent to receive commercial communications, promotion and advertising of services and products offered by HotelQuando.com. These communications can occur at the same time that they provide the data.

      li
        b Industrial and Intellectual Property

        p The contents provided by HotelQuando.com are subject to intellectual and industrial property rights and are exclusive property of HotelQuando.com. By purchasing a product or service, HotelQuando.com does not grant the purchaser the right to change, exploit, reproduce, distribute or publicly communicate it, reserving to HotelQuando.com all those rights. The granting of these rights requires the prior written consent of the owner, so that the customer can not make such content available to third parties.

        p Intellectual property extends beyond the contents included in the HotelQuando.com to its graphics, logos, drawings, images and source codes used for programming. HotelQuando.com has obtained the information and materials included on the website from sources deemed reliable. Although reasonable steps have been taken to ensure that the information is correct, Hotel Quando.com can not guarantee that at all times and circumstances that information is accurate, complete, current, and therefore should not be invoked as it were.

        p HotelQuando.com reserves the right to modify, suspend, cancel or restrict the content of the site, links or information obtained through it, without prior notice. Also, in no case, assumes any responsibility as a consequence of the incorrect use of the site.

        p This site is owned by HotelQuando.com. The intellectual property rights and the rights to use and reproduce this site, its pages, the screens, the information contained therein, its appearance and design, as well as the links to be established from it to other sites of any subsidiary and/or controlled or controlling companies by HotelQuando.com, are exclusive property of HotelQuando.com, unless expressly stated otherwise. Any name, design and/or logo, and any product or service offered and displayed on this site are trademarks duly registered by HotelQuando.com, its subsidiaries and/or controlled companies or third parties. Misuse of it by persons who are not its legitimate owner without his/her specific consent  may be reported and prosecuted by all legal means.

        p The intellectual property rights and trademarks of third parties are properly posted and must be respected by all who visit this site. HotelQuando.com is not responsible for the use that the user may perform on it, it is the sole responsibility of whoever does.

        p Only for personal and private use, people are authorized to download the contents, copy or print any page of this site. It is prohibited to reproduce, transmit, modify or delete information, content or warnings on this site without the prior written permission of HotelQuando.com. In no event shall HotelQuando.com, its subsidiaries and/or work centers, directors and/or representatives, employees and, in general, authorized personnel be liable for any damage, loss, claim or expense of any kind, whether derived directly or indirectly from the use and/or disclosure of the site or the information acquired or accessed through it, or its viruses, operational failures or interruptions in the service or transmission or line failure in the use of the site, either by direct connection as by link or other means, constituting for all legal purposes a warning to any user that these possibilities and events may occur.

      li
        b Links to other websites

        p The Internet pages of HotelQuando.com may contain links to other third party websites. Therefore, it can not assume responsibility for the content that may appear on these pages. The texts, images, sounds, animations, software and other content included in this site are the exclusive property of HotelQuando.com or its licensors. Any transmission, distribution, transfer, reproduction, storage or public communication, in whole or in part, must have the express consent of HotelQuando.com.

      li
        b Responsibilities

        p HotelQuando.com only places at the disposal of the users a virtual space, making the greatest efforts for the updating, maintenance, and operation of the same, not being able to guarantee absence of technical failures, infallibility of the service, nor that the system or portal is in operation at all times. HotelQuando.com is not the owner of the products or services offered, does not have ownership over them. HotelQuando.com is committed to improving operations between users and providers, but is not directly responsible for the existence, quality, quantity, status, integrity of goods, products and services. HotelQuando.com acts as an intermediary between buyers and suppliers, thus offering to book hotel rooms in a way never seen before, diverting from hotel reservation of rooms per day, bringing the possibility of reserving rooms for hours.

        p HotelQuando.com within its policies for the admission of its users and providers, needs the integrity, honesty, social responsibility and moral ethics of each of these, as well as the quality of its products and services.

      li
        b Indemnity

        p The User will indemnify HotelQuando.com, its affiliates, controlled or parent companies, directors, administrators, partners, representatives and employees for any claims made by other users or third parties arising from its activities on the site or for its non-compliance with the Terms of Use or the violation of any law or rights of third parties, including attorneys' fees.

      li
        b Nullity and Ineffectiveness of clauses

        p If a clause, or part of it, of this Terms of Use is deemed to be ambiguous, invalid, or otherwise unenforceable, the rest of this Terms of Use shall remain fully valid and effective.

      li
        b Forum and Applicable Legislation

        p All items in this Term of Use are governed by the laws in force in the Federative Republic of Brazil. For all matters relating to its interpretation and compliance, the parties shall submit to the Central Forum of the City of São Paulo, except for complaints submitted by Users that fall within the legal concept of consumers, which they may submit to the forum of their domicile.
