.row
  .col-xs-12.border-box.with-padding
    h1.page-title Condiciones de uso
    .divider

    p Estas Condiciones de uso presentan las "Condiciones Generales" aplicables al uso de los servicios ofrecidos por RESERVAS POR HORA DO BRASIL LTDA, sociedad limitada, con sede en la calle Luís Coelho, 308, CJ. 32, Cerqueira Cesar, Código Postal 0109-000, Sao Paulo/SP, con inscripción en el CNPJ nº 19.901.516/0001-35, de ahora en adelante denominada “HotelQuando.com”, con sitio en http://www.hotelquando.com.

    p Cualquier persona, en adelante denominada "Usuario", que desee utilizar los servicios de HotelQuando.com deberá aceptar estas Condiciones de uso, y todas las demás políticas y principios que lo rigen. La ACEPTACIÓN DE LAS CONDICIONES DE USO ES ABSOLUTAMENTE NECESARIA PARA LA UTILIZACIÓN DEL SITIO WEB Y SUS SERVICIOS.

    p El usuario deberá leer, cerciorarse de haber entendido y aceptar todas las condiciones establecidas en las Condiciones de uso, así como en los demás documentos incorporados por referencia, antes de la utilización del sitio web y sus servicios.

    ol
      li
        b Modificación de las condiciones de uso

        p HotelQuando.com puede cambiar las Condiciones de uso notificando a los usuarios-clientes con suficiente antelación, con el fin de mejorar los servicios y productos ofrecidos a través de HotelQuando.com. En cualquier caso, las Condiciones de uso contenidas en este documento son de carácter obligatorio y vinculante, cualquier persona que no acepte estas condiciones debe abstenerse de usar el sitio y / o servicios de HotelQuando.com.

        p Estas Condiciones de uso no crean ninguna asociación, franquicia, o relación de empleo entre HotelQuando - clientes y usuarios.

      li
        b Descripción de los Servicios

        p HotelQuando.com es la primera y única plataforma global de reservas online de hoteles que permite al usuario reservar su habitación por paquetes de 3, 6, 9, o 12 horas a un precio justo. El usuario también decide a qué hora le gustaría entrar en el hotel. A partir de ese horario de entrada, el usuario puede disfrutar del paquete de horas elegido. Es obligación del usuario respetar el horario de salida de la habitación. Si esto no sucede, se le cobrará una multa en el valor del paquete de horas adquirido.

      li
        b Registro

        p Es obligatorio rellenar el formulario en todos sus campos para utilizar los servicios ofrecidos en HotelQuando.com. La información o datos personales en cada uno de los campos del formulario deben ser exactos, precisos y verdaderos. HotelQuando.com no se responsabiliza por la exactitud de la información proporcionada por los clientes usuarios. Todos los Usuarios garantizan y responden, en cualquier caso, por la veracidad, precisión, vigencia y autenticidad de los datos personales insertados. La información y los datos personales serán utilizados exclusivamente por HotelQuando.com para identificar al usuario y clasificar su perfil con el fin de proporcionar una mejor atención.

      li
        b Forma de envío de la confirmación de la reserva

        p Al confirmar la reserva, le enviaremos un e-mail con la confirmación de la reserva, donde constan los datos de la compra / reserva. Es importante recordar que es necesario imprimir el e-mail y llevar al hotel.

      li
        b Cancelación de la reserva

        p La cancelación podrá realizarse dentro del plazo establecido por el hotel de elección del usuario. Es necesario atentar la antelación necesaria para realizar la cancelación.

      li
        b Formas de pago

        p El usuario podrá elegir cuál es la mejor forma de realizar el pago de su reserva: Pago en el momento de la reserva por Tarjeta de Crédito (cobro se realiza en el momento de la reserva) o Pago en el destino (pago directo en el hotel, vamos a recoger los datos de su Tarjeta de Crédito sólo como garantía).

      li
        b Obligaciones de los usuarios

        p La confirmación de la solicitud de compra indica que el usuario está de acuerdo con las especificaciones y características del bien, producto o servicio ofrecido. De la misma forma, está obligado por las condiciones de venta incluidas en la descripción de la mercancía, producto o servicio, en la medida en que no violan la ley o las Condiciones de Uso y demás políticas HotelQuando.com.

      li
        b Obligaciones del hotel

        p Los proveedores de HotelQuando.com son los hoteles que participan activamente en la red de hoteles HotelQuando.com. Así, son ellos quienes ofrecen los servicios que el HotelQuando.com maneja a través de su plataforma. El hotel tiene la obligación de cumplir con todos las condiciones contractuales y la política de privacidad establecidos en esta plataforma de reserva. En cuanto a la cancelación de reservas, el proveedor está obligado a informar a HotelQuando.com de su política de cancelación, y este último, de informar a sus clientes.

        p De la misma forma, es responsabilidad del usuario cumplir con las condiciones de venta.

      li
        b Prohibiciones

        p Los usuarios no podrán:

        p - Confirmar una compra sin antes aceptar las Condiciones de uso.

        p - Confirmar una orden de reserva sin estar seguro de que realmente va a hacer la reserva. Esta acción interrumpe el buen funcionamiento del sistema y es perjudicial para los demás usuarios.

        p - No respetar el horario de salida de la habitación. En caso de que esto ocurra, se le cobrará una multa en el valor del paquete de horas adquirido.

      li
        b Privacidad y protección de datos personales

        p Le informamos que sus datos personales serán almacenados y procesados en archivos de HotelQuando.com, con el fin de ofrecer nuestros servicios. Proporcionando la dirección de e-mail u otros datos personales, necesarios para la contratación de determinados servicios, los usuarios consienten en recibir comunicaciones comerciales, promoción y publicidad de servicios y productos ofrecidos por HotelQuando.com. Estas comunicaciones se pueden producir al mismo tiempo que proporcionan los datos.

      li
        b Propiedad Industrial e Intelectual

        p Los contenidos proporcionados por HotelQuando.com están sujetos a los derechos de propiedad intelectual e industrial y son propiedad exclusiva de HotelQuando.com. Al adquirir un producto o servicio, HotelQuando.com no concede al comprador el derecho de alteración, explotación, reproducción, distribución o comunicación pública del mismo, reservando a HotelQuando.com todos esos derechos. La concesión de estos derechos requiere el previo consentimiento por escrito de su titular, de modo que el cliente no puede poner a disposición de terceros tal contenido.

        p La propiedad intelectual se extiende más allá de los contenidos incluidos en HotelQuando.com, a sus gráficos, logotipos, dibujos, imágenes y códigos fuente utilizados para la programación. HotelQuando.com ha obtenido la información y los materiales incluidos en el sitio a partir de fuentes consideradas confiables. Aunque tomadas medidas razonables para garantizar que la información es correcta, HotelQuando.com no puede garantizar que en todos los momentos y circunstancias las informaciones sean precisas, completas, actuales y, por lo tanto, no deben ser invocadas como si fueran.

        p HotelQuando.com se reserva el derecho de modificar, suspender, cancelar o restringir el contenido del sitio, enlaces o información obtenida a través de él, sin previo aviso. En ningún caso, asume cualquier responsabilidad como consecuencia de la incorrecta utilización del sitio.

        p Este sitio es propiedad de HotelQuando.com. Los derechos de propiedad intelectual y los derechos de uso y reproducción de este sitio, sus páginas, las pantallas, la información que contienen, su apariencia y diseño, así como las conexiones ("links") que se establecerán a partir de él a otros sitios de cualquier subsidiaria y/o empresas controladas o controladoras por HotelQuando.com, son propiedad exclusiva de ésta, excepto si se indica expresamente otra cosa.

        p Los derechos de propiedad intelectual y marcas de terceros están debidamente destacados y deben ser respetados por todos los que visitan este sitio. HotelQuando.com no se responsabiliza por el uso que el usuario pueda ejecutar sobre él, la responsabilidad es exclusiva de quien lo hace.

        p Sólo para uso personal y privado están autorizados a descargar los contenidos, copiar o imprimir cualquier página de este sitio. Está prohibido reproducir, transmitir, modificar o eliminar la información, contenido o advertencias de este sitio sin el permiso previo por escrito de HotelQuando.com. En ningún caso, HotelQuando.com, sus subsidiarias y/o centros de trabajo, directores y/o representantes, funcionarios y, en general, el personal autorizado será responsable de cualquier perjuicio, pérdida, reclamación o gasto de cualquier tipo, ya sean derivados directa o indirectamente de la utilización y/o divulgación del sitio o la información adquirida o accedida a través de éste, o sus virus, fallas operativas o interrupciones en el servicio o transmisión o falla de la línea en el uso del sitio, tanto por conexión directa como por vínculo u otro, constituyendo a todos los efectos legales una advertencia para cualquier usuario que esas posibilidades y eventos puedan ocurrir.

      li
        b Links a otros sitios de Internet

        p Las páginas web de HotelQuando.com pueden contener enlaces (links) a otros sitios de terceros. Por lo tanto, ésta no puede asumir responsabilidades por el contenido que puede aparecer en estas páginas. Los textos, imágenes, sonidos, animaciones, software y otros contenidos incluidos en este sitio son de propiedad exclusiva de HotelQuando.com o sus licenciantes. Cualquier transmisión, distribución, transferencia, reproducción, almacenamiento o comunicación pública, total o parcial, debe tener el consentimiento expreso de HotelQuando.com.

      li
        b Responsabilidades

        p HotelQuando.com solo pone a disposición de los usuarios un espacio virtual, realizando los mayores esfuerzos para la actualización, mantenimiento y operación de los mismos, no pudiendo garantizar ausencia de fallas técnicas, infalibilidad del servicio ni que el sistema o el portal está en funcionamiento en todo momento. HotelQuando.com no es el propietario de los productos o servicios ofrecidos, no tiene la propiedad sobre ellos. HotelQuando.com está comprometido con las mejoras de las operaciones entre usuarios y proveedores, pero no es directamente responsable de la existencia, calidad, cantidad, estatus, integridad de bienes, productos y servicios. HotelQuando.com actúa como un intermediario entre compradores y proveedores, ofreciendo así una manera de reservar habitaciones de hotel nunca vistas antes, desviando de reserva de hotel de habitaciones por días, trayendo la posibilidad de reservar habitaciones por horas.

        p HotelQuando.com dentro de sus políticas de admisión de sus usuarios y proveedores, necesita la integridad, honestidad, responsabilidad social y ética moral de cada uno de ellos, así como la calidad de sus productos y servicios.

      li
        b Indemnización

        p El usuario indemnizará a HotelQuando.com, sus filiales, empresas controladas o controladoras, directores, administradores, colaboradores, representantes y empleados por cualquier demanda promovida por otros usuarios o terceros derivados de sus actividades en el sitio o por su incumplimiento de las Condiciones de uso o por la violación de cualquier ley o derechos de terceros, incluidos los honorarios de los abogados.

      li
        b Nulidad e Ineficacia de las cláusulas

        p En caso de que una cláusula, o parte de ella, de las presentes Condiciones de uso se considere ambigua, inválida o de cualquier otra forma inaplicable, el resto de las presentes Condiciones de uso deberá seguir siendo plenamente válido y eficaz.

      li
        b Foro y legislación aplicable

        p Todos los artículos de estas Condiciones de uso se rigen por las leyes vigentes en la República Federativa del Brasil. Para todos los asuntos referentes a su interpretación y cumplimiento, las partes se someterán al Foro Central de la Ciudad de São Paulo, excepción hecha a reclamaciones presentadas por Usuarios que se encuadren en el concepto legal de consumidores, que podrán someter al foro de su domicilio.
