.admin-company-universes-controller.new-action, .admin-company-universes-controller.create-action
  .hint
    margin-top: -15px
    padding-left: 5px
    text-align: justify
    width: 32.3%
  .field-with-two-lines-label
    height: 33px
    .control-label
      margin-top: -9px

  .field-with-two-lines-error
    height: 33px
    .help-block.col-sm-5.inline
      margin-top: -3px
      margin-bottom: 0

  .checkbox
    padding-left: 0
    padding-top: 3px