.multiplus ng-init='regulation = false'
  .description
    h1.multiplus-title Participe da rede de fidelidade Multiplus em parceria com HotelQuando!

  .logos
    .multiplus-box = image_tag 'multiplus.png', class: 'multiplus-image'
    = icon_for(:plus)
    .hq-box = image_tag 'logo.png', class: 'hq-image'

  .description
    p
      | Ganhe
      span.gray
        |  2 pontos Multiplus
      |  para cada
      span.gray
        |  R$1,00
      |  gasto em nossa plataforma

  .regulation
    h1.regulation-title Regulamento da Parceria
    h2.regulation-subtitle Regras para o acúmulo:
    p.description <strong>1.</strong> O seu Número Multiplus obrigatoriamente deve ser inserido no campo designado no momento da compra para realizarmos a pontuação
    p.description <strong>2.</strong> Serão concedidos 2 pontos a cada R$1,00 gasto em nossa plataforma para todas reservas com check-out entre 01/08/2015 até 30/09/2015
    p.description <strong>3.</strong> Os pontos serão concedidos em até 15 dias úteis após a data de check-out da sua reserva
    p.description <strong>4.</strong> É imprescindível que o usuário seja cadastrado no programa Multiplus para que os pontos sejam acumulados
    p.description <strong>5.</strong> Não serão concedidos os pontos nos casos em que o cadastramento realizado no programa Multiplus tenha sido feito posteriormente ao pedido realizado em nosso site
    p.description <strong>6.</strong> Caso você ainda tenha alguma dúvida, acesse nossa seção de atendimento ao cliente e entre em contato conosco"
