.tab-pane
  .row.text-center
    .checkin.text-center
      label.title#select_hotel #{t('views.affiliates.transamerica.select_hotel')}
      .row.checkin-mobile.selectize_field style="text-align: left;"
        .col-xs-12
          = select_tag 'transamerica-hotels-select-hq', options_for_select(''), class: "form-control", name: 'transamerica[hotel_name]'

      .box_line
      .row
        .col-md-6.transamerica_date_field
          label.title = "#{t('search_box.checkin')}"
          .checkin-date
            input.js-date-picker.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="checkinDate" ng-change='setSearchDate()'

            input.hidden.cpy-checkin-date ng-model="parsedSelectedCheckinDate" name='by_checkin_date'
            input.hidden.cpy-checkin-date ng-model="timezoneSearched" name='by_timezone'
        .col-md-6.transamerica_hour_field
          .checkin-hour.col.xs-12
            label.at = "#{t('search_box.at')}"
            - array_hours = []
            - 24.times do | i |
              - array_hours << i
            .hour-and-buttons
              button.minus-checkin-hour ng-click='changeCheckinHour("minus")' type="button" style="margin-top: 11px"
                span.minus
                  | -
              .hour style='margin: 5px 5px 1px 5px;'
                - if I18n.locale == 'en' || I18n.locale == :en
                  label.no-margin.ng-cloak ng-init="set_checkin_checkout_hour()"
                    | {{checkinHourDate | date: 'ha'}}
                - else
                  label.no-margin ng-bind="checkinHour"
                    | 0
                  label.no-margin
                    | :00
              button.plus-checkin-hour ng-click='changeCheckinHour("plus")' type="button" style="margin-top: 11px;"
                span
                  | +
            .hidden
              = select_tag 'by_checkin_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time size-50-percent', 'ng-model' => 'checkinHour'

    .col-xs-12.pack-size.text-center.transamerica_pack_size
      label = "#{t(:pack_size)}"
      .btn-group.btn-group-justified role="group" aria-label="..."
        - MeetingRoomOffer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
          .btn-group role="group"
            a.btn.btn-default.rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSize == #{pack_size}}" ng-click="selectedPackSize = #{pack_size}; changePackSize()" #{pack_size}h

    .people.text-center.col-xs-12
      label.title-people = "#{t('search_box.people')}"
      button.minus-number-of-people ng-click='changeNumberOfPeople("minus")' type="button"
        span.minus
          | -
      .hour
        label ng-bind="numberOfPeople"
          | 1
      button.plus-number-of-people ng-click='changeNumberOfPeople("plus")' type="button"
        span
          | +
      .hidden
        = select_tag '', options_for_select(1..300), "ng-model" => "numberOfPeople"


    .col-xs-12.col-sm-3.text-center.pull-right.div-button-search
      .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmit()}}"
        button.submit-disabled.cpy-disabled-search-button.btn.search-button disabled='disabled' ng-hide='isFormValid()'
          - if params[:controller] == 'public_affiliate/hotel' && params[:action] == 'index'
            = t(:modify_search_html)
          - else
            = t(:perform_search)

      button.cpy-search-button.ng-hide.btn.search-button ng-disabled='!isFormValid()' ng-show='isFormValid()'
        - if params[:controller] == 'public_affiliate/hotel' && params[:action] == 'index'
          = t(:modify_search_html)
        - else
          = t(:perform_search)

javascript:
  SelectMeetingRoom.init("#{@affiliate_hotels}", "#{I18n.locale}")