= link_to(public_hours_discount_path, class: "registration_box hours_discount_box") do
  button type="button" class="close" &times;
  span.three_free #{t('home.three_free_hours')}
  br
  span.click_here #{t('click_here')}
javascript:
  $('.hours_discount_box .close').on('click', function(e){
    e.preventDefault();
    $('.hours_discount_box').addClass('hide')
  });
