.registration_box.register_and_receive
  button type="button" class="close" &times;
  p.first_sentence #{t('home.registration_box')}

  = form_tag(public_newsletters_path, method: :post, class: "form-box") do |f|
    .hidden
      input.wait_text type="text" value="#{t(:wait)}..."
    input.string.form-control.email-input id="emailnotif" name="email" type="text" placeholder="#{t(:enter_your_email)}"
     = select_tag :country, options_from_collection_for_select(Country.all, "name_#{I18n.locale}", "name_#{I18n.locale}"), class: "string form-control", prompt: t(:enter_your_country)
    input.form-control.js-autocomplete-newsletter.email-input id="js-autocomplete-newsletter_box" name="city" placeholder="#{t(:enter_your_city)}" type="text"
    = submit_tag t('home.registration_button'), class: 'airport_filter_btn register_button'

  /! Begin MailChimp Signup Form
  link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css" /
  css:
    #mc_embed_signup background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  
    /!* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       | We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  #mc_embed_signup.hidden
    form#mc-embedded-subscribe-form.validate action="https://hotelquando.us17.list-manage.com/subscribe/post?u=5ae43fb23da02f1aa9e9ee842&amp;id=04c648c060" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank" data-remote="true"
      #mc_embed_signup_scroll
        .mc-field-group
          label for="mce-EMAIL" 
            | Email
          input#mce-EMAIL.required.email name="EMAIL" type="email" value="" /
        .mc-field-group
          label for="mce-MMERGE8"  Cidade
          input#mce-MMERGE8 name="MMERGE8" type="text" value="" /
        .mc-field-group
          label for="mce-MMERGE1"  Idioma
          input#mce-MMERGE1 name="MMERGE1" type="text" value="#{locale.to_s}" /
        #mce-responses.clear
          #mce-error-response.response style="display:none" 
          #mce-success-response.response style="display:none" 
        /! real people should not fill this in and expect good things - do not remove this or risk form bot signups
        div aria-hidden="true" style=("position: absolute; left: -5000px;") 
          input name="b_5ae43fb23da02f1aa9e9ee842_04c648c060" tabindex="-1" type="text" value="" /
        .clear
          input#mc-embedded-subscribe.button name="subscribe" type="submit" value="Subscribe" /
  script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
  /! End mc_embed_signup

javascript:
  $('.register_and_receive .close').on('click', function(){
    $('.register_and_receive').addClass('hide')
  });

  (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';}(jQuery));var $mcj = jQuery.noConflict(true);

  $('.form-box').on('submit', function(e) {
    var email = $('input[id="emailnotif"]');
    var city = $('input[id="js-autocomplete-newsletter_box"]');
    $('input[name="EMAIL"]').val(email.val());
    $('input[name="MMERGE8"]').val(city.val());
    $('form#mc-embedded-subscribe-form').submit()
  });