.soccer_promotion
  p.first_sentence A HotelQuando.com será a patrocinadora oficial do jogo Brasil x Austrália. <br/> Para comemorar isso vamos dar 10% de desconto para cada gol e 15% de desconto para gols do Gabriel Jesus!
  button type="button" class="close" &times;
  - if mobile_device?
    = image_tag('soccer_promotion_mobile.png')
  - else
    = image_tag('soccer_promotion.png')
  = link_to 'Participar', 'http://materiais.hotelquando.com/hq-selecao-brasileira', class: 'btn btn-primary', target: :blank

javascript:
  $('.soccer_promotion .close').on('click', function(){
    $('.soccer_promotion').addClass('hide')
  });
