= link_to(public_twelve_hours_discount_path, class: "registration_box twelve_hours_discount_box") do
  button type="button" class="close" &times;
  span.twelve_free #{t('home.twelve_free_hours')}
  br
  span.click_here #{t('click_here')}

javascript:
  $('.twelve_hours_discount_box .close').on('click', function(e){
    e.preventDefault();
    $('.twelve_hours_discount_box').addClass('hide')});
