- cities_hash = {}
- cities_array = []
- City.includes(:state, :hotels).all.each do |city|
  - cities_hash[city.id] = city.hotels
  - cities_array << ["#{city.name} - #{city.state.initials}", city.id]

javascript:
  yojs.set("hq.admin.booking_packs.hashCityHotels", #{cities_hash.to_json.html_safe})

= f.association :city, collection: cities_array.sort, prompt: false, input_html: { class: 'js-booking-pack-city' }
