- chosen_class = 'js-hotel-chosen-select js-hotel'
- params[:booking_pack] ||= {}
- unless params[:booking_pack].nil?
  - hotel_blank = params[:booking_pack][:hotel_id] == '' || params[:booking_pack][:hotel_id].nil?

- if (params[:action] == 'edit')

  = f.association :hotel, collection: booking_pack.hotel.city.hotels.order(:name), prompt: false, input_html: { class: chosen_class }

  - hotel_blank = false

- else

  - if !hotel_blank
    = f.association :hotel, collection: booking_pack.find(params[:booking_pack][:hotel_id]).city.hotels.order(:name), prompt: false, input_html: { class: chosen_class }

  - else
    - if flash[:hotel_blank_error] && params[:action] != 'new'
      = f.association :hotel, as: :select, prompt: false, hint: t(:hotel_blank), wrapper_html: { class: 'has-error'}, input_html: { class: chosen_class }
    - else
      = f.association :hotel, as: :select, prompt: false, input_html: { class: chosen_class }

- if !hotel_blank
  javascript:
    yojs.set('hq.admin.booking_pack.hotelSet', true)
