- chosen_class = 'js-room-type-chosen-select js-room_type'
- params[:booking_pack] ||= {}
- hotels_hash = {}
- Hotel.includes(:room_types, :city).all.each do |hotel|
  - hotels_hash[hotel.id] = hotel.room_types

javascript:
  yojs.set("hq.admin.booking_packs.hashHotelRoomTypes", #{hotels_hash.to_json.html_safe})

- unless params[:booking_pack].nil?
  - room_type_blank = params[:booking_pack][:room_type_id] == '' || params[:booking_pack][:room_type_id].nil?

- if (params[:action] == 'edit')

  = f.association :room_type, collection: booking_pack.room_type.hotel.room_types.order(:name_pt_br),:label_method => :name_pt_br, prompt: false, input_html: { class: chosen_class }

  - room_type_blank = false

- else

  - if !room_type_blank
    = f.association :room_type, collection: booking_pack.find(params[:booking_pack][:room_type_id]).hotel.room_types.order(:name_pt_br), prompt: false, input_html: { class: chosen_class }

  - else
    - if flash[:room_type_blank_error] && params[:action] != 'new'
      = f.association :room_type, as: :select, prompt: false, hint: t(:room_type_blank), wrapper_html: { class: 'has-error'}, input_html: { class: chosen_class }
    - else
      = f.association :room_type, as: :select, prompt: false, input_html: { class: chosen_class }


- if !room_type_blank
  javascript:
    yojs.set('hq.admin.booking_pack.roomTypeSet', true)
