thead
  tr
    th.center.size-40-percent
    th.center.size-15-percent
      | 3h
    th.center.size-15-percent
      | 6h
    th.center.size-15-percent
      | 9h
    th.center.size-15-percent
      | 12h
