- hotel = search_row[:hotel]
- minimum_offer_price_for_hotel = search_row[:min_price]
- business_room = search_row[:business_room]
- offer_id = search_row[:offer_id]


.box.js-hotel-row.js-individual-hotel.individual-hotel
  .row.desktop-individual-hotel-row.hidden-xs.hidden-sm
    .hotel-photo-col.col-md-4
      .row
        .col-md-12
          - unless Rails.env.test?
            - business_room_photo_url = business_room.try(:first_photo_url)
            - if business_room_photo_url
              = link_to(public_affiliate_hotel_path(id: hotel, name: business_room.hotel.name.parameterize, length_of_pack: params[:by_pack_length], checkin_date: params[:by_checkin_date], checkin_hour: params[:by_checkin_hour], number_of_people: params[:by_number_of_people], business_room: business_room.id, offer_id: offer_id), class: 'cpy-hotel-details-link') do
                = image_tag business_room_photo_url, class: 'hotel-photo', alt: ''

    .hotel-info-col.col-md-8
      .row
        .col-md-12
          .row
            .col-md-7
              .business-room-name
                = link_to(public_affiliate_hotel_path(id: hotel, name: business_room.hotel.name.parameterize, length_of_pack: params[:by_pack_length], checkin_date: params[:by_checkin_date], checkin_hour: params[:by_checkin_hour], number_of_people: params[:by_number_of_people], business_room: business_room.id, offer_id: offer_id)) do

                  p.complement-business-room-name
                    | #{t(:name_of_meeting_room)}:
                    /- if business_room.is_a_meeting_room?
                      | #{t(:name_of_meeting_room)}:
                    /- else
                      | #{t(:name_of_event_room)}:

                  span #{business_room.send("name_#{I18n.locale}")}
                  span.complement-hotel-name
                    |  em #{business_room.hotel.name}
              .hotel-rating
                = render_stars_from_hotel(business_room.hotel)
            .col-md-5
              .hotel-from-price.pull-right.text-right
                = t(:from).downcase
                br
                span R$
                span.bigger = number_to_currency(minimum_offer_price_for_hotel, unit: "")
          .row
            .col-md-12
              .hotel-address
                span.map-marker
                  i.glyphicon.glyphicon-map-marker
                span.address
                  = "#{business_room.hotel.address}: "
                span.see-map
                  = link_to public_affiliate_hotel_map_show_path(id: hotel, hotel: {latitude: business_room.hotel.latitude, longitude: business_room.hotel.longitude, name: business_room.hotel.name}), "data-toggle" => "modal", "data-target" => ".js-room-type-modal", remote: true do
                    i.glyphicon.glyphicon-globe>
                    = t(:see_map)
          /.row
            .col-md-12
              .hotel-description
                = business_room.hotel.send("description_#{I18n.locale}").truncate(200)
          /.row
            .col-md-12
              .hotel-payment-methods
                - payment_methods =  "#{t :payment_methods_accepted_by_the_hotel}: #{business_room.hotel.send("payment_method_#{I18n.locale}").downcase.capitalize}"
                - payment_methods += '.' unless payment_methods[-1] == '.'

                => payment_methods
                - if business_room.hotel.accept_online_payment?
                  b
                    = t(:this_hotel_accepts_online_payment) + '.'
  - if can_current_public_affiliate_user_afford?(price_without_tax: minimum_offer_price_for_hotel, pack_in_hours: params[:by_pack_length], room_category: room_category)
    .row.hidden-xs.hidden-sm
      .col-md-10
        - if @any_available_voucher
          p style="display: inline; font-size: 16px" Confirme sua reserva e <strong>ganhe R$10</strong> para usar com:
          = image_tag 'easy-taxi-logo.png', style: 'display: inline; width: 130px'
      .col-md-2
        .pull-right.hotel-details
          = link_to(public_affiliate_hotel_path(id: hotel, name: business_room.hotel.name.parameterize, length_of_pack: params[:by_pack_length], checkin_date: params[:by_checkin_date], checkin_hour: params[:by_checkin_hour], number_of_people: params[:by_number_of_people], business_room: business_room.id, offer_id: offer_id), class: 'btn btn-success cpy-hotel-details-link') do
            = t(:reserve)
  - else
    .row.hidden-xs.hidden-sm
      .col-md-10
      .col-md-2
        .pull-right.hotel-details
          .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:booking_not_allowed_button_title)}"
            = button_tag t(:booking_not_allowed), class: 'btn btn-danger'


  .row.mobile-individual-hotel-row.hidden-md.hidden-lg onclick="location.href='#{public_affiliate_hotel_path(id: hotel, name: business_room.hotel.name.parameterize, length_of_pack: params[:by_pack_length], checkin_date: params[:by_checkin_date], checkin_hour: params[:by_checkin_hour], number_of_people: params[:by_number_of_people], business_room: business_room.id, offer_id: offer_id)}';"
    .hotel-photo-col.col-xs-4
      .row
        .col-xs-12
          - unless Rails.env.test?
            - business_room_photo_url = business_room.try(:first_photo_url)
            - if business_room_photo_url
              = image_tag business_room_photo_url, class: 'hotel-photo', alt: ''
    .hotel-info-col-mobile.col-xs-8
      .row
        .col-xs-12.hotel-name
          = truncate("#{business_room.send("name_#{I18n.locale}")} em #{business_room.hotel.name}", length: 30)
      .row.hotel-details
        .col-xs-6.hotel-address
          span.map-marker
            i.glyphicon.glyphicon-map-marker
          span.address
            = "#{truncate(business_room.hotel.address, length: 50)}"
          br
        .col-xs-5.hotel-rating-price
          .row.hotel-rating.text-right
            = render_stars_from_hotel_mobile(business_room.hotel)
          .row.hotel-from-price.text-right
            = t(:from).downcase
            br
            span R$
            span.bigger = number_to_currency(minimum_offer_price_for_hotel, unit: "")
        .col-xs-1.continue-icon
          i.fa.fa-angle-right

  - if @any_available_voucher && mobile_device?
    p style="display: inline; font-size: 10px"
      | Confirme sua reserva e
      strong  ganhe R$10
      |  para usar com:
    = image_tag 'easy-taxi-logo.png', style: 'display: inline; width: 60px'
