#containerFooterFull.containerFooterFull
  .boxFooterCenter
    .footerCenter
      a.linkAbear href="http://www.abear.com.br" target="_blank" 
        span.textAssociada Associada:
        span.abear.imagemFontSize.txtIndent Ir para o site da ABEAR
      p.textGolLeft
        = t(:follow_gol)
        br>/
        = t(:on_social_networks)
      nav.socialNetworks
        ul
          li
            a href="http://twitter.com/voegoloficial" target="_blank" 
              span.twitter.imagemFontSize.txtIndent Ir para o Twitter GOL
          li
            a href="http://www.facebook.com/pages/Gol-Linhas-Aereas-Inteligentes/143262022382580" target="_blank" 
              span.facebook.imagemFontSize.txtIndent Ir para o Facebook GOL
          li
            a href="http://instagram.com/voegoloficial" target="_blank" 
              span.instagram.imagemFontSize.txtIndent Ir para o Instagram GOL
          li
            a href="https://plus.google.com//b/110309663598680066334/#110309663598680066334/posts?prsrc=3" target="_blank" 
              span.googlePlus.imagemFontSize.txtIndent Ir para o Google+ GOL
          li
            a href="http://www.voegol.com.br/Noticias.pt-br.rss.axd" 
              span.rss.imagemFontSize.txtIndent Ir para RSS GOL
          li
            a href="http://blog.voegol.com.br/" target="_blank" title=("Blog Gol") 
              span.blog.imagemFontSize.txtIndent Blog Gol
      p.textGol GOL. Linhas Aéreas Inteligentes.