link href="http://q-ec.bstatic.com/static/css/index_edgecast/84ac1c9f9e92de0a08ac7116827cbd47e5bb8996.css" rel="stylesheet"
/![if IE 9] <link rel="stylesheet" href="http://r-ec.bstatic.com/static/css/ie9lte/883f9ea1c58a3c3f440b17d92b198ae72c8ecb80.css" media="screen"
/![if IE 8] <link rel="stylesheet" href="http://r-ec.bstatic.com/static/css/ie8lte_bundle/ace9e3058b8115c66f8180609beefe6e8a56e45b.css" media="screen"
/![if IE 7] <link rel="stylesheet" href="http://r-ec.bstatic.com/static/css/ie7lte_bundle/09958bce0bc2de13e83a46b3be77dfeba6c298dd.css" media="screen"
link href="http://q-ec.bstatic.com/static/affiliate_base/css/hybridbase/4788e0a53fe25113f757bc4edacd90fa94bc43fc.css" rel="stylesheet"
.partner_header_wrapper.hybrid-header
  #affiliate_top
    #partner_branding3
      /![if lt IE 9]
        | <script
        | document.createElement('header');
        | document.createElement('nav');
        | document.createElement('section');
        | document.createElement('article');
        | document.createElement('aside');
        | document.createElement('footer');
        | document.createElement('hgroup');
        | document.createElement('figure');
        | </script
      .partner-usp
        = t(:book_hotels_by_the_hour)
      .aff_header
        a href="http://www.voegol.com.br/"
          img.aff_logo alt=("Logo Gol") src="http://r-ec.bstatic.com/data/sp_aff/351895/logo_.png" target="_blank" /
        #powered-by-wrapper
          p aria-hidden="true" tabindex="-1"
            = t(:managed_by)
          #powered-logo
            img alt=("GOL - reservas de hotéis online") aria-hidden="true" src=("https://d20g5nugpe944y.cloudfront.net/assets/logo-green-blue-66808793226c0fb2874aea821ed09856.png") tabindex="-1" /
        ul.topnav
          li
            = link_to image_tag('pt-br-locale.jpg'), params.merge(locale: "pt_br", lang: "pt-br")
          li
            = link_to image_tag('en-locale.jpg'), params.merge(locale: "en")
          li
            .menu-wrapper.js-menu-currency-current.pull-right
              span.current = Currency.by_money_sign(cookies[:currency]).first.money_sign
              .user-dropdown-menu.current-currency-dropdown-menu.js-currency-current-dropdown-menu
                .arrow-up
                div.col-sm-12.current-currencies
                  - Currency.group_by_name.each do |name, currency|
                    div.col-sm-4.current-currency class=(its_currency_current?(currency[0]) ? 'activate' : '')
                      = link_to params.merge(currency: currency[0].money_sign), class: 'text-center' do
                        span.symbol
                          = currency[0].money_sign
          li
            a href="http://www.voegol.com.br/pt-br/a-gol/quem-somos/paginas/default.aspx" target="_blank"
              = t(:the_gol)
          li
            a href="http://www.voegol.com.br/pt-br/agencias/paginas/home.aspx" target="_blank"
              = t(:agencies)
          - if I18n.locale == :pt_br
            li
              a href="http://www.voegol.com.br/pt-br/empresas/paginas/home.aspx" target="_blank"  Empresas
          li
            a href="http://www.voegol.com.br/pt-br/imprensa/press-releases/Paginas/default.aspx" target="_blank"
              = t(:press)
          li.last
            a href="http://www.voegol.com.br/pt-br/investidores/paginas/default.aspx" target="_blank"
              = t(:investors)
        ul.loginnav
          li
            a#smilesLink href="http://www.voegol.com.br/pt-br/smiles-institucional/Paginas/programa_smiles.aspx" target="_blank"
              img alt=("Logo Smiles") src="http://q-ec.bstatic.com/data/sp_aff/351895/smiles.png" width="51" /
          li
            a href="http://www.voegol.com.br/gollog/Paginas/default.aspx" target="_blank"
              img alt=("Logo Gol Log") src="http://r-ec.bstatic.com/data/sp_aff/351895/golLog.png" width="55" /
        ul.mainnav
          li
            a href="https://compre2.voegol.com.br/Search.aspx" target="_blank"
              = t(:tickets)
          - if I18n.locale == :pt_br
            li
              a href="http://hoteis.voegol.com.br/index.pt-br.html?label=gol-home-navt&amp;selected_currency=BRL" target="_blank"  Hotéis
          li.hq
            a href="#{public_affiliate_root_path}" target="_blank"
              = t(:hotels_by_the_hour)
          - if I18n.locale == :pt_br
            li
              a href="http://www.voegol.com.br/pt-br/a-gol/Paginas/Carros.aspx" target="_blank"  Carro
          li
            a href="http://www.voegol.com.br/pt-br/destinos/paginas/default.aspx" target="_blank"
              = t(:destinations)
          - if I18n.locale == :pt_br
            li
              a href="http://www.voegol.com.br/pt-br/promocoes/paginas/default.aspx#gol" target="_blank"  Promoções
          li
            a href="https://compre2.voegol.com.br/RetrieveBooking.aspx" target="_blank"
              = t(:my_reservations)
          li
            a href="http://www.voegol.com.br/pt-br/servicos/paginas/default.aspx" target="_blank"
              = t(:services)
          li
            a href="http://www.voegol.com.br/pt-br/viaje-sem-duvidas/viaje/Paginas/default.aspx" target="_blank"
              = t(:travel_worry_free)
          li
            a href="https://secure.booking.com/myreservations.pt-br.html?aid=349598;tmpl=profile%2Fmyreservation" target="_blank"
              = t(:my_bookings_hotel)
    .clear
