ruby:
  # we must keep in here because there are some controllers in the public area that doen'st inherit from public::base
  ng_init_for_search_form = if last_search_log
    # 0 - day
    # 1 - month
    # 2 - year
    date_parts = last_search_log.checkin_date.split("/")
    english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
    length_of_pack = last_search_log.room_category == 1 ? 12 : last_search_log.length_of_pack
    checkin_hour = (last_search_log.room_category == 1 && last_search_log.checkin_hour < 18) ? 18 : last_search_log.checkin_hour
    checkout_hour = checkin_hour + length_of_pack
    if checkout_hour >= 24
      checkout_hour -= 24
    end
      
    %Q{
      latitude = '#{last_search_log.latitude}';
      longitude = '#{last_search_log.longitude}';
      checkinDate = '#{I18n.locale == :en ? english_date_format : last_search_log.checkin_date}';
      parsedSelectedCheckinDate = '#{last_search_log.checkin_date}';
      checkinHour = #{checkin_hour};
      numberOfPeople = #{last_search_log.number_of_people};
      selectedPackSize = '#{last_search_log.length_of_pack}';
      cityName = '#{last_search_log.city_name}';
      stateName = '#{last_search_log.state_name}';
      address = '#{last_search_log.address}';
      selectedTabRoom = '#{last_search_log.room_category || 1}';
      checkoutHour = #{checkout_hour};
      setLatitudeAndLongitudeValidity();
    }.squish
  else
    ""
  end
  

.search-hotels-wrapper

  .row.describe-home.text-center.no-margin
    .col-md-12.hidden-xs
      span
        = t(:book_hotels_by_packs)
  .row.no-margin
    .col-md-12.no-padding
      .search-box.js-headline-search
        = form_tag public_affiliate_hotels_path, method: :get, class: '', "ng-controller" => "PublicAffiliateSearchCtrl", "ng-init" => "#{ng_init_for_search_form}" do

          .hidden
            input.cpy-city-name type='text' ng-model="cityName" name='city_name'
            input.cpy-state-name type='text' ng-model="stateName" name='state_name'
            input.cpy-latitude-field type="text" name="by_latitude" ng-model='latitude'
            input.cpy-longitude-field type="text" name="by_longitude" ng-model='longitude'
            input.cpy-pack-length type="text" name="by_pack_length" ng-model="selectedPackSize"
            input.cpy-room-category type="text" name="room_category" ng-model="selectedTabRoom"
            input.cpy-address type="text" name="by_address" ng-model="address"
            input.cpy-number-of-people type="text" name="by_number_of_people" ng-model="numberOfPeople"
            
          - if mobile_device?
            .col-xs-12.search-form-header.hidden-sm.hidden-md.hidden-lg
              h1.book-hotels
                = t(:book_hotels)
          .tabbable
            .tab-content-custom
              = render partial: "/layouts/public_affiliate/personalized_affiliate/#{layout_name}/search_form_content"

.services-wrapper
  .container
    .row
      .col-md-12
        h1.title = t :how_it_works
    .row.text-center
      .col-md-4
        .service-box
          h2 = t :you_decide_when_check_into_the_hotel
          .image = image_tag('calendar-and-clock-blue.png')
          p.description = t :you_decide_when_check_into_the_hotel_description
      .col-md-4
        .service-box
          h2 = t :you_decide_how_many_hours_you_need
          .image = image_tag('clock-blue.png')
          p.description = t :you_decide_how_many_hours_you_need_description
      .col-md-4
        .service-box
          h2 = t :pay_a_fair_price
          .image = image_tag('preco-justo-blue.png')
          p.description = t :pay_a_fair_price_description
.divider
.services-wrapper.when-booking
  .container
    .row
      .col-xs-12
        h1.title = t :when_booking
        br
    .row
      .col-sm-6
        .col-sm-12.text-center
          .glyphicon.glyphicon-plane.big-icon
        br
        br
        .col-sm-12
          b = t :traveling
          ul
            li = t :to_wait_for_a_flight_or_commitment
            li = t :to_spend_only_1_night
            li = t :to_come_earlier_or_leave_later
            li = t :to_take_a_shower
      .col-sm-6
        .col-sm-12.text-center
          .glyphicon.glyphicon-home.big-icon
        .col-sm-12
          b = t :in_your_own_city
          ul
            li = t :to_spend_the_night_away_from_home
            li = t :to_dinner_and_sleep_way_from_home
            li = t :to_take_a_shower_when_you_are_away_from_home
            li = t :to_enjoy_the_spa_pool_gym

.divider
.services-wrapper
  .container
    .row
      .col-xs-12
        h1.title
          = t(:register_your_hotel)
    .row
      .col-xs-12
        = form_tag public_affiliate_post_be_our_partner_path, method: :post, class: 'form form-horizontal box', 'ng-controller' => 'PublicAffiliateBeOurPartnerController' do

          div ng-class="setErrorClassForField('HotelName','input')"
            .row
              .col-xs-12
                label
                  = t(:hotel_name)
            .row
              .col-xs-12
                input.form-control.size-100-percent name="hotel_name" ng-model='hotelname' value="#{params[:hotel_name] || ''}"

          .row
            .col-sm-6
              div ng-class="setErrorClassForField('ContactName','input')"
                .row
                  .col-xs-12
                    label
                      = t(:contact_name)
                .row
                  .col-xs-12
                    input.form-control.size-100-percent ng-model='contactname' name="contact_name" value="#{params[:contact_name] || ''}"

            .col-sm-6
              div ng-class="setErrorClassForField('ContactRole','input')"
                .row
                  .col-xs-12
                    label
                      = t(:contact_role)
                .row
                  .col-xs-12
                    input.form-control.size-100-percent ng-model='contactrole' name="contact_role" value="#{params[:contact_role] || ''}"

          .row
            .col-sm-6
              div ng-class="setErrorClassForField('Email','input')"
                .row
                  .col-xs-12
                    label
                      | E-mail
                .row
                  .col-xs-12
                    input.form-control.size-100-percent.js-email-with-suggestion ng-model='email' name="email_for_contact" value="#{params[:email_for_contact] || ''}"

            .col-sm-6
              div ng-class="setErrorClassForField('Phone','input')"
                .row
                  .col-xs-12
                    label
                      = t(:phone)
                .row
                  .col-xs-12
                    input.form-control.size-100-percent.js-mask-fixed-phone ng-model='phone' name="phone" value="#{params[:phone] || ''}"

          div ng-class="setErrorClassForField('Message','textarea')"
            .row
              .col-xs-12
                label
                  = t(:message)
            .row
              .col-xs-12
                textarea.form-control.size-100-percent name='message' rows='4' ng-model='message'
                  = params[:message] || ''
          .row
            .col-sm-12
              .form-actions.pull-right
                .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="left" data-html='true' data-original-title="{{messageForDisabledSubmit()}}"

                  button.btn.green.cpy-submit-button.pt-br ng-disabled='!isFormValid()' ng-class='submitButtonExtraClass()'
                    = t(:send)
                .clearfix
        .clearfix

    javascript:
      yojs.set('hotelName', "#{params[:hotel_name]}")
      yojs.set('phone', "#{params[:phone]}")
      yojs.set('emailForContact', "#{params[:email_for_contact]}")
      yojs.set('message', "#{j params[:message]}")
      yojs.set('contactName', "#{params[:contact_name]}")
      yojs.set('contactRole', "#{params[:contact_role]}")


