.row
  .col-sm-8.col-sm-offset-2
    h2.text-center.form-header
      = t(:change_password)
    .row
      .col-sm-8.col-sm-offset-2
        = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|

          - if flash[:alert]
            p.alert.alert-danger
              = flash[:alert]

          - if devise_error_messages!.present?
            .alert.alert-danger.errors_container
              b
                =t(:please_review_the_problems_below)
              br
              = devise_error_messages!

          = f.input :reset_password_token, :as => :hidden
          = f.input :password, :label => t(:new_password), :required => true, :autofocus => true, wrapper: :full_spaces
          = f.input :password_confirmation, :label => t(:repeat_the_new_password), :required => true, wrapper: :full_spaces

          .form-actions
            = f.button :submit,  t(:change_password), class: 'btn green pull-right cpy-submit-button'
            .clearfix
.row
  .col-sm-6.col-sm-offset-3
    .shared-links
      = render partial: "public_affiliate/shared/links"

