- render_new_credit_card_form = !current_public_affiliate_user.is_a_company_employee?
- if (PublicAffiliate::Bookings::PaymentsController::SENDING_CREDIT_CARD_TO_MANUAL_PAYMENT == false) && (current_public_affiliate_user.credit_cards.first || current_public_affiliate_user.is_a_company_employee?)
  - render_existing_credit_card_select = true
  - if params[:use_existing_credit_card].nil? || params[:use_existing_credit_card] == 'true'
    - credit_card_form_visible = false
  - else
    - credit_card_form_visible = true
- else
  - render_existing_credit_card_select = false
  - credit_card_form_visible = true
- if (@credit_card.billing_state != 'ZZ')
  - state_select_visible = true
- else
  - state_select_visible = false

.js-credit-card.col-sm-12 ng-controller='PublicAffiliateNewPaymentCtrl' ng-init="creditCardFormVisible = #{credit_card_form_visible}; stateVisible = #{state_select_visible}"
  = simple_form_for(@credit_card, url:  public_affiliate_booking_payments_path(booking_id: params[:booking_id]), method: :post, wrapper: :basic) do |f|

    .col-sm-12
      .row.info-header ng-init="showValueInfo = false; participantCpf = false; multiplusParticipant = false"
        .info-price.col-xs-12.col-md-2.text-right.hidden-md.hidden-lg
          - if @booking.hotel.is_brazilian
            .row
              .booking-total-value.row
                .text.col-md-12.col-xs-6.text-right
                  = t(:total_price_of_accommodation)
                .value.col-md-12.col-xs-4
                  span.money-unit
                    => "#{Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]}"
                  = number_to_currency(@booking.total_price_without_tax, unit: '')
            hr
            .row
              .booking-total-value.row
                .text.col-md-12.col-xs-6.text-right
                  = t(:booking_tax)
                .value.col-md-12.col-xs-4
                  span.money-unit
                    => "#{Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]}"
                  = number_to_currency(@booking.booking_tax, unit: '')   
            hr
          .row
            .booking-total-value.row
              .text.col-md-12.col-xs-6.text-right
                = t(:total_price)
              .value.col-md-12.col-xs-4
                span.money-unit
                  => "#{Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]}"
                = number_to_currency(@booking.total_price, unit: '')

      .hidden-xs.hidden-sm
        .booking-step-title
          - if (Public::Bookings::PaymentsController::SENDING_CREDIT_CARD_TO_MANUAL_PAYMENT == false)
            = render partial: '/public_affiliate/bookings/payments/_new/radio_buttons_form'

        .row.info-title
          .pull-left = image_tag 'booking-credit-card.jpg'
          h4.pull-left
            = t(:billing_data).mb_chars.upcase

        .row style="margin: 25px -10px 0"
          - if @booking.hotel.is_brazilian
            .col-xs-4.text-center
              span.booking-total-value
                span.attribute-title.text-center = t(:total_price_of_accommodation)
                br/
                span.value
                  span.money-unit
                    => "#{Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]}"
                  = number_to_currency(@booking.total_price_without_tax, unit: '')
            .col-xs-4.text-center
              span.booking-total-value
                span.attribute-title.text-center = t(:booking_tax)
                br/
                span.value
                  span.money-unit
                    => "#{Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]}"
                  = number_to_currency(@booking.booking_tax, unit: '')          
          .col-xs-4.text-center
            span.booking-total-value
              span.attribute-title.text-center = t(:total_price)
              br/
              span.value
                span.money-unit
                  => "#{Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]}"
                = number_to_currency(@booking.total_price, unit: '')
        
      .row
        - if !current_public_affiliate_user.is_a_company_employee?
          - if render_existing_credit_card_select
            .existing-credit-card-select ng-show='!creditCardFormVisible'
              = render partial: '/public_affiliate/bookings/payments/_new/existing_credit_card_select'
              = hidden_field_tag 'use_existing_credit_card', params[:use_existing_credit_card] || true, { class: 'js-use-existing-credit-card' }

          - if render_new_credit_card_form
            .credit-card-form ng-show='creditCardFormVisible'
              = render partial: '/public_affiliate/bookings/payments/_new/credit_card_form', locals: { f: f }

          - if !current_public_affiliate_user.is_a_company_employee? || can_current_public_affiliate_user_afford?(offer: @booking.offer, number_of_people: @booking.number_of_people)
            .form-actions
              .col-sm-12
                .checkbox
                  label
                    = check_box_tag "read_and_accept", nil, false, "ng-model" => "checkedTermsofuse"
                    span.lbl
                      =< t(:i_have_read_and_accepted)
                      
                .js-tooltip-toggler.tooltip-toggler.pull-right data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:check_terms_of_use_title)}"

                  = f.submit t(:finish_reservation).upcase, class: "submit-disabled cpy-disabled-submit-button btn-success submit-button pill big pull-right btn", "disabled" => "disabled", "ng-hide" => "checkedTermsofuse"

                = f.submit t(:finish_reservation).upcase, class: "cpy-submit-button ng-hide btn-success submit-button pill big pull-right btn", "ng-disabled" => "!checkedTermsofuse", "ng-show" => "checkedTermsofuse"
