nav.main-menu-mobile.js-float-menu.navbar.navbar-default.hidden-sm.hidden-md.hidden-lg
  .container-fluid
    .navbar-header
      = link_to image_tag('hotel_haus_logo.png'), public_affiliate_root_path, id: "logo"
.hidden-xs
  .container
    .row
      .col-md-12
        .col-md-6.pull-left
          = link_to image_tag('hotel_haus_logo.png'), public_affiliate_root_path, id: "logo"

  .header
