.row
  .col-sm-12.border-box.with-padding-bottom
    .row
      .col-sm-12
        p.pack-size
          => t(:pack_of)
          span.big => params[:length_of_pack]
          = t(:hours)
        h4.text-center
          = "#{l(params[:checkin_date].to_date)} #{t(:at)} #{params[:checkin_hour]}:00"
        p.beware.text-center
          | #{ t :beware}:
          - if @hotel.accepts_booking_cancellation?
            - date_parsed = params[:checkin_date].to_date + params[:checkin_hour].to_i.hours - @hotel.minimum_hours_of_notice.hours
            - day_of_notice = l(date_parsed)
            = t(:hotel_minimum_hours_of_notice, day_of_notice: day_of_notice)

          table.table.table-striped.table-hover
            thead
              th.size-5-percent
              th.size-60-percent = t :room_type
              th.size-25-percent = t :price
              th.size-10-percent
            tbody
              - @search_exact_match.each do | search_row |
                tr
                  td style="padding: 8px 4px 8px 12px"
                    - offer = search_row[:min_offer]
                    - room_type = search_row[:room_type]
                    = link_to "", public_affiliate_hotel_room_type_show_path(hotel_id: @hotel.id, hotel_name: @hotel.name.parameterize, id: room_type.id, length_of_pack: params[:length_of_pack], checkin_date: params[:checkin_date], checkin_hour: params[:checkin_hour], number_of_people: params[:number_of_people], offer_price: total_price_for_number_of_people(params[:number_of_people], offer)), class: "glyphicon glyphicon-question-sign big", "data-toggle" => "modal", "data-target" => ".js-room-type-modal", remote: true
                  td.js-room-type-description
                    = room_type.send("full_name_#{I18n.locale}")
                  td.bigger.js-room-type-description
                     = number_to_currency(total_price_for_number_of_people(params[:number_of_people], offer).round, unit: "#{Hotel::CURRENCY_SYMBOL_REVERSED[@hotel.currency_symbol]}", precision: 0)
                  td.js-room-type-description
                    - if can_current_public_affiliate_user_afford?(price_without_tax: offer.price.to_f, pack_in_hours: params[:length_of_pack])
                      = link_to t(:reserve), new_public_affiliate_booking_path(price: offer.price, checkin_timestamp: (params[:checkin_date].to_datetime + params[:checkin_hour].to_i.hours).strftime("%Y-%m-%d %H:%M:%S +0000"), pack_in_hours: params[:length_of_pack], room_type_id: offer.room_type_id, number_of_people: params[:number_of_people]), class: "pill btn-success small cpy-reserve-offer-button hidden-sm hidden-xs"
                      = link_to "<i class='fa fa-angle-right'></i>".html_safe, new_public_affiliate_booking_path(price: offer.price, checkin_timestamp: (params[:checkin_date].to_datetime + params[:checkin_hour].to_i.hours).strftime("%Y-%m-%d %H:%M:%S +0000"), pack_in_hours: params[:length_of_pack], room_type_id: offer.room_type_id, number_of_people: params[:number_of_people]), class: "js-new-booking arrow-right btn-success cpy-reserve-offer-mobile-button hidden-md hidden-lg"

          p.hint
            => t :click_on_the_icon
            span.glyphicon.glyphicon-question-sign
            =<   t :to_see_more_details_about_the_room_type
        - if @similar_offers_found
          .row
            .col-sm-12
              a.btn.btn-success.js-scroll-button.scroll-button href='#similar-offers'
                => t(:see_similar_offers)
                i.glyphicon.glyphicon-arrow-down

    .row.hidden-md.hidden-lg
      .col-sm-12
        #map-canvas-mobile[style="width:100%; height:400px"]
