.public-affiliate-layout.public-affiliate-hotel-controller.index-action
  .search-informations-wrapper
    background-color: #f5f5f5
    padding: 0px 20px

    h3.searched-title
      background: image-url('building-icon.png') center left no-repeat
      font-size: 14px
      font-weight: 800
      letter-spacing: 1px
      margin-bottom: 5px
      padding-left: 30px

    .box
      .searched
        padding: 1px 0px
        h4
          color: #1b4d73
          font-size: 13px
          font-weight: 400
          margin: 0px
        p
          font-size: 13px

    .pill
      &.medium
        &.white
          color: black !important
          width: 100%
          letter-spacing: 1px
          font-size: 15px
          font-weight: 400
          height: 40px
          line-height: 15px
