= content_tag(:div, class: 'page-header') do
  = content_tag(:h1) do
    span.text = t('views.admin.places.listing_cities')
    = link_to t('codus_templates.buttons_titles.defaults.add'), new_admin_place_path(type: 'city'), method: :get, class: 'btn btn-sm btn-success pull-right cpy-add-link', style: 'margin-left: 10px'

- if @cities.length == 0
  .alert.alert-info
    = t(:none) + ' ' + t('hotel.one').downcase + ' ' + t(:registered) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | #{t('views.admin.places.id')}
        th.center
          | #{t('views.admin.places.name')}
        th.center
          | #{t('views.admin.places.place_type')}
        th.center
          | #{t('views.admin.places.country')}
        th.center
          | #{t('views.admin.places.hotel_count')}
        th.center
          | #{t('views.admin.places.active')}
        th.center
          | #{t('views.admin.places.actions')}
    tbody
      - @cities.each do |place|
        tr.center
          td
            = place.id
          td
            = place.send("name_#{I18n.locale}")
          td
            = place.place_type
          td
            = place.country
          td
            = place.hotel_count
          td
            = is_active?(place)
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_place_path(place.id), class: 'btn btn-xs btn-success'

            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_place_path(place.id, type: 'city'), class: 'btn btn-xs btn-info cpy-edit-hotel-link'
