ruby:
  @cities_list = ActiveRecord::Base.connection.execute("SELECT cities.id, cities.name, states.initials, countries.iso_initials FROM cities INNER JOIN states ON states.id = cities.state_id INNER JOIN countries ON countries.id = states.country_id  ORDER BY cities.id ").collect{|c| "#{c['id']}, #{c['name']}, #{c['initials']}, #{c['iso_initials']}" }
= render partial: 'admin/places/form/form', locals: {place: @place, cities_list: @cities_list}
