= header_section title: t('views.admin.places.viewing_place')
= panel_section(name: t('views.admin.places.place_info')) do

  = render partial: 'admin/places/show/general_information'
  = render partial: 'admin/places/show/address_information'


  - if @place.photos.first
    = shared_component("photo_list_show", {photos: @place.photos})
  - else
    h3.header.smaller.lighter.green
      | #{t('views.admin.places.photos')}
    .alert.alert-info
      | #{t('views.admin.places.place_has_no_photos')}

  .wizard-actions
    = link_to t("views.admin.affiliates.edit").html_safe, edit_admin_place_path(@place.id), class: 'btn btn-info'

    - if @place.active
      = link_to t("views.admin.affiliates.deactivate").html_safe, deactivate_admin_places_path(id: @place.id), class: 'btn btn-danger cpy-deactivate-affiliate-button', method: :post
    - else
      = link_to t("views.admin.affiliates.activate").html_safe, activate_admin_places_path(id: @place.id), class: 'btn btn-danger cpy-deactivate-affiliate-button', method: :post
