footer
  .row
    .col-xs-12.col-sm-2.col-md-2.col-lg-2
      .content-heading.text-center
        span
          a href="http://www.manaushoteis.tur.br" target="_blank" 
            img alt="" src="https://hweb-upload.s3-sa-east-1.amazonaws.com/5851c19fc19a4c19b417346b/9706d8909552407db001ef1b00e7d651.png" /
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      .content-heading.text-center
        span/
        div style=("text-align: center;") 
          span style=("color: inherit;") 
            span style=("font-weight: bold; font-size:21px")  CENTRAL DE RESERVAS
        div style=("text-align: center;") 
          span style=("color: inherit; font-size:13px") 
            | +55 (92)
            span style=("font-weight: bold; font-size: 23px")  3303-9955
        div style=("text-align: center;") 
          span style=("color: inherit; font-size:16px")  reservas@manaushoteis.tur.br
        div style=("text-align: center;") 
          span style=("color: inherit; font-size:9px")  REDE MANAUS HOTÉIS | MANAUS • AMAZONAS • BRASIL
    .col-xs-12.col-sm-3.col-md-3.col-lg-3.ng-scope ng-controller="SubscribeFormController" 
      input.ng-pristine.ng-untouched.ng-valid ng-init=("Origin = 'NewsLetter'") ng-model="Origin" type="hidden" /
      .widget.newsletter
        h3.subscribe RECEBA NOVIDADES!
        p
        form#email-form.form-inline.ng-pristine.ng-valid novalidate="novalidate" 
          input#FormWidgetId ng-init=("FormWidgetId = '58cfd9b3c19a3f1b840f6461'") type="hidden" value="58cfd9b3c19a3f1b840f6461" /
          span.error.pull-right.m-t-none.ng-hide ng-show="EmailError"  |*Campo Obrigatorio
          span.error.pull-right.m-t-none.ng-hide ng-show="EmailInvalid"  |*Email Inválido
          .input-group
            input#email-input.form-control.ng-pristine.ng-valid.ng-touched.valid ng-model="Email" placeholder="Cadastre-se!" type="text" /
            span.input-group-btn
              button.btn.base-background ng-click="SendSubsricbe()" type="submit"  OK
    .col-xs-12.col-sm-1.col-md-1.col-lg-1
      .widget.social-media
        h3
        ul
          li
            a href="https://www.facebook.com/manaushoteis" target="_blank" 
              i.fa.fa-facebook.facebook
          li
            a href="https://www.instagram.com/manaushoteisoficial/?hl=pt-br" target="_blank" 
              i.i-instagram.instagram
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
      .widget.multilang-dropdown
        .dropdown
          button.dropdown-toggle data-toggle="dropdown" 
            img alt="Português" src="https://s3-sa-east-1.amazonaws.com/hsystem-static/shared/images/icons/language/lang-pt.png" /
            | Português
            i.i-caret
          ul.dropdown-menu
            li
              a.lang data-lang="pt" href="" 
                img alt="Português" src="https://s3-sa-east-1.amazonaws.com/hsystem-static/shared/images/icons/language/lang-pt.png" /
                | Português
            li
              a.lang data-lang="en" href="" 
                img alt="English" src="https://s3-sa-east-1.amazonaws.com/hsystem-static/shared/images/icons/language/lang-en.png" /
                | English
  .row
    hr/
  .row.copyright
    .col-lg-12.col-sm-12.text-center
      small.text Desenvolvido por:
      br/
      small.text
        | 2018 ©
        a.hs-link href="http://hsystem.com.br" target="_blank"  HSystem
        | | Todos os direitos reservados.
