@media (max-width: 768px)
  body
    background-image: none
    height: 100%
    background-color: #1f1f1f

  .navbar-header, .navbar-default
    background-color: #1f1f1f
    border-color: rgb(85, 142, 169)
  .row.describe-home.text-center.no-margin
    display: none !important

  .hidden-mobile
    display: block

  .public-affiliate-layout
    overflow-x: visible

    .content-body
      background-color: #1f1f1f
      padding: 0 0 15px 0
      margin: 0 auto
      min-height: 100%
      width: 100%

      .search-hotels-wrapper
        width: 95%
        margin-top: 10%

        .menu
          display: none !important

  .hidden-xs
    display: none

@media (min-width: 769px) and (max-width: 820px)
  body
    background-image: none !important
    height: 100%
    background-color: #1f1f1f

    .public-affiliate-layout
      overflow-x: visible

      .hidden-mobile
        display: block

      .content-body
        background-color: #1f1f1f
        padding: 0 0 15px 0
        margin: 0 auto
        min-height: 100%
        width: 100%

@media (min-width:821px) and (max-width: 989px)
  body
    background-image: none !important
    height: 100%
    background-color: #1f1f1f

    .public-affiliate-layout
      overflow-x: visible

      .hidden-mobile
        display: block

      .content-body
        background-color: #1f1f1f
        padding: 0 0 15px 0
        margin: 0 auto
        min-height: 100%
        width: 100%

@media (min-width: 990px)
  .content-body
    background-color: #1f1f1f
    padding: 0 0 15px 0
    margin: 0 auto
    min-height: 100%
    width: 982px

    .container
      width: 982px

    .search-hotels-wrapper
      transition: background 0.6s linear
      background-position: 50% 30%
      background-size: 100%
      background-color: #3F3F3F
      // width: 942px !important
      height: 100%
      margin-left: 19px
      margin-bottom: 25px

      #menu
        width: 1011px

      .menu
        margin-top: 10px
        height: 86px
        margin-bottom: 15px

        ul
          margin-left: 4px
          list-style: none
          text-align: center
          display: inline
          li
            display: inline-block
            margin: 10px 0 0 0
            a
              letter-spacing: 2px
              line-height: 21px
              font-size: 21px
              color: white
              padding: 0 11px 0 10px
              transition: all 300ms ease

              &:hover
                color: #558ea9

      .row
        position: relative

      .describe-home
        padding: 200px 0 100px 0

        span
          font-size: 25px
          color: white
          border: 1px solid
          padding: 5px
          font-family: "Quicksand"
          font-weight: 500

.have-promo-code-input
  span
    font-weight: 700
    color: #555555

.promotional_code_button
  font-size: 14px !important
  border-radius: 30px !important
  height: 39px !important
  letter-spacing: 0px !important
  text-transform: uppercase !important
  font-weight: 300 !important
  padding: 0px 20px 0px 20px !important
  margin-bottom: 10px !important
