@font-face {
    font-family: 'aovel_coolregular';
    src: url('aovel_cool_regular-webfont.woff2') format('woff2'),
         url('aovel_cool_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
