body
  font: 13px/21px "aovel_coolregular"
  background-image: image_url('bg_haus_texture.jpg')
  background-repeat: repeat

#new_payment
  input.form-control, select.form-control
    height: 34px
  div.month
    padding-left: 0px
  .payment_with
    margin-right: 30px
  div.intl-tel-input
    width: 100%

.have-promo-code-input
  span
    font-weight: 700
    color: #555555

.promotional_code_button
  font-size: 14px !important
  border-radius: 30px !important
  height: 39px !important
  letter-spacing: 0px !important
  text-transform: uppercase !important
  font-weight: 300 !important
  padding: 0px 20px 0px 20px !important
  margin-bottom: 10px !important
