@media (max-width: 768px)
  .hotel_overlay
    background-color: rgba(0, 0, 0, 0.7)
    position: absolute
    height: 175px
    width: 215px
    top: 50%
    left: 49%
    transform: translate(-50%, -50%)
    z-index: 10


@media (max-width: 930px)
  .hotel_overlay
    background-color: rgba(0, 0, 0, 0.7)
    position: absolute
    height: 175px
    width: 215px
    top: 50%
    left: 49%
    transform: translate(-50%, -50%)
    z-index: 10

@media (max-width: 991px) and (min-width: 931px)
  .hotel_overlay
    background-color: rgba(0, 0, 0, 0.7)
    position: absolute
    height: 175px
    width: 215px
    top: 50%
    left: 49%
    transform: translate(-50%, -50%)
    z-index: 10
