- if layout_name.present?
  - if @affiliate.hotel_chain.present?
    - if mobile_device?
      = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/mobile_search_form", affiliate_hotels: @affiliate_hotels
    - else
      = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/search_form", affiliate_hotels: @affiliate_hotels
  - else
    - if mobile_device?
      = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/mobile_search_form"
    - else
      = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/search_form"
- else
  .search-hotels-wrapper
    .col-md-12.background-color-gray
      .row
        .search-box.js-headline-search
          .col-md-12
            h4.title-search-box
              | Por que pagar por uma 
              b DIÁRIA
              | , se você precisa de apenas algumas 
              b> HORAS
              | no hotel?
          = render partial: "layouts/public_affiliate/components/search_form"