- if layout_name.present?
  - if @affiliate.hotel_chain.present?
    .hidden-mobile
      = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/meeting_room/search_form", affiliate_hotels: @affiliate_hotels
    .hidden-desktop
      = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/meeting_room/mobile_search_form", affiliate_hotels: @affiliate_hotels
  - else
    .hidden-mobile
      = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/meeting_room/search_form"
    .hidden-desktop
      = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/meeting_room/mobile_search_form"
- else
  .search-hotels-wrapper
    .col-md-12.background-color-gray
      .row
        .search-box.js-headline-search
          .col-md-12
            h4.title-search-box
              | Por que pagar por uma
              b DIÁRIA
              | , se você precisa de apenas algumas
              b> HORAS
              | no hotel?
          = render partial: "layouts/public_affiliate/components/search_form"
