.brahma ng-init='regulation = false'

  .banner.hidden-xs.hidden-sm = image_tag 'background_brahma.png'

  .container.with-padding-top
    .brahma-description.hidden-md.hidden-lg
      p One year has 365 days and each one of them can be a fresh start. That´s why, Brahma and HotelQuando, will give you a 10% off to start something new now.
      p Use BRAHMA´s code when booking.
    .regulation
      br
      h1.regulation-subtitle Know the HotelQuando.com!
      p.description HotelQuando.com is the first and only global platform for online hotel reservations that allows the user to book a room for 3, 6, 9 or 12 hours at a fair price. You also decide at what time you would like to enter the hotel.
      br
      br
      br
      h1.page-title How it works?
      .divider

      .row.text-center
        .col-md-4
          .service-box
            h2 = t :you_decide_when_check_into_the_hotel
            .image = image_tag('calendar-and-clock-blue.png')
            p = t :you_decide_when_check_into_the_hotel_description
        .col-md-4
          .service-box
            h2 = t :you_decide_how_many_hours_you_need
            .image = image_tag('clock-blue.png', class: 'clock-image')
            p = t :you_decide_how_many_hours_you_need_description
        .col-md-4
          .service-box style="border-bottom: none"
            h2 = t :pay_a_fair_price
            .image = image_tag('preco-justo-blue.png', class: 'price-image')
            p = t :pay_a_fair_price_description

      h1.page-title When booking?
      .divider

      .row
        .col-sm-6
          .col-sm-12.text-center
            .glyphicon.glyphicon-plane.big-icon
          br
          br
          .col-sm-12
            b
              |Traveling
            ul
              li
                |To wait for a flight or appointment

              li
                |To spend only 1 night

              li
                |To come earlier or leave later

              li
                |To take a shower


        .col-sm-6
          .col-sm-12.text-center
            .glyphicon.glyphicon-home.big-icon
          .col-sm-12
            b
              |In your own city
            ul
              li
                |To spend the night away from home

              li
                |To dinner and sleep way from home

              li
                |To take a shower when you're away from home

              li
                |To enjoy the Spa, pool, gym

      .row
        .col-sm-12.text-center
          .box-foot
            span.colored
              span.gray> Hours of
              span.green> Hotel
              span.blue> When
              span.gray you want!
