= render partial: "/public_affiliate/shared/new_search"

.row
  .col-sm-12.border-box.with-padding-bottom
    = render partial: "/public_affiliate/shared/booking/booking_registration_header", locals: { step: :payment_creation }
    - if mobile_device?
      - if current_public_affiliate_user.need_to_complete_address? && @booking.traveler.blank?
        = render partial: "/public_affiliate/bookings/payments/_new/address_fields"
      div.tabs role="tabpanel"
        ul.nav.nav-tabs.customized role="tablist"
          li role="presentation" class="active"
            a href="#billing_data" aria-controls="billing_data" role="tab" data-toggle="tab"
              = t(:billing_information)
          li role="presentation"
            a href="#booking_data" aria-controls="booking_data" role="tab" data-toggle="tab"
              = t(:booking_data)

      .tab-content
        div role="tabpanel" class="tab-pane fade in active" id="billing_data"
          - if @booking.have_promotional_code
            = render partial: '/public_affiliate/bookings/payments/_new/promotional_code_field'

          - if current_public_affiliate_user.country == "CO"
            - if layout_name.present?
              = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/epayco_billing_information"
            - else
              = render partial: '/public_affiliate/bookings/payments/_new/payu_billing_information'
              / = render partial: '/public_affiliate/bookings/payments/_new/epayco_billing_information'
          - else
            - if current_currency.code != 'BRL' && current_public_affiliate_user.need_to_complete_address? && @booking.traveler.blank?
              = render partial: "/public_affiliate/bookings/payments/_new/address_fields"
            - else
              - if layout_name.present?
                = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/billing_information"
              - else
                = render partial: '/public_affiliate/bookings/payments/_new/billing_information'
        div role="tabpanel" class="tab-pane fade" id="booking_data"
          = render partial: "/public_affiliate/shared/booking/booking_registration_hotel_description"
          = render partial: '/public_affiliate/bookings/payments/shared/booking_information_mobile'
          - if @offer.try(:room_type_id)
            = render partial: "/public_affiliate/shared/booking/booking_registration_room_type_description"
          - else
            = render partial: "/public_affiliate/shared/booking/booking_registration_business_room_description"

    - else
      .row
        .col-sm-12
          - if @booking.have_promotional_code
            = render partial: '/public_affiliate/bookings/payments/_new/promotional_code_field'

          - if current_public_affiliate_user.country == "CO"
            - if layout_name.present?
              = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/epayco_billing_information"
            - else
              = render partial: '/public_affiliate/bookings/payments/_new/payu_billing_information'
              / = render partial: '/public_affiliate/bookings/payments/_new/epayco_billing_information'
          - else
            - if current_currency.code != 'BRL' && current_public_affiliate_user.need_to_complete_address? && @booking.traveler.blank?
              = render partial: "/public_affiliate/bookings/payments/_new/address_fields"
            - else
              - if layout_name.present?
                = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/billing_information"
              - else
                = render partial: '/public_affiliate/bookings/payments/_new/billing_information'



    .modal.fade.js-wait-modal tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myLargeModalLabel"
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button type="button" class="close" data-dismiss="modal" aria-hidden="true" ×
            h1 Por favor, aguarde.
          .modal-body
            p.text-center Processando pagamento.

    .modal.fade.js-terms-of-use aria-labelledby="myModalLabel" tabindex="-1" role="dialog" aria-hidden="true"
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button type="button" class="close" data-dismiss="modal" aria-hidden="true" ×
            h1 = t(:terms_of_use)
          .modal-body
            = render partial: "layouts/public_affiliate/personalized_affiliate/terms_of_use_modal"
