- if Rails.env.production?
  |
    <!-- Google Code for Venda_Realizada Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 971628577;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "HmjwCM-E4AkQocCnzwM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/971628577/?label=HmjwCM-E4AkQocCnzwM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>

    <script type="text/javascript">
    // Código para adicionar a transação / pedido vendido:
      ga('ecommerce:addTransaction', {
      'id': '@payment.present? ?  @payment.id : @booking.id}', // número do pedido; código de transação
      'affiliation': '', // nome da loja
      'revenue': '#{calculate_currency(@booking.total_price_without_tax, current_currency.money_sign)}', // valor total do pedido
      'shipping': '0', // frete
      'tax': '#{calculate_currency(@booking.booking_tax, current_currency.money_sign)}', // imposto
      'currency': '#{current_currency.code}'  // código de moeda (boa prática)
      });
      ga('ecommerce:addItem', {
        'id': '@payment.present? ? @payment.id : @booking.id }', // número do pedido; código de transação
        'name': '#{@booking.hotel.name} - #{@booking.offer.checkin_timestamp.strftime("%Y-%m-%d %H:%M")} - #{@booking.pack_in_hours}', // nome do produto
        'sku': '#{@booking.id}', // código do produto
        'category': '#{@booking.room_type.name_pt_br}', // categoria do produto
        'price': '#{calculate_currency(@booking.total_price_without_tax, current_currency.money_sign)}', // preço do produto
        'quantity': '1', // quantidade comprada no pedido
        'currency': '#{current_currency.code}' // código de moeda (boa prática)
      });
      ga('ecommerce:send'); // envia a transação para o GA
    // ---- Fim do código para monitoramento de Ecommerce
      
    
= render partial: "/public_affiliate/shared/new_search"

.row
  .col-sm-12.border-box.with-padding-bottom
    = render partial: "/public_affiliate/shared/booking/booking_registration_header", locals: { step: :payment_result }
    .booking-step-title
      h2.hidden-xs.hidden-sm
        = t(:confirmation)
      p.text-center.success
        = t(:booking_completed_with_success) + '.'
    .row
      .col-md-5
        = render partial: "/public_affiliate/shared/booking/booking_registration_hotel_description"
        - if @offer.try(:room_type_id)
          = render partial: "/public_affiliate/shared/booking/booking_registration_room_type_description"
        - else
          = render partial: "/public_affiliate/shared/booking/booking_registration_business_room_description"
      .col-md-7.hidden-xs.hidden-sm
        = render partial: '/public_affiliate/bookings/payments/shared/booking_information'
        = render partial: '/public_affiliate/bookings/payments/_create/payment_information'
    .row.hidden-md.hidden-lg
      hr
      .col-xs-12
        = render partial: '/public_affiliate/bookings/payments/shared/booking_information_mobile'
        = render partial: '/public_affiliate/bookings/payments/_create/payment_information_mobile'
