= header_section

h2 = @event_room.hotel
h3 = t("views.admin.hotels.meeting_room_name_pt_br", meeting_room: @event_room.name_pt_br)

= render partial: "admin/hotels/event_rooms/edit/form", locals: {event_room: @event_room}
