@media (max-width: 768px)
  .public-affiliate-home-controller.privacy-policy-action
    .with-padding
      padding: 10px
      text-align: justify
      h1.page-title
        text-align: center
        font-size: 22px
        margin: 0
        letter-spacing: 2px
      ol
        padding-left: 20px
