- content_for(:title) { "Sua senha" }
p Olá Atendente, #{@company_attendant.name}! Seja bem-vindo ao HotelQuando.com.
p Sua Conta foi cadastrada na nossa plataforma. Seus dados para acesso são:
p.small
  span.gray login:&nbsp;
  span = @company_attendant.login

p.small
  span.gray senha:&nbsp;
  span = @company_attendant.password

p Para acessar seu painel clique no link abaixo:
p = link_to company_attendant_root_url, company_attendant_root_url
