@media (max-width: 768px)
  body.public-layout
    .footer
      .investors
        margin-top: 15px
        p
          color: #999999
        a
          img
            width: 80px
            height: auto

        #accelerator
          margin-left: 0 !important
          a
            img
              margin-left: 5px
        #investors
          margin-left: 10% !important
          margin-top: -3% !important
          a
            img
              width: 110px
              height: auto
              margin-left: 10px

@media (min-width: 769px) and (max-width: 1146px)
  body.public-layout
    .footer
      .investors
        margin-top: 15px
        p
          color: #999999
        a
          img
            width: 80px
            height: auto

        #accelerator
          margin-left: -50% !important
          a
            img
              margin-left: 5px
        #investors
          margin-left: 10% !important
          margin-top: -6% !important
          a
            img
              width: 110px
              height: auto
              margin-left: 10px
