@media (max-width: 768px)
  body.public-layout
    .transp
      position: fixed
      height: 14%
    .header
      .main-menu-mobile.navbar.navbar-default
        position: relative
        margin-bottom: 0
        padding: 0
        display: inline-block
        background: transparent
        border-color: transparent
        width: 100%
      .main-menu-mobile.navbar.navbar-default.floating
        position: fixed
        z-index: 1000
        top: 0px
        padding: 0 20px 0 0
      .navbar-header
        padding: 10px 0
      .logo-wrapper
        margin-top: 5px
        img
          width: 180px
      .language-mobile
        display: grid
        margin: 0
          top: 5px
      .navbar-toggle
        margin: 0
        padding: 5px
        border: none
      .navbar-toggle:hover
        background-color: transparent
      .navbar-collapse
        background: #e7e7e7
      .icon-bar.green
        background-color: #57b12f
        height: 3px
        .notification
          z-index: 1
          float: right
          border-radius: 4px
          left: 7px
          display: inline-block
          background-color: red
          height: 14px
          width: 13px
          position: relative
          bottom: 5px
          span.noti
            display: table
            position: relative
            color: white
            bottom: 3px
            font-weight: 800
            left: 3px
            font-family: quicksand
      .nav.navbar-nav.sidemenu
        margin: 0 -10px
        span
          margin-left: 10px
          font-size: 17px
        i
          font-size: 17px
        .menu-item
          margin: 0 0 6px
          &:last-child
            margin: 0
        .menu-item-link
          background-color: #f8f8f8
          &:hover
            background-color: #383838
            color: white
          &:active
            background-color: #eee
            color: black
          .notification-resp
            position: absolute
            background-color: red
            display: inline-block
            border-radius: 5px
            left: 240px
            text-align: center
          span.noti-resp
            position: relative
            right: 5px
            font-weight: 800
            font-family: quicksand
            color: white


@media (min-width: 768px) and (max-width: 991px)
  body.public-layout
    .header
      .main-menu-mobile.navbar.navbar-default
        position: relative
        margin-bottom: 0
        padding: 0
        width: 100%
      .main-menu-mobile.navbar.navbar-default.floating
        position: fixed
        width: 100%
        z-index: 1000
        top: 0px
      .navbar-header
        padding: 10px 0
        width: 100%
        .col-xs-2
          width: auto !important
      .logo-wrapper
        margin-top: 5px
        img
          width: 180px
      .language-mobile
        margin: 0
          top: 5px
      .navbar-toggle
        margin: 0
        padding: 5px
        border: none
      .navbar-toggle:hover
        background-color: transparent
      .collapse.navbar-collapse
        display: none !important
      .navbar-collapse.collapse.in
        display: block !important
      .navbar-collapse.collapsing
        display: none !important
      .navbar-toggle
        display: block !important
      .icon-bar.green
        background-color: #57b12f
        height: 3px
        .notification
          z-index: 1
          float: right
          border-radius: 4px
          left: 7px
          display: inline-block
          background-color: red
          height: 14px
          width: 13px
          position: relative
          bottom: 5px
          span.noti
            display: table
            position: relative
            color: white
            bottom: 3px
            font-weight: 800
            left: 3px
            font-family: quicksand
      .nav.navbar-nav.sidemenu
        margin: 0 -10px
        span
          margin-left: 10px
          font-size: 17px
        i
          font-size: 17px
        .menu-item
          margin: 0 0 1px
          &:last-child
            margin: 0
        .menu-item-link
          background-color: #f8f8f8
          &:hover
            background-color: #383838
            color: white
          &:active
            background-color: #eee
            color: black
          .notification-resp
            position: absolute
            background-color: red
            display: inline-block
            border-radius: 5px
            right: 0px
            text-align: center
            z-index: 1
            bottom: 28px
          span.noti-resp
            position: relative
            right: 5px
            font-weight: 800
            font-family: quicksand
            color: white
      .navbar-header .col-xs-4
        width: auto !important
