@media (max-width: 800px)
  .public-layout
    #newsletter-modal
      z-index: 10000
      .no-padding
        padding: 0px
      .modal-header
        height: 340px
        border: solid 4px rgb(28, 156, 216)
        border-bottom: 0px
        background: image-url("/assets/newsletter_background.jpg")
        background-size: 540px 340px
        .description
          width: 68%
          margin: 20px
          display: inline-block
          color: white
          font-size: 22px
        .triangle
          float: right
          display: inline-block
          width: 0
          height: 0
          border-style: solid
          border-width: 0 40px 40px 0
          border-color: transparent rgb(28, 156, 216) transparent transparent
          
          .close
            position: absolute
            right: 3px
            top: -5px
            color: white
            opacity: 100
            text-shadow: none
            font-size: 32px
            margin: 0

      .modal-content
        border-radius: 0px
        padding: 0px
        background-color: #d4d4d4
      .modal-body
        .email-sent
          background-color: #1c9cd8
          color: white
          font-size: 16px
          padding: 62px 20px
          display: none
        padding: 0px
        .footer-newsletter
          margin: 0px
        .inputs
          border-right: solid 4px #1c9cd8
          border-left: solid 4px #1c9cd8
          padding: 0px
          display: inline-block
          input
            margin: 10px 10px 10px 10px
          .email
            width: 290px
            display: inline-block
            margin: 0px
            border-bottom: solid 1px #BBB
            input
              width: 269px
          .city
            width: 290px
            display: inline-block
            input
              width: 269px
        .submit-button
          display: inline-block
          padding: 17px
          text-align: center
          margin: 0px
          width: 298px
          background-color: #1c9cd8
          input
            width: auto
            height: auto
            margin: 0px
            border: 0
            border-radius: 0px
            background: #1c9cd8
            color: white
            font-size: 20px
            -webkit-box-shadow: inset 0 0 6px transparent
            border: solid 1px

        input[type="text"]
          background: transparent
          color: #7A7A7A
          border: 1px solid transparent
          border-radius: 2px
          font-style: italic
          font-size: 16px
          height: 30px
          line-height: 30px
          width: 250px
          padding: 10px
          -webkit-box-shadow: inset 0 0 6px transparent
          outline-width: 0
          font-size: 20px

        input::-webkit-input-placeholder
          color: #666
          text-align: center
        input:-moz-placeholder
          color: #666
          text-align: center
        input::-moz-placeholder
          color: #666
          text-align: center
        input:-ms-input-placeholder
          color: #666
          text-align: center
        input:-webkit-autofill 
          -webkit-box-shadow: 0 0 0 1000px #d4d4d4 inset !important


      .modal-dialog
        margin: 10px auto
        width: 300px