@media (max-width:447px) and (min-width:300px)
  .public-layout.public-hotel-controller 
    .more-hours-button
      .more-hours.plus
        margin-top: 0px !important
  .public-layout.public-hotel-controller
    .more-hours-button
      .more-hours.minus
        margin-top: 14px !important
  .public-layout.public-hotel-controller .up
    margin-top: 15px !important
    margin-right: -43px
  
  .public-layout.public-hotel-controller.checkin
    width: 100%
    label.title
      text-align: center

  .public-layout.public-hotel-controller .checkin .checkin-date
    margin-left: 33% !important
    input
      margin-top: 5px

  .public-layout.public-hotel-controller .checkin .checkin-hour
    margin: 6px 4px 0px 0px
    margin-left: 27%
    display: flex !important
    float: none !important
    width: 60%
    label
      float: none
    .hour-and-buttons
      display: flex !important
      button
        float: none
      label
        float: none
    .checkout-hour
      width: 100%
      float: none
      display: inline-block
      label
        float: none
      label.title-checkout
        margin: 6px 4px 0px 4px
      .at-and-hour
        float: none
        display: inline-block
        label
          float: none
  .people
    float: none
    display: inline-block
    margin: 6px 4px 0px 5%
    width: 80px

  .checkin
    input
      padding: 7px
    #by_checkin_hour
      padding: 3px 0px 0px 0px
  .display-table-cell .number-of-people-input-size select
    margin-top: 43px

  button .cpy-search-button .btn .search-button
    margin-right: 45% !important

  .size-100-percent .cpy-mobile-address
    background: #fff

  .public-layout.public-hotel-controller .pack-size.btn-group a.btn
    background: #fff
    color: #333
    border-color: rgba(60, 118, 61, 0.51)
  .public-layout.public-hotel-controller .pack-size.btn-group span.clock
    background: #fff
    border-color: rgba(60, 118, 61, 0.51)
  .public-layout.public-hotel-controller .adress-input input
    background: #fff

  #search_mobile_device .secondary-title
    margin-top: 20px !important
    margin-bottom: -20px !important

  #search_mobile_device-mt .input-group.date-picker-inputs
    margin-top: 32px !important

  .public-layout.public-hotel-controller .pack-size-row .display-table
    margin-top: 20px

  .public-layout.public-hotel-controller .div-button-search
    margin-right: 31%

  .display-table.people-checkin-inputs
    margin-left: 5%

  a.btn.rooms.pack-3.cpy-pack-3.selected
    background-color: rgba(130, 175, 74, 0.65)
  a.btn.rooms.pack-6.cpy-pack-6.selected
    background-color: rgba(130, 175, 74, 0.65)
  a.btn.rooms.pack-9.cpy-pack-9.selected
    background-color: rgba(130, 175, 74, 0.65)
  a.btn.rooms.pack-12.cpy-pack-12.selected
    background-color: rgba(130, 175, 74, 0.65)

  .public-layout.public-hotel-controller .search-button.btn, .public-layout.public-hotel-controller .search-button.btn.input
    background-color: #dddddd

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
    display: none !important

  .active_mobile_tab
    background: rgba(87, 177, 47, .9) !important
    color: white
    border: 0
    p
      color: #fff !important
  .btn-primary
    background: #666666
    border-color: #666666
    border-radius: 0
    height: 6vh
  .people-checkin-inputs-meeting-room
    margin-left: -10px
  .public-layout.public-home-controller .search-box .checkin input
    width: 60%
  .public-layout.public-home-controller .search-box .checkin select
    width: 70%
    margin-left: -45px
  .display-table-cell.number-of-people-input-size-meeting-room
    margin-left: -75px
  .number-of-people-input-size-meeting-room
    position: relative
    right: 70px
    option: empty
    display: none
    .select.ng-pristine.ng-valid  
      margin-left: -125px
  #people_meeting_room
    margin-left: -45px
    margin-top: -2px
    margin-bottom: -18px
  .search-box .tab-content-metting-room-mobile .pack-size
    margin-left: 7px !important
  .tab-content-metting-room-mobile .col-xs-12.pack-size.text-center.checkin
    margin: 24px 40px !important
  .search-box .pack-size.btn-group a.btn.meeting-rooms
    padding: 10px 5.8px !important
    margin-left: -7px !important
  .pack-size-row-meeting-room .pack-size.btn-group a.btn.selected
    background: #57b12f
  .search-box .pack-size a.btn.selected
    background: #57b12f !important

  .pack-size.text-center.checkin
    margin-left: 15%
  .public-layout.public-hotel-controller.index-action .hotel-list-page-wrapper .tab-content-metting-room-mobile
    margin-top: 140px !important
    background-color: rgba(130, 175, 74, 0.65) !important

  .display-table-cell.number-of-people-input-size
    margin: -82px 0 -20px 240px !important

  .tab-content-metting-room-mobile .secondary-title
    margin-left: 15px

  #datepicker-rooms-mobile
    margin-top: 32px

@media (max-width:543px) and (min-width:448px)
  .public-layout.public-hotel-controller.checkin
    width: 100%
    label.title
      text-align: center

  .public-layout.public-hotel-controller .checkin .checkin-date
    margin-left: 33% !important
    input
      margin-top: 5px

  .public-layout.public-hotel-controller .checkin .checkin-hour
    margin: 6px 4px 0px 0px
    margin-left: 27%
    display: flex !important
    float: none !important
    width: 60%
    label
      float: none
    .hour-and-buttons
      display: flex !important
      button
        float: none
      label
        float: none
    .checkout-hour
      width: 100%
      float: none
      display: inline-block
      label
        float: none
      label.title-checkout
        margin: 6px 4px 0px 4px
      .at-and-hour
        float: none
        display: inline-block
        label
          float: none
  .people
    float: none
    display: inline-block
    margin: 6px 4px 0px 5%
    width: 80px

  .checkin
    input
      padding: 7px
    #by_checkin_hour
      padding: 3px 0px 0px 0px

  button .cpy-search-button .btn .search-button
    margin-right: 45% !important

  .size-100-percent .cpy-mobile-address
    background: #fff

  .public-layout.public-hotel-controller .pack-size.btn-group a.btn
    background: #fff
    color: #333
    border-color: rgba(60, 118, 61, 0.51)
  .public-layout.public-hotel-controller .pack-size.btn-group span.clock
    background: #fff
    border-color: rgba(60, 118, 61, 0.51)
  .public-layout.public-hotel-controller .adress-input input
    background: #fff

  #search_mobile_device .secondary-title
    margin-top: 20px !important
    margin-bottom: -20px !important

  #search_mobile_device-mt .input-group.date-picker-inputs
    margin-top: 20px

  #search_mobile_device .input-group.date-picker-inputs
    margin-top: 33px

  .public-layout.public-hotel-controller .pack-size-row .display-table
    margin-top: 25px

  .public-layout.public-hotel-controller .div-button-search
    margin-right: 32%

  .display-table.people-checkin-inputs
    margin-left: 15%

  a.btn.rooms.pack-3.cpy-pack-3.selected
    background-color: rgba(130, 175, 74, 0.65)
  a.btn.rooms.pack-6.cpy-pack-6.selected
    background-color: rgba(130, 175, 74, 0.65)
  a.btn.rooms.pack-9.cpy-pack-9.selected
    background-color: rgba(130, 175, 74, 0.65)
  a.btn.rooms.pack-12.cpy-pack-12.selected
    background-color: rgba(130, 175, 74, 0.65)

  .public-layout.public-hotel-controller .search-button.btn, .public-layout.public-hotel-controller .search-button.btn.input
    background-color: #dddddd

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
    display: none !important


  .active_mobile_tab
    background: rgba(87, 177, 47, .9)
    height: 5vh
    p
      color: #fff !important

  .people-checkin-inputs-meeting-room
    margin-left: -10px
  #people_meeting_room
    margin-left: auto
    margin-top: -2px
    margin-bottom: -18px
  .search-box .tab-content-metting-room-mobile .pack-size
    margin-left: 7px !important
  .pack-size-row-meeting-room .pack-size.btn-group a.btn.selected
    background: #57b12f

  .search-box .pack-size a.btn.selected
    background: #57b12f !important

  .public-layout.public-hotel-controller.index-action .hotel-list-page-wrapper
    margin-top: 140px !important

  #date-picker-mobile
    margin: 12px 0 0 25px !important

  .tab-content-metting-room-mobile .secondary-title
    margin-left: 15px

  .search-box .checkin select
    width: 80% !important
  .search-box .checkin input
    width: 80% !important

  .display-table-cell.number-of-people-input-size
    margin: -67px 0 -20px 277px !important

  #datepicker-rooms-mobile
    margin-top: 32px

@media (max-width:767px) and (min-width:544px)
  .checkin
    width: 100%
    label.title
      text-align: center

  .checkin-date
    margin-left: 25%
    input
      margin-top: 5px

  .checkin-hour
    margin: 6px 4px 0px 4px
    display: flex !important
    float: none !important
    width: 100%
    label
      float: none
    .hour-and-buttons
      display: flex !important
      button
        float: none
      label
        float: none
  .checkout-hour
    width: 100%
    float: none
    display: inline-block
    label
      float: none
    label.title-checkout
      margin: 6px 4px 0px 4px
    .at-and-hour
      float: none
      display: inline-block
      label
        float: none
  .people
    float: none
    display: inline-block
    margin: 6px 4px 0px 5%
    width: 80px

  .checkin
    input
      padding: 7px
    #by_checkin_hour
      padding: 3px 0px 0px 0px

  .size-100-percent .cpy-mobile-address
    background: #fff

  .public-layout.public-hotel-controller .pack-size.btn-group a.btn
    background: #fff
    color: #333
    border-color: rgba(60, 118, 61, 0.51)
  .public-layout.public-hotel-controller .pack-size.btn-group span.clock
    background: #fff
    border-color: rgba(60, 118, 61, 0.51)
  .public-layout.public-hotel-controller .adress-input input
    background: #fff

  #search_mobile_device .secondary-title
    margin-top: 20px !important
    margin-bottom: -20px !important

  #search_mobile_device-mt .secondary-title  
    margin-bottom: -38px !important

  #search_mobile_device-mt .input-group.date-picker-inputs
    margin-top: 32px !important

  .public-layout.public-hotel-controller .pack-size-row .display-table
    margin-top: 25px

  .public-layout.public-hotel-controller .div-button-search
    margin-right: 37%

  .display-table .people-checkin-inputs
    margin-right: 21%

  .public-layout.public-hotel-controller.index-action .js-float-search-form
    height: 330px !important

  .display-table.people-checkin-inputs
    margin-left: 24% !important

  .row.pack-size-row-meeting-room
    width: 100% !important
    .pack-size-hint
      margin-left: 60px !important

  .display-table.people-checkin-inputs-meeting-room
    margin-left: 15%

    .number-of-people-input-size
      padding-left: 0 !important

  a.btn.rooms.pack-3.cpy-pack-3.selected
    background-color: rgba(130, 175, 74, 0.65)
  a.btn.rooms.pack-6.cpy-pack-6.selected
    background-color: rgba(130, 175, 74, 0.65)
  a.btn.rooms.pack-9.cpy-pack-9.selected
    background-color: rgba(130, 175, 74, 0.65)
  a.btn.rooms.pack-12.cpy-pack-12.selected
    background-color: rgba(130, 175, 74, 0.65)

  .public-layout.public-hotel-controller .search-button.btn, .public-layout.public-hotel-controller .search-button.btn.input
    background-color: #dddddd

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
    display: none !important

  .active_mobile_tab
    background: rgba(87, 177, 47, .9) !important
    color: white
    border: 0
    height: 9vh
    p
      color: #fff !important

  .btn-primary
    background: #666666
  .people-checkin-inputs-meeting-room
    margin-left: -10px
  #people_meeting_room
    margin-top: -2px
    margin-bottom: -18px
  .search-box .tab-content-metting-room-mobile .pack-size
    margin-left: 7px !important
  .pack-size-row-meeting-room .pack-size.btn-group a.btn.selected
    background: #57b12f
  .search-box .pack-size a.btn.selected
    background: #57b12f !important

  .public-layout.public-hotel-controller.index-action .hotel-list-page-wrapper
    margin-top: 140px !important

  #date-picker-mobile
    margin: 12px 0 0 25px !important

  .tab-content-metting-room-mobile .secondary-title
    margin-left: 15px

  .search-box .checkin select
    width: 80% !important
  .search-box .checkin input
    width: 80% !important

  .display-table-cell.number-of-people-input-size
    margin: -67px 0 -20px 77% !important

  #datepicker-rooms-mobile
    margin-top: 32px

@media (max-width: 768px)
  .public-layout.public-hotel-controller
    .search-form-hotel
      height: 350px

    button.more-hours
      background-color: #dddddd !important  

    .search-form-header
      background-color: rgba(245, 245, 245, 0.9)
      border-radius: 10px 10px 0px 0px
      padding: 10px
    .pack-size
      width: 100%
      margin-bottom: 10px
      label
        margin-top: 10px
    .col-xs-6#hour-input-mobile
      width: auto
      margin-top: 5%
    .pack-size-row
      .display-table
        margin:
          left: auto
          right: auto
      .pack-size.btn-group
        span.clock
          padding: 9px 3px
        a.btn
          padding: 10px 18px
          &.rooms
            width: 21%
            padding: 10px 13px
          &.meeting-rooms
            width: 10%
            padding: 10px 19px 10px 3px
          &.event-rooms
            width: 27.4%
            padding: 10px 22px

    .checkin
      width: 100%
      label.title
        text-align: center

    .checkin-date
      margin-left: 25%
      input
        margin-top: 5px

    .checkin-hour
      margin: 6px 4px 0px 4px
      display: flex !important
      float: none !important
      width: 100%
      label
        float: none
      .hour-and-buttons
        display: flex !important
        button
          float: none
        label
          float: none
    .checkout-hour
      width: 100%
      float: none
      display: inline-block
      label
        float: none
      label.title-checkout
        margin: 6px 4px 0px 4px
      .at-and-hour
        float: none
        display: inline-block
        label
          float: none
    .people
      float: none
      display: inline-block
      margin: 6px 4px 0px 5%
      width: 80px

    .checkin
      input
        padding: 7px
      #by_checkin_hour
        padding: 3px 0px 0px 0px

  a.btn.rooms.pack-3.cpy-pack-3.selected
    background-color: rgba(130, 175, 74, 0.65)
  a.btn.rooms.pack-6.cpy-pack-6.selected
    background-color: rgba(130, 175, 74, 0.65)
  a.btn.rooms.pack-9.cpy-pack-9.selected
    background-color: rgba(130, 175, 74, 0.65)
  a.btn.rooms.pack-12.cpy-pack-12.selected
    background-color: rgba(130, 175, 74, 0.65)

  .public-layout.public-hotel-controller .search-button.btn, .public-layout.public-hotel-controller .search-button.btn.input
    background-color: #dddddd

  .public-layout.public-hotel-controller.index-action .hotel-list-page-wrapper
    margin-top: 140px !important
  .public-layout.public-hotel-controller.index-action .hotel-list-page-wrapper
    margin-top: 140px !important

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
    display: none !important

  .pack-size.text-center.checkin
    margin-left: 20% !important

  #search_mobile_device-mt .secondary-title
    margin-left: 4%
    margin-bottom: -40px

@media (max-width:1079px) and (min-width:768px)
  .public-layout.public-hotel-controller
    .search-form-header
      background-color: rgba(245, 245, 245, 0.9)
      border-radius: 10px 10px 0px 0px
      padding: 10px
    .pack-size
      width: 100%
      margin-bottom: 10px
      label
        margin-top: 10px
    .pack-size-row
      .display-table
        margin:
          left: auto
          right: auto
      .pack-size.btn-group
        span.clock
          padding: 9px 3px
        a.btn
          padding: 10px 18px
          &.rooms
            width: 21%
            padding: 10px 13px
          &.meeting-rooms
            width: 10%
            padding: 10px 19px 10px 3px
          &.event-rooms
            width: 27.4%
            padding: 10px 22px

    .checkin
      width: 100%
      label.title
        text-align: center

    .checkin-date
      margin-left: 25%
      input
        margin-top: 5px

    .checkin-hour
      margin: 6px 4px 0px 4px
      display: flex !important
      float: none !important
      width: 100%
      label
        float: none
      .hour-and-buttons
        display: flex !important
        button
          float: none
        label
          float: none
    .checkout-hour
      width: 100%
      float: none
      display: inline-block
      label
        float: none
      label.title-checkout
        margin: 6px 4px 0px 4px
      .at-and-hour
        float: none
        display: inline-block
        label
          float: none
    .people
      float: none
      display: inline-block
      margin: 6px 4px 0px 5%
      width: 80px

    .checkin
      input
        padding: 7px
      #by_checkin_hour
        padding: 3px 0px 0px 0px

  .display-table.people-checkin-inputs-meeting-room
    margin-left: 25%
  a.btn.rooms.pack-3.cpy-pack-3.selected
    background-color: rgba(130, 175, 74, 0.65)
  a.btn.rooms.pack-6.cpy-pack-6.selected
    background-color: rgba(130, 175, 74, 0.65)
  a.btn.rooms.pack-9.cpy-pack-9.selected
    background-color: rgba(130, 175, 74, 0.65)
  a.btn.rooms.pack-12.cpy-pack-12.selected
    background-color: rgba(130, 175, 74, 0.65)

  .public-layout.public-hotel-controller .search-button.btn, .public-layout.public-hotel-controller .search-button.btn.input
    background-color: #dddddd

  .public-layout.public-hotel-controller .adress-input input#js-autocomplete
    background: #fff !important

  .public-layout.public-hotel-controller .pack-size.btn-group a.btn
    background: #fff
    color: #333
    border-color: rgba(60, 118, 61, 0.51)
  .public-layout.public-hotel-controller .pack-size.btn-group span.clock
    background: #fff
    color: #333
    border-color: rgba(60, 118, 61, 0.51)

  .display-table-cell.number-of-people-input-size
    display: inline-block !important
    margin-left: -10px

  .public-layout.public-hotel-controller .number-of-people-input-size
    width: 100%

  .number-of-people-input-size-meeting-room
    margin-top: 24px !important

  .public-layout.public-hotel-controller .up
    margin-left: -25px !important
    margin-top: 0 !important

  .row .checkin-mobile .col-xs-6
    margin-top: -23px !important
    margin-left: -5px !important

  .input-group.date-picker-inputs
    margin-top: 20px !important

  .input-group.date-picker-inputs#datepicker-homepage
    margin-top: 0 !important

  .secondary-title#title-homepage
    margin-top: -23px
    margin-bottom: 22px
    margin-left: -6px

  .public-layout.public-hotel-controller .pack-size-row .display-table
    margin-top: -68px !important
    margin-left: 45% !important

  .public-layout.public-hotel-controller .pack-size-row .display-table .up
    margin-left: 1px !important

  .public-layout .display-table .display-table-cell .up.hidden-xs.hidden-sm
    width: 112px !important

  .search_mobile_device-mt .row
    margin-top: 15px !important

  .display-table.people-checkin-inputs
    margin-top: 10px !important

  .public-layout.public-hotel-controller .search-button.btn, .public-layout.public-hotel-controller .search-button.btn.input
    margin-left: 18%
    margin-top: -78px

  .display-table .people-checkin-inputs
    margin-top: 15px !important

  .public-layout.public-hotel-controller.index-action .js-float-search-form
    height: 235px !important

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
    display: none !important


  .active_mobile_tab
    background: rgb(87, 177, 48) !important
    p
      color: #fff !important
  .btn-primary
    background: #666666
    border-color: #666666
    border-radius: 0
  .people-checkin-inputs-meeting-room
    margin-left: -10px
  #people_meeting_room
    margin-top: -2px
    margin-bottom: -18px
  .search-box .tab-content-metting-room-mobile .pack-size
    margin-left: 7px !important
  .pack-size-row-meeting-room .pack-size.btn-group a.btn.selected
    background: #57b12f
  .search-box .pack-size a.btn.selected
    background: #57b12f !important

@media (max-width: 830px) and (min-width:769px)
  .public-layout.public-hotel-controller .up
    margin-left: -25px !important
    margin-top: 0 !important

  .row .checkin-mobile .col-xs-6
    margin-top: -23px !important
    margin-left: -5px !important

  .input-group.date-picker-inputs
    margin-top: 20px !important
  
  .input-group.date-picker-inputs-meeting-room
    margin-top: 0 !important

  .public-layout.public-hotel-controller .pack-size-row .display-table
    margin-top: -68px !important
    margin-left: 45% !important

  .public-layout.public-hotel-controller .pack-size-row .display-table .up
    margin-left: 1px !important

  .public-layout .display-table .display-table-cell .up.hidden-xs.hidden-sm
    width: 112px !important

  .search_mobile_device-mt .row
    margin-top: 15px !important

  .display-table.people-checkin-inputs
    margin-top: 10px !important

  .public-layout.public-hotel-controller .search-button.btn, .public-layout.public-hotel-controller .search-button.btn.input
    margin-left: -10%
    margin-top: -78px

  .display-table .people-checkin-inputs
    margin-top: 15px !important

  .public-layout.public-hotel-controller.index-action .js-float-search-form
    height: 235px !important

  .panel-default
    width: 84%

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
    display: none !important

@media (max-width: 1003px) and (min-width:831px)
  .public-layout.public-hotel-controller .up
    margin-left: -25px !important
    margin-top: 0 !important

  .row .checkin-mobile .col-xs-6
    margin-top: -23px !important
    margin-left: -5px !important

  .input-group.date-picker-inputs
    margin-top: 20px !important

  .public-layout.public-hotel-controller .pack-size-row .display-table
    margin-top: -68px !important
    margin-left: 45% !important

  .public-layout.public-hotel-controller .pack-size-row .display-table .up
    margin-left: 1px !important

  .public-layout .display-table .display-table-cell .up.hidden-xs.hidden-sm
    width: 112px !important

  .search_mobile_device-mt .row
    margin-top: 15px !important

  .display-table.people-checkin-inputs
    margin-top: 10px !important

  .public-layout.public-hotel-controller .search-button.btn, .public-layout.public-hotel-controller .search-button.btn.input
    margin-left: -23%
    margin-top: -78px

  .display-table .people-checkin-inputs
    margin-top: 15px !important

  .public-layout.public-hotel-controller.index-action .js-float-search-form
    height: 235px !important

  .panel-default
    width: 98%

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
    display: none !important

@media (max-width:1097px) and (min-width:768px)
  .public-layout.public-hotel-controller
    .checkin
      width: 136px
      .checkin-date
        width: 100%
      .checkin-hour
        width: 136px
        label.at
          margin: 10px 5px 10px 0px

    a.btn.rooms.pack-3.cpy-pack-3.selected,
    a.btn.rooms.pack-6.cpy-pack-6.selected,
    a.btn.rooms.pack-9.cpy-pack-9.selected,
    a.btn.rooms.pack-12.cpy-pack-12.selected
      background-color: rgba(130, 175, 74, 0.65)

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
      display: none !important

@media (min-width:320px) and (max-width:375px)
  .margin-top-search-box
    margin-top: 90px