- cant_render_new_offers_form = ((Room.by_hotel_id(current_hotel_hotel.id).count == 0 || PricingPolicy.by_hotel_id(current_hotel_hotel.id).count == 0) && !(params[:action] == 'remove_all_offers'))

- cant_render_remove_offers_form = (Offer.by_hotel_id(current_hotel_hotel.id).count == 0 && (params[:action] == 'remove_all_offers'))

- if cant_render_new_offers_form || cant_render_remove_offers_form
  = render partial: "/hotel/offers/form/alerts"
- else
  = header_section(right_links: "", title: t("views.hotel.offers.remove_all_offers"))

  = form_tag remove_all_offers_hotel_offers_path, method: :post, name: 'offersForm' do
	  .row
	    .col-sm-12
	      = content_tag(:div, class: 'wizard-actions form-buttons') do
	        - if Rails.env.test?
	          - submit_button = "<button class='btn btn-btn-danger btn-next cpy-submit-button' data-confirm='#{t('views.hotel.offers.all_offers_will_be_unavailable')}'>#{t('views.hotel.offers.remove')} <i class='icon-arrow-right icon-on-right'></i></button>".html_safe
	        - else
	          - submit_button = "<button class='btn btn-btn-danger btn-next cpy-submit-button' data-confirm='#{t('views.hotel.offers.all_offers_will_be_unavailable')}'>#{t('views.hotel.offers.remove')} <i class='icon-arrow-right icon-on-right'></i></button>".html_safe
	        - submit_button
