.page-header
  h1
    span.text
      | #{t('views.hotel.offers.remove_offers')}
    a.btn.btn-sm.btn-prev.pull-right data-confirm='Tem certeza que deseja cancelar a remoção?' href="/hotel/offers"
      | #{t('views.hotel.offers.back')}

= render partial: "/hotel/offers/remove_intermediate_step/number_of_removing_and_reserved_offers"
- number_of_offers_that_will_be_removed = 0
- number_of_offers_that_cant_be_removed = 0
.js-offers-that-cant-be-removed-section
  br
  h4.lighter.smaller.green
    span.text
      | #{t('views.hotel.offers.list_of_offers_that_cannot_be_removed')}
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center.size-15-percent
          | #{t('views.hotel.offers.checkin')}
        th.center.size-15-percent
          | #{t('views.hotel.offers.checkout')}
        th.center.size-15-percent
          | #{t('views.hotel.offers.package_size')}
        th.center.size-15-percent
          | #{t('views.hotel.offers.offer_price')}
        th.center.size-15-percent
          | #{t('views.hotel.offers.extra_person_price')}
        th.center.size-15-percent
          | #{t('views.hotel.offers.no_show_price')}
        th.center.size-10-percent
          | #{t('views.hotel.offers.status')}
    tbody
      - params_for_offer_removal = RoomOffersCreatorLog.find(params[:log_id]).form_params
      - there_are_offers_that_cant_be_removed = false
      - checkin_dates = prepare_checkin_dates_from_params(params_for_offer_removal)
      - checkin_dates_with_time = []
      - checkin_dates.each do | date |
        - checkin_dates_with_time << date + 0.hours
      - checkin_dates_with_time.each do | checkin_date |
        - number_of_offers_that_will_be_removed += Offer.where("hotel_id = (?) AND status IN (?) AND room_id IN (?) AND pack_in_hours IN (?) AND (checkin_timestamp BETWEEN (?) AND (?))", current_hotel_hotel.id, [Offer::ACCEPTED_STATUS[:available], Offer::ACCEPTED_STATUS[:suspended]], params_for_offer_removal['rooms_ids'], params_for_offer_removal['selected_pack_lengths'], checkin_date.strftime("%Y-%m-%d %H:%M:%S +0000"), (checkin_date + 1.day - 1.second).strftime("%Y-%m-%d %H:%M:%S +0000")).count(:id)
        - Offer.where("hotel_id = (?) AND status = #{Offer::ACCEPTED_STATUS[:reserved]} AND room_id IN (?) AND pack_in_hours IN (?) AND (checkin_timestamp BETWEEN (?) AND (?))", current_hotel_hotel.id, params_for_offer_removal['rooms_ids'], params_for_offer_removal['selected_pack_lengths'], checkin_date.strftime("%Y-%m-%d %H:%M:%S +0000"), (checkin_date + 1.day - 1.second).strftime("%Y-%m-%d %H:%M:%S +0000")).each do | offer |
          - there_are_offers_that_cant_be_removed = true
          - number_of_offers_that_cant_be_removed += 1
          tr.center
            td
              = offer.checkin_timestamp.to_datetime.strftime '%d/%m/%Y - %H:%M:%S'
            td
              = offer.checkout_timestamp.to_datetime.strftime '%d/%m/%Y - %H:%M:%S'
            td
              = offer.pack_in_hours.to_s + ' horas'
            td
              = number_to_currency(offer.price)
            td
              = number_to_currency(offer.extra_price_per_person)
            td
              = number_to_currency(offer.no_show_value)
            td
              - Offer::ACCEPTED_STATUS.each do | key, value |
                - if offer.status == value
                  = t(key.capitalize)
- form_confirmation_message = t('views.hotel.offers.all_offers_will_be_removed')
= render partial: "/hotel/offers/remove_intermediate_step/scripts", locals: {there_are_offers_that_cant_be_removed: there_are_offers_that_cant_be_removed, number_of_offers_that_will_be_removed: number_of_offers_that_will_be_removed, number_of_offers_that_cant_be_removed: number_of_offers_that_cant_be_removed}
- if there_are_offers_that_cant_be_removed
  - form_confirmation_message.chop!
  - form_confirmation_message = t('views.hotel.offers.confirm_message', form_confirmation_message: form_confirmation_message)
br
= render partial: "/hotel/offers/remove_intermediate_step/confirmation", locals: {number_of_offers_that_will_be_removed: number_of_offers_that_will_be_removed, number_of_offers_that_cant_be_removed: number_of_offers_that_cant_be_removed,
  form_confirmation_message: form_confirmation_message}
