.page-header
  h1
    span.text
      | #{t('views.hotel.offers.remove_offers')}
    a.btn.btn-sm.btn-prev.pull-right data-confirm='Tem certeza que deseja cancelar a remoção?' href="/hotel/offers"
      | #{t('views.hotel.offers.back')}

= render partial: "/hotel/offers/remove_all_intermediate_step/number_of_removing_and_reserved_offers"
- number_of_offers_that_will_be_removed = 0
- number_of_offers_that_cant_be_removed = 0
.js-offers-that-cant-be-removed-section
  br
  h4.lighter.smaller.green
    span.text
      | #{t('views.hotel.offers.list_of_offers_that_cannot_be_removed')}
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center.size-15-percent
          | #{t('views.hotel.offers.checkin')}
        th.center.size-15-percent
          | #{t('views.hotel.offers.checkout')}
        th.center.size-15-percent
          | #{t('views.hotel.offers.package_size')}
        th.center.size-15-percent
          | #{t('views.hotel.offers.offer_price')}
        th.center.size-15-percent
          | #{t('views.hotel.offers.extra_person_price')}
        th.center.size-15-percent
          | #{t('views.hotel.offers.no_show_price')}
        th.center.size-10-percent
          | #{t('views.hotel.offers.status')}
    tbody
      - log = RoomOffersCreatorLog.find(params[:log_id])
      - params_for_offer_removal = log.form_params
      - there_are_offers_that_cant_be_removed = false
      - number_of_offers_that_will_be_removed += Offer.where("hotel_id = (?) AND status IN (?)", current_hotel_hotel.id, [Offer::ACCEPTED_STATUS[:available], Offer::ACCEPTED_STATUS[:suspended]]).count(:id)
      - Offer.where("hotel_id = (?) AND status = #{Offer::ACCEPTED_STATUS[:reserved]}", current_hotel_hotel.id).each do | offer |
        - there_are_offers_that_cant_be_removed = true
        - number_of_offers_that_cant_be_removed += 1
        tr.center
          td
            = offer.checkin_timestamp.to_datetime.strftime '%d/%m/%Y - %H:%M:%S'
          td
            = offer.checkout_timestamp.to_datetime.strftime '%d/%m/%Y - %H:%M:%S'
          td
            = offer.pack_in_hours.to_s + ' horas'
          td
            = number_to_currency(offer.price)
          td
            = number_to_currency(offer.extra_price_per_person)
          td
            = number_to_currency(offer.no_show_value)
          td
            - Offer::ACCEPTED_STATUS.each do | key, value |
              - if offer.status == value
                = t(key.capitalize)

- form_confirmation_message = t('views.hotel.offers.all_offers_will_be_removed')
= render partial: "/hotel/offers/remove_all_intermediate_step/scripts", locals: {there_are_offers_that_cant_be_removed: there_are_offers_that_cant_be_removed, number_of_offers_that_will_be_removed: number_of_offers_that_will_be_removed, number_of_offers_that_cant_be_removed: number_of_offers_that_cant_be_removed}
- if there_are_offers_that_cant_be_removed
  - form_confirmation_message.chop!
  - form_confirmation_message = t('views.hotel.offers.confirm_message', form_confirmation_message: form_confirmation_message)
br
= render partial: "/hotel/offers/remove_all_intermediate_step/confirmation", locals: {number_of_offers_that_will_be_removed: number_of_offers_that_will_be_removed, number_of_offers_that_cant_be_removed: number_of_offers_that_cant_be_removed,
  form_confirmation_message: form_confirmation_message}
