= header_section(right_links: "", title: t('views.hotel.offers.list_offers'))

- if current_hotel_hotel.offers.count == 0
  .alert.alert-info
    = t(:none_female) + ' ' + t("activerecord.models.offer")[:one].downcase + ' ' + t(:registered_female) + '.'

- else
  / filter
  = panel_section(name: t('views.hotel.offers.filter'), class: 'filter widget-box') do
    .row
      = form_tag show_all_hotel_offers_path, method: :get, class: 'form-horizontal' do
        .col-sm-4.form-section-config
          h3.header.lighter.smaller.green #{t('views.hotel.offers.filter')}
          .input-group
            span.input-group-addon.size-18-percent
              | #{t('views.hotel.offers.initial_checkin_date')}
            input.js-date-picker.form-control.text-right.js-mask-date.initial-date name='by_checkin_range[initial_date]' value="#{params[:by_checkin_range].try(:[], :initial_date) || ''}"
            span.input-group-addon
              i.icon-calendar.bigger-110
          br
          .input-group
            span.input-group-addon.size-18-percent
              == t('views.hotel.offers.checkout_date')
            input.js-date-picker.form-control.text-right.js-mask-date.final-date name='by_checkin_range[final_date]' value="#{params[:by_checkin_range].try(:[], :final_date) || ''}"
            span.input-group-addon
              i.icon-calendar.bigger-110
          .clearfix
        .col-sm-4.form-section-config
          h3.header.lighter.smaller.green #{t('views.hotel.offers.room_types')}
          - RoomType.by_hotel_id(current_hotel_hotel.id).each do |room_type|
            - checked = (params[:by_room_type_id]) && (params[:by_room_type_id].include?(room_type.id.to_s))
            .checkbox.size-100-percent.pull-left.no-left-padding
              label
                = check_box_tag "by_room_type_id[]", room_type.id, checked, class: "ace cpy-room-type-#{room_type.id}"
                span.lbl
                  = room_type.full_name_pt_br
          .clearfix
        .col-sm-4.form-section-config
          h3.header.lighter.smaller.green #{t('views.hotel.offers.status')}
          - Offer::ACCEPTED_STATUS_REVERSED.each do |status_code, status|
            - next if [:ghost, :removed_by_hotel, :expired].include?(status)
            - checked = (params[:by_status]) && (params[:by_status].include?(status_code.to_s))
            .checkbox.size-33-percent.pull-left.no-left-padding
              label
                = check_box_tag "by_status[]", status_code, checked, class: "ace cpy-status-#{status_code}"
                span.lbl
                  =< truncate(t(status.to_s.capitalize.to_sym), length: 14)
          .clearfix
        .row
          .col-sm-12
            = submit_tag t(:filter), class: 'btn btn-sm btn-success pull-right size-10-percent cpy-filter-button margin-right-2-percent'

  - if @offers.empty?
    .alert.alert-info
      = t(:none_female) + ' ' + t("activerecord.models.offer")[:one].downcase + ' ' + t(:found_female) + '.'

  - else
    .cpy-pagination-links
      = pagination_links_for @offers
      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th.center.size-20-percent
              = t(:offers_checkin_date_time)
            th.center.size-20-percent
              = t(:offers_checkout_date_time)
            / th.center.size-20-percent
            /   = t(:offers_update_date_time)
            th.center.size-25-percent
              = t(:room_type)
            th.center.size-10-percent
              = t(:room)
            th.center.size-20-percent
              = t(:offer_status)
        tbody
          - @offers.each do | offer |
            tr
              td.center
                = l(offer.checkin_timestamp.to_datetime)
              td.center
                = l(offer.checkout_timestamp.to_datetime)
              / td.center
              /   - update = @offers_log.detect { |el| el.id = offer.log_id }.updated_at
              /   = l(update.to_datetime)
              td.center
                = offer.room_type.full_name_pt_br
              td.center
                = offer.room.number
              td.center
                = t(Offer::ACCEPTED_STATUS_REVERSED[offer.status].to_s.capitalize.to_sym)

      = pagination_links_for @offers
