.row
  .col-sm-12.border-box
    = simple_form_for([:public, @job_title, traveler], url: @url_form) do |f|

      = f.input :name
      = f.association :job_title
      = f.input :email
      = f.input :phone_number
      - if traveler.errors.has_key?(:cpf) && traveler.errors.has_key?(:passport)
        = f.input :cpf, input_html: { class: 'js-mask-cpf js-credit-card-owner-cpf', error: false, wrapper_html: {class: 'has-error'} }
        = f.input :passport, error: false, input_html: { class: 'js-credit-card-owner-passport'}, wrapper_html: { class: 'has-error'}
      - else
        = f.input :cpf, input_html: { class: 'js-mask-cpf js-credit-card-owner-cpf'}
        = f.input :passport, input_html: { class: 'js-credit-card-owner-passport'}
        
      .divider.address
        span
          = t(:address)

      .address-fields ng-controller="PublicUsersEditCtrl" 

        .form-group.string.optional.traveler_address
          label.string.optional.col-sm-3.control-label for="address"
            => "#{t(:address)}"
          .col-sm-4
            input.string.optional.col-sm-12.form-control.big-input.autocomplete id="autocomplete" name="address" type="text"

        .form-group.string.optional.traveler_country
          label.string.optional.col-sm-3.control-label for="country"
            => "#{t(:country)}"
          .col-sm-4
            input.string.optional.col-sm-12.form-control.big-input disabled="disabled" id="country" name="traveler[country]" type="text" value="#{@traveler.country}"
  

        = f.input :state, input_html: { class: 'big-input', disabled: "disabled", id: 'administrative_area_level_1'}
        = f.input :city, input_html: { class: 'big-input', disabled: "disabled", id: 'locality'}
        = f.input :street, input_html: { class: 'big-input', disabled: "disabled", id: 'route'}
        = f.input :number, input_html: { class: 'big-input', disabled: "disabled", id: 'street_number'}
        = f.input :complement, input_html: { class: 'big-input'}
        = f.input :postal_code, input_html: { class: 'big-input', id: 'postal_code'}
      
        .form-actions.wizard-actions.form-buttons.text-right
          = link_to("<i class='glyphicon glyphicon-arrow-left'></i> #{t(:return)}".html_safe, public_company_detail_path(@job_title.company_detail), {class: 'btn btn-prev '})
          = button_tag(type: 'submit', class: "btn btn-success btn-next cpy-submit-button") do
            => t(:save)
            i.glyphicon.glyphicon-arrow-right

javascript:

  $('form').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) { 
      e.preventDefault();
      return false;
    }
  });
