.row
  .col-sm-12.border-box
    .page-header
      h1.page-title
        = t(:viewing) + ' ' + t(:traveler).downcase
.row
  .col-sm-12.border-box        
    = show_for @traveler do |u|
      = u.attribute :name
      = u.attribute :job_title do 
        =@traveler.job_title.name
      = u.attribute :budget_value


    hr
    .wizard-actions.form-actions.text-right
      = link_to "#{t(:new) + ' ' + t(:traveler).downcase}", new_public_cost_center_traveler_path(@traveler.cost_center_id), class: 'btn btn-sm btn-success pull-right cpy-add-link'
      = link_to("<i class='glyphicon glyphicon-arrow-left'></i> #{t(:return)}".html_safe,public_cost_center_path(@traveler.cost_center), {class: 'btn btn-prev '})
      = link_to "<i class='glyphicon glyphicon-edit'></i> #{t(:edit)}".html_safe, edit_public_traveler_path(@traveler), class: 'btn btn-info'
/= render partial: 'public/company_details/cost_centers/travelers/credit_cards/index'