.col-xs-12#footer
	.col-sm-4.conj
		= link_to image_tag('copa_sul_hotel/logo-footer.png')
		|<p>Copacabana • Rio de Janeiro

	.col-sm-4.conj
		<br>
		i.fa.fa-phone = t("views.affiliates.copa_sul_hotel.central")
		.hov
			= link_to "+55 21 3202 9450", "tel:#{552132029450}"
		.hov
			i.fa.fa-envelope
			= mail_to 'copasul@copasul.com.br'
	.col-sm-4.conj
		<br>
		i.fa.fa-map-marker #{t(:address)}: Av. N. S. Copacabana - 1284
		|Copacabana - CEP 22070 012
		<br>Rio de Janeiro - Brasil

.under.col-lg-12
	.left
		= t("views.affiliates.copa_sul_hotel.all_rights")
	.right
		= link_to "<i class= 'fa fa-instagram'></i>".html_safe, 'https://www.instagram.com/hotelcopasul/', target: 'blank'
	.right
		= link_to "<i class= 'fa fa-facebook'></i>".html_safe, 'https://www.facebook.com/hotelcopasul', target: 'blank'
	.right
		= link_to "<i class= 'fa fa-tripadvisor'></i>".html_safe, 'https://www.tripadvisor.com.br/Hotel_Review-g303506-d305466-Reviews-Copa_Sul_Hotel-Rio_de_Janeiro_State_of_Rio_de_Janeiro.html', target: 'blank'
