.public-users-controller
  .js-modal-add-photo
    .modal-header
      padding: 15px !important
    .modal-body
      input[type="text"]
        color: #858585
        background-color: #ffffff
        border: 1px solid #d5d5d5
        padding: 5px 4px
    .modal-footer
      .btn
        display: inline-block !important
  h1.page-title
    margin-bottom: 0px

  form
    .nested-photo-form-title
      .btn
        display: inline-block
        color: #FFF !important
        border-radius: 5px
        margin-left: 20px
    .divider
      margin: 30px 0px 30px

    .form-group
      .big-input
        width: 400px
      select, #user_number
        width: 100% 

    input.btn-success
      width: 100%

  .form-actions
    float: right

    a
      margin-right: 20px
