@media (max-width: 768px)
  .public-layout.public-sessions-controller
    .login-site
      margin: 0
    .with-padding
      padding: 10px

    .nav.nav-tabs
      margin-top: 10px
      li.active
        a
          background-color: #f9f9f9
