.hotel-offers-controller.index-action,
.hotel-meeting-room-offers-controller.index-action,
.hotel-event-room-offers-controller.index-action
  .filter
    margin-bottom: 10px
  .table
    overflow-x: scroll
    display: block
    margin-bottom: 10px
    max-width: 100%

    .room_type_header_row
      background: #81C5DB
      font-weight: bold