.hotel-offers-controller.new-action, .hotel-offers-controller.remove-action,
.hotel-meeting-room-offers-controller.new-action, .hotel-meeting-room-offers-controller.remove-action,
.hotel-event-room-offers-controller.new-action, .hotel-event-room-offers-controller.remove-action

  .checkbox
    margin-top: -5px


  .form-section-config
    margin-top: 30px

    .btn-minier
      margin-top: 5px

  .arrow-down-form-incompleted
    height: 100%
    margin: 0
    padding: 10px 15px 10px 15px
