.hotel-offers-controller.remove-intermediate-step-action,
.hotel-meeting-room-offers-controller.remove-intermediate-step-action,
.hotel-event-room-offers-controller.remove-intermediate-step-action

  .number-of-offers-to-remove-section
    margin: 0 0 12px
    padding-bottom: 16px
    padding-top: 7px

    h1
      padding: 0
      margin: 0 8px
      font-size: 24px
      font-weight: lighter
      color: #2679b5

      .text
        position: relative
        top: 7px
