.public-affiliate-layout.public-affiliate-hotel-controller.index-action
  .filter-wrapper
    padding: 0px 20px

    h3.filter-title
      background: image-url('filter-icon.png') center left no-repeat
      font-size: 14px
      font-weight: 800
      letter-spacing: 1px
      margin-bottom: 5px
      padding-left: 30px

    .form-group
      margin: 15px 0px
      label
        font-weight: 300
        margin: 0px
        font-size: 13px
      input,select
        display: table-cell
        height: 40px
        border-radius: 0px
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px
        padding-left: 5px
      select
        -webkit-appearance: none
        background: white image-url('arrow-down-black.png') no-repeat center right
        border-radius: 5px
        display: block

      input
        border-radius: 0px
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px

      &.max-distance
        input
          border-radius: 5px

      &.form-buttons
        padding: 7px 0px

        .btn.green
          width: 100%
          font-size: 14px
          letter-spacing: 0px

        .clear-filters
          padding-top: 10px
          a.link
            margin-top: 0px

            &:hover
              cursor: pointer

      .money-input
        display: table
        background-color: $success-button
        border-radius: 5px
        width: 100%
        height: 40px

        .monetary-sign
          color: white
          display: table-cell
          border-top-left-radius: 5px
          border-bottom-left-radius: 5px
          font-weight: 400
          vertical-align: middle
          width: 40px

      .distance-input
        display: table
        background-color: $success-button
        border-radius: 5px
        width: 100%
        height: 40px

        input
          border-top-right-radius: 0
          border-bottom-right-radius: 0

        .distance-sign
          color: white
          display: table-cell
          border-top-right-radius: 5px
          border-bottom-right-radius: 5px
          font-weight: 400
          vertical-align: middle
          width: 40px

  &.browserIE
    .filter-wrapper .form-group select
      display: block

    .money-input, .distance-input
      .form-control
        width: 100% !important

body.browserIE
  &.browserIE10, &.browserIE9
    .money-input, .distance-input
      input
        width: 100% !important
