.col-xs-12#footer
  .col-sm-6
    .row
      | BELO HORIZONTE - Vila da Serra - 34006.056 - Nova Lima/MG 
    .row
      | Al. Oscar Niemeyer, 288 - Sala 403 - (31) 2531-8800
  .col-sm-6
    .row
      | SÃO PAULO - Cerqueira César - 01414.001
    .row
      | R. Haddock Lobo, 131 - Salas 1.503 - 15ª andar - (11) 3214-2407
.col-xs-12#footer-logo
  #line
  .col-md-6.pull-left
    = image_tag('vert/vert_logo_fundo_negativo.png')
