.search-hotels-wrapper
  .col-md-12
    .slideOutTab
      .hidden 
        input type="checkbox" name="toggle" id="toggle"
      .how-it-works-content.text-center
        .col-md-4
          .service-box
            h2 = t :you_decide_when_check_into_the_hotel
            .image = image_tag('calendar-and-clock-blue.png')
            p.description = t :you_decide_when_check_into_the_hotel_description
        .col-md-4
          .service-box
            h2 = t :you_decide_how_many_hours_you_need
            .image = image_tag('clock-blue.png')
            p.description = t :you_decide_how_many_hours_you_need_description
        .col-md-4
          .service-box
            h2 = t :pay_a_fair_price
            .image = image_tag('preco-justo-blue.png')
            p.description = t :pay_a_fair_price_description
      .how-it-works-btn
        .row
          .arrow-up-or-down.glyphicon.glyphicon-chevron-up
        .row
          span = t :how_it_works
    .search-box.js-headline-search

      = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/mobile_search_form_content"