ruby:
  # we must keep in here because there are some controllers in the public area that doen'st inherit from public::base

  more_hours = false
  ng_init_for_search_form = if last_search_log
    # 0 - day
    # 1 - month
    # 2 - year
    date_parts = last_search_log.checkin_date.split("/") 
    english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
    length_of_pack = last_search_log.length_of_pack
    checkin_hour = (last_search_log.room_category == 1 && last_search_log.checkin_hour < 18) ? 18 : last_search_log.checkin_hour
    checkout_hour = checkin_hour + length_of_pack
    checkout_date = ''
    if checkout_hour >= 24
      checkout_hour -= 24
    end
    if last_search_log.length_of_pack > 12
      if I18n.locale == :pt_br
        checkin_with_hours = I18n.locale == :en ? (english_date_format.to_datetime + checkin_hour.hour) : (last_search_log.checkin_date.to_datetime + checkin_hour.hour)
        checkout_with_hours = checkin_with_hours + length_of_pack.hour
        checkout_date = I18n.locale == :en ? checkout_with_hours.strftime('%m/%d/%Y') : checkout_with_hours.strftime('%d/%m/%Y')
        checkout_hour = checkout_with_hours.strftime('%H')
        more_hours = true
      else
        length_of_pack = 3
        checkout_hour = checkin_hour + length_of_pack
        checkout_date = ''
        if checkout_hour >= 24
          checkout_hour -= 24
        end           
      end
    end
    %Q{
      latitude = '#{last_search_log.latitude}';
      longitude = '#{last_search_log.longitude}';
      checkinDate = '#{I18n.locale == :en ? english_date_format : last_search_log.checkin_date}';
      parsedSelectedCheckinDate = '#{last_search_log.checkin_date}';
      checkinHour = #{checkin_hour};
      numberOfPeople = #{last_search_log.number_of_people};
      cityName = '#{last_search_log.city_name}';
      stateName = '#{last_search_log.state_name}';
      address = '#{last_search_log.address}';
      moreHours = '#{more_hours}';
      setSearchDate();
      selectedPackSize = #{length_of_pack};
      checkoutHour = #{checkout_hour};
      checkoutDate = '#{checkout_date}';
      setLatitudeAndLongitudeValidity();
      disableCheckinButtons();
      disableCheckoutButtons();
    }.squish
  else
    ""
  end


= form_tag public_affiliate_hotels_path, method: :get, class: 'form-horizontal', "ng-controller" => "PublicMobileSearchCtrl", "ng-init" => "#{ng_init_for_search_form}" do

  .hidden
    input.cpy-mobile-city-name type='text' ng-model="cityName" name='city_name'
    input.cpy-mobile-state-name type='text' ng-model="stateName" name='state_name'
    input.cpy-mobile-latitude-field type="text" name="by_latitude" ng-model='latitude'
    input.cpy-mobile-longitude-field type="text" name="by_longitude" ng-model='longitude'
    input.cpy-mobile-pack-length type="text" name="by_pack_length" ng-model="selectedPackSize"
    input.cpy-pack-length type="text" name="by_pack_lengthMTR" ng-model="selectedPackSizeMTR"
    input.cpy-mobile-room-category type="text" name="room_category" ng-model="selectedTabRoom"
    input.cpy-mobile-number-of-people type="text" name="by_number_of_people" ng-model="numberOfPeople"
    input.cpy-timezone type="text" name='by_timezone' ng-model="timezoneSearched"
    input.hidden.cpy-search-by type="text" name="by_search"
    
  - if mobile_device?
    .col-md-12.search-form-header.hidden-sm.hidden-md.hidden-lg
      h1.book-hotels
        = t(:book_by_hours)
  .tabbable
    .tab-content.tab-content-custom-mobile
      .tab-pane.fade.in.active#rooms
        .row
          .col-xs-12
            = "#{t(:where_are_you_going)}"
        .row
          .col-xs-12.adress-input
            input.form-control.js-autocomplete.size-100-percent.cpy-mobile-address id="js-autocomplete" placeholder="#{t :destiny_placeholder}" type="text" ng-model='address' ng-change='setSearchDate()'
            p.hint = t :we_will_search_the_nearest_hotels

        .row
          .col-sm-12
            .display-table.people-checkin-inputs
              .display-table-cell.size-78-percent
                .row
                  .col-xs-12
                    .secondary-title#title-homepage = t 'search_box.checkin'
                .row.checkin-mobile
                  .col-xs-6
                    = "#{t(:date_word)}:"
                    br
                    .input-group.date-picker-inputs#datepicker-homepage

                      input.js-date-picker.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="checkinDate" ng-change='setSearchDate()'

                      input.hidden.cpy-checkin-date ng-model="parsedSelectedCheckinDate" name='by_checkin_date'
                      input.hidden.cpy-timezone ng-model="timezoneSearched" name='by_timezone'

                  .col-xs-6
                    = "#{t(:hour)}:"
                    br
                    - array_hours_am_pm = {"12 AM" => 0}.merge!(1.upto(11).collect { |n| {"#{n} AM" => n} }.reduce(Hash.new, :merge)).merge!({"12 PM" => 12}).merge!(1.upto(11).collect { |n| {"#{n} PM" => n + 12} }.reduce(Hash.new, :merge))
                    - array_hours = []
                    - 24.times do | i |
                      - array_hours << i
                    - if I18n.locale != :pt_br
                      = select_tag 'by_checkin_hour', options_for_select(array_hours_am_pm.collect { | hour, value | ["#{hour}", value]}), class: 'js-checkin-time js-checkin-hour size-100-percent', 'ng-model' => 'checkinHour'
                    - else
                      = select_tag 'by_checkin_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time js-checkin-hour size-100-percent', 'ng-model' => 'checkinHour', 'ng-change' => 'changeCheckinHour()'

              .display-table-cell.number-of-people-input-size
                  .up.hidden-xs.hidden-sm = "#{t(:number_of_people)}"
                  .up.hidden-md.hidden-lg = "#{t('search_box.people')}"
                  = select_tag '', options_for_select(1..4), "ng-model" => "numberOfPeople"


        .row.checkout ng-show='moreHours'
          .col-sm-12
            .display-table.people-checkin-inputs
              .display-table-cell.size-78-percent
                .row
                  .col-xs-12
                    .secondary-title#title-homepage = t 'search_box.checkout'
                .row.checkin-mobile
                  .col-xs-6
                    = "#{t(:date_word)}:"
                    br
                    .input-group.date-picker-inputs#datepicker-homepage
                      input.cpy-checkout-date-calendar-input.js-search-date-picker.form-control.js-mask-date#datepicker-checkout ng-model="checkoutDate" ng-change='setSearchEndDate()'

                      input.hidden.cpy-checkout-date ng-model="parsedSelectedCheckoutDate" name='by_checkout_date'
                      input.hidden.cpy-checkout-date ng-model="timezoneSearched" name='by_timezone'

                  .col-xs-6
                    = "#{t(:hour)}:"
                    br
                    - array_hours = []
                    - (7..12).each do | i |
                      - array_hours << i
                    = select_tag 'by_checkout_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time js-checkout-hour size-100-percent', 'ng-model' => 'checkoutHour', 'ng-change' => 'changeCheckoutHour()'


        .row.pack-size-row ng-hide='moreHours'
          .col-xs-12
            .display-table.pack-size-table
              .display-table-cell
                .up = "#{t(:pack_size)}"
                .btn-group.pack-size
                  span.clock
                    = image_tag 'clock-light-gray.png'
                  - Offer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
                    a.btn.rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSize == #{pack_size}}" ng-click="selectedPackSize = #{pack_size}" #{pack_size}h



        .row.pack-size-hint#teste ng-hide='moreHours'
          .col-xs-12
            p.hint = t :period_in_which_you_are_staying_at_hotel

        - if I18n.locale == :pt_br
          .row.more-hours-button.text-center
            .col-xs-12
              button.btn.mini.more-hours type="button" ng-click="changeMoreHours('plus')" ng-hide='moreHours'
                | Reservar mais de 12h
              button.btn.mini.more-hours type="button" ng-click="changeMoreHours('minus')" ng-show='moreHours'
                | Reservar até 12h

        .row
          .col-xs-12.text-center
            .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmit()}}"
              button.submit-disabled.cpy-disabled-search-button.btn.green.search-button#teste disabled='disabled' ng-hide='isFormValid()'
                = t(:perform_search)

            button.cpy-search-button.ng-hide.btn.green.search-button ng-disabled='!isFormValid()' ng-show='isFormValid()'
              = t(:perform_search)