ruby:
  # we must keep in here because there are some controllers in the public area that doen'st inherit from public::base
  ng_init_for_search_form = if last_search_log
    # 0 - day
    # 1 - month
    # 2 - year
    date_parts = last_search_log.checkin_date.split("/")
    english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
    length_of_pack = last_search_log.room_category == 1 ? 12 : last_search_log.length_of_pack
    checkin_hour = (last_search_log.room_category == 1 && last_search_log.checkin_hour < 18) ? 18 : last_search_log.checkin_hour
    checkout_hour = checkin_hour + length_of_pack
    if checkout_hour >= 24
      checkout_hour -= 24
    end
      
    %Q{
      latitude = '#{last_search_log.latitude}';
      longitude = '#{last_search_log.longitude}';
      checkinDate = '#{I18n.locale == :en ? english_date_format : last_search_log.checkin_date}';
      parsedSelectedCheckinDate = '#{last_search_log.checkin_date}';
      checkinHour = #{checkin_hour};
      numberOfPeople = #{last_search_log.number_of_people};
      selectedPackSize = '#{last_search_log.length_of_pack}';
      cityName = '#{last_search_log.city_name}';
      stateName = '#{last_search_log.state_name}';
      address = '#{last_search_log.address}';
      selectedTabRoom = '#{last_search_log.room_category || 1}';
      checkoutHour = #{checkout_hour};
      setLatitudeAndLongitudeValidity();
    }.squish
  else
    ""
  end
  

.search-hotels-wrapper

  .row.describe-home.text-center.no-margin
    .col-md-12.hidden-xs
      span
         =t('views.affiliates.hotelurbano2.booking')
  .row.no-margin
    .col-md-12.no-padding
      .search-box.js-headline-search
        = form_tag public_affiliate_hotels_path, method: :get, class: '', "ng-controller" => "PublicAffiliateSearchCtrl", "ng-init" => "#{ng_init_for_search_form}" do

          .hidden
            input.cpy-city-name type='text' ng-model="cityName" name='city_name'
            input.cpy-state-name type='text' ng-model="stateName" name='state_name'
            input.cpy-latitude-field type="text" name="by_latitude" ng-model='latitude'
            input.cpy-longitude-field type="text" name="by_longitude" ng-model='longitude'
            input.cpy-pack-length type="text" name="by_pack_length" ng-model="selectedPackSize"
            input.cpy-room-category type="text" name="room_category" ng-model="selectedTabRoom"
            input.cpy-address type="text" name="by_address" ng-model="address"
            input.cpy-number-of-people type="text" name="by_number_of_people" ng-model="numberOfPeople"
            
          - if mobile_device?
            .col-xs-12.search-form-header.hidden-sm.hidden-md.hidden-lg
              h1.book-hotels
                = t(:book_hotels)
          .tabbable
            .tab-content-custom
              = render partial: "/layouts/public_affiliate/personalized_affiliate/#{layout_name}/search_form_content"

.services-wrapper
  .container
    .row
      .col-md-12
        h1.title = t :how_it_works
    .row.text-center
      .col-md-4
        .service-box
          h2 = t :you_decide_when_check_into_the_hotel
          .image.service-img = image_tag('calendar-and-clock-blue.png')
          p.description = t :you_decide_when_check_into_the_hotel_description
      .col-md-4
        .service-box
          h2 = t :you_decide_how_many_hours_you_need
          .image.service-img = image_tag('clock-blue.png')
          p.description = t :you_decide_how_many_hours_you_need_description
      .col-md-4
        .service-box
          h2 = t :pay_a_fair_price
          .image.service-img = image_tag('preco-justo-blue.png')
          p.description = t :pay_a_fair_price_description
.divider

.airport_hotels#airports
 .container
   .row
     .col-md-12
       h1.airpot_title = t :are_you_going_to_travel
   .row.text-center#airport_scroller
     .scroller
       - @main_airports.each do |main_airport|
         .service-box
           = link_to public_airport_path(id: main_airport.id, place_name: main_airport.send("name_#{I18n.locale}").parameterize) do
             = main_airport.photos.present? ? image_tag(main_airport.photos.first.direct_image_url, class: 'image') : image_tag('airports/airport_default_image.jpeg', class: 'image')
             h2.image_title #{main_airport.send("name_#{I18n.locale}")}
     .row#other_airports
       - @airports.each_slice(2) do |airports|
         - airports.each do |airport|
           .col-md-4
             .airport_box #{link_to airport.send("name_#{I18n.locale}"), public_airport_path(id: airport.id, place_name: airport.send("name_#{I18n.locale}").parameterize)} >

   p.more_airport_hotels #{link_to t(:more_airport_hotels), public_airports_path}


.airport_hotels#cities
 .container
   .row
     .col-md-12
       h1.city_title = t :book_hotels_in_the_main_cities
   .row.text-center#airport_scroller
     .scroller
       - @main_cities.each do |main_city|
         .service-box
           = link_to public_city_path(id: main_city.id, place_name: main_city.send("name_#{I18n.locale}").parameterize) do
             = main_city.photos.present? ? image_tag(main_city.photos.first.direct_image_url, class: 'image') : image_tag('cities/city_default_image.jpeg', class: 'image')
             h2.image_title #{main_city.send("name_#{I18n.locale}")}
     .row#other_airports
       - @cities.each_slice(2) do |cities|
         - cities.each do |city|
           .col-md-4
             .airport_box #{link_to city.send("name_#{I18n.locale}"), public_city_path(id: city.id, place_name: city.send("name_#{I18n.locale}").parameterize)} >

   p.more_airport_hotels #{link_to t(:more_cities), public_cities_path}

.divider
.services-wrapper.when-booking
  .container
    .row
      .col-xs-12
        h1.title = t :when_booking
        br
    .row
      .col-sm-6
        .col-sm-12.text-center
          .glyphicon.glyphicon-plane.big-icon
        br
        br
        .col-sm-12
          b = t :traveling
          ul
            li = t :to_wait_for_a_flight_or_commitment
            li = t :to_spend_only_1_night
            li = t :to_come_earlier_or_leave_later
            li = t :to_take_a_shower
      .col-sm-6
        .col-sm-12.text-center
          .glyphicon.glyphicon-home.big-icon
        .col-sm-12
          b = t :in_your_own_city
          ul
            li = t :to_spend_the_night_away_from_home
            li = t :to_dinner_and_sleep_way_from_home
            li = t :to_take_a_shower_when_you_are_away_from_home
            li = t :to_enjoy_the_spa_pool_gym

javascript:
  $(window).ready(function(){
    $('.scroller').slick({
      dots: true,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      variableWidth: true,
      mobileFirst: true,
      swipeToSlide: true,
      autoplay: true
    })
  })
