
.container
  .row
    .col-md-12.logo
        = image_tag 'logo-green-white.png', class: 'hq-logo'
    .col-md-6.col-md-offset-3
      .page_wrapper
        .back-page
        .visible.login-box
          h1
            | Área do Executivo

          = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
            = f.error_notification
            - if flash['alert']
              p.alert.alert-danger.text-justify
                = flash['alert']
            .form-group.login.optional.executive_responsible_executive_responsible_login
              label.login.optional.col-md-3.control-label for="executive_responsible_executive_responsible_login"
                | Login
              .col-md-9
                span.input-icon.input-icon-right
                  input autofocus="autofocus" class="string login optional col-md-12 form-control" id="executive_responsible_executive_responsible_login" name="executive_responsible_executive_responsible[login]" type="text" value=""
                  i.icon-user

            .form-group.password.optional.executive_responsible_executive_responsible_password
              label.password.optional.col-md-3.control-label for="executive_responsible_executive_responsible_password"
                | Senha
              .col-md-9
                span.input-icon.input-icon-right
                  input.password.optional.col-md-12.form-control id="executive_responsible_executive_responsible_password" name="executive_responsible_executive_responsible[password]" type="password"
                  i.icon-lock

            .form-group
              .col-md-3
              .col-md-9
                .checkbox.no-padding
                  label
                    input#executive_responsible_executive_responsible_remember_me.ace name="executive_responsible_executive_responsible[remember_me]" type="checkbox" value="1"
                    span.lbl
                      =< 'Permanecer logado'

            div.login-actions
              button.btn.pull-right.btn-primary.cpy-submit-button name="commit" type="submit"
                span
                  | Entrar
                i.icon-arrow-right.icon-on-right
              = render partial: "executive_responsible/_login/links", class: 'pull-left'
              .clearfix

