.public-affiliate-hotel-controller.meeting-room-hotel-chain-action


  #transamerica-hotels-select-hq
    height: 35px
    font-size: 1em
    margin-bottom: 12px
    width: 455px

  .selectize-input.items.full.has-options.has-items
    width: 200px
    height: 40px
    
  .pack-size
    width: 310px !important

  .hotels-box
    .desktop-individual-hotel-row
      border-top: 1px solid #eeeeee
      padding: 25px 0px

      .hotel-photo
        width: 100%
        max-height: 400px
        float: left

      .hotel-name
        font-size: 16px !important
        letter-spacing: 1px !important
        font-weight: 400 !important
        a
          color: #6a6a6a !important

          &:hover
            color: lighten(#6a6a6a, 15%) !important

      .business-room-name
        font-size: 21px
        letter-spacing: 1px
        font-weight: 500
        span
          font-size: 20px
          color: #6a6a6a !important

        a
          text-decoration: none

        p.complement-business-room-name
          font-size: 12px
          letter-spacing: 1px
          font-weight: 500
          color: #6a6a6a !important

        span.complement-hotel-name
          font-size: 16px
          letter-spacing: 1px
          font-weight: 500
          color: #666

      .hotel-rating
        color: #1b4d73
        letter-spacing: 9px

        .glyphicon
          font-size: 13px

      .hotel-address
        margin-top: -3px
        font-size: 12px
        letter-spacing: 1px
        font-weight: 400

        a
          color: #6a6a6a !important

          &:hover
            color: lighten(#6a6a6a, 15%) !important

        .map-marker
          font-size: 18px
          margin-right: 2px

        .distance
          font-weight: 700
          position: relative
          left: 18px

        .see-map
          font-weight: 700
          position: relative
          left: 24px

          a
            text-decoration: none

      .hotel-from-price
        font-size: 12px
        letter-spacing: 1px

        .bigger
          font-size: 23px
          color: #6a6a6a !important
          font-weight: 400

      .hotel-description, .hotel-payment-methods
        font-size: 12px
        letter-spacing: 0px
        margin-top: 5px
        margin-bottom: 8px
        text-align: justify

      .hotel-details
        letter-spacing: 1px
        font-size: 14px
        font-weight: 400

      .points-multiplus
        background: #d8d8d8
        border-radius: 4px
        padding: 5px 10px 1px 10px

        p.product-price-from
          font-size: 8px
          line-height: 1.5em
          margin: 0
          margin-bottom: 0.5em
          font-family: "gotham_boldregular",sans-serif !important

        p.product-price
          display: block
          font-size: 1.25em
          line-height: 1
          text-align: left
          font-family: "gotham_boldregular",sans-serif !important

          span.strong
            color: #117fca
            font-style: normal
            font-weight: normal

          em
            display: inline-block
            font-size: 0.4em
            font-style: normal
            line-height: 1
            margin-left: 8px
            text-transform: uppercase
            width: 5.9em

  .top_image_container
    width: 100%
    position: absolute
    left: 0px
    z-index: 1

  .js-float-search-form
    margin: 0px
    display: inline-block
    width: 100%
    position: absolute
    bottom: 0px
    left: 0
    padding: 0px
    color: #737373
  .image-room-category
    height: 239px
    background-repeat: no-repeat
    background-size: 100% auto
    background-position: center
    position: absolute
    width: 100%
    &.any-time-rooms-background
      background-image: image-url('atlantica/bedrooms.png')
      background-position: 50% 70%
    &.meeting-rooms-background
      background-image: image-url('atlantica/meeting-rooms.png')


  .gradient_overlay
    background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 4%, rgba(0,0,0,0.84) 5%, rgba(0,0,0,0) 100%)
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 4%,rgba(0,0,0,0.84) 5%,rgba(0,0,0,0) 100%)
    background: linear-gradient(to bottom, rgba(0,0,0,0.85) 4%,rgba(0,0,0,0.84) 5%,rgba(0,0,0,0) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 )
    width: 100%
    height: 90px
    position: absolute

  .search-not-found
    letter-spacing: 1px
    margin-top: 60px
    margin-bottom: 60px

    .no-matches
      margin-top: 20px
      margin-bottom: 50px

    .glyphicon
      font-size: 100px
      color: #555555
    .subscribe-form-wrapper
      width: 800px
      margin: 0 auto
      margin-top: 10px

      h5
        margin-bottom: 20px

      p.success
        color: #3c763d

    .label-email
      display: inline-block
      margin-right: 10px

    .input-email
      display: inline-block !important
      width: 300px
      padding: 22px 5px
      font-size: 16px

    .subscribe-button
      margin-left: 10px
      display: inline-block
      position: relative
      padding-top: 13px
      top: -2px

    .error
      margin-top: 10px
      color: red

  .search-informations-wrapper
    background-color: whitesmoke
    padding: 0px 20px

    h3.searched-title
      padding-right: 12%
      background: image-url('building-icon.png') center left no-repeat
      font-size: 14px
      font-weight: 800
      letter-spacing: 1px
      margin-bottom: 5px
      padding-left: 30px

    .box
      .searched
        padding: 1px 0px
        h4
          color: #1b4d73
          font-size: 13px
          font-weight: 400
          margin: 0px
        p
          font-size: 13px

    .pill
      &.medium
        &.white
          color: black !important
          width: 100%
          letter-spacing: 1px
          font-size: 15px
          font-weight: 400
          height: 40px
          line-height: 15px

  .hotel-list-page-wrapper
    margin-bottom: 20px
    margin-top: 26%

    .btn
      display: inline-block

    .all-matches-hotels
      border-radius: 5px
      box-shadow: 0 0 10px lightgray
      padding: 20px 30px
      background: white
      min-height: 682px

      .exact-matches-hotels,.similar-matches-hotels
        .tudo-azul
          display: block
          margin-bottom: 20px
          border-radius: 5px

          .image
            text-align: center
            img
              width: 100px
              &.uber-img
                margin-right: 15px
                margin-top: 11px
              &.tudo-azul-img
                margin-right: 20px
              &.tudo-azul-img-no-uber
                margin-right: 35px
              &.multiplus-img
                margin-left: 0px
          .description-click-icon
            margin-top: 10px
          .description
            text-align: right
            margin-top: 33px
            font-size: 12px
            &.no-uber
              margin-top: 20px
            p
              margin: 0
              line-height: 18px
              color: #444
          .blue
            color: #16BBEA

        img
          border-radius: 5px

        .title
          font-size: 17px
          color: #444444
          letter-spacing: 1px

          .similar-matches-length,.exact-matches-length
            color: black

      .similar-matches-hotels
        .subtitle
          font-size: 13px
          color: #777777
          font-weight: 400

  .filter-wrapper
    background: whitesmoke
    padding: 0px 20px

    h3.filter-title
      padding-right: 20%
      background: image-url('filter-icon.png') center left no-repeat
      font-size: 14px
      font-weight: 800
      letter-spacing: 1px
      margin-bottom: 5px
      padding-left: 30px

    .form-group
      margin: 15px 0px
      label
        font-weight: 300
        margin: 0px
        font-size: 13px
      input,select
        display: table-cell
        height: 40px
        border-radius: 0px
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px
        padding-left: 5px
      select
        -webkit-appearance: none
        background: white image-url('arrow-down-black.png') no-repeat center right
        border-radius: 5px
        display: block

      input
        border-radius: 0px
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px

      &.max-distance
        input
          border-radius: 5px

      &.form-buttons
        padding: 7px 0px

        .btn.green
          width: 100%
          font-size: 14px
          letter-spacing: 0px

        .clear-filters
          padding-top: 10px
          a.link
            margin-top: 0px

            &:hover
              cursor: pointer

      .money-input
        display: table
        background-color: $success-button
        border-radius: 5px
        width: 100%
        height: 40px

        .monetary-sign
          color: white
          display: table-cell
          border-top-left-radius: 5px
          border-bottom-left-radius: 5px
          font-weight: 400
          vertical-align: middle
          width: 40px

      .distance-input
        display: table
        background-color: $success-button
        border-radius: 5px
        width: 100%
        height: 40px

        input
          border-top-right-radius: 0
          border-bottom-right-radius: 0

        .distance-sign
          color: white
          display: table-cell
          border-top-right-radius: 5px
          border-bottom-right-radius: 5px
          font-weight: 400
          vertical-align: middle
          width: 40px

  .side-filter-informations
    background: whitesmoke
    position: relative
    right: -20px

    h3
      font-size: 14px
      font-weight: 800
      letter-spacing: 1px
      margin-bottom: 5px
      margin-top: 20px
      padding-bottom: 8px
      padding-top: 10px

  &.browserIE
    .filter-wrapper .form-group select
      display: block

    .money-input, .distance-input
      .form-control
        width: 100% !important

body.browserIE
  &.browserIE10, &.browserIE9
    .money-input, .distance-input
      input
        width: 100% !important
