@media (max-width: 768px)
  .public-affiliate-hotel-controller
    .container.with-padding-top
      table thead
        border: 1px solid rgb(219, 219, 219)
      .hotel-photos
        padding: 0 10px
        .img
          margin: 0
          height: inherit
          line-height: 90px
          a
            display: block
            text-align: center
            img
              max-width: 90px
              max-height: 90px
      .hotel-description
        p.description-text
          text-align: justify
          line-height: 18px
          font-size: 13px
          margin-top: 20px
          margin-bottom: 15px
          margin-right: 10px
      p.pack-size
        margin-top: 0
        margin-bottom: 0
        font-size: 15px
      h4
        font-size: 17px
        margin: 0
    .room-type-modal
      .modal-dialog
        width: 94%
        .modal-content
          padding: 0 10px
          .modal-header
            border: none
            button.close
              color: rgb(27, 77, 115)
              margin-top: -5px
              margin-right: 0px
              font-size: 30px
            h1.modal-title
              font-size: 15px
              letter-spacing: 1px
              margin: 10px 0 0 5px
          .modal-body
            padding: 5px
            h4
              font-size: 14px
              margin-bottom: 5px
            p.room-type-description
              margin-bottom: 10px
            .room-type-photos
              img
                max-width: 100%
                max-height: 100px
            a.btn
              height: 35px
              width: 95%
              padding: 8px 0 10px
              margin: 15px auto
