ruby:
  initial_price = @booking.promotional_code_log.present? ? @booking.initial_price_with_discount : @booking.initial_price
  extra_people_price = @booking.promotional_code_log.present? ? @booking.extra_people_price_with_discount : @booking.extra_people_price
  total_price = @booking.total_price_without_tax
  no_show_value = @booking.no_show_value_without_tax
  user_payment_unit = Currency.by_code_or_money_sign(Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol])
  authorized_or_captured_payment = @booking.payments.authorized_or_captured.order(created_at: :desc).first.authorized_at if user_payment_unit

.row
  .col-sm-6
    h3.center.header.lighter.green
      | #{t('views.hotel.bookings.general_information')}
    .attributes-wrapper.booking_status
      .attribute-title
        | #{t('views.hotel.bookings.status')}
      .content.js-booking-status.cpy-booking-status
        = t(Booking::ACCEPTED_STATUS_REVERSED[@booking.status])
    = u.attribute :guest_name
    = u.attribute :guest_email
    = u.attribute :number_of_people
    hr
    .attributes-wrapper.booking_room_type
      .attribute-title
        | #{t('views.hotel.bookings.meeting_room_name')}
      .content
        = @booking.business_room.name_pt_br
    .attributes-wrapper.booking_pack_size
      .attribute-title
        | #{t('views.hotel.bookings.package_size')}
      .content
        = "#{@booking.pack_in_hours}h"
    hr
    .attributes-wrapper.booking_checkin
      .attribute-title
        | #{t('views.hotel.bookings.checkin')}
    .attributes-wrapper.booking_checkin_date
      .attribute-title
        | #{t('views.hotel.bookings.date')}
      .content
        = "#{(@booking.date_interval.first + MeetingRoomOffer::ROOM_CLEANING_TIME - 1.minute).strftime("%d/%m/%Y")}"
    .attributes-wrapper.booking_checkin_hour
      .attribute-title
        | #{t('views.hotel.bookings.hour')}
      .content
        = "#{(@booking.date_interval.first + MeetingRoomOffer::ROOM_CLEANING_TIME - 1.minute).strftime("%H:%M")}"
    hr
    .attributes-wrapper.booking_checkout
      .attribute-title
        | #{t('views.hotel.bookings.checkout')}
    .attributes-wrapper.booking_checkout_date
      .attribute-title
        | #{t('views.hotel.bookings.date')}
      .content
        = "#{(@booking.date_interval.last - MeetingRoomOffer::ROOM_CLEANING_TIME + 1.minute).strftime("%d/%m/%Y")}"
    .attributes-wrapper.booking_checkout_hour
      .attribute-title
        | #{t('views.hotel.bookings.hour')}
      .content
        = "#{(@booking.date_interval.last - MeetingRoomOffer::ROOM_CLEANING_TIME + 1.minute).strftime("%H:%M")}"
    hr
    = u.attribute :note
  .col-sm-6
    - user = @booking.user
    h3.center.header.lighter.green
      | #{t('views.hotel.bookings.user_info')}

    .attributes-wrapper.booking_user_name
      .attribute-title
        | #{t('views.hotel.bookings.name')}
      .content
        = user.name
    .attributes-wrapper.booking_user_name
      .attribute-title
        | #{t('views.hotel.bookings.email')}
      .content
        = user.email
    .attributes-wrapper.booking_user_name
      .attribute-title
        | #{t('views.hotel.bookings.phone')}
      .content
        = user.phone_number
    .attributes-wrapper.booking_user_name
      .attribute-title
        | #{t('views.hotel.bookings.date_and_hour_of_reservation')}
      .content
        = l @booking.created_at
    - if @booking.status == Booking::ACCEPTED_STATUSES[:confirmed] || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_without_card])
      .attributes-wrapper.booking_user_name
        .attribute-title
          | #{t('views.hotel.bookings.date_and_hour_of_confirmation')}
        .content
          = l @booking.updated_at
    h3.center.header.lighter.green
      | #{t('views.hotel.bookings.values')}
    .attributes-wrapper.booking_user_name
      .attribute-title
        | #{t('views.hotel.bookings.initial_value')}
      .content
        - if user_payment_unit.exists? && @booking.payments.authorized_or_captured.exists?
          = number_to_currency(calculate_to_currency_at_authorized_at(@booking.hotel.currency_symbol, initial_price, @booking.currency_code, authorized_or_captured_payment), unit: user_payment_unit.first.money_sign)
        - else
          = number_to_currency(initial_price)
    /- unless @booking.booking_tax.zero?
      .attributes-wrapper.booking_user_name
        .attribute-title
          | #{t('views.hotel.bookings.reservation_tax')}
        .content
          = number_to_currency(@booking.booking_tax)
    .attributes-wrapper.booking_user_name
      .attribute-title
        | #{t('views.hotel.bookings.total_value')}
      .content
        - if user_payment_unit.exists? && @booking.payments.authorized_or_captured.exists?
          = number_to_currency(calculate_to_currency_at_authorized_at(@booking.hotel.currency_symbol, total_price, @booking.currency_code, authorized_or_captured_payment), unit: user_payment_unit.first.money_sign)
        - else
          = number_to_currency(total_price)
    .attributes-wrapper.booking_user_name
      .attribute-title
        | #{t('views.hotel.bookings.no_show_value')}
      .content
        - if user_payment_unit.exists? && @booking.payments.authorized_or_captured.exists?
          = number_to_currency(calculate_to_currency_at_authorized_at(@booking.hotel.currency_symbol, no_show_value, @booking.currency_code, authorized_or_captured_payment), unit: user_payment_unit.first.money_sign)
        - else
          = number_to_currency(no_show_value)
    - if (@booking.can_be_set_as_no_show? || @booking.can_accuse_delayed_checkout?) && !(@booking.guest_delayed_checkout?)
      .booking-actions.js-booking-actions
        h3.center.header.lighter.green
          | #{t('views.hotel.bookings.options')}
        .text-center
          - if @booking.can_be_set_as_no_show?
            = link_to t('views.hotel.bookings.set_as_no_show'), set_as_no_show_hotel_booking_path(@booking.id), class: "btn btn-sm btn-danger cpy-set-as-no-show-button js-set-as-no-show-button", method: :put, remote: true, data: { confirm: t('views.hotel.bookings.set_as_no_show_confirm') }
          - if @booking.can_accuse_delayed_checkout?
            = link_to t('views.hotel.bookings.set_late_checkout'), accuse_delayed_checkout_hotel_booking_path(@booking.id), class: "btn btn-sm btn-warning cpy-accuse-delayed-checkout-button js-set-as-no-show-button", method: :put, remote: true, data: { confirm: t('views.hotel.bookings.set_late_checkout_confirm') }

      .booking-action-result.alert.js-alert.cpy_ajax_end display="none"

    - if @booking.guest_delayed_checkout?
      hr
      .attributes-wrapper.text-center
        h4
          | #{t('views.hotel.bookings.user_late_checkout')}
