@media (max-width: 768px)
  .public-affiliate-bookings-payments-controller.create-action
    .booking-step-title
      margin:
        top: 30px
        bottom: 0
      .recommendation-size
        a
          padding: 5px 0px 5px 0px
    .description-title.room-type-description-title
      height: auto
      margin-top: 0
    .room-type-description-title, .bed-configuration-title
      h5
        display: inherit
        position: inherit
        top: 0
        margin: 0
          top: 10px
        width: 100%
    .room-type-description
      position: inherit
      left: 0
      width: 100%
      margin:
        top: 5px
        bottom: 10px
    .bed-configuration
      margin: 0
      padding-left: 25px

    .booking-info-mobile
      margin-bottom: 5px

    a.link-to-bookings-index
      font-size: 14px
      color: #57b12f
      letter-spacing: 1px

    hr
      margin: 10px -10px !important

    .booking-status
      color: #1b4d73
      font-size: 16px
      letter-spacing: 0.5px
      text-transform: uppercase
      font-weight: 400
