p #{t("views.admin.hotels.pricing_policy_warning")}
= render partial: "/hotel/pricing_policies/form/alerts"
.div ng-controller="AdminHotelPricingPoliciesFormCtrl" ng-init="init(#{@pricing_policy.room_type_pricing_policies.to_json(:include => {room_type: {methods: :full_name_pt_br}}).gsub('"', "'").html_safe}, #{@pricing_policy.to_json.gsub('"', "'").html_safe})"
  = simple_form_for [:admin, pricing_policy.hotel, pricing_policy] do |f|

    h3.header-label #{t("views.admin.hotels.pricing_policy_table_name")}
    .form-group
      .col-sm-4.col-sm-offset-4 = f.input :name, label: false, wrapper: :basic
    h3.header-label #{t("views.admin.hotels.base_price_policy")}
    p.text-center
      | #{t("views.admin.hotels.other_packages_price_policy_will_adjust")}
      br/
      | #{t("views.admin.hotels.base_price_policy_condition")}
    .base-price-list

      .base-price-item ng-repeat="rt_pricing_policy in roomTypesPricingPolices"
        .row
          .col-xs-4.text-center #{t("views.admin.hotels.room_type")} Tipo de quarto
          .col-xs-4.text-center #{t("views.admin.hotels.room_name_at_booking")} Nome no Booking.com
          .col-xs-2.text-center #{t("views.admin.hotels.value_for_one_person")} Tarifa para 1 pessoa
          .col-xs-2.text-center #{t("views.admin.hotels.value_per_extra_person")} Tarifa extra por pessoa
        .row
          .col-xs-4.text-center
            big.room-type-name
              | {{rt_pricing_policy.room_type.full_name_pt_br}}
          .col-xs-4.text-center
            big.booking-name
              | {{rt_pricing_policy.room_type.booking_name_pt_br}}
          .col-xs-2.text-center
            input.string.money-input.pack-price-24h ui-money-mask='' ng-model="rt_pricing_policy.base_price" ng-blur="updateTablePrice($index)" type='text'
          .col-xs-2.text-center
            input.string.money-input.extra-price-24h ui-money-mask='' ng-model="rt_pricing_policy.base_extra_price" ng-blur="updateTablePrice($index)" type='text'


    h3.header-label #{t("views.admin.hotels.price_policy_profile_title")}
    p.text-center #{t("views.admin.hotels.price_policy_profile_explanation")}

    table.table.table-striped.table-profiles
      thead
        th #{t("views.admin.hotels.profiles_packages")}
        th 3h
        th 6h
        th 9h
        th 12h

      tbody
        tr ng-class="{active: selectedProfile == 'normal'}"
          td #{t("views.admin.hotels.market_average")}
          td
            = HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['3_hours'].to_s + '%'
          td
            = HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['6_hours'].to_s + '%'
          td
            = HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['9_hours'].to_s + '%'
          td
            = HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['12_hours'].to_s + '%'

    p.text-center #{t("views.admin.hotels.choose_profile")}
    p.text-center.profiles-list
      span.profile ng-click="chooseProfile('normal')" ng-class="{active: selectedProfile == 'normal'}" #{t("views.admin.hotels.normal")}
      span.profile ng-click="chooseProfile('custom')" ng-class="{active: selectedProfile == 'custom'}" #{t("views.admin.hotels.custom")}
      .hidden
        = f.input :percentage_profile_name, input_html: { 'ng-model' => 'selectedProfile'}

    .percentage-form ng-show="selectedProfile == 'custom'"
      p.text-center #{t("views.admin.hotels.enter_value_for_each_pack")}
      = render(partial: "/hotel/pricing_policies/form/percentage_edit_form", locals: { form_builder: f} )

    h3.header-label.table-label #{t("views.admin.hotels.final_setting_for_pricing_policy")}
    | {{rt_pricing_policy}}
    table.table-bordered.table-hover.table
      = render partial: "/hotel/pricing_policies/components/pricing_policy_table_head"

    = render partial: "/hotel/pricing_policies/form/room_type_pricing_policy_list"

    = form_submit_section

javascript:
  yojs.set('default3HoursPackPercentage' , "#{HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['3_hours']}")
  yojs.set('default6HoursPackPercentage' , "#{HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['6_hours']}")
  yojs.set('default9HoursPackPercentage' , "#{HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['9_hours']}")
  yojs.set('default12HoursPackPercentage' , "#{HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['12_hours']}")
