.public-affiliate-layout.public-affiliate-home-controller.meeting-rooms-action
  .container
    width: 1300px

  .hidden-mobile
    width: 1324px
    margin-left: -22px

  .index_container
    max-width: 1090px
    margin-left: 9%
    line-height: 1.05
    color: #fff
    font-family: Lato, 'sans-serif' !important
    font-size: 1.05em
    font-weight: 400

    label
      font-weight: 400 !important

  .title_container.index_container
    margin-left: 20px
    width: 96%
    margin-top: 29px
    margin-bottom: -13px

  .slideOutTab
    position: absolute
    width: 100%
    top: 120px
    left: -75%
    z-index: 3

  .how-it-works-content
    display: block
    width: 75%
    height: 100%
    overflow: hidden
    background: white
    float: left
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    padding-bottom: 8px

    .powered
      margin-right: 16px

  .how-it-works-btn
    width: 120px
    height: 50px
    background: $success-button
    float: left
    position: relative
    top: 100px
    transform: rotate(90deg)
    transform-origin: left
    margin-left: 25px
    color: white
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    text-align: center
    cursor: pointer

  button.submit-disabled
    cursor: help

  .no-padding
    padding: 0
  .no-margin
    margin: 0

  .search_box_nobile
    background-color: #c6ad5f
    width: 512px
    height: 278px
    margin: 0 10px

  .search_box_hq
    background-color: #c6ad5f
    width: 512px
    height: 278px

  .nobile_section_title b
    display: block
    flex: 1
    height: 2px
    opacity: .1
    background-color: rgba(17,17,17,0.85)

  .normal_title
    border-bottom: 2px solid #ececec

  .main_title
    margin-right: 15px
    padding-bottom: 13px
    border-bottom: 2px solid rgba(0,0,0,0.1)
    margin-bottom: -2px
    text-transform: uppercase
    font-weight: 700
    font-family: "Lato", sans-serif
    color: #555
    font-size: .85em

  .highlights
    margin-right: 15px
    padding-bottom: 13px
    margin-bottom: -2px
    text-transform: uppercase
    font-weight: 700
    font-family: "Lato", sans-serif
    color: #555
    margin-bottom: 1.5em

  .highlights_title
    text-align: center
    display: flex

  .text_spacement
    margin: 0 15px -30px

  .nobile_image_container
    width: 100%
    height: 310px
    margin-top: 6%

  .nobile_inner_container
    width: 1065px
    height: 310px

    .nobile_search
      width: 532px !important
      height: 310px !important
    .scroller
      width: 532px !important
      height: 279px !important

    .slick-list.draggable
      .slick-track
        height: 279px !important

    .slick-dots
      width: 512px !important

    .hq_search
      width: 532px !important
      height: 310px !important

      .search_box_hq
        background-color: #fff !important

    .search_box_nobile
      background-image: image-url('nobile-plus.jpg') !important
      background-size: cover
      background-repeat: no-repeat

    .nupcias,
    .romantic
      height: 143px !important

    .fds
      height: 143px !important
      width: 600px !important

  .line
    border-bottom: #000 solid 2px
    opacity: 0.1
    width: auto
    margin-top: 12px
    flex: 1
    -webkit-flex: 1

  .box_line
    border-bottom: 1px solid #ececec
    width: 460px
    margin-top: 6px
    margin-bottom: 6px
    flex: 1
    line-height: 1.3
    -webkit-flex: 1

  .checkin-mobile
    p
      color: #fff
      margin-bottom: -10px
      margin-top: -5px
      font-size: 1.25em

  .selectize-control.single
    font-size: 1.05em !important
    font-weight: 400


  .selectize-input.items.full.has-options.has-items
    height: 35px !important

  .selectize-control.single .selectize-input:after
    display: none

  .submit_nobile_form
    width: 192px
    height: 35px
    background-color: #99864a
    color: #fff
    font-weight: 700
    border: none
    box-shadow: none
    border-radius: inherit
    text-transform: uppercase
    font-size: 1.05em !important
    font-family: Lato, 'sans-serif'
    border-radius: inherit

  .submit_nobile_form:hover
    box-shadow: inset 0 0 0 100px rgba(0,0,0,0.2)
    transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s, -webkit-transform .3s

  #nobile-adults-select,
  #nobile-children-select,
  #datepicker-homepage-checkout,
  #datepicker-homepage-checkin
    width: 217px !important

  .nobile_search_form
    width: 485px !important
    height: 278px !important
    margin: 9px 16px
    text-align: left
    color: #fff

    .checkin-mobile
      padding: 5px

  .nupcias_image
    img
      width: 512px
      height: 130px

  .fds_image
    width: 246px
    height: 135px
    background-image: image-url('nobile-pacotes-final-de-semana.png') !important
    background-size: cover
    background-repeat: no-repeat

  .romantic_image
    width: 246px
    height: 135px
    background-image: image-url('nobile-pacotes-romanticos.png') !important
    background-size: cover
    background-repeat: no-repeat
    margin-left: 10px


  .search-hotels-wrapper
    transition: background 0.6s linear
    background-position: 50% 30%
    background-repeat: no-repeat
    background-size: 100%

    .row
      position: relative

    .describe-home
      padding: 36px 0px 25px 0px

      span
        font-size: 25px
        color: #c6ad5f
        padding: 5px
        font-family: "Quicksand"
        font-weight: 500

  .people
    float: left
    width: 217px
    padding: 0px

    label
      float: left
      margin: 10px

      &.title-people
        margin: 14px 20px 4px 2px

    button
      margin: 8px 0 0 0
      font-size: 22px
      background-color: white
      color: #007EFF
      padding: 0px
      text-align: center
      float: left
      border: 0px
      display: block
      width: 24px
      height: 24px
      line-height: 24px
      border-radius: 50%
      text-decoration: none

      &:focus
        outline: 0

      span
        position: relative
        top: -1px

        &.minus
          top: -2px
    .hour
      label
        margin: 11px 5px 0px 5px
        font-size: 20px
        float: left

    .scroll-button
      position: absolute
      right: 0
      bottom: 25px
      font-size: 24px
      font-weight: 300
      letter-spacing: 3px
      color: #444
      z-index: 2
      width: 230px
      height: 59px
      background: transparent image-url('home/know_more_button.png') no-repeat 0 0
      text-indent: 65px
      line-height: 62px
      text-decoration: none
      &:hover
        text-decoration: none
        background-color: rgba(255,255,255, 0.4)
      &.shadow
        z-index: 1
        left: 546px
        top: 131px
        color: #999
        border-color: #999

  .checkin
    float: left
    width: 284px
    margin: 0px 0px 0px 8px
    label.title
      width: 100%

    .checkin-date
      width: 217px
      float: left
      padding: 0px

      input
        width: 100%
    .checkin-hour
      float: left
      width: 217px
      padding: 0px
      margin-left: 80%
      margin-top: 15px

      label
        float: left
        margin: 10px 4px
        &.at
          font-weight: 100

      button
        margin: 8px 0 0 0
        font-size: 22px
        background-color: white
        color: #007EFF
        padding: 0px
        text-align: center
        float: left
        border: 0px
        display: block
        width: 24px
        height: 24px
        line-height: 24px
        border-radius: 50%
        text-decoration: none

        &:focus
          outline: 0

        span
          position: relative
          top: -3px

          &.minus
            top: -3px

      .hour
        margin: 3px 5px 0px 5px
        font-size: 23px
        float: left

    @media only screen and (max-width: 1000px)
      .scroll-button
        left: 83%

  .pack-size
    width: 185px
    margin-left: 0 !important
    padding-left: 0px
    a.btn
      padding: 10px 5px 10px 5px

      &.selected
        background: rgba(0, 0, 0, 0.25)
        color: white

      &:hover
        background: dark-gray

  .submit-disabled.cpy-disabled-search-button.btn.search-button,
  .cpy-search-button.btn.search-button
    margin: 5px 0
    padding: 8px
    width: 192px
    color: #fff
    background-color: #99864a
    font-weight: 600
    font-size: 1.05em
    height: 35px
    text-transform: uppercase
    font-family: Lato, "sans-serif"


  .pack-size-with-more-hours
    width: 285px

  .pack-size.btn-group
    display: inline-block

    span.clock
      border-right: 1px solid #888
      cursor: default
      display: inline-block
      margin-bottom: 0
      padding: 9px 17px 9px 12px
      border-radius: 5px
      background: #666666
      border-bottom-right-radius: 0
      border-top-right-radius: 0
      float: left

      img
        width: 26px
        height: 24px

    a.btn
      background: #666666
      padding: 10px 31px
      color: #cccccc
      margin: 0px
      &.rooms
        padding: 10px 31px
      &.meeting-rooms
        padding: 10px 10.8px
      &.event-rooms
        padding: 10px 46px

  .pack-size-clock
    display: block
    margin-left: 5px

    .pack-size-text
      letter-spacing: 1px
      font-size: 14px
      padding-top: 12px
      line-height: 10px

  .checkin.text-center
    #nobile-hotels-select
      width: 455px !important

  .checkout-hour
    float: left
    width: 203px
    padding: 0px
    margin: 1px 111px

    label
      font-weight: 100
      float: left
      margin: 10px 2px 0px 2px

      &.title-checkout
        float: none
        display: block
        margin: 0px 0px 8px 0px

    .hour
      float: left
      margin: 3px 5px 0px 5px
      font-size: 23px

  .pack
    width: 217px
    margin-left: -7px

  .services-wrapper
    background-image: image-url('spark.png')
    padding: 28px 0px 66px 0px
    position: relative
    overflow: hidden

    h1
      color: $green
      font-weight: 300
      font-size: 34px
      letter-spacing: 3px
      margin-bottom: 23px

    p
      line-height: 24px
      letter-spacing: 1px

    .service-box
      margin: 67px auto

    .map-america
      position: absolute
      bottom: 20px
      right: -80px
      opacity: 0

      &.show
        right: 40px
        opacity: 1

  .home-blue-box
    background: $dark-blue
    padding: 43px 0px

    img
      margin: 26px 0px

    p
      font-size: 15px
      color: #f4f4f4
      line-height: 30px
      margin-bottom: 0px

  .costs-reducer-wrapper
    background: #eeeeee
    padding: 100px 0px 140px 0px
    position: relative

    h2
      color: #003333
      font-size: 29px
      font-weight: 300
      letter-spacing: 0px
      line-height: 37px
      width: 70%
      margin-left: 17px

    img
      margin: 30px 0px

    p
      font-size: 14px
      line-height: 24px
      margin-bottom: 20px

    .big-coins
      position: absolute
      bottom: 70px
      left: -50px
      opacity: 0

  .exceed-100-occupancy-wrapper
    background: $aqua-blue
    padding: 130px 0px 120px 0px
    position: relative

    h2
      color: white
      font-size: 34px
      font-weight: 300
      letter-spacing: 0px
      line-height: 37px
      margin-left: 17px

    img
      margin: 30px 0px

    p
      font-size: 16px
      line-height: 24px
      margin-bottom: 20px
      color: white

    .building
      position: absolute
      bottom: -200px
      right: 35px

      img
        margin: 0px
    .partners
      h2
        margin-bottom: 0px
        margin-left: 0px

      .logo-hotels
        height: 75px
        margin-top: 0px

        img
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)

  .press-wrapper
    background-color: #245071
    padding: 28px 0px 66px 0px
    position: relative
    overflow: hidden

    h1
      color: white
      font-weight: 300
      font-size: 34px
      letter-spacing: 0px
      margin-bottom: 23px

    p
      line-height: 24px
      letter-spacing: 1px

    img
      margin-bottom: 20px

    .pull-left
      img
        margin: 15px 10px


@media (max-width: 769px)
  .public-affiliate-home-controller.meeting-rooms-action
    .hidden-mobile
      display: none !important

@media (min-width: 769px)
  .public-affiliate-home-controller.meeting-rooms-action
    .hidden-desktop
      display: none !important
