= pagination_links_for @bookings
- @bookings.each do | booking |
  .row.booking-box
    .col-md-12
      .row
        h1.hotel-name = booking.hotel
      .row
        .col-xs-6
          p = t(:creation_date)
        .col-xs-6
          p.description = l booking.created_at
      .row
        .col-xs-6
          p = t(:checkin_date)
        .col-xs-6
          p.description = l booking.offer.checkin_timestamp
      .row
        .col-xs-6
          p = t(:status)
        .col-xs-6
          p.description = t("#{Booking::ACCEPTED_STATUS_REVERSED[booking.status]}")
      .row
        .col-xs-6
          p = t(:type)
        .col-xs-6
          p.description = t(booking.type_room_name)
      .row
        .col-xs-6
          = link_to public_booking_path(booking.id), class: 'btn mini btn-primary'
            = icon_for(:plus)
            = t(:details)
        .col-xs-6
          - if (booking.status == Booking::ACCEPTED_STATUSES[:waiting_for_payment]) && can_current_public_user_afford?(offer: booking.offer, number_of_people: booking.number_of_people)
            = link_to new_public_booking_payments_path(booking.id), class: 'btn mini green cpy-confirm-booking-button'
              = t("bookings.make_payment")
              = icon_for(:double_arrow_right)
= pagination_links_for @bookings
