.public-affiliate-home-controller.index-action

  .slideOutTab 
    position: absolute
    width: 100%
    top: 120px
    left: -75%
    z-index: 9999999

  .how-it-works-content 
    display: block
    width: 75%
    height: 100%
    overflow: hidden
    background: white
    float: left
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    padding-bottom: 8px

    .powered
      margin-right: 16px
    
  .how-it-works-btn
    width: 120px
    height: 50px
    background: $success-button
    float: left
    position: relative
    top: 100px
    transform: rotate(90deg)
    transform-origin: left
    margin-left: 25px
    color: white
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    text-align: center
    cursor: pointer

  button.submit-disabled
    cursor: help

  .no-padding
    padding: 0
  .no-margin
    margin: 0

  .search-hotels-wrapper
    transition: background 0.6s linear
    background-position: 50% 30%
    background-repeat: no-repeat
    background-image: url('/assets/azul-viagens2.jpg')
    background-size: 100%

    .row
      position: relative

    .describe-home
      padding: 200px 0 100px 0

      span
        font-size: 25px
        color: white
        border: 1px solid
        padding: 5px
        font-family: "Quicksand"
        font-weight: 500


    .scroll-button
      position: absolute
      right: 0
      bottom: 25px
      font-size: 24px
      font-weight: 300
      letter-spacing: 3px
      color: #444
      z-index: 2
      width: 230px
      height: 59px
      background: transparent image-url('home/know_more_button.png') no-repeat 0 0
      text-indent: 65px
      line-height: 62px
      text-decoration: none
      &:hover
        text-decoration: none
        background-color: rgba(255,255,255, 0.4)
      &.shadow
        z-index: 1
        left: 546px
        top: 131px
        color: #999
        border-color: #999

    @media only screen and (max-width: 1000px)
      .scroll-button
        left: 83%

  .services-wrapper
    background-image: image-url('spark.png')
    padding: 28px 0px 66px 0px
    position: relative
    overflow: hidden

    h1
      color: $green
      font-weight: 300
      font-size: 34px
      letter-spacing: 3px
      margin-bottom: 23px

    p
      line-height: 24px
      letter-spacing: 1px

    .service-box
      margin: 67px auto

    .map-america
      position: absolute
      bottom: 20px
      right: -80px
      opacity: 0

      &.show
        right: 40px
        opacity: 1

  .home-blue-box
    background: $dark-blue
    padding: 43px 0px

    img
      margin: 26px 0px

    p
      font-size: 15px
      color: #f4f4f4
      line-height: 30px
      margin-bottom: 0px

  .costs-reducer-wrapper
    background: #eeeeee
    padding: 100px 0px 140px 0px
    position: relative

    h2
      color: #003333
      font-size: 29px
      font-weight: 300
      letter-spacing: 0px
      line-height: 37px
      width: 70%
      margin-left: 17px

    img
      margin: 30px 0px

    p
      font-size: 14px
      line-height: 24px
      margin-bottom: 20px

    .big-coins
      position: absolute
      bottom: 70px
      left: -50px
      opacity: 0

  .exceed-100-occupancy-wrapper
    background: $aqua-blue
    padding: 130px 0px 120px 0px
    position: relative

    h2
      color: white
      font-size: 34px
      font-weight: 300
      letter-spacing: 0px
      line-height: 37px
      margin-left: 17px

    img
      margin: 30px 0px

    p
      font-size: 16px
      line-height: 24px
      margin-bottom: 20px
      color: white

    .building
      position: absolute
      bottom: -200px
      right: 35px

      img
        margin: 0px
    .partners
      h2
        margin-bottom: 0px
        margin-left: 0px

      .logo-hotels
        height: 75px
        margin-top: 0px
        
        img
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)

  .press-wrapper
    background-color: #245071
    padding: 28px 0px 66px 0px
    position: relative
    overflow: hidden

    h1
      color: white
      font-weight: 300
      font-size: 34px
      letter-spacing: 0px
      margin-bottom: 23px

    p
      line-height: 24px
      letter-spacing: 1px

    img
      margin-bottom: 20px

    .pull-left
      img
        margin: 15px 10px