.hotel-rooms-controller
  .widget-main
    hr
      margin-bottom: 10px
      margin-top: 10px

  .widget-box
    margin-bottom: 15px

  .filter, .add-rooms
    .widget-main
      min-height: 270px

  .bootbox-body
    font-size: 14px
