= render partial: 'agency/bookings_report/_index/report_options'
br
- if @report
  = render partial: '/agency/bookings_report/_index/report_body', locals: { report: @report }

  br
  br
  .pull-right
    = link_to 'Exportar relatório para o Excel', agency_generate_bookings_report_path(params.merge(format: :xls)), class: 'btn btn-success', method: :post
  .clearfix
