<% if @report %>
  <?xml version="1.0"?>
  <Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:o="urn:schemas-microsoft-com:office:office"
    xmlns:x="urn:schemas-microsoft-com:office:excel"
    xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:html="http://www.w3.org/TR/REC-html40">
    <%= render partial: 'agency/bookings_report/_index_xls/styles' %>

    <Worksheet ss:Name="Relatório">
      <%= render partial: 'agency/bookings_report/_index_xls/report', locals: { report: @report } %>
    </Worksheet>
  </Workbook>
<% end %>
