.container
  .row
    .col-md-12.logo
      = image_tag 'logo-green-white.png', class: 'hq-logo'
    .col-md-6.col-md-offset-3
      .page_wrapper
        .back-page
        .visible.login-box
          h1 Recuperar senha

          = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
            = f.error_notification

            - if flash[:alert]
              p.alert.alert-danger
                = flash[:alert]

            = f.input :login, :required => true, :autofocus => true, wrapper: :full_spaces

            div.login-actions
              = f.button :submit,  "Recuperar senha", class: 'pull-right cpy-submit-button'
              = render partial: "executive_responsible/_login/links", class: 'pull-left'
              .clearfix

