- @consultants.each do | consultant |
  .row.booking-box
    .col-md-12
      .row
        h1.hotel-name = consultant.name
      .row
        .col-xs-6
          = link_to public_consultant_path(consultant.id), class: 'btn mini btn-primary'
            = icon_for(:plus)
            = t(:details)
        .col-xs-6
          = link_to t(:edit), edit_public_consultant_path(consultant.id), class: 'btn mini green cpy-confirm-booking-button'
