.pull-left.size-50-percent
  p
    b = t("views.admin.hotels.address")

  - unless @place.complement == ''
    p = @place.street.to_s + ", " + @place.number.to_s + ", " + @place.complement.to_s + " - " + @place.zipcode.to_s
  - else
    p = @place.street.to_s + ", " + @place.number.to_s + " - " + @place.zipcode
  p = @place.city.name + " - " + @place.country.to_s
  - unless Rails.env.test?
    = image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{@place.latitude},#{@place.longitude}&zoom=13&size=400x300&maptype=roadmap&markers=color:red%7Clabel:#{@place.send("name_#{I18n.locale}")}%7C#{@place.latitude},#{@place.longitude}&sensor=false", class: "responsive-image")
.clearfix
