h3.header.smaller.lighter.green
  | #{t('views.admin.places.general_info')}

= show_for @place do |u|
  .pull-left.size-50-percent
    = u.attribute :name_pt_br
    = u.attribute :name_en
    = u.attribute :name_es
    = u.attribute :distance
    = u.attribute :latitude
    = u.attribute :longitude

    .attributes-wrapper.hotel_currency_symbol
      .attribute-title
        | #{t('views.admin.places.place_type')}
      .content
        = Place::PLACE_TYPES_REVERSED[@place.place_type]
