h3.header.lighter.smaller.green = t("views.admin.hotel_reports.total")
table.table.table-striped.table-bordered.table-hover.cpy-totalizing
  tr
    td.text-right
      h4
        | #{t("views.admin.hotel_reports.reservation_total_value")}
    td
      h4.cpy-total-value.text-primary
        = number_to_currency(invoice[:info][:totals][:value])
  tr
    td.text-right
      h4
        | #{t("views.admin.hotel_reports.total_discounting_iss")}
    td
      h4.cpy-total-value-without-iss.text-primary
        = number_to_currency(invoice[:info][:totals][:value_without_iss])

  tr
    td.text-right
      h4
        | #{t("views.admin.hotel_reports.total_comission")}
    td
      h4.cpy-comission.text-primary
        = number_to_currency invoice[:info][:totals][:hotelquando_comission]

  tr
    td.text-right
      h4
        | #{t("views.admin.hotel_reports.total_reservation_tax")}
    td
      h4.cpy-booking-tax.text-primary
        = number_to_currency invoice[:info][:totals][:booking_tax]

  tr
    td.text-right
      h4
        | #{t("views.admin.hotel_reports.credit_card_total_tax")}
    td
      h4.cpy-total-credit-card-tax.text-primary
        = number_to_currency invoice[:info][:totals][:credit_card_tax]

  tr
    td.text-right
      h4
        | #{t("views.admin.hotel_reports.total_to_pay_to_hotel")}
    td
      h4.cpy-total-to-pay-to-the-hotel.text-primary
        = number_to_currency invoice[:info][:totals][:to_pay_to_the_hotel]
