@media (max-width: 768px)
  .public-affiliate-layout.public-affiliate-hotel-controller.index-action
    .box.js-hotel-row.js-individual-hotel.individual-hotel
      padding: 5px 0
      .mobile-individual-hotel-row:active, .mobile-individual-hotel-row:hover
        background-color: #EFEFEF
      .hotel-photo-col
        overflow: hidden
        img
          height: auto
          width: auto
          max-height: 90px
          border-radius: 0
      .hotel-info-col-mobile
        .hotel-details
          display: table
          table-layout: fixed
          .continue-icon
            display: table-cell
            vertical-align: middle
            float: none
            padding: 0 5px 0 0
          i.fa.fa-angle-right
            font-size: 2em
            color: #57b12f
        .hotel-name
          color: #428bca
          padding-right: 0
          margin-bottom: 5px
        .hotel-rating
          letter-spacing: 3px
          i
            margin-right: -2px
            font-size: 13px
        .hotel-address
          padding-right: 0
          .distance
            position: inherit
            left: 0
        .hotel-address,.map-marker
          font-size: 10px
          letter-spacing: 1px
          i
            font-size: 8px
        .hotel-price-actions
          padding-right: 0
        .hotel-from-price
          font-size: 10px
          letter-spacing: 1px
          .bigger
            font-size: 17px
            line-height: 1.5
