@media (max-width: 768px)
  body.public-affiliate-layout
    .footer

@media (min-width: 769px) and (max-width: 820px)
  body.public-affiliate-layout .footer
    min-width: 100% !important
  body.public-affiliate-layout #footer
    width: 100%

@media (min-width: 821px) and (max-width: 930px)
  body.public-affiliate-layout .footer
    min-width: 100% !important
  body.public-affiliate-layout #footer
    width: 100%

@media (min-width:931px) and (max-width: 989px)
  body.public-affiliate-layout .footer
    min-width: 100% !important
  body.public-affiliate-layout #footer
    width: 100%
