@media (max-width: 768px)
  .public-affiliate-layout.public-affiliate-home-controller
    .search-box
      padding: 10px
      margin:
        top: 10px
        bottom: 10px
      h1.book-hotels
        font-size: 18px
        margin-bottom: 0px
      .search-form-header
        background-color: rgba(245, 245, 245, 0.9)
        border-radius: 10px 10px 0px 0px
        padding: 10px
      .pack-size
        width: 100%
        .text-center
          label
            margin-left: 35px
      .pack-size-row
        .display-table
          margin:
            left: auto
            right: auto
        .pack-size.btn-group
          span.clock
            padding: 9px 3px
          a.btn
            padding: 10px 18px
            &.rooms
              width: 21%
              padding: 10px 13px
            &.meeting-rooms
              width: 10%
              padding: 10px 19px 10px 3px
            &.event-rooms
              width: 27.4%
              padding: 10px 22px
            &.selected
              background: $success-button
              color: white

      input, select
        background: #666666
        color: white

      .checkin-hour
        display: inline-flex
        width: 100%
        margin-top: 10px
        margin-left: -9px

        label
          float: none
        .hour-and-buttons
          display: inline-flex
          button
            float: none
          label
            float: none

        .minus-checkin-hour
          span.minus
            top: 0 !important
        .plus-checkin-hour
          span.minus
            top: -1px

      .checkout-hour
        width: 100%
        float: none
        display: inline-block
        label
          float: none
        label.title-checkout
          margin: 6px 4px 0px -10px
        .at-and-hour
          float: none
          display: inline-flex
          margin-left: 3%
          label
            float: none
            margin: 4px 0 0 0

      .people
        float: none
        display: inline-block
        margin: 15px 4px 0px 13px

        label.title-people
          margin: 0px 0px 5px 8px

        .minus-number-of-people
          span.minus
            top: 0
        .plus-number-of-people
          span.minus
            top: -2px
        .div-button-search.tooltip-toggler
          margin-left: 135px

      .address
        margin-top: 5px

      .checkin
        width: 119px
        float: none
        margin: auto
        input
          padding: 7px
        #by_checkin_hour
          padding: 3px 0px 0px 0px

        label.title
          margin-top: 15px
          margin-left: -80px

        .checkin-date
          input
            width: 30%
            position: absolute
            margin-top: -35px
            margin-left: 20px
            display: inline-flex
      .number-of-people-input-size
        width: 22%
        padding-left: 20px
      .up
        margin-bottom: 0
      .tabbable
        .div-button-search
          width: 100%
          float: none !important
        .tab-content-custom-mobile
          border-radius: 0px 0px 10px 10px
          background: rgba(245,245,245,0.9)
          color: #303030
          padding: 10px 25px 25px 25px
        .tab-content-custom
          padding: 10px 25px 25px 25px
          .pack-size-hint
            p.hint
              font-size: 12px
              margin-left: 9px
              text-align: center
        .nav-tabs.nav-justified > li
          display: table-cell
          width: 1%
          font-size: 11px
        .nav-tabs
          float: none
          width: 100%
          border-bottom: 0px
          padding: 0px
          li
            margin-bottom: 0px
            a
              border: 0px
              color: white
              border-radius: 0px
              padding: 10px 0px 10px 0px
              margin-bottom: 0px

            &:first-child
              a
                border: 0px
                border-radius: 0px 0px 0px 0px

            &:first-child.active
              a
                border-radius: 0px 0px 0px 0px
                border: 0px

            &:last-child
              a
                border: 0px
                border-radius: 0px 0px 0px 0px


            &.active
              a
                padding: 10px 0px 10px 0px
                border-radius: 0px 0px 0px 0px

@media (min-width:769px) and (max-width:820px)
  .public-affiliate-layout.public-affiliate-home-controller
    .search-box
      padding: 10px
      margin:
        top: 10px
        bottom: 10px
      h1.book-hotels
        font-size: 18px
        margin-bottom: 0px
      .search-form-header
        background-color: rgba(245, 245, 245, 0.9)
        border-radius: 10px 10px 0px 0px
        padding: 10px
      .pack-size
        width: 100%
        .text-center
          label
            margin-left: 35px
      .pack-size-row
        .display-table
          margin:
            left: auto
            right: auto
        .pack-size.btn-group
          span.clock
            padding: 9px 3px
          a.btn
            padding: 10px 18px
            &.rooms
              width: 21%
              padding: 10px 13px
            &.meeting-rooms
              width: 10%
              padding: 10px 19px 10px 3px
            &.event-rooms
              width: 27.4%
              padding: 10px 22px
            &.selected
              background: $success-button
              color: white

      input, select
        background: #666666
        color: white

      .checkin-hour
        float: none
        display: inline-flex
        width: 136px
        margin: 2px -13px auto
        label
          float: none
        .hour-and-buttons
          display: inline-flex
          margin-top: 5px
          button
            float: none
          label
            float: none

        .minus-checkin-hour
          span.minus
            top: 0 !important
        .plus-checkin-hour
          span.minus
            top: -1px

      .checkout-hour
        width: 100%
        float: none
        display: inline-block
        label
          float: none
        label.title-checkout
          margin: 6px 4px 0px -10px
        .at-and-hour
          float: none
          display: inline-flex
          margin-left: 3%
          label
            float: none
            margin: 4px 0 0 0
      .people
        float: none
        display: inline-block
        margin: 15px 4px 0px 13px

        .minus-number-of-people
          span.minus
            top: 0
        .plus-number-of-people
          span.minus
            top: -2px

      .address
        margin-top: 5px

      .checkin
        width: 119px
        float: none
        margin: auto
        input
          padding: 7px
        #by_checkin_hour
          padding: 3px 0px 0px 0px

        label.title
          margin-top: 15px
          margin-left: -80px

        .checkin-date
          input
            width: 30%
            position: absolute
            margin-top: -35px
            margin-left: 20px
            display: inline-flex

      .number-of-people-input-size
        width: 22%
        padding-left: 20px
      .up
        margin-bottom: 0
      .tabbable
        .div-button-search
          width: 100%
          float: none !important
        .tab-content-custom-mobile
          border-radius: 0px 0px 10px 10px
          background: rgba(245,245,245,0.9)
          color: #303030
          padding: 10px 25px 25px 25px
        .tab-content-custom
          padding: 10px 25px 25px 25px
          .pack-size-hint
            p.hint
              font-size: 12px
              margin-left: 9px
              text-align: center
        .nav-tabs.nav-justified > li
          display: table-cell
          width: 1%
          font-size: 11px
        .nav-tabs
          float: none
          width: 100%
          border-bottom: 0px
          padding: 0px
          li
            margin-bottom: 0px
            a
              border: 0px
              color: white
              border-radius: 0px
              padding: 10px 0px 10px 0px
              margin-bottom: 0px

            &:first-child
              a
                border: 0px
                border-radius: 0px 0px 0px 0px

            &:first-child.active
              a
                border-radius: 0px 0px 0px 0px
                border: 0px

            &:last-child
              a
                border: 0px
                border-radius: 0px 0px 0px 0px


            &.active
              a
                padding: 10px 0px 10px 0px
                border-radius: 0px 0px 0px 0px

@media (min-width:821px) and (max-width: 930px)
  .public-affiliate-layout.public-affiliate-home-controller
    .search-box
      .tab-content-custom
        padding: 15px 25px 10px 25px !important
      .pack-size
        width: 187px
        margin-left: 90px

      .checkin
        width: 136px
        input
          padding: 7px

        .checkin-hour
          position: absolute
          margin-left: 100px

        .minus-checkin-hour
          span.minus
            top: 0 !important
        .plus-checkin-hour
          span.minus
            top: -1px

      .checkout-hour
        width: 98px
        label
          float: none
          margin: 4px 10px 0px 0px
        .at-and-hour
          display: inline-flex
          float: none
          margin: 3px 5px 0px -20px

      .people
        width: 70px
        margin: 0px 0px

        .minus-number-of-people
          span.minus
            top: 0
        .plus-number-of-people
          span.minus
            top: -2px

      .div-button-search
        width: 170px

@media (min-width:931px) and (max-width: 989px)
  .public-affiliate-layout.public-affiliate-home-controller
    .search-box
      .tab-content-custom
        padding: 15px 25px 10px 25px !important
      .pack-size
        width: 187px
        margin-left: 90px

      .checkin
        width: 136px
        input
          padding: 7px

        .minus-checkin-hour
          span.minus
            top: 0 !important
        .plus-checkin-hour
          span.minus
            top: -1px

        .checkin-hour
          position: absolute
          margin-left: 100px

      .checkout-hour
        width: 98px
        label
          float: none
          margin: 4px 10px 0px 0px

        .at-and-hour
          display: inline-flex
          float: none
          margin: 3px 5px 0px -20px

      .people
        width: 70px
        margin: 0px 20px

        .minus-number-of-people
          span.minus
            top: 0
        .plus-number-of-people
          span.minus
            top: -2px

      .div-button-search
        width: 225px

@media (min-width:990px)
  .public-affiliate-layout.public-affiliate-home-controller
    .search-box
      .tab-content-custom
        padding: 15px 25px 10px 25px !important
      .pack-size
        width: 200px
        margin-left: 116px

      .checkin
        width: 136px
        input
          padding: 7px

        label.title
          margin-left: -25px

        .hour
          label
            padding: 10px 2px 0px 2px

        .checkin-hour
          position: absolute
          margin-left: 100px

          .minus-checkin-hour
            span.minus
              top: 0
          .plus-checkin-hour
            span.minus
              top: -1px


      .checkout-hour
        width: 130px
        label
          float: none
          margin: 0px 10px 0px 0px

        label.title-checkout.text
          margin-left: -11px !important
          margin-top: -7px

        .at-and-hour
          display: inline-flex
          float: none
          margin: 3px 5px 0px -20px

          label
            margin-top: 8px

          .hour
            margin: 7px 2px 0px 0px

      .people
        margin: 0px 20px

        .minus-number-of-people
          span.minus
            top: 0
        .plus-number-of-people
          span.minus
            top: -2px
