= simple_form_for [:admin, executive] do |f|

  = f.input :name

  = f.input :email

  = f.input :login

  = f.association :country, label_method: "name_#{I18n.locale}", value_method: :id

  = render :partial => "admin/executive_responsibles/goals_fields", locals: {f: f, executive: executive}


  = form_submit_section
