h3.header.smaller.lighter.green = t("views.company_universe.executives.goals_month")

= f.input :amount_goal_contacts, input_html: { class: 'js-mask-integer' }
= f.input :amount_goal_meeting, input_html: { class: 'js-mask-integer' }
= f.input :amount_goal_new_companies, input_html: { class: 'js-mask-integer' }
= f.input :amount_goal_companies_actives, input_html: { class: 'js-mask-integer' }
= f.input :amount_goal_reservation, input_html: { class: 'js-mask-integer' }
