= header_section title: t("views.company_universe.executives.title")

- if @executive_responsibles.length == 0
  .alert.alert-info
    = t(:none) + ' ' + t('views.company_universe.executives.one').downcase + ' ' + t(:registered) + '.'
- else
  .cpy-pagination-links
    = pagination_links_for @executive_responsibles
  .row
    .col-sm-12
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th.center
            | #{t("views.company_universe.executives.id")}
          th.center
            | #{t("views.company_universe.executives.name")}
          th.center
            | #{t("views.company_universe.executives.email")}
          th.center
            | #{t("views.company_universe.executives.login")}
          th.center
            | #{t("views.company_universe.executives.active")}
          th.center
            | #{t("views.company_universe.executives.actions")}
      tbody
        - @executive_responsibles.each do | executive |
          tr.center
            td
              = executive.id
            td
              = executive.name
            td
              = executive.email
            td
              = executive.login
            td
              = executive.is_active ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
            td.action-list.center
              = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_executive_responsible_path(executive.id), class: 'btn btn-xs btn-success'

              = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_executive_responsible_path(executive.id), class: 'btn btn-xs btn-info cpy-edit-agency-link'
              | &nbsp;&nbsp;

              - if executive.is_active?
                = link_to "<i class='icon-remove bigger-100'></i>".html_safe, deactivate_admin_executive_responsible_path(executive.id), class: 'btn btn-xs btn-danger cpy-deactivate-agency-button', data: { confirm: t("views.company_universe.executives.deactivate_executive") }, method: :post
              - else
                = link_to "<i class='icon-check bigger-100'></i>".html_safe, activate_admin_executive_responsible_path(executive.id), class: 'btn btn-xs btn-warning cpy-activate-agency-button', data: { confirm: t("views.company_universe.executives.activate_executive")}, method: :post

  = pagination_links_for @executive_responsibles