= header_section

= panel_section(name: t("views.company_universe.executives.executive_information")) do
  = show_for @executive_responsible do |u|
    = u.attribute :name
    = u.attribute :email
    = u.attribute :login
    = u.attribute :country, value: @executive_responsible.country.send("name_#{I18n.locale}")
    = u.attribute :amount_goal_contacts
    = u.attribute :amount_goal_meeting
    = u.attribute :amount_goal_new_companies
    = u.attribute :amount_goal_companies_actives
    = u.attribute :amount_goal_reservation
    = u.attribute :is_active do
      = @executive_responsible.is_active ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe

  .wizard-actions
    = link_to t("views.admin.agencies.back").html_safe, admin_executive_responsible_path, class: 'btn btn-prev'
    = link_to t("views.admin.agencies.edit").html_safe, edit_admin_executive_responsible_path(@executive_responsible.id), class: 'btn btn-info'

    - if @executive_responsible.is_active?
      = link_to t("views.admin.agencies.deactivate").html_safe, deactivate_admin_executive_responsible_path(@executive_responsible.id), class: 'btn btn-danger cpy-deactivate-agency-button', method: :post
    - else
      = link_to t("views.admin.agencies.activate").html_safe, activate_admin_executive_responsible_path(@executive_responsible.id), class: 'btn btn-warning cpy-activate-agency-button', method: :post
