= header_section

- if @bookings.any?

  = render partial: 'affiliate/bookings/_index/filter'
  = pagination_links_for @bookings
  = render partial: 'affiliate/bookings/_index/list', locals: { bookings: @bookings }
- else
  - if current_affiliate_affiliate.bookings.first
    = render partial: 'affiliate/bookings/_index/filter'
  .alert.alert-info
    | Nenhuma reserva encontrada.
