= header_section
= panel_section do
  = show_for @booking do |u|
    .row
      .col-sm-6
        h3.center.header.lighter.green
          | Informações Gerais
        .attributes-wrapper.booking_status
          .attribute-title
            | Status
          .content
            = t(Booking::ACCEPTED_STATUS_REVERSED[@booking.status])
        = u.attribute :guest_name
        = u.attribute :guest_email
        = u.attribute :number_of_people
        .attributes-wrapper
          .attribute-title
            | Data e hora da criação da reserva
          .content
            = l @booking.created_at
        - if (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced])
          .attributes-wrapper
            .attribute-title
              | Data e hora da efetivação da reserva
            .content
              = l @booking.updated_at
        hr
        .attributes-wrapper.booking_room_type
          .attribute-title
            | Hotel
          .content
            = @booking.hotel.name
        - if @booking.is_meeting_offer?
          .attributes-wrapper.booking_room_type
            .attribute-title
              | Nome da sala de reunião
            .content
              = @booking.business_room.name_pt_br
        - else
          .attributes-wrapper.booking_room_type
            .attribute-title
              | Tipo de quarto
            .content
              = @booking.room_type.name_pt_br
          .attributes-wrapper.booking_room_number
            .attribute-title
              | Número do quarto
            .content
              = @booking.room.number
        .attributes-wrapper.booking_pack_size
          .attribute-title
            | Tamanho do pacote
          .content
            = "#{@booking.pack_in_hours}h"
        hr
        .attributes-wrapper.booking_checkin
          .attribute-title
            | Checkin
        .attributes-wrapper.booking_checkin_date
          .attribute-title
            | Data
          .content
            = "#{(@booking.date_interval.first + Offer::ROOM_CLEANING_TIME - 1.minute).strftime("%d/%m/%Y")}"
        .attributes-wrapper.booking_checkin_hour
          .attribute-title
            | Hora
          .content
            = "#{(@booking.date_interval.first + Offer::ROOM_CLEANING_TIME - 1.minute).strftime("%H:%M")}"
        hr
        .attributes-wrapper.booking_checkout
          .attribute-title
            | Checkout
        .attributes-wrapper.booking_checkout_date
          .attribute-title
            | Data
          .content
            = "#{(@booking.date_interval.last - Offer::ROOM_CLEANING_TIME + 1.minute).strftime("%d/%m/%Y")}"
        .attributes-wrapper.booking_checkout_hour
          .attribute-title
            | Hora
          .content
            = "#{(@booking.date_interval.last - Offer::ROOM_CLEANING_TIME + 1.minute).strftime("%H:%M")}"
      .col-sm-6



        h3.center.header.lighter.green
          | Valores
        .attributes-wrapper
          .attribute-title
            | Valor inicial da reserva
          .content
            = number_to_currency(@booking.initial_price)
        .attributes-wrapper
          .attribute-title
            | Total por pessoas extras
          .content
            = number_to_currency(@booking.extra_people_price)

        .attributes-wrapper
          .attribute-title
            | Taxas e Impostos
          .content
            = number_to_currency(current_affiliate_affiliate.comission_value) 

        .attributes-wrapper
          .attribute-title
            | Valor total
          .content
            = number_to_currency(@booking.total_price)

        .attributes-wrapper
          .attribute-title
            | Valor do no-show
          .content
            = number_to_currency(@booking.no_show_value)

        - if ((@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced])) && (@booking.no_show_refund_value > 0)
          .attributes-wrapper
            .attribute-title
              | Valor a ser reembolsado em caso de no-show
            .content
              = number_to_currency(@booking.no_show_refund_value)
        h3.header.lighter.smaller.green
          | Ações

        .actions-links
          .row
            .col-sm-12.text-center
              - if @booking.cancelable?
                = link_to 'Cancelar reserva', cancel_affiliate_booking_path(@booking), class: 'btn btn-sm btn-danger cpy-cancel-booking', method: :put


  = show_panel_buttons_section
