.modal-dialog
  .modal-content
    .modal-header
      | <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      | <h4 class="blue bigger">Reservas confirmadas</h4>
    .modal-body
      .cpy-pagination-links
        = pagination_ajax_links_for bookings, 'page', :paginate_bookings => true

      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th.center.size-10-percent
              | Código
            th.center.size-25-percent
              | Titular
            th.center.size-20-percent
              | Checkin
            th.center.size-10-percent
              | Pacote
            th.center.size-15-percent
              | Valor Total
            th.center.size-20-percent
              | Status
        tbody
          - bookings.each do | booking |
            tr.center
              td
                = booking.id
              td
                = booking.guest_name
              td
                = (booking.date_interval.first + Offer::ROOM_CLEANING_TIME - 1.minute).strftime("%d/%m/%Y %H:%M")
              td
                = "#{booking.pack_in_hours}h"
              td
                = number_to_currency booking.total_price
              td
                = t(Booking::ACCEPTED_STATUS_REVERSED[booking.status])
      = pagination_ajax_links_for bookings, 'page', :paginate_bookings => true

    .modal-footer

      |
        <a class="btn btn-sm" data-dismiss="modal">
          <i class="icon-remove"></i>
          Cancelar
        </a>
