.modal-dialog
  .modal-content
    .modal-header
      | <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      | <h4 class="blue bigger">No shows</h4>
    .modal-body
      .cpy-pagination-links
        = pagination_ajax_links_for no_shows, 'page', :paginate_no_shows => true
      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th.center.size-10-percent
              | Código
            th.center.size-25-percent
              | Titular
            th.center.size-20-percent
              | Checkin
            th.center.size-10-percent
              | Pacote
            th.center.size-15-percent
              | Valor Total
            th.center.size-20-percent
              | Status
        tbody
          - no_shows.each do | no_show |
            tr.center
              td
                = no_show.id
              td
                = no_show.guest_name
              td
                = (no_show.date_interval.first + Offer::ROOM_CLEANING_TIME - 1.minute).strftime("%d/%m/%Y %H:%M")
              td
                = "#{no_show.pack_in_hours}h"
              td
                = number_to_currency no_show.offer.no_show_value
              td
                = t(Booking::ACCEPTED_STATUS_REVERSED[no_show.status])

      = pagination_ajax_links_for no_shows, 'page', :paginate_no_shows => true

    .modal-footer

      |
        <a class="btn btn-sm" data-dismiss="modal">
          <i class="icon-remove"></i>
          Cancelar
        </a>
