@media (max-width: 768px)
  .public-bookings-controller.new-action,
  .public-bookings-controller.create-action
    .container.with-padding-top > .row:first-child > div:first-child
      padding-top: 0
    .alert
      text-align: center
      padding: 5px
      margin: 0
        top: 10px
    .border-box.with-padding-bottom
      padding:
        left: 0
        right: 0
        bottom: 0
      margin: 0
    .row:last-child:after
      height: auto
      margin-bottom: 10px
    .tabs
      margin-top: 35px
    .tab-content
      padding-top: 10px
    .attribute-title
      color: #888888
      font-size: 13px
    .pack-room-type
      margin:
        top: 10px
        bottom: -15px
    .notes-input
      margin-bottom: 0
    .form-actions
      padding-bottom: 0
      text-align: center
    input.pill.green.big.submit-button
      margin-bottom: 10px
      height: 30px
      font-size: 14px
      float: none !important
    .form-group
      margin-bottom: 0
      input.string, select
        margin-bottom: 10px
        height: 30px
      select
        padding: 0 12px
    .booking-hotel-and-room-type-description,
    .booking-hotel-and-business-room-description
      h2
        font-size: 18px
    .description-title.room-type-description-title,
    .description-title.business-room-description-title
      height: auto
    .room-type-description-title, .bed-configuration-title,
    .business-room-description-title
      h5
        display: inherit
        position: inherit
        top: 0
        margin: 0
          top: 10px
        width: 100%
    .room-type-description,
    .business-room-description
      position: inherit
      left: 0
      width: 100%
      margin:
        top: 5px
        bottom: 10px
    .bed-configuration
      margin: 0
        top: 5px
      padding-left: 25px

