= header_section

= form_tag admin_hotel_search_logs_path, method: :get, class: 'form-horizontal' do
  .row
    .col-sm-12
      = submit_tag 'Exportar dados', class: 'btn btn-sm btn-default js-export-users-data size-20-percent', style: 'margin-bottom: 20px;'

- if @hotel_search_logs.length == 0
  .alert.alert-info
    | #{t("views.admin.hotel_search_logs.no_results_found")}
- else
  .cpy-pagination-links
    = pagination_links_for @hotel_search_logs
  .row
    .col-sm-12
      table.table.table-striped.table-bordered.cpy-log-list
        thead
          tr
            th.center.size-8-percent
              | #{t('views.admin.hotel_search_logs.search_date')}
            th.center.size-7-percent
              | #{t("views.admin.hotel_search_logs.checkin")}
            th.center.size-5-percent
              | #{t("views.admin.hotel_search_logs.package")}
            th.center.size-5-percent
              | #{t("views.admin.hotel_search_logs.people")}
            th.center.size-35-percent
              | #{t("views.admin.hotel_search_logs.location")}
            th.center.size-25-percent
              | #{t("views.admin.hotel_search_logs.email")}
            th.center.size-15-percent
              | #{t("views.admin.hotel_search_logs.hotels")}

        tbody
          - @hotel_search_logs.each do | hotel_search_log |
            tr.center
              td
                | #{hotel_search_log.created_at.strftime('%d/%m/%Y - %H:%M')}
              td
                = "#{hotel_search_log.checkin_date} - #{hotel_search_log.checkin_hour}h"
              td
                | #{hotel_search_log.length_of_pack}
              td
                | #{hotel_search_log.number_of_people}
              td
                | #{hotel_search_log.address}
              td
                = hotel_search_log.email.blank? ? "-" : hotel_search_log.email
              td
                - unless hotel_search_log.exact_match_hotels_ids.empty?

                  ruby:
                    hotel_name_list = "<ul><li>#{hotel_names_for_ids(hotel_search_log.exact_match_hotels_ids).join(
                    '</li><li>')}</li></ul>"
                  span.cursor-pointer.js-popover data-toggle="popover" title="#{t('views.admin.hotel_search_logs.hotels_with_exact_offer')}" data-content="#{hotel_name_list}" data-placement="left"
                    | #{hotel_search_log.exact_match_hotels_ids.length} #{t("views.admin.hotel_search_logs.exact")}

                - if hotel_search_log.exact_match_hotels_ids.any? && hotel_search_log.similar_match_hotels_ids.any?
                  | &nbsp;|&nbsp;
                - unless hotel_search_log.similar_match_hotels_ids.empty?

                  ruby:
                    hotel_name_list = "<ul><li>#{hotel_names_for_ids(hotel_search_log.similar_match_hotels_ids).join(
                    '</li><li>')}</li></ul>"
                  span.cursor-pointer.js-popover data-toggle="popover" title="#{t('views.admin.hotel_search_logs.hotels_with_similar_offer')}" data-content="#{hotel_name_list}" data-placement="left"

                    | #{hotel_search_log.similar_match_hotels_ids.length} #{t("views.admin.hotel_search_logs.similar")}


  = pagination_links_for @hotel_search_logs
