- if controller_name != 'sessions'
  = link_to t('views.hotel.shared.login'), new_session_path(resource_name), class: 'sub-link'
  br
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to t('views.hotel.shared.forgot_password'), new_password_path(resource_name), class: 'sub-link'
  br
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to t('views.hotel.shared.did_not_received_confirmations_instructions'), new_confirmation_path(resource_name)
  br
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to t('views.hotel.shared.did_not_received_unlock_instructions'), new_unlock_path(resource_name)
  br
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to t('views.hotel.shared.', provider: provider.to_s.titleize), omniauth_authorize_path(resource_name, provider)
    br
