h3.header.lighter.smaller.green #{t('views.hotel.reports.confirmed_reservations')}
.row
  .col-sm-12
    table.table.table-bordered.table-hover.cpy-bookings-info
      tr
        td.text-right #{t('views.hotel.reports.total_number_of_reservations')}
        td.cpy-total = @bookings_info[:total]
      tr
        td.text-right #{t('views.hotel.reports.total_number_of_reservations_paid_at_destination')}
        td.cpy-total-paid-at-the-hotel = @bookings_info[:total_paid_at_the_hotel]
      tr
        td.text-right #{t('views.hotel.reports.total_number_of_billed_reservations')}
        td.cpy-total-paid-online = @bookings_info[:total_paid_online]
      tr
        td.text-right #{t('views.hotel.reports.total_value_of_reservations')}
        td.cpy-total-value = number_to_currency @bookings_info[:total_value]
      tr
        td.text-right #{t('views.hotel.reports.total_value_disconsidering_iss')}
        td.cpy-total-value-without-iss = number_to_currency @bookings_info[:total_value_without_iss]
      tr
        td.text-right #{t('views.hotel.reports.total_credit_card_fee')}
        td.cpy-credit-card-tax = number_to_currency @bookings_info[:credit_card_tax]
      / Removing hotel quando comission from report view, leaving it here, so if for some reason
      / it needs to appear again, it is already here
      / tr
      /   td.text-right Comissão HotelQuando:
      /   td.cpy-comission = number_to_currency @bookings_info[:comission]
      tr
        td.text-right #{t('views.hotel.reports.final_total_value')}
        td.cpy-final-total-value = number_to_currency @bookings_info[:final_total_value]
