h3.header.lighter.smaller.green #{t('views.hotel.reports.no_shows')}
.row
  .col-sm-12.text-right
    table.table.table-striped.table-bordered.table-hover.cpy-no-shows-info
      tr
        td.text-right #{t('views.hotel.reports.total_number_of_reservations')}
        td.cpy-total = @no_shows_info[:total]
      tr
        td.text-right #{t('views.hotel.reports.total_value_of_reservations')}
        td.cpy-total-value = number_to_currency @no_shows_info[:total_value]
      tr
        td.text-right #{t('views.hotel.reports.total_value_disconsidering_iss')}
        td.cpy-total-value-without-iss = number_to_currency @no_shows_info[:total_value_without_iss]
      tr
        td.text-right #{t('views.hotel.reports.total_credit_card_fee')}
        td.cpy-credit-card-tax = number_to_currency @no_shows_info[:credit_card_tax]
      / Removing hotel quando comission from report view, leaving it here, so if for some reason
      / it needs to appear again, it is already here
      / tr
      /   td.text-right Comissão HotelQuando:
      /   td.cpy-comission = number_to_currency @no_shows_info[:comission]
      tr
        td.text-right #{t('views.hotel.reports.final_total_value')}
        td.cpy-final-total-value = number_to_currency @no_shows_info[:final_total_value]
