= panel_section(name: t('views.hotel.reports.statistics_per_period'), class: 'widget-box') do

  h3.header.lighter.smaller.green #{t('views.hotel.reports.reservations_per_day')}
  .row
    .col-sm-1.axis-label.text-right #{t('views.hotel.reports.reservations')}

    .col-sm-10
      .row
        .col-sm-12
          .js-bookings-per-day-placeholder style="height: 400px" data-flot="#{bookings_per_day_data}"
      .row
        .col-sm-12.text-center.axis-label
          | #{t('views.hotel.reports.day_of_month')}

  h3.header.lighter.smaller.green #{t('views.hotel.reports.incoming_per_package')}
  .income-per-pack.cpy-income-per-pack
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th.center.size-30-percent
            | #{t('views.hotel.reports.package')}
          th.center.size-70-percent
            | #{t('views.hotel.reports.incoming')}
      tbody
        - income_per_pack.each do | income |
          tr.center
            td
              = income[:pack]
            td
              = number_to_currency income[:value]

  h3.header.lighter.smaller.green #{t('views.hotel.reports.number_of_reservations_per_package_room_type')}

  .row
    .col-sm-1.axis-label.text-right #{t('views.hotel.reports.package')}
    .col-sm-9
      .row
        .col-sm-12
          .js-bookings-per-pack-and-room-type-placeholder style="height: 400px" data-flot="#{bookings_per_pack_and_room_type_data}" data-roomtype="#{current_hotel_hotel.room_types.each}"
      .row
        .col-sm-12.axis-label.text-center
          | #{t('views.hotel.reports.number_of_reservations')}
    .col-sm-2
      .js-bookings-per-pack-and-room-type-legend-container.bookings-per-pack-and-room-type-legend-container

  h3.header.lighter.smaller.green #{t('views.hotel.reports.reservations_per_package')}
  .row
    .col-sm-1.axis-label.text-right #{t('views.hotel.reports.package')}

    .col-sm-10
      .row
        .col-sm-12
          .js-advance-time-for-booking-per-pack-placeholder style="height: 400px" data-flot="#{advance_time_for_booking_per_pack_data}"
      .row
        .col-sm-12.axis-label.text-center #{t('views.hotel.reports.advanced_time_in_days')}
