h3.header.lighter.smaller.green #{t('views.hotel.reports.totalizing')}
table.table.table-striped.table-bordered.table-hover
  tr
    td.text-right
      h5 #{t('views.hotel.reports.total')}
    td
      h5.text-primary.cpy-total-value = number_to_currency(@total_earned)
  tr
    td.text-right
      h5 #{t('views.hotel.reports.total_disconsidering_iss')}
    td
      h5.text-primary.cpy-total-value-without-iss = number_to_currency(@total_earned_without_iss)

  tr
    td.text-right
      h5 #{t('views.hotel.reports.total_credit_card_fee')}

    td
      h5.text-primary.cpy-total-credit-card-tax = number_to_currency(@total_credit_card_tax)

  / Removing hotel quando comission from report view, leaving it here, so if for some reason
  / it needs to appear again, it is already here
  / tr
  /   td.text-right
  /     h5 Total de comissão:

  /   td
  /     h5.text-primary.cpy-comission = number_to_currency(@total_comission)

  tr
    td.text-right
      h5 #{t('views.hotel.reports.final_total')}

    td
      h5.text-primary.cpy-final-total = number_to_currency(@final_total_value)
