.col-xs-12#footer
	
	footer#footer.container
		.col-md-4.col-sm-4
			.footer-list
				ul
					li
						a href="http://www.drudshotel.com.br/hortolandia/home.html" target="_blank" =t('views.affiliates.druds.initial')
					li
						a href="http://www.drudshotel.com.br/hortolandia/ohotel.html" target="_blank" =t('views.affiliates.druds.the_hotel')
					li
						a href="http://www.drudshotel.com.br/hortolandia/apartamentos.html" target="_blank" =t('views.affiliates.druds.apartments')
					li
						a href="http://www.drudshotel.com.br/hortolandia/restaurante.html" target="_blank" =t('views.affiliates.druds.restaurant')
					li
						a href="http://www.drudshotel.com.br/hortolandia/fotos.html" target="_blank" =t('views.affiliates.druds.pictures')
					li
						a href="http://www.drudshotel.com.br/hortolandia/eventos.html" target="_blank" =t('views.affiliates.druds.events')
					li
						a href="http://www.drudshotel.com.br/hortolandia/localizacao.html" target="_blank" =t('views.affiliates.druds.location')
					li
						a href="http://www.drudshotel.com.br/hortolandia/investidores.html" target="_blank" =t('views.affiliates.druds.investors')
					li
						a href="http://www.drudshotel.com.br/hortolandia/contato.html" target="_blank" =t('views.affiliates.druds.contact')
					li
						a href="http://www.drudshotel.com.br/hortolandia/reserva.html" target="_blank" =t('views.affiliates.druds.reservation')

		.col-md-4.col-sm-4
			.contact
				h4.title
					=t('views.affiliates.druds.contact_title')
				p 
					| (19) 3865-9696
				p
					| Av. Fermino Maltarollo, 275
					br/
					| Hortolândia/SP
				
				h4.title
					=t('views.affiliates.druds.reservations')
				p reservas.horto@drudshotel.com.br
		
		.col-md-4.col-sm-4
			.druds-online
				h4.title
					| Druds Online
				ul.social
					a href = "https://www.facebook.com/grupodruds" target="_blank"
						li.facebook
							i.fa.fa-facebook
					li
						= link_to image_tag('trip.png'), "https://www.tripadvisor.com/UserReviewEdit-g2342853-d4582871-Druds_Hotel_Hortolandia-Hortolandia_State_of_Sao_Paulo.html", id: "logo", target: "blank"

.container.credits
	.pull-right style="width:60px;" 
		a href="http://www.planetinternet.com.br" target="_blank"
			img src="http://www.drudshotel.com.br/druds/assets/images/planet.png" style="margin-right: 9px"
	.pull-left.copyright
		| © 2013 Druds Hotel