= header_section title: t("views.admin.booking_pack_contracting_companies.listing_companies")

- if @booking_pack_contracting_companies.length == 0
  .alert.alert-info
    = t(:none_female) + ' ' + t('booking_pack_contracting_company.one').downcase + ' ' + t(:registered_female) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | #{t("views.admin.booking_pack_contracting_companies.id")}
        th.center
          | #{t("views.admin.booking_pack_contracting_companies.company_name")}
        th.center
          | #{t("views.admin.booking_pack_contracting_companies.email")}
        th.center
          | #{t("views.admin.booking_pack_contracting_companies.hotel")}
        th.center
          | #{t("views.admin.booking_pack_contracting_companies.room_type")}
        th.center
          | #{t("views.admin.booking_pack_contracting_companies.hour_bank")}
        th.center
          | #{t("views.admin.booking_pack_contracting_companies.number_of_12h_packs")}
        th.center
          | #{t("views.admin.booking_pack_contracting_companies.price")}
        th.center
          | #{t("views.admin.booking_pack_contracting_companies.actions")}
    tbody
      - @booking_pack_contracting_companies.each do | contracting_company |
        tr.center
          td
            = contracting_company.id
          td
            = contracting_company.name
          td
            = contracting_company.email
          td
            = contracting_company.room_type.hotel
          td
            = contracting_company.room_type.name_pt_br
          td
            = contracting_company.cached_booking_pack_bank_of_hours
          td
            = contracting_company.cached_booking_pack_number_of_pack_12h
          td
            = number_to_currency(contracting_company.cached_booking_pack_price)
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_booking_pack_contracting_company_path(contracting_company.id), class: 'btn btn-xs btn-success'
