= header_section

= panel_section(name: t("views.admin.booking_pack_contracting_companies.company_information")) do
  = show_for @booking_pack_contracting_company do |u|
    = u.attribute :name
    = u.attribute :cnpj
    = u.attribute :responsible_name
    = u.attribute :role
    = u.attribute :phone_number
    = u.attribute :email

    h3.center.header.lighter.green
      | #{t("views.admin.booking_pack_contracting_companies.hour_bank_information")}

    .attributes-wrapper.booking_pack_city
      .attribute-title
        | #{t("views.admin.booking_pack_contracting_companies.city")}
      .content
        = "#{@booking_pack_contracting_company.room_type.hotel.city.name} - #{@booking_pack_contracting_company.room_type.hotel.city.state.initials}"

    .attributes-wrapper.booking_pack_hotel
      .attribute-title
        | #{t("views.admin.booking_pack_contracting_companies.hotel")}
      .content
        = @booking_pack_contracting_company.room_type.hotel

    .attributes-wrapper.booking_pack_room_type
      .attribute-title
        | #{t("views.admin.booking_pack_contracting_companies.room_type")}
      .content
        = @booking_pack_contracting_company.room_type.name_pt_br

    .attributes-wrapper.booking_pack_bank_of_hours
      .attribute-title
        | #{t("views.admin.booking_pack_contracting_companies.hour_bank")}
      .content
        = @booking_pack_contracting_company.cached_booking_pack_bank_of_hours

    .attributes-wrapper.booking_pack_number_of_pack_12h
      .attribute-title
        | #{t("views.admin.booking_pack_contracting_companies.number_of_12h_packs")}
      .content
        = @booking_pack_contracting_company.cached_booking_pack_number_of_pack_12h

    .attributes-wrapper.booking_pack_breakfast_included
      .attribute-title
        | #{t("views.admin.booking_pack_contracting_companies.includes_breakfast")}
      .content
        = @booking_pack_contracting_company.booking_pack.breakfast_included

    .attributes-wrapper.booking_pack_price
      .attribute-title
        | #{t("views.admin.booking_pack_contracting_companies.price")}
      .content
        = number_to_currency(@booking_pack_contracting_company.cached_booking_pack_price)

  hr

  .wizard-actions
    = link_to '<i class="icon-arrow-left"></i> Voltar'.html_safe, admin_booking_pack_contracting_companies_path, class: 'btn btn-prev'
