- if Payment.first
  = render partial: "/admin/payments/index/filter"

  hr
  .cpy-pagination-links
    = pagination_links_for @payments
  - if @payments.length == 0
    .alert.alert-info
      | #{t("views.admin.payments.no_payment_found")}
  - else
    .row
      .col-sm-12
        table.table.table-striped.table-bordered.table-hover.cpy-room-list
          thead
            tr
              th.center.size-6-percent
                | #{t("views.admin.payments.refund_id")}
              th.center.size-8-percent
                | #{t("views.admin.payments.reservation_id")}
              th.center.size-8-percent
                | #{t("views.admin.payments.credit_card_id")}
              th.center.size-25-percent
                | #{t("views.admin.payments.user_name")}
              th.center.size-21-percent
                | #{t("views.admin.payments.creation_date")}
              th.center.size-17-percent
                | #{t("views.admin.payments.status")}
              th.center.size-5-percent
                | App
              th.center.size-10-percent
                | #{t("views.admin.payments.details")}
          tbody
            - @payments.each do | payment |
              tr.center
                td
                  = payment.id
                td
                  = payment.booking_id
                td
                  = payment.credit_card_id
                td
                  = payment.user.name
                td
                  = payment.created_at
                td
                  = t(Payment::ACCEPTED_STATUS_REVERSED[payment.status])
                td
                  - if payment.is_app_mobile
                    i.icon-ok
                  - else
                    i.icon-remove
                td
                  = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_payment_path(payment.id), class: 'btn btn-xs btn-success'

  = pagination_links_for @payments
- else
  .alert.alert-info
    | #{t("views.admin.payments.no_payment_registered")}
