= header_section

= panel_section do
  = show_for @payment do |u|
    = u.attribute :id
    = u.attribute :booking_id
    .attributes-wrapper.user_name
      .attribute-title
        | #{t("views.admin.payments.user_name")}
      .content
        = @payment.user.name

    = u.attribute :created_at
    - if @payment.authorized_at
      = u.attribute :authorized_at

    - if @payment.status == Payment::ACCEPTED_STATUSES[:canceled]
      = u.attribute :canceled_at

    - if @payment.maxipago_response
      .attributes-wrapper.payment_maxipago_response
        .attribute-title
          | #{t("views.admin.payments.maxipago_response")}
        .content
          = @payment.maxipago_response

    .attributes-wrapper.payment_status
      .attribute-title
        | #{t("views.admin.payments.status")}
      .content
        = t(Payment::ACCEPTED_STATUS_REVERSED[@payment.status])

    = u.attribute :is_app_mobile do
      = @payment.is_app_mobile ? "App" : "Web"

  - if @payment.credit_card
    h3.header.lighter.smaller.green
      | #{t("views.admin.payments.credit_card_data")}

    - credit_card = @payment.credit_card
    = show_for credit_card do | u |
      = u.attribute :billing_name
      - if credit_card.owner_cpf.present?
        = u.attribute :owner_cpf
      - if credit_card.owner_passport.present?
        = u.attribute :owner_passport

      = u.attribute :billing_phone

      = u.attribute :billing_address1

      = u.attribute :billing_city

      - unless credit_card.billing_state == 'ZZ'
        = u.attribute :billing_state

      = u.attribute :billing_country

      = u.attribute :billing_zipcode

      .attributes-wrapper.user_address
        .attribute-title
          | #{t("views.admin.payments.flag")}
        .content
          = t(credit_card.flag_name)

      = u.attribute :last_four_digits
  - if @payment.refunds.any?
    h3.header.lighter.smaller.green
      | #{t("views.admin.payments.refunds")}

    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th.center
            | #{t("views.admin.payments.refund_id")}
          th.center
            | #{t("views.admin.payments.authorization_date")}
          td.center
            | #{t("views.admin.payments.refund_value")}
          td.center
            | #{t("views.admin.payments.refund_well_succeeded")}

      tbody
        - @payment.refunds.each do | refund |
          tr.center
            td
              = refund.id
            td
              - if refund.authorized_at
                = l refund.authorized_at
              - else
                | -
            td
              = number_to_currency(refund.value, unit: "")
            td
              - if refund.status == Refund::ACCEPTED_STATUSES[:success]
                i.icon-ok
              - else
                i.icon-remove


  h3.header.lighter.smaller.green
    | #{t("views.admin.payments.more_details")}

  = link_to t("views.admin.payments.visualize_reservation"), admin_booking_path(@payment.booking.id), class: 'btn btn-purple cpy-link-to-payment-booking'

  = link_to t("views.admin.payments.visualize_user"), admin_user_path(@payment.user.id), class: 'btn btn-info cpy-link-to-payment-user'

  = link_to t("views.admin.payments.visualize_hotel"), admin_hotel_path(@payment.booking.hotel.id), class: 'btn btn-inverse cpy-link-to-payment-hotel'


  = show_panel_buttons_section
