- room_category = params[:room_category].to_i
- if @search_exact_match.length > 0 || @search_similar_match.length > 0
  .row
    .col-sm-12
      .hotel-list-page-wrapper
        .row ng-controller="PublicHotelsCtrl"
          .col-md-3
            - if mobile_device?
              .top-filter-informations-mobile
                .panel.panel-default
                  .panel-heading
                    a href="#" ng-click="filterCollapsed = !filterCollapsed"
                      h5.panel-title.text-center
                        = t(:filter)
                  .panel-collapse collapse="filterCollapsed"
                    .panel-body
                      = render partial: "/public/hotel/index/filter_mobile"
            - else
              .side-filter-informations.hidden-xs.hidden-sm
                //= render partial: "/public/hotel/index/searched_informations"
                = render partial: "/public/hotel/index/filter"

          .col-md-9
            .all-matches-hotels
              p.notice.text-center ng-hide='anyHotelMatchFilter()'
                = t(:no_hotels_match_filter)
              .exact-matches-hotels.cpy-exact-matches-list
                //- if (@search_similar_match.length > 0 &&  @search_similar_match.first[:hotel].is_brazilian) || (@search_exact_match.length > 0 &&  @search_exact_match.first[:hotel].is_brazilian)
                  .tudo-azul
                    .col-sm-6
                      .description.no-uber
                        p
                          = "#{t(:benefits_to_confirm_your_booking)}:"
                    .col-sm-6.image
                      = link_to public_tudo_azul_path, target: "_blank" do
                        = image_tag 'tudo_azul2.png', class: "tudo-azul-img-no-uber"
                      = link_to public_multiplus_path, target: "_blank" do
                        = image_tag 'multiplus.png', class: "multiplus-img"
                    .clearfix

                .row.title ng-show='anyExactHotelMatchFilter()'
                  .col-sm-8
                    h3.title
                      = "#{t(:we_found)} "
                      span.exact-matches-length
                        | {{ hotelExactMatchLength() }}
                      | {{ hotelPluralize(hotelExactMatchLength()) }}
                      /- if params[:room_category].to_i == Hotel::ROOM_CATEGORY[:offer]
                        | {{ hotelPluralize(hotelExactMatchLength()) }}
                      /- elsif params[:room_category].to_i == Hotel::ROOM_CATEGORY[:meeting_room_offer]
                        | {{ meetingRoomPluralize(hotelExactMatchLength()) }}
                      /- elsif room_category == Hotel::ROOM_CATEGORY[:event_room_offer]
                        | {{ eventRoomPluralize(hotelExactMatchLength()) }}
                      =< t(:for_you)
                  .col-sm-4.pull-right
                    = render partial: 'public/hotel/index/sort_by_price_button'
                  /- if (current_public_user.present? && current_public_user.country == "BR" || current_public_user.try(:company_detail).try(:country) == "BR" || current_public_user.try(:agency_detail).try(:country) == "BR") || (current_public_user.blank? && I18n.locale == :pt_br)
                    .col-sm-12.col-xs-12.mult-desc
                      = image_tag 'multiplus.png', class: 'multiplus-image-index'
                      = "#{t(:multiplus_description)}"
                      span.gray
                        <br>
                        = "#{t(:one_point_multiplus)}"
                      = "#{t(:for_each)}"
                      span.gray
                        = "#{t(:one_real_spent)}"
                      <br>
                      .small
                        = "#{t(:you_must_provide_a_multiplus_number)}"
                      <br>
                      .know
                        = link_to t(:know_more), public_multiplus_path, target: "_blank"
                .clearfix

                .hotels-box
                  - @search_exact_match.each do | search_row |
                    - if search_row[:business_room]
                      = render partial: '/public/hotel/index/business_room_row', locals: { search_row: search_row, similar_hotel: false, room_category: room_category }
                    - else
                      = render partial: '/public/hotel/index/hotel_row', locals: { search_row: search_row, similar_hotel: false }

              - unless @search_similar_match.length == 0
                .similar-matches-hotels.cpy-similar-matches-list ng-show='anySimilarHotelMatchFilter()'
                  hr.hidden-md.hidden-lg
                  h1.text-center.similar-offers-title.hidden-md.hidden-lg
                    = "#{t(:similar_offers)}"
                  h3.title
                    = "#{t(:check_below)} "
                    span.similar-matches-length
                      | {{ hotelSimilarMatchLength() }}
                    | {{ hotelPluralize(hotelSimilarMatchLength()) }}
                    /- if room_category == Hotel::ROOM_CATEGORY[:offer]
                      | {{ hotelPluralize(hotelSimilarMatchLength()) }}
                    /- if room_category == Hotel::ROOM_CATEGORY[:meeting_room_offer]
                      | {{ meetingRoomPluralize(hotelSimilarMatchLength()) }}
                    /- if room_category == Hotel::ROOM_CATEGORY[:event_room_offer]
                      | {{ eventRoomPluralize(hotelSimilarMatchLength()) }}
                    =< t(:with_similar_offers)
                  span.subtitle
                    = t(:similar_offers_that_still_suits_your_needs) + '.'

                  .hotels-box

                    - @search_similar_match.each do | search_row |
                      - if search_row[:business_room]
                        = render partial: '/public/hotel/index/business_room_row', locals: { search_row: search_row, similar_hotel: true, room_category: room_category }
                      - else
                        = render partial: '/public/hotel/index/hotel_row', locals: { search_row: search_row, similar_hotel: true }

- else
  .row
    .col-sm-12
      .hotel-list-page-wrapper
        .all-matches-hotels
          .search-not-found.text-center
            .glyphicon.glyphicon-search
            p.no-matches
              = t(:there_are_no_hotels_that_fulfill_your_expectations)

            h4 = t(:the_hotel_quantity_grows)

            .subscribe-form-wrapper.well

              h5 = t(:subscribe_to_be_notified)
              .js-form-wrapper
                = simple_form_for(:subscribe_search, url: set_email_for_last_log_public_hotel_search_logs_path, remote: true) do |f|

                  label.label-email Seu email
                  input.input-email.form-control.cpy-email name="subscribe_search[email]"
                  = f.submit t(:form_subscribe_button), class: 'btn green subscribe-button cpy-subscribe-button'
              p.js-error.error
              p.js-success.success style="display: none;" = t(:successfull_subscribe_for_search)
            / = t(:please_click_the_button_below)
            / a.btn.green data-toggle='modal' data-target='#search-box-modal'
            /   = t(:new_search)

.modal.fade.js-room-type-modal.room-type-modal aria-labelledby="myModalLabel" tabindex="-1" role="dialog" aria-hidden="true"
  .modal-dialog
    .modal-content
      .js-see-map

/! Begin MailChimp Signup Form
link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css" /
css:
  #mc_embed_signup background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;
  /!* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     | We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
#mc_embed_signup.hidden
  form#mc-embedded-subscribe-form.validate action="https://hotelquando.us17.list-manage.com/subscribe/post?u=5ae43fb23da02f1aa9e9ee842&amp;id=04c648c060" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank" data-remote="true"
    #mc_embed_signup_scroll
      .mc-field-group
        label for="mce-EMAIL"
          | Email
        input#mce-EMAIL.required.email name="EMAIL" type="email" value="" /
      .mc-field-group
        label for="mce-MMERGE1"  Idioma
        input#mce-MMERGE1 name="MMERGE1" type="text" value="#{locale.to_s}" /
      #mce-responses.clear
        #mce-error-response.response style="display:none"
        #mce-success-response.response style="display:none"
      /! real people should not fill this in and expect good things - do not remove this or risk form bot signups
      div aria-hidden="true" style=("position: absolute; left: -5000px;")
        input name="b_5ae43fb23da02f1aa9e9ee842_04c648c060" tabindex="-1" type="text" value="" /
      .clear
        input#mc-embedded-subscribe.button name="subscribe" type="submit" value="Subscribe" /
script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
/! End mc_embed_signup


javascript:

  (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);

  $('.subscribe_search').on('submit', function(e) {
    var email = $('input[name="subscribe_search[email]"]');
    $('input[name="EMAIL"]').val(email.val());
    $('form#mc-embedded-subscribe-form').submit()
  });
