- is_business_room = params[:business_room]
div ng-controller='PublicHotelCtrl'

  .row
    .col-sm-12.border-box
      .row
        .col-sm-11
          = render partial: "/public/hotel/show/details_pages_header", locals: { hotel: @hotel , is_business_room: is_business_room, business_room: @business_room}
        .col-sm-1.hidden-xs.hidden-sm
          = link_to t(:return), :back, class: "link dark-red"
  .row
    .col-sm-12.border-box.search-form-box
      = render partial: "/layouts/public/components/search_form_hotel_header"

  .row
    .col-sm-12.border-box.detail-box
      - if is_business_room
        = render partial: "/public/hotel/show/business_room_details"
      - else
        = render partial: "/public/hotel/show/hotel_details"

.modal.fade.js-room-type-modal.room-type-modal aria-labelledby="myModalLabel" tabindex="-1" role="dialog" aria-hidden="true"
  .modal-dialog
    .modal-content
      .js-room-type-details

javascript:
  yojs.set('hotelLatitude', "#{@hotel.latitude}")
  yojs.set('hotelLongitude', "#{@hotel.longitude}")
  yojs.set('hotelName', "#{@hotel.name}")
