- promotional_100_percent = @booking.promotional_code_log && @booking.promotional_code_log.promotional_code.discount_type == PromotionalCode::ACCEPTED_DISCOUNT_TYPE[:percentage] && @booking.promotional_code_log.promotional_code.discount.eql?(100)
div ng-controller="PublicEpaycoPaymentCtrl"
  = simple_form_for(@payment, url:  public_affiliate_booking_payments_path(booking_id: params[:booking_id]), method: :post, wrapper: :basic, id: 'payment_form') do |f|
    .col-sm-7
      = render partial: "/public_affiliate/bookings/payments/_new/radio_buttons_form"

      .row.info-header ng-init="participantCpf = false; multiplusParticipant = false"
        .info-price.col-xs-12.col-md-2.text-right.hidden-md.hidden-lg
          - if promotional_100_percent
            .row
              = t(:promotional_100_percent_describe)


      .hidden-xs.hidden-sm
        .booking-step-title
          - if promotional_100_percent
            = t(:promotional_100_percent_describe)

      - if !promotional_100_percent
        - if @booking.traveler_id.present? && !current_public_affiliate_user.accept_confirmed_and_invoiced
          - options_for_select = []
          - credit_cards = @booking.traveler.credit_cards
          - credit_cards.each do | credit_card |
            - options_for_select << ["#{t("payments.#{credit_card.flag_name}")} - #{t(:last_digits)}: #{credit_card.last_four_digits}", credit_card.id]
          .form-group.select-credit-cards ng-controller='TravelerCreditCardCtrl' ng-init="creditCardsTraveler = #{credit_cards.to_json}"
            = select_tag 'credit_card[id]', options_for_select(options_for_select), class: 'select form-control size-100-percent', prompt: t(:select_the_credit_card), 'ng-model' => 'selectedCreditCardId', 'ng-change' => 'changeCreditCard()'
            .show-credit-card.collapse
              .row
                .col-sm-8
                  => CreditCard.human_attribute_name("card_number") + ":"
                  span.card-number-value
                .col-sm-4
                  => CreditCard.human_attribute_name("cvv") + ":"
                  span.cvv-value
              .row
                .col-sm-6
                  => CreditCard.human_attribute_name("expiration_month") + ":"
                  span.expiration-month-value
                .col-sm-6
                  => CreditCard.human_attribute_name("expiration_year") + ":"
                  span.expiration-year-value

    .col-sm-7
      span.card-errors
      .form-group
        .col-lg-12
          label for="credit"
            =t('activerecord.attributes.credit_card.card_number')
          .input-group
            input.form-control maxlength="16" name="card_number" placeholder=t('activerecord.attributes.credit_card.card_number') data-epayco="card[number]" ng-model="cardnumber"
            em.input-group-addon
              em.glyphicon.glyphicon-credit-card
      .form-group
        .col-lg-5.col-xs-6
          label for="expiracion" = t('activerecord.attributes.credit_card.expiration')
          .col-xs-6.month
            select.form-control data-epayco="card[exp_month]"  ng-model="month" name="month"
              option value="" = t('month')
              option value="01"  1
              option value="02"  2
              option value="03"  3
              option value="04"  4
              option value="05"  5
              option value="06"  6
              option value="07"  7
              option value="08"  8
              option value="09"  9
              option value="10"  10
              option value="11"  11
              option value="12"  12
          .col-xs-6
            select.form-control data-epayco="card[exp_year]" ng-model="year" name="year"
              option value="" = t('year')
              option ng-repeat="year in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" value="{{year+initialYear}}" {{year+initialYear}}
        .col-lg-4.col-xs-6
          label for="cvc" =t('activerecord.attributes.credit_card.security_code')
          .col-lg-12
            input.form-control placeholder="CVV"  data-epayco="card[cvc]" ng-model="cvc" name="cvc"
      .form-group
        .col-lg-12
          label for="credit" =t('activerecord.attributes.credit_card.owner_information')
        .col-lg-12
          input.form-control placeholder=t('activerecord.attributes.credit_card.billing_name') title="" type="text" data-epayco="card[name]" name="name" value=current_public_affiliate_user.name ng-model="name"
      .form-group
        .col-xs-3
          select.form-control name="type_doc"
            option value="PPN" Passaporte
            option value="CC" Cédula de Ciudadanía
            option value="CE" Cédula Extranjera
        .col-xs-9
          input.form-control type="text" name="number_doc" placeholder=t('activerecord.attributes.credit_card.owner_doc_numb') ng-model="numberdoc"
      .form-group
        .col-lg-12
          input.form-control title="" type="text" data-epayco="card[email]" placeholder="Email" name="email" ng-model="email"
      .form-group
        .col-lg-12
          input.form-control.js-mask-mobile-phone-with-country-without-length title="" type="text" data-epayco="card[phone]" name="phone" ng-model="phone" placeholder=t('phone')
      .form-group
        .col-lg-12
          span.payment_with = t('epayco_payment')
          img alt="Epayco Logo" src="/assets/logo_epayco.png"

    .col-sm-5
      .clearfix
      .checkbox ng-init="checkedTermsofuse = true"
        label
          = check_box_tag "read_and_accept", nil, false, "ng-model" => "checkedtermsofuse", name: "checked_terms_of_use"
          span.lbl
            =< t(:i_have_read_and_accepted)
      .js-tooltip-toggler.tooltip-toggler.pull-right data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="{{messageForDisabledSubmit()}}"
        button type="submit" id="continueButton" class="cpy-submit-button any-time-btn submit-button pill big pull-right btn custom-success" ng-disabled='!isFormValid()' ng-class='submitButtonExtraClass()'
          = t(:finish_reservation)

  javascript:
    yojs.set('cardNumber', "#{params[:card_number]}")
    yojs.set('month', "#{params[:month]}")
    yojs.set('year', "#{params[:year]}")
    yojs.set('cvc', "#{params[:cvc]}")
    yojs.set('name', "#{params[:name]}")
    yojs.set('numberDoc', "#{params[:number_doc]}")
    yojs.set('email', "#{params[:email]}")
    yojs.set('phone', "#{params[:phone]}")
    yojs.set('checkedTermsOfUse', "#{params[:checked_terms_of_use]}")

    ePayco.setPublicKey('706cba5eb7921669e29e629092594573');
