- @hotel_groups = @campaign.hotel_groups.pluck(:hotel_id)
- @hotels = Hotel.all.pluck(:id, :name)
= simple_form_for [:admin, campaign] do |f|
  = f.input :name

  h3.header.smaller.lighter.green
    | #{t("views.admin.campaigns.hotels_that_accepts_campaign")}
  .form-group.boolean.optional
    label.boolean.optional.col-sm-3.control-label for="select-all-hotels"
      = t(:select_all)
    .col-sm-1
      .checkbox
        label
          input class="ace boolean optioanl col-sm-12 form-control" id="select-all-hotels" type="checkbox"
          span.lbl

    - @hotels.each do |id, name|
      label.boolean.optional.col-sm-3.control-label for="hotel_groups[#{id}]"
        = name
      .col-sm-1
        input name="hotel_groups[#{id}]" type="hidden" value="0"
        .checkbox
          label
            - if @hotel_groups.include?(id)
              input class="ace boolean optional col-sm-12 form-control each-hotel" id="hotel_groups[#{id}]" name="hotel_groups[#{id}]" type="checkbox" value="1" checked='checked'
            - else
              input class="ace boolean optional col-sm-12 form-control each-hotel" id="hotel_groups[#{id}]" name="hotel_groups[#{id}]" type="checkbox" value="1"
            span.lbl
  = form_submit_section
