= header_section title: t("views.admin.campaigns.listing_campaign")

- if @campaigns.length == 0
  .alert.alert-info
    = t(:none_female) + ' ' + t('campaign.one').downcase + ' ' + t(:registered_female) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center.size-6-percent
          | #{t("views.admin.campaigns.id")}
        th.center.size-30-percent
          | #{t("views.admin.campaigns.name")}
        th.center.size-10-percent
          | #{t("views.admin.campaigns.promotional_codes")}
        th.center.size-10-percent
          | #{t("views.admin.campaigns.participating_hotels")}
        th.center.size-15-percent
          | #{t("views.admin.campaigns.actions")}
    tbody
      - @campaigns.each do |campaign|
        tr.center
          td
            = campaign.id
          td
            = campaign.name
          td
            = campaign.promotional_codes.length
          td
            = campaign.hotel_groups.length
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_campaign_path(campaign.id), class: 'btn btn-xs btn-success'

            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_campaign_path(campaign.id), class: 'btn btn-xs btn-info cpy-edit-hotel-link'
