= header_section title: t("views.admin.campaigns.visualizing_campaign")

= panel_section(name: t("views.admin.campaigns.campaign_info")) do
  = show_for @campaign do |u|
    = u.attribute :name
  br

  h3.header.smaller.lighter.green
    | #{t("views.admin.campaigns.hotels_that_accepts_campaign")}

  - if @campaign.hotel_groups
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th.center
            = t(:id)
          th.center
            = t(:name)
      tbody
        - @campaign.hotels.each do |hotel|
          tr
            td.center.size-50-percent
              = hotel.id
            td.center.size-50-percent
              = hotel.name
  - else
    .alert.alert-info
      | #{t("views.admin.campaigns.campaign_has_no_hotel")}

hr

.wizard-actions
  = link_to '<i class="icon-arrow-left"></i> Voltar'.html_safe, admin_campaigns_path, class: 'btn btn-prev'
  = link_to '<i class="icon-edit"></i> Editar'.html_safe, edit_admin_campaign_path(@campaign.id), class: 'btn btn-info'
