.search-hotels-wrapper style="background: white;"
  .col-md-12
    .search-box.js-headline-search

      = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/meeting_room/mobile_search_form_content"