.public-affiliate-home-controller.tudo-azul-action
  .tudo-azul
    margin-bottom: 20px
    border-radius: 5px
    padding-top: 20px

    h1.tudo-azul-title
      font-size: 25px
      margin: 20px 0 30px

    .logos
      text-align: center
      .tudo-azul-box
        display: inline-block
        img
          width: 200px
      .fa-plus
        font-size: 25px
        margin: 35px
        vertical-align: -5px
      .hq-box
        display: inline-block
        .hq-image
          width: 340px

    div.description
      text-align: center
      font-size: 12px
      margin: 10px 0 0

    .link-tudo-azul
      text-align: center

    .comments
      text-align: center
      margin: 10px 0 40px
      .small
        font-style: italic
        margin-bottom: 0
        letter-spacing: .5px
        font-size: 85%
        color: #AAAAAA

    .blue
      color: #16BBEA

    .regulation
      height: 300px
      margin: 20px 0 30px
      h1.regulation-title
        font-size: 30px
      h2.regulation-subtitle
        font-size: 20px
      p.description
        margin: 0 0 3px
        float: left
        clear: both
