h3.header.smaller.lighter.green = t("views.admin.hotels.address")

.form-group.string.required.address-fields
  .form-group.input.required.hotel_cities
    label.select.required.col-sm-3.control-label for="hotel_cities"
      abbr title="obrigatório"
      | *
      => "#{t(:city)}"
    .col-sm-4
      = text_field_tag "citiesHash", place.city_id.blank? ? '' : @cities_list.find {|e| /#{place.city_id}/ =~ e}, id: "citiesHash", class: "string optional col-sm-12 form-control", placeholder: t("views.admin.hotels.search_city_name")

.hidden
  = f.input :city_id, :as => :hidden
  = f.input :country, :as => :hidden

- if current_admin_manager.country == "BR"
	= f.input :zipcode, input_html: { class: 'js-mask-cep' }
- else
  = f.input :zipcode

= f.input :street
= f.input :number, input_html: { class: 'js-mask-integer' }
= f.input :complement

= f.input :latitude
= f.input :longitude
