h3.header.smaller.lighter.green #{t('views.admin.places.general_info')}

= f.input :name_pt_br
= f.input :name_en
= f.input :name_es
= f.input :distance unless @place.distance.nil?
= f.input :active

.form-group.string.required.address-fields
  .form-group.input.required.hotel_cities
    label.select.required.col-sm-3.control-label for="hotel_cities"
      abbr title="obrigatório"
      | *
      => "#{t(:city)}"
    .col-sm-4
      = text_field_tag "citiesHash", place.city_id.blank? ? '' : @cities_list.find {|e| /#{place.city_id}/ =~ e}, id: "citiesHash", class: "string optional col-sm-12 form-control", placeholder: t("views.admin.hotels.search_city_name")

.hidden
  = f.input :city_id, :as => :hidden
  = f.input :country, :as => :hidden

- if current_admin_manager.country == "BR"
	= f.input :zipcode, input_html: { class: 'js-mask-cep' } unless @place.zipcode.nil?
- else
  = f.input :zipcode unless @place.zipcode.nil?

= f.input :street unless @place.street.nil?
= f.input :number, input_html: { class: 'js-mask-integer' } unless @place.number.nil?
= f.input :complement unless @place.complement.nil?

= f.input :latitude unless @place.latitude.nil?
= f.input :longitude unless @place.longitude.nil?

= f.label :place_type
= f.radio_button :place_type, @place.place_type
==< @place.place_type == 1 ? "&nbsp;" + t('views.admin.places.airport') + "&nbsp;&nbsp;" : @place.place_type == 2 ? "&nbsp;" + t('views.admin.places.city') + "&nbsp;&nbsp;" :  "&nbsp;" + t('views.admin.places.region') + "&nbsp;&nbsp;"
