div ng-controller="PhotosCtrl" ng-init="photos = #{place.photos.to_json}"
  = shared_component("new_nested_photo_modal")

  = simple_form_for [:admin, place] do |f|

    - if params[:type] == 'airport'
      = render partial:  "admin/places/form/general_data_fields", locals: {f: f, place: place}
      = render partial: "admin/places/form/address_fields", locals: {f: f, place: place}
      = shared_component("nested_photo_form", {f: f})
    - elsif params[:type] == 'city'
      = render partial: "admin/places/form/city_field", locals: {f: f, place: place}
      = shared_component("nested_photo_form", {f: f})
    - elsif params[:action] == 'edit'
      = render partial: "admin/places/form/edit_form", locals: {f: f, place: place}
    - else
      = render partial: "admin/places/form/regions_field", locals: {f: f, place: place}

    = form_submit_section
