h3.header.smaller.lighter.green #{t('views.admin.places.general_info')}

= f.input :name_pt_br
= f.input :name_en
= f.input :name_es
= f.input :distance
= f.input :active
= f.label :place_type
- Place::PLACE_TYPES.each do |type, value|
  - if value == 1
    = f.radio_button :place_type, value
    ==< "&nbsp;" + t('views.admin.places.airport') + "&nbsp;&nbsp;"
