h3.header.smaller.lighter.green #{t('views.admin.places.general_info')}

= f.input :name_pt_br
= f.input :name_en
= f.input :name_es
= f.input :distance
= f.input :latitude
= f.input :longitude

.form-group.string.required.address-fields
  .form-group.input.required.hotel_cities
    label.select.required.col-sm-3.control-label for="hotel_cities"
      abbr title="obrigatório"
      | *
      => "#{t(:city)}"
    .col-sm-4
      = text_field_tag "citiesHash", place.city_id.blank? ? '' : @cities_list.find {|e| /#{place.city_id}/ =~ e}, id: "citiesHash", class: "string optional col-sm-12 form-control", placeholder: t("views.admin.hotels.search_city_name")

.hidden
  = f.input :city_id, :as => :hidden
  = f.input :country, :as => :hidden

= f.input :active
= f.label :place_type
- Place::PLACE_TYPES.each do |type, value|
  - if value == 3
    = f.radio_button :place_type, value
    ==< t('views.admin.places.region') + "&nbsp;&nbsp;"
