.tab-pane id="creation-logs-tab"
  .cpy-pagination-links
    = pagination_links_for creation_logs, "page_creation_logs", {current_tab_id: "creation-logs-tab"}
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center.size-20-percent
          = t(:log_created_date_time)
        th.center.size-20-percent
          = t(:log_finished_date_time)
        th.center.size-20-percent
          = t(:number_of_created_or_updated_available_offers)
        th.center.size-20-percent
          = t(:number_of_created_or_updated_suspended_offers)
        th.center.size-20-percent
          = t(:number_of_unchanged_offers)
    tbody
      - creation_logs.each do | offers_log |
        tr
          td.center
            = l(offers_log.created_at.to_datetime)
          - if !(offers_log.result == 'Processing')
            td.center
              = l(offers_log.updated_at.to_datetime)
            td.center
              - if (available = offers_log.result.try(:[], :available).try(:to_i) || 0)  > 0
                = available
              - else
                | -
            td.center
              - if (suspended = offers_log.result.try(:[],:suspended).try(:to_i) || 0) > 0
                = suspended
              - else
                | -
            td.center
              - if (unchanged = offers_log.result.try(:[], :reserved).try(:to_i) || 0) > 0
                = unchanged
              - else
                | -
          - else
            - 4.times do
              td.center
                | -
  = pagination_links_for creation_logs, "page_creation_logs", {current_tab_id: "creation_logs_tabs"}
