.tab-pane id="removal-logs-tab"
  .cpy-pagination-links
    = pagination_links_for removal_logs, "page_removal_logs", {current_tab_id: "removal-logs-tab"}
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center.size-15-percent
          = t(:log_created_date_time)
        th.center.size-15-percent
          = t(:log_finished_date_time)
        th.center.size-15-percent
          = t(:number_of_removed_offers)
        th.center.size-15-percent
          = t(:number_of_unchanged_offers)
    tbody
      - removal_logs.each do | offers_log |
        tr
          td.center
            = l(offers_log.created_at.to_datetime)
          - if !(offers_log.result == 'Processing')
            td.center
              = l(offers_log.updated_at.to_datetime)
            td.center
              - if (removed = offers_log.result.try(:[],:removed).try(:to_i) || 0) > 0
                  = removed
              - else
                | -
            td.center
              - if (unchanged = offers_log.result.try(:[],:unchanged).try(:to_i) || 0) > 0
                  = unchanged
              - else
                | -
          - else
            - 3.times do
              td.center
                | -
  = pagination_links_for removal_logs, "page_removal_logs", {current_tab_id: "removal_logs_tabs"}
