- if Rails.env.production?
  |
    <!-- Google Code for Venda_Realizada Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 971628577;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "HmjwCM-E4AkQocCnzwM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/971628577/?label=HmjwCM-E4AkQocCnzwM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>

    <script type="text/javascript">
    // Código para adicionar a transação / pedido vendido:
      ga('ecommerce:addTransaction', {
      'id': '@payment.present? ?  @payment.id : @booking.id}', // número do pedido; código de transação
      'affiliation': '', // nome da loja
      'revenue': '#{calculate_currency(@booking.total_price_without_tax, current_currency.money_sign)}', // valor total do pedido
      'shipping': '0', // frete
      'tax': '#{calculate_currency(@booking.booking_tax, current_currency.money_sign)}', // imposto
      'currency': '#{current_currency.code}'  // código de moeda (boa prática)
      });
      ga('ecommerce:addItem', {
        'id': '@payment.present? ? @payment.id : @booking.id }', // número do pedido; código de transação
        'name': '#{@booking.hotel.name} - #{@booking.offer.checkin_timestamp.strftime("%Y-%m-%d %H:%M")} - #{@booking.pack_in_hours}', // nome do produto
        'sku': '#{@booking.id}', // código do produto
        'category': '#{@booking.room_type.name_pt_br}', // categoria do produto
        'price': '#{calculate_currency(@booking.total_price_without_tax, current_currency.money_sign)}', // preço do produto
        'quantity': '1', // quantidade comprada no pedido
        'currency': '#{current_currency.code}' // código de moeda (boa prática)
      });
      ga('ecommerce:send'); // envia a transação para o GA
    // ---- Fim do código para monitoramento de Ecommerce
    </script>

.row
  .col-sm-12.border-box.with-padding-bottom
    = render partial: "/public/shared/booking/booking_registration_header", locals: { step: :payment_result }
    .div id="diver" 
      span id="seila"
    .booking-step-title
      h2.hidden-xs.hidden-sm
        = t(:confirmation)
      - if @booking.hotel.booking_on_request
        p.text-center.success
          | Solicitação realizada com sucesso
      - else
        p.text-center.success
          = t(:booking_completed_with_success) + '.'
      = render partial: "/public/shared/booking/recommendation_hotelquando"
      / - if mobile_device?
      /   = image_tag("banner-amigohq-#{I18n.locale.to_s}-mobile.png")
      / - else
      /   = image_tag("banner-amigohq-#{I18n.locale.to_s}.png", style: 'width: 100%')
    .row
      .col-md-5
        = render partial: "/public/shared/booking/booking_registration_hotel_description"
        - if @offer.try(:room_type_id)
          = render partial: "/public/shared/booking/booking_registration_room_type_description"
        - else
          = render partial: "/public/shared/booking/booking_registration_business_room_description"
      .col-md-7.hidden-xs.hidden-sm
        = render partial: '/public/bookings/payments/shared/booking_information'
        = render partial: '/public/bookings/payments/_create/payment_information'
    .row.hidden-md.hidden-lg
      hr
      .col-xs-12
        = render partial: '/public/bookings/payments/shared/booking_information_mobile'
        = render partial: '/public/bookings/payments/_create/payment_information_mobile'

#myModal.modal.fade role="dialog" 
  .modal-dialog
    /! Modal content
    .modal-content
      = render partial: "/public/home/friend_hq/#{I18n.locale}"
      .modal-footer
        button.btn.btn-default.pull-right data-dismiss="modal" type="button" #{t(:close)}

/ javascript: 
/   $(window).on('load',function(){
/     $('#myModal').modal('show');
/   });

/   $('#form_friend').on('submit',function(e){
/     e.preventDefault();
/     $.ajax({
/       url:"#{send_code_public_referred_friend_logs_path}",
/       type: "POST",
/       data:$('#form_friend').serialize(),
/       success: function(result)
/         {
/           $('#diver').show();
/           $('#seila').text(result);
/           $('#myModal').modal('hide'); 
/           document.getElementById("diver").style.background = "#dff0d8";  
/         },
/       error: function()
/         {
/           $('#diver').show();
/           $('#seila').text(result);
/           document.getElementById("diver").style.background = "red";
/         }
/     });
/   }); 