.row
  .col-sm-12.border-box.with-padding-bottom
    = render partial: "/public/shared/booking/booking_registration_header", locals: { step: :payment_creation }
    - if mobile_device?
      div.tabs role="tabpanel"
        ul.nav.nav-tabs role="tablist"
          li role="presentation" class="active"
            a href="#billing_data" aria-controls="billing_data" role="tab" data-toggle="tab"
              = t(:billing_information)
          li role="presentation"
            a href="#booking_data" aria-controls="booking_data" role="tab" data-toggle="tab"
              = t(:booking_data)

      .tab-content
        div role="tabpanel" class="tab-pane fade in active" id="billing_data"
          - if @booking.have_promotional_code
            = render partial: '/public/bookings/payments/_new/promotional_code_field'
          = render partial: '/public/bookings/payments/_new/billing_information'
        div role="tabpanel" class="tab-pane fade" id="booking_data"
          = render partial: "/public/shared/booking/booking_registration_hotel_description"
          = render partial: '/public/bookings/payments/shared/booking_information_mobile'
          - if @offer.try(:room_type_id)
            = render partial: "/public/shared/booking/booking_registration_room_type_description"
          - else
            = render partial: "/public/shared/booking/booking_registration_business_room_description"

    - else
      .row
        .col-sm-5
          = render partial: "/public/shared/booking/booking_registration_hotel_description"
          = render partial: '/public/bookings/payments/shared/booking_information'
          - if @offer.try(:room_type_id)
            = render partial: "/public/shared/booking/booking_registration_room_type_description"
          - else
            = render partial: "/public/shared/booking/booking_registration_business_room_description"
        .col-sm-7
          - if @booking.have_promotional_code
            = render partial: '/public/bookings/payments/_new/promotional_code_field'
          = render partial: '/public/bookings/payments/_new/billing_information'



    .modal.fade.js-wait-modal tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myLargeModalLabel"
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button type="button" class="close" data-dismiss="modal" aria-hidden="true" ×
            h1 Por favor, aguarde.
          .modal-body
            p.text-center Processando pagamento.
