.public-affiliate-bookings-controller.show-action
  .border-box
    padding: 20px 30px
    background: white

    h2
      margin-top: 0px

    .room-mini-description
      font-size: 15px
      margin: 10px 0

    .booking-checkout-delay-label
      margin-top: 20px
      margin-bottom: 20px
      color: lighten(#D50000, 4%)
      font-weight: bold


    .wizard-actions
      padding: 30px 0px

      span
        margin-right: 5px

    .booking-information
      border-bottom: 1px solid #eeeeee
      padding-bottom: 20px

      h3
        color: $dark-blue
        text-transform: uppercase
        letter-spacing: 2px
        font-size: 20px

      .booking-date-hour
        display: inline-block
        border-left: 1px solid #cccccc
        border-radius: 5px
        padding-left: 10px

      .display-table
        margin-right: auto
        margin-left: auto

      .attributes-wrapper
        clear: both
        display: inline-block
        width: 100%

        .attribute-title
          float: left
          text-align: right
          font-weight: 600
          font-size: 14px
          margin: 0

          &.checkin-title, &.checkout-title
            padding: 8px

        .content
          font-size: 15px
          letter-spacing: 1px
          float: left
          width: 50%
          font-size: 13px
          line-height: 20px
          margin-left: 10px

        &.booking_tax
          width: 125%
          .attribute-title, .content
            width: 50%
          .attribute-title
            width: auto

      .angular-form-input
        margin-left: 37px
        float: left
        font-size: 14px
        line-height: 20px
        width: 300px

      @media only screen and (min-width: 1200px)
        .booking-guest-name-separator
          height: 10px

        .booking-guest-name-input
          margin-top: 7px !important

      .booking-note-input
        margin-top: 7px !important
