| <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
html
  head
    title
      | Hotel Quando
    = stylesheet_link_tag("ace_admin/init1", :media => "all")
    = stylesheet_link_tag("ace_admin/init2", :media => "all")
    = stylesheet_link_tag("init_login", :media => "all")
    = csrf_meta_tags

  body class="#{classes_for_scoped_css}"
    = yield
