.public-affiliate-users-controller
  h1.page-title
    margin-bottom: 0px

  form
    .divider
      margin: 30px 0px 30px

    .form-group
      .big-input
        width: 400px
      select, #user_number
        width: 50%

    input.btn-success
      width: 100%

  .form-actions
    float: right

    a
      margin-right: 20px
