- if (PublicAffiliate::Bookings::PaymentsController::SENDING_CREDIT_CARD_TO_MANUAL_PAYMENT == false) && (current_public_affiliate_user.credit_cards.first)
  p
    = "#{t(:insert_new_credit_card)} ("
    a href='' ng-click='changeCreditCardFormVisibility()'
      = t(:use_existing_credit_card)
    | ?)
.row
  .col-md-4.col-xs-12.form-group
    - @credit_card.billing_name ||= current_public_affiliate_user.name
    span.form-label
      = CreditCard.human_attribute_name(:billing_name)
    = f.input :billing_name
  .col-md-4.col-xs-12.form-group ng-show="cpfVisible"
    span.form-label
      | #{CreditCard.human_attribute_name(:owner_cpf)}
      a ng-click="changeCpfFieldVisibility()" href=''
        = " (#{t(:use_passport)})"
    - @credit_card.owner_cpf ||= current_public_affiliate_user.cpf
    = f.input :owner_cpf, input_html: { class: 'js-mask-cpf js-credit-card-owner-cpf' }
  .col-md-4.col-xs-12.form-group ng-show="!cpfVisible"
    span.form-label
      = "#{CreditCard.human_attribute_name(:owner_passport)}"
      a ng-click="changeCpfFieldVisibility()" href=''
        = " (#{t(:use_cpf)})"
    br
    - @credit_card.owner_passport ||= current_public_affiliate_user.passport
    = f.input :owner_passport, input_html: { class: 'js-credit-card-owner-passport' }
  .col-md-4.col-xs-4.form-group
    span.form-label
      = CreditCard.human_attribute_name(:billing_zipcode)
    = f.input :billing_zipcode, input_html: {class: 'js-mask-integer', maxlength: '9'}

.row
  .col-md-4.col-xs-12.form-group
    span.form-label
      = CreditCard.human_attribute_name(:billing_address1)
    = f.input :billing_address1
  .col-md-4.col-xs-12.form-group class='{{classForCityInput}}'
    span.form-label
      = CreditCard.human_attribute_name(:billing_city)
    = f.input :billing_city
  .col-md-2.col-xs-12.form-group ng-show='stateVisible'
    span.form-label
      - @credit_card.billing_state ||= 'SP'
      = CreditCard.human_attribute_name(:billing_state)
    = f.input :billing_state, collection: (State.all.order(:initials).pluck(:initials).uniq), prompt: false, input_html: { class: 'js-credit-card-billing-state'}
  .col-md-2.col-xs-12.form-group
    span.form-label
      = CreditCard.human_attribute_name(:billing_country)
    = f.input :billing_country, collection: Country.all.order("name_#{I18n.locale}").pluck("name_#{I18n.locale}", :iso_initials), input_html: {'ng-change' => 'countryChanged()', 'ng-model' => 'creditCardCountry'}

.row
  .col-md-2.col-xs-12.form-group class='{{classForPhoneInput}}'
    span.form-label
      = CreditCard.human_attribute_name(:billing_phone)
    = f.input :billing_phone, input_html: { class: "#{I18n.locale == :pt_br ? 'js-mask-mobile-phone-with-country' : ''}" }

  .col-md-3.col-xs-12.form-group
    span.form-label
      = CreditCard.human_attribute_name(:temporary_number)
    = f.input :temporary_number, input_html: { placeholder: "**** **** **** ****", class: 'js-mask-credit-card-number' }
  .col-md-2.col-xs-4.form-group
    span.form-label
      = CreditCard.human_attribute_name(:security_code)
    = f.input :security_code, input_html: { placeholder: "***" }
  .col-md-3.col-xs-4.form-group
    span.form-label
      = t(:cc_expiration)
    br
    = select_month(@credit_card.expiration_month, use_short_month: true, field_name: 'expiration_month', prefix: 'credit_card', prompt: t(:month))
    - if params[:action] == 'create' && !@credit_card.expiration_month
      span.help-block.error.col-sm-5.col-offset3.inline
        = t('errors.messages.blank')
    - elsif params[:action] == 'create' && (Date.new(@credit_card.expiration_year, @credit_card.expiration_month) < Date.today.beginning_of_month)
      span.help-block.error.col-sm-5.col-offset3.inline
        = t(:is_in_the_past)
  .col-md-2.col-xs-4.form-group#year-input
    span.form-label
    br
    = select_year(@credit_card.expiration_year, field_name: 'expiration_year', prefix: 'credit_card', start_year: Date.today.year, end_year: (Date.today.year + 10), class: 'form-control', prompt: t(:year))
    - if params[:action] == 'create' && !@credit_card.expiration_year
      span.help-block.error.col-sm-5.col-offset3.inline
        = t('errors.messages.blank')

javascript:
  yojs.set('creditCardCountry', "#{(@credit_card.billing_country || 'BR')}")
  yojs.set('userPassport', "#{current_public_affiliate_user.passport}")
  yojs.set('userCpf', "#{current_public_affiliate_user.cpf}")

- if @credit_card.owner_passport.present? && @credit_card.owner_passport != current_public_affiliate_user.passport
  javascript:
    yojs.set('cpfFieldVisible', false)
- else
  javascript:
    yojs.set('cpfFieldVisible', true)
