- options_for_select = []
- if current_public_affiliate_user.is_a_company_employee?
  - credit_cards = CreditCard.where(company_id: current_public_affiliate_user.company_id)
- else
  p
    = "#{t(:use_existing_credit_card)} ("
    a href='' ng-click='changeCreditCardFormVisibility()'
      = t(:insert_new_credit_card)
    | ?)
  - credit_cards = current_public_affiliate_user.credit_cards
- credit_cards.each do | credit_card |
  - options_for_select << ["#{t("payments.#{credit_card.flag_name}")} - #{t(:last_digits)}: #{credit_card.last_four_digits}",credit_card.id]
.form-group
  - if credit_cards.any?
    = select_tag 'credit_card[id]', options_for_select(options_for_select), class: 'select form-control size-100-percent', prompt: t(:select_the_credit_card), 'ng-model' => 'selectedCreditCardId'
  - else
    .alert.alert-info
      = t(:looks_like_your_company_didnt_registered_any_credit_cards)
