= form_tag(check_promotional_code_public_affiliate_promotional_code_logs_path, method: :post) do
  .row.form-group
    .col-md-6.col-xs-12
      input.string.col-sm-12.form-control id="promotional_code" name="promotional_code" type="text" placeholder="#{t(:enter_your_promotional_code)}"
      input.hidden type="text" name="booking_id" value="#{@booking.id}"
    .col-md-6.col-xs-12.center
      = submit_tag t(:use_promotional_code), class: "cpy-submit-button pill green big pull-right submit-button promotional_code_button"