body.public-affiliate-layout

  #footer
    color: #fff
    background-color: #385e4f
    border-top: 1px solid #385e4f
    text-align: center
    padding: 2% 9%
    z-index: 101

    i
      font-size: 20px

  #line
    width: 85%
    margin: 0 auto
    border-bottom: 1px solid #67977d
    z-index: 101

  #footer-logo
    background-color: #385e4f
    z-index: 101
    
    img
      width: auto
      height: 70px
      margin: 15px 86px