.public-affiliate-layout
  #search-box-modal
    z-index: 10000

    .modal-body
      padding: 20px 35px

    .modal-dialog
      width: 538px

  .search-box-modal
    h1
      font-weight: 300
      font-size: 30px
      letter-spacing: 2px
      margin-top: 0px
      margin-bottom: 15px

    .tabbable
      .nav-tabs
        margin-bottom: 15px
        li
          a
            font-size: 13px

    .adress-input
      input
        font-weight: 300
        font-size: 13px
        height: 42px
        
    .number-of-people-input-size
      width: 22%
      padding-left: 20px

    input, select
      background: white
      -webkit-appearance: none
      -moz-appearance: none
      -o-appearance: none
      padding: 2px 13px 0px 13px
      font-size: 13px
      font-weight: 300
      letter-spacing: 1px
      border-radius: 5px !important
      border: 1px solid #c2c2c2
      height: 40px
      color: #555555

    select
      padding: 2px 34px 0px 13px
      background-image: image-url('arrow-down-black.png')
      background-position: center right
      background-repeat: no-repeat

    .input-group .form-control:last-child
      border-radius: 5px

    .up
      margin-bottom: 7px

    .display-table-cell
      vertical-align: bottom

    .checkin
      .col-xs-6
        &:first-child
          padding-right: 8px

        &:last-child
          padding-left: 8px

      input
        width: 100%

      select
        width: 100%

    .center
      margin-right: auto
      margin-left: auto

    .pack-size-row
      margin-top: 24px
      text-align: center

      .pack-size-table
        margin: 0 auto

      .pack-size.btn-group
        display: inline-block
        -moz-box-shadow:    inset 0 0 6px rgb(235, 235, 235)
        -webkit-box-shadow: inset 0 0 6px rgb(235, 235, 235)
        box-shadow:         inset 0 0 6px rgb(235, 235, 235)
        background: white
        border-radius: 5px

        span.clock
          cursor: default
          border: 1px solid #c2c2c2
          display: inline-block
          margin-bottom: 0
          padding: 8px 12px
          border-radius: 4px
          border-bottom-right-radius: 0
          border-top-right-radius: 0
          float: left

          img
            width: 26px
            height: 24px

        a.btn
          border-top: 1px solid #c2c2c2
          border-bottom: 1px solid #c2c2c2
          border-left: 0px
          border-right: 0px
          padding: 10px 30px
          margin: 0px
          color: #555555

          &.rooms
            padding: 10px 31px
          &.meeting-rooms
            padding: 10px 10.8px
          &.event-rooms
            padding: 10px 46px

          &.selected
            background: $green
            color: white
            border-top: 1px solid $green
            border-bottom: 1px solid $green

          &:hover
            background: $light-green
            border-top: 1px solid $light-green
            border-bottom: 1px solid $light-green

          &:first-child
            border-left: 1px solid #c2c2c2
            &.selected
              border-left: 1px solid $green
            &:hover
              border-left: 1px solid $light-green

          &:last-child
            border-right: 1px solid #c2c2c2
            &.selected
              border-right: 1px solid $green
            &:hover
              border-right: 1px solid $light-green

    .pack-size-hint
      text-align: center

    .pack-size-clock
      display: block
      margin-left: 5px

      .pack-size-text
        letter-spacing: 1px
        font-size: 14px
        padding-top: 12px
        line-height: 10px

    .tooltip-toggler
      display: inline-block
      margin-bottom: 8px
      margin-top: 20px
    .search-button
      margin: 0 auto
      height: 45px
      font-size: 21px
      letter-spacing: 3px
      padding: 9px 46px
      font-weight: 700
      border: 0px
      font-family: "Open Sans",Helvetica,Arial,sans-serif

      &:not(.submit-disabled)
        margin-bottom: 8px
        margin-top: 20px

      .tooltip.fade.in
        width: 210px
        top: 18px

.browserFirefox.public-layout
  .search-box-modal
    h1
      margin-bottom: 11px

    select
      padding: 10px 34px 0px 13px
