@media (max-width: 470px)
  .title_container
    margin-top: 80% !important
    margin-bottom: 50px !important

@media (min-width: 471px) and (max-width: 560px)
  .title_container
    margin-top: 69% !important
    margin-bottom: 50px !important

@media (min-width: 561px) and (max-width: 660px)
  .title_container
    margin-top: 60% !important
    margin-bottom: 50px !important

@media (min-width: 661px) and (max-width: 767px)
  .title_container
    margin-top: 51% !important
    margin-bottom: 50px !important

@media (max-width: 768px)
  .public-affiliate-home-controller.index-action

    #footer_nobile
      height: auto
      a
        p
          margin-left: -35px

    .highlights_title
      margin-bottom: 25px

    .index_container
      margin-left: 0 !important

    .hq_search
      width: 100%

    .title_container.index_container
      margin-left: 20px
      width: 96%

    .search_box_hq
      width: auto
      height: 300px !important
      background-color: #fff !important

    .nupcias_image
      img
        margin: 5px auto

    .search_box_nobile
      background-image: image-url('nobile-plus.jpg') !important
      background-size: cover
      background-repeat: no-repeat
      width: auto

    .nobile_search
      width: 100% !important
      height: 310px !important

    .scroller_mobile
      height: auto !important
      width: 80% !important
      margin: 15px 10%

    .nupcias_image
      img
        width: 100% !important
        height: 130px

    .nupcias,
    .romantic
      height: 143px !important

    .fds
      height: 143px !important
      width: 100% !important

    .fds_image
      width: 50% !important
      height: 135px
      background-image: image-url('nobile-pacotes-final-de-semana.png') !important
      background-size: cover
      background-repeat: no-repeat

    .romantic
      height: 135px

    .romantic_image
      width: 50% !important
      height: 135px
      background-image: image-url('nobile-pacotes-romanticos.png') !important
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      margin: -135px auto auto 52.5% !important
      display: block

    .main_title
      color: #fff !important

    .header
      margin-bottom: -10px
    .slideOutTab
      top: 2px
      height: 100%
    .how-it-works-btn
      width: 122px
      height: 33px
      position: absolute
      top: 66px
      margin-left: 16px
      left: 75%

      span
        position: relative
        top: -7px
    .how-it-works-content
      overflow: auto
      .service-box
        width: 210px
    .search-hotels-wrapper
      background-image: none !important
      background-color: #c6ad5f !important
      h1
        font-size: 22px
        text-align: center
      .people-checkin-inputs
        width: 100%
        .display-table-cell.size-60-percent
          width: 100%
        .date-picker-inputs
          display: block

    p.explanation
      font-size: 15px
      text-align: justify
      margin-bottom: 20px

    p.description
      font-size: 15px
      text-align: center

    .services-wrapper
      padding: 5px 0
      h1.title
        font-size: 22px
        margin: 10px 0
        letter-spacing: 2px
        text-align: center
      .service-box
        margin: 30px auto
        h2
          font-size: 18px
        .image
          min-height: 0
        img
          max-height: 60px
          margin: 0

    .home-blue-box
      padding: 5px 0

    .pack-size-hint
      p.hint
        margin-left: 25%
        width: 100%

    .cpy-search-button.btn.green.search-button
      margin-left: 25%

    .selectize-input.items.has-options.full.has-items
      color: #fff
      background-color: #666

      .item
        margin: 12px auto


@media (max-width: 769px)
  .public-affiliate-home-controller.index-action
    .hidden-mobile
      display: none !important

@media (min-width: 769px)
  .public-affiliate-home-controller.index-action
    .hidden-desktop
      display: none !important
