= header_section

- if @hotels.length == 0
  .alert.alert-info
    = t(:none) + ' ' + t('hotel.one').downcase + ' ' + t(:registered) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | #{t("views.admin.hotels.id")}
        th.center
          | #{t("views.admin.hotels.name")}
        th.center
          | #{t("views.admin.hotels.city")}
        th.center
          | #{t("views.admin.hotels.email")}
        th.center
          | #{t("views.admin.hotels.rooms")}
        th.center
          | #{t("views.admin.hotels.offers")}
        th.center
          | #{t("views.admin.hotels.living_rooms")}
        th.center
          | #{t("views.admin.hotels.offers")}
        th.center
          | #{t("views.admin.hotels.on_demand")}
        /th.center
          | #{t("views.admin.hotels.event_halls")}
        /th.center
          | #{t("views.admin.hotels.offers")}
        th.center
          | #{t("views.admin.hotels.actions")}
    tbody
      - @hotels.each do |hotel|
        tr.center
          td
            = hotel.id
          td
            - if hotel.is_omnibees_or_hoteisnet?
              = image_tag('omnibees_logo.png', style: 'width: 20px; margin-right: 5px')
            = hotel.name
          td
            = hotel.city.name
          td
            = hotel.email
          td
            = @room_count_per_hotel_id[hotel.id]
          td
            = hotel.active_offers_count
          td
            = @meeting_room_count_per_hotel_id[hotel.id]
          td
            = hotel.active_meeting_offers_count
          td
            = hotel.booking_on_request ? 'Sim' : 'Não'
          /td
            = @event_room_count_per_hotel_id[hotel.id]
          /td
            = hotel.active_event_offers_count
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_hotel_path(hotel.id), class: 'btn btn-xs btn-success'

            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_hotel_path(hotel.id), class: 'btn btn-xs btn-info cpy-edit-hotel-link'

            = link_to "<i class='fa fa-building-o'></i>".html_safe, authenticate_as_admin_hotel_path(hotel.id), class: 'btn btn-xs btn-default cpy-hotel-login-link', target: "_blank"
