ruby:
  if current_admin_manager.country == "BR"
    @cities_list = ActiveRecord::Base.connection.execute("SELECT cities.id, cities.name, states.initials, countries.iso_initials FROM cities INNER JOIN states ON states.id = cities.state_id INNER JOIN countries ON countries.id = states.country_id  ORDER BY cities.id ").collect{|c| "#{c['id']}, #{c['name']}, #{c['initials']}, #{c['iso_initials']}" }

  else
    states = Country.where(iso_initials: current_admin_manager.country).first.states.collect(&:id).to_s.delete("[").delete("]")
    @cities_list = ActiveRecord::Base.connection.execute("SELECT cities.id, cities.name, states.initials, countries.iso_initials FROM cities INNER JOIN states ON states.id = cities.state_id INNER JOIN countries ON countries.id = states.country_id WHERE states.id IN (#{states}) ").collect{|c| "#{c['id']}, #{c['name']}, #{c['initials']}, #{c['iso_initials']}" }
  end

= header_section
= render :partial => "admin/hotels/form/form", locals: {hotel: @hotel}
