= header_section
= panel_section(name: t("views.admin.hotels.hotel_information")) do

  = render partial: 'admin/hotels/show/hotel_info'

  = panel_section(name: t("views.admin.hotels.rooms")) do

    = render partial: 'admin/hotels/show/lowest_offer_prices_per_pack'

    = render partial: "admin/hotels/show/room_types"

    = render partial: "admin/hotels/show/pricing_policies"
  br

  = panel_section(name: t("views.admin.hotels.meeting_room")) do

    = render partial: 'admin/hotels/show/lowest_meeting_offer_prices_per_pack'

    = render partial: "admin/hotels/show/meeting_rooms"

    = render partial: "admin/hotels/show/meeting_room_pricing_policies"
  br

  /= panel_section(name: t("views.admin.hotels.event_halls")) do

    = render partial: 'admin/hotels/show/lowest_event_offer_prices_per_pack'

    = render partial: "admin/hotels/show/event_rooms"

    = render partial: "admin/hotels/show/event_room_pricing_policies"
  br

  - if @hotel.photos.first
    = shared_component("photo_list_show", {photos: @hotel.photos})
  - else
    h3.header.smaller.lighter.green
      | #{t("views.admin.hotels.photos")}
    .alert.alert-info
      | #{t("views.admin.hotels.hotel_has_no_photo")}
  = show_panel_buttons_section
