.row
  .col-sm-12.border-box.with-padding-bottom
    = render partial: "/public/shared/booking/booking_registration_header", locals: { step: :booking_creation }
    - if mobile_device?
      div.tabs role="tabpanel"
        ul.nav.nav-tabs role="tablist"
          li role="presentation" class="active"
            a href="#guest_data" aria-controls="guest_data" role="tab" data-toggle="tab"
              = t(:guest_data)
          li role="presentation"
            a href="#booking_data" aria-controls="booking_data" role="tab" data-toggle="tab"
              = t(:booking_data)

      .tab-content
        div role="tabpanel" class="tab-pane fade in active" id="guest_data"
          .col-xs-12
            = render partial: "/public/bookings/new/booking_details"
        div role="tabpanel" class="tab-pane fade" id="booking_data"
          .col-xs-12
            = render partial: "/public/shared/booking/booking_registration_hotel_description"
            = render partial: '/public/bookings/new/booking_information_mobile'
            - if @offer.try(:room_type_id)
              = render partial: "/public/shared/booking/booking_registration_room_type_description"
            - else
              = render partial: "/public/shared/booking/booking_registration_business_room_description"

    - else
      .row
        .col-sm-5
          = render partial: "/public/shared/booking/booking_registration_hotel_description"
          = render partial: '/public/bookings/new/booking_information'
          - if @offer.try(:room_type_id)
            = render partial: "/public/shared/booking/booking_registration_room_type_description"
          - else
            = render partial: "/public/shared/booking/booking_registration_business_room_description"
        .col-sm-7
          = render partial: "/public/bookings/new/booking_details"

- if Rails.env.production?
  |
    <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/integration/stable/rd-js-integration.min.js"></script>  
    <script type="text/javascript">
        var meus_campos = {
            'public_user[email]': 'email'
         };
        options = { fieldMapping: meus_campos };
        RdIntegration.integrate('779cf0ae4b4eb49d66889c3d1d760179', 'Reserva efetuada', options);  
    </script>