- content_for(:title) { t('views.admin_mailer.error_reserving_on_omnibees.title') }
p = t('views.admin_mailer.error_reserving_on_omnibees.greeting')
p = t('views.admin_mailer.error_reserving_on_omnibees.message')

p = t('views.admin_mailer.error_reserving_on_omnibees.booking.title')
p.small
  span.gray== t('views.admin_mailer.error_reserving_on_omnibees.booking.id')
  span = @booking.id
  br
  br
  span.gray== t('views.admin_mailer.error_reserving_on_omnibees.booking.user_id')
  span = @booking.user.id
  br
  br
  span.gray== t('views.admin_mailer.error_reserving_on_omnibees.booking.checkin')
  span = @booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")
  br
  br
  span.gray== t('views.admin_mailer.error_reserving_on_omnibees.booking.hotel_id')
  span = @booking.hotel_id
  br
  br
  span.gray== t('views.admin_mailer.error_reserving_on_omnibees.booking.hotel_name')
  span = @booking.hotel.name

- if @credit_card.present?
  p = t('views.admin_mailer.error_reserving_on_omnibees.credit_card.title')
  p.small
    span.gray== t('views.admin_mailer.error_reserving_on_omnibees.credit_card.user_name')
    span = @credit_card.billing_name
    br
    br
    span.gray== t('views.admin_mailer.error_reserving_on_omnibees.credit_card.number')
    span = @credit_card.temporary_number
    br
    br
    span.gray== t('views.admin_mailer.error_reserving_on_omnibees.credit_card.flag')
    span == t(CreditCardValidator::Validator.card_type(@credit_card.temporary_number.to_s) )
    br
    br
    span.gray== t('views.admin_mailer.error_reserving_on_omnibees.credit_card.expiration_date')
    span == "#{t("date.month_names")[@credit_card.expiration_month.to_i]}/#{@credit_card.expiration_year}"
    br
    br

    span.gray== t('views.admin_mailer.error_reserving_on_omnibees.credit_card.phone')
    span = @credit_card.read_attribute(:billing_phone)
    br
    br
    span.gray= t('views.admin_mailer.error_reserving_on_omnibees.credit_card.address')
    span = @credit_card.billing_address1
    br
    br
    span.gray= t('views.admin_mailer.error_reserving_on_omnibees.credit_card.zipcode')
    span = @credit_card.billing_zipcode
    br
    br
    - if @credit_card.owner_cpf.present?
      span.gray== t('views.admin_mailer.error_reserving_on_omnibees.credit_card.cpf')
      span = @credit_card.read_attribute(:owner_cpf)
      br
      br
    - else
      span.gray== t('views.admin_mailer.error_reserving_on_omnibees.credit_card.passport')
      span = @credit_card.owner_passport
      br
      br
    span.gray== t('views.admin_mailer.error_reserving_on_omnibees.credit_card.country')
    span = @credit_card.billing_country
    br
    br
    - unless @credit_card.billing_state == 'ZZ'
      span.gray== t('views.admin_mailer.error_reserving_on_omnibees.credit_card.state')
      span = @credit_card.billing_state
      br
      br
    span.gray== t('views.admin_mailer.error_reserving_on_omnibees.credit_card.city')
    span = @credit_card.billing_city
