- content_for(:title) { t('views.admin_mailer.error_cancelling_on_omnibees.title') }
p = t('views.admin_mailer.error_cancelling_on_omnibees.greeting')
p = t('views.admin_mailer.error_cancelling_on_omnibees.message')

p = t('views.admin_mailer.error_cancelling_on_omnibees.booking.title')
p.small
  span.gray== t('views.admin_mailer.error_cancelling_on_omnibees.booking.id')
  span = @booking.id
  br
  br
  span.gray== t('views.admin_mailer.error_cancelling_on_omnibees.booking.user_id')
  span = @booking.user.id
  br
  br
  span.gray== t('views.admin_mailer.error_cancelling_on_omnibees.booking.checkin')
  span = @booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")
  br
  br
  span.gray== t('views.admin_mailer.error_cancelling_on_omnibees.booking.hotel_id')
  span = @booking.hotel_id
  br
  br
  span.gray== t('views.admin_mailer.error_cancelling_on_omnibees.booking.hotel_name')
  span = @booking.hotel.name
