- content_for(:title) { t('views.admin_mailer.no_show_pending_charge_notice.title') }
p = t('views.admin_mailer.no_show_pending_charge_notice.greeting')
p = t('views.admin_mailer.no_show_pending_charge_notice.message', hotel_name: @booking.hotel.name, hotel_id: @booking.hotel.id)

p = t('views.admin_mailer.no_show_pending_charge_notice.booking.title')
p.small
  span.gray== t('views.admin_mailer.no_show_pending_charge_notice.booking.id')
  span = @booking.id
p.small
  span.gray== t('views.admin_mailer.no_show_pending_charge_notice.booking.user_id')
  span = @booking.user.id
p.small
  span.gray== t('views.admin_mailer.no_show_pending_charge_notice.booking.checkin')
  span = @booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")
p.small
  span.gray== t('views.admin_mailer.no_show_pending_charge_notice.booking.hotel_id')
  span = @booking.hotel_id
p.small
  span.gray== t('views.admin_mailer.no_show_pending_charge_notice.booking.hotel_name')
  span = @booking.hotel.name
p.small
  span.gray== t('views.admin_mailer.no_show_pending_charge_notice.booking.user_name')
  span = @booking.user.name
p.small
  span.gray== t('views.admin_mailer.no_show_pending_charge_notice.booking.user_email')
  span = @booking.user.email
p.small
  span.gray== t('views.admin_mailer.no_show_pending_charge_notice.booking.no_show_value')
  span
    b = number_to_currency @booking.no_show_value
