- content_for(:title) { t('views.admin_mailer.send_no_show_refund_error_notice.title') }
p == t('views.admin_mailer.send_no_show_refund_error_notice.greeting')
p = t('views.admin_mailer.send_no_show_refund_error_notice.message', hotel_name: @booking.hotel.name, hotel_id: @booking.hotel.id)

p = t('views.admin_mailer.send_no_show_refund_error_notice.booking.title')

p.small
  span.gray== t('views.admin_mailer.send_no_show_refund_error_notice.booking.user_id')
  span = @booking.user.id
p.small
  span.gray== t('views.admin_mailer.send_no_show_refund_error_notice.booking.user_name')
  span = @booking.user.name
p.small
  span.gray== t('views.admin_mailer.send_no_show_refund_error_notice.booking.user_email')
  span = @booking.user.email

p.small
  span.gray== t('views.admin_mailer.send_no_show_refund_error_notice.booking.id')
  span = @booking.id
p.small
  span.gray== t('views.admin_mailer.send_no_show_refund_error_notice.booking.checkin')
  span = @booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")
p.small
  span.gray
    ' #{t('views.admin_mailer.send_no_show_refund_error_notice.booking.total_price')}
  span = number_to_currency @booking.total_price
p.small
  span.gray
     == t('views.admin_mailer.send_no_show_refund_error_notice.booking.no_show_value')
  span = number_to_currency @booking.no_show_value
p.small
  span.gray
    ' #{t('views.admin_mailer.send_no_show_refund_error_notice.booking.refund_value')}
  span = number_to_currency @booking.no_show_refund_value
