- content_for(:title) { t('views.admin_mailer.send_new_possible_partner_contact.title') }
p = t('views.admin_mailer.send_new_possible_partner_contact.greeting')
- if @possible_partner_contact.type_of_contact == PossiblePartnerContact::TYPES_OF_CONTACT[:hotel_contact]
  p
    = t('views.admin_mailer.send_new_possible_partner_contact.hotel_partner_contact', contact_name: @possible_partner_contact.name)
- elsif @possible_partner_contact.type_of_contact == PossiblePartnerContact::TYPES_OF_CONTACT[:company_contact]
  p
    = t('views.admin_mailer.send_new_possible_partner_contact.company_partner_contact', contact_name: @possible_partner_contact.name)
p.small
  span.gray== t('views.admin_mailer.send_new_possible_partner_contact.message')
  span = @possible_partner_contact.message
- if @possible_partner_contact.type_of_contact == PossiblePartnerContact::TYPES_OF_CONTACT[:hotel_contact]
  p == t('views.admin_mailer.send_new_possible_partner_contact.hotel_info')
- elsif @possible_partner_contact.type_of_contact == PossiblePartnerContact::TYPES_OF_CONTACT[:company_contact]
  p == t('views.admin_mailer.send_new_possible_partner_contact.company_info')

p.small
  span.gray== t('views.admin_mailer.send_new_possible_partner_contact.contact_name')
  span = @possible_partner_contact.contact_name
  br

- unless @possible_partner_contact.contact_role.blank?
  p.small
    span.gray== t('views.admin_mailer.send_new_possible_partner_contact.contact_position')
    span = @possible_partner_contact.contact_role
    br
- unless @possible_partner_contact.email_for_contact.blank?
  p.small
    span.gray== t('views.admin_mailer.send_new_possible_partner_contact.email')
    span = link_to("#{@possible_partner_contact.email_for_contact}", "#", class: 'small')
    br
- unless @possible_partner_contact.phone.blank?
  p.small
    span.gray== t('views.admin_mailer.send_new_possible_partner_contact.phone_number')
    span = @possible_partner_contact.phone
    br
p.small
  span.gray== t('views.admin_mailer.send_new_possible_partner_contact.language')
  span = @possible_partner_contact.locale.to_s.upcase.gsub('_','-')

p = t('views.admin_mailer.send_new_possible_partner_contact.see_all_contacts')
p = link_to admin_possible_partner_contacts_url, admin_possible_partner_contacts_url
