- content_for(:title) { t('views.admin_mailer.send_booking_cancellation_notice.title') }
p = t('views.admin_mailer.send_booking_cancellation_notice.greeting')
p = t('views.admin_mailer.send_booking_cancellation_notice.message')

p = t('views.admin_mailer.send_booking_cancellation_notice.booking.title')
p.small
  span.gray== t('views.admin_mailer.send_booking_cancellation_notice.booking.id')
  span = @booking.id
  br
  br
  span.gray== t('views.admin_mailer.send_booking_cancellation_notice.booking.user_id')
  span = @booking.user.id
  br
  br
  span.gray== t('views.admin_mailer.send_booking_cancellation_notice.booking.checkin')
  span = @booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")
  br
  br
  span.gray== t('views.admin_mailer.send_booking_cancellation_notice.booking.hotel_id')
  span = @booking.hotel_id
  br
  br
  span.gray== t('views.admin_mailer.send_booking_cancellation_notice.booking.hotel_name')
  span = @booking.hotel.name
