.public-home-controller.about-us-action
  .border-box
    h2
      font-weight: 300
    h3
      font-size: 20px
      color: #555555
      font-style: italic
      .citation
        font-size: 14px
        font-style: normal
    i, .glyphicon
      max-width: 100%
      max-height: 200px
      margin: 20px 0px
      font-size: 120px
      color: $dark-blue

    .explanation
      font-size: 17px
      letter-spacing: 1px

    .btn
      display: inline-block

    .ou
      line-height: 40px

    .display-table.actions
      margin: 0 auto

      .display-table-cell
        padding: 0 10px


