.public-home-controller.be-our-partner-action
  .flash-message  
    position: relative 
    z-index: 99
    top: 0
    right: 0
  .image-and-describe
    background-image: url('/assets/room-clear2.jpg')
    height: 400px
    background-repeat: no-repeat
    background-size: 100% auto
    background-position: center
    color: white
    .title
      padding-top: 120px
      font-size: 46px
      font-family: "bebas_neueregular",sans-serif !important
      position: relative
    .describe
      padding-top: 10px
      font-size: 24px
      font-family: "geosanslightregular",sans-serif !important
      position: relative
  h4
    font-weight: 300
  .green-title
    color: $green
  h1.page-title
    font-weight: 300
    font-size: 34px
    letter-spacing: 3px
    margin-bottom: 23px
  .with-margin
    margin: 25px

  .why-sale
    h4
      font-weight: 700

  .obs
    display: block
    margin-top: 12px

.how-much
  p.explanation
    font-size: 32px
    line-height: 40px
  p.explanation.en
    font-size: 25px
  p.explanation, button.btn
    display: inline
  input.value
    font-size: 26px
    height: initial
    padding: 4px 20px 2px 20px
  .hour
    font-size: 32px
    margin-top: 25px

.cadaster
  .form
    label
      line-height: 20px
      color: $label-light-gray
      font-style: italic
      font-size: 14px
      font-weight: lighter
      margin-top: 5px
      margin-bottom: 0

    p.help-block
      font-size: 12px

    .terms-of-use
      .checkbox
        margin-top: 31px

      label
        font-size: 19px

  .field-with-error
    span
      color: #E60000
    input, textarea
      border: 1px solid #E60000

    span
      background: white

  button.submit-disabled:hover
    cursor: help !important

#js-modal-terms-of-use
  h4
    font-weight: 700

  button
    display: inline-block

  button.close
    margin-top: -67px

.partners-hotel
  .accor
    margin-top: 17px

  .thg
    margin-top: 14px

  .intercity
    margin-top: 22px

  .hplus
    margin-top: 22px

  .vert
    margin-top: 16px

