@media (min-width: 768px)
  .public-home-controller.black-friday-action
    .image-and-describe
      background-image: url('/assets/black_friday.png')
      height: 360px
      background-repeat: no-repeat
      background-size: 100% auto
      background-position: center
      color: white

    .code
      text-align: center
      color: black
      font-size: 17px

    .title
      font-size: x-large
      margin: 40px 50px 0px 36px
      font-weight: 500
    
    .unity_discount
      margin: 24px 30px
      width: 220px

    .hotel_image
      img
        object-fit: cover
        width: 220px
        height: 150px
        filter: brightness(50%)
    
    .main_hotel_name
      a
        text-align: center
        color: #fff
        display: flex
        position: absolute
        font-weight: initial
        top: 100px
        left: 150px
        padding: 5px
        font-family: "Oxygen"
        font-size: 21px
        transform: translate(-50%, -50%)
        z-index: 15

@media (max-width: 767px)
  .public-home-controller.black-friday-action
    .image-and-describe
      background-image: url('/assets/black_friday.png')
      height: 110px
      background-repeat: no-repeat
      background-size: 100% auto
      background-position: center
      color: white

    .code
      text-align: center
      color: black
      font-size: 17px

    .title
      font-size: x-large
      margin: 40px 50px 0px 36px
      font-weight: 500
    
    .unity_discount
      margin-top: 10px
      width: 101px
      text-align: left

    .hotel_image
      img
        object-fit: cover
        width: 100px
        height: 100px
        filter: brightness(50%)
    
    .main_hotel_name
      a
        text-align: center
        color: #fff
        display: flex
        position: absolute
        font-weight: initial
        top: 61px !important
        left: 60px
        padding: 5px
        font-family: "Oxygen"
        font-size: 17px
        transform: translate(-50%, -50%)
        z-index: 15





