.public-home-controller.brahma-action
  .brahma
    margin-bottom: 20px
    border-radius: 5px
    padding-top: 0px

    h1.uber-title
      font-size: 25px
      margin: 20px 0 30px

    .banner
      line-height: 200px
      width: 100%
      overflow: hidden
      text-align: center

      img
        margin: -100%

    div.description
      text-align: center
      font-size: 12px
      margin: 10px 0 0

    .gray
      color: #727375
      font-weight: 600
    .brahma-description
      margin: 20px 0 30px
    .regulation
      height: 300px
      margin: 20px 0 30px
      h1.regulation-title
        font-size: 30px
      h2.regulation-subtitle
        font-size: 20px
      p.description
        margin: 0 0 3px
        float: left
        clear: both
