.public-home-controller.business-trips-action
  .flash-message  
    position: relative 
    z-index: 99
    top: 0
    right: 0
  .form-register-agency-company
    select
      height: 34px
  .ajax-loader
    display: none
    text-align: center
    img
      padding: 20px
  .js-booking-pack-city
    background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%)
  .image-and-describe
    background-image: url('/assets/any-time-room-search3.jpg')
    height: 400px
    background-repeat: no-repeat
    background-size: 100% auto
    background-position: center
    color: white
    .title
      padding-top: 120px
      font-size: 46px
      font-family: "bebas_neueregular",sans-serif !important
      position: relative
    .describe
      padding-top: 10px
      font-size: 24px
      font-family: "geosanslightregular",sans-serif !important
      position: relative
  h4
    font-weight: 300
  .green-title
    color: $green
  h1.page-title
    font-weight: 300
    font-size: 34px
    letter-spacing: 3px
    margin-bottom: 23px
  .icons
    img
      width: 100px
      margin: 30px 34px 30px 34px
      position: relative
      top: 50px
  .when-booking-describe
    margin: 40px 42px
  .with-margin
    margin: 25px
  .hire-table
    margin-top: 20px
    overflow-x: auto
    margin-left: 0px
    margin-right: 0px
  .hire-row
    label
      margin-right: 12px
  .why-hire
    h4
      font-weight: 700
    .links-modal
      a
        font-size: 16px
        color: #555555
        text-decoration: underline
        &:hover
          color: #555555
          text-decoration: underline
  .example-bar
    padding: 15px 25px 25px 25px
    color: white
    overflow: hidden
    &.example-night
      background: $night-room-transparent
    &.example-day
      background: $day-room-transparent
    .checkin
      float: left
      width: 170px
      margin: 0px 8px
      label.title
        width: 100%

      .checkin-date
        width: 116px
        float: left
        padding: 0px

        input
          width: 100%
      .checkin-hour
        float: left
        width: 156px
        padding: 0px

        label
          float: left
          margin: 10px
          &.at
            font-weight: 100

        button
          font-weight: bold
          margin: 8px 0 0 0
          font-size: 22px
          background-color: white
          color: #007EFF
          padding: 0px
          text-align: center
          float: left
          border: 0px
          display: block
          width: 24px
          height: 24px
          line-height: 24px
          border-radius: 50%
          text-decoration: none

          &:focus
            outline: 0

          span
            position: relative
            top: -1px

            &.minus
              top: -2px

        .hour
          margin: 3px 5px 0px 5px
          font-size: 23px
          float: left

    .checkout-hour
      float: left
      width: 190px
      padding: 0px
      margin: 0px 8px

      label
        font-weight: 100
        float: left
        margin: 10px 2px 0px 2px

        &.title-checkout
          font-weight: bold
          float: none
          display: block
          margin: 0px 0px 3px 0px
        &.hour
          font-weight: bold

      .hour
        float: left
        margin: 3px 5px 0px 5px
        font-size: 23px
        label
          font-weight: bold

    .pack-size
      width: 185px
      a.btn
        padding: 10px 10px 10px 10px

        &.selected
          background: rgba(0, 0, 0, 0.25)
          color: white

        &:hover
          background: dark-gray



  .form
    .btn-success
      margin-top: 10px

    .btn-success.pt-br
      padding-left: 17px

    label
      line-height: 20px
      color: $label-light-gray
      font-style: italic
      font-size: 14px
      font-weight: lighter
      margin-top: 5px
      margin-bottom: 0

  .slides
    iframe
      width: 100%
      height: 359px
      border: 1px solid #CCC
      border-width: 1px 1px 0
      margin-bottom: 5px

    iframe.en
      height: 413px

  .field-with-error
    span
      color: #E60000
    input, textarea
      border: 1px solid #E60000

  .divider
    margin-top: 10px

  button.submit-disabled:hover
    cursor: help !important
