.public-home-controller.friend-hq-action,
.public-bookings-payments-controller.create-action,
.public-bookings-payments-controller.payment-success-action
  .add-friend
    position: relative
    display: inline-block
    background: #3397db
    color: white
    margin-left: 50px

  .flash-message  
    position: relative 
    z-index: 99
    top: 0
    right: 0
  .share-facebook-and-whatsapp-buttons
    display: inline-flex
    color: white
    text-align: center
  .btn_whats_share
    background-color: #57b12f
    width: 110px
    border-radius: 3px
    margin-left: 5px
    a
      font-size: 12.8px
      color: white
      font-family: Helvetica, Arial, sans-serif
  .btn_whats_share:hover
    background-color: #438924
  .modal-content
    width: 157%
    right: 163px
    padding: 0px !important
    border: 0 !important
  .share-happy
    color: white
    margin-top: 90px
    width: 350px
    height: 295px
    position: absolute
    border-bottom-right-radius: 20px
    border-top-right-radius: 20px
    background-color: rgba(50, 151, 219, 0.8)
    text-align: left
    padding: 22px
    font-size: 44px
    font-family: 'Bree Serif', serif
  .member-get-member-box
    padding: 9px
    .share-code-box
      padding: 25px 72px
      text-align: justify
    .promotional-code-box
      margin-top: 20px
      position: relative
      display: inline-block
      border: 2px solid #57B12F
      height: 60px
      padding: 6px 18px
      &::before
        content: ""
        position: absolute
        height: calc(100% + 10px)
        width: 76%
        background-color: white
        top: -5px
        left: 12%
      &::after
        content: ""
        position: absolute
        height: 50%
        width: calc(100% + 10px)
        background-color: white
        top: 25%
        left: -5px
      span
        font-size: 28px
        position: relative
        z-index: 1

        

    .credits-box
      margin-bottom: 25px
    .description-box
      &.credits
        padding: 20px
        margin: 0px 25px
        &.first
          margin: 0px 0px 0px 50px
        &.last
          margin: 0px 50px 0px 0px
        &.credit-header
          border-top-right-radius: 8px
          border-top-left-radius: 8px
        &.credit-footer
          border-bottom-right-radius: 8px
          border-bottom-left-radius: 8px
      &.with-bord
        background-color: white
        color: black
        border: solid 1px #3297db
      background-color: #3297db
      color: white
      padding: 20px 200px
      text-align: center
      &.refer-friends
        margin: 80px 0px 50px 0px
        font-size: 25px
        padding-bottom: 12px
        i
          margin-top: 5px
          font-size: 40px
    .is-simple
      font-weight: 500
      padding: 40px
      font-size: 25px
    .circles
      span
        width: 120px
        height: 120px
        i
          &.fa-circle
            color: #57B12F
            font-size: 120px
          &.icon
            font-size: 60px
            line-height: 120px
    .describe-circle
      font-size: 20px
    .inputs-refer-friends
      .group-refer
        margin: 15px 50px
        span
          background-color: #3397db
          color: white
          border-color: #3397db
        .fa-child
          display: table-cell
          font-size: 26px
          padding: 5px 15px
      .submit-button
        margin: 20px 0px
        padding: 0px
    .your-credits
      margin: 25px 0px
      font-size: 25px
  .image-and-describe
    background-image: image-url('member_get_member_image.png')
    height: 400px
    background-repeat: no-repeat
    background-size: cover
    background-position: top
    border-radius: 20px

  h4
    font-weight: 300

