.public-layout.public-home-controller  
  .big-icon
    max-width: 100%
    max-height: 200px
    margin: 20px 0px
    font-size: 120px
    color: $dark-blue
  .box-foot
    margin-top: 20px
    span.colored
      font-size: 30px
      font-weight: bold
      .gray
        color: #888
      .blue
        color: #245071
      .green
        color: #A7C554

  span.big-phrase
    letter-spacing: 1px
    font-size: 22px
    color: #57b12f
    font-weight: 300
    margin-top: 0px
    line-height: 33px
    margin-bottom: 0px

  span.big-number
    color: #57b12f
    font-size: 45px
    font-weight: 500
    width: 51px
    text-align: center
    display: inline-block
    border-radius: 80px
    background: #eeeeee
    margin-right: 10px
    line-height: 51px
  p
    color: #555555
    font-size: 15px
    font-weight: 300
    line-height: 24px

  p.bigger
    font-size: 17px
    letter-spacing: 1px
    font-weight: 300
    line-height: 32px
    color: #9C9C9C

  p.hint
    font-size: 12px
    margin: 0px

  .border-box > ol
    & > li
      padding: 10px 0px
      font-size: 15px
      color: #428bca
      font-weight: 400
      b
        font-weight: 400
      .panel-collapse, & > p:first, ul.sublist
        margin: 0px
        color: #555555
        font-weight: 300
        line-height: 24px

    ol.letters
      list-style-type: upper-alpha

    ul.sublist
      list-style-type: disc
      padding-left: 18px

    ol.letters, ul.sublist
      & > li
        padding: 0px
        font-weight: 300
        color: #555555

  .img
    border: 1px solid #eeeeee
    box-shadow: 1px 1px 9px rgba(231, 231, 231, 0.55)
    max-width: 100%
    margin: 20px 0px

  .rounded-border
    border-radius: 10px

  .with-padding
    padding: 30px

  .last-row
    padding-top: 75px

    a.pill.big
      padding: 11px 60px
      margin: 35px 0px
      text-transform: initial

  .service-box
    width: 270px

    h2
      font-size: 24px
      font-weight: 300
      line-height: 31px

    p
      line-height: 20px
      letter-spacing: 0px
      text-align: justify
      margin-top: 15px

    .image
      min-height: 105px

.browserFirefox.public-layout.public-home-controller
  .img
    width: 100%
  .teste
    width: 50px