@media (min-width: 768px)
  .public-home-controller.hours-discount-action
    h2
      padding-top: 12px
      text-align: center
    .with-padding-top
      width: 100%
      padding: 0
    .image-and-describe
      background-image: url('/assets/hours_discount_background.png')
      height: 400px
      background-repeat: no-repeat
      background-size: 100% auto
      background-position: top
      color: white
    .desc-box
      position: absolute
      top: 90px
      background: rgba(161, 193, 82, 0.79)
      padding: 20px 40px
      color: white
      font-family: oxygen
      font-size: 30px
      text-align: center
      font-weight: 600
      -webkit-text-stroke-width: 1px
      -webkit-text-stroke-color: white
      letter-spacing: 1px
    .code
      text-align: center
      color: black
      font-size: 17px

    .title
      font-size: x-large
      margin: 40px 50px 0px 36px
      font-weight: 500
    
    .unity_discount
      margin: 24px 30px
      width: 220px

    .hotel_image
      img
        object-fit: cover
        width: 220px
        height: 150px
        filter: brightness(50%)
    
    .main_hotel_name
      a
        text-align: center
        color: #fff
        display: flex
        position: absolute
        font-weight: initial
        top: 100px
        left: 150px
        padding: 5px
        font-family: "Oxygen"
        font-size: 21px
        transform: translate(-50%, -50%)
        z-index: 15

@media (max-width: 767px)
  .public-home-controller.hours-discount-action
    .with-padding-top
      width: 100%
      padding: 0
    .image-and-describe
      background-image: url('/assets/hours_discount_background.png')
      height: 210px
      background-repeat: no-repeat
      background-size: auto 100%
      background-position: right
      color: white
    .code
      text-align: center
      color: black
      font-size: 17px

    .title
      font-size: x-large
      margin: 40px 50px 0px 36px
      font-weight: 500
    
    .unity_discount
      margin-top: 10px
      width: 101px
      text-align: left

    .hotel_image
      img
        object-fit: cover
        width: 100px
        height: 100px
        filter: brightness(50%)
    
    .main_hotel_name
      a
        text-align: center
        color: #fff
        display: flex
        position: absolute
        font-weight: initial
        top: 61px !important
        left: 60px
        padding: 5px
        font-family: "Oxygen"
        font-size: 17px
        transform: translate(-50%, -50%)
        z-index: 15





