.public-home-controller.how-it-works-action
  &.browserIE, &.browserFirefox
    .display-table-cell
      img
        width: 100%
  .flash-message  
    position: relative 
    z-index: 99
    top: 0
    right: 0
