.public-home-controller.index-action

  button.submit-disabled
    cursor: help

  .flash-message
    position: absolute
    z-index: 99
    top: 60px
    right: 0

  .soccer_promotion
    .close
      color: #fff
      position: fixed
      opacity: 1
      right: 7px
      z-index: 30
      margin-top: 3px
    a
      position: fixed
      right: 0
      z-index: 15
      padding: 11px 31px 11px 31px
      top: 38%
      right: 5.5%
      font-size: 17px
    p
      width: 271px
      height: 229px
      color: #fff
      font-family: "Quicksand"
      font-size: 16px
      font-weight: 600

    p.first_sentence
      right: 3px
      z-index: 15
      position: fixed
      margin-top: 7px

    img
      width: 22%
      height: auto
      position: fixed
      z-index: 10
      right: 0

  .registration_box
    width: 300px
    height: 275px
    position: fixed
    z-index: 100
    right: 0
    background-color: rgba(255, 255, 255, 0.45)
    top: 150px

    &.hours_discount_box
      font-weight: 600
      height: 65px
      top: 370px
      background-color: rgba(92, 184, 92, 0.6)
      font-size: 30px
      text-align: center
      color: white
      font-family: quicksand
      line-height: 65px
      span.click_here
        font-size: 16px
        position: relative
        bottom: 50px
        display: block
        height: 52px
      span.three_free
        bottom: 8px
        position: relative

    &.twelve_hours_discount_box
      font-weight: 600
      height: 65px
      top: 447px
      background-color: rgba(0, 126, 255, 0.45)
      font-size: 24px
      text-align: center
      color: white
      font-family: quicksand
      line-height: 65px
      span.click_here
        font-size: 16px
        position: relative
        bottom: 50px
        display: block
        height: 52px
      span.twelve_free
        bottom: 8px
        position: relative  

    .close
      color: #fff
      position: fixed
      opacity: 1
      right: 7px
      z-index: 30
      margin-top: 3px
    a
      position: fixed
      right: 0
      z-index: 15
      padding: 11px 31px 11px 31px
      top: 38%
      right: 5.5%
      font-size: 17px

    p.first_sentence
      right: 3px
      z-index: 15
      position: fixed
      margin: 30px auto
      width: 271px
      height: auto
      color: rgb(123, 110, 110)
      font-family: "Quicksand"
      font-size: 16px
      font-weight: 600

    .form-box
      width: 70%
      height: auto
      margin: 106px auto

      input#email, select#country
        margin-bottom: 5px
        margin-top: 5px

    .register_button
      margin: 8px 35px

  .newsletter-bar
    background: #1B4D73
    padding: 15px 0px

    i.glyphicon-envelope
      background: white
      padding: 10px
      border-radius: 50px
      font-size: 24px
      color: #1B4D73
    span
      color: white
    .box-span
      display: inline-block
      position: relative
      top: 4px
      margin: 0 6px

    .form-newsletter
      display: inline-block
      position: relative
      bottom: 4px

      input
        margin: 0px 8px
        float: none
      .email-input
        display: inline-block
        width: 240px
      .wait-submit-button
        cursor: wait !important
        background-color: #A0A0A0 !important
        border-color: #A0A0A0 !important
      .submit-button
        color: white !important
        background-color: #5cb85c !important
        border-color: #4cae4c !important

  .search-hotels-wrapper
    transition: background 0.6s linear
    background-position: center center
    background-repeat: no-repeat
    &.night-rooms-background
      background-image: image-url('room-night-background.jpg')
      .tab-content-custom
        background: $night-room-transparent
    &.morning-rooms-background
      background-image: image-url('morning-room-background.jpg')
      .tab-content-custom
        background: $day-room-transparent
        .pack-size
          a.btn
            border-color: $day-room-transparent
      .tab-content-custom
        background: $any-time-room-transparent
        .pack-size
          a.btn
            border-color: $any-time-room-transparent
    &.any-time-rooms-background
      /*background-image: image-url('search-hotels-background.jpg')*/
      background-size: 100% 100%
      background-image: image-url('bourbon/bourbon_dark.png')
    &.any-time-rooms-background-co
      background-image: image-url('background-colombia-bed-room.png')
      .tab-content-custom
        background: $any-time-room-transparent
        .pack-size
          a.btn
            border-color: $any-time-room-transparent
    &.any-time-meeting-rooms-background
      background-image: image-url('meeting_room_cover.jpg')
      background-size: cover
      .tab-content-custom
        background: $any-time-room-transparent
        .pack-size
          a.btn
            border-color: $any-time-room-transparent
    &.any-time-airs-background
      background-image: image-url('any-time-airs.jpg')
      background-size: cover
      .tab-content-custom
        background: $any-time-room-transparent
        .pack-size
          a.btn
            border-color: $any-time-room-transparent
    &:after
      display: none
      content: image-url('room-night-background.jpg') image-url('morning-room-background.jpg') image-url('search-hotels-background.jpg')


    .describe-box
      padding: 140px 0px 50px 0px
      color: white
      p
        display: inline-block
        border: 1px solid white
        margin: 0px 20px
        padding: 5px

        span
          font-size: 25px
          color: white
          font-family: "Quicksand"
          font-weight: 500
      .describe-night
        display: none
      .describe-day
        display: none
      .describe-any-time
        display: none

    .row
      position: relative


    .scroll-button
      position: absolute
      right: 28px
      bottom: 25px
      font-size: 24px
      font-weight: 300
      letter-spacing: 3px
      color: #444
      z-index: 2
      width: 230px
      height: 59px
      background: transparent image-url('home/know_more_button.png') no-repeat 0 0
      text-indent: 65px
      line-height: 62px
      text-decoration: none
      &:hover
        text-decoration: none
        background-color: rgba(255,255,255, 0.4)
      &.shadow
        z-index: 1
        left: 546px
        top: 131px
        color: #999
        border-color: #999

    @media only screen and (max-width: 1000px)
      .scroll-button
        left: 83%

  .services-wrapper
    background-image: image-url('spark.png')
    padding: 28px 0px 66px 0px
    position: relative
    overflow: hidden

    h1
      color: $green
      font-weight: 300
      font-size: 34px
      letter-spacing: 3px
      margin-bottom: 23px

    p
      line-height: 24px
      letter-spacing: 1px

    .service-box
      margin: 67px auto

    .map-america
      position: absolute
      bottom: 20px
      right: -80px
      opacity: 0

      &.show
        right: 40px
        opacity: 1

  .home-blue-box
    background: $dark-blue
    padding: 43px 0px

    img
      margin: 26px 0px

    p
      font-size: 15px
      color: #f4f4f4
      line-height: 30px
      margin-bottom: 0px

  .costs-reducer-wrapper
    background: #eeeeee
    padding: 100px 0px 140px 0px
    position: relative

    h2
      color: #003333
      font-size: 29px
      font-weight: 300
      letter-spacing: 0px
      line-height: 37px
      width: 70%
      margin-left: 17px

    img
      margin: 30px 0px

    p
      font-size: 14px
      line-height: 24px
      margin-bottom: 20px

    .big-coins
      position: absolute
      bottom: 70px
      left: -50px
      opacity: 0

  .exceed-100-occupancy-wrapper
    background: $aqua-blue
    padding: 130px 0px 120px 0px
    position: relative

    h2
      color: white
      font-size: 34px
      font-weight: 300
      letter-spacing: 0px
      line-height: 37px
      margin-left: 17px

    img
      margin: 30px 0px

    p
      font-size: 16px
      line-height: 24px
      margin-bottom: 20px
      color: white

    .building
      position: absolute
      bottom: -200px
      right: 35px

      img
        margin: 0px
    .partners
      h2
        margin-bottom: 0px
        margin-left: 0px

      .logo-hotels
        height: 75px
        margin-top: 0px

        img
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)

  .press-wrapper
    background-color: #245071
    padding: 28px 0px 66px 0px
    position: relative
    overflow: hidden

    h1
      color: white
      font-weight: 300
      font-size: 34px
      letter-spacing: 0px
      margin-bottom: 23px

    p
      line-height: 24px
      letter-spacing: 1px

    img
      margin-bottom: 20px

    .pull-left
      img
        margin: 15px 10px

  .airport_hotels
    .service-box
      position: relative

    img
      width: 214px
      height: auto

    a > .image_title
      color: #fff
      display: flex
      position: absolute
      font-weight: initial
      top: 40%
      left: 49%
      padding: 5px
      font-family: "Oxygen"
      font-size: 22px
      transform: translate(-50%, -50%)

    .airpot_title
      font-size: 24px
      margin-bottom: 40px
      font-family: "Oxygen"

    .city_title
      font-size: 24px
      margin-top: 40px
      text-align: center
      margin-bottom: 40px
      font-family: "Oxygen"

    .airport_box
      margin-left: 40px
      margin-top: 25px
      margin-bottom: 15px
      width: 222px
      height: 50px
      a
        font-size: 12px
        font-family: "Oxygen"
        margin-bottom: 10px
        color: #555555

    #last_airport
      margin-top: -45px

    .more_airport_hotels
      margin-bottom: 30px
      a
        color: #555555
        font-family: "Oxygen"
        font-size: 24px
        margin-left: 42%

    .slick-prev::before, .slick-next::before
      color: rgba(130, 175, 74, 0.65)

    .slick-next.slick-arrow
      margin-left: 0 !important

    .slick-slider
      margin-bottom: 50px !important
      margin-left: 70px !important
      display: table
      table-layout: fixed
      width: 100%

    .service-box.slick-slide
      width: 225px !important

    #airport_scroller
      margin-right: 86px
      margin-left: -63px

    #other_airports
      margin-left: 90px

  .investors
    margin-top: 15px
    p
      color: #999999
    a
      img
        width: 80px
        height: auto

    #accelerator
      margin-left: -28%
      a
        img
          margin-left: 5px
    #investors
      a
        img
          width: 110px
          height: auto
          margin-left: 10px

  .home-blue-box
    background: $dark-blue
    padding: 43px 0px

    img
      margin: 26px 0px

    p
      font-size: 15px
      color: #f4f4f4
      line-height: 30px
      margin-bottom: 0px
