@media (min-width: 768px)  
  .public-home-controller.twelve-hours-discount-action  
    .image-and-describe
      background-image: url('/assets/hours_discount_background.png')
      height: 400px
      background-repeat: no-repeat
      background-size: 100% auto
      background-position: top
      color: white
    .desc-box
      position: absolute
      top: 90px
      background: rgba(161, 193, 82, 0.79)
      padding: 15px 70px
      color: white
      font-family: oxygen
      font-size: 40px
      text-align: center
      font-weight: 600
      -webkit-text-stroke-width: 1px
      -webkit-text-stroke-color: white
      letter-spacing: 1px
      line-height: 50px
    .search-button    
      display: inline-block    
      margin-top: 20px    
      a      
        background-color: #4371AD      
        font-weight: 900      
        padding: 15px 40px      
        font-size: 20px      
        line-height: 20px      
        letter-spacing: normal      
        &:hover        
          background: darken(#4371AD, 10%)  
    .unity_discount    
      margin: 24px 30px    
      width: 220px  
    .hotel_image    
      img      
        object-fit: cover
        width: 220px 
        height: 150px
        filter: brightness(50%)
    .main_hotel_name    
      a      
        color: #fff      
        display: flex      
        position: absolute      
        font-weight: initial      
        top: 100px      
        left: 150px      
        padding: 5px      
        font-family: "Oxygen"      
        font-size: 21px      
        transform: translate(-50%, -50%)      
        z-index: 15

@media (max-width: 767px)
  .public-home-controller.twelve-hours-discount-action  
    .image-and-describe_pt_br    
      background-image: url('/assets/twelve_hour_free_pt_br.png')    
      height: 210px 
      background-repeat: no-repeat    
      background-size: auto 100%    
      background-position: right    
      color: white  
    .image-and-describe_en    
      background-image: url('/assets/twelve_hour_free_en.png')    
      height: 210px 
      background-repeat: no-repeat    
      background-size: auto 100%    
      background-position: right    
      color: white    
    .image-and-describe_es    
      background-image: url('/assets/twelve_hour_free_es.png')    
      height: 210px 
      background-repeat: no-repeat    
      background-size: auto 100%    
      background-position: right    
      color: white  
    .search-button    
      display: inline-block    
      margin-top: 20px    
      a      
        background-color: #4371AD      
        font-weight: 900      
        padding: 15px 40px      
        font-size: 20px      
        line-height: 20px      
        letter-spacing: normal      
        &:hover        
          background: darken(#4371AD, 10%)  
    .unity_discount    
      margin: 24px 30px    
      width: 220px  
    .hotel_image    
      img      
        object-fit: cover      
        width: 220px      
        height: 150px      
        filter: brightness(50%)    
    .main_hotel_name    
      a      
        color: #fff      
        display: flex      
        position: absolute      
        font-weight: initial      
        top: 100px      
        left: 150px      
        padding: 5px      
        font-family: "Oxygen"      
        font-size: 21px      
        transform: translate(-50%, -50%)      
        z-index: 15