= header_section

- if @departments.length == 0
  .alert.alert-info
    = t(:none) + ' ' + Department.model_name.human.downcase + ' ' + t(:registered) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | Nome
        th.center
          | Quantidade de funcionários
        th.center
          | Ações
    tbody
      - @departments.each do | department |
        tr.center
          td
            = department.name
          td
            = department.employees.count
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, company_department_path(department.id), class: 'btn btn-xs btn-success'

            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_company_department_path(department.id), class: 'btn btn-xs btn-info'
