= header_section

= panel_section(name: 'Informações do departamento') do
  = show_for @department do |u|
    = u.attribute :name

    h3.header.lighter.smaller.green
      | Funcionários neste departamento
    - if @department.employees.any?
      = render partial: 'company/employees/_index/list', locals: { employees: @department.employees }
    - else
      .alert.alert-info
        | No momento, não há funcionários cadastrados neste departamento.


    = show_panel_buttons_section
