= header_section(right_links: '', title: t("views.admin.agency_reports.title"))

- if Agency.first
  .row
    .col-sm-12
      = render partial: "/admin/agency_reports/index/filter"

  - if @invoice.try(:[], :bookings_collection) && (@invoice[:bookings_collection].try(:[], :bookings_paid_at_the_hotel).to_a.any? || @invoice[:bookings_collection].try(:[], :no_shows).to_a.any? || @invoice[:bookings_collection].try(:[], :bookings_paid_online).to_a.any?)
    = render partial: '/admin/agency_reports/index/invoice', locals: { invoice: @invoice, agency: @agency }

    = render partial: '/admin/agency_reports/index/booking_listing', locals: { bookings: (@invoice[:bookings_collection][:bookings_paid_at_the_hotel].to_a + @invoice[:bookings_collection][:no_shows].to_a + @invoice[:bookings_collection][:bookings_paid_online].to_a) }

  - elsif params[:agency_id].present?
    .alert.alert-info
      | #{t("views.admin.agency_reports.missing_agency_id")}

- else
  .alert.alert-info
    | #{t("views.admin.agency_reports.no_agency_found")}
