= header_section(right_links: "", title: t("views.admin.offers.offers_dashboard"))

/ filter
= panel_section(name: t("views.admin.offers.filter"), class: 'filter widget-box') do

  = form_tag admin_offers_path, method: :get, class: 'form-horizontal' do

    .row
      .col-sm-9
        .row.form-section-config
          .col-sm-6
            h3.header.lighter.smaller.green Hotel
            - hotel_options = Hotel.select(:id, :name).map {|hotel| [hotel.name, hotel.id]}
            = select_tag 'by_hotel_id', options_for_select(hotel_options, params[:by_hotel_id]), class: 'size-100-percent', prompt: 'Todos'
          .col-sm-6
            h3.header.lighter.smaller.green Pacote de horas
            - Offer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_in_hour|
              - checked = (params[:by_pack_in_hours]) && (params[:by_pack_in_hours].include?(pack_in_hour.to_s))
              label
                = check_box_tag "by_pack_in_hours[]", pack_in_hour, checked, class: "ace cpy-pack_in_hour-#{pack_in_hour}"
                span.lbl
                  = pack_in_hour
                  | &nbsp; &nbsp;

        h3.header.lighter.smaller.green = t("views.admin.offers.period")
        .row.form-section-config
          .col-sm-6
            .input-group
              span.input-group-addon.size-18-percent
                | #{t("views.admin.offers.initial_checkin_date")}
              input.js-date-picker.form-control.text-right.js-mask-date.initial-date name='by_checkin_range[initial_date]' value="#{params[:by_checkin_range].try(:[], :initial_date) || ''}"
              span.input-group-addon
                i.icon-calendar.bigger-110
          .col-sm-6
            .input-group
              span.input-group-addon.size-18-percent
                == t("views.admin.offers.final_checkin_date")
              input.js-date-picker.form-control.text-right.js-mask-date.final-date name='by_checkin_range[final_date]' value="#{params[:by_checkin_range].try(:[], :final_date) || ''}"
              span.input-group-addon
                i.icon-calendar.bigger-110
            .clearfix

      .col-sm-3.form-section-config
        h3.header.lighter.smaller.green = t("views.admin.offers.status")
        - Offer::ACCEPTED_STATUS_REVERSED.each do |status_code, status|
          - next if [:ghost, :removed_by_hotel, :expired].include?(status)
          - checked = (params[:by_status]) && (params[:by_status].include?(status_code.to_s))
          .checkbox.size-100-percent.no-left-padding
            label
              = check_box_tag "by_status[]", status_code, checked, class: "ace cpy-status-#{status_code}"
              span.lbl
                =< truncate(t(status.to_s.capitalize.to_sym), length: 14)
        .clearfix
    .row
      .col-sm-12
        = submit_tag t(:filter), class: 'btn btn-sm btn-success pull-right size-10-percent cpy-filter-button margin-right-2-percent'


- if @offers.count == 0
  p.alert.alert-info = t("views.admin.offers.no_offers_found")
- else
  .cpy-pagination-links
    = pagination_links_for @offers
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th.center.size-25-percent = t("views.admin.offers.hotel")
          th.center.size-5-percent = t("views.admin.offers.package")
          th.center.size-15-percent = t("views.admin.offers.checkin")
          th.center.size-15-percent = t("views.admin.offers.checkout")
          th.center.size-10-percent = t("views.admin.offers.room_type")
          th.center.size-10-percent = t("views.admin.offers.room")
          th.center.size-10-percent = t("views.admin.offers.status")
      tbody
        - @offers.each do | offer |
          tr
            td.center = offer.hotel.name
            td.center = offer.pack_in_hours
            td.center
              = l(offer.checkin_timestamp.to_datetime)
            td.center
              = l(offer.checkout_timestamp.to_datetime)
            / td.center
            /   - update = @offers_log.detect { |el| el.id = offer.log_id }.updated_at
            /   = l(update.to_datetime)
            td.center
              = offer.room_type.name_pt_br
            td.center
              = offer.room.number
            td.center
              = t(Offer::ACCEPTED_STATUS_REVERSED[offer.status].to_s.capitalize.to_sym)

    = pagination_links_for @offers
