.admin-users-controller.index-action

  .text
    margin-bottom: 10px

  .text:last-child
    margin-bottom: 0

  .no-bottom-margin
    margin-bottom: 0

  .inline-block
    display: inline-block

  .btn
    margin-top: 10px
    margin-right: 10px

  .btn:first-child
    margin-right: 0

  .filter
    margin-bottom: 30px

  .user-count
    margin-bottom: 20px
