.admin-promotional-codes-controller.edit-action, .admin-promotional-codes-controller.update-action
  .hint
    margin-top: -15px
    padding-left: 5px
    text-align: justify
    width: 32.3%
  .field-with-two-lines-label
    height: 33px
    .control-label
      margin-top: -9px

  .field-with-two-lines-error
    height: 33px
    .help-block.col-sm-5.inline
      margin-top: -3px
      margin-bottom: 0

  .checkbox
    padding-left: 0
    padding-top: 3px

.ui-datepicker-div
  z-index: 11 !important

  .help-block.col-sm-5.inline
    color: red !important
    display: inline-flex
    width: 430px
  .input-and-error-message
    display: inline-flex