= panel_section(name: t("views.admin.payments.filter"), class: 'filter widget-box') do
  = form_tag admin_payments_path, method: :get, class: 'form-horizontal' do
    .row
      .col-sm-6
        .text.optional.size-100-percent
          = label_tag :q, t("views.admin.payments.filter_by_id"), class: 'text optional no-left-padding size-100-percent'
          = text_field_tag :by_id, params[:by_id] || '', class: "size-100-percent integer optional js-mask-integer"
        .text.optional.size-100-percent
          = label_tag :q, t("views.admin.payments.filter_by_reservation_id"), class: 'size-100-percent text optional no-left-padding size-100-percent'
          = text_field_tag :by_booking_id, params[:by_booking_id] || '', class: "size-100-percent integer optional js-mask-integer"
      .col-sm-6
        .text.optional.size-100-percent
          = label_tag :q, t("views.admin.payments.filter_by_user_id"), class: 'text optional no-left-padding size-100-percent'
          = text_field_tag :by_user_id, params[:by_user_id] || '', class: "size-100-percent integer optional js-mask-integer"

        .text.optional.size-100-percent
          = label_tag :q, t("views.admin.payments.filter_by_credit_card_id"), class: 'text optional no-left-padding size-100-percent no-bottom-margin'
          = text_field_tag :by_credit_card_id, params[:by_credit_card_id] || '', class: "size-100-percent string optional js-mask-integer"

    .row
      .col-sm-12
        .text.optional.size-100-percent
          = label_tag :q, t("views.admin.payments.filter_by_status"), class: 'text optional no-left-padding size-100-percent no-bottom-margin'
          - options_for_status_select = []
          - Payment::ACCEPTED_STATUSES.each { | status, code | options_for_status_select << [t(status), code]}
          = select_tag 'by_status', options_for_select(options_for_status_select, params[:by_status].to_i), class: 'size-100-percent', prompt: 'Todos'


    .row
      .col-sm-12
        = submit_tag t("views.admin.payments.filter"), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button'
        = link_to t("views.admin.payments.remove_filter"), admin_payments_path, class: 'btn btn-sm btn-danger pull-right size-20-percent cpy-remove-filter-button'
