= content_tag(:div, class: 'page-header') do
  = content_tag(:h1) do
    span.text = t('views.admin.emkts.for_user_with_booking')
    = link_to t('codus_templates.buttons_titles.defaults.add'), new_admin_emkt_path(type: 1), method: :get, class: 'btn btn-sm btn-success pull-right cpy-add-link', style: 'margin-left: 10px'

- if @emkts.length == 0
  .alert.alert-info
    = t(:none) + ' ' + t('hotel.one').downcase + ' ' + t(:registered) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | #{t('views.admin.emkts.order_send')}
        th.center
          | #{t('views.admin.emkts.hour_send')}
        th.center
          | #{t('views.admin.emkts.name_pt_br')}
        th.center
          | #{t('views.admin.emkts.emkt_type')}
        th.center
          | #{t('views.admin.emkts.city')}
        th.center
          | #{t('views.admin.emkts.country')}
        th.center
          | #{t('views.admin.emkts.actions')}
    tbody
      - @emkts.each do |emkt|
        tr.center
          td
            = emkt.order_send
          td
            = emkt.hour_send
          td
            = emkt.send("name_pt_br")
          td
            = emkt.emkt_type
          td
            = emkt.city
          td
            = emkt.country
          td.action-list.center
            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_emkt_path(emkt.id), class: 'btn btn-xs btn-info cpy-edit-hotel-link'
            = link_to "<i class='icon-remove bigger-100'></i>".html_safe, admin_emkt_path(emkt.id), class: 'btn btn-xs btn-danger cpy-edit-hotel-link', data: { confirm: t("views.admin.emkts.remove") }, method: :delete
