= header_section

= render partial: 'agency/bookings/index/filter'

- if @bookings.try(:first)
  = pagination_links_for @bookings
  table.table.table-stripped.table-bordered.cpy-bookings-list
    thead
      th.text-center
        | Código
      th.text-center
        | Titular da reserva
      th.text-center
        | Nome da empresa
      th.text-center
        | Checkin
      th.text-center
        | Checkout
      th.text-center
        | Status
      th.text-center
        | Hotel
      th.text-center
        | Ações
    tbody
      - @bookings.eager_load(:offer).each do | booking |
        tr.text-center
          td
            = booking.id
          td
            = booking.guest_name
          td
            = booking.user.company.name
          td
            = booking.offer.checkin_timestamp.strftime('%d/%m/%Y - %H:%M')
          td
            = booking.offer.checkout_timestamp.strftime('%d/%m/%Y - %H:%M')
          td
            = t(Booking::ACCEPTED_STATUS_REVERSED[booking.status])
          td
            = booking.hotel.name
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, agency_booking_path(booking.id), class: 'btn btn-xs btn-success'

            - if booking.cancelable?
              = link_to "<i class='icon-remove bigger-100'></i>".html_safe, cancel_agency_booking_path(booking.id), class: 'btn btn-danger btn-xs cpy-cancel-button', method: :put, data: { confirm: t(:are_you_sure_you_want_to_cancel_this_booking), title: t(:confirmation), allow: t(:confirm), cancel: t(:cancel)  }
- else
  .alert.alert-info
    | Nenhuma reserva encontrada.

