= header_section

= panel_section do
  = show_for @booking do |u|
    .row
      .col-sm-6
        h3.center.header.lighter.green
          | Informações Gerais
        .attributes-wrapper.booking_status
          .attribute-title
            | Status
          .content.js-booking-status.cpy-booking-status
            = t(Booking::ACCEPTED_STATUS_REVERSED[@booking.status])
        = u.attribute :guest_name
        = u.attribute :guest_email
        = u.attribute :number_of_people

        .attributes-wrapper.booking_pack_size
          .attribute-title
            | Tamanho do pacote
          .content
            = "#{@booking.pack_in_hours}h"
        hr

        .attributes-wrapper.booking_checkin
          .attribute-title
            | Checkin
          .content
            = "#{@booking.offer.checkin_timestamp.strftime("%d/%m/%Y - %H:%M")}"
        .attributes-wrapper.booking_checkout
          .attribute-title
            | Checkout

          .content
            = "#{@booking.offer.checkout_timestamp.strftime("%d/%m/%Y - %H:%M")}"

        hr
        = u.attribute :note, label: 'Observação'

      .col-sm-6
        h3.center.header.lighter.green
          | Informações do cliente

        .attributes-wrapper.booking_user_name
          .attribute-title
            | Nome
          .content
            = @booking.user.company.name
        .attributes-wrapper.booking_user_name
          .attribute-title
            | E-mail
          .content
            = @booking.user.company.email
        .attributes-wrapper.booking_user_name
          .attribute-title
            | Telefone
          .content
            = @booking.user.company.phone_number
        .attributes-wrapper.booking_user_name
          .attribute-title
            | Data e hora da criação da reserva
          .content
            = l @booking.created_at
        - if @booking.status == Booking::ACCEPTED_STATUSES[:confirmed] || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured]) || (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced]) | (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_without_card])
          .attributes-wrapper.booking_user_name
            .attribute-title
              | Data e hora da efetivação da reserva
            .content
              = l @booking.updated_at
        h3.center.header.lighter.green
          | Valores

        .attributes-wrapper.booking_user_name
          .attribute-title
            | Valor total
          .content
            = number_to_currency(@booking.total_price, unit: Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol])
        .attributes-wrapper.booking_user_name
          .attribute-title
            | Valor a ser cobrado em caso de no-show
          .content
            = number_to_currency(@booking.no_show_value)


  hr
  .wizard-actions
    = link_to agency_bookings_path, class: "btn btn-prev" do
      i.icon-arrow-left
      | Voltar
    - if @booking.cancelable?
      = link_to(cancel_agency_booking_path(@booking.id), {class: 'btn btn-danger cpy-cancel-button', method: :put}) do
        i.icon-remove
        = "#{t(:cancel)} #{t(:booking)}"
