- if params[:action] == 'remove'
  .alert.alert-danger
    | #{t('views.hotel.event_room_offers.no_offers_found')}

- else
  - if EventRoom.by_hotel_id(current_hotel_hotel.id).count == 0
    .alert.alert-danger
      | #{t('views.hotel.event_room_offers.no_event_hall_found')} #{link_to t('views.hotel.event_room_offers.register_event_hall'), hotel_event_rooms_path}
  - if EventRoomPricingPolicy.by_hotel_id(current_hotel_hotel.id).count == 0
    .alert.alert-danger
      | #{t('views.hotel.event_room_offers.no_fee_registered')} #{link_to t('views.hotel.event_room_offers.click_here_to_register_fee_table'), new_hotel_event_room_pricing_policy_path}
