.tab-pane#pack-selection
  h3.header.lighter.smaller.green #{t('views.hotel.event_room_offers.packages')}
  .checkbox.pull-left.no-left-padding.size-10-percent ng-repeat="pack in availablePacks"
    label
      input.ace id='{{pack.period}}' value='{{pack.period_without_unit}}' name='selected_pack_lengths[]' type="checkbox" ng-model="pack.checked" ng-click="formChanged()"
      span.lbl
        | {{pack.period}}
  .clearfix
  - unless params[:action] == 'remove'
    .row
      .col-sm-6.form-section-config ng-repeat="pack in availablePacks" ng-show="pack.checked"
        h3.lighter.header.smaller.green
          | #{t('views.hotel.event_room_offers.pack_of_hours', hours: pack.period)}

          span.btn.btn-minier.btn-danger.pull-right ng-click="selectedAllHoursByPackPeriod[pack.period] = false; formChanged();" #{t('views.hotel.event_room_offers.deselect_all')}
          span.btn.btn-minier.btn-info.pull-right ng-click="selectedAllHoursByPackPeriod[pack.period] = true; formChanged();" #{t('views.hotel.event_room_offers.select_all')}


        .checkbox.pull-left.no-left-padding.size-20-percent ng-repeat="hour in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']"
          label
            input.ace.js-checkin-times class="cpy-pack-{{pack.period_without_unit}}-hours-checkin-{{hour}}-hours" value='{{hour}}' name='pack[{{pack.period_without_unit}}][]' type="checkbox" ng-checked="pack.checked && selectedAllHoursByPackPeriod[pack.period]" ng-click="formChanged()"
            span.lbl
              = '{{hour}}:00'
        .clearfix
  -if params[:action] == 'remove'
    - angular_function_to_check_form = 'isFormCompleteForRemoval()'
  - else
    - angular_function_to_check_form = 'isFormComplete()'
  .row
    .col-sm-12
      = content_tag(:div, class: 'wizard-actions form-buttons') do
        - back_link = '<a class="btn btn-prev button-to-rooms-tab" data-toggle="tab" href="#rooms-related"><i class="icon-arrow-left icon-on-left"></i>Etapa Anterior</a>'.html_safe
        - if Rails.env.test?
          - submit_button = "<button class='btn btn-#{button_type} btn-next cpy-submit-button' data-confirm='#{form_confirmation_message}'>#{button_text} <i class='icon-arrow-right icon-on-right'></i></button>".html_safe
        - else
          - submit_button = "<button class='btn btn-#{button_type} btn-next cpy-submit-button' data-confirm='#{form_confirmation_message}' ng-disabled='!#{angular_function_to_check_form}' ng-show='#{angular_function_to_check_form}'>#{button_text} <i class='icon-arrow-right icon-on-right'></i></button>".html_safe
        - arrow_down = "<div class='alert alert-danger pull-right arrow-down-form-incompleted' ng-show='!#{angular_function_to_check_form}'><i class=icon-arrow-down></i></div>".html_safe
        - back_link + submit_button + arrow_down
  br
  .row ng-hide="#{angular_function_to_check_form}"
    .col-sm-12
      .alert.alert-danger
        - if params[:action] == 'remove'
          => t('views.hotel.event_room_offers.remove_button_disabled')
        - else
          => t('views.hotel.event_room_offers.save_button_disabled')
        span ng-show='!isFormDatesValids()'
          => t('views.hotel.event_room_offers.is_form_dates_valid')
        span ng-show='!isAnyEventRoomSelected()'
          => t('views.hotel.event_room_offers.no_event_hall_selected')
        span ng-show='!isAnyLengthOfPackSelected()'
          => t('views.hotel.event_room_offers.no_length_of_pack')
        - unless params[:action] == 'remove'
          span ng-show='!isAnyCheckinTimeChecked'
            => t('views.hotel.event_room_offers.no_checkin_time')
        span ng-show='!isAnyDayOfWeekChecked'
          => t('views.hotel.event_room_offers.no_day_of_week_selected')
        | #{t('views.hotel.event_room_offers.review_form')}
