javascript:
  yojs.set('offerCreation', true)
.tab-pane#rooms-related
  .row
    .col-sm-12
      h3.header.lighter.smaller.green #{t('views.hotel.event_room_offers.event_hall')}
      .checkbox.pull-left.no-left-padding.size-30-percent ng-repeat="(eventRoomId, eventRoom) in eventRoomsById"
        label
          input.ace.cpy-room-type value='{{eventRoom.id}}' name='event_rooms_ids[]' type="checkbox" ng-model="eventRoom.checked" ng-disabled="selectedTablePriceDoesNotContainsEventRoom({{eventRoom.id}})" ng-checked='eventRoom.checked && !selectedTablePriceDoesNotContainsEventRoom({{eventRoom.id}})'
          span.lbl
            | {{eventRoom.name_pt_br}}
      .clearfix

      .alert-price-table-without-room-type ng-show="selectedTablePriceIsNotComplete()"
        .alert.alert-warning
          | #{t('views.hotel.event_room_offers.event_hall_deactivated')}
          a ng-href="#{hotel_event_room_pricing_policies_path}/{{selectedPriceTable.id}}/editar"
            =< t('views.hotel.event_room_offers.click_here_to_fill_info')
      .clearfix

  .row
    .col-sm-12
      = content_tag(:div, class: 'wizard-actions form-buttons') do
        - back_link = '<a class="btn btn-prev button-to-price-table-tab"><i class="icon-arrow-left icon-on-left"></i>Etapa Anterior</a>'.html_safe
        - next_link = "<a class='btn #{nav_button_class} button-to-pack-selection-tab'>Próxima Etapa <i class='icon-arrow-right icon-on-right'></i></a>".html_safe
        - back_link + next_link
