.tab-pane#rooms-related
  .row
    .col-sm-12
      h3.header.lighter.smaller.green #{t('views.hotel.event_room_offers.event_hall')}
      | <i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>
      p.alert.alert-info ng-show="isFormDatesValids()" ng-if="!offersCountPerRoom"
        | #{t('views.hotel.event_room_offers.wait_while_get_amount_of_event_hall')}

      .checkbox.size-50-percent.pull-left.no-left-padding ng-repeat="(eventRoomId, eventRoom) in eventRoomsById"
        p
          label
            input.ace.cpy-room-type value='{{eventRoom.id}}' name='event_rooms_ids[]' type="checkbox" ng-model="eventRoom.checked" ng-disabled="zeroOffersForEventRoom(eventRoom)"
            span.lbl
              | {{eventRoom.name_pt_br}}&nbsp;
            span ng-show="zeroOffersForEventRoom(eventRoom)"
              | #{t('views.hotel.event_room_offers.event_hall_has_no_offer')}
            span ng-show="!zeroOffersForEventRoom(eventRoom)"
              | #{t('views.hotel.event_room_offers.event_hall_has_offer')}

      .clearfix

      .clearfix
  .row
    .col-sm-12
      = content_tag(:div, class: 'wizard-actions form-buttons') do
        - back_link = '<a class="btn btn-prev button-to-price-table-tab"><i class="icon-arrow-left icon-on-left"></i>Etapa Anterior</a>'.html_safe
        - next_link = "<a class='btn #{nav_button_class} button-to-pack-selection-tab'>Próxima Etapa <i class='icon-arrow-right icon-on-right'></i></a>".html_safe
        - back_link + next_link
