css:
  .hiddenRow {
    padding: 0 !important;
  }
  .accordion-toggle:before {
    font-family: FontAwesome;
    content: "\f147";
  }
  .accordion-toggle.collapsed:before {
    content: "\f196";
  }

= header_section title: t('views.admin.hotels.listing_hotel_chain')

- if @hotel_chains.length == 0
  .alert.alert-info
    = t(:none_female) + ' ' + t('hotel_chain.one').downcase + ' ' + t(:registered_female) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center.size-2-percent
          |
        th.center.size-6-percent
          | #{t('views.admin.hotels.id')}
        th.center.size-28-percent
          | #{t('views.admin.hotels.name')}
        th.center.size-10-percent
          | #{t('views.admin.hotels.hotel_quantity')}
        th.center.size-15-percent
          | #{t('views.admin.hotels.actions')}
    tbody
      - @hotel_chains.each do |hotel|
        - list_hotels = hotel.hotels.pluck(:name).map(&:inspect).join("\n ")
        tr.center
          td data-toggle="collapse" data-target="##{hotel.id}" class="accordion-toggle collapsed"
          td
            = hotel.id
          td
            = hotel.name
          td
            = hotel.hotels.count
          td.action-list.center
            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_hotel_chain_path(hotel.id), class: 'btn btn-xs btn-info cpy-edit-hotel-link'
        tr
          td.hiddenRow colspan="5" 
            .accordian-body.collapse.clearfix id="#{hotel.id}"
              .collapse-feature-list
                ul
                  - hotel.hotels.each do |h|
                    li = link_to h.name, admin_hotel_path(hotel.id)


javascript:
  $('.collapse').on('show.bs.collapse', function () {
    $('.collapse.in').collapse('hide');  
  });