div ng-controller='CompanyEmployeeBudgetController'
  h3.header.lighter.smaller.green
    | Orçamento
  .hide = f.input :monthly_budget, input_html: { class: 'js-mask-money'}
  = f.input :budget_for_24_hours_pack, input_html: { class: 'js-mask-money js-employee-budget', 'ng-keyup' => 'getParsedEmployeeBudget()', 'ng-init' => 'getParsedEmployeeBudget()', 'ng-model' => 'budget_for_24_hours_pack'}

  p
    | De acordo com o valor inserido no campo de orçamento para diária, será possível ao funcionário reservar ofertas com os seguintes valores:

  table.table.table-bordered
    thead
      - HotelQuando::Constants::LENGTH_OF_PACKS.each do | length_of_pack |
        th.text-center.size-14-percent
          = length_of_pack.to_s + 'h'
      th.text-center
        = t(:daily_budget)
    tr.text-center
      - HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK.each do | pack_in_hours, percentage |
        td.js-mask-money
          | R$ {{employeeBudget * #{percentage.to_f / 100} | numberBr}}
