= f.input :name
= f.input :email

/= f.association :department, collection: current_company_company.departments, priority: employee.department, prompt: 'Selecione o departamento'
/= f.input :birth_date, input_html: { class: 'js-mask-date', value: (employee.birth_date.to_s.blank? ? '' : (l employee.birth_date))}, as: :string
/= f.input :cpf, input_html: { class: 'js-mask-cpf' }
/= f.input :passport
