.admin-layout
  top: 0px !important
  position: static !important
  .goog-tooltip
    visibility: hidden !important
    display: none !important
  .goog-te-banner-frame
    display: none !important
  .cursor-pointer
    cursor: pointer
  .widget-box.filter
    margin-bottom: 30px
  @for $i from 1 through 100
    .size-#{$i}-percent
      width: 1% * $i
  .language-and-customer-service-links
    margin: 12px
    a
      margin: 0 5px
  .btn-scroll-up.btn.btn-sm.btn-inverse.js-btn-scroll-up
    position: fixed !important
  .no-left-padding
    padding-left: 0px

  table
    tr.dark-row, tr.dark-row:hover
      td
        background-color: #e9e9e9 !important

  .menu-header
    padding: 13px 13px 10px 0px
    position: relative

    ul
      list-style: none
      margin: 0

      .current
        font-weight: bold
        color: white
        letter-spacing: 1px
        font-size: 15px

      .user-dropdown-menu
        position: absolute
        display: none
        right: 0
        left: auto
        top: 32px

      .arrow-up
        position: absolute
        right: 47px
        top: 15px

        &:before, &:after
          content: ""
          position: absolute
          width: 0
          height: 0
          border-style: solid
          border-color: transparent
          border-top: 0

        &:after
          bottom: -1px
          border-bottom-color: #C9C9C9
          border-width: 11px

  .value-currency
    .attribute-title, .title
      font-weight: bold
    .content
      width: 37%
    .space-hidden
      width: 130px

  .buton-add-contact
    margin-left: 36%
