@media (max-width: 768px)
  .public-company-details-cost-centers-controller.index-action,
  .public-company-details-controller.show-action
    .page-header
      .btn
        margin-top: 50px
        position: relative
        bottom: 10px
    .with-padding-top
      background: #fcfcfc
    .border-box
      background: #fcfcfc
      .booking-box:nth-child(2n)
        background-color: rgb(244, 244, 244)
      h1.page-title
        font-size: 22px
        letter-spacing: 2px
        text-align: center
        margin: 10px 0
      h1.hotel-name
        font-size: 22px
        font-weight: 100
        margin: 13px 10px
      p
        margin-bottom: 5px
        font-weight: bold
      p.description
        font-weight: 100
      a.btn.mini
        margin-top: 10px
        width: 100%
        margin-left: 5px
      .fa-plus
        margin-right: 5px
      .fa-angle-double-right
        margin-left: 5px

