= panel_section do
  = show_for @company_detail do |u|
    .row
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.company_universe.executives.name")}
          .content
            = @company_detail.name
        .attributes-wrapper
          .attribute-title
            | #{t("views.company_universe.executives.cnpj")}
          .content
            = @company_detail.cnpj
        .attributes-wrapper
          .attribute-title
            | #{t("views.company_universe.executives.financial_contact")}
          .content
            = @company_detail.financial_contact

        .attributes-wrapper
          .attribute-title
            | #{t("views.company_universe.executives.phone_financial_contact")}
          .content
            = @company_detail.phone_financial_contact

        .attributes-wrapper
          .attribute-title
            | #{t("views.company_universe.executives.user_name")}
          .content
            - if @company_detail.user != nil
                 = @company_detail.user.name
            - else
                = '-'
           
        .attributes-wrapper
          .attribute-title
            | #{t("views.company_universe.executives.user_phone")}
          .content
            - if @company_detail.user != nil
                 = @company_detail.user.phone_number
            - else
                = '-'
        .attributes-wrapper
          .attribute-title
            | #{t("views.company_universe.executives.executive_responsible")}
          .content
            - if @company_detail.executive_responsible != nil
                 = "#{@company_detail.executive_responsible.name} #{@company_detail.executive_responsible.email}"
            - else
                = '-'

  .wizard-actions
    = link_to t("views.admin.agencies.back").html_safe, company_attendant_company_detail_path, class: 'btn btn-prev'