.company-layout
  .cursor-pointer
    cursor: pointer
  .widget-box.filter
    margin-bottom: 30px
  @for $i from 1 through 100
    .size-#{$i}-percent
      width: 1% * $i

  .no-left-padding
    padding-left: 0px

  table
    tr.dark-row, tr.dark-row:hover
      td
        background-color: #e9e9e9 !important
