.row
  .col-sm-12.border-box
    div ng-controller='TravelerCreditCardCtrl'
      = simple_form_for([:public, @traveler, credit_card], url: @url_form) do |f|
        = f.input :card_number, input_html: { placeholder: "**** **** **** ****", class: 'js-mask-credit-card-number' }, required: true

        = f.input :cvv, input_html: { placeholder: "***" }, required: true

        - if @credit_card.errors.has_key?(:expiration_month) || @credit_card.errors.has_key?(:expiration_year)
          - credit_card_wrapper_html = { class: 'has-error' }
        = f.input :expiration, wrapper_html: credit_card_wrapper_html, required: true do
          .row
            .col-sm-7
              = select_month(@credit_card.expiration_month, {field_name: 'expiration_month', prefix: 'credit_card', prompt: t(:month)}, {class: 'select form-control col-sm-12'})

            .col-sm-5
              = select_year(@credit_card.expiration_year, {field_name: 'expiration_year', prefix: 'credit_card', start_year: Date.today.year, end_year: (Date.today.year + 10), prompt: t(:year)}, {class: 'select form-control col-sm-12'})


        .form-actions.wizard-actions.form-buttons.text-right
          = link_to("<i class='glyphicon glyphicon-arrow-left'></i> #{t(:return)}".html_safe, public_traveler_path(@traveler), {class: 'btn btn-prev '})
          = button_tag(type: 'submit', class: "btn btn-success btn-next cpy-submit-button") do
            => t(:save)
            i.glyphicon.glyphicon-arrow-right