.row
  .col-sm-12.border-box
    .page-header
      h1.page-title
        => t(:listing) + ' ' + t(:credit_cards).downcase
        = link_to "#{t(:new) + ' ' + t(:credit_card).downcase}", new_public_traveler_credit_card_path(params[:id]), class: 'btn btn-sm btn-success pull-right cpy-add-link'

- if @credit_cards.length == 0
  .row
    .col-sm-12.border-box.with-padding-bottom
      .alert.alert-info
        = t(:none) + ' ' + t(:credit_card).downcase + ' ' + t(:registered) + '.'
- else
  .row
    .col-sm-12.border-box.with-padding-bottom.hidden-xs.hidden-sm
      .row
        .col-sm-12
          table.table.table-striped.table-hover.mini
            thead
              tr
                th.center.size-8-percent
                  | Id
                th.center.size-39-percent
                  = t(:flag_name)
                th.center.size-35-percent
                  = t(:last_four_digits)
                th.center.size-18-percent
                  = t(:actions)
            tbody
              - @credit_cards.each do | credit_card |
                tr.center
                  td
                    = credit_card.id
                  td
                    = credit_card.flag_name
                  td
                    = credit_card.last_four_digits
                  td.action-list
                    = link_to t(:details), public_credit_card_path(credit_card), class: 'btn mini btn-primary', style: 'margin-right: 5px'
                    = link_to t(:edit), edit_public_credit_card_path(credit_card), class: 'btn mini green cpy-confirm-booking-button'

    .col-sm-12.border-box.with-padding-bottom.hidden-md.hidden-lg
      = render partial: "/public/company_details/cost_centers/travelers/credit_cards/index/mobile_credit_cards"

