- credit_card_country = Country.find_by_iso_initials(@credit_card.billing_country)
.row
  .col-sm-12.border-box
    .page-header
      h1.page-title
        = t(:viewing) + ' ' + t(:credit_card).downcase
.row
  .col-sm-12.border-box        
    = show_for @credit_card do |u|
      = u.attribute :card_number
      = u.attribute :cvv
      = u.attribute :expiration do
        = "#{t("date.month_names")[@credit_card.expiration_month]}/#{@credit_card.expiration_year}"
    hr
    .wizard-actions.form-actions.text-right
      = link_to("<i class='glyphicon glyphicon-arrow-left'></i> #{t(:return)}".html_safe, public_traveler_path(@traveler), {class: 'btn btn-prev '})
      = link_to "<i class='glyphicon glyphicon-edit'></i> #{t(:edit)}".html_safe,   edit_public_credit_card_path(@credit_card), class: 'btn btn-info'