@media (max-width: 768px)
  .public-affiliate-home-controller.terms-of-use-action
    .with-padding
      padding: 10px
      h1.page-title
        font-size: 22px
        text-align: center
        letter-spacing: 2px
        margin: 0
      p
        text-align: justify
      ol
        padding-left: 20px
