= panel_section(name: t('views.hotel.bookings.filter'), class: 'filter widget-box') do
  = form_tag meeting_rooms_hotel_bookings_path, method: :get, class: 'form-horizontal' do
    .row
      .col-sm-6
        = label_tag :q, t('views.hotel.bookings.filter_by_id'), class: 'control-label no-left-padding'
        input.form-control.js-mask-integer name='by_id' value="#{params[:by_id] || ''}"
      .col-sm-6
        = label_tag :q, t('views.hotel.bookings.filter_by_user_name'), class: 'control-label no-left-padding'
        input.form-control name='by_guest_name' value="#{params[:by_guest_name] || ''}"

    hr

    .row
      .col-sm-4
        = label_tag :q, t('views.hotel.bookings.filter_by_checki_date'), class: 'control-label no-left-padding'
        .input-group
          span.input-group-addon.size-35-percent
            | #{t('views.hotel.bookings.enter')}
          input.js-date-picker.form-control.text-right.js-mask-date.js-initial-date name='by_checkin_date[initial_date]' value="#{params[:by_checkin_date].try(:[],:initial_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .input-group
          span.input-group-addon.size-35-percent
            | #{t('views.hotel.bookings.and')}
          input.js-date-picker.form-control.text-right.js-mask-date.js-final-date name='by_checkin_date[final_date]' value="#{params[:by_checkin_date].try(:[],:final_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .clearfix

      .col-sm-5
        = label_tag :q, t('views.hotel.bookings.filter_by_package_size'), class: 'control-label no-left-padding'
        br
        - MeetingRoomOffer::ACCEPTED_LENGTH_OF_PACKS.each do | length |
          - checked = (params[:by_pack_length]) && (params[:by_pack_length].include?(length.to_s))
          .checkbox.size-23-percent.pull-left.no-left-padding
            label
              = check_box_tag "by_pack_length[]", length, checked, class: "ace cpy-length-of-pack-#{length}h"
              span.lbl
                =< "#{length}h"
        .clearfix
      .col-sm-3
        = label_tag :q, t('views.hotel.bookings.filter_by_reservation_status'), class: 'control-label no-left-padding'
        br
        - options_for_status_select = []
        - Hotel::BookingsController::BOOKING_STATUSES_TO_SHOW_TO_HOTEL.each do | status_code |
          - if status_code == Booking::ACCEPTED_STATUSES[:confirmed_and_captured]
            - options_for_status_select << [t(Booking::ACCEPTED_STATUS_REVERSED[status_code]), [ status_code, Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] ] ]
          - elsif status_code == Booking::ACCEPTED_STATUSES[:confirmed]
            - options_for_status_select << [t(Booking::ACCEPTED_STATUS_REVERSED[status_code]), [ status_code, Booking::ACCEPTED_STATUSES[:confirmed_without_card] ] ]
          - elsif status_code != Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced] && status_code != Booking::ACCEPTED_STATUSES[:confirmed_without_card]
            - options_for_status_select << [t(Booking::ACCEPTED_STATUS_REVERSED[status_code]), status_code]

        = select_tag 'by_status', options_for_select(options_for_status_select, params[:by_status]), class: 'size-100-percent', prompt: 'Todos'
    hr

    = submit_tag t(:filter), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button margin-left-10px'
    = link_to t('views.hotel.bookings.remove_filters'), meeting_rooms_hotel_bookings_path, class: 'btn btn-sm btn-danger pull-right size-20-percent remove-button cpy-remove-filter-button'

    .clearfix
