- @credit_cards.each do | credit_card |
  .row.booking-box
    .col-md-12
      .row
        h1.hotel-name = credit_card.flag_name
      .row
        .col-xs-6
          p = t(:last_four_digits)
        .col-xs-6
          p.description = credit_card.last_four_digits
      .row
        .col-xs-6
          p = t(:owner_cpf)
        .col-xs-6
          p.description = credit_card.owner_cpf
      .row
        .col-xs-6
          = link_to public_credit_card_path(credit_card), class: 'btn mini btn-primary'
            = icon_for(:plus)
            = t(:details)
        .col-xs-6
          = link_to t(:edit), edit_public_credit_card_path(credit_card), class: 'btn mini green cpy-confirm-booking-button'