= header_section(right_links: '', title: 'Atualizar informações')
= panel_section do

  = simple_form_for [:company, current_company_company], :url => { :action => "update" }, class: 'form-horizontal' do |f|
    = f.error_notification

    h3.header.lighter.smaller.green
      | Informações gerais

    = f.input :responsible_name
    = f.input :phone_number
    = f.input :login
    - password_hint = current_company_company.errors.messages[:current_password].blank? ? 'Antes de realizar as alterações, digite sua senha.' : ''

    = f.input :current_password, label: 'Senha', :required => true, hint: password_hint

    h3.header.lighter.smaller.green
      | Endereço

    = country_and_state_select_for(form_builder: f, resource: current_company_company)
    = f.input :city
    = f.input :street
    = f.input :number
    = f.input :complement

    h3.header.lighter.smaller.green
      | Alterar Senha

    = f.input :password, label: 'Nova Senha', :required => false
    = f.input :password_confirmation, label: 'Confirmação de senha', :required => false

    = form_submit_section
