= panel_section(name: 'Informações da empresa') do
  = show_for current_company_company do |u|
    = u.attribute :name
    = u.attribute :login
    = u.attribute :responsible_name
    = u.attribute :cnpj
    = u.attribute :email
    = u.attribute :phone_number

    = u.attribute :country
    = u.attribute :state
    = u.attribute :city


    .attributes-wrapper.client_address
      .attribute-title
        | Endereço

      .content
        - if current_company_company.street.blank?
          | -
        - else
          - if (current_company_company.complement) && (current_company_company.complement != '')
            = "#{current_company_company.street}, #{current_company_company.number}, #{current_company_company.complement}".gsub(', ,', ',')
          - else
            = "#{current_company_company.street}, #{current_company_company.number}".gsub(/,\s\z/, '')

    = show_panel_buttons_section(path_to_return: :back, edit_button_name: 'Atualizar informações')
