@media (max-width: 768px)
  .public-affiliate-home-controller.index-action
    .header
      margin-bottom: 48px
    .slideOutTab
      top: 2px
      height: 100%
    .how-it-works-btn
      width: 122px
      height: 33px
      position: absolute
      top: 66px
      margin-left: 16px
      left: 75%

      span
        position: relative
        top: -7px
    .how-it-works-content
      overflow: auto
      .service-box
        width: 210px
    .search-hotels-wrapper
      background-image: none !important
      background-color: #1b4d73 !important
      h1
        font-size: 22px
        text-align: center
      .people-checkin-inputs
        width: 100%
        .display-table-cell.size-60-percent
          width: 100%
        .date-picker-inputs
          display: block

    p.explanation
      font-size: 15px
      text-align: justify
      margin-bottom: 20px

    p.description
      font-size: 15px
      text-align: center

    .services-wrapper
      padding: 5px 0
      h1.title
        font-size: 22px
        margin: 10px 0
        letter-spacing: 2px
        text-align: center
      .service-box
        margin: 30px auto
        h2
          font-size: 18px
        .image
          min-height: 0
        img
          max-height: 60px
          margin: 0

    .home-blue-box
      padding: 5px 0

    .pack-size-hint
      p.hint
        margin-left: 25px

@media (max-width: 769px)
  .public-affiliate-home-controller.index-action
    .hidden-mobile
      display: none !important

@media (min-width: 769px)
  .public-affiliate-home-controller.index-action
    .hidden-desktop
      display: none !important