@media (max-width: 768px)
  .public-home-controller.about-us-action
    .with-padding
      padding: 10px
      h1.page-title
        font-size: 22px
        margin: 0
        letter-spacing: 2px
        text-align: center
      p.explanation
        font-size: 15px
        text-align: justify
      .benefits
        margin-bottom: 30px
        .glyphicon
          font-size: 60px
          margin: 0
        .benefits-title
          text-align: center
        ul.benefits-description
          display: table
          margin: 0 auto
      .signup-or-contact
        text-align: center
        margin: 15px 0
