@media (max-width: 768px)
  .public-home-controller.business-trips-action
    .image-and-describe
      height: 210px
      background-size: 100%
      .title
        padding-top: 80px
        font-size: 23px
      .describe
        padding-top: 0px
        font-size: 16px
    .with-padding
      padding: 10px
      h1.page-title
        font-size: 22px
        text-align: center
        margin-top: 0
        letter-spacing: 2px
      h2.second-title
        font-size: 16px
        text-align: center
        margin-top: 30px
      .slides
        h2
          font-size: 19px
          text-align: center
          margin-bottom: 20px
      .contact
        h2
          font-size: 20px
          font-weight: bold
        .tooltip-inner
          text-align: right
        .explanation
          text-align: center

@media (max-width: 356px)
  .public-home-controller.business-trips-action
    .icons
      img
        margin: 30px 24px 30px 24px
