@media (max-width: 768px)
  .public-home-controller.customer-service-corp-action
    .with-padding-top
      .title
        font-size: 22px
        text-align: center
        letter-spacing: 2px
        margin-top: 0
      .description
        width: 100%
        margin: 15px 0
