@media (max-width: 768px)
  .public-home-controller.faq-action
    .with-padding
      padding: 10px
      h1
        font-size: 22px
        margin-top: 0
        text-align: center
        letter-spacing: 2px
      .divider
        margin: 10px 0
      ol
        padding-left: 30px
