@media (max-width: 769px) and (max-height: 570px)
  .soccer_promotion
    .close
      color: #fff
      position: fixed
      opacity: 1
      right: 7px
      z-index: 30
      margin-top: 3px
      font-size: 30px
    a
      position: fixed
      right: 0
      z-index: 15
      padding: 11px 31px 11px 31px
      top: 83%
      right: 30%
      font-size: 20px
    p
      line-height: 28px !important
      top: 18% !important
      width: auto
      height: 229px
      color: #fff
      font-family: "Quicksand"
      font-size: 20px !important
      font-weight: 600

    p.first_sentence
      right: 3px
      z-index: 15
      position: fixed
      margin-top: 7px
      padding: 20px

    img
      width: 100%
      height: 100%
      position: fixed
      z-index: 10
      right: 0

@media (max-width: 519px)
  .public-home-controller.index-action
    .search-hotels-wrapper
      background-image: none !important
      background-color: #1b4d73 !important
      h1
        font-size: 22px
        text-align: center
      .people-checkin-inputs
        width: auto
        .display-table-cell.size-60-percent
          width: 100%
        .date-picker-inputs
          display: block

    p.explanation
      font-size: 15px
      text-align: justify
      margin-bottom: 20px

    p.description
      font-size: 15px
      text-align: center

    .services-wrapper
      padding: 5px 0
      h1.title
        font-size: 22px
        margin: 10px 0
        letter-spacing: 2px
        text-align: center
      .service-box
        margin: 30px auto
        h2
          font-size: 18px
        .image
          min-height: 0
        img
          max-height: 60px
          margin: 0

    .home-blue-box
      padding: 5px 0

    .pack-size-hint
      p.hint
        margin-left: 45px

    .airport_hotels
      #other_airports
        margin-left: 30%
      .more_airport_hotels
        a
          margin-left: 30%

    .soccer_promotion
      .close
        color: #fff
        position: fixed
        opacity: 1
        right: 7px
        z-index: 30
        margin-top: 3px
        font-size: 30px
      a
        position: fixed
        right: 0
        z-index: 15
        padding: 11px 31px 11px 31px
        top: 83%
        right: 30%
        font-size: 20px
      p
        line-height: 45px
        top: 15%
        width: auto
        height: 229px
        color: #fff
        font-family: "Quicksand"
        font-size: 20px
        font-weight: 600

      p.first_sentence
        right: 3px
        z-index: 15
        position: fixed
        margin-top: 7px
        padding: 20px

      img
        width: 100%
        height: 100%
        position: fixed
        z-index: 10
        right: 0

@media (min-width: 520px) and (max-width: 768px)
  .public-home-controller.index-action
    .search-hotels-wrapper
      background-image: none !important
      background-color: #1b4d73 !important
      h1
        font-size: 22px
        text-align: center
      .people-checkin-inputs
        width: auto
        .display-table-cell.size-60-percent
          width: 100%
        .date-picker-inputs
          display: block

    p.explanation
      font-size: 15px
      text-align: justify
      margin-bottom: 20px

    p.description
      font-size: 15px
      text-align: center

    .services-wrapper
      padding: 5px 0
      h1.title
        font-size: 22px
        margin: 10px 0
        letter-spacing: 2px
        text-align: center
      .service-box
        margin: 30px auto
        h2
          font-size: 18px
        .image
          min-height: 0
        img
          max-height: 60px
          margin: 0

    .home-blue-box
      padding: 5px 0

    .pack-size-hint
      p.hint
        margin-left: 25px

    .airport_hotels
      #other_airports
        margin-left: 30%
      .more_airport_hotels
        a
          margin-left: 30%

    .soccer_promotion
      .close
        color: #fff
        position: fixed
        opacity: 1
        right: 7px
        z-index: 30
        margin-top: 3px
        font-size: 30px
      a
        position: fixed
        right: 0
        z-index: 15
        padding: 11px 31px 11px 31px
        top: 75%
        right: 40%
        font-size: 23px
      p
        line-height: 45px
        top: 15%
        width: auto
        height: 229px
        color: #fff
        font-family: "Quicksand"
        font-size: 24px
        font-weight: 600

      p.first_sentence
        right: 3px
        z-index: 15
        position: fixed
        margin-top: 7px
        padding: 20px

      img
        width: 100%
        height: 100%
        position: fixed
        z-index: 10
        right: 0

@media (max-width: 769px)
  .public-home-controller.index-action
    .hidden-mobile
      display: none !important

    .downimage
      text-align: center

    .advice
      color: rgba(87, 177, 47, 0.9) 
      font-size: 25px
      font-family: oxygen
      font-weight: 600
      text-shadow: 1px 1px 6px rgba(0, 0, 255, 0.45)
    
    .descr
      font-size: 20px

    .modal-footer
      text-align: center
      color: rgba(87, 177, 47, 0.9)
      text-shadow: 1px 1px 6px rgba(0, 0, 255, 0.45)

    .btn
      font-size: 18px
      &:hover
        color: rgba(87, 177, 47, 0.9)

    .closebutt
      color: black
      padding: 6px
      border: 0
      position: relative
      left: 40px
      top: 10px

    .registration_box
      z-index: 15

@media (min-width: 769px) and (max-width: 1179px)
  .public-home-controller.index-action
    .search-hotels-wrapper
      background-position: center top
      h1
        font-size: 22px
        text-align: center
      .people-checkin-inputs
        width: auto
        margin-left: 25% !important
        .display-table-cell.size-60-percent
          width: 100%
        .date-picker-inputs
          display: block
    .up.hidden-md.hidden-lg
      margin-left: 0 !important

    p.explanation
      font-size: 15px
      text-align: justify
      margin-bottom: 20px

    p.description
      font-size: 15px
      text-align: center

    .services-wrapper
      padding: 5px 0
      h1.title
        font-size: 22px
        margin: 10px 0
        letter-spacing: 2px
        text-align: center
      .service-box
        margin: 30px auto
        h2
          font-size: 18px
        .image
          min-height: 0
        img
          max-height: 60px
          margin: 0

    .home-blue-box
      padding: 5px 0

    .pack-size-hint
      p.hint
        margin-left: 25px

  .public-layout.public-home-controller
    .no-margin
      margin: 0px !important
    .search-box
      margin-top: 135px
      margin-bottom: 26px
      border-radius: 10px
      .any-time
        background: $any-time-room-transparent !important

      .tabbable
        .nav-tabs
          float: none
          border-bottom: 0px
          li
            margin-bottom: 0px
            width: 120px
            a
              border: 0px
              color: white
              border-radius: 0px
              padding: 5px 0px 6px 0px
              &.night
                background: $night-room-transparent
              &.morning
                background: $day-room-transparent
              &.any-time
                background: $any-time-room-transparent
            &:first-child
              a
                border-radius: 10px 0px 0px 0px

            &:last-child
              a
                border-radius: 0px 10px 0px 0px

            &.active
              a
                color: white
                padding: 18px 0px 6px 0px
                border-radius: 10px 10px 0px 0px
                .title
                  position: relative
                  bottom: 4px
        .tab-content-custom
          padding: 15px 25px 25px 25px
          background: $night-room-transparent
          color: white
          margin-bottom: 42px
      .tab-content-custom-mobile
        background-color: #e0e5e8
        border: 10px solid #1b4d73
        padding: 10px
        border-bottom-right-radius: 10px
        border-bottom-left-radius: 10px
      .tab-content-custom-mtra-mobile
        background-color: #e0e5e8
        border: 10px solid #1b4d73
        padding: 10px
        border-bottom-right-radius: 10px
        border-bottom-left-radius: 10px
        .pack-size-hint
          .hint
            text-align: center
            margin: 0

      .checkin
        float: left
        width: 284px
        margin: 0px 8px
        label.title
          width: 100%

        .checkin-date
          width: 116px
          float: left
          padding: 0px

          input
            width: 100%
        .checkin-hour
          float: left
          width: 168px
          padding: 0px

          label
            float: left
            margin: 10px 4px
            &.at
              font-weight: 100

          button
            font-weight: bold
            margin: 8px 0 0 0
            font-size: 22px
            background-color: white
            color: #007EFF
            padding: 0px
            text-align: center
            float: left
            border: 0px
            display: block
            width: 24px
            height: 24px
            line-height: 24px
            border-radius: 50%
            text-decoration: none

            &:focus
              outline: 0

            span
              position: relative
              top: -1px

              &.minus
                top: -2px

          .hour
            margin: 3px 5px 0px 5px
            font-size: 23px
            float: left

      .checkout-hour
        float: left
        width: 203px
        padding: 0px
        margin: 0px 8px

        label
          font-weight: 100
          float: left
          margin: 10px 2px 0px 2px

          &.title-checkout
            font-weight: bold
            float: none
            display: block
            margin: 0px 0px 3px 0px
          &.hour
            font-weight: bold

        .hour
          float: left
          margin: 3px 5px 0px 5px
          font-size: 23px
          label
            font-weight: bold

      .people
        float: left
        width: 78px
        padding: 0px
        margin: 0px 8px

        label
          float: left
          margin: 10px

          &.title-people
            margin: 0px 0px 5px 3px

        button
          font-weight: bold
          margin: 8px 0 0 0
          font-size: 22px
          background-color: white
          color: #007EFF
          padding: 0px
          text-align: center
          float: left
          border: 0px
          display: block
          width: 24px
          height: 24px
          line-height: 24px
          border-radius: 50%
          text-decoration: none

          &:focus
            outline: 0

          span
            position: relative
            top: -1px

            &.minus
              top: -2px
        .hour
          label
            margin: 6px 5px 0px 5px
            font-size: 20px
            float: left

      .address
        display: inline-block
        float: left
        padding: 0px
        margin: 0px 0px 0px 8px

        input
          width: 100%

      .div-button-search
        width: 180px


      h1
        color: #2a3127
        font-weight: 300
        font-size: 30px
        letter-spacing: 2px
        margin-top: 0px
        margin-bottom: 15px

      .adress-input
        input
          background: #666
          color: #fff
          font-weight: 300
          font-size: 13px
          height: 42px

      .js-checkin-time
        padding: 2px 13px 0px 13px !important

      input, select
        -webkit-appearance: none
        -moz-appearance: none
        -o-appearance: none
        background: #666666
        color: #fff
        padding: 2px 13px 0px 13px
        font-size: 13px
        font-weight: 300
        letter-spacing: 1px
        border: none
        height: 40px
        border-radius: 5px
        -moz-box-shadow:    none
        -webkit-box-shadow: none
        box-shadow:         none

      select
        padding: 2px 34px 0px 13px
        background-image: image-url('arrow-down.png')
        background-position: center right
        background-repeat: no-repeat

      .number-of-people-input-size
        width: 40%
        padding-left: 20px
      .up
        margin-bottom: 7px
        margin-top: 10px
        margin-left: 300px
        width: 100%

      .up.hidden-xs.hidden-sm
        margin-left: -1px !important

      .display-table-cell
        vertical-align: bottom

      .checkin
        .col-xs-6
          &:first-child
            padding-right: 8px

          &:last-child
            padding-left: 8px

        input
          width: 100%
          padding-right: 5px
        select
          width: 100%

      .pack-size
        width: 100%
        display: inline-block
        left: 50%
        a.btn
          padding: 10px 10px 10px 10px

          &.selected
            background: rgba(87, 177, 47, 1) !important
            color: white

          &:hover
            background: dark-gray

      .pack-size.btn-group
        display: inline-block

        span.clock
          border-right: 1px solid #888
          cursor: default
          display: inline-block
          margin-bottom: 0
          padding: 9px 17px 9px 12px
          border-radius: 5px
          background: #666666
          border-bottom-right-radius: 0
          border-top-right-radius: 0
          float: left

          img
            width: 26px
            height: 24px

        a.btn
          background: #666666
          padding: 10px 31px
          color: #cccccc
          margin: 0px
          &.rooms
            padding: 10px 31px
          &.meeting-rooms
            padding: 10px 10.8px
          &.event-rooms
            padding: 10px 46px


      .pack-size-clock
        display: block
        margin-left: 5px

        .pack-size-text
          letter-spacing: 1px
          font-size: 14px
          padding-top: 12px
          line-height: 10px

      .search-button.btn, .search-button.btn.input
        margin: 0 auto
        margin-top: -5px
        font-weight: 400
        height: 45px
        font-size: 21px
        letter-spacing: 3px
        padding: 9px 16px
        color: #333

      .tooltip-toggler
        display: inline-block
        margin-top: 20px

        .search-button.btn, .search-button.btn.input
          margin: 0 auto

          .tooltip.fade.in
            width: 210px
            top: 18px

  .browserFirefox.public-layout
    .search-box
      h1
        margin-bottom: 11px

      select
        padding: 10px 34px 0px 13px

  .soccer_promotion
    .close
      color: #fff
      position: fixed
      opacity: 1
      right: 7px
      z-index: 30
      margin-top: 3px
      font-size: 30px !important
    a
      position: fixed
      right: 0
      z-index: 15
      padding: 11px 31px 11px 31px !important
      top: 75% !important
      right: 40% !important
      font-size: 23px !important
    p
      line-height: 45px !important
      top: 15% !important
      width: auto !important
      height: 229px !important
      color: #fff !important
      font-family: "Quicksand"
      font-size: 24px !important
      font-weight: 600

    p.first_sentence
      right: 3px !important
      z-index: 15
      position: fixed
      margin-top: 7px !important
      padding: 20px !important

    img
      width: 100% !important
      height: 100% !important
      position: fixed
      z-index: 10
      right: 0

@media (min-width: 820px) and (max-width: 920px)
  .public-layout.public-home-controller .pack-size
    width: 100%
    display: inline-block
    left: 50%
    transform: translate(3%) !important
  .public-layout.public-home-controller .search-box .up
    margin-left: 288px !important

@media (min-width: 921px) and (max-width: 1020px)
  .public-layout.public-home-controller .pack-size
    width: 100%
    display: inline-block
    left: 50%
    transform: translate(20%) !important
  .public-layout.public-home-controller .search-box .up
    margin-left: 273px !important

@media (max-width: 930px)
  .public-home-controller.index-action
    .newsletter-bar
      .form-newsletter
        input
          margin-top: 20px

@media (max-width: 682px)
  .public-home-controller.index-action
    .newsletter-bar
      .form-newsletter
        .submit-button
          display: block
          margin-right: auto
          margin-left: auto
