@media (max-width: 767px)
  .public-home-controller.twelve-hours-discount-action  
    .image-and-describe_pt_br    
      height: 110px  
    .image-and-describe_en    
      height: 110px    
    .image-and-describe_es    
      height: 110px