.modal#air-modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        .description
          span = t(:we_are_looking_for_the_best_rate)
          .form
            .row.footer-newsletter
              .submit-button
                button.submit-newsletter id="sumit-air-ok"
                  = t(:perform_search)
              .clearfix
        .triangle
          button type="button" class="close" data-dismiss="modal" aria-hidden="true" &times;