.modal#currency-modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        .triangle
          button type="button" class="close" data-dismiss="modal" aria-hidden="true" &times;
        - if "pt_br" == cookies[:locale].to_s
          span.currency_message = ENV["POPUP_CURRENCY_MESSAGE_PT"]
        - elsif "es" == cookies[:locale].to_s
          span.currency_message = ENV["POPUP_CURRENCY_MESSAGE_ES"]
        - else
          span.currency_message = ENV["POPUP_CURRENCY_MESSAGE_EN"]
