.investors
  / p#accelerator
  /   | #{t('home.accelerator')}
  /   = link_to 'https://saidopapel.com.br/' do
  /      = image_tag('investors/saidopapel.png')
  p#investors
    | #{t('home.investors')}
    = link_to 'https://www.bossainvest.com/' do
      = image_tag('investors/bossanova_logo.png')
    / | +
    / = link_to 'https://www.gaveaangels.org.br/' do
    /   = image_tag('investors/gavea_logo.png', style: 'width: 90px;')
