.main-list
	ul.float
		li
			.head
				|#{t(:main)}
		li
			= link_to 'Home', public_root_path
		li
			= link_to t(:how_it_works), public_how_it_works_path
		li
			= link_to t(:about_us), public_about_us_path
		li
			= link_to t(:faq), public_faq_path

		- if terms_of_use && customer_service && privacy_policy
			li
				= link_to t(:terms_of_use), public_terms_of_use_path
			li
				= link_to t(:customer_service), public_customer_service_path 
			li
				= link_to t(:privacy_policy), public_privacy_policy_path
		li
			= link_to t(:hotels), public_get_be_our_partner_path
		li
			= link_to t(:agency_and_company), public_get_business_trips_path
		li
			= link_to t(:register_now), new_public_user_registration_path
		li
			= link_to t(:sign_in), public_user_session_path

	ul.float
		li
			.head
				|#{t(:cities)}
		li
			- Place.where(place_type: 2).where.not(hotel_count: 0).where(active: true).order('hotel_count DESC').limit(15).each do |city|
				= link_to city.send("name_#{I18n.locale}"), public_city_path(id: city.id, place_name: city.send("name_#{I18n.locale}").parameterize)

			
	ul.float
		li
			.head
				|#{t(:airports)}
		li
			- Place.where(place_type: 1).where.not(hotel_count: 0).where(active: true).order('hotel_count DESC').limit(12).each do |main_airport|
				= link_to main_airport.send("name_#{I18n.locale}"), public_airport_path(id: main_airport.id, place_name: main_airport.send("name_#{I18n.locale}").parameterize), target: :blank