/.modal#newsletter-modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        .description
          span = t(:popup_newsletter_description)
        .triangle
          button type="button" class="close" data-dismiss="modal" aria-hidden="true" &times;

      .modal-body.newsletter-modal
        .email-sent
          span = t(:popup_newsletter_email_sent)
        .form
          = form_tag(public_newsletters_path, method: :post, remote: true, class: "form-newsletter-modal")  do |f|
            .row.footer-newsletter
              .inputs
                .email.no-padding
                  input.string.email-input.size-100-percent id="email" name="email" type="text" placeholder="#{t(:insert_email_here)}" autocomplete="off"
                .city.no-padding
                  input.js-autocomplete-newsletter-modal.email-input type="text" id="js-autocomplete-newsletter-modal" name="city" placeholder="#{t(:and_location_here)}"
              .submit-button
                = submit_tag t(:get_discount), class: "button submit-newsletter"
              .clearfix
