.modal#payment-modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        .description
          span = t(:payment_in_process)
          br
          img alt="PayU Logo" src="/assets/logo-modal-payu.png" style=""
          br
          img alt="PayU Logo" src="/assets/loading-payu.gif" style="width: 80px;"
          br
          .form
            .row.footer-newsletter
              .submit-button
              .clearfix