.tab-pane.fade.in#meeting-rooms ng-class="{active: selectedTabRoom == 2}" class="#{class_active}"
  .row
    .col-xs-12
      = "#{t(:where_are_you_going)}"
  .row
    .col-xs-12.adress-input
      input.form-control.js-autocomplete.size-100-percent.cpy-address id="js-autocomplete-2" placeholder="#{t :destiny_placeholder}" type="text" ng-model='address'
      p.hint = t :we_will_search_the_nearest_hotels

  .row
    .col-sm-12
      .display-table.people-checkin-inputs
        .display-table-cell.size-78-percent
          .row
            .col-xs-12
              .secondary-title = t 'search_box.checkin'
          .row.checkin
            .col-xs-6
              = "#{t(:date_word)}:"
              br
              .input-group.date-picker-inputs

                input.js-date-picker.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="checkinDateMTR" ng-change='setSearchDateValidityMTR()'

                input.hidden.cpy-checkin-date ng-model="parsedSelectedCheckinDateMTR" name='by_checkin_dateMTR'

            .col-xs-6
              = "#{t(:hour)}:"
              br
              - array_hours = []
              - 24.times do | i |
                - array_hours << i
              = select_tag 'by_checkin_hourMTR', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time size-100-percent', 'ng-model' => 'checkinHourMTR'

        .display-table-cell.number-of-people-input-size
            .up.hidden-xs.hidden-sm = "#{t(:number_of_people)}"
            .up.hidden-md.hidden-lg = "#{t('search_box.people')}"
            = select_tag '', options_for_select(1..15), "ng-model" => "numberOfPeopleMTR"


  .row.pack-size-row
    .col-xs-12
      .display-table.pack-size-table
        .display-table-cell
          .up = "#{t(:pack_size)}"
          .btn-group.pack-size
            span.clock
              = image_tag 'clock-light-gray.png'
            - MeetingRoomOffer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
              a.btn.meeting-rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSizeMTR == #{pack_size}}" ng-click="selectedPackSizeMTR = #{pack_size}" #{pack_size}h



  .row.pack-size-hint
    .col-xs-12
      p.hint = t :period_in_which_you_are_staying_at_hotel

  .row
    .col-xs-12.text-center
      .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmit()}}"
        button.submit-disabled.cpy-disabled-search-button.btn.green.search-button disabled='disabled' ng-hide='isFormValidMTR()'
          = t(:perform_search)

      button.cpy-search-button.ng-hide.btn.green.search-button ng-disabled='!isFormValidMTR()' ng-show='isFormValidMTR()'
        = t(:perform_search)
