.row.text-center.abcsd
  .checkin.text-center
    label.title = "#{t('search_box.checkin')}"

    .checkin-date.text-center
      input.js-date-picker.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="checkinDate" required='required' ng-change='setSearchDate()'

      input.hidden.cpy-checkin-date ng-model="parsedSelectedCheckinDate" name='by_checkin_date'
      input.hidden.cpy-checkin-date ng-model="timezoneSearched" name='by_timezone'


    .checkin-hour.text-center.col.xs-12
      label.at = "#{t('search_box.at')}"
      - array_hours = []
      - 24.times do | i |
        - array_hours << i
      .hour-and-buttons
        button.minus-checkin-hour ng-click='changeCheckinHour("minus")' type="button"
          span.minus
            | -
        .hour style='margin:2px 1px 1px 1px'
          - if I18n.locale != :pt_br
            label.no-margin.ng-cloak ng-init="set_checkin_checkout_hour()"
              | {{checkinHourDate | date: 'ha'}}
          - else
            //input.hour style='width:45px; font-size: 14px' ng-bind="checkinHour"
            label.no-margin ng-bind="checkinHour"
              | 0
            label.no-margin
              | :00
        button.plus-checkin-hour ng-click='changeCheckinHour("plus")' type="button"
          span
            | +
      .hidden
        = select_tag 'by_checkin_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time size-50-percent', 'ng-model' => 'checkinHour'

  .col-xs-12.pack-size.text-center.checkin ng-hide='moreHours' style="width: 185px; margin-right: 20px"
    .packs
      label = "#{t(:pack_size)}"
      .btn-group.btn-group-justified role="group" aria-label="..."
        - Offer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
          .btn-group role="group"
            a.btn.btn-default.rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSize == #{pack_size}}" ng-click="selectedPackSize = #{pack_size}; changePackSize()" #{pack_size}h
    - if I18n.locale == :pt_br
      .more-hours-checkbox
        button.btn.mini.more-hours type="button" ng-click="changeMoreHours('plus')"
          | Reservar mais de 12h


  .col-xs-12.pack-size.text-center.checkin ng-show='moreHours' style="width: 285px"
    .more-hours style="width: 285px"
      label.title = "#{t('search_box.checkout')}"

      .checkin-date.text-center
        input.cpy-checkout-date-calendar-input.js-search-date-picker.form-control.js-mask-date#datepicker-checkout ng-model="checkoutDate" ng-change='setSearchEndDate()'

        input.hidden.cpy-checkout-date ng-model="parsedSelectedCheckoutDate" name='by_checkout_date'
        input.hidden.cpy-checkout-date ng-model="timezoneSearched" name='by_timezone'

      .checkin-hour.text-center.col.xs-12
        label.at = "#{t('search_box.at')}"
        .hour-and-buttons
          button.minus-checkout-hour ng-click='changeCheckoutHour("minus")' type="button"
            span.minus
              | -
          .hour
            label.no-margin ng-bind="checkoutHour"
              | 7
            label.no-margin
              | :00
          button.plus-checkout-hour ng-click='changeCheckoutHour("plus")' type="button"
            span
              | +

  .checkout-hour.text-center.col-xs-12 ng-hide='moreHours'
    .checkout
      label.title-checkout = "#{t('search_box.checkout')}"
      .at-and-hour
        label = "#{t('search_box.at')}"
        .hour
          - if I18n.locale != :pt_br
            label.no-margin.ng-cloak
              | {{checkoutHourDate | date: 'ha'}}
          - else
            label.no-margin ng-bind="checkoutHour"
              | 3
            label.no-margin
              | :00
      label.next-day style="display:none" = "#{t('search_box.of_the_next_day')}"
      label.same-day = "#{t('search_box.of_the_same_day')}"
  .checkout-hour.text-center.col-xs-12 style="width: 104px; margin: 0px 12px 0px 0px" ng-show='moreHours'
    .hours
      label.title-checkout = "#{t(:pack_size)}"
      .at-and-hour
        .hour style="display: inline-flex; margin: 0px; width: 100%"
          label style="margin: 3px auto 0px auto;" ng-bind='selectedPackSize'
            | 13
    - if I18n.locale == :pt_br
      .more-hours-checkbox
        button.btn.mini.more-hours.margin-negative type="button" ng-click="changeMoreHours('minus')"
          | Reservar até 12h

  .people.text-center.col-xs-12
    label.title-people = "#{t('search_box.people')}"
    button.minus-number-of-people ng-click='changeNumberOfPeople("minus")' type="button"
      span.minus
        | -
    .hour
      label ng-bind="numberOfPeople"
        | 1
    button.plus-number-of-people ng-click='changeNumberOfPeople("plus")' type="button"
      span
        | +
    .hidden
      = select_tag '', options_for_select(1..4), "ng-model" => "numberOfPeople"

  .address.text-center.col-lg-2.col-md-2.col-sm-2.col-xs-12 style="margin-left: 10px"
    label
      = "#{t(:where_are_you_going)}"
    input.form-control.js-autocomplete.size-100-percent.cpy-address id="js-autocomplete" placeholder="#{t :destiny_placeholder}" type="text" required="required" ng-model='address'

  .col-xs-12.col-sm-3.text-center.pull-right.div-button-search style="width: 213px"
    .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom"  data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmit()}}"

    button.cpy-search-button.ng-hide.btn.search-button.cpy-search-button-color ng-show='true'
      - if params[:controller] == 'public/hotel' && params[:action] == 'index'
        = t(:modify_search_html)
      - else
        = t(:perform_search_button)
