.more-hours-checkbox
  button.btn.mini.more-hours.round-trip type="button" ng-click="changeTypeAir('roundTrip')"
    = "#{t('search_box.round_trip')}"

  button.btn.mini.more-hours.just-go type="button" style="margin-left: 8px;" ng-click="changeTypeAir('justGo')"
    = "#{t('search_box.only_way')}"

.row.text-center style="margin-top: 5px;"
  .hidden
    input.cpy-address-origin-air type="text" name="by_address_origin_air" ng-model="address_origin_air"
    input.cpy-address-destiny-air type="text" name="by_address_destiny_air" ng-model="address_destiny_air"
    input.cpy-city-name-origin-air type="text" name="by_city_origin_air" ng-model="city_origin_air"
    input.cpy-city-name-destiny-air type="text" name="by_city_destiny_air" ng-model="city_destiny_air"
    input.cpy-state-name-origin-air type="text" name="by_state_origin_air" ng-model="state_origin_air"
    input.cpy-state-name-destiny-air type="text" name="by_state_destiny_air" ng-model="state_destiny_air"
    input type="text" name="by_round_trip_air" ng-model="roundTrip"
    input type="text" name="by_numberOfPeopleAir" ng-model="numberOfPeopleAir"

  .address.text-center.col-lg-3.col-md-2.col-sm-2.col-xs-12 style="width: 270px;"
    label
      = "#{t('airline.origin')}"
    input.form-control.js-autocomplete-origin-air.size-100-percent.cpy-address-origin-air id="js-autocomplete-origin-air" placeholder="#{t :destiny_placeholder}" type="text" ng-model='origin_air'

  .address.text-center.col-lg-3.col-md-2.col-sm-2.col-xs-12 style="width: 270px;"
    label
      = "#{t('destination')}"
    input.form-control.js-autocomplete-destiny-air.size-100-percent.cpy-address-destiny-air id="js-autocomplete-destiny-air" placeholder="#{t :destiny_placeholder}" type="text" ng-model='destiny_air'

  .checkin.text-center style="margin-left: 9px;"
    label.title style="margin-left: -106px;"
      = "#{t('search_box.going')}"
    .checkin-date.text-center
      input.js-date-picker-origin-air.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="originDateAir" ng-change='setSearchOriginDateAir()'

      input.hidden.cpy-checkin-date ng-model="parsedSelectedOriginDateAir" name='by_origin_date_air'

    .checkin-date.text-center
      input.cpy-checkin-date-calendar-input.form-control.js-mask-time name='by_origin_hour_air' style="width: 70px;    margin-left: -15px;"
  
  .checkin.text-center style="margin-left: -104px;"
    label.title style="margin-left: -114px;"
      = "#{t('search_box.returning')}"

    .checkin-date.text-center
      input.js-date-picker-destiny-air.form-control.js-mask-date ng-model="destinyDateAir" ng-change='setSearchDestinyDateAir()'
      
      input.hidden.cpy-checkin-date ng-model="parsedSelectedDestinyDateAir" name='by_destiny_date_air'

    .checkin-date.text-center
      input.cpy-checkin-date-calendar-input.form-control.js-mask-time id="inputReturnHourAir" name='by_destiny_hour_air' style="width: 70px; margin-left: -15px;"

  .col-xs-12.col-sm-3.text-center.pull-right.div-button-search
      .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmitAir()}}"
        button.submit-disabled.cpy-disabled-search-button.btn.search-button disabled='disabled' ng-hide='isFormValidAir()' 
          = t(:perform_search)

      button.cpy-search-button.ng-hide.btn.search-button.submit-air id="search-button-air" ng-disabled='!isFormValidAir()' ng-show='isFormValidAir()'
        = t(:perform_search)

.row.text-center style="margin-top: 5px;"
  .address.col-lg-3.col-md-2.col-sm-2.col-xs-12 style="width: 140px;"
      label
        = "#{t('users.phone_number')}"
      input.form-control.size-100-percent.js-mask-mobile-phone type="text" name="by_number_contact" ng-model='number_contact'

  .people.text-center.col-xs-12 style="margin-left: 40px;margin-top: 5px;"
    label.title-people = "#{t('search_box.people')}"
    button.minus-number-of-people-air ng-click='changeNumberOfPeopleAir("minus")' type="button"
      span.minus
        | -
    .hour
      label ng-bind="numberOfPeopleAir"
        | 1
    button.plus-number-of-people-air ng-click='changeNumberOfPeopleAir("plus")' type="button"
      span
        | +
    .hidden
      = select_tag '', options_for_select(1..4), "ng-model" => "numberOfPeopleAir"