#search_mobile_device-mt
  #rooms
    .row.text-center
      .address.text-center.col-lg-2.col-md-2.col-sm-2.col-xs-12
        label
          = "#{t(:where_are_you_going)}"
        input.form-control.js-autocomplete.size-100-percent.cpy-address id="js-autocomplete" placeholder="#{t :destiny_placeholder}" type="text" ng-model='address'

    .row
      .display-table-cell.size-78-percent
        .row
          .col-xs-12
            .secondary-title = t 'search_box.checkin_mobile'
        .row.checkin-mobile
          .col-lg-2.col-md-2.col-sm-2.col-xs-12
            .col-xs-6#date-picker-mobile
              .input-group.date-picker-inputs

                input.js-date-picker.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="checkinDateMTR" ng-change='setSearchDateValidityMTR()'

                input.hidden.cpy-checkin-date ng-model="parsedSelectedCheckinDateMTR" name='by_checkin_dateMTR'
                input.hidden.cpy-timezone ng-model="timezoneSearched" name='by_timezone'

            .col-xs-6#hour-input-mobile
              = "#{t(:hour)}:"
              br
              - array_hours = []
              - array_hours_am_pm = {"12 AM" => 0}.merge!(1.upto(11).collect { |n| {"#{n} AM" => n} }.reduce(Hash.new, :merge)).merge!({"12 PM" => 12}).merge!(1.upto(11).collect { |n| {"#{n} PM" => n + 12} }.reduce(Hash.new, :merge))
              - 24.times do | i |
                - array_hours << i
              - if I18n.locale != :pt_br
                = select_tag 'by_checkin_hourMTR', options_for_select(array_hours_am_pm.collect { | hour, value | ["#{hour}", value]}), class: 'js-checkin-time js-checkin-hour size-100-percent', 'ng-model' => 'checkinHourMTR'
              - else
                = select_tag 'by_checkin_hourMTR', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time js-checkin-hour size-100-percent', 'ng-model' => 'checkinHourMTR', 'ng-change' => 'changeCheckinHourMTR()'

    .row
      .display-table-cell.number-of-people-input-size
        .up.hidden-xs.hidden-sm = "#{t(:number_of_people)}"
        .up.hidden-md.hidden-lg = "#{t('search_box.people')}"
        = select_tag '', options_for_select(1..15), "ng-model" => "numberOfPeopleMTR"

      .col-xs-12.pack-size.text-center.checkin ng-hide='moreHours' style="width: 290px;"
        .packs
          label = "#{t(:pack_size)}"
          .btn-group.btn-group-justified role="group" aria-label="..."
            - MeetingRoomOffer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
              .btn-group role="group"
                a.btn.btn-default.rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSizeMTR == #{pack_size}}" ng-click="selectedPackSizeMTR = #{pack_size}; changePackSizeMTR()" #{pack_size}h
  
    .col-xs-12.col-sm-3.text-center.pull-right.div-button-search
      .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmit()}}"
        button.submit-disabled.cpy-disabled-search-button.btn.search-button disabled='disabled' ng-hide='isFormValidMTR()'
          - if params[:controller] == 'public/hotel' && params[:action] == 'index'
            = t(:modify_search_html)
          - else
            = t(:perform_search)

      button.cpy-search-button.ng-hide.btn.search-button ng-disabled='!isFormValidMTR()' ng-show='isFormValidMTR()'
        - if params[:controller] == 'public/hotel' && params[:action] == 'index'
          = t(:modify_search_html)
        - else
          = t(:perform_search)