ul.nav.nav-tabs.nav-justified.col-xs-12
  li ng-class="{active: selectedTabRoom == 3}"
    a.js-rooms-tab.any-time data-toggle='tab' href='#any_time' ng-click="changeTab(3)" 
    	.title = t 'search_box.at_any_time'
  li ng-class="{active: selectedTabRoom == 1}"
    a.js-rooms-tab.night data-toggle='tab' href='#night' ng-click="changeTab(1)" 
    	.title = t 'search_box.for_one_night'
  li ng-class="{active: selectedTabRoom == 2}"
    a.js-rooms-tab.morning data-toggle='tab' href='#morning' ng-click="changeTab(2)" 
    	.title = t 'search_box.for_the_day'