ruby:
  # we must keep in here because there are some controllers in the public area that doen'st inherit from public::base

  angularController = mobile_device? ? 'PublicMobileSearchCtrl' : 'PublicSearchCtrl'

  more_hours = false
  ng_init_for_search_form = if last_search_log
    # 0 - day
    # 1 - month
    # 2 - year
    date_parts = last_search_log.checkin_date.split("/") 
    english_date_format = "#{date_parts[1]}/#{date_parts[0]}/#{date_parts[2]}"
    length_of_pack = last_search_log.length_of_pack
    checkin_hour = (last_search_log.room_category == 1 && last_search_log.checkin_hour < 18) ? 18 : last_search_log.checkin_hour
    checkout_hour = checkin_hour + length_of_pack
    checkout_date = ''
    if checkout_hour >= 24
      checkout_hour -= 24
    end
    if last_search_log.length_of_pack > 12
      if I18n.locale == :pt_br
        checkin_with_hours = I18n.locale == :en ? (english_date_format.to_datetime + checkin_hour.hour) : (last_search_log.checkin_date.to_datetime + checkin_hour.hour)
        checkout_with_hours = checkin_with_hours + length_of_pack.hour
        checkout_date = I18n.locale == :en ? checkout_with_hours.strftime('%m/%d/%Y') : checkout_with_hours.strftime('%d/%m/%Y')
        checkout_hour = checkout_with_hours.strftime('%H')
        more_hours = true
      else
        length_of_pack = 3
        checkout_hour = checkin_hour + length_of_pack
        checkout_date = ''
        if checkout_hour >= 24
          checkout_hour -= 24
        end           
      end
    end
    %Q{
      latitude = '#{last_search_log.latitude}';
      longitude = '#{last_search_log.longitude}';
      checkinDate = '#{I18n.locale == :en ? english_date_format : last_search_log.checkin_date}';
      parsedSelectedCheckinDate = '#{last_search_log.checkin_date}';
      checkinHour = #{checkin_hour};
      numberOfPeople = #{last_search_log.number_of_people};
      cityName = '#{last_search_log.city_name}';
      stateName = '#{last_search_log.state_name}';
      address = '#{last_search_log.address}';
      moreHours = '#{more_hours}';
      setSearchDate();
      selectedPackSize = #{length_of_pack};
      checkoutHour = #{checkout_hour};
      checkoutDate = '#{checkout_date}';
      setLatitudeAndLongitudeValidity();
      disableCheckinButtons();
      disableCheckoutButtons();
    }.squish
  else
    ""
  end

= form_tag public_hotels_path, method: :get, class: '', "ng-controller" => "#{angularController}", "ng-init" => "#{ng_init_for_search_form}" do

  .hidden
    input.cpy-city-name type='text' ng-model="cityName" name='city_name'
    input.cpy-state-name type='text' ng-model="stateName" name='state_name'
    input.cpy-latitude-field type="text" name="by_latitude" ng-model='latitude'
    input.cpy-longitude-field type="text" name="by_longitude" ng-model='longitude'
    input.cpy-pack-length type="text" name="by_pack_length" ng-model="selectedPackSize"
    input.cpy-pack-length type="text" name="by_pack_lengthMTR" ng-model="selectedPackSizeMTR"
    input.cpy-address type="text" name="by_address" ng-model="address"
    input.cpy-number-of-people type="text" name="by_number_of_people" ng-model="numberOfPeople"
    input.hidden.cpy-search-by type="text" name="by_search"

  .col-xs-12
    .image-room-category.any-time-rooms-background
      .col-md-12.describe-box-rooms.text-center
        p
          span = t(:title_describe_box_at_any_time)
      .col-md-12.describe-box-meeting-room.text-center.hide
        p
          span = t(:title_describe_box_at_any_time_meeting_room)
      - unless mobile_device?
        = link_to '', style: 'color: transparent !important; display: none;' do
          ul.nav.nav-tabs.nav-justified
            li.search_tab_rooms ng-class="{active: selectedTabRoom == 3}"
              a.js-event-rooms-tab data-toggle='tab' href='#event-rooms' ng-click="changeTab(3)" = t 'rooms'
              i.fa.fa-bed 
            li.search_tab_meeting_rooms ng-class="{active: selectedTabRoom == 2}"
              a.js-meeting-rooms-tab data-toggle='tab' href='#meeting-rooms' ng-click="changeTab(2)" = t 'meeting_rooms'
              i.fa.fa-briefcase
      - if mobile_device?
        .js-float-search-form.any-time-mobile
          = render partial: "/layouts/public/components/search_form_mobile"
      - else
        .js-float-search-form.any-time
          .tab-content.tab-content-custom.any-time
            = render partial: "/layouts/public/components/search_form_content_any_time_rooms"
          .tab-content.tab-content-custom.any-time_meeting_room style="display: none;"
            = render partial: "/layouts/public/components/search_form_meeting_room_content"

          / .search_tab_rooms
          /   p
          /     i.fa.fa-bed &nbsp;
          /     = t(:rooms)
          / .search_tab_meeting_rooms
          /   p
          /     i.fa.fa-briefcase &nbsp;
          /     = t(:meeting_rooms)
