ul.nav.navbar-nav.sidemenu
  li.menu-item
    = link_to public_root_path, class: 'menu-item-link' do
      = icon_for(:search)
      span = t(:search_hotels)
  - if current_public_user
    - if current_public_user.is_a_agency?
      li.menu-item
        = link_to public_user_profile_path, class: 'menu-item-link' do
          = icon_for(:user)
          span = t(:my_cadastre)
      li.menu-item
        = link_to public_company_details_path, class: 'menu-item-link' do
          = icon_for(:company)
          span = t(:my_clients)
      li.menu-item
        = link_to public_consultants_path, class: 'menu-item-link' do
          = icon_for(:consultants)
          span = t(:my_consultants)
    - elsif current_public_user.is_a_company?
      li.menu-item
        = link_to public_user_profile_path, class: 'menu-item-link' do
          = icon_for(:user)
          span = t(:my_cadastre)
      li.menu-item
        = link_to public_company_detail_job_titles_path(current_public_user.company_detail), class: 'menu-item-link' do
          = icon_for(:job_title)
          span = t(:job_titles)
      li.menu-item
        = link_to public_company_detail_cost_centers_path(current_public_user.company_detail), class: 'menu-item-link' do
          = icon_for(:cost_center)
          span = t(:cost_center)
    - else
      li.menu-item
        = link_to public_user_profile_path, class: 'menu-item-link' do
          = icon_for(:user)
          span = t(:my_profile)

      / - if current_public_user.bookings.paid.exists?
      /   li.menu-item
      /     = link_to public_friend_hq_path, class: 'menu-item-link' do
      /       = icon_for(:friend_hq)
      /       span = t(:indicate_and_earn)
      /       .notification-resp
      /         span.noti-resp 1
          
      / - else
      /   li.menu-item
      /     = link_to public_twelve_hours_discount_path, class: 'menu-item-link' do
      /       = icon_for(:hours_discount)
      /       span = t(:dropdown_link_twelve_hours)
      /       .notification-resp
      /         span.noti-resp 1

      /   li.menu-item
      /     = link_to public_hours_discount_path, class: 'menu-item-link' do
      /       = icon_for(:hours_discount)
      /       span = t(:dropdown_link_three_hours)
      /       .notification-resp
      /         span.noti-resp 1
        /li.menu-item
        /  = link_to public_summer_path, class: 'menu-item-link' do
        /    = icon_for(:summer)
        /    span = t(:dropdown_link_summer)
        /    .notification-resp
        /      span.noti-resp 1
  - else
    li.menu-item
      = link_to new_public_user_session_path, class: 'menu-item-link' do
        = icon_for(:sign_in)
        span = t(:sign_in)  
    / li.menu-item
    /   = link_to public_twelve_hours_discount_path, class: 'menu-item-link' do
    /     = icon_for(:hours_discount)
    /     span = t(:dropdown_link_twelve_hours)
    /     .notification-resp
    /       span.noti-resp 1
    / li.menu-item
    /   = link_to public_hours_discount_path, class: 'menu-item-link' do
    /     = icon_for(:hours_discount)
    /     span = t(:dropdown_link_three_hours)
    /     .notification-resp
    /       span.noti-resp 1
    /li.menu-item
    /  = link_to public_summer_path, class: 'menu-item-link' do
    /    = icon_for(:summer)
    /    span = t(:dropdown_link_summer)
    /    .notification-resp
    /      span.noti-resp 1
          
  li.menu-item
    = link_to public_bookings_path, class: 'menu-item-link' do
      = icon_for(:bookmark)
      span = t(:my_bookings)

  li.menu-item
    = link_to public_how_it_works_path, class: 'menu-item-link' do
      = icon_for(:question_mark)
      span = t(:how_it_works)
  li.menu-item
    = link_to public_get_be_our_partner_path, class: 'menu-item-link' do
      = icon_for(:partner)
      span = t(:be_a_partner_hotel)
  li.menu-item
    = link_to public_get_business_trips_path, class: 'menu-item-link' do
      = icon_for(:business_travel)
      span = t(:business_trips)
  li.menu-item
    = link_to public_about_us_path, class: 'menu-item-link' do
      = image_tag 'QBranco.png', style: 'width: 16px; vertical-align: inherit; filter: contrast(0)'
      span = t(:about_us)
  li.menu-item
    = link_to public_faq_path, class: 'menu-item-link' do
      = icon_for(:faq)
      span = t(:faq)
  li.menu-item
    = link_to public_terms_of_use_path, class: 'menu-item-link' do
      = icon_for(:terms_of_use)
      span = t(:terms_of_use)
  li.menu-item
    = link_to public_customer_service_path, class: 'menu-item-link' do
      = icon_for(:customer_service)
      span = t(:customer_service)
  li.menu-item
    = link_to public_privacy_policy_path, class: 'menu-item-link' do
      = icon_for(:privacy)
      span = t(:privacy_policy)
  - if current_public_user
    li.menu-item
      = link_to destroy_public_user_session_path, method: :delete, class: 'menu-item-link' do
        = icon_for(:sign_out)
        span = t(:sign_out)