.container
  .row
    .col-md-12.logo
        = image_tag 'logo-green-white.png', class: 'hq-logo'
    .col-md-6.col-md-offset-3
      .page_wrapper
        .back-page
        .visible.login-box
          h1 #{t('views.hotel.passwords.change_password')}
          = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
            = f.error_notification
            = f.full_error :reset_password_token
            .clearfix
            - if flash[:alert]
              p.alert.alert-danger
                = flash[:alert]
            = f.input :reset_password_token, :as => :hidden

            = f.input :password, :label => t('views.hotel.passwords.new_password'), :required => true, :autofocus => true, wrapper: :full_spaces
            = f.input :password_confirmation, :label => t('views.hotel.passwords.repeat_new_password'), :required => true, wrapper: :full_spaces

            .form-actions
              = f.button :submit, t('views.hotel.passwords.change_password'), class: 'pull-right'
              = render partial: "hotel/shared/links", class: 'pull-left'
              .clearfix
