- content_for(:title) { "Sua senha" }
p Olá, #{@company.name}! Seja bem-vindo ao HotelQuando.com.

p Sua empresa foi cadastrada na nossa plataforma pela agência #{@company.agency.name}. Seus dados para acesso são:

p.small
  span.gray Login:&nbsp;
  span = @company.login

p.small
  span.gray Senha:&nbsp;
  span = @company.password

p Para acessar seu painel clique no link abaixo:
p = link_to company_root_url, company_root_url
