.tudo-azul ng-init='regulation = false'
  .description
    h1.tudo-azul-title Join Azul's benefits program, one of our partners!

  .logos
    .tudo-azul-box = image_tag 'tudo_azul2.png', class: 'tudo-azul-image'
    = icon_for(:plus)
    .hq-box = image_tag 'logo.png', class: 'hq-image'

  .description
    p
      | Get
      span.blue
        |  2 "TudoAzul" points
      |  for each
      span.blue
        |  R$ 1,00 spent in our platform

  .comments
    p.small You can change your preferences at any time by editing your profile

  .regulation
    h1.regulation-title Partnership Regulation
    h2.regulation-subtitle Rules for accumulation
    p.description <strong>1.</strong> The number of your CPF shall be inserted in the designated field at the time of purchase to accomplish the score
    p.description <strong>2.</strong> Will be awarded 2 points for every R$1,00 spent on our platform for all reservations with check-out from 08/01/2015 to 09/30/2015
    p.description <strong>3.</strong> The points will be awarded within 15 days after check-out of your reservation
    p.description <strong>4.</strong> It is imperative that the user is registered in TudoAzul program so that the points are accumulated
    p.description <strong>5.</strong> No points will be awarded where the registration performed in TudoAzul program has subsequently been made to the request made in our site
    p.description <strong>6.</strong> If you still have any questions, please visit our customer service section and contact us
