= header_section(right_links: '', title: t("views.admin.hotel_reports.title"))

- unless @hotels.any?
  .alert.alert-info
    | #{t("views.admin.hotel_reports.no_hotel_found")}

- else
  .row
    .col-sm-12
      = render partial: "/admin/hotel_reports/index/filter"
  - if params[:invoice_type] == 'tenth_day' && (@invoice[:bookings_collection][:bookings_paid_at_the_hotel].try(:any?) || @invoice[:bookings_collection][:no_shows].try(:any?) || @invoice[:bookings_collection][:bookings_paid_online].try(:any?))
    = render partial: '/admin/hotel_reports/index/tenth_day_invoice', locals: { invoice: @invoice }

  - elsif params[:invoice_type] == 'end_of_month' && (@invoice[:bookings_collection][:no_shows].try(:any?) || @invoice[:bookings_collection][:bookings_paid_online].try(:any?))
    = render partial: '/admin/hotel_reports/index/end_of_month_invoice', locals: {invoice: @invoice }

  - elsif params[:invoice_type].present?
    .alert.alert-info
      | #{t("views.admin.hotel_reports.not_enough_info_to_generate_report")}
