.public-affiliate-bookings-payments-controller

  .booking-step-title
    margin-bottom: 30px

    h2
      margin: 0
    .radio-button
      font-size: 26px
      font-family: inherit
      font-weight: 500
      line-height: 1.1
      color: #555

  .description-title
    h5
      font-size: 16px

  .info-header
    display: table
    width: 100%
    table-layout: fixed

    .info-icon
      display: table-cell
      float: none
      vertical-align: middle
    img
      width: 36px
      height: 36px

    .info-title
      display: table-cell
      float: none
      vertical-align: middle

    h4
      margin: 0
      color: $label-light-gray
      font-size: 16px

    .info-price
      display: table-cell
      float: none
      vertical-align: middle
      padding: 0

  .booking-info
    margin-bottom: 25px

  .room-type-description-title, .bed-configuration-title
    margin-top: 20px
    height: 50px
    h5
      display: inline-block
      position: relative
      top: 10px
      margin-bottom: 0
      color: #888888
      font-size: 16px

  .attribute-title
    color: $label-light-gray
    font-size: 12px

  .price-description
    margin-right: 10px
    font-size: 13px

  .submit-button
    margin-bottom: 0px
    padding: 0px 40px 0px 40px !important

  textarea.booking-note
    cursor: default
    background: white

  .form-actions
    .col-sm-12
      margin-bottom: 50px

      .checkbox
        text-align: left
        padding-bottom: 10px
        padding-top: 10px        

      .tudo-azul, .multiplus
        margin-top: 10px
        margin-bottom: 15px
        border-radius: 5px

        .image
          margin-right: 10px
          img
            border-radius: 5px
            width: 145px
        .description
          font-size: 12px
          position: relative
          top: 5px
          p
            margin: 0
            line-height: 15px

        .comments
          font-style: italic
          color: #AAAAAA
          letter-spacing: .5px
          text-align: left
          margin: 0
          margin: 5px 0
          p
            margin-bottom: 5px
            text-align: left

        .blue
          color: #16BBEA

        .gray
          color: #727375
          font-weight: 600

        .checkbox
          text-align: right
          padding: 0
          #tudo_azul_participant
            float: inherit
