div ng-controller="PhotosCtrl" ng-init="photos = #{agency.photos.to_json}"
  = shared_component("new_nested_photo_modal")
  = simple_form_for [:admin, agency] do |f|

    = f.input :name

    = f.input :login

    - if params[:action].in? [ 'edit', 'update']
      = f.input :email, readonly: true
    - else
      = f.input :email

    = f.input :sign_email

    = f.input :phone_number

    = f.input :cnpj

    = f.input :comission_value, as: :string, input_html: { class: 'js-mask-money',value: ("%.2f" % agency.comission_value.to_f).to_s }

    = f.input :observations

    = shared_component("nested_photo_form", {f: f})

    = form_submit_section
