= header_section title: t("views.admin.agencies.title")

- if @agencies.length == 0
  .alert.alert-info
    = t(:none_female) + ' ' + t('agency.one').downcase + ' ' + t(:registered_female) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | #{t("views.admin.agencies.id")}
        th.center
          | #{t("views.admin.agencies.name")}
        th.center
          | #{t("views.admin.agencies.email")}
        th.center
          | #{t("views.admin.agencies.active")}
        th.center
          | #{t("views.admin.agencies.actions")}
    tbody
      - @agencies.each do | agency |
        tr.center
          td
            = agency.id
          td
            = agency.name
          td
            = agency.email
          td
            = agency.is_active ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_agency_path(agency.id), class: 'btn btn-xs btn-success'

            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_agency_path(agency.id), class: 'btn btn-xs btn-info cpy-edit-agency-link'
            | &nbsp;&nbsp;
            - if agency.is_active?
              = link_to "<i class='icon-remove bigger-100'></i>".html_safe, deactivate_admin_agency_path(agency.id), class: 'btn btn-xs btn-danger cpy-deactivate-agency-button', data: { confirm: t("views.admin.agencies.deactivate_affiliate") }, method: :post
            - else
              = link_to "<i class='icon-check bigger-100'></i>".html_safe, activate_admin_agency_path(agency.id), class: 'btn btn-xs btn-warning cpy-activate-agency-button', data: { confirm: t("views.admin.agencies.activate_affiliate")}, method: :post
