= header_section

= panel_section(name: t("views.admin.agencies.agency_information")) do
  = show_for @agency do |u|
    = u.attribute :name
    = u.attribute :login
    = u.attribute :email
    = u.attribute :sign_email
    = u.attribute :phone_number
    = u.attribute :cnpj
    = u.attribute :comission_value, value: number_to_currency(@agency.comission_value)
    = u.attribute :observations
    = u.attribute :is_active do
      = @agency.is_active ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe

  = shared_component("photo_list_show", {photos: @agency.photos})
  hr

  .wizard-actions
    = link_to t("views.admin.agencies.back").html_safe, admin_agencies_path, class: 'btn btn-prev'
    = link_to t("views.admin.agencies.edit").html_safe, edit_admin_agency_path(@agency.id), class: 'btn btn-info'

    - if @agency.is_active?
      = link_to t("views.admin.agencies.deactivate").html_safe, deactivate_admin_agency_path(@agency.id), class: 'btn btn-danger cpy-deactivate-agency-button', method: :post
    - else
      = link_to t("views.admin.agencies.activate").html_safe, activate_admin_agency_path(@agency.id), class: 'btn btn-warning cpy-activate-agency-button', method: :post
