= panel_section(name: t("views.admin.promotional_codes.filter"), class: 'filter widget-box') do
  = form_tag admin_promotional_codes_path, method: :get, class: 'form-horizontal' do
    .row
      .col-sm-3
        = label_tag :q, t("views.admin.promotional_codes.filter_by_id"), class: 'control-label no-left-padding'
        input.form-control.js-mask-integer name='by_id' value="#{params[:by_id] || ''}"

      .col-sm-3
        = label_tag :q, t("views.admin.promotional_codes.filter_by_code"), class: 'control-label no-left-padding'
        input.form-control name='by_code' value="#{params[:by_code] || ''}"

      .col-sm-3
        = label_tag :q, t("views.admin.promotional_codes.filter_by_campaign"), class: 'control-label no-left-padding'
        - options_for_campaign_select = []
        - Campaign.all.order(:name).each { | campaign |  options_for_campaign_select << [campaign.name, campaign.id]}
        = select_tag 'by_campaign_id', options_for_select(options_for_campaign_select, params[:by_campaign_id]), class: 'size-100-percent', prompt: 'Todas'
      .col-sm-3
        = label_tag :q, t("views.admin.promotional_codes.filter_by_status"), class: 'control-label no-left-padding'
        - options_for_status_select = []
        - PromotionalCode::ACCEPTED_STATUSES.each do | status, code |
          - options_for_status_select << [t(status), code]
        = select_tag 'by_status', options_for_select(options_for_status_select, params[:by_status]), class: 'size-100-percent', prompt: 'Todas'
    hr


    = submit_tag t("views.admin.promotional_codes.filter"), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button margin-left-10px'
    = link_to t("views.admin.promotional_codes.remove_filter"), admin_promotional_codes_path, class: 'btn btn-sm btn-danger pull-right size-20-percent remove-button cpy-remove-filter-button'
    = submit_tag t("views.admin.promotional_codes.export_data"), class: 'btn btn-sm btn-default js-export-promotional-codes-data size-20-percent', style: 'margin-bottom: 20px;'

    .clearfix
