.hotel-layout
  top: 0px !important
  position: static !important
  .language-and-customer-service-links
    margin: 12px
    a
      margin: 0 5px      
  .goog-te-banner-frame
    display: none !important
  .goog-tooltip
    visibility: hidden !important
    display: none !important
    
  .nav-list > li .submenu > li.active > a 
    font-weight: bold
  .icon-custom
    display: inline-block
    vertical-align: middle
    min-width: 30px
    text-align: center
    font-size: 18px
    font-weight: normal
    margin-right: 2px
  .cursor-pointer
    cursor: pointer
  @for $i from 1 through 100
    .size-#{$i}-percent
      width: 1% * $i

  .no-left-padding
    padding-left: 0px

  .margin-left-2-percent
    margin-left: 2%

  .margin-right-2-percent
    margin-right: 2%

  .nested-photo-form-title
    a
      margin-left: 20px

  &.browserIE
    display: inline-block
    width: 100%
    height: 100%

    input.js-date-picker
      width: 100%
      height: 30px
      padding-right: 5px
      border: 1px solid lightgray
      color: #858585

    &.edit-action
      .form-actions.wizard-actions.form-buttons:nth-child(2n+1)
        background-color: white
        border: 0px
        padding: 0px
        margin: 0px
        float: right
        display: inline-block
        position: relative
        right: -31px
        bottom: 0px

        button
          padding: 0px
          width: 30px
          float: left
          background-color: #555555 !important
          border: 5px solid #555555 !important
          pointer-events: none

          &:hover
            background-color: #303030 !important
            border: 5px solid #303030 !important
