.login-layout
  padding: 0
  background: #03538c url('login/noise_light.png')
  padding-bottom: 50px
  .logo
    text-align: center
    margin-top: 50px
    img
      max-width: 500px

  h1
    margin: 0
    margin-bottom: 20px
    color: #003860
  .page_wrapper
    position: relative

  .login-actions
    margin-top: 10px

  .login-box
    margin-top: 50px
    min-height: 180px
    background-color: #fff
    position: relative
    -webkit-box-shadow: 0 1px 4px rgba(62,64,68,0.3)
    -moz-box-shadow: 0 1px 4px rgba(62,64,68,0.3)
    box-shadow: 0 1px 4px rgba(62,64,68,0.3)
    padding: 30px
    background: #fafafa

    input
      padding-right: 25px
    .input-icon
      display: inline-block

      & > [class*="icon-"]
        position: absolute
        right: 10px
        top: 4px

  .back-page
    background: #f3f5f9
    -webkit-transform: rotate(3deg)
    -moz-transform: rotate(3deg)
    -ms-transform: rotate(3deg)
    -o-transform: rotate(3deg)
    transform: rotate(3deg)
    -webkit-box-shadow: 0 1px 4px rgba(62,64,68,0.5)
    -moz-box-shadow: 0 1px 4px rgba(62,64,68,0.5)
    box-shadow: 0 1px 4px rgba(62,64,68,0.5)
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

  .input-icon-right
    position: relative

  &.browserIE
    .login-box
      .input-icon

        & > [class*='icon-']
          top: 11px
          right: 10px
