body
  min-width: 530px
.sidebar
  width: 17%
  min-width: 197px
.sidebar:before
  width: 17%
  min-width: 197px
.main-content
  width: 82%

@media only screen and (max-width: 1094px)
  .main-content
    width: 80%

@media only screen and (max-width: 991px)
  .main-content
    width: 100%
    min-width: 511px
@media only screen and (max-width: 620px)
  .btn-sm
    min-width: 80px
  .remove-button
    min-width: 115px

@media only screen and (max-width: 460px)
  .ace-nav
    text-align: right !important

.margin-left-10px
  margin-left: 10px
.tab-content
  overflow-x: scroll
.responsive-image
  width: 100%
  max-width: 400px

@media only screen and (max-width: 991px)
  .sidebar
    display: block
    z-index: 999
    bottom: auto
    top: auto !important
    border: 1px solid #CCC
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2)
    width: 100%
    position: relative
    margin-top: 0
