/ Putting the two things here, for performance reasons
- bookings_totals_per_client = {}
h3.header.lighter.smaller.green Reservas

table.table.table-striped.table-bordered.table-hover
  thead
    tr
      th.center.size-10-percent
        | Código
      th.center.size-20-percent
        | Cliente
      th.center.size-15-percent
        | Checkin
      th.center.size-10-percent
        | Pacote
      th.center.size-15-percent
        | Status
  tbody.cpy-booking-listing
    - bookings.each do | booking |
      - bookings_totals_per_client[booking.user] ||= {}
      - bookings_totals_per_client[booking.user][:booking_count] = (bookings_totals_per_client[booking.user][:booking_count] || 0) + 1
      - if /no_show/ === Booking::ACCEPTED_STATUS_REVERSED[booking.status].to_s
        - bookings_totals_per_client[booking.user][:booking_total_value] = (bookings_totals_per_client[booking.user][:booking_total_value] || 0) + booking.no_show_value
      - else
        - bookings_totals_per_client[booking.user][:booking_total_value] = (bookings_totals_per_client[booking.user][:booking_total_value] || 0) + booking.total_price

      tr.center
        td
          = booking.id
        td
          = booking.user.name
        td
          = (booking.offer.checkin_timestamp).strftime("%d/%m/%Y %H:%M")
        td
          = "#{booking.pack_in_hours}h"
        td
          = t(Booking::ACCEPTED_STATUS_REVERSED[booking.status])

h3.header.lighter.smaller.green Totais por cliente

table.table.table-striped.table-bordered.table-hover
  thead
    tr
      th.center
        | Código
      th.center
        | Nome
      th.center
        | Quantidade de reservas
      th.center
        | Valor total
  tbody.cpy-total-per-client
    - bookings_totals_per_client.each do | client, totals |
      tr.center
        td
          = client.id
        td
          = client.name
        td
          = totals[:booking_count]
        td
          = number_to_currency totals[:booking_total_value]
