= panel_section(name: 'Relatório', class: 'filter widget-box') do
  / Using the post method, to not let the agency change the report date in the url
  = form_tag agency_generate_bookings_report_path, method: :post, class: 'form-horizontal' do
    .row
      .col-sm-12
        = label_tag :q, 'Tipo', class: 'control-label no-left-padding'
        = select_tag 'report_type', options_for_select([['Relatório Dia 10', 'tenth_day'], ['Relatório Final de Mês', 'end_of_month']], params[:report_type]), class: 'size-100-percent'

    .row
      .col-sm-12
        = label_tag :q, 'Mês do Relatório', class: 'control-label no-left-padding'
        - array_of_months = [ ["#{I18n.t('date.month_names')[Date.today.month]} #{Date.today.year}", Date.today.strftime('%Y-%m-10')] ]
        - Agency::BookingsReportController::QUANTITY_OF_MONTHS.times { |i| i+=1; array_of_months << ["#{I18n.t('date.month_names')[i.month.ago.month]} #{i.month.ago.year}", i.month.ago.to_date.strftime('%Y-%m-10')] }
        = select_tag 'tenth_day_in_report_month', options_for_select(array_of_months, params[:tenth_day_in_report_month]), class: 'size-100-percent'

    hr

    = submit_tag 'Gerar', class: 'btn btn-sm btn-success pull-right size-20-percent cpy-generate-button margin-left-10px'

    .clearfix
