h3.header.lighter.smaller.green Totais
table.table.table-striped.table-bordered.table-hover.cpy-agency-report
  tr
    td.text-right
      b
        | Valor total das reservas:
    td
      b.cpy-total-value.text-primary
        = number_to_currency(report[:info][:totals][:value])

  tr
    td.text-right
      b
        | Número total de reservas:
    td
      b.cpy-total-number-of-bookings.text-primary
        = report[:info][:totals][:number_of_bookings]

  tr.dark-row
    td.text-right
      h4
        | Total de comissão das reservas:
    td
      h4.cpy-agency-comission.text-primary
        = number_to_currency report[:info][:totals][:agency_comission]
