- @job_titles.each do | job_title |
  .row.booking-box
    .col-md-12
      .row
        h1.hotel-name = job_title.name
      .row
        .col-xs-6
          = link_to public_job_title_path(job_title.id), class: 'btn mini btn-primary'
            = icon_for(:plus)
            = t(:details)
        .col-xs-6
          = link_to t(:edit), edit_public_job_title_path(job_title.id), class: 'btn mini green cpy-confirm-booking-button'
