.booking-info-title
  .image.hidden-xs.hidden-sm
    = image_tag 'booking-info.jpg'
  h4
    = t(:booking_data).upcase
.booking-info.hidden-xs.hidden-sm
  .row
    .col-md-6.attribute-title
      = t(:informal_checkin)
    .col-md-3.attribute-title
      = t(:informal_pack)
    .col-md-3.attribute-title
      - if @booking.is_meeting_offer?
        = t(:meeting_room_name)
      - elsif @booking.is_event_offer?
        = t(:event_room_name)
      - else
        = t(:room_type)
  .row
    .col-md-3
      = l @booking.offer.checkin_timestamp.to_date
    .col-md-3
      - if I18n.locale != :pt_br
        = @booking.offer.checkin_timestamp.strftime("%I %p")
      - else
        = @booking.offer.checkin_timestamp.strftime('%H:%M')
    .col-md-3
      = "#{@booking.offer.pack_in_hours} #{@booking.offer.pack_in_hours.eql?(1) ? t(:hour).downcase : t(:hours)}"
    .col-md-3
      - if @booking.is_meeting_offer?
        = @booking.business_room.send("name_#{I18n.locale}")
      - elsif @booking.is_event_offer?
        = @booking.business_room.send("name_#{I18n.locale}")
      - else
        = @booking.offer.room_type.send("full_name_#{I18n.locale}")

.booking-info-mobile.hidden-md.hidden-lg
  .row
    .col-xs-7.attribute-title
      = t(:informal_checkin)
    .col-xs-5.attribute-title
      = t(:informal_pack)
  .row
    .col-xs-7
      - if I18n.locale != :pt_br
        = @booking.offer.checkin_timestamp.strftime("%I %p")
      - else
        = l(@booking.offer.checkin_timestamp, format: :custom)
    .col-xs-5
      = "#{@booking.offer.pack_in_hours} #{@booking.offer.pack_in_hours.eql?(1) ? t(:hour).downcase : t(:hours)}"
  br
  .row
    .col-xs-12.attribute-title
      = t(:room_type)
  .row
    .col-xs-12
      - if @booking.is_meeting_offer?
        = @booking.business_room.send("name_#{I18n.locale}")
      - elsif @booking.is_event_offer?
        = @booking.business_room.send("name_#{I18n.locale}")
      - else
        = @booking.offer.room_type.send("full_name_#{I18n.locale}")
  br

= simple_form_for [:public, @booking], html: { class: 'form-horizontal' }, wrapper: :basic do |f|
  .row.form-group
    .col-sm-12
      label
        = t(:guest_name_holder_booking)
      / - @booking.guest_name ||= current_public_user.name
      = f.input :guest_name

  .row.form-group
    .col-sm-12
      label
        = Booking.human_attribute_name(:note)
      = f.input :note, class: 'form-control', as: :text, input_html: { rows: 5 }
  br
  .row.form-actions
    .col-sm-10.col-sm-offset-2
      = submit_tag t(:save).upcase, class: 'size-100-percent cpy-submit-button btn btn-success pull-right submit-button'

