.public-company-details-cost-centers-controller.index-action
  .table
    margin-top: 10px

    .glyphicon
      margin-right: 0px

    td
      vertical-align: middle

    td.action-list
      width: 100px
      .btn
        display: block
        width: 100%
        margin-bottom: 2px