.public-company-details-cost-centers-travelers-credit-cards-controller.show-action
  .form-actions
    .btn
      display: inline-block
      margin-right: 5px

  .attributes-wrapper
    clear: both
    
    &:after 
      content: ''
      display: block
      clear: both
    .attribute-title
      float: left
      width: 50%
      text-align: right
      font-size: 15px
      font-weight: 600
      margin: 0
      margin-top: 10px

    .content
      padding-left: 25px
      float: left
      width: 50%
      font-size: 14px
      line-height: 20px
      margin-top: 12px

    .content
      img
        max-width: 80%
