.public-affiliate-bookings-payments-controller.create-action

  .booking-total-value

    .value
      font-size: 16px
      letter-spacing: 2px

    .money-unit
      font-size: 12px
      letter-spacing: 0
      margin-right: 4px

  .link-to-bookings-index
    margin-bottom: 42px
    line-height: 50px

  .booking-status
    padding-top: 6px

  .billing-explanation-row
    margin-top: 18px

  p.success
    color: $success-button
    font-size: 16px
    font-weight: lighter

.browserFirefox.public-bookings-payments-controller.create-action
  form .form-group select
    padding: 9px 11px 0px 4px
