body.public-affiliate-layout

	#footer 
		background-color: #f8f8f8
		border-top: 1px solid #e7e7e7
		padding: 2% 9%
		z-index: 101

		i
			font-size: 15px
			line-height: 25px

		
		.fa::before
			margin-right: 10px


	.under
		width: 100%
		display: inline-block
		height: 60px
		border-top: 1px solid #cccccc
		background: #f8f8f8
		z-index: 105

		i
			color: grey

	.left
		text-align: left
		font-size: smaller
		margin: 20px 70px
		font-weight: 400
		display: inline-block

	.right
		display: inline-block
		float: right
		position: relative
		right: 100px
		margin: 15px 0px 0px 25px
		font-size: 20px
		filter: opacity(50%)
		&:hover
			filter: opacity(110%)

	.conj
		display: inline-grid
		padding: 70px 40px
		font-family: initial
		text-align: center	
		font-family: oxygen

		.hov
			a
				color: #555555
				transition: 0.5s
				&:hover
					transition: 0.5s
					color: #b59229