.row
  .col-sm-12.border-box
    .page-header
      h1.page-title
        => t(:listing) + ' ' + t(:consultants).downcase
        = link_to "#{t(:new) + ' ' + t(:consultant).downcase}", new_public_consultant_path, class: 'btn btn-sm btn-success pull-right cpy-add-link'

- if @consultants.length == 0
  .row
    .col-sm-12.border-box.with-padding-bottom
      .alert.alert-info
        = t(:none) + ' ' + t(:consultant).downcase + ' ' + t(:registered) + '.'
- else
  .row
    .col-sm-12.border-box.with-padding-bottom.hidden-xs.hidden-sm
      .row
        .col-sm-12
          table.table.table-striped.table-hover.mini
            thead
              tr
                th.center.size-8-percent
                  | Id
                th.center.size-74-percent
                  = t(:name)
                th.center.size-18-percent
                  = t(:actions)
            tbody
              - @consultants.each do | consultant |
                tr.center
                  td
                    = consultant.id
                  td
                    = consultant.name
                  td.action-list
                    = link_to t(:details), public_consultant_path(consultant.id), class: 'btn mini btn-primary', style: 'margin-right: 5px'
                    = link_to t(:edit), edit_public_consultant_path(consultant.id), class: 'btn mini green cpy-confirm-booking-button'
                    //= link_to t(:disable), edit_public_consultant_path(consultant.id), class: 'btn red mini cpy-cancel-button'

    .col-sm-12.border-box.with-padding-bottom.hidden-md.hidden-lg
      = render partial: "/public/consultants/index/mobile_consultants"

