.row
  .col-sm-12.border-box
    .page-header
      h1.page-title
        = t(:viewing) + ' ' + t(:consultant).downcase
.row
  .col-sm-12.border-box        
    = show_for @consultant do |u|
      = u.attribute :name
    hr
    .wizard-actions.form-actions.text-right
      = link_to("<i class='glyphicon glyphicon-arrow-left'></i> #{t(:return)}".html_safe, public_consultants_path, {class: 'btn btn-prev '})
      = link_to "<i class='glyphicon glyphicon-edit'></i> #{t(:edit)}".html_safe, edit_public_consultant_path(@consultant.id), class: 'btn btn-info'
