body.public-affiliate-layout

  a.contact_link
    right: 70px
    color: white
    text-decoration: none
    position: absolute
    top: 7px
    font-weight: 400
    font-family: "ubuntu_medium", Helvetica, Arial, Sans Serif
    font-size: 14px

  .top_header
    background: #641f45 
    height: 30px
    width: 100%

  .header-nav
    width: 100%
    .language-and-customer-service-links
      margin: 20px
      a
        margin: 5px

  .white_banner
    background: white !important

  .gradient_overlay
    background: -moz-linear-gradient(top, rgba(0,0,0,0.85) 4%, rgba(0,0,0,0.84) 5%, rgba(0,0,0,0) 100%)
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 4%,rgba(0,0,0,0.84) 5%,rgba(0,0,0,0) 100%)
    background: linear-gradient(to bottom, rgba(0,0,0,0.85) 4%,rgba(0,0,0,0.84) 5%,rgba(0,0,0,0) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 )
    width: 100%
    height: 100%
    position: absolute

  .header
    background-color: transparent
    width: 100%
    position: absolute
    z-index: 9
    height: 91px
    #logo
      float: left
      position: relative

      img
        width: 200px
        margin: 12px 50px 10px 50px

    .menu-header
      float: right
      margin-right: 40px
      height: 86px
      margin-bottom: 15px

      span.divider
        width: 0
        height: 1em
        border-right: 1px solid #fff

      ul
        margin-left: 4px
        border-radius: 5px
        background: #133C6D
        padding: 3px
        list-style: none
        text-align: center
        display: inline
        li
          display: inline-block
          margin: 10px 0 0 0
          a
            color: white
            padding: 0 11px 0 10px
            font-size: 16px

            &:hover
              color: white


    .top-menu
      background: #efefef
      min-width: $container-desktop

      ul
        list-style-type: none
        text-align: center
        padding-left: 0px
        margin-bottom: 0px
        margin: 0 50px 0 40px

        li

          a
            color: #555555
            font-size: 12px
            letter-spacing: 1px
            display: block
            padding: 18px 8px 14px 8px

            &:hover
              color: rgb(201, 201, 201)

      .language-and-customer-service-links
        display: inline-block
        line-height: 15px
        margin-left: 13px
        a.customer-service-link
          color: #555555
          font-size: 12px
          letter-spacing: 1px
          margin-right: 20px
          &:hover
            color: rgb(201, 201, 201)
        a
          line-height: 15px
          display: inline-block
          margin: 0px 4px
          height: 15px

      &.taller
        height: 148px

    .main-menu
      padding: 26px 0px
      border-bottom: 1px solid #CCCCCC
      background: white
      .menu-grid
        position: relative
        .fb-like
          position: absolute
          top: -8px
          right: -40px
      .logo-wrapper
        position: relative
        .logo a
          padding: 8px 0px
          display: block



      .hello
        margin-right: 10px
        letter-spacing: 1px
        font-size: 13px

      .menu-wrapper
        margin-right: 30px
        cursor: pointer
        z-index: 1040

      a.btn
        display: inline-block
        margin-right: 10px
        font-weight: 400

      .inline-links
        display: inline-block
        a
          display: inline-block
        ul
          display: inline-block
          line-height: 45px
          margin-bottom: 0px
          padding-left: 40px

          li
            display: inline-block
            a
              color: #2a3127
              letter-spacing: 1px
              padding: 0px 20px
              font-size: 15px

      &.floating
        background: white
        position: fixed
        width: 100%
        z-index: 1000
        top: 0px
