table.table
  thead th, tbody td
    vertical-align: middle

  font-size: 12px
  &.mini
    tr td,
    tr th
      font-size: 11px


    tr td.action-list
      font-size: 12px
  tr
    td.action-list
      a
        margin-right: 10px
        &:last-child
          margin-right: 0

  .glyphicon
    color: $dark-blue
    font-size: 15px
    margin-right: 7px

  th
    font-weight: 700
    font-size: 14px
    letter-spacing: 1px
    padding: 5px 10px 10px

  td
    padding: 5px 10px
    letter-spacing: 1px
    font-size: 12px

    &.bigger
      font-size: 14px
      letter-spacing: 2px
      padding-bottom: 0px
      padding-top: 2px
