@media (max-width: 768px)
  .public-affiliate-layout.public-affiliate-home-controller
    .search-box
      padding: 10px
      margin:
        top: 10px
        bottom: 10px
      h1.book-hotels
        font-size: 18px
        margin-bottom: 0px
      .search-form-header
        background-color: rgba(245, 245, 245, 0.9)
        border-radius: 10px 10px 0px 0px
        padding: 10px
      .pack-size
        width: 100%
      .pack-size-row
        .display-table
          margin:
            left: auto
            right: auto
            top: 13px
        .pack-size.btn-group
          span.clock
            padding: 9px 3px
          a.btn
            padding: 10px 18px
            &.rooms
              width: 21%
              padding: 10px 13px
            &.meeting-rooms
              width: 10%
              padding: 10px 19px 10px 3px
            &.event-rooms
              width: 27.4%
              padding: 10px 22px
            &.selected 
              background: #31064d
              color: white

      input, select
        background: white
        color: black
        border: 1px solid #33224d

      .checkin-hour
        margin: 6px 4px 0px 4px
        float: none
        display: inline-block
        width: 100%
        label
          float: none
        .hour-and-buttons
          display: inline-block
          button
            float: none
          label
            float: none
      .checkout-hour
        width: 100%
        float: none
        display: inline-block
        label
          float: none
        label.title-checkout
          margin: 6px 4px 0px 4px
        .at-and-hour
          float: none
          display: inline-block
          label
            float: none
      .people
        float: none
        display: inline-block
        margin: 6px 4px 0px 4px
        width: 67px
      .address
        margin-top: 5px

      .checkin
        input
          padding: 7px
        #by_checkin_hour
          padding: 3px 0px 0px 0px
      .number-of-people-input-size
        width: 22%
        padding-left: 20px
      .up
        margin-bottom: 0
      .tabbable
        .online_reservation_box
          background-color: #e2e6e9
          border-radius: 0px
        .div-button-search
          width: 100%
          float: none !important
        .tab-content-custom-mobile
          border-radius: 0px 0px 10px 10px
          background: rgba(245,245,245,0.9)
          color: #303030
          padding: 10px 25px 25px 25px
        .tab-content-custom
          padding: 10px 25px 25px 25px
          .pack-size-hint 
            p.hint
              font-size: 12px
              margin-left: 9px
              text-align: center
        .nav-tabs.nav-justified > li 
          display: table-cell
          width: 1%
          font-size: 11px
        .nav-tabs
          float: none
          width: 100%
          border-bottom: 0px
          padding: 0px
          li
            margin-bottom: 0px
            a
              border: 0px
              color: #303030
              border-radius: 0px
              padding: 10px 0px 10px 0px
              margin-bottom: 0px

            &:first-child
              a
                border: 0px
                border-radius: 0px 0px 0px 0px

            &:first-child.active
              a
                border-radius: 0px 0px 0px 0px
                border: 0px

            &:last-child
              a
                border: 0px
                border-radius: 0px 0px 0px 0px


            &.active
              a
                background: #31064d
                color: white
                padding: 10px 0px 10px 0px
                border-radius: 0px 0px 0px 0px

@media (max-width:1179px) and (min-width:768px)
  .public-affiliate-layout.public-affiliate-home-controller
    .search-box
      .tab-content-custom
        padding: 15px 25px 10px 25px !important

      .checkout-hour
        width: 110px
        label
          float: none
        .at-and-hour
          display: inline-block
          float: none

@media (max-width:1097px) and (min-width:768px)
  .public-affiliate-layout.public-affiliate-home-controller
    .transamerica_date_field
      width: 128px !important
      margin-top: -90px !important
      .title
        margin-top: 20px !important
    #footer
      margin-top: -85px
    .search-box
      margin-top: -66px
      margin-bottom: -80px
      .tab-content-custom
        padding: 15px 25px 6px 25px !important
      .checkin
        width: 136px
        .checkin-date
          width: 100%
        .checkin-hour
          width: 136px
          margin-left: 12px
          label.at
            margin: 10px 5px 10px 0px

      .pack-size
        margin-left: -139px
        margin-top: 98px

      .people
        margin: 98px 5px

      .div-button-search
        margin-top: 99px
