@media (max-width: 768px)
  .public-affiliate-bookings-controller.edit-action, .public-affiliate-bookings-controller.update-action
    .container.with-padding-top
      padding: 10px
      .border-box.with-padding
        padding: 0
        background-color: transparent
        border: none
      .attribute-title
        color: #888888
        font-size: 13px
      .form-actions
        padding: 0
        margin-bottom: 30px
        input
          padding: 5px
          border-radius: 20px
          width: 100%
          height: 30px

