.affiliate-bookings-controller.index-action
  .widget-box
    margin-bottom: 15px

  .filter
    margin-bottom: 30px

    .btn
      margin-top: 25px
      margin-left: 10px


    .room-type-checkbox
      margin-right: 5px
