= header_section
- if @bookings.length == 0

  - if Booking.first
    .row
      .col-sm-12
        = render partial: "/executive_responsible/bookings/index/filter"
    .alert.alert-info
      | #{t("views.admin.bookings.no_reservations_found")}
  - else
    .alert.alert-info
      | #{t("views.admin.bookings.no_reservations_in_the_system")}
- else
  .row
    .col-sm-12
      = render partial: "/executive_responsible/bookings/index/filter"


  .cpy-pagination-links
    = pagination_links_for @bookings
  .row
    .col-sm-12
      table.table.table-striped.table-bordered.table-hover.cpy-room-list
        thead
          tr
            th.center
              | #{t("views.admin.bookings.code")}
            th.center
              | #{t("views.admin.bookings.hotel_name")}
            th.center
              | #{t("views.admin.bookings.checkin")}
            th.center
              | #{t("views.admin.bookings.package")}
            th.center
              | #{t("views.admin.bookings.owner")}
            th.center
              = Booking.human_attribute_name(:guest_email)
            th.center
              | #{t("views.admin.bookings.status")}
            th.center
              | #{t("views.admin.bookings.multiplus_number")}
            th.center
              | #{t("views.admin.bookings.nps")}
            th.center
              | App
            th.center
              | #{t("views.admin.bookings.type")}
            th.center
              | #{t("views.admin.bookings.actions")}
        tbody
          - @bookings.each do | booking |
            tr.center
              td
                = booking.id
              td
                = booking.hotel.name
              td
                - if booking.is_meeting_offer?
                  = (booking.date_interval.first + MeetingRoomOffer::ROOM_CLEANING_TIME - 1.minute).strftime("%d/%m/%Y %H:%M")
                - elsif booking.is_event_offer?
                  = (booking.date_interval.first + EventRoomOffer::ROOM_CLEANING_TIME - 1.minute).strftime("%d/%m/%Y %H:%M")
                - else
                  = (booking.date_interval.first + Offer::ROOM_CLEANING_TIME - 1.minute).strftime("%d/%m/%Y %H:%M")
              td
                = "#{booking.pack_in_hours}h"
              td
                = booking.guest_name
              td
                = booking.guest_email
              td
                - if (/confirmed_and_invoiced/ === Booking::ACCEPTED_STATUS_REVERSED[booking.status])
                  = t(:confirmed_and_invoiced_admin)
                - elsif (/confirmed_without_card/ === Booking::ACCEPTED_STATUS_REVERSED[booking.status])
                  = t(:confirmed_without_card_admin)
                - else
                  = t(Booking::ACCEPTED_STATUS_REVERSED[booking.status])
              td
                = booking.multiplus_code
              td
                = booking.recommendation_scale
              td
                - if booking.is_app_mobile
                  i.icon-ok
                - else
                  i.icon-remove
              td
                - if booking.executive_responsible_id.present?
                  | #{t("views.admin.bookings.executive")}
                - elsif booking.user.is_a_agency?
                  | #{t("views.admin.bookings.agency")}
                - elsif booking.user.is_a_company?
                  | #{t("views.admin.bookings.company")}
                - else
                  | #{t("views.admin.bookings.consumer")}
              td
                = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, executive_responsible_booking_path(booking.id), class: 'btn btn-xs btn-success'
                - if booking.cancelable_to_admin?
                  = link_to "<i class='icon-remove bigger-100'></i>".html_safe, cancel_executive_responsible_booking_path(booking.id), class: 'btn btn-xs btn-danger', method: :put, data: { confirm: t(:are_you_sure_you_want_to_cancel_this_booking)}


  = pagination_links_for @bookings
