.col-xs-12#footer
  .col-sm-6.text-center
    .row
      i.glyphicon.glyphicon-earphone
    .row
      .phonenum +55 61 2196.6600
    .row
      .email
        a.track-email href="mailto:reservas@basehoteis.com.br" 
          | reservas@basehoteis.com.br  
  .col-sm-6.text-center
    .row
      i.glyphicon.glyphicon-map-marker
    .row
      .address Aeroporto Internacional de Brasília, ST de Concessionárias, LT02, Lago Sul
    .row
      .city Brasília, Distrito Federal, Brazil