.booking-info-mobile
  .row
    .col-xs-7.attribute-title
      = t(:informal_checkin)
    .col-xs-5.attribute-title
      = t(:informal_pack)
  .row
    .col-xs-7
      = l(@offer.checkin_timestamp, format: :custom)
    .col-xs-5
      = "#{@offer.pack_in_hours} #{@offer.pack_in_hours.eql?(1) ? t(:hour).downcase : t(:hours)}"
  br
  - if @offer.try(:room_type_id)
    .row
      .col-xs-7.attribute-title
        = t(:informal_checkout)
      .col-xs-5.attribute-title
        = t(:room_type)
    .row
      .col-xs-7
        - checkout = @offer.checkin_timestamp + @offer.pack_in_hours.hour
        = checkout.strftime('%d/%m/%Y %H:%M')
      .col-xs-5
        = @offer.room_type.send("name_#{I18n.locale}")
