.booking-info-title
  = image_tag 'booking-info.jpg'

  h4
    = t(:booking_data).upcase

  .row.booking-data-description
    .col-xs-5.attribute-title
      = t(:informal_checkin)
    .col-xs-3.attribute-title
      = t(:informal_pack)
    .col-xs-4.attribute-title
      = t(:informal_checkout)
  .row
    .col-xs-3
      = l @offer.checkin_timestamp.to_date
    .col-xs-2
        = (I18n.locale == 'en' || I18n.locale == :en) ? @offer.checkin_timestamp.strftime('%I %p') : @offer.checkin_timestamp.strftime('%H:%M')
    .col-xs-3
      = "#{@offer.pack_in_hours} #{@offer.pack_in_hours.eql?(1) ? t(:hour).downcase : t(:hours)}"
    .col-xs-4
      - checkout = @offer.checkin_timestamp + @offer.pack_in_hours.hour
      = (I18n.locale == 'en' || I18n.locale == :en) ? checkout.strftime('%d/%m/%Y %I %p') : checkout.strftime('%d/%m/%Y %H:%M')
