.booking-step-title.hidden-xs.hidden-sm
  h2
    = t('bookings.complete_reservation')
  = t(:please_input_your_data)

.promotional-code
  = render partial: '/public_affiliate/shared//booking/validate_promotional_code'

= simple_form_for [:public_affiliate, @booking], html: { class: 'form-horizontal' }, wrapper: :basic do |f|
  - if current_public_affiliate_user.need_to_complete_address? && @booking.traveler.blank?
    = render partial: "/public_affiliate/bookings/new/address_fields"
  - if (current_public_affiliate_user.country == "BR" || current_public_affiliate_user.country.blank?) && current_public_affiliate_user.cpf.blank?
    .row.form-group
      .col-md-12.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:cpf)
        input class="string cpf form-control js-mask-cpf" id="public_affiliate_user_cpf" name="public_affiliate_user[cpf]" type="cpf" value="#{params[:public_affiliate_user][:cpf] if params[:public_affiliate_user]}"
        - if params[:action] == 'create' && current_public_affiliate_user.cpf.blank?
          span.help-block.error
            = t('errors.messages.blank')
  .row.form-group
    .col-md-6.col-xs-12
      label
        = t(:guest_name_holder_booking)
      - @booking.guest_name ||= current_public_affiliate_user.name
      = f.input :guest_name
    .col-md-6.col-xs-12
      label
        = t(:phone_number_holder_booking)
      = f.input :phone_number, input_html: { class: 'js-mask-mobile-phone' }
  .row.form-group
    - @booking.guest_email ||= current_public_affiliate_user.email
    - if @offer.try(:room_type_id)
      .col-md-6.col-xs-12
        label
          = Booking.human_attribute_name(:number_of_people)
        - options_for_number_of_people_select = []
        - (@offer.room_type_initial_capacity..@offer.room_type_maximum_capacity).to_a.each do | i |
          - next if @booking.is_omnibees_or_hoteisnet? and i != @booking.number_of_people
          - next unless can_current_public_affiliate_user_afford?(offer: @offer, number_of_people: i)
          - options_for_number_of_people_select << ((i == 1) ? ["1 #{t(:person).downcase} - #{number_to_currency(calculate_currency(total_price_for_number_of_people_dropdpwn(i).round, Hotel::CURRENCY_SYMBOL_REVERSED[@offer.hotel.currency_symbol]).round, unit: "#{current_currency.money_sign}", precision: 0)}", 1] : ["#{i} #{t(:people).downcase} - #{number_to_currency(calculate_currency(total_price_for_number_of_people_dropdpwn(i).round, Hotel::CURRENCY_SYMBOL_REVERSED[@offer.hotel.currency_symbol]).round, unit: "#{current_currency.money_sign}", precision: 0)}", (i)])
        = f.input :number_of_people, class: 'form-control', collection: options_for_number_of_people_select, selected: @booking.number_of_people || params[:number_of_people], prompt: false

      .col-md-6.col-xs-12
        label
          = Booking.human_attribute_name(:guest_email)
          span style="margin-left: 3px" *
        = f.input :guest_email, class: 'form-control'
    - else
      .hidden
        = f.input :number_of_people, class: 'hidden', value: @booking.number_of_people || params[:number_of_people]
      .col-md-12.col-xs-12
        label
          = Booking.human_attribute_name(:guest_email)
          span style="margin-left: 3px" *
        = f.input :guest_email, class: 'form-control'
  .row
    .col-md-12.col-xs-12
      p.small
        span#total-with-comission
    .col-md-12.col-xs-12
      p.small
        span style="margin-right: 3px" *
        = t(:new_booking_guest_email_field_explanation)

  span ng-hide="showObservationInput"
    a ng-click="showObservationInput = true"
      = t(:add_note)
  .row.form-group.notes-input.fadeIn.animated ng-show="showObservationInput"
    .col-md-12.col-xs-12
      label
        = Booking.human_attribute_name(:note)
      = f.input :note, class: 'form-control', as: :text, input_html: { rows: 5 }
  .hidden
    = check_box_tag "booking[have_promotional_code]", 1, flash[:success].present?
  .row.form-actions
    .col-md-10.col-md-offset-2.col-xs-12
      = submit_tag t(:continue).upcase, class: 'cpy-submit-button pill btn-success big pull-right submit-button'

