.row
  .col-sm-8.col-sm-offset-2
    h2.text-center.form-header
      = t(:reset_password)

    .row
      = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
        .col-sm-9.col-sm-offset-1
          - if flash[:alert]
            p.alert.alert-danger
              = flash[:alert]
          - if devise_error_messages!.present?
            .alert.alert-danger.errors_container
              b
                = t(:please_review_the_problems_below)
              br
              = devise_error_messages!

          = f.input :email, :required => true, :autofocus => true, wrapper: :full_spaces

          .form-actions
            = f.button :submit,  t(:reset_password), class: 'cpy-submit-button btn green pull-right'
            .clearfix
.row
  .col-sm-6.col-sm-offset-3
    .shared-links
      = render partial: "public/shared/links"
