.footer-estelar
  #widget_m2.sidebar-container role="complementary" 
    aside#text-3.widget.widget_text
      .textwidget
        img src="http://www.hotelesestelar.com/wp-content/uploads/2014/05/footer-cinta.png"/
        .contenedor_wg_footer
          .izquierda1_wg_footer
            ul
              li
                a href="http://www.hotelesestelar.com/aviso-legal-hoteles-estelar/" target="_blank" = t("views.affiliates.estelar.legal_notice") 
              li
                a href="http://www.hotelesestelar.com/formas-de-pago-para-reservas-web/" target="_blank"  = t("views.affiliates.estelar.pay_your_reservation")
          /! END Mapa
          .derecha_wg_footer
            ul
              li
                a href="http://www.hotelesestelar.com/manual-de-politicas-de-privacidad-y-tratamiento-datos-personales-hoteles-estelar-s-a/" target="_blank" = t("views.affiliates.estelar.privacy_management_policies")  
              li
                a href="http://www.hotelesestelar.com/listado-hoteles-rnt/" target="_blank" = t("views.affiliates.estelar.estelar_rnt")  
          /! END Derecha 1
          .derecha_wg_footer
            ul
              li
                a href="http://www.hotelesestelar.com/informacion-para-inversionistas/" target="_blank" = t("views.affiliates.estelar.investor_information")
              li style="list-style:none;" 
                a href="http://www.hotelesestelar.com/politica-de-sostenibilidad/" 
                  img alt="" src="http://www.hotelesestelar.com/wp-content/uploads/2017/06/Logo-Eco.png" style=("width: 50px;") /
              li style="display:none;" 
                a href="/formas-de-pago-para-reservas-web/"  FORMAS DE PAGO PARA RESERVAS WEB
          /! END Derecha 2
          .derecha_wg_footer
            ul
              li
                a href="http://190.144.247.11:9999/Hoteles_Estelar/index.php" target="_blank" 
                   = t("views.affiliates.estelar.chat_estelar_html")
              li
                a href="mailto:cotizaciones@hotelesestelar.com"  = t("views.affiliates.estelar.get_events")

  footer#footer.footer_legal
    .footer_texto_code
      table align="center" border="0" cellpadding="0" cellspacing="0" width="1278" 
        tbody
          tr
            td align="left" style="padding-left:80px;" valign="middle" width="900"
              = t("views.affiliates.estelar.footerp1")
              br/
              br/
              = t("views.affiliates.estelar.footerp2")
              br/
              br/
              = t("views.affiliates.estelar.footerp3")
              br/
              br/
              = t("views.affiliates.estelar.footerp4")
            td align="left" style="padding-left:50px" valign="middle" width="378" 
              img src="http://www.hotelesestelar.com/wp-content/uploads/2015/01/Logo-the-Code.png" /
    .footer_texto_code_mobile
      table align="center" border="0" cellpadding="0" cellspacing="0" width="320" 
        tbody
          tr
            td align="center" valign="middle" 
              | En desarrollo de lo dispuesto en el artículo 17 de la Ley 679 de 2001, Hoteles Estelar,  advierte al turista que la explotación y el abuso sexual de menores de edad en el país son sancionados penal y administrativamente, conforme a las leyes vigentes.
              br/
              br/
              | Diseñado y administrado por XyZ Estrategias. Todos los derechos reservados ©2014.
              br/
              br/
              | En Colombia  se protege la fauna y flora silvestre, evite su comercialización de forma ilegal. Ley 17 de 1981 y Ley 299 de 1996.
              br/
              br/
              | En desarrollo con lo dispuesto en la  Ley 1185 de 2008 en Colombia se prohíbe el tráfico ilegal de Bienes culturales.
          tr
            td align="center" style="padding-top:10px" valign="middle" 
              img src="http://www.hotelesestelar.com/wp-content/uploads/2015/01/Logo-the-Code.png" width="170" /
