.row
  .col-xs-12.border-box.with-padding
    h1.page-title
      |Privacy Policy
    .divider

    p.introduction
      |The RESERVAS POR HORAS DO BRASIL LTDA, headquartered at street Luis Coelho, No. 308 conj. 32, CEP 01309-000, Cerqueira Cesar, São Paulo, State of Sao Paulo, Brazil, is the company that owns the portal www.hotelquando.com. Committed to safeguarding the privacy of our website visitors, this policy tells you how we treat personal information of our users:

    ol
      li
        b Account
        p
          |When done the registration on our website, we collect, store and use your information: 
          ul.sublist
            li
              |On your computer, your visits to and use of this website (including e-mail, ip); 
            li
              |About the operations carried out, such as purchase order packages with value, date and approval status. We never store the data of your credit card; 
            li
              |Other information provided through registration, for the purpose of registration, email notifications and / or newsletters. All of the procedures undergo a process of information security and remain in our database, where they remain protected and confidential;

      li
        b Privacy
        p
          |In any case, this information is used only to the extent necessary to complete your interaction with our site. The information conveyed in item 1 are not rented, sold or shared with other people or nonaffiliated companies to HotelQuando.com except for compliance with an order of judicial authority

      li
        b Cookies
        p
          |When you log into our site, we store a cookie on your computer with the intent to recognize you when you browse our website. A cookie is a small amount of data stored on a computer to identify that browser during interaction sites. Most of the cookies used on our site will be deleted from your hard drive automatically when closing the browser session.

      li
        b Reports
        p
          |The HotelQuando.com uses Google Analytics to create reports about the use of our website. Google will store this information. The Google Privacy Policy is available at 
          a href='http://www.google.com.br/intl/pt-BR/privacy/'
            |http://www.google.com.br/intl/pt-BR/privacy/

      li
        b Email
        p
          |Your data will be used for sending our daily email. In all our communications through email, we put a link for the removal of registration. 

      li
        b Policy Change
        p 
          |The HotelQuando.com will eventually update this policy without notice. As, when appropriate, the most significant changes will be communicated in the highlighted area on the website or through e-mail. 

    p
      |For more information please contact us via email: 
      a href='mailto:contato@hotelquando.com '
        | contato@hotelquando.com 
      br
      |The HotelQuando.com will take every measure needed to keep confidentiality and security described in this policy.
