= header_section title: t("views.admin.devices.list_devices")

- if @devices.length == 0
  .alert.alert-info
    = t(:none) + ' ' + t('device.one').downcase + ' ' + t(:registered) + '.'
- else
  - devices = @devices.pluck(:device_id).join(',')
  = link_to t("views.admin.devices.copy_all_tokens"), '#', onclick: "javascript: window.prompt( 'Copy to clipboard: Ctrl+C, Enter', '#{devices}' );", class:'btn btn-xs btn-alert', rel: "nofollow"
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | #{t("views.admin.devices.device_token")}
        th.center
          | #{t("views.admin.devices.created_at")}
        th.center
          | #{t("views.admin.devices.updated_at")}
        th.center
          | #{t("views.admin.devices.actions")}
    tbody
      - @devices.each do | device |
        tr.center
          td
            = device.device_id[0..20]+'...'
          td
            = device.created_at
          td
            = device.updated_at

          td.action-list.center
            = link_to "<i class='icon-remove bigger-100'></i>".html_safe, admin_device_path(device.id), class: 'btn btn-xs btn-danger cpy-deactivate-device-button', data: { confirm: t("views.admin.devices.delete_token_confirmation") }, method: :delete
