javascript:
  yojs.set('countryList', #{Country.all.order("name_#{I18n.locale}").includes(:states).to_json(:include => :states).gsub(/'/, {"'" => "\\'"}).gsub('"', "'").html_safe})
div
  .row.form-group
    .col-md-6.col-xs-12
      label.col-xs-12.no-padding-left
        => "#{t(:country)}"
      select class="select required size-100-percent ng-valid ng-dirty" id="public_user_country" name="public_user[country]" ng-model="selectedCountry" ng-options="country.name_#{I18n.locale} for country in countryList track by country.iso_initials"
        option value="" = t(:select_the_country)
      - if params[:action] == 'create' && current_public_user.country.blank?
        span.help-block.error
          = t('errors.messages.blank')      

    .col-md-6.col-xs-12
      label.col-xs-12.no-padding-left
        => "#{t(:state)}"
      select class="select required size-100-percent ng-pristine ng-valid" id="public_user_state" name="public_user[state]" ng-model="selectedState" ng-options='state.name for state in selectedCountry.states track by state.name'
        option value="" = t(:select_the_state)
      - if params[:action] == 'create' && current_public_user.state.blank?
        span.help-block.error
          = t('errors.messages.blank')             


  .row.form-group
    - if current_public_user.country != "CO"
      .col-md-6.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:city)
        input class="string city form-control js-autocomplete" id="autocomplete" name="public_user[city]" type="city" value="#{params[:public_user] ? params[:public_user][:city] : ''}" placeholder=""
        - if params[:action] == 'create' && current_public_user.city.blank?
          span.help-block.error
            = t('errors.messages.blank')           
    - else
      .col-md-12.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:city)
        input class="string city form-control js-autocomplete" id="autocomplete" name="public_user[city]" type="city" value="#{params[:public_user] ? params[:public_user][:city] : ''}" placeholder=""
        - if params[:action] == 'create' && current_public_user.city.blank?
          span.help-block.error
            = t('errors.messages.blank')   

    - if current_public_user.country != "CO"
      .col-md-6.col-xs-12
        label.col-xs-12.no-padding-left
          = t(:postal_code)
        input class="string postal-code form-control" id="public_user_postal_code" name="public_user[postal_code]" type="postal_code" value="#{params[:public_user][:postal_code] if params[:public_user]}"
        - if params[:action] == 'create' && current_public_user.postal_code.blank?
          span.help-block.error
            = t('errors.messages.blank')       

    .col-xs-12
      label.col-xs-12.no-padding-left
        = t(:street)
      input class="string street form-control" id="public_user_street" name="public_user[street]" type="street" value="#{params[:public_user][:street] if params[:public_user]}"
      - if params[:action] == 'create' && current_public_user.street.blank?
        span.help-block.error
          = t('errors.messages.blank')   

