ruby:
  if current_public_user.is_a_agency?
    companies = current_public_user.agency_detail.company_details
  elsif current_public_user.is_a_company?
    companies = current_public_user.company_detail
  else
    companies = ''
  end
javascript:
  yojs.set('countryList', #{Country.all.order("name_#{I18n.locale}").includes(:states).to_json(:include => :states).gsub(/'/, {"'" => "\\'"}).gsub('"', "'").html_safe})
.booking-step-title.hidden-xs.hidden-sm
  - if @offer.hotel.booking_on_request
    h2
      = t('views.hotel.bookings.complete_booking_request')
    = t('views.hotel.bookings.input_your_data_booking_request')
  - else
    h2
      = t('bookings.complete_reservation')
    = t(:please_input_your_data)
  - if current_public_user.need_to_complete_address?
    br
      = t('views.hotel.bookings.complete_your_address')


.div ng-controller="PublicNewBookingTravelersCtrl" ng-init="init(#{companies.to_json(:include => {travelers: {methods: :name_with_job_title}}).gsub('"', "'").html_safe})"
  / .promotional-code ng-init="showBalance = #{flash[:promotional_code].blank?}; showPromotionalPartial = true" ng-show="showPromotionalPartial"
  /   = render partial: '/public/bookings/new/validate_promotional_code'
  = simple_form_for [:public, @booking], html: { class: 'form-horizontal' }, wrapper: :basic do |f|
    - if current_public_user.is_a_agency?
      = render partial: '/public/bookings/new/form/agency', locals: {f: f}
    - elsif current_public_user.is_a_company?
      = render partial: '/public/bookings/new/form/company', locals: {f: f}
    - else
      = render partial: '/public/bookings/new/form/consumer', locals: {f: f}

    .row.form-group
      - @booking.guest_email ||= current_public_user.email
      - if @offer.try(:room_type_id)
        .col-md-6.col-xs-12
          label
            = Booking.human_attribute_name(:number_of_people)
          - options_for_number_of_people_select = []
          - (@offer.room_type_initial_capacity..@offer.room_type_maximum_capacity).to_a.each do | i |
            - next if @booking.is_omnibees_or_hoteisnet? and i != @booking.number_of_people
            - next unless can_current_public_user_afford?(offer: @offer, number_of_people: i)
            - options_for_number_of_people_select << ((i == 1) ? ["1 #{t(:person).downcase} - #{number_to_currency(calculate_currency(total_price_for_number_of_people_dropdpwn(i).round, Hotel::CURRENCY_SYMBOL_REVERSED[@offer.hotel.currency_symbol]).round, unit: "#{current_currency.money_sign}", precision: 0)}", 1] : ["#{i} #{t(:people).downcase} - #{number_to_currency(calculate_currency(total_price_for_number_of_people_dropdpwn(i).round, Hotel::CURRENCY_SYMBOL_REVERSED[@offer.hotel.currency_symbol]).round, unit: "#{current_currency.money_sign}", precision: 0)}", (i)])

          = f.input :number_of_people, class: 'form-control', collection: options_for_number_of_people_select, selected: @booking.number_of_people || params[:number_of_people], prompt: false

        .col-md-6.col-xs-12
          label
            = Booking.human_attribute_name(:guest_email)
          - if current_public_user.is_a_agency? || current_public_user.is_a_company?
            = f.input :guest_email, class: 'form-control', input_html: {'ng-model' => 'traveler.email'}
          - else
            = f.input :guest_email, class: 'form-control'
      - else
        .hidden
          = f.input :number_of_people, class: 'hidden', value: @booking.number_of_people || params[:number_of_people]
        .col-md-12.col-xs-12
          label
            = Booking.human_attribute_name(:guest_email)
            span style="margin-left: 3px" *
          - if current_public_user.is_a_agency? || current_public_user.is_a_company?
            = f.input :guest_email, class: 'form-control', input_html: {'ng-model' => 'traveler.email'}
          - else
            = f.input :guest_email, class: 'form-control'
    .row
      .col-md-12.col-xs-12
        p.small
          span style="margin-right: 3px" *
          = t(:new_booking_guest_email_field_explanation)

    span ng-hide="showObservationInput"
      a ng-click="showObservationInput = true"
        = t(:add_note)
    .row.form-group.notes-input.fadeIn.animated ng-show="showObservationInput"
      .col-md-12.col-xs-12
        label
          = Booking.human_attribute_name(:note)
        = f.input :note, class: 'form-control', as: :text, input_html: { rows: 5 }

    .hidden ng-init="promotionalCodeValidated = #{flash[:promotional_code].present?}"
      = check_box_tag "booking[have_promotional_code]", 1, flash[:promotional_code].present?, "ng-checked" => "promotionalCodeValidated"
    .row.form-actions
      .col-md-10.col-md-offset-2.col-xs-12
        = submit_tag t(:continue).upcase, class: "cpy-submit-button pill #{button_class} big pull-right submit-button"
