= form_tag(check_promotional_code_without_creation_public_promotional_code_logs_path, method: :post, "ng-init" => "usingPromotionalCode = #{flash[:promotional_code].present?}" ) do
  .row.form-group.have-promo-code-input
    .col-md-12.col-xs-12
      .checkbox
        label ng-click='usingPromotionalCode = !usingPromotionalCode; usingBalance = false; showBalance = !usingPromotionalCode'
          = check_box_tag "booking[have_promotional_code]", true, false, "ng-checked" => "usingPromotionalCode"
          span.lbl ng-click='usingPromotionalCode = !usingPromotionalCode; usingBalance = false; showBalance = !usingPromotionalCode'
            =< t(:i_have_a_promotional_code)

  .row.form-group ng-show='usingPromotionalCode'
    .col-md-6.col-xs-12
      input.string.col-sm-12.form-control.animated.fadeIn id="promotional_code" name="promotional_code" type="text" placeholder="#{t(:enter_your_promotional_code)}" value="#{flash[:promotional_code]}"
      input.hidden type="text" name="hotel_id" value="#{@offer.hotel.id}"
      input.hidden type="text" name="pack_in_hours" value="#{params[:pack_in_hours]}"
      input.hidden type="text" name="checkin_date" value="#{params[:checkin_timestamp]}"
    .col-md-6.col-xs-12.center
      = submit_tag t(:validate_code), class: "cpy-submit-button pill #{button_class} big pull-right submit-button promotional_code_button animated fadeIn"    