
.container
  .row
    .col-md-12.logo
        = image_tag 'logo-green-white.png', class: 'hq-logo'
    .col-md-6.col-md-offset-3
      .page_wrapper
        .back-page
        .visible.login-box
          h1
            | Área de afiliados

          = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
            - if flash[:alert]
              p.alert.alert-danger
                = flash[:alert]
            - if devise_error_messages!.present?
              .alert.alert-danger.errors_container
                = devise_error_messages!
            .form-group.name.affiliate_name
              .row
                .col-xs-4.text-right
                  label.name.control-label.attribute-title for="affiliate_name"
                    = t(:name) + '*'
                .col-xs-8
                  input autofocus="autofocus" class="string name form-control" id="affiliate_name" name="affiliate[name]" type="name" value="#{params[:affiliate][:name] if params[:affiliate]}"
            .form-group.email.affiliate_email
              .row
                .col-xs-4.text-right
                  label.email.control-label.attribute-title for="affiliate_email"
                    | E-mail*
                .col-xs-8
                  input class="string email js-email-with-suggestion form-control" id="affiliate_email" name="affiliate[email]" type="email" value="#{params[:affiliate][:email] if params[:affiliate]}"
            .form-group.login.affiliate_login
              .row
                .col-xs-4.text-right
                  label.login.control-label.attribute-title for="affiliate_login"
                    = t(:login_name) + '*'
                .col-xs-8
                  input autofocus="autofocus" class="string login form-control" id="affiliate_login" name="affiliate[login]" type="login" value="#{params[:affiliate][:login] if params[:affiliate]}"
            .form-group.cnpj.affiliate_cnpj
              .row
                .col-xs-4.text-right
                  label.cnpj.control-label.attribute-title for="affiliate_cnpj"
                    = t(:cnpj) + '*'
                .col-xs-8
                  input autofocus="autofocus" class="string cnpj form-control" id="affiliate_cnpj" name="affiliate[cnpj]" type="cnpj" value="#{params[:affiliate][:cnpj] if params[:affiliate]}"
            .form-group.responsible_name.affiliate_responsible_name
              .row
                .col-xs-4.text-right
                  label.responsible_name.control-label.attribute-title for="affiliate_responsible_name"
                    = t(:responsible_name) + '*'
                .col-xs-8
                  input autofocus="autofocus" class="string responsible_name form-control" id="affiliate_responsible_name" name="affiliate[responsible_name]" type="responsible_name" value="#{params[:affiliate][:responsible_name] if params[:affiliate]}"

            .form-group.country.affiliate_country
              .row
                .col-xs-4.text-right
                  label.country.control-label.attribute-title for="affiliate_country"
                    = t(:name)
                .col-xs-8
                  input autofocus="autofocus" class="string country form-control" id="affiliate_country" name="affiliate[country]" type="country" value="#{params[:affiliate][:country] if params[:affiliate]}"
            .form-group.state.affiliate_state
              .row
                .col-xs-4.text-right
                  label.state.control-label.attribute-title for="affiliate_state"
                    = t(:state)
                .col-xs-8
                  input autofocus="autofocus" class="string state form-control" id="affiliate_state" name="affiliate[state]" type="state" value="#{params[:affiliate][:state] if params[:affiliate]}"
            .form-group.city.affiliate_city
              .row
                .col-xs-4.text-right
                  label.city.control-label.attribute-title for="affiliate_city"
                    = t(:city)
                .col-xs-8
                  input autofocus="autofocus" class="string city form-control" id="affiliate_city" name="affiliate[city]" type="city" value="#{params[:affiliate][:city] if params[:affiliate]}"
            .form-group.street.affiliate_street
              .row
                .col-xs-4.text-right
                  label.street.control-label.attribute-title for="affiliate_street"
                    = t(:street)
                .col-xs-8
                  input autofocus="autofocus" class="string street form-control" id="affiliate_street" name="affiliate[street]" type="street" value="#{params[:affiliate][:street] if params[:affiliate]}"
            .form-group.number.affiliate_number
              .row
                .col-xs-4.text-right
                  label.number.control-label.attribute-title for="affiliate_number"
                    = t(:address_number)
                .col-xs-8
                  input autofocus="autofocus" class="string number form-control" id="affiliate_number" name="affiliate[number]" type="number" value="#{params[:affiliate][:number] if params[:affiliate]}"
            .form-group.complement.affiliate_complement
              .row
                .col-xs-4.text-right
                  label.complement.control-label.attribute-title for="affiliate_complement"
                    = t(:complement)
                .col-xs-8
                  input autofocus="autofocus" class="string complement form-control" id="affiliate_complement" name="affiliate[complement]" type="complement" value="#{params[:affiliate][:complement] if params[:affiliate]}"
            .form-group.phone_number.affiliate_phone_number
              .row
                .col-xs-4.text-right
                  label.phone_number.control-label.attribute-title for="affiliate_phone_number"
                    = t(:phone_number)
                .col-xs-8
                  input autofocus="autofocus" class="string phone_number form-control" id="affiliate_phone_number" name="affiliate[phone_number]" type="phone_number" value="#{params[:affiliate][:phone_number] if params[:affiliate]}"

            .form-group.password.affiliate_password
              .row
                .col-xs-4.text-right
                  label.password.control-label.attribute-title for="affiliate_password"
                    = t(:password) + '*'
                .col-xs-8
                  input.password.form-control id="affiliate_password" name="affiliate[password]" type="password" value=""
            .form-group.password_confirmation.affiliate_password_confirmation
              .row
                .col-xs-4.text-right
                  label.password_confirmation.control-label.attribute-title for="affiliate_password_confirmation"
                    = t(:password_confirmation) + '*'
                .col-xs-8
                  input.password_confirmation.form-control id="affiliate_password_confirmation" name="affiliate[password_confirmation]" type="password" value=""

            div.login-actions
              button.btn.pull-right.btn-primary.cpy-submit-button name="commit" type="submit"
                span
                  | Registrar
                i.icon-arrow-right.icon-on-right
              = render partial: "affiliate/_login/links", class: 'pull-left'
              .clearfix
