.hotel-description
  p.title
    - max_capacity = @offer_business_room.try(:meeting_room_maximum_capacity) || @offer_business_room.try(:event_room_maximum_capacity)
    = "#{t('maximum_capacity')}: "
    span.max-capacity-number = "#{max_capacity} #{t(:people)}"
.hotel-description
  p.title
    - if @business_room.is_a_meeting_room?
      = t :meeting_room_description
    - else
      = t :event_room_description
  p.description-text ng-show="fullDescription"
    = @business_room.send("description_#{I18n.locale}").gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe
  - descriptionTruncateLength = 170
  p.description-text ng-hide="fullDescription"
    = @business_room.send("description_#{I18n.locale}").gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe.truncate(descriptionTruncateLength)
    .pull-right.hidden-xs.hidden-sm
      - if @business_room.send("description_#{I18n.locale}").length >= descriptionTruncateLength
        a.read-more ng-click="fullDescription = true" ng-hide="fullDescription" = t(:read_more) + "..."
        a.read-more ng-click="fullDescription = false" ng-show="fullDescription" = t(:less) + "..."
    .hidden-md.hidden-lg style='text-align: center'
      - if @business_room.send("description_#{I18n.locale}").length >= descriptionTruncateLength
        a.read-more ng-click="fullDescription = true" ng-hide="fullDescription"
          i.fa.fa-chevron-circle-down
        a.read-more ng-click="fullDescription = false" ng-show="fullDescription"
          i.fa.fa-chevron-circle-up
    .clearfix







    
    
