.row
  .col-sm-12.details-pages-header
    h1.page-title
      - if is_business_room
        span.business-room-name
          | #{@business_room.send("name_#{I18n.locale}")}
        span.hotel-of-business-room
          |  em #{hotel.name}
      - else
        = hotel.name
    p
      = render_stars_from_hotel(hotel)
    p.address
      - unless Rails.env.test?
        = link_to "https://maps.google.com/maps?q=#{hotel.latitude}N+#{hotel.longitude}W+#{hotel.name}&ll=#{hotel.latitude},#{hotel.longitude}&z=13&markers=color:red", class: "link", target: "blank" do
          span.glyphicon.glyphicon-map-marker
          = "#{hotel.street}, #{hotel.number} - #{hotel.city.name}"
