.row
  .col-sm-6
    .row
      .col-sm-12.hotel-photos
        = render partial: "/public_affiliate/hotel/show/hotel_photos", locals: { hotel: @hotel }
      .col-sm-12
        = render partial: "/public_affiliate/hotel/show/hotel_description", locals: { hotel: @hotel }
      .col-sm-12
        = render partial: "/public_affiliate/hotel/show/hotel_amenities", locals: { hotel: @hotel }
        .row.hidden-xs.hidden-sm
          .col-sm-12
            #map-canvas style="width:100%; height:400px"
  .col-sm-6
    .js-float-right-box
      - if @search_exact_match.empty?
        .show-without-exact-match-offers
          - if layout_name.present?
            = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/without_exact_match_offers"
          - else
            = render partial: "/public_affiliate/hotel/show/without_exact_match_offers"
      - else
        - if layout_name.present?
          = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/with_exact_match_offers"
        - else
          = render partial: "/public_affiliate/hotel/show/with_exact_match_offers"