ruby:
  amenity = hotel.hotel_amenity
  if amenity
    outdoor_area = amenity.pool || amenity.rooftop || amenity.garden || amenity.terrace
    activities = amenity.sauna || amenity.gym
    food_and_drink = amenity.restaurant || amenity.bar
    services = amenity.reception_24_hour || amenity.luggage_room || amenity.laundry || amenity.room_service || amenity.wake_up_service
    have_any_amenity_for_show = amenity.free_internet || (!amenity.free_internet && amenity.send("internet_#{I18n.locale}").present?) || amenity.send("park_#{I18n.locale}").present? || outdoor_area || activities || food_and_drink || services
  end

- if amenity
  .hotel-amenities
    - if hotel.accepts_booking_cancellation?
      p.title 
        i.fa.fa-remove>
        = t 'free_cancellation'
    - if allow_breakfast_in_this_time_interval?(hotel.hotel_amenity, params[:checkin_hour], params[:length_of_pack])
      p.title
        i.fa.fa-coffee>
        = t 'hotel_amenities.breakfast_included'
      p.content
        = t :breakfast_note
    - else
      p.title
        i.fa.fa-coffee>
        = t :no_breakfast

    - if amenity.send("gratuity_for_children_#{I18n.locale}").present?
      p.title
        i.fa.fa-child>
        = t 'hotel_amenities.gratuity_for_children'
      p.content
        = amenity.send("gratuity_for_children_#{I18n.locale}").gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe

    - if amenity.send("transfer_offered_by_the_hotel_#{I18n.locale}").present?
      p.title
        i.fa.fa-car>
        = t 'hotel_amenities.transfer_offered_by_the_hotel'
      p.content
        = amenity.send("transfer_offered_by_the_hotel_#{I18n.locale}").gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe

    - if have_any_amenity_for_show
      p.title.amenities Comodidades

    #masonry-grid
      .gutter-sizer

      - if amenity.free_internet || (!amenity.free_internet && amenity.send("internet_#{I18n.locale}").present?)
        .amenity-group
          p.title
            | Internet
          p.content
            - if amenity.free_internet
                i.glyphicon.glyphicon-check>
                = t 'hotel_amenities.free_internet'
            - else
              = amenity.send("internet_#{I18n.locale}")

      - if amenity.send("park_#{I18n.locale}").present?
        .amenity-group
          p.title
            = t :park
          p.content
            = amenity.send("park_#{I18n.locale}")

      - if outdoor_area
        .amenity-group
          p.title
            = t :outdoor_area
          - if amenity.pool
            p.content
              i.glyphicon.glyphicon-check>
              = t 'hotel_amenities.pool'
          - if amenity.rooftop
            p.content
              i.glyphicon.glyphicon-check>
              = t 'hotel_amenities.rooftop'
          - if amenity.garden
            p.content
              i.glyphicon.glyphicon-check>
              = t 'hotel_amenities.garden'
          - if amenity.terrace
            p.content
              i.glyphicon.glyphicon-check>
              = t 'hotel_amenities.terrace'

      - if activities
        .amenity-group
          p.title
            = t :activities
          - if amenity.sauna
            p.content
              i.glyphicon.glyphicon-check>
              = t 'hotel_amenities.sauna'
          - if amenity.gym
            p.content
              i.glyphicon.glyphicon-check>
              = t 'hotel_amenities.gym'

      - if food_and_drink
        .amenity-group
          p.title
            = t :food_and_drink
          - if amenity.restaurant
            p.content
              i.glyphicon.glyphicon-check>
              = t 'hotel_amenities.restaurant'
          - if amenity.bar
            p.content
              i.glyphicon.glyphicon-check>
              = t 'hotel_amenities.bar'

      - if services
        .amenity-group
          p.title
            = t :services
          - if amenity.reception_24_hour
            p.content
              i.glyphicon.glyphicon-check>
              = t 'hotel_amenities.reception_24_hour'
          - if amenity.luggage_room
            p.content
              i.glyphicon.glyphicon-check>
              = t 'hotel_amenities.luggage_room'
          - if amenity.laundry
            p.content
              i.glyphicon.glyphicon-check>
              = t 'hotel_amenities.laundry'
          - if amenity.room_service
            p.content
              i.glyphicon.glyphicon-check>
              = t 'hotel_amenities.room_service'
          - if amenity.wake_up_service
            p.content
              i.glyphicon.glyphicon-check>
              = t 'hotel_amenities.wake_up_service'

javascript:
  var $container = jQuery('#masonry-grid');
  $container.masonry({
    itemSelector: '.amenity-group'
  });
