- similar_offers = @search_similar_match.map { |s| s[:min_offer] }

.clearfix

table.table.table-striped.table-hover
  tbody
    - similar_offers.each do | offer |
      tr
        td.size-70-percent
          p
            = link_to "", public_affiliate_hotel_room_type_show_path(hotel_id: @hotel.id, hotel_name: @hotel.name.parameterize, id: offer.room_type.id, length_of_pack: params[:length_of_pack], checkin_date: params[:checkin_date], checkin_hour: params[:checkin_hour], number_of_people: params[:number_of_people], timezone: params[:timezone], offer_price: total_price_for_number_of_people(params[:number_of_people], offer)), class: "glyphicon glyphicon-question-sign", "data-toggle" => "modal", "data-target" => ".js-room-type-modal", remote: true
            = offer.room_type.send("full_name_#{I18n.locale}")

          p
            b
              => t(:pack)
            = "#{offer.pack_in_hours} #{t(:hours)}"
          p
            b
              => t(:checkin_hotel_show)
            = l(offer.checkin_timestamp.to_datetime)
          p
            b
              => t(:checkout_hotel_show)
            = l(offer.checkout_timestamp.to_datetime)
          p.hidden-lg.hidden-md
            b
              => t(:price)
            = number_to_currency(calculate_currency(total_price_for_number_of_people(params[:number_of_people], offer), Hotel::CURRENCY_SYMBOL_REVERSED[@hotel.currency_symbol]).round, unit: current_currency.money_sign, precision: 0)


        td.size-30-percent.text-center.js-similar-offer
          p.bigger
            big.hidden-xs.hidden-sm = number_to_currency(total_price_for_number_of_people(params[:number_of_people], offer).round, unit: "#{Hotel::CURRENCY_SYMBOL_REVERSED[@hotel.currency_symbol]}", precision: 0)
          - if can_current_public_affiliate_user_afford?(offer: offer)
            = link_to t(:reserve), new_public_affiliate_booking_path(price: offer.price, checkin_timestamp: offer.checkin_timestamp, pack_in_hours: offer.pack_in_hours, room_type_id: offer.room_type.id, number_of_people: params[:number_of_people]), class: "pill btn-success small hidden-xs hidden-sm"
            = link_to "<i class='fa fa-angle-right'></i>".html_safe, new_public_affiliate_booking_path(price: offer.price, checkin_timestamp: offer.checkin_timestamp, pack_in_hours: offer.pack_in_hours, room_type_id: offer.room_type.id, number_of_people: params[:number_of_people]), class: "pill btn-success small arrow-right js-link-to-new-booking hidden-md hidden-lg", style: 'font-size: 35px; background: transparent; color: #57b12f'
