= u.attribute :country
= u.attribute :state
= u.attribute :city

.attributes-wrapper.client_address
  .attribute-title
    | Endereço

  .content
    - if employee.street.blank?
      | -
    - else
      - if (employee.complement) && (employee.complement != '')
        = "#{employee.street}, #{employee.number}, #{employee.complement}".gsub(', ,', ',')
      - else
        = "#{employee.street}, #{employee.number}".gsub(/,\s\z/, '')
