h3.header.lighter.smaller.green
  | Reservas do funcionário
- if employee.bookings.first
  = render partial: "/company/bookings/_index/list", locals: { bookings: employee.bookings, show_employee_name: false }

- else
  .alert.alert-info
    | Este funcionário ainda não possui reservas.
