h3.header.lighter.smaller.green
  | Orçamento
.hide = u.attribute :monthly_budget do
  = humanized_money_with_symbol employee.monthly_budget
= u.attribute :budget_for_24_hours_pack do
  = humanized_money_with_symbol employee.budget_for_24_hours_pack
br
p
  | De acordo com o valor do orçamento para diária, será possível ao funcionário reservar ofertas com os seguintes valores:
= render partial: 'layouts/components/user_budget_table', locals: { user: employee }
