= u.attribute :id
= u.attribute :name
= u.attribute :email

/= u.attribute :department do
  /= employee.department.try(:name) || '-'

= u.attribute :cpf
= u.attribute :passport
= u.attribute :birth_date
