.public-affiliate-home-controller.be-our-partner-action
  .form
    .btn-success
      margin-top: 10px

    .btn-success.pt-br
      padding-left: 17px

    label
      line-height: 20px
      color: $label-light-gray
      font-style: italic
      font-size: 14px
      font-weight: lighter
      margin-top: 5px
      margin-bottom: 0

  .slides
    iframe
      width: 100%
      height: 359px
      border: 1px solid #CCC
      border-width: 1px 1px 0
      margin-bottom: 5px

    iframe.en
      height: 413px

  .field-with-error
    span
      color: #E60000
    input, textarea
      border: 1px solid #E60000

  .divider
    margin-top: 10px

    span
      background: white

  button.submit-disabled:hover
    cursor: help !important

  h2.partners-title
    color: #999

  .logo-hotels
    height: 75px
    margin-top: 20px
    
    img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)


