@media (max-width: 768px)
  .public-layout.public-hotel-controller.index-action
    .top-filter-informations-mobile
      .search-informations-wrapper
        background-color: transparent
        padding: 10px 0 0 0
        .address-searched.searched
          text-align: center
        .check-in-searched.searched
          text-align: center
        .pack-searched.searched
          text-align: center
        h4
          color: #1b4d73
