.row
  .col-sm-12.border-box
    = simple_form_for([:public, @cost_center, traveler], url: @url_form) do |f|

      = f.input :name
      = f.association :job_title, collection: @cost_center.company_detail.job_titles, prompt: t("select_job_title")
      = f.input :email
      = f.input :phone_number
      - if traveler.errors.has_key?(:cpf) && traveler.errors.has_key?(:passport)
        = f.input :cpf, input_html: { class: 'js-mask-cpf js-credit-card-owner-cpf', error: false, wrapper_html: {class: 'has-error'} }
        = f.input :passport, error: false, input_html: { class: 'js-credit-card-owner-passport'}, wrapper_html: { class: 'has-error'}
      - else
        - if @company_detail.country == 'CO'
          = f.input :cpf
          = f.input :passport, input_html: { class: 'js-credit-card-owner-passport'}
        - else
          = f.input :cpf, input_html: { class: 'js-mask-cpf js-credit-card-owner-cpf'}
          = f.input :passport, input_html: { class: 'js-credit-card-owner-passport'}


      .divider.address
        span
          = t(:address)

      .address-fields ng-controller="PublicUsersEditCtrl" 

        .form-group.string.optional.traveler_address
          label.string.optional.col-sm-3.control-label for="address"
            => "#{t(:address)}"
          .col-sm-4
            input.string.optional.col-sm-12.form-control.big-input.autocomplete id="autocomplete" name="address" type="text" value="#{@company_detail.street}"

        .form-group.string.optional.traveler_country
          label.string.optional.col-sm-3.control-label for="country"
            => "#{t(:country)}"
          .col-sm-4
            input.string.optional.col-sm-12.form-control.big-input id="country" name="traveler[country]" type="text" value="#{@company_detail.country}"

        .form-group.string.optional.traveler_state
          label.string.optional.col-sm-3.control-label for="state"
            => "#{t(:state)}"
          .col-sm-4
            input.string.optional.col-sm-12.form-control.big-input id='administrative_area_level_1' name="traveler[state]" type="text" value="#{@company_detail.state}"

        .form-group.string.optional.traveler_city
          label.string.optional.col-sm-3.control-label for="city"
            => "#{t(:city)}"
          .col-sm-4
            input.string.optional.col-sm-12.form-control.big-input id='locality' name="traveler[city]" type="text" value="#{@company_detail.city}"

        .form-group.string.optional.traveler_street
          label.string.optional.col-sm-3.control-label for="street"
            => "#{t(:street)}"
          .col-sm-4
            input.string.optional.col-sm-12.form-control.big-input id='route' name="traveler[street]" type="text" value="#{@company_detail.street}"

        .form-group.string.optional.traveler_number
          label.string.optional.col-sm-3.control-label for="number"
            => t('users.number')
          .col-sm-4
            input.string.optional.col-sm-12.form-control.big-input id='street_number' name="traveler[number]" type="text" value="#{@company_detail.number}"

        .form-group.string.optional.traveler_complement
          label.string.optional.col-sm-3.control-label for="complement"
            => t('users.complement')
          .col-sm-4
            input.string.optional.col-sm-12.form-control.big-input id='street_complement' name="traveler[complement]" type="text" value="#{@company_detail.complement}"

        .form-group.string.optional.traveler_postal_code
          label.string.optional.col-sm-3.control-label for="postal_code"
            => "#{t(:postal_code)}"
          .col-sm-4
            input.string.optional.col-sm-12.form-control.big-input id='postal_code' name="traveler[postal_code]" type="text" value="#{@company_detail.postal_code}"
  

        / = f.input :state, input_html: { class: 'big-input', disabled: "disabled", id: 'administrative_area_level_1'}
        / = f.input :city, input_html: { class: 'big-input', disabled: "disabled", id: 'locality'}
        / = f.input :street, input_html: { class: 'big-input', disabled: "disabled", id: 'route'}
        / = f.input :number, input_html: { class: 'big-input', disabled: "disabled", id: 'street_number'}
        / = f.input :complement, input_html: { class: 'big-input', id: 'street_complement'}
        / = f.input :postal_code, input_html: { class: 'big-input', id: 'postal_code'}
      
        .form-actions.wizard-actions.form-buttons.text-right
          = link_to("<i class='glyphicon glyphicon-arrow-left'></i> #{t(:return)}".html_safe, public_company_detail_path(@cost_center.company_detail), {class: 'btn btn-prev '})
          = button_tag(type: 'submit', class: "btn btn-success btn-next cpy-submit-button") do
            => t(:save)
            i.glyphicon.glyphicon-arrow-right

javascript:

  $('form').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) { 
      e.preventDefault();
      return false;
    }
  });
