.row
  .col-sm-12.border-box
    .page-header
      h1.page-title
        => t(:listing) + ' ' + t(:traveler).downcase.pluralize
        = link_to "#{t(:new) + ' ' + t(:traveler).downcase}", new_public_cost_center_traveler_path(params[:id]), class: 'btn btn-sm btn-success pull-right cpy-add-link'

- if @travelers.length == 0
  .row
    .col-sm-12.border-box.with-padding-bottom
      .alert.alert-info
        = t(:none) + ' ' + t(:traveler).downcase + ' ' + t(:registered) + '.'
- else
  .row
    .col-sm-12.border-box.with-padding-bottom.hidden-xs.hidden-sm
      .row
        .col-sm-12
          table.table.table-striped.table-hover.mini
            thead
              tr
                th.center.size-8-percent
                  | Id
                th.center.size-74-percent
                  = t(:name)
                th.center.size-18-percent
                  = t(:actions)
            tbody
              - @travelers.each do | traveler |
                tr.center
                  td
                    = traveler.id
                  td
                    = traveler.name
                  td.action-list
                    = link_to t(:details), public_traveler_path(traveler), class: 'btn mini btn-primary', style: 'margin-right: 5px'
                    = link_to t(:edit), edit_public_traveler_path(traveler), class: 'btn mini green cpy-confirm-booking-button'
                    //= link_to t(:disable), edit_public_traveler_path(traveler), class: 'btn red mini cpy-cancel-button'

    .col-sm-12.border-box.with-padding-bottom.hidden-md.hidden-lg
      = render partial: "/public/company_details/cost_centers/travelers/index/mobile_travelers"

