.row
  .col-sm-12.border-box
    .page-header
      h1.page-title
        = t(:viewing) + ' ' + t(:traveler).downcase
.row
  .col-sm-12.border-box        
    = show_for @traveler do |u|
      = u.attribute :name
      = u.attribute :job_title do 
        =@traveler.job_title.try(:name)
      = u.attribute :cpf
      = u.attribute :passport
      = u.attribute :email
      = u.attribute :phone_number
      = u.attribute :country
      = u.attribute :state
      = u.attribute :city
      = u.attribute :street
      = u.attribute :number
      = u.attribute :complement
      = u.attribute :postal_code
    hr
    .wizard-actions.form-actions.text-right
      = link_to("<i class='glyphicon glyphicon-arrow-left'></i> #{t(:return)}".html_safe,public_cost_center_path(@traveler.cost_center), {class: 'btn btn-prev '})
      = link_to "<i class='glyphicon glyphicon-edit'></i> #{t(:edit)}".html_safe, edit_public_traveler_path(@traveler), class: 'btn btn-info'
      = link_to "#{t(:new) + ' ' + t(:traveler).downcase}", new_public_cost_center_traveler_path(@traveler.cost_center_id), class: 'btn btn-sm btn-success cpy-add-link'
      - if @traveler.user.blank?
        = link_to("#{t(:turn_in_user)}", traveler_to_user_public_traveler_path(@traveler.id), class: 'btn btn-warning pull-right', method: :post)


= render partial: 'public/company_details/cost_centers/travelers/credit_cards/index'