.container
  .row
    .col-sm-12
      .col-sm-7.col-sm-offset-3
        h2.text-center
          = t(:sign_up)
        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
          - if flash[:alert]
            p.alert.alert-danger
              = flash[:alert]
          - if devise_error_messages!.present?
            .alert.alert-danger.errors_container
              p
                = t(:please_review_the_problems_below)
              = devise_error_messages!
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            div
              = "#{t(:waiting_confirmation)}: #{resource.unconfirmed_email}"
          .form-group.current_password.public_user_current_password
            label.current_password.col-sm-3.control-label.text-right for="public_user_current_password"
              = t(:current_password)
            .col-sm-9
              span.input-icon.input-icon-right.col-sm-12
                input.current_password.optional.form-control id="public_user_current_password" name="public_user[current_password]" type="password"
          .form-group.password.public_user_password
            label.password.col-sm-3.control-label.text-right for="public_user_password"
              = t(:new_password)
            .col-sm-9
              span.input-icon.input-icon-right.col-sm-12
                input.password.optional.form-control id="public_user_password" name="public_user[password]" type="password"
          .form-group.password_confirmation.public_user_password_confirmation
            label.password_confirmation.col-sm-3.control-label.text-right for="public_user_password_confirmation"
              = t(:new_password_confirmation)
            .col-sm-9
              span.input-icon.input-icon-right.col-sm-12
                input.password_confirmation.optional.form-control id="public_user_password_confirmation" name="public_user[password_confirmation]" type="password"
          .row
          .form-actions
            button.btn.pull-right.btn-primary name="commit" type="submit"
              span
                = t(:update)
              i.glyphicon.glyphicon-arrow-right.icon-on-right
            div
              = link_to t(:return), :back
            = render partial: "public/shared/links", class: 'pull-left'
            .clearfix
