.row
  .col-xs-12.border-box.with-padding
    h1.page-title
      |Política de privacidad
    .divider

    p.introduction
      |La RESERVAS POR HORAS DO BRASIL LTDA, con sede en la Rua Luis Coelho, N ° 308, establecen. 32, CEP 01309-000, Cerqueira César, Sao Paulo, Estado de Sao Paulo, Brasil, es la compañía propietaria del portal de www.hotelquando.com. Comprometido a salvaguardar la privacidad de nuestros visitantes, esta política le indica cómo tratamos la información personal de nuestros usuarios:

    ol
      li
        b Registro
        p
          |Ao hacer el registro em nuestra pagina web, recogemos, almacenamos y utilizamos la información:
          ul.sublist
            li
              |En su ordenador, sus visitas y uso de este sitio (incluyendo dirección de correo electrónico, dirección IP)
            li
              |En las operaciones, en la orden de compra paquete con fecha de valor y el estado de aprobación. Nunca almacene los datos de su tarjeta de crédito;
            li
              |Otra información proporcionada a través del registro, con el propósito de registro, notificaciones por correo electrónico o procedimientos newsletters.Todos pasar por un proceso de seguridad de la información y permanecen en nuestra base de datos, donde permanecen protegidos y confidenciales;

      li
        b Privacidad
        p
          |En cualquier caso, esta información sólo se utiliza en la medida necesaria para completar su interacción con nuestro sitio. La información que se publica en el apartado 1 no se alquila, se vende o comparte con otras personas o empresas no afiliadas a HotelQuando.com, excepto para el cumplimiento de la orden de autoridad judicial

      li
        b Cookies
        p
          |Al iniciar sesión en nuestro sitio web, almacenamos una cookie en su ordenador con la intención de reconocer que cuando navega por nuestro sitio. Una cookie es una pequeña cantidad de datos almacenados en un ordenador para identificar este navegador en sitios de interacción. La mayoría de las cookies utilizadas en nuestro sitio se eliminarán automáticamente de su disco duro para cerrar la sesión de navegación.

      li
        b Informes
        p
          |La HotelQuando.com utiliza el Google Analytics para crear informes sobre el uso de nuestro sitio. Google puede almacenar esta información. Política de privacidad de Google está disponible en
          a href='http://www.google.com.br/intl/pt-BR/privacy/'
            |http://www.google.com.br/intl/pt-BR/privacy/

      li
        b Email
        p
          |Sus datos serán utilizados para el envío de nuestro correo electrónico todos los días. En todas nuestras comunicaciones a través de correo electrónico, poner un enlace para registrarse eliminación.

      li
        b Cambios en las políticas
        p
          |A HotelQuando.com puede actualizar con el tiempo esta política sin previo aviso. Los cambios más significativos, en su caso, puedan ser comunicadas en un lugar visible en el sitio web oa través de correo electrónico.

    p
      |Para obtener más información póngase en contacto por correo electrónico:
      a href='mailto:contato@hotelquando.com '
        | contato@hotelquando.com
      br
      |La HotelQuando.com tomará las medidas razonables para mantener la confidencialidad y seguridad se describe en esta política.
