.row
  .col-xs-12.border-box.with-padding
    h1.page-title 
      | Política de privacidade
    .divider

    p.introduction
      |A RESERVAS POR HORAS DO BRASIL LTDA, com sede na Rua Luis Coelho, nº 308, conj. 32, CEP 01.309-000, Cerqueira Cesar, cidade de São Paulo, Estado de São Paulo, Brasil, é a empresa proprietária do portal www.hotelquando.com. Empenhado em salvaguardar a privacidade dos visitantes do nosso site, esta política informa como tratamos as informações pessoais dos nossos usuários:

    ol
      li
        b Cadastro
        p
          |Ao efetuar o cadastro em nosso site, coletamos, armazenamos e utilizamos as informações:
          ul.sublist
            li 
              |Sobre o seu computador, suas visitas e utilização deste site (incluindo endereço de e-mail, endereço ip);
            li 
              |Sobre as operações realizadas, como pedido de compra dos pacotes, com valor, data e estado de aprovação. Nunca armazenamos os dados de seu cartão de crédito;
            li 
              |Demais informações fornecidas através do cadastro, com a finalidade de registro, notificações de e-mail e/ou newsletters.Todos os procedimentos passam por um processo de segurança da informação e permanecem em nosso banco de dados, onde permanecem protegidos e sigilosos;

      li
        b Privacidade
        p
          |Em qualquer caso, estas informações somente são utilizadas, na medida do necessário, para completar a sua interação com o nosso site. As informações veiculadas no item 1 não são alugadas, vendidas ou compartilhadas com outras pessoas ou empresas não afiliadas a HotelQuando.com, exceto para cumprimento de ordem de autoridade judicial.

      li
        b Cookies
        p
          |Ao efetuar o login em nosso site, armazenamos um cookie em seu computador com a intenção de reconhecê-lo quando navegar em nosso site. Um cookie é uma pequena quantidade de dados armazenada em um computador para identificar esse navegador durante a interação em sites. A maioria dos cookies utilizados em nosso site serão apagados do seu disco rígido automaticamente ao encerrar a sessão do navegador.

      li
        b Relatórios
        p
          |A HotelQuando.com utiliza o Google Analytics para criar relatórios sobre o uso do nosso site. O Google poderá armazenar esta informação. A política de privacidade do Google está disponível em 
          a href='http://www.google.com.br/intl/pt-BR/privacy/' 
            |http://www.google.com.br/intl/pt-BR/privacy/

      li
        b E-mail
        p 
          |Seus dados serão utilizados para o envio de nosso e-mail diário. Em todas as nossas comunicações feitas através do e-mail, colocamos um link para remoção de cadastro.

      li
        b Mudanças de política
        p
          |A HotelQuando.com poderá eventualmente atualizar esta política sem aviso prévio. As mudanças mais significativas, quando oportuno, poderão ser comunicadas em área de destaque no web site ou através de e-mail.

      p
        |Para obter mais informações entre em contato através do e-mail: 
        a href='mailto:contato@hotelquando.com'
          |contato@hotelquando.com
        br
        |A HotelQuando.com tomará as medidas possíveis para manter a confidencialidade e a segurança descritas nessa política.