ruby:
  room_category_background = last_search_log.try(:room_category) || 3
  backgroundClass = 'night-rooms-background' if room_category_background == 1
  backgroundClass = 'morning-rooms-background' if room_category_background == 2
  backgroundClass = 'any-time-rooms-background' if room_category_background == 3
  colombiaClass   = 'any-time-rooms-background-co'
  showNightBox    = 'display:block' if room_category_background == 1
  showDayBox      = 'display:block' if room_category_background == 2
  showAnyTimeBox  = 'display:block' if room_category_background == 3

/- unless current_public_user.present?
/  = render partial: 'public/home/promotions/register_and_receive_discounts'
/ - if @first_visit
/   = render partial: 'public/home/promotions/hours_discount'
/   = render partial: 'public/home/promotions/twelve_hours_discount'

.search-hotels-wrapper class="#{cookies[:locale] != (:es || 'es') ? backgroundClass : colombiaClass}"
  .row.hidden-mobile
    .col-md-12.describe-box.text-center
      .describe-night style="#{showNightBox}"
        p
          span = t(:why_pay_for_daily_rate)
      .describe-day style="#{showDayBox}"
        p
          span = t(:title_describe_box_for_the_day)

      .describe-any-time style="#{showAnyTimeBox}"
        p
          span = t(:title_describe_box_at_any_time)
      .describe-any-time-meeting_room.hide
        p
          span = t(:title_describe_box_at_any_time_meeting_room)
  .row
    .col-md-12
      .search-box.js-headline-search
        - if mobile_device?
          .mobile.hidden-desktop.hidden-destop-teste
            = render partial: "layouts/public/old_components/search_form"
            /#adviceModal.modal.fade role="dialog"
            /  .modal-dialog
            /    /! Modal content
            /    .modal-content
            /      = render partial: "/public/home/app_advice/#{I18n.locale}"
            /      .modal-footer
            /        button.btn.btn-default.pull-right data-dismiss="modal" class="closebutt" type="button" x
            /        .btn.linktodown
            /          = t(:download)

        - else
          .desktop.hidden-mobile
            = render partial: "layouts/public/components/search_form"
    /a.js-scroll-button.scroll-button.hidden-xs.hidden-sm href='#know-more'
      => t(:know_more)

.services-wrapper#know-more
  .map-america data-400="opacity: 0; right: -80px" data-600="opacity: 1; right: 40px"
    = image_tag("home-map.png")
  .container
    .row
      .col-md-9
        h1.title = t :who_we_are
        p.explanation = t :who_we_are_description
    .row.text-center
      .col-md-4
        .service-box
          h2 = t :you_decide_when_check_into_the_hotel
          .image = image_tag('calendar-and-clock-blue.png')
          p.description = t :you_decide_when_check_into_the_hotel_description
      .col-md-4
        .service-box
          h2 = t :you_decide_how_many_hours_you_need
          .image.teste = image_tag('QAzul.png')
          p.description = t :you_decide_how_many_hours_you_need_description
      .col-md-4
        .service-box
          h2 = t :pay_a_fair_price
          .image = image_tag('preco-justo-blue.png')
          p.description = t :pay_a_fair_price_description

.airport_hotels#airports
 .container
   .row
     .col-md-12
       h1.airpot_title = t :are_you_going_to_travel
   .row.text-center#airport_scroller
     .scroller
       - @main_airports.each do |main_airport|
         .service-box
           = link_to public_airport_path(id: main_airport.id, place_name: main_airport.send("name_#{I18n.locale}").parameterize) do
             = main_airport.photos.present? ? image_tag(main_airport.photos.first.direct_image_url, class: 'image') : image_tag('airports/airport_default_image.jpeg', class: 'image')
             h2.image_title #{main_airport.send("name_#{I18n.locale}")}
     .row#other_airports
       - @airports.each_slice(2) do |airports|
         - airports.each do |airport|
           .col-md-4
             .airport_box #{link_to airport.send("name_#{I18n.locale}"), public_airport_path(id: airport.id, place_name: airport.send("name_#{I18n.locale}").parameterize)} >

   p.more_airport_hotels #{link_to t(:more_airport_hotels), public_airports_path}

.home-blue-box
 .container
   .row
     .col-md-4
       = image_tag('logo-green-white.png')
     .col-md-8
       p.explanation = t :think_of_us

.airport_hotels#cities
 .container
   .row
     .col-md-12
       h1.city_title = t :book_hotels_in_the_main_cities
   .row.text-center#airport_scroller
     .scroller
       - @main_cities.each do |main_city|
         .service-box
           = link_to public_city_path(id: main_city.id, place_name: main_city.send("name_#{I18n.locale}").parameterize) do
             = main_city.photos.present? ? image_tag(main_city.photos.first.direct_image_url, class: 'image') : image_tag('cities/city_default_image.jpeg', class: 'image')
             h2.image_title #{main_city.send("name_#{I18n.locale}")}
     .row#other_airports
       - @cities.each_slice(2) do |cities|
         - cities.each do |city|
           .col-md-4
             .airport_box #{link_to city.send("name_#{I18n.locale}"), public_city_path(id: city.id, place_name: city.send("name_#{I18n.locale}").parameterize)} >

   p.more_airport_hotels #{link_to t(:more_cities), public_cities_path}

.services-wrapper
  .container
    .row
      .col-xs-12
        h1.title = t :when_booking
        br

    .row
      .col-sm-6
        .col-sm-12.text-center
          .glyphicon.glyphicon-plane.big-icon
        br
        br
        .col-sm-12
          b = t :traveling
          ul
            li = t :to_wait_for_a_flight_or_commitment
            li = t :to_spend_only_1_night
            li = t :to_come_earlier_or_leave_later
            li = t :to_take_a_shower


      .col-sm-6
        .col-sm-12.text-center
          .glyphicon.glyphicon-home.big-icon
        .col-sm-12
          b = t :in_your_own_city
          ul
            li = t :to_spend_the_night_away_from_home
            li = t :to_dinner_and_sleep_way_from_home
            li = t :to_take_a_shower_when_you_are_away_from_home
            li = t :to_enjoy_the_spa_pool_gym

    .row
      .col-sm-12.text-center
        .box-foot
          span.colored
            span.gray> = t :hours_of
            span.green> Hotel
            span.blue> = t :when
            span.gray = t :you_want

= render partial: "public/shared/newsletter_bar"

.costs-reducer-wrapper.hidden-xs.hidden-sm
  .big-coins data-1600="opacity: 0; left: -50px" data-1800="opacity: 1; left: 50px"
    = image_tag("home-tokens.png")
  .container
    .row
      .col-md-offset-2.col-md-10
        .pull-left = image_tag('pig.png')
        .pull-left
          h2 = t :reduce_your_companys_hosting_costs
        .clearfix
        p
          = t :reduce_your_companys_hosting_costs_description
          =< link_to t(:click_here), public_get_business_trips_path, class: "link green"
          =< t :for_more_informations
        = link_to t(:contact_us), public_get_business_trips_path, class: "pill green medium"

.exceed-100-occupancy-wrapper.hidden-xs.hidden-sm
  .building data-2050="bottom: -200px" data-2300="bottom: 0px"
    = image_tag('home-building.png')

  .container
    .row
      .col-md-12
        .pull-left.size-5-percent = image_tag('home-people.png')
        .pull-left.size-95-percent
          h2 = t :surpass_100_hotel_occupancy
        .clearfix
        p
          = t :surpass_100_hotel_occupancy_description
          =< link_to t(:click_here), public_get_be_our_partner_path, class: "link dark-blue"
          =< t :for_more_informations
        = link_to I18n.locale == :es ? t(:know_more) : t(:contact_us), public_get_be_our_partner_path, class: "pill white medium"

        .partners
          h2 = t :the_best_hotel_chains_are_already_with_us

          .text-center
            .col-sm-2
              .logo-hotels
                = image_tag('accor-hotels-home.png')
            .col-sm-2
              .logo-hotels
                = image_tag('transamerica-hospitality-group-home.png')
            .col-sm-2
              .logo-hotels
                = image_tag('atlantica-hotels-home.png')
            .col-sm-2
              .logo-hotels
                = image_tag('Intercity-hotels-home.png')
            .col-sm-2
              .logo-hotels
                = image_tag('hplus-home.png')
            .col-sm-2
              .logo-hotels
                = image_tag('vert-home.png')
          .clearfix

.press-wrapper
  .container
    .row
      .col-xs-12.text-center
        .pull-left = image_tag('press-icon.png')
        .pull-left
          h1.title = t :we_in_the_press
          br

    .row
      .col-sm-12.text-center
        .col-sm-2.col-sm-offset-1 = link_to image_tag('folha.png'), "http://www1.folha.uol.com.br/fsp/turismo/208726-site-oferece-possibilidade-de-reservar-hoteis-por-hora.shtml"
        .col-sm-2 = link_to image_tag('panhoteis.png'), "http://www.panhoteis.com.br/noticia-hotelaria-gastronomia-profisssional/tecnologia/startup-hotelquando-recebe-investimento-de-r$-300-mil_111733.html#.VVpQsSHBzGc"
        .col-sm-2 = link_to image_tag('infomoney.png'), "http://startse.infomoney.com.br/portal/2015/04/22/11667/servio-permite-reserva-de-hotis-por-horas/"
        .col-sm-2 = link_to image_tag('hotelnews.png'), "http://www.revistahotelnews.com.br/2009/entrevista.php?req_url=006&id_noticia=3191"
        .col-sm-2 = link_to image_tag('panrotas.png'), "http://www.panrotas.com.br/noticia-turismo/hotelaria/hotelquandocom-anuncia-parceria-com-rede-de-hoteis_113659.html"
javascript:
  $(window).ready(function(){
    $('.scroller').slick({
      dots: true,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      variableWidth: true,
      mobileFirst: true,
      swipeToSlide: true,
      autoplay: true
    })
  })

  $(window).on('load',function(){
    $('#adviceModal').modal('show');
  });

  $('.linktodown').on('click',function(){
     if(navigator.userAgent.toLowerCase().indexOf("android") > -1){
         window.location.href = 'https://play.google.com/store/apps/details?id=com.hotelquando.hqapp';
  }
     if(navigator.userAgent.toLowerCase().indexOf("iphone") > -1){
         window.location.href = 'https://itunes.apple.com/br/app/hotelquando/id1058545562?mt=8';
  }
  });
