= simple_form_for [:executive_responsible, region] do |f|

  = f.input :name

  .form-group.string.required.address-fields
  .form-group.input.required.hotel_cities
    label.select.required.col-sm-3.control-label for="region_cities"
      abbr title="obrigatório"
      | *
      => "#{t(:city)}"
    .col-sm-4
      = text_field_tag "citiesHash", region.city_id.blank? ? '' : @cities_list.find {|e| /#{region.city_id}/ =~ e}, id: "citiesHash", class: "string optional col-sm-12 form-control", placeholder: t("views.admin.hotels.search_city_name")

	.hidden
	  = f.input :city_id, :as => :hidden
    

  = form_submit_section