= header_section title: t("views.executive_responsible.regions.title")

- if @company_regions.length == 0
  .alert.alert-info
    = t(:none_female) + ' ' + t('views.company_universe.regions.one').downcase + ' ' + t(:registered_female) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | #{t("views.executive_responsible.regions.id")}
        th.center
          | #{t("views.executive_responsible.regions.name")}
        th.center
          | #{t("views.executive_responsible.regions.city")}
        th.center
          | #{t("views.executive_responsible.regions.active")}
        th.center
          | #{t("views.executive_responsible.regions.actions")}
    tbody
      - @company_regions.each do | region |
        tr.center
          td
            = region.id
          td
            = region.name
          td
            = region.city.name
          td
            = region.is_active ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, executive_responsible_company_region_path(region.id), class: 'btn btn-xs btn-success'

            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_executive_responsible_company_region_path(region.id), class: 'btn btn-xs btn-info cpy-edit-agency-link'
            | &nbsp;&nbsp;

            - if region.is_active?
              = link_to "<i class='icon-remove bigger-100'></i>".html_safe, deactivate_executive_responsible_company_regions_path(region.id), class: 'btn btn-xs btn-danger cpy-deactivate-agency-button', data: { confirm: t("views.company_universe.regions.deactivate_region") }, method: :post
            - else
              = link_to "<i class='icon-check bigger-100'></i>".html_safe, activate_executive_responsible_company_regions_path(region.id), class: 'btn btn-xs btn-warning cpy-activate-agency-button', data: { confirm: t("views.company_universe.regions.activate_region")}, method: :post
