= header_section

ruby:
  @cities_list = ActiveRecord::Base.connection.execute("SELECT cities.id, cities.name, states.initials, countries.iso_initials FROM cities INNER JOIN states ON states.id = cities.state_id INNER JOIN countries ON countries.id = states.country_id  ORDER BY cities.id ").collect{|c| "#{c['id']}, #{c['name']}, #{c['initials']}, #{c['iso_initials']}" }

= render partial: 'executive_responsible/company_regions/form', locals: {region: @company_region, cities_list: @cities_list}
