= header_section

= panel_section(name: t("views.company_universe.regions.region_information")) do
  = show_for @company_region do |u|
    = u.attribute :name
    = u.attribute :city_id do
      = @company_region.city.name
    = u.attribute :is_active do
      = @company_region.is_active ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe

  .wizard-actions
    = link_to t("views.admin.agencies.back").html_safe, executive_responsible_company_region_path, class: 'btn btn-prev'
    = link_to t("views.admin.agencies.edit").html_safe, edit_executive_responsible_company_region_path(@company_region.id), class: 'btn btn-info'

    - if @company_region.is_active?
      = link_to t("views.admin.agencies.deactivate").html_safe, deactivate_executive_responsible_company_regions_path(@company_region.id), class: 'btn btn-danger cpy-deactivate-agency-button', method: :post
    - else
      = link_to t("views.admin.agencies.activate").html_safe, activate_executive_responsible_company_regions_path(@company_region.id), class: 'btn btn-warning cpy-activate-agency-button', method: :post
