.row
  .col-xs-12.border-box.with-padding
    h1.page-title
      | Business Trips
    .divider
    h2.second-title
      | Reduce 30-40% of the accommodation expenses of your company!
    .row
      .col-sm-6
        .slides
          h2
            | See our presentation
          p
            | (portuguese only)
          - unless Rails.env.test?
            iframe.en src="https://www.slideshare.net/slideshow/embed_code/32513918" allowfullscreen="" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"


      .col-sm-6.contact
        h2
          | Contact us

        .explanation
          p
            | To know more about us and the special conditions for companies, contact us through the form below.
        = form_tag public_affiliate_post_business_trips_path, method: :post, class: 'form form-horizontal box', 'ng-controller' => 'PublicAffiliateBusinessTripsController' do

          div ng-class="setErrorClassForField('CompanyName','input')"
            .row
              .col-xs-12
                label
                  | Company name
            .row
              .col-xs-12
                input.form-control.size-100-percent name="company_name" ng-model='companyname' value="#{params[:company_name] || ''}"

          .row
            .col-sm-6
              div ng-class="setErrorClassForField('ContactName','input')"
                .row
                  .col-xs-12
                    label
                      | Contact name
                .row
                  .col-xs-12
                    input.form-control.size-100-percent ng-model='contactname' name="contact_name" value="#{params[:contact_name] || ''}"

            .col-sm-6
              div ng-class="setErrorClassForField('ContactRole','input')"
                .row
                  .col-xs-12
                    label
                      | Role
                .row
                  .col-xs-12
                    input.form-control.size-100-percent ng-model='contactrole' name="contact_role" value="#{params[:contact_role] || ''}"

          .row
            .col-sm-6
              div ng-class="setErrorClassForField('Email','input')"
                .row
                  .col-xs-12
                    label
                      | E-mail
                .row
                  .col-xs-12
                    input.form-control.size-100-percent.js-email-with-suggestion ng-model='email' name="email_for_contact" value="#{params[:email_for_contact] || ''}"

            .col-sm-6
              div ng-class="setErrorClassForField('Phone','input')"
                .row
                  .col-xs-12
                    label
                      | Phone number
                .row
                  .col-xs-12
                    input.form-control.size-100-percent ng-model='phone' name="phone" value="#{params[:phone] || ''}"

          div ng-class="setErrorClassForField('Message','textarea')"
            .row
              .col-xs-12
                label
                  | Message
            .row
              .col-xs-12
                textarea.form-control.size-100-percent name='message' rows='4' ng-model='message'
                  = params[:message] || ''
          .row
            .col-sm-12
              .form-actions.pull-right
                .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="left" data-html='true' data-original-title="{{messageForDisabledSubmit()}}"

                  button.btn.green.cpy-submit-button.pt-br ng-disabled='!isFormValid()' ng-class='submitButtonExtraClass()'
                    | Send
                .clearfix
        .row
          .col-sm-12
            .divider
              span = t :or
        p.text-center
          | Contact us through our e-mail:
          br
          a href="mailto:corporate@hotelquando.com" class="btn btn-large btn-primary"
            | corporate@hotelquando.com
        .clearfix


    javascript:
      yojs.set('companyName', "#{params[:company_name]}")
      yojs.set('phone', "#{params[:phone]}")
      yojs.set('emailForContact', "#{params[:email_for_contact]}")
      yojs.set('message', "#{j params[:message]}")
      yojs.set('contactName', "#{params[:contact_name]}")
      yojs.set('contactRole', "#{params[:contact_role]}")

