body.public-affiliate-layout
  .footer
    background: #FFF
    position: relative
    min-width: $container-desktop
    padding-bottom: 30px
    border-top: 1px solid #666666
    padding: 0 10px 0 10px
    margin-top: 10px


  #footer 
    padding: 2px 0 0 0

    p
      text-align: center
      color: #999999
      font-size: 9px
      clear: both
      margin-top: 25px
      line-height: 1.5em
      letter-spacing: -.025px
    
    .azul-copyright
      font-size: 10px
      float: left
      width: 166px
      height: 11px

    .menu-footer
      float: right
      font-size: 11px
      width: 762px
      height: 61px

      a
        text-decoration: none
        color: #666666
        font-weight: normal

      li
        height: 17px
        border-right: #666 solid 1px
        padding: 2px 10px 0 10px

      ul
        li
          float: left
          list-style: none

      .linksFooter
        margin-left: 0
        border: none
        padding: 0

      .liAlt
        border: none




