= header_section(title: 'Listando Empresas para NF')

- if @invoices.length == 0
  .alert.alert-info
    = t(:none_female) + ' ' + Company.model_name.human.downcase + ' ' + t(:registered_female) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | Razão social
        th.center
          | Ações
    tbody
      - @invoices.each do | invoice |
        tr.center
          td
            = invoice.company_name
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, company_invoice_path(invoice.id), class: 'btn btn-xs btn-success'
