= header_section(title: 'Adicionando Empresa para nf')
= simple_form_for [:company, @invoice] do |f|
  = f.input :company_name
  = f.input :cnpj, input_html: { class: 'js-mask-cnpj' }
  = f.input :cep, input_html: { class: 'js-mask-cep' }
  = f.input :country, as: :string
  = f.input :state
  = f.input :city
  = f.input :district
  = f.input :street
  = f.input :number, as: :string
  = f.input :complement
  .hidden
    = f.input :company_id, input_html: { value: current_company_company.id}
  = form_submit_section