- if params[:action] == 'edit'
  .alert.alert-warning
    button type="button" class="close" data-dismiss="alert"
      i.icon-remove
    | #{t('views.hotel.pricing_policies.offer_will_not_be_auto_updated')}
