- if RoomType.by_hotel_id(current_hotel_hotel.id).count == 0

  .alert.alert-danger
    = t(:none) + ' ' + t(:room_type).downcase + ' ' + t(:registered) + ', ' + t(:register_one_room_type_first_to_be_able_to_create_pricing_policies)

- else
  p #{t('views.hotel.pricing_policies.fees_alert')}
  = render partial: "/hotel/pricing_policies/form/alerts"
  .div ng-controller="HotelPricingPoliciesFormCtrl" ng-init="init(#{@pricing_policy.room_type_pricing_policies.to_json(:include => {room_type: {methods: :full_name_pt_br}}).gsub("'"){"\\'"}.gsub('"', "'").html_safe}, #{@pricing_policy.to_json.gsub("'"){"\\'"}.gsub('"', "'").html_safe})"
    = simple_form_for [:hotel, pricing_policy] do |f|

      h3.header-label #{t('views.hotel.pricing_policies.fee_table_name')}
      .form-group
        .col-sm-4.col-sm-offset-4 = f.input :name, label: false, wrapper: :basic
      h3.header-label #{t('views.hotel.pricing_policies.daily_base_fee')}
      p.text-center
        | #{t('views.hotel.pricing_policies.other_fees_will_be_based_on_this')}
        br/
        | #{t('views.hotel.pricing_policies.fee_same_as_daily_fee')}
      .base-price-list

        .base-price-item ng-repeat="rt_pricing_policy in roomTypesPricingPolices"
          .row
            .col-xs-4.text-center #{t('views.hotel.pricing_policies.room_type')}
            .col-xs-4.text-center #{t('views.hotel.pricing_policies.name_at_booking')}
            .col-xs-2.text-center #{t('views.hotel.pricing_policies.fee_per_person')}
            .col-xs-2.text-center #{t('views.hotel.pricing_policies.fee_per_extra_person')}
          .row
            .col-xs-4.text-center
              big.room-type-name
                | {{rt_pricing_policy.room_type.full_name_pt_br}}
            .col-xs-4.text-center
              big.booking-name
                | {{rt_pricing_policy.room_type.booking_name_pt_br}}
            .col-xs-2.text-center
              input.string.money-input.pack-price-24h ui-money-mask='' ng-model="rt_pricing_policy.base_price" ng-blur="updateTablePrice($index)" type='text'
            .col-xs-2.text-center
              input.string.money-input.extra-price-24h ui-money-mask='' ng-model="rt_pricing_policy.base_extra_price" ng-blur="updateTablePrice($index)" type='text'


      h3.header-label #{t('views.hotel.pricing_policies.choose_fee_profile')}
      p.text-center #{t('views.hotel.pricing_policies.choose_fee_profile_explanation')}

      table.table.table-striped.table-profiles
        thead
          th #{t('views.hotel.pricing_policies.profile_packages')}
          th 3h
          th 6h
          th 9h
          th 12h

        tbody
          tr ng-class="{active: selectedProfile == 'normal'}"
            td #{t('views.hotel.pricing_policies.market_average')}
            td
              = HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['3_hours'].to_s + '%'
            td
              = HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['6_hours'].to_s + '%'
            td
              = HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['9_hours'].to_s + '%'
            td
              = HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['12_hours'].to_s + '%'

      p.text-center #{t('views.hotel.pricing_policies.choose_profile')}
      p.text-center.profiles-list
        span.profile ng-click="chooseProfile('normal')" ng-class="{active: selectedProfile == 'normal'}" #{t('views.hotel.pricing_policies.normal')}
        span.profile ng-click="chooseProfile('custom')" ng-class="{active: selectedProfile == 'custom'}" #{t('views.hotel.pricing_policies.custom')}
        .hidden
          = f.input :percentage_profile_name, input_html: { 'ng-model' => 'selectedProfile'}

      .percentage-form ng-show="selectedProfile == 'custom'"
        p.text-center #{t('views.hotel.pricing_policies.fill_below_with_percentage_value')}
        = render(partial: "/hotel/pricing_policies/form/percentage_edit_form", locals: { form_builder: f} )

      h3.header-label.table-label #{t('views.hotel.pricing_policies.rate_table_final_setting')}
      | {{rt_pricing_policy}}
      table.table-bordered.table-hover.table
        = render partial: "/hotel/pricing_policies/components/pricing_policy_table_head"

      = render partial: "/hotel/pricing_policies/form/room_type_pricing_policy_list"

      = form_submit_section

javascript:
  yojs.set('default3HoursPackPercentage' , "#{HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['3_hours']}")
  yojs.set('default6HoursPackPercentage' , "#{HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['6_hours']}")
  yojs.set('default9HoursPackPercentage' , "#{HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['9_hours']}")
  yojs.set('default12HoursPackPercentage' , "#{HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK['12_hours']}")
  yojs.set('custom3HoursPackPercentage' , "#{@pricing_policy.percentage_for_3h}")
  yojs.set('custom6HoursPackPercentage' , "#{@pricing_policy.percentage_for_6h}")
  yojs.set('custom9HoursPackPercentage' , "#{@pricing_policy.percentage_for_9h}")
  yojs.set('custom12HoursPackPercentage' , "#{@pricing_policy.percentage_for_12h}")
