.row
  .col-md-8.col-md-offset-2
    table.table-bordered.table.no-margin-top style="margin: 0 auto;"
      thead
        tr
          th.center style="witdh: 14%"
            | 3h
          th.center style="witdh: 14%"
            | 6h
          th.center style="witdh: 14%"
            | 9h
          th.center style="witdh: 16%"
            | 12h
      tbody
        tr
          - Offer::ACCEPTED_LENGTH_OF_PACKS.each do | length |
            - reference_class = (length == 24) ? 'reference' : ''
            td.center class="#{reference_class}"
              = form_builder.input "percentage_for_#{length}h", input_html: { 'ng-model' => "selectedPercentages[#{length}]", class: 'input-in-table js-mask-integer-until-100', 'ng-readonly' => "selectedProfile != 'custom'", "ng-change" => "updateAllTablePrice()" }, wrapper: :basic, label: false
