- hotel = @pricing_policy.hotel.present? ? @pricing_policy.hotel : current_hotel_hotel
table.table-bordered.table-hover.table.no-margin-top ng-repeat="rt_pricing_policy in roomTypesPricingPolices"
  tbody
    tr.dark-row
      td.size-40-percent
        input name="pricing_policy[room_type_pricing_policies_attributes][{{$index}}][room_type_id]" type="hidden" value="{{rt_pricing_policy.room_type_id}}"
        input name="pricing_policy[room_type_pricing_policies_attributes][{{$index}}][id]" type="hidden" value="{{rt_pricing_policy.id}}" ng-if="rt_pricing_policy.id"
        input.hidden name="pricing_policy[room_type_pricing_policies_attributes][{{$index}}][pack_price_24h]" ng-model="rt_pricing_policy.pack_price_24h" readonly="readonly" type="text"
        input.hidden name="pricing_policy[room_type_pricing_policies_attributes][{{$index}}][extra_price_per_person_for_pack_price_24h]" ng-model="rt_pricing_policy.extra_price_per_person_for_pack_price_24h" readonly="readonly" type="text"
        | {{rt_pricing_policy.room_type.name_pt_br}}
      td.center.size-15-percent
        | {{selectedPercentages[3]}} %
      td.center.size-15-percent
        | {{selectedPercentages[6]}} %
      td.center.size-15-percent
        | {{selectedPercentages[9]}} %
      td.center.size-15-percent
        | {{selectedPercentages[12]}} %
    tr
      td
        | #{t('views.hotel.pricing_policies.price_per_person')}
      - Offer::ACCEPTED_LENGTH_OF_PACKS.each do | length |
        td.center
          | #{Hotel::CURRENCY_SYMBOL_REVERSED[hotel.currency_symbol]} {{rt_pricing_policy.pack_price_#{length}h | numberBr}}
          / input hidden has a bug with angular and ng-model
          input.hidden name="pricing_policy[room_type_pricing_policies_attributes][{{$index}}][pack_price_#{length}h]" ng-model="rt_pricing_policy.pack_price_#{length}h" readonly="readonly" type="text"

    tr
      td
        | #{t('views.hotel.pricing_policies.price_per_extra_person')}
      - Offer::ACCEPTED_LENGTH_OF_PACKS.each do | length |
        td.center
          | #{Hotel::CURRENCY_SYMBOL_REVERSED[hotel.currency_symbol]} {{rt_pricing_policy.extra_price_per_person_for_pack_price_#{length}h | numberBr}}
          / input hidden has a bug with angular and ng-model
          input.hidden name="pricing_policy[room_type_pricing_policies_attributes][{{$index}}][extra_price_per_person_for_pack_price_#{length}h]" ng-model="rt_pricing_policy.extra_price_per_person_for_pack_price_#{length}h" readonly="readonly" type="text"
