- show_password_fields = @user.errors[:current_password].any? || @user.errors[:password].any? || resource.errors[:password_confirmation].any?

- if flash.now[:alert].present?
  .row
    .col-sm-12
      .alert.alert-danger.errors_container
        b
          = t(:please_review_the_problems_below)
        br
        ul
          - if flash[:alert].respond_to?(:each)
            - flash[:alert].each do |error|
              li
                = error
          - else
            li
              = flash[:alert]
.row
  .col-sm-8.col-sm-offset-2.with-padding-bottom
    h1.page-title.text-center
      = t(:my_profile)
    .row
      .col-sm-12
        = simple_form_for @user, url: public_affiliate_user_path, class: 'form-horizontal' do |f|
          .divider.basic-informations
            span
              = t(:basic_informations)
          = f.input :name, input_html: { class: 'big-input col-xs-12'}
          = f.input :gender, collection: gender_select_options, input_html: {class: 'big-input'}, include_blank: false
          .row
            .col-md-12.col-xs-6
              = f.input :birth_date, input_html: { class: 'js-mask-date', value: (@user.birth_date.blank? ? '' : (l @user.birth_date)) }, as: :string
            .col-md-12.col-xs-6
              = f.input :phone_number, input_html: { class: "#{I18n.locale == :pt_br ? 'js-mask-mobile-phone-with-country' : ''}"}
          .divider.identification
            span
              = t(:identifications)
          = f.input :cpf, input_html: { class: 'js-mask-cpf'}
          = f.input :passport
          .divider.address
            span
              = t(:address)
          = country_and_state_select_for(form_builder: f, resource: @user, country: {input_html: { class: 'big-input' }}, state: {input_html: { class: 'big-input'}} )
          = f.input :city, input_html: { class: 'big-input'}
          = f.input :street, input_html: { class: 'big-input'}
          = f.input :number, as: :integer
          = f.input :complement, input_html: { class: 'big-input'}

          .js-change-password-fields id="change-password" name="change-password" style="display: #{show_password_fields ? 'block' : 'none'}"
            .divider.address
              span
                = t(:password)
            = f.input :current_password
            = f.input :password
            = f.input :password_confirmation

          .form-actions.display-table
            .display-table-cell.align-middle
              = link_to t(:change_password), "", class: 'link dark-red js-change-password-show-button cpy-change-password-link'
            .display-table-cell
              = f.button :submit, "#{t(:save)}", class: "btn btn-success pull-right cpy-submit-button"
          .clearfix
