- if there_are_offers_that_cant_be_removed
  javascript:
    yojs.set("there_are_offers_that_cant_be_removed", true);

javascript:
  $('.js-number-of-offers-that-will-be-removed').html("#{number_of_offers_that_will_be_removed}");
  $('.js-number-of-offers-that-cant-be-removed').html("#{number_of_offers_that_cant_be_removed}");

- if number_of_offers_that_will_be_removed == 1
  javascript:
    $('.js-removing-multiple-offers').hide();
- else
  javascript:
    $('.js-removing-single-offer').hide();
- if number_of_offers_that_cant_be_removed == 1
  javascript:
    $('.js-cant-remove-multiple-offers').hide();
- else
  javascript:
    $('.js-cant-remove-single-offer').hide();
