.row
  .col-sm-6
    .row
      .col-sm-12.hotel-photos
        = render partial: "/public/hotel/show/business_room_photos", locals: { hotel: @hotel }

      .col-sm-12
        = render partial: "/public/hotel/show/business_room_description", locals: { hotel: @hotel }
        .row.hidden-xs.hidden-sm
          .col-sm-12
            #map-canvas style="width:100%; height:400px"
  .col-sm-6
    .js-float-right-box
      = render partial: "/public/hotel/show/business_room_offer"




