.row
  .col-sm-12.border-box.with-padding-bottom
    .row
      .col-sm-12
        p.pack-size
          => t(:pack_of)
          span.big => @offer_business_room.pack_in_hours
          = @offer_business_room.pack_in_hours.eql?(1) ? t(:hour).downcase : t(:hours)
        h4.text-center
          = "#{@offer_business_room.checkin_timestamp.strftime("%d/%m/%Y")} #{t(:at)} #{@offer_business_room.checkin_timestamp.strftime("%H:%M")}"
        p.beware.text-center
          | #{ t :beware}:
          - if @hotel.accepts_booking_cancellation?
            - if I18n.locale == :pt_br
              =< "cancelamento da reserva com até #{@hotel.minimum_hours_of_notice} horas de antecedência."
            - elsif I18n.locale == :en
              =< "minimum of #{@hotel.minimum_hours_of_notice} hours in advance for booking cancellation."
            - else
              - raise

          table.table.table-striped.table-hover
            thead
              th.size-60-percent = t (@business_room.is_a_meeting_room? ? :meeting_room_name : :event_room_name)
              th.size-30-percent = t :price
              th.size-10-percent
            tbody
              tr
                td.js-room-type-description
                  = @business_room.send("name_#{I18n.locale}")
                td.bigger.js-room-type-description
                  = number_to_currency(@offer_business_room.price)
                td.js-room-type-description
                  - if can_current_public_user_afford?(price_without_tax: @offer_business_room.price.to_f, pack_in_hours: (params[:length_of_packMTR] || params[:length_of_pack]), room_category: @offer_business_room.room_category)
                    = link_to t(:reserve), new_public_booking_path(price: @offer_business_room.price, checkin_timestamp: ((params[:checkin_dateMTR] || params[:checkin_date]).to_datetime + (params[:checkin_hourMTR] || params[:checkin_hour]).to_i.hours).strftime("%Y-%m-%d %H:%M:%S +0000"), pack_in_hours: (params[:length_of_packMTR] || params[:length_of_pack]), number_of_people: (params[:number_of_peopleMTR] || params[:number_of_people]), business_room_id: @business_room.id), class: "pill green small cpy-reserve-offer-button hidden-sm hidden-xs"
                    = link_to "<i class='fa fa-angle-right'></i>".html_safe, new_public_booking_path(price: @offer_business_room.price, checkin_timestamp: ((params[:checkin_dateMTR] || params[:checkin_date]).to_datetime + (params[:checkin_hourMTR] || params[:checkin_hour]).to_i.hours).strftime("%Y-%m-%d %H:%M:%S +0000"), pack_in_hours: (params[:length_of_packMTR] || params[:length_of_pack]), number_of_people: (params[:number_of_peopleMTR] || params[:number_of_people]), business_room_id: @business_room.id), class: "js-new-booking arrow-right green cpy-reserve-offer-mobile-button hidden-md hidden-lg"

    .row.hidden-md.hidden-lg
      .col-sm-12
        #map-canvas-mobile[style="width:100%; height:400px"]
