.hotel-description
  p.title
    = t :hotel_description
  p.description-text ng-show="fullDescription"
    = hotel.send("description_#{I18n.locale}").gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe
  - descriptionTruncateLength = 170
  p.description-text ng-hide="fullDescription"
    = hotel.send("description_#{I18n.locale}").gsub(/(?:\n\r?|\r\n?)/, '').html_safe.truncate(descriptionTruncateLength)
    .pull-right.hidden-xs.hidden-sm
      - if hotel.send("description_#{I18n.locale}").length >= descriptionTruncateLength
        a.read-more ng-click="fullDescription = true" ng-hide="fullDescription" = t(:read_more) + "..."
        a.read-more ng-click="fullDescription = false" ng-show="fullDescription" = t(:less) + "..."
    .hidden-md.hidden-lg style='text-align: center'
      - if hotel.send("description_#{I18n.locale}").length >= descriptionTruncateLength
        a.read-more ng-click="fullDescription = true" ng-hide="fullDescription"
          i.fa.fa-chevron-circle-down
        a.read-more ng-click="fullDescription = false" ng-show="fullDescription"
          i.fa.fa-chevron-circle-up
    .clearfix









