.row
  .col-sm-6
    .js-float-right-box
      - if @search_exact_match.empty?
        .show-without-exact-match-offers
          = render partial: "/public/hotel/show/without_exact_match_offers"
      - else
        = render partial: "/public/hotel/show/with_exact_match_offers"

  .col-sm-6
    .row
      .col-sm-12.hotel-photos
        = render partial: "/public/hotel/show/hotel_photos", locals: { hotel: @hotel }
      .col-sm-12
        = render partial: "/public/hotel/show/hotel_description", locals: { hotel: @hotel }
      .col-sm-12
        = render partial: "/public/hotel/show/hotel_amenities", locals: { hotel: @hotel }
        .row.hidden-xs.hidden-sm
          .col-sm-12
            #map-canvas style="width:100%; height:400px"
            - if @hotel.is_brazilian
              .law_for_minors #{t(:law_for_minors_html)}

    .row.hidden-md.hidden-lg
      .col-sm-12
        #map-canvas-mobile[style="width:100%; height:400px"]
