.row
  .col-xs-12
    - hotel.photos.each.with_index(1) do | photo, photo_counter |
      .col-xs-4.img ng-show="showPhoto(#{photo_counter})"
        = link_to image_tag(photo.file.url(:small)), photo.file.url, "data-gallery" => "", :title => "#{photo.send("title_#{I18n.locale}")}"

- if hotel.photos.count > 3
  .row
    .col-xs-12.photo-exhibition-toggle-button-wrapper
      a.link.js-photo-exhibition-toggle-button.photo-exhibition-toggle-button href='' ng-click='changePhotoExhibitionMode()'
        i.glyphicon.glyphicon-plus
        => t(:see_more)
    javascript:
      yojs.set('allPhotosShown', false);

- else
  javascript:
    yojs.set('allPhotosShown', true);

javascript:
  yojs.set('seeMore', "#{t(:see_more)}");
  yojs.set('seeLess', "#{t(:see_less)}");
