.modal-header
  button type="button" class="close" data-dismiss="modal" aria-hidden="true" &times;
  h1.modal-title.hidden-xs.hidden-sm
    = t :room_type_details
  h1.modal-title.hidden-lg.hidden-md
    = t(:room) + " " + @room_type.send("full_name_#{I18n.locale}")

.modal-body
  h4.hidden-lg.hidden-md = t(:price) + ": " + number_to_currency(calculate_currency(params[:offer_price].to_i, Hotel::CURRENCY_SYMBOL_REVERSED[@hotel.currency_symbol]), unit: "#{current_currency.money_sign}", precision: 0)
  h4.hidden-xs.hidden-sm = t(:room_type) + ": " + @room_type.send("full_name_#{I18n.locale}")
  p.room-type-description
    = @room_type.send("description_#{I18n.locale}")

  table.hidden-xs.hidden-sm
    tr
      td.size-50-percent.text-center.photo-list
        - @room_type.photos.each do | photo |
          = link_to image_tag(photo.file.url(:small)), photo.file.url, "data-gallery" => "#blueimp-gallery-secondary", :title => "#{photo.send("title_#{I18n.locale}")}"
      td.text-center.size-30-percent
        h3 = number_to_currency(calculate_currency(params[:offer_price].to_i, Hotel::CURRENCY_SYMBOL_REVERSED[@hotel.currency_symbol]), unit: "#{current_currency.money_sign}", precision: 0)
      td.text-center.size-20-percent
        = link_to t(:reserve), new_public_booking_path(price: params[:offer_price], checkin_timestamp: (params[:checkin_date].to_datetime + params[:checkin_hour].to_i.hours).strftime("%Y-%m-%d %H:%M:%S +0000"), pack_in_hours: params[:length_of_pack], room_type_id: @room_type.id, number_of_people: params[:number_of_people]), class: "btn green big cpy-reserve-offer-button"

  .hidden-lg.hidden-md
    .row
      - @room_type.photos.each do | photo |
        .col-xs-6 style="text-align: center"
          = link_to image_tag(photo.file.url(:small)), photo.file.url, "data-gallery" => "#blueimp-gallery", :title => "#{photo.send("title_#{I18n.locale}")}", class: 'room-type-photos'
    .row style="text-align: center"
      = link_to t(:reserve), new_public_booking_path(price: params[:offer_price], checkin_timestamp: (params[:checkin_date].to_datetime + params[:checkin_hour].to_i.hours).strftime("%Y-%m-%d %H:%M:%S +0000"), pack_in_hours: params[:length_of_pack], room_type_id: @room_type.id, number_of_people: params[:number_of_people]), class: "btn green big cpy-reserve-offer-button"

  .modal-footer.hidden-xs.hidden-sm
    a data-dismiss="modal"
      = t :close
