- unless @search_similar_match.empty?
  .row
    .col-sm-12.border-box#similar-offers
      .row
        .col-sm-12
          h3.similar-offers-title
            = "#{t(:similar_offers)}:"

          span.subtitle
            = t :we_didnt_find_exact_offers_based_on_your_search

          p.hint
            => t :click_on_the_icon
            span.glyphicon.glyphicon-question-sign
            =<   t :to_see_more_details_about_the_room_type

      .row
        .col-sm-12
          = hotel_on_request_box_button if @hotel.booking_on_request
          = hotel_on_request_explanation if @hotel.booking_on_request
          p.beware.text-center
            | #{ t :beware}:
            - if params[:checkin_date].present? && @hotel.accepts_booking_cancellation? && cancelation_allowed?(params[:checkin_date].to_date, params[:checkin_hour].to_i.hours)
              = t(:hotel_minimum_hours_of_notice, day_of_notice: calculate_cancelation_date(params[:checkin_date].to_date, params[:checkin_hour].to_i.hours))
            - else
              =< "#{t(:this_hotel_does_not_accept_cancellation)}."

            br/
            - unless @hotel.service_tax.blank? || @hotel.service_tax == 0
              span
                = t("hotel_service_tax_explanation", service_tax: @hotel.service_tax.to_s)

      br/
      .js-similar-offers-list
        = render partial: '/public/hotel/show/similar_offers_list'

javascript:
  $('#booking_request_tooltip').on('click', function(){
    if ($('#booking_request_tooltip_explanation').hasClass('hide')){
      $('#booking_request_tooltip_explanation').removeClass('hide')
    }else{
      $('#booking_request_tooltip_explanation').addClass('hide')
    }
  })
