/ Doing this because simple form will try to build the urls based on user and not on employee
/ Example: the create url will be company_users_path, so we need to define the urls by hand
- if params[:action].in? ['edit', 'update']
  - url = company_employee_path(employee.id)
- else
  - url = company_employees_path

= simple_form_for employee, url: url do |f|

  = render partial: 'company/employees/_form/general', locals: {f: f, employee: employee}

  /= render partial: 'company/employees/_form/address', locals: {f: f, employee: employee}

  /= render partial: 'company/employees/_form/budget', locals: {f: f}

  = form_submit_section
