= header_section(title: 'Listando Usuários')

- if @employees.any?
  = render partial: 'company/employees/_index/list', locals: { employees: @employees }
- else
  .alert.alert-info
    | Não há usuários cadastrados.
