= header_section title: 'Visualizando Usuário', right_links: (link_to "Acessar como este funcionário".html_safe, authenticate_as_company_employee_path(id: @employee.id), method: :post, class: 'btn btn-sm btn-success cpy-log-in-as-employee pull-right', title: 'Acessar como este funcionário', target: '_blank')

= panel_section do
  = show_for @employee do |u|
    = render partial: 'company/employees/_show/general_informations', locals: { u: u, employee: @employee}

    = render partial: 'company/employees/_show/address', locals: { u: u, employee: @employee}

    /= render partial: 'company/employees/_show/budget', locals: { u: u, employee: @employee}

    = render partial: 'company/employees/_show/bookings', locals: { u: u, employee: @employee}


  = show_panel_buttons_section
