body.public-affiliate-layout
  .footer
    background-image: image_url('bg_haus_texture.jpg')
    background-repeat: repeat
    position: relative
    min-width: $container-desktop

  #footer
    background-color: #1f1f1f
    width: 982px
    display: block
    margin: 0 auto
    img
      display: block
      margin: 0 auto
      top: 50%
      bottom: 50%
      transform: translateY(-50%, -50%)
