body.public-affiliate-layout
  .header
    #logo
      width: 230px
      height: auto
      position: absolute
      margin-top: 20px
      margin-left: 80px

      img
        width: 265px
        height: auto

    .header
      float: right
      margin-right: 40px
      height: 86px
      margin-bottom: 15px

    .top-menu
      background: #efefef
      min-width: $container-desktop

      ul
        list-style-type: none
        text-align: center
        padding-left: 0px
        margin-bottom: 0px
        margin: 0 50px 0 40px

        li

          a
            color: #555555
            font-size: 12px
            letter-spacing: 1px
            display: block
            padding: 18px 8px 14px 8px

            &:hover
              color: rgb(201, 201, 201)

      .language-and-customer-service-links
        display: inline-block
        line-height: 15px
        margin-left: 13px
        a.customer-service-link
          color: #555555
          font-size: 12px
          letter-spacing: 1px
          margin-right: 20px
          &:hover
            color: rgb(201, 201, 201)
        a
          line-height: 15px
          display: inline-block
          margin: 0px 4px
          height: 15px

      &.taller
        height: 148px

    .main-menu
      padding: 26px 0px
      border-bottom: 1px solid #CCCCCC
      background: white
      .menu-grid
        position: relative
        .fb-like
          position: absolute
          top: -8px
          right: -40px
      .logo-wrapper
        position: relative
        .logo a
          padding: 8px 0px
          display: block



      .hello
        margin-right: 10px
        letter-spacing: 1px
        font-size: 13px

      .menu-wrapper
        margin-right: 30px
        cursor: pointer
        z-index: 1040

      a.btn
        display: inline-block
        margin-right: 10px
        font-weight: 400

      .inline-links
        display: inline-block
        a
          display: inline-block
        ul
          display: inline-block
          line-height: 45px
          margin-bottom: 0px
          padding-left: 40px

          li
            display: inline-block
            a
              color: #2a3127
              letter-spacing: 1px
              padding: 0px 20px
              font-size: 15px

      &.floating
        background: white
        position: fixed
        width: 100%
        z-index: 1000
        top: 0px
