- content_for(:title) { "Sua senha" }
p Olá Executivo, #{@executive_responsible.name}! Seja bem-vindo ao HotelQuando.com.
p Sua Conta foi cadastrada na nossa plataforma. Seus dados para acesso são:
p.small
  span.gray login:&nbsp;
  span = @executive_responsible.login

p.small
  span.gray senha:&nbsp;
  span = @executive_responsible.password

p Para acessar seu painel clique no link abaixo:
p = link_to executive_responsible_root_url, executive_responsible_root_url

