- right_links = ''
- unless current_hotel_hotel.meeting_room_offers.count == 0
  - right_links = link_to('<span class="glyphicon icon-list"></span> Listar'.html_safe, { action: 'show_all' }, class: 'btn btn-sm  btn-info pull-right margin-left-2-percent')
  - right_links += link_to('<span class="glyphicon glyphicon-minus"></span> Remover'.html_safe, { action: 'remove' }, class: 'btn btn-sm btn-danger pull-right cpy-remove-link margin-left-2-percent')
  - right_links += link_to('<span class="glyphicon icon-info-sign"></span> Relatórios'.html_safe,  hotel_meeting_room_offers_creator_logs_path, class: 'btn btn-sm btn-warning pull-right cpy-add-link margin-left-2-percent')
- right_links += link_to('<span class="glyphicon glyphicon-plus"></span> Adicionar'.html_safe, { action: :new }, class: 'btn btn-sm btn-success pull-right cpy-add-link')

- content = content_tag(:div, class: 'page-header') do
  - content_tag(:h1) do
    -("<span class='text'>Listando ofertas</span>" + right_links.to_s).html_safe
= content

