.public-affiliate-layout.public-affiliate-passwords-controller.edit-action,
.public-affiliate-layout.public-affiliate-passwords-controller.update-action
  label
    width: 170px
    margin-left: -66px

  .public_user_password_confirmation
    label
      padding: 0px
