.col-xs-12#footer
  .col-sm-6.text-center
    .row
      i.glyphicon.glyphicon-earphone
    .row
      .phonenum + 55 (31) 3689-2600
    .row
      .email
        a.track-email href="mailto:reservas@linxconfins.com.br" 
          | reservas@linxconfins.com.br
  .col-sm-6.text-center
    .row
      i.glyphicon.glyphicon-map-marker
    .row
      .address Rodovia LMG 0800, KM 7,9
    .row
      .city Confins, Minas Gerais, 33400000, Brasil
