h3.header.smaller.lighter.green
  | #{t("views.admin.hotels.pricing_policy")}
- if @hotel.event_room_pricing_policies.first
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          = t(:name)
        th.center
          = t(:completed?)
        th.center.size-25-percent
          = t(:actions)
    tbody
      - @hotel.event_room_pricing_policies.order(:name).each do | pricing_policy |
        tr
          td.center.size-40-percent
            = pricing_policy.name
          td.center
            = pricing_policy.completed? ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_hotel_event_room_pricing_policy_path(id: pricing_policy.id, hotel_id: @hotel.id), class: 'btn btn-xs btn-success cpy-show-button'
- else
  .alert.alert-info
    | #{t("views.admin.hotels.hotel_has_no_pricing_policy")}
