h3.header.smaller.lighter.green
    | #{t("views.admin.hotels.event_halls")}

- if @hotel.event_rooms.first
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          = t(:name)
        th.center
          = t(:actions)
    tbody
      - @hotel.event_rooms.each do |event_room|
        tr
          td.center.size-70-percent
            = event_room.name_pt_br
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_hotel_event_room_path(id: event_room.id, hotel_id: @hotel.id), class: 'btn btn-xs btn-success cpy-room-type-show-button'
            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_hotel_event_room_path(id: event_room.id, hotel_id: @hotel.id), class: 'btn btn-xs btn-info cpy-room-type-edit-button'
- else
  .alert.alert-info
    | #{t("views.admin.hotels.hotel_has_no_event_hall_registered")}
