= show_for @hotel do |u|
  .pull-left.size-50-percent
    = u.attribute :name
    = u.attribute :login
    = u.attribute :omnibees_code
    = u.attribute :category
    = u.attribute :booking_on_request, label: 'Aceita reserva sob demanda'

    = multilanguage_attribute_show_for(:description, u)
    - unless @hotel.cnpj == ''
      = u.attribute :cnpj
    - if @hotel.accepts_booking_cancellation?
      = u.attribute :minimum_hours_of_notice, value: @hotel.minimum_hours_of_notice.to_s + t("views.admin.hotels.hours")
    - else
      = u.attribute :minimum_hours_of_notice, value: t("views.admin.hotels.hotel_no_cancellation_allowed")

    = u.attribute :iss_in_percentage, value: number_to_percentage(@hotel.iss_in_percentage, precision: 1)
    = u.attribute :comission_value, value: number_to_currency(@hotel.comission_value)

    //= u.attribute :fee_on_charge, value: number_to_currency(@hotel.fee_on_charge)
    //= u.attribute :financial_costs, value: number_to_percentage(@hotel.financial_costs, precision: 2)

    - unless @hotel.contact_name == ''
      = u.attribute :contact_name
    - unless @hotel.contact_phone == ''
      = u.attribute :contact_phone
    = u.attribute :email
    = u.attribute :notice_emails
    = u.attribute :notice_emails_meeting_room

    - if @hotel.locale.present?
      = u.attribute t('users.locale'), value: hotel_locale(@hotel)

    = multilanguage_attribute_show_for(:payment_method, u)
    .attributes-wrapper.hotel_accept_online_payment
      .attribute-title
        | #{t("views.admin.hotels.accepts_online_payment")}
      .content
        i.bigger-100 class="icon-#{@hotel.accept_online_payment ? 'ok' : 'remove'}"
    
    .attributes-wrapper.hotel_accept_invoiced_payment
      .attribute-title
        | #{t("views.admin.hotels.accepts_invoiced_payment")}
      .content
        i.bigger-100 class="icon-#{@hotel.accept_invoiced_payment ? 'ok' : 'remove'}"

    - if @hotel.accept_invoiced_payment
      .attributes-wrapper.hotel_accept_invoiced_by_agency
        .attribute-title
          | #{t("views.admin.hotels.accept_invoiced_by_agency")}
        .content
          i.bigger-100 class="icon-#{@hotel.accept_invoiced_by_agency ? 'ok' : 'remove'}"

    .attributes-wrapper.hotel_currency_symbol
      .attribute-title
        | #{t("views.admin.hotels.currency")}
      .content
        = Hotel::CURRENCY_SYMBOL_REVERSED[@hotel.currency_symbol]




  .pull-left.size-50-percent
    p
      b = t("views.admin.hotels.address")

    - unless @hotel.complement == ''
      p = @hotel.street.to_s + ", " + @hotel.number.to_s + ", " + @hotel.complement.to_s
    - else
      p = @hotel.street.to_s + ", " + @hotel.number.to_s
    p = @hotel.city.name + " - " + @hotel.state.to_s
    - unless Rails.env.test?
      = image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{@hotel.latitude},#{@hotel.longitude}&zoom=13&size=400x300&maptype=roadmap&markers=color:red%7Clabel:#{@hotel.name}%7C#{@hotel.latitude},#{@hotel.longitude}&sensor=false", class: "responsive-image")
  .clearfix
