h3.header.smaller.lighter.green
  | #{t("views.admin.hotels.lower_prices_per_package")}

- if !@hotel.minimum_available_offer_price_for_each_pack.empty?
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | #{t("views.admin.hotels.package")}
        th.center
          | #{t("views.admin.hotels.price")}
        th.center.size-25-percent
          | #{t("views.admin.hotels.actions")}
    tbody
      - @hotel.minimum_available_offer_price_for_each_pack.each do | (pack_size, min_price) |
        tr
          td.center.size-40-percent
            = "#{pack_size} horas"
          td.center
            = number_to_currency min_price
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_hotel_minimum_offers_price_show_path(hotel_id: @hotel.id, pack_in_hours: pack_size), class: 'btn btn-xs btn-success cpy-show-offers-with-lowest-price-button'
- else
  .alert.alert-info
    | #{t("views.admin.hotels.hotel_has_no_offer_registered")}
