h3.header.smaller.lighter.green
    | #{t("views.admin.hotels.meeting_room")}

- if @hotel.meeting_rooms.first
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          = t(:name)
        th.center
          = t(:actions)
    tbody
      - @hotel.meeting_rooms.each do |meeting_room|
        tr
          td.center.size-70-percent
            = meeting_room.name_pt_br
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_hotel_meeting_room_path(id: meeting_room.id, hotel_id: @hotel.id), class: 'btn btn-xs btn-success cpy-room-type-show-button'
            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_hotel_meeting_room_path(id: meeting_room.id, hotel_id: @hotel.id), class: 'btn btn-xs btn-info cpy-room-type-edit-button'
- else
  .alert.alert-info
    | #{t("views.admin.hotels.hotel_has_no_meeting_room")}
