h3.header.smaller.lighter.green
    | #{t("views.admin.hotels.room_types")}

- if @hotel.room_types.first
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          = t(:name)
        th.center
          = t(:number_of_rooms)
        th.center
          = t(:actions)
    tbody
      - @hotel.room_types.each do |room_type|
        tr
          td.center.size-60-percent
            = room_type.full_name_pt_br
          td.center
            = Room.by_room_type_id(room_type.id).count()
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_hotel_room_type_path(id: room_type.id, hotel_id: @hotel.id), class: 'btn btn-xs btn-success cpy-room-type-show-button'
            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_hotel_room_type_path(id: room_type.id, hotel_id: @hotel.id), class: 'btn btn-xs btn-info cpy-room-type-edit-button'
- else
  .alert.alert-info
    | #{t("views.admin.hotels.hotel_has_no_room_registered")}
