.image-and-describe.text-center
  .title
    | Does your hotel sell packages of hours yet?
  .describe
    | Learn more about the innovation that has been generating a new revenue to hotels all around the world

.container ng-controller= 'PublicBeOurPartnerController'
  .row
    .col-sm-12.flash-message.js-flash-message
       = display_flash_message

  .row
    .col-xs-12.border-box.with-padding
      .row
        = render partial: "public/home/be_our_partner/en/about_us"
      .divider
      .row
        = render partial: "public/home/be_our_partner/en/big_hotels"
      .divider
      .row
        = render partial: "public/home/be_our_partner/en/why_sale"
      .divider
      .row
        = render partial: "public/home/be_our_partner/en/how_much"
      .divider
      .row
        = render partial: "public/home/be_our_partner/en/cadaster_hotel"
      .divider

  = render partial: "public/home/be_our_partner/en/modal_terms_of_use"

  .clearfix

    javascript:
      yojs.set('hotelName', "#{params[:hotel_name]}")
      yojs.set('phone', "#{params[:phone]}")
      yojs.set('emailForContact', "#{params[:email_for_contact]}")
      yojs.set('contactName', "#{params[:contact_name]}")
      yojs.set('contactRole', "#{params[:contact_role]}")
      yojs.set('country', "#{params[:country]}")
      yojs.set('city', "#{params[:city]}")
      yojs.set('idSkype', "#{params[:id_skype]}")
      // yojs.set('termsOfUse', "#{params[:terms_of_use]}")
