.image-and-describe.text-center
  .title
    | ¿Su hotel ya ofrece habitaciones por horas?
  .describe
    | Aprenda más sobre esta nueva tendencia de mercado que está generando nuevas fuentes de ingreso para los hoteles alrededor del mundo

.container ng-controller= 'PublicBeOurPartnerController'
  .row
    .col-sm-12.flash-message.js-flash-message
       = display_flash_message

  .row
    .col-xs-12.border-box.with-padding
      .row
        = render partial: "public/home/be_our_partner/es/about_us"
      .divider
      .row
        = render partial: "public/home/be_our_partner/es/big_hotels"
      .divider
      .row
        = render partial: "public/home/be_our_partner/es/why_sale"
      .divider
      .row
        = render partial: "public/home/be_our_partner/es/how_much"
      .divider
      .row
        = render partial: "public/home/be_our_partner/es/cadaster_hotel"
      .divider

  = render partial: "public/home/be_our_partner/es/modal_terms_of_use"

  .clearfix

    javascript:
      yojs.set('hotelName', "#{params[:hotel_name]}")
      yojs.set('phone', "#{params[:phone]}")
      yojs.set('emailForContact', "#{params[:email_for_contact]}")
      yojs.set('contactName', "#{params[:contact_name]}")
      yojs.set('contactRole', "#{params[:contact_role]}")
      yojs.set('country', "#{params[:country]}")
      yojs.set('city', "#{params[:city]}")
      yojs.set('idSkype', "#{params[:id_skype]}")
      // yojs.set('termsOfUse', "#{params[:terms_of_use]}")
