h3.header.lighter.smaller.green = t("views.admin.hotel_reports.reservations_paid_at_hotel")
table.table.table-striped.table-bordered.table-hover.cpy-bookings-info
  tr
    td.text-right
      | #{t("views.admin.hotel_reports.reservations_total")}
    td.cpy-total
      = invoice[:info][:bookings_paid_at_the_hotel][:total]

  tr
    td.text-right
      | #{t("views.admin.hotel_reports.reservations_total_value")}
    td.cpy-total-value
      = number_to_currency invoice[:info][:bookings_paid_at_the_hotel][:total_value]

  tr
    td.text-right
      | #{t("views.admin.hotel_reports.total_discounting_iss")}
    td.cpy-total-value-without-iss
      = number_to_currency invoice[:info][:bookings_paid_at_the_hotel][:total_value_without_iss]

  tr
    td.text-right
      | #{t("views.admin.hotel_reports.hotelquando_comission")}
    td.cpy-comission
      = number_to_currency invoice[:info][:bookings_paid_at_the_hotel][:comission]

  tr
    td.text-right
      | #{t("views.admin.hotel_reports.hotequando_tax")}
    td.cpy-booking-tax
      = number_to_currency invoice[:info][:bookings_paid_at_the_hotel][:booking_tax]
