.image-and-describe_en
.container
	.row
		.col-sm-12.flash-message.js-flash-message
			 = display_flash_message
	.row
		.col-xs-12.border-box.with-padding
			.row
				|<h2> Welcome to HotelQuando summer!</h2><p>
				| 12/21, the day that marks the beginning of our dear summer! Sun, warmth, shorts / bikini, beach sandals and pool! What? Do not have a pool? No problem!<p>

				|Guarantee 3 hours in the best hotels in your city, twice a month, for R$ 180.00!
				<p>
				| You can make your reservations from 12/21/2017 until 03/31/2018.

				
			.row
				.title
					|São Paulo
				- @sao_paulo.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Rio de Janeiro
				- @rio_de_janeiro.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						
			.row
				.title
					|Curitiba
				- @curitiba.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Florianópolis
				- @florianopolis.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Goiânia
				- @goiania.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}

			.row
				.title
					|Brasília
				- @brasilia.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Salvador
				- @salvador.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Belo Horizonte
				- @belo_horizonte.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}

			.row
				.title
					|Campinas
				- @campinas.each do |hotel|
					.col-lg-4.col-md-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Porto Alegre
				- @porto_alegre.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
