.image-and-describe_es
.container
	.row
		.col-sm-12.flash-message.js-flash-message
			 = display_flash_message
	.row
		.col-xs-12.border-box.with-padding
			.row
				|<h2>¡Bienvenido al verano HQ!</h2><p>
				| 21/12, el día que marca el inicio del tan querido verano! ¡Sol, calor, bermuda / bikini, chanclas y piscina! ¿Qué? ¿No tiene piscina? ¡Sin problemas!<p>

				| ¡Garantiza 3 horas en los mejores hoteles de tu ciudad, 2x en el mes, por R$ 180,00!
				<p>
				| Podrá hacer sus reservas del día 21/12/2017 hasta 31/03/2018.

				
			.row
				.title
					|São Paulo
				- @sao_paulo.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Rio de Janeiro
				- @rio_de_janeiro.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Curitiba
				- @curitiba.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Florianópolis
				- @florianopolis.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
						

			.row
				.title
					|Goiânia
				- @goiania.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
			.row
				.title
					|Brasília
				- @brasilia.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Salvador
				- @salvador.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Belo Horizonte
				- @belo_horizonte.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}

			.row
				.title
					|Campinas
				- @campinas.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}


			.row
				.title
					|Porto Alegre
				- @porto_alegre.each do |hotel|
					.col-lg-4.col-sm-6.col-xs-6.text-center
						.unity_discount
							= link_to public_hotel_path(id: hotel.id, name: hotel.name.parameterize) do
								.hotel_image
									= hotel.photos.first.present? ? image_tag(hotel.main_photo_url) : image_tag('room-night-background.jpg')
									h2.main_hotel_name #{link_to hotel.name, public_hotel_path(id: hotel.id, name: hotel.name.parameterize)}
