h3.center.header.lighter.green.description-title
  = t(:personal_informations)
.row
  .col-sm-6
    .attributes-wrapper.booking_guest_name
      .attribute-title
        = t('bookings.guest_name') + ':'
      .content
        => @travel_request.user.name

  .col-sm-6
    .attributes-wrapper.booking_note
      .attribute-title
        = t(:observations) + ':'
      .content.form-control-static editable-text="booking.note" e-name="booking[note]" e-class='angular-form-input booking-note-input'
        => @travel_request.comments_traveler