- @travel_request.airs.order('id ASC').each_with_index do |air, index|
  	- count = index + 1
  	h3.description-title
   	 = t('airline.going ') + count.to_s 
	
	.row
	  .col-sm-3
	    .attributes-wrapper.booking_pack_size
	      .attribute-title
	        = t('airline.origin')
	      .content
	        => air.origin

	  .col-sm-3
	    .attributes-wrapper.booking_pack_size
	      .attribute-title
	        | #{t("destination")}:
	      .content
	        => air.destiny

	  .col-sm-3
	    .attributes-wrapper.booking_pack_size
	      .attribute-title
	        | #{t("airline.locator")}:
	      .content
	        => air.cia_locator
	  .col-sm-3
	    .attributes-wrapper.booking_pack_size
	      .attribute-title
	        | #{t("airline.flight_duration")}:
	      .content
	        => air.flight_duration

	br
	.row
	  .col-sm-4
	    .attributes-wrapper.booking_pack_size
	      .attribute-title
	        | #{t("airline.seat")}:
	      .content
	        => air.seat

	  .col-sm-4
	    .attributes-wrapper.booking_pack_size
	      .attribute-title
	        | #{t("airline.is_included_hand_baggage")}?
	      .content
	        => air.is_included_hand_baggage ? "Sim" : "Não"

	  .col-sm-4
	    .attributes-wrapper.booking_pack_size
	      .attribute-title
	        | #{t("airline.how_many")}? 
	      .content
	        => air.number_baggage_dispatch

	br
	.row
	  .col-sm-3
	    .attributes-wrapper.booking_pack_size
	      .attribute-title
	        | #{t("airline.departure_date")}:
	      .content
	        => l air.departure_date 
	        => air.departure_time 

	  .col-sm-3
	    .attributes-wrapper.booking_pack_size
	      .attribute-title
	        | #{t("airline.arrival_date")}:
	      .content
	      	- if air.arrival_date != nil
	      		=> l air.arrival_date
	      		=> air.arrival_time
	      	-else
	      		=> air.arrival_date
	  .col-sm-3
	    .attributes-wrapper.booking_pack_size
	      .attribute-title
	        | #{t("airline.airline")}:
	      .content
	        => air.airline

	  .col-sm-3
	    .attributes-wrapper.booking_pack_size
	      .attribute-title
	        | #{t("airline.ticket")}:
	      .content
	        => air.ticket

	br
	.row
	  .col-sm-3
	    .attributes-wrapper.booking_pack_size
	      .attribute-title
	        = t('airline.air_fare')
	      .content
	        = number_to_currency(air.air_taxe.fare, unit: TravelRequest::CURRENCY_SYMBOL_REVERSED[1])
	  .col-sm-3
	    .attributes-wrapper.booking_pack_size
	      .attribute-title
	        = t('airline.boarding_fee')
	      .content
	        = number_to_currency(air.air_taxe.boarding_taxes, unit: TravelRequest::CURRENCY_SYMBOL_REVERSED[1])
	  .col-sm-3
	    .attributes-wrapper.booking_pack_size
	      .attribute-title
	        = t(:booking_tax)
	      .content
	        = number_to_currency(air.air_taxe.taxe_hq, unit: TravelRequest::CURRENCY_SYMBOL_REVERSED[1])
	        