h3.description-title
  = t(:status)
.row
  .col-sm-12
    .attributes-wrapper.booking_status
      .attribute-title
        = t(:confirmation) + ':'
      .content.status-value
        - TravelRequest::ACCEPTED_PAYMENT_STATUS.each do | k, v |
          - if @travel_request.payment_status == v
            = t("views.travel_request.payment_status." << k.to_s )

h3.description-title
  = t(:status)
.row
  .col-sm-12
    .attributes-wrapper.booking_status
      .attribute-title
        = t(:confirmation) + ':'
      .content.status-value
        - TravelRequest::ACCEPTED_PAYMENT_STATUS.each do | k, v |
          - if @travel_request.reservation_status == v
            = t("views.travel_request.payment_status." << k.to_s )