h3.description-title
  = t(:prices)

.row
  .col-sm-12
    .display-table-cell
        .attributes-wrapper.booking_total_value
          .attribute-title.price-attribute-title
            = t(:total_value)
          .content.price-content
             = number_to_currency(@travel_request.total, unit:  TravelRequest::CURRENCY_SYMBOL_REVERSED[1])
