h3.description-title
  = t(:schedule)
.row
  .col-sm-6
    .col-sm-3
      .attributes-wrapper.booking_checkin
        .attribute-title.checkin-title
          = t(:checkin) + ':'
    .col-sm-8
      .booking-date-hour.checkin
        .attributes-wrapper.booking_checkin_date
          .attribute-title
            = t(:date_word) + ':'
          .content
        .attributes-wrapper.booking_checkin_hour
          .attribute-title
            = t(:hour) + ':'
          .content

  .col-sm-6
    .col-sm-3
      .attributes-wrapper.booking_checkout
        .attribute-title.checkout-title
          = t(:checkout) + ':'

    .col-sm-8
      .booking-date-hour.checkout
        .attributes-wrapper.booking_checkout_date
          .attribute-title
            = t(:date_word) + ':'
          .content
        .attributes-wrapper.booking_checkout_hour
          .attribute-title
            = t(:hour) + ':'
          .content
