= simple_form_for [:admin, currency] do |f|
  = f.input :name
  = f.input :country, collection: Country.all.order("name_#{I18n.locale}").pluck("name_#{I18n.locale}", :iso_initials), include_blank: false
  = f.input :money_sign
  = f.input :code
  = f.hint  t(:code_currency_hint), class: 'col-sm-offset-3 hint'
  = f.input :value, as: :string, input_html: { class: 'value', value: ("%.2f" % @currency.value.to_f).to_s }
  = form_submit_section

javascript:
  $(".value").maskMoney({prefix: '', allowNegative: false, allowZero: true, defaultZero: true, thousands: '.', decimal: ',' , affixesStay : true});
  $('.value').each(function(){ // function to apply mask on load!
    $(this).maskMoney('mask', $(this).val());
  });
