- if Currency.in_day(DateTime.now).exists? || Currency.count == 0
  = header_section title: t("views.admin.currencies.list_currencies")
- else
  = header_section(title: t("views.admin.currencies.list_currencies"), right_links: (link_to t("views.admin.currencies.daily_update"), update_all_admin_currencies_path, class: 'btn btn-sm btn-success pull-right cpy-add-link'))

- if @currencies.length == 0
  .alert.alert-info
    = t(:none_female) + ' ' + t("views.admin.currencies.currency") + ' ' + t(:registered_female) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center.size-40-percent
          | #{t("views.admin.currencies.name")}
        th.center.size-10-percent
          | #{t("views.admin.currencies.country")}
        th.center.size-10-percent
          | #{t("views.admin.currencies.currency_sign")}
        th.center.size-10-percent
          | #{t("views.admin.currencies.value")}
        th.center.size-10-percent
          | #{t("views.admin.currencies.actions")}
    tbody
      - @currencies.each do |currency|
        tr.center
          td
            = t(currency.name)
          td
            = currency.country
          td
            = currency.money_sign
          td
            = ("%.2f" % currency.value.to_f)
          td.action-list.center
            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_currency_path(currency.id), class: 'btn btn-xs btn-info cpy-edit-hotel-link'
