= header_section title: t("views.admin.currencies.update_currency")

= form_tag update_all_admin_currencies_path, method: :put, class: 'form-horizontal' do
  - @currencies.each do | currency |
    = fields_for "currencies[]", currency[1].first do | c |
      .form-group
        = label_tag '', currency[1].first.name, class: 'control-label col-sm-2'
        .col-sm-5
          = c.text_field :value, class: 'form-control value'
        = c.hidden_field :name
        = c.hidden_field :country
        = c.hidden_field :money_sign
        = c.hidden_field :code

  .row
  .form-actions.wizard-actions.form-buttons
    button.btn.pull-right.btn-primary.btn-success name="commit" type="submit"
      span
        = t(:save)
      i.icon-arrow-right.icon-on-right
    = link_to :back, class: "btn btn-prev" do
      i.icon-arrow-left
      = t(:return)

    .clearfix


javascript:
  $(".value").maskMoney({prefix: '', allowNegative: false, allowZero: true, defaultZero: true, thousands: '.', decimal: ',' , affixesStay : true});
  $('.value').each(function(){ // function to apply mask on load!
    $(this).maskMoney('mask', $(this).val());
  });
