nav.main-menu-mobile.js-float-menu.navbar.navbar-default.hidden-sm.hidden-md.hidden-lg
  .container-fluid
    .navbar-header
      .language-wrapper.col-xs-8
        = link_to image_tag('logo-nobile.png'), public_affiliate_root_path, id: "logo"
      .language-mobile.col-xs-2.nobile-language
        = link_to image_tag('pt-br-locale.jpg'), params.merge(locale: "pt_br", lang: "pt-br")
        = link_to image_tag('en-locale.jpg'), params.merge(locale: "en")
        = link_to image_tag('es-locale.jpg'), params.merge(locale: "es")
      .col-xs-2.pull-right
        button.navbar-toggle.collapsed.sidemenu-currency type="button" data-toggle="collapse" data-target="#navbar-collapse-currency"
          span.current = Currency.by_money_sign(cookies[:currency]).first.money_sign
    .collapse.navbar-collapse#navbar-collapse-currency
      ul.nav.navbar-nav.sidemenu-currency
        li.menu-item
          - Currency.group_by_name.each do |name, currency|
            = link_to params.merge(currency: currency[0].money_sign), class: 'menu-item-link' do
              span.symbol = currency[0].money_sign

.hidden-xs.inline-block.header-nav
  = link_to image_tag('logo-nobile.png'), public_affiliate_root_path, id: "logo"
  .menu-wrapper.js-menu-currency-current.pull-right.nobile-currency
    span.current = Currency.by_money_sign(cookies[:currency]).first.money_sign
    .user-dropdown-menu.current-currency-dropdown-menu.js-currency-current-dropdown-menu
      .arrow-up
      div.col-md-12.current-currencies
        - Currency.limit(2).group_by_name.each do |name, currency|
          div.col-md-6.current-currency class=(its_currency_current?(currency[0]) ? 'activate' : '')
                = link_to params.merge(currency: currency[0].money_sign), class: 'text-center' do
                  span.symbol
                    = currency[0].money_sign
  .language-and-customer-service-links.pull-right.nobile-language
    = link_to image_tag('pt-br-locale.jpg'), params.merge(locale: "pt_br", lang: "pt-br")
    = link_to image_tag('en-locale.jpg'), params.merge(locale: "en")
    = link_to image_tag('es-locale.jpg'), params.merge(locale: "es")
