.search-hotels-wrapper
  .search-box.js-headline-search
    = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/mobile_search_form_content", affiliate_hotels: @affiliate_hotels

.index_container
  .search-hotels-wrapper
  .row.describe-home.text-center.no-margin
    .col-md-12.hidden-xs
    .col-md-6.hq_search.pull-left
    .col-md-6.hq_search.pull-right
      .row
        .scroller_mobile
          - 1.upto(2) do |i|
            = image_tag("banner_nobile_slider_#{i}.jpg", style: 'height: 279px !important;')

    .title_container.index_container
      h3.highlights_title
        .line
        span.highlights.text_spacement = t('views.affiliates.nobile.highlights')
        .line

  .row.describe-home.text-center.no-margin
    .col-md-6.nobile_search
      = link_to 'https://www.fidcards.com.br/nobileplus/associe-se' do
        .search_box_nobile
    .col-md-6.hq_search
      .search_box_hq
        .row.describe-home.text-center.no-margin.nupcias
            .col-md-12.nupcias_image
              = link_to 'https://nobilechain.book-onlinenow.net/index.aspx?Page=22&Area=&City=&Villa=&portal=83&src=51&adults=2&kids=0&orderby=totalprice%20desc&onlyavail=no' do
                = image_tag('nobile-pacote-de-nupcias.png')
        .row.describe-home.text-center.no-margin.fds
          .col-md-12
            .col-md-6.fds_image
            .col-md-6.romantic
              a.romantic_image href='https://nobilechain.book-onlinenow.net/index.aspx?Page=22&Area=&City=&Villa=&portal=83&src=50&adults=2&kids=0&orderby=totalprice%20desc&onlyavail=no'

  = render partial: "layouts/public_affiliate/personalized_affiliate/nobile/footer"

  javascript:
    $(function(){
      $('.scroller_mobile').slick({
        dots: true,
        mobileFirst: true,
        autoplay: false,
        variableWidth: false,
        slidesToShow: 1
      })
    })
