.index_container
  .row.text-center
    .checkin.text-center style="margin: 18px -11px; text-align: left;"

      .row.checkin-mobile.selectize_field style="text-align: left;"
        .col-xs-12
          = select_tag 'nobile-hotels-select-hq', options_for_select(''), class: "form-control", name: 'nobile[hotel_name]', style: "height: 35px; font-size: 1em; margin-bottom: 12px; width: 455px;"

      .box_line
      .row style="margin-bottom: 14px;"
        .col-md-6
          label.title = "#{t('search_box.checkin')}"
          .checkin-date
            input.js-date-picker.cpy-checkin-date-calendar-input.js-search-date-picker.form-control.js-mask-date ng-model="checkinDate" ng-change='setSearchDate()'

            input.hidden.cpy-checkin-date ng-model="parsedSelectedCheckinDate" name='by_checkin_date'
            input.hidden.cpy-checkin-date ng-model="timezoneSearched" name='by_timezone'
        .col-md-6
          .checkin-hour.col.xs-12
            label.at = "#{t('search_box.at')}"
            - array_hours = []
            - 24.times do | i |
              - array_hours << i
            .hour-and-buttons
              button.minus-checkin-hour ng-click='changeCheckinHour("minus")' type="button"
                span.minus
                  | -
              .hour style='margin: 7px 5px 1px 5px;'
                - if I18n.locale == 'en' || I18n.locale == :en
                  label.no-margin.ng-cloak ng-init="set_checkin_checkout_hour()"
                    | {{checkinHourDate | date: 'ha'}}
                - else
                  label.no-margin ng-bind="checkinHour"
                    | 0
                  label.no-margin
                    | :00
              button.plus-checkin-hour ng-click='changeCheckinHour("plus")' type="button"
                span
                  | +
            .hidden
              = select_tag 'by_checkin_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time size-50-percent', 'ng-model' => 'checkinHour'

      .row
        .col-md-6
          .col-xs-12.pack-size.checkin ng-hide='moreHours' style="width: 227px"
            .packs
              label = "#{t(:pack_size)}"
              .btn-group.btn-group-justified role="group" aria-label="..."
                - Offer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
                  .btn-group role="group"
                    a.btn.btn-default.rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSize == #{pack_size}}" ng-click="selectedPackSize = #{pack_size}; changePackSize()" #{pack_size}h

        .col-md-6
          .checkout-hour.col-xs-12 ng-hide='moreHours'
            .checkout
              label.title-checkout = "#{t('search_box.checkout')}"
              .at-and-hour
                label = "#{t('search_box.at')}"
                .hour
                  - if I18n.locale == 'en' || I18n.locale == :en
                    label.no-margin.ng-cloak
                      | {{checkoutHourDate | date: 'ha'}}
                  - else
                    label.no-margin ng-bind="checkoutHour"
                      | 3
                    label.no-margin
                      | :00
              label.next-day style="display:none" = "#{t('search_box.of_the_next_day')}"
              label.same-day = "#{t('search_box.of_the_same_day')}"

      .box_line
      .row
        .col-md-6
          .people.text-center.col-xs-12
            label.title-people = "#{t('search_box.people')}"
            button.minus-number-of-people ng-click='changeNumberOfPeople("minus")' type="button"
              span.minus
                | -
            .hour
              label ng-bind="numberOfPeople"
                | 1
            button.plus-number-of-people ng-click='changeNumberOfPeople("plus")' type="button"
              span
                | +
            .hidden
              = select_tag '', options_for_select(1..4), "ng-model" => "numberOfPeople"

        .col-md-6
          .col-xs-12.col-sm-3.text-center.pull-right.div-button-search
            .js-tooltip-toggler.tooltip-toggler data-toggle="tooltip" data-placement="bottom" data-html='true' data-original-title="#{t(:the_search_button_was_disabled_for_the_following_reasons)}: {{resonsForDisabledSubmit()}}"
              button.submit-disabled.cpy-disabled-search-button.btn.search-button disabled='disabled' ng-hide='isFormValid()'
                - if params[:controller] == 'public/hotel' && params[:action] == 'index'
                  = t(:modify_search_html)
                - else
                  = t(:perform_search)

            button.cpy-search-button.ng-hide.btn.search-button ng-disabled='!isFormValid()' ng-show='isFormValid()'
              - if params[:controller] == 'public/hotel' && params[:action] == 'index'
                = t(:modify_search_html)
              - else
                = t(:perform_search)
      .box_line

javascript:
  var affiliate_hotels = JSON.parse("#{@affiliate_hotels}".replace(/&quot;/g, "\"").replace(/=&gt;/g, ":"))
  var page_locale = "#{I18n.locale.to_s}".replace(/&quot;/g, "\"")
  var opt_options = []
  var selectize_options = []

  $hq_selectize = $('#nobile-hotels-select-hq').selectize({
    create: false,
    optgroupField: 'class',
    optgroups: [],
    options: [],
    render: {
      optgroup_header: function(item, escape) {
        return '<div class="optgroup-header">' + escape(item.title) + '</div>';
      },
    }
  })
  hq_selectize = $hq_selectize[0].selectize
  var opt_group;
  if(page_locale == 'pt_br' || page_locale == 'pt-BR'){
    opt_group = {
      class: 'TODOS OS HOTEIS',
      title: 'TODOS OS HOTEIS'
    }
  }else{
    opt_group = {
      class: 'ALL HOTELS',
      title: 'ALL HOTELS'
    }
  }
  hq_selectize.addOptionGroup(opt_group.class, opt_group)
  hq_selectize.addOption({class: opt_group.class, value: opt_group.title, text: opt_group.title})

  for(i = 0; i <= Object.keys(affiliate_hotels).length; i++){
    var opt_group = {
      class: affiliate_hotels["cidade_" + i],
      title: affiliate_hotels["cidade_" + i]
    }
    hq_selectize.addOptionGroup(opt_group.class, opt_group)
    hq_selectize.addOption({class: affiliate_hotels["cidade_" + i], value: affiliate_hotels["hotel_name_" + i], text: affiliate_hotels["hotel_name_" + i]})
    hq_selectize.addOption({class: affiliate_hotels["cidade_" + i], value: affiliate_hotels["cidade_" + i], text: affiliate_hotels["cidade_" + i]})
  }

  $('#datepicker-homepage-checkin').datepicker({
    language: 'pt-BR',
    autoclose: true
  })

  $(function(){
  	$.fn.datepicker.dates['pt-BR'] = {
  		days: ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"],
  		daysShort: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sáb"],
  		daysMin: ["Do", "Se", "Te", "Qu", "Qu", "Se", "Sa"],
  		months: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
  		monthsShort: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
  		today: "Hoje",
  		monthsTitle: "Meses",
  		clear: "Limpar",
  		format: "dd/mm/yyyy"
  	};
    if(page_locale == 'pt_br'){
      hq_selectize.setValue('TODOS OS HOTEIS')
    }else{
      hq_selectize.setValue('ALL HOTELS')
    }
  })
