.public-affiliate-bookings-controller.index-action
  .filter
    padding: 20px

    .btn
      margin: 0 10px

    .link
      text-align: center

    .form-group
      margin: 0px

    .form-control
      display: inline-block

    label
      margin-right: 10px
      font-weight: 400

  .table
    margin-top: 10px

    .glyphicon
      margin-right: 0px

    td
      vertical-align: middle

    td.action-list
      width: 100px
      .btn
        display: block
        width: 100%
        margin-bottom: 2px
  .get-started-button.btn
    display: inline-block

