.row
  -if mobile_device?
    div.tabs role="tabpanel"
      ul.nav.nav-tabs role="tablist"
        li role="presentation"
          = link_to t(:already_registered), public_affiliate_user_session_pt_br_path
        li role="presentation" class="active"
          a href="#" aria-controls="registrar" role="tab" data-toggle="tab"
            = t(:arent_registered_yet)

  .col-sm-12
    .hidden-xs.hidden-sm
      h1.text-center.page-title
        = t(:sign_up)
      .divider
    .row
      .col-md-7.hidden-xs.hidden-sm
        .row
          .col-md-12
            .display-table
              .display-table-cell
                .big = t :do_you_like_benefits

                .row
                  .col-md-7
                    .slim-box = t :decide_the_day_and_time_of_checkin
                .row
                  .col-md-7.col-md-offset-4
                    .slim-box = t :decide_how_much_time_you_are_staying_at_hotel
                .row
                  .col-md-7
                    .slim-box = t :pay_per_hours_not_per_day

              .display-table-cell.size-40-percent.align-middle
                .then
                  = t :then_what_are_you_waiting_for
                  =< t :make_your_reservation_right_away
                .arrow = t :register_now

          .row
            .col-md-12
              p.already-registered
                => t :already_have_an_account
                = link_to t(:click_here), new_session_path(resource_name), class: "link green"

      .col-md-5.col-xs-12
        .register-form ng-controller="SignUpCtrl" ng-init="init(#{Country.all.includes(:states).to_json(:include => :states).gsub(/'/, {"'" => "\\'"}).gsub('"', "'").html_safe})"
          = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
            - if flash[:alert]
              p.alert.alert-danger
                = flash[:alert]
            - if devise_error_messages!.present?
              .alert.alert-danger.errors_container
                = devise_error_messages!
            .form-group.name.public_affiliate_user_name
              .row
                .col-xs-4.text-right
                  label.name.control-label.attribute-title for="public_affiliate_user_name"
                    = t(:name)
                .col-xs-8
                  input autofocus="autofocus" class="string name form-control" id="public_affiliate_user_name" name="public_affiliate_user[name]" type="name" value="#{params[:public_affiliate_user][:name] if params[:public_affiliate_user]}"
            .form-group.email.public_affiliate_user_email
              .row
                .col-xs-4.text-right
                  label.email.control-label.attribute-title for="public_affiliate_user_email"
                    | E-mail
                .col-xs-8
                  input class="string email js-email-with-suggestion form-control" id="public_affiliate_user_email" name="public_affiliate_user[email]" type="email" value="#{params[:public_affiliate_user][:email] if params[:public_affiliate_user]}"


            .form-group.city.public_affiliate_user_country
              .row
                .col-xs-4.text-right
                  label.country.control-label.attribute-title for="public_affiliate_user_country"
                    => "#{t(:country)}"
                .col-xs-8
                  select class="select required size-100-percent ng-valid ng-dirty" id="public_affiliate_user_country" name="public_affiliate_user[country]" ng-model="selectedCountry" ng-options="country.name_#{I18n.locale} for country in countryList track by country.iso_initials"
                    option value="" = t(:select_the_country)


            .form-group.city.public_affiliate_user_state
              .row
                .col-xs-4.text-right
                  label.state.control-label.attribute-title for="public_affiliate_user_state"
                    => "#{t(:state)}"
                .col-xs-8
                  select class="select required size-100-percent ng-pristine ng-valid" id="public_affiliate_user_state" name="public_affiliate_user[state]" ng-model="selectedState" ng-options='state.name for state in selectedCountry.states track by state.name'
                    option value="" = t(:select_the_state)



            .form-group.city.public_affiliate_user_city
              .row
                .col-xs-4.text-right
                  label.city.control-label.attribute-title for="public_affiliate_user_city"
                    = t(:city)
                .col-xs-8
                  input class="string city form-control js-autocomplete" id="js-autocomplete" name="public_affiliate_user[city]" type="city" value="#{params[:public_affiliate_user] ? params[:public_affiliate_user][:city] : ''}" placeholder=""

            .form-group.street.public_affiliate_user_street
              .row
                .col-xs-4.text-right
                  label.street.control-label.attribute-title for="public_affiliate_user_street"
                    = t(:street)
                .col-xs-8
                  input class="string street form-control" id="public_affiliate_user_street" name="public_affiliate_user[street]" type="street" value="#{params[:public_affiliate_user][:street] if params[:public_affiliate_user]}"

            .form-group.postal-code.public_affiliate_user_postal_code
              .row
                .col-xs-4.text-right
                  label.postal_code.control-label.attribute-title for="public_affiliate_user_postal_code"
                    = t(:postal_code)
                .col-xs-8
                  input class="string postal-code form-control" id="public_affiliate_user_postal_code" name="public_affiliate_user[postal_code]" type="postal_code" value="#{params[:public_affiliate_user][:postal_code] if params[:public_affiliate_user]}"

            .form-group.password.public_affiliate_user_password
              .row
                .col-xs-4.text-right
                  label.password.control-label.attribute-title for="public_affiliate_user_password"
                    = t(:password)
                .col-xs-8
                  input.password.form-control id="public_affiliate_user_password" name="public_affiliate_user[password]" type="password" value=""
            .form-group.password_confirmation.public_affiliate_user_password_confirmation
              .row
                .col-xs-4.text-right
                  label.password_confirmation.control-label.attribute-title for="public_affiliate_user_password_confirmation"
                    = t(:password_confirmation)
                .col-xs-8
                  input.password_confirmation.form-control id="public_affiliate_user_password_confirmation" name="public_affiliate_user[password_confirmation]" type="password" value=""
            .form-group.locale.public_affiliate_user_password_confirmation
              .row
                .col-xs-4.text-right
                  label.locale.control-label.attribute-title for="public_affiliate_user_locale"
                    = t('users.locale')
                .col-xs-8
                  .locale
                    = select_tag 'public_affiliate_user_locale', options_for_select(User::ACCEPTED_LOCALES.collect{ | locale | [locale[1],locale[0]]}, "#{params[:public_affiliate_user][:locale]  if params[:public_affiliate_user]}"), name: 'public_affiliate_user[locale]', id: "public_affiliate_user_locale"
            .form-actions.text-center
              button.pill.green.big.cpy-submit-button name="commit" type="submit"
                = t(:register)
