= render partial: 'admin/company_universes/util'

= panel_section(name: t("views.admin.bookings.filter"), class: 'filter widget-box') do
  = form_tag all_companies_executive_responsible_company_universes_path, method: :get, class: 'form-horizontal' do
    .row
      .col-sm-6
        = label_tag :q, "#{t('views.executive_responsible.all_companies.filter.name')}", class: 'control-label no-left-padding'
        input.form-control name='by_name' value="#{params[:by_name] || ''}"

      .col-sm-6
        = label_tag :q, "#{t('views.executive_responsible.all_companies.filter.social_name')}", class: 'control-label no-left-padding'
        input.form-control name='by_social_name' value="#{params[:by_social_name] || ''}"

    .row
      .col-sm-4
        = label_tag :q, "#{t('views.executive_responsible.all_companies.filter.cnpj')}", class: 'control-label no-left-padding'
        input.form-control name='by_cnpj' value="#{params[:by_cnpj] || ''}"

      .col-sm-4
        = label_tag :q, "#{t('views.executive_responsible.all_companies.filter.city')}", class: 'control-label no-left-padding'
        input.form-control name='by_city' id='citiesHash' value="#{params[:by_city] || ''}"

      .col-sm-4
        = label_tag :q, "#{t('views.executive_responsible.all_companies.filter.region')}", class: 'control-label no-left-padding'
        input.form-control name='by_region' id='companyRegionsHash' value="#{params[:by_region] || ''}"

    br
    .row
      .col-lg-3.col-md-4.col-sm-6.col-xs-12
        = label_tag :q, "#{t('views.executive_responsible.all_companies.filter.phone_number')}", class: 'control-label no-left-padding'
        .input-group
          span.input-group-addon.size-35-percent
            | #{t("views.admin.bookings.enter")}
          input.js-date-picker.form-control.text-right.js-mask-date.js-initial-date name='by_talked_phone_date[initial_date]' value="#{params[:by_talked_phone_date].try(:[],:initial_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .input-group
          span.input-group-addon.size-35-percent
            | #{t("views.admin.bookings.and")}
          input.js-date-picker.form-control.text-right.js-mask-date.js-final-date name='by_talked_phone_date[final_date]' value="#{params[:by_talked_phone_date].try(:[],:final_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .clearfix
      .col-lg-3.col-md-4.col-sm-6.col-xs-12
        = label_tag :q, "#{t('views.executive_responsible.all_companies.filter.meeting_held')}", class: 'control-label no-left-padding'
        .input-group
          span.input-group-addon.size-35-percent
            | #{t("views.admin.bookings.enter")}
          input.js-date-picker.form-control.text-right.js-mask-date.js-initial-date name='by_already_face_to_face_meeting_date[initial_date]' value="#{params[:by_already_face_to_face_meeting_date].try(:[],:initial_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .input-group
          span.input-group-addon.size-35-percent
            | #{t("views.admin.bookings.and")}
          input.js-date-picker.form-control.text-right.js-mask-date.js-final-date name='by_already_face_to_face_meeting_date[final_date]' value="#{params[:by_already_face_to_face_meeting_date].try(:[],:final_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .clearfix
      .col-lg-3.col-md-4.col-sm-6.col-xs-12
        = label_tag :q, "#{t('views.executive_responsible.all_companies.filter.creation_company')}", class: 'control-label no-left-padding'
        .input-group
          span.input-group-addon.size-35-percent
            | #{t("views.admin.bookings.enter")}
          input.js-date-picker.form-control.text-right.js-mask-date.js-initial-date name='by_company_registered_date[initial_date]' value="#{params[:by_company_registered_date].try(:[],:initial_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .input-group
          span.input-group-addon.size-35-percent
            | #{t("views.admin.bookings.and")}
          input.js-date-picker.form-control.text-right.js-mask-date.js-final-date name='by_company_registered_date[final_date]' value="#{params[:by_company_registered_date].try(:[],:final_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .clearfix
      .col-lg-3.col-md-4.col-sm-6.col-xs-12
        = label_tag :q, "#{t('views.executive_responsible.all_companies.filter.follow_up_date')}", class: 'control-label no-left-padding'
        .input-group
          span.input-group-addon.size-35-percent
            | #{t("views.admin.bookings.enter")}
          input.js-date-picker.form-control.text-right.js-mask-date.js-initial-date name='by_follow_up_date[initial_date]' value="#{params[:by_follow_up_date].try(:[],:initial_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .input-group
          span.input-group-addon.size-35-percent
            | #{t("views.admin.bookings.and")}
          input.js-date-picker.form-control.text-right.js-mask-date.js-final-date name='by_follow_up_date[final_date]' value="#{params[:by_follow_up_date].try(:[],:final_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .clearfix
    hr


    = submit_tag t("views.admin.bookings.filter"), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button margin-left-10px'
    = link_to t("views.admin.bookings.remove_filter"), all_companies_executive_responsible_company_universes_path, class: 'btn btn-sm btn-danger pull-right size-20-percent remove-button cpy-remove-filter-button'

    .clearfix
