.row
  .col-md-12
    h1.title Customer service
.row
  .col-md-12
    p.description If you have a question about your reservation or need any information about us, you can solve in <b>3 ways</b>:
.row style="margin-bottom: 80px"
  .col-sm-4
    .icons
      i.fa.fa-question.fa-rotate-45
      i.fa.fa-question
    p.information-text <b>1. </b> Consulting our <b>#{link_to 'FAQ page', public_faq_en_path}</b>
  .col-sm-4
    .icons
      i.fa.fa-comments
    p.information-text <b>2.</b> Talking to our support team via Online Chat. Service Monday through Friday, from 08:00 to 20:00h.
  .col-sm-4
    .icons
      i.fa.fa-envelope
    p.information-text
     | <b>3. </b> Sending us an email to
     |  <b class="center-block text-center"><img alt="Pt br locale" src="/assets/pt-br-locale.jpg"> atendimento@hotelquando.com.br</b>
    / |  <b class="center-block text-center"><img alt="Es locale" src="/assets/es-locale.jpg"> contactenos@hotelquando.com</b>
    / |  <b class="center-block text-center"><img alt="En locale" src="/assets/en-locale.jpg"> support@hotelquando.com</b>
     |  (reply as soon as possible)
  / .col-sm-3
  /   .icons
  /     i.fa.fa-phone
  /   p.information-text <b>4. </b> Calling us
  /   | <b class="center-block text-center"> <img alt="Pt br locale" src="/assets/pt-br-locale.jpg"><br> +55 (11) 2639-2214</b>
  /   | <b class="center-block text-center"> <img alt="Es locale" src="/assets/es-locale.jpg"><br> +57-4-403-2768 </b>
  /   p.information-text Service from Monday to Friday, from 08:00 to 20:00.
|<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=090cdfa7-4b26-4110-b810-fb5271849d70"> </script>
