.row
  .col-md-12
    h1.title Atendimento ao cliente
.row
  .col-md-12
    p.description Se tem alguma dúvida quanto a sua reserva ou precisa de qualquer informação sobre nós, você pode resolver de <b>3 maneiras</b>:
.row style="margin-bottom: 80px"
  .col-sm-4
    .icons
      i.fa.fa-question.fa-rotate-45
      i.fa.fa-question
    p.information-text <b>1.</b> Consultando nossa página de <b>#{link_to 'Perguntas Frequentes', public_faq_path}</b>
  .col-sm-4
    .icons
      i.fa.fa-comments
      p.information-text <b>2.</b> Conversando com nossa equipe de suporte via <b>Chat Online</b>, via <b><a href="https://wa.me/5511961715481?text=Olá" target="_blank" >WhatsApp</a></b> ou via <b>Telefone (11) 96171-5481</b>. Atendimento de segunda à sexta, de 08:00 às 20:00h.
i  .col-sm-4
    .icons
      i.fa.fa-envelope
    p.information-text
      | <b>3.</b> Nos mandando um email para
      |  <b class="center-block text-center"><img alt="Pt br locale" src="/assets/pt-br-locale.jpg"> atendimento@hotelquando.com.br</b>
  /    |  <b class="center-block text-center"><img alt="Es locale" src="/assets/es-locale.jpg"> contactenos@hotelquando.com</b>
  /    |  <b class="center-block text-center"><img alt="En locale" src="/assets/en-locale.jpg"> support@hotelquando.com</b>
      |  (responderemos o mais rápido possível)
  / .col-sm-3
  /   .icons
  /     i.fa.fa-phone
  /   p.information-text <b>4.</b> Ligando para nós
  /   p.information-text style="margin-bottom: 10px"
  /   | <b class="center-block text-center"> <img alt="Pt br locale" src="/assets/pt-br-locale.jpg"><br> +55 (11) 2639-2214</b>
  /   | <b class="center-block text-center"> <img alt="Es locale" src="/assets/es-locale.jpg"><br> +57-4-403-2768 </b>
  /   p.information-text Atendimento de segunda à sexta, de 08:00 às 20:00h.

|<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=090cdfa7-4b26-4110-b810-fb5271849d70"> </script>
