body.public-affiliate-layout
  .header-nav
    width: 100%
    .language-and-customer-service-links.base-concept-hotel
      margin: 20px 0px
      a
        margin: 5px
  .header
    background-color: #0a3545
    border-bottom: 1px solid #e7e7e7
    #logo
      float: left
      position: relative

      img
        max-height: 80px
        width: auto
        margin: 0px 45px 0px 45px

    .menu-header
      margin-right: 10px

      span.divider
        width: 0
        height: 1em
        border-right: 1px solid #fff

      ul
        padding: 3px
        list-style: none
        text-align: center
        display: inline
        li
          display: inline-block
          margin: 10px 0 0 0
          a
            color: white
            padding: 0 11px 0 10px
            font-size: 16px

            &:hover
              color: white
    .base-concept-hotel
      .current
        font-weight: bold
        color: white
        letter-spacing: 1px
        font-size: 15px
      .menu-wrapper
        color: white
        display: inline-block
        font-weight: bold
        position: absolute
        padding: 6px 6px 22px
        margin: 0
        right: 25px
        z-index: 9999
        &:hover
          cursor: pointer

        .arrow-up:after
          border-bottom-color: #c9c9c9

      .current-currencies
        width: 460px
        list-style-type: none
        padding-left: 0px
        margin-bottom: 0px
        border-top: 3px solid #c9c9c9
        border-bottom: 3px solid #c9c9c9
        padding: 0px 0px
        margin-top: 15px
        background: white
        min-width: 220px
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)

        .symbol
          color: #000
          font-size: 11px
          font-weight: bold
          direction: ltr
          margin-right: 10px

        .current-currency
          color: black
          font-size: 10px
          line-height: 65px
        .current-currency:hover, .current-currency-selected
          color: #000
          background-color: #dddddd
        .name
          font-weight: 400

      .user-dropdown-menu
        position: absolute
        display: none
        right: -24px
        top: 32px

    .top-menu
      background: #efefef
      min-width: $container-desktop

      ul
        list-style-type: none
        text-align: center
        padding-left: 0px
        margin-bottom: 0px
        margin: 0 50px 0 40px

        li

          a
            color: #555555
            font-size: 12px
            letter-spacing: 1px
            display: block
            padding: 18px 8px 14px 8px

            &:hover
              color: rgb(201, 201, 201)

      .language-and-customer-service-links
        display: inline-block
        line-height: 15px
        margin-left: 13px
        a.customer-service-link
          color: #555555
          font-size: 12px
          letter-spacing: 1px
          margin-right: 20px
          &:hover
            color: rgb(201, 201, 201)
        a
          line-height: 15px
          display: inline-block
          margin: 0px 4px
          height: 15px

      &.taller
        height: 148px

    .main-menu
      padding: 26px 0px
      border-bottom: 1px solid #CCCCCC
      background: white
      .menu-grid
        position: relative
        .fb-like
          position: absolute
          top: -8px
          right: -40px
      .logo-wrapper
        position: relative
        .logo a
          padding: 8px 0px
          display: block



      .hello
        margin-right: 10px
        letter-spacing: 1px
        font-size: 13px

      .menu-wrapper
        margin-right: 30px
        cursor: pointer
        z-index: 1040

      a.btn
        display: inline-block
        margin-right: 10px
        font-weight: 400

      .inline-links
        display: inline-block
        a
          display: inline-block
        ul
          display: inline-block
          line-height: 45px
          margin-bottom: 0px
          padding-left: 40px

          li
            display: inline-block
            a
              color: #2a3127
              letter-spacing: 1px
              padding: 0px 20px
              font-size: 15px

      &.floating
        background: white
        position: fixed
        width: 100%
        z-index: 1000
        top: 0px

