body.public-affiliate-layout
  &.browserIE9
    select
      background-image: none !important
      padding: 0 !important
      padding-left: 10px !important
      border-top-right-radius: 0 !important
      border-bottom-right-radius: 0 !important

  &.browserIE10
    select::-ms-expand
      display: none

