.public-affiliate-layout
  a:hover
    text-decoration: none
    cursor: pointer

  a.btn, button.btn, .search-hotels-wrapper .search-box input.btn, input.btn
    border-radius: 5px
    display: block
    letter-spacing: 2px
    padding: 14px 20px 10px 20px
    /*pointer-events: all*/
    -moz-box-shadow:    none
    -webkit-box-shadow: none
    box-shadow:         none
    text-shadow: none

    &.mini
      display: inline-block
      padding: 5px 10px
      font-size: 11px

    &.default
      background: #ccc
      color: #555
      &:hover
        background: #bbb

    &.small
      padding: 9px
      height: 40px

    &.green
      background: $success-button
      color: white !important

      &:hover
        background: darken($success-button, 10%)

    &.gray
      background: $gray
      color: white !important

      &:hover
        background: darken($gray, 10%)

    &.red
      background: $red
      color: white !important

      &:hover
        background: darken($red, 10%)

  table
    .btn-group
      .btn
        background: #EEEEEE
        border: 1px solid #dddddd
        padding: 6px 10px

        &.green
          background: #EEEEEE
          color: #555555 !important

          &:hover
            color: $dark-green !important
            border: 1px solid $light-green
            background: $light-green

        &.red
          background: #EEEEEE
          color: #555555 !important

          &:hover
            color: $dark-red !important
            border: 1px solid #ECD8D7
            background: #ECD8D7

        &.blue
          background: #EEEEEE
          color: #555555 !important

          &:hover
            color: $dark-blue !important
            border: 1px solid #CBDBE7
            background: #CBDBE7

  a.pill, button.pill, input.pill
    display: inline-block
    font-weight: 300
    border-radius: 100px
    border: 0px
    -moz-box-shadow:    none
    -webkit-box-shadow: none
    box-shadow:         none

    &.small
      font-size: 14px
      font-weight: 300
      letter-spacing: 2px
      padding: 3px 35px 2px 35px

    &.medium
      font-size: 16px
      font-weight: 300
      letter-spacing: 2px
      padding: 12px 14px 11px 14px

    &.big
      font-size: 20px
      border-radius: 30px
      height: 50px
      letter-spacing: 2px
      text-transform: uppercase
      font-weight: 300
      background-color: #776839

    &.green
      background: $success-button
      color: white

      &:hover
        background: darken($success-button, 10%)

    &.white
      color: #0d4451
      background: white

      &:hover
        background: darken(white, 10%)

    &.blue
      color: white
      background: $aqua-blue

      &:hover
        background: darken($aqua-blue, 10%)

  a.link
    letter-spacing: 1px

    &.green
      color: $success-button

      &:hover
        color: darken($success-button, 10%)

    &.dark-blue
      color: $dark-blue

      &:hover
        color: darken($dark-blue, 10%)

    &.dark-red
      color: $dark-red

      &:hover
        color: lighten($dark-red, 10%)

    &.white
      color: #dddddd

      &:hover
        color: gray
