body.public-affiliate-layout

  #footer_nobile
    background-color: #777
    border-top: 1px solid rgba(0,0,0,0.05)
    padding: 18px
    height: 224px
    z-index: 101
    line-height: 1.05

    p
      color: #fff
      font-weight: 700
      text-transform: uppercase
      width: 240px
      line-height: 1.6

    a
      text-transform: inherit !important
      color: #f1f1f1 !important
      font-weight: 400
      line-height: 1.6 !important

      img
        width: 10px
        height: 14px
        margin-top: -68px

      p
        text-transform: inherit !important
        color: #f1f1f1 !important
        margin-left: 15px


    .description
      text-transform: inherit !important
      color: #f1f1f1 !important
      font-weight: 400

    .nobile_footer_line
      background-color: rgba(255,255,255,0.3)
      height: 3px
      width: 30px
      margin: 0.66em 0 1em

  #powered_by_hq
    background-color: #5b5b5b
    border-top: 1px solid rgba(0,0,0,0.05)
    height: 48px !important
    z-index: 102
    color: rgba(255,255,255,0.5)
