.row
  .col-md-12
    h1.title Customer service
.row
  .col-md-12
    p.description If you have a question about your reservation or need any information about us, you can solve in <b>4 ways</b>:
.row style="margin-bottom: 80px"
  .col-sm-3
    .icons
      i.fa.fa-question.fa-rotate-45
      i.fa.fa-question
    p.information-text <b>1. </b> Consulting our <b>FAQ page</b>
  .col-sm-3
    .icons
      i.fa.fa-phone
    p.information-text <b>2. </b> Calling us
    p.information-text style="margin-bottom: 10px" <b>(11) 2639-2214</b>
    p.information-text Service from Monday to Friday, from 08:00 to 20:00. Weekends and holidays from 08:00 to 14:00
  .col-sm-3
    .icons
      i.fa.fa-comments
    p.information-text <b>3.</b> Talking to our support team via Online Chat. Service Monday through Friday, from 08:00 to 20:00h.
  .col-sm-3
    .icons
      i.fa.fa-envelope
    p.information-text <b>4. </b> Sending us an email to <b>support@hotelquando.com</b> (reply as soon as possible)
