.row
  .col-md-12
    h1.title Atendimento ao cliente
.row
  .col-md-12
    p.description Se tem alguma dúvida quanto a sua reserva ou precisa de qualquer informação sobre nós, você pode resolver de <b>4 maneiras</b>:
.row style="margin-bottom: 80px"
  .col-sm-3
    .icons
      i.fa.fa-question.fa-rotate-45
      i.fa.fa-question
    p.information-text <b>1.</b> Consultando nossa página de <b>#{link_to 'Perguntas Frequentes', public_affiliate_faq_path}</b>
  .col-sm-3
    .icons
      i.fa.fa-phone
    p.information-text <b>2.</b> Ligando para nós
    p.information-text style="margin-bottom: 10px" <b>(11) 2639-2214</b>
    p.information-text Atendimento de segunda à sexta, de 08:00 às 20:00h. Fim de semana e feriados de 08:00 às 14:00h
  .col-sm-3
    .icons
      i.fa.fa-comments
    p.information-text <b>3.</b> Conversando com nossa equipe de suporte via Chat Online. Atendimento de segunda à sexta, de 08:00 às 20:00h.
  .col-sm-3
    .icons
      i.fa.fa-envelope
    p.information-text <b>4.</b> Nos mandando um email para <b>contato@hotelquando.com</b> (responderemos o mais rápido possível)

