.uber ng-init='regulation = false'
  .description
    h1.uber-title Earn R$50 for a first trip with Uber

  .logos
    .uber-box = image_tag 'uber.png', class: 'uber-image'
    = icon_for(:plus)
    .hq-box = image_tag 'logo.png', class: 'hq-image'

  .regulation
    h2.regulation-subtitle About Uber:
    p.description Uber is your private driver! An app that connects passengers to private motorists in minutes. A totally modern and innovative way to get around at your fingertips.
    br
    br
    h2.regulation-subtitle Promotion Information
    p.description <strong>1.</strong> By confirming a reservation on our site, you will automatically receive an email with a R$50 promotional code
    p.description <strong>2.</strong> The code is valid on the first trip of new users
    p.description <strong>3.</strong> The code is valid only for these cities: São Paulo, Rio de Janeiro, Belo Horizonte, Brasília
    p.description <strong>4.</strong> Valid until 31/dec/2015
    p.description <strong>5.</strong> If the total price is greater than R$50, you must pay the difference
