= panel_section(name: t("views.admin.possible_partner_contacts.filter"), class: 'filter widget-box') do
  = form_tag admin_possible_partner_contacts_path, method: :get, class: 'form-horizontal' do
    .row
      .col-sm-6
        = label_tag :q, t("views.admin.possible_partner_contacts.filter_by_visualization"), class: 'control-label no-left-padding'
        br
        .checkbox.size-50-percent.pull-left.no-left-padding
          label
            = check_box_tag "by_admin_visualized[]", true, params[:by_admin_visualized].try(:include?, 'true'), class: "ace cpy-visualized-true"
            span.lbl
              | #{t('views.admin.possible_partner_contacts.visualized')}
        .checkbox.size-50-percent.pull-left.no-left-padding
          label
            = check_box_tag "by_admin_visualized[]", false, params[:by_admin_visualized].try(:include?, 'false'), class: "ace cpy-visualized-false"
            span.lbl
              | #{t('views.admin.possible_partner_contacts.not_visualized')}
      .col-sm-6
        = label_tag :q, t("views.admin.possible_partner_contacts.filter_by_language"), class: 'control-label no-left-padding'
        - options_for_select = []
        - I18n.available_locales.each { | locale |  options_for_select << [locale.to_s.upcase.gsub('_','-'), locale]}
        = select_tag 'by_locale', options_for_select(options_for_select, params[:by_locale]), class: 'size-100-percent', prompt: 'Todas'
    br
    .row
      .col-sm-6
        = label_tag :q, t("views.admin.possible_partner_contacts.filter_by_contact_type"), class: 'control-label no-left-padding'
        br
        .checkbox.size-50-percent.pull-left.no-left-padding
          label
            = check_box_tag "by_type[]", PossiblePartnerContact::TYPES_OF_CONTACT[:hotel_contact], params[:by_type].try(:include?, PossiblePartnerContact::TYPES_OF_CONTACT[:hotel_contact].to_s), class: "ace cpy-contact-type-hotel"
            span.lbl
              | #{t('views.admin.possible_partner_contacts.hotel_contact')}
        .checkbox.size-50-percent.pull-left.no-left-padding
          label
            = check_box_tag "by_type[]", PossiblePartnerContact::TYPES_OF_CONTACT[:company_contact], params[:by_type].try(:include?, PossiblePartnerContact::TYPES_OF_CONTACT[:company_contact].to_s), class: "ace cpy-contact-type-company"
            span.lbl
              | #{t('views.admin.possible_partner_contacts.company_contact')}
    hr


    = submit_tag t("views.admin.possible_partner_contacts.filter"), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button margin-left-10px'
    = link_to t("views.admin.possible_partner_contacts.remove_filter"), admin_possible_partner_contacts_path, class: 'btn btn-sm btn-danger pull-right size-20-percent remove-button cpy-remove-filter-button'
    = link_to t("views.admin.possible_partner_contacts.mark_all_messages_as_read"), mark_all_messages_as_read_admin_possible_partner_contacts_path, method: :put, class: 'btn btn-sm btn-warning pull-left size-35-percent remove-button cpy-mark-all-as-read-button', data: { confirm: t("views.admin.possible_partner_contacts.mark_all_messages_as_read_confirmation") }

    .clearfix
