.tudo-azul ng-init='regulation = false'
  .description
    h1.tudo-azul-title Participe do programa de vantagens da Azul em parceria com HotelQuando!

  .logos
    .tudo-azul-box = image_tag 'tudo_azul2.png', class: 'tudo-azul-image'
    = icon_for(:plus)
    .hq-box = image_tag 'logo.png', class: 'hq-image'

  .description
    p
      | Ganhe
      span.blue
        |  1 ponto TudoAzul
      |  para cada
      span.blue
        |  R$1,00
      |  gasto em nossa plataforma


  .regulation
    h1.regulation-title Regulamento da Parceria
    h2.regulation-subtitle Regras para o acúmulo:
    p.description <strong>1.</strong> O número do seu CPF obrigatoriamente deve ser inserido no campo designado no momento da compra para realizarmos a pontuação
    p.description <strong>2.</strong> Será concedido 1 ponto a cada R$1,00 gasto em nossa plataforma.
    p.description <strong>3.</strong> Os pontos serão concedidos em até 15 dias úteis após a data de check-out da sua reserva
    p.description <strong>4.</strong> É imprescindível que o usuário seja cadastrado no programa TudoAzul para que os pontos sejam acumulados
    p.description <strong>5.</strong> Não serão concedidos os pontos nos casos em que o cadastramento realizado no programa TudoAzul tenha sido feito posteriormente ao pedido realizado em nosso site
    p.description <strong>6.</strong> Caso você ainda tenha alguma dúvida, acesse nossa seção de atendimento ao cliente e entre em contato conosco"
