table.table.table-striped.table-bordered.table-hover.cpy-room-list
  thead
    tr
      th.center
        | Nome
      th.center
        | E-mail
      th.center
        | CPF
      th.center
        | Passaporte
      th.center
        | Data de Nascimento
      th.center
        | Detalhes
  tbody
    - employees.each do | employee |
      tr.center
        td
          = employee.name
        td
          = employee.email
        td
          = employee.cpf.to_s == '' ? '-' : employee.cpf
        td
          = employee.passport.to_s == '' ? '-' : employee.passport
        td
          = employee.birth_date.to_s.blank? ? '-' : l(employee.birth_date)
        td.action-list
          = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, company_employee_path(employee.id), class: 'btn btn-xs btn-success'

          = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_company_employee_path(employee.id), class: 'btn btn-xs btn-info'

          = link_to "<i class='icon-key bigger-100'></i>".html_safe, authenticate_as_company_employee_path(id: employee.id), method: :post, class: 'btn btn-xs btn-primary cpy-log-in-as-employee', title: 'Acessar como este funcionário', target: '_blank'
