.col-xs-12#footer
  .col-sm-6.text-center
    .row
      i.glyphicon.glyphicon-earphone
    .row
      .phonenum +55 11 5508 5000
  .col-sm-6.text-center
    .row
      i.glyphicon.glyphicon-map-marker
    .row
      .address Rua Quintana, 1012, Brooklin Novo
    .row
      .city São Paulo, São Paulo, 04569-903, Brazil
