.row
  .col-sm-12.border-box#similar-offers
    .row
      .col-sm-12
        h3.similar-offers-title
          = "#{t(:similar_offers)}:"

        span.subtitle
          = t :we_didnt_find_exact_offers_based_on_your_search

        p.hint
          => t :click_on_the_icon
          span.glyphicon.glyphicon-question-sign
          =<   t :to_see_more_details_about_the_room_type

    .row
      .col-sm-12
        p.beware.text-center
          | #{ t :beware}:
          - if @hotel.accepts_booking_cancellation?
            - date_parsed = params[:checkin_date].to_date + params[:checkin_hour].to_i.hours - @hotel.minimum_hours_of_notice.hours
            - day_of_notice = l(date_parsed)
            = t(:hotel_minimum_hours_of_notice, day_of_notice: day_of_notice)

          - else
            =< "#{t(:this_hotel_does_not_accept_cancellation)}."
    br/
    .js-similar-offers-list
      = render partial: "layouts/public_affiliate/personalized_affiliate/#{layout_name}/similar_offers_list"

    .row.hidden-md.hidden-lg
      .col-sm-12
        #map-canvas-mobile[style="width:100%; height:400px"]
