.public-affiliate-layout.public-affiliate-hotel-controller
  .tabbable
    .online_reservation_box
      font-size: 11px
      width: 295px
      height: 37px
      background-color: #004f7f
      border: 0px
      border-radius: 4px
      text-transform: uppercase
      p
        color: #fff
        font-size: 15px
        margin: 11px 24px
        font-family: 'Anton', sans-serif !important
        letter-spacing: 1px
    .tab-content-custom
      .tab-pane
        padding: 15px 25px 25px 25px
        background: white
        color: #737373
        border-bottom: 1px solid #e4e4e4
  .text-white
    color: white
  .no-margin
    margin: 0px !important
  .js-float-search-form
    &.floating
      position: inline-block !important
      width: 100%
      z-index: 1000
      
  .search-form-hotel
    color: white
    padding: 12px 20px
    background: $search-form-hotel



  #date-field-es
    color: white
    width: 100% !important
    
  .checkin
    float: left
    width: 270px
    margin: 0px 8px

    .checkin-date
      width: 116px
      float: left
      padding: 0px
      border: 1px solid lightgrey
      border-radius: 5px

      input
        width: 100%
    .checkin-hour
      width: 150px
      display: inline-block
      padding: 0px

      label
        font-size: 23px
        float: left
        margin: 10px 9px
        &.at
          font-size: 15px
          font-weight: 100

      button
        font-weight: bold
        margin: 8px 0 0 0
        font-size: 22px
        background-color: white
        color: #004f7f
        padding: 0px
        text-align: center
        float: left
        border: 1px solid lightgrey
        display: block
        width: 24px
        height: 24px
        line-height: 24px
        border-radius: 50%
        text-decoration: none

        &:focus
          outline: 0

        span
          position: relative
          top: -2px

          &.minus
            top: -3px

      .hour
        margin: 5px 5px 0px 5px
        font-size: 23px
        float: left

  .checkout-hour
    float: left
    width: 190px
    padding: 0px
    margin: 0px 8px
    &.hotel
      width: 93px
      margin-left: -5px
      label
        float: none
      .at-and-hour
        display: inline-block
        float: none    

    label
      font-weight: 100
      float: left
      margin: 10px 2px 0px 2px

      &.title-checkout
        font-weight: bold
        float: none
        display: block
        margin: 0px 0px 3px 0px
      &.hour
        font-weight: bold

    .hour
      float: left
      margin: 3px 5px 0px 5px
      font-size: 23px
      label
        font-weight: bold

  .people
    float: left
    width: 79px
    padding: 0px
    margin: 0px 7px

    label
      float: left
      margin: 10px

      &.title-people
        margin: 0px 0px 5px 3px

    button
      font-weight: bold
      margin: 8px 0 0 0px
      font-size: 22px
      background-color: white
      color: #004f7f
      padding: 0px
      text-align: center
      float: left
      border: 1px solid lightgrey
      display: block
      width: 24px
      height: 24px
      line-height: 24px
      border-radius: 50%
      text-decoration: none

      &:focus
        outline: 0

      span
        position: relative
        top: -2px

        &.minus
          top: -3px
            
    .hour
      label
        margin: 5px 5px 0px 3px
        font-size: 20px
        float: left

  .address
    display: inline-block
    padding: 0px
    margin: 0px 0px 0px 8px

    input
      width: 100%

  .div-button-search
    margin-right: 12px


  h1
    color: #2a3127
    font-weight: 300
    font-size: 30px
    letter-spacing: 2px
    margin-top: 0px
    margin-bottom: 15px

  .adress-input
    input
      background: #333333
      font-weight: 300
      font-size: 13px
      height: 42px

  input, select
    -webkit-appearance: none
    -moz-appearance: none
    -o-appearance: none
    background: white
    color: black
    padding: 2px 13px 0px 13px
    font-size: 13px
    font-weight: 300
    letter-spacing: 1px
    border: none
    height: 40px
    border-radius: 5px
    -moz-box-shadow:    none
    -webkit-box-shadow: none
    box-shadow:         none

  select
    padding: 2px 34px 0px 13px
    background-image: image-url('arrow-down.png')
    background-position: center right
    background-repeat: no-repeat

  .number-of-people-input-size
    width: 40%
    padding-left: 20px
  .up
    margin-bottom: 7px

  .display-table-cell
    vertical-align: bottom

  .checkin
    .col-xs-6
      &:first-child
        padding-right: 8px

      &:last-child
        padding-left: 8px

    input
      width: 100%
      padding-right: 5px
    select
      width: 100%

  .pack-size
    width: 300px
    a.btn
      padding: 10px 10px 10px 10px

      &.selected
        background: rgba(0, 0, 0, 0.25)
        color: white

      &:hover
        background: dark-gray

  .pack-size.btn-group
    display: inline-block

    span.clock
      border-right: 1px solid #888
      cursor: default
      display: inline-block
      margin-bottom: 0
      padding: 9px 17px 9px 12px
      border-radius: 5px
      background: #666666
      border-bottom-right-radius: 0
      border-top-right-radius: 0
      float: left

      img
        width: 26px
        height: 24px

    a.btn
      background: #666666
      padding: 10px 31px
      color: #cccccc
      margin: 0px
      &.rooms
        padding: 10px 31px
      &.meeting-rooms
        padding: 10px 10.8px
      &.event-rooms
        padding: 10px 46px


  .pack-size-clock
    display: block
    margin-left: 5px

    .pack-size-text
      letter-spacing: 1px
      font-size: 14px
      padding-top: 12px
      line-height: 10px

  .search-button.btn, .search-button.btn.input
    margin: 0 auto
    margin-top: -5px
    font-weight: 400
    height: 45px
    font-size: 16px
    letter-spacing: 2px
    color: #fff
    padding: 9px 7px
    background-color: #004f7f
    border-color: #004f7f
    width: auto

  .tooltip-toggler
    display: inline-block
    margin-top: 20px

    .search-button.btn, .search-button.btn.input
      margin: 0 auto

      .tooltip.fade.in
        width: 210px
        top: 18px

.browserFirefox.public-layout
  h1
    margin-bottom: 11px

  select
    padding: 10px 34px 0px 13px

