body.public-affiliate-layout
  .botline
    border-top: 2px solid #2e2c2c
    width: 100%
    height: 4px
    margin-top: 30px
  .container-footer
    border-top: 1px solid #2e2c2c
    padding-top: 40px
    padding-bottom: 40px
    background: white
    padding-right: 89px
    padding-left: 85px
    margin-right: auto
    margin-left: auto
    position: relative
    z-index: 100
    color: #212529
    font-family: Arial, Helvetica, sans-serif
    font-size: 14px
    
    li
      list-style-type: none
      a
        color: #212529
      a:hover
        color: #0056b3
        text-decoration: underline
    .send-email
      color: #212529

  .copyright
    margin-top: 40px
    text-align: center
    font-family: Arial, Helvetica, sans-serif
    font-size: 14px
