.public-affiliate-layout
  input, select
    -moz-box-shadow:    inset 0 0 6px rgb(235, 235, 235)
    -webkit-box-shadow: inset 0 0 6px rgb(235, 235, 235)
    box-shadow:         inset 0 0 6px rgb(235, 235, 235)
    background: white
    border-radius: 5px

  .form-horizontal
    .help-block.error
      color: #a94442

  .form-header
    font-weight: 300
    border-bottom: 1px solid #dbdbdb
    padding-bottom: 5px
    margin-bottom: 30px
    margin-top: 20px

  h2
    letter-spacing: 2px
    font-size: 26px

  h4
    letter-spacing: 1px
    font-size: 20px

  form
    color: #303030
  .border-search-box
    border: 1px solid #46b25e
    border-radius: inherit
    .form-group
      input[type="password"], input.string, select, input.numeric
        letter-spacing: 1px
        height: 40px
        font-size: 13px
        border: 1px solid #c2c2c2

      label
        font-weight: 300
        letter-spacing: 1px
        font-size: 13px
        color: #303030

      select
        background-image: image-url('arrow-down-black.png')
        background-position: center right
        background-repeat: no-repeat
        -webkit-appearance: none
        -moz-appearance: none
        -o-appearance: none
        padding: 2px 34px 0px 13px
        font-size: 13px
        font-weight: 300
        letter-spacing: 1px

    .hint
      color: #555555
      margin: 4px 0 0
      font-size: 12px
      letter-spacing: 1px

    .secondary-title
      margin-top: 9px
      margin-bottom: 2px

  .form-actions
    padding: 20px 0px

  .shared-links
    border-top: 1px solid #dbdbdb
    text-align: center
    padding: 10px 0px
    margin: 30px 0px
    font-size: 13px
    letter-spacing: 1px
    line-height: 25px

.browserFirefox.public-layout
  select
    text-overflow: ""
    text-indent: 1px

  form .form-group select
    padding: 9px 34px 0px 13px
