.booking-registration-header
  .text-center.booking-steps

    - step_color = ''
    - if step == :sessions
      - step_color = 'green'

    .booking-step class="#{step_color.to_s}"
      .base-circle
        .top-right-quarter-circle
      span.step-description.registration class="#{I18n.locale.to_s.gsub('_','-')}"
        = t(:registration)
      .line

    - step_color = ''
    - if step == :booking_creation
      - step_color = 'green'
    - elsif step == :sessions
      - step_color = 'gray'
    .booking-step class="#{step_color.to_s}"
      .base-circle
        .half-circle-left
      span.step-description.complete-booking class="#{I18n.locale.to_s.gsub('_','-')}"
        = t(:complete_booking)
      .line

    - step_color = ''
    - if step == :payment_creation
      - step_color = 'green'
    - elsif !(step == :payment_result)
      - step_color = 'gray'

    .booking-step class="#{step_color}"
      .base-circle
        .circle-without-top-left-quarter
      span.step-description.payment class="#{I18n.locale.to_s.gsub('_','-')}"
        = t(:payment)
      .line

    - if step == :payment_result
      - step_color = 'green'
    - else
      - step_color = 'gray'

    .booking-step class="#{step_color}"
      .base-circle
        .complete-circle
      span.step-description.confirmation class="#{I18n.locale.to_s.gsub('_','-')}"
        = t(:confirmation)
