.text-center.attribute-title
  - max_capacity = @offer.try(:meeting_room_maximum_capacity) || @offer.try(:event_room_maximum_capacity)
  = "#{t('maximum_capacity')}: #{max_capacity} #{t(:people)}"

.booking-hotel-and-business-room-description
  .row
    .description-title.business-room-description-title
      .col-xs-2.col-md-1
        = image_tag 'room-type-info-gray.jpg', class: 'description-icon'
      .col-xs-10.col-md-11
        h5
          - if @offer.try(:meeting_room_id)
            = "#{t(:meeting_room_description)}".mb_chars.upcase
          - elsif @offer.try(:event_room_id)
            = "#{t(:event_room_description)}".mb_chars.upcase
  .row
    .col-xs-12
      .business-room-description
        - if @offer.try(:meeting_room_id)
          = @offer.meeting_room.send("description_#{I18n.locale}")
        - elsif @offer.try(:event_room_id)
          = @offer.event_room.send("description_#{I18n.locale}")
