= simple_form_for [:public, @booking] do |f|
  p.text-center
    = t(:recommendation_scale_title)
  .col-xs-12.col-sm-6.recommendation-size.text-center
    .hidden
      input.recommendation-scale type="text" name="recommendation_scale" ng-model="selectedRecommendationScale"
    .btn-group.btn-group-justified role="group" aria-label="..."
      - 11.times do |scale|
        .btn-group role="group"
          a.btn.btn-default class="scale-#{scale} cpy-scale-#{scale}" ng-class="{selected: selectedRecommendationScale == #{scale}}" ng-click="selectedRecommendationScale = #{scale}" #{scale}
  .row.recommendation-texts-and-button.text-center.col-xs-12.col-sm-7
    span.negative-recommendation
      = "0 = #{t(:negative_recommendation)}"
    span.positive-recommendation
      = "10 = #{t(:positive_recommendation)}"
    = submit_tag t(:save_response), class: "cpy-submit-button pill green small submit-button"