- if I18n.locale == :en || I18n.locale == 'en'
  - page_title = "HotelQuando.com - Increase hotel's occupancy!"
  - description = "HotelQuando is a platform focused on increasing occupancy and generating incremental revenue for hotels. Get to know our solution and join us!"
  - page_url = "http://www.hotelquando.com/en/be-our-partner"
- elsif I18n.locale == :es || I18n.locale == 'es'
  - page_title = "HotelQuando.com - Mantenga ocupadas las habitaciones de su hotel"
  - description = "Somos una plataforma enfocada en aumentar sus ingresos manteniendo ocupadas las habitaciones de los hoteles. ¡Conozca nuestra solución y únase a las grandes redes hoteleras!"
  - page_url = "http://www.hotelquando.com/es/viajes-de-negocios"
- else
  - page_title = "HotelQuando.com - Aumente a ocupação de seu hotel!"
  - description = "Somos uma plataforma focada em aumentar a ocupação e gerar receita incremental para hotéis. Conheça nossa solução e junte-se as grandes redes hoteleiras!"
  - page_url = "http://www.hotelquando.com/seja-nosso-parceiro"

title = page_title
meta property="og:type" content="website"/
meta property="og:site_name" content="HotelQuando.com"/
meta property="og:title" content="#{page_title}"/
meta property="og:url" content="#{page_url}"/
meta charset="utf-8"/
link href="#{image_path('favicon.ico')}" rel="shortcut icon" type="image/x-icon"/
meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible"/
meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/
META NAME="og:description" CONTENT="#{description}"/
META NAME="Description" CONTENT="#{description}"/
