- if I18n.locale == :en || I18n.locale == 'en'
  - page_title = "HotelQuando.com - Hotels by hours for business travel"
  - description = "Book hotels by the hour and save up to 40 percent with business travel expenses on overnight stays. Solution to corporate travel agencies and companies."
  - page_url = "http://www.hotelquando.com/en/business-trips"
- elsif I18n.locale == :es || I18n.locale == 'es'
  - page_title = "HotelQuando.com - Hoteles por horas para un viaje de negocios"
  - description = "Reserva hoteles por horas y ahorra hasta un 40% en los gastos de hotel de tu viaje de negocios. Una solución para empresas, agencias de viaje y compañías."
  - page_url = "http://www.hotelquando.com/es/viajes-de-negocios"
- else
  - page_title = "HotelQuando.com - Hotéis por horas para viagens corporativas"
  - description = "Reserve hotéis por horas e economize até 40% em despesas com viagens corporativas de uma noite. Solução para agências de viagens corporativas e empresas."
  - page_url = "http://www.hotelquando.com/viagens-negocios"

title = page_title
meta property="og:type" content="website"/
meta property="og:site_name" content="HotelQuando.com"/
meta property="og:title" content="#{page_title}"/
meta property="og:url" content="#{page_url}"/
meta charset="utf-8"/
link href="#{image_path('favicon.ico')}" rel="shortcut icon" type="image/x-icon"/
meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible"/
meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/
META NAME="og:description" CONTENT="#{description}"/
META NAME="Description" CONTENT="#{description}"/
