- if I18n.locale == :en
  - page_title = "HotelQuando.com.br - Book hotels by hours!"
  - description = "Book hotels by hours in the United States and the world at a fair price! Find a room in the main cities and near the airports to spend the night or a day use."
  - page_url = "http://www.hotelquando.com.br/en"
- elsif I18n.locale == :es
  - page_title = "HotelQuando.com.br - Reserva de hotel por horas durante el día o la noche"
  - description = "¡Reserva hoteles por horas en Colombia y el mundo al mejor precio! Encuentra tu habitación en las ciudades principales y cerca a los aeropuertos, para pasar la noche o el día."
  - page_url = "http://www.hotelquando.com.br/es"
- else
  - page_title = "HotelQuando.com.br - Reserva de hotel por horas"
  - description = "Reserve hotéis por horas no Brasil e no mundo a um preço justo! Encontre um quarto em sua cidade ou próximo aos principais aeroportos para day use ou apenas uma noite."
  - page_url = "http://www.hotelquando.com.br"

- tags = [ 'reservar hotel', 'hotel barato', 'hotéis baratos', 'hotel proximo aeroporto', 'agencia online', 'hotel por horas']
- photo_url = image_path('logo_fb.png')
title = page_title
meta property="og:type" content="website"/
meta property="og:site_name" content="HotelQuando.com.br"/
meta property="og:title" content="#{page_title}"/
meta property="og:url" content="#{page_url}"/
meta property="og:image" content="#{photo_url}"/
meta charset="utf-8"/
link href="#{image_path('favicon.ico')}" rel="shortcut icon" type="image/x-icon"/
meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible"/
meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/
META NAME="og:description" CONTENT="#{description}"/
META NAME="Description" CONTENT="#{description}"/
META NAME="keywords" CONTENT="#{tags.join(',')}"/
