- if I18n.locale == :en
  - page_title = "HotelQuando.com - Hotels near the main airports around the world."
  - description = "Hotels by hours near the main U.S and world airports. If you need to wait for a flight, wait for a meeting or just need a hotel room overnight, book by the hour and save money."
  - page_url = "http://www.hotelquando.com/en/airport"
- elsif I18n.locale == :es
  - page_title = "HotelQuando.com - Hoteles cerca a los principales aeropuertos alrededor del mundo"
  - description = "Hoteles por horas cerca a los principales aeropuertos de Colombia y el mundo. Si necesitas esperar por un vuelo, una reunión o solo necesitas pasar la noche en una habitación de hotel, reserva por horas y ahorra dinero."
  - page_url = "https://www.hotelquando.com/es/airport"
- else
  - page_title = "HotelQuando.com - Hotéis próximos aos principais aeroportos do mundo"
  - description = "Hotéis por horas próximos aos principais aeroportos do Brasil e do mundo. Seja para esperar por um voo, por um compromisso ou apenas para passar uma noite, reserve por horas para day use ou para noite por um preço justo!"
  - page_url = "http://www.hotelquando.com/airport"

title = page_title
meta property="og:type" content="website"/
meta property="og:site_name" content="HotelQuando.com"/
meta property="og:title" content="#{page_title}"/
meta property="og:url" content="#{page_url}"/
meta charset="utf-8"/
link href="#{image_path('favicon.ico')}" rel="shortcut icon" type="image/x-icon"/
meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible"/
meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/
META NAME="og:description" CONTENT="#{description}"/
META NAME="Description" CONTENT="#{description}"/
