- if I18n.locale == :en
  - page_title = "#{@hotel.name}  - HotelQuando.com"
  - description = "Book a few hours at #{@hotel.name} and pay only for the time you stay. Why pay for a daily rate if you need a few hours?"
  - page_url = request.url
- elsif I18n.locale == :es
  - page_title = "#{@hotel.name}  - HotelQuando.com"
  - description = "Reserva unas horas en #{@hotel.name} y paga solo por el tiempo que necesites. ¿Por qué pagar por un día entero si sólo necesitas unas horas?"
  - page_url = request.url
- else
  - page_title = "#{@hotel.name}  - HotelQuando.com"
  - description = "Reserve algumas horas no #{@hotel.name} e pague somente pelo tempo que se hospedar. Por que pagar por uma diária se você precisa de apenas algumas horas?"
  - page_url = request.url

title = page_title
meta property="og:type" content="website"/
meta property="og:site_name" content="HotelQuando.com"/
meta property="og:title" content="#{page_title}"/
meta property="og:url" content="#{page_url}"/
meta charset="utf-8"/
link href="#{image_path('favicon.ico')}" rel="shortcut icon" type="image/x-icon"/
meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible"/
meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/
META NAME="og:description" CONTENT="#{description}"/
META NAME="Description" CONTENT="#{description}"/
