- if I18n.locale == :en
  - page_title = "HotelQuando.com - Book hotels by hours."
  - description = "Book hotels by hours around the world at a fair price! Find a hotel in your own city or when on a trip for a day use or overnight stay."
  - page_url = "http://www.hotelquando.com/en/city"
  - aria_text = "Book the best hotels by the hour around the world"
- elsif I18n.locale == :es
  - page_title = "HotelQuando.com - Reserva hoteles por horas"
  - description = "¡Reserva hoteles por horas alrededor del mundo al mejor precio! Encuentra un hotel en tu ciudad o cuando lo necesites usar en un viaje durante el día o para pasar la noche."
  - page_url = "http://www.hotelquando.com/es/city"
- else
  - page_title = "HotelQuando.com - Reserva de hotel por horas"
  - description = "Reserve hotéis por horas no Brasil e no mundo a um preço justo! Encontre um quarto em sua própria cidade ou quando em viagem para day use ou apenas uma noite."
  - page_url = "http://www.hotelquando.com/city"
  - aria_text = "Reserve os melhores hotéis por horas ao redor do mundo"

title = page_title
meta property="og:type" content="website"/
meta property="og:site_name" content="HotelQuando.com"/
meta property="og:title" content="#{page_title}"/
meta property="og:url" content="#{page_url}"/
meta charset="utf-8"/
link href="#{image_path('favicon.ico')}" rel="shortcut icon" type="image/x-icon"/
meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible"/
meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/
META NAME="og:description" CONTENT="#{description}"/
META NAME="Description" CONTENT="#{description}"/
