| <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
html
  head
    title
      | Hotel Quando
    = stylesheet_link_tag("init_login", :media => "all")
    = csrf_meta_tags
    = javascript_include_tag("init_public")


  body class="#{classes_for_scoped_css}"
    = yield

  = load_yojs(app_name: 'hq')
  = javascript_include_tag 'js_routes/init_hotel'
  javascript:
    yojs.set('locale', "#{I18n.locale.to_s.gsub('_br','-BR')}")
