css:
	@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

	.image-header{
		width: 100%;
		height: 100%;
	}
	.image-header img.first{
		width: 100%;
		height: 100%;
	}
	.image-header img.last{
		width: 100%;
		height: 100%;
	}
	.image-footer{
		width: 100%;
		height: 181px;
	}
	.image-footer img{
		object-fit: cover;
		width: 100%;
	}
	.blue-strip{
		text-align: center;
		font-size: 32px;
		width: 100%;
		color: white;
		background-color: rgb(50, 150, 219);
		padding: 5px 0px;
	}
	.blue-strip span{
		color: white;
		display: block;
	}
	.texts{
		margin: 30px;
	}
	.text-center{
		text-align: center;
	}
	.div-button{
		margin-top: 20px;
	}
	.search-hotels{
		background-color: #8cb337;
		color: white;
		border-radius: 5px;
		margin-top: 10px;
		padding: 15px;
		text-decoration: none;
	}


- I18n.with_locale(@referred_friend_log.user.locale) do
	.header
		.image-header
			img.first src="https://s3-sa-east-1.amazonaws.com/hotelquando-production/header-mgm-mail-first-part.png" style="display:block;"
			.blue-strip
				span.text-box #{t("views.referred_friend_mailer.send_refer_code_to_friend.you_got")} R$#{number_to_currency(@promotional_code.discount, unit: '', precision: 0)} #{t("views.referred_friend_mailer.send_refer_code_to_friend.to_book_a_hotel")}
			img.last src="https://s3-sa-east-1.amazonaws.com/hotelquando-production/header-mgm-mail-last-part.png" style="display:block;"

	.body
		.texts
			span.hello_friend = t("views.referred_friend_mailer.send_refer_code_to_friend.hello_friend", friend_name: @referred_friend_log.friend_name)
			br
			span.your_friend_referred_you = t("views.referred_friend_mailer.send_refer_code_to_friend.your_friend_referred_you", user_name: @user.name, discount_value: number_to_currency(@promotional_code.discount, unit: '', precision: 0))
			br
			br
			span.you_know_hq = t("views.referred_friend_mailer.send_refer_code_to_friend.you_know_hq")
			br
			br
			span.for_you_to_try_this_new_experience = t("views.referred_friend_mailer.send_refer_code_to_friend.for_you_to_try_this_new_experience", user_name: @user.name, discount_value: number_to_currency(@promotional_code.discount, unit: '', precision: 0))
			br
			br
			.text-center
				span style="font-size: 30px" = @promotional_code.code
			br
			br
			span.copy_the_code = t("views.referred_friend_mailer.send_refer_code_to_friend.copy_the_code")
			br
			br
			.text-center.div-button
				= link_to(t('views.referred_friend_mailer.send_refer_code_to_friend.search_hotels'), 'http://www.hotelquando.com' , class: 'search-hotels')
			br
			span
				- mbm_config = MemberGetMemberConfig.last
				- wday_names = []
				- wday_array_number = mbm_config.avaiable_for_days_of_the_week.split(",")
				- monday = "0"

				- if @referred_friend_log.user.locale == "pt_br"
					- if wday_array_number.include?(monday)
						- wday_array_number.delete_at(0)
						- wday_array_number << monday
					- wday_array_number.each do |day|
						- if (1..5).include?(day.to_i)
							- if wday_array_number.count > 1 && day.eql?(wday_array_number.last)
								- wday_names << "#{t(:and)} #{t(Date::DAYNAMES[day.to_i].downcase)}-feira"
							- elsif wday_array_number.count > 2 && day != wday_array_number.last && day != wday_array_number.first
								- wday_names << ", #{t(Date::DAYNAMES[day.to_i].downcase)}-feira"
							- else
								- wday_names << "#{t(Date::DAYNAMES[day.to_i].downcase)}-feira"
						- else
							- if wday_array_number.count > 1 && day.eql?(wday_array_number.last)
								- wday_names << "#{t(:and)} #{t(Date::DAYNAMES[day.to_i].downcase)}"
							- elsif wday_array_number.count > 2 && day != wday_array_number.last && day != wday_array_number.first
								- wday_names << ", #{t(Date::DAYNAMES[day.to_i].downcase)}"
							- else
								- wday_names << "#{t(Date::DAYNAMES[day.to_i].downcase)}"
					| *#{t(:promotional_code_available_for_days_of_the_week, weekday: wday_names.join(" ").downcase)}
				- else
					- if wday_array_number.include?(monday)
						- wday_array_number.delete_at(0)
						- wday_array_number << monday
					- wday_array_number.each do |day|
						- if wday_array_number.count > 1 && day.eql?(wday_array_number.last)
							- wday_names << "#{t(:and)} #{t(Date::DAYNAMES[day.to_i].downcase)}"
						- elsif wday_array_number.count > 2 && day != wday_array_number.last && day != wday_array_number.first
							- wday_names << ", #{t(Date::DAYNAMES[day.to_i].downcase)}"
						- else
							- wday_names << "#{t(Date::DAYNAMES[day.to_i].downcase)}"
					| *#{t(:promotional_code_available_for_days_of_the_week, weekday: wday_names.join(" ").downcase)}


	.footer.image-footer
		img src="https://s3-sa-east-1.amazonaws.com/hotelquando-production/footer_mgm_slim_#{@user.locale}.png"



