= header_section title: t("views.admin.exemplo.list_devices")

- if @devices.length == 0
  .alert.alert-info
    = t(:none) + ' ' + t('device.one').downcase + ' ' + t(:registered) + '.'
- else
  - devices = @devices.pluck(:device_id).join(',')
  = link_to t("views.admin.devices.copy_all_tokens"), '#', onclick: "javascript: window.prompt( 'Copy to clipboard: Ctrl+C, Enter', '#{devices}' );", class:'btn btn-xs btn-alert', rel: "nofollow"
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | #{t("views.admin.devices.device_token")}
        th.center
          | #{t("views.admin.devices.created_at")}
        th.center
          | #{t("views.admin.devices.updated_at")}
        th.center
          | #{t("views.admin.devices.actions")}
