- content_for(:title) { "Sua senha" }
p Olá Consultor HotelQuando, #{@consultant.name}! Seja bem-vindo a nossa plataforma de cotações online.
p Sua Conta foi cadastrada na nossa plataforma. Seus dados para acesso são:
p.small
  span.gray login:&nbsp;
  span = @consultant.login

p.small
  span.gray senha:&nbsp;
  span = @consultant.password

p Para acessar seu painel clique no link abaixo:
p = link_to hq_consultant_root_url, hq_consultant_root_url
