= panel_section(name: t("views.admin.newsletters.filter"), class: 'filter widget-box') do
  = form_tag admin_newsletters_path, method: :get, class: 'form-horizontal' do
    .row
      .col-sm-6
        = label_tag :q, t("views.admin.newsletters.filter_by_id"), class: 'control-label no-left-padding'
        input.form-control.js-mask-integer name='by_id' value="#{params[:by_id] || ''}"

      .col-sm-6
        = label_tag :q, t("views.admin.newsletters.filter_by_email"), class: 'control-label no-left-padding'
        input.form-control name='by_email' value="#{params[:by_email] || ''}"

    .row
      .col-sm-6
        = label_tag :q, t("views.admin.newsletters.filter_by_city"), class: 'control-label no-left-padding'
        input.form-control name='by_city' value="#{params[:by_city] || ''}"
    hr

    = submit_tag t("views.admin.newsletters.filter"), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button margin-left-10px'
    = link_to t("views.admin.newsletters.remove_filter"), admin_newsletters_path, class: 'btn btn-sm btn-danger pull-right size-20-percent remove-button cpy-remove-filter-button'
    = submit_tag t("views.admin.newsletters.export_data"), class: 'btn btn-sm btn-default js-export-booking-data size-20-percent', style: 'margin-bottom: 20px;'

    = link_to "Importar Planilha", import_admin_newsletters_path, class: 'btn btn-sm btn-default size-20-percent', style: 'margin-bottom: 20px;'

    .clearfix
