.col-xs-12#footer
  .col-sm-6.text-center
    .row
      i.glyphicon.glyphicon-earphone
    .row
      .phonenum 0800 600 8088 | + 55 21 3478 4100
    .row
      .email
        a.track-email href="mailto:reservas@prodigysantosdumont.com.br" 
          | reservas@prodigysantosdumont.com.br  
  .col-sm-6.text-center
    .row
      i.glyphicon.glyphicon-map-marker
    .row
      .address Av. Almirante Silvio de Noronha, 365 
    .row
      .city Rio de Janeiro, Rio de Janeiro State, 20021-010, Brazil
