@media (max-width: 768px)
  .public-affiliate-layout.public-affiliate-hotel-controller.index-action
    .hotel-list-page-wrapper
      margin-top: -15px
      .all-matches-hotels
        border-radius: 0
        box-shadow: none
        padding: 0
        background-color: transparent
        min-height: 0
        .exact-matches-hotels
          h3
            text-align: center
          .tudo-azul
            .description
              text-align: center
        .search-not-found
          margin-top: 20px
        .subscribe-form-wrapper.well
          padding: 10px
          width: auto
          .label-email
            margin-right: 0
          .input-email
            width: 100%
            padding: 0
            font-size: inherit
            text-align: center
          .subscribe-button
            margin: 10px 0 0 0
            padding: 5px
            font-size: 12px
        .similar-matches-hotels
          text-align: justify
          h1.text-center.similar-offers-title
            font-size: 22px
            margin: 10px 0
            letter-spacing: 2px
            color: #57b12f
            font-weight: 300
          .title
            text-align: center
          .subtitle
            font-size: 10px
            letter-spacing: 1px
