- content_for(:title) { "A reserva de #{@user.name} expirou" }
p Olá, #{@affiliate.name}.
p A reserva de #{@user.name} para #{@booking.checkin_date.strftime('%d/%m/%Y')}, no hotel #{@booking.hotel.name} não foi confirmada dentro do limite de tempo e por isso foi expirada.

p Para visualizar os dados de #{@user.name} e acessar sua conta novamente, acesse:
p = link_to affiliate_user_url(@user), affiliate_user_url(@user)

p Para acessar seu painel clique no link abaixo:
p = link_to affiliate_root_url, affiliate_root_url
