- content_for(:title) { "Nova Reserva para #{@user.name}" }
p Olá, #{@affiliate.name}.

p A reserva do cliente #{@user.name}, para um pacote de #{@booking.pack_in_hours} horas com checkin em #{@booking.checkin_date.strftime('%d/%m/%Y')} no hotel #{@booking.offer.hotel.name} foi iniciada com sucesso.
p Lembramos que você tem 15 minutos para informar os dados de pagamento e confirmar a reserva, caso contrário ela será expirada e voltará a ficar disponível em nossa plataforma.

p Para acessar seu painel clique no link abaixo:
p = link_to affiliate_root_url, affiliate_root_url
