- content_for(:title) { "Reserva para #{@user.name} confirmada - ##{@booking.id}" }
p Olá, #{@affiliate.name}.
p A reserva de #{@user.name} para #{@booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")}, no hotel #{@booking.hotel.name} foi confirmada com sucesso.

h2 Informações da Reserva
p
  | Código da Reserva: #{@booking.id}
  br/
  | Hotel: #{@booking.hotel.name}
  br/
  - if @booking.is_meeting_offer?
    | Nome da sala de reunião: #{@booking.offer.meeting_room.name_pt_br}
  - elsif @booking.is_event_offer?
    | Nome do salão de evento: #{@booking.offer.event_room.name_pt_br}
  - else
    | Tipo de Quarto: #{@booking.offer.room_type.full_name_pt_br}
  br/
  | Checkin: #{@booking.offer.checkin_timestamp.strftime("%d/%m/%Y %H:%M")}
  br/
  | Pacote: #{@booking.offer.pack_in_hours} #{@booking.offer.pack_in_hours.eql?(1) ? 'hora' : 'horas'}
  br/
  | Checkout: #{@booking.offer.checkout_timestamp.strftime("%d/%m/%Y %H:%M")}
  br/
  | Número de pessoas: #{@booking.number_of_people}
  br/
  | Nome do titular: #{@booking.guest_name}
  br/
  | Valor Total: #{number_to_currency(@booking.total_price)}


h2 Informações de Pagamento
p
  - if @booking.confirmed_by_maxipago?
    - if (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed])
      | Você deverá pagar a reserva no hotel.
      p Métodos de pagamento aceitos pelo hotel: #{@booking.hotel.payment_method_pt_br}.
    - elsif (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_captured])
      | O pagamento da reserva foi efetuado com sucesso através da nossa plataforma.
  - elsif (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_without_card])
    | Você deverá pagar a reserva no hotel.
  - elsif (@booking.status == Booking::ACCEPTED_STATUSES[:confirmed_and_invoiced])
    | O pagamento da reserva foi efetuado com sucesso através da nossa plataforma.
  - else
    | Você deverá efetuar o pagamento da reserva diretamente ao hotel durante a estadia.
    p Métodos de pagamento aceitos pelo hotel: #{@booking.hotel.payment_method_pt_br}.

p
  - if @booking.hotel.accepts_booking_cancellation?
    | A reserva pode ser cancelada sem custos até #{@booking.hotel.minimum_hours_of_notice} horas antes do horário de checkin.
  - else
    | A reserva não pode ser cancelada. Em caso de não comparecimento (no-show) será realizada uma cobrança no cartão de crédito cadastrado no pedido.


h2 Detalhes do Hotel
p
  b #{@booking.hotel.name}
  br/
  | #{@booking.hotel.address}


| -------------------------

p Para acessar seu painel clique no link abaixo:
p = link_to affiliate_root_url, affiliate_root_url
