- content_for(:title) { "Sua senha" }
p Olá, #{@affiliate.name}! Seja bem-vindo ao HotelQuando.com.
p Você acaba de se tornar um afiliado em nossa plataforma. Seus dados para acesso são:
p.small
  span.gray login:&nbsp;
  span = @affiliate.login

p.small
  span.gray senha:&nbsp;
  span = @affiliate.password

p Para acessar seu painel clique no link abaixo:
p = link_to affiliate_root_url, affiliate_root_url
