body.public-affiliate-layout

  #footer 
    background-color: #f8f8f8
    border-top: 1px solid #e7e7e7
    padding: 18px
    z-index: 101

    i
      font-size: 20px
  .footer-logos
    span
      color: white
    img
      width: 180px