.hotel-pricing-policies-controller.new-action,
.hotel-pricing-policies-controller.create-action,
.hotel-pricing-policies-controller.edit-action,
.hotel-pricing-policies-controller.update-action,
.hotel-business-room-pricing-policies-controller.new-action,
.hotel-business-room-pricing-policies-controller.create-action,
.hotel-business-room-pricing-policies-controller.edit-action,
.hotel-business-room-pricing-policies-controller.show-action
  h3.header-label
    margin-top: 50px
    margin-bottom: 10px
    text-align: center

  .money-input
    width: 150px
    height: 40px
    font-size: 22px
    text-align: center

  .base-price-item
    padding: 15px 0
    margin-bottom: 20px
    background: #fafafa

    &:hover
      background: #f5f5f5
    big
      font-size: 25px
      position: relative
      top: 3px
    .row
      &:first-child
        margin-bottom: 5px


  span.help-block
    width: 100% !important
    color: red

  .profiles-list
    font-size: 14px
    .profile
      transition: all linear 0.2s
      display: inline-block
      width: 200px
      background: #ddd
      border-radius: 5px
      padding: 10px 10px
      cursor: pointer
      margin-right: 10px
      &:last-child
        margin-right: 0
      &.active
        background: #23a0bc
        color: white

  input[readonly]
    cursor: auto
    background: white !important
    border: 0 !important

  .input-in-table
    border: 1px solid #eee

  .table.no-margin-top
    margin-top: 0
