.hotel-pricing-policies-controller,
.hotel-business-room-pricing-policies-controller
  table
    font-size: 14px

    input
      width: 100%
      height: 100%
      text-align: center
      border: 0

    .dark-row
      td
        background-color: #e9e9e9

    tr
      td:first-child
        padding-left: 10px
  .table-profiles
    margin-top: 30px
    margin-bottom: 30px

    tr.active
      td
        background: #23a0bc
        color: #fff
