h3.header.lighter.smaller.green = t("views.admin.agency_reports.title")

table.table.table-striped.table-bordered.table-hover
  thead
    tr
      th.center.size-10-percent
        | #{t("views.admin.agency_reports.code")}
      th.center.size-20-percent
        | #{t("views.admin.agency_reports.owner")}
      th.center.size-15-percent
        | #{t("views.admin.agency_reports.checkin")}
      th.center.size-10-percent
        | #{t("views.admin.agency_reports.package")}
      th.center.size-15-percent
        | #{t("views.admin.agency_reports.total_price")}
      th.center.size-15-percent
        | #{t("views.admin.agency_reports.reservation_created_by_agency")}
      th.center.size-15-percent
        | #{t("views.admin.agency_reports.status")}
  tbody
    - bookings.each do | booking |
      tr.center
        td
          = booking.id
        td
          = booking.guest_name
        td
          = (booking.offer.checkin_timestamp).strftime("%d/%m/%Y %H:%M")
        td
          = "#{booking.pack_in_hours}h"
        td
          - if /no_show/ === Booking::ACCEPTED_STATUS_REVERSED[booking.status].to_s
            = number_to_currency booking.no_show_value
          - else
            = number_to_currency booking.total_price
        td
          = ("<i class=" + (booking.created_by_agency ? 'icon-ok' : 'icon-remove') + '></i>').html_safe
        td
          = t(Booking::ACCEPTED_STATUS_REVERSED[booking.status])
