= panel_section(name: t("views.admin.agency_reports.invoice"), class: 'filter widget-box') do
  = form_tag admin_agency_reports_path, method: :get, class: 'form-horizontal' do
    .row
      .col-sm-6
        = label_tag :q, t("views.admin.agency_reports.agency"), class: 'control-label no-left-padding'
        - options_for_agency_select = []
        - Agency.all.order(:name).each { | agency |  options_for_agency_select << [agency.name, agency.id]}
        = select_tag 'agency_id', options_for_select(options_for_agency_select, params[:agency_id]), class: 'size-100-percent'

    .row
      .col-sm-6
        = label_tag :q, t("views.admin.agency_reports.type"), class: 'control-label no-left-padding'
        = select_tag 'invoice_type', options_for_select([['Fatura Dia 10', 'tenth_day'], ['Fatura Final de Mês', 'end_of_month']], params[:invoice_type]), class: 'size-100-percent'

    .row
      .col-sm-6
        = label_tag :q, t("views.admin.agency_reports.month_report"), class: 'control-label no-left-padding'
        - array_of_months = [ ["#{I18n.t('date.month_names')[Date.today.month]} #{Date.today.year}", Date.today.strftime('%Y-%m-10')] ]
        - @quantity_of_months.times { |i| i+=1; array_of_months << ["#{I18n.t('date.month_names')[i.month.ago.month]} #{i.month.ago.year}", i.month.ago.to_date.strftime('%Y-%m-10')] }
        = select_tag 'date', options_for_select(array_of_months, params[:date]), class: 'size-100-percent'

    hr

    = submit_tag t("views.admin.agency_reports.generate"), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-generate-button margin-left-10px'

    .clearfix
