h3.header.lighter.smaller.green = t("views.admin.agency_reports.invoice_for_agency", name: agency.name)
table.table.table-striped.table-bordered.table-hover.cpy-agency-invoice
  tr
    td.text-right
      h4
        | #{t("views.admin.agency_reports.reservations_total_price")}
    td
      h4.cpy-total-value.text-primary
        = number_to_currency(invoice[:info][:totals][:value])

  tr
    td.text-right
      b
        | #{t("views.admin.agency_reports.number_of_reservation_created_by_client")}
    td
      b.cpy-bookings-created-by-agency-clients.text-primary
        = invoice[:info][:totals][:number_of_bookings_created_by_agency_clients]

  tr
    td.text-right
      b
        | #{t("views.admin.agency_reports.number_of_reservation_created_by_agency")}
    td
      b.cpy-bookings-created-by-agency.text-primary
        = invoice[:info][:totals][:number_of_bookings_created_by_agency]

  tr
    td.text-right
      b
        | #{t("views.admin.agency_reports.reservations_total_count")}
    td
      b.cpy-number-of-total-bookings.text-primary
        = invoice[:info][:totals][:number_of_bookings]

  tr
    td.text-right
      b
        | #{t("views.admin.agency_reports.total_comission_value")}
    td
      b.cpy-hotelquando-comission.text-primary
        = number_to_currency invoice[:info][:totals][:hotelquando_comission]

  tr
    td.text-right
      b
        | #{t("views.admin.agency_reports.total_tax_value")}
    td
      b.cpy-booking-tax.text-primary
        = number_to_currency invoice[:info][:totals][:booking_tax]

  tr
    td.text-right
      b
        | #{t("views.admin.agency_reports.commission_by_agency")}
    td
      b.cpy-agency-comission-value.text-primary
        = number_currency(agency.comission_value)

  tr.dark-row
    td.text-right
      b
        | #{t("views.admin.agency_reports.agency_comission_total")}
    td
      b.cpy-agency-comission.text-primary
        = number_to_currency invoice[:info][:totals][:agency_comission]
