.container
  .row
    .col-sm-8.col-sm-offset-2
      h4.text-center.form-header
        = t(:resend_email_confimation_instructions)
      .row
        = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
          .col-sm-9.col-sm-offset-1
            - if flash[:alert]
              p.alert.alert-danger
                = flash[:alert]
            - if devise_error_messages!.present?
              .alert.alert-danger.errors_container
                b
                  = t(:please_review_the_problems_below)
                br
                = devise_error_messages!

            = f.input :email, :required => true, :autofocus => true, wrapper: :full_spaces, label: 'E-mail'
          .col-sm-10.col-sm-offset-1
            .form-actions.text-center
              = f.button :submit, t(:resend_instructions), class: 'cpy-submit-button pill green medium'
  .row
    .col-sm-6.col-sm-offset-3
      .shared-links.text-center
        = render partial: "public/shared/links"
