- content_for(:title) { "" }
p Olá sua solicitação de aéreo com saída de #{@travel.airs[0].origin}  
p na data de  #{@travel.airs[0].departure_date.strftime("%d/%m/%Y %H:%M")}
p ficou pronta! Acesse esta url abaixo para ver mais detalhes.
p = link_to public_root_url + public_travel_request_path(@travel.id), public_root_url + public_travel_request_path(@travel.id)
