- content_for(:title) { "(Nova SV: #{@travel.id})" }
p Foi criada uma nova solicitação no sistema
p SV: #{@travel.id}
p Empresa Solicitante: #{@company_detail.name}
p E-mail da empresa: #{@user.email}

p Para acessar esta solicitação e preencher as informações, clique no link abaixo:
p = link_to public_root_url + hq_consultant_travel_request_path(@travel.id), public_root_url + hq_consultant_travel_request_path(@travel.id)
