- content_for(:title) { "" }
p A solicitação id: #{@travel.id} foi aprovada e escolhido como forma de pagamento FATURADO.
p Efetue a reserva para o solicitante.
p Acesse a solicitação pelo link abaixo.
p = link_to public_root_url + hq_consultant_travel_request_path(@travel.id), public_root_url + hq_consultant_travel_request_path(@travel.id)
