.executive-responsible-company-universes-controller.edit-action, .executive-responsible-company-universes-controller.update-action
  .hint
    margin-top: -15px
    padding-left: 5px
    text-align: justify
    width: 32.3%
  .field-with-two-lines-label
    height: 33px
    .control-label
      margin-top: -9px

  .checkbox
    padding-left: 0
    padding-top: 3px

.ui-datepicker-div
  z-index: 11 !important
