@import animate.min
@import bourbon
@import font-awesome-sprockets
@import font-awesome
@import executive_responsible/init


.ui-autocomplete 
  max-height: 100px
  overflow-y: auto
  overflow-x: hidden

* html .ui-autocomplete 
  height: 100px

li.ui-menu-item:hover
  cursor: pointer !important
  background-color: #1e90ff !important
  color: #FFF !important

li.ui-menu-item.active
  background-color: #1e90ff !important

ui-helper-hidden-accessible
  div
    display: none !important
