.public-affiliate-layout.public-affiliate-hotel-controller.index-action
  .hotels-box
  
    .individual-hotel
      border-top: 1px solid #eeeeee
      padding: 25px 0px

      .cancellation-and-breakfast
        margin-top: 10px
        .fa
          color: #1b4d73
        .red
          color: #bf0000

      .hotel-photo
        width: 100%
        max-height: 400px
        float: left

      .hotel-name
        font-size: 16px
        letter-spacing: 1px
        font-weight: 400

        a
          color: $gray

          &:hover
            color: lighten($gray, 15%)

      .business-room-name
        font-size: 21px
        letter-spacing: 1px
        font-weight: 500
        
        span
          color: $gray

        a
          text-decoration: none

        p.complement-business-room-name
          font-size: 12px
          letter-spacing: 1px
          font-weight: 500
          color: $gray

        span.complement-hotel-name
          font-size: 16px
          letter-spacing: 1px
          font-weight: 500
          color: #666

      .hotel-rating
        color: #1b4d73
        letter-spacing: 9px

        .glyphicon
          font-size: 13px

      .hotel-address
        margin-top: -3px
        font-size: 12px
        letter-spacing: 1px
        font-weight: 400

        a
          color: $gray

          &:hover
            color: lighten($gray, 15%)

        .map-marker
          font-size: 18px
          margin-right: 2px

        .distance
          font-weight: 700
          position: relative
          left: 18px
          span.number-distance
            color: #1b4d73
            font-size: 16px


        .see-map
          font-weight: 700
          position: relative
          left: 50px

          a
            text-decoration: none

      .hotel-from-price
        font-size: 12px
        letter-spacing: 1px

        .bigger
          font-size: 23px
          color: $gray
          font-weight: 400

      .hotel-description, .hotel-payment-methods
        font-size: 12px
        letter-spacing: 0px
        margin-top: 5px
        margin-bottom: 8px
        text-align: justify

      .hotel-details
        letter-spacing: 1px
        font-size: 14px
        font-weight: 400
