.agency-clients-controller.edit-action, .agency-clients-controller.update-action
  .checkbox
    padding-left: 0
    padding-top: 3px
  .payments-check-box
    font-size: 13px
    padding-top: 6px
    padding-right: 2px
    text-align: left