.row ng-controller="SignUpCtrl"
  .col-md-10.col-md-offset-1.col-xs-12
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      .form-group.name.public_affiliate_user_name
        .row
          .col-xs-4
            .attribute-title.text-right
              => "#{t(:name)}:"
          .col-xs-8
            input class="string name  form-control" id="sign-up-public_affiliate_user_name" name="public_affiliate_user[name]" type="name" value="#{params[:user_input] ? params[:user_input][:name] : ''}"

      .form-group.email.public_affiliate_user_email
        .row
          .col-xs-4
            .attribute-title.text-right
              => 'E-mail:'
          .col-xs-8
            input class="string email js-email-with-suggestion form-control" id="sign-up-public_affiliate_user_email" name="public_affiliate_user[email]" type="email" value="#{params[:user_input] ? params[:user_input][:email] : ''}"

      / .form-group.city.public_affiliate_user_city
      /   .row
      /     .col-xs-4.text-right
      /       label.country.control-label.attribute-title for="public_affiliate_user_address"
      /         => "#{t(:address)}"
      /     .col-xs-8
      /       input class="string city optional form-control" id="autocomplete" name="public_affiliate_user[address]" placeholder=""

      .form-group.city.public_affiliate_user_country
        .row
          .col-xs-4.text-right
            label.country.control-label.attribute-title for="public_affiliate_user_country"
              => "#{t(:country)}"
          .col-xs-8
            = select_tag :country, options_from_collection_for_select(Country.all.order("name_#{I18n.locale}"), :iso_initials, "name_#{I18n.locale}"), class: "string city form-control", name: "public_affiliate_user[country]",prompt: t(:enter_your_country)
      .form-group.city.public_affiliate_user_city
        .row
          .col-xs-4.text-right
            label.city.control-label.attribute-title for="public_affiliate_user_city"
              = t(:city)
          .col-xs-8
            input class="string city form-control" id="autocomplete" name="public_affiliate_user[city]" type="city" value="#{params[:public_affiliate_user] ? params[:public_affiliate_user][:city] : ''}" placeholder=""
      .hide id="address_hide"

        .form-group.city.public_affiliate_user_state
          .row
            .col-xs-4.text-right
              label.state.control-label.attribute-title for="public_affiliate_user_state"
                => "#{t(:state)}"
            .col-xs-8
              input class="string state form-control" id="administrative_area_level_1" name="public_affiliate_user[state]"


        .form-group.street.public_affiliate_user_street
          .row
            .col-xs-4.text-right
              label.street.control-label.attribute-title for="public_affiliate_user_street"
                = t(:street)
            .col-xs-5
              input class="string street form-control" id="route" name="public_affiliate_user[street]" type="street" value="#{params[:public_affiliate_user][:street] if params[:public_affiliate_user]}"

            .col-xs-3
              input class="string number form-control" id="street_number" name="public_affiliate_user[number]" type="number" value="#{params[:public_affiliate_user][:number] if params[:public_affiliate_user]}"

        .form-group.postal-code.public_affiliate_user_postal_code
          .row
            .col-xs-4.text-right
              label.postal_code.control-label.attribute-title for="public_affiliate_user_postal_code"
                = t(:postal_code)
            .col-xs-8
              input class="string postal-code form-control" id="postal_code" name="public_affiliate_user[postal_code]" type="postal_code" value="#{params[:public_affiliate_user][:postal_code] if params[:public_affiliate_user]}"

      .form-group.password.public_affiliate_user_password
        .row
          .col-xs-4
            .attribute-title.text-right
              => "#{t(:password)}:"
          .col-xs-8
            input.password.form-control id="sign-up-public_affiliate_user_password" name="public_affiliate_user[password]" type="password"

      .form-group.password_confirmation.public_affiliate_user_password_confirmation
        .row
          .col-xs-4
            .attribute-title.text-right
              => "#{t(:password_confirmation)}:"
          .col-xs-8
            input.password_confirmation.form-control id="sign-up-public_affiliate_user_password_confirmation" name="public_affiliate_user[password_confirmation]" type="password"


      .form-group.password_confirmation.public_affiliate_user_password_confirmation
        .row
          .col-xs-4
            .attribute-title.text-right
              => "#{t('users.locale')}:"
          .col-xs-8
            .locale
              = select_tag 'public_affiliate_user_locale', options_for_select(User::ACCEPTED_LOCALES.collect{ | locale | [locale[1],locale[0]]}), name: 'public_affiliate_user[locale]'

      .form-actions.text-center
        button.pill.green.big.booking-flux-submit-button.sign-up-button.cpy-submit-registration-button name="commit" type="submit"
          = t(:register)
