- unless Rails.env.test?
  ruby:
    photos = f.object.photos.select([:title_en, :title_pt_br, :title_es, :id, :file_file_name, :file_content_type]).map do |photo|
      {
        title_en: photo.title_en,
        title_pt_br: photo.title_pt_br,
        title_es: photo.title_es,
        id: photo.id,
        image_url: photo.file.url(:small)
      }
    end
  div
    h3.header.smaller.lighter.green.nested-photo-form-title
      | #{t('views.admin.hotels.photos')}
      a.btn.btn-warning.btn-xs data-toggle='modal' data-target='.js-modal-add-photo' #{t('views.admin.hotels.add_new_photo')}
      .clearfix

    .photo-list
      - if f.object.photos.size == 0
        p.label.label-info ng-show='photos.length == 0'
          | #{t('views.admin.hotels.hotel_without_photo')}
      .photo-item.pull-left.size-50-percent ng-repeat="photo in photos" ng-class="{opaque: photo.destroy}" ng-animate="'animate'"
        = f.simple_fields_for :photos, Photo.new, child_index: '{{$index}}' do |photo_form|
          = photo_form.input :id, input_html: { id: 'id_photo_{{$index}}', value: '{{photo.id}}' }, as: :hidden
          div.photo-wrapper
            img ng-src="{{photo.direct_image_url || photo.image_url}}"
            div ng-hide="photo.is_main"
              span.btn.btn-xs.btn-danger.action-button ng-hide="photo.destroy" ng-click='remove($index)'
                i.bigger-100.icon-trash.animate-show-hide
              span.btn.btn-xs.btn-cancel.action-button ng-show="photo.destroy" ng-click='removeUndo($index)'
                i.bigger-100.icon-undo.animate-show-hide
          div
            - display_is_main_controls = (params[:controller] == "admin/hotels" || params[:controller] == "admin/affiliates")
            - display_is_room_type_controls = params[:controller] == "admin/affiliates"
            - mark_as_cover_text = params[:controller] == "admin/hotels" ? t('views.admin.hotels.mark_as_cover') : t('views.admin.affiliates.mark_as_logo')
            - cover_image_text = params[:controller] == "admin/hotels" ? t('views.admin.hotels.cover_image') : t('views.admin.affiliates.logo_image')
            .form-group
              label.string.optional.col-sm-3.control-label #{t('views.admin.hotels.image_title')}
              - if display_is_main_controls
                .col-sm-9
                  a.pull-right.cursor-pointer ng-click="setPhotoAsMain($index)" ng-hide="photo.is_main" #{mark_as_cover_text}
                  - if display_is_room_type_controls
                    a.pull-right.cursor-pointer ng-click="setPhotoAsBedroom($index)" ng-hide="photo.is_main || photo.title_pt_br == 'quartos'" = t('views.admin.affiliates.mark_as_bedroom')
                    a.pull-right.cursor-pointer ng-click="setPhotoAsMeetingroom($index)" ng-hide="photo.is_main || photo.title_pt_br == 'salas'" = t('views.admin.affiliates.mark_as_meetingroom')
                  span.pull-right.label.label-warning style="font-size:13px" ng-show="photo.is_main" #{cover_image_text}
                  span.pull-right.label.label-warning style="font-size:13px" ng-show="!photo.is_main && photo.title_pt_br == 'quartos'" = t('views.admin.affiliates.bedroom_image')
                  span.pull-right.label.label-warning style="font-size:13px" ng-show="!photo.is_main && photo.title_pt_br == 'salas'" = t('views.admin.affiliates.meetingroom_image')
                  .clearfix


            .hidden
              = photo_form.input :is_main, input_html: { 'ng-model' => 'photo.is_main' }
              = photo_form.input :title_pt_br, wrapper: :full_spaces, input_html: { id: 'title_pt_br_photo_{{$index}}', value: '{{photo.title_pt_br}}', 'ng-model' => 'photo.title_pt_br' }, label: image_tag('flags/pt_br.png')
              = photo_form.input :title_en, wrapper: :full_spaces, input_html: {  id: 'title_en_photo_{{$index}}', value: '{{photo.title_en}}' }, label: image_tag('flags/en.png')
              = photo_form.input :title_es, wrapper: :full_spaces, input_html: {  id: 'title_es_photo_{{$index}}', value: '{{photo.title_es}}' }, label: image_tag('flags/es.png')
              = photo_form.input :direct_image_url, input_html: { id: 'direct_image_url_photo_{{$index}}', value: '{{photo.direct_image_url}}', :'ng-if' => "photo.direct_image_url" }, as: :hidden
            .hidden
              = photo_form.input :_destroy, as: :boolean, input_html: { 'ng-model' => 'photo.destroy', id: '_destroy_photo_{{$index}}' }

      .clearfix
