.modal.fade.js-modal-add-photo tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myLargeModalLabel"
  .modal-dialog
    .modal-content
      .modal-header
        | <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        | <h4 class="blue bigger">#{t('views.admin.hotels.add_new_image')}</h4>
      .modal-body
        .form-horizontal
          .form-group
            label.form-field-username.string.optional.col-sm-3.control-label #{t('views.admin.hotels.photos')}
            div.col-sm-8
              input.hidden.js-direct-upload-url class="input-large" type="text" placeholder="Título em inglês" ng-model="photoToBeAdded.direct_image_url"
              = s3_uploader_form \
                class: "js-s3-uploader",\
                expiration: 24.hours.from_now.utc.iso8601,\
                key: "tmp/{timestamp}-{unique_id}-#{SecureRandom.hex}/${filename}",\
                key_starts_with: "tmp/", \
                max_file_size: 20.megabytes do

                = file_field_tag :file, multiple: false, :id => "", :class => "upload_field"
                div.progress_bar_wrapper.js_upload_bar_container

                p.js_file_name
                img.js_image_preview.image-preview ng-src="{{previewImageSRC}}"
                .clearfix

          .form-group
            label.string.optional.col-sm-3.control-label #{t('views.admin.hotels.image_title')}
          .form-group
            label.form-field-username.string.optional.col-sm-3.control-label = image_tag('flags/pt_br.png')
            div.col-sm-8
              input class="input-large" type="text" placeholder="Título em português" ng-model="photoToBeAdded.title_pt_br"

          .space-4

          .form-group
            label.form-field-username.string.optional.col-sm-3.control-label = image_tag('flags/en.png')
            div.col-sm-8
              input class="input-large" type="text" placeholder="Título em inglês" ng-model="photoToBeAdded.title_en"

          .form-group
            label.form-field-username.string.optional.col-sm-3.control-label = image_tag('flags/es.png')
            div.col-sm-8
              input class="input-large" type="text" placeholder="Título em espanhol" ng-model="photoToBeAdded.title_es"


          script id="template-upload" type="text/x-tmpl"
            div id="upload_{%=o.unique_id%}" class="upload"
              | <h5 class="file_name">{%=o.name%}</h5>
              | <div class="progress progress-striped active"><div class="progress-bar bar" style="width: 0%"></div></div>

      .modal-footer

        |
          <a class="btn btn-sm" data-dismiss="modal">
            <i class="icon-remove"></i>
             #{t(:cancel)}
          </a>

          <a class="btn btn-sm btn-primary" ng-click="add()">
            <i class="icon-ok"></i>
            #{t('codus_templates.buttons_titles.defaults.add')}
          </a>

          <a class="btn btn-sm btn-primary" ng-click="add(true)">
            <i class="icon-ok"></i>
            #{t('views.admin.hotels.add_and_close')}
          </a>
