h3.header.smaller.lighter.green
  | Fotos
.photo-list
  - if photos.size == 0
    p.label.label-info Nenhuma foto cadastrada
  - photos.each do |photo|
    .photo-item.pull-left.size-50-percent
      div.photo-wrapper
        = image_tag(photo.file.url(:small))
      div
        - if photo.is_main
          span.pull-right.label.label-info Foto principal
        = show_for photo do |u|
          = multilanguage_attribute_show_for(:title, u)
  .clearfix
