table.table.table-bordered
  thead
    - HotelQuando::Constants::LENGTH_OF_PACKS.each do | length_of_pack |
      th.text-center.size-14-percent
        = "#{length_of_pack.to_s} #{t(:hours)}"
  	th.text-center
  		= t(:daily_budget)
  tr.text-center
    - HotelQuando::Constants::DEFAULT_PRICING_POLICY_PERCENTAGES_FOR_EACH_PACK.each do | pack_in_hours, percentage |
      td.js-mask-money
        = number_to_currency (user.budget_for_24_hours_pack.to_f * (percentage.to_f / 100))
