= header_section

h2 = @room_type.hotel
h3 = t("views.admin.hotels.room_type_pt_br", room: @room_type.full_name_pt_br)

= render partial: "admin/hotels/room_types/edit/form", locals: {room_type: @room_type}
