div ng-controller="PhotosCtrl" ng-init="photos = #{room_type.photos.to_json}"
  = simple_form_for [:admin, room_type.hotel, room_type] do |f|
    = multilanguage_attribute_field_for(:booking_name, f)
    = multilanguage_attribute_field_for(:name, f)
    = f.hint t('room_type_fields.name_hint'), class: 'col-sm-offset-3'


    .form-group.string.optional.room_type_name
      = label_tag :q, t('activerecord.attributes.room_type.bed_configuration'), class: "text optional col-sm-3 control-label"
      .controls.col-sm-4
    = f.input :double_bed_quantity, collection: (0..5), prompt: false, required: false
    = f.input :single_bed_quantity, collection: (0..5), prompt: false, required: false

    = f.hint t('room_type_fields.bed_configuration_hint'), class: 'col-sm-offset-3'

    = multilanguage_attribute_field_for(:description, f)
    = f.hint t('room_type_fields.description_hint'), class: 'col-sm-offset-3'

    = f.input :maximum_capacity, collection: (1..15), prompt: false
    = f.hint t('room_type_fields.maximum_capacity_hint'), class: 'col-sm-offset-3'

    = shared_component("nested_photo_form", {f: f})

    = form_submit_section
  = shared_component("new_nested_photo_modal")
