= header_section title: t("views.admin.promotional_codes.adding_promotional_code")
= form_tag import_csv_admin_newsletters_path, multipart: true, method: :post, class: 'form-horizontal' do
  .row
    .col-sm-6
      = file_field_tag :file, class: 'size-100-percent'
    hr

    = submit_tag t("views.admin.agency_reports.generate"), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-generate-button margin-left-10px'
