= header_section
- if @newsletters.length == 0

  - if Newsletter.first
    .row
      .col-sm-12
        = render partial: "/admin/newsletters/index/filter"
    .alert.alert-info
      | #{t("views.admin.newsletters.no_email_found")}
  - else
    .alert.alert-info
      | #{t("views.admin.newsletters.no_email_found")}
- else
  .row
    .col-sm-12
      = render partial: "/admin/newsletters/index/filter"

  .cpy-pagination-links
    = pagination_links_for @newsletters
  .row
    .col-sm-12
      table.table.table-striped.table-bordered.table-hover.cpy-room-list
        thead
          tr
            th.center
              | #{t("views.admin.newsletters.code")}
            th.center
              | #{t("views.admin.newsletters.email")}
            th.center
              | #{t("views.admin.newsletters.city")}
            th.center
              | #{t("views.admin.newsletters.country")}
        tbody
          - @newsletters.each do | newsletter |
            tr.center
              td
                = newsletter.id
              td
                = newsletter.email
              td
                = newsletter.city
              td
                = newsletter.country

  = pagination_links_for @newsletters
