- if @resource.locale == 'en'
  - content_for(:title) { "E-mail confirmation" }

  p
    | Welcome #{@resource.name}
  p
    | You can confirm your account e-mail through the link below

  = link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
- else
  - content_for(:title) { "Confirmação de e-mail" }

  p
    | Bem vindo #{@resource.name}
  p
    | Voce pode confirmar seu e-mail através do link abaixo:

  = link_to 'Confirmar minha conta', confirmation_url(@resource, confirmation_token: @token)


