- if @resource.try(:locale) == 'en'
  - content_for(:title) { "Recover Password" }
  p Hello, #{@resource.name}!
  p There was a request to change your HotelQuando password. You can do this by visiting the link below:
  p = link_to "Change Password", edit_password_url(@resource, :reset_password_token => @token)
  p If you didn't ask to change your password, please ignore this e-mail.
  p Your password won't change until you visit the link and create a new one.

- else
  - content_for(:title) { "Recuperar senha" }
  p Olá, #{@resource.name}!
  p Um pedido para mudança de senha no HotelQuando foi requisitado. Você pode fazer isso pelo link abaixo:
  p = link_to "Alterar Senha", edit_password_url(@resource, :reset_password_token => @token)
  p Se você não pediu para alterar sua senha por favor ignore este e-mail.
  p Sua senha não mudará até você acessar o link acima e criar uma nova senha.
