= render partial: 'admin/company_universes/util'

= panel_section(name: t("views.admin.bookings.filter"), class: 'filter widget-box') do
  = form_tag executive_responsible_company_details_path, method: :get, class: 'form-horizontal' do
    .row
      .col-sm-3
        = label_tag :q, "#{t('views.executive_responsible.companies_registered.filter.name')}", class: 'control-label no-left-padding'
        input.form-control name='by_name' value="#{params[:by_name] || ''}"

      .col-sm-3
        = label_tag :q, "#{t('views.executive_responsible.companies_registered.filter.executive_service')}", class: 'control-label no-left-padding'
        input.form-control name='by_executive_service' value="#{params[:by_executive_service] || ''}"


      .col-sm-3
        = label_tag :q, "#{t('views.executive_responsible.companies_registered.filter.executive_responsible')}", class: 'control-label no-left-padding'
        input.form-control name='by_executive_responsible' id="executiveHash" value="#{params[:by_executive_responsible] || ''}"

      .col-sm-3
        = label_tag :q, "#{t('views.executive_responsible.companies_registered.filter.cnpj')}", class: 'control-label no-left-padding'
        input.form-control name='by_cnpj' value="#{params[:by_cnpj] || ''}"

    br

    .row
      .col-sm-4
        = label_tag :q, "#{t('views.executive_responsible.companies_registered.filter.initial_date')}", class: 'control-label no-left-padding'
        .input-group
          span.input-group-addon.size-35-percent
            | #{t("views.admin.bookings.enter")}
          input.js-date-picker.form-control.text-right.js-mask-date.js-initial-date name='by_created_at[initial_date]' value="#{params[:by_created_at].try(:[],:initial_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .input-group
          span.input-group-addon.size-35-percent
            | #{t("views.admin.bookings.and")}
          input.js-date-picker.form-control.text-right.js-mask-date.js-final-date name='by_created_at[final_date]' value="#{params[:by_created_at].try(:[],:final_date) || ''}"
          span.input-group-addon
            i.icon-calendar.bigger-110
        .clearfix

    hr

    = submit_tag t("views.admin.bookings.filter"), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button margin-left-10px'
    = link_to t("views.admin.bookings.remove_filter"), executive_responsible_company_details_path, class: 'btn btn-sm btn-danger pull-right size-20-percent remove-button cpy-remove-filter-button'

    .clearfix
