= simple_form_for [:executive_responsible, company_detail] do |f|

  = f.input :executive_service
  
  .form-group.boolean.optional.user_accept_confirmed_and_invoiced
    label.boolean.optional.col-sm-3.control-label for="user_accept_confirmed_and_invoiced"
      | #{t("views.admin.users.accepts_billed_payment")}
    .col-sm-4
      input name="user[accept_confirmed_and_invoiced]" type="hidden" value="0"
      .checkbox
        label
          - if @company_detail.user.accept_confirmed_and_invoiced
            input class="ace boolean optional col-sm-12 form-control" id="user_accept_confirmed_and_invoiced" name="user[accept_confirmed_and_invoiced]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="user_accept_confirmed_and_invoiced" name="user[accept_confirmed_and_invoiced]" type="checkbox" value="1"
          span.lbl

  .form-group.boolean.optional.company_detail_already_received_registration_form
    label.boolean.optional.col-sm-3.control-label for="company_detail_already_received_registration_form"
      | #{t("views.executive_responsible.companies_registered.form.we_already_received_a_registration_form")}
    .col-sm-4
      input name="company_detail[already_received_registration_form]" type="hidden" value="0"
      .checkbox
        label
          - if @company_detail.already_received_registration_form
            input class="ace boolean optional col-sm-12 form-control" id="company_detail_already_received_registration_form" name="company_detail[already_received_registration_form]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="company_detail_already_received_registration_form" name="company_detail[already_received_registration_form]" type="checkbox" value="1"
          span.lbl

  .form-group.boolean.optional.company_detail_already_received_signed_contract
    label.boolean.optional.col-sm-3.control-label for="company_detail_already_received_signed_contract"
      | #{t("views.executive_responsible.companies_registered.form.we_received_a_signed_contract_yet")}
    .col-sm-4
      input name="company_detail[already_received_signed_contract]" type="hidden" value="0"
      .checkbox
        label
          - if @company_detail.already_received_signed_contract
            input class="ace boolean optional col-sm-12 form-control" id="company_detail_already_received_signed_contract" name="company_detail[already_received_signed_contract]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="company_detail_already_received_signed_contract" name="company_detail[already_received_signed_contract]" type="checkbox" value="1"
          span.lbl

  .form-group.boolean.optional.company_detail_already_aligned_campaigns
    label.boolean.optional.col-sm-3.control-label for="company_detail_already_aligned_campaigns"
      | #{t("views.executive_responsible.companies_registered.form.already_aligned_campaigns")}
    .col-sm-4
      input name="company_detail[already_aligned_campaigns]" type="hidden" value="0"
      .checkbox
        label
          - if @company_detail.already_received_signed_contract
            input class="ace boolean optional col-sm-12 form-control" id="company_detail_already_aligned_campaigns" name="company_detail[already_aligned_campaigns]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="company_detail_already_aligned_campaigns" name="company_detail[already_aligned_campaigns]" type="checkbox" value="1"
          span.lbl



  = form_submit_section
