.row
    .col-sm-12
      = render partial: "/executive_responsible/company_details/filter"

- if @company_details.length == 0
  .alert.alert-info
    = t(:no_record_found)
- else
  .cpy-pagination-links
    = pagination_links_for @company_details
  .row
    .col-sm-12
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th.center
            | #{t("views.executive_responsible.companies_registered.name")}
          th.center
            | #{t("views.executive_responsible.companies_registered.date")}
          th.center
            | #{t("views.executive_responsible.companies_registered.current_month")}
          th.center
            | #{t("views.executive_responsible.companies_registered.last_month")}
          th.center
            | #{t("views.executive_responsible.companies_registered.delayed_month")}
          th.center
            | #{t("views.executive_responsible.companies_registered.total")}
          th.center
            | #{t("views.executive_responsible.companies_registered.actions")}
      tbody
        - @companiesOrdened.each do | company |
          tr.center
            td
              = company[:company][:name]
            td
              = " #{(company[:company][:created_at]).strftime("%d/%m/%Y")}"
            td
              -if company[:actualMonth] > 0
                = "#{company[:actualMonth]} #{t('views.executive_responsible.companies_registered.reservations')}"
              -else
                = t("views.executive_responsible.companies_registered.no_reservation")

            td
              -if company[:lastMonth] > 0
                = "#{company[:lastMonth]} #{t('views.executive_responsible.companies_registered.reservations')}"
              -else
                = t("views.executive_responsible.companies_registered.no_reservation")
            td
              -if company[:delayedMonth] > 0
                = "#{company[:delayedMonth]} #{t('views.executive_responsible.companies_registered.reservations')}"
              -else
                = t("views.executive_responsible.companies_registered.no_reservation")
            td
              - total = company[:subtract]
              -if total == 0
                = t("views.executive_responsible.companies_registered.no_reservation")
              -else
                = "#{total} #{t('views.executive_responsible.companies_registered.reservations')}"

            td.action-list.center
              = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, executive_responsible_company_detail_path(company[:company][:id]), class: 'btn btn-xs btn-success'

              = link_to "<i class='fa fa-building-o'></i>".html_safe, authenticate_as_executive_responsible_company_detail_path(company[:company][:id]), class: 'btn btn-xs btn-default cpy-hotel-login-link', target: "_blank"

              = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_executive_responsible_company_detail_path(company[:company][:id]), class: 'btn btn-xs btn-info'

    = pagination_links_for @company_details              