= panel_section do
  = show_for @company_detail do |u|
    .row
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.name")}
          .content
            = @company_detail.name
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.show.cnpj")}
          .content
            = @company_detail.cnpj
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.financial_contact")}
          .content
            = @company_detail.financial_contact

        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.phone_financial_contact")}
          .content
            = @company_detail.phone_financial_contact

        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.user_name")}
          .content
            - if @company_detail.user != nil
                 = @company_detail.user.name
            - else
                = '-'
           
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.user_phone")}
          .content
            - if @company_detail.user != nil
                 = @company_detail.user.phone_number
            - else
                = '-'
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.executive_responsible")}
          .content
            - if @company_detail.company_universe.try(:executive_responsible) != nil
                 = "#{@company_detail.company_universe.try(:executive_responsible).name} #{@company_detail.company_universe.try(:executive_responsible).email}"
            - else
                = '-'
        .attributes-wrapper
          .attribute-title
            #{t("views.executive_responsible.companies_registered.show.executive_service")}
          .content
            = @company_detail.company_universe.try(:executive_service)

        .attributes-wrapper
          .attribute-title
            #{t("views.executive_responsible.companies_registered.show.number_of_employees")}
          .content
            = @company_detail.company_universe.try(:qtd_employees)

        .attributes-wrapper
          .attribute-title
            #{t("views.executive_responsible.companies_registered.show.sector")}
          .content
            = @company_detail.company_universe.try(:setor)

        .attributes-wrapper
          .attribute-title
            #{t("views.executive_responsible.companies_registered.show.reserves_per_month_number")}
          .content
            = @company_detail.company_universe.try(:qtda_reservations_per_month)

        .attributes-wrapper
          .attribute-title
            #{t("views.executive_responsible.companies_registered.show.destiny_first")}
          .content
            = @company_detail.company_universe.try(:destiny_first)

        .attributes-wrapper
          .attribute-title
            #{t("views.executive_responsible.companies_registered.show.destiny_second")}
          .content
            = @company_detail.company_universe.try(:destiny_second)

        .attributes-wrapper
          .attribute-title
            #{t("views.executive_responsible.companies_registered.show.destiny_other")}
          .content
            = @company_detail.company_universe.try(:destiny_other)

        .attributes-wrapper
          .attribute-title
            | #{t("views.admin.users.accepts_billed_payment")}
          .content
            i.bigger-100 class="icon-#{@company_detail.user.accept_confirmed_and_invoiced ? 'ok' : 'remove'}"

        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.we_already_received_a_registration_form")}
          .content
            i.bigger-100 class="icon-#{@company_detail.already_received_registration_form ? 'ok' : 'remove'}"

        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.we_received_a_signed_contract_yet")}
          .content
            i.bigger-100 class="icon-#{@company_detail.already_received_signed_contract ? 'ok' : 'remove'}"

        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.already_aligned_campaigns")}
          .content
            i.bigger-100 class="icon-#{@company_detail.already_aligned_campaigns ? 'ok' : 'remove'}"

        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.already_aligned_campaigns")}
          .content
            i.bigger-100 class="icon-#{@company_detail.already_aligned_campaigns ? 'ok' : 'remove'}"

      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.company_have_an_agency")}
          .content
            i.bigger-100 class="icon-#{@company_detail.company_universe.try(:has_an_agency) ? 'ok' : 'remove'}"

        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.how_your_company_pays_this_agency")}
          .content
            = @company_detail.company_universe.try(:how_your_company_pays_this_agency)
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.company_has_contract_with_that_agency")}
          .content
            i.bigger-100 class="icon-#{@company_detail.company_universe.try(:company_has_contract_with_that_agency) ? 'ok' : 'remove'}"
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.company_can_cancel_this_agreement")}
          .content
            i.bigger-100 class="icon-#{@company_detail.company_universe.try(:company_can_cancel_this_agreement) ? 'ok' : 'remove'}"
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.how_much_the_company_pays_to_cancel_this_agreement")}
          .content
             = @company_detail.company_universe.try(:how_much_the_company_pays_to_cancel_this_agreement)
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies_registered.show.date_of_expiry_of_the_agency_contract")}
          .content
             = @company_detail.company_universe.try(:date_of_expiry_of_the_agency_contract)

      .col-sm-6
        h3.center.header.lighter.green
          | #{t("views.executive_responsible.companies_registered.show.information_contact")}
        .attributes-wrapper
          .attribute-title
            = t('views.executive_responsible.companies_registered.show.name_first_contact')
          .content
             = @company_detail.company_universe.try(:name_first_contact)
        .attributes-wrapper
          .attribute-title
            = t('views.executive_responsible.companies_registered.show.email_first_contact')
          .content
             = @company_detail.company_universe.try(:email_first_contact)
        .attributes-wrapper
          .attribute-title
            = t('views.executive_responsible.companies_registered.show.number_first_contact')
          .content
             = @company_detail.company_universe.try(:number_first_contact)


        .attributes-wrapper
          .attribute-title
            = t('views.executive_responsible.companies_registered.show.name_second_contact')
          .content
             = @company_detail.company_universe.try(:name_second_contact)
        .attributes-wrapper
          .attribute-title
            = t('views.executive_responsible.companies_registered.show.email_second_contact')
          .content
             = @company_detail.company_universe.try(:email_second_contact)
        .attributes-wrapper
          .attribute-title
            = t('views.executive_responsible.companies_registered.show.number_second_contact')
          .content
             = @company_detail.company_universe.try(:number_second_contact)


        .attributes-wrapper
          .attribute-title
            = t('views.executive_responsible.companies_registered.show.name_other_contact')
          .content
             = @company_detail.company_universe.try(:name_other_contact)
        .attributes-wrapper
          .attribute-title
            = t('views.executive_responsible.companies_registered.show.email_other_contact')
          .content
             = @company_detail.company_universe.try(:email_other_contact)
        .attributes-wrapper
          .attribute-title
            = t('views.executive_responsible.companies_registered.show.number_other_contact')
          .content
             = @company_detail.company_universe.try(:number_other_contact)

  .wizard-actions
    = link_to t("views.admin.agencies.back").html_safe, executive_responsible_company_detail_path, class: 'btn btn-prev'

    = link_to t("views.admin.agencies.edit").html_safe, edit_executive_responsible_company_detail_path(@company_detail.id), class: 'btn btn-info'