h3.description-title
  = t(:prices)

.row
  .col-sm-12
    .display-table.text-center
      - if @booking.hotel.is_brazilian
        .display-table-cell
          .attributes-wrapper.booking_initial_value
            .attribute-title.price-attribute-title
              = t(:booking_initial_value)
            .content.price-content
              = number_to_currency(calculate_currency(@booking.initial_price, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: current_currency.money_sign)

        - if !@booking.is_meeting_offer? && !@booking.is_event_offer?
          .display-table-cell
            .attributes-wrapper.booking_value_for_extra_people
              .attribute-title.price-attribute-title
                = t(:value_for_extra_people)
              .content.price-content
                = number_to_currency(calculate_currency(@booking.extra_people_price, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: current_currency.money_sign)

        .display-table-cell
          .attributes-wrapper.booking_tax
            .attribute-title.price-attribute-title
              = t(:booking_tax)
            .content.price-content
              = number_to_currency(calculate_currency(@booking.booking_tax, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: current_currency.money_sign)

      .display-table-cell
        .attributes-wrapper.booking_total_value
          .attribute-title.price-attribute-title
            = t(:total_value)
          .content.price-content
            = number_to_currency(calculate_currency(@booking.total_price, Hotel::CURRENCY_SYMBOL_REVERSED[@booking.hotel.currency_symbol]), unit: current_currency.money_sign)
