h3.description-title
  =t(:booking_informations)
.row
  .col-sm-6
    .attributes-wrapper.booking_pack_size
      .attribute-title
        = t(:pack_size)
      .content
        = "#{@booking.pack_in_hours}h"

  .col-sm-6
    .attributes-wrapper.booking_room_type
      - if @booking.is_meeting_offer?
        .attribute-title
          = t(:meeting_room_name) + ':'
        .content
          = @booking.business_room.send("name_#{I18n.locale}")
      - elsif @booking.is_event_offer?
        .attribute-title
          = t(:event_room_name) + ':'
        .content
          = @booking.business_room.send("name_#{I18n.locale}")
      - else
        .attribute-title
          = t(:room_type) + ':'
        .content
          = @booking.room_type.send("full_name_#{I18n.locale}")