= simple_form_for [:admin, user] do |f|
  .form-group.boolean.optional.user_accept_confirmed_and_invoiced
    label.boolean.optional.col-sm-3.control-label for="user_accept_confirmed_and_invoiced"
      | #{t("views.admin.users.accepts_billed_payment")}
    .col-sm-4
      input name="user[accept_confirmed_and_invoiced]" type="hidden" value="0"
      .checkbox
        label
          - if @user.accept_confirmed_and_invoiced
            input class="ace boolean optional col-sm-12 form-control" id="user_accept_confirmed_and_invoiced" name="user[accept_confirmed_and_invoiced]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="user_accept_confirmed_and_invoiced" name="user[accept_confirmed_and_invoiced]" type="checkbox" value="1"
          span.lbl

  = form_submit_section
