- if User.first
  = render partial: "/admin/users/index/filter"
  .row
    .col-sm-12
      = t("views.admin.users.number_of_users_found", count: @user_count)
  hr
  .cpy-pagination-links
    = pagination_links_for @users
  - if @users.length == 0
    .alert.alert-info
      | #{t("views.admin.users.no_user_found")}
  - else
    .row
      .col-sm-12
        = render partial: 'admin/users/index/list', locals: { users: @users }

  = pagination_links_for @users
- else
  .alert.alert-info
    | #{t("views.admin.users.no_user_registered")}
