= header_section

= panel_section do
  = show_for @user do |u|
    = u.attribute :id
    = u.attribute :name
    = u.attribute :email
    = u.attribute :cpf
    = u.attribute :passport
    = u.attribute :birth_date
    = u.attribute :created_by_affiliate

    .attributes-wrapper.user_address
      .attribute-title
        | #{t("views.admin.users.type")}
      .content
        - if @user.is_a_agency?
          | #{t("views.admin.users.agency")}
        - elsif @user.is_a_company?
          | #{t("views.admin.users.company")}
        - else
          | #{t("views.admin.users.consumer")}

    - if @user.is_a_agency? || @user.is_a_company?
      .attributes-wrapper.hotel_accept_online_payment
        .attribute-title
          | #{t("views.admin.users.accepts_billed_payment")}
        .content
          i.bigger-100 class="icon-#{@user.accept_confirmed_and_invoiced ? 'ok' : 'remove'}"

    - if @user.created_by_affiliate
      .attributes-wrapper.affiliate
        .attribute-title
          | #{t("views.admin.users.affiliate")}
        .content
          = "#{@user.affiliate_id} - #{@user.affiliate.name}"

    .attributes-wrapper.user_address
      .attribute-title
        | #{t("views.admin.users.gender")}
      .content
        - if @user.gender.blank?
          | -
        - else
          = t(@user.gender)

    .attributes-wrapper.user_address
      .attribute-title
        | #{t("views.admin.users.address")}

      .content
        - if @user.street.blank? && @user.city.blank? && @user.state.blank? && @user.country.blank?
          | -
        - else
          - unless @user.street.blank?
            - if (@user.complement) && (@user.complement != '')
              = "#{@user.street}, #{@user.number}, #{@user.complement}".gsub(', ,', ',')
            - else
              = "#{@user.street}, #{@user.number}"
            br
          - unless @user.city.blank? && @user.state.blank? && @user.country.blank?
            = "#{@user.city} - #{@user.state} - #{@user.country}".gsub('- -', '-')

  h3.header.lighter.smaller.green
    | #{t("views.admin.users.user_reservations")}
  - if @user.bookings.first
    = render partial: "/admin/users/show/table_for_user_bookings", locals: { user: @user }

    - if @user.payments.first
      h3.header.lighter.smaller.green
        | #{t("views.admin.users.payments")}
      = render partial: "/admin/users/show/table_for_user_credit_card_registration_attempt", locals: { user: @user }

  - else
    .alert.alert-info
      | #{t("views.admin.users.user_has_no_reservations")}

  - if @user.is_a_agency? || @user.is_a_company?
    = show_panel_buttons_section
  - else
    = show_panel_buttons_section(action_to_hide_button: :edit)
