.row
  .col-sm-12.border-box
    = simple_form_for([:public, job_title], url: @url_form) do |f|

      = f.input :name
      = f.input :budget_value, as: :string, input_html: { class: 'js-mask-money-without-prefix', value: ("%.2f" % job_title.budget_value.to_f).to_s }
      
      - options_for_currency_code_select = []
      - Currency.all.order(created_at: :desc).group_by{ | currency | currency.name}.each do |name, currency|
        - options_for_currency_code_select << [currency.first.money_sign, currency.first.money_sign]
      .form-group
        = f.label :money_sign
        .col-sm-4
           = f.select :money_sign, options_for_currency_code_select, {prompt: t("views.admin.promotional_codes.select_dicount_currency")}, { class: "select required col-sm-12 form-control", required: true }

      .form-actions.wizard-actions.form-buttons.text-right
        = link_to("<i class='glyphicon glyphicon-arrow-left'></i> #{t(:return)}".html_safe, public_company_detail_path(@company_detail), {class: 'btn btn-prev '})
        = button_tag(type: 'submit', class: "btn btn-success btn-next cpy-submit-button") do
          => t(:save)
          i.glyphicon.glyphicon-arrow-right
