.row
  .col-sm-12.border-box
    .page-header
      h1.page-title
        => t(:listing) + ' ' + t(:job_titles).downcase
        
        = link_to "#{t(:new) + ' ' + t(:job_title).downcase}", new_public_company_detail_job_title_path(company_detail_id: params[:id]), class: 'btn btn-sm btn-success pull-right cpy-add-link'

- if @job_titles.length == 0
  .row
    .col-sm-12.border-box.with-padding-bottom
      .alert.alert-info
        = t(:none) + ' ' + t(:job_title).downcase + ' ' + t(:registered) + '.'
- else
  .row
    .col-sm-12.border-box.with-padding-bottom.hidden-xs.hidden-sm
      .row
        .col-sm-12
          table.table.table-striped.table-hover.mini
            thead
              tr
                th.center.size-8-percent
                  | Id
                th.center.size-74-percent
                  = t(:name)
                th.center.size-74-percent
                  = t(:budget_value)
                  
                th.center.size-18-percent
                  = t(:actions)
            tbody
              - @job_titles.each do | job_title |
                tr.center
                  td
                    = job_title.id
                  td
                    = job_title.name
                  td
                    = job_title.budget_value.to_s.gsub!('.',',')
                  td.action-list
                    = link_to t(:details), public_job_title_path(job_title.id), class: 'btn mini btn-primary', style: 'margin-right: 5px'
                    = link_to t(:edit), edit_public_job_title_path(job_title.id), class: 'btn mini green cpy-confirm-booking-button'

    .col-sm-12.border-box.with-padding-bottom.hidden-md.hidden-lg
      = render partial: "/public/company_details/job_titles/index/mobile_job_titles"

