.row
  .col-sm-12.border-box
    .page-header
      h1.page-title
        = t(:viewing) + ' ' + t(:job_title).downcase
.row
  .col-sm-12.border-box        
    = show_for @job_title do |u|
      = u.attribute :name
      = u.attribute :money_sign
      = u.attribute :budget_value, value: number_to_currency(@job_title.budget_value).gsub!('R$','')

    hr
    .wizard-actions.form-actions.text-right
      = link_to("<i class='glyphicon glyphicon-arrow-left'></i> #{t(:return)}".html_safe, public_company_detail_path(@job_title.company_detail_id), {class: 'btn btn-prev '})
      = link_to "<i class='glyphicon glyphicon-edit'></i> #{t(:edit)}".html_safe, edit_public_job_title_path(@job_title.id), class: 'btn btn-info'

= render partial: 'public/company_details/job_titles/travelers/index'
