
- if Campaign.all.count == 0

  .alert.alert-danger
    = t(:none_female) + ' ' + t('campaign.one').downcase + ' ' + t(:registered_female) + ', ' + t(:register_one_campaign_first_to_be_able_to_create_promotional_codes)

- else
  div ng-controller="PromotionalCodesFormCtrl"
    = simple_form_for [:admin, promotional_code] do |f|
      = f.association :campaign, prompt: t("views.admin.promotional_codes.select_campaign")
      = f.input :code
      - if params[:action] == 'new' || params[:action] == 'create'
        .form-group
          label.string.required.col-sm-3.control-label for="promotional_code_amount_of_codes"
            abbr title="obrigatório" *
            | #{t(:amount_of_codes)}
          .col-sm-4
            input.string.required.col-sm-12.form-control.js-mask-integer-until-1000 id="amount_of_codes" name="amount_of_codes" type="text"
        = f.hint t('amount_of_codes_hint'), class: 'col-sm-offset-3 hint'
      - options_for_user_type_select = []
      - PromotionalCode::ACCEPTED_USER_TYPE.each do | user_type, code |
        - options_for_user_type_select << [t(user_type), code]
      .form-group
        = f.label :user_type
        .col-sm-4
           = f.select :user_type, options_for_user_type_select, {prompt: t("views.admin.promotional_codes.select_user_type")}, { class: "select required col-sm-12 form-control", :'ng-model' => "userType", :'ng-change' => "changeUserType()" }
      - if params[:action] != 'edit'
        - options_for_discount_in_select = []
        - PromotionalCode::ACCEPTED_DISCOUNT_IN.each do | discount_in, code |
          - options_for_discount_in_select << [t(discount_in), code]
        .form-group
          = f.label :discount_in
          .col-sm-4
             = f.select :discount_in, options_for_discount_in_select, {prompt: t("views.admin.promotional_codes.select_discount_in")}, { class: "select required col-sm-12 form-control", :'ng-model' => "discountIn", :'ng-change' => "changeDiscountIn()"}
        - options_for_discount_type_select = []
        - PromotionalCode::ACCEPTED_DISCOUNT_TYPE.each do | discount_type, code |
          - options_for_discount_type_select << [t(discount_type), code]
        .form-group
          = f.label :discount_type
          .col-sm-4
            = f.select :discount_type, options_for_discount_type_select, {prompt: t("views.admin.promotional_codes.select_discount_type")}, { class: "select required col-sm-12 form-control", name: 'discount_type', :'ng-model' => "discountType", :'ng-change' => "changeDiscountType()", :'ng-disabled' => "discountIn == 2"}
            input.hidden name="promotional_code[discount_type]" type="text" ng-model="discountType"

        .form-group
          = f.label :discount
          .col-sm-4
            = f.text_field :discount, :'ng-disabled' => "discountTypeEmpty", :'ng-model' => "Discount", class: "string required col-sm-12 form-control"
            - if @promotional_code.errors.messages[:discount].present?
              .col-sm-4
                span.help-block.col-sm-5.inline
                  = @promotional_code.errors.messages[:discount].first

        - options_for_currency_code_select = []
        - Currency.all.order(created_at: :desc).group_by{ | currency | currency.name}.each do |name, currency|
          - options_for_currency_code_select << [currency.first.money_sign, currency.first.money_sign]

        .form-group
          = f.label :currency_code
          .col-sm-4
             = f.select :currency_code, options_for_currency_code_select, {prompt: t("views.admin.promotional_codes.select_dicount_currency")}, { class: "select required col-sm-12 form-control", required: true }

      .form-group
        = f.label :checkin_delay
        .col-sm-4
          = f.text_field :checkin_delay, class: "js-mask-integer-until-1000 string required col-sm-12 form-control"
      = f.hint t('checkin_delay_hint'), class: 'col-sm-offset-3 hint'

      .form-group ng-hide="userTypeWithoutBooking"
        = f.label :usage_limit
        .col-sm-4
          = f.text_field :usage_limit, :'ng-model' => "usageLimit", class: "js-mask-integer-until-1000 string required col-sm-12 form-control"

      .form-group
        = f.label :start_date
        .col-sm-4.input-and-error-message
          = f.text_field :start_date, :'ng-change' =>"changeStartDate()", :'ng-model' => "startDate", class: "string required col-sm-12 form-control input js-date-picker form-control js-mask-date ui-datepicker-div configDatePicker"
          - if @promotional_code.errors.messages[:start_date_less_than_today].present?
            .col-sm-4
              span.help-block.col-sm-5.inline
                | #{t(:start_date_less_than_today)}

      .form-group
        = f.label :expiration_date
        .col-sm-4.input-and-error-message
          = f.text_field :expiration_date, :'ng-model' => "expirationDate", class: "string required col-sm-12 form-control input js-date-picker form-control js-mask-date ui-datepicker-div date-picker-expiration"
          - if @promotional_code.errors.messages[:expiration_date_less_than_today].present?
              .col-sm-4
                span.help-block.col-sm-5.inline
                  | #{t(:expiration_date_less_than_today)}
          - elsif @promotional_code.errors.messages[:start_date].present?
            .col-sm-4
              span.help-block.col-sm-5.inline
                | #{t(:expiration_date_less_than_start_date)} 

      .form-group.center
        label.col-sm-3.control-label
          | #{t("views.admin.promotional_codes.available_for_packs")}
        .col-sm-1
          .checkbox
            label
              = check_box_tag 'promotional_code[avaiable_for_packs][]', '3', checked_packs(@promotional_code, '3'), id: 'avaiable_for_pack_3h', class: 'ace form-control'
              span.lbl
          = label_tag 'avaiable_for_pack_3h', t("views.admin.promotional_codes.hours", time: 3)

        .col-sm-1
          .checkbox
            label
              = check_box_tag 'promotional_code[avaiable_for_packs][]', '6', checked_packs(@promotional_code, '6'), id: 'avaiable_for_pack_6h', class: 'ace form-control'
              span.lbl
          = label_tag 'avaiable_for_pack_6h', t("views.admin.promotional_codes.hours", time: 6)

        .col-sm-1
          .checkbox
            label
              = check_box_tag 'promotional_code[avaiable_for_packs][]', '9', checked_packs(@promotional_code, '9'), id: 'avaiable_for_pack_9h', class: 'ace form-control'
              span.lbl
          = label_tag 'avaiable_for_pack_9h', t("views.admin.promotional_codes.hours", time: 9)

        .col-sm-1
          .checkbox
            label
              = check_box_tag 'promotional_code[avaiable_for_packs][]', '12', checked_packs(@promotional_code, '12'), id: 'avaiable_for_pack_12h', class: 'ace form-control'
              span.lbl
          = label_tag 'avaiable_for_pack_12h', t("views.admin.promotional_codes.hours", time: 12)

      .form-group.center
        label.col-sm-3.control-label
          | #{t("views.admin.promotional_codes.available_for_days")}
        .col-sm-1
          .checkbox
            label
              = check_box_tag 'promotional_code[avaiable_for_days_of_the_week][]', '0', checked_days_of_week(@promotional_code, '0'), id: 'avaiable_for_sunday', class: 'ace form-control'
              span.lbl
          = label_tag 'avaiable_for_sunday', t("views.admin.promotional_codes.sunday")

        .col-sm-1
          .checkbox
            label
              = check_box_tag 'promotional_code[avaiable_for_days_of_the_week][]', '1', checked_days_of_week(@promotional_code, '1'), id: 'avaiable_for_monday', class: 'ace form-control'
              span.lbl
          = label_tag 'avaiable_for_monday', t("views.admin.promotional_codes.monday")

        .col-sm-1
          .checkbox
            label
              = check_box_tag 'promotional_code[avaiable_for_days_of_the_week][]', '2', checked_days_of_week(@promotional_code, '2'), id: 'avaiable_for_tuesday', class: 'ace form-control'
              span.lbl
          = label_tag 'avaiable_for_tuesday', t("views.admin.promotional_codes.tuesday")

        .col-sm-1
          .checkbox
            label
              = check_box_tag 'promotional_code[avaiable_for_days_of_the_week][]', '3', checked_days_of_week(@promotional_code, '3'), id: 'avaiable_for_wednesday', class: 'ace form-control'
              span.lbl
          = label_tag 'avaiable_for_wednesday', t("views.admin.promotional_codes.wednesday")

        .col-sm-1
          .checkbox
            label
              = check_box_tag 'promotional_code[avaiable_for_days_of_the_week][]', '4', checked_days_of_week(@promotional_code, '4'), id: 'avaiable_for_thursday', class: 'ace form-control'
              span.lbl
          = label_tag 'avaiable_for_thursday', t("views.admin.promotional_codes.thursday")

        .col-sm-1
          .checkbox
            label
              = check_box_tag 'promotional_code[avaiable_for_days_of_the_week][]', '5', checked_days_of_week(@promotional_code, '5'), id: 'avaiable_for_friday', class: 'ace form-control'
              span.lbl
          = label_tag 'avaiable_for_friday', t("views.admin.promotional_codes.friday")

        .col-sm-1
          .checkbox
            label
              = check_box_tag 'promotional_code[avaiable_for_days_of_the_week][]', '6', checked_days_of_week(@promotional_code, '6'), id: 'avaiable_for_saturday', class: 'ace form-control'
              span.lbl
          = label_tag 'avaiable_for_saturday', t("views.admin.promotional_codes.saturday")
      = f.input :notice_email


      = form_submit_section

  javascript:
    yojs.set('getDiscountType' , "#{promotional_code.discount_type}")
    yojs.set('getUserType' , "#{promotional_code.user_type}")
    yojs.set('getUsageLimit' , "#{promotional_code.usage_limit}")
    yojs.set('getStartDate' , "#{promotional_code.start_date}")
    yojs.set('getExpirationDate' , "#{promotional_code.expiration_date}")
