= header_section title: t("views.admin.promotional_codes.listing_promotional_code")
- if @promotional_codes.length == 0

  - if PromotionalCode.first
    .row
      .col-sm-12
        = render partial: "/admin/promotional_codes/index/filter"
    .alert.alert-info
      | #{t("views.admin.promotional_codes.no_promotional_code_found")}
  - else
    .alert.alert-info
      | #{t("views.admin.promotional_codes.no_promotional_code_registered")}
- else
  .row
    .col-sm-12
      = render partial: "/admin/promotional_codes/index/filter"

  .cpy-pagination-links
    = pagination_links_for @promotional_codes
  .row
    .col-sm-12
      table.table.table-striped.table-bordered.table-hover
        thead
          tr
            th.center
              | #{t("views.admin.promotional_codes.id")}
            th.center
              | #{t("views.admin.promotional_codes.code")}
            th.center
              | #{t("views.admin.promotional_codes.campaign")}
            th.center
              | #{t("views.admin.promotional_codes.actions")}
        tbody
          - @promotional_codes.each do |promotional_code|
            tr.center
              td
                = promotional_code.id
              td
                = promotional_code.code
              td
                = promotional_code.campaign.try(:name)
              td.action-list.center
                = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_promotional_code_path(promotional_code.id), class: 'btn btn-xs btn-success'

                = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_promotional_code_path(promotional_code.id), class: 'btn btn-xs btn-info cpy-edit-hotel-link'
  = pagination_links_for @promotional_codes
