= header_section title: t("views.admin.promotional_codes.visualize_promotional_code")

= panel_section(name: t("views.admin.promotional_codes.promotional_code_info")) do
  = show_for @promotional_code do |u|
    = u.attribute :code
    = u.attribute :status do
     = content_tag :span, t(PromotionalCode::ACCEPTED_STATUS_REVERSED[@promotional_code.status])
    = u.attribute :user_type do
     = content_tag :span, t(PromotionalCode::ACCEPTED_USER_TYPE_REVERSED[@promotional_code.user_type])
    - if @promotional_code.discount_type == PromotionalCode::ACCEPTED_DISCOUNT_TYPE[:money_value]
      = u.attribute :currency_code do
        = content_tag :span, @promotional_code.currency_code
    = u.attribute :checkin_delay
    = u.attribute :discount_in do
      = content_tag :span, t(PromotionalCode::ACCEPTED_DISCOUNT_IN_REVERSED[@promotional_code.discount_in])
      span 
    = u.attribute :discount do
      - if @promotional_code.discount_type == PromotionalCode::ACCEPTED_DISCOUNT_TYPE[:percentage]
        span #{@promotional_code.discount} %
      - else
        span.value
          = number_to_currency(@promotional_code.discount).gsub('R$ ', '')
    = u.attribute :usage_limit
    = u.attribute :start_date
    = u.attribute :expiration_date
    - if @promotional_code.avaiable_for_packs
      = u.attribute :avaiable_for_packs
    - if @promotional_code.avaiable_for_days_of_the_week
      = u.attribute :avaiable_for_days_of_the_week
        - wday_names = []
        - wday_array_number = @promotional_code.avaiable_for_days_of_the_week.split(",")
        - wday_array_number.each do |day|
          - wday_names << t(Date::DAYNAMES[day.to_i].downcase)
        = content_tag :span, wday_names.join(",")
    = u.attribute :notice_email
  br

hr

.wizard-actions
  = link_to t("views.admin.promotional_codes.back").html_safe, admin_promotional_codes_path, class: 'btn btn-prev'
  = link_to t("views.admin.promotional_codes.edit").html_safe, edit_admin_promotional_code_path(@promotional_code.id), class: 'btn btn-info'
