body.public-affiliate-layout

	#footer
		padding-top: 58.5px
		padding-bottom: 0px
		background-color: #68656A
		z-index: 101
		i
			font-size: 20px
		.central
			color: white
			font-size: 18px !important
			padding: 0
			margin: 0 0 10px
			text-transform: uppercase
		.display
			display: inline

		.fa.fa-facebook
			&:hover
				filter: brightness(61%)
			background: #e6e6e6
			border: 1px solid #e6e6e6
			color: #67666a
			font-size: 14px
			padding: 3px 5px
			text-shadow: none
			margin-right: 6px

		.fa.fa-instagram
			&:hover
				filter: brightness(61%)
			background: #e6e6e6
			border: 1px solid #e6e6e6
			color: #67666a
			font-size: 14px
			padding: 3px 5px
			text-shadow: none
			margin-right: 6px
		.fa.fa-linkedin
			&:hover
				filter: brightness(61%)
			background: #e6e6e6
			border: 1px solid #e6e6e6
			color: #67666a
			font-size: 14px
			padding: 3px 5px
			text-shadow: none
			margin-right: 6px
		.fa.fa-youtube
			&:hover
				filter: brightness(61%)
			background: #e6e6e6
			border: 1px solid #e6e6e6
			color: #67666a
			font-size: 14px
			padding: 3px 5px
			text-shadow: none
			margin-right:	6px
		.color-email
			color: white
		.text-align
			text-align: left
		.padding-left
			padding-left: 114px
			margin-left: 30px
		.social-media
			img
				&:hover
					filter: brightness(61%)
			display: block
			margin: 0 15px 10px 10px
			text-align: center			
			&.bourbon
				border-right: 1px solid #fff
				float: left
				width: 163px
			&.be
				float: left
				display: inline-block
				margin: 0 3px
			&.rio
				text-align: center
				border-left: 1px solid #fff
				display: table-caption



		.space
			margin-bottom: 7px

		.bold-font
			font: inherit
			font-size: 18px
			color: white

		.line-height
			line-height: 1%

		.copy
			text-align: right
		.col-md-6.text-center
			width: 52%
		.col-md-6.text-left
			width: 46%
		.bottom
			margin-right: 37px
			margin-bottom: 7px
		.teste
			margin-left: 12px
		.copy
			color: white
			background: #68656A
			margin-right: 12%
			padding-bottom: 10px
			font-size: 9px
			font-weight: bold

		.contact-footer
			p
				color: white
		.hiperlink
			color: white
			&:hover
				text-decoration: underline