.admin-affiliates-controller.new-action, .admin-affiliates-controller.create-action
  .checkbox
    padding-left: 0
    padding-top: 3px
  .tabroom-check-box
    font-size: 13px
    padding-top: 6px
    padding-right: 2px
    text-align: left