.col-xs-12#footer
  .col-sm-6.text-center
    .row
      i.glyphicon.glyphicon-earphone
    .row
      .phonenum + 55 21 2468 3400
    .row
      .email
        a.track-email href="mailto:reservas@linxriodejaneiro.com" 
          | reservas@linxriodejaneiro.com  
  .col-sm-6.text-center
    .row
      i.glyphicon.glyphicon-map-marker
    .row
      .address Avenida Vinte de Janeiro, s/n, Galeao
    .row
      .city Rio de Janeiro, Rio de Janeiro State, 21941-900, Brazil
