= header_section
- if @possible_partner_contacts.length == 0

  - if PossiblePartnerContact.first
    .row
      .col-sm-12
        = render partial: "/admin/possible_partner_contacts/index/filter"
    .alert.alert-info
      | #{t("views.admin.possible_partner_contacts.no_possible_partner_found")}
  - else
    .alert.alert-info
      | #{t("views.admin.possible_partner_contacts.no_possible_partner_registered")}
- else
  .row
    .col-sm-12
      = render partial: "/admin/possible_partner_contacts/index/filter"
  .cpy-pagination-links
    = pagination_links_for @possible_partner_contacts
  .row
    .col-sm-12
      table.table.table-striped.table-bordered.table-hover.cpy-room-list
        thead
          tr
            th.center
              | #{t("views.admin.possible_partner_contacts.name")}
            th.center
              | #{t("views.admin.possible_partner_contacts.creation_date")}
            th.center
              | #{t("views.admin.possible_partner_contacts.visualization_date")}
            th.center
              | #{t("views.admin.possible_partner_contacts.language")}
            th.center
              | #{t("views.admin.possible_partner_contacts.visualized")}
            th.center
              | #{t("views.admin.possible_partner_contacts.details")}
        tbody
          - @possible_partner_contacts.each do | possible_partner_contact |
            tr.center
              td
                = possible_partner_contact.name
              td
                = l possible_partner_contact.created_at
              td
                = (possible_partner_contact.updated_at != possible_partner_contact.created_at) ? (l possible_partner_contact.updated_at) : '-'
              td
                = possible_partner_contact.locale.upcase.gsub('_', '-')
              td
                = possible_partner_contact.admin_visualized ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
              td
                = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_possible_partner_contact_path(possible_partner_contact.id), class: 'btn btn-xs btn-success'

  = pagination_links_for @possible_partner_contacts
