= header_section

= panel_section do
  = show_for @possible_partner_contact do |u|
    - if @possible_partner_contact.type_of_contact == PossiblePartnerContact::TYPES_OF_CONTACT[:hotel_contact]
      = u.attribute :name, label: t("views.admin.possible_partner_contacts.hotel_name")
    - else
      = u.attribute :name, label: t("views.admin.possible_partner_contacts.company_name")
    = u.attribute :contact_name
    - unless @possible_partner_contact.contact_role.blank?
      = u.attribute :contact_role
    - unless @possible_partner_contact.email_for_contact.blank?
      = u.attribute :email_for_contact
    - unless @possible_partner_contact.phone.blank?
      = u.attribute :phone
    = u.attribute :id_skype
    = u.attribute :city, label: t("views.admin.possible_partner_contacts.city")
    = u.attribute :country, label: t("views.admin.possible_partner_contacts.country")

  = show_panel_buttons_section
