= simple_form_for [:admin, member_get_member_config] do |f|

  /= f.input :campaign_id
 
  = f.association :campaign
 
  /= f.input :discount_type_to_referred

  /= f.input :discount_type_to_referred_first_bookings


  = f.input :discount_to_referred_first_bookings, as: :string, input_html: { class: 'js-mask-money',value: ("%.2f" % member_get_member_config.discount_to_referred_first_bookings.to_f).to_s }
  
  = f.input :discount_to_referred, as: :string, input_html: { class: 'js-mask-money',value: ("%.2f" % member_get_member_config.discount_to_referred.to_f).to_s }

  = f.input :indicators_credit_first_bookings, as: :string, input_html: { class: 'js-mask-money',value: ("%.2f" % member_get_member_config.indicators_credit_first_bookings.to_f).to_s }

  = f.input :indicators_credit, as: :string, as: :string, input_html: { class: 'js-mask-money',value: ("%.2f" % member_get_member_config.indicators_credit.to_f).to_s }

  = f.input :expiration_date_in_months

  = f.input :number_of_first_bookings

  /= f.input :currency_code_discount

  /= f.input :currency_code_credit

  .form-group.center
    label.col-sm-3.control-label
      | #{t("views.admin.promotional_codes.available_for_packs")}
    .col-sm-1
      .checkbox
        label
          = check_box_tag 'member_get_member_config[avaiable_for_packs][]', '3', checked_packs(@member_get_member_config, '3'), id: 'avaiable_for_pack_3h', class: 'ace form-control'
          span.lbl
      = label_tag 'avaiable_for_pack_3h', t("views.admin.promotional_codes.hours", time: 3)

    .col-sm-1
      .checkbox
        label
          = check_box_tag 'member_get_member_config[avaiable_for_packs][]', '6', checked_packs(@member_get_member_config, '6'), id: 'avaiable_for_pack_6h', class: 'ace form-control'
          span.lbl
      = label_tag 'avaiable_for_pack_6h', t("views.admin.promotional_codes.hours", time: 6)

    .col-sm-1
      .checkbox
        label
          = check_box_tag 'member_get_member_config[avaiable_for_packs][]', '9', checked_packs(@member_get_member_config, '9'), id: 'avaiable_for_pack_9h', class: 'ace form-control'
          span.lbl
      = label_tag 'avaiable_for_pack_9h', t("views.admin.promotional_codes.hours", time: 9)

    .col-sm-1
      .checkbox
        label
          = check_box_tag 'member_get_member_config[avaiable_for_packs][]', '12', checked_packs(@member_get_member_config, '12'), id: 'avaiable_for_pack_12h', class: 'ace form-control'
          span.lbl
      = label_tag 'avaiable_for_pack_12h', t("views.admin.promotional_codes.hours", time: 12)
  .form-group.center
    label.col-sm-3.control-label
      | #{t("views.admin.promotional_codes.available_for_days")}
    .col-sm-1
      .checkbox
        label
          = check_box_tag 'member_get_member_config[avaiable_for_days_of_the_week][]', '0', checked_days_of_week(@member_get_member_config, '0'), id: 'avaiable_for_sunday', class: 'ace form-control'
          span.lbl
      = label_tag 'avaiable_for_sunday', t("views.admin.member_get_member.sunday")

    .col-sm-1
      .checkbox
        label
          = check_box_tag 'member_get_member_config[avaiable_for_days_of_the_week][]', '1', checked_days_of_week(@member_get_member_config, '1'), id: 'avaiable_for_monday', class: 'ace form-control'
          span.lbl
      = label_tag 'avaiable_for_monday', t("views.admin.member_get_member.monday")

    .col-sm-1
      .checkbox
        label
          = check_box_tag 'member_get_member_config[avaiable_for_days_of_the_week][]', '2', checked_days_of_week(@member_get_member_config, '2'), id: 'avaiable_for_tuesday', class: 'ace form-control'
          span.lbl
      = label_tag 'avaiable_for_tuesday', t("views.admin.member_get_member.tuesday")

    .col-sm-1
      .checkbox
        label
          = check_box_tag 'member_get_member_config[avaiable_for_days_of_the_week][]', '3', checked_days_of_week(@member_get_member_config, '3'), id: 'avaiable_for_wednesday', class: 'ace form-control'
          span.lbl
      = label_tag 'avaiable_for_wednesday', t("views.admin.member_get_member.wednesday")

    .col-sm-1
      .checkbox
        label
          = check_box_tag 'member_get_member_config[avaiable_for_days_of_the_week][]', '4', checked_days_of_week(@member_get_member_config, '4'), id: 'avaiable_for_thursday', class: 'ace form-control'
          span.lbl
      = label_tag 'avaiable_for_thursday', t("views.admin.member_get_member.thursday")

    .col-sm-1
      .checkbox
        label
          = check_box_tag 'member_get_member_config[avaiable_for_days_of_the_week][]', '5', checked_days_of_week(@member_get_member_config, '5'), id: 'avaiable_for_friday', class: 'ace form-control'
          span.lbl
      = label_tag 'avaiable_for_friday', t("views.admin.member_get_member.friday")

    .col-sm-1
      .checkbox
        label
          = check_box_tag 'member_get_member_config[avaiable_for_days_of_the_week][]', '6', checked_days_of_week(@member_get_member_config, '6'), id: 'avaiable_for_saturday', class: 'ace form-control'
          span.lbl
      = label_tag 'avaiable_for_saturday', t("views.admin.member_get_member.saturday")





  = f.input :is_active

  = form_submit_section
