= header_section

= panel_section(name: t("views.member_get_member.member_get_member_information")) do
	= show_for @member_get_member_config do |u|
		= u.attribute :campaign_id do
			= @member_get_member_config.campaign.name
		= u.attribute :discount_type_to_referred
		= u.attribute :discount_type_to_referred_first_bookings
		= u.attribute :discount_to_referred, value: number_to_currency(@member_get_member_config.discount_to_referred)
		= u.attribute :discount_to_referred_first_bookings, value: number_to_currency(@member_get_member_config.discount_to_referred_first_bookings)
		= u.attribute :indicators_credit, value: number_to_currency(@member_get_member_config.indicators_credit)
		= u.attribute :indicators_credit_first_bookings, value: number_to_currency(@member_get_member_config.indicators_credit_first_bookings)
		= u.attribute :expiration_date_in_months
		= u.attribute :number_of_first_bookings
		= u.attribute :currency_code_discount
		= u.attribute :currency_code_credit
		= u.attribute :avaiable_for_packs
		- if @member_get_member_config.avaiable_for_days_of_the_week
			= u.attribute :avaiable_for_days_of_the_week
				- wday_names = []
				- wday_array_number = @member_get_member_config.avaiable_for_days_of_the_week.split(",")
				- wday_array_number.each do |day|
					- wday_names << t(Date::DAYNAMES[day.to_i].downcase)
				= content_tag :span, wday_names.join(",")

		= u.attribute :is_active
		/= u.attribute :created_at
		/= u.attribute :updated_at



	hr

	.wizard-actions
		= link_to t("views.admin.affiliates.edit").html_safe, edit_admin_member_get_member_config_path(@member_get_member_config.id), class: 'btn btn-info'

