@font-face {
	font-family: 'GMedium';
	src: url('Gotham-Medium.eot');
	src: url('Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		url('Gotham-Medium.woff2') format('woff2'),
		url('Gotham-Medium.woff') format('woff'),
		url('Gotham-Medium.ttf') format('truetype'),
		url('Gotham-Medium.svg#Gotham-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GBlack';
	src: url('Gotham-Black.eot');
	src: url('Gotham-Black.eot?#iefix') format('embedded-opentype'),
		url('Gotham-Black.woff2') format('woff2'),
		url('Gotham-Black.woff') format('woff'),
		url('Gotham-Black.ttf') format('truetype'),
		url('Gotham-Black.svg#Gotham-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}