= header_section title: t('views.hotel.business_room_pricing_policies.editing_rate_table')

= render partial: "/hotel/business_room_pricing_policies/form/form", locals: {pricing_policy: @pricing_policy}
