= header_section title: t('views.hotel.business_room_pricing_policies.listing_rate_table', type_room: t(@type_room.underscore))

- if @pricing_policies.length == 0
  .alert.alert-info
    = t(:none_female) + ' ' + t(:pricing_policy).downcase + ' ' + t(:registered_female) + '.'
- else
  p #{t('views.hotel.business_room_pricing_policies.list_all_tables_fees_message')}
  p #{t('views.hotel.business_room_pricing_policies.rate_table_explanation')}
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          = t(:name)
        th.center
          = t(:completed?)
        th.center.size-25-percent
          = t(:actions)
    tbody
      - @pricing_policies.each do | pricing_policy |
        tr
          td.center.size-40-percent
            = pricing_policy.name
          td.center
            = pricing_policy.completed? ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, sti_business_path(@type, pricing_policy), class: 'btn btn-xs btn-success cpy-show-button'

            - if authorized?
              = link_to "<i class='icon-edit bigger-100'></i>".html_safe, sti_business_path(@type, pricing_policy, :edit), class: 'btn btn-xs btn-info cpy-edit-button'

              = link_to "<i class='icon-trash bigger-100'></i>".html_safe, sti_business_path(@type, pricing_policy), class: 'btn btn-xs btn-danger cpy-destroy-button', method: :delete, data: { confirm: t('views.hotel.business_room_pricing_policies.delete_table_confirmation') }
