= header_section title: t('views.hotel.business_room_pricing_policies.adding_rate_table', type_room: t(@type_room.underscore))

p #{t('views.hotel.business_room_pricing_policies.adding_rate_table_text')}

= render partial: "/hotel/business_room_pricing_policies/form/form", locals: {pricing_policy: @pricing_policy}
