= header_section title: t('views.hotel.business_room_pricing_policies.viewing_rate_table')

= panel_section do
  = show_for @pricing_policy do |u|
    .row
      = u.attribute :name
    .row
      .col-sm-12
        table.table-bordered.table-hover.table
          = render partial: "/hotel/business_room_pricing_policies/components/pricing_policy_table_head"
          tbody
            - @pricing_policy.business_room_prices.includes(:business_room).each do | business_room_price |
              tr.dark-row
                td
                  = business_room_price.business_room.name_pt_br
                - @length_of_packs.each do | pack |
                  td.center = number_to_percentage(@pricing_policy.send('percentage_for_' + pack.to_s + 'h').to_f, strip_insignificant_zeros: true)
              tr
                td
                  | #{t('views.hotel.business_room_pricing_policies.price')}
                - @length_of_packs.each do | length |
                  td.center
                    = business_room_price.send('pack_price_' + length.to_s + 'h') == 0 ? '-' : number_to_currency(business_room_price.send('pack_price_' + length.to_s + 'h'), unit: Hotel::CURRENCY_SYMBOL_REVERSED[current_hotel_hotel.currency_symbol])

  - if authorized?
    = show_panel_buttons_section
  - else
    = show_panel_buttons_section(action_to_hide_button: :edit)
