ruby:
  if current_public_user.is_a_agency?
    companies = current_public_user.agency_detail.company_details
  elsif current_public_user.is_a_company?
    companies = current_public_user.company_detail
  else
    companies = ''
  end
javascript:
  yojs.set('countryList', #{Country.all.order("name_#{I18n.locale}").includes(:states).to_json(:include => :states).gsub(/'/, {"'" => "\\'"}).gsub('"', "'").html_safe})
.booking-step-title.hidden-xs.hidden-sm
  - if @offer.hotel.booking_on_request
    h2
      = t('views.hotel.bookings.complete_booking_request')
    = t('views.hotel.bookings.input_your_data_booking_request')
  - else
    h2
      = t('bookings.complete_reservation')
    = t(:please_input_your_data)
  - if current_public_user.need_to_complete_address?
    br
      = t('views.hotel.bookings.complete_your_address')


.div ng-controller="PublicNewBookingTravelersCtrl" ng-init="init(#{companies.to_json(:include => {travelers: {methods: :name_with_job_title}}).gsub('"', "'").html_safe})"
  .promotional-code ng-init="showBalance = #{flash[:promotional_code].blank?}; showPromotionalPartial = true" ng-show="showPromotionalPartial"
    = render partial: '/public/bookings/new/validate_promotional_code'
  = simple_form_for [:public, @booking], html: { class: 'form-horizontal' }, wrapper: :basic do |f|
    - if current_public_user.is_a_agency?
      div ng-init="newConsultant = #{params[:new_consultant].eql?("true")}; newCompany = #{params[:new_company].eql?("true")}; newTraveler = #{params[:new_traveler].eql?("true")}; newTravelerAndCompany = #{params[:new_traveler_and_company].eql?("true")}"
        .row.form-group
          .col-md-6.col-xs-12
            label.no-padding-left
              = t(:consultant)
              span style=("margin-left: 3px")  *
            = f.association :consultant, class: 'form-control', collection: current_public_user.agency_detail.consultants.order(:name), prompt: "#{t(:select_consultant)}", input_html: { "ng-show" => "!newConsultant" }
            input id="consultant_name" name="consultant_name" type="text" class="string name required col-sm-12 form-control" value="#{params[:consultant_name]}" placeholder="#{t(:new_consultant_name)}" ng-show="newConsultant"
            = button_tag("#{t(:select_consultant)}", type: 'button', class: "margin-top-5 pill small size-100-percent", "ng-click" => "newConsultant = false", "ng-show" => "newConsultant")
            = button_tag("#{t(:new)} #{t(:consultant).downcase}", type: 'button', class: "margin-top-5 pill green small size-100-percent", "ng-click" => "newConsultant = true", "ng-show" => "!newConsultant")
          .col-md-6.col-xs-12
            label.no-padding-left
              = t('company.one')
              span style=("margin-left: 3px")  *
            select class="select required col-sm-6 form-control ng-pristine ng-valid" id="booking_company_selected" ng-model="company" ng-options='company as company.name for company in companiesList' ng-show="!newCompany"
              option value="" = t(:select_company)
            input id="company_name" name="company_name" type="text" class="string name required col-sm-12 form-control" value="#{params[:company_name]}" placeholder="#{t(:new_company_name)}" ng-show="newCompany"
            = button_tag(t(:select_company), type: 'button', class: "margin-top-5 pill small size-100-percent", "ng-click" => "newCompany = false; newTravelerAndCompany = false; newTraveler = false; clearGuestFieldsCompany()", "ng-show" => "newCompany")
            = button_tag(t(:new_company), type: 'button', class: "margin-top-5 pill small green size-100-percent", "ng-click" => "newCompany = true; newTravelerAndCompany = true; newTraveler = false; clearGuestFieldsCompany()", "ng-show" => "!newCompany")

        div ng-show="newTravelerAndCompany || newTraveler"
          .row.form-group
            .col-md-4.col-xs-12
              label.no-padding-left
                = t(:cost_center)
                span style=("margin-left: 3px")  *
              input id="cost_center_name" name="cost_center_name" type="text" class="string name required col-sm-12 form-control" value="#{params[:cost_center_name]}"
            .col-md-4.col-xs-12
              label.no-padding-left
                = t(:traveler_name)
                span style=("margin-left: 3px") *
              input id="traveler_name" name="traveler_name" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_name]}"
              = button_tag("#{t(:select_traveler)}", type: 'button', class: "margin-top-5 pill small size-100-percent", "ng-click" => "newTraveler = false; clearGuestFieldsTraveler()", "ng-show" => "newTraveler && company != null")
            .col-md-4.col-xs-12
              label.col-xs-12.no-padding-left
                = t(:traveler_phone)
                span style=("margin-left: 0px") *
              input id="traveler_phone" name="traveler_phone" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_phone]}"

          .row.form-group
            .col-md-4.col-xs-12
              label.no-padding-left
                = t(:traveler_email)
                span style=("margin-left: 3px") *
              input id="traveler_email" name="traveler_email" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_email]}"


            .col-md-4.col-xs-12
              label.col-xs-12.no-padding-left
                | CPF
                span style=("margin-left: 3px") *
              input id="traveler_cpf" name="traveler_cpf" type="text" class="string name required col-sm-12 form-control js-mask-cpf" value="#{params[:traveler_cpf]}"
            .col-md-4.col-xs-12
              label.col-xs-12.no-padding-left
                = t(:passport)
                span style=("margin-left: 3px") *  
              input id="traveler_passport" name="traveler_passport" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_passport]}"

          .row.form-group
            .col-md-4.col-xs-12
              label.col-xs-12.no-padding-left
                = t(:address)
                span style=("margin-left: 3px")  *
              input.string.required.col-sm-12.form-control.big-input.autocomplete id="autocomplete" name="address" type="text"
            .col-md-4.col-xs-12
              label.col-xs-12.no-padding-left
                = t(:country)
                span style=("margin-left: 3px")  *
              input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="country" name="traveler_country" type="text" value="#{params[:traveler_country]}"
            .col-md-4.col-xs-12
              label.no-padding-left
                = t(:state)
                span style=("margin-left: 3px")  *
              input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="administrative_area_level_1" name="traveler_state" type="text" value="#{params[:traveler_state]}"

          .row.form-group
            .col-md-4.col-xs-12
              label.col-xs-12.no-padding-left
                = t(:city)
                span style=("margin-left: 3px")  *  
              input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="locality" name="traveler_city" type="text" value="#{params[:traveler_city]}"
            .col-md-4.col-xs-12
              label.col-xs-12.no-padding-left
                = t(:street)
                span style=("margin-left: 3px")  *

              input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="route" name="traveler_street" type="text" value="#{params[:traveler_street]}"
            .col-md-4.col-xs-12
              label.col-xs-12.no-padding-left
                | CEP
                span style=("margin-left: 3px")  *
              input.string.required.col-sm-12.form-control.big-input id="postal_code" name="traveler_postal_code" type="text" value="#{params[:traveler_postal_code]}"

          .row.form-group
            .col-md-9.col-xs-12
              label.col-xs-12.no-padding-left
                = t(:credit_card_number)
                span style=("margin-left: 3px")  *

              input.string.required.col-sm-12.form-control.big-input.js-mask-credit-card-number id="card_number" name="card_number" type="text" value="#{params[:card_number]}" placeholder="**** **** **** ****"
            .col-md-3.col-xs-12
              label.col-xs-12.no-padding-left
                = t(:security_number) 
                span style=("margin-left: 3px")  *
              input.string.required.col-sm-12.form-control.big-input id="cvv" name="cvv" type="text" value="#{params[:cvv]}" placeholder="***"
          .row.form-group
            .col-md-6.col-xs-12
              label.col-xs-12.no-padding-left
                = t(:month)
              = select_month(nil, {field_name: 'expiration_month', prefix: '', prompt: t(:month)}, {class: 'select form-control col-sm-12'})
            .col-md-6.col-xs-12
              label.col-xs-12.no-padding-left
                = t(:year)
              = select_year(nil, {field_name: 'expiration_year', prefix: '', start_year: Date.today.year, end_year: (Date.today.year + 10), prompt: t(:year)}, {class: 'select form-control col-sm-12'})
        .row.form-group ng-hide="newTravelerAndCompany || newTraveler"
          .col-md-6.col-xs-12
            label.no-padding-left
              = t(:guest_name_holder_booking)
              span style=("margin-left: 3px")  *
            select class="select required col-sm-6 form-control ng-pristine ng-valid" id="booking_guest_name_selected" ng-model="traveler" ng-options='traveler as traveler.name_with_job_title for traveler in company.travelers' ng-change="changePhone(traveler.phone_number)"
              option value="" = t(:select_traveler)
            = button_tag("#{t(:new)} #{t(:traveler).downcase}", type: 'button', class: "margin-top-5 pill small green size-100-percent", "ng-click" => "newTraveler = true; clearGuestFieldsTraveler()", "ng-show" => "!newTraveler && company != null")

          .col-md-6.col-xs-12
            label.col-xs-12.no-padding-left
              = t(:phone_number_holder_booking)
              span style="margin-left: 3px" *
            = f.input :phone_number
          .hidden
            input id="new_consultant" name="new_consultant" type="text" ng-model="newConsultant"
            input id="new_company" name="new_company" type="text" ng-model="newCompany"
            input id="new_traveler_and_company" name="new_traveler_and_company" type="text" ng-model="newTravelerAndCompany"
            input id="new_traveler" name="new_traveler" type="text" ng-model="newTraveler"
            input id="booking_guest_name" name="booking[guest_name]" type="text" ng-model="traveler.name"
            input id="booking_traveler_id" name="booking[traveler_id]" type="text" ng-model="traveler.id"
            input id="company_id" name="company_id" type="text" ng-model="company.id"

    - elsif current_public_user.is_a_company?
      div ng-init="newTraveler = #{params[:new_traveler].eql?("true")}" ng-show="newTraveler"
        .row.form-group
          .col-md-4.col-xs-12
            label.no-padding-left
              = t(:cost_center)
            input id="cost_center_name" name="cost_center_name" type="text" class="string name required col-sm-12 form-control" value="#{params[:cost_center_name]}"
            = button_tag("<i class='fa fa-arrow-up'></i> #{t(:select_traveler)}".html_safe, type: 'button', class: "width-300 margin-top-5 pill small size-100-percent", "ng-click" => "newTraveler = false; clearGuestFieldsTraveler()", "ng-show" => "newTraveler")
          .col-md-4.col-xs-12
            label.no-padding-left
              = t(:traveler_name)
            input id="traveler_name" name="traveler_name" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_name]}"
          .col-md-4.col-xs-12
            label.col-xs-12.no-padding-left
              = t(:traveler_phone)
            input id="traveler_phone" name="traveler_phone" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_phone]}"

        .row.form-group
          .col-md-4.col-xs-12
            label.no-padding-left
              = t(:traveler_email)
            input id="traveler_email" name="traveler_email" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_email]}"


          .col-md-4.col-xs-12
            label.col-xs-12.no-padding-left
              | CPF
            input id="traveler_cpf" name="traveler_cpf" type="text" class="string name required col-sm-12 form-control js-mask-cpf" value="#{params[:traveler_cpf]}"
          .col-md-4.col-xs-12
            label.col-xs-12.no-padding-left
              = t(:passport)
            input id="traveler_passport" name="traveler_passport" type="text" class="string name required col-sm-12 form-control" value="#{params[:traveler_passport]}"

        .row.form-group
          .col-md-4.col-xs-12
            label.col-xs-12.no-padding-left
              = t(:address)
            input.string.required.col-sm-12.form-control.big-input.autocomplete id="autocomplete" name="address" type="text"
          .col-md-4.col-xs-12
            label.col-xs-12.no-padding-left
              = t(:country)
            input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="country" name="traveler_country" type="text" value="#{params[:traveler_country]}"
          .col-md-4.col-xs-12
            label.no-padding-left
              = t(:state)
            input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="administrative_area_level_1" name="traveler_state" type="text" value="#{params[:traveler_state]}"

        .row.form-group
          .col-md-4.col-xs-12
            label.col-xs-12.no-padding-left
              = t(:city)
            input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="locality" name="traveler_city" type="text" value="#{params[:traveler_city]}"
          .col-md-4.col-xs-12
            label.col-xs-12.no-padding-left
              = t(:street)
            input.string.required.col-sm-12.form-control.big-input disabled="disabled" id="route" name="traveler_street" type="text" value="#{params[:traveler_street]}"
          .col-md-4.col-xs-12
            label.col-xs-12.no-padding-left
              | CEP
            input.string.required.col-sm-12.form-control.big-input id="postal_code" name="traveler_postal_code" type="text" value="#{params[:traveler_postal_code]}"
        -if !current_public_user.accept_confirmed_and_invoiced
          .row.form-group
            .col-md-9.col-xs-12
              label.col-xs-12.no-padding-left
                = t(:credit_card_number)
              input.string.required.col-sm-12.form-control.big-input.js-mask-credit-card-number id="card_number" name="card_number" type="text" value="#{params[:card_number]}" placeholder="**** **** **** ****"
            .col-md-3.col-xs-12
              label.col-xs-12.no-padding-left
                = t(:security_number)
              input.string.required.col-sm-12.form-control.big-input id="cvv" name="cvv" type="text" value="#{params[:cvv]}" placeholder="***"
          .row.form-group
            .col-md-6.col-xs-12
              label.col-xs-12.no-padding-left
                = t(:month)
              = select_month(nil, {field_name: 'expiration_month', prefix: '', prompt: t(:month)}, {class: 'select form-control col-sm-12'})
            .col-md-6.col-xs-12
              label.col-xs-12.no-padding-left
                = t(:year)
              = select_year(nil, {field_name: 'expiration_year', prefix: '', start_year: Date.today.year, end_year: (Date.today.year + 10), prompt: t(:year)}, {class: 'select form-control col-sm-12'})
      .row.form-group ng-hide="newTraveler"
        .col-md-6.col-xs-12
          label.no-padding-left
            = t(:guest_name_holder_booking)
          select class="select required col-sm-12 form-control ng-pristine ng-valid" id="booking_guest_name_selected" ng-model="traveler" ng-options='traveler as traveler.name_with_job_title for traveler in companiesList.travelers' ng-change="changePhone(traveler.phone_number)"
            option value="" = t(:select_traveler)
          = button_tag("<i class='fa fa-arrow-down'></i> #{t(:add)} #{t(:new).downcase} #{t(:traveler).downcase}".html_safe, type: 'button', class: "width-300 margin-top-5 pill small green size-100-percent", "ng-click" => "newTraveler = true; clearGuestFieldsTraveler()", "ng-show" => "!newTraveler")

        .col-md-6.col-xs-12
          label.col-xs-12.no-padding-left
            = t(:phone_number_holder_booking)
          = f.input :phone_number
        .hidden
          input id="booking_guest_name" name="booking[guest_name]" type="text" ng-model="traveler.name"
          input id="booking_traveler_id" name="booking[traveler_id]" type="text" ng-model="traveler.id"
          input id="new_traveler" name="new_traveler" type="text" ng-model="newTraveler"

    - else
      - if current_public_user.balance > 0 && current_currency.code == "BRL" && !@booking.have_promotional_code
        .row.form-group.have-promo-code-input.use-my-credit ng-show='showBalance'
          .col-md-12.col-xs-12
            .checkbox
              label ng-click='usingBalance = !usingBalance; usingPromotionalCode = false; showPromotionalPartial = !usingBalance; promotionalCodeValidated = false'
                = check_box_tag "booking[using_balance]", true, false, "ng-checked" => "usingBalance"
                span.lbl ng-click='usingBalance = !usingBalance; usingPromotionalCode = false; showPromotionalPartial = !usingBalance; promotionalCodeValidated = false'
                  = t(:use_my_credit)

      - if current_public_user.need_to_complete_address?
        = render partial: "/public/bookings/new/address_fields"
      - if (current_public_user.country == "BR" || current_public_user.country.blank?) && current_public_user.cpf.blank?
        .row.form-group
          .col-md-12.col-xs-12
            label.col-xs-12.no-padding-left
              = t(:cpf)
            input class="string cpf form-control js-mask-cpf" id="public_user_cpf" name="public_user[cpf]" type="cpf" value="#{params[:public_user][:cpf] if params[:public_user]}"
            - if params[:action] == 'create' && current_public_user.cpf.blank?
              span.help-block.error
                = t('errors.messages.blank')
      .row.form-group
        .col-md-6.col-xs-12
          label.col-xs-12.no-padding-left
            = t(:guest_name_holder_booking)
          - @booking.guest_name ||= current_public_user.name
          = f.input :guest_name
        .col-md-6.col-xs-12
          label.col-xs-12.no-padding-left
            = t(:phone_number_holder_booking)
          = f.input :phone_number, input_html: { class: 'js-mask-mobile-phone' }

    .row.form-group
      - @booking.guest_email ||= current_public_user.email
      - if @offer.try(:room_type_id)
        .col-md-6.col-xs-12
          label
            = Booking.human_attribute_name(:number_of_people)
          - options_for_number_of_people_select = []
          - (@offer.room_type_initial_capacity..@offer.room_type_maximum_capacity).to_a.each do | i |
            - next if @booking.is_omnibees_or_hoteisnet? and i != @booking.number_of_people
            - next unless can_current_public_user_afford?(offer: @offer, number_of_people: i)
            - options_for_number_of_people_select << ((i == 1) ? ["1 #{t(:person).downcase} - #{number_to_currency(calculate_currency(total_price_for_number_of_people_dropdpwn(i).round, Hotel::CURRENCY_SYMBOL_REVERSED[@offer.hotel.currency_symbol]).round, unit: "#{current_currency.money_sign}", precision: 0)}", 1] : ["#{i} #{t(:people).downcase} - #{number_to_currency(calculate_currency(total_price_for_number_of_people_dropdpwn(i).round, Hotel::CURRENCY_SYMBOL_REVERSED[@offer.hotel.currency_symbol]).round, unit: "#{current_currency.money_sign}", precision: 0)}", (i)])

          = f.input :number_of_people, class: 'form-control', collection: options_for_number_of_people_select, selected: @booking.number_of_people || params[:number_of_people], prompt: false

        .col-md-6.col-xs-12
          label
            = Booking.human_attribute_name(:guest_email)
          - if current_public_user.is_a_agency? || current_public_user.is_a_company?
            = f.input :guest_email, class: 'form-control', input_html: {'ng-model' => 'traveler.email'}
          - else
            = f.input :guest_email, class: 'form-control'
      - else
        .hidden
          = f.input :number_of_people, class: 'hidden', value: @booking.number_of_people || params[:number_of_people]
        .col-md-12.col-xs-12
          label
            = Booking.human_attribute_name(:guest_email)
            span style="margin-left: 3px" *
          - if current_public_user.is_a_agency? || current_public_user.is_a_company?
            = f.input :guest_email, class: 'form-control', input_html: {'ng-model' => 'traveler.email'}
          - else
            = f.input :guest_email, class: 'form-control'
    .row
      .col-md-12.col-xs-12
        p.small
          span style="margin-right: 3px" *
          = t(:new_booking_guest_email_field_explanation)

    span ng-hide="showObservationInput"
      a ng-click="showObservationInput = true"
        = t(:add_note)
    .row.form-group.notes-input.fadeIn.animated ng-show="showObservationInput"
      .col-md-12.col-xs-12
        label
          = Booking.human_attribute_name(:note)
        = f.input :note, class: 'form-control', as: :text, input_html: { rows: 5 }

    .hidden ng-init="promotionalCodeValidated = #{flash[:promotional_code].present?}"
      = check_box_tag "booking[have_promotional_code]", 1, flash[:promotional_code].present?, "ng-checked" => "promotionalCodeValidated"
    .row.form-actions
      .col-md-10.col-md-offset-2.col-xs-12
        = submit_tag t(:continue).upcase, class: "cpy-submit-button pill #{button_class} big pull-right submit-button"
