- if params[:action] == 'remove'
  .alert.alert-danger
    | #{t('views.hotel.meeting_room_offers.no_offers_found')}

- else
  - if MeetingRoom.by_hotel_id(current_hotel_hotel.id).count == 0
    .alert.alert-danger
      | #{t('views.hotel.meeting_room_offers.no_meeting_room_found')} #{link_to t('views.hotel.meeting_room_offers.click_here_to_register_meeting_room'), hotel_meeting_rooms_path}
  - if MeetingRoomPricingPolicy.by_hotel_id(current_hotel_hotel.id).count == 0
    .alert.alert-danger
      | #{t('views.hotel.meeting_room_offers.no_fee_registered')} #{link_to t('views.hotel.meeting_room_offers.click_here_to_register_fee_table'), new_hotel_meeting_room_pricing_policy_path}
