ul.nav.nav-tabs
  li.active
    a.js-link-to-price-table-tab data-toggle='tab' href='#price-table-and-period'
      - if params[:action] == 'remove'
        | #{t('views.hotel.meeting_room_offers.remove_period_and_days_of_week')}
      - else
        | #{t('views.hotel.meeting_room_offers.fees_tables_days_periods')}
  li
    a.js-link-to-rooms-tab data-toggle='tab' href='#rooms-related'
      | #{t('views.hotel.meeting_room_offers.meeting_room')}
  li
    a.js-link-to-pack-selection-tab data-toggle='tab' href='#pack-selection'
      - if params[:action] == 'remove'
        | #{t('views.hotel.meeting_room_offers.remove_package_selection')}
      - else
        | #{t('views.hotel.meeting_room_offers.package_selecion')}
