.tab-pane#rooms-related
  .row
    .col-sm-12
      h3.header.lighter.smaller.green #{t('views.hotel.meeting_room_offers.meeting_rooms')}
      | <i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>
      p.alert.alert-info ng-show="isFormDatesValids()" ng-if="!offersCountPerRoom"
        | #{t('views.hotel.meeting_room_offers.please_wait_while_we_count_offers')}

      .checkbox.size-50-percent.pull-left.no-left-padding ng-repeat="(meetingRoomId, meetingRoom) in meetingRoomsById"
        p
          label
            input.ace.cpy-room-type value='{{meetingRoom.id}}' name='meeting_rooms_ids[]' type="checkbox" ng-model="meetingRoom.checked" ng-disabled="zeroOffersForMeetingRoom(meetingRoom)"
            span.lbl
              | {{meetingRoom.name_pt_br}}&nbsp;
            span ng-show="zeroOffersForMeetingRoom(meetingRoom)"
              | #{t('views.hotel.meeting_room_offers.zero_offers_meeting_room')}
            span ng-show="!zeroOffersForMeetingRoom(meetingRoom)"
              | #{t('views.hotel.meeting_room_offers.meeting_room_has_offers')}

      .clearfix

      .clearfix
  .row
    .col-sm-12
      = content_tag(:div, class: 'wizard-actions form-buttons') do
        - back_link = '<a class="btn btn-prev button-to-price-table-tab"><i class="icon-arrow-left icon-on-left"></i>Etapa Anterior</a>'.html_safe
        - next_link = "<a class='btn #{nav_button_class} button-to-pack-selection-tab'>Próxima Etapa <i class='icon-arrow-right icon-on-right'></i></a>".html_safe
        - back_link + next_link
