javascript:
  yojs.set('offerCreation', true)
.tab-pane#rooms-related
  .row
    .col-sm-12
      h3.header.lighter.smaller.green #{t('views.hotel.meeting_room_offers.meeting_rooms')}
      .checkbox.pull-left.no-left-padding.size-30-percent ng-repeat="(meetingRoomId, meetingRoom) in meetingRoomsById"
        label
          input.ace.cpy-room-type value='{{meetingRoom.id}}' name='meeting_rooms_ids[]' type="checkbox" ng-model="meetingRoom.checked" ng-disabled="selectedTablePriceDoesNotContainsMeetingRoom({{meetingRoom.id}})" ng-checked='meetingRoom.checked && !selectedTablePriceDoesNotContainsMeetingRoom({{meetingRoom.id}})'
          span.lbl
            | {{meetingRoom.name_pt_br}}
      .clearfix

      .alert-price-table-without-room-type ng-show="selectedTablePriceIsNotComplete()"
        .alert.alert-warning
          | #{t('views.hotel.meeting_room_offers.one_or_more_rooms_were_disabled')}
          a ng-href="#{hotel_meeting_room_pricing_policies_path}/{{selectedPriceTable.id}}/editar"
            =< t('views.hotel.meeting_room_offers.click_here_to_fill_info')
      .clearfix

  .row
    .col-sm-12
      = content_tag(:div, class: 'wizard-actions form-buttons') do
        - back_link = '<a class="btn btn-prev button-to-price-table-tab"><i class="icon-arrow-left icon-on-left"></i>Etapa Anterior</a>'.html_safe
        - next_link = "<a class='btn #{nav_button_class} button-to-pack-selection-tab'>Próxima Etapa <i class='icon-arrow-right icon-on-right'></i></a>".html_safe
        - back_link + next_link
