.row
  .col-xs-12.border-box.with-padding
    h1.page-title How it works?
    .divider

    .row.text-center
      .col-md-4
        .service-box
          h2 = t :you_decide_when_check_into_the_hotel
          .image = image_tag('calendar-and-clock-blue.png')
          p = t :you_decide_when_check_into_the_hotel_description
      .col-md-4
        .service-box
          h2 = t :you_decide_how_many_hours_you_need
          .image = image_tag('clock-blue.png', class: 'clock-image')
          p = t :you_decide_how_many_hours_you_need_description
      .col-md-4
        .service-box style="border-bottom: none"
          h2 = t :pay_a_fair_price
          .image = image_tag('preco-justo-blue.png', class: 'price-image')
          p = t :pay_a_fair_price_description

= render partial: "/public/home/when_booking/en"

    / h2 Follow these steps in order to reserve your room:

    / .row
    /   .col-xs-12
    /     .display-table
    /       .display-table-cell.with-padding.text-center.size-50-percent
    /         span.big-number 1
    /         span.big-phrase Search your hotel through destination, check-in and package informations
    /       .display-table-cell.size-50-percent
    /         = image_tag "home/#{I18n.locale}/search_box.jpg", class: "img rounded-border"
    / .row
    /   .col-xs-12
    /     .display-table
    /       .display-table-cell.size-50-percent
    /         = image_tag "home/#{I18n.locale}/hotels_index.jpg", class: "img rounded-border"
    /       .display-table-cell.with-padding.text-center
    /         span.big-number 2
    /         span.big-phrase Choose the hotel, click on "See details"
    / .row
    /   .col-xs-12
    /     .display-table
    /       .display-table-cell.with-padding.text-center
    /         span.big-number 3
    /         span.big-phrase Choose the room type, click on "Reserve"
    /       .display-table-cell.size-50-percent
    /         = image_tag "home/#{I18n.locale}/reserve.jpg", class: "img rounded-border"

    / .row
    /   .col-xs-12
    /     .display-table
    /       .display-table-cell.size-50-percent
    /         = image_tag "home/#{I18n.locale}/registration_login.jpg", class: "img rounded-border"
    /       .display-table-cell.with-padding.text-center
    /         span.big-number 4
    /         span.big-phrase Enter your informations

    / .row
    /   .col-xs-10.col-xs-offset-1
    /     .display-table
    /       .display-table-cell.text-center.with-padding.last-row
    /         span.big-number 5
    /         span.big-phrase Fill out the booking and payment forms and that's it! The booking will be yours!
    /         br
    /         a data-target="#search-box-modal" data-toggle="modal" href="#" class="pill big blue" =t(:search_a_hotel_now)
