.row
  .col-xs-12.border-box.with-padding
    h1.page-title ¿Como funciona?
    .divider

    .row.text-center
      .col-md-4
        .service-box
          h2 = t :you_decide_when_check_into_the_hotel
          .image = image_tag('calendar-and-clock-blue.png')
          p = t :you_decide_when_check_into_the_hotel_description
      .col-md-4
        .service-box
          h2 = t :you_decide_how_many_hours_you_need
          .image = image_tag('clock-blue.png', class: 'clock-image')
          p = t :you_decide_how_many_hours_you_need_description
      .col-md-4
        .service-box style="border-bottom: none"
          h2 = t :pay_a_fair_price
          .image = image_tag('preco-justo-blue.png', class: 'price-image')
          p = t :pay_a_fair_price_description

= render partial: "/public/home/when_booking/es"