h1.page-title.green-title About us
p.explanation.with-margin
  | HotelQuando.com is the first and only Brazilian online booking platform that allows the user to book a hotel room by the hour for 3, 6, 9 or 12 hours and at a fair price.