h1.page-title.green-title Booking a few hours during the day
.with-margin
  p.explanation
    | We know that unforeseen and delays can occur in corporate travel. Count on a solution custom-made that will never leave your employees helpless
  p.explanation
    | You decide the check-in time between 06:00 a.m and 05:00 p.m, one of hour packages and we will always show you the check-out hour. See it in practice:
.example-bar.text-center.example-day ng-controller="PublicBusinessTripsSearchExampleDayController"
  .text-center.inline-block
    .checkin.text-center
      label.title = "#{t('search_box.checkin')}"

      .checkin-hour.text-center.col.xs-12
        label.at = "#{t('search_box.at')}"
        - array_hours = []
        - 24.times do | i |
          - array_hours << i
        .hour-and-buttons
          button.minus-checkin-hour ng-click='changeCheckinHour("minus")' type="button"
            span.minus
              | -
          .hour style='margin:2px 1px 1px 1px'
            - if I18n.locale != :pt_br
              label.no-margin.ng-cloak ng-init="set_checkin_checkout_hour()"
                | {{checkinHourDate | date: 'ha'}}
            - else
              label.no-margin ng-bind="checkinHour"
                | 0
              label.no-margin
                | :00
          button.plus-checkin-hour ng-click='changeCheckinHour("plus")' type="button"
            span
              | +
        .hidden
          = select_tag 'by_checkin_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time size-50-percent', 'ng-model' => 'checkinHour'

    .col-xs-12.pack-size.text-center
      label = "#{t(:pack_size)}"
      .btn-group.btn-group-justified role="group" aria-label="..."
        - Offer::ACCEPTED_LENGTH_OF_PACKS.each do |pack_size|
          .btn-group role="group"
            a.btn.btn-default.rooms class="pack-#{pack_size} cpy-pack-#{pack_size}" ng-class="{selected: selectedPackSize == #{pack_size}}" ng-click="selectedPackSize = #{pack_size}; changePackSize()" #{pack_size}h

    .checkout-hour.text-center.col-xs-12
      label.title-checkout = "#{t('search_box.checkout')}"
      .at-and-hour
        label = "#{t('search_box.at')}"
        .hour
          - if I18n.locale != :pt_br
            label.no-margin.ng-cloak
              | {{checkoutHourDate | date: 'ha'}}
          - else
            label.no-margin ng-bind="checkoutHour"
              | 3
            label.no-margin
              | :00
      label.next-day style="display:none" = "#{t('search_box.of_the_next_day')}"
      label.same-day = "#{t('search_box.of_the_same_day')}"
.with-margin
