.modal-dialog.modal-lg
  .modal-content
    .modal-header
      button type="button" class="close" data-dismiss="modal" aria-hidden="true" ×
      h1 
        | Perguntas frequentes
    .modal-body
      .row
        ol
          li
            a.accordion
              b For how long will the bank of hours hired be available?
            .answer
              p Your bank of hours will be available for 3 months, counting from the subsequent hiring moth
          li
            a.accordion
              b How is the payment of the bank of hours done?
            .answer
              p The payments is done according to the amount of the hours that you use. The charge will be done from 20 to 20 days. In the end of the period the completely amount of hours hired and the hours that was not used shall be settled
          li
            a.accordion
              b What If I don't use all the hours before the expiration date?
            .answer
              p Not a problem! You will never lose your hours. The not used hours can be renewed for 3 more months with a small price adjustment (if necessary)
            
          li
            a.accordion   
              b Am I going to receive the receipt for my reservation? 
            .answer
              p Yes. We will sent according to the bank of hours use.
          li
            a.accordion
              b What is the maximum occupancy per room?
            .answer
              p Your bank of hour can only be used by one person per booking.
