h1.page-title.green-title When to book only a few hours of hotel?
.icons.text-center
  = image_tag('sleep-icon.png', style: '')
  = image_tag('pc-icon.png', style: 'margin-top: 0; top: 0')
  = image_tag('shower-icon.png', style: '')
  = image_tag('fly-icon.png', style: 'margin-top: 0; top: 0')
  = image_tag('travel-icon.png', style: '')
  
.when-booking-describe
  .col-sm-6
    h4.green-title To spend one night:
    p.explanation
      | Why pay for a daily rate if 12h meet your need to stay overnight?
  .col-sm-6
    h4.green-title During the day:
    p.explanation
      | Whether to wait for a flight/appointment, take a shower or even work in a quiet room with internet