h1.page-title.green-title Why use our corporate travel tool?
.with-margin
  .row
    .col-sm-6
      h4 Cutting Expenses
      p.explanation
        | We reduce on average 25% of one-night lodging expenses
    .col-sm-6
      h4 Greater hotels offer
      p.explanation
        | More hotel options that fit your budget
  .row
    .col-sm-6
      h4 Fair price and flexibility
      p.explanation
        | Decide your schedules and pay only what you need
    .col-sm-6
      h4 Simplicity, Management and Control
      p.explanation
        | You set up users who can use the tool: they book quickly and simply, and you have full control of how hours are being used
  .row
    .col-sm-6
      h4 Support
      p.explanation
        | If you need any kind of support with your hotel hours, we are available 24 hours a day and 7 days a week
    .col-sm-6
      h4 And more...
      p.explanation
        | We arrange training services to those who find it necessary: travelers, managers and / or corporate travel agencies