.public-travel-requests-controller.index-action
  .flash-message  
    position: relative 
    z-index: 99
    top: 0
    right: 0
  .pagination
    margin: 10px 0px 15px 0px
  .filter
    padding: 20px
    .filter-by-checkin
      padding-top: 0px
      padding-bottom: 10px
    .filter-buttons
      padding-top: 14px
      .remove-filter
        padding-top: 20px
      .export-data
        padding-left: 0px
        padding-right: 0px
      .filter-button
        padding-left: 6px
        padding-right: 6px
    
    .no-left-padding
      padding-left: 0px

    .btn
      margin: 0 10px

    .link
      text-align: center

    .form-group
      margin: 0px

    .form-control
      display: inline-block

    label
      margin-right: 10px
      font-weight: 400
      
    .checkbox
      display: inline-block

    .padding-top
      padding-top: 10px

  .table
    margin-top: 10px

    .glyphicon
      margin-right: 0px

    td
      vertical-align: middle

    td.action-list
      width: 100px
      .btn
        display: block
        width: 100%
        margin-bottom: 2px
  .get-started-button.btn
    display: inline-block

