.public-travel-requests-controller.new-action,
.public-travel-requests-controller.create-action
  .margin-top-5
    margin-top: 5px
  .intl-tel-input 
    width: 100%
  .have-promo-code-input
    &.use-my-credit
      margin-top: 0px
    margin-top: 30px
    span
      font-weight: 700
      color: #555555
  .intl-tel-input 
    width: 100%
  .booking-step-title
    margin-bottom: 30px

    h2
      margin: 0

  .form-group
    label
      line-height: 20px
      color: $label-light-gray
      font-style: italic
      font-size: 14px
    .help-block
      width: 100% !important

  .booking-info-title
    img
      width: 36px
      height: 36px
      margin-bottom: 23px
      margin-right: 7px

    h4
      display: inline-block
      position: relative
      top: -9px
      margin-bottom: 0
      color: $label-light-gray
      font-size: 16px

  .room-type-description-title,
  .business-room-description-title,
    margin-bottom: 10px
    height: 50px
    h5
      display: inline-block
      position: relative
      top: 10px
      margin-bottom: 0
      color: #888888
      font-size: 16px

  .bed-configuration-title
    h5
      display: inline-block
      position: relative
      top: 10px
      margin-bottom: 0
      color: #888888
      font-size: 16px

  .booking-info, .booking-data-description
    .attribute-title
      color: $label-light-gray
      font-size: 13px

  .submit-button
    margin-bottom: 42px
    padding-left: 40px
    padding-right: 40px
    
  .promotional_code_button
    font-size: 14px !important
    border-radius: 30px !important
    height: 40px !important
    letter-spacing: 0px !important
    text-transform: uppercase !important
    font-weight: 300 !important
    padding: 0px 20px 0px 20px !important
    margin-bottom: 10px !important