.admin-bookings-controller.show-action
  .attributes-wrapper
    *
      margin-top: 10px

    &.booking_guest_email
      .content
        word-wrap: break-word

  .more-booking-details-links
    .btn:first-child
      margin-left: 0px
    .btn
      margin-left: 8.39%

    .link-to-booking-agency
      margin-left: 8.4% !important
