.public-affiliate-bookings-controller.edit-action, .public-bookings-controller.update-action
  .border-box.with-padding
    margin-top: -20px

    input
      &.submit-button
        width: 190px
        background-color: $green

    span.help-block.error
      width: 100%