= panel_section(name: title_for_panel, class: 'widget-box transparent') do
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center.size-10-percent
          | #{t("views.admin.hotel_reports.code")}
        th.center.size-25-percent
          | #{t("views.admin.hotel_reports.owner")}
        th.center.size-20-percent
          | #{t("views.admin.hotel_reports.checkin")}
        th.center.size-10-percent
          | #{t("views.admin.hotel_reports.package")}
        th.center.size-15-percent
          | #{t("views.admin.hotel_reports.total_value")}
        th.center.size-20-percent
          | #{t("views.admin.hotel_reports.status")}
    tbody
      - bookings.each do | booking |
        tr.center
          td
            = booking.id
          td
            = booking.guest_name
          td
            = (booking.offer.checkin_timestamp).strftime("%d/%m/%Y %H:%M")
          td
            = "#{booking.pack_in_hours}h"
          td
            - if no_show_listing
              = number_to_currency booking.offer.no_show_value
            - else
              = number_to_currency booking.total_price
          td
            = t(Booking::ACCEPTED_STATUS_REVERSED[booking.status])
