= panel_section(name: t("views.admin.hotel_reports.resume"), class: 'widget-box transparent') do
  .row
    .col-sm-6
      = render partial: 'admin/hotel_reports/index/tenth_day_invoice/bookings_paid_at_the_hotel_info', locals: { invoice: invoice }

      = render partial: 'admin/hotel_reports/index/_invoices/bookings_paid_online_info', locals: { invoice: invoice }

      = render partial: 'admin/hotel_reports/index/_invoices/no_shows_info', locals: { invoice: invoice }

    .col-sm-6
      = render partial: 'admin/hotel_reports/index/tenth_day_invoice/total_values', locals: { invoice: invoice }

- if invoice[:bookings_collection][:bookings_paid_at_the_hotel].try(:any?)
  .cpy-bookings-paid-at-the-hotel-list
    = render partial: "/admin/hotel_reports/index/bookings_listing", locals: { title_for_panel: t("views.admin.hotel_reports.reservations_paid_at_hotel_report"), bookings: invoice[:bookings_collection][:bookings_paid_at_the_hotel], no_show_listing: false }

- if invoice[:bookings_collection][:bookings_paid_online].try(:any?)
  .cpy-bookings-paid-online-list
    = render partial: "/admin/hotel_reports/index/bookings_listing", locals: { title_for_panel: t("views.admin.hotel_reports.reservations_paid_online_report"), bookings: invoice[:bookings_collection][:bookings_paid_online], no_show_listing: false }

- if invoice[:bookings_collection][:no_shows].try(:any?)
  .cpy-no-shows-list
    = render partial: "/admin/hotel_reports/index/bookings_listing", locals: { title_for_panel: t("views.admin.hotel_reports.no_show_report"), bookings: invoice[:bookings_collection][:no_shows], no_show_listing: true }
