.public-layout
  #air-modal
    z-index: 10000
    .no-padding
      padding: 0px
    .modal-header
      height: 225px
      border: solid 4px rgb(28, 156, 216)
      .description
        font-family: "Quicksand"
        font-size: 20px
        color: #265273
        text-align: center
        width: 100%
        position: absolute
        margin: 55px auto
        padding: 15px

      .submit-button
        margin-top: 15px
        display: inline-block
        padding: 0px
        width: 200px
        button
          width: 190px
          height: 38px
          margin: 0px
          border: 0
          border-radius: 4px
          background: #1c9cd8
          color: white
          font-size: 20px
          -webkit-box-shadow: inset 0 0 6px transparent

      .triangle
        float: right
        display: inline-block
        width: 0
        height: 0
        border-style: solid
        border-width: 0 40px 40px 0
        border-color: transparent rgb(28, 156, 216) transparent transparent
        
        .close
          position: absolute
          right: 3px
          top: -5px
          color: white
          opacity: 100
          text-shadow: none
          font-size: 32px
          margin: 0

    .modal-content
      border-radius: 0px
      padding: 0px
      background: rgba(212, 212, 212, 1)
    .modal-dialog
      width: 800px