.booking-registration-header
  margin-bottom: 50px
  h2
    margin: 0

  .booking-steps
    margin-top: 8px
    margin-bottom: 0px
    transform: scale(0.85, 0.85)
    -webkit-transform: scale(0.85, 0.85)
    -ms-transform: scale(0.85, 0.85)

  .booking-step
    display: inline-block
    margin-left: 91px
    position: relative
    color: $booking-flux-completed-step

    .line
      position: relative
      top: -24px
      left: 83px
      width: 78px
      border: 1px solid $booking-flux-completed-step
      border-radius: 2px

    .base-circle
      position: relative
      width: 35px
      height: 35px
      display: inline-block
      border-radius: 100px
      background: white
      border: 3px solid $booking-flux-completed-step
      transform: translateZ(1px) rotate(45deg)
      -webkit-transform: rotate(45deg)
      -ms-transform: rotate(45deg)

    .complete-circle
      position: relative
      top: 3px
      left: 3px
      width: 0
      height: 0
      border-right: 12px solid $booking-flux-completed-step
      border-top: 12px solid $booking-flux-completed-step
      border-left: 11px solid $booking-flux-completed-step
      border-bottom: 11px solid $booking-flux-completed-step
      border-radius: 12px
      -moz-border-radius: 12px
      -webkit-border-radius: 12px

    .top-right-quarter-circle
      position: relative
      top: 3px
      left: 3px
      width: 0
      height: 0
      border-right: 12px solid transparent
      border-top: 12px solid $booking-flux-completed-step
      border-left: 12px solid transparent
      border-bottom: 12px solid transparent
      border-radius: 12px
      -moz-border-radius: 12px
      -webkit-border-radius: 12px

    .half-circle-left
      position: relative
      top: 3px
      left: 3px
      width: 0
      height: 0
      border-right: 12px solid $booking-flux-completed-step
      border-top: 12px solid $booking-flux-completed-step
      border-left: 11px solid transparent
      border-bottom: 11px solid transparent
      border-radius: 12px
      -moz-border-radius: 12px
      -webkit-border-radius: 12px

    .circle-without-top-left-quarter
      position: relative
      top: 3px
      left: 3px
      width: 0
      height: 0
      border-right: 12px solid $booking-flux-completed-step
      border-top: 11px solid $booking-flux-completed-step
      border-left: 11px solid transparent
      border-bottom: 12px solid $booking-flux-completed-step
      border-radius: 12px
      -moz-border-radius: 12px
      -webkit-border-radius: 12px

  .booking-step:first-child
    margin-left: 0

  .booking-step.green
    color: $green

    .base-circle
      border-color: $green

    .complete-circle
      border-right: 12px solid $green
      border-top: 12px solid $green
      border-left: 11px solid $green
      border-bottom: 11px solid $green

    .half-circle-left
      border-right: 11px solid $green
      border-top: 11px solid $green

    .circle-without-top-left-quarter
      border-right: 12px solid $green
      border-top: 11px solid $green
      border-bottom: 12px solid $green

    .top-right-quarter-circle
      border-top: 12px solid $green

    .line
      border: 1px solid $light-gray

  .booking-step.gray
    color: $light-gray

    .base-circle
      border-color: $light-gray

    .complete-circle
      border-right: 12px solid $light-gray
      border-top: 12px solid $light-gray
      border-left: 11px solid $light-gray
      border-bottom: 11px solid $light-gray

    .half-circle-left
      border-right: 11px solid $light-gray
      border-top: 11px solid $light-gray

    .circle-without-top-left-quarter
      border-right: 12px solid $light-gray
      border-top: 11px solid $light-gray
      border-bottom: 12px solid $light-gray

    .line
      border: 1px solid $light-gray

  .step-description
    position: absolute
    top: 49px

  .complete-booking
    width: 145px
    left: -32px

  .registration.pt-br
    font-size: 15px
    left: 11px

  .payment.pt-br
    font-size: 15px
    left: 5px

  .confirmation.pt-br, .confirmation.en
    font-size: 15px
    left: -18px

  .confirmation.es
    font-size: 15px
    left: -21px
    
  .registration.es
    font-size: 15px
    left: 13px

  .payment.es
    font-size: 15px
    left: 24px
    
  .registration.en
    font-size: 15px
    left: 6px

  .payment.en
    font-size: 15px
    left: 14px

.booking-hotel-and-room-type-description,
.booking-hotel-and-business-room-description

  .hotel-name
    margin-bottom: 0
    margin-top: 0

  .hotel-description
    color: $booking-flux-hotel-description-blue
    font-size: 12px

    .hotel-stars
      i
        margin-right: 10px

  .room-type-description,
  .business-room-description
    margin-bottom: 25px
    position: relative
    left: 48px
    width: 83%
    color: $label-light-gray

  .room-type-description-title,
  .business-room-description-title
    margin-top: 15px

  .description-icon
    width: 36px
    height: 36px

  h5
    display: inline-block
    position: relative
    top: 10px
    margin-left: 9px
    width: 87%

  .description-title
    margin-bottom: 14px

  .bed-configuration
    margin-left: 26px
    color: $label-light-gray
