.public-layout
  .border-box
    background: white
    border-right: 1px solid #CCCCCC
    border-left: 1px solid #CCCCCC

    &.gray
      background: #f4f4f4

  .slim-box
    text-align: center
    letter-spacing: 1px
    font-weight: 300
    padding: 10px
    font-size: 14px
    margin: 8px 0px
    line-height: 22px
    color: $aqua-blue
    background: white
    box-shadow: 1px 1px 1px $aqua-blue
    border-radius: 3px

  .with-padding
    padding: 10px 45px 30px 45px

  .with-padding-bottom
    // To stretch the last col height
    padding-bottom: 100%
    margin-bottom: -100%
    overflow: hidden

    // Faking padding-bottom: 30px
    .row:last-child
      &:after
        height: 30px

  .container.with-padding-top > .row:first-child > div:first-child
    padding-top: 10px

  .with-margin-top
    margin-top: 60px

  .with-margin-bottom
    margin-bottom: 95px

