.public-layout
  .width-know-more
    width: 266px
  .menu-wrapper
    position: relative
    display: inline-block
    padding: 0px 20px
    z-index: 9999
    text-decoration: none
    color: white
    letter-spacing: 1px
    font-size: 15px

    &:hover
      color: white

      .glyphicon
        color: #000

      .caret
        color: #E1E1E1

    .notification
      z-index: 1
      float: right
      border-radius: 4px
      right: 22px
      display: inline-block
      background-color: red
      height: 14px
      width: 13px
      position: relative
      top: 16px
      span.noti
        display: table
        position: relative
        color: white
        bottom: 26px
        font-weight: 800
        left: 3px
        font-family: quicksand
    .user-icon
      margin-right: 5px

    .arrow-up
      position: absolute
      right: 47px
      top: 15px

      &:before, &:after
        content: ""
        position: absolute
        width: 0
        height: 0
        border-style: solid
        border-color: transparent
        border-top: 0

      &:before
        bottom: 0px
        border-bottom-color: transparent
        border-width: 11px

      &:after
        bottom: -1px
        border-bottom-color: #C9C9C9
        border-width: 11px

    .user-dropdown-menu
      position: absolute
      display: none
      right: 0px
      top: 51px

      ul
        list-style-type: none
        padding-left: 0px
        margin-bottom: 0px
        border-top: 3px solid #C9C9C9
        border-bottom: 3px solid #C9C9C9
        padding: 0px 0px
        margin-top: 15px
        background: white
        min-width: 230px
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)

        li
          width: 100%
          height: auto

        a
          height: auto
          width: 100%
          padding: 10px 20px 10px 26px
          position: relative
          display: block
          color: $dark-blue
          font-weight: 300
          font-size: 12px
          text-align: left
          letter-spacing: 1px

          &:hover
            background: #F1F1F1
            color: #000

            &:before
              content: "\27a4"
              position: absolute
              top: 34px
              left: 2px
              color: #DDDDDD
              font-size: 16px
              line-height: 0px
    .current
      font-weight: bold
      color: white
      letter-spacing: 1px
      font-size: 15px
  .current-currencies
    width: 460px
    list-style-type: none
    padding-left: 0px
    margin-bottom: 0px
    border-top: 3px solid #c9c9c9
    border-bottom: 3px solid #c9c9c9
    padding: 0px 0px
    margin-top: 15px
    background: white
    min-width: 220px
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)

    .symbol
      color: #000
      font-size: 11px
      font-weight: bold
      direction: ltr
      margin-right: 10px

    .current-currency
      font-size: 10px
      a
        width: 100%
    .current-currency:hover, .current-currency.activate
      color: #000
      background-color: #dddddd
      a
        width: 100%

.browserFirefox.public-layout
  .menu-wrapper .user-dropdown-menu ul a:hover:before
    top: 18px
    font-size: 19pt
