body.public-layout
  .footer
    background: #242424
    position: relative
    min-width: $container-desktop
    padding-bottom: 30px

    .all-rights-reserved
      p
        color: #999999
        font-size: 12px
        letter-spacing: 1px
        padding-bottom: 6px
        margin-bottom: 0px

      a
        font-size: 10px

    .main-list
      display: inline-block
      ul
        list-style-type: none
        font-family: oxygen
        padding-left: 0px
        position: relative
        display: grid
        text-align: left
        margin: 0px 30px
      
      .float
        float: left

        li
          display: inline-table
          
          .head
            margin: 30px 20px 0px
            font-weight: 900
            color: white

          a
            color: #dddddd
            font-size: 12px
            letter-spacing: 1px
            display: block
            margin: 2px 20px

            &:hover
              color: gray

    .by-codus
      color: #999999
      font-size: 12px
      letter-spacing: 1px
      font-weight: 300

    .investors
      margin-top: 15px
      p
        color: #999999
      a
        img
          width: 80px
          height: auto

      #accelerator
        margin-left: -28%
        a
          img
            margin-left: 5px
      #investors
        a
          img
            width: 110px
            height: auto
            margin-left: 10px