body.public-layout
  .header
    .main-menu-mobile.navbar.navbar-default
      margin-bottom: 0
    .top-menu
      background: #efefef
      min-width: $container-desktop

      ul
        list-style-type: none
        text-align: center
        padding-left: 0px
        margin-bottom: 0px
        display: inline
        margin: 0 50px 0 40px

        li
          display: inline-block

          a
            color: #555555
            font-size: 12px
            letter-spacing: 1px
            display: block
            padding: 18px 8px 14px 8px

            &:hover
              color: rgb(201, 201, 201)

    .language-and-customer-service-links
      display: inline-block
      line-height: 15px
      a.customer-service-link
        color: #555555
        font-size: 12px
        letter-spacing: 1px
        margin-right: 20px
        &:hover
          color: rgb(201, 201, 201)
      a
        padding: 0px 5px !important
        line-height: 15px
        display: inline-block
        margin: 0px 4px
        height: 15px

      &.taller
        height: 148px

    .main-menu
      padding: 0px 0px
      /*border-bottom: 1px solid #CCCCCC*/
      /*background: white*/
      .container
        width: 94%
      .menu-grid
        position: relative
        .fb-like
          position: absolute
          top: -8px
          right: -40px
      .logo-wrapper
        position: relative
        padding: 10px 10px 10px 0px
        .logo a
          padding: 8px 0px
          display: block
      .hello
        letter-spacing: 1px
        font-size: 13px

      .menu-wrapper
        margin: 0px
        cursor: pointer
        z-index: 1040
        height: 66px
        &.user-menu
          &:hover
            background-color: rgba(221, 221, 221, 0.26)
          span
            &:hove
              color: black
        &.js-menu-my-profile-wrapper
          a.caret
            color: white
            &:hover
              color: #2a3127

          span.my-profile
            font-weight: bold
            color: #A7C655

      a.btn
        display: inline-block
        margin-right: 10px
        font-weight: 400

      .inline-links
        display: inline-block
        margin-top: 8px
        a
          display: inline-block
        ul
          display: inline-block
          line-height: 65px
          margin-bottom: 0px
          padding-left: 0px

          li
            display: inline-block
            padding: 0px
            height: 66px
            a
              text-decoration: none
              color: #2a3127
              letter-spacing: 1px
              padding: 0px 20px
              font-size: 15px
              
              &.user-icon
                color: white
                padding: 0px

            &:hover
              color: white
              background-color: rgba(221, 221, 221, 0.26)

              &:last-child
                background-color: transparent

            a.caret
              height: 0px
              padding: 0px
              color: white

      &.floating
        background: white
        position: fixed
        width: 100%
        z-index: 1000
        top: 0px
