.public-layout.public-home-controller
  button.more-hours
    margin-top: 6px
    color: black
    &.margin-negative
      margin-left: -15px

  .search_tab_rooms
    width: 16vw
    height: 3vh
    color: #fff
    background: rgba(124, 126, 126, 0.6)
    p
      font-family: "Oxygen"
      font-weight: bold
      font-size: 14px
      color: #fff
      text-align: center
      padding-bottom: 5px
      vertical-align: middle
    &:hover
      background: rgba(130, 175, 74, 0.65)

  .search_tab_airs
    width: 14vw !important
    height: 3vh
    margin: -1.57% 15.88%
    position: relative
    background: rgba(124, 126, 126, 0.6)
    p
      font-family: "Oxygen"
      font-weight: bold
      font-size: 14px
      color: #fff
      text-align: center
      margin-top: -2px
      vertical-align: middle
    &:hover
      background: rgba(130, 175, 74, 0.65)

  .search_tab_meeting_rooms
    width: 14vw !important
    height: 3vh
    margin: -1.57% 15.88%
    position: relative
    background: rgba(124, 126, 126, 0.6)
    p
      font-family: "Oxygen"
      font-weight: bold
      font-size: 14px
      color: #fff
      text-align: center
      margin-top: -2px
      vertical-align: middle
    &:hover
      background: rgba(130, 175, 74, 0.65)

  .active_tab
    background: rgba(130, 175, 74, 0.65) !important
    height: 5vh
    p
      font-size: 16px
      margin-top: 5px

  .search_tab_meeting_rooms.active_tab
    margin: -1.6% 15.9%

  .search_tab_airs.active_tab
    margin: -1.6% 15.9%

  .search_tab_rooms.active_tab
    p
      border: none !important

  .tab-content.tab-content-custom.any-time_meeting_room
    background: rgba(130, 175, 74, 0.65) !important

  .no-margin
    margin: 0px !important
  .search-box
    margin-top: 135px
    margin-bottom: 26px
    border-radius: 10px
    .any-time
      background: $any-time-room-transparent !important

    .tabbable
      .nav-tabs
        float: none
        border-bottom: 0px
        font-family: "Oxygen"
        font-weight: bold
        li
          margin-bottom: 0px
          width: 41%
          i
            position: absolute
            top: 8px
            left: 19px
            cursor: pointer
            color: white
          a
            border: 0px
            color: white
            border-radius: 0px
            padding: 5px 0px 6px 17px
            &:hover
              background-color: rgba(130, 175, 74, 0) !important
            &.night
              background: $night-room-transparent
            &.morning
              background: $day-room-transparent
            &.any-time
              background: $any-time-room-transparent
          &.active
            a
              color: white
              background-color: transparent
              .title
                position: relative
                bottom: 4px
      .tab-content-custom
        padding: 15px 25px 25px 25px
        background: $night-room-transparent
        color: white
        margin-bottom: 42px
    .tab-content-custom-mobile
      background-color: #e0e5e8
      padding: 10px
      border-bottom-right-radius: 10px
      border-bottom-left-radius: 10px
      .pack-size-hint
        .hint
          text-align: center
          margin: 0

    .checkin
      float: left
      width: 284px
      margin: 0px 0px 0px 8px
      label.title
        width: 100%

      .checkin-date
        width: 116px
        float: left
        padding: 0px

        input
          width: 100%
      .checkin-hour
        float: left
        width: 168px
        padding: 0px

        label
          float: left
          margin: 10px 5px
          &.at
            font-weight: 100

        button
          font-weight: bold
          margin: 8px 0 0 0
          font-size: 22px
          background-color: white
          color: #007EFF
          padding: 0px
          text-align: center
          float: left
          border: 0px
          display: block
          width: 24px
          height: 24px
          line-height: 24px
          border-radius: 50%
          text-decoration: none

          &:focus
            outline: 0

          span
            position: relative
            top: -1px

            &.minus
              top: -2px

        .hour
          margin: 3px 5px 0px 5px
          font-size: 23px
          float: left

    .checkout-hour
      float: left
      width: 187px
      padding: 0px
      margin: 0px 8px

      label
        font-weight: 100
        float: left
        margin: 10px 2px 0px 2px

        &.title-checkout
          font-weight: bold
          float: none
          display: block
          margin: 0px 0px 6px 0px
        &.hour
          font-weight: bold

      .hour
        float: left
        margin: 3px 5px 0px 5px
        font-size: 23px
        label
          font-weight: bold

    .people
      float: left
      width: 78px
      padding: 0px
      margin: 0px 8px

      label
        float: left
        margin: 10px

        &.title-people
          margin: 0px 0px 5px 3px

      button
        font-weight: bold
        margin: 8px 0 0 0
        font-size: 22px
        background-color: white
        color: #007EFF
        padding: 0px
        text-align: center
        float: left
        border: 0px
        display: block
        width: 24px
        height: 24px
        line-height: 24px
        border-radius: 50%
        text-decoration: none

        &:focus
          outline: 0

        span
          position: relative
          top: -1px

          &.minus
            top: -2px
      .hour
        label
          margin: 6px 5px 0px 5px
          font-size: 20px
          float: left

    .address
      display: inline-block
      float: left
      padding: 0px
      margin: 0px 0px 0px 8px

      input
        width: 100%

    .div-button-search
      width: 163px


    h1
      color: #2a3127
      font-weight: 300
      font-size: 30px
      letter-spacing: 2px
      margin-top: 0px
      margin-bottom: 15px

    .adress-input
      input
        font-weight: 300
        font-size: 13px
        height: 42px

    .js-checkin-time
      padding: 2px 13px 0px 13px !important

    input, select
      -webkit-appearance: none
      -moz-appearance: none
      -o-appearance: none
      background: white
      color: black
      padding: 2px 13px 0px 13px
      font-size: 13px
      font-weight: 300
      letter-spacing: 1px
      border: none
      height: 40px
      border-radius: 5px
      -moz-box-shadow:    none
      -webkit-box-shadow: none
      box-shadow:         none

    select
      padding: 2px 34px 0px 13px
      background-image: image-url('arrow-down.png')
      background-position: center right
      background-repeat: no-repeat

    .number-of-people-input-size
      width: 40%
      padding-left: 20px
    .up
      margin-bottom: 7px

    .display-table-cell
      vertical-align: bottom

    .checkin
      .col-xs-6
        &:first-child
          padding-right: 8px

        &:last-child
          padding-left: 8px

      input
        width: 100%
        padding-right: 5px
      select
        width: 100%

    .pack-size
      width: 185px
      padding-left: 0px
      a.btn
        padding: 10px 10px 10px 10px

        &.selected
          background: rgba(0, 0, 0, 0.25)
          color: white

        &:hover
          background: dark-gray
    .pack-size-with-more-hours
      width: 285px

    .pack-size.btn-group
      display: inline-block

      span.clock
        border-right: 1px solid #888
        cursor: default
        display: inline-block
        margin-bottom: 0
        padding: 9px 17px 9px 12px
        border-radius: 5px
        background: #666666
        border-bottom-right-radius: 0
        border-top-right-radius: 0
        float: left

        img
          width: 26px
          height: 24px

      a.btn
        background: #666666
        padding: 10px 31px
        color: #cccccc
        margin: 0px
        &.rooms
          padding: 10px 31px
        &.meeting-rooms
          padding: 10px 10.8px
        &.event-rooms
          padding: 10px 46px


    .pack-size-clock
      display: block
      margin-left: 5px

      .pack-size-text
        letter-spacing: 1px
        font-size: 14px
        padding-top: 12px
        line-height: 10px

    .search-button.btn, .search-button.btn.input
      margin: 0 auto
      margin-top: -5px
      font-weight: 400
      height: 45px
      font-size: 21px
      letter-spacing: 3px
      padding: 9px 16px
      color: #fff
      background: #3e6cad

    .tooltip-toggler
      display: inline-block
      margin-top: 20px

      .search-button.btn, .search-button.btn.input
        margin: 0 auto

        .tooltip.fade.in
          width: 210px
          top: 18px

.browserFirefox.public-layout
  .search-box
    h1
      margin-bottom: 11px

    select
      padding: 10px 34px 0px 13px

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important
