h3.header.smaller.lighter.green = t("views.executive_responsible.companies.address")


.form-group.string.required.address-fields
  .form-group.input.required.hotel_cities
    label.select.required.col-sm-3.control-label for="company_universe_cities"
      abbr title="obrigatório"
      | *
      => "#{t(:city)}"
    .col-sm-4
      = text_field_tag "citiesHash", company_universe.city_id.blank? ? '' : @cities_list.find {|e| /#{company_universe.city_id}/ =~ e}, id: "citiesHash", class: "string optional col-sm-12 form-control", placeholder: t("views.admin.hotels.search_city_name")

	.hidden
	  = f.input :city_id, :as => :hidden

= f.input :address