div ng-controller="CompanyUniversesFormCtrl"
  .form-group.boolean.optional.company_universe_company_universe_was_sent_mail
    label.col-sm-3.control-label
      | #{t("views.executive_responsible.companies.send_email")}
    .col-sm-1.size-2-percent
      input name="company_universe[was_sent_mail]" type="hidden" value="0"
      .checkbox
        label
          - if company_universe.was_sent_mail
            input class="ace boolean optional col-sm-12 form-control" ng-change="changeMailDate()" ng-model="checkboxMail" ng-checked="#{company_universe.was_sent_mail}" id="company_universe_was_sent_mail" name="company_universe[was_sent_mail]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" ng-change="changeMailDate()" ng-model="checkboxMail" ng-checked="#{company_universe.was_sent_mail}" id="company_universe_was_sent_mail" name="company_universe[was_sent_mail]" type="checkbox" value="1" 
          span.lbl
    .col-sm-1.size-31-percent
      = f.text_field :sent_mail_date, :'ng-disabled' => "disableMailDate", :'ng-model' => "mailDateValue", class: "string required col-sm-12 form-control input js-date-picker form-control js-mask-date ui-datepicker-div"

  .form-group.boolean.optional.company_universe_company_universe_we_talked
    label.col-sm-3.control-label
      | #{t("views.executive_responsible.companies.we_talked_phone")}
    .col-sm-1.size-2-percent
      input name="company_universe[we_talked_phone]" type="hidden" value="0"
      .checkbox
        label
          - if company_universe.we_talked_phone
            input class="ace boolean optional col-sm-12 form-control" ng-change="changeTalkedDate()" ng-model="checkboxTalked" ng-checked="#{company_universe.we_talked_phone}" id="company_universe_we_talked_phone" name="company_universe[we_talked_phone]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" ng-change="changeTalkedDate()" ng-model="checkboxTalked" ng-checked="#{company_universe.we_talked_phone}" id="company_universe_we_talked_phone" name="company_universe[we_talked_phone]" type="checkbox" value="1" 
          span.lbl
    .col-sm-1.size-31-percent
      = f.text_field :talked_phone_date, :'ng-disabled' => "disableTalkedDate", :'ng-model' => "talkedDateValue", class: "string required col-sm-12 form-control input js-date-picker form-control js-mask-date ui-datepicker-div"

  .form-group.boolean.optional.company_universe_was_face_meeting
    label.col-sm-3.control-label
      | #{t("views.executive_responsible.companies.we_already_face_to_face_meeting")}
    .col-sm-1.size-2-percent
      input name="company_universe[we_already_face_to_face_meeting]" type="hidden" value="0"
      .checkbox
        label
          - if company_universe.we_already_face_to_face_meeting
            input class="ace boolean optional col-sm-12 form-control" ng-change="changeFaceDate()" ng-model="checkboxFace" ng-checked="#{company_universe.we_already_face_to_face_meeting}" id="company_universe_we_already_face_to_face_meeting" name="company_universe[we_already_face_to_face_meeting]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" ng-change="changeFaceDate()" ng-model="checkboxFace" ng-checked="#{company_universe.we_already_face_to_face_meeting}" id="company_universe_we_already_face_to_face_meeting" name="company_universe[we_already_face_to_face_meeting]" type="checkbox" value="1" 
          span.lbl
    .col-sm-1.size-31-percent
      = f.text_field :already_face_to_face_meeting_date, :'ng-disabled' => "disableFaceDate", :'ng-model' => "faceDateValue", class: "string required col-sm-12 form-control input js-date-picker form-control js-mask-date ui-datepicker-div"

  .form-group.boolean.optional.follow_up_date
    label.col-sm-3.control-label
      | #{t("views.executive_responsible.companies.follow_up_date")}
    .col-sm-1.size-33-percent
      = f.text_field :follow_up_date, :'ng-model' => "modelFollowUpDate", class: "string required col-sm-12 form-control input js-date-picker form-control js-mask-date ui-datepicker-div", :'ng-value' => "valueFollowUpDate"
  
javascript:
    yojs.set('wasTalkedPhone' , "#{company_universe.we_talked_phone}")
    yojs.set('wasSentEmail' , "#{company_universe.was_sent_mail}")
    yojs.set('wasRegistered' , "#{company_universe.company_already_registered}")
    yojs.set('wasFaceMeeting' , "#{company_universe.we_already_face_to_face_meeting}")
    yojs.set('getSendEmailDate' , "#{company_universe.sent_mail_date}")
    yojs.set('getTalkedDate' , "#{company_universe.talked_phone_date}")
    yojs.set('getFaceDate' , "#{company_universe.already_face_to_face_meeting_date}")
    yojs.set('getRegisterDate' , "#{company_universe.company_registered_date}")
    yojs.set('getFollowUpDate' , "#{company_universe.follow_up_date}")