= render partial: 'admin/company_universes/util'

= panel_section(name: t("views.admin.bookings.filter"), class: 'filter widget-box') do
  = form_tag executive_responsible_company_universes_path, method: :get, class: 'form-horizontal' do
    .row
      .col-sm-6
        = label_tag :q, "#{t('views.executive_responsible.companies.filter.name')}", class: 'control-label no-left-padding'
        input.form-control name='by_name' value="#{params[:by_name] || ''}"

      .col-sm-6
        = label_tag :q, "#{t('views.executive_responsible.companies.filter.social_name')}", class: 'control-label no-left-padding'
        input.form-control name='by_social_name' value="#{params[:by_social_name] || ''}"

    .row
      .col-sm-4
        = label_tag :q, "#{t('views.executive_responsible.companies.filter.cnpj')}", class: 'control-label no-left-padding'
        input.form-control name='by_cnpj' value="#{params[:by_cnpj] || ''}"

      .col-sm-4
        = label_tag :q, "#{t('views.executive_responsible.companies.filter.city')}", class: 'control-label no-left-padding'
        input.form-control name='by_city' id='citiesHash' value="#{params[:by_city] || ''}"

      .col-sm-4
        = label_tag :q, "#{t('views.executive_responsible.companies.filter.region')}", class: 'control-label no-left-padding'
        input.form-control name='by_region' id='companyRegionsHash' value="#{params[:by_region] || ''}"

    br
    .row
      .col-sm-3
        = label_tag :q, '', class: 'control-label no-left-padding'
        / doing this to ensure that the checkbox will be aligned with the hotel select
        .checkbox.size-100-percent.pull-left.no-left-padding
          label
            = check_box_tag "by_we_already_face_to_face_meeting", true, params[:by_we_already_face_to_face_meeting].present?, class: "ace cpy-agency-creation-filter"
            span.lbl
              =< "#{t('views.executive_responsible.companies.filter.face_meeting')}"
      .col-sm-3
        = label_tag :q, '', class: 'control-label no-left-padding'
        .checkbox.size-100-percent.pull-left.no-left-padding
          label
            = check_box_tag "by_was_sent_mail", true, params[:by_was_sent_mail].present?, class: "ace js-uniq"
            span.lbl
              =< "#{t('views.executive_responsible.companies.filter.send_email')}"

      .col-sm-3
        = label_tag :q, '', class: 'control-label no-left-padding'
        .checkbox.size-100-percent.pull-left.no-left-padding
          label
            = check_box_tag "by_we_talked_phone", true, params[:by_we_talked_phone].present?, class: "ace js-uniq"
            span.lbl
              =< "#{t('views.executive_responsible.companies.filter.send_email')}"
    hr


    = submit_tag t("views.admin.bookings.filter"), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button margin-left-10px'
    = link_to t("views.admin.bookings.remove_filter"), executive_responsible_company_universes_path, class: 'btn btn-sm btn-danger pull-right size-20-percent remove-button cpy-remove-filter-button'

    .clearfix
