= simple_form_for [:executive_responsible, company_universe] do |f|

  = f.input :name
  = f.input :social_name
  = f.input :cnpj
  = f.input :qtd_employees, input_html: { class: 'js-mask-integer' }
  = f.input :setor
  = f.input :qtda_reservations_per_month, input_html: { class: 'js-mask-integer' }
  = f.input :note
  = f.input :executive_service
  
  .form-group.input.required.company_regions
    label.select.required.col-sm-3.control-label for="company_universe_regions"
      abbr title="obrigatório"
      |* #{t("views.executive_responsible.companies.region")}
    .col-sm-4
      = text_field_tag "companyRegionsHash", company_universe.company_region_id.blank? ? '' : @company_regions_list.find {|e| /#{company_universe.company_region_id}/ =~ e}, id: "companyRegionsHash", class: "string optional col-sm-12 form-control", placeholder: "Procure pelo nome da região"

  .hidden
    = f.input :company_region_id, :as => :hidden

  .form-group.boolean.optional.company_universe_has_travel_demand
    label.col-sm-3.control-label
      | #{t("views.executive_responsible.companies.travel_demand")}
    .col-sm-1.size-2-percent
      input name="company_universe[has_travel_demand]" type="hidden" value="0"
      .checkbox
        label
          - if company_universe.has_travel_demand
            input class="ace boolean optional col-sm-12 form-control"  ng-checked="#{company_universe.has_travel_demand}" id="company_universe_has_travel_demand" name="company_universe[has_travel_demand]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" ng-model="checkboxRegister" ng-checked="#{company_universe.has_travel_demand}" id="company_universe_has_travel_demand" name="company_universe[has_travel_demand]" type="checkbox" value="1" 
          span.lbl

  = render :partial => "executive_responsible/company_universes/additional_fields", locals: {f: f, company_universe: company_universe}

  = render :partial => "admin/company_universes/infoAgency_fields", locals: {f: f, company_universe: company_universe}

  = render :partial => "executive_responsible/company_universes/address_fields", locals: {f: f, company_universe: company_universe}

  = render :partial => "executive_responsible/company_universes/contact_fields", locals: {f: f, company_universe: company_universe}

  = render :partial => "executive_responsible/company_universes/destination_fields", locals: {f: f, company_universe: company_universe}

  = form_submit_section