div ng-controller="CompanyUniversesFormCtrl"
  .form-group.boolean.optional.company_universe_has_an_agency
      label.col-sm-3.control-label
        | #{t("views.company_universe.companies.has_an_agency")}
      .col-sm-1.size-2-percent
        input name="company_universe[has_an_agency]" type="hidden" value="0"
        .checkbox
          label
            input class="ace boolean optional col-sm-12 form-control" ng-change="changeHasAnAgency()" ng-model="modelHasAnAgency" ng-checked="#{company_universe.has_an_agency}" id="company_universe_has_an_agency" name="company_universe[has_an_agency]" type="checkbox" value="1"
            span.lbl

  .form-group.boolean.optional.company_universe_how_your_company_pays_this_agency
    label.col-sm-3.control-label
      | #{t("views.company_universe.companies.how_your_company_pays_this_agency")}
    .col-sm-1.size-31-percent
        = f.text_field :how_your_company_pays_this_agency, :'ng-disabled' => "disabledCompanyPays", :'ng-model' => "modelCompanyPays", class: "string required col-sm-12 form-control input", :'ng-value' => "modelCompanyPays"

  .form-group.boolean.optional.company_universe_company_has_contract_with_that_agency
    label.col-sm-3.control-label
      | #{t("views.company_universe.companies.company_has_contract_with_that_agency")}
    .col-sm-1.size-2-percent
      input name="company_universe[company_has_contract_with_that_agency]" type="hidden" value="0"
      .checkbox
        label
          input class="ace boolean optional col-sm-12 form-control" ng-change="changeHasContractAgency()" ng-disabled="disabledHasContractAgency" ng-model="modelHasContractAgency" ng-checked="isCheckedHasContractAgency" id="company_universe_company_has_contract_with_that_agency" name="company_universe[company_has_contract_with_that_agency]" type="checkbox" value="1"
          span.lbl

  .form-group.boolean.optional.company_universe_company_can_cancel_this_agreement
    label.col-sm-3.control-label
      | #{t("views.company_universe.companies.company_can_cancel_this_agreement")}
    .col-sm-1.size-2-percent
      input name="company_universe[company_can_cancel_this_agreement]" type="hidden" value="0"
      .checkbox
        label
          input class="ace boolean optional col-sm-12 form-control" ng-change="changeCompanyCanCancelAgreement()" ng-disabled="disabledCompanyCanCancelAgreement" ng-model="modelCompanyCanCancelAgreement" ng-checked="isCheckedCompanyCanCancelAgreement" id="company_universe_company_can_cancel_this_agreement" name="company_universe[company_can_cancel_this_agreement]" type="checkbox" value="1"
          span.lbl

  .form-group.boolean.optional.how_much_the_company_pays_to_cancel_this_agreement
    label.col-sm-3.control-label
      | #{t("views.company_universe.companies.how_much_the_company_pays_to_cancel_this_agreement")}
    .col-sm-1.size-33-percent
      = f.text_field :how_much_the_company_pays_to_cancel_this_agreement, :'ng-disabled' => "disableCompanyPaysToCancel", :'ng-model' => "modelCompanyPaysToCancel", input_html: { class: 'js-mask-money col-sm-12 form-control input '}

  .form-group.boolean.optional.date_of_expiry_of_the_agency_contract
    label.col-sm-3.control-label
      | #{t("views.company_universe.companies.date_of_expiry_of_the_agency_contract")}
    .col-sm-1.size-33-percent
      = f.text_field :date_of_expiry_of_the_agency_contract, :'ng-disabled' => "disableDateExpiryAgencyContract", :'ng-model' => "modelDateExpiryAgencyContract", class: "string required col-sm-12 form-control input js-date-picker form-control js-mask-date ui-datepicker-div", :'ng-value' => "valueDateExpiryAgencyContract"

javascript:
    yojs.set('hasAnAgency' , "#{company_universe.has_an_agency}")
    yojs.set('hasContractAgency' , "#{company_universe.company_has_contract_with_that_agency}")
    yojs.set('getMuchCompanyPaysToCancel' , "#{company_universe.how_much_the_company_pays_to_cancel_this_agreement}")
    yojs.set('getDateExpiryAgencyContract' , "#{company_universe.date_of_expiry_of_the_agency_contract}")
    yojs.set('getCompanyCanCancelThisAgreement' , "#{company_universe.company_can_cancel_this_agreement}")
    yojs.set('getCompanyPaysThisAgency' , "#{company_universe.how_your_company_pays_this_agency}")      