ruby:
  @cities_list = ActiveRecord::Base.connection.execute("SELECT cities.id, cities.name, states.initials, countries.iso_initials FROM cities INNER JOIN states ON states.id = cities.state_id INNER JOIN countries ON countries.id = states.country_id  ORDER BY cities.id ").collect{|c| "#{c['id']}, #{c['name']}, #{c['initials']}, #{c['iso_initials']}" }

ruby:
 @company_regions_list = ActiveRecord::Base.connection.execute("SELECT company_regions.id, company_regions.name, cities.name AS city FROM company_regions
	INNER JOIN cities ON cities.id = company_regions.city_id where company_regions.is_active = true
	ORDER BY company_regions.name ").collect{|c| "#{c['id']}, #{c['name']}, #{c['city']}" }

- unless @company_regions_list.blank?
    javascript:
      $( function() {
        var availableTags = #{@company_regions_list.to_json.html_safe};
        $( "#companyRegionsHash" ).autocomplete({
          minLength: 3,
          source: availableTags
        });
      } );