= header_section
 
= render partial: 'executive_responsible/company_universes/util', locals: {company_universe: @company_universe}

= render partial: 'executive_responsible/company_universes/form', locals: {company_universe: @company_universe}