= header_section title: t("views.executive_responsible.companies.title")
.row
    .col-sm-12
      = render partial: "/executive_responsible/company_universes/filter"

- if @companies.length == 0
  .alert.alert-info
    = t(:none_female) + ' ' + t('views.company_universe.companies.one').downcase + ' ' + t(:registered_female) + '.'
- else
  .cpy-pagination-links
    = pagination_links_for @companies
  .row
    .col-sm-12
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th.center
            | #{t("views.executive_responsible.companies.name")}
          th.center
            | #{t("views.executive_responsible.companies.number_of_employees")}
          th.center
            | #{t("views.executive_responsible.companies.city")}
          th.center
            | #{t("views.executive_responsible.companies.region")}
          th.center
            | #{t("views.executive_responsible.companies.send_email")}
          th.center
            | #{t("views.executive_responsible.companies.talk_tel")}
          th.center
            | #{t("views.executive_responsible.companies.face_meeting")}
          th.center
            | #{t("views.executive_responsible.companies.follow_up_date")}
          th.center
            | #{t("views.executive_responsible.companies.actions")}
      tbody
        - @companies.each do | company |
          tr.center
            td
              = company.name
            td
              = company.qtd_employees
            td
              = company.city.name
            td
              = company.company_region.name
            td
              = company.was_sent_mail ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
            td
              = company.we_talked_phone ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
            td
              = company.we_already_face_to_face_meeting ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
            td
              = company.follow_up_date != nil ? company.follow_up_date.strftime("%d/%m/%Y") : ''
            td.action-list.center
              = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, executive_responsible_company_universe_path(company.id), class: 'btn btn-xs btn-success'

              = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_executive_responsible_company_universe_path(company.id), class: 'btn btn-xs btn-info cpy-edit-agency-link'

= pagination_links_for @companies