= header_section

= panel_section(name: t("views.executive_responsible.companies.company_information")) do
  = show_for @company_universe do |u|

    .row
      .col-sm-6
        h3.center.header.lighter.green
          | #{t("views.executive_responsible.companies.general_information")}
    .row
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.name")}
          .content
            = @company_universe.name
        / = u.attribute :name
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.social_name")}
          .content
            = @company_universe.social_name
        / = u.attribute :social_name
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.cnpj")}
          .content
            = @company_universe.cnpj
        / = u.attribute :cnpj
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.address")}
          .content
            = @company_universe.address
        / = u.attribute :address

    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.number_of_employees")}
          .content
            = @company_universe.qtd_employees
        / = u.attribute :qtd_employees
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.setor")}
          .content
            = @company_universe.setor
        / = u.attribute :setor
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.reserves_per_month_number")}
          .content
            = @company_universe.qtda_reservations_per_month
        / = u.attribute :qtda_reservations_per_month
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.has_travel_demand")}
          .content
            = @company_universe.has_travel_demand
        / = u.attribute :has_travel_demand
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.is_active")}
          .content
            = @company_universe.is_active  
        / = u.attribute :is_active
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.note")}
          .content
            = @company_universe.note 
        / = u.attribute :note
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.has_an_agency")}
          .content
            = @company_universe.has_an_agency
        / = u.attribute :has_an_agency
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.how_your_company_pays_this_agency")}
          .content
            = @company_universe.how_your_company_pays_this_agency 
        / = u.attribute :how_your_company_pays_this_agency
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.company_has_contract_with_that_agency")}
          .content
            = @company_universe.company_has_contract_with_that_agency  
        / = u.attribute :company_has_contract_with_that_agency
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.company_can_cancel_this_agreement")}
          .content
            = @company_universe.company_can_cancel_this_agreement
        /= u.attribute :company_can_cancel_this_agreement
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.how_much_the_company_pays_to_cancel_this_agreement")}
          .content
            = @company_universe.how_much_the_company_pays_to_cancel_this_agreement
        / = u.attribute :how_much_the_company_pays_to_cancel_this_agreement
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.date_of_expiry_of_the_agency_contract")}
          .content
            = @company_universe.date_of_expiry_of_the_agency_contract
        / = u.attribute :date_of_expiry_of_the_agency_contract
        
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.executive_service")}
          .content
            = @company_universe.executive_service
        / = u.attribute :executive_service
    
      .col-sm-6
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.follow_up_date")}
          .content
            = @company_universe.follow_up_date
        / = u.attribute :follow_up_date

      .col-sm-6
        h3.center.header.lighter.green
          | #{t("views.executive_responsible.companies.address")}
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.city")}
          .content
            = @company_universe.city.name
        / = u.attribute :city_id do
        /  = @company_universe.city.name
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.region")}
          .content
            = @company_universe.company_region.name
        / = u.attribute :company_region_id do
        /  = @company_universe.company_region.name

      .col-sm-6
        h3.center.header.lighter.green
          | #{t("views.executive_responsible.companies.executive")}
        .attributes-wrapper
          .attribute-title
            | #{t("views.company_universe.executives.name")}
          .content
            = @company_universe.executive_responsible.name
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.executives.email")}
          .content
            = @company_universe.executive_responsible.email

      .col-sm-6
        h3.center.header.lighter.green
          | #{t("views.executive_responsible.companies.aditional")}
        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.email_is_send")}
          - if @company_universe.was_sent_mail
           .content
            = t("views.company_universe.menu.is_yes" )
            -if @company_universe.sent_mail_date != nil
             = " #{(@company_universe.sent_mail_date).strftime("%d/%m/%Y")}"
          - else
           .content
            = t("views.company_universe.menu.is_not" )

        .attributes-wrapper
          .attribute-title
            |  #{t("views.executive_responsible.companies.we_talked_phone")}
          - if @company_universe.we_talked_phone
           .content
            = t("views.company_universe.menu.is_yes" )
            -if @company_universe.talked_phone_date != nil
             = " #{(@company_universe.talked_phone_date).strftime("%d/%m/%Y")}"
          - else
           .content
            = t("views.company_universe.menu.is_not" )

        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.we_already_face_to_face_meeting")}
          - if @company_universe.we_already_face_to_face_meeting
           .content
            = t("views.company_universe.menu.is_yes" )
            -if @company_universe.already_face_to_face_meeting_date != nil
             = " #{(@company_universe.already_face_to_face_meeting_date).strftime("%d/%m/%Y")}"
          - else
           .content
            = t("views.company_universe.menu.is_not" )

        .attributes-wrapper
          .attribute-title
            | #{t("views.executive_responsible.companies.company_already_registered")}
          - if @company_universe.company_already_registered
           .content
            = t("views.company_universe.menu.is_yes" )
            -if @company_universe.company_registered_date != nil
             = " #{(@company_universe.company_registered_date).strftime("%d/%m/%Y")}"
          - else
           .content
            = t("views.company_universe.menu.is_not" )

      .col-sm-6
        h3.center.header.lighter.green
          | #{t("views.executive_responsible.companies.information_contact")}
        = u.attribute :name_first_contact
        = u.attribute :email_first_contact
        = u.attribute :number_first_contact
        -if @company_universe.name_second_contact != ''
         = u.attribute :name_second_contact
        -if @company_universe.email_second_contact != ''
         = u.attribute :email_second_contact
        -if @company_universe.number_second_contact != ''
         = u.attribute :number_second_contact
        -if @company_universe.name_other_contact != ''
         = u.attribute :name_other_contact
        -if @company_universe.email_other_contact != ''
         = u.attribute :email_other_contact
        -if @company_universe.number_other_contact != ''
         = u.attribute :number_other_contact

      .col-sm-6
        h3.center.header.lighter.green
          | #{t("views.executive_responsible.companies.top_destination")}
        -if @company_universe.destiny_first != ''
         .attributes-wrapper
           .attribute-title
            | #{t("views.executive_responsible.companies.city")}
           .content
             = @company_universe.destiny_first
        -if @company_universe.destiny_second != ''
         .attributes-wrapper
           .attribute-title
            | #{t("views.executive_responsible.companies.city")}
           .content
             = @company_universe.destiny_second
        -if @company_universe.destiny_other != ''
         .attributes-wrapper
           .attribute-title
            | #{t("views.executive_responsible.companies.city")}
           .content
             = @company_universe.destiny_other
    br
    .wizard-actions
      = link_to t("views.admin.agencies.back").html_safe, executive_responsible_company_universe_path, class: 'btn btn-prev'
      = link_to t("views.admin.agencies.edit").html_safe, edit_executive_responsible_company_universe_path(@company_universe.id), class: 'btn btn-info'

      - if @company_universe.is_active?
        = link_to t("views.admin.agencies.deactivate").html_safe, deactivate_executive_responsible_company_universes_path(@company_universe.id), class: 'btn btn-danger cpy-deactivate-agency-button', method: :post
      - else
        = link_to t("views.admin.agencies.activate").html_safe, activate_executive_responsible_company_universe_path(@company_universe.id), class: 'btn btn-warning cpy-activate-agency-button', method: :post
