div ng-controller="PhotosCtrl" ng-init="photos = #{affiliate.photos.to_json}; customLayout = #{@affiliate.custom_layout}"
  = shared_component("new_nested_photo_modal")

  = simple_form_for [:admin, affiliate] do |f|

    = f.input :name

    = f.input :login

    - if params[:action].in? [ 'edit', 'update']
      = f.input :email, readonly: true
    - else
      = f.input :email

    = f.input :sign_email

    = f.input :responsible_name

    = f.input :phone_number

    = f.input :cnpj

    = f.input :hotel_id, collection: Hotel.all.order(:name), include_blank: true

    = f.input :comission_value, as: :string, input_html: { class: 'js-mask-money', value: ("%.2f" % affiliate.comission_value.to_f).to_s }

    = f.input :api_webservice_test_token

    = f.input :observations

    = f.input :hotel_chain_id, collection: HotelChain.all.order(:name)

    - if current_admin_manager.country == "BR"
      = f.input :country, collection: Country.all.order("name_#{I18n.locale}").pluck("name_#{I18n.locale}", :iso_initials)
    - else
      = f.input :country, collection: Country.where(iso_initials: current_admin_manager.country). pluck("name_#{I18n.locale}", :iso_initials), include_blank: false


    .form-group.boolean.optional.custom_layout
      label.boolean.optional.col-sm-3.control-label for="custom_layout"
        | Layout customizado
      .col-sm-4
        label ng-click='customLayout = !customLayout;'
          = check_box_tag "affiliate[custom_layout]", true, false, "ng-checked" => "customLayout", class: 'ace boolean optional col-sm-12 form-control'
          span.lbl ng-click='customLayout = !customLayout;'

    .layout-custom ng-show='customLayout'
      h3.header.smaller.lighter.green
        | Layout

      .form-group.boolean.optional.affiliate_tab_room_accepts
        label.col-sm-3.control-label
          = t('activerecord.attributes.affiliate.tab_room_accepts')
        input name="affiliate[tab_room_accepts][]" type="hidden" value="0"
        
        - Affiliate::ACCEPTED_TABROOM.each do | tab, id |
          .col-sm-1.size-2-percent
            .checkbox
              label
                - if affiliate.tab_room_accepts.include?(id.to_s)
                  input class="ace boolean optional col-sm-12 form-control" id="affiliate_tab_room_accepts_#{id}" name="affiliate[tab_room_accepts][]" type="checkbox" value="#{id}" checked='checked'
                - else
                  input class="ace boolean optional col-sm-12 form-control" id="affiliate_tab_room_accepts_#{id}" name="affiliate[tab_room_accepts][]" type="checkbox" value="#{id}"
                span.lbl
          label.boolean.optional.col-sm-1.size-14-percent.tabroom-check-box.control-label for="affiliate_tab_room_accepts_#{id}"
            = t(tab.to_sym)


      = f.input :header_color,  as: :minicolors, input_html: {data: { minicolors: {theme: :bootstrap, position: :right}}}

      = f.input :header_text_color, as: :minicolors, input_html: {data: { minicolors: {theme: :bootstrap, position: :right}}}

      = f.input :search_box_color, as: :minicolors, input_html: {data: { minicolors: {theme: :bootstrap, position: :right}}}

      = f.input :search_box_text_color, as: :minicolors, input_html: {data: { minicolors: {theme: :bootstrap, position: :right}}}

      = f.input :search_box_button_color, as: :minicolors, input_html: {data: { minicolors: {theme: :bootstrap, position: :right}}}

      = f.input :search_box_button_text_color, as: :minicolors, input_html: {data: { minicolors: {theme: :bootstrap, position: :right}}}

      = f.input :footer_color, as: :minicolors, input_html: {data: { minicolors: {theme: :bootstrap, position: :right}}}

      = f.input :footer_text_color, as: :minicolors, input_html: {data: { minicolors: {theme: :bootstrap, position: :right}}}

      = shared_component("nested_photo_form", {f: f})

    = form_submit_section
