= header_section title: t("views.admin.affiliates.title")

- if @affiliates.length == 0
  .alert.alert-info
    = t(:none) + ' ' + t('affiliate.one').downcase + ' ' + t(:registered) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | #{t("views.admin.affiliates.id")}
        th.center
          | #{t("views.admin.affiliates.name")}
        th.center
          | #{t("views.admin.affiliates.email")}
        th.center
          | #{t("views.admin.affiliates.active")}
        th.center
          | #{t("views.admin.affiliates.api_iframe")}
        th.center
          | #{t("views.admin.affiliates.api_ws")}
        th.center
          | #{t("views.admin.affiliates.actions")}
    tbody
      - @affiliates.each do | affiliate |
        tr.center
          td
            = affiliate.id
          td
            = affiliate.name
          td
            = affiliate.email
          td
            = affiliate.is_active ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe

          td
            - if affiliate.api_iframe_on
              = !affiliate.token.nil? ? "<i class='icon-ok bigger-100'></i>".html_safe : t("views.admin.affiliates.waiting_for_token")
            - else
              | <i class="icon-remove bigger-100"></i>
          td
            - if affiliate.api_webservice_on
              - if affiliate.api_webservice_test_token.nil?
                | #{t("views.admin.affiliates.waiting_for_api_webservice_test_token")}
              - else
                = affiliate.webservice_token.nil? ? t("views.admin.affiliates.waiting_for_confirmation") : "<i class='icon-ok bigger-100'></i>".html_safe
            - else
              | <i class="icon-remove bigger-100"></i>
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_affiliate_path(affiliate.id), class: 'btn btn-xs btn-success'

            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_affiliate_path(affiliate.id), class: 'btn btn-xs btn-info cpy-edit-affiliate-link'
            | &nbsp;&nbsp;
            - if affiliate.is_active?
              = link_to "<i class='icon-remove bigger-100'></i>".html_safe, deactivate_admin_affiliate_path(affiliate.id), class: 'btn btn-xs btn-danger cpy-deactivate-affiliate-button', data: { confirm: t("views.admin.affiliates.deactivate_affiliate") }, method: :post
            - else
              = link_to "<i class='icon-check bigger-100'></i>".html_safe, activate_admin_affiliate_path(affiliate.id), class: 'btn btn-xs btn-warning cpy-activate-affiliate-button', data: { confirm: t("views.admin.affiliates.activate_affiliate") }, method: :post
