= header_section

= panel_section(name: t("views.admin.affiliates.affiliate_information")) do
  = show_for @affiliate do |u|
    = u.attribute :name
    = u.attribute :login
    - if @affiliate.hotel_id
      .attributes-wrapper.affiliate_hotel_id
        .attribute-title Hotel vinculaddo
        .content = @affiliate.hotel.name
    = u.attribute :email
    = u.attribute :sign_email
    = u.attribute :phone_number
    = u.attribute :cnpj
    = u.attribute :comission_value, value: number_to_currency(@affiliate.comission_value)
    = u.attribute :observations
    = u.attribute :api_iframe_on
    = u.attribute :token
    = u.attribute :api_webservice_on
    = u.attribute :api_webservice_test_token
    = u.attribute :webservice_token
    = u.attribute :is_active do
      = @affiliate.is_active ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
    = u.attribute :custom_layout do
      = @affiliate.custom_layout ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
    - if @affiliate.custom_layout
      = u.attribute :tab_room_accepts do
        - @affiliate.tab_room_accepts.delete("0")
        = @affiliate.tab_room_accepts.map{|tab| t(Affiliate::ACCEPTED_TABROOM_REVERSED[tab.to_i])}.join(" #{t(:and)} ")
  hr

  .wizard-actions
    = link_to t("views.admin.affiliates.back").html_safe, admin_affiliate_path, class: 'btn btn-prev'
    = link_to t("views.admin.affiliates.edit").html_safe, edit_admin_affiliate_path(@affiliate.id), class: 'btn btn-info'

    - if @affiliate.is_active?
      = link_to t("views.admin.affiliates.deactivate").html_safe, deactivate_admin_affiliate_path(@affiliate.id), class: 'btn btn-danger cpy-deactivate-affiliate-button', method: :post
    - else
      = link_to t("views.admin.affiliates.activate").html_safe, activate_admin_affiliate_path(@affiliate.id), class: 'btn btn-warning cpy-activate-affiliate-button', method: :post


    - if @affiliate.token.blank?
      = link_to t("views.admin.affiliates.create_token").html_safe, generate_token_admin_affiliate_path(@affiliate.id), class: 'btn btn-success cpy-activate-affiliate-button', method: :post
    - else
      = link_to "Visualizar", "#{public_root_url}affiliate?token=#{@affiliate.token}", class: "btn btn-warning", target: "_blank"
      = link_to t("views.admin.affiliates.recreate_token").html_safe, generate_token_admin_affiliate_path(@affiliate.id), class: 'btn btn-success cpy-deactivate-affiliate-button', method: :post

    - if @affiliate.webservice_token.blank?
      = link_to t("views.admin.affiliates.create_ws_token").html_safe, generate_webservice_token_admin_affiliate_path(@affiliate.id), class: 'btn btn-success cpy-activate-affiliate-button', method: :post
    - else
      = link_to t("views.admin.affiliates.recreate_ws_token").html_safe, generate_webservice_token_admin_affiliate_path(@affiliate.id), class: 'btn btn-success cpy-deactivate-affiliate-button', method: :post
