@media (max-width: 768px)
  .public-affiliate-layout.public-affiliate-hotel-controller
    
    .search-form-header
      background-color: rgba(245, 245, 245, 0.9)
      border-radius: 10px 10px 0px 0px
      padding: 10px
    .pack-size
      width: 100%
    .pack-size-row
      .display-table
        margin:
          left: auto
          right: auto
      .pack-size.btn-group
        span.clock
          padding: 9px 3px
        a.btn
          padding: 10px 18px
          &.rooms
            width: 21%
            padding: 10px 13px
          &.meeting-rooms
            width: 10%
            padding: 10px 19px 10px 3px
          &.event-rooms
            width: 27.4%
            padding: 10px 22px

    .checkin-hour
      margin: 6px 4px 0px 4px
      float: none
      display: inline-block
      width: 100%
      label
        float: none
      .hour-and-buttons
        display: inline-block
        button
          float: none
        label
          float: none
    .checkout-hour
      width: 100%
      float: none
      display: inline-block
      label
        float: none
      label.title-checkout
        margin: 6px 4px 0px 4px
      .at-and-hour
        float: none
        display: inline-block
        label
          float: none
    .people
      float: none
      display: inline-block
      margin: 6px 4px 0px 4px
      width: 67px
    .address
      margin-top: 5px

    .checkin
      input
        padding: 7px
      #by_checkin_hour
        padding: 3px 0px 0px 0px
    

@media (max-width:1179px) and (min-width:768px)
  .public-affiliate-layout.public-affiliate-hotel-controller
    .checkout-hour
      width: 110px
      label
        float: none
      .at-and-hour
        display: inline-block
        float: none

@media (max-width:1097px) and (min-width:768px)
  .public-affiliate-layout.public-affiliate-hotel-controller
    .checkin
      width: 136px
      .checkin-date
        width: 100%
      .checkin-hour
        width: 136px
        label.at
          margin: 10px 5px 10px 0px
