.row
  - if session[:last_path] && (((session[:last_path].split('/').include?('reservas')) && (/novo/ === session[:last_path] || /nuevo/ === session[:last_path])) || ((session[:last_path].split('/').include?('bookings')) && (/new/ === session[:last_path])))
    .col-sm-12
      = render partial: "/public/sessions/new/booking_flux_login_page"
  - else
    .col-sm-12.with-padding-bottom
      = render partial: "/public/sessions/new/login_page"

- if Rails.env.production?
  |

    <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/integration/stable/rd-js-integration.min.js"></script>
    <script type="text/javascript">
      var meus_campos = {
        &apos;public_user_email&apos;: &apos;email&apos;
      };
      options = { fieldMapping: meus_campos };
      RdIntegration.integrate(&apos;779cf0ae4b4eb49d66889c3d1d760179&apos;, &apos;Cadastro - Site&apos;, options);
    </script>
