body.public-affiliate-layout
  .footer
    background: #242424
    position: relative
    min-width: $container-desktop
    padding-bottom: 30px

    .all-rights-reserved
      p
        color: #999999
        font-size: 12px
        letter-spacing: 1px
        padding-bottom: 6px
        margin-bottom: 0px

      a
        font-size: 10px

    ul
      list-style-type: none
      text-align: center
      padding-left: 0px
      margin-bottom: 0px
      display: inline-block

      li
        display: inline-block

        a
          color: #dddddd
          font-size: 12px
          letter-spacing: 1px
          display: block
          padding: 15px 6px 13px 6px

          &:hover
            color: gray

    .by-codus
      color: #999999
      font-size: 12px
      letter-spacing: 1px
      font-weight: 300
