.public-affiliate-layout.public-affiliate-home-controller
  .no-margin
    margin: 0px !important
  .search-box
    margin-top: 26px
    margin-bottom: 26px
    border-radius: 10px

    h4.title-search-box
      padding-left: 16px
      color: #303030

    .tabbable
      span.radio-button-describe
        padding-left: 26px
      .nav-tabs
        border-bottom: 0px
        li
          margin-bottom: 0px
          a
            background: #666666
            border: 0px
            color: white
            border-radius: 0px
            padding: 3px 0px 3px 0px

          &:first-child
            a
              border-radius: 10px 0px 0px 0px
              border-right: 1px solid rgba(245, 245, 245, 0.9)

          &:last-child
            a
              border-radius: 0px 10px 0px 0px
              border-left: 1px solid rgba(245, 245, 245, 0.9)

          &.active
            a
              color: #555
              background: rgba(245, 245, 245, 0.9)
              padding: 14px 0px 3px 0px
              border-radius: 10px 10px 0px 0px
      .tab-content-custom
        padding: 25px
        border-radius: 0px 0px 10px 10px
        background: rgba(245, 245, 245, 0.9)
      .radio-inline
        span
          position: relative
          top: -4px

    h1
      color: #2a3127
      font-weight: 300
      font-size: 30px
      letter-spacing: 2px
      margin-top: 0px
      margin-bottom: 15px

    .adress-input
      input
        background: #FFFFFF
        font-weight: 300
        font-size: 13px

    label.title
      margin-bottom: 5px
      font-weight: 700
      
    .align-center
      text-align: center

    input[type="text"], select
      -webkit-appearance: none
      -moz-appearance: none
      -o-appearance: none
      background: #FFFFFF
      color: black
      padding: 2px 13px 0px 13px
      font-size: 14px
      font-weight: 300
      letter-spacing: 1px
      height: 34px
      border-radius: 5px
      -moz-box-shadow:    none
      -webkit-box-shadow: none
      box-shadow:         none
      border: 1px solid #ccc

      &:focus
        border-color: #66afe9
        outline: 0
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)

    select
      padding: 2px 34px 0px 13px
      background-image: image-url('arrow-down.png')
      background-position: center right
      background-repeat: no-repeat

    .number-of-people-input-size
      width: 40%
      padding-left: 20px
    .up
      margin-bottom: 7px

    .display-table-cell
      vertical-align: bottom

    .checkin
      .col-xs-6
        &:first-child
          padding-right: 8px

        &:last-child
          padding-left: 8px

      input
        width: 100%
        padding-right: 5px
        border-radius: 5px !important
      select
        width: 100%

    .pack-size-row
      margin-top: 0px

      @media (max-width: 768px) 
        .nav-justified
          li 
            display: table-cell
            width: 1%
        
      

      .pack-size.btn-group
        display: inline-block
        width: 100%

        span.clock
          border: 1px solid #ccc
          cursor: default
          display: inline-block
          margin-bottom: 0
          padding: 4px 17px 4px 12px
          border-radius: 5px
          background: #FFFFFF
          border-bottom-right-radius: 0
          border-top-right-radius: 0
          float: left

          img
            width: 26px
            height: 24px

        a.btn
          border-radius: 0px
          border: 1px solid #ccc
          border-right: 0px
          border-left: 0px
          background: #FFFFFF
          padding: 6px 0px
          color: #aaaaaa
          margin: 0px
          width: 100%

          &.rooms
            padding: 6px 0px

          &.meeting-rooms
            padding: 6px 0px

          &.selected
            background: $light-gray
            color: black

          &:hover
            background: $gray
            color: white

        a.pack-12, a.pack-8
          border-top-right-radius: 5px
          border-bottom-right-radius: 5px
          border-right: 1px solid #ccc

    .pack-size-clock
      display: block
      margin-left: 5px

      .pack-size-text
        letter-spacing: 1px
        font-size: 14px
        padding-top: 12px
        line-height: 10px

    .search-button.btn, .search-button.btn.input
      margin: 0 auto
      margin-top: 10px
      font-weight: 400
      height: 32px
      font-size: 14px
      letter-spacing: 0px
      padding: 6px 20px
      background: $gray
      color: white
      display: inline-block

    .tooltip-toggler
      display: inline-block
      margin-top: 10px

      .search-button.btn, .search-button.btn.input
        margin: 0 auto
        background: $gray
        color: white

        .tooltip.fade.in
          width: 210px
          top: 18px

.browserFirefox.public-layout
  .search-box
    h1
      margin-bottom: 11px

    select
      padding: 10px 34px 0px 13px

@media (max-width: 991px)
  .public-affiliate-layout.public-affiliate-home-controller
    .search-box
      .people-box
        text-align: center