= panel_section(name: t("views.executive_responsible.dashboard.dashboard_sales")) do
  - @remuneration = CompanyRemuneration.first
  = show_for current_executive_responsible_executive_responsible do |u|
    
    - if @goal == nil
      .row
        .col-sm-12
          h3.center.header.lighter
            = t("views.executive_responsible.dashboard.goals_not_found")
    - elsif @goal.goal_accomplished
        .row
          .col-sm-12
            h3.center.header.lighter
              = t("views.executive_responsible.dashboard.goals_current_month_complete")
    - else
      .row
        .col-sm-6
          h3.center.header.lighter.blue
            = t("views.executive_responsible.dashboard.daily_goals")
          .attributes-wrapper
            .attribute-title
              = @count_daily
            .content
               = t("views.executive_responsible.dashboard.contacts_to_do")

        .col-sm-6
          h3.center.header.lighter.blue
            = t("views.executive_responsible.dashboard.daily_goals_in_progress")
          .attributes-wrapper
            .attribute-title
              = @count_dones_daily
            .content
              = t("views.executive_responsible.dashboard.contacts_made")

      .row
        .col-sm-6
          h3.center.header.lighter.blue
            = t("views.executive_responsible.dashboard.weekly_goals")
          .attributes-wrapper
            .attribute-title
              = @count_meeting_weeks
            .content
              = t("views.executive_responsible.dashboard.meetings_to_do")
          .attributes-wrapper
            .attribute-title
              = @count_new_companies_weeks
            .content
              = t("views.executive_responsible.dashboard.new_companies")
        .col-sm-6
          h3.center.header.lighter.blue
            = t("views.executive_responsible.dashboard.goals_weekly_in_progress")
          .attributes-wrapper
            .attribute-title
              = @count_dones_meeting_weeks
            .content
              = t("views.executive_responsible.dashboard.meetings_held")
          .attributes-wrapper
            .attribute-title
              = @count_dones_company_weeks
            .content
              = t("views.executive_responsible.dashboard.companies_actually_registered")

      br
      .row        
        .col-sm-6
          h3.center.header.lighter.blue
            = t("views.executive_responsible.dashboard.month_goals")
          .attributes-wrapper
            .attribute-title
              = @goal.amount_contacts
            .content
              = t("views.executive_responsible.dashboard.contacts_to_do")
          .attributes-wrapper
            .attribute-title
              = @goal.amount_meeting
            .content
              = t("views.executive_responsible.dashboard.meetings_to_do")
          .attributes-wrapper
            .attribute-title
              = @goal.amount_new_companies
            .content
              = t("views.executive_responsible.dashboard.new_companies")
          .attributes-wrapper
            .attribute-title
              = @goal.amount_companies_actives
            .content
              = t("views.executive_responsible.dashboard.active_companies_with_reservations")
          .attributes-wrapper
            .attribute-title
              = @goal.amount_reservation
            .content
              = t("views.executive_responsible.dashboard.reservations")
        .col-sm-6
          h3.center.header.lighter.blue
            = t("views.executive_responsible.dashboard.goals_month_in_progress")
          .attributes-wrapper
            .test
            .attribute-title data-toggle="collapse" data-target="#companies" class="accordion-toggle collapsed"
              = @goal.amount_contacts_done
            .content
              = t("views.executive_responsible.dashboard.contacts_made")
          .attributes-wrapper
            .attribute-title
              = @goal.amount_meeting_done
            .content
              = t("views.executive_responsible.dashboard.meetings_held")
          .attributes-wrapper
            .attribute-title
              = @goal.amount_new_companies_done
            .content
              = t("views.executive_responsible.dashboard.companies_actually_registered")
          .attributes-wrapper
            .attribute-title
              = @goal.amount_companies_actives_done
            .content
              = t("views.executive_responsible.dashboard.companies_made_bookings")
          .attributes-wrapper
            .attribute-title
              = @goal.amount_reservation_done
            .content
              = t("views.executive_responsible.dashboard.bookings_in_all_companies")
      br
      /.row        
        .col-sm-6
          h3.center.header.lighter.blue
            = t("views.executive_responsible.dashboard.potential_remuneration")
          .attributes-wrapper
            .attribute-title
              = number_to_currency(@goal.amount_new_companies * @remuneration.remuneration_by_new_company)
            .content
             = t("views.executive_responsible.dashboard.remuneration_new_companies_month")
          .attributes-wrapper
            .attribute-title
               = number_to_currency(@goal.amount_reservation * @remuneration.remuneration_by_reservation)
            .content
             = t("views.executive_responsible.dashboard.variable_remuneration_monthly_reservations")
             
        .col-sm-6
          h3.center.header.lighter.blue
            = t("views.executive_responsible.dashboard.variable_remuneration")
          .attributes-wrapper
            .attribute-title
              = number_to_currency(@goal.amount_new_companies_done * @remuneration.remuneration_by_new_company)
            .content
              = t("views.executive_responsible.dashboard.variable_remuneration_new_companies_month")
          .attributes-wrapper
            .attribute-title
              = number_to_currency(@goal.amount_reservation_done * @remuneration.remuneration_by_reservation)
            .content
              = t("views.executive_responsible.dashboard.variable_remuneration_companies_month")
           