.row
  .col-xs-12.border-box.with-padding
    h1.page-title About us
    .divider

    .row
      .col-sm-12
        p.explanation
          |HotelQuando.com is the first and only global platform for online hotel reservations that allows the user to book a room for 3, 6, 9 or 12 hours at a fair price. You also decide at what time you would like to enter the hotel.
    br

    / h3
    /   |"HotelQuando.com: a melhor e única plataforma global de reservas online de hotéis para todos os tipos de necessidades"
    /   br
    /   span.pull-right.citation
    /     |- Criador do HotelQuando sobre HotelQuando


    .row
      .col-sm-4.benefits
        .col-sm-12.text-center
          .glyphicon.glyphicon-home
        .col-sm-12
          p.benefits-title
            | <strong>For those who travel</strong>
          ul.benefits-description
            li
              |Make your own agenda

            li
              |Pay only what you need
              p


      .col-sm-4.benefits
        .col-sm-12.text-center
          .glyphicon.glyphicon-briefcase
        .col-sm-12
          p.benefits-title
            | <strong>For bussiness</strong>

          ul.benefits-description
            li
              |Reduce 30-40% accommodation expenses

      .col-sm-4.benefits
        .col-sm-12.text-center
          .glyphicon.glyphicon-book
        .col-sm-12
          p.benefits-title
            | <strong>For the hotels</strong>

          ul.benefits-description
            li
              |Get the most of each room

    br
    .row
      .col-sm-12.hidden-xs.hidden-sm
        .display-table.actions
          .display-table-cell
            = link_to "Contact us about your hotel",  public_affiliate_get_be_our_partner_path, :class => 'btn green'
          .display-table-cell
            .or = t(:or)
          .display-table-cell
            = link_to "Sign up", new_public_affiliate_user_registration_path, :class => 'btn green'

      .col-sm-12.hidden-md.hidden-lg
        .actions
          .col-md-4.signup-or-contact
            = link_to "Contact us about your hotel",  public_affiliate_get_be_our_partner_path, :class => 'btn green'
          .col-md-4.signup-or-contact
            .or = t(:or)
          .col-md-4.signup-or-contact
            = link_to "Sign up", new_public_affiliate_user_registration_path, :class => 'btn green'


= render partial: "/public_affiliate/home/when_booking/en"
