.row
  .col-xs-12.border-box.with-padding
    h1.page-title Quem somos
    .divider

    / h2
    /   | Uma maneira inovadora de

    / h3
    /   |"HotelQuando.com: a melhor e única plataforma global de reservas online de hotéis para todos os tipos de necessidades"
    /   br
    /   span.pull-right.citation
    /     |- Criador do HotelQuando sobre HotelQuando

    .row
      .col-sm-12
        p.explanation
          | HotelQuando.com é a primeira e única plataforma global de reservas online de hotéis que permite ao usuário reservar seu quarto por 3, 6, 9 ou 12 horas e por um preço justo. O usuário também decide a que horas gostaria de entrar no hotel.
    br

    .row
      .col-sm-4.benefits
        .col-sm-12.text-center
          .glyphicon.glyphicon-home
        .col-sm-12
          p.benefits-title
            | <strong>Para aqueles que viajam</strong>
          ul.benefits-description
            li
              |Decida seus horários

            li
              |Pague apenas o necessário

      .col-sm-4.benefits
        .col-sm-12.text-center
          .glyphicon.glyphicon-briefcase
        .col-sm-12
          p.benefits-title
            | <strong>Para as empresas</strong>

          ul.benefits-description
            li
              |Reduza de 30 a 40% as despesas de hospedagem

      .col-sm-4.benefits
        .col-sm-12.text-center
          .glyphicon.glyphicon-book
        .col-sm-12
          p.benefits-title
            | <strong>Para os hotéis</strong>

          ul.benefits-description
            li
              | Rentabilize ao máximo cada quarto




    br
    .row
      .col-sm-12.hidden-xs.hidden-sm
        .display-table.actions
          .display-table-cell
            = link_to "Contate-nos sobre seu hotel",  public_affiliate_get_be_our_partner_path, :class => 'btn green'
          .display-table-cell
            .or = t(:or)
          .display-table-cell
            = link_to "Cadastre-se", new_public_affiliate_user_registration_path, :class => 'btn green'

      .col-sm-12.hidden-md.hidden-lg
        .actions
          .col-md-4.signup-or-contact
            = link_to "Contate-nos sobre seu hotel",  public_affiliate_get_be_our_partner_path, :class => 'btn green'
          .col-md-4.signup-or-contact
            .or = t(:or)
          .col-md-4.signup-or-contact
            = link_to "Cadastre-se", new_public_affiliate_user_registration_path, :class => 'btn green'



= render partial: "/public_affiliate/home/when_booking/pt_br"
