= render partial: 'admin/company_universes/util'

= panel_section(name: t("views.admin.bookings.filter"), class: 'filter widget-box') do
  = form_tag admin_goals_executive_responsibles_path, method: :get, class: 'form-horizontal' do
    .row
      .col-sm-6
        = label_tag :q, "E-mail do Executivo", class: 'control-label no-left-padding'
        input.form-control name='by_executive_responsible' id="executiveHash" value="#{params[:by_executive_responsible] || ''}"
    br

    hr

    = submit_tag t("views.admin.bookings.filter"), class: 'btn btn-sm btn-success pull-right size-20-percent cpy-filter-button margin-left-10px'
    = link_to t("views.admin.bookings.remove_filter"), admin_goals_executive_responsibles_path, class: 'btn btn-sm btn-danger pull-right size-20-percent remove-button cpy-remove-filter-button'
    = submit_tag t("views.admin.bookings.export_data"), class: 'btn btn-sm btn-default js-export-booking-data size-20-percent', style: 'margin-bottom: 20px;'
    
    .clearfix
