.row
    .col-sm-12
      = render partial: "/admin/goals_executive_responsibles/filter"

- if @goals_executives.length == 0
  .alert.alert-info
    = t(:none_female) + ' ' + t('views.company_universe.regions.one').downcase + ' ' + t(:registered_female) + '.'
- else
  .cpy-pagination-links
    = pagination_links_for @goals_executives
  .row
    .col-sm-12
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th.center
            | Nome executivo
          th.center
            | E-mail executivo
          th.center
            | Metas referente ao mês
          th.center
            | Metas Expiradas
          th.center
            | Metas Concluídas
         
          th.center
            | #{t("views.company_universe.regions.actions")}
      tbody
        - @goals_executives.each do | goal |
          tr.center
            td 
              = goal.executive_responsible.name
            td
              = goal.executive_responsible.email
            td
              = goal.created_at.strftime("%m/%Y")
            td
              = goal.goal_expired ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
            td
              = goal.goal_accomplished ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe

            td.action-list.center

              = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_goals_executive_responsible_path(goal.id), class: 'btn btn-xs btn-success'
                
    = pagination_links_for @goals_executives