= panel_section do
  = show_for @goals_executives do |u|

    = u.attribute :amount_contacts
    = u.attribute :amount_meeting
    = u.attribute :amount_new_companies
    = u.attribute :amount_companies_actives
    = u.attribute :amount_reservation

    = u.attribute :amount_contacts_done
    = u.attribute :amount_meeting_done
    = u.attribute :amount_new_companies_done
    = u.attribute :amount_companies_actives_done
    = u.attribute :amount_reservation_done

    = u.attribute :completed_contacts
    = u.attribute :completed_meeting
    = u.attribute :completed_new_companies
    = u.attribute :completed_companies_actives
    = u.attribute :completed_reservation

    = u.attribute :goal_accomplished
    = u.attribute :goal_expired

    = u.attribute :goal_accomplished_date
    = u.attribute :goal_date_expired

  .wizard-actions
    = link_to t("views.admin.agencies.back").html_safe, admin_goals_executive_responsibles_path, class: 'btn btn-prev'