= simple_form_for(client, as: :client, url: url) do | f |
  = f.input :name
  = f.input :responsible_name
  = f.input :login
  = f.input :email
  = f.input :cnpj
  = f.input :phone_number

  .form-group.boolean.optional.payments
    label.col-sm-3.control-label
      | Cobrar markup?
    .col-sm-1.size-2-percent
      input name="client[markup]" type="hidden" value="0"
      .checkbox
        label
          - if client.markup
            input class="ace boolean optional col-sm-12 form-control" id="markup" name="client[markup]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="markup" name="client[markup]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.control-label.payments-check-box for="markup"

  = f.input :markup_value, as: :string, input_html: { class: 'js-mask-money', value: ("%.2f" % client.markup_value.to_f).to_s }
  /.form-group.boolean.optional.payments
    label.col-sm-3.control-label
      | Pagamentos aceitos:
    .col-sm-1.size-2-percent
      input name="client[accept_confirmed_and_invoiced]" type="hidden" value="0"
      .checkbox
        label
          - if client.accept_confirmed_and_invoiced
            input class="ace boolean optional col-sm-12 form-control" id="client_accept_confirmed_and_invoiced" name="client[accept_confirmed_and_invoiced]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="client_accept_confirmed_and_invoiced" name="client[accept_confirmed_and_invoiced]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.control-label.payments-check-box for="client_accept_confirmed_and_invoiced"
      = t 'invoiced'

    .col-sm-1.size-2-percent
      input name="client[accept_confirmed_without_card]" type="hidden" value="0"
      .checkbox
        label
          - if client.accept_confirmed_without_card
            input class="ace boolean optional col-sm-12 form-control" id="client_accept_confirmed_without_card" name="client[accept_confirmed_without_card]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" id="client_accept_confirmed_without_card" name="client[accept_confirmed_without_card]" type="checkbox" value="1"
          span.lbl
    label.boolean.optional.col-sm-1.size-14-percent.control-label.payments-check-box for="client_accept_confirmed_without_card"
      = t 'pay_at_the_hotel'

  h3.header.lighter.smaller.green
    | Endereço
  = f.input :country, as: :string
  = f.input :state
  = f.input :city
  = f.input :street
  = f.input :number, as: :string
  = f.input :complement

  = form_submit_section