= header_section(title: 'Listando Clientes')

- if @clients.length == 0
  .alert.alert-info
    = t(:none) + ' ' + t(:client).downcase + ' ' + t(:registered) + '.'
- else
  = pagination_links_for @clients
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          = t(:name)
        th.center
          = t(:country)
        th.center
          = t(:state)
        th.center
          = t(:city)
        th.center
          = t(:actions)
    tbody
      - @clients.each do | client |
        tr
          td.center.size-60-percent
            = client.name
          td.center
            = client.country.blank? ? '-' : client.country
          td.center
            = client.state.blank? ? '-' : client.state
          td.center
            = client.city.blank? ? '-' : client.city
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, agency_client_path(client.id), class: 'btn btn-xs btn-success', title: 'Visualizar detalhes'
            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_agency_client_path(client.id), class: 'btn btn-xs btn-info cpy-edit-client-link'
            = link_to "<i class='icon-key bigger-100'></i>".html_safe, authenticate_as_client_agency_client_path(id: client.id), method: :post, class: 'btn btn-xs btn-info cpy-log-in-as-client', title: 'Acessar como este cliente', target: '_blank'
