= header_section(title: 'Visualizando Cliente', right_links: (link_to 'Acessar como este cliente',authenticate_as_client_agency_client_path, method: :post, class: 'btn btn-sm btn-success cpy-log-in-as-client pull-right', target: '_blank' ))


= panel_section do
  = show_for @client do |u|
    = u.attribute :name
    = u.attribute :login
    = u.attribute :responsible_name
    = u.attribute :email
    = u.attribute :cnpj
    = u.attribute :phone_number
    = u.attribute :markup
    - if @client.markup
      = u.attribute :markup_value, value: number_to_currency(@client.markup_value)

    = u.attribute :country
    = u.attribute :state
    = u.attribute :city

    - unless @client.street.blank?
      .attributes-wrapper.client_address
        .attribute-title
          | Endereço

        .content
          - if (@client.complement) && (@client.complement != '')
            = "#{@client.street}, #{@client.number}, #{@client.complement}".gsub(', ,', ',')
          - else
            = "#{@client.street}, #{@client.number}"

  h3.header.lighter.smaller.green
    | Funcionários deste cliente

  table.table.table-striped.table-bordered.table-hover.cpy-room-list
    thead
      tr
        th.center
          | Nome
        th.center
          | E-mail
        th.center
          | Acessar sistema
    tbody
      - @client.employees.each do | employee |
        tr.center
          td
            = employee.name
          td
            = employee.email
          td
            = link_to "<i class='icon-key bigger-100'></i>".html_safe, authenticate_as_client_employee_agency_client_path(id: @client.id, employee_id: employee.id), method: :post, class: 'btn btn-xs btn-info cpy-log-in-as-client-employee', title: 'Acessar como este funcionário', target: '_blank'


  = show_panel_buttons_section
