= content_tag(:div, class: 'page-header') do
  = content_tag(:h1) do
    span.text = t("views.admin.states.listing_cities_states")
    = link_to t("views.admin.states.add_city"), new_admin_city_path, method: :get, class: 'btn btn-sm btn-success pull-right cpy-add-link', style: 'margin-left: 10px'
    = link_to t("views.admin.states.add_state"), new_admin_state_path, method: :get, class: 'btn btn-sm btn-success pull-right cpy-add-link'

table.table.table-striped.table-bordered.table-hover
  thead
    tr
      th.center.size-6-percent
        | #{t("views.admin.states.initials")}
      th.center.size-64-percent
        | #{t("views.admin.states.state")}
      th.center.size-30-percent
        | #{t("views.admin.states.country")}
  tbody
    - @states.each do |state|
      tr.center
        td
          = state.initials
        td
          = state.name
        td
          = state.country.name_pt_br

= pagination_links_for @states
