h1.page-title.green-title ¿Quiénes Somos?
p.explanation.with-margin
  | HotelQuando.com es la primera y única plataforma global de reservas online de hoteles que permite que el usuario reserve su habitación por 3,6,9 ó 12 horas y por un precio justo.
