h1.page-title.green-title Reservando 12 horas para pasar la noche
.with-margin
  p.explanation
    | ¿Ha notado que en la mayoría de los viajes de negocios usted llega al hotel por la noche y sale al otro día muy temprano?
  p.explanation
    | No hay necesidad de pagar un día entero, si 12 horas es lo justo que necesita para sólo pasar la noche.
  p.explanation
    | Usted define su horario de entrada entre las 18:00 y 23:00 y nosotros le mostramos el posible horario de salida, mire:
.example-bar.text-center.example-night ng-controller="PublicBusinessTripsSearchExampleNightController"
  .text-center.inline-block
    .checkin.text-center
      label.title = "#{t('search_box.checkin')}"

      .checkin-hour.text-center.col.xs-12
        label.at = "#{t('search_box.at')}"
        - array_hours = []
        - 24.times do | i |
          - array_hours << i
        .hour-and-buttons
          button.minus-checkin-hour ng-click='changeCheckinHour("minus")' type="button"
            span.minus
              | -
          .hour style='margin:2px 1px 1px 1px'
            - if I18n.locale != :pt_br
              label.no-margin.ng-cloak ng-init="set_checkin_checkout_hour()"
                | {{checkinHourDate | date: 'ha'}}
            - else
              label.no-margin ng-bind="checkinHour"
                | 0
              label.no-margin
                | :00
          button.plus-checkin-hour ng-click='changeCheckinHour("plus")' type="button"
            span
              | +
        .hidden
          = select_tag 'by_checkin_hour', options_for_select(array_hours.collect { | hour | ["#{hour}:00", hour]}), class: 'js-checkin-time size-50-percent', 'ng-model' => 'checkinHour'

    .checkout-hour.text-center.col-xs-12
      label.title-checkout = "#{t('search_box.checkout')}"
      .at-and-hour
        label = "#{t('search_box.at')}"
        .hour
          - if I18n.locale != :pt_br
            label.no-margin.ng-cloak
              | {{checkoutHourDate | date: 'ha'}}
          - else
            label.no-margin ng-bind="checkoutHour"
              | 3
            label.no-margin
              | :00
      label.next-day-custom = "#{t('search_box.of_the_next_day')}"
.with-margin
