table.table.table-striped.table-hover
  thead
    tr
      th.text-center
        | Tipo de quarto
      th.text-center
        | Banco de horas
      th.text-center
        | Quantidade de noites de 12h
      th.text-center
        | Com café da manhã?
      th.text-center
        | Preço
      th.text-center
  tbody
    .ajax-loader
      = image_tag 'ajax-loader.gif'
    - @booking_packs.each do | booking_pack |
      tr.center
        td.text-center.size-14-percent
          = booking_pack.room_type.name_es
        td.text-center.size-14-percent
          = booking_pack.bank_of_hours
        td.text-center.size-24-percent
          = booking_pack.number_of_pack_12h
        td.text-center.size-14-percent
          = booking_pack.breakfast_included? ? "<i class='glyphicon glyphicon-ok bigger-100'></i>".html_safe : "<i class='glyphicon glyphicon-remove bigger-100'></i>".html_safe
        td.text-center.size-14-percent
          = number_to_currency(booking_pack.price)
        td.center.size-20-percent
          = link_to "#{t(:hiring_request)}", '#', class: 'btn btn-primary mini hire-now-btn', "data-toggle" => "modal", "data-id" => "#{booking_pack.id}"
