h1.page-title.green-title ¿Cuando reservar sólo unas HORAS de hotel?
.icons.text-center
  = image_tag('sleep-icon.png', style: '')
  = image_tag('pc-icon.png', style: 'margin-top: 0; top: 0')
  = image_tag('shower-icon.png', style: '')
  = image_tag('fly-icon.png', style: 'margin-top: 0; top: 0')
  = image_tag('travel-icon.png', style: '')
  
.when-booking-describe
  .col-sm-6
    h4.green-title Por una noche:
    p.explanation
      | ¿Por qué pagar un día entero si sólo necesita 12 horas para pasar la noche?
  .col-sm-6
    h4.green-title Por el día:
    p.explanation
      | Para esperar un vuelo o un compromiso, para bañarse o trabajar en una habitación cómoda y tranquila con acceso a internet.