h1.page-title.green-title ¿Por qué utilizar esta herramienta en viajes de negocios?
.with-margin
  .row
    .col-sm-6
      h4 Reducción de Gastos
      p.explanation
        | Reducimos en promedio el 25% de los gastos de alojamiento de una noche
    .col-sm-6
      h4 Más ofertas de hoteles
      p.explanation
        | Más opciones de hoteles que se ajustan a su presupuesto
  .row
    .col-sm-6
      h4 Precio justo y Flexibilidad
      p.explanation
        | Decida sus horarios y pague solamente lo necesario
    .col-sm-6
      h4 Simplicidad, Gestión y Control
      p.explanation
        | Usted escoge a los usuarios que pueden utilizar la herramienta y ellos pueden hacer la reserva de manera fácil y rápida. A la vez, usted tiene el control de cuantas horas estan siendo utilizadas.
  .row
    .col-sm-6
      h4 Soporte
      p.explanation
        | Si usted necesita cualquier ayuda con sus horas de hotel, estamos disponibles las 24 horas del día, 7 días por semana.
    .col-sm-6
      h4 Y más...
      p.explanation
        | Podemos hacer entrenamientos del servicio para: viajeros, gerentes y / o agencias de viajes de negocios
