.row
  .col-xs-12.border-box.with-padding
    h1.page-title Quando reservar?
    .divider
    
    .row
      .col-sm-6
        .col-sm-12.text-center
          .glyphicon.glyphicon-plane.big-icon
        br
        br
        .col-sm-12
          b
            |Em viagem
          ul
            li
              |Para esperar por um voo ou compromisso

            li
              |Para passar apenas 1 noite

            li
              |Para entrar mais cedo ou sair mais tarde do hotel

            li
              |Para tomar um banho


      .col-sm-6
        .col-sm-12.text-center
          .glyphicon.glyphicon-home.big-icon
        .col-sm-12
          b
            |Na própria cidade
          ul
            li
              |Para passar a noite fora de casa

            li
              |Jantar fora + Dormir fora

            li
              |Para tomar um banho quando estiver longe de casa

            li
              |Aproveitar o SPA, piscina, academia


    .row
      .col-sm-12.text-center
        .box-foot
          span.colored
            span.gray> Horas de
            span.green> Hotel
            span.blue> Quando
            span.gray você quiser! 