= header_section(title: 'Listando Cartões de Crédito')

- if @credit_cards.length == 0
  .alert.alert-info
    = t(:none) + ' ' + CreditCard.model_name.human.downcase + ' ' + t(:registered) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | Nome do titular
        th.center
          | Últimos quatro dígitos
        th.center
          | Vencimento
        th.center
          | Ações
    tbody
      - @credit_cards.each do | credit_card |
        tr.center
          td
            = credit_card.billing_name
          td
            = credit_card.last_four_digits
          td
            = "#{t("date.month_names")[credit_card.expiration_month]}/#{credit_card.expiration_year}"
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, company_credit_card_path(credit_card.id), class: 'btn btn-xs btn-success'
