= header_section
div ng-controller='CompanyCreditCardCtrl'
  = simple_form_for [:company, @credit_card] do |f|

    - @credit_card.billing_name ||= current_company_company.responsible_name

    = f.input :billing_name


    - if @credit_card.errors.has_key?(:owner_cpf) && @credit_card.errors.has_key?(:owner_passport)
      = f.input :owner_cpf, input_html: { class: 'js-mask-cpf js-credit-card-owner-cpf' }, error: false, wrapper_html: {class: 'has-error'}, hint: 'insira pelo menos uma identificação válida', hint_html: { class: 'col-sm-5' }
      = f.input :owner_passport, error: false, input_html: { class: 'js-credit-card-owner-passport' }, wrapper_html: {class: 'has-error'}
    - else
      = f.input :owner_cpf, input_html: { class: 'js-mask-cpf js-credit-card-owner-cpf' }
      = f.input :owner_passport, input_html: { class: 'js-credit-card-owner-passport' }

    = f.input :billing_phone, input_html: { class: "#{I18n.locale == :pt_br ? 'js-mask-mobile-phone-with-country' : ''}", 'ng-init' => 'countryChanged()' }

    = f.input :temporary_number, input_html: { placeholder: "**** **** **** ****", class: 'js-mask-credit-card-number' }, required: true

    - if @credit_card.errors.has_key?(:expiration_month) || @credit_card.errors.has_key?(:expiration_year)
      - credit_card_wrapper_html = { class: 'has-error' }
      - credit_card_hint = 'a combinação não é válida'
    = f.input :expiration, wrapper_html: credit_card_wrapper_html, hint: credit_card_hint, required: true, hint_html: { class: 'col-sm-5' } do
      .row
        .col-sm-7
          = select_month(@credit_card.expiration_month, {field_name: 'expiration_month', prefix: 'credit_card', prompt: t(:month)}, {class: 'select form-control col-sm-12'})

        .col-sm-5
          = select_year(@credit_card.expiration_year, {field_name: 'expiration_year', prefix: 'credit_card', start_year: Date.today.year, end_year: (Date.today.year + 10), prompt: t(:year)}, {class: 'select form-control col-sm-12'})

    h3.header.lighter.smaller.green
      | Endereço do titular

    = f.input :billing_country, collection: Country.all.order("name_#{I18n.locale}").pluck("name_#{I18n.locale}", :iso_initials), input_html: {'ng-change' => 'countryChanged()', 'ng-model' => 'creditCardCountry'}, prompt: 'Selecione o país'

    div ng-show='stateVisible'
      - @credit_card.billing_state ||= 'SP'
      = f.input :billing_state, collection: (State.all.order(:initials).pluck(:name, :initials)), prompt: false, input_html: { class: 'js-credit-card-billing-state'}

    = f.input :billing_city

    = f.input :billing_address1, label: 'Endereço'

    = f.input :billing_zipcode, input_html: {class: 'js-mask-integer', maxlength: '9'}

    = form_submit_section

    javascript:
      yojs.set('creditCardCountry', "#{(@credit_card.billing_country || 'BR')}")
