= header_section
- credit_card_country = Country.find_by_iso_initials(@credit_card.billing_country)
= panel_section(name: 'Informações do cartão de crédito') do
  = show_for @credit_card do |u|

    = u.attribute :billing_name
    = u.attribute :last_four_digits
    = u.attribute :expiration do
      = "#{t("date.month_names")[@credit_card.expiration_month]}/#{@credit_card.expiration_year}"
    = u.attribute :owner_cpf
    = u.attribute :owner_passport
    = u.attribute :billing_address1
    = u.attribute :billing_country do
      = credit_card_country.try(:name_pt_br) || '-'
    - if @credit_card.billing_country == 'BR'
      = u.attribute :billing_state
    = u.attribute :billing_city
    = u.attribute :billing_zipcode
    = u.attribute :billing_phone

    = show_panel_buttons_section
