.booking-hotel-and-room-type-description
  .row
    .description-title.room-type-description-title
      .col-xs-2.col-md-1
        = image_tag 'room-type-info-gray.jpg', class: 'description-icon'
      .col-xs-10.col-md-11
        h5
          = "#{t(:description_of_the_room)} #{@offer.room_type.send('name_' + I18n.locale.to_s)}".mb_chars.upcase
  .row
    .col-xs-12
      .room-type-description
        = @offer.room_type.send("description_#{I18n.locale}")

  .row
    .description-title.bed-configuration-title
      .col-xs-2.col-md-1
        = image_tag 'bed-gray.png', class: 'description-icon'
      .col-xs-10.col-md-11
        h5
          = t(:beds_configuration).mb_chars.upcase
  .row
    .col-xs-12
      ul.bed-configuration
        - if @offer.room_type.single_bed_quantity == 1
          li
            = "1 #{t(:single_bed)}"
        - elsif @offer.room_type.single_bed_quantity > 1
          li
            = "#{@offer.room_type.single_bed_quantity} #{t(:single_beds)}"
        - if @offer.room_type.double_bed_quantity == 1
          li
            = "1 #{t(:double_bed)}"
        - elsif @offer.room_type.double_bed_quantity > 1
          li
            = "#{@offer.room_type.double_bed_quantity} #{t(:double_beds)}"
