.booking-hotel-and-room-type-description
  .row
    .col-xs-12
      h2.hotel-name
        = @offer.hotel.name

      .hotel-description
        .hotel-stars
          = render_stars_from_hotel(@offer.hotel)
        i.glyphicon.glyphicon-map-marker
        =< @offer.hotel.address

