ruby:
  mbm_config = MemberGetMemberConfig.last
.image-and-describe.text-center
  .share-happy
    = t(:shared_happiness_is_double_happiness)

.container
  .row
    .col-sm-12.flash-message.js-flash-message
       = display_flash_message

  - if @promotional_code.present?
    .row
      .col-xs-12.border-box.member-get-member-box
        .row

          .row
            .share-code-box
              |Olá,
              p ¡Su amigo #{@user.name} le indicó usted para que gane #{number_to_currency(@promotional_code.discount, precision: 0)} en su primera reserva!

              p ¿Conoces HotelQuando? Somos la primera y única plataforma global de reserva online de hoteles que permite al usuario reservar su habitación por 3, 6, 9 o 12 horas y a un precio justo. El usuario también decide a qué hora le gustaría ingresar al hotel.

              p Para que puedas hacer prueba de esta nueva experiencia, tu amigo #{@user.name} te ha enviado un código promocional para reservar hoteles con un descuento de #{number_to_currency(@promotional_code.discount, precision: 0)}. Tómese unas horas y disfrútelo!
          .row.text-center
            .promotional-code-box
              span = @user.refer_code 


          .row
            .text-center.div-button
              = link_to(t('views.referred_friend_mailer.send_refer_code_to_friend.search_hotels'), 'http://www.hotelquando.com' , target: "blank", class: 'search-hotels')
            /.row
              .col-md-6
                .input-group.input-group-lg.group-refer
                  span.input-group-addon.fa.fa-child id="sizing-addon1"
                  input.form-control type="text" placeholder="#{t(:friend_name)}" aria-describedby="sizing-addon1"
              .col-md-6
                .input-group.input-group-lg.group-refer
                  span.input-group-addon id="sizing-addon1" @
                  input.form-control type="text" placeholder="#{t(:friend_email)}" aria-describedby="sizing-addon1"


        span
          - mbm_config = MemberGetMemberConfig.last
          - wday_names = []
          - wday_array_number = mbm_config.avaiable_for_days_of_the_week.split(",")
          - monday = "0"
          - if wday_array_number.include?(monday)
            - wday_array_number.delete_at(0)
            - wday_array_number << monday
          - wday_array_number.each do |day|
            - if (1..5).include?(day.to_i)
              - if wday_array_number.count > 1 && day.eql?(wday_array_number.last)
                - wday_names << "#{t(:and)} #{t(Date::DAYNAMES[day.to_i].downcase)}-feira"
              - elsif wday_array_number.count > 2 && day != wday_array_number.last && day != wday_array_number.first
                - wday_names << ", #{t(Date::DAYNAMES[day.to_i].downcase)}-feira"
              - else
                - wday_names << "#{t(Date::DAYNAMES[day.to_i].downcase)}-feira"
            - else
              - if wday_array_number.count > 1 && day.eql?(wday_array_number.last)
                - wday_names << "#{t(:and)} #{t(Date::DAYNAMES[day.to_i].downcase)}"
              - elsif wday_array_number.count > 2 && day != wday_array_number.last && day != wday_array_number.first
                - wday_names << ", #{t(Date::DAYNAMES[day.to_i].downcase)}"
              - else
                - wday_names << "#{t(Date::DAYNAMES[day.to_i].downcase)}"
          | *#{t(:promotional_code_available_for_days_of_the_week, weekday: wday_names.join(" ").downcase)}


  - else
    .row
      redirect_to public_root_path    