ruby:
  mbm_config = MemberGetMemberConfig.last
.image-and-describe.text-center
  .share-happy
    = t(:shared_happiness_is_double_happiness)

.container
  .row
    .col-sm-12.flash-message.js-flash-message
       = display_flash_message
  
  - if @promotional_code.present?

    .row
      .col-xs-12.border-box.member-get-member-box
        .row

          .row
            .share-code-box
              |Olá, 

              p Seu amigo #{@user.name} indicou você para ganhar #{number_to_currency(@promotional_code.discount, precision: 0)} em sua primeira reserva!
              
              p Você conhece a HotelQuando? Somos a primeira e única plataforma global de reservas online de hotéis que permite ao usuário reservar seu quarto por 3, 6, 9 ou 12 horas e por um preço justo. O usuário também decide a que horas gostaria de entrar no hotel.

              p Para você experimentar essa nova experiencia, seu amigo #{@user.name} te enviou um código promotional para você reservar hotéis com #{number_to_currency(@promotional_code.discount, precision: 0)} de desconto!Tire algumas horas para você e aproveite!
          .row.text-center
            .promotional-code-box
              span = @user.refer_code


          .row
            .text-center.div-button
              = link_to(t('views.referred_friend_mailer.send_refer_code_to_friend.search_hotels'), 'http://www.hotelquando.com' ,target: "blank",  class: 'search-hotels')
            /.row
              .col-md-6
                .input-group.input-group-lg.group-refer
                  span.input-group-addon.fa.fa-child id="sizing-addon1"
                  input.form-control type="text" placeholder="#{t(:friend_name)}" aria-describedby="sizing-addon1"
              .col-md-6
                .input-group.input-group-lg.group-refer
                  span.input-group-addon id="sizing-addon1" @
                  input.form-control type="text" placeholder="#{t(:friend_email)}" aria-describedby="sizing-addon1"


        span
          - mbm_config = MemberGetMemberConfig.last
          - wday_names = []
          - wday_array_number = mbm_config.avaiable_for_days_of_the_week.split(",")
          - monday = "0"
          - if wday_array_number.include?(monday)
            - wday_array_number.delete_at(0)
            - wday_array_number << monday
          - wday_array_number.each do |day|
            - if (1..5).include?(day.to_i)
              - if wday_array_number.count > 1 && day.eql?(wday_array_number.last)
                - wday_names << "#{t(:and)} #{t(Date::DAYNAMES[day.to_i].downcase)}-feira"
              - elsif wday_array_number.count > 2 && day != wday_array_number.last && day != wday_array_number.first
                - wday_names << ", #{t(Date::DAYNAMES[day.to_i].downcase)}-feira"
              - else
                - wday_names << "#{t(Date::DAYNAMES[day.to_i].downcase)}-feira"
            - else
              - if wday_array_number.count > 1 && day.eql?(wday_array_number.last)
                - wday_names << "#{t(:and)} #{t(Date::DAYNAMES[day.to_i].downcase)}"
              - elsif wday_array_number.count > 2 && day != wday_array_number.last && day != wday_array_number.first
                - wday_names << ", #{t(Date::DAYNAMES[day.to_i].downcase)}"
              - else
                - wday_names << "#{t(Date::DAYNAMES[day.to_i].downcase)}"
          | *#{t(:promotional_code_available_for_days_of_the_week, weekday: wday_names.join(" ").downcase)}


  - else
    redirect_to public_root_path
      