div ng-controller="PhotosCtrl" ng-init="photos = #{business_room.photos.to_json}"
  = shared_component("new_nested_photo_modal")
  = simple_form_for [:hotel, business_room] do |f|
    = multilanguage_attribute_field_for(:name, f)

    = multilanguage_attribute_field_for(:description, f)
    = f.hint t('business_room_fields.description_hint'), class: 'col-sm-offset-3'

    = f.input :maximum_capacity, collection: (1..300), prompt: false
    = f.hint t('business_room_fields.maximum_capacity_hint'), class: 'col-sm-offset-3'

    = shared_component("nested_photo_form", {f: f})

    = form_submit_section

