= header_section title: t('views.hotel.business_rooms.listing_room', type: t(@type.pluralize.underscore))
- if @business_rooms.length == 0
  .alert.alert-info
    - if @type.eql?('MeetingRoom')
      = t(:none_female) + ' ' + t(@type.underscore).downcase + ' ' + t(:registered_female) + '.'
    - else
      = t(:none) + ' ' + t(@type.underscore).downcase + ' ' + t(:registered) + '.'
- else
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          = t(:name)

        th.center
          = t(:actions)
    tbody
      - @business_rooms.each do |business_room|
        tr
          td.center.size-60-percent
            = business_room.name_pt_br
          td.action-list.center
            = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, sti_business_path(@type,business_room), class: 'btn btn-xs btn-success'

            = link_to "<i class='icon-edit bigger-100'></i>".html_safe, sti_business_path(@type, business_room,:edit), class: 'btn btn-xs btn-info cpy-edit-button'
