= header_section title: t('views.hotel.business_rooms.viewing_room', type: t(@type.underscore))

= panel_section do
  = show_for @business_room do |u|
    = multilanguage_attribute_show_for(:name, u)
    = multilanguage_attribute_show_for(:description, u)
    = u.attribute :maximum_capacity

  = shared_component("photo_list_show", {photos: @business_room.photos})
  = show_panel_buttons_section
