= form_tag public_booking_pack_contracting_company_path, method: :post, class: 'contracting-form' do
  = hidden_field_tag 'booking_pack_id'
  .row
    .col-sm-12
      = label_tag :q, t('booking_pack_contracting_companies.name'), class: 'control-label no-left-padding'
      input.form-control name='name'
  .row
    .col-sm-12
      = label_tag :q, 'Cnpj', class: 'control-label no-left-padding'
      input.form-control.js-mask-cnpj name='cnpj'
  .row
    .col-sm-12
      = label_tag :q, t('booking_pack_contracting_companies.responsible_name'), class: 'control-label no-left-padding'
      input.form-control name='responsible_name'
  .row
    .col-sm-12
      = label_tag :q, t('booking_pack_contracting_companies.role'), class: 'control-label no-left-padding'
      input.form-control name='role'
  .row
    .col-sm-12
      = label_tag :q, t('booking_pack_contracting_companies.phone_number'), class: 'control-label no-left-padding'
      input.form-control.js-mask-mobile-phone-with-country name='phone_number'
  .row
    .col-sm-12
      = label_tag :q, 'Email', class: 'control-label no-left-padding'
      input.form-control name='email'
  .row
  	.col-sm-12
    	= submit_tag t(:hiring_request), class: 'btn btn-sm btn-success green', style: "margin-left:auto;margin-right:auto;margin-top:15px;background: "