.image-and-describe.text-center
  .title
    | HOTELQUANDO CORPORATE
  .describe
    | Reducimos los gastos de hotel de su empresa y ayudamos a que las largas esperas y los imprevistos sean más tranquilos

.container
  .row
    .col-sm-12.flash-message.js-flash-message
       = display_flash_message
  .row
    .col-xs-12.border-box.with-padding
      .row
        = render partial: "public/home/business_trips/es/about_us"
      .divider
      .row
        = render partial: "public/home/business_trips/es/when_booking"
      / .divider
      / .row
      /   = render partial: "public/home/business_trips/es/booking_for_night"
      / .divider
      / .row
      /   = render partial: "public/home/business_trips/es/booking_for_day"
      / .divider
      / .row
      /   = render partial: "public/home/business_trips/es/video_hq"
      .divider
      .row.why-hire
        = render partial: "public/home/business_trips/es/why_hire"
      - if !current_public_user.present?
        .divider
        .row
          = render partial: "public/home/business_trips/es/agency_and_company_form"

.modal.fade.js-hire-now-modal aria-labelledby="myModalLabel" tabindex="-1" role="dialog" aria-hidden="true"
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        button type="button" class="close" data-dismiss="modal" aria-hidden="true" ×
        h1
          | Solicitar contratação
      .modal-body
        .message-form
        = render partial: "public/home/business_trips/form"

.modal.fade.js-frequently-asked-questions-modal aria-labelledby="myModalLabel" tabindex="-1" role="dialog" aria-hidden="true"
  = render partial: "public/home/business_trips/es/frequently_asked_questions_modal"

.modal.fade.js-contract-modal aria-labelledby="myModalLabel" tabindex="-1" role="dialog" aria-hidden="true"
  = render partial: "public/home/business_trips/es/contract_modal"


  javascript:
    yojs.set('locale', "#{I18n.locale}")
