- show_password_fields = @user.errors[:current_password].any? || @user.errors[:password].any? || resource.errors[:password_confirmation].any?

- if flash.now[:alert].present?
  .row
    .col-sm-12
      .alert.alert-danger.errors_container
        b
          = t(:please_review_the_problems_below)
        br
        ul
          - if flash[:alert].respond_to?(:each)
            - flash[:alert].each do |error|
              li
                = error
          - else
            li
              = flash[:alert]
.row
  .col-sm-8.col-sm-offset-2.with-padding-bottom
    h1.page-title.text-center
      - if @user.agency_detail.present? || @user.company_detail.present?
        = t(:my_cadastre)
      - else
        = t(:my_profile)
    .row
      .col-sm-12
        - if @user.agency_detail.present?
          div ng-controller="PhotosCtrl" ng-init="photos = #{current_public_user.agency_detail.photos.to_json}"
            = shared_component("new_nested_photo_modal")
            = simple_form_for @user, url: public_user_path, class: 'form-horizontal' do |f|
              = render partial: "/public/users/edit/agency", locals: { f: f, show_password_fields: show_password_fields }
        - else
          = simple_form_for @user, url: public_user_path, class: 'form-horizontal' do |f|
            - if @user.company_detail.present?
              = render partial: "/public/users/edit/company", locals: { f: f, show_password_fields: show_password_fields }
            - else
              = render partial: "/public/users/edit/consumer", locals: { f: f, show_password_fields: show_password_fields }