.booking-info-mobile
  .row
    .col-xs-5.attribute-title
      = t(:informal_checkin)
    .col-xs-3.attribute-title
      = t(:informal_pack)
    .col-xs-4.attribute-title
      = t(:informal_checkout)
  .row
    .col-xs-3
      = l @offer.checkin_timestamp.to_date
    .col-xs-2
      = @offer.checkin_timestamp.strftime('%H:%M')
    .col-xs-3
      = "#{@offer.pack_in_hours} #{@offer.pack_in_hours.eql?(1) ? t(:hour).downcase : t(:hours)}"
    .col-xs-4
      - checkout = @offer.checkin_timestamp + @offer.pack_in_hours.hour
      = checkout.strftime('%d/%m/%Y %H:%M')
      = "#{@offer.pack_in_hours} #{t(:hours)}"
  br
  - if @offer.try(:room_type_id)
    .row
      .col-xs-7.attribute-title
        = t(:room_type)
      .col-xs-5.attribute-title
        = t(:people).capitalize
    .row
      .col-xs-7
        = @offer.room_type.send("name_#{I18n.locale}")
      .col-xs-5
        = @booking.number_of_people
  - else
    .row
      .col-xs-12.attribute-title
        - if @offer.try(:meeting_room_id)
         = t(:meeting_room_name)
        - if @offer.try(:event_room_id)
         = t(:event_room_name)
    .row
      .col-xs-12
        - if @offer.try(:meeting_room_id) 
          = @offer.meeting_room.send("name_#{I18n.locale}")
        - if @offer.try(:event_room_id) 
          = @offer.event_room.send("name_#{I18n.locale}")
  br
  .row
    .col-xs-12.attribute-title
      = t(:guest_name)
    .col-xs-12
      = @booking.guest_name
  br
  - unless @booking.note.empty?
    .row
      .col-xs-12.attribute-title
        = t('bookings.note')
      .col-xs-12
        = @booking.note
hr.row
