.booking-info-title
  = image_tag 'booking-info.jpg'
  h4
    = t(:booking_data).upcase

.booking-info
  .row
    .col-sm-12
      .row
        .col-xs-5.attribute-title
          = t(:informal_checkin)
        .col-xs-3.attribute-title
          = t(:informal_pack)
        .col-xs-4.attribute-title
          = t(:informal_checkout)
      .row
        .col-xs-3
          = l @offer.checkin_timestamp.to_date
        .col-xs-2
          = @offer.checkin_timestamp.strftime('%H:%M')
        .col-xs-3
          = "#{@offer.pack_in_hours} #{@offer.pack_in_hours.eql?(1) ? t(:hour).downcase : t(:hours)}"
        .col-xs-4
          - checkout = @offer.checkin_timestamp + @offer.pack_in_hours.hour
          = checkout.strftime('%d/%m/%Y %H:%M')

      br
      - if @offer.try(:room_type_id)
        .row
          .col-xs-5.attribute-title
            = t(:room_type)
          .col-xs-3.attribute-title
            = t(:people).capitalize
          .col-xs-4.attribute-title
            = t(:guest_name)
        .row
          .col-xs-5
            = @offer.room_type.send("name_#{I18n.locale}")
          .col-xs-3
            = @booking.number_of_people
          .col-xs-4
            = @booking.guest_name
      - else
        .row
          .col-xs-8.attribute-title
            - if @offer.try(:meeting_room_id)
             = t(:meeting_room_name)
            - if @offer.try(:event_room_id)
             = t(:event_room_name)
          .col-xs-4.attribute-title
            = t(:guest_name)
        .row
          .col-xs-8
            - if @offer.try(:meeting_room_id) 
              = @offer.meeting_room.send("name_#{I18n.locale}")
            - if @offer.try(:event_room_id) 
              = @offer.event_room.send("name_#{I18n.locale}")
          .col-xs-4
            = @booking.guest_name              
      br
      .row
        .col-xs-12.attribute-title
          = t('bookings.note')
      .row
        .col-xs-12
          = (@booking.note.empty? ? '-' : @booking.note)