.page-header
  h1
    span.text
      = t("views.admin.hotels.visualizing_offers")

= panel_section(name: t("views.admin.hotels.offers_at_hotel", hotel_name: Hotel.find(params[:hotel_id])), class: 'filter widget-box') do

  .attributes-wrapper.hotel_email
    .attribute-title
      | #{t("views.admin.hotels.package")}
    .content
      = "#{params[:pack_in_hours]} horas"

  .attributes-wrapper.hotel_email
    .attribute-title
      | #{t("views.admin.hotels.price")}
    .content
      = number_to_currency @minimum_price

  hr

  = pagination_links_for @offers

  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th.center
          | #{t("views.admin.hotels.checkin")}
        th.center
          | #{t("views.admin.hotels.checkout")}
        th.center
          | #{t("views.admin.hotels.event_hall_name")}
    tbody
      - @offers.each do | offer |
        tr.center
          td
            = offer.checkin_timestamp.strftime('%d/%m/%Y - %H:%M')
          td
            = offer.checkout_timestamp.strftime('%d/%m/%Y - %H:%M')
          td
            = offer.event_room.name_pt_br

  = pagination_links_for @offers

  = show_panel_buttons_section
