div ng-controller="CompanyUniversesFormCtrl"
  .form-group.boolean.optional.company_universe_company_universe_was_sent_mail
    label.col-sm-3.control-label
      | #{t("views.company_universe.companies.email_is_send")}
    .col-sm-1.size-2-percent
      input name="company_universe[was_sent_mail]" type="hidden" value="0"
      .checkbox
        label
          - if company_universe.was_sent_mail
            input class="ace boolean optional col-sm-12 form-control" ng-change="changeMailDate()" ng-model="checkboxMail" ng-checked="#{company_universe.was_sent_mail}" id="company_universe_was_sent_mail" name="company_universe[was_sent_mail]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" ng-change="changeMailDate()" ng-model="checkboxMail" ng-checked="#{company_universe.was_sent_mail}" id="company_universe_was_sent_mail" name="company_universe[was_sent_mail]" type="checkbox" value="1" 
          span.lbl
    .col-sm-1.size-31-percent
      = f.text_field :sent_mail_date, :'ng-disabled' => "disableMailDate", :'ng-model' => "mailDateValue", class: "string required col-sm-12 form-control input js-date-picker form-control js-mask-date ui-datepicker-div"

  .form-group.boolean.optional.company_universe_company_universe_we_talked
    label.col-sm-3.control-label
      | #{t("views.company_universe.companies.we_talked_phone")}
    .col-sm-1.size-2-percent
      input name="company_universe[we_talked_phone]" type="hidden" value="0"
      .checkbox
        label
          - if company_universe.we_talked_phone
            input class="ace boolean optional col-sm-12 form-control" ng-change="changeTalkedDate()" ng-model="checkboxTalked" ng-checked="#{company_universe.we_talked_phone}" id="company_universe_we_talked_phone" name="company_universe[we_talked_phone]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" ng-change="changeTalkedDate()" ng-model="checkboxTalked" ng-checked="#{company_universe.we_talked_phone}" id="company_universe_we_talked_phone" name="company_universe[we_talked_phone]" type="checkbox" value="1" 
          span.lbl
    .col-sm-1.size-31-percent
      = f.text_field :talked_phone_date, :'ng-disabled' => "disableTalkedDate", :'ng-model' => "talkedDateValue", class: "string required col-sm-12 form-control input js-date-picker form-control js-mask-date ui-datepicker-div"

  .form-group.boolean.optional.company_universe_was_face_meeting
    label.col-sm-3.control-label
      | #{t("views.company_universe.companies.we_already_face_to_face_meeting")}
    .col-sm-1.size-2-percent
      input name="company_universe[we_already_face_to_face_meeting]" type="hidden" value="0"
      .checkbox
        label
          - if company_universe.we_already_face_to_face_meeting
            input class="ace boolean optional col-sm-12 form-control" ng-change="changeFaceDate()" ng-model="checkboxFace" ng-checked="#{company_universe.we_already_face_to_face_meeting}" id="company_universe_we_already_face_to_face_meeting" name="company_universe[we_already_face_to_face_meeting]" type="checkbox" value="1" checked='checked'
          - else
            input class="ace boolean optional col-sm-12 form-control" ng-change="changeFaceDate()" ng-model="checkboxFace" ng-checked="#{company_universe.we_already_face_to_face_meeting}" id="company_universe_we_already_face_to_face_meeting" name="company_universe[we_already_face_to_face_meeting]" type="checkbox" value="1" 
          span.lbl
    .col-sm-1.size-31-percent
      = f.text_field :already_face_to_face_meeting_date, :'ng-disabled' => "disableFaceDate", :'ng-model' => "faceDateValue", class: "string required col-sm-12 form-control input js-date-picker form-control js-mask-date ui-datepicker-div"


javascript:
    yojs.set('wasTalkedPhone' , "#{company_universe.we_talked_phone}")
    yojs.set('wasSentEmail' , "#{company_universe.was_sent_mail}")
    yojs.set('wasRegistered' , "#{company_universe.company_already_registered}")
    yojs.set('wasFaceMeeting' , "#{company_universe.we_already_face_to_face_meeting}")
    yojs.set('getSendEmailDate' , "#{company_universe.sent_mail_date}")
    yojs.set('getTalkedDate' , "#{company_universe.talked_phone_date}")
    yojs.set('getFaceDate' , "#{company_universe.already_face_to_face_meeting_date}")
    yojs.set('getRegisterDate' , "#{company_universe.company_registered_date}")
    yojs.set('hasAnAgency' , "#{company_universe.has_an_agency}")
    yojs.set('hasContractAgency' , "#{company_universe.company_has_contract_with_that_agency}")
    yojs.set('getMuchCompanyPaysToCancel' , "#{company_universe.how_much_the_company_pays_to_cancel_this_agreement}")
    yojs.set('getDateExpiryAgencyContract' , "#{company_universe.date_of_expiry_of_the_agency_contract}")
    yojs.set('getCompanyCanCancelThisAgreement' , "#{company_universe.company_can_cancel_this_agreement}")
    yojs.set('getCompanyPaysThisAgency' , "#{company_universe.how_your_company_pays_this_agency}")