h3.header.smaller.lighter.green = t("views.company_universe.companies.information_contact")
.row
 .col-sm-12
 	.div
	 = f.input :name_first_contact
	 = f.input :email_first_contact
	 = f.input :number_first_contact, input_html: { class: 'js-mask-mobile-phone-with-country' }

	a.btn.btn-warning.btn-xs.buton-add-contact ng-click="addSecond = !addSecond" #{t('views.admin.hotels.adicionar_outro')}
    .clearfix

    br

    .div.animate-show-hide ng-class="{ 'hidden': ! addSecond }"
	 = f.input :name_second_contact
	 = f.input :email_second_contact
	 = f.input :number_second_contact, input_html: { class: 'js-mask-mobile-phone-with-country' }

	a.btn.btn-warning.btn-xs.buton-add-contact ng-class="{ 'hidden': ! addSecond }" ng-click="addAditional = !addAditional" #{t('views.admin.hotels.adicionar_outro')}
    .clearfix

    br

    .div.animate-show-hide ng-class="{ 'hidden': ! addAditional || ! addSecond }"
     = f.input :name_other_contact
	 = f.input :email_other_contact
	 = f.input :number_other_contact, input_html: { class: 'js-mask-mobile-phone-with-country' }