= header_section
 
= render partial: 'admin/company_universes/util', locals: {company_universe: @company_universe}

= render partial: 'admin/company_universes/form', locals: {company_universe: @company_universe}