= header_section title: t("views.company_universe.companies.title")

- if @company_universes.length == 0
  .alert.alert-info
    = t(:no_record_found)
- else
  .cpy-pagination-links
    = pagination_links_for @company_universes
  .row
    .col-sm-12
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th.center
            | #{t("views.company_universe.companies.id")}
          th.center
            | #{t("views.company_universe.companies.name_fantasia")}
          th.center
            | #{t("views.company_universe.companies.n_de_funcionarios")}
          th.center
            | #{t("views.company_universe.companies.region")}
          th.center
            | #{t("views.company_universe.companies.setor")}
          th.center
            | #{t("views.company_universe.companies.ja_falamos_por_tel")}
          th.center
            | #{t("views.company_universe.companies.ja_fizemos_reuniao")}
          th.center
            | #{t("views.company_universe.companies.actions")}
      tbody
        - @company_universes.each do | company |
          tr.center
            td
              = company.id
            td
              = company.name
            td
              = company.qtd_employees
            td
              = company.company_region.name
            td
              = company.setor
            td
              = company.we_talked_phone ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
            td
              = company.we_already_face_to_face_meeting ? "<i class='icon-ok bigger-100'></i>".html_safe : "<i class='icon-remove bigger-100'></i>".html_safe
              
            td.action-list.center
              = link_to "<i class='icon-eye-open bigger-100'></i>".html_safe, admin_company_universe_path(company.id), class: 'btn btn-xs btn-success'

              = link_to "<i class='icon-edit bigger-100'></i>".html_safe, edit_admin_company_universe_path(company.id), class: 'btn btn-xs btn-info cpy-edit-agency-link'
              | &nbsp;&nbsp;

              - if company.is_active?
                = link_to "<i class='icon-remove bigger-100'></i>".html_safe, deactivate_admin_company_universe_path(company.id), class: 'btn btn-xs btn-danger cpy-deactivate-agency-button', data: { confirm: t("views.company_universe.regions.deactivate_region") }, method: :post
              - else
                = link_to "<i class='icon-check bigger-100'></i>".html_safe, activate_admin_company_universe_path(company.id), class: 'btn btn-xs btn-warning cpy-activate-agency-button', data: { confirm: t("views.company_universe.regions.activate_region")}, method: :post

= pagination_links_for @company_universes