.filter-wrapper
  .row
    .col-xs-12
      .box
        .row
          .form-group.max-distance
            .col-xs-6
              label
                = t(:max_distance)
            .col-xs-6
              .distance-input.text-center
                = text_field_tag 'by_max_distance', '', class: 'size-100-percent js-mask-float-without-unit js-maximum-distance form-control', maxlength: '5'
                .distance-sign
                  | KM
          .clearfix

          .form-group.min-price
            .col-xs-6
              .row
                .col-xs-12
                  label
                    = t(:min_price)
              .row
                .col-xs-12
                  .money-input.text-center
                    .monetary-sign = current_currency.money_sign
                    input.form-control.min-price.js-mask-float-without-unit.js-minimum-price maxlength='12'

          .form-group.max-price
            .col-xs-6
              .row
                .col-xs-12
                  label
                    = t(:max_price)
              .row
                .col-xs-12
                  .money-input.text-center
                    .monetary-sign = current_currency.money_sign
                    input.form-control.max-price.js-mask-float-without-unit.js-maximum-price maxlength='12'

          .form-group.stars
            .row
              .col-xs-12
                label
                  = t(:by_category)
            .row
              .col-xs-12
                - select_options = (1..5).collect { | number_of_stars | ["#{number_of_stars} #{t(:stars)}", number_of_stars] }
                - select_options[0] = ["1 #{t(:star)}", 1]
                - select_options.unshift([t(:all_female), 'all'])
                = select_tag 'by_hotel_category', options_for_select(select_options, select_options.first), class: 'size-100-percent js-hotel-category form-control'

        .form-group.form-buttons
          .row
            .col-xs-5
              .clear-filters.text-center
                a.link.dark-red ng-click='removeFilters(); colapseFilter()'
                  = t(:clear)
            .col-xs-7
              button.btn.small.green ng-click='filterSearchResults(); colapseFilter()'
                = t(:filter)

