- @hotel = params[:hotel]
.modal-header
  button type="button" class="close" data-dismiss="modal" aria-hidden="true" &times;
  h1.modal-title
    = t(:see_map_title_modal)
.modal-body
  .col-sm-12
    #map-canvas style="width:100%; height:400px"
  .clear style="clear:both;margin-bottom:10px"

  .modal-footer
    a.hidden-xs.hidden-sm data-dismiss="modal"
      = t :close

javascript:
  yojs.set('hotelLatitude', "#{@hotel['latitude']}")
  yojs.set('hotelLongitude', "#{@hotel['longitude']}")
  yojs.set('hotelName', "#{@hotel['name']}")

  var mapOptions = {
    center: new google.maps.LatLng(yojs.get('hotelLatitude'),yojs.get('hotelLongitude')),
    zoom: 16,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
  var marker = new google.maps.Marker({
    map: map,
    position: map.getCenter()
  });
  var infowindow = new google.maps.InfoWindow();
  infowindow.setContent('<b>' + yojs.get('hotelName') + '</b>');
  infowindow.open(map,marker);
  google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map, marker);
  });