- if last_search_log
  = form_tag public_hotels_path, method: :get, class: '' do
    .hidden        
      input name="by_latitude" value=(last_search_log.latitude)
      input name="by_longitude" value=(last_search_log.longitude)
      input name="by_pack_length" value=(last_search_log.length_of_pack)
      /input name="room_category" value=(room_category)
      input name="city_name" value=(last_search_log.city_name)
      input name="state_name" value=(last_search_log.state_name)
      input name="by_address" value=(last_search_log.address)
      input name="by_number_of_people" value=(last_search_log.number_of_people)
      input name="by_checkin_date" value=(last_search_log.checkin_date)
      input name="by_checkin_hour" value=(last_search_log.checkin_hour)
      input name="by_timezone" value=(last_search_log.timezone)

    = submit_tag t(:sort_by_price), class: 'button cpy-search-button btn order-button'
- else
  = ""
