= header_section title: t("views.admin.hotels.editing_price_policy")

h2 = @pricing_policy.hotel
h3 = t("views.admin.hotels.pricing_policy_pt_br", table: @pricing_policy.name)

= render partial: "admin/hotels/pricing_policies/edit/form", locals: {pricing_policy: @pricing_policy}
