= header_section title: t("views.admin.hotels.visualizing")

= panel_section do
  = show_for @pricing_policy do |u|
    .row
      = u.attribute :hotel
      = u.attribute :name
    .row
      .col-sm-12
        table.table-bordered.table-hover.size-100-percent
          thead
            tr
              th.center
              th.center.size-8-percent
                | 1h
              th.center.size-8-percent
                | 2h
              th.center.size-8-percent
                | 3h
              th.center.size-8-percent
                | 4h
              th.center.size-8-percent
                | 5h
              th.center.size-8-percent
                | 6h
              th.center.size-8-percent
                | 7h
              th.center.size-8-percent
                | 8h

          tbody
            - @pricing_policy.business_room_prices.includes(:business_room).each do | business_room_price |
              tr.dark-row
                td colspan="#{MeetingRoomOffer::ACCEPTED_LENGTH_OF_PACKS.length + 1}"
                  = business_room_price.business_room.name_pt_br
              tr
                td
                  | #{t("views.admin.hotels.price")}
                - MeetingRoomOffer::ACCEPTED_LENGTH_OF_PACKS.each do | length |
                  td.center
                    = business_room_price.send("pack_price_#{length}h") == 0 ? '-' : number_to_currency(business_room_price.send("pack_price_#{length}h"))

  = show_panel_buttons_section
