= header_section

= panel_section do
  = show_for @pricing_policy do |u|
    .row
      = u.attribute :hotel
      = u.attribute :name
    .row
      .col-sm-12
        table.table-bordered.table-hover.size-100-percent
          thead
            tr
              th.center
              th.center.size-10-percent
                | 3h
              th.center.size-10-percent
                | 6h
              th.center.size-10-percent
                | 9h
              th.center.size-10-percent
                | 12h

          tbody
            - @pricing_policy.room_type_pricing_policies.includes(:room_type).each do | room_type_pricing_policy |
              tr.dark-row
                td colspan="#{Offer::ACCEPTED_LENGTH_OF_PACKS.length + 1}"
                  = room_type_pricing_policy.room_type.full_name_pt_br
              tr
                td
                  | #{t("views.admin.hotels.value_for_one_person")}
                - Offer::ACCEPTED_LENGTH_OF_PACKS.each do | length |
                  td.center
                    = room_type_pricing_policy.send("pack_price_#{length}h") == 0 ? '-' : number_to_currency(room_type_pricing_policy.send("pack_price_#{length}h"))
              tr
                td
                  | #{t("views.admin.hotels.value_per_extra_person")}
                - Offer::ACCEPTED_LENGTH_OF_PACKS.each do | length |
                  td.center
                    = room_type_pricing_policy.send("extra_price_per_person_for_pack_price_#{length}h") == 0 ? '-' : number_to_currency(room_type_pricing_policy.send("extra_price_per_person_for_pack_price_#{length}h"))
  hr

  .wizard-actions
    = link_to "<i class='icon-arrow-left'></i> Voltar".html_safe, admin_hotel_path(@pricing_policy.hotel) , class: 'btn btn-prev'
    = link_to '<i class="icon-edit"></i> Editar'.html_safe, edit_admin_hotel_pricing_policy_path(id: @pricing_policy.id, hotel_id: @pricing_policy.hotel.id), class: 'btn btn-info'
