| <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
html ng-app="HotelQuandoApp"
  head
    title
      | #{t('views.admin.menu.title')}
    = favicon_link_tag 'favicon-hq.png', rel: 'icon', type: 'image/png'
    = stylesheet_link_tag("ace_admin/init1", :media => "all")
    = stylesheet_link_tag("ace_admin/init2", :media => "all")
    = stylesheet_link_tag("init_admin", :media => "all")
    = javascript_include_tag("init_admin")
    = csrf_meta_tags
    link href="#{image_path('favicon.ico')}" rel="shortcut icon" type="image/x-icon"/

    = render(partial: '/layouts/admin/analytics')
    = render(partial: '/layouts/hubspot/hubspot')

    - unless @cities_list.blank?
      javascript:
        $( function() {
          var availableTags = #{@cities_list.to_json.html_safe};
          $( "#citiesHash" ).autocomplete({
            minLength: 3,
            source: availableTags
          });
        } );

  body class="#{classes_for_scoped_css}"
    #navbar.navbar.navbar-default
      #navbar-container.navbar-container
        .navbar-header.pull-left
          = link_to(admin_root_path, class: 'navbar-brand') do
            = image_tag("logo-green-white.png")

        .navbar-header.pull-right role="navigation"
          ul.nav.ace-nav
            li.light-gren
              a.dropdown-toggle data-toggle="dropdown" href="#"
                span.user-info
                  i.icon-user.nav-user-photo
                span.user-info
                  small = t('views.admin.menu.greeting')
                  = current_admin_manager.name
                i.icon-caret-down

              ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                li
                  = link_to admin_change_password_path do
                    i.icon-cog
                    | #{t('views.hotel.menu.change_password')}
                li.divider            
                li
                  = link_to destroy_admin_manager_session_path, method: :delete do
                    i.icon-off
                    = t(:sign_out)

        .navbar-header.pull-right
          .language-and-customer-service-links
            #google_translate_element style="display:none"
            .flags
              a#Portuguese = link_to image_tag('pt-br-locale.jpg'), params.merge(locale: "pt_br", lang: "pt-br"), data: { lang:"Português" }
              a#English = link_to image_tag('en-locale.jpg'), params.merge(locale: "en"), data: { lang:"Inglês" }
              a#Spanish = link_to image_tag('es-locale.jpg'), params.merge(locale: "es"), data: { lang:"Espanhol" }
            javascript:
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'pt', includedLanguages: 'en,es,pt', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
              }
            = javascript_include_tag("//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
            javascript:
              $('.flags a').click(function() {
                var lang = $(this).data('lang');
                $('.goog-te-menu-frame:first').contents().find('.goog-te-menu2-item span.text').each(function(){ if( $(this).html() == lang ) $(this).click(); })
              });

    #main-container.main-container
      .main-container-inner
        a#menu-toggler.menu-toggler href="#"
          span.menu-text
        #sidebar.sidebar

          ul.nav.nav-list
            / li class="#{menu_active_for(:hotels)} #{menu_active_for('hotels/room_types')} #{menu_active_for('hotels/pricing_policies')} #{menu_active_for('hotels/minimum_offers_price')}"
            /   = link_to admin_hotels_path do
            /     i.icon-building
            /     span.menu-text Hotéis

            li.open class="#{menu_active_for(:hotels)} #{menu_active_for('hotels/room_types')} #{menu_active_for('hotels/pricing_policies')} #{menu_active_for('hotels/minimum_offers_price')} #{menu_active_for(:hotel_chains)}"
              a.dropdown-toggle
                i.icon-building
                span.menu-text = t('views.admin.menu.hotels')
                b.arrow.icon-angle-down
              ul.submenu style="display: block"
                li class="#{menu_active_for(:hotels)}"
                  = link_to admin_hotels_path do
                    i.icon-building
                    span.menu-text #{t('views.admin.hotels.hotel_list')}
                li class="#{menu_active_for(:hotel_chains)}"
                  = link_to admin_hotel_chains_path do
                    i.icon-building
                    span.menu-text #{t('views.admin.hotels.hotel_chain')}



            - if current_admin_manager.master?
              li class="#{menu_active_for(:devices)}"
                = link_to admin_devices_path do
                  i.icon-mobile-phone
                  span.menu-text = t('views.admin.menu.devices')

            li class="#{menu_active_for(:affiliates)}"
              = link_to admin_affiliates_path do
                i.icon-briefcase
                span.menu-text = t('views.admin.menu.affiliates')



            / - if current_admin_manager.master?
            /   li class="#{menu_active_for(:agencies)}"
            /     = link_to admin_agencies_path do
            /       i.icon-briefcase
            /       span.menu-text = t('views.admin.menu.agencies')

            
            - if current_admin_manager.master? || current_admin_manager.b2b_commercial?
              li class="#{menu_active_for(:hq_consultants)}"
                = link_to admin_hq_consultants_path do
                  i.icon-group
                  span.menu-text = t('views.admin.menu.consultants')

            - if current_admin_manager.master?
              li class="#{menu_active_for(:member_get_member_config)}"
                = link_to  admin_member_get_member_config_path(MemberGetMemberConfig.last) do
                  i.icon-user 
                  span.menu-text = t('views.admin.menu.member_get_member')


            - if current_admin_manager.master? || current_admin_manager.b2b_commercial? || current_admin_manager.b2b_management?
              li class="#{menu_active_for(:company_details)}"
                = link_to admin_company_details_path do
                  i.icon-building
                  span.menu-text = t('views.admin.menu.companies')

            - if current_admin_manager.master?
              li.open
                a.dropdown-toggle
                  i.icon-sitemap
                  span.menu-text = t('views.company_universe.menu.company_universe')
                  b.arrow.icon-angle-down
                ul.submenu style="display: block"

                  li class="#{menu_active_for(:company_universes)}"
                    = link_to admin_company_universes_path do
                      i.icon-building
                      span.menu-text = t('views.company_universe.menu.companies')

                  li class="#{menu_active_for(:executive_responsibles)}"
                    = link_to admin_executive_responsibles_path do
                      i.icon-group
                      span.menu-text = t('views.company_universe.menu.executives')

                  li class="#{menu_active_for(:goals_executive_responsibles)}"
                    = link_to admin_goals_executive_responsibles_path do
                      i.icon-book
                      span.menu-text = 'Metas Executivos Reponsáveis'

                  li class="#{menu_active_for(:company_attendants)}"
                    = link_to admin_company_attendants_path do
                      i.icon-phone
                      span.menu-text = t('views.company_universe.menu.attendants')

                  li class="#{menu_active_for(:company_regions)}"
                    = link_to admin_company_regions_path do
                      i.icon-globe
                      span.menu-text = t('views.company_universe.menu.regions')

                  li class="#{menu_active_for(:company_remunerations)}"
                    = link_to admin_company_remunerations_path do
                      i.icon-money
                      span.menu-text = t('views.company_universe.menu.remuneration')

            li class="#{menu_active_for(:users)}"
              = link_to admin_users_path do
                i.icon-group
                span.menu-text = t('views.admin.menu.users')

            li class="#{menu_active_for(:bookings)}"
              = link_to admin_bookings_path do
                i.icon-book
                span.menu-text = t('views.admin.menu.reservations')

            /li.open
              a.dropdown-toggle
                i.icon-bar-chart
                span.menu-text = t('views.admin.menu.reports')
                b.arrow.icon-angle-down
              ul.submenu style="display: block"
                li class="#{menu_active_for(:hotel_reports)}"
                  = link_to admin_hotel_reports_path do
                    i.icon-building
                    span.menu-text = t('views.admin.menu.hotels')
                li class="#{menu_active_for(:agency_reports)}"
                  = link_to admin_agency_reports_path do
                    i.icon-briefcase
                    span.menu-text = t('views.admin.menu.agencies')


            li class="#{menu_active_for(:payments)}"
              = link_to admin_payments_path do
                i.icon-money
                span.menu-text = t('views.admin.menu.payments')
            
            - if current_admin_manager.master? || current_admin_manager.hotel_manager? || current_admin_manager.attendant?  
              li class="#{menu_active_for(:possible_partner_contacts)}"
                = link_to admin_possible_partner_contacts_path do
                  i.icon-envelope
                  span.menu-text = t('views.admin.menu.messages')

            - if current_admin_manager.master?
              li.open
                a.dropdown-toggle
                  i.icon-tags
                  span.menu-text = t('views.admin.menu.offers')
                  b.arrow.icon-angle-down
                ul.submenu style="display: block"
                  li class="#{menu_active_for(:offers, :index)}"
                    = link_to admin_offers_path do
                      i.icon-tags
                      span.menu-text = t('views.admin.menu.list_offers')
                  li class="#{menu_active_for(:hotel_search_logs, :index)}"
                    = link_to admin_hotel_search_logs_path do
                      i.icon-tags
                      span.menu-text = t('views.admin.menu.search_report')

            - if !current_admin_manager.attendant?
              li.open
                a.dropdown-toggle
                  i.icon-barcode
                  span.menu-text = t('views.admin.menu.promotional_codes')
                  b.arrow.icon-angle-down
                ul.submenu style="display: block"
                  li class="#{menu_active_for(:campaigns)}"
                    = link_to admin_campaigns_path do
                      i.icon-barcode
                      span.menu-text = t('views.admin.menu.campaigns')
                  li class="#{menu_active_for(:promotional_codes)}"
                    = link_to admin_promotional_codes_path do
                      i.icon-barcode
                      span.menu-text = t('views.admin.menu.codes')
                        
            - if current_admin_manager.master? || current_admin_manager.b2b_commercial?
              li.open
                a.dropdown-toggle
                  i.icon-barcode
                  span.menu-text = t('views.admin.menu.places')
                  b.arrow.icon-angle-down
                ul.submenu style="display: block"
                  li class="#{menu_active_for(:airports)}"
                    = link_to airports_admin_places_path do
                      i.icon-barcode
                      span.menu-text = t('views.admin.menu.airports')
                  li class="#{menu_active_for(:cities)}"
                    = link_to cities_admin_places_path do
                      i.icon-barcode
                      span.menu-text = t('views.admin.menu.cities')
                  li class="#{menu_active_for(:regions)}"
                    = link_to regions_admin_places_path do
                      i.icon-barcode
                      span.menu-text = t('views.admin.menu.regions')

            - if current_admin_manager.master? || current_admin_manager.b2b_commercial? || current_admin_manager.attendant?
              li class="#{menu_active_for(:newsletters)}"
                = link_to admin_newsletters_path do
                  i.icon-envelope
                  span.menu-text = t('views.admin.menu.leeds')

            - if current_admin_manager.master? || current_admin_manager.hotel_manager?
              li class="#{menu_active_for(:states)}"
                = link_to admin_states_path do
                  i.icon-globe
                  span.menu-text = t('views.admin.menu.cities_states')

            - if current_admin_manager.master?
              li class="#{menu_active_for(:booking_taxes)}"
                = link_to admin_booking_taxes_path do
                  i.icon-usd
                  span.menu-text = t('views.admin.menu.fees')

            - if current_admin_manager.master? || current_admin_manager.hotel_manager?
              li class="#{menu_active_for(:currencies)}"
                = link_to admin_currencies_path do
                  i.icon-usd
                  span.menu-text = t('views.admin.menu.currencies')

                li.open
                  a.dropdown-toggle
                    i.icon-envelope
                    span.menu-text = t('views.admin.menu.emkts')
                    b.arrow.icon-angle-down
                  ul.submenu style="display: block"
                    li class="#{menu_active_for(:airports)}"
                      = link_to with_bookings_admin_emkts_path do
                        i.icon-envelope
                        span.menu-text = t('views.admin.menu.emkts_for_user_with_booking')
                    li class="#{menu_active_for(:cities)}"
                      = link_to without_bookings_admin_emkts_path do
                        i.icon-envelope
                        span.menu-text = t('views.admin.menu.emkts_for_user_without_booking')

            - if current_admin_manager.master?
              li class="#{menu_active_for(:admin)}"
                = link_to admin_managers_path do
                  i.icon-key
                  span.menu-text Managers

            /li.open
              a.dropdown-toggle
                i.icon-time
                span.menu-text = t('views.admin.menu.hour_bank')
                b.arrow.icon-angle-down
              ul.submenu style="display: block"
                li class="#{menu_active_for(:booking_packs)}"
                  = link_to admin_booking_packs_path do
                    i.icon-time
                    span.menu-text = t('views.admin.menu.banks')
                li class="#{menu_active_for(:booking_pack_contracting_companies)}"
                  = link_to admin_booking_pack_contracting_companies_path do
                    i.icon-time
                    span.menu-text = t('views.admin.menu.contracting_companies')

          /! /.nav-list

        .main-content
          #breadcrumbs.breadcrumbs.hidden
            ul.breadcrumb
              li
                i.icon-home.home-icon
                a href="#"
              li.active = t('views.admin.menu.dashboard')
            /! .breadcrumb

          .page-content
            = display_flash_message
            = yield

      a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse.js-btn-scroll-up href="#"
        i.icon-double-angle-up.icon-only.bigger-110
    /! /.main-container
  = load_yojs(app_name: 'hq')
  = javascript_include_tag 'js_routes/init_admin'
  javascript:
    yojs.set('locale', "#{I18n.locale.to_s.gsub('_br','-BR')}");
