| <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
html ng-app="HotelQuandoApp"
  head
    title
      | HotelQuando.com - Reserva de hotel por horas
    = favicon_link_tag 'favicon-hq.png', rel: 'icon', type: 'image/png'
    = stylesheet_link_tag("ace_admin/init1", :media => "all")
    = stylesheet_link_tag("ace_admin/init2", :media => "all")
    = stylesheet_link_tag("init_affiliate", :media => "all")
    = javascript_include_tag("init_affiliate")
    = csrf_meta_tags
    link href="#{image_path('favicon.ico')}" rel="shortcut icon" type="image/x-icon"/

    = render(partial: '/layouts/hubspot/hubspot')

  body class="#{classes_for_scoped_css}"
    #navbar.navbar.navbar-default
      #navbar-container.navbar-container
        .navbar-header.pull-left
          = link_to(affiliate_root_path, class: 'navbar-brand') do
            = image_tag("logo-green-white.png")

        .navbar-header.pull-right role="navigation"
          ul.nav.ace-nav
            li.light-gren
              a.dropdown-toggle data-toggle="dropdown" href="#"
                span.user-info
                  i.icon-user.nav-user-photo
                span.user-info
                  small Bem vindo,
                  = " #{current_affiliate_affiliate.name}"
                i.icon-caret-down

              ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                li
                  = link_to affiliate_update_info_path do
                    i.icon-cog
                    | Atualizar informações
                li.divider
                li
                  = link_to destroy_affiliate_affiliate_session_path, method: :delete do
                    i.icon-off
                    |  Sair

    #main-container.main-container
      .main-container-inner
        #sidebar.sidebar

          ul.nav.nav-list

            li class="#{menu_active_for(:bookings)}"
              = link_to affiliate_bookings_path do
                i.icon-tags
                span.menu-text Reservas

            li class="#{menu_active_for(:info)}"
              = link_to affiliate_root_path do
                i.icon-info
                span.menu-text Minhas Informações

            li class="#{menu_active_for(:doc, :iframe)}"
              = link_to iframe_affiliate_doc_index_path do
                i.icon-book
                span.menu-text API IFrame

            li class="#{menu_active_for(:doc, :webservice)}"
              = link_to webservice_affiliate_doc_index_path do
                i.icon-book
                span.menu-text API Webservice

            li class="#{menu_active_for(:invoices)}"
              /= link_to affiliate_invoices_path do /
                i.icon-file
                span.menu-text Dados para NF

          /! /.nav-list

        .main-content
          .page-content
            = display_flash_message
            = yield

      a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse.js-btn-scroll-up href="#"
        i.icon-double-angle-up.icon-only.bigger-110

    /! /.main-container

  = load_yojs(app_name: 'hq')
  javascript:
    yojs.set('locale', "#{I18n.locale.to_s.gsub('_br','-BR')}");

