| <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
html ng-app="HotelQuandoApp"
  head
    title
      | HotelQuando.com - Reserva de hotel por horas
    = favicon_link_tag 'favicon-hq.png', rel: 'icon', type: 'image/png'
    = stylesheet_link_tag("ace_admin/init1", :media => "all")
    = stylesheet_link_tag("ace_admin/init2", :media => "all")
    = stylesheet_link_tag("init_agency", :media => "all")
    = javascript_include_tag("init_agency")
    = csrf_meta_tags
    link href="#{image_path('favicon.ico')}" rel="shortcut icon" type="image/x-icon"/

  body class="#{classes_for_scoped_css}"
    #navbar.navbar.navbar-default
      #navbar-container.navbar-container
        .navbar-header.pull-left
          = link_to(agency_root_path, class: 'navbar-brand') do
            = image_tag("logo-green-white.png")

        .navbar-header.pull-right role="navigation"
          ul.nav.ace-nav
            li.light-gren
              a.dropdown-toggle data-toggle="dropdown" href="#"
                span.user-info
                  i.icon-user.nav-user-photo
                span.user-info
                  small Bem vindo,
                  = " #{current_agency_agency.name}"
                i.icon-caret-down

              ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                li
                  = link_to agency_change_password_path do
                    i.icon-cog
                    | Alterar Senha
                li.divider
                li
                  = link_to destroy_agency_agency_session_path, method: :delete do
                    i.icon-off
                    |  Sair

    #main-container.main-container
      .main-container-inner
        #sidebar.sidebar

          ul.nav.nav-list

            li class="#{menu_active_for(:info)}"
              = link_to agency_root_path do
                i.icon-book
                span.menu-text Minhas Informações

            li class="#{menu_active_for(:clients)}"
              = link_to agency_clients_path do
                i.icon-briefcase
                span.menu-text Clientes

            li class="#{menu_active_for(:bookings)}"
              = link_to agency_bookings_path do
                i.icon-tags
                span.menu-text Reservas

            li.bookings-report-menu-entry class="#{menu_active_for(:bookings_report)}"
              = link_to agency_bookings_report_path do
                i.icon-bar-chart
                span.menu-text Relatório de Reservas
          /! /.nav-list

        .main-content
          .page-content
            = display_flash_message
            = yield

      a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse.js-btn-scroll-up href="#"
        i.icon-double-angle-up.icon-only.bigger-110

    /! /.main-container

  = load_yojs(app_name: 'hq')
  = javascript_include_tag 'js_routes/init_agency'
  javascript:
    yojs.set('locale', "#{I18n.locale.to_s.gsub('_br','-BR')}");
