| <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
html ng-app="HotelQuandoApp"
  head
    title
      | HotelQuando.com - Reserva de hotel por horas
    = favicon_link_tag 'favicon-hq.png', rel: 'icon', type: 'image/png'
    = stylesheet_link_tag("ace_admin/init1", :media => "all")
    = stylesheet_link_tag("ace_admin/init2", :media => "all")
    = stylesheet_link_tag("init_company", :media => "all")
    = javascript_include_tag("init_company")
    = csrf_meta_tags
    link href="#{image_path('favicon.ico')}" rel="shortcut icon" type="image/x-icon"/

  body class="#{classes_for_scoped_css}"
    #navbar.navbar.navbar-default
      #navbar-container.navbar-container
        .navbar-header.pull-left
          = link_to(company_root_path, class: 'navbar-brand') do
            = image_tag("logo-green-white.png")

        .navbar-header.pull-right role="navigation"
          ul.nav.ace-nav
            li.light-gren
              a.dropdown-toggle data-toggle="dropdown" href="#"
                span.user-info
                  i.icon-user.nav-user-photo
                span.user-info
                  small Bem vindo,
                  = " #{current_company_company.name}"
                i.icon-caret-down

              ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                li
                  = link_to company_update_info_path do
                    i.icon-cog
                    | Atualizar informações da empresa
                li.divider
                li
                  = link_to destroy_company_company_session_path, method: :delete do
                    i.icon-off
                    |  Sair

    #main-container.main-container
      .main-container-inner
        #sidebar.sidebar

          ul.nav.nav-list

            li class="#{menu_active_for(:bookings)}"
              = link_to company_bookings_path do
                i.icon-tags
                span.menu-text Reservas

            li class="hide #{menu_active_for(:departments)}"
              = link_to company_departments_path do
                i.icon-sitemap
                span.menu-text Departamentos

            li class="#{menu_active_for(:employees)}"
              = link_to company_employees_path do
                i.icon-group
                span.menu-text Usuários

            li class="hide #{menu_active_for(:credit_cards)}"
              = link_to company_credit_cards_path do
                i.icon-credit-card
                span.menu-text Cartões de Crédito

            li class="#{menu_active_for(:info)}"
              = link_to company_root_path do
                i.icon-book
                span.menu-text Minhas Informações

            li class="#{menu_active_for(:invoices)}"
              = link_to company_invoices_path do
                i.icon-file
                span.menu-text Dados para NF               

          /! /.nav-list

        .main-content
          .page-content
            = display_flash_message
            = yield

      a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse.js-btn-scroll-up href="#"
        i.icon-double-angle-up.icon-only.bigger-110

    /! /.main-container

  = load_yojs(app_name: 'hq')
  = javascript_include_tag 'js_routes/init_company'
  javascript:
    yojs.set('locale', "#{I18n.locale.to_s.gsub('_br','-BR')}");
