html
  css:
    .agency-photo{
      max-width: 250px;
    }
    .affiliate_backgorund {
      background-color: #444 !important;
    }
    .white-box,
    .blue-box {
      border: 1px solid #0073c6;
      border-radius: 10px;
      overflow: auto;
      margin: 0 auto;
      width: 90%;
    }

    .white-box {
      border: 1px solid #ffffff !important;
    }

    .affiliate-box
    {
      border: 1px solid #444444 !important;
    }

    .white-box .title-box,
    .blue-box .title-box {
      background: #0073c6;
      overflow: hidden;
      width: 100%;
      height: 80px;
      border-radius: 5px 5px 0 0;
    }

    .white-box .title-box{
      background: #FFFFFF !important;
    }


    .white-box .title-box h1,
    .blue-box .title-box h1 {
      text-indent: -200px;
      margin: 0;
      font-weight: 500;
      font-family: 'Segoe UI Light','Segoe UI Web Light','Segoe UI Web Regular','Segoe UI','Segoe UI Symbol','HelveticaNeue-Light','Helvetica Neue', Arial, sans-serif;
      font-size: 40px;
      line-height: 80px;
      text-align: center;
      color: #fff;
      text-shadow: 1px 4px 1px rgba(34, 34, 34, 0.0);
    }

    .white-box .title-box h1{
      color: #000000 !important;
    }

    .white-box .body,
    .blue-box .body {
      padding: 20px;
    }

    .white-box .body .logo,
    .blue-box .body .logo {
      position: relative;
      top: -105px;
      left: -15px;
    }

    .white-box .body .content,
    .blue-box .body .content {
      position: relative;
      top: -90px;
    }

    .white-box .body .logo,
    .blue-box .body .logo {
      text-align: center;
      display: block;
      margin: 10px 0;
    }

    .white-box .body p,
    .blue-box .body p {
      font-family: 'Segoe UI Light','Segoe UI Web Light','Segoe UI Web Regular','Segoe UI','Segoe UI Symbol','HelveticaNeue-Light','Helvetica Neue',Arial,sans-serif;
      font-size: 20px;
      margin-bottom: -1px;
      color: #222;
      line-height: 28px;
    }

    .powered-by-text {
      color: white
      display: inline-block
    }

    .white-box .body p .gray,
    .blue-box .body p .gray {
      color: #666
    }

    .white-box .body p.small,
    .blue-box .body p.small {
      font-size: 16px;
      line-height: 10px;
    }

    .white-box .body a,
    .blue-box .body a {
      color: #438eb9;
      text-decoration: none;
      font-family: 'Segoe UI Light','Segoe UI Web Light','Segoe UI Web Regular','Segoe UI','Segoe UI Symbol','HelveticaNeue-Light','Helvetica Neue',Arial,sans-serif;
      font-size: 20px;
      display: inline-block;
      line-height: 28px;
    }

    .white-box .body p:first-child,
    .blue-box .body p:first-child {
      margin-top: 0;
    }

    .white-box .body a.small,
    .blue-box .body a.small {
      font-size: 16px;
      line-height: 10px;
    }

    .white-box .footer,
    .blue-box .footer {
      width: 100%;
      background: #0073c6;
      height: 40px;
      border-radius: 0 0 5px 5px;
      border-top: 1px solid rgba(34, 34, 34, 0.2);
      overflow: hidden;
    }

    .white-box .footer{
      background: #FFFFFF !important;
    }

    .agency-name {
      margin.bottom: 0px;
    }

    .agency-phone {
      margin-top: 0px;
    }

    .white-box .footer p,
    .blue-box .footer p {
      font-family: 'Segoe UI Light','Segoe UI Web Light','Segoe UI Web Regular','Segoe UI','Segoe UI Symbol','HelveticaNeue-Light','Helvetica Neue',Arial,sans-serif;
      font-size: 18px;
      line-height: 10px;
      margin-bottom: -1px;
      color: white;
      text-align: right;
      padding-right: 10px
    }

    .white-box .footer p{
      color: black !important;
    }

  body class=(@affiliate_mark ? 'affiliate-background' : '')
    div class='blue-box'
    .body style="margin: auto"
      = yield

