html
  css:
    .blue-box {
      border: 1px solid #0073c6;
      border-radius: 10px;
      overflow: auto;
      margin: 0 auto;
      width: 90%;
    }

    .blue-box .title-box {
      background: #0073c6;
      overflow: hidden;
      width: 100%;
      height: 80px;
      border-radius: 5px 5px 0 0;
    }

    .blue-box .title-box .logo {
      float: left;
      width: 200px;
      position: relative;
      top: -4px;
      left: 10px;
    }

    .blue-box .title-box h1 {
      text-indent: -200px;
      margin: 0;
      font-weight: 500;
      font-family: 'Segoe UI Light','Segoe UI Web Light','Segoe UI Web Regular','Segoe UI','Segoe UI Symbol','HelveticaNeue-Light','Helvetica Neue', Arial, sans-serif;
      font-size: 40px;
      line-height: 80px;
      text-align: center;
      color: #fff;
      text-shadow: 1px 4px 1px rgba(34, 34, 34, 0.0);
    }

    .blue-box .body {
      padding: 20px;
    }

    .blue-box .body .logo {
      position: relative;
      top: -105px;
      left: -15px;
    }

    .blue-box .body .content {
      position: relative;
      top: -90px;
    }

    .blue-box .body .logo img {
      text-align: center;
    }

    .blue-box .body p {
      font-family: 'Segoe UI Light','Segoe UI Web Light','Segoe UI Web Regular','Segoe UI','Segoe UI Symbol','HelveticaNeue-Light','Helvetica Neue',Arial,sans-serif;
      font-size: 20px;
      margin-bottom: -1px;
      color: #222;
      line-height: 28px;
    }

    .blue-box .body p .gray {
      color: #666
    }

    .blue-box .body p.small {
      font-size: 16px;
      line-height: 10px;
    }

    .blue-box .body a {
      color: #438eb9;
      text-decoration: none;
      font-family: 'Segoe UI Light','Segoe UI Web Light','Segoe UI Web Regular','Segoe UI','Segoe UI Symbol','HelveticaNeue-Light','Helvetica Neue',Arial,sans-serif;
      font-size: 20px;
      display: inline-block;
      line-height: 28px;
    }

    .blue-box .body p:first-child {
      margin-top: 0;
    }

    .blue-box .body a.small {
      font-size: 16px;
      line-height: 10px;
    }

    .blue-box .footer {
      width: 100%;
      background: #0073c6;
      height: 40px;
      border-radius: 0 0 5px 5px;
      border-top: 1px solid rgba(34, 34, 34, 0.2);
      overflow: hidden;
    }

    .logo {
      position: relative;
      top: -105px;
      left: -15px;
      text-align: center;
      display: block;
      margin: 10px 0;
    }

    .blue-box .footer p {
      font-family: 'Segoe UI Light','Segoe UI Web Light','Segoe UI Web Regular','Segoe UI','Segoe UI Symbol','HelveticaNeue-Light','Helvetica Neue',Arial,sans-serif;
      font-size: 18px;
      line-height: 10px;
      margin-bottom: -1px;
      color: white;
      text-align: right;
      padding-right: 10px
    }

  body
    .blue-box
      .title-box
        - if content_for?(:title)
          h1
            = content_for(:title)
        - else
          h1
            | HotelQuando.com
      .body
        .logo
          img src="https://s3-sa-east-1.amazonaws.com/hotelquando-production/logo_email2.png" alt=""
        = yield
