| <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
html ng-app="HotelQuandoApp"
  head
    title
      | HotelQuando.com - Reserva de hotel por horas
    = favicon_link_tag 'favicon-hq.png', rel: 'icon', type: 'image/png'
    = stylesheet_link_tag("ace_admin/init1", :media => "all")
    = stylesheet_link_tag("ace_admin/init2", :media => "all")
    = stylesheet_link_tag("init_executive_responsible", :media => "all")
    = javascript_include_tag("init_executive_responsible")
    = csrf_meta_tags
    link href="#{image_path('favicon.ico')}" rel="shortcut icon" type="image/x-icon"/

    = render(partial: '/layouts/hubspot/hubspot')


    - unless @cities_list.blank?
      javascript:
        $( function() {
          var availableTags = #{@cities_list.to_json.html_safe};
          $( "#citiesHash" ).autocomplete({
            minLength: 3,
            source: availableTags
          });
        } );

  body class="#{classes_for_scoped_css}"
    #navbar.navbar.navbar-default
      #navbar-container.navbar-container
        .navbar-header.pull-left
          = link_to(executive_responsible_root_path, class: 'navbar-brand') do
            = image_tag("logo-green-white.png")

        .navbar-header.pull-right role="navigation"
          ul.nav.ace-nav
            li.light-gren
              a.dropdown-toggle data-toggle="dropdown" href="#"
                span.user-info
                  i.icon-user.nav-user-photo
                span.user-info
                  small Bem vindo,
                  = " #{current_executive_responsible_executive_responsible.name}"
                i.icon-caret-down

              ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                li
                  = link_to executive_responsible_change_password_path do
                    i.icon-cog
                    = t(:change_password)
                li.divider
                li
                  = link_to destroy_executive_responsible_executive_responsible_session_path, method: :delete do
                    i.icon-off
                    = t(:sign_out)
                    
        .navbar-header.pull-right
          .language-and-customer-service-links
            = link_to image_tag('pt-br-locale.jpg'), params.merge(locale: "pt_br", lang: "pt-br")
            = link_to image_tag('en-locale.jpg'), params.merge(locale: "en")
            = link_to image_tag('es-locale.jpg'), params.merge(locale: "es")

    #main-container.main-container
      .main-container-inner
        #sidebar.sidebar

          ul.nav.nav-list

            li class="#{menu_active_for(:dashboard)}"
               = link_to executive_responsible_root_path do
                 i.icon-dashboard
                 span.menu-text Dashboard

            li class="#{menu_active_for(:bookings)}"
              = link_to executive_responsible_bookings_path do
                i.icon-book
                span.menu-text #{t('views.admin.menu.reservations')} API WS

            li class="#{menu_active_for(:company_details)}"
              = link_to executive_responsible_company_details_path do
                i.icon-building
                span.menu-text = t('views.executive_responsible.menu.registered_companies')

            li.open
                a.dropdown-toggle
                  i.icon-sitemap
                  span.menu-text = t('views.executive_responsible.menu.company_universe')
                  b.arrow.icon-angle-down
                ul.submenu style="display: block"

                      
                  li class="#{menu_active_for(:company_universes)}"
                    = link_to executive_responsible_company_universes_path do
                      i.icon-building
                      span.menu-text = t('views.executive_responsible.menu.companies')

                  li class="#{menu_active_for(:company_regions)}"
                    = link_to executive_responsible_company_regions_path do
                      i.icon-globe
                      span.menu-text = t('views.executive_responsible.menu.regions')

            li class="#{menu_active_for(:company_universes, :all_companies)}"
              = link_to all_companies_executive_responsible_company_universes_path do
                i.icon-building
                span.menu-text = t('views.executive_responsible.menu.all_companies')


        .main-content
          .page-content
            = display_flash_message
            = yield

      a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse.js-btn-scroll-up href="#"
        i.icon-double-angle-up.icon-only.bigger-110

    /! /.main-container

  = load_yojs(app_name: 'hq')
  = javascript_include_tag 'js_routes/init_executive_responsible'
  javascript:
    yojs.set('locale', "#{I18n.locale.to_s.gsub('_br','-BR')}");
