| <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
html ng-app="HotelQuandoApp"
  head
    title
      | #{t('views.hotel.menu.title')}
    = favicon_link_tag 'favicon-hq.png', rel: 'icon', type: 'image/png'
    = stylesheet_link_tag("ace_admin/init1", :media => "all")
    = stylesheet_link_tag("ace_admin/init2", :media => "all")
    = stylesheet_link_tag("init_hotel", :media => "all")
    = javascript_include_tag("init_hotel")
    = csrf_meta_tags
    link href="#{image_path('favicon.ico')}" rel="shortcut icon" type="image/x-icon"/
    = render(partial: '/layouts/hotel/analytics')
    = render(partial: '/layouts/hubspot/hubspot')

  body class="#{classes_for_scoped_css}"
    #navbar.navbar.navbar-default
      #navbar-container.navbar-container
        .navbar-header.pull-left
          = link_to(hotel_root_path, class: 'navbar-brand') do
            = image_tag("logo-green-white.png")

        .navbar-header.pull-right role="navigation"
          ul.nav.ace-nav
            li.light-gren
              a.dropdown-toggle data-toggle="dropdown" href="#"
                span.user-info
                  i.icon-user.nav-user-photo
                span.user-info
                  small #{t('views.hotel.menu.welcome')}
                  = " #{current_hotel_hotel.name}"
                i.icon-caret-down

              ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                li
                  = link_to hotel_change_password_path do
                    i.icon-cog
                    | #{t('views.hotel.menu.change_password')}
                li.divider
                li
                  = link_to destroy_hotel_hotel_session_path, method: :delete do
                    i.icon-off
                    |  #{t('views.hotel.menu.exit')}

        .navbar-header.pull-right
          .language-and-customer-service-links
            #google_translate_element style="display:none"
            .flags
              a#Portuguese = link_to image_tag('pt-br-locale.jpg'), params.merge(locale: "pt_br", lang: "pt-br"), data: { lang:"Português" }
              a#English = link_to image_tag('en-locale.jpg'), params.merge(locale: "en"), data: { lang:"Inglês" }
              a#Spanish = link_to image_tag('es-locale.jpg'), params.merge(locale: "es"), data: { lang:"Espanhol" }
            javascript:
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'pt', includedLanguages: 'en,es,pt', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
              }
            = javascript_include_tag("//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
            javascript:
              $('.flags a').click(function() {
                var lang = $(this).data('lang');
                $('.goog-te-menu-frame:first').contents().find('.goog-te-menu2-item span.text').each(function(){ if( $(this).html() == lang ) $(this).click(); })
              });

    #main-container.main-container
      .main-container-inner
        #sidebar.sidebar

          ul.nav.nav-list

            li.rooms
              = link_to hotel_offers_path, class: 'dropdown-toggle' do
                i.icon-custom.fa.fa-bed
                span.menu-text #{t('views.hotel.menu.room')}
                b.arrow.icon-angle-down

              ul.submenu
                li class="#{menu_active_for(:bookings, [:rooms, :show], 'RoomBooking')}"
                  = link_to rooms_hotel_bookings_path do
                    i.icon-book
                    span.menu-text #{t('views.hotel.menu.reservations')}

                li class="#{menu_active_for(:room_types)}"
                  = link_to hotel_room_types_path do
                    i.icon-sitemap
                    span.menu-text #{t('views.hotel.menu.room_types')}

                li class="#{menu_active_for(:rooms)}"
                  = link_to hotel_rooms_path do
                    i.icon-eraser
                    span.menu-text #{t('views.hotel.menu.add_rooms')}

                li class="#{menu_active_for(:pricing_policies)}"
                  = link_to hotel_pricing_policies_path do
                    i.icon-money
                    span.menu-text #{t('views.hotel.menu.rate_table')}

                li
                  = link_to hotel_offers_path, class: 'dropdown-toggle' do
                    i.icon-tags
                    span.menu-text #{t('views.hotel.menu.offers')}
                    b.arrow.icon-angle-down
                  ul.submenu style="display: block"
                    li class="#{menu_active_for(:offers, [:create, :new])}"
                      = link_to new_hotel_offer_path do
                        i.icon-tags
                        span.menu-text #{t('views.hotel.menu.add_offer')}
                    li class="#{menu_active_for(:offers_creator_logs, nil, 'RoomOffersCreatorLog')}"
                      = link_to hotel_room_offers_creator_logs_path do
                        i.icon-tags
                        span.menu-text #{t('views.hotel.menu.report')}
                    /li class="#{menu_active_for(:offers, :show_all)} hide"
                      /= link_to show_all_hotel_offers_path do
                        /i.icon-tags
                        /span.menu-text Listar todas as ofertas

                    li class="#{menu_active_for(:offers, :index)}"
                      = link_to hotel_offers_path do
                        i.icon-tags
                        span.menu-text #{t('views.hotel.menu.dashboard')}

                    li class="#{menu_active_for(:offers, [:destroy, :remove, :remove_intermediate_step])}"
                      = link_to remove_hotel_offers_path do
                        i.icon-tags
                        span.menu-text #{t('views.hotel.menu.remove_offer')}
                    - if current_admin_manager.present? && (current_admin_manager.master? || current_admin_manager.hotel_manager?)
                      li class="#{menu_active_for(:offers, [:remove_all_offers, :remove_all_intermediate_step])}"
                        = link_to remove_all_offers_hotel_offers_path do
                          i.icon-tags
                          span.menu-text #{t('views.hotel.menu.remove_all_offers')}

            li.meeting-rooms
              = link_to hotel_meeting_room_offers_path, class: 'dropdown-toggle' do
                i.icon-custom.fa.fa-briefcase
                span.menu-text #{t('views.hotel.menu.meeting_room')}
                b.arrow.icon-angle-down

              ul.submenu
                li class="#{menu_active_for(:bookings, [:meeting_rooms, :show], 'MeetingRoomBooking')}"
                  = link_to meeting_rooms_hotel_bookings_path do
                    i.icon-book
                    span.menu-text #{t('views.hotel.menu.reservations')}

                li class="#{menu_active_for(:business_rooms, nil, 'MeetingRoom')}"
                  = link_to hotel_meeting_rooms_path do
                    i.icon-eraser
                    span.menu-text #{t('views.hotel.menu.rooms')}

                li class="#{menu_active_for(:business_room_pricing_policies, nil, 'MeetingRoomPricingPolicy')}"
                  = link_to hotel_meeting_room_pricing_policies_path do
                    i.icon-money
                    span.menu-text #{t('views.hotel.menu.rate_table')}

                li
                  = link_to hotel_meeting_room_offers_path, class: 'dropdown-toggle' do
                    i.icon-tags
                    span.menu-text #{t('views.hotel.menu.offers')}
                    b.arrow.icon-angle-down
                  ul.submenu style="display: block"
                    li class="#{menu_active_for(:meeting_room_offers, [:create, :new])}"
                      = link_to new_hotel_meeting_room_offer_path do
                        i.icon-tags
                        span.menu-text #{t('views.hotel.menu.add_offer')}
                    li class="#{menu_active_for(:offers_creator_logs, nil, 'MeetingRoomOffersCreatorLog')}"
                      = link_to hotel_meeting_room_offers_creator_logs_path do
                        i.icon-tags
                        span.menu-text #{t('views.hotel.menu.report')}
                    /li class="#{menu_active_for(:offers, :show_all)} hide"
                      /= link_to show_all_hotel_offers_path do
                        /i.icon-tags
                        /span.menu-text Listar todas as ofertas

                    li class="#{menu_active_for(:meeting_room_offers, :index)}"
                      = link_to hotel_meeting_room_offers_path do
                        i.icon-tags
                        span.menu-text #{t('views.hotel.menu.dashboard')}

                    li class="#{menu_active_for(:meeting_room_offers, [:destroy, :remove, :remove_intermediate_step])}"
                      = link_to remove_hotel_meeting_room_offers_path do
                        i.icon-tags
                        span.menu-text #{t('views.hotel.menu.remove_offer')}

            /li.event-rooms
              = link_to hotel_event_room_offers_path, class: 'dropdown-toggle' do
                i.icon-custom.fa.fa-group
                span.menu-text#{t('views.hotel.menu.event_hall')}
                b.arrow.icon-angle-down

              ul.submenu
                li class="#{menu_active_for(:bookings, [:event_rooms, :show], 'EventRoomBooking')}"
                  = link_to event_rooms_hotel_bookings_path do
                    i.icon-book
                    span.menu-text #{t('views.hotel.menu.reservations')}

                li class="#{menu_active_for(:business_rooms, nil, 'EventRoom')}"
                  = link_to hotel_event_rooms_path do
                    i.icon-eraser
                    span.menu-text #{t('views.hotel.menu.halls')}

                li class="#{menu_active_for(:business_room_pricing_policies, nil, 'EventRoomPricingPolicy')}"
                  = link_to hotel_event_room_pricing_policies_path do
                    i.icon-money
                    span.menu-text #{t('views.hotel.menu.rate_table')}

                li
                  = link_to hotel_event_room_offers_path, class: 'dropdown-toggle' do
                    i.icon-tags
                    span.menu-text #{t('views.hotel.menu.offers')}
                    b.arrow.icon-angle-down
                  ul.submenu style="display: block"
                    li class="#{menu_active_for(:event_room_offers, [:create, :new])}"
                      = link_to new_hotel_event_room_offer_path do
                        i.icon-tags
                        span.menu-text #{t('views.hotel.menu.add_offer')}
                    li class="#{menu_active_for(:offers_creator_logs, nil, 'EventRoomOffersCreatorLog')}"
                      = link_to hotel_event_room_offers_creator_logs_path do
                        i.icon-tags
                        span.menu-text #{t('views.hotel.menu.report')}
                    /li class="#{menu_active_for(:event_room_offers, :show_all)} hide"
                      /= link_to show_all_hotel_event_room_offers_path do
                        /i.icon-tags
                        /span.menu-text Listar todas as ofertas

                    li class="#{menu_active_for(:event_room_offers, :index)}"
                      = link_to hotel_event_room_offers_path do
                        i.icon-tags
                        span.menu-text #{t('views.hotel.menu.dashboard')}

                    li class="#{menu_active_for(:event_room_offers, [:destroy, :remove, :remove_intermediate_step])}"
                      = link_to remove_hotel_event_room_offers_path do
                        i.icon-tags
                        span.menu-text #{t('views.hotel.menu.remove_offer')}

            li class="#{menu_active_for(:info)}"
              = link_to hotel_root_path do
                i.icon-building
                span.menu-text #{t('views.hotel.menu.my_info')}

            /li class="#{menu_active_for(:reports)}"
              = link_to hotel_reports_path do
                i.icon-bar-chart
                span.menu-text #{t('views.hotel.menu.reports')}

          /! /.nav-list

        .main-content
          .page-content
            = display_flash_message
            = yield

      a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse.js-btn-scroll-up href="#"
        i.icon-double-angle-up.icon-only.bigger-110

    /! /.main-container

  = load_yojs(app_name: 'hq')
  = javascript_include_tag 'js_routes/init_hotel'
  javascript:
    yojs.set('locale', "#{I18n.locale.to_s.gsub('_br','-BR')}");
