| <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
html ng-app="HotelQuandoApp" lang="#{I18n.locale.to_s.gsub("_", "-").html_safe}"
  head
    = javascript_include_tag("https://www.paypalobjects.com/webstatic/ppplusdcc/ppplusdcc.min.js")
    - if layout_name.present?
      = stylesheet_link_tag("init_public_affiliate_#{layout_name}", :media => "all")
      = javascript_include_tag "init_public_affiliate_#{layout_name}" unless mobile_device?
      = javascript_include_tag "init_public_affiliate_mobile_#{layout_name}" if mobile_device?
    - else
      = stylesheet_link_tag("init_public_affiliate", :media => "all")
      = javascript_include_tag "init_public_affiliate" unless mobile_device?
      = javascript_include_tag "init_public_affiliate_mobile" if mobile_device?
    |

    = csrf_meta_tags
    = render(partial: '/layouts/public_affiliate/meta_tags')

    = render(partial: '/layouts/public_affiliate/analytics')
    = render(partial: '/layouts/hubspot/hubspot')

    javascript:
      window.isMobileBrowser = /palm|blackberry|nokia|phone|midp|mobi|symbian|chtml|ericsson|minimo|audiovox|motorola|samsung|telit|upg1|windows ce|ucweb|astel|plucker|x320|x240|j2me|sgh|portable|sprint|docomo|kddi|softbank|android|mmp|pdxgw|netfront|xiino|vodafone|portalmmm|sagem|mot-|sie-|ipod|up\\.b|webos|amoi|novarra|cdm|alcatel|pocket|ipad|iphone|mobileexplorer|mobile/i.test( navigator.userAgent );

  body class="#{classes_for_scoped_css}"
    .content-wrapper
      - if layout_name.present?
        .header
          = render partial: "/layouts/public_affiliate/personalized_affiliate/#{layout_name}/header"
      - else
        .header
          .js-float-menu.hidden-xs.hidden-sm
            .row
              .col-sm-12
                .pull-right.inline-links
                  ul
                    li
                      .menu-wrapper.js-menu-currency-current
                        span.text = t(:select_currency)
                        span.current = Currency.by_money_sign(cookies[:currency]).first.money_sign
                        .current-currency-dropdown-menu.js-currency-current-dropdown-menu
                          .arrow-up
                          div.col-md-12.current-currencies
                            - Currency.group_by_name.each do |name, currency|
                              div.col-md-4.current-currency class=(its_currency_current?(currency[0]) ? 'activate' : '')
                                = link_to params.merge(currency: currency[0].money_sign), class: 'text-center' do
                                  span.symbol
                                    = currency[0].money_sign
      .content-body
        .container
          .row.margin-top-personalized
            .col-sm-12.flash-message.js-flash-message
              = display_flash_message


        - if params[:controller] == 'public_affiliate/home' && params[:action] == 'index'
          = yield
        - elsif params[:controller] == 'public_affiliate/hotel' && params[:action] == 'index' && layout_name.present?
          = render partial: "/layouts/public_affiliate/personalized_affiliate/#{layout_name}/search_form_header"
          .container.with-padding-top
            = yield
        - else
          .container.with-padding-top
            = yield

      - if layout_name.present?
        .footer.hidden-xs.personalized-aff
          = render partial: "/layouts/public_affiliate/personalized_affiliate/#{layout_name}/footer"

      = render 'layouts/public_affiliate/components/blueimp_gallery'

  = javascript_include_tag("https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCHOnWTrIC9ME6HFaHNLkHfxpBJtvg7z1w&libraries=places&language=#{I18n.locale.to_s.gsub('_br','-br')}")
  = load_yojs(app_name: 'hq')

  / - if layout_name.present?
  /   = render partial: "/layouts/public_affiliate/personalized_affiliate/#{layout_name}/chat_zopim"
  = javascript_include_tag 'js_routes/init_hotel'
  javascript:
    yojs.set('locale', "#{I18n.locale.to_s.gsub('_br','-BR')}")
    yojs.set('error_message_for_address', "#{t(:error_message_for_address_in_home_index)}");
    yojs.set('the_selected_date_is_invalid_or_in_the_past',"#{t(:the_selected_date_is_invalid_or_in_the_past)}");
    yojs.set('and', "#{t(:and)}");
