﻿| <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
html ng-app="HotelQuandoApp" lang="#{I18n.locale.to_s.gsub("_", "-").html_safe}"
	head
		= favicon_link_tag 'favicon-hq.png', rel: 'icon', type: 'image/png'
		= stylesheet_link_tag("init_public", :media => "all")

		= javascript_include_tag("https://www.paypalobjects.com/webstatic/ppplusdcc/ppplusdcc.min.js")
		= javascript_include_tag "init_public" unless mobile_device?
		= javascript_include_tag "init_public_mobile" if mobile_device?
		= javascript_include_tag("https://momentjs.com/downloads/moment.min.js")
		= javascript_include_tag("https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.1/angular-moment.min.js")
		= javascript_include_tag("https://gateway.payulatam.com/ppp-web-gateway/javascript/PayU.js")
		|
			<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
		- if controller.controller_name == "home" && ( action_name == "be_our_partner" || action_name == "business_trips" )
			= "<script src='https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit&hl=#{params[:locale]}' async defer></script>".html_safe
		|
			<script src="https://cdn.rawgit.com/VividCortex/angular-recaptcha/master/release/angular-recaptcha.js"></script>
		|
			<script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/dcbae9b4-d6ca-4727-b778-b26a871bf2d1-loader.js"></script>

		= csrf_meta_tags
		- meta_tags_partial = show_meta_tags_according_to_page(params[:action], params[:controller])
		= render(partial: meta_tags_partial)

		= render(partial: '/layouts/public/analytics')
		= render(partial: '/layouts/hubspot/hubspot')

		javascript:
			window.isMobileBrowser = /palm|blackberry|nokia|phone|midp|mobi|symbian|chtml|ericsson|minimo|audiovox|motorola|samsung|telit|upg1|windows ce|ucweb|astel|plucker|x320|x240|j2me|sgh|portable|sprint|docomo|kddi|softbank|android|mmp|pdxgw|netfront|xiino|vodafone|portalmmm|sagem|mot-|sie-|ipod|up\\.b|webos|amoi|novarra|cdm|alcatel|pocket|ipad|iphone|mobileexplorer|mobile/i.test( navigator.userAgent );

	body class="#{classes_for_scoped_css}"
		- if Rails.env.development? || Rails.env.production? || Rails.env.staging?
			|
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.11&appId=316174542226031';
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

		.content-wrapper
			.col-lg-12.header.transp.gradient_overlay
				.main-menu.js-float-menu.hidden-xs.hidden-sm
					.container
						.row
							.col-sm-12.menu-grid
								/.fb-like
									- if Rails.env.development? || Rails.env.production? || Rails.env.staging?
										| <fb:like href="https://www.facebook.com/hotelquando" layout="box_count" action="like" show_faces="false" share="false"></fb:like>

								.pull-left.logo-wrapper
									.logo
										= link_to image_tag("logo_white_#{I18n.locale}.png"), public_root_path

								.pull-right.user-links.inline-links

									ul
										li
											.menu-wrapper.js-menu-know-more-wrapper
												span = "#{t(:know_more)}"
												a.caret
												.user-dropdown-menu.js-know-more-dropdown-menu.width-know-more
													.arrow-up
													ul
														li
															= link_to public_get_business_trips_path do
																i.fa.fa-briefcase style="margin-right: 5px"
																= t(:agencies_and_companies)
														li
															= link_to public_get_be_our_partner_path do
																i.fa.fa-building style="margin-right: 5px"
																= t('hotel.other').capitalize
														- if current_public_user.present? && !current_public_user.is_a_consumer?
															li
																= link_to public_customer_service_corp_path do
																	i.fa.fa-phone style="margin-right: 5px"
																	= t(:customer_service_corp)
														- else
															li
																= link_to public_customer_service_path do
																	i.fa.fa-phone style="margin-right: 5px"
																	= t(:customer_service)
														li
															= link_to public_how_it_works_path do
																i.fa.fa-question-circle style="margin-right: 5px"
																= t(:how_it_works)
														li
															= link_to  public_about_us_path do
																img alt=("Clock light gray") src="/assets/QBranco.png" style=("width: 16px; vertical-align: inherit; margin-right: 5px; filter: contrast(0) brightness(43%)") /
																= t(:about_us)
														li
															= link_to public_faq_path do
																i.fa.fa-list style="margin-right: 5px"
																= t(:faq)

										- if current_public_user.present?
											.menu-wrapper.js-menu-wrapper.user-menu
												li
													- if current_public_user.is_a_agency?
														span.hello = "#{t(:hello)} #{truncate(current_public_user.agency_detail.name, length: 12)}"
													- elsif current_public_user.is_a_company?
														span.hello = "#{t(:hello)} #{truncate(current_public_user.company_detail.name, length: 12)}"
													- else
														span.hello = "#{t(:hello)} #{truncate(current_public_user.name, length: 12)}"
													/ - if !current_public_user.bookings.paid.exists?
													/ 	- if !current_public_user.is_a_agency? && !current_public_user.is_a_company?
													/ 		.notification
													/ 			span.noti 2
													/ - else
													/ 	- if !current_public_user.is_a_agency? && !current_public_user.is_a_company?
													/ 		.notification
													/ 			span.noti 1

													a.user-icon.glyphicon.glyphicon-user
													a.caret
													/ br
													/ span
													/ 	| "Credito: #{current_public_user.balance}""
													.user-dropdown-menu.js-user-dropdown-menu
														.arrow-up
														ul
															- if current_public_user.is_a_agency?
																/li
																/	= link_to public_summer_path do
																/		 i.fa.fa-thermometer-full aria-hidden="true"  style="margin-right: 5px"
																/		 span = t(:dropdown_link_summer)
																/		 .notification
																/			span.noti 1
																li
																	= link_to public_user_profile_path
																		i.fa.fa-user style="margin-right: 5px"
																		= t(:my_cadastre)
																li
																	= link_to public_company_details_path
																		i.fa.fa-briefcase style="margin-right: 5px"
																		= t(:my_clients)
																li
																	= link_to public_consultants_path
																		i.fa.fa-users style="margin-right: 5px"
																		= t(:my_consultants)
																li
																	= link_to public_bookings_path
																		i.fa.fa-bookmark style="margin-right: 5px"
																		= t(:my_bookings)

															- elsif current_public_user.is_a_company?
																li
																	= link_to public_user_profile_path
																		i.fa.fa-user style="margin-right: 5px"
																		=t(:my_cadastre)

																li
																	= link_to public_company_detail_job_titles_path(current_public_user.company_detail)
																		i.fa.fa-briefcase style="margin-right: 5px"
																		=t(:job_titles)
																li
																	= link_to  public_company_detail_cost_centers_path(current_public_user.company_detail)
																		i.fa.fa-usd style="margin-right: 5px"
																		= t(:cost_center)

																li
																	= link_to public_bookings_path
																		i.fa.fa-bookmark style="margin-right: 5px"
																		= t(:my_bookings)

																/ li
																/ 	= link_to public_travel_requests_path
																/ 		i.fa.fa-plane style="margin-right: 5px"
																/ 		= t(:my_travel_requests)
															- else
																/li
																/	= link_to public_summer_path do
																/		 i.fa.fa-thermometer-full aria-hidden="true"  style="margin-right: 5px"
																/		 span = t(:dropdown_link_summer)
																/		 .notification
																/			span.noti 2
																li
																	= link_to public_bookings_path
																		i.fa.fa-bookmark style="margin-right: 5px"
																		= t(:my_bookings)
																li
																	= link_to public_user_profile_path
																		i.fa.fa-user style="margin-right: 5px"
																		= t(:my_profile)
																/ - if current_public_user.have_any_confirmed_booking?
																/ 	li
																/ 		= link_to public_friend_hq_path
																/ 			i.fa.fa-child style="margin-right: 5px"
																/ 			= t(:indicate_and_earn)
																/ 			.notification
																/ 				span.noti 1
																/ - else

																/ 	li
																/ 		= link_to public_twelve_hours_discount_path do
																/ 			i.fa.fa-money style="margin-right: 5px"
																/ 			span = t(:dropdown_link_twelve_hours)
																/ 			.notification
																/ 				span.noti 1

																/ 	li
																/ 		= link_to public_hours_discount_path do
																/ 			i.fa.fa-money style="margin-right: 5px"
																/ 			span = t(:dropdown_link_three_hours)
																/ 			.notification
																/ 				span.noti 1
																	/li
																	/	= link_to public_summer_path do
																	/		 span = t(:dropdown_link_summer)
																	/		 .notification
																	/			span.noti 1


															li
																= link_to destroy_public_user_session_path, method: :delete, class: "cpy-log-out-link"
																	i.fa.fa-sign-out style="margin-right: 5px"
																	= t(:sign_out)
										- else
											li
												.menu-wrapper.js-menu-my-profile-wrapper
													span.my-profile = "#{t(:my_profile).upcase}"
													/ .notification
													/ 	span.noti 2
													a.caret
													.user-dropdown-menu.js-my-profile-dropdown-menu
														.arrow-up
														ul
															/ li
															/ 	= link_to public_twelve_hours_discount_path do
															/ 		i.fa.fa-money style="margin-right: 5px"
															/ 		span = t(:dropdown_link_twelve_hours)
															/ 		.notification
															/ 			span.noti 1
															/ li
															/ 	= link_to public_hours_discount_path do
															/ 		 i.fa.fa-money style="margin-right: 5px"
															/ 		 span = t(:dropdown_link_three_hours)
															/ 		 .notification
															/ 			span.noti 1
															/li
															/	= link_to public_summer_path do
															/		 i.fa.fa-thermometer-full aria-hidden="true"  style="margin-right: 5px"
															/		 span = t(:dropdown_link_summer)
															/		 .notification
															/			span.noti 1
															li
																= link_to new_public_user_registration_path
																	i.fa.fa-user-plus aria-hidden="true" style="margin-right: 5px"
																	= t(:sign_up)
															li
																= link_to new_public_user_session_path, class: 'cpy-sign-in-link'
																	i.fa.fa-sign-in style="margin-right: 5px"
																	= t(:sign_in)
										li
											.language-and-customer-service-links
												/- unless cookies[:locale] == 'pt_br'
												= link_to image_tag('pt-br-locale.jpg'), params.merge(locale: "pt_br", lang: "pt-br")
												/- unless cookies[:locale] == 'en'
												= link_to image_tag('en-locale.jpg'), params.merge(locale: "en", lang: "en")
												/- unless cookies[:locale] == 'es'
												= link_to image_tag('es-locale.jpg'), params.merge(locale: "es", lang: "es")

										li
											.menu-wrapper.js-menu-currency-current
												span.current = Currency.by_money_sign(cookies[:currency]).first.money_sign
												.user-dropdown-menu.js-currency-current-dropdown-menu
													.arrow-up
													div.col-md-12.current-currencies
														- Currency.group_by_name.each do |name, currency|
															div.col-md-4.current-currency class=(its_currency_current?(currency[0]) ? 'activate' : '')
																= link_to params.merge(currency: currency[0].money_sign), class: 'text-center' do
																	span.symbol
																		= currency[0].money_sign

								.clearfix style='display: inline-block'

				nav.main-menu-mobile.js-float-menu.navbar.navbar-default.hidden-md.hidden-lg
					.container-fluid
						.navbar-header
							.logo-wrapper.col-xs-8
								.logo
									= link_to image_tag("logo_white_#{I18n.locale}.png"), public_root_path
							.language-mobile.col-xs-2
								= link_to image_tag('pt-br-locale.jpg'), params.merge(locale: "pt_br", lang: "pt-br")
								= link_to image_tag('en-locale.jpg'), params.merge(locale: "en", lang: "en")
								= link_to image_tag('es-locale.jpg'), params.merge(locale: "es", lang: "es")
							/ - if current_public_user.present?
							/ 	- if !current_public_user.is_a_agency? && !current_public_user.is_a_company? && !current_public_user.bookings.paid.exists?
							/ 		.col-xs-2
							/ 			button.navbar-toggle.collapsed type="button" data-toggle="collapse" data-target="#navbar-collapse"
							/ 				span.sr-only Toggle navigation
							/ 				span.icon-bar.green
							/ 					.notification
							/ 					 span.noti 2
							/ 				span.icon-bar.green
							/ 				span.icon-bar.green
							/ 	- else
							/ 		.col-xs-2
							/ 			button.navbar-toggle.collapsed type="button" data-toggle="collapse" data-target="#navbar-collapse"
							/ 				span.sr-only Toggle navigation
							/ 				span.icon-bar.green
							/ 					.notification
							/ 					 span.noti 1
							/ 				span.icon-bar.green
							/ 				span.icon-bar.green
							/ - else
							.col-xs-2
								button.navbar-toggle.collapsed type="button" data-toggle="collapse" data-target="#navbar-collapse"
									span.sr-only Toggle navigation
									span.icon-bar.green
										/ .notification
										/  span.noti 2
									span.icon-bar.green
									span.icon-bar.green
							.col-xs-2
								button.navbar-toggle.collapsed.sidemenu-currency type="button" data-toggle="collapse" data-target="#navbar-collapse-currency"
									span.current = Currency.by_money_sign(cookies[:currency]).first.money_sign

						.collapse.navbar-collapse#navbar-collapse
							= render partial: "/layouts/public/components/sidemenu"
						.collapse.navbar-collapse#navbar-collapse-currency
							ul.nav.navbar-nav.sidemenu-currency
								li.menu-item
									- Currency.group_by_name.each do |name, currency|
										= link_to params.merge(currency: currency[0].money_sign), class: 'menu-item-link' do
											span.symbol = currency[0].money_sign

			.content-body
				- if params[:controller] == 'public/home' && (params[:action] == 'business_trips' || params[:action] == 'be_our_partner' || params[:action] == 'hours_discount' || params[:action] == 'twelve_hours_discount' || params[:action] == 'friend_hq' || params[:action] == 'indicate_and_earn')
					= yield
				- else
					- headerMargin = ((params[:controller] == 'public/home' && params[:action] == 'index') || (params[:controller] == 'public/hotel' && params[:action] == 'index') || (params[:controller] == 'public/places')) ? "" : "margin-top-100"
					div class="container #{headerMargin}"
						.row
							.col-sm-12.flash-message.js-flash-message
								= display_flash_message

					- if params[:controller] == 'public/home' && params[:action] == 'index'
						= yield
					- elsif params[:controller] == 'public/hotel' && params[:action] == 'index'
						= render partial: "/layouts/public/components/search_form_header"
						.container.with-padding-top
							= yield
					- else
						.container.with-padding-top
							= yield

		.footer.text-center
			= render partial: "/layouts/public/components/layout_menu_links", locals: { terms_of_use: true, privacy_policy: true, customer_service: true }

			.all-rights-reserved
				p
					=> t :all_rights_reserved

			= render partial: "/layouts/public/components/investors"

		/! /.main-container
		- if !(params[:controller] == 'public/home' && params[:action] == 'index')
			= render "/layouts/public/components/search_box_modal"

		- if ENV["CURRENCY_POPUP_ACTIVE"] == "true" && controller_name == "home" && action_name == "index"
			= render partial: '/layouts/public/components/default_currency_alert_modal'

		= render "/layouts/public/components/newsletter_modal"

		/ = render "/layouts/public/components/alert_air_offline_modal"

		= render "/layouts/public/components/payment_modal"

		- if ENV["POPUP_HOME_ACTIVE"] == "true" && controller_name == "home" && action_name == "index"
			.modal#info-modal.fade
				.modal-dialog
					.modal-content
						.modal-header
							.description
								span style="font-size: 34px;" = t(:popup_info_description)
							.triangle
								button style="margin-top: -50px;" type="button" class="close" data-dismiss="modal" aria-hidden="true" &times;

						.modal-body.info-modal style="font-size: 18px;text-align: justify;"
							- if "pt_br" == cookies[:locale]
								span = ENV["POPUP_HOME_MESSAGE_PT"]
							- elsif "es" == cookies[:locale]
								span = ENV["POPUP_HOME_MESSAGE_ES"]
							- else
								span = ENV["POPUP_HOME_MESSAGE_EN"]




		= render 'layouts/public/components/blueimp_gallery'
		/- if current_public_user && current_public_user.is_a_company_employee?
			= render partial: 'layouts/public/components/user_budget_box', locals: { user: current_public_user }

		.modal-loading

	= javascript_include_tag("https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCHOnWTrIC9ME6HFaHNLkHfxpBJtvg7z1w&libraries=places&language=#{I18n.locale.to_s.gsub('_br','-br')}")
	= load_yojs(app_name: 'hq')
	= javascript_include_tag 'js_routes/init_hotel'
	javascript:
		$("#info-modal").modal();
		yojs.set('locale', "#{I18n.locale.to_s.gsub('_br','-BR')}")
		yojs.set('error_message_for_address', "#{t(:error_message_for_address_in_home_index)}");
		yojs.set('the_selected_date_is_invalid_or_in_the_past',"#{t(:the_selected_date_is_invalid_or_in_the_past)}");
		yojs.set('the_date_of_origin_is_invalid',"#{t(:the_date_of_origin_is_invalid)}");
		yojs.set('and', "#{t(:and)}");
		yojs.set('firstVisit', "#{@first_visit}")
		yojs.set('the_origin_is_invalid',"#{t(:the_origin_is_invalid)}");
		yojs.set('the_destiny_is_invalid',"#{t(:the_destiny_is_invalid)}");
		yojs.set('the_date_of_destiny_is_invalid',"#{t(:the_date_of_destiny_is_invalid)}");
		yojs.set('phone_is_obligatory',"#{t(:phone_is_obligatory)}");


	- if Rails.env.production?
		/ ZOPIM Chat
		javascript:
			//window.$zopim||!function(e){var t={};function n(r){if(t[r])return t[r].exports;var o=t[r]={i:r,l:!1,exports:{}};return e[r].call(o.exports,o,o.exports,n),o.l=!0,o.exports}n.m=e,n.c=t,n.d=function(e,t,r){n.o(e,t)||Object.defineProperty(e,t,{configurable:!1,enumerable:!0,get:r})},n.r=function(e){Object.defineProperty(e,"__esModule",{value:!0})},n.n=function(e){var t=e&&e.__esModule?function(){return e.default}:function(){return e};return n.d(t,"a",t),t},n.o=function(e,t){return Object.prototype.hasOwnProperty.call(e,t)},n.p="",n(n.s=1)}([function(e,t){e.exports={isDefined:function(e){return"function"==typeof e.zE},setupGlobalApiQueue:function(){var e=[],t=function(){e.push(arguments)};return t._=e,t.t=Date.now(),t},loadAssetComposerScript:function(e,t){var n=e.createElement("script");n.type="text/javascript",n.src=t,n.setAttribute("charset","utf-8"),n.async=!0,e.getElementsByTagName("head")[0].appendChild(n)}}},function(e,t,n){var r=n(0);!function(e,t){if(!r.isDefined(e)){var n=r.setupGlobalApiQueue();e.zE=n,e.zEmbed=n}r.loadAssetComposerScript(t,"https://static.zdassets.com/ekr/asset_composer.45332cb1af4d68eef2fe.js")}(window,document)}]);


			+ '?id=EP27449'
			+ '&autoOpen=0'
			+ '&hideWhenOffline=0'
			+ '&d=hotelquandobr'
			+ '&ts=' + new Date().getTime()
			+ '&ref=' + encodeURIComponent(document.URL);
			document.body.appendChild(ttChatLoaderS);
			//]]>
			</script>
			<!-- Hotjar Tracking Code for https://www.hotelquando.com.br/ -->
			<script>
			    (function(h,o,t,j,a,r){
			        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			        h._hjSettings={hjid:977094,hjsv:6};
			        a=o.getElementsByTagName('head')[0];
			        r=o.createElement('script');r.async=1;
			        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			        a.appendChild(r);
			    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
			</script>
		|
