.public-affiliate-layout.public-affiliate-home-controller
  .no-margin
    margin: 0px !important
  .search-box
    margin-top: 90px
    margin-bottom: 150px
    border-radius: 10px

    .tabbable
      .online_reservation_box
        width: 174px
        height: 48px
        background-color: #1c3f95
        border: 1px solid #1c3f95
        text-transform: uppercase
        p
          color: #fff
          font-size: 15px
          margin: 11px 25px
          font-family: 'Anton', sans-serif !important
          letter-spacing: 1px
      .tab-content-custom
        padding: 15px 25px 25px 25px
        background: white
        color: #737373
        margin-bottom: 42px
    .checkin
      float: left
      width: 272px
      margin: 0px 8px
      label.title
        width: 130px

      .checkin-date
        width: 116px
        float: left
        padding: 0px
        border: 1px solid lightgrey

        input
          width: 100%
      .checkin-hour
        float: left
        width: 156px
        padding: 0px

        label
          float: left
          margin: 10px
          &.at
            font-weight: 100

        button
          font-weight: bold
          margin: 8px 0 0 0
          font-size: 22px
          background-color: white
          color: #1c3f95
          padding: 0px
          text-align: center
          float: left
          border: 1px solid lightgrey
          display: block
          width: 24px
          height: 24px
          line-height: 24px
          border-radius: 50%
          text-decoration: none

          &:focus
            outline: 0

          span
            position: relative
            top: -2px

            &.minus
              top: -3px

        .hour
          margin: 3px 5px 0px 5px
          font-size: 23px
          float: left

    .checkout-hour
      float: left
      width: 190px
      padding: 0px
      margin: 0px 8px

      label
        font-weight: 100
        float: left
        margin: 10px 2px 0px 2px

        &.title-checkout
          font-weight: bold
          float: none
          display: block
          margin: 0px 0px 3px 0px
        &.hour
          font-weight: bold

      .hour
        float: left
        margin: 3px 5px 0px 5px
        font-size: 23px
        label
          font-weight: bold

    .minus-number-of-people
      margin-left: -2px
    .plus-number-of-people
      margin-left: 0
    .people
      float: left
      width: 78px
      padding: 0px
      margin: 0px 8px

      label
        float: left
        margin: 10px

        &.title-people
          margin: 0px 0px 5px 3px

      button
        font-weight: bold
        margin: 8px 0 0 -2px
        font-size: 22px
        background-color: white
        color: #1c3f95
        padding: 0px
        text-align: center
        float: left
        border: 1px solid lightgrey
        display: block
        width: 24px
        height: 24px
        line-height: 24px
        border-radius: 50%
        text-decoration: none

        &:focus
          outline: 0

        span
          position: relative
          top: -2px

          &.minus
            top: -3px
      .hour
        label
          margin: 6px 0px 0px 0px
          font-size: 20px
          float: left

    .address
      display: inline-block
      float: left
      padding: 0px
      margin: 0px 0px 0px 8px

      input
        width: 100%

    .div-button-search
      width: 180px


    h1
      color: #2a3127
      font-weight: 300
      font-size: 30px
      letter-spacing: 2px
      margin-top: 0px
      margin-bottom: 15px

    .adress-input
      input
        background: #333333
        font-weight: 300
        font-size: 13px
        height: 42px

    .js-checkin-time
      padding: 2px 13px 0px 13px !important

    input, select
      -webkit-appearance: none
      -moz-appearance: none
      -o-appearance: none
      background: white
      color: black
      padding: 2px 13px 0px 13px
      font-size: 13px
      font-weight: 300
      letter-spacing: 1px
      border: none
      height: 40px
      border-radius: 5px
      -moz-box-shadow:    none
      -webkit-box-shadow: none
      box-shadow:         none

    select
      padding: 2px 34px 0px 13px
      background-image: image-url('arrow-down.png')
      background-position: center right
      background-repeat: no-repeat

    .number-of-people-input-size
      width: 40%
      padding-left: 20px
    .up
      margin-bottom: 7px

    .display-table-cell
      vertical-align: bottom

    .checkin
      .col-xs-6
        &:first-child
          padding-right: 8px

        &:last-child
          padding-left: 8px

      input
        width: 100%
        padding-right: 5px
      select
        width: 100%

    .pack-size
      width: 310px
      a.btn
        padding: 10px 10px 10px 10px

        &.selected
          background: rgba(0, 0, 0, 0.25)
          color: white

        &:hover
          background: dark-gray

    .pack-size.btn-group
      display: inline-block

      span.clock
        border-right: 1px solid #888
        cursor: default
        display: inline-block
        margin-bottom: 0
        padding: 9px 17px 9px 12px
        border-radius: 5px
        background: #666666
        border-bottom-right-radius: 0
        border-top-right-radius: 0
        float: left

        img
          width: 26px
          height: 24px

      a.btn
        background: #666666
        padding: 10px 31px
        color: #cccccc
        margin: 0px
        &.rooms
          padding: 10px 31px
        &.meeting-rooms
          padding: 10px 10.8px
        &.event-rooms
          padding: 10px 46px


    .pack-size-clock
      display: block
      margin-left: 5px

      .pack-size-text
        letter-spacing: 1px
        font-size: 14px
        padding-top: 12px
        line-height: 10px

    .search-button.btn, .search-button.btn.input
      margin: 0 auto
      margin-top: -5px
      font-weight: 400
      height: 45px
      font-size: 21px
      letter-spacing: 3px
      padding: 9px 16px
      color: #fff
      background: $success-button

    .tooltip-toggler
      display: inline-block
      margin-top: 20px

      .search-button.btn, .search-button.btn.input
        margin: 0 auto

        .tooltip.fade.in
          width: 210px
          top: 18px

.browserFirefox.public-affiliate-layout
  .search-box
    h1
      margin-bottom: 11px

    select
      padding: 10px 34px 0px 13px