@media (max-width: 768px)
  .public-affiliate-home-controller.how-it-works-action
    .with-padding
      padding: 10px
      h1.page-title
        font-size: 22px
        line-height: 22px
        margin: 0
        letter-spacing: 2px
        text-align: center
      .service-box
        margin-bottom: 30px
        width: 100%
        border-bottom: 1px solid rgb(236, 236, 236)
        h2
          font-size: 16px
          letter-spacing: 1px
        .image
          min-height: 70px
          img
            width: 140px
          .clock-image
            width: 70px
          .price-image
            width: 40px
        p
          text-align: center
          font-size: 14px
          margin-bottom: 30px
