.container-footer
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-3
      .logo-footer
        img alt=("logo-footer-sao-jorge.png") src="/assets/logo-footer-sao-jorge.png" /

    .col-xs-12.col-sm-12.col-md-4.col-lg-3
      .info
        =t('views.affiliates.saojorge.address')
        br/
        =t('views.affiliates.saojorge.cep')
        br/
        =t('views.affiliates.saojorge.tel')
        br/
        a.send-email href="mailto:info@agenciasaojorge.com.br" 
          | info@agenciasaojorge.com.br
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
      .links
        ul
          li
            a target="_blank" href="http://www.pousadasaojorge.com.br/passeios"  =t('views.affiliates.saojorge.tourism_agency')
          li
            a target="_blank" href="http://www.pousadasaojorge.com.br/passeios"  =t('views.affiliates.saojorge.tourism_bonito')
          li
            a target="_blank" href="http://www.pousadasaojorge.com.br/hospedagem"  =t('views.affiliates.saojorge.accommodation')
          li
            a target="_blank" href="http://www.pousadasaojorge.com.br/new_reserva"  =t('views.affiliates.saojorge.booking')
          li
            a target="_blank" href="http://www.pousadasaojorge.com.br/pacotes"  =t('views.affiliates.saojorge.packages')
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
      .links
        ul
          li
            a target="_blank" href="http://www.pousadasaojorge.com.br/contato#consulta_express"  FAQ
          li
            a target="_blank" href="http://www.pousadasaojorge.com.br/contato#como_chegar"  =t('views.affiliates.saojorge.how_to_get')
          li
            a target="_blank" href="http://www.pousadasaojorge.com.br/contato#consulta_express"  =t('views.affiliates.saojorge.contact')
    .col-xs-12.col-md-12
      .botline
    .col-xs-12.col-md-12
      .copyright
        =t('views.affiliates.saojorge.copyright')
